
<strong>Take the ASVAB:</strong>&nbsp;The ASVAB is an aptitude test that helps predict future academic
and occupational success. It&rsquo;s available to high schools at no cost. It is a graduation option in
many states.&nbsp;

<div data-type="section-break"><hr /></div>

<strong>Join a Post-Test Interpretation:</strong>&nbsp;This guided session includes an ASVAB score
								explanation, an interest inventory, and a chance to discover many ways to enter potentially satisfying
								career fields.

<div data-type="section-break"><hr /></div>

<strong>Use the Career Planning Tools Together:</strong>&nbsp;Help your child make post-secondary plans
								that work for your family.

<div data-type="section-break"><hr /></div>