You can save time and money with our easy-to-use planning tools. The ASVAB
									Career Exploration Program (CEP) can help you and your high schooler make an action plan to
									gain entry into their career field of choice via college, work-based learning, and/or the
									Military. Learn more, &nbsp;<a href="https://www.asvabprogram.com/parents">here</a>.

<div data-type="section-break"><hr /></div>

After taking the ASVAB, your child will receive an access code they can use to create an
									account. This unlocks the career exploration tools you can use together to identify careers
									they are best suited for and explore the various paths they can take after graduation.
									Create your own account and see what your student sees using access code: PARENT. Then, use
									these tutorials as your guide.

<div data-type="section-break"><hr /></div>