<section id="content-wrap">
  <div class="row">
    <div class="small-12 columns show-for-small-only">
      <div class="left-sub-nav">
        <ul class="menu vertical" id="steps">
          <li>
            <h3 id="innerTitle">The ASVAB CEP</h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <section id="main-content" role="main">
    <div class="row column">
      <h1 class="program-title">Empower Your Child to Make Informed Career Decisions</h1>
    </div>
  </section>
</section>
<section id="components-wrap">
  <div class="row">
    <div class="small-7 columns">
      <ol id="three-components">
        <li><strong>Take the ASVAB:</strong>&nbsp;The ASVAB is an aptitude test that helps predict future academic
          and occupational success. It&rsquo;s available to high schools at no cost. It is a graduation option in
          many states.&nbsp;</li>
        <li><strong>Join a Post-Test Interpretation:</strong>&nbsp;This guided session includes an ASVAB score
          explanation, an interest inventory, and a chance to discover many ways to enter potentially satisfying
          career fields.</li>
        <li><strong>Use the Career Planning Tools Together:</strong>&nbsp;Help your child make post-secondary plans
          that work for your family.</li>
      </ol>
    </div>
    <div class="small-4 columns" id="hexagons"><img src="assets/images/hexagons.png" /><img class="show-for-large" id="parent"
        src="assets/images/parent.png" /></div>
  </div>
</section>
<section class="section-overview bring_section bg-green">
  <div class="row">
    <div class="col-sm-12 text-center"><a href="asvab-cep-at-your-school">Bring the ASVAB CEP to Your School <em
          class="fa fa-angle-right"></em></a>
    </div>
  </div>
</section>
<div class="sub-nav-wrap" id="parents" style="background-color:#ffffff;">
  <div id="guides" style="position:relative;top:30px;">
    <div class="row column">
      <p>ASVAB CEP is a free career planning program designed for students in grades 10-12, and first and second year
        post-secondary. Participation is voluntary. Your child can benefit from this unique opportunity to explore
        personal potential and the world of work at no cost and no commitment.</p>
      <p>ASVAB CEP gives your child the confidence to map out a post-secondary plan that aligns with their individual
        skills and interests.</p>
      <p>&nbsp;</p>
    </div>
    <div class="row">
      <div class="medium-4 columns tutorial"><a
          class="resource-title" href="media-center-article/{{filter(mediaCenterList, {positionId: 16}, 'id')}}">{{filter(mediaCenterList, {positionId: 16}, 'title')}}</a> <a
          href="media-center-article/{{filter(mediaCenterList, {positionId: 16}, 'id')}}" *ngIf="filter(mediaCenterList, {positionId: 16}, 'typeId') != 1"><img src="{{filter(mediaCenterList, {positionId: 16}, 'thumbnailUrl')}}" /></a> <a
          (click)="showVideoDialog(filter(mediaCenterList, {positionId: 16}, 'videoImgUrl'))" *ngIf="filter(mediaCenterList, {positionId: 16}, 'typeId') == 1"><span class="image-wrapper"><img
              src="{{filter(mediaCenterList, {positionId: 16}, 'thumbnailUrl')}}" style="position:relative;" /><span id="play-icon"></span></span></a>
      </div>
      <div class="medium-4 columns tutorial"><a
        class="resource-title" href="media-center-article/{{filter(mediaCenterList, {positionId: 17}, 'id')}}">{{filter(mediaCenterList, {positionId: 17}, 'title')}}</a> <a
        href="media-center-article/{{filter(mediaCenterList, {positionId: 17}, 'id')}}" *ngIf="filter(mediaCenterList, {positionId: 17}, 'typeId') != 1"><img src="{{filter(mediaCenterList, {positionId: 17}, 'thumbnailUrl')}}" /></a> <a
        (click)="showVideoDialog(filter(mediaCenterList, {positionId: 17}, 'videoImgUrl'))" *ngIf="filter(mediaCenterList, {positionId: 17}, 'typeId') == 1"><span class="image-wrapper"><img
            src="{{filter(mediaCenterList, {positionId: 17}, 'thumbnailUrl')}}" style="position:relative;" /><span id="play-icon"></span></span></a>
      </div>
      <div class="medium-4 columns tutorial"><a
        class="resource-title" href="media-center-article/{{filter(mediaCenterList, {positionId: 18}, 'id')}}">{{filter(mediaCenterList, {positionId: 18}, 'title')}}</a> <a
        href="media-center-article/{{filter(mediaCenterList, {positionId: 18}, 'id')}}" *ngIf="filter(mediaCenterList, {positionId: 18}, 'typeId') != 1"><img src="{{filter(mediaCenterList, {positionId: 18}, 'thumbnailUrl')}}" /></a> <a
        (click)="showVideoDialog(filter(mediaCenterList, {positionId: 18}, 'videoImgUrl'))" *ngIf="filter(mediaCenterList, {positionId: 18}, 'typeId') == 1"><span class="image-wrapper"><img
            src="{{filter(mediaCenterList, {positionId: 18}, 'thumbnailUrl')}}" style="position:relative;" /><span id="play-icon"></span></span></a>
      </div>
    </div>
    <div class="row">
      <div class="medium-3 medium-pull-9 columns">
        <div class="left-sub-nav show-for-small-only">
          <ul class="menu vertical">
            <li>
              <h3>MORE PARENT INFORMATION</h3>
            </li>
            <li><a href="parents-test">ASVAB Test <em class="fa fa-angle-right"></em></a></li>
            <li><a href="parents-post-test">Post-Test Activities <em class="fa fa-angle-right"></em></a></li>
            <li><a href="parents-information">How You Can Help <em class="fa fa-angle-right"></em></a></li>
            <li><a href="general-resources">All Resources <em class="fa fa-angle-right"></em></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>