<section id="content-wrap" class="parent-test-content">
    <div class="row">
        <div class="small-12 columns show-for-small-only">
            <div class="left-sub-nav">
                <ul class="menu vertical" id="steps">
                    <li>
                        <h3>ASVAB TEST</h3>
                    </li>
                </ul>
            </div>
        </div>
        <section class="medium-9 medium-push-3 columns" id="main-content" role="main">
            <h1 class="job-title">The ASVAB Test</h1>
            <p>The ASVAB measures developed abilities and helps predict future academic and occupational
                success.</p>
            <p>Your child doesn't have to go through any lengthy preparation to take the ASVAB. As with
                other tests, how much they have learned will probably make the most difference in their
                results.</p>
            <p>Find the order and content of the ASVAB subtests and sample test items, below. <a href="student">More
                    test taking strategies for your child.</a></p>
            <mat-tab-group class="tabbed" id="asvab-test">
                <mat-tab label="Paper and Pencil" index="0">
                    <p>The paper and pencil (P&amp;P ASVAB) is a traditional test,
                        which means that everyone takes the same set of questions at the
                        same pace. This version consists of eight subtests (a total of 200
                        items) and takes about three hours to complete.</p>
                    <div class="small-12 columns text-center"><a class="button"
                            (click)="showSampleTestModal(); trackSampleTestClick('#ASVAB_PP_SAMPLE_TEST_ITEMS_VIEWED');"
                            style="width:200px;">View sample test
                            questions </a>
                    </div>
                    <h4>Subtest areas:</h4>
                    <hr />
                    <div class="row">
                        <div class="small-4 columns">
                            <p><strong>General Science</strong>
                            </p>
                        </div>
                        <div class="small-8 columns">
                            <p>A 25-item test measuring knowledge of life science, earth
                                and space science, and physical science</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-4 columns">
                            <p><strong>Arithmetic Reasoning</strong>
                            </p>
                        </div>
                        <div class="small-8 columns">
                            <p>A 30-item test measuring ability to solve basic arithmetic
                                word problems</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-4 columns">
                            <p><strong>Word Knowledge</strong>
                            </p>
                        </div>
                        <div class="small-8 columns">
                            <p>A 35-item test measuring ability to understand the meaning
                                of words through synonyms</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-4 columns">
                            <p><strong>Paragraph Comprehension</strong>
                            </p>
                        </div>
                        <div class="small-8 columns">
                            <p>A 15-item test measuring ability to obtain information from
                                written material</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-4 columns">
                            <p><strong>Mathematics Knowledge</strong>
                            </p>
                        </div>
                        <div class="small-8 columns">
                            <p>A 25-item test measuring knowledge of mathematical concepts
                                and applications</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-4 columns">
                            <p><strong>Electronics Information</strong>
                            </p>
                        </div>
                        <div class="small-8 columns">
                            <p>A 20-item test measuring knowledge of electrical current,
                                circuits, devices, and electronic systems</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-4 columns">
                            <p><strong>Auto and Shop Information</strong>
                            </p>
                        </div>
                        <div class="small-8 columns">
                            <p>An 25-item test measuring knowledge of wood and metal shop
                                practices</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-4 columns">
                            <p><strong>Mechanical Comprehension</strong>
                            </p>
                        </div>
                        <div class="small-8 columns">
                            <p>A 25-item test measuring knowledge of the principles of
                                mechanical devices, structural support, and properties of
                                materials</p>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="small-12 columns text-center"><a class="button" href="{{documents}}ASR_Poster.pdf"
                                (click)="trackClick('ASR_Poster.pdf');" style="width:200px;"
                                target="_blank">View sample ASVAB Summary
                                Results sheet </a>
                        </div>
                    </div>
                  </mat-tab>
                  <mat-tab label="Computer Adaptive" index="1">
                    <p>The computer adaptive version of the test, CEP iCAT is
                        tailored to the examinee's ability level. All examinees begin the
                        test with an item of average difficulty. If the examinee answers
                        the first item correctly, the computer presents a harder item for
                        question two. If the examinee answers item two incorrectly, the
                        computer presents an easier item for question three. To summarize,
                        CEP iCAT presents the best item for the individual. The best item
                        is that which provides the most information about the examinee's
                        ability level.</p>
                    <p>The CEP iCAT consists of nine subtests, a total of 145 items.
                        The CEP iCAT is self-paced and generally takes about 1.5 hours to
                        complete. Because CEP iCAT tests are catered to each individual,
                        extra time is allotted for each subtest.</p>
                    <div class="row">
                        <div class="small-12 columns text-center"><a class="button"
                                (click)="showSampleIcatTestModal(); trackSampleTestClick('#ASVAB_CA_SAMPLE_TEST_ITEMS_VIEWED');"
                                style="width:200px;">View sample
                                test questions </a>
                        </div>
                    </div>
                    <h4>Subtest areas:</h4>
                    <hr />
                    <div class="row">
                        <div class="small-4 columns">
                            <p><strong>General Science</strong>
                            </p>
                        </div>
                        <div class="small-8 columns">
                            <p>A 16-item test measuring knowledge of life science, earth
                                and space science, and physical science</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-4 columns">
                            <p><strong>Arithmetic Reasoning</strong>
                            </p>
                        </div>
                        <div class="small-8 columns">
                            <p>A 16-item test measuring ability to solve basic arithmetic
                                word problems</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-4 columns">
                            <p><strong>Word Knowledge</strong>
                            </p>
                        </div>
                        <div class="small-8 columns">
                            <p>A 16-item test measuring ability to understand the meaning
                                of words through synonyms</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-4 columns">
                            <p><strong>Paragraph Comprehension</strong>
                            </p>
                        </div>
                        <div class="small-8 columns">
                            <p>A 11-item test measuring ability to obtain information from
                                written material</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-4 columns">
                            <p><strong>Mathematics Knowledge</strong>
                            </p>
                        </div>
                        <div class="small-8 columns">
                            <p>A 16-item test measuring knowledge of mathematical concepts
                                and applications</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-4 columns">
                            <p><strong>Electronics Information</strong>
                            </p>
                        </div>
                        <div class="small-8 columns">
                            <p>A 16-item test measuring knowledge of electrical current,
                                circuits, devices, and electronic systems</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-4 columns">
                            <p><strong>Auto Information</strong>
                            </p>
                        </div>
                        <div class="small-8 columns">
                            <p>An 11-item test measuring knowledge of automotive
                                maintenance and repair</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-4 columns">
                            <p><strong>Shop Information</strong>
                            </p>
                        </div>
                        <div class="small-8 columns">
                            <p>An 11-item test measuring knowledge of wood and metal shop
                                practices</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-4 columns">
                            <p><strong>Mechanical Comprehension</strong>
                            </p>
                        </div>
                        <div class="small-8 columns">
                            <p>A 16-item test measuring knowledge of the principles of
                                mechanical devices, structural support, and properties of
                                materials<strong></strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-8 columns">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="small-12 columns text-center"><a class="button" href="{{documents}}ASR_Poster.pdf"
                                (click)="trackClick('ASR_Poster.pdf');" style="width:200px;"
                                target="_blank">View sample CEP ICAT Summary
                                Results sheet </a>
                        </div>
                    </div>
                  </mat-tab>
              </mat-tab-group>
  
            <p><br /><strong>Know Your Release Option</strong><br />Each school participating in ASVAB
                CEP selects one of eight available options regarding the information Department of Defense
                releases to the Military Services. <a href="general-help#release">Click here to learn more about score
                    release options</a>.
            </p>
            <p><br /><strong>Background</strong><br />The Department of
                Defense introduced the ASVAB (which stands for Armed Services
                Vocational Aptitude Battery) in 1968. It was originally designed to
                predict future academic and occupational success in military
                occupations. However, extensive research indicates the ASVAB
                assesses academic ability and predicts success in a wide variety of
                occupations.
            </p>
            <p>The ASVAB CEP is used for career exploration and is given to high
                schools and early post-secondary students. An enlistment version of
                the ASVAB is primarily given at Military Entrance Processing
                Stations (MEPS), and is used for enlistment purposes only. More
                information about ASVAB CEP is available at the <a href="http://official-asvab.com/career_coun.htm"
                    target="_blank">Official Site
                    of the ASVAB.</a>
            </p>ASVAB CEP results are reported to students and counselors on the
            ASVAB Summary Results sheet. Learn more about <a href="media-center-article/28">ASVAB scores here.</a><br />
        </section>
        <div class="medium-3 medium-pull-9 columns">
            <div id="did-you-know">
                <p><strong class="caps">Did You Know?</strong>
                </p>
                <p>Participation in the ASVAB CEP is voluntary. If your teen
                    participates they are not obligated to the military in any way.</p>
                <p>ASVAB CEP is designed to help young people explore their
                    options and make a plan.</p>
            </div>
            <div class="left-sub-nav show-for-small-only">
                <ul class="menu vertical">
                    <li>
                        <h3>MORE PARENT INFORMATION</h3>
                    </li>
                    <li><a href="parents">The ASVAB CEP <em class="fa fa-angle-right"></em></a></li>
                    <li><a href="parents-post-test">Post-Test Activities <em class="fa fa-angle-right"></em></a></li>
                    <li><a href="parents-information">How You Can Help <em class="fa fa-angle-right"></em></a></li>
                    <li><a href="general-resources">All Resources <em class="fa fa-angle-right"></em></a></li>
                </ul>
            </div>
        </div>
    </div>
  </section>