<div class="occufind student" id="parent">
	<app-header></app-header>

	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="large-3 large-push-9 columns">
				<h1 class="caps">Parents</h1>
			</div>
			<div class="large-9 large-pull-3 columns">
				<ul id="sub-nav" class="menu">
					<li id="parents" [ngClass]="{'active':parents}">
						<a (click)="redirect('parents')">THE ASVAB CEP</a>
					</li>
					<li id="parents-test" [ngClass]="{'active':parentsTest}">
						<a (click)="redirect('parents-test')">ASVAB Test</a>
					</li>
					<li id="parents-post-test" [ngClass]="{'active':parentsPostTest}">
						<a (click)="redirect('parents-post-test')">Post-Test Activities</a>
					</li>
					<li id="parents-information" [ngClass]="{'active':parentsInformation}">
						<a (click)="redirect('parents-information')">How you can Help</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<div *ngIf="pageHtml !== ''">

		<div *ngIf="showParents">
			<section id="content-wrap">
				<div class="row">
					<div class="small-12 columns show-for-small-only">
						<div class="left-sub-nav">
							<ul class="menu vertical" id="steps">
								<li>
									<h3 id="innerTitle">The ASVAB CEP</h3>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<section id="main-content" role="main">
					<div class="row column">
						<h1 class="program-title">Empower Your Child to Make Informed Career Decisions</h1>
					</div>
				</section>
			</section>
			<section id="components-wrap">
				<div class="row">
					<div class="small-7 columns">
						<ol id="three-components">
							<li [innerHTML]="pageHtml[0]"></li>
							<li [innerHTML]="pageHtml[1]"></li>
							<li [innerHTML]="pageHtml[2]"></li>
						</ol>
					</div>
					<div class="small-4 columns" id="hexagons"><img src="assets/images/hexagons.png" /><img class="show-for-large" id="parent"
							src="assets/images/parent.png" /></div>
				</div>
			</section>
			<section class="section-overview bring_section bg-green">
				<div class="row">
					<div class="col-sm-12 text-center"><a href="asvab-cep-at-your-school">Bring the ASVAB CEP to Your School <em
								class="fa fa-angle-right"></em></a>
					</div>
				</div>
			</section>
			<div class="sub-nav-wrap" id="parents" style="background-color:#ffffff;">
				<div id="guides">
					<div class="row column">
						<p>ASVAB CEP is a free career planning program designed for students in grades 10-12, and first and second year
							post-secondary. Participation is voluntary. Your child can benefit from this unique opportunity to explore
							personal potential and the world of work at no cost and no commitment.</p>
						<p>ASVAB CEP gives your child the confidence to map out a post-secondary plan that aligns with their individual
							skills and interests.</p>
						<p>&nbsp;</p>
					</div>
					<div class="row">
						<div class="medium-4 columns tutorial" *ngFor="let m of mediaCenterList | filter : 'positionId' : 16 | filter : 'categoryId' : 6"><a
								class="resource-title" href="media-center-article/{{m.id}}">{{m.title}}</a> <a
								href="media-center-article/{{m.id}}" *ngIf="m.typeId != 1"><img src="{{m.thumbnailUrl}}" /></a> <a
								(click)="_utility.showVideoDialog(m.videoImgUrl)" *ngIf="m.typeId == 1"><span class="image-wrapper"><img
										src="{{m.thumbnailUrl}}" style="position:relative;" /><span id="play-icon"></span></span></a>
						</div>
						<div class="medium-4 columns tutorial" *ngFor="let m of mediaCenterList | filter : 'positionId' : 17 | filter : 'categoryId' : 6"><a
							class="resource-title" href="media-center-article/{{m.id}}">{{m.title}}</a> <a
							href="media-center-article/{{m.id}}" *ngIf="m.typeId != 1"><img src="{{m.thumbnailUrl}}" /></a> <a
							(click)="_utility.showVideoDialog(m.videoImgUrl)" *ngIf="m.typeId == 1"><span class="image-wrapper"><img
									src="{{m.thumbnailUrl}}" style="position:relative;" /><span id="play-icon"></span></span></a>
						</div>
						<div class="medium-4 columns tutorial" *ngFor="let m of mediaCenterList | filter : 'positionId' : 18 | filter : 'categoryId' : 6"><a
							class="resource-title" href="media-center-article/{{m.id}}">{{m.title}}</a> <a
							href="media-center-article/{{m.id}}" *ngIf="m.typeId != 1"><img src="{{m.thumbnailUrl}}" /></a> <a
							(click)="_utility.showVideoDialog(m.videoImgUrl)" *ngIf="m.typeId == 1"><span class="image-wrapper"><img
									src="{{m.thumbnailUrl}}" style="position:relative;" /><span id="play-icon"></span></span></a>
						</div>
					</div>
					<div class="row">
						<div class="medium-3 medium-pull-9 columns">
							<div class="left-sub-nav show-for-small-only">
								<ul class="menu vertical">
									<li>
										<h3>MORE PARENT INFORMATION</h3>
									</li>
									<li><a href="parents-test">ASVAB Test <em class="fa fa-angle-right"></em></a></li>
									<li><a href="parents-post-test">Post-Test Activities <em class="fa fa-angle-right"></em></a></li>
									<li><a href="parents-information">How You Can Help <em class="fa fa-angle-right"></em></a></li>
									<li><a href="general-resources">All Resources <em class="fa fa-angle-right"></em></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Parents information -->
		<section *ngIf="showParentsInformation" id="content-wrap">
			<section id="main-content" role="main" style="margin:0;">
				<section class="section-overview get_there_sec">
					<div class="section-description">
						<div class="row">
							<div class="columns medium-12">
								<h1 class="program-title">Get Your kid Ready for Life After High School</h1>
							</div>
						</div>
						<div class="row">
							<div class="columns medium-8">
								<p [innerHTML]="pageHtml[0]" class="mb-25"></p>
								<p class="mb-10"><strong>Use the ASVAB CEP Together</strong></p>
								<p [innerHTML]="pageHtml[1]"></p><!-- <div class="tutorial_sec"> -->

								<h5>Tutorials</h5>
								<ngx-slick-carousel class="carouselTutorial" #slickModal="slick-carousel" [config]="slideConfig"
									(init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
									(beforeChange)="beforeChange($event)">
									<div ngxSlickItem class="tutorials_item"><img alt="Video" src="assets/images/Tut_test_1.jpg" /><a
											(click)="_utility.showVideoDialog('https://www.youtube.com/embed/RM-g73droL4')">Understanding
											Your ASVAB Results Tutorial
										</a>
									</div>
									<div ngxSlickItem class="tutorials_item"><img alt="Video" src="assets/images/Tut_test_2.jpg" /><a
											(click)="_utility.showVideoDialog('https://www.youtube.com/embed/pddDxvfY2gM')">Taking
											the FYI Tutorial
										</a>
									</div>
									<div ngxSlickItem class="tutorials_item"><img alt="Video" src="assets/images/Tut_test_3.jpg" /><a
											(click)="_utility.showVideoDialog('https://www.youtube.com/embed/6yNpUTuksa4')">Exploring
											the OCCU-Find Tutorial
										</a>
									</div>
									<div ngxSlickItem class="tutorials_item"><img alt="Video"
											src="assets/images/portfolio_tut_Thumb.jpg" /><a
											(click)="_utility.showVideoDialog('https://www.youtube.com/embed/fiy5rMcHdhM')">Creating
											your Resume
										</a>
									</div>
								</ngx-slick-carousel>
							</div>
							<div class="columns medium-4"><img alt="How to get there images" class="exploration_img"
									src="assets/images/how_to_get_there.png" /></div>
						</div>
					</div>
					<div class="row">
						<div class="columns medium-12">
							<p class="mb-10"><strong>It's Not Just A Military Test</strong></p>
							<p class="mw-100">The ASVAB is an aptitude test. It assesses strengths and helps predict success in
								a variety of careers, not only military occupations. Your child has no obligation to the
								military as a result of taking the ASVAB and participation is always voluntary. Each
								participating school selects one of eight <a
									href="https://www.asvabprogram.com/general-help#release">score release options</a> regarding
								the information the Department of Defense releases to the Military Services. Contact your school
								counselor to find out which option the school selected.</p>
						</div>
					</div>
				</section>

				<section class="parent-tips-help">
					<div class="row">
						<div class="columns medium-12">
							<hr />
						</div>
						<div class="columns medium-12">
							<h4>Tips to Help Your High Schooler Succeed:</h4>
						</div>
						<div class="columns medium-6">
							<ul>
								<li>Complete the <a href="parents-post-test">post-test activities</a> together and talk about the
									results. Revisit these activities as time allows.</li>
								<li>Share your own career planning experience and listen to what your teen has to say about his
									or her desires for the future.</li>
								<li>Encourage your teen to explore several occupations through hands-on learning opportunities such
									as shadowing someone employed in the occupation(s). Discuss the pros and cons of different
									options.</li>
							</ul>
						</div>
						<div class="columns medium-6">
							<ul>
								<li>College bound? Save time and money by identifying realistic career goals to narrow focus when
									choosing a post-secondary institution and major.</li>
								<li>Work bound? Discover <a href="media-center-article/98">apprenticeships</a> and needed
									credentials in the OCCU-Find. Help your child start earning money while gaining on-the-job
									training in their preferred career field after graduation.</li>
								<li>Military bound? Help your child <a href="https://www.careersinthemilitary.com/parent"
										target="_blank">understand the various military options</a> and prepare for conversations
									with recruiters.</li>
							</ul>
						</div>
					</div>
				</section>

				<section class="slider-section" style="background-color:#f4f4f4;padding:15px 0 30px 0;">
					<div class="row">
						<div class="columns medium-12">
							<div *ngFor="let topic of resourceTopics | filter:'resourceTopicId':1; let index = index">
								<div class="box-row" id="box-row1">
									<div class="slider-title" style="background-color:transparent;">
										<div class="row">
											<div class="columns medium-12">
												<h5 style="color:#c4c4c4;font-weight:500;font-size:16px;">Resources</h5>
											</div>
										</div>
									</div>
									<ngx-slick-carousel class="carouselResources{{index}}" #slickModal="slick-carousel"
										[config]="slideConfigResources" (init)="slickInit($event)" (breakpoint)="breakpoint($event)"
										(afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)" style="margin-bottom:0;">
										<div ngxSlickItem class="tutorials_item" *ngFor="let resource of topic.resources"
											style="background:#fff;">
											<img src="{{documents}}thumbnails/{{resource.resourceThumbnailUri}}" />
											<div *ngIf="resource.resourceTypeId === resourceType.Document">
												<div *ngIf="resource.spanishResourceUri !== null">
													<h4>{{resource.resourceTitle}}</h4>
													<ul>
														<li><a href="{{documents}}{{resource.resourceUri}}"
																(click)="trackClick(resource.resourceUri)" ng-controller="GA"
																target="_blank">English</a></li>
														<li><a href="{{documents}}{{resource.spanishResourceUri}}"
																(click)="trackClick(resource.spanishResourceUri)" ng-controller="GA"
																target="_blank">Spanish</a></li>
													</ul>
												</div>
												<div *ngIf="resource.spanishResourceUri === null">
													<h4 class="title-blue"><a href="{{documents}}{{resource.resourceUri}}"
															(click)="trackClick(resource.resourceUri)" ng-controller="GA"
															target="_blank">{{resource.resourceTitle}}</a>
													</h4>
												</div>
											</div>
											<div *ngIf="resource.resourceTypeId !== resourceType.Document">
												<h4 class="title-blue"><a (click)="showVideoModal(resource.resourceUri)"
														*ngIf="resource.resourceTypeId == resourceType.PopupVideo">{{resource.resourceTitle}}</a>
													<a href="{{resource.resourceUri}}" *ngIf="resource.resourceTypeId != resourceType.PopupVideo"
														target="_blank">{{resource.resourceTitle}}</a>
												</h4>
											</div>
										</div>
									</ngx-slick-carousel>
								</div>
							</div>
						</div>
					</div><br />
					<div class="row">
						<div class="col-sm-12 text-center"><a class="button" href="general-resources">View Resources</a>
						</div>
					</div>
				</section>

				<section class="section-overview testimonial_sec">
					<div class="row">
						<div class="columns medium-12">
							<div class="section-description">
								<h2 class="section-title text-uppercase">Testimonials</h2>
							</div>
							<ngx-slick-carousel class="carouselResourcesTestimonials testimonial_wrapper" #slickModal="slick-carousel"
								[config]="slideConfigTestimonials" (init)="slickInit($event)" (breakpoint)="breakpoint($event)"
								(afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
								<div ngxSlickItem class="testimonial_item">
									<div class="testimonial_img_block"><img alt="customer image" src="assets/images/Barry_Kowald.png" />
									</div>
									<div class="testimonial_content">
										<p>"This is a world-class career exploration program that helped my daughter and my
											oldest son with making clear, focused, and data-driven decisions about their career
											pathways that led to declaring a major once and sticking with it. My daughter is now
											a Texas Aggie alumna and special education teacher and cannot imagine doing anything
											else. It perfectly matches her passions and skill set. My oldest son is majoring in
											data science at UTSA, and will have no trouble landing a position upon graduation."
										</p>
										<p><strong>Barry Kowald, Parent, San Antonio TX</strong></p>
									</div>
								</div>
								<div ngxSlickItem class="testimonial_item">
									<div class="testimonial_img_block"><img alt="customer image"
											src="https://dev-media.asvabprogram.com/MEDIA_CENTER/thumbnails/Aziz.jpg" /></div>
									<div class="testimonial_content">
										<p>"It makes me want to inform other people about it because people don't necessarily
											have the best understanding. They might have a general understanding but they don't
											know specifically what they want to do, and if this is helping them find their
											purpose, then I'd definitely want to recommend it to them."</p>
										<p><strong>Aziz, Senior, Los Osos High School, California</strong></p>
									</div>
								</div>
								<div ngxSlickItem class="testimonial_item">
									<div class="testimonial_img_block"><img alt="customer image"
											src="https://dev-media.asvabprogram.com/MEDIA_CENTER/thumbnails/Gonzalez.jpg" />
									</div>
									<div class="testimonial_content">
										<p>"If it's (a skill) I didn't know I had like a secret talent or something ... I'm
											pretty sure it would be applicable to a lot of different things and open up
											different paths that I hadn't even thought of."</p>
										<p><strong>Christopher Gonzalez, Senior, Los Osos High School, California</strong></p>
									</div>
								</div>
							</ngx-slick-carousel>
						</div>
					</div>
				</section>

				<section class="section-overview share_sec">
					<div class="row">
						<div class="columns medium-12 text-center">
							<h2><strong>Share your ASVAB CEP experience with us @asvabcep</strong></h2>
							<ul class="header-social">
								<li><a href="https://twitter.com/asvabcep" target="_blank">
										<em class="fab fa-twitter"></em></a>
								</li>
								<li><a href="https://www.youtube.com/channel/UC2NJ3deMrUUFgTPC1EST52A" target="_blank">
										<em class="fab fa-youtube"></em></a></li>
								<li><a href="https://www.facebook.com/asvabcep/" target="_blank">
									<em class="fab fa-facebook-f"></em></a>
								</li>
								<li><a href="https://www.linkedin.com/company/asvab-cep?trk=top_nav_home" target="_blank">
									<em class="fab fa-linkedin-in"></em></a></li>
								<li><a href="https://www.instagram.com/asvabcep/" target="_blank">
									<em class="fab fa-instagram"></em></a>
								</li>
								<li><a (click)="snapChatModal()">
									<em class="fab fa-snapchat-ghost"></em></a></li>
							</ul>
						</div>
					</div>
				</section>
				<div class="row">
					<div class="columns medium-12">
						<div class="callout secondary"><strong>Are you looking for a way to get through to your
								teen? Put work life in a real-life context.
							</strong><br />
							<p>"For example, ask a student to think about all the time he
								or she has spent in school (K-12). For a student, this seems like
								"forever". Next, ask him or her to multiply that amount of time by
								six and explain that this is the amount of time they will spend in
								their occupation. Remind the student that in school they take
								math, history, English, science, social studies, etc. An
								occupation is like one subject. Think about getting up every day
								for the next 40 years and going to work for 8, 10 or 12 hours per
								day taking "one subject". It better be a subject that he or she
								enjoys."
							</p><br />
							<p><a href="http://www.ncda.org/aws/NCDA/pt/sd/news_article/5344/_PARENT/layout_details_cc/false"
									target="_blank">Parent Involvement in Student Career Planning</a>
								<br />By Bob Fisher, 2007
							</p>
						</div>
					</div>
				</div>


			</section>
		</section>

		<section *ngIf="showParentsTest" id="content-wrap" class="parent-test-content">
			<div class="row">
					<div class="small-12 columns show-for-small-only">
							<div class="left-sub-nav">
									<ul class="menu vertical" id="steps">
											<li>
													<h3>ASVAB TEST</h3>
											</li>
									</ul>
							</div>
					</div>
					<section class="medium-9 medium-push-3 columns" id="main-content" role="main">
							<h1 class="job-title">The ASVAB Test</h1>
							<p [innerHTML]="pageHtml[0]"></p>
							<p [innerHTML]="pageHtml[1]"></p>
							<p [innerHTML]="pageHtml[2]"></p>
							<mat-tab-group class="tabbed" id="asvab-test">
									<mat-tab label="Paper and Pencil" index="0">
											<p>The paper and pencil (P&amp;P ASVAB) is a traditional test,
													which means that everyone takes the same set of questions at the
													same pace. This version consists of eight subtests (a total of 200
													items) and takes about three hours to complete.</p>
											<div class="small-12 columns text-center"><a class="button"
															(click)="_utility.showSampleTestModal(); _googleAnalyticsService.trackSampleTestClick('#ASVAB_PP_SAMPLE_TEST_ITEMS_VIEWED');"
															style="width:200px;">View sample test
															questions </a>
											</div>
											<h4>Subtest areas:</h4>
											<hr />
											<div class="row">
													<div class="small-4 columns">
															<p><strong>General Science</strong>
															</p>
													</div>
													<div class="small-8 columns">
															<p>A 25-item test measuring knowledge of life science, earth
																	and space science, and physical science</p>
													</div>
											</div>
											<div class="row">
													<div class="small-4 columns">
															<p><strong>Arithmetic Reasoning</strong>
															</p>
													</div>
													<div class="small-8 columns">
															<p>A 30-item test measuring ability to solve basic arithmetic
																	word problems</p>
													</div>
											</div>
											<div class="row">
													<div class="small-4 columns">
															<p><strong>Word Knowledge</strong>
															</p>
													</div>
													<div class="small-8 columns">
															<p>A 35-item test measuring ability to understand the meaning
																	of words through synonyms</p>
													</div>
											</div>
											<div class="row">
													<div class="small-4 columns">
															<p><strong>Paragraph Comprehension</strong>
															</p>
													</div>
													<div class="small-8 columns">
															<p>A 15-item test measuring ability to obtain information from
																	written material</p>
													</div>
											</div>
											<div class="row">
													<div class="small-4 columns">
															<p><strong>Mathematics Knowledge</strong>
															</p>
													</div>
													<div class="small-8 columns">
															<p>A 25-item test measuring knowledge of mathematical concepts
																	and applications</p>
													</div>
											</div>
											<div class="row">
													<div class="small-4 columns">
															<p><strong>Electronics Information</strong>
															</p>
													</div>
													<div class="small-8 columns">
															<p>A 20-item test measuring knowledge of electrical current,
																	circuits, devices, and electronic systems</p>
													</div>
											</div>
											<div class="row">
													<div class="small-4 columns">
															<p><strong>Auto and Shop Information</strong>
															</p>
													</div>
													<div class="small-8 columns">
															<p>An 25-item test measuring knowledge of wood and metal shop
																	practices</p>
													</div>
											</div>
											<div class="row">
													<div class="small-4 columns">
															<p><strong>Mechanical Comprehension</strong>
															</p>
													</div>
													<div class="small-8 columns">
															<p>A 25-item test measuring knowledge of the principles of
																	mechanical devices, structural support, and properties of
																	materials</p>
													</div>
											</div>
											<hr />
											<div class="row">
													<div class="small-12 columns text-center"><a class="button" href="{{documents}}ASR_Poster.pdf"
																	(click)="trackClick('ASR_Poster.pdf');" style="width:200px;"
																	target="_blank">View sample ASVAB Summary
																	Results sheet </a>
													</div>
											</div>
										</mat-tab>
										<mat-tab label="Computer Adaptive" index="1">
											<p>The computer adaptive version of the test, CEP iCAT is
													tailored to the examinees ability level. All examinees begin the
													test with an item of average difficulty. If the examinee answers
													the first item correctly, the computer presents a harder item for
													question two. If the examinee answers item two incorrectly, the
													computer presents an easier item for question three. To summarize,
													CEP iCAT presents the best item for the individual. The best item
													is that which provides the most information about the examinees
													ability level.</p>
											<p>The CEP iCAT consists of nine subtests, a total of 145 items.
													The CEP iCAT is self-paced and generally takes about 1.5 hours to
													complete. Because CEP iCAT tests are catered to each individual,
													extra time is allotted for each subtest.</p>
											<div class="row">
													<div class="small-12 columns text-center"><a class="button"
																	(click)="_utility.showSampleIcatTestModal(); _googleAnalyticsService.trackSampleTestClick('#ASVAB_CA_SAMPLE_TEST_ITEMS_VIEWED');"
																	style="width:200px;">View sample
																	test questions </a>
													</div>
											</div>
											<h4>Subtest areas:</h4>
											<hr />
											<div class="row">
													<div class="small-4 columns">
															<p><strong>General Science</strong>
															</p>
													</div>
													<div class="small-8 columns">
															<p>A 16-item test measuring knowledge of life science, earth
																	and space science, and physical science</p>
													</div>
											</div>
											<div class="row">
													<div class="small-4 columns">
															<p><strong>Arithmetic Reasoning</strong>
															</p>
													</div>
													<div class="small-8 columns">
															<p>A 16-item test measuring ability to solve basic arithmetic
																	word problems</p>
													</div>
											</div>
											<div class="row">
													<div class="small-4 columns">
															<p><strong>Word Knowledge</strong>
															</p>
													</div>
													<div class="small-8 columns">
															<p>A 16-item test measuring ability to understand the meaning
																	of words through synonyms</p>
													</div>
											</div>
											<div class="row">
													<div class="small-4 columns">
															<p><strong>Paragraph Comprehension</strong>
															</p>
													</div>
													<div class="small-8 columns">
															<p>A 11-item test measuring ability to obtain information from
																	written material</p>
													</div>
											</div>
											<div class="row">
													<div class="small-4 columns">
															<p><strong>Mathematics Knowledge</strong>
															</p>
													</div>
													<div class="small-8 columns">
															<p>A 16-item test measuring knowledge of mathematical concepts
																	and applications</p>
													</div>
											</div>
											<div class="row">
													<div class="small-4 columns">
															<p><strong>Electronics Information</strong>
															</p>
													</div>
													<div class="small-8 columns">
															<p>A 16-item test measuring knowledge of electrical current,
																	circuits, devices, and electronic systems</p>
													</div>
											</div>
											<div class="row">
													<div class="small-4 columns">
															<p><strong>Auto Information</strong>
															</p>
													</div>
													<div class="small-8 columns">
															<p>An 11-item test measuring knowledge of automotive
																	maintenance and repair</p>
													</div>
											</div>
											<div class="row">
													<div class="small-4 columns">
															<p><strong>Shop Information</strong>
															</p>
													</div>
													<div class="small-8 columns">
															<p>An 11-item test measuring knowledge of wood and metal shop
																	practices</p>
													</div>
											</div>
											<div class="row">
													<div class="small-4 columns">
															<p><strong>Mechanical Comprehension</strong>
															</p>
													</div>
													<div class="small-8 columns">
															<p>A 16-item test measuring knowledge of the principles of
																	mechanical devices, structural support, and properties of
																	materials<strong></strong></p>
													</div>
											</div>
											<div class="row">
													<div class="small-8 columns">
															<p>&nbsp;</p>
													</div>
											</div>
											<hr />
											<div class="row">
													<div class="small-12 columns text-center"><a class="button" href="{{documents}}ASR_Poster.pdf"
																	(click)="trackClick('ASR_Poster.pdf');" style="width:200px;"
																	target="_blank">View sample CEP ICAT Summary
																	Results sheet </a>
													</div>
											</div>
										</mat-tab>
								</mat-tab-group>
		
							<p><br /><strong>Know Your Release Option</strong><br />Each school participating in ASVAB
									CEP selects one of eight available options regarding the information Department of Defense
									releases to the Military Services. <a href="general-help#release">Click here to learn more about score
											release options</a>.
							</p>
							<p><br /><strong>Background</strong><br />The Department of
									Defense introduced the ASVAB (which stands for Armed Services
									Vocational Aptitude Battery) in 1968. It was originally designed to
									predict future academic and occupational success in military
									occupations. However, extensive research indicates the ASVAB
									assesses academic ability and predicts success in a wide variety of
									occupations.
							</p>
							<p>The ASVAB CEP is used for career exploration and is given to high
									schools and early post-secondary students. An enlistment version of
									the ASVAB is primarily given at Military Entrance Processing
									Stations (MEPS), and is used for enlistment purposes only. More
									information about ASVAB CEP is available at the <a href="http://official-asvab.com/career_coun.htm"
											target="_blank">Official Site
											of the ASVAB.</a>
							</p>ASVAB CEP results are reported to students and counselors on the
							ASVAB Summary Results sheet. Learn more about <a href="media-center-article/28">ASVAB scores here.</a><br />
					</section>
					<div class="medium-3 medium-pull-9 columns">
							<div id="did-you-know">
									<p><strong class="caps">Did You Know?</strong>
									</p>
									<p>Participation in the ASVAB CEP is voluntary. If your teen
											participates they are not obligated to the military in any way.</p>
									<p>ASVAB CEP is designed to help young people explore their
											options and make a plan.</p>
							</div>
							<div class="left-sub-nav show-for-small-only">
									<ul class="menu vertical">
											<li>
													<h3>MORE PARENT INFORMATION</h3>
											</li>
											<li><a href="parents">The ASVAB CEP <em class="fa fa-angle-right"></em></a></li>
											<li><a href="parents-post-test">Post-Test Activities <em class="fa fa-angle-right"></em></a></li>
											<li><a href="parents-information">How You Can Help <em class="fa fa-angle-right"></em></a></li>
											<li><a href="general-resources">All Resources <em class="fa fa-angle-right"></em></a></li>
									</ul>
							</div>
					</div>
			</div>
		</section>

		<div *ngIf="showParentsPostTest">
			<section class="section-overview exploration_sec">
				<div class="row">
					<div class="columns medium-12">
						<div class="section-description">
							<h1 class="program-title">The ASVAB is One Part of the ASVAB Career Exploration Program</h1>
							<p class="program-subtitle" [innerHTML]="pageHtml[0]"></p>
							<div class="educators-exploration">
								<div class="exploration-details">
									<div class="exploration-details-content">
										<p [innerHTML]="pageHtml[1]"></p><a href="asvab-cep-at-your-school">Schedule Yours</a>
									</div>
								</div>
								<div class="exploration-content">
									<ul class="exploration-items">
										<li>GETTING STARTED<a (click)="_utility.scrollToAnchor('GettingStarted')"></a></li>
										<li>UNDERSTANDING THE ASVAB RESULTS<a (click)="_utility.scrollToAnchor('ASVAB_Result')"></a></li>
										<li>USING ASVAB SCORES<a (click)="_utility.scrollToAnchor('ASVAB_Scores')"></a></li>
										<li>TAKING THE FYI<a (click)="_utility.scrollToAnchor('Taking_FYI')"></a></li>
										<li>EXPLORING<br />CAREERS<a (click)="_utility.scrollToAnchor('ExploringCareers')"></a></li>
										<li>PLANNING FOR<br />THE FUTURE<a (click)="_utility.scrollToAnchor('FuturePlan')"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="section-overview getting_started_sec" id="GettingStarted">
				<div class="row">
					<div class="columns medium-12">
						<div class="section-description">
							<h2 class="section-title">Getting Started</h2>
							<p class="section-description-info mw-100">The ASVAB Summary Results (ASR) sheet includes a unique access code
								each student can use to login to this site and complete the post-test activities. We encourage students to
								create an account. In the likely event they lose their ASR, they can still access these resources.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="columns medium-4">
						<div class="section-description">
							<p class="section-description-info mw-95"><strong>Access code.</strong> Your ASVAB Summary Results sheet
								includes
								an access code you will use to login to this site. </p>
						</div>
					</div>
					<div class="columns medium-8"><img alt="Getting Started" class="hide-for-sm"
							src="assets/images/Getting_started.jpg" /><img alt="Getting Started" class="hide-for-md mx-auto"
							src="assets/images/use_accesss_code_mobile.jpg" /></div>
				</div>
			</section>
			<section class="section-overview ASVAB_result_sec" id="ASVAB_Result">
				<div class="row">
					<div class="columns medium-12">
						<div class="section-description">
							<h2 class="section-title">Understanding the ASVAB Results</h2>
							<p class="section-description-info mw-100">The ASVAB Summary Results sheet reports percentile scores
								(gender-specific and combined), and standard scores (including score bands) for each subtest and the three
								Career Exploration Scores, as well as a score for the Armed Forces Qualification Test (AFQT).</p><img
								alt="Getting Started" class="result_img hide-for-sm" src="assets/images/ASVAB_Results.jpg" /><img
								alt="Getting Started" class="result_img hide-for-md" src="assets/images/mobile_score_image.png" />
							<ol>
								<li>
									<p><strong>Career Exploration Scores.</strong> These composite scores help students understand their verbal,
										math,
										and science/technical skills. These are used exclusively for career exploration purposes.</p>
									<div class="strength_books">
										<p><strong>Your top strength will have the most books.</strong></p>
										<ul>
											<li>
												<div class="strength_img_block"><img alt="Books" src="assets/images/book1.png" /></div><span>Verbal</span>
											</li>
											<li>
												<div class="strength_img_block"><img alt="Books" src="assets/images/book2.png" /></div><span>Math</span>
											</li>
											<li>
												<div class="strength_img_block"><img alt="Books" src="assets/images/book3.png" /></div><span>Science/
													Technology</span>
											</li>
										</ul>
									</div>
								</li>
								<li>
									<p><strong>ASVAB Tests.</strong> A score for each ASVAB subtest. For a description of each subtest, <a
											href="https://www.asvabprogram.com/parents-test">click here</a>.</p>
								</li>
								<li>
									<p><strong>Military Entrance Score/Armed Forces Qualification Test (AFQT).</strong> The AFQT score is what
										the
										Military will use to determine enlistment eligibility. This score is calculated using scores on
										Arithmetic Reasoning, Mathematics Knowledge, Word Knowledge, and Paragraph Comprehension determine your
										AFQT score.</p>
									<p>Note: Students who participate in the ASVAB CEP have no obligation to talk with military recruiters or
										consider a military career. Students interested in joining the Military should discuss this score with a
										recruiter.</p>
								</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
			<section class="section-overview activities_sec activities_video bg-green">
				<div class="row">
					<div class="columns medium-12">
						<div class="activities_inner">
							<div class="activities_text">
								<h4>Video Tutorial:</h4>
								<h2>Understanding ASVAB Test Scores</h2>
							</div>
							<div class="activities_block">
								<a (click)="_utility.showVideoDialog('https://www.youtube.com/embed/RM-g73droL4')">
									<span
										class="image-wrapper"><img src="assets/images/Tut_test_1.jpg" /></span>
								</a>
							</div>
						</div>
					</div>
					<!-- <div aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" style="display:none;"
			tabindex="-1">
			<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body"><iframe allowfullscreen="" frameborder="0" height="315" id="iframeYoutube" src="#"
						width="560"></iframe></div>
				<div class="modal-footer"><button class="button" data-dismiss="modal" type="button">Close</button></div>
			</div>
			</div>
			</div> -->
				</div>
			</section>
			<section class="section-overview ASVAB_scores_sec" id="ASVAB_Scores">
				<div class="row">
					<div class="columns medium-6 small-12">
						<div class="section-description">
							<h2 class="section-title">USING ASVAB SCORES</h2><img alt="" class="hide-for-md mx-auto"
								src="assets/images/Usingskills.jpg" />
							<p class="section-description-info">Students can use their Career Exploration Scores to investigate
								occupations that rely on those skills in the OCCU-Find. Each occupation includes information about the
								importance of verbal, math, and science/technical skills represented on a five-star scale. The ratings show
								the extent to which the daily tasks of a job require verbal, math, and/or science/technical skills. There is
								no direct correlation between Career Exploration Scores and the skill importance ratings. Rather, students
								should consider these ratings a snapshot of the degree to which these skills are used on-the-job. Learn more
								about skill importance ratings <a href="https://www.asvabprogram.com/general-help#skills">here</a>.</p>
							<p class="section-description-info">Students in 11th grade and beyond can use their AFQT scores to talk to a
								military recruiter about enlistment, for up to two years after testing. The AFQT score can qualify them for
								certain jobs in the Armed Forces. However, each Service, and each military job, has different requirements,
								so qualifying AFQT scores can fluctuate.</p>
						</div>
					</div>
					<div class="columns medium-6 small-12 hide-for-sm"><img alt="" src="assets/images/Usingskills.jpg" /></div>
				</div>
			</section>
			<section class="section-overview taking_FYI_sec" id="Taking_FYI">
				<div class="row">
					<div class="columns medium-6 small-12">
						<div class="section-description">
							<h2 class="section-title">TAKING THE FYI</h2>
							<p class="section-description-info">Find Your Interests (FYI) is an interest inventory based on John Holland's
								widely accepted RIASEC&reg; theory of career choice. Students indicate a preference for the various activities
								presented to them. Based on their responses, the assessment determines the student's resemblance to each of
								six interest types.</p>
						</div>
					</div>
					<div class="columns medium-6 small-12"><img alt="" class="hide-for-sm" src="assets/images/RIASEC.jpg" /><img alt=""
							class="hide-for-md mx-auto" src="assets/images/RIASEC_Mobile.jpg" /></div>
				</div>
			</section>
			<section class="section-overview activities_sec activities_video bg-green">
				<div class="row">
					<div class="columns medium-12">
						<div class="activities_inner">
							<div class="activities_text">
								<h4>Video Tutorial:</h4>
								<h2>Taking the FYI Tutorial</h2>
							</div>
							<div class="activities_block">
									<a (click)="_utility.showVideoDialog('https://www.youtube.com/embed/pddDxvfY2gM')">
									<span
										class="image-wrapper"><img src="assets/images/Tut_test_2.jpg" /></span>
								</a>
							</div>
						</div>
					</div>
					<!-- <div aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" style="display:none;"
			tabindex="-1">
			<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body"><iframe allowfullscreen="" frameborder="0" height="315" id="iframeYoutube" src="#"
						width="560"></iframe></div>
				<div class="modal-footer"><button class="button" data-dismiss="modal" type="button">Close</button></div>
			</div>
			</div>
			</div> -->
				</div>
			</section>
			<section class="section-overview exploring_careers_sec" id="ExploringCareers">
				<div class="row">
					<div class="columns medium-12">
						<div class="section-description">
							<h2 class="section-title">EXPLORING CAREERS</h2>
							<p class="section-description-info">The OCCU-Find is a catalog of careers containing relevant, reliable
								occupational data in an easy to navigate format. Students can quickly identify potentially satisfying career
								options using their Career Exploration Scores and FYI results.</p>
						</div>
					</div>
					<div class="columns medium-12">
						<div class="exploring_careers_inner">
							<div class="exploring_careers_item">
								<div class="careers_img_block"><img alt="" src="assets/images/Riasec_full.png" /></div>
								<p>Search by interest</p>
							</div>
							<div class="exploring_careers_item">
								<div class="careers_img_block"><img alt="" src="assets/images/Books.png" /></div>
								<p>Sort by Skill</p>
							</div>
							<div class="exploring_careers_item">
								<div class="careers_img_block"><img alt="" src="assets/images/filters.png" /></div>
								<p>Filter by Category</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="section-overview activities_sec activities_video bg-green">
				<div class="row">
					<div class="columns medium-12">
						<div class="activities_inner">
							<div class="activities_text">
								<h4>Video Tutorial:</h4>
								<h2>Exploring the OCCU-Find Tutorial</h2>
							</div>
							<div class="activities_block">
								<a (click)="_utility.showVideoDialog('https://www.youtube.com/embed/6yNpUTuksa4')">
									<span
										class="image-wrapper"><img src="assets/images/Tut_test_3.jpg" /></span>
								</a>
							</div>
						</div>
					</div>
					<!-- <div aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" style="display:none;"
			tabindex="-1">
			<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body"><iframe allowfullscreen="" frameborder="0" height="315" id="iframeYoutube" src="#"
						width="560"></iframe></div>
				<div class="modal-footer"><button class="button" data-dismiss="modal" type="button">Close</button></div>
			</div>
			</div>
			</div> -->
				</div>
			</section>
			<section class="section-overview future_plan_sec" id="FuturePlan">
				<div class="row">
					<div class="columns medium-12">
						<div class="section-description">
							<h2 class="section-title">PLANNING FOR THE FUTURE</h2>
							<ul>
								<li><strong>My Portfolio</strong> is an output of an ASVAB CEP participant&rsquo;s career exploration. Here,
									students can
									compile their achievements and articulate action steps toward their identified goals then share this
									record with counselors and parents to facilitate meaningful discussions about post-secondary planning.
								</li>
								<li><strong>My Education and Career Plans</strong> is designed to encourage students to think about
									occupations that
									they&rsquo;re considering as well as post-high school plans. Students are asked to think closely about their
									interests, jobs they&rsquo;ve liked or disliked in the past, work values, and what activities they like
									most.
								</li>
								<li><strong>Coursework Planner</strong> asks students to identify one or two post-high school goals. Then,
									using a
									list of graduation requirements they are asked to identify high school courses that are considered
									necessary for entry into their desired post-secondary path.</li>
								<li><strong>Classroom Activities</strong> can be incorporated into any curriculum in classes like English,
									computer
									science, and communications. These activities encourage students to research occupations, interview job
									incumbents, and complete other activities outlined above.</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<section class="section-overview activities_sec activities_video bg-green">
				<div class="row">
					<div class="columns medium-12">
						<div class="activities_inner">
							<div class="activities_text">
								<h4>Video Tutorial:</h4>
								<h2>Completing My Portfolio</h2>
							</div>
							<div class="activities_block">
								<a (click)="_utility.showVideoDialog('https://www.youtube.com/embed/fiy5rMcHdhM')">
									<span
										class="image-wrapper"><img src="assets/images/portfolio_tut_Thumb.jpg" /></span>
								</a>
							</div>
						</div>
					</div>
					<!-- <div aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" style="display:none;"
			tabindex="-1">
			<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body"><iframe allowfullscreen="" frameborder="0" height="315" id="iframeYoutube" src="#"
						width="560"></iframe></div>
				<div class="modal-footer"><button class="button" data-dismiss="modal" type="button">Close</button></div>
			</div>
			</div>
			</div> -->
				</div>
			</section>
			<section class="section-overview contact_us_sec">
				<div class="row">
					<div class="columns medium-12">
						<div class="section-description">
							<h4>These activities are for the exclusive use of ASVAB CEP participants.<br />Participants must login to access
								the FYI and OCCU-Find.<br /><a (click)="openRegistrtionModal()">Use access code PARENT to create an
									account.</a></h4>
						</div>
					</div>
				</div>
			</section>
			<section class="bg-white">
				<div class="row">
					<div class="medium-3 medium-pull-9 columns sub-nav-wrap">
						<div class="left-sub-nav show-for-small-only">
							<ul class="menu vertical">
								<li>
									<h3>MORE PARENT INFORMATION</h3>
								</li>
								<li><a href="parents">The ASVAB CEP <em class="fa fa-angle-right"></em></a></li>
								<li><a href="parents-test">ASVAB Test <em class="fa fa-angle-right"></em></a></li>
								<li><a href="parents-information">How You Can Help <em class="fa fa-angle-right"></em></a></li>
								<li><a href="general-resources">All Resources <em class="fa fa-angle-right"></em></a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</div>
		
		<section class="bg-white">
			<div class="row">
				<div class="medium-3 medium-pull-9 columns sub-nav-wrap">
					<div class="left-sub-nav show-for-small-only">
						<ul class="menu vertical">
							<li>
								<h3>MORE PARENT INFORMATION</h3>
							</li>
							<li><a href="parents">The ASVAB CEP <em class="fa fa-angle-right"></em></a></li>
							<li><a href="parents-test">ASVAB Test <em class="fa fa-angle-right"></em></a></li>
							<li><a href="parents-post-test">Post-Test Activities <em class="fa fa-angle-right"></em></a></li>
							<li><a href="general-resources">All Resources <em class="fa fa-angle-right"></em></a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</div>
	<app-footer></app-footer>
</div>