<div class="main" style="padding-bottom:0px;">
	<!-- Login Email display -->
	<div *ngIf="showEmailLogin">
		<div class="popup-main">
			<div class="mobile-login-form email-login">
				<div class="popup-details" style="padding:1rem;">
					<h4>Login</h4>
					<div class="popup-main-content">
						<p style="color:red; font-weight:bold;">{{loginDialogErrorMessage}}</p>
						<b>You must login to access ASVAB CEP exclusive features.</b>
						<h3>Login with your email address.</h3>
						<div class="popup-form-filed">
							<form (submit)="submitEmailLogin()">
								<label for="email" class="sr-only">Email:</label>
								<input name="email" placeholder="Email" type="email" id="email" [(ngModel)]="email" required>
								<label for="password" class="sr-only">Password:</label>
								<input name="password" placeholder="Password" type="password" id="password" [(ngModel)]="password" required>
								<p><a (click)="showEmailLogin = false; showPasswordReset = true;">I forgot my password</a></p>
								<button type="submit" class="button">Login</button> 
							</form>
						</div>
					</div>
				</div>
				<div class="popup-form-footer">
					<ul>
						<li><a (click)="showRegisterDialog()">Create account</a></li>
						<li><a (click)="showEmailLogin = false; showAccessCodeLogin = true;">Use access code only</a></li>
					</ul>
				</div>
			</div>
			<button class="close-button" aria-label="Close modal" type="button"
				(click)="close()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
	<!-- Login Email display -->
	
	<!-- Login AccessCode display -->
	<div *ngIf="showAccessCodeLogin">
		<div class="popup-main">
			<div class="mobile-login-form access-login">
				<div class="popup-details" style="padding:1rem;">
					<h4>Login</h4>
					<div class="popup-main-content">
						<p style="color:red; font-weight:bold;">{{loginAccessCodeMessage}}</p>
						<b>You must login to access ASVAB CEP exclusive features.</b>
						<h3>Login with Access Code only</h3>
						<div class="popup-form-filed">
							<form (submit)="submitAccessCodeLogin()">                                                                                        	  
								<label for="accessCode" class="sr-only">Access Code:</label>
								<input name="accessCode" placeholder="Access Code" type="text" id="accessCode" [(ngModel)]="accessCode" required>
								<button type="submit" class="button" [disabled]="disabled">Login</button>
							</form>
						</div>
					</div>
				</div>
				<div class="popup-form-footer">
					<ul>
						<li><a (click)="showRegisterDialog()">Create account</a></li>
						<li><a (click)="showAccessCodeLogin = false; showEmailLogin = true">Use email to login</a></li>
					</ul>
				</div>
			</div>
			<button class="close-button" aria-label="Close modal" type="button"
				(click)="close()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
	<!-- Login AccessCode display -->
	
	<!-- Forgot Password display -->
	<div *ngIf="showPasswordReset">
		<div class="popup-main">
			<div class="mobile-login-form forgot-pass-form">
				<div class="popup-details" style="padding:1rem;">
					<h4>Forgot your password</h4>
					<div class="popup-main-content">
						<p style="color:red; font-weight:bold;">{{loginDialogPasswordErrorMessage}}</p>
						<b>You must login to access ASVAB CEP exclusive features.</b>
						<h3>Enter your Email Address</h3>
						<div class="popup-form-filed">
							<form (submit)="sendResetCode(true)" role="form">
								<label for="requestPasswordEmail" class="sr-only">Email</label>
								<input name="email" type="email" placeholder="Email" id="resetPasswordEmail" [(ngModel)]="resetPasswordEmail" required>
								<button type="submit" class="button">Request Password Reset</button>
							</form>
						</div>
					</div>
				</div>
				<div class="popup-form-footer">
					<ul>
						<li><a (click)="showPasswordReset = false; showEmailLogin = true">Back to Login</a></li>
					</ul>
				</div>
			</div>
			<button class="close-button" aria-label="Close modal" type="button"
				(click)="close()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
	<!-- Forgot Password display -->
</div>



