<div class="occufind student no-margin">
  <app-header></app-header>
  <app-my-asvab-header></app-my-asvab-header>

  <!-- <section class="hide-for-small-only" id="banner">
    <div class="row">
      <div class="large-3 large-push-9 columns">
        <p class="caps">Student</p>
      </div>
      <div class="large-9 large-pull-3 columns">
        <ul id="sub-nav" class="menu">
          <li id="tier2student-cep" [ngClass]="{ active: studentCep }">
            <a routerLink="/student">THE ASVAB CEP</a>
          </li>
          <li id="tier2student-learn" [ngClass]="{ active: studentLearn }">
            <a routerLink="/student-learn">Learn About Yourself </a>
          </li>
          <li id="tier2student-explore" [ngClass]="{ active: studentExplore }">
            <a routerLink="/student-explore">Explore Careers</a>
          </li>
          <li id="tier2student-plan" [ngClass]="{ active: studentPlan }">
            <a routerLink="/student-plan">Plan your future</a>
          </li>
        </ul>
      </div>
    </div>
  </section> -->

  <section id="content-wrap" class="left-nav-expanded-wrap">
    <div class="row">
      <!-- <div class="small-12 columns show-for-small-only">
        <app-career-cluster-banner-mobile-menu></app-career-cluster-banner-mobile-menu>
      </div> -->
      <app-left-navigation-v2-collapsed *ngIf="isLoggedIn" [selectedTab]="'explore'"></app-left-navigation-v2-collapsed>
      
      <div *ngIf="!isLoggedIn" style="z-index: 1" class="hide-for-small-only columns">
        <div id="did-you-know-cc">
          <p><strong class="caps">Did You Know?</strong></p>
          <p>
            Questions you might want to think about while you explore careers:
          </p>
          <p>
            What do people do in this<br />
            career?
          </p>
          <p>In what type of environment do people in this career work?</p>
          <p>
            What kind and how much<br />
            training is needed to enter<br />
            this career?
          </p>
          <p>
            What are the opportunities<br />
            for obtaining work in this<br />
            career?
          </p>
        </div>
      </div>

      <div>
        <section id="main-content" class="left-navigation-condensed" role="main">
          <app-my-top-results-collapsed *ngIf="isLoggedIn" [collapsedVersion]="'v2'"></app-my-top-results-collapsed>

          <div id="left-nav-content-wrap">
            <ul class="menu tools icons-right">
              <li id="back">
                <a routerLink="/career-cluster">Back to Career cluster List</a>
              </li>
            </ul>
          
            <h1>{{ccPathways.title}}</h1><br/>
          
            <div *ngFor="let pathway of ccPathways.pathways; let i = index">
    
              <p><strong>Pathway {{i+1}}: {{pathway.pathwayTitle}}</strong></p>
              
              <p>{{pathway.pathwayDescription}}</p>
              
              <div class="row">
                <div class="large-8 medium-7 columns">
                  <p><strong>Sample Occupations</strong></p>
    
                  <ul *ngIf="!pathway.sampleOccupations.length">
                    <li>No OCCU-Find occupations are currently linked to this Career Pathway.</li>
                  </ul>
    
                  <ul *ngIf="pathway.sampleOccupations.length <= 5">
                    <li *ngFor="let occupation of pathway.sampleOccupations"><a routerLink="{{url}}{{occupation.onetSoc}}">{{occupation.title}}</a></li>
                  </ul>
    
                  <ul *ngIf="!showMore[i] && pathway.sampleOccupations.length > 5">
                    <li *ngFor="let occupation of pathway.sampleOccupations.slice(0,5)"><a routerLink="{{url}}{{occupation.onetSoc}}">{{occupation.title}}</a></li>
                  </ul>
                  <ul *ngIf="showMore[i] && pathway.sampleOccupations.length > 5">
                    <li *ngFor="let occupation of pathway.sampleOccupations"><a routerLink="{{url}}{{occupation.onetSoc}}">{{occupation.title}}</a></li>
                  </ul>
                  <div *ngIf="!showMore[i] && pathway.sampleOccupations.length > 5">
                    <a (click)="toggleShowOccupations(i, true)">Show more...</a>
                  </div>
                  <div *ngIf="showMore[i] && pathway.sampleOccupations.length > 5">
                    <a (click)="toggleShowOccupations(i, false)">Show less...</a>
                  </div>
                </div>
    
                <div class="large-4 medium-5 columns">
                  <img src="{{awsMediaUrl}}OCCUFIND_IMGS/{{pathway.sampleOccupations[0].onetSoc}}.jpg"
                    title="{{pathway.sampleOccupations[0].title}}"
                    alt="{{pathway.sampleOccupations[0].title}}"
                  >
                  <div>{{pathway.sampleOccupations[0].title}}</div>
                </div>
              </div>
    
              <hr *ngIf="i < ccPathways.pathways.length - 1"/>
            </div>
          
            <ul class="menu tools bottom">
              <li id="top"><a (click)="_utiliy.scrollToTop()">Back to Top</a></li>
              <li id="back">
                <a routerLink="/career-cluster">Back to Career cluster List</a>
              </li>
            </ul>
          
            <br />
            <br />
          
            <p>
              Note: The 16 Career Clusters were developed by the U.S. Department of
              Education. Your school/state may use a dierent set of career clusters.
              Contact your career counselor to fnd out more information.
            </p>
          
            <br />
          
            <p style="text-align:center">
              <a href="http://www.careertech.org/career-clusters/" target="_blank"
                ><img src="assets/images/career-cluster-logo.jpg"
              /></a>
            </p>
          </div>
         
        </section>
      </div>

      <!-- <div class="medium-3 medium-pull-9 columns">
        <app-career-cluster-left-nav></app-career-cluster-left-nav>
        <div id="did-you-know">
          <p><strong class="caps">Did You Know?</strong></p>
          <p>
            Questions you might want to think about while you explore careers:
          </p>
          <p>
            What do people do in this<br />
            career?
          </p>
          <p>In what type of environment do people in this career work?</p>
          <p>
            What kind and how much<br />
            training is needed to enter<br />
            this career?
          </p>
          <p>
            What are the opportunities<br />
            for obtaining work in this<br />
            career?
          </p>
        </div>
        <div class="left-sub-nav show-for-small-only">
          <ul class="menu vertical">
            <li><h3>ABOUT THE ASVAB</h3></li>
            <li>
              <a href="student-post-test"
                >Post-Test Interpretation <i class="fa fa-angle-right"></i
              ></a>
            </li>
          </ul>
        </div>
      </div> -->
    </div>
  </section>

  <app-footer></app-footer>
</div>
