<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeMe()"><span
      aria-hidden="true">&times;</span></button>
  <h3 class="modal-title">Recent Notifications</h3>
</div>

<div class="modal-body" *ngIf="isLoading">
  <div class="row">
    <div class="small-12 column text-center">
      <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
      Loading...
    </div>
  </div>
</div>

<div class="modal-body" *ngIf="!isLoading" style="overflow-x: hidden;">
  <div class="row">
    <div class="small-6 column">
      You have {{unreadMsgCounter}} unread messages
    </div>
    <div class="small-6 column text-right">
      <a (click)="showNotificationSettings()">Notification Settings</a>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <h4 class="recent-messages">Messages</h4>
    </div>
  </div>

  <mat-dialog-content>
    <div class="row">

      <div class="column small-12">
        <ul class="recent-messages">
          <ng-container
            *ngFor="let item of messages | multiParamFilterPipe: getMessagesFilter(showReadItems) | orderBy: 'originalTimestamp' : 'desc'; let i = index;">
            <li [ngClass]="{unread_item: !item.hasBeenRead }">
              <div class="row">
                <div class="small-1 column text-center">
                  <i class="fas fa-comment message-color"></i>
                </div>
                <div class="small-8 column"><strong>
                    <span>{{item.from}}: {{item.title}}</span>
                  </strong>
                </div>
                <div class="small-3 column text-right">
                  <span class="date-text">{{item.timestamp}} </span>
                </div>
              </div>

              <!-- Comments -->
              <div class="row" *ngIf="!item.isLog">
                <div class="small-11 small-offset-1 column">
                  <p>
                    Comment: {{item.message}}
                  </p>
                </div>
              </div>

              <!-- Logs -->
              <div class="row" *ngIf="item.isLog">
                <div class="small-11 small-offset-1 column">

                  <p>{{item.message}}</p>
                </div>
              </div>

              <div class="row">
                <div class="small-1 column text-center">
                  <input type="checkbox" id="markAsRead{{i}}" [checked]="item.hasBeenRead" [disabled]="item.hasBeenRead"
                    (click)="markAsRead(item)">
                </div>
                <div class="small-4 column">
                  <a *ngIf="!item.hasBeenRead" (click)="markAsRead(item)">Mark as read</a>
                </div>
                <div class="small-4 small-offset-3 column text-right">
                  <a (click)="item.showTextArea = !item.showTextArea">Add Comment</a>
                </div>
              </div>

              <!-- add comment -->
              <div class="row" *ngIf="item.showTextArea">
                <div class="small-12 column text-center">
                  <form (ngSubmit)="addComment(item)">
                    <textarea name="addComment" [(ngModel)]="item.addComment"></textarea>
                    <button type="submit">submit</button>
                  </form>
                </div>
              </div>
            </li>

          </ng-container>

          <li>
            <div class="row">
              <div class="small-1 column text-center">
                <input type="checkbox" name="markAsRead" title="Mark as read" (click)="markAllAsRead()" />
              </div>
              <div class="small-4 column">
                <a (click)="markAllAsRead()">Mark all as read</a>
              </div>
              <div class="small-5 small-offset-2 column text-right">
                <a (click)="showReadItems = !showReadItems">
                  <span *ngIf="!showReadItems ">Show read messages</span>
                  <span *ngIf="showReadItems ">Hide read messages</span>
                </a>
                <!-- <br>
                <a (click)="showReadMessagesMaxNum = showReadMessagesMaxNum + 5"
                  *ngIf="showReadItems && readMessageLength() >= showReadMessagesMaxNum">
                  <span>Show More</span>
                </a> -->
              </div>
            </div>
          </li>

        </ul>
      </div>

    </div>

  </mat-dialog-content>
</div>


<div *ngIf="!isLoading" class="modal-footer text-center">
  <button class="button" type="button" (click)="closeMe()">Close</button>
</div>