<div id="portfolio" class="occufind">
  <app-header></app-header>
  <app-my-asvab-header></app-my-asvab-header>

  <section id="content-wrap" class="left-nav-expanded-wrap explore">
    <div class="row">
      <app-left-navigation-v2-expanded [selectedTab]="'plan'" (menuCollapsed)="onLeftNavCollapsed($event)">
      </app-left-navigation-v2-expanded>
      <!--<app-left-navigation-v2-collapsed class="mobile-show" [selectedTab]="'explore'"></app-left-navigation-v2-collapsed>-->

      <!--  -->
      <section id="main-content" class="left-navigation-expanded show-for-small-only" role="main">
        <app-my-top-results-collapsed class="mobile-hide" [collapsedVersion]="'v1'"></app-my-top-results-collapsed>

        <!-- Mobile View -->

        <!-- CSS & Angular code for not favorited career  -->
        <div *ngIf="favoriteLength === 0 && !favoritedOccupationClosedHint" class="skills-interests-career d-flex align-items-center"> 
          <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
          <p class="mb-0 bold">You need a favorited occupation in order to create a plan. Select the heart next to the occupation in the explore careers section.</p>
          <button type="button" (click)="closedFavoritedOccupationHint()" class="close" data-dismiss="modal" aria-label="Close">
            <img src="/assets/images/close-blue.svg" class="mobile_close" alt="Close" />
          </button> 
        </div>

         <!-- CSS & Angular code for not created plan -->
         <div *ngIf="(favoriteLength > 0 || favoritedOccupationClosedHint) && userOccupationPlans && userOccupationPlans.length === 0 && !createdPlanClosedHint" class="skills-interests-career d-flex align-items-center"> 
          <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
          <p class="mb-0 bold">Map out the action steps you will take to make your goal a realty.<br>Create one plan or many!</p>
          <button type="button" (click)="closedCreatePlanHint()" class="close" data-dismiss="modal" aria-label="Close">
            <img src="/assets/images/close-blue.svg" class="mobile_close" alt="Close" />
          </button> 
        </div>

        <!-- If created Military plan as enslisted, show hint for line score -->
        <div *ngIf="(favoriteLength > 0 || favoritedOccupationClosedHint) && ((userOccupationPlans && userOccupationPlans.length > 0) || createdPlanClosedHint) && hasMilitaryPlanEnlisted && !viewedLineScore && !viewedLineScoreClosedHint" class="skills-interests-career d-flex align-items-center"> 
          <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
          <p class="mb-0 bold">Curious what your scores mean to the Military?<br> Click <a target="_blank" href="{{ssoUrl}}composite-scores" (click)="completionViewLineScore()">here</a> to view your military line scores.</p>
          <button type="button" (click)="closedLineScoreHint()" class="close" data-dismiss="modal" aria-label="Close">
            <img src="/assets/images/close-blue.svg" class="mobile_close" alt="Close" />
          </button> 
        </div>

        <!-- CSS & Angular code for not started portfolio -->
        <div *ngIf="(favoriteLength > 0 || favoritedOccupationClosedHint) && (userOccupationPlans && userOccupationPlans.length > 0 || createdPlanClosedHint) && ((hasMilitaryPlanEnlisted && (viewedLineScore || viewedLineScoreClosedHint)) || !hasMilitaryPlanEnlisted) && !startedPortfolio && !startedPortfolioClosedHint" class="skills-interests-career d-flex align-items-center"> 
          <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
          <p class="mb-0 bold">Chart your plans and accomplishments in <a (click)="routeToPortfolio()" >My Portfolio</a></p>
          <button type="button" (click)="closedStartPortfolioHint()" class="close" data-dismiss="modal" aria-label="Close">
            <img src="/assets/images/close-blue.svg" class="mobile_close" alt="Close" />
          </button> 
        </div>

         <!-- CSS & Angular code for not connected mentor -->
         <div *ngIf="(favoriteLength > 0 || favoritedOccupationClosedHint) && (userOccupationPlans && userOccupationPlans.length > 0 || createdPlanClosedHint) && ((hasMilitaryPlanEnlisted && (viewedLineScore || viewedLineScoreClosedHint)) || !hasMilitaryPlanEnlisted) && (startedPortfolio || startedPortfolioClosedHint) && !connectedToMentor && !connectedToMentorClosedHint" class="skills-interests-career d-flex align-items-center"> 
          <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
          <p class="mb-0 bold"><strong>Share your plans with a mentor.</strong>You can enter an email address for someone you trust like a counselor or parent in your <a routerLink="/student-profile" >profile settings.</a></p>
          <button type="button" (click)="closedConnectToMentorHint()" class="close" data-dismiss="modal" aria-label="Close">
            <img src="/assets/images/close-blue.svg" class="mobile_close" alt="Close" />
          </button> 
        </div>

         <!-- Hint: CSS & Angular code for after created plan, can go to calendar -->
         <div *ngIf="(favoriteLength > 0 || favoritedOccupationClosedHint) && (userOccupationPlans && userOccupationPlans.length > 0 || createdPlanClosedHint) && ((hasMilitaryPlanEnlisted && (viewedLineScore || viewedLineScoreClosedHint)) || !hasMilitaryPlanEnlisted) && (startedPortfolio || startedPortfolioClosedHint) && (connectedToMentor || connectedToMentorClosedHint) && (guidedTipConfig?.helpPlan || guidedTipConfig?.involveCounselorParent) && !createdPlanShowCalendarClosedHint" class="skills-interests-career d-flex align-items-center"> 
          <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
          <p class="mb-0 bold">Don't miss out on an opportunity based on a technicality. Keep track of deadlines and other important dates. Add reminders to your calendar.</p>
          <button type="button" (click)="closedCreatedPlanShowCalendarHint()" class="close" data-dismiss="modal" aria-label="Close">
            <img src="/assets/images/close-blue.svg" class="mobile_close" alt="Close" />
          </button> 
        </div>

        <!-- Hint: CSS & Angular code for military plan as officer -->
        <div *ngIf="(favoriteLength > 0 || favoritedOccupationClosedHint) && (userOccupationPlans && userOccupationPlans.length > 0 || createdPlanClosedHint) && ((hasMilitaryPlanEnlisted && (viewedLineScore || viewedLineScoreClosedHint)) || !hasMilitaryPlanEnlisted) && (startedPortfolio || startedPortfolioClosedHint) && (connectedToMentor || connectedToMentorClosedHint) && createdPlanShowCalendarClosedHint && (guidedTipConfig?.helpPlan || guidedTipConfig?.goToMilitary || guidedTipConfig?.goToCollege) && hasMilitaryPlanOfficer && !militaryPlanOfficerClosedHint" class="skills-interests-career d-flex align-items-center"> 
          <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
          <p class="mb-0 bold">To become a military officer you must meet certain requirements. <a href="https://www.careersinthemilitary.com/options-becoming-an-officer">Learn more</a> about this path.</p>
          <button type="button" (click)="closedMilitaryPlanOfficerHint()" class="close" data-dismiss="modal" aria-label="Close">
            <img src="/assets/images/close-blue.svg" class="mobile_close" alt="Close" />
          </button> 
        </div>

        <!-- Hint: CSS & Angular code for less than 2 plans -->
        <div *ngIf="(favoriteLength > 0 || favoritedOccupationClosedHint) && (userOccupationPlans && userOccupationPlans.length > 0 || createdPlanClosedHint) && ((hasMilitaryPlanEnlisted && (viewedLineScore || viewedLineScoreClosedHint)) || !hasMilitaryPlanEnlisted) && (startedPortfolio || startedPortfolioClosedHint) && (connectedToMentor || connectedToMentorClosedHint) && createdPlanShowCalendarClosedHint && (hasMilitaryPlanOfficer && militaryPlanOfficerClosedHint || !hasMilitaryPlanOfficer) && guidedTipConfig?.helpPlan && userOccupationPlans?.length < 2 && !lessThanTwoPlansClosedHint" class="skills-interests-career d-flex align-items-center"> 
          <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
          <p class="mb-0 bold">There are many ways to gain career field entry! Build one plan inclusive of different paths or build many different plans.</p>
          <button type="button" (click)="closedLessThanTwoPlansHint()" class="close" data-dismiss="modal" aria-label="Close">
            <img src="/assets/images/close-blue.svg" class="mobile_close" alt="Close" />
          </button> 
        </div>

        <!-- Hint: CSS & Angular code for military pathway -->
        <div *ngIf="(favoriteLength > 0 || favoritedOccupationClosedHint) && (userOccupationPlans && userOccupationPlans.length > 0 || createdPlanClosedHint) && ((hasMilitaryPlanEnlisted && (viewedLineScore || viewedLineScoreClosedHint)) || !hasMilitaryPlanEnlisted) && (startedPortfolio || startedPortfolioClosedHint) && (connectedToMentor || connectedToMentorClosedHint) && createdPlanShowCalendarClosedHint && (hasMilitaryPlanOfficer && militaryPlanOfficerClosedHint || !hasMilitaryPlanOfficer) && (userOccupationPlans?.length < 2 && lessThanTwoPlansClosedHint || userOccupationPlans?.length >= 2) && guidedTipConfig?.goToMilitary && hasMilitaryPathway && !viewedMilitaryCareers && !hasMilitaryPathwayClosedHint" class="skills-interests-career d-flex align-items-center"> 
          <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
          <p class="mb-0 bold">Military career titles might be different from your favorite career title. Explore the associated military career titles <a (click)="showMilitaryCareers()">here.</a></p>
          <button type="button" (click)="closedMilitaryPathwayHint()" class="close" data-dismiss="modal" aria-label="Close">
            <img src="/assets/images/close-blue.svg" class="mobile_close" alt="Close" />
          </button> 
        </div>

        <!-- Hint: CSS & Angular code for have not downloaded an activity -->
        <div *ngIf="(favoriteLength > 0 || favoritedOccupationClosedHint) && (userOccupationPlans && userOccupationPlans.length > 0 || createdPlanClosedHint) && ((hasMilitaryPlanEnlisted && (viewedLineScore || viewedLineScoreClosedHint)) || !hasMilitaryPlanEnlisted) && (startedPortfolio || startedPortfolioClosedHint) && (connectedToMentor || connectedToMentorClosedHint) && createdPlanShowCalendarClosedHint && (hasMilitaryPlanOfficer && militaryPlanOfficerClosedHint || !hasMilitaryPlanOfficer) && (userOccupationPlans?.length < 2 && lessThanTwoPlansClosedHint || userOccupationPlans?.length >= 2) && (hasMilitaryPathway && (viewedMilitaryCareers || hasMilitaryPathwayClosedHint) || !hasMilitaryPathway) && guidedTipConfig?.involveCounselorParent && !downloadActivity && !downloadActivityClosedHint" class="skills-interests-career d-flex align-items-center"> 
          <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
          <p class="mb-0 bold">Classroom Activities can help you think critically about career planning.</p>
          <button type="button" (click)="closedDownloadActivityHint()" class="close" data-dismiss="modal" aria-label="Close">
            <img src="/assets/images/close-blue.svg" class="mobile_close" alt="Close" />
          </button> 
        </div>

        <!-- Hint: CSS & Angular code for have not submitted to mentor -->
        <div *ngIf="(favoriteLength > 0 || favoritedOccupationClosedHint) && (userOccupationPlans && userOccupationPlans.length > 0 || createdPlanClosedHint) && ((hasMilitaryPlanEnlisted && (viewedLineScore || viewedLineScoreClosedHint)) || !hasMilitaryPlanEnlisted) && (startedPortfolio || startedPortfolioClosedHint) && (connectedToMentor || connectedToMentorClosedHint) && createdPlanShowCalendarClosedHint && (hasMilitaryPlanOfficer && militaryPlanOfficerClosedHint || !hasMilitaryPlanOfficer) && (userOccupationPlans?.length < 2 && lessThanTwoPlansClosedHint || userOccupationPlans?.length >= 2) && (hasMilitaryPathway && (viewedMilitaryCareers || hasMilitaryPathwayClosedHint) || !hasMilitaryPathway) && (downloadActivity || downloadActivityClosedHint) && guidedTipConfig?.involveCounselorParent && !submitPlan && !submitPlanClosedHint" class="skills-interests-career d-flex align-items-center"> 
          <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
          <p class="mb-0 bold">Submit your plans so you can have meaningful discussions with your designated mentor(s).</p>
          <button type="button" (click)="closedSubmitPlanHint()" class="close" data-dismiss="modal" aria-label="Close">
            <img src="/assets/images/close-blue.svg" class="mobile_close" alt="Close" />
          </button> 
        </div>

        <!-- Career Plan -->
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Career Plan
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-plan-item-card class="career_plan_item"
            *ngFor="let userOccupationPlan of userOccupationPlans.reverse(); let i=index;"
            [userOccupationPlan]="userOccupationPlan" (onRemoval)="removeUserOccupationPlan($event)"
            (onAddTask)="addTaskToList($event)">
          </app-plan-item-card>
          <a
            [ngClass]="favoriteList?.length > 0 ? 'career_plan_item add_career_plan' : 'career_plan_item add_career_plan disabled'" 
            routerLink="/create-plan">
            Create a new plan <i class="fa fa-plus"></i>
          </a>
        </mat-expansion-panel>


        <!-- Calendar -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Calendar
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-calendar #calendar [dateClass]="getDateClass()" [selected]="selectedDate"
            (selectedChange)="onSelect($event)" class="calendar">
          </mat-calendar>

          <ng-container
            *ngIf="!isCalendarLoading && (selectedUserOccupationPlanCalendar && selectedUserOccupationPlanCalendar?.length == 1)">

            <div class="calendar_meeting_details">
              <div>
                <p class="meeting_date">{{selectedUserOccupationPlanCalendar[0].date}}</p>
                <p><strong>{{selectedUserOccupationPlanCalendar[0].title}}</strong></p>
                <p class="mb_0">{{getRemainingTasksForCalendar(selectedUserOccupationPlanCalendar[0])}} Tasks
                  remaining</p>
                <div class="task-progressbar">
                  <mat-progress-bar mode="determinate"
                    [value]="getProgressBarValueForCalendar(selectedUserOccupationPlanCalendar[0])">
                  </mat-progress-bar>
                </div>
                <form>
                  <div class="form-group"
                    *ngFor="let task of selectedUserOccupationPlanCalendar[0].tasks | filter:'completed':false; let i = index; ">
                    <div class="checkbox-tick">
                      <input class="styled-checkbox" type="checkbox"
                        id="task{{selectedUserOccupationPlanCalendar[0].id}}{{i}}"
                        (change)="setTaskComplete(task, $event )">
                      <label class="styled-checkbox-label"
                        for="task{{selectedUserOccupationPlanCalendar[0].id}}{{i}}"></label>
                      <span><strong>{{convertTaskName(task.taskName)}}</strong></span>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="calendar_edit">
              <a (click)="editDate(selectedUserOccupationPlanCalendar[0])"><i class="fas fa-edit"></i></a>
            </div>
          </ng-container>

          <div class="text-center">
            <a routerLink="/plan-calendar">View Full Calendar</a>
          </div>
		</mat-expansion-panel>
		
		<!-- Portfolio Builder -->
		<mat-expansion-panel>
		  <mat-expansion-panel-header>
		    <mat-panel-title>
		      Portfolio Builder
		    </mat-panel-title>
		    <mat-panel-description>
		    </mat-panel-description>
		  </mat-expansion-panel-header>
            <div>Last Updated: </div>
            <div class="plan_item_footer">
              <a matTooltip="View Portfolio" (click)="routeToPortfolio()"><img src="assets/images/list_item.svg" alt="List"></a>
              <a matTooltip="Submit to Mentor" (click)="showSubmitToMentor()"><img src="assets/images/mentor_submit.png" /></a>
              <a href="#" style="margin-right: 60px" class="message_count_link"><span
                  class="message_count">2</span></a>
              <!-- <a href="#"><i class="fas fa-share" aria-hidden="true"></i> Share</a> -->
            </div>
            <div>
              <p style="margin-bottom: 0px">TIP: {{tips[tipIndex]}}</p>
              <a (click)="tipsModal()">View more tips</a>
            </div>
		</mat-expansion-panel>
		
		<!-- Additional  Activities -->
		<mat-expansion-panel>
		  <mat-expansion-panel-header>
		    <mat-panel-title>
		      Additional Activities
		    </mat-panel-title>
		    <mat-panel-description>
		    </mat-panel-description>
		  </mat-expansion-panel-header>
		  <!-- <div class="additional_activities">
            <a (click)="classroomActivitiesDialog()">Read Detail</a>
            <form>
              <div class="form-group">
                <label>Sort by category</label>
                <div class="form_select">
                  <select id="selectone">
                    <option>Select one</option>
                    <option>Select one 1</option>
                    <option>Select one 2</option>
                    <option>Select one 3</option>
                    <option>Select one 4</option>
                    <option>Select one 5</option>
                  </select>
                </div>
              </div>
            </form>
            <div>
              <div class="small-12 columns" style="background-color: rgba(76, 68, 172, 0.08);">
                <div class="">
                  <p>Career Tech Ed (CTE)</p>
                  <p class=""><strong>Listen Before You Launch</strong></p>
                  <p class="">Learn about your favorite careers by conducting interviews.</p>
                </div>
                <div  class="plan_item_footer">
                  <a href="#"><img src="assets/images/list_item.svg" alt="List"></a>
                </div>
              </div>
              <div class=" small-12 columns" style="background-color: rgba(76, 68, 172, 0.08);">
                <div>
                  <p>Language Arts</p>
                  <p class=""><strong>Career Exploration Essay</strong></p>
                  <p class="">Brief Description about the activity.</p>
                  <p></p>
                  <a href="#">Submitted: 4/10/18</a>
                </div>
                <div class="plan_item_footer">
                  <a href="#"><img src="assets/images/list_item.svg" alt="List"></a>
                  <a href="#" style="margin-right: 40px" class="message_count_link"><span
                      class="message_count">2</span></a>
                  <span>Completed</span><img style="max-width: 20px; margin-left: 5px" src="assets/images/check.png"
                    alt="List">
                </div>
              </div>
              <div class="small-12 columns" style="background-color: rgba(76, 68, 172, 0.08);">
                <div class="">
                  <p>Social Studies</p>
                  <p class=""><strong>What do real jobs look like?</strong></p>
                  <p class="">Brief Description about the activity.</p>
                </div>
                <div style="              background-color: rgba(76, 68, 172, 0.08);" class="plan_item_footer">
                  <a href="#"><img src="assets/images/list_item.svg" alt="List"></a>
                </div>
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="medium-12 columns">
              <h2>Classroom Activities</h2>
              <p>Integrate career exploration into any curriculum. Connect your classroom to the real world.</p>
            </div>
          </div>
          <!-- Category select box -->
          <div class="row">
            <div class="medium-12 columns">
              <div class="filter-category">
                <p class="category-title">Filter by category</p>
                <select class="mb-0" name="categorySelect" id="categorySelect" [(ngModel)]="activeCategory.categoryId"
                  (change)="onCategoryChange(activeCategory.categoryId)">
                  <option value="">Select</option>
                  <option *ngFor="let category of activityCategories" [ngValue]="category.id">
                    {{category.title}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <!-- Activities - Category item -->
          <div class="row d-flex flex-wrap mt-25">
            <div *ngFor="let activity of classroomActivitiesFiltered" class="medium-4 columns category-wrapper mb-15">
              <div class="category-item">
                <h3 class="mb-10">{{activity.title}}</h3>
                <p>{{activity.shortDescription}}</p>
                <!-- <div>
                  <a class="btn classroom-student mr-15" (click)="classroomActivitiesDialog(activity)"><i
                      class="fa fa-list-ul"></i>Details</a>
                       <span class="message_count_link" *ngIf="activity.numOfUnreadMessages > 0">
                        <span class="message_count">{{activity.numOfUnreadMessages}}</span>
                      </span>
                      &nbsp;
                      <span *ngIf="getIsActivityCompleted(activity.submissions)">
                        Completed&nbsp;&nbsp;<i class="fas fa-check" style="color:gray;"></i>
                      </span>
                </div> -->
                <div class="plan_item_footer">
                  <a matTooltip="View Activity" class="btn classroom-student mr-30" (click)="classroomActivitiesDialog(activity)">
                    <i class="fa fa-list-ul"></i>
                  </a>
                  <span class="message_count_link">
                    <span class="message_count">1</span>
                  </span>
                  <span>
                    Completed&nbsp;&nbsp;
                    <i class="fas fa-check" style="color:gray;"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </section>


      <section id="main-content" class="left-navigation-expanded hide-for-small-only" role="main">
        <app-my-top-results-collapsed class="mobile-hide" [collapsedVersion]="'v1'"></app-my-top-results-collapsed>

        <div class="view_plan">
          <h3>
            <div class="row">
              <div class="column medium-6">
                Career Plan
              </div>
              <div class="column medium-6 text-right">
                <a routerLink="/create-plan" *ngIf="userOccupationPlans?.length > 2">
                  Create a new plan <i class="fa fa-plus"></i>
                </a>
              </div>
            </div>
          </h3>

          <!-- TODO: include hints after Plan is done  -->
          <!-- <div class="skills-interests-career d-flex align-items-center"> 
            <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
            
            <p class="mb-0" style="max-width: 440px;">Map out the action steps you will take to make your goal a reality. Create one plan or many!</p>
            
            <button type="button" (click)="closedViewScoreHint()" class="close" data-dismiss="modal" aria-label="Close">
              <img src="/assets/images/close-blue.svg" alt="Close" />
            </button> 
          </div>
            
          <div class="skills-interests-career d-flex align-items-center"> 
            <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
            
            <p class="mb-0">Chart your plans and accomplishments in My portfolio</p>
            
            <button type="button" (click)="closedViewScoreHint()" class="close" data-dismiss="modal" aria-label="Close">
              <img src="/assets/images/close-blue.svg" alt="Close" />
            </button> 
          </div>
          
          <div class="skills-interests-career d-flex align-items-center"> 
            <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
            
            <p class="mb-0" style="max-width: 540px;">Share your plans with a mentor. You can enter an email address for someone you trust like a counselor or parent in your <a href="#">profile settings</a>.</p>
            
            <button type="button" (click)="closedViewScoreHint()" class="close" data-dismiss="modal" aria-label="Close">
              <img src="/assets/images/close-blue.svg" alt="Close" />
            </button> 
          </div> -->

          <div class="career_plan">

            <!-- CSS & Angular code for not favorited career  -->
            <div *ngIf="favoriteLength === 0 && !favoritedOccupationClosedHint" class="skills-interests-career d-flex align-items-center"> 
              <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
              <p class="mb-0 bold">You need a favorited occupation in order to create a plan. Select the heart next to the occupation in the explore careers section.</p>
              <button type="button" (click)="closedFavoritedOccupationHint()" class="close" data-dismiss="modal" aria-label="Close">
                <img src="/assets/images/close-blue.svg" alt="Close" />
              </button> 
            </div>

             <!-- CSS & Angular code for not created plan -->
             <div *ngIf="(favoriteLength > 0 || favoritedOccupationClosedHint) && userOccupationPlans && userOccupationPlans.length === 0 && !createdPlanClosedHint" class="skills-interests-career d-flex align-items-center"> 
              <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
              <p class="mb-0 bold">Map out the action steps you will take to make your goal a realty.<br>Create one plan or many!</p>
              <button type="button" (click)="closedCreatePlanHint()" class="close" data-dismiss="modal" aria-label="Close">
                <img src="/assets/images/close-blue.svg" alt="Close" />
              </button> 
            </div>

            <!-- If created Military plan as enslisted, show hint for line score -->
            <div *ngIf="(favoriteLength > 0 || favoritedOccupationClosedHint) && ((userOccupationPlans && userOccupationPlans.length > 0) || createdPlanClosedHint) && hasMilitaryPlanEnlisted && !viewedLineScore && !viewedLineScoreClosedHint" class="skills-interests-career d-flex align-items-center"> 
              <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
              <p class="mb-0 bold">Curious what your scores mean to the Military?<br> Click <a target="_blank" href="{{ssoUrl}}composite-scores" (click)="completionViewLineScore()">here</a> to view your military line scores.</p>
              <button type="button" (click)="closedLineScoreHint()" class="close" data-dismiss="modal" aria-label="Close">
                <img src="/assets/images/close-blue.svg" alt="Close" />
              </button> 
            </div>

            <!-- CSS & Angular code for not started portfolio -->
            <div *ngIf="(favoriteLength > 0 || favoritedOccupationClosedHint) && (userOccupationPlans && userOccupationPlans.length > 0 || createdPlanClosedHint) && ((hasMilitaryPlanEnlisted && (viewedLineScore || viewedLineScoreClosedHint)) || !hasMilitaryPlanEnlisted) && !startedPortfolio && !startedPortfolioClosedHint" class="skills-interests-career d-flex align-items-center"> 
              <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
              <p class="mb-0 bold">Chart your plans and accomplishments in <a (click)="routeToPortfolio()" >My Portfolio</a></p>
              <button type="button" (click)="closedStartPortfolioHint()" class="close" data-dismiss="modal" aria-label="Close">
                <img src="/assets/images/close-blue.svg" alt="Close" />
              </button> 
            </div>

             <!-- CSS & Angular code for not connected mentor -->
             <div *ngIf="(favoriteLength > 0 || favoritedOccupationClosedHint) && (userOccupationPlans && userOccupationPlans.length > 0 || createdPlanClosedHint) && ((hasMilitaryPlanEnlisted && (viewedLineScore || viewedLineScoreClosedHint)) || !hasMilitaryPlanEnlisted) && (startedPortfolio || startedPortfolioClosedHint) && !connectedToMentor && !connectedToMentorClosedHint" class="skills-interests-career d-flex align-items-center"> 
              <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
              <p class="mb-0 bold"><strong>Share your plans with a mentor.</strong>You can enter an email address for someone you trust like a counselor or parent in your <a routerLink="/student-profile" >profile settings.</a></p>
              <button type="button" (click)="closedConnectToMentorHint()" class="close" data-dismiss="modal" aria-label="Close">
                <img src="/assets/images/close-blue.svg" alt="Close" />
              </button> 
            </div>

             <!-- Hint: CSS & Angular code for after created plan, can go to calendar -->
             <div *ngIf="(favoriteLength > 0 || favoritedOccupationClosedHint) && (userOccupationPlans && userOccupationPlans.length > 0 || createdPlanClosedHint) && ((hasMilitaryPlanEnlisted && (viewedLineScore || viewedLineScoreClosedHint)) || !hasMilitaryPlanEnlisted) && (startedPortfolio || startedPortfolioClosedHint) && (connectedToMentor || connectedToMentorClosedHint) && (guidedTipConfig?.helpPlan || guidedTipConfig?.involveCounselorParent) && !createdPlanShowCalendarClosedHint" class="skills-interests-career d-flex align-items-center"> 
              <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
              <p class="mb-0 bold">Don't miss out on an opportunity based on a technicality. Keep track of deadlines and other important dates. Add reminders to your calendar.</p>
              <button type="button" (click)="closedCreatedPlanShowCalendarHint()" class="close" data-dismiss="modal" aria-label="Close">
                <img src="/assets/images/close-blue.svg" alt="Close" />
              </button> 
            </div>

            <!-- Hint: CSS & Angular code for military plan as officer -->
            <div *ngIf="(favoriteLength > 0 || favoritedOccupationClosedHint) && (userOccupationPlans && userOccupationPlans.length > 0 || createdPlanClosedHint) && ((hasMilitaryPlanEnlisted && (viewedLineScore || viewedLineScoreClosedHint)) || !hasMilitaryPlanEnlisted) && (startedPortfolio || startedPortfolioClosedHint) && (connectedToMentor || connectedToMentorClosedHint) && createdPlanShowCalendarClosedHint && (guidedTipConfig?.helpPlan || guidedTipConfig?.goToMilitary || guidedTipConfig?.goToCollege) && hasMilitaryPlanOfficer && !militaryPlanOfficerClosedHint" class="skills-interests-career d-flex align-items-center"> 
              <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
              <p class="mb-0 bold">To become a military officer you must meet certain requirements. <a href="https://www.careersinthemilitary.com/options-becoming-an-officer">Learn more</a> about this path.</p>
              <button type="button" (click)="closedMilitaryPlanOfficerHint()" class="close" data-dismiss="modal" aria-label="Close">
                <img src="/assets/images/close-blue.svg" alt="Close" />
              </button> 
            </div>

            <!-- Hint: CSS & Angular code for less than 2 plans -->
            <div *ngIf="(favoriteLength > 0 || favoritedOccupationClosedHint) && (userOccupationPlans && userOccupationPlans.length > 0 || createdPlanClosedHint) && ((hasMilitaryPlanEnlisted && (viewedLineScore || viewedLineScoreClosedHint)) || !hasMilitaryPlanEnlisted) && (startedPortfolio || startedPortfolioClosedHint) && (connectedToMentor || connectedToMentorClosedHint) && createdPlanShowCalendarClosedHint && (hasMilitaryPlanOfficer && militaryPlanOfficerClosedHint || !hasMilitaryPlanOfficer) && guidedTipConfig?.helpPlan && userOccupationPlans?.length < 2 && !lessThanTwoPlansClosedHint" class="skills-interests-career d-flex align-items-center"> 
              <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
              <p class="mb-0 bold">There are many ways to gain career field entry! Build one plan inclusive of different paths or build many different plans.</p>
              <button type="button" (click)="closedLessThanTwoPlansHint()" class="close" data-dismiss="modal" aria-label="Close">
                <img src="/assets/images/close-blue.svg" alt="Close" />
              </button> 
            </div>

            <!-- Hint: CSS & Angular code for military pathway -->
            <div *ngIf="(favoriteLength > 0 || favoritedOccupationClosedHint) && (userOccupationPlans && userOccupationPlans.length > 0 || createdPlanClosedHint) && ((hasMilitaryPlanEnlisted && (viewedLineScore || viewedLineScoreClosedHint)) || !hasMilitaryPlanEnlisted) && (startedPortfolio || startedPortfolioClosedHint) && (connectedToMentor || connectedToMentorClosedHint) && createdPlanShowCalendarClosedHint && (hasMilitaryPlanOfficer && militaryPlanOfficerClosedHint || !hasMilitaryPlanOfficer) && (userOccupationPlans?.length < 2 && lessThanTwoPlansClosedHint || userOccupationPlans?.length >= 2) && guidedTipConfig?.goToMilitary && hasMilitaryPathway && !viewedMilitaryCareers && !hasMilitaryPathwayClosedHint" class="skills-interests-career d-flex align-items-center"> 
              <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
              <p class="mb-0 bold">Military career titles might be different from your favorite career title. Explore the associated military career titles <a (click)="showMilitaryCareers()">here.</a></p>
              <button type="button" (click)="closedMilitaryPathwayHint()" class="close" data-dismiss="modal" aria-label="Close">
                <img src="/assets/images/close-blue.svg" alt="Close" />
              </button> 
            </div>

            <!-- Hint: CSS & Angular code for have not downloaded an activity -->
            <div *ngIf="(favoriteLength > 0 || favoritedOccupationClosedHint) && (userOccupationPlans && userOccupationPlans.length > 0 || createdPlanClosedHint) && ((hasMilitaryPlanEnlisted && (viewedLineScore || viewedLineScoreClosedHint)) || !hasMilitaryPlanEnlisted) && (startedPortfolio || startedPortfolioClosedHint) && (connectedToMentor || connectedToMentorClosedHint) && createdPlanShowCalendarClosedHint && (hasMilitaryPlanOfficer && militaryPlanOfficerClosedHint || !hasMilitaryPlanOfficer) && (userOccupationPlans?.length < 2 && lessThanTwoPlansClosedHint || userOccupationPlans?.length >= 2) && (hasMilitaryPathway && (viewedMilitaryCareers || hasMilitaryPathwayClosedHint) || !hasMilitaryPathway) && guidedTipConfig?.involveCounselorParent && !downloadActivity && !downloadActivityClosedHint" class="skills-interests-career d-flex align-items-center"> 
              <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
              <p class="mb-0 bold">Classroom Activities can help you think critically about career planning.</p>
              <button type="button" (click)="closedDownloadActivityHint()" class="close" data-dismiss="modal" aria-label="Close">
                <img src="/assets/images/close-blue.svg" alt="Close" />
              </button> 
            </div>

            <!-- Hint: CSS & Angular code for have not submitted to mentor -->
            <div *ngIf="(favoriteLength > 0 || favoritedOccupationClosedHint) && (userOccupationPlans && userOccupationPlans.length > 0 || createdPlanClosedHint) && ((hasMilitaryPlanEnlisted && (viewedLineScore || viewedLineScoreClosedHint)) || !hasMilitaryPlanEnlisted) && (startedPortfolio || startedPortfolioClosedHint) && (connectedToMentor || connectedToMentorClosedHint) && createdPlanShowCalendarClosedHint && (hasMilitaryPlanOfficer && militaryPlanOfficerClosedHint || !hasMilitaryPlanOfficer) && (userOccupationPlans?.length < 2 && lessThanTwoPlansClosedHint || userOccupationPlans?.length >= 2) && (hasMilitaryPathway && (viewedMilitaryCareers || hasMilitaryPathwayClosedHint) || !hasMilitaryPathway) && (downloadActivity || downloadActivityClosedHint) && guidedTipConfig?.involveCounselorParent && !submitPlan && !submitPlanClosedHint" class="skills-interests-career d-flex align-items-center"> 
              <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
              <p class="mb-0 bold">Submit your plans so you can have meaningful discussions with your designated mentor(s).</p>
              <button type="button" (click)="closedSubmitPlanHint()" class="close" data-dismiss="modal" aria-label="Close">
                <img src="/assets/images/close-blue.svg" alt="Close" />
              </button> 
            </div>

            <ng-container>
              <div class="career_plan_inner" *ngIf="userOccupationPlans?.length == 0">

                <div
                  [ngClass]="favoriteList?.length > 0 ? 'career_plan_item add_career_plan' : 'career_plan_item add_career_plan disabled'">
                  <a routerLink="/create-plan">
                    Create a new plan <i class="fa fa-plus"></i>
                  </a>
                </div>
                <div class="career_plan_item no_career_plan">

                </div>
                <div class="career_plan_item no_career_plan">

                </div>
              </div>
            </ng-container>

            <ng-container>
              <div class="career_plan_inner with-slick" *ngIf="userOccupationPlans?.length == 1">

                <div
                  [ngClass]="favoriteList?.length > 0 ? 'career_plan_item add_career_plan' : 'career_plan_item add_career_plan disabled'">
                  <a routerLink="/create-plan">
                    Create a new plan <i class="fa fa-plus"></i>
                  </a>
                </div>
                <app-plan-item-card class="career_plan_item"
                  *ngFor="let userOccupationPlan of userOccupationPlans.reverse(); let i=index;"
                  [userOccupationPlan]="userOccupationPlan" (onRemoval)="removeUserOccupationPlan($event)"
                  (onAddTask)="addTaskToList($event)">
                </app-plan-item-card>
                <div class="career_plan_item no_career_plan">

                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="userOccupationPlans?.length > 1">
              <div class="career_plan_inner with-slick" id="with-slick">

                <ngx-slick-carousel [config]="cardCarouselConfig">
                  <div ngxSlickItem class="career_plan_item add_career_plan" *ngIf="userOccupationPlans?.length == 2">
                    <a routerLink="/create-plan">
                      Create a new plan <i class="fa fa-plus"></i>
                    </a>
                  </div>

                  <app-plan-item-card ngxSlickItem class="career_plan_item"
                    *ngFor="let userOccupationPlan of userOccupationPlans.reverse(); let i=index;"
                    [userOccupationPlan]="userOccupationPlan" (onRemoval)="removeUserOccupationPlan($event)"
                    (onAddTask)="addTaskToList($event)">
                  </app-plan-item-card>

                </ngx-slick-carousel>
              </div>
            </ng-container>


            <!-- 
              

              <div class="career_plan_item add_career_plan disabled">
                <a routerLink="/create-plan">
                  Create a new plan <span>+</span>
                </a>
              </div>

              <div class="career_plan_item no_career_plan">
                
              </div> -->
            <!-- 
              <div class="career_plan_item">
                  <div class="career_plan_item_title">
                    <p><strong>Plan: </strong>Diagnostic Medical Sonographers</p>
                  </div>
                  <div class="career_plan_content">
                    <ul>
                      <li><img src="assets/images/Degree.svg"></li>
                      <li><img src="assets/images/Military_shield_icon.svg"></li>
                    </ul>
                    <div>
                      <p><strong>Upcoming Date:</strong></p>
                      <p>Application <span>dd/mm/yy</span></p>
                      <p><strong>Tasks: (1 tasks Remaining)</strong></p>
                      <div class="task-progressbar">
                        <mat-progress-bar mode="determinate" [value]="percentageAdmitted"></mat-progress-bar>
                      </div>
                      <a href="#">Add Tasks</a>
                    </div>
                  </div>
                  <div class="plan_item_footer">
                    <a routerLink="/view-plan"><img src="assets/images/list_item.svg" alt="List"> Details</a>
                    <a href="#"><i class="fas fa-share" aria-hidden="true"></i> Share</a>
                  </div>
              </div>

              <div class="career_plan_item">
                <div class="career_plan_item_title">
                  <p><strong>Plan: </strong>Agricultural and Food Science Technicians</p>
                </div>
                <div class="career_plan_content">
                  <ul>
                    <li><img src="assets/images/Military_shield_icon.svg"></li>
                  </ul>
                  <div>
                    <p><strong>Upcoming Date:</strong></p>
                    <p>Application <span>dd/mm/yy</span></p>
                    <p class="disabled">No tasks assigned</p>
                    <div class="task-progressbar">
                      <mat-progress-bar mode="determinate" [value]="percentageAdmitted"></mat-progress-bar>
                    </div>
                    <a href="#">Add Tasks</a>
                  </div>
                </div>
                <div class="plan_item_footer">
                  <a routerLink="/view-plan"><img src="assets/images/list_item.svg" alt="List"> Details</a>
                  <a href="#"><i class="fas fa-share" aria-hidden="true"></i> Share</a>
                </div>
              </div> -->
          </div>

          <div class="resume_calender_wrapper">
            <div class="resume_builder">
              <div class="box_title">
                <h3>Portfolio Builder</h3>
              </div>
              <div class="resume_builder_content">
                <p style="margin-bottom: 0px">TIP: {{tips[tipIndex]}}</p>
                <a (click)="tipsModal()">View more tips</a>
              </div>
              <div style="margin-top: 30px" class="plan_item_footer">
                <a matTooltip="View Portfolio" (click)="routeToPortfolio()"><img src="assets/images/list_item.svg" alt="List"></a>
                <a matTooltip="Submit to Mentor" (click)="showSubmitToMentor()"><img src="assets/images/mentor_submit.png" /></a>
                <a *ngIf="portfolioUnreadMsgCount > 0 " (click)="showNotification()" style="margin-right: 60px" class="message_count_link"><span
                    class="message_count">{{portfolioUnreadMsgCount}}</span></a>
                <!-- <a href="#"><i class="fas fa-share" aria-hidden="true"></i> Share</a> -->
              </div>
            </div>
            <div class="calender_box">
              <div class="box_title">
                <h3>Calender</h3>
              </div>
              <div class="calendar_content">
                <div class="row">
                  <div class="columns medium-6">
                    <div class="calendar_item">
                      <mat-calendar #calendar [dateClass]="getDateClass()" [selected]="selectedDate"
                        (selectedChange)="onSelect($event)">
                      </mat-calendar>
                    </div>

                    <div class="text-center">
                      <a routerLink="/plan-calendar">View Full Calendar</a>
                    </div>

                  </div>
                  <div class="columns medium-6">
                    <ng-container
                      *ngIf="!isCalendarLoading && (selectedUserOccupationPlanCalendar && selectedUserOccupationPlanCalendar?.length == 1)">

                      <div class="calendar_meeting_details">
                        <div>
                          <p class="meeting_date">{{selectedUserOccupationPlanCalendar[0].date}}</p>
                          <p><strong>{{selectedUserOccupationPlanCalendar[0].title}}</strong></p>
                          <p class="mb_0">{{getRemainingTasksForCalendar(selectedUserOccupationPlanCalendar[0])}} Tasks
                            remaining</p>
                          <div class="task-progressbar">
                            <mat-progress-bar mode="determinate"
                              [value]="getProgressBarValueForCalendar(selectedUserOccupationPlanCalendar[0])">
                            </mat-progress-bar>
                          </div>
                          <form>
                            <div class="form-group"
                              *ngFor="let task of selectedUserOccupationPlanCalendar[0].tasks | filter:'completed':false; let i = index; ">
                              <div class="checkbox-tick">
                                <input class="styled-checkbox" type="checkbox"
                                  id="task{{selectedUserOccupationPlanCalendar[0].id}}{{i}}"
                                  (change)="setTaskComplete(task, $event )">
                                <label class="styled-checkbox-label"
                                  for="task{{selectedUserOccupationPlanCalendar[0].id}}{{i}}"></label>
                                <span><strong>{{convertTaskName(task.taskName)}}</strong></span>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                      <div class="calendar_edit">
                        <a (click)="editDate(selectedUserOccupationPlanCalendar[0])"><i class="fas fa-edit"></i></a>
                      </div>
                    </ng-container>

                    <ng-container
                      *ngIf="!isCalendarLoading && (selectedUserOccupationPlanCalendar && selectedUserOccupationPlanCalendar?.length > 1)">

                      <div class="multi-calendar-items-wrapper">
                        <div
                          *ngFor="let calendar of selectedUserOccupationPlanCalendar | slice:(currentPage-1)*3:((currentPage-1) * 3) + 3">
                          <div class="meeting_date">{{calendar.date}}</div>
                          <div>{{calendar.title}}</div>
                          <div>
                            <a routerLink="/plan-calendar">View Assigned Tasks</a>
                          </div>
                          <br />
                        </div>
                      </div>
                      <div class="text-center multi-calendar-items">
                        <ng-container *ngIf="selectedUserOccupationPlanCalendar.length > 3">
                          <button type="button" [ngClass]="currentPage == 1 ? 'current' : 'not-current'"
                            (click)="currentPage = 1"><i class="fa fa-circle"></i></button>
                          <button type="button" [ngClass]="currentPage == 2 ? 'current' : 'not-current'"
                            (click)="currentPage = 2">
                            <i class="fa fa-circle"></i>
                          </button>Portfolio Builder
                          <button [ngClass]="currentPage == 3 ? 'current' : 'not-current'"
                            *ngIf="selectedUserOccupationPlanCalendar.length > 6" type="button"
                            (click)="currentPage = 3"><i class="fa fa-circle"></i></button>
                        </ng-container>
                      </div>
                    </ng-container>

                    <!-- <ng-container
                      *ngIf="!isCalendarLoading && ( (!selectedUserOccupationPlanCalendar) || selectedUserOccupationPlanCalendar?.length == 0)">
                      <div class="calendar_meeting_details">
                        <p>
                          No Tasks exist for date.
                        </p>
                      </div>
                    </ng-container> -->

                    <ng-container *ngIf="isCalendarLoading">
                      <div class="row">
                        <div class="small-12 column text-center" style="margin-top:50px;">
                          <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
                          Loading...
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <h3>Additional Activities</h3>
          <!-- classroom activities -->
          <div class="row">
            <div class="medium-12 columns">
              <h2>Classroom Activities</h2>
              <p>Integrate career exploration into any curriculum. Connect your classroom to the real world.</p>
            </div>
          </div>
          <!-- Category select box -->
          <div class="row">
            <div class="medium-12 columns">
              <div class="filter-category">
                <p class="category-title">Filter by category</p>
                <div class="form_select">
                  <select name="categorySelect" id="categorySelect" [(ngModel)]="activeCategory.categoryId"
                  (change)="onCategoryChange(activeCategory.categoryId)">
                  <option value="">Select</option>
                  <option *ngFor="let category of activityCategories" [ngValue]="category.id">
                    {{category.title}}
                  </option>
                </select>
                </div>
                
              </div>
            </div>
          </div>
          <!-- Activities - Category item -->

          <!-- carousel for classroom activities -->
          <ng-container>
            <div class="career_plan_inner with-slick career_plan_bottom_slider mt-25" id="with-slick">

              <ngx-slick-carousel [config]="cardCarouselConfig">

                <span ngxSlickItem class="career_plan_item" *ngFor="let activity of classroomActivitiesFiltered">
                  <div class="category-item" [ngClass]="{'completed' : !getIsActivityCompleted(activity.submissions)}">
                    <h3 class="category-title">{{activity.title}}</h3>
                    <p>{{activity.shortDescription}}</p>
                    <p>{{getSubmissionStatus(activity.submissions)}}</p>
                    <div class="plan_item_footer">
                      <a matTooltip="View Activity" class="btn classroom-student d-flex align-items-center" (click)="classroomActivitiesDialog(activity)">
                        <i class="fa fa-list-ul"></i>
                      </a>
                      <a (click)="showNotification()" class="message_count_link" *ngIf="activity.numOfUnreadMessages > 0">
                        <span class="message_count">{{activity.numOfUnreadMessages}}</span>
                      </a>
                      <span *ngIf="getIsActivityCompleted(activity.submissions)">
                        Completed&nbsp;&nbsp;
                        <i class="fas fa-check" style="color:gray;"></i>
                      </span>
                    </div>
                  </div>
                </span>

              </ngx-slick-carousel>
            </div>
          </ng-container>
        </div>

        <!-- <div class="view_plan_bottom">
          <app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
        </div> -->
      </section>
    </div>
  </section>

  <app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
  <app-footer></app-footer>
</div>


<!-- <div id="portfolio" class="occufind">
  <app-header></app-header>
  <section class="hide-for-small-only" id="banner">
    <div class="row">
      <div class="small-7 columns">
        <ul id="sub-nav" class="menu">
          <li><a href="media-center-article-list/5">Tutorials</a></li>
          <li><a href="general-help">Help</a></li>
        </ul>
      </div>
      <div class="small-5 columns">
        <p class="caps">My ASVAB CEP</p>
      </div>
    </div>
  </section>

  <section id="content-wrap" class="left-nav-expanded-wrap explore">
    <div class="row">
      <app-left-navigation-v2-expanded class="mobile-hide" [selectedTab]="'plan'" (menuCollapsed)="onLeftNavCollapsed($event)"></app-left-navigation-v2-expanded>
      <section *ngIf="leftNavCollapsed" id="main-content" class="left-navigation-expanded" role="main">
        <app-my-top-results-collapsed class="mobile-hide" [collapsedVersion]="'v1'"></app-my-top-results-collapsed>
       
        Plan your future content
        <p>
          <a routerLink="/create-plan">Create New Plan >>> </a>
        </p>
        <p>
          <a routerLink="/view-plan">View Plan >>> </a>
        </p>
        <p>
          <a routerLink="/plan-resume">Resume Builder >>> </a>
        </p>
        <p>
          <a routerLink="/plan-calendar">Full Calendar >>> </a>
        </p>
        <p>
          <a routerLink="/view-plan">View Plan >>> </a>
        </p>

        <app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
      </section>
    </div>
  </section>

  <app-footer></app-footer>
</div> -->