.mb_0 {
  margin-bottom: 0;
}
.mb_15 {
  margin-bottom: 15px !important;
}
.mobile-hide {
  @media (max-width: 639px) {
      display: none;
  }
}
.occufind #content-wrap h3 {
  font-size: 14px;
  line-height: 19px;
  color: #4A4A4A;
  background-color: #EEEEEE;
  text-transform: inherit;
  padding: 6px 10px;
  margin-bottom: 20px;
        
    &.category-title {
        background: transparent;
        font-weight: normal;
        color: inherit;
    }
}

.skills-interests-career {
    margin: 20px 9px;
    padding: 10px 18px;
}

.career_plan {
//   margin-bottom: 30px;


.career_plan_inner.with-slick {
    max-width: 700px;
    width: 100%;
    // padding-left:15px;
    // padding-right:15px;

    .slick-prev {
        left: -15px !important;
    }
    
    .slick-next {
        right: -15px !important;
    }
    
    .slick-list {
        margin-left: 0;
        margin-right: 0;
    }
    
    @media (max-width: 1023.98px) {
        max-width: 530px;
        margin: 0 auto;
    }

    @media (min-width: 640px) and (max-width: 767.98px) {
        max-width: 380px;
    }

    @media (max-width: 639px) {
        max-width: 360px;
        margin: 0 auto;
    }

    ngx-slick-carousel:not(.slick-initialized) {
        display: flex;
    }
  }
  

  .career_plan_item {
        max-width: calc(33.33% - 18px);
        width: 100%;
        min-height: 278px;
        // flex-basis: 33.33%;
        // display: inline-block;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        vertical-align: top;
        border: 1px solid #B8B8B8;
        margin: 0 9px 20px;

        &.no_career_plan {
            border: 2px dashed #B8B8B8 !important;
        }

        &.add_career_plan {
            background-color: rgba(76, 68, 172, 0.1);
            position: relative;

            a {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                white-space: nowrap;
                text-transform: uppercase;
                height: 100%;
                width: 100%;
                font-size: 16px;

                svg {
                    font-size: 50px;
                    display: block;
                    margin-top: 25px;
                }
            }

            &.disabled {
                pointer-events: none;
                background-color: rgba(177,177,177,0.1);
                border: none;
                a {
                    color: #D4D4D4;
                }
            }
        }

      p {
          line-height: 19px;
          color: #4A4A4A;
          margin-bottom: 0;

          &.disabled {
              color: #727272;
          }
      }

      .career_plan_item_title {
          background-color: #E4F4F4;
          padding: 11px;
      }

      .career_plan_content {
          padding: 12px 15px 20px;
          margin-bottom: auto;

          ul {
              margin: 0 0 15px;

              li {
                  display: inline-block;

                  + li {
                      margin-left: 5px;
                  }

                  &:before {
                      display: none;
                  }

                   img {
                    display: inline-block;
                    width: auto;
                }
              }
          }
      }
  }
}


.plan_item_footer {
  border-top: 1px solid #979797;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 34px;
    
    a {
        margin-right: 15px;
        &:last-child {
            margin-right: auto;
        }
    }

  .message_count_link .message_count {
    display: block;
    background-image: url('/assets/images/dashboard/message_icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 20px;
    min-height: 20px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-left: 6px;

    @media (max-width: 639px) {
        font-weight: bold;
        min-height: 23px;
        min-width: 22px;
        margin-left: 0;
    }
}
}

.career_plan_item {
    .plan_item_footer {
        a:last-child {
            margin-left: -10px;
        }
    }
}


.task-progressbar {
  margin: 5px 0 10px;
}

.resume_calender_wrapper {
  display: flex;

  @media (max-width: 639px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (min-width: 640px) and (max-width: 991.98px) {
      .medium-4 {
          width: 60%;
      }
      .medium-8 {
          width: 100%;
      }
  }

  @media (min-width: 640px) and (max-width: 767.98px) {
    flex-wrap: wrap;
    }
}

.resume_builder {
  flex-basis: 32.33%;
  width: 100%;
//   display: inline-block;
  display: flex;
  flex-direction: column;
  vertical-align: top;
  border: 1px solid #B8B8B8;
  margin: 0 9px 20px;

    @media (min-width: 640px) and (max-width: 767.98px) {
            flex-basis: 100%;
    }

  @media (max-width: 639px) {
        flex-basis: inherit;
        max-width: 400px;
        width: 100%;
    }

  .box_title {
      h3 {
          margin-bottom: 0 !important;
      }
  }

  .resume_builder_content {
      min-height: 217px;
      padding: 12px 15px 20px;
      margin-bottom: auto;
  }
}

.calender_box {
  width: 100%;
  flex-basis: 66.66%;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #B8B8B8;
  margin: 0 9px 20px;

  @media (min-width: 640px) and (max-width: 767.98px) {
        flex-basis: 100%;
    }

  @media (max-width: 639px) {
    flex-basis: inherit;
    max-width: 400px;
    width: 100%;
  }

  .box_title {
      h3 {
          margin-bottom: 0 !important;
      }
  }

  .calendar_content {
      padding: 12px 15px 5px;
  }

  p {

      &.meeting_date {
          font-size: 13px;
          font-weight: bold;
          color: #2DA2A7;
          margin-bottom: 0;
      }
  }

  .calendar_meeting_details {
      height: 210px;
      overflow: auto;

      @media (max-width: 639px) {
          height: inherit;
          min-height: 210px;
          margin-top: 30px;
      }

      .form-group {
          margin-bottom: 5px;

          .checkbox-tick {
              display: flex;
              align-items: center;

              span {
                  margin-left: 10px;
              }
          }
      }
  }

  .calendar_edit {
      text-align: right;

      a {
          font-size: 16px;
      }
  }

  .task-progressbar {
      margin-bottom: 20px;
  }

}

.additional_activities {

  .form-group {

      label {
          display: inline-block;
          font-weight: bold;
          color: #4A4A4A;
          margin-right: 20px;
          margin-bottom: 10px;
      }

      select {
          height: 30px;
          width: 100%;
          border-radius: 3px;
          border-color: #C3D2DA;
          color: #C3D2DA;
          background-color: #fff;
          display: inline-block;
          margin-bottom: 30px;
          margin-left: 20px;
      }

      .form_select {
          position: relative;
          max-width: 462px;
          width: 100%;
          display: inline-block;

          &:after {
              width: 0;
              height: 0;
              border-left: 6px solid transparent;
              border-right: 6px solid transparent;
              border-top: 6px solid #C3D2DA;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 10px;
              content: "";
              z-index: 98;
              pointer-events: none;
          }

          select {
              margin: 0;
              -moz-appearance:none; /* Firefox */
              -webkit-appearance:none; /* Safari and Chrome */
              appearance:none;
              background-image: none;
              color: #C3D2DA;
          }

          select::-ms-expand {
              display: none;
          }
      }
  }

  .additional_activities_item_wrapper {
    margin-top: 20px;

        @media (max-width: 639px) {
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
        }

        .additional_activities_card {
            display: flex;
            flex-direction: column;
            flex: 1;
            border: 1px solid #B8B8B8;
            margin-right: 15px;

                @media (max-width: 639px) {
                    max-width: 400px;
                    width: 100%;
                    flex: inherit;
                    margin: 0 0 20px;
                }
        }

      .additional_activities_item {
          min-height: 178px;
          display: inline-block;
          vertical-align: top;
          width: 100%;
          padding: 11px 15px;
          background-color: rgba(76, 68, 172, 0.08);
          margin-bottom: auto;

        //   &:nth-child(2n+1) {
        //       background-color: rgba(76, 68, 172, 0.08);
        //   }

          p {
              margin-bottom: 0;
              color: #4A4A4A;
          }
      }
  }
}

// Progress-bar
.circular-progress-bar {
  position: relative;
  border: 5px solid #fff;
  border-radius: 50%;
  height: 58px;
  width: 58px;
  pointer-events: none;

  &.no-percentage {
      background-color: #fff;
      border-color: #D7D7D7;
      padding: 5px;

      .arcs {
          .outer-circle {
              fill: #fff;
          }
          .inner-circle {
              fill: #fff;
          }
      }
  }

  svg {
      width: 38px;
      height: 38px;
  }

  .percentage_number {
      position: absolute;
      top: 50%;
      transform: translate(-50%,-50%);
      left: 50%;
      font-size: 12px;
      font-weight: bold;
      color: #000000;

      span {
          font-size: 12px !important;
      }
  }

  .arcs {
      .outer-circle {
          fill: #eee;
      }
      .outer-arc {
          fill: #19A5AD;
      }
      .inner-circle {
          fill: #eee;
      }
      .inner-arc {
          fill: none;
      }
  }
}

.no-percentage {
  .percentage_number {
      display: none;
  }
  .inner-circle {
      display: none;
  }
  .inner-arc {
      display: none;
  }
}

.view_plan_bottom {
  margin: 0 -15px;
  overflow: hidden;
}

// For date that is currently selected
// .current-selected-date {
//     background-color: #19A5AD !important;
//   }

//   ::ng-deep.current-selected-date {
//     background-color: #19A5AD;
//     color:white;

//     .mat-calendar-body-cell-content {
//         color:white;
//     }
//  }

::ng-deep .mat-calendar-table {

    thead th {
        padding: 0;
    }

    .mat-calendar-table-header-divider {
        display: none;
    }

    .mat-calendar-body-selected {
        background-color: #19A5AD !important;
        color: white !important;
    }
}

 //for date that has a calendar date
 .selected-date {
    background-color: #EEEDF6 !important;
    border-radius: 0 !important;

  }

  ::ng-deep.selected-date {
    background-color:  #EEEDF6;
    color:#4c44ac;

    .mat-calendar-body-cell-content {
        color:#4c44ac;
        font-weight: bold;
    border-radius: 0 !important;

    }
 }


 .meeting_date {
    font-size: 13px;
    font-weight: bold;
    color: #2DA2A7;
    margin-bottom: 0;
}

 table.mat-calendar-table{
    tbody tr{
        background-color: white !important;
    }
 }

 .slick-prev::before, .slick-next::before{
    height:25px !important;
    content: "<" !important;
    color: red !important;
    font-size: 30px !important;
    background: none !important;
 }


 .slick-prev:before {
    content: "<";
    color: red;
    font-size: 30px;
  }
  
  .slick-next:before {
    content: ">";
    color: red;
    font-size: 30px;
  }


  .multi-calendar-items{

    svg{
        margin-left:5px;
        margin-right:5px;
    }

    .current{
        color:#8c9798;
    }

    .not-current{
        color:#dee2e3;
    }
  }

  .multi-calendar-items-wrapper{
      min-height: 265px;
      max-height: 265px;
  }

  .message_count_link {
    margin-right: 20px;

    .message_count {
        display: inline-block;
        background-image: url('/assets/images/dashboard/message_icon.svg');
        background-size: cover;
        background-repeat: no-repeat;
        min-width: 20px;
        min-height: 20px;
        font-size: 13px;
        font-weight: bold;
        color: #fff;
        text-align: center;
    }
}
.category-item{
    background-color: #fff;
}

.category-item.completed{
    background-color: white;
}

.career_plan_bottom_slider {
    max-width: 708px;
    width: 100%;

    @media (max-width: 991.98px) {
        margin: 0 auto;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        max-width: 500px;
    }

    @media (min-width: 640px) and (max-width: 767.98px) {
        max-width: 380px;
    }

    .career_plan_item {
        border: 1px solid #B8B8B8;
        
        p {
            padding-left: 10px;
            padding-right: 10px;
        }

        .message_count_link {
            margin-right: auto;
        }

        svg {
            font-size: 15px;
            margin-right: 10px;
        }
            
        /*&:nth-child(odd) {*/
            .completed {
                background-color: rgba(76,68,172,0.1);
            }
        /*}*/
    }

    ::ng-deep .slick-list {
        display: flex;
        padding: 0 15px;

        .slick-track {
            display: flex;

            > span {
                height: 100%;
            }

            .category-item {
                display: flex;
                flex-direction: column;
                height: 100%;

                p:empty {
                    display: none;
                }

                > div {
                    margin-top: auto;
                }
            }
        }
    }
}

// Only for mobile design (Desgined by client)
::ng-deep .category-wrapper {

    .category-item {
        border: 1px solid #B8B8B8;
        
        p {
            padding-left: 10px;
            padding-right: 10px;
        }

        .message_count_link {
            margin-right: auto;
        }

        svg {
            font-size: 15px;
            margin-right: 10px;
        }
    }
}
// Only for mobile design (Desgined by client) over

.filter-category {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .category-title {
        margin-right: 40px;
        margin-bottom: 0;
    }
}

.form_select {
    position: relative;
    max-width: 462px;
    width: 100%;

    &:after {
        width: 0; 
        height: 0; 
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #C3D2DA;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        content: "";
        z-index: 1;
        pointer-events: none;
    }

    select {
        margin: 0;
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
        appearance:none;                  
        background-image: none;
        background-color: #fff;
        font-size: 14px;
        width: 100%;
        height: 27px;
    }

    select::-ms-expand {
        display: none;
    }
}
