<div *ngIf="isLoading">
  <div class="row">
    <div class="small-12 column text-center">
      <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
      Generating Report...
    </div>
  </div>
</div>

<!-- For Printing -->
<div #printMe id="printMe" style="position: absolute; opacity: 0; pointer-events:none;" *ngIf="scoreSummaryStudent">
  <div #asr id="asr" class="asr" style="background-color: white">
      <div class="print-box">
          <div class="print-header">
              <div class="print-header-info">
                  <strong>Student: {{studentName}}</strong>
                  <p> {{educationLevelGr}} {{genderFull}} </p>
                  <p>Test Date: {{testMonth}} {{testDay}} , {{testYear}} <br>
                      {{_utilityService.capitalizeFirstLetter(testSchool.name)}} <br>
                      {{_utilityService.capitalizeFirstLetter(testSchool.city)}} &nbsp; {{testSchool.state}}
                  </p>
              </div>
              <div class="print-header-title">
                  <h2><span>ASVAB</span> Summary Results</h2>
              </div>
          </div>
          <div class="print-content">
              <div class="print-content-main">
                  <div class="print-content-results">
                      <div class="print-content-row">
                          <div class="print-content-col print-content-col-1">
                              <div class="print-content-col-head">
                                  <h3>ASVAB&nbsp;Results</h3>
                              </div>
                              <h5>Career&nbsp;Exploration&nbsp;Scores</h5>
                              <ul>
                                  <li>Verbal&nbsp;Skills</li>
                                  <li>Math&nbsp;Skills</li>
                                  <li>Science&nbsp;and&nbsp;Technical&nbsp;Skills</li>
                              </ul>
                              <h5>ASVAB Tests <span class="print-dashed">
                                  </span></h5>
                              <ul>
                                  <li>General&nbsp;Science</li>
                                  <li>Arithmetic&nbsp;Reasoning</li>
                                  <li>Word&nbsp;Knowledge</li>
                                  <li>Paragraph&nbsp;Comprehension</li>
                                  <li>Mathematics&nbsp;Knowledge</li>
                                  <li>Electronics&nbsp;Information</li>
                                  <li>Auto&nbsp;and&nbsp;Shop&nbsp;Information</li>
                                  <li>Mechanical&nbsp;Comprehension</li>
                              </ul>
                              <h5>Military&nbsp;Entrance&nbsp;Score&nbsp;(AFQT)&nbsp;&nbsp;{{getScore('afqt')}}</h5>
                          </div>
                          <div class="print-content-col print-content-col-2">
                              <div class="print-content-col-head">
                                  <h5>Percentile&nbsp;Scores</h5>
                                  <div class="print-content-col-scores-wrap">
                                      <div class="print-content-col-scores col-1">
                                          <h6> {{educationLevel}}th Grade Males</h6>
                                      </div>
                                      <div class="print-content-col-scores col-2">
                                          <h6> {{educationLevel}}th Grade Females</h6>
                                      </div>
                                      <div class="print-content-col-scores col-3">
                                          <h6> {{educationLevel}}th Grade Students</h6>
                                      </div>
                                  </div>
                              </div>
                              <div class="print-content-col-scores-wrap">
                                  <div class="print-content-col-scores col-1">
                                      <h5>&nbsp;</h5>
                                      <ul>
                                          <li> {{cesData2_1[0].data[1]}} </li>
                                          <li> {{cesData2_2[0].data[1]}} </li>
                                          <li> {{cesData2_3[0].data[1]}} </li>
                                      </ul>
                                      <h5>&nbsp;</h5>
                                      <ul>
                                          <li> {{asvabData2_1[0].data[1]}} </li>
                                          <li> {{asvabData2_2[0].data[1]}} </li>
                                          <li> {{asvabData2_3[0].data[1]}} </li>
                                          <li> {{asvabData2_4[0].data[1]}} </li>
                                          <li> {{asvabData2_5[0].data[1]}} </li>
                                          <li> {{asvabData2_6[0].data[1]}} </li>
                                          <li> {{asvabData2_7[0].data[1]}} </li>
                                          <li> {{asvabData2_8[0].data[1]}} </li>
                                      </ul>
                                      <h5>&nbsp;</h5>
                                  </div>
                                  <div class="print-content-col-scores col-2">
                                      <h5>&nbsp;</h5>
                                      <ul>
                                          <li> {{cesData2_1[0].data[0]}} </li>
                                          <li> {{cesData2_2[0].data[0]}} </li>
                                          <li> {{cesData2_3[0].data[0]}} </li>
                                      </ul>
                                      <h5>&nbsp;</h5>
                                      <ul>
                                          <li> {{asvabData2_1[0].data[0]}} </li>
                                          <li> {{asvabData2_2[0].data[0]}} </li>
                                          <li> {{asvabData2_3[0].data[0]}} </li>
                                          <li> {{asvabData2_4[0].data[0]}} </li>
                                          <li> {{asvabData2_5[0].data[0]}} </li>
                                          <li> {{asvabData2_6[0].data[0]}} </li>
                                          <li> {{asvabData2_7[0].data[0]}} </li>
                                          <li> {{asvabData2_8[0].data[0]}} </li>
                                      </ul>
                                      <h5>&nbsp;</h5>
                                  </div>
                                  <div class="print-content-col-scores col-3">
                                      <h5>&nbsp;</h5>
                                      <ul>
                                          <li> {{cesData2_1[0].data[2]}} </li>
                                          <li> {{cesData2_2[0].data[2]}} </li>
                                          <li> {{cesData2_3[0].data[2]}} </li>
                                      </ul>
                                      <h5>&nbsp;</h5>
                                      <ul>
                                          <li> {{asvabData2_1[0].data[2]}} </li>
                                          <li> {{asvabData2_2[0].data[2]}} </li>
                                          <li> {{asvabData2_3[0].data[2]}} </li>
                                          <li> {{asvabData2_4[0].data[2]}} </li>
                                          <li> {{asvabData2_5[0].data[2]}} </li>
                                          <li> {{asvabData2_6[0].data[2]}} </li>
                                          <li> {{asvabData2_7[0].data[2]}} </li>
                                          <li> {{asvabData2_8[0].data[2]}} </li>
                                      </ul>
                                      <h5>&nbsp;</h5>
                                  </div>
                              </div>
                          </div>
                          <div class="print-content-col print-content-col-3">
                              <div class="print-content-col-head">
                                  <h4> {{educationLevel}}th Grade Standard Score Bands</h4>
                              </div>
                              <div class="print-content-col-bands">
                                  <div class="print-content-col-range top">
                                      <ul>
                                          <li></li>
                                          <li>20</li>
                                          <li>30</li>
                                          <li>40</li>
                                          <li>50</li>
                                          <li>60</li>
                                          <li>70</li>
                                          <li>80</li>
                                          <li></li>
                                      </ul>
                                  </div>
                                  <div class="print-content-col-range top">
                                      <ul>
                                          <span class="verticle-class"></span>
                                          <span class="verticle-class"></span>
                                          <span class="verticle-class"></span>
                                          <span class="verticle-class"></span>
                                          <span class="verticle-class"></span>
                                          <span class="verticle-class"></span>
                                          <span class="verticle-class"></span>
                                      </ul>
                                  </div>
                                  <h5>&nbsp;</h5>
                                  <ul>
                                      <li><span [ngStyle]="{'left': scoreInterpolation(cesData1[0])}">X</span>
                                      </li>
                                      <li><span [ngStyle]="{'left': scoreInterpolation(cesData1[1])}">X</span>
                                      </li>
                                      <li><span [ngStyle]="{'left': scoreInterpolation(cesData1[2])}">X</span>
                                      </li>
                                  </ul>
                                  <h5>&nbsp;</h5>
                                  <ul>
                                      <li><span [ngStyle]="{'left': scoreInterpolation(asvabData1[0])}">X</span>
                                      </li>
                                      <li><span [ngStyle]="{'left': scoreInterpolation(asvabData1[1])}">X</span>
                                      </li>
                                      <li><span [ngStyle]="{'left': scoreInterpolation(asvabData1[2])}">X</span>
                                      </li>
                                      <li><span [ngStyle]="{'left': scoreInterpolation(asvabData1[3])}">X</span>
                                      </li>
                                      <li><span [ngStyle]="{'left': scoreInterpolation(asvabData1[4])}">X</span>
                                      </li>
                                      <li><span [ngStyle]="{'left': scoreInterpolation(asvabData1[5])}">X</span>
                                      </li>
                                      <li><span [ngStyle]="{'left': scoreInterpolation(asvabData1[6])}">X</span>
                                      </li>
                                      <li><span [ngStyle]="{'left': scoreInterpolation(asvabData1[7])}">X</span>
                                      </li>
                                  </ul>
                                  <h5>&nbsp;</h5>
                                  <div class="print-content-col-range bottom">
                                      <ul>
                                          <li></li>
                                          <li>20</li>
                                          <li>30</li>
                                          <li>40</li>
                                          <li>50</li>
                                          <li>60</li>
                                          <li>70</li>
                                          <li>80</li>
                                          <li></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="print-content-col print-content-col-4">
                              <div class="print-content-col-head">
                                  <h6> {{educationLevel}}th Grade Standard Score</h6>
                              </div>
                              <h5>&nbsp;</h5>
                              <ul>
                                  <li> {{cesData1[0]}} </li>
                                  <li> {{cesData1[1]}} </li>
                                  <li> {{cesData1[2]}} </li>
                              </ul>
                              <h5>&nbsp;</h5>
                              <ul>
                                  <li> {{asvabData1[0]}} </li>
                                  <li> {{asvabData1[1]}} </li>
                                  <li> {{asvabData1[2]}} </li>
                                  <li> {{asvabData1[3]}} </li>
                                  <li> {{asvabData1[4]}} </li>
                                  <li> {{asvabData1[5]}} </li>
                                  <li> {{asvabData1[6]}} </li>
                                  <li> {{asvabData1[7]}} </li>
                              </ul>
                              <h5>&nbsp;</h5>
                          </div>
                      </div>
                  </div>
                  <div class="print-content-widget">
                      <h5 class="print-content-title">Explanation Of Your <br>ASVAB Percentile Scores</h5>
                      <p class="print-content-text">Your ASVAB results are reported as percentile scores in the
                          three
                          highlighted
                          columns to the left of the graph. Percentile scores show how you compare to other
                          students -
                          males and
                          females, and for all students - in your grade. For example, a percentile score of 65
                          for an
                          11th grade
                          female would mean she scored the same or better than 65 out of every 100 females in the
                          11th
                          grade.</p>
                      <p class="print-content-text">For purposes of career planning, knowing your relative
                          standing in
                          these
                          comparison groups is important.Being male or female does not limit your career or
                          educational choices.
                          There are noticeable differences in how men and women score in some areas. Viewing your
                          scores in light of
                          your relative standing both to men and women may encourage you to explore areas that you
                          might otherwise
                          overlook.</p>
                      <p class="print-content-text">You can use the <strong>Career Exploration Scores</strong> to
                          evaluate your
                          knowledge and skills in three general areas (Verbal, Math, and Science and Technical
                          Skills). You can use
                          the <strong>ASVAB Test Scores</strong> to gather information on specific skill areas.
                          <i>Together, these
                              scores provide a snapshot of your current knowledge and skills.</i> This information
                          will help you
                          develop and review your career goals and plans.
                      </p>
                      <h5 class="print-content-title">Explanation Of Your <br>ASVAB Standard Scores</h5>
                      <p class="print-content-text">Your ASVAB results are reported as standard scores in the
                          above
                          graph.Your
                          score on each test is identified by the "<strong>X</strong>" in the corresponding bar
                          graph.
                          You should
                          view these scores as estimates of your true skill level in that area. If you took the
                          test
                          again, you
                          probably would receive a somewhat different score. Many things, such as how you were
                          feeling
                          during
                          testing, contribute to this difference. This difference is shown with gray score bands
                          in
                          the graph of
                          your results. Your standard scores are based on the ASVAB tests and composites based
                          on your
                          grade level.
                      </p>
                      <p class="print-content-text">The score bands provide a way to identify some of your
                          strengths.
                          Overlapping
                          score bands mean your true skill level is similar in both areas, so the real difference
                          between specific
                          scores might not be meaningful. If the score bands do not overlap, you probably are
                          stronger
                          in the area
                          that has the higher score band.</p>
                      <p class="print-content-text">The ASVAB is an aptitude test. It is neither an absolute
                          measure
                          of your
                          skills and abilities nor a perfect predictor of your success or failure. A high score
                          does
                          not guarantee
                          success, and a low score does not guarantee failure, in a future educational program or
                          occupation. For
                          example, if you have never worked with shop equipment or cars, you may not be familiar
                          with
                          the terms and
                          concepts assessed by the Auto and Shop Information test. Taking a course or obtaining a
                          part-time job in
                          this area would increase your knowledge and improve your score if you were to take it
                          again.
                      </p>
                      <h5 class="print-content-title">Using ASVAB Results in <br>Career Exploration</h5>
                      <p class="print-content-text">Your career and educational plans may change over time as you
                          gain
                          more
                          experience and learn more about your interests. <i>Exploring Careers: The ASVAB Career
                              Exploration
                              Guide</i> can help you learn more about yourself and the world of work,to identify
                          and
                          explore potential
                          goals, and develop an effective strategy to realize your goals. The Guide will help you
                          identify occupations in line with your interests and skills. As you explore potentially satisfying
                          careers,
                          you will
                          develop your career exploration and planning skills.</p>
                      <p class="print-content-text">Meanwhile, your ASVAB results can help you in making
                          well-informed
                          choices
                          about future high school courses.</p>
                      <p class="print-content-text">We encourage you to discuss your ASVAB results with a
                          teacher,
                          counselor,
                          parent, family member or other interested adult. These individuals can help you to view
                          your
                          ASVAB results
                          in light of other important information, such as your interests, school grades,
                          motivation,
                          and personal
                          goals.</p>
                  </div>
              </div>
              <div class="print-content-sidebar">
                  <div class="print-content-sidebar-top">
                      <div class="print-content-sidebar-widget">
                          <h5 class="print-content-title">Use Of Information</h5>
                          <p class="print-content-text">Personal identity information (name, social security
                              number,
                              street
                              address, and telephone number) and test scores will not be released to any agency
                              outside
                              of the
                              Department of Defense (DoD), the Armed Forces, the Coast Guard, and your school.
                              Your
                              school or local
                              school system can determine any further release of information. The DoD will use
                              your
                              scores for
                              recruiting and research purposes for up to two years.After that the information will
                              beused by the DoD
                              for research purposes only.</p>
                      </div>
                      <div class="print-content-sidebar-widget">
                          <h5 class="print-content-title">Military <br>Entrance&nbspScores</h5>
                          <p class="print-content-text">The <strong>Military Entrance Score</strong> (also called
                              AFQT, which stands
                              for the Armed Forces Qualification Test) is the score used to determine your
                              qualifications for entry
                              into any branch of the United States Armed Forces or the Coast Guard. The
                              <strong>Military Entrance
                                  Score</strong> predicts in a general way how well you might do in training and
                              on
                              the job in military
                              occupations.Your score reflects your standing compared to American men and women
                              18 to
                              23 years of
                              age.
                          </p>
                      </div>
                  </div>
                  <div class="print-content-sidebar-bottom">
                      <p style="padding-right: 10px">Use Access Code: {{scoreSummaryStudent?.accessCodes?.accessCode}}
                      </p>
                      <p>(for online Occu-Find and FYI)</p>
                      <p style="padding-right: 10px">Access code expires: <br/>
                          {{getAbbrMonth(accessCodeExpiration.getMonth()+1)}}
                          {{accessCodeExpiration.getDate()}}&nbsp;,&nbsp;{{accessCodeExpiration.getFullYear()}} </p>
                      <div class="print-access">Explore career possibilities by using your Access Code at</div>
                      <div class="print-site-link"><i><a
                                  href="//www.asvabprogram.com">www.asvabprogram.com</a></i>
                      </div>
                      <div class="print-information"><i>See Your Counselor For Further Information</i></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="print-footer">Dd Form 1304-5, Jul 05 - Previous Editions Of This Form Are Obsolete</div>
  </div>
</div>