<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeMe()"><span
      aria-hidden="true">&times;</span></button>
  <h3 class="modal-title">Recent Notifications</h3>
</div>
<div class="modal-body" *ngIf="!isDirectMessageItemLoading && !isItemsLoading">

  <div class="row">
    <div class="small-6 column">
      You have {{unreadMessageLength()}} unread messages
    </div>
    <div class="small-6 column text-right">
      <a (click)="showNotificationSettings()">Notification Settings</a>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <h4 class="recent-messages">Messages</h4>
    </div>
  </div>
  <ul class="recent-messages">


    <!--START Unread Comments -->
    <ng-container *ngFor="let item of allMessagesList | orderBy: 'originalTimestamp' : 'desc'; let i = index;">
      <li *ngIf="!item.hasBeenRead && !item.isFromYou">
        <div class="row">
          <div class="small-1 column text-center">
            <i class="fas fa-comment message-color"></i>
          </div>
          <div class="small-8 column"><strong>
              <a (click)="closeGoToStudent(item)">{{item.from}}: {{(item.logType == 'Activity' || item.logType == 'Plan') ? item.title : item.logType == 'Portfolio' ?
                'Portfolio' : item.logType == 5 ? 'Direct Message' : ''}}</a>
            </strong>
          </div>
          <div class="small-3 column text-right">
            <span class="date-text">{{(item.logType == 'Activity' || item.logType == 'Plan') ? item.timestampUpdated : item.logType == 'Portfolio' ?
              item.timestamp : item.logType == 5 ? item.timestamp : ''}} </span>
          </div>
        </div>

        <!-- Comments -->
        <div class="row" *ngIf="item.typeId == 1 || item.logType == 5">
          <div class="small-11 small-offset-1 column">
            <p>
              <b>Comment: {{item.message}}</b>
            </p>
          </div>
        </div>

        <!-- Logs -->
        <div class="row" *ngIf="item.typeId == 2">
          <div class="small-11 small-offset-1 column">

            <p *ngIf="item.hasBeenReviewed">Reviewed <ng-container *ngIf="item.classroomActivityId">
                {{item.fileName}}</ng-container>&nbsp;on&nbsp;<span
                class="reviewed_msg_time">{{item.timestampUpdated}}</span></p>

            <p *ngIf="!item.hasBeenReviewed"><b>Ready for Review <ng-container *ngIf="item.classroomActivityId">
                  : {{item.fileName}}</ng-container></b>&nbsp;
              <a (click)="markAsReviewed(item)">Mark as reviewed</a>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="small-1 column text-center">
            <input type="checkbox" id="markAsRead{{i}}" [checked]="item.hasBeenRead"
              [disabled]="item.hasBeenRead && !item.isFromYou" (click)="markAsRead(item)">
          </div>
          <div class="small-4 column">
            <a *ngIf="!item.hasBeenRead && !item.isFromYou" (click)="markAsRead(item)">Mark as read</a>
          </div>
          <div class="small-4 small-offset-3 column text-right">
            <a (click)="item.showTextArea = !item.showTextArea">Add Comment</a>
          </div>
        </div>

        <!-- add comment -->
        <div class="row" *ngIf="item.showTextArea">
          <div class="small-12 column text-center">
            <form (ngSubmit)="addComment(item)">
              <textarea name="addComment" [(ngModel)]="item.addComment"></textarea>
              <button type="submit">submit</button>
            </form>
          </div>
        </div>
      </li>
    </ng-container>
    <!--END Unread Comments -->

    <!-- Start Show/Hide Read Messages -->
    <ng-container *ngIf="showReadItems">
      <ng-container *ngFor="let item of filterReadMessages() | orderBy: 'originalTimestamp' : 'desc'; let i = index;">
        <ng-container *ngIf="i < showReadMessagesMaxNum">
          <li *ngIf="item.hasBeenRead">
            <div class="row">
              <div class="small-1 column text-center">
                <!-- <i class="fas fa-comment message-color"></i> -->&nbsp;
              </div>
              <div class="small-6 column">
                <a (click)="closeGoToStudent(item)">{{item.from}}: {{(item.logType == 'Activity' || item.logType == 'Plan') ? item.title : item.logType == 'Portfolio' ?
                  'Portfolio' : item.logType == 5 ? 'Direct Message' : ''}}</a>
              </div>
              <div class="small-5 column text-right">
                <span class="date-text">{{(item.logType == 'Activity' || item.logType == 'Plan') ? item.timestampUpdated : item.logType ==
                  'Portfolio' ? item.timestamp : item.logType == 5 ? item.timestamp : ''}}</span>
              </div>
            </div>

            <!-- Comments -->
            <div class="row" *ngIf="item.typeId == 1 || item.logType == 5">
              <div class="small-11 small-offset-1 column">
                <p>
                  Comment: {{item.message}}
                </p>
              </div>
            </div>


            <!-- Logs -->
            <div class="row" *ngIf="item.typeId == 2">
              <div class="small-11 small-offset-1 column">

                <p *ngIf="item.hasBeenReviewed">Reviewed <ng-container *ngIf="item.classroomActivityId">
                    {{item.fileName}}</ng-container>&nbsp;on&nbsp;<span
                    class="reviewed_msg_time">{{item.timestampUpdated}}</span></p>

                <p *ngIf="!item.hasBeenReviewed"><b>Ready for Review <ng-container *ngIf="item.classroomActivityId">
                      : {{item.fileName}}</ng-container></b>&nbsp;
                  <a (click)="markAsReviewed(item)">Mark as reviewed</a>
                </p>
              </div>
            </div>


            <div class="row" *ngIf="!item.isFromYou">
              <div class="small-1 column text-center">
                <!-- <input type="checkbox" name="markAsRead" title="Mark as read" /> -->
                <input type="checkbox" id="markAsRead{{i}}{{f}}" [checked]="item.hasBeenRead"
                  [disabled]="item.hasBeenRead && !item.isFromYou" (click)="markAsRead(item)">
              </div>
              <div class="small-4 column">
                <a *ngIf="!item.hasBeenRead && !item.isFromYou" (click)="markAsRead(item)">Mark as
                  read</a>
                <a *ngIf="(item.hasBeenRead && !item.isFromYou)" class="disabled">Mark as read</a>
              </div>
              <div class="small-4 small-offset-3 column text-right">
                <a (click)="item.showTextArea = !item.showTextArea">Add Comment</a>
              </div>
            </div>

            <!-- add comment -->
            <div class="row" *ngIf="item.showTextArea">
              <div class="small-12 column text-center">
                <form (ngSubmit)="addComment(item)">
                  <textarea name="addComment" [(ngModel)]="item.addComment"></textarea>
                  <button type="submit">submit</button>
                </form>
              </div>
            </div>
          </li>
        </ng-container>
      </ng-container>
    </ng-container>
    <!-- END Show Read Messages -->

    <li>
      <div class="row">
        <div class="small-1 column text-center">
          <input type="checkbox" (click)="markAllAsRead()" name="markAsRead" title="Mark all as read" />
        </div>
        <div class="small-4 column">
          <a (click)="markAllAsRead()" title="Mark all as read">Mark all as read</a>
        </div>
        <div class="small-4 small-offset-3 column text-right">
          <a (click)="showReadItems = !showReadItems">
            <span *ngIf="!showReadItems ">Show read messages</span>
            <span *ngIf="showReadItems ">Hide read messages</span>
          </a>
          <br>
          <a (click)="showReadMessagesMaxNum = showReadMessagesMaxNum + 5"
            *ngIf="showReadItems && readMessageLength() >= showReadMessagesMaxNum">
            <span>Show More</span>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="modal-body" *ngIf="isDirectMessageItemLoading && isItemsLoading">
  <div class="row">
    <div class="small-12 column text-center">
      <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
      Loading...
    </div>
  </div>
</div>
<div class="modal-footer text-center">
  <button class="button" type="button" (click)="closeMe()">Close</button>
</div>