ul.recent-messages{
list-style-type: none !important;
    >li{
        list-style-type: none;
        position: static !important;
        border-bottom: 1px solid #3d4243;
        margin-bottom: 0 !important;
        padding-bottom: 0.5rem !important;
        p{
            margin-top:0.5rem !important;
            margin-bottom: 0.5rem !important;
        }

        &:last-child{
            border-bottom: none !important;
            background-color:#f4f3fa;
        }
        >.row{
            padding-top:0.5rem;
        }
    }

    .date-text, .remove-button{
        color:#3d4243;
    }

    .remove-button{
        font-size: 20px;
        line-height: 1;
    }
}

h4.recent-messages{
    margin-bottom: 10px;
    margin-top:10px;
    border-bottom: 1px solid black;
    padding:10px;
}

.modal-footer.text-center{
    text-align: center !important;

    >.button{
        margin: 0;
    }
}

.message-color{
    color: #423a88 !important;
}