<div id="fyi" class="occufind">
    <app-header></app-header>
	<app-my-asvab-header></app-my-asvab-header>
	
	<section id="content-wrap" class="left-nav-expanded-wrap">
		<div class="row">
				<app-left-navigation-v2-collapsed [selectedTab]="'learn'"></app-left-navigation-v2-collapsed>
			<section id="main-content" class="left-navigation-condensed" role="main">
				<app-my-top-results-collapsed [collapsedVersion]="'v2'"></app-my-top-results-collapsed>
                
                <div id="left-nav-content-wrap">

				<h2 class="text-capitalize">Find your Interests</h2>

			<div class="row">
					<div class="medium-8 columns medium-offset-2">
						<div class="row directions">
							<div class="medium-4 columns">
								Select <strong class="highlight">L</strong> for <strong>Like</strong>
								(I would like to do this activity.)
							</div>
							<div class="medium-4 columns">
								Select <strong class="highlight">I</strong> for <strong>Indifferent</strong>
								(I don't care one way or the other.)
							</div>
							<div class="medium-4 columns">
								Select <strong class="highlight">D</strong> for <strong>Dislike</strong>
								(I would not like to do this activity.)
							</div>
						</div>
					</div>
				</div>
				                				
				<p>Read each line carefully and select the appropriate letter for each activity. <strong>You must answer ALL questions. You may not go back to change your answers once you proceed to the next page. </strong></p>
				
				<div class="row">
					<section class="table-pagination">
                        <div class="medium-12 columns">90 Questions Total:</div>
                        <!-- <div class="medium-6 columns">
                        <uib-pagination total-items="200" ng-model="1" max-size="5" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-page="20" items-per-page="20" previous-text="<" next-text=">"></uib-pagination>
                        </div> -->
                        <div class="medium-12 columns"><hr/></div>
                    </section>
                    <form name="myForm" (ngSubmit)="submitAnswer()" ngNativeValidate>
                    <section id="fyi-test" class="medium-12 columns">
                        <table class="hover">
                        	<tbody>
                                <tr *ngFor="let question of questionList; let i = index;">
                                    <td class="num">{{question.slot}}.</td>
									<td [ngStyle]="{'color': question.answer === undefined && submitted ? 'red' : 'black'}">{{question.stem}}</td>
                                    <td class="highlight"><label>L <input type="radio" name="{{question.slot}}"
										[ngModel]="questionList[i].answer" value="2" (ngModelChange)='resetValidation(); saveFYIQustions($event, i)'></label></td>
                                    <td class="highlight"><label>I <input type="radio" name="{{question.slot}}"
										[ngModel]="questionList[i].answer" value="1" (ngModelChange)='resetValidation(); saveFYIQustions($event, i)'></label></td>
                                    <td class="highlight"><label>D <input type="radio" name="{{question.slot}}"
										[ngModel]="questionList[i].answer" value="0" (ngModelChange)='resetValidation(); saveFYIQustions($event, i)'></label></td>
                                </tr>
                        </table>
					</section>
                    <section class="table-pagination" style="clear:both">
                       <div class="medium-12 columns"><hr/></div>
                       <div class="medium-12 columns text-right">
												 <!-- Need to separate change event out from 2 way data binding so to reset validation -->
	                       <select [ngModel]="gender" (ngModelChange)='setGender($event); saveFYIQustions()' name="gender">
	                       		<!-- <option value="" disabled selected>---Select Gender---</option> -->
	                       		<option value="" selected>---No gender specified---</option>
	                       		<option value="M">Male</option>
	                       		<option value="F">Female</option>
	                       </select>
											 </div>
											 <div class="medium-12 columns text-right" style="margin-bottom: 5px; text-transform: none;">
												<span style="color: #cc0000">{{validation}}</span>
											</div>
                       <div class="medium-10 columns" style="text-transform:none;">When you are done, click the Next button to proceed.</div>
                       <div class="medium-2 columns">
                       	<button class="button" type="submit" [disabled]="disableSubmit">Next</button>
                       </div>
                   </section>
                   </form>
			</div>
            </div>
		</section>
	</div>
	<!-- <app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile> -->
</section>

<app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
<app-footer></app-footer>
</div>