<div id="fyi-results">
	<div class="modal-header ng-scope">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"
			(click)="close()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h3 class="modal-title">FYI Results</h3>
	</div>
	<div class="modal-body ng-scope">
		<div class="row">
			<br />
			<br />
			<div class="medium-12 columns">
				<h3>Enter results from the paper based FYI</h3>
			</div>
			<div class="medium-4 columns">
				<p>Your FYI raw scores can be found on Step 4 of the paper-based FYI.</p>
				<img src="assets/images/fyi-results-example.jpg" />
			</div>
			<div class="medium-7 columns">

				<div class="fyi-scores clearfix">
					<p>Raw FYI Scores:</p>
					<div style="color: red">{{rawScoreValidate}}</div>
					
					<div class="fyi-score fyi-r">
						<input type="number" min="0" max="30" [(ngModel)]="interestCodeRawScore.rRawScore">
					</div>
					<div class="fyi-score fyi-i">
						<input type="number" min="0" max="30" [(ngModel)]="interestCodeRawScore.iRawScore">
					</div>
					<div class="fyi-score fyi-a">
						<input type="number" min="0" max="30" [(ngModel)]="interestCodeRawScore.aRawScore">
					</div>
					<div class="fyi-score fyi-s">
						<input type="number" min="0" max="30" [(ngModel)]="interestCodeRawScore.sRawScore">
					</div>
					<div class="fyi-score fyi-e">
						<input type="number" min="0" max="30" [(ngModel)]="interestCodeRawScore.eRawScore">
					</div>
					<div class="fyi-score fyi-c">
						<input type="number" min="0" max="30" [(ngModel)]="interestCodeRawScore.cRawScore">
					</div>
				</div>
				<div id="gender">
					<label>Gender:
						<div style="color: red">{{genderValidate}}</div>
					</label> <select [(ngModel)]="gender" style="width: 100%">
						<option value="">---Select Gender---</option>
						<option value="M">Male</option>
						<option value="F">Female</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer ng-scope">
		<button class="button" type="button" (click)="submit()">submit</button>
	</div>
</div>