<div class="mentor-student-report">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Run a Report</h3>
      <button class="close-button" (click)="close()" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-content-inner">
      <ng-container *ngIf="!isLoading">
        <div class="row mb_10">
          <div class="small-12 column">
            Select the information that you want to include in the report.
          </div>
        </div>
        <form class="ng-pristine ng-valid" (submit)="runReport()">

          <div class="row">
            <div class="small-12 medium-4 column">
              <ul class="report-list">
                <li>
                  <label>
                    <input type="checkbox" id="allStudentInfo" (change)="setAllStudentChecked($event.target.checked);"
                      [checked]='allStudentChecked'>
                    All student information
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" id="firstName" (change)="setStudentCheck($event.target.checked, 'firstName')"
                      [checked]="getStudentInfoCheckValue('firstName')">
                    First name
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" id="lastName" (change)="setStudentCheck($event.target.checked, 'lastName')"
                      [checked]="getStudentInfoCheckValue('lastName')">
                    Last name
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" id="studentId" (change)="setStudentCheck($event.target.checked, 'studentId')"
                      [checked]="getStudentInfoCheckValue('studentId')">
                    Student ID
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" id="username" (change)="setStudentCheck($event.target.checked, 'username')"
                      [checked]="getStudentInfoCheckValue('username')">
                    Username / email
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" id="grade" (change)="setStudentCheck($event.target.checked, 'grade')"
                      [checked]="getStudentInfoCheckValue('grade')">
                    Grade
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" id="graduation"
                      (change)="setStudentCheck($event.target.checked, 'graduation')"
                      [checked]="getStudentInfoCheckValue('graduation')">
                    Graduation
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" id="gender" (change)="setStudentCheck($event.target.checked, 'gender')"
                      [checked]="getStudentInfoCheckValue('gender')">
                    Gender
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" id="ethnicity" (change)="setStudentCheck($event.target.checked, 'ethnicity')"
                      [checked]="getStudentInfoCheckValue('ethnicity')">
                    Ethnicity
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" id="schoolName"
                      (change)="setStudentCheck($event.target.checked, 'schoolName')"
                      [checked]="getStudentInfoCheckValue('schoolName')">
                    School name
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" id="schoolAddress"
                      (change)="setStudentCheck($event.target.checked, 'schoolAddress')"
                      [checked]="getStudentInfoCheckValue('schoolAddress')">
                    School address
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" id="schoolCode"
                      (change)="setStudentCheck($event.target.checked, 'schoolCode')"
                      [checked]="getStudentInfoCheckValue('schoolCode')">
                    School code
                  </label>
                </li>
              </ul>
            </div>
            <div class="small-12 medium-4 column">
              <ul class="report-list">
                <li>
                  <label>
                    <input type="checkbox" id="allStudentScores"
                      (change)="setAllStudentScoresChecked($event.target.checked);" [checked]='allStudentScores'>
                    All student scores
                  </label>

                </li>
                <li>
                  <label>
                    <input type="checkbox" id="accessCode"
                      (change)="setStudentCheck($event.target.checked, 'accessCode')"
                      [checked]="getStudentInfoCheckValue('accessCode')">
                    Access Code
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" id="accessCodeExpDate"
                      (change)="setStudentCheck($event.target.checked, 'accessCodeExpDate')"
                      [checked]="getStudentInfoCheckValue('accessCodeExpDate')">
                    Access Code expiration date
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" id="testDate" (change)="setStudentCheck($event.target.checked, 'testDate')"
                      [checked]="getStudentInfoCheckValue('testDate')">
                    Test date
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" id="asvabPercentileScores"
                      (change)="setStudentCheck($event.target.checked, 'asvabPercentileScores')"
                      [checked]="getStudentInfoCheckValue('asvabPercentileScores')">
                    ASVAB Percentile Scores
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" id="asvabStandardScores"
                      (change)="setStudentCheck($event.target.checked, 'asvabStandardScores')"
                      [checked]="getStudentInfoCheckValue('asvabStandardScores')">
                    ASVAB Standard Scores
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" id="afqt" (change)="setStudentCheck($event.target.checked, 'afqt')"
                      [checked]="getStudentInfoCheckValue('afqt')">
                    AFQT
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" id="militaryLinesScores"
                      (change)="setStudentCheck($event.target.checked, 'militaryLinesScores')"
                      [checked]="getStudentInfoCheckValue('militaryLinesScores')">
                    Military Lines Scores
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" id="testType" (change)="setStudentCheck($event.target.checked, 'testType')"
                      [checked]="getStudentInfoCheckValue('testType')">
                    Type of test
                  </label>
                </li>
              </ul>
            </div>
            <div class="small-12 medium-4 column">
              <ul class="report-list">
                <li>
                  <label>
                    <input type="checkbox" id="allProgramInfo"
                      (change)="setAllProgramInfoChecked($event.target.checked);" [checked]='allProgramInfo'>
                    All additional program information
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" id="combinedFYIScores"
                      (change)="setStudentCheck($event.target.checked, 'combinedFYIScores')"
                      [checked]="getStudentInfoCheckValue('combinedFYIScores')">
                    Combined FYI Scores
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" id="genderSpecificFYIScores"
                      (change)="setStudentCheck($event.target.checked, 'genderSpecificFYIScores')"
                      [checked]="getStudentInfoCheckValue('genderSpecificFYIScores')">
                    Gender Specific FYI Scores
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" id="workValues"
                      (change)="setStudentCheck($event.target.checked, 'workValues')"
                      [checked]="getStudentInfoCheckValue('workValues')">
                    Work Values
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" id="favoriteOccupations"
                      (change)="setStudentCheck($event.target.checked, 'favoriteOccupations')"
                      [checked]="getStudentInfoCheckValue('favoriteOccupations')">
                    Favorite occupations
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" id="favoriteColleges"
                      (change)="setStudentCheck($event.target.checked, 'favoriteColleges')"
                      [checked]="getStudentInfoCheckValue('favoriteColleges')">
                    Favorite colleges
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" id="favoriteCareerClusters"
                      (change)="setStudentCheck($event.target.checked, 'favoriteCareerClusters')"
                      [checked]="getStudentInfoCheckValue('favoriteCareerClusters')">
                    Favorite career clusters
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" id="favoriteCTMCareers"
                      (change)="setStudentCheck($event.target.checked, 'favoriteCTMCareers')"
                      [checked]="getStudentInfoCheckValue('favoriteCTMCareers')">
                    Favorite CTM careers
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" id="postSecondaryIntentions"
                      (change)="setStudentCheck($event.target.checked, 'postSecondaryIntentions')"
                      [checked]="getStudentInfoCheckValue('postSecondaryIntentions')">
                    Post-secondary Intentions
                  </label>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="column small-12 text-center mb_30">
              <button class="button" type="submit" [disabled]="(allStudentReportItems.length == 0) || isSaving">Apply
                <span *ngIf="isSaving" id="save-indicator"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></span>
              </button>
              <button class="button" type="button" (click)="close()">CANCEL</button>
            </div>
          </div>
        </form>
      </ng-container>
      <div *ngIf="isLoading">
        <div class="row">
          <div class="small-12 column text-center">
            <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
            Loading...
          </div>
        </div>
      </div>
    </div>
  </div>