
.ml_auto {
    margin-left: auto;
}

.p-10 {
    padding: 10px;
}

.mb_10 {
    margin-bottom: 10px;
}

.mb_30 {
    margin-bottom: 30px;
}

.mt_50 {
    margin-top: 50px;
}

.w-100 {
    width: 100%;
}

.mentor-student-report {
    .mr_20 {
        margin-right: 20px;
    }

    .w_auto {
        width: auto !important;
    }

    .d-flex {
        display: flex;
    }

    .modal-header {
        position: relative;
    
        
        h3 {
            font-size: 16px !important;
            color: #505D68 !important;
            text-transform: inherit;
            padding: 6px 10px !important;
            background-color: #e8eaeb;
        }
    
        .close-button {
            color: #000;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .modal-content {
        border: none;
        .modal-content-inner {
                label {
                    color: #4A4A4A;
                    min-width: 40px;
                    margin:0;
                }
    
                ul{
                    margin:0;
                    li {
                        // display: inline-block;
                        // margin: 0 20px;

                        margin-left:15px;
                        margin-bottom: 0;
                        &:before {
                            display: none;
                        }
            
                        &:first-child {
                            margin-left:0px;
                        }

                        input{
                            margin:0;
                        }
                        label{
                            margin-bottom: 5px;
                        }
                    }
                }

        
            p {
                font-size: 14px;
            }
    
            .button-block {
                margin-top: 50px;
                
                .button {
                    font-size: 14px;
                    min-width: 126px;
                    margin: 0;
            
                    + .button {
                        margin-left: 20px;
                    }
                }
            }
        }
    }

}
