h3 strong {
    color: #000;
    display: block;
    font-size: 14px;
    text-transform: none;
}

#right {
	border-left: 1px solid #ccc;
    padding-left: 50px;
}




@media screen and (max-width: 480px) {
	.bring-asvab-to-your-school .activities .show-mobile {
	  display: block;
	}
	.bring-asvab-to-your-school .activities .hide-mobile {
	  display: none;
	}
  
	.bring-asvab-to-your-school .activities .horizontal-line:nth-of-type(1) {
	  width: 90%;
	}
  
	.bring-asvab-to-your-school .activities .horizontal-line:nth-of-type(2) {
	  top: 107px;
	  width: 90%;
	}
	
	.bring-asvab-to-your-school .activities .horizontal-line:nth-of-type(3) {
	  top: 188px;
	  width: 90%;
	}
	
	.bring-asvab-to-your-school .activities .margin-right-0 {
	  margin-right: 0px;
	}
  }

  .bring-asvab-to-your-school .activities .horizontal-line {
	border-top: 1px solid #3f3f3f;
	content: '';
	position: absolute;
	width: 390px;
	left: 20px;
  }
  
  .bring-asvab-to-your-school .activities .horizontal-line:nth-of-type(1) {
	top: 25px;
  }
  
  .bring-asvab-to-your-school .activities .horizontal-line:nth-of-type(2) {
	top: 54px;
  }
  
  .bring-asvab-to-your-school .activities .horizontal-line:nth-of-type(3) {
	top: 81px;
  }
  
  .bring-asvab-to-your-school .activities .margin-top-3 {
	margin-top: 3px;
  }
  
  .bring-asvab-to-your-school .activities label {
	color: #3f3f3f;
  }
  
  .bring-asvab-to-your-school .activities .show-mobile {
	display: none;
  }