<div class="main bring-asvab-to-your-school">
	<h4>Schedule the ASVAB Career Exploration Program</h4>
	<form [formGroup]="schedFormGroup" class="contact-form" (ngSubmit)="onScheduleSubmit()" ngNativeValidate>

		<div class="row" style="margin-bottom: 40px;">
			<div class="medium-6 columns">
				<h3 class="headerTest">Your Information:</h3>
				<input type="text" placeholder="Title" formControlName="title" [disabled]="formDisabled" required>
				<select formControlName="position" [disabled]="formDisabled" required>
					<option value="">---Select Faculty Position---</option>
					<option value="Principle">Principal</option>
					<option value="Teacher">Teacher</option>
					<option value="Counselor">Counselor</option>
				</select>
				<input type="text" placeholder="First Name" formControlName="firstName" [disabled]="formDisabled"
					required>
				<input type="text" placeholder="Last Name" formControlName="lastName" [disabled]="formDisabled"
					required>
				<input type="tel" placeholder="555-555-5555" formControlName="phone" [disabled]="formDisabled" required>
				<input type="email" placeholder="Email Address" formControlName="email" [disabled]="formDisabled"
					required>
				<select formControlName="heardUs" [disabled]="formDisabled" (change)="onHeardChange()">
					<option value="">--- How did you hear about us? ---</option>
					<option value="Online Search">Online Search</option>
					<option value="Online Ad">Online Ad</option>
					<option value="Colleague/Friend">Colleague/Friend</option>
					<option value="Conference">Conference</option>
					<option value="Social Media">Social Media</option>
					<option value="other">Other</option>
				</select>
				<div *ngIf="heardOther">
					<input type="text" formControlName="heardUsOther" placeholder="Where did you hear of us from?"
						[disabled]="formDisabled" required="heardUs === 'other'" />
				</div>
			</div>
			<div class="medium-6 columns" id="right">
				<h3>Your School Information:</h3>
				<input type="text" placeholder="School Name" formControlName="schoolName" [disabled]="formDisabled"
					required>
				<input type="text" placeholder="School Address" [disabled]="formDisabled"
					formControlName="schoolAddress" required>
				<input type="text" placeholder="School City" formControlName="schoolCity" [disabled]="formDisabled"
					required>
				<input type="text" placeholder="School County" formControlName="schoolCounty" [disabled]="formDisabled"
					required>
				<select formControlName="schoolState" [disabled]="formDisabled" required>
					<option value="">Select School State</option>
					<option value="AL">Alabama</option>
					<option value="AK">Alaska</option>
					<option value="AZ">Arizona</option>
					<option value="AR">Arkansas</option>
					<option value="CA">California</option>
					<option value="CO">Colorado</option>
					<option value="CT">Connecticut</option>
					<option value="DE">Delaware</option>
					<option value="DC">District Of Columbia</option>
					<option value="FL">Florida</option>
					<option value="GA">Georgia</option>
					<option value="HI">Hawaii</option>
					<option value="ID">Idaho</option>
					<option value="IL">Illinois</option>
					<option value="IN">Indiana</option>
					<option value="IA">Iowa</option>
					<option value="KS">Kansas</option>
					<option value="KY">Kentucky</option>
					<option value="LA">Louisiana</option>
					<option value="ME">Maine</option>
					<option value="MD">Maryland</option>
					<option value="MA">Massachusetts</option>
					<option value="MI">Michigan</option>
					<option value="MN">Minnesota</option>
					<option value="MS">Mississippi</option>
					<option value="MO">Missouri</option>
					<option value="MT">Montana</option>
					<option value="NE">Nebraska</option>
					<option value="NV">Nevada</option>
					<option value="NH">New Hampshire</option>
					<option value="NJ">New Jersey</option>
					<option value="NM">New Mexico</option>
					<option value="NY">New York</option>
					<option value="NC">North Carolina</option>
					<option value="ND">North Dakota</option>
					<option value="OH">Ohio</option>
					<option value="OK">Oklahoma</option>
					<option value="OR">Oregon</option>
					<option value="PA">Pennsylvania</option>
					<option value="RI">Rhode Island</option>
					<option value="SC">South Carolina</option>
					<option value="SD">South Dakota</option>
					<option value="TN">Tennessee</option>
					<option value="TX">Texas</option>
					<option value="UT">Utah</option>
					<option value="VT">Vermont</option>
					<option value="VA">Virginia</option>
					<option value="WA">Washington</option>
					<option value="WV">West Virginia</option>
					<option value="WI">Wisconsin</option>
					<option value="WY">Wyoming</option>
				</select>
				<input type="text" placeholder="School Zip" formControlName="schoolZip" [disabled]="formDisabled"
					required>
			</div>

		</div>
		<div class="row activities" style="margin-bottom: 40px;">
			<div class="columns" style="margin-bottom: 10px">
				The ASVAB is one component of the ASVAB Career Exploration Program. These activities are available in
				multiple delivery formats.
			</div>
			<div class="columns">
				<div style="margin-bottom: 5px">Select all that apply.</div>
				<div style="display: flex; position: relative">
					<div class="flex-column">
						<div>
							<input id="ASVABTest" type="checkbox" [disabled]="formDisabled" formControlName="asvabTest">
							<label for="ASVABTest"> ASVAB Test:</label>
						</div>
						<div class="margin-top-3"><input id="PTI" type="checkbox" [disabled]="formDisabled"
								(change)="updateCheckboxes('pti', $event.target.checked)" formControlName="pti">
							<label for="PTI"> Post-Test Interpretation:</label></div>
						<div class="margin-top-3 show-mobile"><input id="PTIVirtualMobile" type="checkbox"
								[disabled]="formDisabled || schedFormGroup.value.pti === false"
								formControlName="ptiVirtual"><label for="PTIVirtualMobile">
								Virtual</label></div>
						<div class="margin-top-3 show-mobile"><input id="PTIInPersonMobile" type="checkbox"
								[disabled]="formDisabled || schedFormGroup.value.pti === false"
								formControlName="ptiInPerson"><label for="PTIInPersonMobile">
								In-person</label></div>
						<div class="margin-top-3"><input id="ClassroomActivities" type="checkbox"
								[disabled]="formDisabled" formControlName="classroomActivities"
								(change)="updateCheckboxes('classroomActivities', $event.target.checked)"><label
								for="ClassroomActivities"> Classroom Activities:</label></div>
						<div class="margin-top-3 show-mobile"><input id="ClassroomActivitiesVirtualMobile"
								type="checkbox"
								[disabled]="formDisabled || schedFormGroup.value.classroomActivities === false"
								formControlName="classroomActivitiesVirtual"><label
								for="ClassroomActivitiesVirtualMobile"> Virtual</label></div>
						<div class="margin-top-3 show-mobile"><input id="ClassroomActivitiesInPersonMobile"
								type="checkbox"
								[disabled]="formDisabled || schedFormGroup.value.classroomActivities === false"
								formControlName="classroomActivitiesInPerson"><label
								for="ClassroomActivitiesInPersonMobile"> In-person</label></div>
						<div class="margin-top-3"><input id="Presentation" type="checkbox" [disabled]="formDisabled"
								formControlName="presentation"
								(change)="updateCheckboxes('presentation', $event.target.checked)"><label
								for="Presentation" class="margin-right-0">
								Presentation to Parents or Faculty:</label></div>
						<div class="margin-top-3 show-mobile"><input id="PresentationVirtualMobile" type="checkbox"
								[disabled]="formDisabled || schedFormGroup.value.presentation === false"
								formControlName="presentationVirtual"><label for="PresentationVirtualMobile">
								Virtual</label></div>
						<div class="margin-top-3 show-mobile"><input id="PresentationInPersonMobile" type="checkbox"
								[disabled]="formDisabled || schedFormGroup.value.presentation === false"
								formControlName="presentationInPerson"><label for="PresentationInPersonMobile">
								In-person</label></div>
					</div>
					<div class="flex-column">
						<span class="horizontal-line"></span>
						<span class="horizontal-line"></span>
						<span class="horizontal-line"></span>
					</div>
					<div class="flex-column hide-mobile" style="position: relative; top: 8px">
						<div>&nbsp;</div>
						<div class="margin-top-3"><input id="PTIVirtual" type="checkbox"
								[disabled]="formDisabled || schedFormGroup.value.pti === false"
								formControlName="ptiVirtual"><label for="PTIVirtual">
								Virtual</label></div>
						<div class="margin-top-3"><input id="ClassroomActivitiesVirtual" type="checkbox"
								[disabled]="formDisabled || schedFormGroup.value.classroomActivities === false"
								formControlName="classroomActivitiesVirtual"><label for="ClassroomActivitiesVirtual">
								Virtual</label></div>
						<div class="margin-top-3"><input id="PresentationVirtual" type="checkbox"
								[disabled]="formDisabled || schedFormGroup.value.presentation === false"
								formControlName="presentationVirtual"><label for="PresentationVirtual"> Virtual</label>
						</div>
					</div>
					<div class="flex-column hide-mobile" style="position: relative; top: 8px">
						<div>&nbsp;</div>
						<div class="margin-top-3"><input id="PTIInPerson" type="checkbox"
								[disabled]="formDisabled || schedFormGroup.value.pti === false"
								formControlName="ptiInPerson"><label for="PTIInPerson">
								In-person</label></div>
						<div class="margin-top-3"><input id="ClassroomActivitiesInPerson" type="checkbox"
								[disabled]="formDisabled || schedFormGroup.value.classroomActivities === false"
								formControlName="classroomActivitiesInPerson"><label for="ClassroomActivitiesInPerson">
								In-person</label></div>
						<div class="margin-top-3"><input id="PresentationInPerson" type="checkbox"
								[disabled]="formDisabled || schedFormGroup.value.presentation === false"
								formControlName="presentationInPerson"><label for="PresentationInPerson">
								In-person</label></div>
					</div>
				</div>
			</div>
		</div>
		<span style="color: #cc0000">{{errorMessage}}</span>
		<div class="recaptcha" style="text-align: center;">
			<ngx-recaptcha2 [siteKey]="recaptchaKey" [useGlobalDomain]="false" formControlName="recaptcha">
			</ngx-recaptcha2>
		</div>

		<div class="medium-12 columns text-center">
			<button type="submit" style="margin: 5px;" [disabled]="formDisabled"
				class="hollow button">Submit</button><span *ngIf="formDisabled" id="save-indicator"
				class="fa fa-circle-o-notch fa-spin fa-2x fa-fw" style="margin-top:10px;"></span>
		</div>
	</form>
	<button class="close-button" aria-label="Close modal" type="button" (click)="onClose()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>