<div class="my-results-collapsed-bottom mobile-show">
    <div class="my-results-collapsed-bottom-inner">
        <h4>MY ASVAB CEP <br>Strengths and Interests</h4>
        <span (click)="myResultscollapsed = !myResultscollapsed" class="dropdown-arrow" [ngClass]="myResultscollapsed ? '' : 'active'">
          <span *ngIf="myResultscollapsed">Show</span>
          <span *ngIf="!myResultscollapsed">Hide</span>
        </span>
    </div>
    <app-my-top-results-collapsed [removeBorder] ="'true'" [collapsedVersion]="'v1'" [ngClass]="myResultscollapsed ? 'hide-collapse' : 'show-expand'"></app-my-top-results-collapsed>
</div>
