@media (min-width: 640px) {
    .mobile-show {
        display: none;        
    }
}
@media (max-width: 639px) {
    .mobile-hide {
        display: none;
    }
}

.my-results-collapsed-bottom {
    background-color: #EEEEEE;
    padding: 0 15px;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 10px;
    // padding: 15px;

    .my-results-collapsed-bottom-inner {
        background-color: #7f8d8e;
        text-align: center;
        padding-top: 45px;
        margin: 0 -15px;

        h4 {
            font-size: 20px;
            text-align: center;
            line-height: 22px;
            color: #fff !important;
            font-weight: bold;
        }
    
        .dropdown-arrow {
            position: relative;
            padding: 10px 0;
            margin: 0 auto;
            display: inline-block;
            text-align: center;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
    
            &:before {
                content: '';
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid #fff;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 0;
            }

            &.active:before {
                border-top: 0;
                border-bottom: 10px solid #fff;
            }
        }
    }

    .hide-collapse {
        display: block;
        height: 0;
        overflow: hidden;
    }

    .show-expand {
        height: 167px;
    }
}
