<form [formGroup]="userMilitaryPlanForm" (ngSubmit)="saveUserMilitaryPlan()">

  <div class="row mb_30 align-middle" style="background-color:#e8eaeb;padding-top:10px;padding-bottom:10px;">
    <div class="small-10 medium-12 column">
      <div class="row">
        <div class="small-12 medium-8 column">
          <strong>
            <span *ngIf="userMilitaryPlan.didSelectEnlisted">Enlisted:</span>
            <span *ngIf="userMilitaryPlan.didSelectOfficer">Officer:</span>
            &nbsp;{{selectedServices.join(", ")}}
          </strong>
        </div>
        <div class="small-12 medium-4 column small-only-text-left medium-text-right">
          <a href="https://www.careersinthemilitary.com/options-becoming-an-officer/service-academies" target="_blank"
            class="mr_30" *ngIf="userMilitaryPlan.didSelectOfficer">Becoming an officer</a>
          <a href="{{documentLocation}}Military_Check_list.pdf" target="_blank" class="mr_30"
            *ngIf="userMilitaryPlan.didSelectEnlisted">
            <img src="assets/images/pdf_small_icon.png" alt="PDF File" />&nbsp;Check list
          </a>
          <a class="hide-for-small-only"
            (click)="removeUserMilitaryPlan(userMilitaryPlan.planId, userMilitaryPlan.id)"><img
              src="assets/images/close-blue.svg"></a>
        </div>
      </div>
    </div>
    <div class="show-for-small-only small-2 column">
      <a (click)="removeUserMilitaryPlan(userMilitaryPlan.planId, userMilitaryPlan.id)"><img
          src="assets/images/close-blue.svg"></a>
    </div>
  </div>

  <ng-container *ngIf="userMilitaryPlan.didSelectOfficer">
    <div class="row">
      <div class="small-12 medium-9 column">
        <strong>Do you plan to apply to a Military School?</strong>
      </div>
      <div class="small-2 medium-1 column">
        <div class="apply_option">
          <input class="form-check-input m0" type="radio" formControlName="applyMilitaryAcademy"
            id="applyMilitaryAcademyYes{{userMilitaryPlan.id}}" value="yes">
          <label class="form-check-label ml_5" for="applyMilitaryAcademyYes{{userMilitaryPlan.id}}">Yes</label>
        </div>
      </div>
      <div class="small-2 medium-1 end column">
        <div class="apply_option">
          <input class="form-check-input m0" type="radio" formControlName="applyMilitaryAcademy"
            id="applyMilitaryAcademyNo{{userMilitaryPlan.id}}" value="no">
          <label class="form-check-label ml_5" for="applyMilitaryAcademyNo{{userMilitaryPlan.id}}">No</label>
        </div>
      </div>
    </div>

    <!-- show service academies -->
    <ng-container formArrayName="selectedRotcAcademies"
      *ngIf="userMilitaryPlanForm.get('applyMilitaryAcademy').value==='yes'">
      <hr />
      <ng-container *ngFor="let academy of selectedRotcAcademies.controls; let index = index;" [formGroupName]="index">
        <div class="row">
          <div class="small-12 medium-6 column">
            {{getAcademyName(academy.value.unitId, academy.value.collegeTypeId)}}
          </div>
          <div class="small-6 medium-3 column medium-text-right">
            <a *ngIf="getAcademyApplicationTimelinePdfKey(academy.value.unitId)"
              href="{{documentLocation}}{{getAcademyApplicationTimelinePdfKey(academy.value.unitId)}}" target="_blank">
              <img src="assets/images/pdf_small_icon.png" alt="PDF File">&nbsp;Application Timeline</a>
          </div>
          <div class="small-2 column medium-text-center">
            <a *ngIf="getAcademyChecklistPdfKey(academy.value.unitId)"
              href="{{documentLocation}}{{getAcademyChecklistPdfKey(academy.value.unitId)}}" target="_blank"><img
                src="assets/images/pdf_small_icon.png" alt="PDF File">&nbsp;Check list</a>
          </div>
          <div class="small-1 column medium-text-center">
            <a (click)="removeSelectedRotcAcademy(index, academy.value.id, academy.value.unitId)"><img
                src="assets/images/close-blue.svg"></a>
          </div>
        </div>
        <hr />
      </ng-container>
    </ng-container>

    <div class="row mb_30" *ngIf="userMilitaryPlanForm.get('applyMilitaryAcademy').value==='yes'">
      <div class="column small-12">
        <a (click)="showMilitaryAcademyAddDialog()"><strong>Add Military School&nbsp;<i
              class="fa fa-plus"></i></strong></a>
      </div>
    </div>

    <div class="row mb_10" *ngIf="userMilitaryPlanForm.get('applyMilitaryAcademy').value==='no'">
      <div class="column small-12">
        <p>You must have a Bachelors Degree to become an Officer.</p>
      </div>
    </div>

    <div class="row mb_10"
      *ngIf="userCollegePlans?.length == 0 && userMilitaryPlanForm.get('applyMilitaryAcademy').value==='no'">
      <div class="column small-12">
        <div class="edit_college_plan p_20">
          <!-- <a (click)="showSchoolAddDialog()"><strong>Add a School&nbsp;<i class="fa fa-plus"></i></strong></a> -->
          <div *ngIf="favoriteCollegesToSelect && favoriteCollegesToSelect?.length > 0">
            <p>Select schools from your favorite list that offer degrees related to this occupation. </p>
            <form (submit)="saveFavoriteColleges()">
              <div class="form-group bg_light_gray d_inline_block"
                *ngFor="let college of favoriteCollegesToSelect; let i = index">
                <div class="checkbox-tick">
                  <input class="styled-checkbox" type="checkbox" id="mp{{i}}"
                    (click)="addSchoolSelected(college, $event)" />
                  <label class="styled-checkbox-label" for="mp{{i}}"></label>
                  <span class="ml_10"><strong>{{college.institutionName}}&nbsp;|&nbsp;</strong>
                    {{college.city}},&nbsp;{{college.state}}</span>
                </div>
              </div>
              <button class="button" type="submit" [disabled]="favoriteSchoolsSelected?.length == 0">ADD SCHOOL</button>
            </form>
          </div>

          <div class="devider_with_text" *ngIf="favoriteCollegesToSelect && favoriteCollegesToSelect?.length > 0">
            <p><strong>or</strong></p>
          </div>

          <div class="search_college">
            <p>Explore more colleges that have related majors.</p>
            <a (click)="showSchoolAddDialog()" class="button">Search Colleges</a>
          </div>
        </div>
      </div>

    </div>

    <!-- ROTC Colleges -->
    <ng-container formArrayName="selectedRotcColleges"
      *ngIf="userMilitaryPlanForm.get('applyMilitaryAcademy').value==='no'">
      <hr />
      <ng-container *ngFor="let selectedRotcCollege of selectedRotcColleges.controls; let index = index"
        [formGroupName]="index">
        <div class="row mb_10">
          <div class="small-12 column">
            You selected <a
              routerLink="/occufind-school-details/{{userOccupationPlan.socId}}/{{selectedRotcCollege.value.unitId}}"
              target="_blank">
              {{selectedRotcCollege.value.institutionName}} </a>
          </div>
        </div>
        <ng-container *ngIf="selectedRotcCollege.value?.rotcType?.length > 0">
          <div class="row mb_10">
            <div class="small-12 column">
              <strong>Available ROTC</strong>
              <a (click)="showHelpMessageForROTC()" class="explain alt"></a>
            </div>
          </div>
          <div class="row mb_10">
            <ng-container *ngFor="let type of selectedRotcCollege.value.rotcType">
              <div class="small-2 column end text-center">
                <a href="https://www.careersinthemilitary.com/options-becoming-an-officer/rotc" target="_blank">
                  <img src="{{type.image}}" alt="{{type.alt}}" style="width:43px;height:43px;" />
                </a><br />
                <a href="{{type.href}}" target="_blank">{{type.caption}}</a>
              </div>
            </ng-container>
          </div>
        </ng-container>
        <div class="row">
          <div class="columns medium-12">
            <p>Get more information <a href="https://www.careersinthemilitary.com/options-becoming-an-officer/rotc"
                target="_blank">here.</a></p>
          </div>
        </div>
        <div class="row">
          <div class="small-12 medium-6 column" style="line-height: 2;">
            Do you plan to apply?
          </div>
          <div class="small-2 medium-1 medium-offset-2 column">
            <div class="apply_option">
              <input class="form-check-input m0" type="radio" id="rotcProgramYes{{userMilitaryPlan.id}}{{index}}"
                value="yes" formControlName="wantsToApply">
              <label class="form-check-label ml_5" for="rotcProgramYes{{userMilitaryPlan.id}}{{index}}">Yes</label>
            </div>
          </div>
          <div class="small-2 medium-1 column">
            <div class="apply_option">
              <input class="form-check-input m0" type="radio" id="rotcProgramNo{{userMilitaryPlan.id}}{{index}}"
                value="no" formControlName="wantsToApply">
              <label class="form-check-label ml_5" for="rotcProgramNo{{userMilitaryPlan.id}}{{index}}">No</label>
            </div>
          </div>
          <div class="small-2 medium-1 end column">
            <div class="apply_option">
              <input class="form-check-input m0" type="radio" id="rotcProgramMaybe{{userMilitaryPlan.id}}{{index}}"
                value="maybe" formControlName="wantsToApply">
              <label class="form-check-label ml_5" for="rotcProgramMaybe{{userMilitaryPlan.id}}{{index}}">Maybe</label>
            </div>
          </div>
        </div>

        <hr>
      </ng-container>
    </ng-container>

  </ng-container>


  <!-- Add Career Section -->
  <div class="add_career_wrapper mb_30">
    <div class="row mb_10">
      <div class="column small-12">
        <p>
          <strong>Select a military career</strong> <a (click)="showHelpMessageForMilitaryCareer()"
            class="explain alt"></a>
        </p>
      </div>
    </div>
    <ng-container formArrayName="selectedCareers" *ngFor="let career of selectedCareers.controls; let i = index">
      <div class="row mb_10 user-military-plan-add-career" [formGroupName]="i">
        <div class="column small-12">
          <div class="row mb_10">
            <div class="column medium-2">
              Career Title
            </div>
            <div class="column medium-9 user-military-plan-border-left">
              <select class="user-military-select" formControlName="mcId"
                (change)="onCareerChange($event.target.value, i)">
                <option value="">--- Select Career ---</option>
                <option *ngFor="let o of filteredOccuMilitaryCareerTitles" [value]="o.mcId">
                  {{o.title}}<ng-container style="margin-left: 7px;" *ngIf="o.isFavorite"> &#xf004; </ng-container>
                </option>
              </select>
            </div>
            <div class="column medium-1 text-center">
              <a (click)="removeUserMilitaryCareer(i, userMilitaryPlanForm.get('selectedCareers').at(i).value.id)"><img
                  src="assets/images/close-blue.svg"></a>
            </div>
          </div>
          <div class="row mb_10">
            <div class="column medium-2">
              Job title(s)
            </div>
            <div class="column medium-9 end user-military-plan-border-left">
              <!-- Hide filter row if only 1 service -->
              <div class="row" *ngIf="userMilitaryPlanForm.get('selectedCareers')?.at(i)?.value?.showFilters.show "
                class="user-military-filter-row">
                <div class="column medium-12">
                  <div class="row mb_10">
                    <div class="column medium-2">
                      Filter by:
                    </div>
                    <div class="column medium-8 end">
                      <div class="checkbox-tick">
                        <input class="styled-checkbox" type="checkbox" id="selectAll{{userMilitaryPlan.id}}{{i}}"
                          formControlName="filterSelectAll" (change)="onSelectAllChange($event, i)">
                        <label class="styled-checkbox-label" for="selectAll{{userMilitaryPlan.id}}{{i}}"></label>
                        <label class="ml_5 mr_20 um-label-select" for="selectAll{{userMilitaryPlan.id}}{{i}}">Select All
                          Military Services Offering this Occupation</label>
                      </div>
                    </div>
                  </div>
                  <div class="row mb_10">
                    <div
                      [ngClass]="setFilterColumnClass(userMilitaryPlan, userMilitaryPlanForm.get('selectedCareers')?.at(i)?.value?.showFilters,'army')"
                      *ngIf="userMilitaryPlan.didSelectArmy && userMilitaryPlanForm.get('selectedCareers')?.at(i)?.value?.showFilters.army">

                      <div class="checkbox-tick">
                        <input class="styled-checkbox" type="checkbox" id="didSelectArmy{{userMilitaryPlan.id}}{{i}}"
                          formControlName="filterArmy" (change)="onFilterChange($event, i)">
                        <label class="styled-checkbox-label" for="didSelectArmy{{userMilitaryPlan.id}}{{i}}"></label>
                        <label class="ml_5 um-label-select" for="didSelectArmy{{userMilitaryPlan.id}}{{i}}">Army</label>
                      </div>
                    </div>
                    <div
                      [ngClass]="setFilterColumnClass(userMilitaryPlan, userMilitaryPlanForm.get('selectedCareers')?.at(i)?.value?.showFilters,'marinecorps')"
                      *ngIf="userMilitaryPlan.didSelectMarineCorps && userMilitaryPlanForm.get('selectedCareers')?.at(i)?.value?.showFilters.marines">
                      <div class="checkbox-tick">
                        <input class="styled-checkbox" type="checkbox"
                          id="didSelectMarineCorps{{userMilitaryPlan.id}}{{i}}" formControlName="filterMarineCorps"
                          (change)="onFilterChange($event, i)">
                        <label class="styled-checkbox-label"
                          for="didSelectMarineCorps{{userMilitaryPlan.id}}{{i}}"></label>
                        <label class="ml_5 um-label-select"
                          for="didSelectMarineCorps{{userMilitaryPlan.id}}{{i}}">Marine
                          Corps</label>
                      </div>
                    </div>
                    <div
                      [ngClass]="setFilterColumnClass(userMilitaryPlan, userMilitaryPlanForm.get('selectedCareers')?.at(i)?.value?.showFilters,'navy')"
                      *ngIf="userMilitaryPlan.didSelectNavy && userMilitaryPlanForm.get('selectedCareers')?.at(i)?.value?.showFilters.navy">
                      <div class="checkbox-tick">
                        <input class="styled-checkbox" type="checkbox" id="didSelectNavy{{userMilitaryPlan.id}}{{i}}"
                          formControlName="filterNavy" (change)="onFilterChange($event, i)">
                        <label class="styled-checkbox-label" for="didSelectNavy{{userMilitaryPlan.id}}{{i}}"></label>
                        <label class="ml_5 um-label-select" for="didSelectNavy{{userMilitaryPlan.id}}{{i}}">Navy</label>
                      </div>
                    </div>
                    <div
                      [ngClass]="setFilterColumnClass(userMilitaryPlan, userMilitaryPlanForm.get('selectedCareers')?.at(i)?.value?.showFilters,'airforce')"
                      *ngIf="userMilitaryPlan.didSelectAirForce && userMilitaryPlanForm.get('selectedCareers')?.at(i)?.value?.showFilters.airForce">
                      <div class="checkbox-tick">
                        <input class="styled-checkbox" type="checkbox"
                          id="didSelectAirForce{{userMilitaryPlan.id}}{{i}}" formControlName="filterAirForce"
                          (change)="onFilterChange($event, i)">
                        <label class="styled-checkbox-label"
                          for="didSelectAirForce{{userMilitaryPlan.id}}{{i}}"></label>
                        <label class="ml_5 um-label-select" for="didSelectAirForce{{userMilitaryPlan.id}}{{i}}">Air
                          Force</label>
                      </div>
                    </div>
                    <div
                      [ngClass]="setFilterColumnClass(userMilitaryPlan, userMilitaryPlanForm.get('selectedCareers')?.at(i)?.value?.showFilters,'spaceforce')"
                      *ngIf="userMilitaryPlan.didSelectSpaceForce && userMilitaryPlanForm.get('selectedCareers')?.at(i)?.value?.showFilters.spaceForce">
                      <div class="checkbox-tick">
                        <input class="styled-checkbox" type="checkbox"
                          id="didSelectSpaceForce{{userMilitaryPlan.id}}{{i}}" formControlName="filterSpaceForce"
                          (change)="onFilterChange($event, i)">
                        <label class="styled-checkbox-label"
                          for="didSelectSpaceForce{{userMilitaryPlan.id}}{{i}}"></label>
                        <label class="ml_5 um-label-select" for="didSelectSpaceForce{{userMilitaryPlan.id}}{{i}}">Space
                          Force</label>
                      </div>
                    </div>
                    <div
                      [ngClass]="setFilterColumnClass(userMilitaryPlan, userMilitaryPlanForm.get('selectedCareers')?.at(i)?.value?.showFilters,'coastguard')"
                      *ngIf="userMilitaryPlan.didSelectCoastGuard && userMilitaryPlanForm.get('selectedCareers')?.at(i)?.value?.showFilters.coastGuard">
                      <div class="checkbox-tick">
                        <input class="styled-checkbox" type="checkbox"
                          id="didSelectCoastGuard{{userMilitaryPlan.id}}{{i}}" formControlName="filterCoastGuard"
                          (change)="onFilterChange($event, i)">
                        <label class="styled-checkbox-label"
                          for="didSelectCoastGuard{{userMilitaryPlan.id}}{{i}}"></label>
                        <label class="ml_5 um-label-select" for="didSelectCoastGuard{{userMilitaryPlan.id}}{{i}}">Coast
                          Guard</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="column small-12">
                  <fieldset [disabled]="!userMilitaryPlanForm.get('selectedCareers').at(i).value.mcId">
                    <select class="user-military-select" formControlName="moc" [compareWith]="compareJobTitle">
                      <option value="">--- Select Job Title ---</option>
                      <option *ngFor="let a of availableJobTitles | militaryJobTitleFilter: userMilitaryPlanForm.get('selectedCareers')?.at(i)?.value?.mcId
                                    :userMilitaryPlanForm.get('selectedCareers')?.at(i)?.value?.filterSelectAll
                                    :userMilitaryPlanForm.get('selectedCareers')?.at(i)?.value?.filterAirForce
                                    :userMilitaryPlanForm.get('selectedCareers')?.at(i)?.value?.filterArmy
                                    :userMilitaryPlanForm.get('selectedCareers')?.at(i)?.value?.filterCoastGuard
                                    :userMilitaryPlanForm.get('selectedCareers')?.at(i)?.value?.filterMarineCorps
                                    :userMilitaryPlanForm.get('selectedCareers')?.at(i)?.value?.filterNavy
                                    :userMilitaryPlanForm.get('selectedCareers')?.at(i)?.value?.filterSpaceForce
                                    :selectAllFilters" [ngValue]="a.moc">
                        {{getServiceTitle(a.service)}} : {{a.title}} </option>
                    </select>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="mb_30">
      <a (click)="addCareer()"><strong>Add Career Title&nbsp;<i class="fa fa-plus"></i></strong></a>
    </div>
  </div>
  
  <p class="mb_20"><strong>I’m interested in:&nbsp;<a (click)="showHelpMessageForMilitaryInterest()"
        class="explain alt"></a>&nbsp;&nbsp;</strong>(select all that apply)</p>
  <div class="row mb_30">
    <div class="column medium-3">
      <div class="checkbox-tick">
        <input class="styled-checkbox" type="checkbox" id="isInterestedInActiveDuty{{userMilitaryPlan.id}}"
          formControlName="isInterestedInActiveDuty">
        <label class="styled-checkbox-label" for="isInterestedInActiveDuty{{userMilitaryPlan.id}}"></label>
        <label class="ml_5 um-label-select" for="isInterestedInActiveDuty{{userMilitaryPlan.id}}">Active Duty</label>
      </div>
    </div>
    <div class="column medium-3 no-padding">
      <div class="checkbox-tick">
        <input class="styled-checkbox" type="checkbox" id="isInterestedInReserves{{userMilitaryPlan.id}}"
          formControlName="isInterestedInReserves">
        <label class="styled-checkbox-label" for="isInterestedInReserves{{userMilitaryPlan.id}}"></label>
        <label class="ml_5 um-label-select" for="isInterestedInReserves{{userMilitaryPlan.id}}">Corps Reserve</label>
      </div>
    </div>
    <div class="column medium-3 no-padding">
      <div class="checkbox-tick">
        <input class="styled-checkbox" type="checkbox" id="isInterestedInNationalGuard{{userMilitaryPlan.id}}"
          formControlName="isInterestedInNationalGuard">
        <label class="styled-checkbox-label" for="isInterestedInNationalGuard{{userMilitaryPlan.id}}"></label>
        <label class="ml_5 um-label-select" for="isInterestedInNationalGuard{{userMilitaryPlan.id}}">National
          Guard</label>
      </div>
    </div>
    <div class="column medium-3 no-padding">
      <div class="checkbox-tick">
        <input class="styled-checkbox" type="checkbox" id="isNotSure{{userMilitaryPlan.id}}"
          formControlName="isNotSure">
        <label class="styled-checkbox-label" for="isNotSure{{userMilitaryPlan.id}}"></label>
        <label class="ml_5 um-label-select" for="isNotSure{{userMilitaryPlan.id}}">I'm not sure yet</label>
      </div>
    </div>
  </div>

  <div class="row mb_30">
    <div class="columns medium-12 text-center">
      <button class="button mx-auto" 
      [disabled]="(!userMilitaryPlanForm.dirty || !userMilitaryPlanForm.valid) || isSaving">SAVE
        <span *ngIf="isSaving"  id="save-indicator"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></span>
      </button>
      
    </div>
  </div>
  
  <div class="row mb_10" *ngIf="wasSaved">
    <div class="column small-12 text-center">
      <div class="success message" >
        <i class="fi-check"></i>Save success!
      </div>
    </div>
  </div>
  
</form>