
<p><strong>Access Code</strong><br />You must have an access code
  to use the FYI and the OCCU-Find. This 10-digit number is printed
  on your ASVAB Summary Results sheet.<br /><br />Example:<br />ACCESS CODE: 165328407Q<br />[10-digit access
  code]
</p>
<p><strong>Portable Document Format (PDF)</strong><br />PDF - This
  indicates the link next to this icon is a link to a Portable
  Document Format (PDF). You will need Adobe Acrobat Reader version
  6.0 or higher installed on your machine to view and print this
  file(s). The Adobe Acrobat Reader is free and can be downloaded on
  the <a href="https://get.adobe.com/reader/"> Adobe web site.</a>
</p>

<div data-type="section-break"><hr /></div>

<p>The FYI is an interest inventory that measures your level of
  interest in six areas-Realistic, Investigative, Artistic, Social,
  Enterprising, and Conventional. Your results on the FYI can help
  you identify work-related interests and explore careers u the
  OCCU-Find.</p>
<p>Frequently Asked Questions</p>
<p><strong>Who can take the FYI?</strong><br />You can only take
  the FYI if you have taken the ASVAB test. A few weeks after you
  take the ASVAB test, you will receive your ASVAB Summary Results
  sheet. This sheet will include an access code you can use to log on
  to this site and take the FYI.
</p>
<p><strong>I took the FYI at school and have my top interest
    codes already. What do I do now?</strong><br />First, enter your access
  code in the Login box. Next, under Step 1 - Learn select "Enter FYI
  Scores from Paper-based Test. Now, input your Raw Scores from the
  paper version of the FYI. Select your gender, then click the
  "Submit" button. You will come to a page which shows you two sets
  of scores: Combined and Gender-Specific. Choose which set of scores
  to use for career exploration. Once you have done this, your top
  interest codes will appear on the MyASVABCEP dashboard every time
  you login.
</p>
<p><strong>I took the FYI at school, but I'd like to take it
    again online. Can I?</strong><br />Yes. You can take the FYI two times
  online. (However, if you have entered your Raw Scores from the
  paper version of the here, you can only take the FYI one more time
  online.)
</p>
<p><strong>Will I see my FYI codes the next time I log in?</strong><br />Yes. Once you have taken the FYI
  online and received your top
  interest codes, you will see your codes each time that you login.
</p>
<p><strong>I am using a school computer. Where do I enter my
    access code? I don't see a place to enter it.</strong><br />It is
  likely that another student was using the site and did not log out.
  You will need to click on the "Logout" link at the top the page.
  Once you log out, you will see the box on the home page to enter
  your access code. Where can I find more information about the FYI
  and what my interest codes mean? There are tutorials to help you
  understand the FYI, how to take it, and what your gender-specific
  interest codes mean.
</p>
<p>To learn more view the FYI tutorial.<br /><a class="button" href="media-center-article/42">Taking the FYI
    Online</a>

</p>

<div data-type="section-break"><hr /></div>

<p><strong>Why do I have two sets of FYI results?</strong><br />If
  you take the FYI online, you will receive two sets of interest
  codes - Combined and Gender-Specific. Your first set of codes
  compares your results to the total population of students who took
  the FYI. Your second set of interest codes compares your results to
  students in your gender who took the FYI. The two sets of codes may
  be different, depending on how you responded to the FYI questions.
  If you took the paper and pencil version of the FYI, these
  different codes are described on pages 12-13, in the Exploring
  Careers: The ASVAB Career Exploration Guide. You
  can also enter your raw FYI scores after you login, along with your
  gender, and two sets of scores will be given to you.
</p>
<p>There are three interest areas-Realistic, Artistic, and
  Social-that have significant differences in how males and females
  respond on the FYI. For example, some male students may have a
  relatively low Social score when compared with both males and
  females, but a much higher Social score when compared with other
  males. Because women tend to have such strong interests in social
  areas, it takes a very high score for men to rank high in this
  area. Similarly, some female students may have a relatively low
  Realistic score when compared with a group of both males and
  females, but a much higher Realistic score when compared with other
  females.</p>
<p><strong>Why are gender-based codes different?</strong><br />When growing up, males and females get
  different messages from
  their parents, schools, and the media about what careers are
  appropriate for them. Teenagers sometimes develop different skills
  because they have different experiences, and these factors may
  influence their choices and interests. For example, females tend to
  have fewer opportunities to work with machines and/or outdoors,
  which are activities related to the Realistic interest type.
  Similarly, males tend to have fewer experiences with activities
  that define the Social and Artistic types.
</p>
<p>Your gender-based results may offer you some new ideas about
  your interests. If this is the case, you may want to explore
  occupations that include these interest areas.</p>
<p><strong>Which set of FYI results should I use for career
    exploration?</strong><br />Use the set of Interest Codes that you think
  best describes your interests at this time in your life. Before you
  decide which set of Interest Codes to use, read descriptions of
  each Interest Code using the links in the diagram. These
  descriptions will help you determine which codes most closely match
  your interest areas.
</p>

<div data-type="section-break"><hr /></div>

<p>The OCCU-Find includes information about the relative
  importance of verbal, math, and science/technical skills for
  each job. You should consider your own strengths in these areas,
  based on your Career Exploration Scores, as you review the
  OCCU-Find skill importance profiles for various occupations. This
  approach is particularly helpful for students with differing levels
  of skills in these three areas, and provides a flexible approach to
  career exploration.</p>
<p>You can take advantage of the skill importance information
  provided on the website in two primary ways. One option is to
  search for jobs based on the level of a specific skill. For
  example, if your Career Exploration Score in verbal skills is high
  you may wish to search for occupations that require extensive
  verbal skills. The website includes a feature that will filter
  occupations by skill importance level. This feature categorizes a
  skill set as less important (not an integral part of job tasks),
  moderately important (used regularly on the job), or very important
  (critical for job performance).</p>
<p>Skill importance ratings are also found on the OCCU-Find page
  that describes each occupation in detail. The 5-star diagram below,
  represents the average skill importance rating for verbal, math,
  and science/technical skills. Definitions are provided for 1, 3,
  and 5 stars. Any rating between 1, 3, and 5 means that the average
  importance falls somewhere between these ratings.</p>
<table border="1">
  <tbody>
    <tr>
      <td width="150"><img height="25" src="assets/fonts/foundation-icons/svgs/fi-star.svg" width="20" /></td>
      <td><strong>Not Important:</strong> The skills are not needed to perform core job tasks.
        The skills are rarely used on the job, and an individual could perform the job without using
        these skills.</td>
    </tr>
    <tr>
      <td><img height="25" src="assets/fonts/foundation-icons/svgs/fi-star.svg" width="20" /><img height="25"
          src="assets/fonts/foundation-icons/svgs/fi-star.svg" width="20" /><img height="25"
          src="assets/fonts/foundation-icons/svgs/fi-star.svg" width="20" /></td>
      <td><strong>Important:</strong> The skills are used regularly on the job. A person would
        have difficulty being successful at the job without using these skills.</td>
    </tr>
    <tr>
      <td><img height="25" src="assets/fonts/foundation-icons/svgs/fi-star.svg" width="20" /><img height="25"
          src="assets/fonts/foundation-icons/svgs/fi-star.svg" width="20" /><img height="25"
          src="assets/fonts/foundation-icons/svgs/fi-star.svg" width="20" /><img height="25"
          src="assets/fonts/foundation-icons/svgs/fi-star.svg" width="20" /><img height="25"
          src="assets/fonts/foundation-icons/svgs/fi-star.svg" width="20" /></td>
      <td><strong>Highly Important:</strong> These skills are crucial to the performance of the
        job. A person could not perform the job without these skills.</td>
    </tr>
  </tbody>
</table>
<div>Understand that you can improve your verbal, math, and/or
  science/technical skills with additional training and/or education.
  When considering occupations with these levels, you should ask
  yourself some basic questions:
  <ul style="list-style-type: circle; padding-left: 15px">
    <li>How important are these three skill areas?</li>
    <li>What do you need to do to gain these necessary skills?</li>
    <li>What further education, on-the-job training, or
      vocational preparation do you need?</li>
    <li>Do your ASVAB Career Exploration Scores suggest that you
      will be successful in this education or training?</li>
  </ul>To learn more about exploring careers in the context of skills and
  interests using the OCCU-Find view this tutorial. <a class="button" href="media-center-article/49">Search
    the OCCU-Find for
    Careers</a>
</div>

<div data-type="section-break"><hr /></div>

<p>Participation in ASVAB CEP is always voluntary. Information
  is collected from students who choose to participate. In order to
  score tests and provide appropriate results, the required student
  information fields include: student name, date of birth, gender,
  education level, and post-secondary intention. Social Security
  Number is not collected.</p>
<p>ASVAB results are reported to students and counselors on the
  ASVAB Summary Results sheet. Each school participating in ASVAB CEP
  selects one of eight available options regarding the information
  Department of Defense releases to the Military Services. These
  options are:</p>
<div class="row">
  <div class="small-4 columns"><strong>Release Option</strong>
  </div>
  <div class="large-8 columns"><strong>Results to Recruiting Services</strong>
  </div>
</div>
<div class="row">
  <div class="small-4 columns">Option 1</div>
  <div class="large-8 columns">7 days after test scores are
    mailed.</div>
</div>
<div class="row">
  <div class="small-4 columns">Option 2</div>
  <div class="large-8 columns">60 days after test scores are
    mailed. No contact prior to that time.</div>
</div>
<div class="row">
  <div class="small-4 columns">Option 3</div>
  <div class="large-8 columns">90 days after test scores are
    mailed. No contact prior to that time.</div>
</div>
<div class="row">
  <div class="small-4 columns">Option 4</div>
  <div class="large-8 columns">120 days after test scores are
    mailed. No contact prior to that time.</div>
</div>
<div class="row">
  <div class="small-4 columns">Option 5</div>
  <div class="large-8 columns">End of school year. No contact
    prior to that time.</div>
</div>
<div class="row">
  <div class="small-4 columns">Option 6</div>
  <div class="large-8 columns">7 days after test scores are
    mailed. No telephone solicitations by recruiters.</div>
</div>
<div class="row">
  <div class="small-4 columns">Option 7</div>
  <div class="large-8 columns">This is an administrative option
    used by USMEPCOM ONLY for test administration issues for
    individual or group tests (test abandoned, cheating, insufficient
    proctors, fire drills, etc.). Not valid for enlistment purposes.
    Results not released to Recruiting Services.</div>
</div>
<div class="row">
  <div class="small-4 columns">Option 8</div>
  <div class="large-8 columns">Not released to Recruiting
    Services</div>
</div><br />
<p>Schools may also select a "split option," where two release
  options are used: one option allows release of scores to recruiters
  and one option restricts that release to accommodate individual
  requests.</p>
<p>Participants can 'opt in' or 'opt out' of the release option
  chosen by the school by completing the appropriate form and
  submitting it to the school:</p>
<p>&nbsp;</p>
<div class="text-center"><span> <a href="{{documents}}ASVAB_CEP_Opt_In_Letter.docx"
      ng-click="trackClick('ASVAB_CEP_Opt_In_Letter.docx');" ng-controller="GA" target="_blank"><img alt=""
        src="assets/images/icon-word.png" />Opt In Letter </a>
  </span> &nbsp; <span> <a href="{{documents}}ASVAB_CEP_Opt_Out_Letter.docx"
      ng-click="trackClick('ASVAB_CEP_Opt_Out_Letter.docx');" ng-controller="GA" target="_blank"><img alt=""
        src="assets/images/icon-word.png" />Opt Out Letter </a>
  </span>
</div>
<p>&nbsp;</p>
<p>Regardless of release option, students have no obligation to
  military service.</p>
<p>Federal mandates Family Educational Rights and Privacy Act
  (FERPA) and Every Student Succeeds Act (ESSA) require schools to
  disclose "directory" information such as a student's name, address,
  telephone number, date and place of birth, honors and awards, and
  dates of attendance. ESSA (formerly, No Child Left Behind (NCLB))
  requires the release of all school directory information to the
  Military, regardless of ASVAB CEP participation.</p>
<p>The 'opt in'/'opt out' forms apply to ASVAB CEP score release
  only, and do not effect the release of student's personal
  information to the Military required by ESSA. Students may be
  contacted by a military recruiter even if they do not participate
  in the ASVAB CEP.</p>
<p>Read more about <a href="http://www2.ed.gov/policy/gen/guid/fpco/ferpa/index.html" target="_blank">Family
    Educational Rights and Privacy Act (FERPA).</a>
</p>
<p>Read more about <a href="http://www2.ed.gov/policy/elsec/leg/essa/index.html" target="_blank">
    Every Student Succeeds Act (ESSA).</a>
</p>
<p>ASVAB Career Exploration Program Education Services
  Specialists (ESSs) provide support based on the school's desires.
  In all cases of students wishing to have their individual results
  processed differently than the option chosen by the school, the
  school must inform their ESS so that student's results can be
  processed accordingly. Coordinating the form with parents is also a
  school responsibility.</p>

<div data-type="section-break"><hr /></div>

