<div class="occufind student student-dreams general-help">
	<app-header></app-header>

	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="large-3 large-push-9 columns">
				<p class="caps">Help</p>
			</div>
		</div>
  </section>
  <div *ngIf="pageHtml !== ''">

		<section id="content-wrap">
			<div class="small-12 columns show-for-small-only">
				<div class="left-sub-nav">
					<ul class="menu vertical" id="steps">
						<li>
							<h3 id="innerTitle">General Help</h3>
						</li>
					</ul>
				</div>
			</div>
			<div id="site-map-div">
				<div class="row">
					<section id="interest-codes" class="medium-12 columns">
						<mat-accordion
							class="mat-expansion-panel-group mat-accordion-right-icon mat-accordion-text"
						>
							<mat-expansion-panel>
								<mat-expansion-panel-header
									collapsedHeight="auto"
									expandedHeight="auto"
									style="min-height: 20px"
									>General<em
										class="pull-right glyphicon"
										ngClass="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"
									></em>
								</mat-expansion-panel-header>

								<div [innerHTML]="pageHtml[0]"></div>
				
							</mat-expansion-panel>
		
							<mat-expansion-panel>
								<mat-expansion-panel-header
									collapsedHeight="auto"
									expandedHeight="auto"
									style="min-height: 20px"
									>FYI (Find your interests) Scores<em
										class="pull-right glyphicon"
										ngClass="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"
									></em>
								</mat-expansion-panel-header>

								<div [innerHTML]="pageHtml[1]"></div>

							</mat-expansion-panel>
		
							<mat-expansion-panel>
								<mat-expansion-panel-header
									collapsedHeight="auto"
									expandedHeight="auto"
									style="min-height: 20px"
									>Gender-specific Scores<em
										class="pull-right glyphicon"
										ngClass="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"
									></em>
								</mat-expansion-panel-header>

								<div [innerHTML]="pageHtml[2]"></div>

							</mat-expansion-panel>
		
							<mat-expansion-panel>
								<mat-expansion-panel-header
									collapsedHeight="auto"
									expandedHeight="auto"
									style="min-height: 20px"
									>Skill Importance Ratings<em
										class="pull-right glyphicon"
										ngClass="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"
									></em>
								</mat-expansion-panel-header>

								<div [innerHTML]="pageHtml[3]"></div>
						
							</mat-expansion-panel>
		
							<mat-expansion-panel>
								<mat-expansion-panel-header
									collapsedHeight="auto"
									expandedHeight="auto"
									style="min-height: 20px"
									>Release Options<em
										class="pull-right glyphicon"
										ngClass="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"
									></em>
								</mat-expansion-panel-header>

								<div [innerHTML]="pageHtml[4]"></div>

							</mat-expansion-panel>
						</mat-accordion>
					</section>
				</div>
			</div>
		</section>


  </div>
  <app-footer></app-footer>
</div>