<div id="portfolio" class="occufind">
  <app-header></app-header>
  <app-my-asvab-header></app-my-asvab-header>

  <section id="content-wrap" class="left-nav-expanded-wrap explore">
    <div class="row">
      <app-left-navigation-v2-collapsed [selectedTab]="'plan'"></app-left-navigation-v2-collapsed>
      <section id="main-content" class="left-navigation-condensed" role="main">
        <app-my-top-results-collapsed [collapsedVersion]="'v2'"></app-my-top-results-collapsed>

        <div id="left-nav-content-wrap">
          <a routerLink="/plan-your-future" class="page_back_link">&lt; Back to Plan for your future</a>
          <div class="plan_top_share bg_green">
            <div class="row">
              <div class="column small-10">
                <h4>Plan:&nbsp;{{occupationDescription}}</h4>
              </div>
              <div class="column small-2 text-right">
                <a (click)="removePlan(userOccupationPlan.id, occupationDescription)">
                  <img src="assets/images/close-blue.svg" />&nbsp;&nbsp;
                  <span class="hide-for-small-only">Delete</span>
                </a>
              </div>
            </div>
          </div>

          <div class="edit_plan_salary">
            <div class="row">
              <div class="columns medium-6 small-12">
                {{occupationDescription}}
              </div>
              <div class="columns medium-6 small-12">
                <div class="row ">
                  <div class="column small-9 medium-text-right form_select edit-plan-lh-adjustment">
                    <select id="selectone" class="edit-plan-select" [(ngModel)]="salaryType">
                      <option value="national">National Average Salary</option>
                      <option value="entry">Starting Average Salary</option>
                    </select>
                  </div>
                  <div class="column small-3 medium-text-right edit-plan-lh-adjustment">
                    <span *ngIf="salaryType=='national'">{{nationalSalary | currency}}</span>
                    <span *ngIf="salaryType=='entry'">{{nationalEntrySalary | currency}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- High School Plan -->
          <app-high-school-plan *ngIf="userOccupationPlan" [userOccupationPlan]="userOccupationPlan">
          </app-high-school-plan>

          <!-- Gap Year Plan -->
          <ng-container *ngIf="_utilityService.containsPathways(selectedPathways, 'gapYear')">
            <app-gap-year-plan *ngIf="userOccupationPlan && occupationDescription"
              [userOccupationPlan]="userOccupationPlan" [occupationDescription]="occupationDescription"
              (onTaskAdd)="onAutoTasksCreated($event)" (onDateAdd)="onAutoCalendarTasksCreated($event)">
            </app-gap-year-plan>
          </ng-container>

          <!-- Military Plan -->
          <ng-container *ngIf="_utilityService.containsPathways(selectedPathways, 'military')">
            <app-military-plan *ngIf="userOccupationPlan && occupationDescription"
              [userOccupationPlan]="userOccupationPlan" [occupationDescription]="occupationDescription"
              [selectedPathways]="selectedPathways" (onTaskAdd)="onAutoTasksCreated($event)"
              (onTasksAdd)="onAutoTasksCreated($event)" (onTasksRemoval)="onAutoTasksDelete($event)" (onCalendarsAdd)="onAutoCalendarDatesCreated($event)">
            </app-military-plan>
          </ng-container>

          <!-- College Plan -->
          <ng-container
            *ngIf="_utilityService.containsPathways(selectedPathways, 'certificate', 'technicalSchool', 
                    'associatesDegree', 'bachelorsDegree','advanceDegree','vocationalTraining', 'careerTechnicalEducation', 'military') ">
            <app-college-plan *ngIf="userOccupationPlan && occupationDescription"
              [userOccupationPlan]="userOccupationPlan" [occupationDescription]="occupationDescription"
              [selectedPathways]="selectedPathways" (onAutoCalendarDatesCreated)="onAutoCalendarDatesCreated($event)"
              (onRemoval)="onAutoCalendarsDelete($event)">
            </app-college-plan>
          </ng-container>

          <!-- Work Plan -->
          <ng-container *ngIf="_utilityService.containsPathways(selectedPathways, 'certificate', 'technicalSchool',
          'workBasedLearning', 'vocationalTraining', 'careerTechnicalEducation')">
            <app-work-plan *ngIf="userOccupationPlan && occupationDescription" [selectedPathways]="selectedPathways"
              [userOccupationPlan]="userOccupationPlan" [occupationDescription]="occupationDescription">
            </app-work-plan>
          </ng-container>

          <!-- Calendar  -->
          <app-calendar-plan *ngIf="userOccupationPlan && occupationDescription"
            [userOccupationPlan]="userOccupationPlan" [occupationDescription]="occupationDescription">
          </app-calendar-plan>

          <!-- Notes -->
          <div class="mb_30">
            <p><strong>Additional notes:</strong></p>
            <div class="form-group ">
              <textarea type="text" class="form-control" rows="2" [(ngModel)]="notes"></textarea>
            </div>
          </div>

          <div class="text-center mb_30">
            <button class="button edit-plan" (click)="saveAndClosePlan()">SAVE AND VIEW</button>
            <button class="button edit-plan" routerLink="/plan-your-future">CANCEL</button>
          </div>

          <!-- <div class="edit_plan_bottom">
            <app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
          </div> -->
        </div>
      </section>
    </div>
  </section>

	<app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
  <app-footer></app-footer>
</div>