
<mat-dialog-content class="mat-typography">
	<div class="main" style="padding: 1rem; padding-bottom: 50px;">
		<div>
			<div class="modal-header">
				<h3>Certification Detail</h3>
				<button type="button" class="close-button" data-dismiss="modal" data-close
					(click)='_dialogRef.close()'>&times;</button>
				<hr>
			</div>

			<div class="modal-body">
				<img src="assets/images/cos_poweredby.jpg" align="right">
				<h2>{{occupationTitle}}</h2>
				<h3>Certifying Organization Info</h3>
				{{OrgName}} <br> {{Name }} <br> {{OrgAddress}} <br> {{OrgWebPage}}
				<h3>Description</h3>
				{{Description}}

				<h3>Certifying Organization Info</h3>
				<table>
					<tr *ngFor="let row of CertDetailList">
						<td bgcolor="#FFFFFF">{{row.Name}} {{row.Value}}</td>
					</tr>
				</table>
			</div>

			<div class="modal-footer"></div>
		</div>
	</div>
</mat-dialog-content>



