
<div class="cep-school">
  <div class="alert-banner text-center" style="color: #fff; background-color: #8b2e33; padding: 10px; font-size:15px;">
    <span><span class="fa fa-exclamation-triangle"></span>&nbsp;
    <span [innerHTML]="pageHtml[0]"></span>
      </span>
  </div>

  <header class="row">
    <div class="medium-3 medium-push-9 columns">
      <div class="logo">
        <h1><a href="./"><img alt="ASVAB" src="assets/images/logo.png" /></a></h1>
      </div>
    </div>
    <div class="medium-9 medium-pull-3 columns" role="main">
      <h2>It's easy to bring the ASVAB CEP to your school!</h2>
    </div>
  </header>
  <div class="row">
    <div class="medium-3 medium-push-9 columns show-for-medium">
      <div id="boy">
        <a class="button" href="educators-post-test" style="font-size:18px;line-height:35px;border:0;">
          What to
          Expect?
        </a>
        <img src="assets/images/boy.png" /><a class="zoom" (click)="imageZoom()">+</a>
      </div>
    </div>

    <section class="medium-9 medium-pull-3 columns" id="main-content" role="main">
      <h3>What are you waiting for? Bring ASVAB CEP to your school today!</h3>
      <div id="lower">
        <form [formGroup]="studentFormGroup" class="contact-form" (ngSubmit)="onShareWithCounselor()">
          <div class="row">
            <div class="medium-6 columns">
              <h3 class="headerTest">
                <strong>Are you a</strong> counselor or testing coordinator?
              </h3>
              <p [innerHTML]="pageHtml[1]"></p>
              <div class="lower-button-wrapper">
                <button class="hollow button" id="mobile" [disabled]="formDisabled"
                (click)="onBringAsvabToYourSchool()">Schedule</button>
              </div>
            </div>
            <div class="medium-6 columns" id="right">
              <h3>
                <strong>Are you a</strong> Student or parent?
              </h3>
              <p [innerHTML]="pageHtml[2]"></p>
              <p>   
                <input type="email" formControlName="counselorEmail" required (disabled)="formDisabled" placeholder="Counselor's email address">
                Faculty email addresses can usually be found on your school's website
              </p>
              <span style="color: #cc0000">{{errorMessage}}</span>

              <div
                style="transform:scale(0.77, 0.77);-webkit-transform:scale(0.77, 0.77);transform-origin:0 0;-webkit-transform-origin:0 0;">
                <ngx-recaptcha2 #captchaElem name="captchaElem" [siteKey]="recaptchaKey" [useGlobalDomain]="false"
                  formControlName="recaptchaResponse">
                </ngx-recaptcha2>
              </div>
              <div class="lower-button-wrapper">
                <button type="submit" [disabled]="formDisabled" class="hollow button"
                [disabled]="studentFormGroup.invalid" [style]="cursorStyle">Share</button>
              </div>
              <span *ngIf="formDisabled" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-2x fa-fw" style="margin-top:5px;"></span>
            </div>
          </div>
        </form>
      </div>
    </section>
    <div class="hide-for-medium" id="boy">
      <img src="assets/images/boy.png" /><a class="zoom" (click)="imageZoom()">+</a>
    </div>
  </div>

  <section class="page-footer" id="content-wrap">
    <div class="row">
      <div class="medium-8 columns">
        <p [innerHTML]="pageHtml[3]">
         
        </p>
        <h3>The ASVAB CEP has three components:</h3>
        <ol [innerHTML]="pageHtml[4]">
          
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="medium-8 columns">
        <p style="margin:0in;font-family:Verdana;font-size:9pt;"><a href="https://www.asvabprogram.com/continuing-education"><strong>Learn more about the ASVAB CEP and earn FREE Continuing Education Credits!</strong></a></p>
      </div>
    </div>
  </section>
</div>