ASVAB CEP testing and in-person Post-Test Interpretation
activities are temporarily suspended in response to COVID-19.&nbsp;<a href="media-center-article/116"
  style="color: #46a4f5">Learn more &gt;&gt;</a>

<div data-type="section-break"><hr /></div>

Schedule a test date at your school by clicking the schedule button below to ask questions about the
                ASVAB CEP, receive access to program materials, or schedule a test date at your school.

<div data-type="section-break"><hr /></div>

Let your school counselor know that you are interested by
                sharing important program information with them via email.
<div data-type="section-break"><hr /></div>

<strong>
  ASVAB CEP is designed to empower students to explore their career and post-secondary options in the
  context of their skills and interests. Then, leverage the future-oriented planning tools to develop an
  action
  plan to share with parents and educators -- all without cost or commitment.
</strong>
<div data-type="section-break"><hr /></div>

<li>
  <strong>Take the ASVAB</strong>&nbsp;- An aptitude test that allows students to identify their skill
  strengths.
</li>
<li>
  <strong>Identify Interests&nbsp;</strong>- An interest inventory that highlights work-related interest areas
  where students are most likely to succeed.
</li>
<li>
  <strong>Explore and Plan</strong> - The results from the validated aptitude and interest assessments serve
  as the basis of informed career exploration. A full suite of future-oriented planning tools help students
  identify goals and develop an action plan to share with parents and educators.
</li>
<div data-type="section-break"><hr /></div>
