<div class="modal-options">
  <!-- <div class="custom-modal-backdrop"></div> -->
  <div class="custom-modal-lg">
    <div class="custom-modal-content table-contents-wrap marine-modal school-details-modal">
      <div class="custom-modal-body">
        <div class="titles modal-header text-right">
          <button mat-button [mat-dialog-close]="true" class="close-button" (click)="onClose()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="hint-container">
          <p class="hint-main">Welcome to the Student Dashboard.</p>
          <h4>Follow the hints to proceed as student.</h4>
          <button type="button" mat-dialog-close class="button button-long" (click)="onClose()">Close</button>
        </div>
       
      </div>
    </div>
  </div>
</div>
