<h3 mat-dialog-title>Sample ASVAB Test Questions</h3>

<mat-dialog-content>
	<h3>General Science</h3>
	<p>Q1. A magnet will attract</p>
	<!-- Alternate method -->
	<!-- <ul class="sample-questions">
		<li><input type="radio" [checked]="answers[0].selection === 'a'" (click)="answers[0].selection = 'a'" /> A. water.</li>
		<li><input type="radio" [checked]="answers[0].selection === 'b'" (click)="answers[0].selection = 'b'" /> B. a flower.</li>
		<li><input type="radio" [checked]="answers[0].selection === 'c'" (click)="answers[0].selection = 'c'" /> C. a cloth rag.</li>
		<li><input type="radio" [checked]="answers[0].selection === 'd'" (click)="answers[0].selection = 'd'" /> D. a nail.</li>
	</ul>
	<p [innerHtml]="answers[0].message"></p> -->
	<ul class="sample-questions">
		<li><input type="radio" name="answer0" [(ngModel)]="answers[0].selection" value="a" /> A. water.</li>
		<li><input type="radio" name="answer0" [(ngModel)]="answers[0].selection" value="b" /> B. a flower.</li>
		<li><input type="radio" name="answer0" [(ngModel)]="answers[0].selection" value="c" /> C. a cloth rag.</li>
		<li><input type="radio" name="answer0" [(ngModel)]="answers[0].selection" value="d" /> D. a nail.</li>
	</ul>
	<p [innerHtml]="answers[0].message"></p>
	<hr>
	<p>Q2. An eclipse of the sun throws the shadow of the</p>
	<ul class="sample-questions">
		<li><input type="radio" name="answer1" [(ngModel)]="answers[1].selection" value="a" /> A. moon on the sun.</li>
		<li><input type="radio" name="answer1" [(ngModel)]="answers[1].selection" value="b" /> B. moon on the earth.</li>
		<li><input type="radio" name="answer1" [(ngModel)]="answers[1].selection" value="c" /> C. earth on the sun.</li>
		<li><input type="radio" name="answer1" [(ngModel)]="answers[1].selection" value="d" /> D. earth on the moon.</li>
	</ul>
	<p [innerHtml]="answers[1].message"></p>
	<hr>

	<p>Q3. Air is less dense than water because</p>
	<ul class="sample-questions">
		<li><input type="radio" name="answer2" [(ngModel)]="answers[2].selection" value="a" /> A. it is lighter.</li>
		<li><input type="radio" name="answer2" [(ngModel)]="answers[2].selection" value="b" /> B. its molecules are further
			apart.</li>
		<li><input type="radio" name="answer2" [(ngModel)]="answers[2].selection" value="c" /> C. its molecules are closer
			together.</li>
		<li><input type="radio" name="answer2" [(ngModel)]="answers[2].selection" value="d" /> D. it moves more quickly.
		</li>
	</ul>
	<p [innerHtml]="answers[2].message"></p>
	<hr>

	<p>Q4. Salt helps to melt ice because it</p>
	<ul class="sample-questions">
		<li><input type="radio" name="answer3" [(ngModel)]="answers[3].selection" value="a" /> A. dissolves in water to form
			an acid.</li>
		<li><input type="radio" name="answer3" [(ngModel)]="answers[3].selection" value="b" /> B. chemically destroys the
			water molecules.
		</li>
		<li><input type="radio" name="answer3" [(ngModel)]="answers[3].selection" value="c" /> C. lowers the temperature at
			which water
			freezes.</li>
		<li><input type="radio" name="answer3" [(ngModel)]="answers[3].selection" value="d" /> D. is attracted to concrete
			sidewalks below
			the ice.</li>
	</ul>
	<p [innerHtml]="answers[3].message"></p>
	<hr>

	<p>Q5. Substances that hasten chemical reaction time without themselves undergoing change are called</p>
	<ul class="sample-questions">
		<li><input type="radio" name="answer4" [(ngModel)]="answers[4].selection" value="a" /> A. buffers.</li>
		<li><input type="radio" name="answer4" [(ngModel)]="answers[4].selection" value="b" /> B. colloids.</li>
		<li><input type="radio" name="answer4" [(ngModel)]="answers[4].selection" value="c" /> C. reducers.</li>
		<li><input type="radio" name="answer4" [(ngModel)]="answers[4].selection" value="d" /> D. catalysts.</li>
	</ul>
	<p [innerHtml]="answers[4].message"></p>
	<hr>

	<h3>Arithmetic Reasoning</h3>
	<p>Q6. If 12 workers are needed to run 4 machines, how many workers are needed to run 20 machines?</p>
	<ul class="sample-questions">
		<li><input type="radio" name="answer5" [(ngModel)]="answers[5].selection" value="a" /> A. 25</li>
		<li><input type="radio" name="answer5" [(ngModel)]="answers[5].selection" value="b" /> B. 48</li>
		<li><input type="radio" name="answer5" [(ngModel)]="answers[5].selection" value="c" /> C. 65</li>
		<li><input type="radio" name="answer5" [(ngModel)]="answers[5].selection" value="d" /> D. 80</li>
	</ul>
	<p [innerHtml]="answers[5].message"></p>
	<hr>

	<p>Q7. How many 36-passenger buses will it take to carry 144 people?</p>
	<ul class="sample-questions">
		<li><input type="radio" name="answer6" [(ngModel)]="answers[6].selection" value="a" /> A. 3</li>
		<li><input type="radio" name="answer6" [(ngModel)]="answers[6].selection" value="b" /> B. 4</li>
		<li><input type="radio" name="answer6" [(ngModel)]="answers[6].selection" value="c" /> C. 5</li>
		<li><input type="radio" name="answer6" [(ngModel)]="answers[6].selection" value="d" /> D. 6</li>
	</ul>
	<p [innerHtml]="answers[6].message"></p>
	<hr>

	<p>Q8. If the tire of a car rotates at a constant speed of 552 times in one minute, how many times will the tire
		rotate in half-an-hour?</p>
	<ul class="sample-questions">
		<li><input type="radio" name="answer7" [(ngModel)]="answers[7].selection" value="a" /> A. 276</li>
		<li><input type="radio" name="answer7" [(ngModel)]="answers[7].selection" value="b" /> B. 5,520</li>
		<li><input type="radio" name="answer7" [(ngModel)]="answers[7].selection" value="c" /> C. 8,280</li>
		<li><input type="radio" name="answer7" [(ngModel)]="answers[7].selection" value="d" /> D. 16,560</li>
	</ul>
	<p [innerHtml]="answers[7].message"></p>
	<hr>

	<p>Q9. A motorcycle costs $7,250. If it depreciates by 12% per year, how much will it be worth after one year?</p>
	<ul class="sample-questions">
		<li><input type="radio" name="answer8" [(ngModel)]="answers[8].selection" value="a" /> A. $870</li>
		<li><input type="radio" name="answer8" [(ngModel)]="answers[8].selection" value="b" /> B. $1,250</li>
		<li><input type="radio" name="answer8" [(ngModel)]="answers[8].selection" value="c" /> C. $5,920</li>
		<li><input type="radio" name="answer8" [(ngModel)]="answers[8].selection" value="d" /> D. $6,380</li>
	</ul>
	<p [innerHtml]="answers[8].message"></p>
	<hr>

	<p>Q10. It costs $0.50 per square yard to waterproof canvas. What will it cost to waterproof a canvas truck cover that
		is 15' x 24' ?</p>
	<ul class="sample-questions">
		<li><input type="radio" name="answer9" [(ngModel)]="answers[9].selection" value="a" /> A. $6.67</li>
		<li><input type="radio" name="answer9" [(ngModel)]="answers[9].selection" value="b" /> B. $18.00</li>
		<li><input type="radio" name="answer9" [(ngModel)]="answers[9].selection" value="c" /> C. $20.00</li>
		<li><input type="radio" name="answer9" [(ngModel)]="answers[9].selection" value="d" /> D. $180.00</li>
	</ul>
	<p [innerHtml]="answers[9].message"></p>
	<hr>

	<h3>Mathematics Knowledge</h3>
	<p>Q11. If 50 percent of X = 66, then X =</p>
	<ul class="sample-questions">
		<li><input type="radio" name="answer10" [(ngModel)]="answers[10].selection" value="a" /> A. 33</li>
		<li><input type="radio" name="answer10" [(ngModel)]="answers[10].selection" value="b" /> B. 66</li>
		<li><input type="radio" name="answer10" [(ngModel)]="answers[10].selection" value="c" /> C. 99</li>
		<li><input type="radio" name="answer10" [(ngModel)]="answers[10].selection" value="d" /> D. 132</li>
	</ul>
	<p [innerHtml]="answers[10].message"></p>
	<hr>

	<p>Q12. The answer to this equation is:</p>
	<ul class="sample-questions">
		<li><img src="assets/images/sqroot.gif" /></li>
		<li><input type="radio" name="answer11" [(ngModel)]="answers[11].selection" value="a" /> A. <img
				src="assets/images/sq3.jpg" /></li>
		<li><input type="radio" name="answer11" [(ngModel)]="answers[11].selection" value="b" /> B. 3</li>
		<li><input type="radio" name="answer11" [(ngModel)]="answers[11].selection" value="c" /> C. 9</li>
		<li><input type="radio" name="answer11" [(ngModel)]="answers[11].selection" value="d" /> D. 12</li>
	</ul>
	<p [innerHtml]="answers[11].message"></p>
	<hr>

	<p>Q13. If X + 6 = 7, then X is equal to</p>
	<ul class="sample-questions">
		<li><input type="radio" name="answer12" [(ngModel)]="answers[12].selection" value="a" /> A. -1</li>
		<li><input type="radio" name="answer12" [(ngModel)]="answers[12].selection" value="b" /> B. 0</li>
		<li><input type="radio" name="answer12" [(ngModel)]="answers[12].selection" value="c" /> C. 1</li>
		<li><input type="radio" name="answer12" [(ngModel)]="answers[12].selection" value="d" /> D. 7/6</li>
	</ul>
	<p [innerHtml]="answers[12].message"></p>
	<hr>

	<p>Q14. What is the area of this square?</p>
	<ul class="sample-questions">
		<li><img src="assets/images/q14_asvabtest.jpg" /></li>

		<li><input type="radio" name="answer13" [(ngModel)]="answers[13].selection" value="a" /> A. 1 square foot</li>
		<li><input type="radio" name="answer13" [(ngModel)]="answers[13].selection" value="b" /> B. 5 square feet</li>
		<li><input type="radio" name="answer13" [(ngModel)]="answers[13].selection" value="c" /> C. 10 square feet</li>
		<li><input type="radio" name="answer13" [(ngModel)]="answers[13].selection" value="d" /> D. 25 square feet</li>
	</ul>
	<p [innerHtml]="answers[13].message"></p>
	<hr>

	<p>Q15. The answer to this equation is:</p>
	<ul class="sample-questions">
		<li><img src="assets/images/q15_asvabtest.jpg" /></li>
		<li><input type="radio" name="answer14" [(ngModel)]="answers[14].selection" value="a" /> A. x + y</li>
		<li><input type="radio" name="answer14" [(ngModel)]="answers[14].selection" value="b" /> B. x - y</li>
		<li><input type="radio" name="answer14" [(ngModel)]="answers[14].selection" value="c" /> C. x + 2y</li>
		<li><input type="radio" name="answer14" [(ngModel)]="answers[14].selection" value="d" /> D. 2x - y</li>
	</ul>
	<p [innerHtml]="answers[14].message"></p>
	<hr>

	<h3>Word Knowledge</h3>
	<p>Q16. Small most nearly means</p>
	<ul class="sample-questions">
		<li><input type="radio" name="answer15" [(ngModel)]="answers[15].selection" value="a" /> A. sturdy.</li>
		<li><input type="radio" name="answer15" [(ngModel)]="answers[15].selection" value="b" /> B. round.</li>
		<li><input type="radio" name="answer15" [(ngModel)]="answers[15].selection" value="c" /> C. cheap.</li>
		<li><input type="radio" name="answer15" [(ngModel)]="answers[15].selection" value="d" /> D. little.</li>
	</ul>
	<p [innerHtml]="answers[15].message"></p>
	<hr>

	<p>Q17. The wind is variable today.</p>
	<ul class="sample-questions">
		<li><input type="radio" name="answer16" [(ngModel)]="answers[16].selection" value="a" /> A. mild.</li>
		<li><input type="radio" name="answer16" [(ngModel)]="answers[16].selection" value="b" /> B. steady.</li>
		<li><input type="radio" name="answer16" [(ngModel)]="answers[16].selection" value="c" /> C. shifting.</li>
		<li><input type="radio" name="answer16" [(ngModel)]="answers[16].selection" value="d" /> D. chilling</li>
	</ul>
	<p [innerHtml]="answers[16].message"></p>
	<hr>

	<p>Q18. Rudiments most nearly means</p>
	<ul class="sample-questions">
		<li><input type="radio" name="answer17" [(ngModel)]="answers[17].selection" value="a" /> A. politics.</li>
		<li><input type="radio" name="answer17" [(ngModel)]="answers[17].selection" value="b" /> B. minute details.</li>
		<li><input type="radio" name="answer17" [(ngModel)]="answers[17].selection" value="c" /> C. promotion opportunities.
		</li>
		<li><input type="radio" name="answer17" [(ngModel)]="answers[17].selection" value="d" /> D. basic methods and
			procedures.</li>
	</ul>
	<p [innerHtml]="answers[17].message"></p>
	<hr>

	<p>Q19. Antagonize most nearly means</p>
	<ul class="sample-questions">
		<li><input type="radio" name="answer18" [(ngModel)]="answers[18].selection" value="a" /> A. embarrass.</li>
		<li><input type="radio" name="answer18" [(ngModel)]="answers[18].selection" value="b" /> B. struggle.</li>
		<li><input type="radio" name="answer18" [(ngModel)]="answers[18].selection" value="c" /> C. provoke.</li>
		<li><input type="radio" name="answer18" [(ngModel)]="answers[18].selection" value="d" /> D. worship.</li>
	</ul>
	<p [innerHtml]="answers[18].message"></p>
	<hr>

	<p>Q20. His record provides no reason for apprehension.</p>
	<ul class="sample-questions">
		<li><input type="radio" name="answer19" [(ngModel)]="answers[19].selection" value="a" /> A. anxiety.</li>
		<li><input type="radio" name="answer19" [(ngModel)]="answers[19].selection" value="b" /> B. change.</li>
		<li><input type="radio" name="answer19" [(ngModel)]="answers[19].selection" value="c" /> C. enjoyment.</li>
		<li><input type="radio" name="answer19" [(ngModel)]="answers[19].selection" value="d" /> D. endorsement.</li>
	</ul>
	<p [innerHtml]="answers[19].message"></p>
	<hr>

	<h3>Paragraph Comprehension</h3>
	<p>Q21. From a building designer's standpoint, three things that make a home livable are the client, the building
		site, and the amount of money the client has to spend. According to this statement, to make a home livable,</p>
	<ul class="sample-questions">
		<li><input type="radio" name="answer20" [(ngModel)]="answers[20].selection" value="a" /> A. the prospective piece of
			land makes
			little difference.</li>
		<li><input type="radio" name="answer20" [(ngModel)]="answers[20].selection" value="b" /> B. it can be built on any
			piece of land.
		</li>
		<li><input type="radio" name="answer20" [(ngModel)]="answers[20].selection" value="c" /> C. the design must fit the
			owner's income
			and site.</li>
		<li><input type="radio" name="answer20" [(ngModel)]="answers[20].selection" value="d" /> D. the design must fit the
			designer's
			income.</li>
	</ul>
	<p [innerHtml]="answers[20].message"></p>
	<hr>

	<p>Q22. Twenty-five percent of all household burglaries can be attributed to unlocked windows or doors. Crime is the
		result of opportunity plus desire. To prevent crime, it is each individual's responsibility to</p>
	<ul class="sample-questions">
		<li><input type="radio" name="answer21" [(ngModel)]="answers[21].selection" value="a" /> A. provide the desire.</li>
		<li><input type="radio" name="answer21" [(ngModel)]="answers[21].selection" value="b" /> B. provide the opportunity.
		</li>
		<li><input type="radio" name="answer21" [(ngModel)]="answers[21].selection" value="c" /> C. prevent the desire.</li>
		<li><input type="radio" name="answer21" [(ngModel)]="answers[21].selection" value="d" /> D. prevent the opportunity.
		</li>
	</ul>
	<p [innerHtml]="answers[21].message"></p>
	<hr>

	<p>Q23. In certain areas, water is so scarce that every attempt is made to conserve it. For instance, on one oasis in
		the Sahara Desert the amount of water necessary for each date palm tree has been carefully determined. How much
		water should each tree be given?</p>
	<ul class="sample-questions">
		<li><input type="radio" name="answer22" [(ngModel)]="answers[22].selection" value="a" /> A. no water at all.</li>
		<li><input type="radio" name="answer22" [(ngModel)]="answers[22].selection" value="b" /> B. exactly the amount
			required.</li>
		<li><input type="radio" name="answer22" [(ngModel)]="answers[22].selection" value="c" /> C. water on alternate days.
		</li>
		<li><input type="radio" name="answer22" [(ngModel)]="answers[22].selection" value="d" /> D. water only if it is
			healthy.</li>
	</ul>
	<p [innerHtml]="answers[22].message"></p>
	<hr>

	<p>Q24. A thin transparent layer of oxide protects the metal titanium against corrosion. The same thin layer attracts
		artists interested in making their art with the help of technology. By using heat or electricity, an artist can
		thicken the oxide layer and thereby turn the metal a range of vivid colors. According to the passage, some artists
		work with titanium because it</p>
	<ul class="sample-questions">
		<li><input type="radio" name="answer23" [(ngModel)]="answers[23].selection" value="a" /> A. is transparent.</li>
		<li><input type="radio" name="answer23" [(ngModel)]="answers[23].selection" value="b" /> B. does not corrode.</li>
		<li><input type="radio" name="answer23" [(ngModel)]="answers[23].selection" value="c" /> C. generates its own heat.
		</li>
		<li><input type="radio" name="answer23" [(ngModel)]="answers[23].selection" value="d" /> D. can assume a variety of
			colors.</li>
	</ul>
	<p [innerHtml]="answers[23].message"></p>
	<hr>

	<p>Q25. They returned to the beach, where blankets spotted the slope to the water. An advancing wall of clouds, black
		and gray, darkening the expanse of ground beneath, approached from the west. To the east and above them, the sky
		remained clear, the sun warm, as if collaborating in the deception. The "deception" referred to in the passage is
		that</p>
	<ul class="sample-questions">
		<li><input type="radio" name="answer24" [(ngModel)]="answers[24].selection" value="a" /> A. there is no storm
			approaching.</li>
		<li><input type="radio" name="answer24" [(ngModel)]="answers[24].selection" value="b" /> B. the sky is clear in the
			east.</li>
		<li><input type="radio" name="answer24" [(ngModel)]="answers[24].selection" value="c" /> C. it is too cold to swim.
		</li>
		<li><input type="radio" name="answer24" [(ngModel)]="answers[24].selection" value="d" /> D. the sun is warm.</li>
	</ul>
	<p [innerHtml]="answers[24].message"></p>
	<hr>

	<h3>Electronics Information</h3>
	<p>Q26. What does the abbreviation AC stand for?</p>
	<ul class="sample-questions">
		<li><input type="radio" name="answer25" [(ngModel)]="answers[25].selection" value="a" /> A. additional charge</li>
		<li><input type="radio" name="answer25" [(ngModel)]="answers[25].selection" value="b" /> B. alternating coil</li>
		<li><input type="radio" name="answer25" [(ngModel)]="answers[25].selection" value="c" /> C. alternating current</li>
		<li><input type="radio" name="answer25" [(ngModel)]="answers[25].selection" value="d" /> D. ampere current</li>
	</ul>
	<p [innerHtml]="answers[25].message"></p>
	<hr>

	<p>Q27. Which of the following has the least resistance?</p>
	<ul class="sample-questions">
		<li><input type="radio" name="answer26" [(ngModel)]="answers[26].selection" value="a" /> A. wood</li>
		<li><input type="radio" name="answer26" [(ngModel)]="answers[26].selection" value="b" /> B. iron</li>
		<li><input type="radio" name="answer26" [(ngModel)]="answers[26].selection" value="c" /> C. rubber</li>
		<li><input type="radio" name="answer26" [(ngModel)]="answers[26].selection" value="d" /> D. silver</li>
	</ul>
	<p [innerHtml]="answers[26].message"></p>
	<hr>

	<p>Q28. In this circuit diagram, the resistance is 100 ohms, and the current is 0.1 amperes. The voltage is</p>
	<ul class="sample-questions">
		<li><img src="assets/images/q28_asvabtest.jpg" /></li>
		<li><input type="radio" name="answer27" [(ngModel)]="answers[27].selection" value="a" /> A. 5 volts.</li>
		<li><input type="radio" name="answer27" [(ngModel)]="answers[27].selection" value="b" /> B. 10 volts.</li>
		<li><input type="radio" name="answer27" [(ngModel)]="answers[27].selection" value="c" /> C. 100 volts.</li>
		<li><input type="radio" name="answer27" [(ngModel)]="answers[27].selection" value="d" /> D. 1,000 volts.</li>
	</ul>
	<p [innerHtml]="answers[27].message"></p>
	<hr>

	<p>Q29. Which of the following is measured using a ohmmeter?</p>
	<ul class="sample-questions">
		<li><input type="radio" name="answer28" [(ngModel)]="answers[28].selection" value="a" /> A. voltage</li>
		<li><input type="radio" name="answer28" [(ngModel)]="answers[28].selection" value="b" /> B. resistance</li>
		<li><input type="radio" name="answer28" [(ngModel)]="answers[28].selection" value="c" /> C. inductance</li>
		<li><input type="radio" name="answer28" [(ngModel)]="answers[28].selection" value="d" /> D. capacitance</li>
	</ul>
	<p [innerHtml]="answers[28].message"></p>
	<hr>

	<p>Q30. Because solid state diodes have no filament, they</p>
	<ul class="sample-questions">
		<li><input type="radio" name="answer29" [(ngModel)]="answers[29].selection" value="a" /> A. don't work.</li>
		<li><input type="radio" name="answer29" [(ngModel)]="answers[29].selection" value="b" /> B. are less efficient than
			tubes.</li>
		<li><input type="radio" name="answer29" [(ngModel)]="answers[29].selection" value="c" /> C. require less operating
			power.</li>
		<li><input type="radio" name="answer29" [(ngModel)]="answers[29].selection" value="d" /> D. require more operating
			power.</li>
	</ul>
	<p [innerHtml]="answers[29].message"></p>
	<hr>

	<h3>Auto And Shop Information</h3>
	<p>Q31. A chisel is used for</p>
	<ul class="sample-questions">
		<li><input type="radio" name="answer30" [(ngModel)]="answers[30].selection" value="a" /> A. prying.</li>
		<li><input type="radio" name="answer30" [(ngModel)]="answers[30].selection" value="b" /> B. cutting.</li>
		<li><input type="radio" name="answer30" [(ngModel)]="answers[30].selection" value="c" /> C. twisting.</li>
		<li><input type="radio" name="answer30" [(ngModel)]="answers[30].selection" value="d" /> D. grinding.</li>
	</ul>
	<p [innerHtml]="answers[30].message"></p>
	<hr>

	<p>Q32. A car uses too much oil when which of the following parts are worn?</p>
	<ul class="sample-questions">
		<li><input type="radio" name="answer31" [(ngModel)]="answers[31].selection" value="a" /> A. pistons</li>
		<li><input type="radio" name="answer31" [(ngModel)]="answers[31].selection" value="b" /> B. piston rings</li>
		<li><input type="radio" name="answer31" [(ngModel)]="answers[31].selection" value="c" /> C. main bearings</li>
		<li><input type="radio" name="answer31" [(ngModel)]="answers[31].selection" value="d" /> D. connecting rods</li>
	</ul>
	<p [innerHtml]="answers[31].message"></p>
	<hr>

	<p>Q33. The saw shown is used mainly to cut</p>
	<ul class="sample-questions">
		<li><img src="assets/images/q33_asvabtest.jpg" /></li>
		<li><input type="radio" name="answer32" [(ngModel)]="answers[32].selection" value="a" /> A. plywood.</li>
		<li><input type="radio" name="answer32" [(ngModel)]="answers[32].selection" value="b" /> B. odd-shaped holes in
			wood.</li>
		<li><input type="radio" name="answer32" [(ngModel)]="answers[32].selection" value="c" /> C. along the grain of the
			wood.</li>
		<li><input type="radio" name="answer32" [(ngModel)]="answers[32].selection" value="d" /> D. across the grain of the
			wood.</li>
	</ul>
	<p [innerHtml]="answers[32].message"></p>
	<hr>

	<p>Q34. Where does combustion take place?</p>
	<ul class="sample-questions">
		<li><img src="assets/images/q34_asvabtest.jpg" /></li>
		<li><input type="radio" name="answer33" [(ngModel)]="answers[33].selection" value="a" /> A. 3</li>
		<li><input type="radio" name="answer33" [(ngModel)]="answers[33].selection" value="b" /> B. 4</li>
		<li><input type="radio" name="answer33" [(ngModel)]="answers[33].selection" value="c" /> C. 5</li>
		<li><input type="radio" name="answer33" [(ngModel)]="answers[33].selection" value="d" /> D. 6</li>
	</ul>
	<p [innerHtml]="answers[33].message"></p>
	<hr>

	<p>Q35. The clamp shown is called a</p>
	<ul class="sample-questions">
		<li><img src="assets/images/q35_asvabtest.jpg" /></li>
		<li><input type="radio" name="answer34" [(ngModel)]="answers[34].selection" value="a" /> A. bar clamp</li>
		<li><input type="radio" name="answer34" [(ngModel)]="answers[34].selection" value="b" /> B. web clamp</li>
		<li><input type="radio" name="answer34" [(ngModel)]="answers[34].selection" value="c" /> C. spring clamp</li>
		<li><input type="radio" name="answer34" [(ngModel)]="answers[34].selection" value="d" /> D. parallel clamp</li>
	</ul>
	<p [innerHtml]="answers[34].message"></p>
	<hr>

	<h3>Mechanical Comprehension</h3>
	<p>Q36. If gear A makes 14 revolutions, gear B will make</p>
	<ul class="sample-questions">
		<li><img src="assets/images/q36_asvabtest.jpg" /></li>
		<li><input type="radio" name="answer35" [(ngModel)]="answers[35].selection" value="a" /> A. 21</li>
		<li><input type="radio" name="answer35" [(ngModel)]="answers[35].selection" value="b" /> B. 17</li>
		<li><input type="radio" name="answer35" [(ngModel)]="answers[35].selection" value="c" /> C. 14</li>
		<li><input type="radio" name="answer35" [(ngModel)]="answers[35].selection" value="d" /> D. 9</li>
	</ul>
	<p [innerHtml]="answers[35].message"></p>
	<hr>

	<p>Q37. Which post holds up the greater part of the load?</p>
	<ul class="sample-questions">
		<li><img src="assets/images/q37_asvabtest.jpg" /></li>
		<li><input type="radio" name="answer36" [(ngModel)]="answers[36].selection" value="a" /> A. post A</li>
		<li><input type="radio" name="answer36" [(ngModel)]="answers[36].selection" value="b" /> B. post B</li>
		<li><input type="radio" name="answer36" [(ngModel)]="answers[36].selection" value="c" /> C. both equal</li>
		<li><input type="radio" name="answer36" [(ngModel)]="answers[36].selection" value="d" /> D. not clear</li>
	</ul>
	<p [innerHtml]="answers[36].message"></p>
	<hr>

	<p>Q38. In this arrangement of pulleys, which pulley turns fastest?</p>
	<ul class="sample-questions">
		<li><img src="assets/images/q38_asvabtest.jpg" /></li>
		<li><input type="radio" name="answer37" [(ngModel)]="answers[37].selection" value="a" /> A. A</li>
		<li><input type="radio" name="answer37" [(ngModel)]="answers[37].selection" value="b" /> B. B</li>
		<li><input type="radio" name="answer37" [(ngModel)]="answers[37].selection" value="c" /> C. C</li>
		<li><input type="radio" name="answer37" [(ngModel)]="answers[37].selection" value="d" /> D. D</li>
	</ul>
	<p [innerHtml]="answers[37].message"></p>
	<hr>

	<p>Q39. In which direction does friction act on this skier?</p>
	<ul class="sample-questions">
		<li><img src="assets/images/q39_asvabtest.jpg" /></li>
		<li><input type="radio" name="answer38" [(ngModel)]="answers[38].selection" value="a" /> A. A</li>
		<li><input type="radio" name="answer38" [(ngModel)]="answers[38].selection" value="b" /> B. B</li>
		<li><input type="radio" name="answer38" [(ngModel)]="answers[38].selection" value="c" /> C. C</li>
		<li><input type="radio" name="answer38" [(ngModel)]="answers[38].selection" value="d" /> D. D</li>
	</ul>
	<p [innerHtml]="answers[38].message"></p>
	<hr>

	<p>Q40. Why does the intake valve open on this pump when the piston goes down?</p>
	<ul class="sample-questions">
		<li><img src="assets/images/q40_asvabtest.jpg" /></li>
		<li><input type="radio" name="answer39" [(ngModel)]="answers[39].selection" value="a" /> A. Air pressure at X is
			less than air
			pressure at Y.</li>
		<li><input type="radio" name="answer39" [(ngModel)]="answers[39].selection" value="b" /> B. Air pressure at Z is
			less than air
			pressure at X.</li>
		<li><input type="radio" name="answer39" [(ngModel)]="answers[39].selection" value="c" /> C. Air pressure at X is
			greater than air
			pressure at Y.</li>
		<li><input type="radio" name="answer39" [(ngModel)]="answers[39].selection" value="d" /> D. Air pressure at Y is
			greater than air
			pressure at Z.</li>
	</ul>
	<p [innerHtml]="answers[39].message"></p>
	<hr>

</mat-dialog-content>
<mat-dialog-actions style="margin-top: 30px">
	<div class="small-12 columns">
		<button class="button" style="padding: 5px;" type="button" (click)="checkAnswers();trackGoogleAnalytics();">Check My
			Answers</button>
		<button class="button" style="padding: 5px;" type="button" mat-dialog-close>Close</button>
	</div>
</mat-dialog-actions>