.complete-fyi-result-bar-wrapper {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

    h3 {
        width: 100%;
    }

    .row {
        @media (min-width: 992px) {
            display: flex;
            width: 100%;
        }

        > .columns {
            @media (min-width: 992px) {
                justify-content: flex-end;
                display: flex;
                flex-flow: column;
            }
        }
    }

    .complete-fyi-result-bar {
        display: flex;
        flex-direction: column;
        
        @media (max-width: 991px) {
            width: 100%;
        }
        & ~ .complete-fyi-result-bar {
            @media (max-width: 991px) {
                margin-top: 20px;
            }
        } 
        
        p {
            margin-bottom: 13px;

        }
        
        #top-results p {
            margin: -6px 0 10px;
        }
        
        button {
            font-size: 14px;
            line-height: 24px;
            padding: 8px 20px;
            margin: 0 auto;
        }
        
        hr {
            border: 0;
            border-top: 1px solid #CDCDCD;
            margin: auto 0 0;
        }
    }
}

#top-results {
    .skill-books {
        height: 45px;
    }
    
    .text-teal {
        color: #2DA2A7;
    }
    .text-brown {
        color: #8A2F35;
    }
    .text-blue {
        color: #2F2C69;
    }
    .text-gray {
        color: #4A4A4A;
    }

    .score-with-afqt-data {
        color: #4A4A4A;
        margin: 0 10px;
        min-height: 57px;
        span {
            display: block;    
            // margin-right: 5px;
        }

        .my-strengths-bar {
            @media (max-width: 991px) {
                max-width: 100%;
            }
        }

        .my-interest-bar {
            @media (max-width: 991px) {
                max-width: 100%;
                padding-left: 0;
                margin-top: 20px;

                &:before {
                    display: none;
                }
            }
        }
    }
}


.complete-fyi-result {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    min-height: 57px;
    
    .complete-fyi-data {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center;
        max-width: 33.33%;
        width: 100%;

        &:last-child {
            max-width: 40%;
        }

        @media (max-width: 359px) {
            word-break: break-word;
        }
        
        a {
            color: inherit;
        }

        img {
            display: block;
            margin: 0 auto 5px;
        }
    }

    .complete-fyi-no-data {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
        justify-content: space-between;
        max-width: 75%;

        @media (max-width: 359px) {
            word-break: break-word;
        }
        
        a {
            color: inherit;
        }

        img {
            display: block;
            margin: 0 auto 5px;
        }
    }
}

.complete-fyi-switch-icon {
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #CDCDCD;
    width: 100%;
    padding: 2px 0;
    margin-top: 15px;
    
    &.retake-fyi {
        padding: 3px 0;
    }
}

.complete-fyi-switch-icon-noretake {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #CDCDCD;
    padding: 2px 0;
    margin-top: 15px;
    
    &.retake-fyi {
        padding: 3px 0;
    }
}
        
@media (max-width: 991px) {
    .mobile-hide {
        display: none;
    }
}

h3 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 2px !important;
    margin-bottom: 15px !important;
    padding: 8px 10px !important;

    .explain {
        background: url("../../../../assets/images/dashboard/question_rounded.svg");
        background-repeat: no-repeat;
        width: 17px;
        height: 17px;
        flex: 1 0 auto;
        float: none;
        margin-left: 5px;
    }
    .complete-fyi-test-result {
        font-weight: normal;
        text-transform: none;
        margin-left: auto;
    }
}

.complete-fyi-video-tutorial-wrapper {

    .medium-6.columns {
        @media (max-width: 991px) {
            width: 100%;
        }
    }

    .complete-fyi-video-tutorial {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;
        text-align: left;

        @media (max-width: 991px) {
            border-bottom: 1px solid #CDCDCD;
            padding-bottom: 10px;
            margin-bottom: 10px;
            width: 100%;
        }

        .complete-fyi-video-content {
            max-width: 45%;
            padding-right: 5px;

            p {
                color: #000000;
                margin-bottom: 0;
            }

            a {
                font-size: 16px;
                line-height: 22px;
            }
        }
        .complete-fyi-video-wrapper {
            max-width: 168px;
            width: 100%;

            .img-with-play-icon {
                position: relative;

                .video-play {
                    max-width: 40px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}   
