

<!-- Needs to be this expanded version
  https://www.sketch.com/s/d2720e9e-5310-433f-9d80-a15eaf466890/a/n2y8Op -->

<!-- asvab, FYI-->
<div class="my-asvab-score-no-fyi" *ngIf="(haveAsvabTestScores || haveManualAsvabTestScores) && interestCodeOne">
    <div class="my-strengths-bar">
        <!-- NO scores -->
        <ng-container *ngIf="!haveAsvabTestScores && !haveManualAsvabTestScores">
          <a (click)="cepManualInput()" class="mx-auto">Enter Your Scores</a>
        </ng-container>
        <!-- / NO scores -->
        
        <!-- scores -->
        <ng-container *ngIf="haveAsvabTestScores || haveManualAsvabTestScores">
            <span id="top-results">
              <div id="my-results" class="row small-up-4">
                  
                <div class="complete-fyi">
                    <div class="complete-fyi-result-bar-wrapper">
                        <div class="medium-6 columns complete-fyi-result-bar">
                            <h3 *ngIf = "userRole !== 'E' && userRole !== 'D'">
                                <span *ngIf="userRole != 'S'">SAMPLE ASVAB STRENGTHS <a (click)="asvabStrengths()" class="explain alt"></a></span>
                                <span *ngIf="userRole == 'S'">MY ASVAB STRENGTHS <a (click)="asvabStrengths()" class="explain alt"></a></span>
                                <a *ngIf="haveAsvabTestScores
                                    && getScore('verbal')
                                    && getScore('math')
                                    && getScore('science')"
                                    routerLink="/my-asvab-summary-results" 
                                    class="complete-fyi-test-result">Test Results</a>
                                <a *ngIf="!haveAsvabTestScores" 
                                    routerLink="/my-asvab-summary-results-manual"
                                    class="complete-fyi-test-result">Test Results</a>
                            </h3>
                            <h3 *ngIf = "userRole === 'E' || userRole === 'D'">
                                <span>SAMPLE STRENGTHS <a (click)="asvabStrengths()" class="explain alt"></a></span>
                                <a *ngIf="haveAsvabTestScores
                                    && getScore('verbal')
                                    && getScore('math')
                                    && getScore('science')"
                                    routerLink="/my-asvab-summary-results" 
                                    class="complete-fyi-test-result">Test Results</a>
                                <a *ngIf="!haveAsvabTestScores" 
                                    routerLink="/my-asvab-summary-results-manual"
                                    class="complete-fyi-test-result">Test Results</a>
                            </h3>
                            <span id="top-results" *ngIf="!showScoresTable">
                                  <p><b>Your top strength will have the most books</b></p>
                                  <div id="my-results" class="complete-fyi-result">
                                    <div class="complete-fyi-data">
                                      <div name="fieldName" ngDefaultControl class="skill-books" attr.id="{{ haveAsvabTestScores ? 'verbal-skills' : 'manual-score-skills' }}" [ngStyle]="getBookPos('verbal')" [(ngModel)]="vBooks.xPos"></div>
                                      <div>Verbal</div>
                                    </div>
                                    <div class="complete-fyi-data">
                                      <div name="fieldName" ngDefaultControl class="skill-books" attr.id="{{ haveAsvabTestScores ? 'math-skills' : 'manual-score-skills' }}" [ngStyle]="getBookPos('math')" [(ngModel)]="mBooks.xPos"></div>
                                      <div>Math</div>
                                    </div>
                                    <div class="complete-fyi-data">
                                      <div name="fieldName" ngDefaultControl class="skill-books" attr.id="{{ haveAsvabTestScores ? 'science-skills' : 'manual-score-skills' }}" [ngStyle]="getBookPos('science')" [(ngModel)]="sBooks.xPos"></div>
                                        <div>Science/Technology</div>
                                    </div>
                                  </div>
                                </span>

                                <span id="top-results" *ngIf="showScoresTable">
                                  <p><b>&nbsp;</b></p>
                                  <div id="my-results" class="row small-up-4 score-with-afqt-data">
                                    <div class="columns">
                                      <span class="text-teal"><strong>{{getScore("verbal")}}</strong></span>
                                      <strong>V</strong>
                                    </div>
                                    <div class="columns">
                                      <span class="text-brown"><strong>{{getScore("math")}}</strong></span>
                                      <strong>M</strong>
                                    </div>
                                    <div class="columns">
                                      <span class="text-blue"><strong>{{getScore("science")}}</strong></span>
                                      <strong>S/T</strong>
                                    </div>
                                    <div class="columns">
                                      <span class="text-gray"><strong>{{getScore("afqt")}}</strong></span>
                                      <strong>AFQT</strong>
                                    </div>
                                  </div>
                                </span>

                            <div class="complete-fyi-switch-icon">
                                <a *ngIf="!showScoresTable" (click)="toggleScoreView()"><img src="assets/images/dashboard/Switch.svg"> Show Standard Scores</a>
                                <a *ngIf="showScoresTable" (click)="toggleScoreView()"><img src="assets/images/dashboard/Switch.svg"> Show Strengths</a>
                            </div>

                        </div>
                        <div class="medium-6 columns complete-fyi-result-bar" ng-if="interestCodeOne != undefined">
                            <h3>
                                <span>MY TOP INTERESTS <a (click)="interestCodes()" class="explain alt"></a></span>
                                <a routerLink="/find-your-interest-score" class="complete-fyi-test-result">FYI Results</a>
                            </h3>
                            <div class="complete-fyi-result" style="flex-grow: 1;">
                                <div class="complete-fyi-data">
                                    <a *ngIf="interestCodeOne == 'C'" (click)="interestCodeInfo('C')" class="my-interest-code">
                                        <img src="assets/images/dashboard/Triangle_green.svg"><span>Conventional</span>
                                    </a>
                                    <a *ngIf="interestCodeOne == 'R'" (click)="interestCodeInfo('R')" class="my-interest-code">
                                        <img src="assets/images/dashboard/Triangle_blue.svg"><span>Realistic</span>
                                    </a>
                                    <a *ngIf="interestCodeOne == 'I'" (click)="interestCodeInfo('I')" class="my-interest-code">
                                        <img src="assets/images/dashboard/Triangle_brown.svg"><span>Investigative</span>
                                    </a>
                                    <a *ngIf="interestCodeOne == 'A'" (click)="interestCodeInfo('A')" class="my-interest-code">
                                        <img src="assets/images/dashboard/Triangle_orange.svg"><span>Artistic</span>
                                    </a>
                                    <a *ngIf="interestCodeOne == 'S'" (click)="interestCodeInfo('S')" class="my-interest-code">
                                        <img src="assets/images/dashboard/Triangle_navy.svg"><span>Social</span>
                                    </a>
                                    <a *ngIf="interestCodeOne == 'E'" (click)="interestCodeInfo('E')" class="my-interest-code">
                                        <img src="assets/images/dashboard/Triangle_red.svg"><span>Enterprising</span>
                                    </a>
                                </div>
                                <div class="complete-fyi-data">
                                    <a *ngIf="interestCodeTwo == 'C'" (click)="interestCodeInfo('C')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_green.svg"><span>Conventional</span></a>
                                    <a *ngIf="interestCodeTwo == 'R'" (click)="interestCodeInfo('R')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_blue.svg"><span>Realistic</span></a>
                                    <a *ngIf="interestCodeTwo == 'I'" (click)="interestCodeInfo('I')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_brown.svg"><span>Investigative</span></a>
                                    <a *ngIf="interestCodeTwo == 'A'" (click)="interestCodeInfo('A')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_orange.svg"><span>Artistic</span></a>
                                    <a *ngIf="interestCodeTwo == 'S'" (click)="interestCodeInfo('S')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_navy.svg"><span>Social</span></a>
                                    <a *ngIf="interestCodeTwo == 'E'" (click)="interestCodeInfo('E')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_red.svg"><span>Enterprising</span></a>
                                </div>
                                <div class="complete-fyi-data">
                                    <a *ngIf="interestCodeThree == 'C'" (click)="interestCodeInfo('C')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_green.svg"><span>Conventional</span></a>
                                    <a *ngIf="interestCodeThree == 'R'" (click)="interestCodeInfo('R')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_blue.svg"><span>Realistic</span></a>
                                    <a *ngIf="interestCodeThree == 'I'" (click)="interestCodeInfo('I')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_brown.svg"><span>Investigative</span></a>
                                    <a *ngIf="interestCodeThree == 'A'" (click)="interestCodeInfo('A')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_orange.svg"><span>Artistic</span></a>
                                    <a *ngIf="interestCodeThree == 'S'" (click)="interestCodeInfo('S')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_navy.svg"><span>Social</span></a>
                                    <a *ngIf="interestCodeThree == 'E'" (click)="interestCodeInfo('E')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_red.svg"><span>Enterprising</span></a>
                                </div>
                            </div>
                            <div *ngIf="isUnlimitedFyi() || numberTestTaken < limit" class="complete-fyi-switch-icon retake-fyi">
                                <a routerLink="/find-your-interest">Retake the FYI</a>
                                <span *ngIf="(scoreChoice == 'gender' && tiedLink && tiedLink.isGenderScoresTied) || (scoreChoice == 'combined' && tiedLink && tiedLink.isCombinedScoresTied)">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                                <a *ngIf="(scoreChoice == 'gender' && tiedLink && tiedLink.isGenderScoresTied) || (scoreChoice == 'combined' && tiedLink && tiedLink.isCombinedScoresTied)" (click)="tiedLinkClick();">View Tied Scores</a>
                            </div>
                            <div *ngIf="!isUnlimitedFyi() && numberTestTaken >= limit" class="complete-fyi-switch-icon retake-fyi">&nbsp;
                                <a *ngIf="(scoreChoice == 'gender' && tiedLink && tiedLink.isGenderScoresTied) || (scoreChoice == 'combined' && tiedLink && tiedLink.isCombinedScoresTied)" (click)="tiedLinkClick();">View Tied Scores</a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </span>  
        </ng-container>
    </div>
</div>

<!-- asvab, no FYI  -->
<div class="my-asvab-score-no-fyi" *ngIf="(haveAsvabTestScores || haveManualAsvabTestScores) && !interestCodeOne">
    <div class="my-strengths-bar">
        <!-- NO scores -->
        <ng-container *ngIf="!haveAsvabTestScores && !haveManualAsvabTestScores">
          <a (click)="cepManualInput()" class="mx-auto">Enter Your Scores</a>
        </ng-container>
        <!-- / NO scores -->
        
        <!-- scores -->
        <ng-container *ngIf="haveAsvabTestScores || haveManualAsvabTestScores">
            <span id="top-results">
              <div id="my-results" class="row small-up-4">
                  
                <div class="complete-fyi">
                    <div class="complete-fyi-result-bar-wrapper">
                        <div class="medium-6 columns complete-fyi-result-bar">
                            <h3 *ngIf = "userRole !== 'E' && userRole !== 'D'">
                                <span>MY ASVAB STRENGTHS <a (click)="asvabStrengths()" class="explain alt"></a></span>
                                <a *ngIf="haveAsvabTestScores
                                    && getScore('verbal')
                                    && getScore('math')
                                    && getScore('science')"
                                    routerLink="/my-asvab-summary-results" 
                                    class="complete-fyi-test-result">Test Results</a>
                                <a *ngIf="!haveAsvabTestScores" 
                                    routerLink="/my-asvab-summary-results-manual"
                                    class="complete-fyi-test-result">Test Results</a>
                            </h3>
                            <h3 *ngIf = "userRole === 'E' || userRole === 'D'">
                                <span>SAMPLE STRENGTHS <a (click)="asvabStrengths()" class="explain alt"></a></span>
                                <a *ngIf="haveAsvabTestScores
                                    && getScore('verbal')
                                    && getScore('math')
                                    && getScore('science')"
                                    routerLink="/my-asvab-summary-results" 
                                    class="complete-fyi-test-result">Test Results</a>
                                <a *ngIf="!haveAsvabTestScores" 
                                    routerLink="/my-asvab-summary-results-manual"
                                    class="complete-fyi-test-result">Test Results</a>
                            </h3>
                            <span id="top-results" *ngIf="!showScoresTable">
                                  <p><b>Your top strength will have the most books</b></p>
                                  <div id="my-results" class="complete-fyi-result">
                                    <div class="complete-fyi-data">
                                      <div name="fieldName" ngDefaultControl class="skill-books" attr.id="{{ haveAsvabTestScores ? 'verbal-skills' : 'manual-score-skills' }}" [ngStyle]="getBookPos('verbal')" [(ngModel)]="vBooks.xPos"></div>
                                      <div>Verbal</div>
                                    </div>
                                    <div class="complete-fyi-data">
                                      <div name="fieldName" ngDefaultControl class="skill-books" attr.id="{{ haveAsvabTestScores ? 'math-skills' : 'manual-score-skills' }}" [ngStyle]="getBookPos('math')" [(ngModel)]="mBooks.xPos"></div>
                                      <div>Math</div>
                                    </div>
                                    <div class="complete-fyi-data">
                                      <div name="fieldName" ngDefaultControl class="skill-books" attr.id="{{ haveAsvabTestScores ? 'science-skills' : 'manual-score-skills' }}" [ngStyle]="getBookPos('science')" [(ngModel)]="sBooks.xPos"></div>
                                        <div>Science/Technology</div>
                                    </div>
                                  </div>
                                </span>

                                <span id="top-results" *ngIf="showScoresTable">
                                  <p><b>&nbsp;</b></p>
                                  <div id="my-results" class="row small-up-4 score-with-afqt-data">
                                    <div class="columns">
                                      <span class="text-teal"><strong>{{getScore("verbal")}}</strong></span>
                                      <strong>V</strong>
                                    </div>
                                    <div class="columns">
                                      <span class="text-brown"><strong>{{getScore("math")}}</strong></span>
                                      <strong>M</strong>
                                    </div>
                                    <div class="columns">
                                      <span class="text-blue"><strong>{{getScore("science")}}</strong></span>
                                      <strong>S/T</strong>
                                    </div>
                                    <div class="columns">
                                      <span class="text-gray"><strong>{{getScore("afqt")}}</strong></span>
                                      <strong>AFQT</strong>
                                    </div>
                                  </div>
                                </span>

                            <div *ngIf="!showScoresTable" class="complete-fyi-switch-icon">
                                <a (click)="toggleScoreView()"><img src="assets/images/dashboard/Switch.svg"> Show Standard Scores</a>
                            </div>
                            <div *ngIf="showScoresTable" class="complete-fyi-switch-icon">
                                <a (click)="toggleScoreView()"><img src="assets/images/dashboard/Switch.svg"> Show Strengths</a>
                            </div>

                        </div>
                        <div class="medium-6 columns complete-fyi-result-bar" ng-if="interestCodeOne != undefined">
                            <h3>
                                <span>MY TOP INTERESTS <a (click)="interestCodes()" class="explain alt"></a></span>
                            </h3>
                            <div class="complete-fyi-result" style="flex-grow: 1;">
                                <div class="complete-fyi-data complete-fyi-no-data" style="max-width: 75%">
                                    <a style="pointer-events: none" class="my-interest-code">
                                        <img src="assets/images/dashboard/Triangle_grey.svg"><span>?</span>
                                    </a>
                                    <a style="pointer-events: none" class="my-interest-code">
                                        <img src="assets/images/dashboard/Triangle_grey.svg"><span>?</span>
                                    </a>
                                    <a style="pointer-events: none" class="my-interest-code">
                                        <img src="assets/images/dashboard/Triangle_grey.svg"><span>?</span>
                                    </a>
                                </div>
                            </div>
                            <div *ngIf="isUnlimitedFyi() || numberTestTaken < limit" class="complete-fyi-switch-icon retake-fyi">
                                <a routerLink="/find-your-interest">Take the FYI</a>
                            </div>
                            <div *ngIf="!isUnlimitedFyi() && numberTestTaken >= limit" class="complete-fyi-switch-icon-noretake retake-fyi">&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </span>  
        </ng-container>
    </div>
</div>

<!-- with video, asvab, no FYI (no longer used)-->
<div class="complete-fyi-result-bar-wrapper complete-fyi-video-tutorial-wrapper" *ngIf="false && (haveAsvabTestScores || haveManualAsvabTestScores) && !interestCodeOne">
<!-- <div class="complete-fyi-result-bar-wrapper complete-fyi-video-tutorial-wrapper"> -->
    <h3 *ngIf = "userRole !== 'E' && userRole !== 'D'">
        <span>MY ASVAB STRENGTHS <a (click)="asvabStrengths()" class="explain alt"></a></span>
        <a *ngIf="haveAsvabTestScores
            && getScore('verbal')
            && getScore('math')
            && getScore('science')"
            routerLink="/my-asvab-summary-results" 
            class="complete-fyi-test-result">Test Results</a>
        <a *ngIf="!haveAsvabTestScores" 
            routerLink="/my-asvab-summary-results-manual"
            class="complete-fyi-test-result">Test Results</a>    </h3>
    <h3 *ngIf = "userRole === 'E' || userRole === 'D'">
        <span>SAMPLE STRENGTHS <a (click)="asvabStrengths()" class="explain alt"></a></span>
        <a *ngIf="haveAsvabTestScores
            && getScore('verbal')
            && getScore('math')
            && getScore('science')"
            routerLink="/my-asvab-summary-results" 
            class="complete-fyi-test-result">Test Results</a>
        <a *ngIf="!haveAsvabTestScores" 
            routerLink="/my-asvab-summary-results-manual"
            class="complete-fyi-test-result">Test Results</a>
        </h3>
    <div class="row">
        <div class="medium-6 columns">
            <div class="complete-fyi-video-tutorial">
                <div class="complete-fyi-video-content">
                    <p><b>Video Tutorial:</b></p>
                    <a routerLink="/media-center-article/28">Understanding ASVAB Test Scores</a>
                </div>
                <div class="complete-fyi-video-wrapper">
                    <div class="img-with-play-icon">
                        <a (click)="showVideoDialog('https://www.youtube.com/embed/RM-g73droL4')">
                            <img src="/assets/images/asvab-tutorial-video.jpg" alt="Video Tutorial">
                            <img src="/assets/images/play-icon.png" alt="Play" class="video-play">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="medium-6 columns complete-fyi-result-bar">
            <span id="top-results" *ngIf="!showScoresTable">
              <p><b>Your top strength will have the most books</b></p>
              <div id="my-results" class="complete-fyi-result">
                <div class="complete-fyi-data">
                  <div name="fieldName" ngDefaultControl class="skill-books" attr.id="{{ haveAsvabTestScores ? 'verbal-skills' : 'manual-score-skills' }}" [ngStyle]="getBookPos('verbal')" [(ngModel)]="vBooks.xPos"></div>
                  <div>Verbal</div>
                </div>
                <div class="complete-fyi-data">
                  <div name="fieldName" ngDefaultControl class="skill-books" attr.id="{{ haveAsvabTestScores ? 'math-skills' : 'manual-score-skills' }}" [ngStyle]="getBookPos('math')" [(ngModel)]="mBooks.xPos"></div>
                  <div>Math</div>
                </div>
                <div class="complete-fyi-data">
                  <div name="fieldName" ngDefaultControl class="skill-books" attr.id="{{ haveAsvabTestScores ? 'science-skills' : 'manual-score-skills' }}" [ngStyle]="getBookPos('science')" [(ngModel)]="sBooks.xPos"></div>
                    <div>Science/Technology</div>
                </div>
              </div>
            </span>
            
            <span id="top-results" *ngIf="showScoresTable">
              <p><b>&nbsp;</b></p>
              <div id="my-results" class="row small-up-4 score-with-afqt-data">
                <div class="columns">
                  <span class="text-teal"><strong>{{getScore("verbal")}}</strong></span>
                  <strong>V</strong>
                </div>
                <div class="columns">
                  <span class="text-brown"><strong>{{getScore("math")}}</strong></span>
                  <strong>M</strong>
                </div>
                <div class="columns">
                  <span class="text-blue"><strong>{{getScore("science")}}</strong></span>
                  <strong>S/T</strong>
                </div>
                <div class="columns">
                  <span class="text-gray"><strong>{{getScore("afqt")}}</strong></span>
                  <strong>AFQT</strong>
                </div>
              </div>
            </span>
            
        </div>
        
    </div>
    <div class="complete-fyi-switch-icon">
        <div class="row">
            <div class="medium-6 columns"></div>
            <div class="medium-6 columns">
                <a *ngIf="!showScoresTable" (click)="toggleScoreView()"><img src="assets/images/dashboard/Switch.svg"> Show Standard Scores</a>
                <a *ngIf="showScoresTable" (click)="toggleScoreView()"><img src="assets/images/dashboard/Switch.svg"> Show Strengths</a>
            </div>
        </div>
    </div>
</div>

<!-- no asvab, FYI-->
<div class="my-asvab-score-no-fyi" *ngIf="!haveAsvabTestScores && !haveManualAsvabTestScores && interestCodeOne">
  <div class="my-strengths-bar">
      <!-- scores -->
      <ng-container>
          <span id="top-results">
            <div id="my-results" class="row small-up-4">
                
              <div class="complete-fyi">
                  <div class="complete-fyi-result-bar-wrapper">
                      <div class="medium-6 columns complete-fyi-result-bar">
                          <h3 *ngIf = "userRole !== 'E' && userRole !== 'D'">
                              <span>MY ASVAB STRENGTHS <a (click)="asvabStrengths()" class="explain alt"></a></span>
                              <a *ngIf="haveAsvabTestScores
                                && getScore('verbal')
                                && getScore('math')
                                && getScore('science')"
                                routerLink="/my-asvab-summary-results" 
                                class="complete-fyi-test-result">Test Results</a>
                              <a *ngIf="!haveAsvabTestScores" 
                                routerLink="/my-asvab-summary-results-manual"
                                class="complete-fyi-test-result">Test Results</a>                          </h3>
                          <h3 *ngIf = "userRole === 'E' || userRole === 'D'">
                              <span>SAMPLE STRENGTHS <a (click)="asvabStrengths()" class="explain alt"></a></span>
                              <a *ngIf="haveAsvabTestScores
                                && getScore('verbal')
                                && getScore('math')
                                && getScore('science')"
                                routerLink="/my-asvab-summary-results" 
                                class="complete-fyi-test-result">Test Results</a>
                              <a *ngIf="!haveAsvabTestScores" 
                                routerLink="/my-asvab-summary-results-manual"
                                class="complete-fyi-test-result">Test Results</a>                          </h3>
                            <p><strong>You have taken the ASVAB CEP.</strong></p>
                            <button class="button" type="button" (click)="cepManualInput()">Enter Your Scores</button>
                            <hr/>
                      </div>
                      <div class="medium-6 columns complete-fyi-result-bar" ng-if="interestCodeOne != undefined">
                          <h3>
                              <span>MY TOP INTERESTS <a (click)="interestCodes()" class="explain alt"></a></span>
                              <a routerLink="/find-your-interest-score" class="complete-fyi-test-result">FYI Results</a>
                          </h3>
                          <!-- <p class="mobile-hide" style="margin-bottom: 20px;"><b>&nbsp;</b></p> -->
                          <div class="complete-fyi-result">
                              <div class="complete-fyi-data">
                                  <a *ngIf="interestCodeOne == 'C'" (click)="interestCodeInfo('C')" class="my-interest-code">
                                      <img src="assets/images/dashboard/Triangle_green.svg"><span>Conventional</span>
                                  </a>
                                  <a *ngIf="interestCodeOne == 'R'" (click)="interestCodeInfo('R')" class="my-interest-code">
                                      <img src="assets/images/dashboard/Triangle_blue.svg"><span>Realistic</span>
                                  </a>
                                  <a *ngIf="interestCodeOne == 'I'" (click)="interestCodeInfo('I')" class="my-interest-code">
                                      <img src="assets/images/dashboard/Triangle_brown.svg"><span>Investigative</span>
                                  </a>
                                  <a *ngIf="interestCodeOne == 'A'" (click)="interestCodeInfo('A')" class="my-interest-code">
                                      <img src="assets/images/dashboard/Triangle_orange.svg"><span>Artistic</span>
                                  </a>
                                  <a *ngIf="interestCodeOne == 'S'" (click)="interestCodeInfo('S')" class="my-interest-code">
                                      <img src="assets/images/dashboard/Triangle_navy.svg"><span>Social</span>
                                  </a>
                                  <a *ngIf="interestCodeOne == 'E'" (click)="interestCodeInfo('E')" class="my-interest-code">
                                      <img src="assets/images/dashboard/Triangle_red.svg"><span>Enterprising</span>
                                  </a>
                              </div>
                              <div class="complete-fyi-data">
                                  <a *ngIf="interestCodeTwo == 'C'" (click)="interestCodeInfo('C')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_green.svg"><span>Conventional</span></a>
                                  <a *ngIf="interestCodeTwo == 'R'" (click)="interestCodeInfo('R')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_blue.svg"><span>Realistic</span></a>
                                  <a *ngIf="interestCodeTwo == 'I'" (click)="interestCodeInfo('I')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_brown.svg"><span>Investigative</span></a>
                                  <a *ngIf="interestCodeTwo == 'A'" (click)="interestCodeInfo('A')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_orange.svg"><span>Artistic</span></a>
                                  <a *ngIf="interestCodeTwo == 'S'" (click)="interestCodeInfo('S')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_navy.svg"><span>Social</span></a>
                                  <a *ngIf="interestCodeTwo == 'E'" (click)="interestCodeInfo('E')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_red.svg"><span>Enterprising</span></a>
                              </div>
                              <div class="complete-fyi-data">
                                  <a *ngIf="interestCodeThree == 'C'" (click)="interestCodeInfo('C')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_green.svg"><span>Conventional</span></a>
                                  <a *ngIf="interestCodeThree == 'R'" (click)="interestCodeInfo('R')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_blue.svg"><span>Realistic</span></a>
                                  <a *ngIf="interestCodeThree == 'I'" (click)="interestCodeInfo('I')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_brown.svg"><span>Investigative</span></a>
                                  <a *ngIf="interestCodeThree == 'A'" (click)="interestCodeInfo('A')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_orange.svg"><span>Artistic</span></a>
                                  <a *ngIf="interestCodeThree == 'S'" (click)="interestCodeInfo('S')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_navy.svg"><span>Social</span></a>
                                  <a *ngIf="interestCodeThree == 'E'" (click)="interestCodeInfo('E')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_red.svg"><span>Enterprising</span></a>
                              </div>
                          </div>
                        <div *ngIf="isUnlimitedFyi() || numberTestTaken < limit" class="complete-fyi-switch-icon retake-fyi">
                            <a routerLink="/find-your-interest">Retake the FYI</a>
                            <span
                                *ngIf="(scoreChoice == 'gender' && tiedLink && tiedLink.isGenderScoresTied) || (scoreChoice == 'combined' && tiedLink && tiedLink.isCombinedScoresTied)">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                            <a *ngIf="(scoreChoice == 'gender' && tiedLink && tiedLink.isGenderScoresTied) || (scoreChoice == 'combined' && tiedLink && tiedLink.isCombinedScoresTied)"
                                (click)="tiedLinkClick();">View Tied Scores</a>
                        </div>
                        <div *ngIf="!isUnlimitedFyi() && numberTestTaken >= limit" class="complete-fyi-switch-icon-noretake retake-fyi">&nbsp;
                            <a *ngIf="(scoreChoice == 'gender' && tiedLink && tiedLink.isGenderScoresTied) || (scoreChoice == 'combined' && tiedLink && tiedLink.isCombinedScoresTied)"
                                (click)="tiedLinkClick();">View Tied Scores</a>
                        </div>
                      </div>
                  </div>
              </div>
              </div>
          </span>  
      </ng-container>
  </div>
</div>

<!-- with video, no asvab, no FYI-->
<div class="complete-fyi-result-bar-wrapper complete-fyi-video-tutorial-wrapper" *ngIf="!haveAsvabTestScores && !haveManualAsvabTestScores && !interestCodeOne">
  <h3 *ngIf = "userRole !== 'E' && userRole !== 'D'">
      <span>MY ASVAB STRENGTHS <a (click)="asvabStrengths()" class="explain alt"></a></span>
      <!-- <a href="#" class="complete-fyi-test-result">Test Results</a> -->
  </h3>
  <h3 *ngIf = "userRole === 'E' || userRole === 'D'">
      <span>SAMPLE STRENGTHS <a (click)="asvabStrengths()" class="explain alt"></a></span>
      <!-- <a href="#" class="complete-fyi-test-result">Test Results</a> -->
  </h3>
  <div class="row">
      <div class="medium-6 columns">
          <div class="complete-fyi-video-tutorial">
              <div class="complete-fyi-video-content">
                  <p><b>Video Tutorial:</b></p>
                  <a routerLink="/media-center-article/28">Understanding ASVAB Test Scores</a>
              </div>
              <div class="complete-fyi-video-wrapper">
                  <div class="img-with-play-icon">
                      <a (click)="showVideoDialog('https://www.youtube.com/embed/RM-g73droL4')">
                          <img src="/assets/images/asvab-tutorial-video.jpg" alt="Video Tutorial">
                          <img src="/assets/images/play-icon.png" alt="Play" class="video-play">
                      </a>
                  </div>
              </div>
          </div>
      </div>
      <div class="medium-6 columns complete-fyi-result-bar">
        <p><strong>You have taken the ASVAB CEP.</strong></p>
        <button class="button" type="button" (click)="cepManualInput()">Enter Your Scores</button>
      </div> 
  </div>
</div>