<ng-container *ngIf="!isLoading">
  <div class="career_plan_item_title">
    <div>
      <div title="{{occupationDescription}}" style="text-overflow:ellipsis;
      overflow:hidden;
      white-space: nowrap;"><strong>Plan:&nbsp;</strong>{{occupationDescription}}</div>
    </div>
  </div>
  
  <!-- Show for mobile view only -->
  <div class="plan_item_footer show-for-small-only">
    <a [routerLink]="'/view-plan/'+userOccupationPlan.id"><img src="assets/images/list_item.svg" alt="List"></a>
    <!-- <a href="#"><i class="fas fa-share" aria-hidden="true"></i></a> -->
    <a (click)="showSubmitToMentor(userOccupationPlan)"><img src="assets/images/mentor_submit.png" /></a>
    <a *ngIf="unreadMsgCount > 0" (click)="showNotification(userOccupationPlan)" style="margin-right: 60px" class="message_count_link"><span class="message_count">{{unreadMsgCount}}</span></a>
    <a (click)="removeCard(userOccupationPlan.id, occupationDescription)"><img src="assets/images/close-blue.svg" /></a>
  </div>
  
  <div class="career_plan_content">
    <ul>
      <li *ngFor="let iconSrc of occupationPathwayIcons"><img src="{{iconSrc}}"></li>
    </ul>
    <div>
      <ng-container *ngIf="occupationPlanCalendars">
        <p><strong>Upcoming Date:</strong></p>

        <ng-container *ngIf="occupationPlanCalendars?.length > 0">
          <div class="mb_15">
            <div title="{{closestUpcomingDate.date}} - {{closestUpcomingDate.title}}" style="text-overflow:ellipsis;
            overflow:hidden;
            white-space: nowrap;">
              <a routerLink="/plan-calendar">
                {{closestUpcomingDate.date}}&nbsp;{{closestUpcomingDate.title}} </a>
            </div>
          </div>
          <p *ngIf="getRemainingTasksForCalendar(closestUpcomingDate) > 0" class="disabled">
            Tasks: &nbsp;<span>({{getRemainingTasksForCalendar(closestUpcomingDate)}} tasks remaining)</span>
          </p>
          <p *ngIf="getRemainingTasksForCalendar(closestUpcomingDate) == 0">
            No tasks assigned
          </p>
          <div class="task-progressbar">
            <mat-progress-bar mode="determinate" [value]="getProgressBarValueForCalendar(closestUpcomingDate)">
            </mat-progress-bar>
          </div>
          <a (click)="addTask()">Add Tasks</a>
        </ng-container>

        <ng-container *ngIf="occupationPlanCalendars?.length == 0 && unassignedPlanTasks?.length == 0">
          <p class="mb_15">None</p>
          <p class="disabled">
            No tasks assigned
          </p>
          <div class="task-progressbar">
            <mat-progress-bar mode="determinate" [value]="0">
            </mat-progress-bar>
          </div>
          <a (click)="addTask()">Add Tasks</a>
        </ng-container>

        <ng-container *ngIf="unassignedPlanTasks?.length > 0 && occupationPlanCalendars?.length == 0">
          <p class="mb_15">None</p>

          <p *ngIf="getUnassignedPlanTasks() > 0" class="disabled">
            Tasks: &nbsp;<span>({{getUnassignedPlanTasks()}} tasks remaining)</span>
          </p>
          <p *ngIf="getUnassignedPlanTasks() == 0">
            No tasks assigned
          </p>
          <div class="task-progressbar">
            <mat-progress-bar mode="determinate" [value]="getProgressBarValueForUnAssignedTasks()">
            </mat-progress-bar>
          </div>
          <a (click)="addTask()">Add Tasks</a>
        </ng-container>
      </ng-container>

    </div>
  </div>
  <div class="plan_item_footer hide-for-small-only">
    <a matTooltip="View Plan" [routerLink]="'/view-plan/'+userOccupationPlan.id"><img src="assets/images/list_item.svg" alt="List"></a>
    <!-- <a href="#"><i class="fas fa-share" aria-hidden="true"></i></a> -->
    <a matTooltip="Submit to Mentor" (click)="showSubmitToMentor(userOccupationPlan)"><img src="assets/images/mentor_submit.png" /></a>
    <a *ngIf="unreadMsgCount > 0" (click)="showNotification(userOccupationPlan)" style="margin-right: 60px" class="message_count_link">
      <span class="message_count">{{unreadMsgCount}}</span></a>
    <a class="removeCard" (click)="removeCard(userOccupationPlan.id, occupationDescription)"><img src="assets/images/close-blue.svg" /></a>
  </div>
</ng-container>
<div class="career_plan_content text-center loading-plan" *ngIf="isLoading">
  <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
  Loading plan...
</div>