.mb_0 {
    margin-bottom: 0;
  }
  .mb_15 {
    margin-bottom: 15px !important;
  }
  .mobile-hide {
    @media (max-width: 639px) {
        display: none;
    }
  }
  .occufind #content-wrap h3 {
    font-size: 14px;
    line-height: 19px;
    color: #4A4A4A;
    background-color: #EEEEEE;
    text-transform: inherit;
    padding: 6px 10px;
    margin-bottom: 20px;
  }
    
    
        p {
            line-height: 19px;
            color: #4A4A4A;
            margin-bottom: 0;
    
            &.disabled {
                color: #727272;
            }
        }
    
        .career_plan_item_title {
            background-color: #E4F4F4;
            padding: 11px;
            width:100%;
        }
    
        .career_plan_content {
            padding: 12px 15px 20px;
            margin-bottom: auto;
            width:100%;
    
            ul {
                margin: 0 0 10px;
    
                li {
                    display: inline-block;
    
                    + li {
                        margin-left: 5px;
                    }
    
                    &:before {
                        display: none;
                    }
                }
            }
        }
    
  
  
  
  .plan_item_footer {
    border-top: 1px solid #979797;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 34px;
      
    a {
        margin-right: 15px
    }
      
    .removeCard {
      margin-left: auto;
      margin-right: 0;
    }

    .message_count_link .message_count {
        display: block;
        background-image: url('/assets/images/dashboard/message_icon.svg');
        background-size: cover;
        background-repeat: no-repeat;
        min-width: 20px;
        min-height: 20px;
        font-size: 13px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        margin-left: 6px;

        @media (max-width: 639px) {
            font-weight: bold;
            min-height: 23px;
            min-width: 22px;
            margin-left: 0;
        }
    }
  }
  
  
  .task-progressbar {
    margin: 5px 0 10px;
  }
  
  .resume_calender_wrapper {
    display: flex;
    @media (min-width: 640px) and (max-width: 991px) {
        .medium-4 {
            width: 60%;
        }
        .medium-8 {
            width: 100%;
        }
    }
  }
  
  .resume_builder {
    flex-basis: 32.33%;
    width: 100%;
    // display: inline-block;
    display: flex;
    flex-direction: column;
    vertical-align: top;
    border: 1px solid #B8B8B8;
    margin: 0 9px 20px;
  
    .box_title {
        h3 {
            margin-bottom: 0 !important;
        }
    }
  
    .resume_builder_content {
        min-height: 217px;
        padding: 12px 15px 20px;
        margin-bottom: auto;
    }
  }
  
  .calender_box {
    width: 100%;
    flex-basis: 66.66%;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #B8B8B8;
    margin: 0 9px 20px;
  
    @media (max-width: 639px) {
       width: 100%;
    }
  
    .box_title {
        h3 {
            margin-bottom: 0 !important;
        }
    }
  
    .calendar_content {
        padding: 12px 15px 5px;
    }
  
    p {
  
        &.meeting_date {
            font-size: 13px;
            font-weight: bold;
            color: #2DA2A7;
            margin-bottom: 0;
        }
    }
  
    .calendar_meeting_details {
        height: 210px;
        overflow: auto;
  
        @media (max-width: 639px) {
            height: inherit;
            min-height: 210px;
            margin-top: 30px;
        }
        
        .form-group {
            margin-bottom: 5px;
            
            .checkbox-tick {
                display: flex;
                align-items: center;
  
                span {
                    margin-left: 10px;
                }
            }
        }
    }
  
    .calendar_edit {
        text-align: right;
  
        a {
            font-size: 16px;
        }
    }
  
    .task-progressbar {
        margin-bottom: 20px;
    }
  
  }
  
  .additional_activities {
  
    .form-group {
  
        label {
            display: inline-block;
            font-weight: bold;
            color: #4A4A4A;
            margin-right: 20px;
            margin-bottom: 10px;
        }
    
        select {
            height: 30px;
            width: 100%;
            border-radius: 3px;
            border-color: #C3D2DA;
            color: #C3D2DA;
            background-color: #fff;
            display: inline-block;
            margin-bottom: 30px;
            margin-left: 20px;
        }
  
        .form_select {
            position: relative;
            max-width: 462px;
            width: 100%;
            display: inline-block;
  
            &:after {
                width: 0; 
                height: 0; 
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 6px solid #C3D2DA;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
                content: "";
                z-index: 98;
                pointer-events: none;
            }
  
            select {
                margin: 0;
                -moz-appearance:none; /* Firefox */
                -webkit-appearance:none; /* Safari and Chrome */
                appearance:none;                  
                background-image: none;
                color: #C3D2DA;
            }
  
            select::-ms-expand {
                display: none;
            }
        }
    }
  
    .additional_activities_item_wrapper {
        margin-top: 20px;
  
        .additional_activities_item {
            width: calc(33.33% - 16px);
            min-height: 178px;
            border: 1px solid #B8B8B8;
            display: inline-block;
            vertical-align: top;
            width: 100%;
            padding: 11px 15px;
            margin: 0 8px 20px;
        
            &:nth-child(2n+1) {
                background-color: rgba(76, 68, 172, 0.08);
            }
        
            p {
                margin-bottom: 0;
                color: #4A4A4A;
            }   
        }
    }
  }
  
  // Progress-bar
  .circular-progress-bar {
    position: relative;
    border: 5px solid #fff;
    border-radius: 50%;
    height: 58px;
    width: 58px;
    pointer-events: none;
  
    &.no-percentage {
        background-color: #fff;
        border-color: #D7D7D7;
        padding: 5px;
  
        .arcs {
            .outer-circle {
                fill: #fff;
            }
            .inner-circle {
                fill: #fff;
            }
        }
    }
    
    svg {
        width: 38px;
        height: 38px;
    }
  
    .percentage_number {
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        left: 50%;
        font-size: 12px;
        font-weight: bold;
        color: #000000;
  
        span {
            font-size: 12px !important;
        }
    }
  
    .arcs {
        .outer-circle {
            fill: #eee;
        }
        .outer-arc {
            fill: #19A5AD;
        }
        .inner-circle {
            fill: #eee;
        }
        .inner-arc {
            fill: none;
        }
    }
  }
  
  .no-percentage {
    .percentage_number {
        display: none;
    }
    .inner-circle {
        display: none;
    }
    .inner-arc {
        display: none;
    }
  }
  
  .view_plan_bottom {
    margin: 0 -15px;
    overflow: hidden;
  }

  .loading-plan{
      padding-top: 80px !important;
      padding-bottom: 80px !important;
  }