<h2 class="job-title">The ASVAB test measures strengths and
  potential for future success.</h2>
<p>You don't "pass" or "fail". The results represent how well
  you have developed your skills in addition to your potential for
  training.</p>
<p>Toggle between the tabs below to learn more about the test
  versions and each ASVAB subtest.</p>
<p><strong>Strategies for Taking Both Versions of the ASVAB</strong>
</p>
<ul>
  <li>Read the directions for each subtest carefully before you
    begin.</li>
  <li>Read each question carefully before selecting your answer.</li>
  <li>Pay attention to the time - don't spend too much time on
    one individual question, if that means you won't have time to
    answer later questions.</li>
  <li>When you don't know the answer to a question, try to rule
    out as many incorrect choices as you can, and then make an
    educated guess from the remaining answers.</li>
</ul>

<div data-type="section-break"><hr /></div>

<p>The paper and pencil (P&amp;P ASVAB) is a traditional test,
  which means that everyone takes the same set of questions at the
  same pace. This version consists of eight subtests (a total of 200
  items) and takes about three hours to complete.</p>

  <div data-type="section-break"><hr /></div>


  <strong>Strategies for Taking the P&amp;P ASVAB</strong>
              <ul>
                <li>Don't get hung up trying to answer questions you don't
                  know - answer the questions you do know and return later to the
                  ones you skipped.</li>
                <li>Answer every question. If you run out of time, it is to
                  your advantage to fill in random guesses for the remaining items,
                  as there is no penalty for guessing.</li>
                <li>Review your answers, if there is time remaining.</li>
                <li>Make sure you select only one response per item on
                  your answer sheet, and erase completely if you change your answer.</li>
              </ul>

              <div data-type="section-break"><hr /></div>


              <div class="row">
                <div class="small-4 columns">
                  <p><strong>General Science</strong>
                  </p>
                </div>
                <div class="small-8 columns">
                  <p>A 25-item test measuring knowledge of life science, earth
                    and space science, and physical science</p>
                </div>
              </div>
              <div class="row">
                <div class="small-4 columns">
                  <p><strong>Arithmetic Reasoning</strong>
                  </p>
                </div>
                <div class="small-8 columns">
                  <p>A 30-item test measuring ability to solve basic arithmetic
                    word problems</p>
                </div>
              </div>
              <div class="row">
                <div class="small-4 columns">
                  <p><strong>Word Knowledge</strong>
                  </p>
                </div>
                <div class="small-8 columns">
                  <p>A 35-item test measuring ability to understand the meaning
                    of words through synonyms</p>
                </div>
              </div>
              <div class="row">
                <div class="small-4 columns">
                  <p><strong>Paragraph Comprehension</strong>
                  </p>
                </div>
                <div class="small-8 columns">
                  <p>A 15-item test measuring ability to obtain information from
                    written material</p>
                </div>
              </div>
              <div class="row">
                <div class="small-4 columns">
                  <p><strong>Mathematics Knowledge</strong>
                  </p>
                </div>
                <div class="small-8 columns">
                  <p>A 25-item test measuring knowledge of mathematical concepts
                    and applications</p>
                </div>
              </div>
              <div class="row">
                <div class="small-4 columns">
                  <p><strong>Electronics Information</strong>
                  </p>
                </div>
                <div class="small-8 columns">
                  <p>A 20-item test measuring knowledge of electrical current,
                    circuits, devices, and electronic systems</p>
                </div>
              </div>
              <div class="row">
                <div class="small-4 columns">
                  <p><strong>Auto and Shop Information</strong>
                  </p>
                </div>
                <div class="small-8 columns">
                  <p>A 25-item test measuring knowledge of automotive
                    maintenance and repair, and wood and metal shop practices</p>
                </div>
              </div>
              <div class="row">
                <div class="small-4 columns">
                  <p><strong>Mechanical Comprehension</strong>
                  </p>
                </div>
                <div class="small-8 columns">
                  <p>A 25-item test measuring knowledge of the principles of
                    mechanical devices, structural support, and properties of
                    materials</p>
                </div>
              </div>

              <div data-type="section-break"><hr /></div>

              <p>The CEP iCAT is an adaptive test you take on a computer. How you respond to a question
                will determine the complexity of the next question you receive. Everyone begins with an item of
                moderate difficulty. If you answer correctly, you'll receive a more difficult item next. If you
                answer incorrectly, you'll receive an easier item next.</p>
              <p>The CEP iCAT consists of nine subtests, a total of 145 items.
                The CEP iCAT is self-paced and generally takes about 1.5 hours to
                complete. Because CEP iCAT tests are catered to each individual,
                extra time is allotted for each subtest.</p>


              <div data-type="section-break"><hr /></div>


              <strong>Strategies for Taking the CEP iCAT</strong>
              <ul>
                <li>Be familiar with how the CEP iCAT works. Take your time
                  answering the questions.</li>
                <li>During your test session, review the instructions as many
                  times as you need to feel comfortable taking the test.</li>
                <li>Be sure the answer you have selected is the one you want
                  to select, as you aren't allowed to return to a question once you
                  have answered it.</li>
                <li>If time is running short, try to read and legitimately
                  answer the questions, rather than filling in random guesses for
                  the remaining items, as the CEP iCAT applies a relatively large
                  penalty when several incorrect answers are provided toward the end
                  of a subtest.</li>
              </ul>

              <div data-type="section-break"><hr /></div>


              <div class="row">
                <div class="small-4 columns">
                  <p><strong>General Science</strong>
                  </p>
                </div>
                <div class="small-8 columns">
                  <p>A 16-item test measuring knowledge of life science, earth
                    and space science, and physical science</p>
                </div>
              </div>
              <div class="row">
                <div class="small-4 columns">
                  <p><strong>Arithmetic Reasoning</strong>
                  </p>
                </div>
                <div class="small-8 columns">
                  <p>A 16-item test measuring ability to solve basic arithmetic
                    word problems</p>
                </div>
              </div>
              <div class="row">
                <div class="small-4 columns">
                  <p><strong>Word Knowledge</strong>
                  </p>
                </div>
                <div class="small-8 columns">
                  <p>A 16-item test measuring ability to understand the meaning
                    of words through synonyms</p>
                </div>
              </div>
              <div class="row">
                <div class="small-4 columns">
                  <p><strong>Paragraph Comprehension</strong>
                  </p>
                </div>
                <div class="small-8 columns">
                  <p>A 11-item test measuring ability to obtain information from
                    written material</p>
                </div>
              </div>
              <div class="row">
                <div class="small-4 columns">
                  <p><strong>Mathematics Knowledge</strong>
                  </p>
                </div>
                <div class="small-8 columns">
                  <p>A 16-item test measuring knowledge of mathematical concepts
                    and applications</p>
                </div>
              </div>
              <div class="row">
                <div class="small-4 columns">
                  <p><strong>Electronics Information</strong>
                  </p>
                </div>
                <div class="small-8 columns">
                  <p>A 16-item test measuring knowledge of electrical current,
                    circuits, devices, and electronic systems</p>
                </div>
              </div>
              <div class="row">
                <div class="small-4 columns">
                  <p><strong>Auto Information</strong>
                  </p>
                </div>
                <div class="small-8 columns">
                  <p>An 11-item test measuring knowledge of automotive
                    maintenance and repair</p>
                </div>
              </div>
              <div class="row">
                <div class="small-4 columns">
                  <p><strong>Shop Information</strong>
                  </p>
                </div>
                <div class="small-8 columns">
                  <p>An 11-item test measuring knowledge of wood and metal shop
                    practices</p>
                </div>
              </div>
              <div class="row">
                <div class="small-4 columns">
                  <p><strong>Mechanical Comprehension</strong>
                  </p>
                </div>
                <div class="small-8 columns">
                  <p>A 16-item test measuring knowledge of the principles of
                    mechanical devices, structural support, and properties of
                    materials<strong></strong></p>
                </div>
              </div>
              <div class="row">
                <div class="small-8 columns">
                  <p></p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="small-12 columns text-center"><a class="button" href="{{documents}}CEP_ICAT_ASR_Poster.pdf"
                    (click)="reOpen(); _googleAnalyticsService.trackClick('CEP_ICAT_ASR_Poster.pdf');" style="width:200px;"
                    target="_blank">View sample CEP ICAT Summary
                    Results sheet </a>
                </div>
              </div>


              <div data-type="section-break"><hr /></div>

              <p>The Department of Defense introduced the ASVAB (which stands
                for Armed Services Vocational Aptitude Battery) in 1968. It was
                originally designed to predict future academic and occupational
                success in military occupations. However, extensive research
                indicates the ASVAB assesses academic ability and predicts success
                in a wide variety of occupations.</p>
              <p>The ASVAB CEP is used for career exploration and is given to
                high school and early post-secondary students. An enlistment
                version of the ASVAB is given primarily at Military Entrance
                Processing Stations (MEPS), and is used for enlistment purposes
                only.</p>ASVAB CEP results are reported to students and counselors on the
              ASVAB Summary Results sheet. Learn more about 
              <a href="/educators-post-test">ASVAB scores here.</a>

              <div data-type="section-break"><hr /></div>


              <div data-type="section-break"><hr /></div>



              <div data-type="section-break"><hr /></div>



              <div data-type="section-break"><hr /></div>


              <div data-type="section-break"><hr /></div>


              <div data-type="section-break"><hr /></div>
