<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()"><span
      aria-hidden="true">&times;</span></button>
  <h3 class="modal-title">Strategies for Taking the P&P ASVAB</h3>
</div>
<div class="modal-body">

  <section id="content-wrap">
    <div class="row">
  
  <section class="medium-12 columns" id="main-content" role="main">
        
        <div [innerHTML]="pageHtml[0]"></div>

        <div class="cep_tabs tattoos_tabs tabbed">
          <ul class="nav nav-tabs">
            <li class="active"><a aria-controls="PandP" role="tab" data-toggle="PandP">
              <span>Paper and Pencil</span></a></li>
            <li><a aria-controls="marine_corps" role="tab" data-toggle="marine_corps">
              <span>Computer Adaptive</span></a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active army_content" id="PandP">

                <div [innerHTML]="pageHtml[1]"></div>

              <div class="text-center"><a class="button"
                  (click)="showSampleTestModal(); _googleAnalyticsService.trackSampleTestClick('#ASVAB_PP_SAMPLE_TEST_ITEMS_VIEWED');"
                  >View sample test questions </a>
              </div>

              <div [innerHTML]="pageHtml[2]"></div>

              <h4 style="background: none; margin-bottom: 0px">Subtest areas:</h4>
              <hr />

              <div [innerHTML]="pageHtml[3]"></div>

              <hr />
              <div class="row">
                <div class="text-center"><a class="button" href="{{documents}}ASR_Poster.pdf"
                    (click)="reOpen(); _googleAnalyticsService.trackClick('ASR_Poster.pdf');" target="_blank">
                    View sample ASVAB Summary Results sheet </a>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane marine_corps_content" id="marine_corps">

              <div [innerHTML]="pageHtml[4]"></div>
              
              <div class="small-12 columns text-center"><a class="button"
                  (click)="showSampleIcatTestModal(); _googleAnalyticsService.trackSampleTestClick('#ASVAB_CA_SAMPLE_TEST_ITEMS_VIEWED');"
                  >View sample test questions </a>
              </div>

              <div [innerHTML]="pageHtml[5]"></div>

              <h4 style="background: none; margin-bottom: 0px">Subtest areas:</h4>
              <hr />

              <div [innerHTML]="pageHtml[6]"></div>

            </div>
          </div>
        </div>

        <br /><strong>Background</strong><br />

        <div [innerHTML]="pageHtml[7]"></div>
       
        <br />
      </section>
  
      </div>
  </section>
</div>


<div class="modal-footer">
  <div class="close-button-div text-right modal-footer">
    <button type="button" mat-dialog-close class="button" (click)="close()">ok</button>
  </div>
</div>