.tattoos_tabs {
  border: 1px solid #d1d1d1;
  margin: 1rem 0;

  .nav-tabs {
    display: flex;

    > li {
      width: 50%;

      > a {
        background: #ebecec;
        border-top: 3px solid #ebecec;
        display: block;
        font-weight: 700;
        line-height: 1.42857;
        padding: 6px 15px 10px;
        text-align: center;

        img {
          max-width: 100%;
        }
      }

      ~ li > a {
        margin-left: 6px;
      }

      > a, &.active > a, &.hover > a, &.focus > a {
        height: 100%;
        padding-left: 5px;
        padding-right: 5px;
      }

      > a:hover, > a:focus {
        border-top-color: #ebecec;
        text-decoration: none;
      }

      &.active > a, &.hover > a, &.focus > a {
        background: transparent;
        border-top: 3px solid #29afb5;
        color: #555;
        cursor: default;
      }
    }

    li a span {
      display: block;
    }
  }

  .tab-content {
    padding: 10px 15px;
    text-align: center;

    > .tab-pane {
      display: none;
    }

    > .active {
      display: flex;
      flex-direction: column;
      text-align: left;
    }
  }
}