<div id="cep-scores">
  <div class="modal-header ng-scope">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()"><span
        aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Your Scores</h3>
  </div>

  <!-- Ask user which mode -->
  <div [hidden]="enter || retrieve">
    <div class="modal-body ng-scope">
      <div class="row">
        <br /><br />
        <div class="medium-12 columns">
          <h3>Choose How You Enter Your Scores</h3>
        </div>
        <div class="medium-5 columns">
          <a class="button" (click)="displayOptions('enter')">Enter Your CEP Scores Manually</a>
          <p>You will need to enter the scores from your latest ASVAB test.</p>
          <a class="button" (click)="displayOptions('retrieve')">Check for my full ASVAB results</a>
          <p>You will need to enter the access code from your latest ASVAB test. If scores are available, you will get
            all the results that are shown on your printout.</p>
        </div>
        <div class="medium-7 columns">
          <img src="assets/images/asvab-poster.png">
        </div>
      </div>
    </div>
    <div class="modal-footer ng-scope">
      <button class="button" type="button" (click)="close()">cancel</button>
    </div>
  </div>
  <!-- Retrieve via manual entry -->
  <div [hidden]="!enter">
    <form [formGroup]="manualForm" (ngSubmit)="submitManualForm()">
      <div class="modal-body ng-scope">
        <div class="row">
          <br /><br />
          <div class="medium-12 columns">
            <h3>Enter Results From Your ASVAB Summary Results Printout</h3>
          </div>
          <div class="medium-5 columns">
            <h4><strong>Standard Scores</strong></h4>
            <div class="cep-score input-group">
              <input type="number" class="form-control" formControlName="verbalScore" id="verbalScore" min="0" max="100"
                step="1" required>
              <label>Verbal Skills</label><em style="color:#cc0000">*</em>
            </div>
            <div class="cep-score input-group">
              <input type="number" class="form-control" formControlName="mathScore" id="mathScore" min="0" max="100"
                step="1" required>
              <label>Math Skills</label><em style="color:#cc0000">*</em>
            </div>
            <div class="cep-score input-group">
              <input type="number" class="form-control" formControlName="scienceScore" id="scienceScore" min="0"
                max="100" step="1" required>
              <label>Science/Technical</label><em style="color:#cc0000">*</em>
            </div>
            <div class="cep-score input-group">
              <input type="number" class="form-control" min="0" max="100" step="1" formControlName="grade" id="grade"
                required>
              <label>Grade</label><em style="color:#cc0000">*</em>
            </div>
            <div id="gender">
              <label>Gender:
                <span
                  *ngIf="(manualForm.get('gender').invalid && (manualForm.get('gender').dirty || manualForm.get('gender').touched))"
                  style="color: red">
                  <span *ngIf="(manualForm.get('gender').errors?.required)">Select gender</span>
                </span>
              </label><em style="color:#cc0000">*</em>
              <select formControlName="gender" id="gender" required>
                <option value="">---Select Gender---</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
              </select>
            </div>
            <div class="input-group">
              <label>Location of test (optional)</label>
              <input type="text" class="form-control" formControlName="testLocation" id="testLocation">
            </div>
            <div class="input-group">
              <label>Date of test (optional)</label>
              <div class="row">
                <div class="small-4 columns">
                  <input class="cep-date" type="number" class="form-control" min="0" max="12" step="1"
                    formControlName="testMonth" placeholder="MM">
                </div>
                <div class="small-4 columns">
                  <input class="cep-date" type="number" class="form-control" min="0" max="31" step="1"
                    formControlName="testDay" placeholder="DD">
                </div>
                <div class="small-4 columns">
                  <input class="cep-date" type="number" class="form-control" min="1000" max="9999" step="1"
                    formControlName="testYear" placeholder="YYYY">
                </div>
              </div>
            </div>
          </div>
          <div class="medium-7 columns">
            <p>Find the scores on your printout (highlighted in orange)</p>
            <img src="assets/images/asvab-poster-scores-hilite.png">
          </div>
        </div>
      </div>
      <div class="modal-footer ng-scope text-left">
        <a (click)="close()" style="margin-right: 20px">cancel</a>
        <button type="submit" class="button" [disabled]="manualForm.invalid">Save</button>
      </div>
    </form>
  </div>

  <!-- Retrieve via access code -->
  <form [formGroup]="accessCodeForm" (ngSubmit)="submitAccessCodeForm()" [hidden]="!retrieve">
    <div class="modal-body ng-scope">
      <div class="row">
        <br /><br />
        <div class="medium-12 columns">
          <h3>Retrieve ASVAB CEP Scores</h3>
        </div>
        <div class="medium-5 columns">
          <p>Enter access code to retrieve ASVAB CEP scores.</p>
          <div class="access-code input-group">
            <input formControlName="accessCode" id="accessCode" type="text" placeholder="Access Code">
          </div>
          <p>Note: When ASVAB CEP scores are retrieved from the database, any manually entered scores will be replaced.
          </p>
        </div>
        <div class="medium-7 columns">
          <p>Find the access code on your printout (highlighted in orange)</p>
          <img src="assets/images/asvab-poster-code-hilite.png">
        </div>
      </div>
    </div>

    <div class="modal-footer ng-scope text-left">
      <a (click)="close()" style="margin-right: 20px">cancel</a>
      <button class="button" type="submit" [disabled]="accessCodeForm.invalid">Check for and retrieve scores</button>
    </div>
  </form>
</div>