<div id="portfolio" class="occufind">
  <app-header></app-header>
  <app-my-asvab-header></app-my-asvab-header>

  <section id="content-wrap" class="left-nav-expanded-wrap">
    <div class="row">
      <app-left-navigation-v2-expanded (menuCollapsed)="onLeftNavCollapsed($event)">
      </app-left-navigation-v2-expanded>
      <section id="main-content" class="left-navigation-expanded" role="main">
        <div class="student_profile_wrapper">
          <div class="student_account_info">
            <div class="student_account_info_title">
              <h6>Account Information</h6>
              <p>Your account will expire on <span>08/19/2022</span></p>
            </div>
            <div class="student_account_row">
              <div class="student_account_column6 student_account_info">
                <form>
                  <div class="form-group" *ngIf="userFirstLast">
                    <label><strong>Name:</strong></label>
                    <div>
                      <p>{{userFirstLast}}</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label><strong>Email:</strong></label>
                    <div class="email_field">
                      <p>{{userName?.username}}</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label><strong>Password:</strong></label>
                    <div>
                      <p>******</p>
                    </div>
                  </div>
                  <button (click)="editAccountModal()" [disabled]="!userName?.username" class="button">Change Profile</button>
                </form>
                <p><a (click)="showNotificationSettings()" class="mb_10 d-inline-block">Email Notification Settings</a>
                </p>
                <p><a (click)="showManageMentorList()" [ngClass]="" class="mb_10 d-inline-block">Manage Mentor List</a>
                </p>
              </div>


              <div class="student_account_column6 invite_parent">
                <div class="d-flex align-items-center justify-space-between mb_10">
                  <p class="invite_parent_title caps mb-0"><strong>Invite a mentor</strong></p>
                  <button type="button" [disabled]="mentorInviteForm.invalid" title="Click here to Invite"
                    (click)="submitEmail()"><img src="assets/images/Add_mentor.png" alt="Click here to Invite"></button>
                </div>
                <p>Invite your mentors to review and comment on your account information including scores, career plans,
                  activities, and your calendar.</p>
                <p><b>Build your plans together.</b></p>
                <form [formGroup]="mentorInviteForm" (submit)="submitEmail()" class="search-keyword">
                  <input class="searchTerm" placeholder="Email" type="Email" formControlName="inviteEmails">
                  <button class="searchButton" type="submit" title="Click here to Invite"
                    [disabled]="mentorInviteForm.invalid || mentorInviteFormSubmitted "
                    [ngClass]="mentorInviteForm.invalid || mentorInviteFormSubmitted ? 'disabled' : ''"><i
                      class="fa fa-angle-right"></i></button>
                </form>
                <p>Separate multiple emails with a comma.</p>
                <p class="error-text" *ngIf="errorText != ''">{{errorText}}</p>
                <p class="success-text" *ngIf="successText != ''">{{successText}}</p>
                <p class="register-text" *ngIf="needsToRegister">
                  Please <b><a (click)="openRegistrationModal()">register your account</a></b> in order to connect with
                  a mentor.
                </p>
              </div>
            </div>
          </div>

          <div class="mt-60">
            <div class="student_sharing_info mb-10">
              <p class="d-inline-block mb-0 mr-15"><strong>You are currently connected with {{mentors?.length}}
                  mentors</strong></p>
              <a title="Send message to one of your mentors." (click)="showDirectMessage()">Send message</a>
            </div>

            <div class="student_sharing_section">
              <div class="student_sharing_title">
                <span class="message_count_link" *ngIf="numUnreadMessages > 0">
                  <span class="message_count">{{numUnreadMessages}}</span>
                </span>
                <h5>New Messages</h5>
                <a (click)="showReadItems = !showReadItems">Show read messages</a>
              </div>

              <div class="student_sharing_wrapper">
                <div class="student_sharing_content">

                  <ng-container *ngFor="let item of messageList
                  | multiParamFilterPipe: getListItemsFilter(showReadItems)
                  | orderBy: 'originalTimeStamp' : 'desc'; let i = index;">

                    <div class="student_sharing_item">
                      <div class="reviewed_msg_text">
                        <span class="message_count_link" *ngIf="!item.hasBeenRead">
                          <span class="message_count">&nbsp;</span>
                        </span>
                        <div class="reviewed_msg_text_inner" [ngClass]="{unread_item: !(item.hasBeenRead)}"
                          style="width:70%">
                          <p style="text-overflow: ellipsis; overflow: hidden;white-space: nowrap;"
                            [title]="item.from+' '+item.message">{{item.from}}:&nbsp;<span
                              [innerHtml]="item.message"></span></p>
                          <a *ngIf="item.messageTypeId && (item.messageTypeId == 5 || item.messageTypeId == 6)"
                            (click)="addToCalendar(item)">Add to Calendar</a>
                        </div>

                        <p>{{item.timeStamp}}</p>
                      </div>

                      <div class="student_review_read_wrapper" *ngIf="item.from != 'You'">
                        <div class="student_review_read">

                          <div class="student_review_checkbox">
                            <input class="styled-checkbox" type="checkbox" id="interest{{i}}"
                              (click)="markMessageAsRead(item)" [checked]="item.hasBeenRead"
                              [disabled]="item.hasBeenRead">
                            <label class="styled-checkbox-label" for="interest{{i}}"></label>
                          </div>
                          <a [ngClass]="{'disabled' : item.hasBeenRead}" (click)="markMessageAsRead(item)">Mark as
                            read</a>
                          <a *ngIf="item.typeId == 1 || item.typeId == 2 || item.typeId == 5 || item.typeId == 6"
                            (click)="replyMessage(item)" class="ml_auto">Reply</a>
                        </div>
                      </div>
                    </div>


                  </ng-container>


                </div>
              </div>

              <div class="student_files_submit mt-30">




                <table>
                  <thead>
                    <th colspan="3" width="85%">My Progress</th>
                    <th width="15%" class="text-right">Date</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="4">
                        <ul class="progress_status_list">
                          <li>
                            <span class="not_started mr_10"></span>
                            <span>Not started</span>
                          </li>
                          <li>
                            <span class="in_progress mr_10"></span>
                            <span>In progress</span>
                          </li>
                          <li>
                            <span class="ready_for_review mr_10"></span>
                            <span>Ready for review</span>
                          </li>
                          <li>
                            <span class="checkmark mr_10"></span>
                            <span>Completed</span>
                          </li>
                        </ul>
                      </td>
                    </tr>
                    <ng-container *ngIf="portfolioView?.history && portfolioView.history?.length > 0">
                      <tr class="table_data_group_title" [ngClass]="{'open' : showPortfolioHistory}">
                        <td width="4%"><span class="toggle_arrow" (click)="showPortfolioHistory = !showPortfolioHistory"
                            [ngClass]="{'active' : showPortfolioHistory}"></span></td>
                        <td width="4%"><span [ngClass]="portfolioView.cssStatusClass"></span></td>
                        <td width="65%"><b>Portfolio</b></td>
                        <td width="27%" class="text-right">{{portfolioView.lastUpdate}}</td>
                      </tr>
                      <tr [ngClass]="{'row_hide' : !showPortfolioHistory}"
                        *ngFor="let historyItem of portfolioView.history | orderBy: 'lastUpdate' : 'desc'; let i = index;">
                        <td width="4%"></td>
                        <td width="4%"></td>
                        <td *ngIf="historyItem.type == 1" width="65%">
                          {{historyItem.message}}:&nbsp;{{historyItem.userName}} </td>
                        <td *ngIf="historyItem.type == 2" width="65%">
                          {{historyItem.userName}}:&nbsp;{{historyItem.message}} </td>
                        <td width="27%" class="text-right">{{historyItem.lastUpdate}}</td>
                      </tr>
                    </ng-container>
                    <!-- Activities  -->
                    <ng-container *ngFor="let activity of activityList; let i = index;">
                      <tr class="table_data_group_title" [ngClass]="{'open' : activity.expanded}">
                        <td width="4%"><span class="toggle_arrow"
                            (click)="activity.expanded = !activity.expanded; getActivitySubmissionLogs(activity)"
                            [ngClass]="{'active' : activity.expanded}"></span></td>
                        <td width="4%"><span [ngClass]="getActivityCssClass(activity)"></span></td>
                        <td width="65%"><b>Activity: {{activity.title}} </b></td>
                        <td width="27%" class="text-right">{{activity.timeStamp}} </td>
                      </tr>
                      <tr
                        *ngFor="let submission of activity.submissions | orderBy: 'dateLogged' : 'desc'; let y = index;"
                        [ngClass]="{'row_hide' : !activity.expanded}">
                        <td width="4%"></td>
                        <td width="4%"></td>

                        <!-- Comment/Message -->
                        <ng-container *ngIf="submission.typeId == 1">
                          <td width="65%">{{submission.userName}}: {{submission.message}}</td>
                          <td width="27%" class="text-right">{{submission.dateLogged}}</td>
                        </ng-container>

                        <!-- Submission log -->
                        <ng-container *ngIf="submission.typeId == 2">
                          <td width="65%">{{submission.message}} {{submission.userName}} </td>
                          <td width="27%" class="text-right">{{submission.dateLogged}}</td>
                        </ng-container>

                      </tr>

                    </ng-container>

                    <!-- Plans -->
                    <ng-container *ngFor="let plan of planList; let i = index;">
                      <tr class="table_data_group_title" [ngClass]="{'open' : plan.expanded}">
                        <td width="4%"><span class="toggle_arrow" (click)="plan.expanded = !plan.expanded;"
                            [ngClass]="{'active' : plan.expanded}"></span></td>
                        <td width="4%"><span [ngClass]="getPlanCssClass(plan)"></span></td>
                        <td width="65%"><b>Plan: {{plan.title}} </b></td>
                        <td width="27%" class="text-right">{{plan.timeStamp}} </td>
                      </tr>
                      <tr *ngFor="let message of plan.messages | orderBy: 'originalTimeStamp' : 'desc'; let y = index;"
                        [ngClass]="{'row_hide' : !plan.expanded}">
                        <td width="4%"></td>
                        <td width="4%"></td>

                        <!-- Comment/Message -->
                        <ng-container *ngIf="message.typeId == 1">
                          <td width="65%">{{message.user}}: {{message.message}}</td>
                          <td width="27%" class="text-right">{{message.timeStamp}}</td>
                        </ng-container>

                        <!-- Submission log -->
                        <ng-container *ngIf="message.typeId == 2">
                          <td width="65%">{{message.message}}: {{message.user}} </td>
                          <td width="27%" class="text-right">{{message.timeStamp}}</td>
                        </ng-container>

                      </tr>

                    </ng-container>
                  </tbody>
                </table>
              </div>


            </div>
          </div>
        </div>
      </section>
    </div>
  </section>

  <app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>

  <app-footer></app-footer>
</div>