.student_profile_wrapper {
    padding-top: 70px;

    .mb_10 {
        margin-bottom: 10px;
    }

    .ml_auto {
        margin-left: auto !important;
    }

    .text-muted {
        color: #8E8E8E;
    }

    .student_account_info {
        h6 {
            font-size: 14px;
            line-height: 19px;
            font-weight: bold;
            color: #4A4A4A;
            margin-bottom: 0;
        }
        p {
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 0;
        }
        .student_account_info_title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #979797;
            padding: 10px 0;
            margin-bottom: 30px;
        }

        .student_account_row {
            display: flex;
            flex-wrap: wrap;

            .student_account_column6 {
                max-width: 50%;
                width: 100%;

                @media (max-width: 767px) {
                    max-width: 100%;
                }
            }

            .student_account_info {

                @media (min-width: 768px) {
                    padding-right: 30px;
                }

                form {
                    color: #4A4A4A;
                    font-size: 14px;
    
                    .form-group {
                        display: flex;
                        margin-bottom: 15px;
    
                        label {
                            line-height: 18px;
                            margin-right: 10px;
                        }
    
                        .email_field {
                            position: relative;
                            width: 100%;
                            padding-right: 30px;
    
                            p {
                                display: inline-block;
                            }
    
                            svg {
                                position: absolute;
                                top: 4px;
                                right: 0;
                            }
                        }
                    }
    
                    .button {
                        padding: 10px 33px;
                    }
                }
            }

            .invite_parent {
                border: 1px solid #979797;
                padding: 18px 24px 10px;

                @media (max-width: 767px) {
                    margin-top: 20px;
                    margin-bottom: 40px;
                }

                p {
                    font-size: 13px;
                    margin-bottom: 10px;

                    strong {
                        display: block;
                        text-align: center;
                        color: #2DA2A7;
                        margin: 0 auto;
                    }
                }

                .search-keyword {
                    position: relative;
                    display: flex;

                    input {
                        border: 1px solid #979797;
                        padding: 2px 30px 2px 6px;
                        color: #4A4A4A;
                        margin-bottom: 8px;
                        outline: none;
                    }

                    button {
                        background: #2DA2A7;
                        color: #fff;
                        cursor: pointer;
                        font-size: 16px;
                        font-weight: bold;
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        top: 2px;
                        right: 2px;
                        text-align: center;
                        outline: none;
                    }
                }
            }
        }
    }

    .student_sharing_info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .student_sharing_section {

        .student_sharing_title {
            display: flex;
            background-color: #EEEEEE;
            border-top: 1px solid #979797;
            padding: 5px 15px 5px 5px;

            a {
                &:last-child {
                    margin-left: auto;
                }
            }

            h5 {
                font-size: 13px;
                line-height: normal;
                font-weight: bold;
                margin-left: 5px;
                margin-bottom: 0;
            }
        }

        .student_sharing_content {
            padding: 0 20px 0 10px;

            .student_sharing_item {
                border-bottom: 1px solid #979797;
                padding: 10px 0px 2px 0px;
    
                .reviewed_msg_text {
                    display: flex;
                    margin-bottom: 10px;
        
                    .reviewed_msg_text_inner {
                        margin-right: auto;
                    }
                }
            }
        }

        p {
            margin-bottom: 0;
        }

        .message_count_link {
            .message_count {
                background-image: url('/assets/images/dashboard/message_icon.svg');
                background-size: cover;
                background-repeat: no-repeat;
                min-width: 20px;
                min-height: 20px;
                font-size: 13px;
                font-weight: bold;
                color: #fff;
                text-align: center;
                margin-right: 6px;
                display: inline-block;
            }
        }

        .student_review_read_wrapper {
            display: flex;
            justify-content: space-between;
            padding: 6px 0 6px 3px;

            .student_review_read {
                display: flex;
                width: 100%;

                .student_review_checkbox {
                    display: flex;
                    align-items: center;
                }

                a {
                    margin-left: 15px;
                }
            }
        }

        > .student_review_read_wrapper {
            border-top: 1px solid #888888;
        }

        .toggle_arrow {
            width: 0px;
            height: 0px;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-left: 10px solid #000;
            transition: all 0.3s ease-in-out 0s;
            display: inline-block;
            position: relative;
            top: 3px;
            cursor: pointer;
            
            &.active {
                transform: rotate(90deg);
            }
        }

        .checkmark {
            display: inline-block;
            transform: rotate(45deg);
            height: 11px;
            width: 6px;
            border-bottom: 2px solid #000;
            border-right: 2px solid #000;
        }


        .not_started {
            display: inline-block;
            width: 10px;
            height: 10px;
            border: 1px solid #B1B1B1;
            border-radius: 50%;
        }


        .ready_for_review {
            width: 10px;
            height: 10px;
            border: 1px solid #3C3C3C;
            display: inline-block;
            border-radius: 50%;
            position: relative;
            background-color: #27ACAD;
        }

        .in_progress {
            width: 10px;
            height: 10px;
            border: 1px solid #3C3C3C;
            display: inline-block;
            border-radius: 50%;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                left: 50%;
                width: 4px;
                height: 4px;
                display: block;
                background-color: #27ACAD;
            }
        }

        .student_files_submit {

            .table_data_group_title {
                border-width: 1px 0 1px 0;
                border-style: solid;
                border-color: #979797;

                &.open {
                    border-bottom: 0;
                }

                td {
                    padding: 10px 5px !important;
                }
            }

            table {
                width: 100%;

                thead {
                    background-color: #EEEEEE;
                    border-bottom: 1px solid #888888;

                    th {
                        &:last-child {
                            padding-right: 5%;
                        }
                    }
                }

                tbody {
                    tr {
                        &:nth-child(even) {
                            background-color: transparent;
                        }

                        &.row_hide {
                            display: none;
                        }

                        &:last-child {
                            border-bottom: 1px solid #979797;
                        }
    
                        td {
                            padding: 5px;

                            &:last-child {
                                padding-right: 5% !important;
                            }
    
                            span {
                                + span {
                                    margin-left: 8px;
                                }
                            }
                        }
                    }
                }
            }
        }
        

    }

    
}

p.error-text,p.success-text{
    margin:0;
    font-size:10px !important;
    font-weight: bold;
    font-style: italic;
}
p.success-text{color:green};
p.error-text{ color:red;};
.unread_item{
    font-weight: bold !important;
}

button.disabled{
    border-color: #C3D2DA;
    background-color: #C3D2DA !important;
    color: #fff !important;
    cursor:not-allowed !important;
}

.progress_status_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px 3px;
    margin:0;

    @media (max-width: 991px) {
        justify-content: flex-start;
        padding: 0;
    }

    li {
        &:not(:last-child) {
            margin-right: 10px;
        }
        &::before{
            display: none;
        }
    }

    span {
        display: inline-block;
    }
}

.mr_10{
    margin-right:10px;
}