<div class="add_task_modal">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Task</h3>
      <button class="close-button" (click)="close()" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <ng-container *ngIf="!isLoading">
      <form [formGroup]="taskFormGroup" class="ng-pristine ng-valid" (submit)="saveTaskFormGroup()">
        <div class="form-group w-100" *ngIf="wasOpenInPlan">
          Task will be added to&nbsp;<strong>{{plan.occuTitle.title}}</strong>
        </div>
        <div class="form-group w-100">
          <label><strong>Task Name</strong></label>
          <input type="text" class="w-100" formControlName="taskName">
        </div>
        <div class="form-group w-100" *ngIf="!wasOpenInPlan">
          <label><strong>Assign task to a plan</strong></label>
          <div class="form_select mw_100">
            <select formControlName="userOccupationPlan" (change)="onPlanChange($event)">
              <option value="">Not Assigned</option>
              <option *ngFor="let o of userOccupationPlans" [value]="o.id">
                {{o.occuTitle.title}}</option>
            </select>
          </div>
        </div>
        <div class="form-group w-100">
          <label><strong>Assign task to a specific date</strong></label>
          <div class="form_select mw_100">
            <select formControlName="userOccupationPlanCalendar">
              <option value="">Not Assigned</option>
              <option *ngFor="let o of userOccupationPlanCalendars" [value]="o.id">
                {{o.title}}</option>
            </select>
          </div>
        </div>

        <div class="text-center mt_50 mb_30">
          <button class="button" type="submit"
            [disabled]="(!taskFormGroup.dirty || !taskFormGroup.valid) || isSaving">SAVE
            <span *ngIf="isSaving" id="save-indicator"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></span>
          </button>
          <button class="button" type="button" (click)="close()">CANCEL</button>
        </div>
      </form>
    </ng-container>

    <div *ngIf="isLoading">
      <div class="row">
        <div class="small-12 column text-center">
          <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
          Loading...
        </div>
      </div>
    </div>
  </div>
</div>