.ml_auto {
    margin-left: auto;
}

.p-10 {
    padding: 10px;
}

.mb_10 {
    margin-bottom: 10px;
}
.mb_10 {
    margin-bottom: 20px;
}

.mb_30 {
    margin-bottom: 30px;
}

.mt_50 {
    margin-top: 50px;
}

.w-100 {
    width: 100%;
}

.submit-to-mentor-modal {
    color: #4A4A4A;
    overflow-x: hidden;
    ul{
        margin-left: 0 !important;
        margin-bottom: 0 !important;
        li{
            &::before{
                display: none !important;
            }
            margin-left:10px;
            margin-right:10px;
            margin-bottom: 0 !important;
            padding:5px;
            border-top:1px solid #cacaca;
            &:last-child{
                border-bottom: 1px solid #cacaca ;
                margin-bottom: 10px !important;
            }

            [type='checkbox']{
                margin-bottom: 0 !important;

                display: inline-block;
                vertical-align: middle;
            }

            label{
                display: inline-block;
                vertical-align: middle;
            }
            

        }
    }
    .modal-header {
        position: relative;

        .close-button {
            color: #000;
            top: 50%;
            transform: translateY(-50%);
        }
        h3{
            font-size: 16px !important;
            color: #505D68 !important;
            text-transform: inherit;
            padding: 6px 10px !important;
            background-color: #e8eaeb;
        }
    }
    .modal-content {

        border: none;
        .form-group {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 15px;
        
            label {
                color: #4A4A4A;
                min-width: 40px;
                margin-right: 10px;
                margin-bottom: 5px;
            }

            input, select {
                height: 30px;
            }

            .form_select {
                position: relative;
                width: 100%;
    
                &:after {
                    width: 0; 
                    height: 0; 
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-top: 6px solid #C3D2DA;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 10px;
                    content: "";
                    z-index: 1;
                    pointer-events: none;
                }
    
                select {
                    margin: 0;
                    -moz-appearance:none; /* Firefox */
                    -webkit-appearance:none; /* Safari and Chrome */
                    appearance:none;                  
                    background-image: none;
                    color: #C3D2DA;
                    background-color: #fff;
                    font-size: 14px;
                    width: 100%;
                }
    
                select::-ms-expand {
                    display: none;
                }
            }
        }

        p {
            font-size: 14px;
        }
    
        .button {
            font-size: 14px;
            min-width: 126px;
            margin: 0;

            + .button {
                margin-left: 20px;
            }
        }
    }

    select{
        color: #8a8a8a !important;
    }

    option:disabled{
        color: #C3D2DA;
    }

    .modal-body{
        margin-bottom:20px;
    }
}

.invite_parent {
    // border: 1px solid #979797;
    // padding: 18px 24px 10px;

    @media (max-width: 767px) {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    p {
        font-size: 13px;
        margin-bottom: 10px;

        strong {
            display: block;
            text-align: center;
            color: #2DA2A7;
            margin: 0 auto;
        }
    }

    .search-keyword {
        position: relative;
        // display: flex;

        input {
            border: 1px solid #979797;
            padding: 2px 30px 2px 6px;
            color: #4A4A4A;
            margin-bottom: 0;
            outline: none;
            height: 36px;
        }

        button {
            background: #2DA2A7;
            color: #fff;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            width: 25px;
            height: 25px;
            position: absolute;
            top: 6px;
            right: 18px;
            text-align: center;
            outline: none;
        }
    }
}

div.error-text,div.success-text{
    margin:0;
    padding-left: 15px;
    font-size:12px !important;
    font-weight: bold;
    font-style: italic;
}
div.error-text{ color:red;}
div.success-text{ color:green;}


.modal-footer.invite_parent{
    text-align: left;

    select{
        width:100% !important;
    }
}

// Styled Checkbox Start
.styled-checkbox {

    & + label.styled-checkbox-label {
        position: relative;
        cursor: pointer;
        width: auto;
        height: auto;

        &:before {
            border-radius: 3px;
            width: 15px;
            height: 15px;
            top: 4px;
        }
    }

    &:checked + label:before {
        border-color: #404A5A;
    }

    // Disabled state label.
    &:disabled + label {
        color: #b8b8b8;
        cursor: auto;

        &:before {
            box-shadow: none;
            background: #E0E8EC;
            margin-left: 0;
            margin-right: 0;
        }
    }

    // Checkmark - Could be replaced with an image
    &:checked + label:after {
        border: solid #404A5A;
        border-width: 0 2px 2px 0;
        content: "";
        left: 5px;
        top: 7px;
        width: 5px;
        height: 9px;        
        position: absolute;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.checkbox-dropdown {
    position: relative;
    width: 100%;

    .mat-form-field {
        border: 1px solid #C3D2DA;
        border-radius: 3px;
        width: 100%;
        padding: 7px 0;
    }

    ::ng-deep .mat-form-field-wrapper {
        padding: 0;

        .mat-form-field-flex {
            background-color: transparent;
            padding-top: 0;

            .mat-form-field-infix {
                padding: 0 !important;
                border-top: 0;

                *:focus {
                    outline: none;
                }

                .mat-select-value {
                    color: #4A4A4A;
                }

                .mat-select-arrow-wrapper {
                    display: block;

                    .mat-select-arrow {
                        color: #c3d2da;
                    }
                }
                
                .mat-form-field-label-wrapper {
                    top: -8px;
                }
            }

            label:not(.mat-empty) {
                display: none !important;
            }
        }

        .mat-form-field-underline {
            display: none;
        }
    }
}

button.disabled{
    border-color: #C3D2DA;
    background-color: #C3D2DA !important;
    color: #fff !important;
    cursor:not-allowed !important;
}