<div class="submit-to-mentor-modal">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Send Message</h3>
      <button class="close-button" (click)="close()" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <ng-container *ngIf="!isLoading">

      <div class="modal-body invite_parent">
        <mat-dialog-content>
          <form [formGroup]="messageForm" (submit)="submitMessageForm()" class="search-keyword">
            <div class="row mb_10">
              <div class="column small-4" style="padding-top:3px;">
                Send a message
              </div>
              <div class="column small-8">
                <div class="checkbox-dropdown">
                  <mat-form-field appearance="fill">
                    <mat-label>Select Recipient(s)</mat-label>
                    <mat-select formControlName="selectedRecipients" multiple [disabled]="directMessageMentorLinkId" >
                      <mat-select-trigger>
                        {{messageForm.get('selectedRecipients').value ?
                        getDisplayName(messageForm.get('selectedRecipients').value) : ''}}
                        <span *ngIf="messageForm.get('selectedRecipients').value?.length > 1"
                          class="example-additional-selection">
                          {{getDisplayName(messageForm.get('selectedRecipients').value[0])}}&nbsp;
                          (+{{messageForm.get('selectedRecipients').value.length - 1}}
                          {{messageForm.get('selectedRecipients').value?.length === 2 ? 'other' : 'others'}})
                        </span>
                      </mat-select-trigger>
                      <mat-option *ngFor="let recipient of recipients" [value]="recipient.id">{{recipient.username}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="column small-12 search-keyword">
                <input placeholder="Message" type="text" formControlName="message"
                  [attr.readonly]="(messageForm.get('selectedRecipients').value?.length == 0) ? true : null">
                <button class="searchButton" type="submit" title="Click here to send Message"
                  [ngClass]="messageForm.invalid ? 'disabled' : ''" [disabled]="messageForm.invalid">
                  <i class="fa fa-angle-right"></i>
                </button>
              </div>
            </div>
          </form>
        </mat-dialog-content>
      </div>
      <div class="modal-footer invite_parent ">
          <div class="error-text" [hidden]="errorText == ''">{{errorText}}</div>
          <div class="success-text" *ngIf="successText != ''">{{successText}}</div>
      </div>

    </ng-container>

    <div *ngIf="isLoading">
      <div class="row">
        <div class="small-12 column text-center">
          <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
          Loading...
        </div>
      </div>
    </div>

  </div>
</div>