<div class="occufind">
	<app-header></app-header>
	<app-my-asvab-header></app-my-asvab-header>
	
	<section id="content-wrap" class="left-nav-expanded-wrap">
		<div class="row">
			<app-left-navigation-v2-collapsed [selectedTab]="'explore'"></app-left-navigation-v2-collapsed>

			<section id="main-content" class="left-navigation-condensed" role="main">  
				<app-my-top-results-collapsed [collapsedVersion]="'v2'"></app-my-top-results-collapsed>

				<div id="left-nav-content-wrap">

					<div>&lt;&nbsp;<a routerLink="/explore-careers">Back to Explore Careers</a></div>
					<hr>
					<div class="compare-title d-flex flex-wrap justify-space-between">
						<h2 class="mb-0" style="line-height: normal;text-transform: none">Compare Occupations</h2>
						<ul class="menu tools icons-right icons-medium mb-0">
							<li id="download"><a (click)="downloadPdf()">Download</a></li>
							<li id="print"><a (click)="printPdf()">Print</a></li>
						</ul>   
					</div>     
				
                <br/>
                <!-- modal -->
                <section class="explore-compare-modal learn-about-modal" role="main">
                <div class="modal-main">
					<div class="modal-discription">
						<div class="explore-compare-table">

							<div class="explore-table-title-wrapper hide-for-medium-only hide-for-small-only">
								<div class="explore-table-item-title"></div>
								<div class="explore-table-item-title " data-match="match2">Interest Codes</div>
								<div class="explore-table-item-title " data-match="match3">Overview</div>
								<div class="explore-table-item-title " data-match="match4">Skill Importance:</div>
								<div class="explore-table-item-title " data-match="match5">Education:</div>
								<div class="explore-table-item-title " data-match="match6">Certifications:</div>
								<div class="explore-table-item-title " data-match="match7">Services Offering <br> This Occupation</div>
								<div class="explore-table-item-title  d-flex align-items-center" data-match="match8">Nationwide Salary Average</div>
								<div class="explore-table-item-title " data-match="match9">What about the occupation(s) appeals to you the most? Are there any negatives to consider?</div>
								<div class="explore-table-item-title favorite-meter-list" data-match="match10">Favorite meter</div>
							</div>

							<div class="explore-table-content-wrapper">
								<nav class="pagination-nav" aria-label="Page navigation example">
									<ul class="pagination">
										<li class="page-item">
											<a class="page-link arrow" (click)="scrollLeft()" aria-label="Previous">
												<!-- <span aria-hidden="true">&lsaquo;</span> -->
												<i class="fas fa-chevron-left"></i>
												<span class="sr-only">Previous</span>
											</a>
											</li>
											<li *ngFor="let occ of socIds; let i = index" class="page-item">
												<a class="page-link" [ngClass]="{'active': scrollListIndex[0] === i || scrollListIndex[1] === i}"></a>
											</li>
										<li class="page-item">
											<a class="page-link arrow" (click)="scrollRight()" aria-label="Next">
												<!-- <span aria-hidden="true">&rsaquo;</span> -->
												<i class="fas fa-chevron-right"></i>
												<span class="sr-only">Next</span>
											</a>
										</li>
									</ul>
								</nav>
								
								<!-- Modal slide 1 -->
								<div *ngFor="let i of scrollListIndex" class="explore-compare-table-content active">
									<div class="explore-compare-table-content-title">
										<strong>{{occupationsTitle[i]}}</strong>
                                        <ul class="menu no-margins icons-right right-align">
                                            <li *ngIf="occupationsHotGreenStemFlags[i].isStemOccupation === '1'" id="stem"><a (click)="stemDefinition()"></a></li>
                                            <li *ngIf="occupationsHotGreenStemFlags[i].isGreenOccupation === '1'" id="green"><a (click)="greenDefinition()"></a></li>
                                            <li *ngIf="occupationsHotGreenStemFlags[i].isBrightOccupation === '1'" id="hot"><a (click)="brightDefinition()"></a></li>
                                            <li *ngIf="occupationsHotGreenStemFlags[i].isHotOccupation === '1'" class="icon-hotjob"><a (click)="brightDefinition()"></a></li>
                                        </ul>
									</div>
									<div id="interest-codes" class="explore-compare-table-item " data-match="match2">
										<div class="explore-table-item-title custom-title hide-for-large"><b>Interest Codes</b></div>
										<ul class="interest-codes">
											<li *ngIf="occupationsInterestCdOne[i] == 'S'" class="code-s">Social</li>
											<li *ngIf="occupationsInterestCdOne[i] == 'R'" class="code-r">Realistic</li>
											<li *ngIf="occupationsInterestCdOne[i] == 'C'" class="code-c">Conventional</li>
											<li *ngIf="occupationsInterestCdOne[i] == 'I'" class="code-i">Investigative</li>
											<li *ngIf="occupationsInterestCdOne[i] == 'A'" class="code-a">Artistic</li>
										<li *ngIf="occupationsInterestCdOne[i] == 'E'" class="code-e">Enterprising</li>
											
											<li *ngIf="occupationsInterestCdTwo[i] == 'S'" class="code-s">Social</li>
											<li *ngIf="occupationsInterestCdTwo[i] == 'R'" class="code-r">Realistic</li>
											<li *ngIf="occupationsInterestCdTwo[i] == 'C'" class="code-c">Conventional</li>
											<li *ngIf="occupationsInterestCdTwo[i] == 'I'" class="code-i">Investigative</li>
											<li *ngIf="occupationsInterestCdTwo[i] == 'A'" class="code-a">Artistic</li>
											<li *ngIf="occupationsInterestCdTwo[i] == 'E'" class="code-e">Enterprising</li>
											
											<li *ngIf="occupationsInterestCdThree[i] == 'S'" class="code-s">Social</li>
											<li *ngIf="occupationsInterestCdThree[i] == 'R'" class="code-r">Realistic</li>
											<li *ngIf="occupationsInterestCdThree[i] == 'C'" class="code-c">Conventional</li>
											<li *ngIf="occupationsInterestCdThree[i] == 'I'" class="code-i">Investigative</li>
											<li *ngIf="occupationsInterestCdThree[i] == 'A'" class="code-a">Artistic</li>
											<li *ngIf="occupationsInterestCdThree[i] == 'E'" class="code-e">Enterprising</li>
										</ul>
									</div>
									<div class="explore-compare-table-item " data-match="match3">
										<div class="explore-table-item-title custom-title hide-for-large"><b>Overview</b></div>
										{{occupationsDescription[i] | slice:0:150}} <span [hidden]="occupationsDescription[i].length < 150">...</span>
										<div [hidden]="occupationsDescription[i].length < 150">
											<a routerLink="/occufind-occupation-details/{{socIds[i]}}">&nbsp;View More</a>
										</div>
									</div>
									<div class="explore-compare-table-item " data-match="match4">
										<div class="explore-table-item-title custom-title hide-for-large"><b>Skill Importance:</b></div>
										<div class="d-flex align-items-center">
											<!-- <div class="ratebox" data-id="1" [attr.data-rating]="occupationsSkillRating[i].verbal"></div> -->
											<star-rating totalstars="5" checkedcolor="black" [value]="occupationsSkillRating[i].verbal" value="1"
											uncheckedcolor="Gainsboro" size="15px" data-id="1" readonly="true" class="ratebox" style="line-height: 1;"></star-rating>
											<span>Verbal</span>
										</div>
										<div class="d-flex align-items-center">
											<!-- <div class="ratebox" data-id="2" [attr.data-rating]="occupationsSkillRating[i].math"></div> -->
											<star-rating totalstars="5" data-id="2" checkedcolor="black" [value]="occupationsSkillRating[i].math" 
											uncheckedcolor="Gainsboro" size="15px" readonly="true" class="ratebox" style="line-height: 1;"></star-rating>
											<span>Math</span>
										</div>
										<div class="d-flex align-items-center">
											<!-- <div class="ratebox" data-id="3" [attr.data-rating]="occupationsSkillRating[i].sciTech"></div> -->
											<star-rating totalstars="5" data-id="3" checkedcolor="black" [value]="occupationsSkillRating[i].sciTech" 
											uncheckedcolor="Gainsboro" size="15px" readonly="true" class="ratebox" style="line-height: 1;"></star-rating>
											<span>Science / Technical</span>
										</div>
									</div>
									<div class="explore-compare-table-item " data-match="match5">
										<div class="explore-table-item-title custom-title hide-for-large"><b>Education:</b></div>
										<p>{{
                                            occupationsEducation[i]
                                            && occupationsEducation[i][0] 
                                            && occupationsEducation[i][0].educationDesc 
                                            ? occupationsEducation[i][0].educationDesc
                                            : null
                                        }}</p>
									</div>
									<div class="explore-compare-table-item " data-match="match6">
										<div class="explore-table-item-title custom-title hide-for-large"><b>Certifications:</b></div>
										<div style="margin-bottom: 15px;" show-more>
											<span class="no-inner-margin" 
												[innerHtml]="certificateExplanation[i] ? certificateExplanation[i].slice(0, shrinkCredentialsVal[i]) + '...' : null"></span>
											<div [hidden]="certificateExplanation[i].length < shrinkCredentialsValLimit">
												<a routerLink="/occufind-occupation-details/{{socIds[i]}}">&nbsp;View More</a>
											</div>
											<!-- <a *ngIf="certificateExplanation[i] && certificateExplanation[i].length > 0" [hidden]="(certificateExplanation[i] && (certificateExplanation[i].length < shrinkCredentialsValLimit)) || shrinkCredentialsVal[i] > shrinkCredentialsValLimit"  (click)="shrinkCredentialsVal[i]=100000000;adjustCertificationHeight(true);">&nbsp;Show more...</a>
											<a *ngIf="certificateExplanation[i] && certificateExplanation[i].length > 0 && shrinkCredentialsVal[i] > shrinkCredentialsValLimit"  (click)="shrinkCredentialsVal[i] = shrinkCredentialsValLimit;adjustCertificationHeight();">&nbsp;...Show less</a> -->
										</div>
									</div>
									<div class="explore-compare-table-item " data-match="match7">
										<div class="explore-table-item-title custom-title hide-for-large"><b>Services Offering This Occupation</b></div>
                                        <span *ngFor="let s of occupationsServiceOffering[i]">
										<img *ngIf="s.serviceCode == 'F'" src="assets/images/service/airforce.png"/>
										<img *ngIf="s.serviceCode == 'A'" src="assets/images/service/army.png"/>
										<img *ngIf="s.serviceCode == 'C'" src="assets/images/service/Coast-Guard.png"/>
										<img *ngIf="s.serviceCode == 'M'" src="assets/images/service/marines.png"/>
										<img *ngIf="s.serviceCode == 'G'" src="assets/images/service/national-guard.png"/>
										<img *ngIf="s.serviceCode == 'N'" src="assets/images/service/navy.png"/>
										</span>
									</div>
									<div class="explore-compare-table-item  salary-average-item" data-match="match8">
										<div class="explore-table-item-title custom-title hide-for-large"><b>Nationwide Salary Average</b></div>
										<p>{{occupationsNationalSalary[i] | currency}}</p>
									</div>
									<div class="explore-compare-table-item " data-match="match9">
										<div class="explore-table-item-title custom-title hide-for-large">
                                            <b>What about the occupation(s) appeals to you the most? Are there any negatives to consider?</b> 
                                            <br><br> 
                                        </div>
                                        <!--<span>{{occupationsNotes[i]}}</span>-->
                                        <textarea [(ngModel)]="occupationsNotes[i]" (ngModelChange)="noteChanged[i]=true"></textarea>
                                        <button class="button" (click)="noteUpdate(i)" [disabled]="!noteChanged[i]" >Save Changes</button>
									</div>
									<div class="explore-compare-table-item favorite-meter-list">
										<div class="explore-table-item-title custom-title hide-for-large"><b>Favorite meter</b></div>
										<div class="favorites-icon">
                                            <div _ngcontent-lfg-c8="" class="favorites-icon">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92" *ngIf="getFavOccupation(socIds[i]).hearts < 1 || !getFavOccupation(socIds[i]).hearts" (click)="setOccupationHeart(1, getFavOccupation(socIds[i]).id)"><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28ZM4.91,1.06A3.84,3.84,0,0,0,2.18,2.18h0a3.86,3.86,0,0,0,0,5.42L8,13.42,13.8,7.6A3.86,3.86,0,0,0,8.34,2.15L8,2.51,7.6,2.15A3.84,3.84,0,0,0,4.91,1.06Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92" *ngIf="getFavOccupation(socIds[i]).hearts >= 1" (click)="setOccupationHeart(0, getFavOccupation(socIds[i]).id)"><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92" *ngIf="getFavOccupation(socIds[i]).hearts < 2 || !getFavOccupation(socIds[i]).hearts" (click)="setOccupationHeart(2, getFavOccupation(socIds[i]).id)"><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28ZM4.91,1.06A3.84,3.84,0,0,0,2.18,2.18h0a3.86,3.86,0,0,0,0,5.42L8,13.42,13.8,7.6A3.86,3.86,0,0,0,8.34,2.15L8,2.51,7.6,2.15A3.84,3.84,0,0,0,4.91,1.06Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92" *ngIf="getFavOccupation(socIds[i]).hearts >= 2" (click)="setOccupationHeart(1, getFavOccupation(socIds[i]).id)"><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92" *ngIf="getFavOccupation(socIds[i]).hearts < 3 || !getFavOccupation(socIds[i]).hearts" (click)="setOccupationHeart(3, getFavOccupation(socIds[i]).id)"><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28ZM4.91,1.06A3.84,3.84,0,0,0,2.18,2.18h0a3.86,3.86,0,0,0,0,5.42L8,13.42,13.8,7.6A3.86,3.86,0,0,0,8.34,2.15L8,2.51,7.6,2.15A3.84,3.84,0,0,0,4.91,1.06Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92" *ngIf="getFavOccupation(socIds[i]).hearts >= 3" (click)="setOccupationHeart(2, getFavOccupation(socIds[i]).id)"><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92" *ngIf="getFavOccupation(socIds[i]).hearts < 4 || !getFavOccupation(socIds[i]).hearts" (click)="setOccupationHeart(4, getFavOccupation(socIds[i]).id)"><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28ZM4.91,1.06A3.84,3.84,0,0,0,2.18,2.18h0a3.86,3.86,0,0,0,0,5.42L8,13.42,13.8,7.6A3.86,3.86,0,0,0,8.34,2.15L8,2.51,7.6,2.15A3.84,3.84,0,0,0,4.91,1.06Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92" *ngIf="getFavOccupation(socIds[i]).hearts >= 4" (click)="setOccupationHeart(3, getFavOccupation(socIds[i]).id)"><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92" *ngIf="getFavOccupation(socIds[i]).hearts < 5 || !getFavOccupation(socIds[i]).hearts" (click)="setOccupationHeart(5, getFavOccupation(socIds[i]).id)"><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28ZM4.91,1.06A3.84,3.84,0,0,0,2.18,2.18h0a3.86,3.86,0,0,0,0,5.42L8,13.42,13.8,7.6A3.86,3.86,0,0,0,8.34,2.15L8,2.51,7.6,2.15A3.84,3.84,0,0,0,4.91,1.06Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92" *ngIf="getFavOccupation(socIds[i]).hearts >= 5" (click)="setOccupationHeart(4, getFavOccupation(socIds[i]).id)"><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
											</div>
										</div>
									</div>
								</div>
				
							</div>
						</div>
					</div>

				</div>	
                </section>
                <!-- end modal -->
				
				<!-- Only shown for printing/download -->
				<!-- for debugging purposes simply remove display:none -->
				<section class="test explore-compare-modal learn-about-modal" style="border-bottom: none !important; margin:0;display:none;" role="main" id="printSection">
					<div class="modal-main">
						<div class="modal-discription">
							<div class="explore-compare-table"  *ngFor="let rowToPrint of rowsToPrint" #printList>
							
								<h2 style="position:absolute;">Occupation Comparison</h2>
								<div class="explore-table-title-wrapper "  style="margin-top:50px">
									<div class="explore-table-item-title" style="height:62px" ></div>
									<div class="explore-table-item-title " data-match="match12">Interest Codes</div>
									<div class="explore-table-item-title " data-match="match13">Overview</div>
									<div class="explore-table-item-title " data-match="match14">Skill Importance:</div>
									<div class="explore-table-item-title " data-match="match15">Education:</div>
									<div class="explore-table-item-title " data-match="match16">Certifications:</div>
									<div class="explore-table-item-title " data-match="match17">Services Offering <br> This Occupation</div>
									<div class="explore-table-item-title  d-flex align-items-center" data-match="match18">Nationwide Salary Average</div>
									<div class="explore-table-item-title " data-match="match19">What about the occupation(s) appeals to you the most? Are there any negatives to consider? <br><br> <span>If you have questions or concerns write them below. Then, talk with your counselor, parents, or other adults.</span></div>
									<div class="explore-table-item-title favorite-meter-list" data-match="match20">Favorite meter</div>
								</div>
																
								<div class="explore-table-content-wrapper" style="margin-top:50px"
									[ngStyle]="{'border': rowToPrint.length == 1 ? 'none' : '1px solid #979797' }">

									<div *ngFor="let i of rowToPrint" class="explore-compare-table-content active" 
										[ngStyle]="{'border': rowToPrint.length == 1 ? '1px solid #979797' : '' }">
										<div class="explore-compare-table-content-title" >
											<strong>{{occupationsTitle[i]}}</strong>
											<ul class="menu no-margins icons-right right-align">
												<li *ngIf="occupationsHotGreenStemFlags[i].isStemOccupation === '1'" id="stem"><a (click)="stemDefinition()"></a></li>
												<li *ngIf="occupationsHotGreenStemFlags[i].isGreenOccupation === '1'" id="green"><a (click)="greenDefinition()"></a></li>
												<li *ngIf="occupationsHotGreenStemFlags[i].isBrightOccupation === '1'" id="hot"><a (click)="brightDefinition()"></a></li>
												<li *ngIf="occupationsHotGreenStemFlags[i].isHotOccupation === '1'" class="icon-hotjob"><a (click)="brightDefinition()"></a></li>
											</ul>
										</div>
										<div id="interest-codes" class="explore-compare-table-item " data-match="match12">
											<div class="explore-table-item-title custom-title hide-for-large"><b>Interest Codes</b></div>
											<ul class="interest-codes">
												<li *ngIf="occupationsInterestCdOne[i] == 'S'" class="code-s">Social</li>
												<li *ngIf="occupationsInterestCdOne[i] == 'R'" class="code-r">Realistic</li>
												<li *ngIf="occupationsInterestCdOne[i] == 'C'" class="code-c">Conventional</li>
												<li *ngIf="occupationsInterestCdOne[i] == 'I'" class="code-i">Investigative</li>
												<li *ngIf="occupationsInterestCdOne[i] == 'A'" class="code-a">Artistic</li>
											<li *ngIf="occupationsInterestCdOne[i] == 'E'" class="code-e">Enterprising</li>
												
												<li *ngIf="occupationsInterestCdTwo[i] == 'S'" class="code-s">Social</li>
												<li *ngIf="occupationsInterestCdTwo[i] == 'R'" class="code-r">Realistic</li>
												<li *ngIf="occupationsInterestCdTwo[i] == 'C'" class="code-c">Conventional</li>
												<li *ngIf="occupationsInterestCdTwo[i] == 'I'" class="code-i">Investigative</li>
												<li *ngIf="occupationsInterestCdTwo[i] == 'A'" class="code-a">Artistic</li>
												<li *ngIf="occupationsInterestCdTwo[i] == 'E'" class="code-e">Enterprising</li>
												
												<li *ngIf="occupationsInterestCdThree[i] == 'S'" class="code-s">Social</li>
												<li *ngIf="occupationsInterestCdThree[i] == 'R'" class="code-r">Realistic</li>
												<li *ngIf="occupationsInterestCdThree[i] == 'C'" class="code-c">Conventional</li>
												<li *ngIf="occupationsInterestCdThree[i] == 'I'" class="code-i">Investigative</li>
												<li *ngIf="occupationsInterestCdThree[i] == 'A'" class="code-a">Artistic</li>
												<li *ngIf="occupationsInterestCdThree[i] == 'E'" class="code-e">Enterprising</li>
											</ul>
										</div>
										<div class="explore-compare-table-item " data-match="match13">
											<div class="explore-table-item-title custom-title hide-for-large"><b>Overview</b></div>
											{{occupationsDescription[i] | slice:0:150}} <span [hidden]="occupationsDescription[i].length < 150">...</span>
											<div [hidden]="occupationsDescription[i].length < 150">
												<a routerLink="/occufind-occupation-details/{{socIds[i]}}">&nbsp;View More</a>
											</div>
										</div>
										<div class="explore-compare-table-item " data-match="match14">
											<div class="explore-table-item-title custom-title hide-for-large"><b>Skill Importance:</b></div>
											<div class="d-flex align-items-center">
												<!-- <div class="ratebox" data-id="1" [attr.data-rating]="occupationsSkillRating[i].verbal"></div> -->
												<star-rating totalstars="5" data-id="1" checkedcolor="black" [value]="occupationsSkillRating[i].verbal" 
											uncheckedcolor="Gainsboro" size="18px" readonly="true" class="ratebox" style="line-height: 0;" ></star-rating>
											<span>Verbal</span>
											</div>
											<div class="d-flex align-items-center">
												<!-- <div class="ratebox" data-id="2" [attr.data-rating]="occupationsSkillRating[i].math"></div> -->
												<star-rating totalstars="5" data-id="2" checkedcolor="black" [value]="occupationsSkillRating[i].math" 
													uncheckedcolor="Gainsboro" size="18px" readonly="true" class="ratebox" style="line-height: 0;"></star-rating>
												<span>Math</span>
											</div>
											<div class="d-flex align-items-center">
												<!-- <div class="ratebox" data-id="3" [attr.data-rating]="occupationsSkillRating[i].sciTech"></div> -->
												<star-rating totalstars="5" data-id="3" checkedcolor="black" [value]="occupationsSkillRating[i].sciTech" 
													uncheckedcolor="Gainsboro" size="18px" readonly="true" class="ratebox" style="line-height: 0;"></star-rating>
													<span>Science / Technical</span>
											</div>
										</div>
										<div class="explore-compare-table-item " data-match="match15">
											<div class="explore-table-item-title custom-title hide-for-large"><b>Education:</b></div>
											<p>{{
												occupationsEducation[i]
												&& occupationsEducation[i][0] 
												&& occupationsEducation[i][0].educationDesc 
												? occupationsEducation[i][0].educationDesc
												: null
											}}</p>
										</div>
										<div class="explore-compare-table-item " data-match="match16">
											<div class="explore-table-item-title custom-title hide-for-large"><b>Certifications:</b></div>
											<div style="margin-bottom: 15px;"> 
												<!-- <span [innerHtml]="certificateExplanation[i]"> </span> -->
												<span [innerHtml]="certificateExplanation[i] ? certificateExplanation[i].slice(0, shrinkCredentialsVal[i]) + '...' : null"></span>
												<div [hidden]="certificateExplanation[i].length < shrinkCredentialsValLimit">
													<a routerLink="/occufind-occupation-details/{{socIds[i]}}">&nbsp;View More</a>
												</div>
											</div>	
										</div>
										<div class="explore-compare-table-item " data-match="match17">
											<div class="explore-table-item-title custom-title hide-for-large"><b>Services Offering This Occupation</b></div>
											<span *ngFor="let s of occupationsServiceOffering[i]">
											<img *ngIf="s.serviceCode == 'F'" src="assets/images/service/airforce.png"/>
											<img *ngIf="s.serviceCode == 'A'" src="assets/images/service/army.png"/>
											<img *ngIf="s.serviceCode == 'C'" src="assets/images/service/Coast-Guard.png"/>
											<img *ngIf="s.serviceCode == 'M'" src="assets/images/service/marines.png"/>
											<img *ngIf="s.serviceCode == 'G'" src="assets/images/service/national-guard.png"/>
											<img *ngIf="s.serviceCode == 'N'" src="assets/images/service/navy.png"/>
											</span>
										</div>
										<div class="explore-compare-table-item  salary-average-item" data-match="match18">
											<div class="explore-table-item-title custom-title hide-for-large"><b>Nationwide Salary Average</b></div>
											<p>{{occupationsNationalSalary[i] | currency}}</p>
										</div>
										<div class="explore-compare-table-item " data-match="match19">
											<div class="explore-table-item-title custom-title hide-for-large">
												<b>What about the occupation(s) appeals to you the most? Are there any negatives to consider?</b> 
												<br><br> 
											</div>
											<!--<span>{{occupationsNotes[i]}}</span>-->
											<textarea [(ngModel)]="occupationsNotes[i]"></textarea>
										</div>
										<div class="explore-compare-table-item favorite-meter-list" data-match="match20">
											<div class="explore-table-item-title custom-title hide-for-large"><b>Favorite meter</b></div>
											<div class="favorites-icon">
												<div _ngcontent-lfg-c8="" class="favorites-icon">
														<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92" width="16" height="15" *ngIf="getFavOccupation(socIds[i]).hearts < 1 || !getFavOccupation(socIds[i]).hearts"><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28ZM4.91,1.06A3.84,3.84,0,0,0,2.18,2.18h0a3.86,3.86,0,0,0,0,5.42L8,13.42,13.8,7.6A3.86,3.86,0,0,0,8.34,2.15L8,2.51,7.6,2.15A3.84,3.84,0,0,0,4.91,1.06Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
														<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92"  width="16" height="15" *ngIf="getFavOccupation(socIds[i]).hearts >= 1" ><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
														<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92"  width="16" height="15" *ngIf="getFavOccupation(socIds[i]).hearts < 2 || !getFavOccupation(socIds[i]).hearts"><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28ZM4.91,1.06A3.84,3.84,0,0,0,2.18,2.18h0a3.86,3.86,0,0,0,0,5.42L8,13.42,13.8,7.6A3.86,3.86,0,0,0,8.34,2.15L8,2.51,7.6,2.15A3.84,3.84,0,0,0,4.91,1.06Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
														<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92" width="16" height="15" *ngIf="getFavOccupation(socIds[i]).hearts >= 2" ><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
														<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92" width="16" height="15" *ngIf="getFavOccupation(socIds[i]).hearts < 3 || !getFavOccupation(socIds[i]).hearts"><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28ZM4.91,1.06A3.84,3.84,0,0,0,2.18,2.18h0a3.86,3.86,0,0,0,0,5.42L8,13.42,13.8,7.6A3.86,3.86,0,0,0,8.34,2.15L8,2.51,7.6,2.15A3.84,3.84,0,0,0,4.91,1.06Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
														<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92"  width="16" height="15" *ngIf="getFavOccupation(socIds[i]).hearts >= 3" ><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
														<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92"  width="16" height="15" *ngIf="getFavOccupation(socIds[i]).hearts < 4 || !getFavOccupation(socIds[i]).hearts"><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28ZM4.91,1.06A3.84,3.84,0,0,0,2.18,2.18h0a3.86,3.86,0,0,0,0,5.42L8,13.42,13.8,7.6A3.86,3.86,0,0,0,8.34,2.15L8,2.51,7.6,2.15A3.84,3.84,0,0,0,4.91,1.06Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
														<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92" width="16" height="15" *ngIf="getFavOccupation(socIds[i]).hearts >= 4" ><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
														<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92" width="16" height="15" *ngIf="getFavOccupation(socIds[i]).hearts < 5 || !getFavOccupation(socIds[i]).hearts"><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28ZM4.91,1.06A3.84,3.84,0,0,0,2.18,2.18h0a3.86,3.86,0,0,0,0,5.42L8,13.42,13.8,7.6A3.86,3.86,0,0,0,8.34,2.15L8,2.51,7.6,2.15A3.84,3.84,0,0,0,4.91,1.06Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
														<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92"  width="16" height="15" *ngIf="getFavOccupation(socIds[i]).hearts >= 5"><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
												</div>
											</div>
										</div>
									</div>

									<!-- show a blank column when only one item in a row for spacing purposes -->
									<div *ngIf="rowToPrint.length == 1" class="explore-compare-table-content active" style="border:none;">
										<p style="visibility:hidden;">Most of these occupations require graduate school. For example, they may require a master's degree, and some require a Ph.D., M.D., or J.D. (law degree).</p>
									</div>
								</div>
							</div>
						</div>
	
					</div>	
				</section>
				<!-- end show for print/download -->

				</div>
				
			</section>
		</div>
	</section>
	
	<app-footer></app-footer>
  </div>