.row {
	display: block;
	}

.explore-modal {
    padding: 0;
    margin: 20px auto 0;

    .modal-main {
        border: 1px solid #C3D2DA;
        border-radius: 5px;
        padding: 10px 10px 30px;

        @media (max-width: 991px) {
            margin-left: 15px;
            margin-right: 15px;
        }

        .modal-main-title {
            display: inline-block;
            width: 100%;
            position: relative;
    
            h2 {
                font-size: 16px;
                font-weight: bold;
                color: #505D68;
                padding: 6px 28px 6px 12px;
                margin-bottom: 0;
                text-transform: none;
            }
            a {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    
        .modal-discription {
            margin: 50px 25px 25px;
    
            @media (max-width: 639px) {
                margin: 25px auto;
            }
        }
    
        .modal-close {
            text-align: center;
            margin: 40px auto 0;
    
            .button {
                padding: 5px 30px;
                margin: 0;
    
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.compare-title {
    .menu {
        &.tools {
            @media (max-width: 639px) {
                width: 100%;
                text-align: center !important;
                margin: 20px auto 0 !important;
            }

            li {
                @media (max-width: 639px) {
                    padding: 0 20px !important;
                }
                a {
                    @media (max-width: 639px) {
                        padding: 10px 0 !important;
                    }
                }
            }
        }
    }
}

// explore compare table
.explore-compare-modal {
    max-width: 912px;
    width: auto;

    .explore-compare-table {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        line-height: 22px;
        color: #4A4A4A;
        width: 100%;
    
        p {
            line-height: 22px;
            margin-bottom: 0;
        }
    
        .explore-table-title-wrapper {
            font-weight: bold;
            max-width: 177px;
            width: 100%;
            border-top: 1px solid transparent;
            border-bottom: 1px solid #979797;
        
            span {
                font-weight: normal;
            }
        }
    
        .explore-table-item-title {
            border-top: 1px solid #979797;
            padding: 23px 16px 16px 0;

            &:first-child {
                border-top: 0;
                height: 93px;
            }
        }

        .explore-table-item-title.custom-title {
            height: auto;

            @media (max-width: 1024px) {
                padding: 0 0 16px;
            }
        }

        .favorite-meter-list {
            padding-top: 6px;
            padding-bottom: 6px;
        }

        .explore-table-content-wrapper {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            border: 1px solid #979797;

            .pagination-nav {
                width: 100%;

                .pagination {
                    background-color: #141B6D;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;
                    text-align: center;
                    height: 31px;
                    border-radius: 0;

                    .page-item {
                        margin: 0 5px;

                        a {
                            background-color: transparent;
                            color: #fff;
                            height: 10px;
                            width: 10px;
                            border: 1px solid #fff;
                            border-radius: 50%;
                            padding: 0;

                            span {
                                font-size: 26px;
                                line-height: 7px;
                            }

                            &:hover {
                                background-color: #fff;
                            }

                            &.active {
                                background-color: #fff;
                                pointer-events: none;
                            }
                        }

                        .arrow {
                            display: inline-block;
                            height: 15px;
                        }
                        
                        &:first-child {
                            margin-right: 20px;

                            a {
                                border: none;
                                
                                &:hover {
                                    opacity: 0.8;
                                    background-color: transparent;
                                }
                            }
                        }

                        &:last-child {
                            margin-left: 20px;

                            a {
                                border: none;

                                &:hover {
                                    opacity: 0.8;
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                }
            }
    
            .explore-compare-table-content {
                // max-width: 313px;
                display: none;
                max-width: 50%;
                width: 100%;

                @media (max-width: 639px) {
                    max-width: 100%;
                }

                &.active {
                    display: block;

                    &:first-child {
                        border-left: 0;
                    }
                }
    
                ~ .explore-compare-table-content {
                    @media (min-width: 640px) {
                        border-left: 1px solid #979797;
                    }
                    @media (max-width: 639px) {
                        display: none;
                    }

                    .explore-compare-table-content-title {
                        @media (max-width: 639px) {
                            border-top: 1px solid #979797;
                        }                        
                    }
                }
        
                .explore-compare-table-content-title {
                    background-color: #EBEBEB;
                    width: 100%;
                    height: 62px;
                    padding: 15px 21px 5px;

                    @media (max-width: 639px) {
                        padding-bottom: 15px;
                        height: auto;
                    }  

                    strong {
                        font-size: 13px;
                        line-height: 19px;
                        font-weight: bold;
                        max-width: 232px;
                        margin-bottom: 0;

                        @media (max-width: 639px) and (min-width: 390px) {
                            max-width: 100%;
                        }
                    }
                    
                    ul.menu.icons-right {
                        display: inline;
                        margin-left: 20px;
                        
                        li {
                            margin-right: 6px;
                        
                            a {
                                padding: 0 !important;
                                pointer-events: none;
                                &:before {
                                    height: 16px;
                                    position: static;
                                }
                            }
                            
                            &.icon-hotjob {
                                margin: 0 !important;
                                position: relative;
                                top: 2px;
                                
                                a {
                                    display: none;
                                }
                            }
                        }
                    }
                }
        
                .explore-compare-table-item {
                    border-top: 1px solid #979797;
                    padding: 20px;

                    @media (max-width: 639px) {
                        padding: 16px;
                    }

                    ul {
                        margin-bottom: 0 !important;

                        li {
                            margin-bottom: 16px;

                            &::before {
                                left: -20px !important;
                            }

                            &:last-child {
                                margin-bottom: 0px !important;
                            }
                        }
                        
                        &.interest-codes {
                            margin: 0 !important;
                            li {
                                margin-bottom: 5px;                            
                            }
                        }
                    }

                    star-rating {
                        margin-right: 18px;

                        svg {
                            color: #000;
                            margin-right: 2px
                        }
                    }
                }

                .salary-average-item {
                    @media (min-width: 1025px) {
                        display: flex;
                        align-items: center;
                    }
                }

                .favorite-meter-list {
                    padding: 6px 16px;
                    
                    span {
                        font-size: 12px;
                        margin-right: 10px;
                        float: left;
        
                        @media screen and (min-width: 640px) and (max-width: 686px) {
                            float: none;
                            display: inline-block;
                            width: 100%;
                        }

                        @media screen and (max-width: 480px) {
                            float: none;
                            display: inline-block;
                            width: 100% !important;
                        }
                    }
                    
                    svg {
                        width: 13px;
                        vertical-align: middle;
                        margin: 3px;
                    }
                }
            }
        }

        .explore-compare-table-content textarea {
            height: 164px;
            resize: none;
            border-color:#B8B8B8;
        }
                            
        #interest-codes li {
            padding-left: 20px; 
            &:after {
                top: 4px !important;
                left: 0;
                right: auto !important;
            }
        }
    }
}

span.no-inner-margin{
    >p{
        margin-bottom: 0 !important;
    }
}