.sticky_logo {
    display: none;
}
header {

    @media screen and (max-width: 640px) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
    }

    &.scrolled {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1001;
        width: 100%;
        right: 0;
        background: #74709b;
        transition: all .3s ease-in-out 0s;
    
        .sticky_nav {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: flex-end;
            align-items: flex-end;
    
            .logo:before {
                display: none;
            }
        }
    
        nav {
            .logo {
                padding-top: 4px;
        
                h1 {
                    display: none;
            
                    &.sticky_logo {
                        display: block;
                        font-size: inherit;
                    }
                }
            } 
    
            .menu-right {
    
                .menu {
                    &#secondary.menu {
                        display: none;
                    }
    
                    > li {
                        &.divider {
                            display: none;
                        }
    
                        &.header-search-wrapper {
                            padding-right: 20px;
                        }
                        
                        &.logout {
                            a {
                                padding-left: 8px;
                                padding-right: 0;

                                &:before {
                                    display: none;
                                }
                            }
                        }
    
                        >a {
                            position: relative;
                            font-size: 13px;
                            color: #fff;
                            opacity: 1;
                            padding: 12px;
                    
                            &:before {
                                content: '';
                                position: absolute;
                                right: 0;
                                top: 50%;
                                transform: translateY(-50%);
                                width: 1px;
                                height: 10px;
                                background-color: #fff;
                            }
                        }
                    }
    
                    #header-login-container {
    
                        #header-login.button {
                            position: relative;
                            font-size: 13px;
                            background: 0 0;
                            border: none;
                            color: #fff;
                            padding: 12px!important;
                            margin-left: 0;

                            &:before {
                                content: '';
                                position: absolute;
                                right: 0;
                                top: 50%;
                                -webkit-transform: translateY(-50%);
                                transform: translateY(-50%);
                                width: 1px;
                                height: 10px;
                                background-color: #fff;
                            }

                            &:last-of-type {
                                &:before {
                                    display: none;
                                }
                            }
                    
                            svg {
                                display: none;
                            }
                        }
                    } 
                }
            }
        }
    }

    .title-bar {
        @media screen and (max-width: 480px) {
            padding-bottom: 14px;
        }
        
        .title-bar-title {
            @media screen and (max-width: 480px) {
                max-width: 248px;
                width: 100%;
            }
        }
        
        
    }
    
    nav {
        .menu {
            li {
               & + li {
                    @media (max-width: 640px) {
                        border-top: 1px solid #A6A6A6;
                    }
                }
            }
        }

        .dropdown.menu {
            @media screen and (max-width: 640px) {
                background-color: #444444;
                position: absolute;
                right: 0;
                height: calc(100vh - 91px);
                border-top: none;
                max-width: 70%;
                overflow: auto;
                width: 100%;
                top: 0;
                right: 0;
            }
        }
    }

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            @media (max-width: 767px) {
                color: #fff;
                text-decoration: none;
            }
        }
        &:focus {
            @media (max-width: 767px) {
                color: #fff;
                text-decoration: none;
            }
        }
    }


    li.divider{
        border-bottom: 0;
    }

}