<header id="header" [ngClass]="{'login': isLoggedIn()}">
	<!-- <update-link rel="canonical" href="{{absUrl}}"></update-link> -->
	<div class="title-bar hide-for-medium" data-responsive-toggle="main-menu" data-hide-for="medium">
	  <div class="title-bar-title">
		<a routerLink="/" *ngIf="!isLoggedIn()" ><img src="assets/images/logo-mobile.png" alt="ASVAB logo"></a>
		<a (click)="setLeftNavCollapsed(false)" *ngIf="isLoggedIn()"  ><img src="assets/images/logo-mobile.png" alt="ASVAB logo"></a>
	  </div>
	  <a class="contact-icon" routerLink="/faq"></a>
	  <!-- <button class="menu-icon" type="button" data-toggle></button>	   -->
	  <button class="menu-icon" type="button" (click)="toggleMobileDropdowMenu()" (click)="menuOpen = !menuOpen" [ngClass]="menuOpen ? 'active' : ''"></button>	 
	</div> 
	
	<nav id="main-menu">
		<div class="row show-for-medium sticky_nav">
			<div class="medium-4 columns logo">
				<h1 *ngIf="!isLoggedIn()"><a routerLink="/"><img src="assets/images/logo.png" alt="ASVAB"></a></h1>
				<h1 *ngIf="isLoggedIn()"><a routerLink="/learn-about-yourself"><img src="assets/images/logo.png" alt="ASVAB"></a></h1>
				<h1 class="sticky_logo"><a ><img src="assets/images/sticky_logo.png" alt="ASVAB"></a></h1>
			</div>
			<div class="medium-8 columns menu-right">
				<div class="header-top-menu">
					<ul class="menu">
						<li class="show-for-large header-search-wrapper"><app-site-search></app-site-search></li>
						<li><a routerLink="/faq">Contact Us</a></li>
						<li class="divider">|</li>
						<li><a routerLink="/general-resources">Resources</a></li>
						<li id="header-login-container">
							<!-- <div uib-dropdown (click)="toggleDropdown($event)"> -->
							<div ngbDropdown (click)="toggleDropdown($event)">
								<!-- removed ngIf due to: https://github.com/ng-bootstrap/ng-bootstrap/issues/3303 -->
							  <button [ngStyle]="{'display': (isLoggedIn() === true) ? 'block' : 'none'}" (click)="goToLearn()" class="button" type="button" id="header-login" style="padding:10px;" uib-dropdown-toggle>MY ASVAB CEP</button>
							  <!-- <button *ngIf="!isLoggedIn();" class="button" type="button" id="header-login" uib-dropdown-toggle>Login<i class="fa fa-angle-right"></i></button> -->
							  <!-- removed ngIf due to: https://github.com/ng-bootstrap/ng-bootstrap/issues/3303 -->
                   			  <button [ngStyle]="{'display': (isLoggedIn() === true) ? 'none' : 'block'}" class="button" type="button" id="header-login" ngbDropdownToggle>Login<i class="fa fa-angle-right"></i></button>
								
                              <!-- <div class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="header-login" [ngStyle]="{'display': toggleLogin}"> -->
                              <div class="dropdown-menu" ngbDropdownMenu role="menu" aria-labelledby="header-login" [ngStyle]="{'display': toggleLogin}">
                                  <div class="header-pop-main">
                                      <div class="header-pop-left">
                                      	  <div style="color:red;">{{message}}</div>
                                          <form *ngIf="showAccessCodeLogin" (submit)="submitAccessCodeLogin()" class="login mini-form access-login">                                                                                        	  
                                              <div class="form-group-wrap">
                                                  <div class="form-col6">
                                                  	<label for="accessCode" class="sr-only">Access Code:</label>
                                                  	<input name="accessCode" placeholder="Access Code" type="text" id="accessCode" [(ngModel)]="accessCode" required>
                                                  </div>                                                  
                                                  <button type="submit" class="button" [disabled]="disabled">Login</button>
                                              </div>
                                              <div class="pop-bottom-links"><a class="pop-access-link1" (click)="goToGeneralHelp()">Where do I get my access code?</a> | <a (click)="toggleEmailLogin()">Use email to login</a></div>
                                          </form>
                                          <form *ngIf="showEmailLogin" (submit)="emailLogin()" class="login mini-form email-login">
                                              <div class="form-group-wrap">
                                                  <div class="form-col6">
                                                  	  <label for="email" class="sr-only">Email</label>
                                                      <input name="email" placeholder="Email" type="email" id="email" [(ngModel)]="email" required>
                                                      
                                                      <label for="password" class="sr-only">Password</label>
                                                      <input name="password" placeholder="Password" type="password" id="password" [(ngModel)]="password" required>
                                                  </div>                                                  
                                                  <button type="submit" class="button">Login</button> 
                                              </div>
                                              <div class="pop-bottom-links"><a (click)="togglePasswordReset()">Forgot password</a> | <a (click)="toggleAccessCodeLogin()">Use access code only</a></div>
                                          </form>
                                          <form *ngIf="showPasswordReset" (submit)="sendResetCode()" role="form" class="login mini-form forgot-pass-form">
                                              <div class="form-group-wrap">
                                              	<div class="form-col6">
                                              	  <label for="resetPasswordEmail" class="sr-only">Email</label>
                                                  <input name="email" type="email" placeholder="Email" id="resetPasswordEmail" [(ngModel)]="resetPasswordEmail" required>                                                </div>
                                              <button type="submit" class="button">Request Password Reset</button>
                                              </div>                                              
                                              <div class="pop-bottom-links"><a (click)="toggleEmailLogin()">Back to Login</a></div>
                                          </form>
                                      </div>
                                      <div class="header-pop-right">
                                          <div class="pop-or">OR</div>
                                          <a class="pop-acount-btn" (click)="openAccountRegistratinoPopUp()">Create account</a>
                                      </div>
                                  </div>
                              </div>
                   			</div>                   			
						</li>
						<li *ngIf="isLoggedIn();" class="logout"><a (click)="logout();">Logout</a></li>
					</ul>
					<ul class="menu" id="secondary">
						<li><a routerLink="/">Home</a></li>
						<li><a routerLink="/student">Participants</a></li>
						<li><a routerLink="/educators">Educators</a></li>
						<li><a routerLink="/parents">Parents</a></li>
					</ul>
				</div>
			</div>
		</div>
           <div class="show-for-small-only">
           	<ul *ngIf="dropdownMobileMenu" class="dropdown menu" data-dropdown-menu>
           		<li *ngIf="!isLoggedIn();">
           			<a (click)="showLoginModal();">Login to MYASVAB</a>           			           			
           		</li>
           		<li *ngIf="isLoggedIn();">
           			<a (click)="logout();">Logout</a>
           		</li>
           		<li *ngIf="!isLoggedIn();">
           			<a (click)="openAccountRegistratinoPopUp()">Create an Account</a>
          		</li>
          		<li *ngIf="isLoggedIn();">
          			<a (click)="setLeftNavCollapsed(false)">My ASVAB CEP</a>
          		</li>
           		<li><a (click)="goTo('/')">Home</a></li>
           		<li class="has-dropdown" ExpandMenu>
           			<a (click)="toggleSubMenu(menu.student)">Student</a>
           			<ul class="menu" style="z-index:1;" [ngStyle]="{'display': studentSubMenu}">
           				<li class="header"><a routerLink="/student">The ASVAB CEP</a></li>
           				<li style="margin-left:15px;"><a routerLink="/student-program">The ASVAB Test</a></li>
           				<li style="margin-left:15px;"><a routerLink="/student-post-test">Post-Test Activities</a></li>
           				<li class="header"><a routerLink="/student-learn">Learn About Yourself</a></li>
           				<li style="margin-left:15px;"><a routerLink="/student-learn-skills">Skills</a></li>
           				<li style="margin-left:15px;"><a routerLink="/student-learn-interests">Interests</a></li>
           				<li style="margin-left:15px;"><a routerLink="/student-learn-work-values">Work Values</a></li>
           				<li class="header"><a routerLink="/student-explore">Explore Careers</a></li>
           				<li style="margin-left:15px;"><a routerLink="/student-explore-occu-find">OCCU-Find</a></li>
           				<li style="margin-left:15px;"><a routerLink="/student-explore-action-steps">Action Steps</a></li>
           				<li class="header"><a routerLink="/student-plan">Plan Your Future</a></li>
           				<li style="margin-left:15px;"><a routerLink="/student-plan-understanding">Options</a></li>
           				<li style="margin-left:15px;"><a routerLink="/student-plan-tools">Tools</a></li>
           				<li class="header"><a routerLink="/general-resources">All Resources</a></li>
           				<li style="margin-left:15px;"><a routerLink="/media-center-article-list/5">Tutorials</a></li>
           				<li style="margin-left:15px;"><a routerLink="/media-center-article-list/1">Student Articles</a></li>
           			</ul>
        		</li>
           		<li class="has-dropdown">
           			<a (click)="toggleSubMenu(menu.educator)">Educators</a>
           			<ul class="menu" style="z-index:1;" [ngStyle]="{'display': educatorSubMenu}">
           				<li class="header"><a routerLink="/educator">The ASVAB CEP</a></li>
           				<li style="margin-left:15px;"><a routerLink="/educators-test">ASVAB Test</a></li>
           				<li style="margin-left:15px;"><a routerLink="/educators-post-test">Post-Test Activities</a></li>
           				<li style="margin-left:15px;"><a routerLink="/federally-funded-sources">Federally Funded Sources</a></li>
           				<li style="margin-left:15px;"><a routerLink="/teachers">Classroom Tools</a></li>
           				<li class="header"><a routerLink="/general-resources">All Resources</a></li>
           				<li style="margin-left:15px;"><a routerLink="/media-center-article/28">Understanding Test Scores</a></li>
           			</ul>
          		</li>
           		<li class="has-dropdown">
           			<a (click)="toggleSubMenu(menu.parent)">Parents</a>
           			<ul class="menu" style="z-index:1;" [ngStyle]="{'display': parentSubMenu}">
           				<li class="header"><a routerLink="/parents">The ASVAB CEP</a></li>
           				<li style="margin-left:15px;"><a routerLink="/parents-test">ASVAB Test</a></li>
           				<li style="margin-left:15px;"><a routerLink="/parents-post-test">Post-Test Activities</a></li>
           				<li class="header"><a routerLink="/parents-information">How You Can Help</a></li>
           				<li class="header"><a routerLink="/general-resources">All Resources</a></li>
           			</ul>
				  </li>
				<li>
					<a routerlink="/general-resources">All Resources</a>
				</li>
           	</ul>						
		</div>
       </nav>
       
       
</header>


