h4.modal-title {
	margin-bottom: 0;
}

.modal-header {
	border: 0;
	padding: 0;
}

.modal-footer {
	border: 0;
}

.button {
	font-family: "Open Sans", sans-serif;
}

.close-button {
	right: 7px;
    top: 6px;
}