<div class="main">
<div class="modal-header">
<button type="button" class="close-button" aria-label="Close" (click)="onClose()"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">How would you like to enter the site?</h4>
</div>

<!-- for favorites and error messages -->
<div class="modal-body">

	<div class="row">
		<div class="small-4 columns"><a routerLink="/student" (click)="onClose()" class="button">Enter as a STUDENT</a></div>
		<div class="small-4 columns"><a routerLink="/educators"(click)="onClose()" class="button">Enter as a EDUCATOR</a></div>
		<div class="small-4 columns"><a routerLink="/parents" (click)="onClose()" class="button">Enter as a PARENT</a></div>
	</div>
</div>

<div class="modal-footer">
</div>
</div>