<div *ngIf="parent.occuFindUserLoggedIn" class="hearts">
	<span style="cursor:pointer" *ngIf="isFavorited()" (click)="removeFromFavorites()" class="icon heart-add selected"></span>
	<span style="cursor:pointer" *ngIf="!isFavorited()" (click)="addToFavorites()" class="icon heart-add"></span>
</div>
