<section id="content-wrap">
    <div class="row">
        <div class="small-12 columns show-for-small-only">
            <div class="left-sub-nav">
                <ul class="menu vertical" id="steps">
                    <li>
                        <h3 id="innerTitle">LEARN ABOUT YOURSELF</h3>
                    </li>
                </ul>
            </div>
        </div><br />
        <section id="main-content" role="main">
            <div class="medium-8 columns">
                <h1 class="job-title">Get to know yourself better.</h1><br />
                <p>Knowing who you are and what you are passionate about can
                    make all the difference in your success (both academic and
                    occupational).</p>
                <p>Before you make decisions about what to do after high school,
                    it is important that you spend time thinking about your interests,
                    values, talents, and abilities.</p>
                <p>Grades and test scores are only part of the picture. When
                    making career plans, you should have a good understanding of
                    what you do well, what you like to do, what your goals are, and what kind of lifestyle you prefer.
                </p>
            </div>
            <div class="medium-4 columns"><a (click)="redirect('occufind-occupation-details/49-9081.00')"> <img
                        src="assets/images/2_1.jpg" /></a>
            </div>
        </section>
        <div class="medium-12 columns">
            <hr />
            <h2>Learn about yourself</h2>
            <div class="row">
                <div class="small-4 columns"><a (click)="redirect('student-learn-skills')">Skills <em></em></a>
                    <p>Identifying your skills and abilities can help you find
                        occupations in which you are likely to be successful.</p>
                </div>
                <div class="small-4 columns"><a (click)="redirect('student-learn-interests')">Interests <em></em></a>
                    <p>Knowing what really interests you is key to finding a
                        satisfying career.</p>
                </div>
                <div class="small-4 columns"><a (click)="redirect('student-learn-work-values')">Work Values <em></em></a>
                    <p>Understanding what you value about a job is important when
                        exploring various occupations and planning for your future.</p>
                </div>
            </div>
        </div>
        <div class="large-12 columns" id="resources">
            <hr />
            <div class="row" *ngIf="mediaCenterList">
                <div class="medium-4 columns tutorial" *ngFor="let m of mediaCenterItem('positionId', 7)"><a
                        class="resource-title" (click)="redirect('media-center-article/' + m.id)">{{m.title}}</a>
                    <a *ngIf="m.typeId === 1" (click)="showVideoDialog(m.videoImgUrl)"><span class="image-wrapper"><img
                                src="{{m.thumbnailUrl}}" style="position:relative;" /><span
                                id="play-icon"></span></span></a>
                </div>
                <div class="medium-4 columns tutorial" *ngFor="let m of mediaCenterItem('positionId', 8)"><a
                        class="resource-title" (click)="redirect('media-center-article/' + m.id)">{{m.title}}</a>
                    <a (click)="redirect('media-center-article/' + m.id)" *ngIf="m.typeId != 1"><img src="{{m.thumbnailUrl}}" /></a>
                </div>
                <div class="medium-4 columns tutorial" *ngFor="let m of mediaCenterItem('positionId', 9)"><a
                        class="resource-title" (click)="redirect('media-center-article/' + m.id)">{{m.title}}</a>
                    <a (click)="showVideoDialog(m.videoImgUrl)" *ngIf="m.typeId == 1"><span class="image-wrapper"><img
                                src="{{m.thumbnailUrl}}" style="position:relative;" /><span
                                id="play-icon"></span></span></a>
                </div>
            </div>
        </div>
    </div>
</section>