<section id="content-wrap">
    <div class="row">
        <div class="small-12 columns show-for-small-only">
            <div class="left-sub-nav">
                <ul class="menu vertical" id="steps">
                    <li>
                        <h3>Options</h3>
                    </li>
                </ul>
            </div>
        </div>
        <section class="medium-9 medium-push-3 columns" id="main-content" role="main">
            <h1 class="job-title">Know your options. Decide for yourself.</h1>
            <p>There there is no one right way to get where you want to go.</p>
            <p>The truth is learning is a lifelong process. Even after you
                get a degree your profession might require ongoing annual
                certification or continuing education. You might not even need a
                degree for entry into your chosen career but perhaps you need some
                specialized technical training. Maybe you are burnt out and need a
                break before you are ready to commit.</p>
            <p>Alternatives to traditional education are growing in
                popularity. Distance learning and evening programs allow
                individuals to obtain higher education while working. Two-year
                degrees and certificate programs can help you enter some of the
                fastest growing occupations. Maybe you'll return to academia later
                to complete a certificate program or four-year degree to advance in
                your chosen career.</p>
            <p>There are a variety of occupations and career paths that you
                can pursue with different levels of education. Review the education
                level or credentials your dream job requires then consider these
                important questions:</p>
            <ul>
                <li>Education is expensive. How will you afford it? How
                    motivated are you to meet the requirements for your chosen career?
                    Are you eligible for scholarships or grants?</li>
                <li>What are your short term and long term goals? Do you want
                    to get the minimum amount of education needed and get to work as
                    soon as possible?</li>
            </ul>
            
            <div id="ways-to-develop">
                <div class="row">
                  <div class="col-3">
                    <ngb-tabset type="tabs" id="first" class="tabbed fourths"
                                orientation="vertical"
                                (tabChange)="selectedTabId = $event.nextId">
                        <ngb-tab id="first" index="0">
                          <ng-template ngbTabTitle>University / College</ng-template>
                        </ngb-tab> 
                        <ngb-tab id="career" index="1">
                          <ng-template ngbTabTitle>Career and Technical Education</ng-template>
                        </ngb-tab>
                        <ngb-tab id="adult" index="2">
                          <ng-template ngbTabTitle>Adult and Community Education</ng-template>
                        </ngb-tab>
                        <ngb-tab id="employer" index="3">
                          <ng-template ngbTabTitle>Employer / Military / Business</ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                    </div>
                    <div class="col">
                        <div [hidden]="selectedTabId !== 'first'">
                            <div class="row column">
                                    <div>
                                        <h2>UNIVERSITY / COLLEGE</h2>
                                        <p>Universities and colleges provide a variety of
                                            educational opportunities, not just two and four-year degrees.</p>
                                        <p><strong>Program options available may include:</strong>
                                        </p>
                                        <ul>
                                            <li>Certificate programs</li>
                                            <li>Two-year/associate degree programs</li>
                                            <li>Four-year/bachelor degree programs</li>
                                            <li>Graduate/advanced degree programs</li>
                                            <li>Continuing education programs</li>
                                        </ul>
                                    </div>
                            </div>
                        </div>
                        <div [hidden]="selectedTabId !== 'career'">
                          <div class="row column">
                                <div>
                                    <h2>CAREER AND TECHNICAL EDUCATION</h2>
                                    <p>Career and Technical Education programs offer instruction
                                        and hands-on experience in a given trade or profession (e.g.,
                                        auto repair, carpentry, commercial truck driving, culinary
                                        arts, computer-based careers). The length of time required to
                                        obtain a certificate or a degree varies, depending on the
                                        specific program.</p>
                                    <p><strong>Training may include:</strong>
                                    </p>
                                    <ul>
                                        <li>Certificate programs</li>
                                        <li>Associate degrees</li>
                                        <li>Continuing education</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div [hidden]="selectedTabId !== 'adult'">
                            <div class="row column">
                                <div>
                                    <h2>ADULT AND COMMUNITY EDUCATION</h2>
                                    <p>Many local communities offer a variety of classes and
                                        programs in areas such as business education, computer
                                        training, foreign language, and art. You may take courses
                                        toward a certification or a single course to acquire a specific
                                        skill.</p>
                                    <p><strong>Examples of offerings include:</strong>
                                    </p>
                                    <ul>
                                        <li>Continuing education</li>
                                        <li>Certificate programs</li>
                                        <li>Personal enrichment</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div [hidden]="selectedTabId !== 'employer'">
                            <div class="row column">
                                <div>
                                    <h2>EMPLOYER / MILITARY / BUSINESS / SPONSORED</h2>
                                    <p>Another source of training can be your employer or other
                                        business-sponsored organizations, such as trade or industry
                                        associations. These organizations provide training to enhance
                                        job skills and career advancement, usually in return for your
                                        services.</p>
                                    <p><strong>Training opportunities in this category
                                            include:</strong>
                                    </p>
                                    <ul>
                                        <li>Certificate programs</li>
                                        <li>Continuing education</li>
                                        <li>On-the-job training</li>
                                        <li>Industry-specific training</li>
                                        <li>Internships</li>
                                        <li>Apprenticeships</li>
                                        <li>Mentoring/coaching</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <div class="medium-3 medium-pull-9 columns">
            <div class="left-sub-nav show-for-medium">
                <ul class="menu vertical" id="steps">
                    <li>
                        <h3>Plan your future</h3>
                    </li>
                    <li class="divider"></li>
                    <li class="active"><a class="disabled">Understand Your Options</a></li>
                    <li><a (click)="redirect('student-plan-tools')">Career Planning
                            Tools <em class="fa fa-angle-right"></em></a></li>
                    <li class="divider"></li>
                </ul>
            </div>
            <div id="did-you-know">
                <p><strong class="caps">Did You Know?</strong>
                </p>
                <p>Don't rule out a given career field simply because you think
                    that the educational requirements might be more than what you
                    would like to pursue after high school.</p>
            </div>
            <div class="left-sub-nav show-for-small-only">
                <ul class="menu vertical">
                    <li>
                        <h3>Plan your future</h3>
                    </li>
                    <li><a (click)="redirect('student-plan-tools')">Career Planning
                            Tools <em class="fa fa-angle-right"></em></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>