<section id="content-wrap">
    <div class="row">
        <div class="small-12 columns show-for-small-only">
            <div class="left-sub-nav">
                <ul class="menu vertical" id="steps">
                    <li>
                        <h3 id="innerTitle">Interests</h3>
                    </li>
                </ul>
            </div>
        </div>
        <section class="medium-9 medium-push-3 columns" id="main-content" role="main">
            <h1 class="job-title">The FYI will help you find your interests.</h1>
            <p>Interests are one of the most important predictors of occupational success. </p>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header><span class="show-for-medium">What is the FYI?
                            <em class="pull-right glyphicon"
                                ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></em></span>
                        <span class="show-for-small-only" id="whatIsTheFYI">
                            What is the FYI?
                            <em class="pull-right glyphicon"
                                ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></em></span>
                    </mat-expansion-panel-header>
                    <p>The FYI (Find Your Interests) is an interest inventory that asks you questions about the kinds of
                        activities you like or would like to do. It only takes a few minutes and the best part is there
                        are no right or wrong answers. You are not selecting specific occupations. You are providing
                        information about your likes and dislikes.</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header><span class="show-for-medium">Why should I take the FYI?
                            <em class="pull-right glyphicon"
                                ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></em></span>
                        <span class="show-for-small-only" id="whyShouldITakeTheFYI">
                            Why should I take the FYI?
                            <em class="pull-right glyphicon"
                                ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></em></span>
                    </mat-expansion-panel-header>
                    <p>The FYI will reveal your interests. Knowing your work-related interests can help you find career
                        options that match your interests. Working in an occupation that interests you makes it easier
                        to work effectively and advance.</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header><span class="show-for-medium">Why do I need to learn about myself?
                            <em class="pull-right glyphicon"
                                ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></em></span>
                        <span class="show-for-small-only" id="whyDoINeedToLearnAboutMyself">
                            Why do I need to learn about myself?
                            <em class="pull-right glyphicon"
                                ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></em></span>
                    </mat-expansion-panel-header>
                    <p>If you already have a career in mind, how do you know it is right for you? Understanding your
                        likes and dislikes will help you to better assess which occupations will lead to work you enjoy
                        performing everyday. Remember, a career requires many hours per week of your life so you want to
                        spend that time doing something you will enjoy and that you feel best align with your interests.
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header><span class="show-for-medium">How will the FYI help me explore careers?
                            <em class="pull-right glyphicon"
                                ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></em></span>
                        <span class="show-for-small-only" id="howWillTheFYIHelpMeExploreCareers">
                            How will the FYI help me explore careers?
                            <em class="pull-right glyphicon"
                                ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></em></span>
                    </mat-expansion-panel-header>
                    <p>Your FYI results will reveal your strongest interest areas. This allows you to match your
                        identified interest areas to careers.</p>
                    <p>Careers are categorized by interest code based on the job tasks, work activities, and knowledge
                        needed in the occupation. The FYI interest areas will help you quickly identify occupations that
                        include more of the things you have indicated you like to do. Targeting your search will save
                        you time and help you focus on some career options with real potential. <a
                        (click)="redirect('media-center-article/42')">Watch the Taking the FYI Online tutorial to learn more.</a>
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
        </section>
        <div class="medium-3 medium-pull-9 columns">
            <div class="left-sub-nav show-for-medium">
                <ul class="menu vertical" id="steps">
                    <li>
                        <h3>LEARN ABOUT YOURSELF </h3>
                    </li>
                    <li class="divider"></li>
                    <li><a (click)="redirect('student-learn-skills')">Skills <em class="fa fa-angle-right"></em></a></li>
                    <li class="active"><a class="disabled">Interests</a></li>
                    <li><a (click)="redirect('student-learn-work-values')">Work Values <em class="fa fa-angle-right"></em></a></li>
                    <li class="divider"></li>
                </ul>
            </div>
            <div id="did-you-know">
                <p><strong class="caps">What's Your Interest?</strong></p>
                <ul>
                    <li>Realistic</li>
                    <li>Investigative</li>
                    <li>Artistic</li>
                    <li>Social</li>
                    <li>Enterprising</li>
                    <li>Conventional</li>
                </ul><img alt="" src="assets/images/RIASEC.png" />
                <div><br />
                    <div class="text-center">&nbsp;&nbsp;<a class="button" (click)="redirect('student-learn-interest-area')">Explore</a>
                    </div>
                </div>
            </div>
            <div class="left-sub-nav show-for-small-only">
                <ul class="menu vertical">
                    <li>
                        <h3>LEARN ABOUT YOURSELF </h3>
                    </li>
                    <li><a (click)="redirect('student-learn-skills')">Skills <em class="fa fa-angle-right"></em></a></li>
                    <li><a (click)="redirect('student-learn-work-values')">Work Values <em class="fa fa-angle-right"></em></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>