<section id="content-wrap">
    <div class="row">
        <div class="small-12 columns show-for-small-only">
            <div class="left-sub-nav">
                <ul class="menu vertical" id="steps">
                    <li>
                        <h3 id="innerTitle">SKILLS</h3>
                    </li>
                </ul>
            </div>
        </div>
        <section class="medium-9 medium-push-3 columns" id="main-content" role="main">
            <h1 class="job-title">Focus on your strengths.</h1>
            <p>Each of the <a (click)="redirect('student-program')">ASVAB subtest areas</a> help you understand your aptitude -- your
                ability to do or learn something.</p>
            <p>Now, think about what else you do well. Are there classes in which you get particularly good grades? Do
                you design clothes? How advanced are your computer skills? Do you speak a foreign language?
            </p>
            <p>The skills and abilities you have now are just a snapshot in time. They are not fixed. You can strengthen
                the skills you do have and develop new ones through education, training, and experience.</p>
            <p>Use these <a (click)="redirect('student-plan-understanding')">Career Planning Tools</a> to help you prepare for success.
            </p>
            <div id="ways-to-develop">
                <hr />
                <h2 align="center">WAYS TO DEVELOP SKILLS &amp; CONFIDENCE</h2>
                <div class="row">
                    <div class="small-4 columns"><span><img src="assets/images/volunteer.jpg" /><br />Volunteer</span>
                    </div>
                    <div class="small-4 columns"><span><img src="assets/images/take-classes.jpg" /><br />Take Additional
                            Classes</span>
                    </div>
                    <div class="small-4 columns"><span><img src="assets/images/intern.jpg" /><br />Get an
                            Internship</span>
                    </div>
                </div>
            </div>
        </section>
        <div class="medium-3 medium-pull-9 columns">
            <div class="left-sub-nav show-for-medium">
                <ul class="menu vertical" id="steps">
                    <li>
                        <h3>LEARN ABOUT YOURSELF </h3>
                    </li>
                    <li class="divider"></li>
                    <li class="active"><a class="disabled" (click)="redirect('student-learn-skills')">Skills</a></li>
                    <li><a (click)="redirect('student-learn-interests')">Interests <em class="fa fa-angle-right"></em></a></li>
                    <li><a (click)="redirect('student-learn-work-values')">Work Values <em class="fa fa-angle-right"></em></a></li>
                    <li class="divider"></li>
                </ul>
            </div>
            <div id="did-you-know">
                <p><strong class="caps">Did You Know?</strong></p>
                <p>You may not have the skills for a certain job now, but you can often learn them.</p>
            </div>
            <div class="left-sub-nav show-for-small-only">
                <ul class="menu vertical">
                    <li>
                        <h3>LEARN ABOUT YOURSELF </h3>
                    </li>
                    <li><a (click)="redirect('student-learn-interests')">Interests <em class="fa fa-angle-right"></em></a></li>
                    <li><a (click)="redirect('student-learn-work-values')">Work Values <em class="fa fa-angle-right"></em></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>