<section id="content-wrap">
    <div class="row">
        <div class="small-12 columns show-for-small-only">
            <div class="left-sub-nav">
                <ul class="menu vertical" id="steps">
                    <li>
                        <h3>OCCU-FIND</h3>
                    </li>
                    <!-- <li class="divider"></li>
						<li class="active"><a>OCCU-FIND</a></li>
 -->
                </ul>
            </div>
        </div>
        <section class="medium-9 medium-push-3 columns" id="main-content" role="main">
            <h1 class="job-title">The OCCU-Find shows you exactly how your skills and interests relate to the world of
                work. </h1>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header><span class="show-for-medium">What is the OCCU-Find?<em
                                class="pull-right glyphicon"
                                ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></em></span>
                        <span class="show-for-small-only" id="whatIsTheOCCUFind">What is the OCCU-Find?<em></em></span>
                    </mat-expansion-panel-header>
                    <p>The OCCU-Find is a database containing detailed information about hundreds of occupations
                        in an easy-to-navigate format
                        that helps you make informed decisions about your future.</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header><span class="show-for-medium">What kind of information does it have?<em
                                class="pull-right glyphicon"
                                ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></em></span>
                        <span class="show-for-small-only" id="whatKindOfInformationDoesItHave">What kind of information
                            does it have?<em></em></span>
                    </mat-expansion-panel-header>
                    <p>Each career detail page contains specifics about:</p>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <ul>
                                        <li>Job description and daily tasks</li>
                                        <li>Interests</li>
                                        <li>Relative importance of verbal, math, science/technical skills</li>
                                        <li>Education requirements, and colleges offering that degree</li>
                                        <li>Certifications, licenses, and training opportunities</li>
                                        <li>Military Services offering this occupation</li>
                                        <li>Employment and salary outlook</li>
                                        <li>Related careers</li>
                                        <li>Career Clusters</li>
                                        <li>Alternate titles</li>
                                        <li>Additional resources</li>
                                    </ul>
                                </td>
                                <td><a (click)="redirect('occufind-occupation-details/27-4032.00')">Film and Video Editors
                                        <img src="{{resources}}27-4032.00_IMG.jpg" /></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header><span class="show-for-medium">How do I use the OCCU-Find?<em
                                class="pull-right glyphicon"
                                ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></em></span>
                        <span class="show-for-small-only" id="howDoIUseTheOCCUFind">How do I use the OCCU-Find?<em
                                class="pull-right glyphicon"
                                ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></em></span>
                    </mat-expansion-panel-header>
                    <p>To find the jobs best suited to you, review the occupations associated with your
                        interests. Then consider the importance of verbal, math, and science/technical skills and how
                        each relates to your Career Exploration Scores. Take a look at
                        each occupation that peaks your interest and save your favorites to explore
                        further.</p>
                    <p>This tool helps you quickly identify potentially satisfying career opportunities.
                        <a (click)="redirect('media-center-article/49')">There are multiple ways to find your dream job.</a> You can:
                    </p>
                    <ul>
                        <li>Filter your search results based on your interests</li>
                        <li>Narrow your search results with the featured categories</li>
                        <li>Enter a keyword of interest</li>
                        <li>Sort by skill area</li>
                        <li>Choose to view all occupations</li>
                        <li>See only those related to a specific Career Cluster</li>
                    </ul><em>Exploring Careers: The ASVAB Career Exploration Guide</em> includes a print
                    version of the OCCU-Find, which contains an abbreviated list of occupations
                    along with their skill importance ratings, organized by interest code. You can
                    identify career matches in print version then conduct further exploration online.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header><span class="show-for-medium">How will I know a job is right for me?<em
                                class="pull-right glyphicon"
                                ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></em></span>
                        <span class="show-for-small-only" id="howWillIKnowAJobIsRightForMe">How will I know a job is
                            right for me?<em></em></span>
                    </mat-expansion-panel-header>
                    <p>For every occupation you are considering, ask yourself:</p>
                    <ul>
                        <li>Does this career match my current interests, values, and skills?
                        </li>
                        <li>Am I willing to do what it takes to meet the entry requirements?
                        </li>
                        <li>Will this career lead to a lifestyle I want?
                        </li>
                    </ul>
                </mat-expansion-panel>
            </mat-accordion>

            <p>Occupational details for all careers listed in the OCCU-Find were derived from <a
                    href="http://www.onetonline.org/">O*NET Online.
                </a> These details are complemented by relevant labor market
                information from the <a href="http://www.bls.gov/">Bureau of Labor Statistics</a>, various education
                and training options from <a href="http://www.careeronestop.org/">CareerOneStop</a>
                and the <a href="http://nces.ed.gov/">National Center for Education Statistics.</a>
                Career pathway information is included from <a
                    href="https://www.careertech.org/career-clusters">National Career Clusters Framework</a>
                , and Military Service options were obtained from <a href="http://www.careersinthemilitary.com/"
                    target="_blank">Careers in the Military
                </a> (Department of Defense, 2010).</p>
        </section>
        <div class="medium-3 medium-pull-9 columns">
            <div class="left-sub-nav show-for-medium">
                <ul class="menu vertical" id="steps">
                    <li>
                        <h3>EXPLORATION TOOLS</h3>
                    </li>
                    <li class="divider"></li>
                    <li class="active"><a class="disabled">OCCU-Find </a></li>
                    <li><a (click)="redirect('student-explore-action-steps')">Action Steps <em class="fa fa-angle-right"></em></a></li>
                    <li class="divider"></li>
                </ul>
            </div>
            <div id="did-you-know">
                <p><strong class="caps">Did You Know?</strong></p>Does your state participate in Career Clusters&reg;?
                So does ASVAB CEP.
                Find occupations that align with Career Clusters and Pathways.
                <br />
                <p>&nbsp;</p>
                <div class="text-center"><a class="button" (click)="redirect('career-cluster-public')">Learn More</a></div>
                <p>&nbsp;</p>
            </div>
            <div class="left-sub-nav show-for-small-only">
                <ul class="menu vertical">
                    <li>
                        <h3>EXPLORATION TOOLS</h3>
                    </li>
                    <li><a (click)="redirect('student-explore-action-steps')">Action Steps <em class="fa fa-angle-right"></em></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>