<section id="content-wrap">
    <div class="row">
        <div class="small-12 columns show-for-small-only">
            <div class="left-sub-nav">
                <ul class="menu vertical" id="steps">
                    <li>
                        <h3>Action Steps</h3>
                    </li>
                </ul>
            </div>
        </div>
        <section class="medium-9 medium-push-3 columns" id="main-content" role="main">
            <h1 class="job-title">Let's explore careers.</h1>
            <p>Take what you're good at, add what you like and what matters to you most. Then:
            </p>
            <ul>
                <li>Research the occupation(s) you have identified and
                    determine what skills, education, and experience are required.</li>
                <li>Ask yourself:
                    <ul>
                        <li>What about this occupation really appeals to me?</li>
                        <li>How well does it fit my interests and values?</li>
                        <li>What skills are important for the occupation?</li>
                    </ul>
                </li>
                <li>Look at related careers and review the different education
                    or training requirements.</li>
                <li>Interview individuals within occupations of interest.</li>
                <li>Try out occupations by volunteering or serving as an
                    apprentice or intern.</li>
                <li>Talk with your parents, teachers, neighbors,
                    counselor, and people in the working world about your
                    options.</li>
            </ul>
            <p>Use the <a (click)="redirect('student-plan-tools')">Career Planning Tools</a>
                found under <a (click)="redirect('student-plan')">Plan for Your
                    Future</a> to map out your plans.
            </p>
            <div id="ways-to-develop"></div>
        </section>
        <div class="medium-3 medium-pull-9 columns">
            <div class="left-sub-nav show-for-medium">
                <ul class="menu vertical" id="steps">
                    <li>
                        <h3>EXPLORATION TOOLS</h3>
                    </li>
                    <li class="divider"></li>
                    <li><a (click)="redirect('student-explore-occu-find')">OCCU-Find <em class="fa fa-angle-right"></em></a></li>
                    <li class="active"><a class="disabled">Action Steps </a></li>
                    <li class="divider"></li>
                </ul>
            </div>
            <div id="did-you-know">
                <p><strong class="caps">Did You Know?</strong>
                </p>
                <p>Answering these questions can help you find (or eliminate) career
                    options. <strong>
                    </strong></p>
                <p><strong>What do people do in this career? Is that something you would enjoy?</strong></p><strong>
                    <p>In what type of environment do people in this career work?</p>
                    <p>What kind and how much training is needed to enter this
                        career?</p>
                    <p>What is the employment outlook?</p>
                </strong>
                <p>&nbsp;</p>
            </div>
            <div class="left-sub-nav show-for-small-only">
                <ul class="menu vertical">
                    <li>
                        <h3>EXPLORATION TOOLS</h3>
                    </li>
                    <li><a (click)="redirect('student-explore-occu-find')">OCCU-Find <em></em></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>