<section id="content-wrap">
    <div class="row">
        <div class="small-12 columns show-for-small-only">
            <div class="left-sub-nav">
                <ul class="menu vertical" id="steps">
                    <li>
                        <h3>Tools</h3>
                    </li>
                </ul>
            </div>
        </div>
        <section class="medium-9 medium-push-3 columns" id="main-content" role="main">
            <h1 class="job-title">Once you know the requirements of an occupation, you can develop a plan to meet your
                career goals.</h1>
            <p>Use the CEP exclusive planning tools to clarify your action plan. You may want to talk about these
                activities with your counselor before you begin.</p>
            <ul>
                <li>
                    <p>My Educational and Career Plans is a guided exercise to help you make initial career plans,
                        evaluate your current program of study, and consider additional courses.</p><a class="button"
                        (click)="redirect(documents +  'ASVAB_CEP_Edu_and_Career_Plans.pdf'); trackClick('ASVAB_CEP_Edu_and_Career_Plans.pdf');"
                        target="_blank">Download My Educational and Career Plans</a>

                </li>
                <li>
                    <p>Coursework Planner is an activity designed to help you plan the rest of your high school
                        curriculum to best meet your career goals.</p><a class="button"
                        (click)="redirect(documents + 'ASVAB_CEP_Coursework_Planner.pdf'); trackClick('ASVAB_CEP_Coursework_Planner.pdf');"
                        target="_blank">Download Coursework Planner</a>
                </li>
            </ul>
            <div>
                <h2>Idea Sheets:</h2>
                <div class="small-4 columns">
                    <p>&nbsp;</p>
                    <p id="resource-pdf"><a (click)="redirect(documents + 'ASVAB_CEP_Idea_World_of_Work.pdf'); trackClick('ASVAB_CEP_Idea_World_of_Work.pdf');"
                            target="_blank">Your World-of-Work Timeline</a></p><a
                            (click)="redirect(documents + 'ASVAB_CEP_Idea_World_of_Work.pdf');  trackClick('ASVAB_CEP_Idea_World_of_Work.pdf');"
                        target="_blank"></a>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p id="resource-pdf"><a (click)="redirect(documents + 'ASVAB_CEP_Idea_Work_Environment.pdf');"
                            (click)="trackClick('ASVAB_CEP_Idea_Work_Environment.pdf');"
                            target="_blank">Build Your Perfect Work Environment</a></p><a
                            (click)="redirect(documents + 'ASVAB_CEP_Idea_Work_Environment.pdf'); trackClick('ASVAB_CEP_Idea_Work_Environment.pdf');"
                        target="_blank"></a>
                    <p>&nbsp;</p>
                </div>
                <div class="small-4 columns">
                    <p>&nbsp;</p>
                    <p id="resource-pdf"><a (click)="redirect(documents + 'ASVAB_CEP_Skills_Most_Valued.pdf'); trackClick('ASVAB_CEP_Skills_Most_Valued.pdf');"
                            target="_blank">Skills Employers Value Most </a></p><a
                            (click)="redirect(documents + 'ASVAB_CEP_Skills_Most_Valued.pdf'); trackClick('ASVAB_CEP_Skills_Most_Valued.pdf');"
                        target="_blank"></a>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p id="resource-pdf"><a (click)="redirect(documents + 'ASVAB_CEP_Values.pdf'); trackClick('ASVAB_CEP_Values.pdf');" target="_blank">Thinking
                            About Work Values </a></p><a (click)="redirect(documents + 'ASVAB_CEP_Values.pdf'); trackClick('ASVAB_CEP_Values.pdf');" target="_blank"></a>
                    <p>&nbsp;</p>
                </div>
                <hr />
            </div>
        </section>
        <div class="medium-3 medium-pull-9 columns">
            <div class="left-sub-nav show-for-medium">
                <ul class="menu vertical" id="steps">
                    <li>
                        <h3>Plan your future</h3>
                    </li>
                    <li class="divider"></li>
                    <li><a (click)="redirect('student-plan-understanding')">Understand Your Options <em
                                class="fa fa-angle-right"></em></a></li>
                    <li class="active"><a class="disabled">Career Planning Tools</a></li>
                    <li class="divider"></li>
                </ul>
            </div>
            <div id="did-you-know">
                <p><strong class="caps">Did You Know?</strong></p>
                <p>Your work-related interests are important to your career development and enjoyment of life.</p>
            </div>
            <div class="left-sub-nav show-for-small-only">
                <ul class="menu vertical">
                    <li>
                        <h3>Plan your future</h3>
                    </li>
                    <li><a (click)="redirect('student-plan-understanding')">Understand Your Options <em
                                class="fa fa-angle-right"></em></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>