<section id="content-wrap">
	<div class="row">
		<div class="small-12 columns show-for-small-only">
			<div class="left-sub-nav">
				<ul class="menu vertical" id="steps">
					<li>
						<h3 id="innerTitle">The ASVAB CEP</h3>
					</li>
				</ul>
			</div>
		</div>
		<section id="main-content" role="main">
			<div class="medium-8 columns">
				<h1 class="job-title">
					<br />You are the architect of your future.<br />Build your dreams with ASVAB CEP. </h1>
				<p>The ASVAB CEP is made up of three components:<br />
				</p>
				<ul style="list-style-type:none;">
					<li>
						<strong>ASVAB:</strong>&nbsp;The aptitude test estimates your performance in academic and
						vocational endeavors.</li>
					<li>
						<strong>FYI:</strong>&nbsp;The interest inventory measures your work-related interests.</li>
					<li>
						<strong>OCCU-Find:</strong>&nbsp;A career catalog provides activities to help you put a plan
						together.</li>
				</ul>
				<p>High school students in grades 10-12, and first and second year post-secondary school students can
					participate. Participation in the CEP is voluntary, but the future is mandatory. So, be ready!<br />
				</p>
				<p>
					<strong>How it works...</strong>
					<br />ASVAB CEP helps you figure out what you're good at, what is important to you, and the jobs
					that match your skills and interests. After you take the test, you will participate in a series of
					activities to help you understand your scores, yourself, and your options. </p>
			</div>
			<div class="medium-4 columns">
				<img alt="5 Million Job Openings in the US" src="assets/images/2_0.jpg" />
				<div class="show-for-medium columns">
					<br />
					<button class="button" (click)="asvabModal()">Bring the ASVAB CEP to Your School <span
							class="fa fa-angle-right"></span>
					</button>
				</div>
			</div>
			<div class="medium-12 columns">
				<hr />
				<h2>THE ASVAB CEP</h2>
				<div class="row">
					<div class="small-6 columns">
						<a (click)="redirect('student-program')">The ASVAB TEST <span class="fa fa-angle-right"></span>
						</a>
						<p>The ASVAB is one of the most researched and respected aptitude assessments in the world.</p>
					</div>
					<div class="small-6 columns">
						<a (click)="redirect('student-post-test')">POST-TEST ACTIVITIES <span class="fa fa-angle-right"></span>
						</a>
						<p>After you take the ASVAB, you can access the CEP-exclusive features.</p>
					</div>
				</div>
			</div>

		</section>
	</div>
</section><!-- /.content-wrap -->

<div style="background-color: #ffffff">
	<div id="guides" style="position: relative; top: 30px;">
		<div class="large-12 columns" id="resources">
			<div class="row" *ngIf="mediaCenterList">
				<div class="medium-4 columns tutorial"
					*ngFor="let m of mediaCenterItem2('categoryId', 1, 'positionId', 4)">
					<a class="resource-title" (click)="redirect('media-center-article/' + m.id)">{{m.title}}</a>
					<a *ngIf="m.typeId === 1" (click)="showVideoDialog(m.videoImgUrl)"><span
							class="image-wrapper"><img src="{{m.thumbnailUrl}}"
								style="position:relative;" /><span id="play-icon"></span></span></a>
				</div>
				<div class="medium-4 columns tutorial"
					*ngFor="let m of mediaCenterItem2('categoryId', 1, 'positionId', 5)">
					<a class="resource-title" (click)="redirect('media-center-article/' + m.id)">{{m.title}}</a>
					<a (click)="redirect('media-center-article/' + m.id)" *ngIf="m.typeId != 1"><img
							src="{{m.thumbnailUrl}}" /></a>
				</div>
				<div class="medium-4 columns tutorial"
					*ngFor="let m of mediaCenterItem2('categoryId', 5, 'positionId', 6)">
					<a class="resource-title" (click)="redirect('media-center-article/' + m.id)">{{m.title}}</a>
					<a (click)="showVideoDialog(m.videoImgUrl)" *ngIf="m.typeId == 1"><span
							class="image-wrapper"><img src="{{m.thumbnailUrl}}"
								style="position:relative;" /><span id="play-icon"></span></span></a>
				</div>
			</div>
		</div>
	</div>
</div>