<section id="content-wrap">
    <div class="row">
        <div class="small-12 columns show-for-small-only">
            <div class="left-sub-nav">
                <ul class="menu vertical" id="steps">
                    <li>
                        <h3>Explore An Interest Area</h3>
                    </li>
                </ul>
            </div>
        </div>
        <section class="medium-9 medium-push-3 columns" id="main-content" role="main">
          <h1 class="job-title">EXPLORE AN INTEREST AREA </h1>
          <div class="row">
            <div class="col-3">
            <ngb-tabset type="tabs" id="explore" class="tabbed fourths avoidTabbed"
                        orientation="vertical"
                        (tabChange)="selectedTabId = $event.nextId">
                <ngb-tab id="first" index="0">
                    <ng-template ngbTabTitle>Realistic</ng-template>
                </ngb-tab>
                <ngb-tab id="investigative" index="1">
                    <ng-template ngbTabTitle>Investigative</ng-template>
                </ngb-tab>
                <ngb-tab id="artistic" index="2">
                    <ng-template ngbTabTitle>Artistic</ng-template>
                </ngb-tab>
                <ngb-tab id="social" index="3">
                    <ng-template ngbTabTitle>Social</ng-template>
                </ngb-tab>
                <ngb-tab id="enterprising" index="4">
                    <ng-template ngbTabTitle>Enterprising</ng-template>
                </ngb-tab>
                <ngb-tab id="conventional" index="5">
                    <ng-template ngbTabTitle>Conventional</ng-template>
                </ngb-tab>
            </ngb-tabset>
            </div>
            <div class="col">
                <div [hidden]="selectedTabId !== 'first'">
                    <div class="row column realistic">
                        <div id="cluster"><em class="code-c off"></em><em class="code-r" title="R"></em><em
                                class="code-i off"></em><em class="code-a off"></em><em class="code-s off"></em><em
                                class="code-e off"></em></div>
                        <h4>Realistic activities often involve practical, hands-on problems and solutions such as
                            designing, building, and repairing machinery.</h4>
                        <p>Realistic occupations generally require workers to have physical and mechanical abilities.
                            Realistic occupations include:</p>
                        <ul>
                            <li><a (click)="redirect('occufind-occupation-details/29-1071.01')">Anesthesiologist Assistants</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/27-4012.00')">Broadcast Technicians</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/35-2014.00')">Cooks, Restaurant</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/51-9081.00')">Dental Laboratory Technicians</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/47-2111.00')">Electricians</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/45-4011.00')">Forest and Conservation Workers</a>
                            </li>
                            <li><a (click)="redirect('occufind-occupation-details/49-9099.01')">Geothermal Technicians</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/33-2011.01')">Municipal Firefighters</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/13-1199.02')">Security Management Specialists</a>
                            </li>
                            <li><a (click)="redirect('occufind-occupation-details/17-2051.01')">Transportation Engineers</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/27-2023.00')">Umpires, Referees and Other Sports
                                    Officials</a></li>
                        </ul>
                        <p>Realistic types generally prefer to work with things (machines, plants, and animals) rather
                            than people. In their work, they are practical, straightforward, and persistent.</p>
                    </div>
                </div>
                <div [hidden]="selectedTabId !== 'investigative'">
                    <div class="row column investigative">
                        <div id="cluster"><em class="code-c off"></em><em class="code-r off"></em><em class="code-i"
                                title="I"></em><em class="code-a off"></em><em class="code-s off"></em><em
                                class="code-e off"></em></div>
                        <h4>Investigative activities involve testing ideas, learning new things, and allow you to use
                            your knowledge to solve problems. </h4>
                        <p>Investigative occupations generally require workers to have math and science abilities.
                            Investigative occupations include:</p>
                        <ul>
                            <li><a (click)="redirect('occufind-occupation-details/19-3091.01')">Anthropologists</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/17-2031.00')">Biomedical Engineers</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/19-2031.00')">Chemists</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/15-1143.00')">Computer Network Architects</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/29-1021.00')">Dentists, General</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/29-1031.00')">Dietitians and Nutritionists</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/17-2081.00')">Environmental Engineers</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/33-2021.02')">Fire Investigators</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/19-4092.00')">Forensic Science Technicians</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/15-1199.05')">Geographic Information Systems
                                    Technicians</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/13-1161.00')">Market Research Analysts and Marketing
                                    Specialists</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/17-2199.09')">Nanosystems Engineers</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/29-1051.00')">Pharmacists</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/19-1031.01')">Soil and Water Conservationists</a>
                            </li>
                            <li><a (click)="redirect('occufind-occupation-details/29-1069.11')">Sports Medicine Physicians</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/29-1131.00')">Veterinarians</a></li>
                        </ul>
                        <p>Investigative types generally prefer to work with ideas rather than with people or things. In
                            their work, they are curious, observant, and logical.</p>
                    </div>
                </div>
                <div [hidden]="selectedTabId !== 'artistic'">
                    <div class="row column artistic">
                        <div id="cluster"><em class="code-c off"></em><em class="code-r off"></em><em
                                class="code-i off"></em><em class="code-a" title="A"></em><em
                                class="code-s off"></em><em class="code-e off"></em></div>
                        <h4>Artistic activities allow you to be creative to do original work such as writing, singing,
                            dancing, sculpting, and painting.</h4>
                        <p>Artistic occupations generally require workers to have artistic abilities and a good
                            imagination. Artistic occupations include:</p>
                        <ul>
                            <li><a (click)="redirect('occufind-occupation-details/27-2011.00')">Actors</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/17-3011.01')">Architectural Drafters</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/27-3021.00')">Broadcast News Analysts</a></li>
                            <li><a (click)="redirect('occufind-occupation-details27-1021.00')">Commercial and Industrial Designers</a>
                            </li>
                            <li><a (click)="redirect('occufind-occupation-details/43-9031.00')">Desktop Publishers</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/27-4032.00')">Film and Video Editors</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/39-5012.00')">Hairdressers, Hairstylists, and
                                    Cosmetologists</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/27-3091.00')">Interpreters and Translators</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/17-1012.00')">Landscape Architects</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/39-5091.00')">Makeup Artists, Theatrical and
                                    Performance</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/27-1014.00')">Multimedia Artists and Animators</a>
                            </li>
                            <li><a (click)="redirect('occufind-occupation-details/27-2041.04')">Music Composers and Arrangers</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/27-4021.00')">Photographers</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/27-1027.00')">Set and Exhibit Designers</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/27-3042.00')">Technical Writers</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/15-1199.11')">Videogame Designers</a></li>
                        </ul>
                        <p>Artistic types generally prefer to work with ideas rather than things, and like to be in a
                            setting where they can work without a clear set of rules. In their work, they are
                            expressive, original, and independent.</p>
                    </div>
                </div>
                <div [hidden]="selectedTabId !== 'social'">
                    <div class="row column social">
                        <div id="cluster"><em class="code-c off"></em><em class="code-r off"></em><em
                                class="code-i off"></em><em class="code-a off"></em><em class="code-s"
                                title="S"></em><em class="code-e off"></em></div>
                        <h4>Social activities allow you to use your skills and talents to help, teach, and counsel
                            others.</h4>
                        <p>Social occupations generally require personal interaction and communication skills and
                            abilities. Social occupations include:</p>
                        <ul>
                            <li><a (click)="redirect('occufind-occupation-details/25-2059.01')">Adaptive Physical Education
                                    Specialists</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/29-9091.00')">Athletic Trainers</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/39-9011.00')">Childcare Workers</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/21-2011.00')">Clergy</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/27-2022.00')">Coaches and Scouts</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/11-9161.00')">Emergency Management Directors</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/31-1011.00')">Home Health Aides</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/31-9011.00')">Massage Therapists</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/21-1014.00')">Mental Health Counselors</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/29-1161.00')">Nurse Midwives</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/31-2011.00')">Occupational Therapy Assistants</a>
                            </li>
                            <li><a (click)="redirect('occufind-occupation-details/19-1031.03')">Park Naturalists</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/21-1092.00')">Probation Officers and Correctional
                                    Treatment Specialists</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/29-1127.00')">Speech-Language Pathologists</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/25-2032.00')">Career/Technical Education Teachers,
                                    Secondary School</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/39-7011.00')">Tour Guides and Escorts</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/35-3031.00')">Waiters and Waitresses</a></li>
                        </ul>
                        <p>Social types prefer to work with people rather than to work with objects, machines, or data.
                            In their work, they are friendly, outgoing, and helpful.</p>
                    </div>
                </div>
                <div [hidden]="selectedTabId !== 'enterprising'">
                    <div class="row column enterprising">
                        <div id="cluster"><em class="code-c off"></em><em class="code-r off"></em><em
                                class="code-i off"></em><em class="code-a off"></em><em class="code-s off"></em><em
                                class="code-e" title="E"></em></div>
                        <h4>Enterprising activities allow you to take a leadership role in areas such as sales,
                            supervision, and project or business management.</h4>
                        <p>Enterprising occupations generally require workers to have leadership, sales, and speaking
                            abilities. Enterprising occupations include:</p>
                        <ul>
                            <li><a (click)="redirect('occufind-occupation-details/41-3011.00')">Advertising Sales Agents</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/53-2021.00')">Air Traffic Controllers</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/Baristas')">Baristas</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/33-3021.03')">Criminal Investigators and Special
                                    Agents</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/23-1011.00')">Lawyers</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/13-1121.00')">Meeting, Convention, and Event
                                    Planners</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/13-1199.06')">Online Merchants</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/27-3031.00')">Public Relations Specialists</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/41-9022.00')">Real Estate Sales Agents</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/41-3031.03')">Securities and Commodities Traders</a>
                            </li>
                            <li><a (click)="redirect('occufind-occupation-details/27-2012.04')">Talent Directors</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/41-9041.00')">Telemarketers</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/39-7012.00')">Travel Guides</a></li>
                        </ul>
                        <p>Enterprising types prefer to work with people and ideas rather than things. They like work
                            that is fast-paced, requires a lot of responsibility and decision making, and involves
                            taking risks for profit. In their work, they are persuasive, ambitious, and energetic.</p>
                    </div>
                </div>
                <div [hidden]="selectedTabId !== 'conventional'">
                    <div class="row column conventional">
                        <div id="cluster"><em class="code-c" title="C"></em><em class="code-r off"></em><em
                                class="code-i off"></em><em class="code-a off"></em><em class="code-s off"></em><em
                                class="code-e off"></em></div>
                        <h4>Conventional activities require attention to accuracy and detail such as maintaining orderly
                            and accurate records, procedures, and routines.</h4>
                        <p>Conventional occupations generally require workers to have clerical, organizational, and
                            arithmetic abilities. Conventional occupations include:</p>
                        <ul>
                            <li><a (click)="redirect('occufind-occupation-details/13-2011.01')">Accountants</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/19-4061.01')">City and Regional Planning Aides</a>
                            </li>
                            <li><a (click)="redirect('occufind-occupation-details/23-2091.00')">Court Reporters</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/13-1199.01')">Energy Auditors</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/33-2021.01')">Fire Inspectors</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/15-1122.00')">Information Security Analysts</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/25-4021.00')">Librarians</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/13-2072.00')">Loan Officers</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/13-1081.02')">Logistics Analysts</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/31-9094.00')">Medical Transcriptionists</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/23-2011.00')">Paralegals and Legal Assistants</a>
                            </li>
                            <li><a (click)="redirect('occufind-occupation-details/13-1041.07')">Regulatory Affairs Specialists</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/19-4061.00')">Social Science Research Assistants</a>
                            </li>
                            <li><a (click)="redirect('occufind-occupation-details/15-2041.00')">Statisticians</a></li>
                            <li><a (click)="redirect('occufind-occupation-details/11-3031.01')">Treasurers and Controllers</a></li>
                        </ul>
                        <p>Conventional types prefer working with data more than with ideas. They apply precise
                            standards in a setting where there is a clear line of authority. In their work, they are
                            efficient, methodical, and detail-oriented.</p>
                    </div>
                </div>


            </div>
          </div>

        </section>
        <div class="medium-3 medium-pull-9 columns">
            <div class="left-sub-nav show-for-medium">
                <ul class="menu vertical" id="steps">
                    <li>
                        <h3>WAYS TO LEARN ABOUT YOURSELF </h3>
                    </li>
                    <li class="divider"></li>
                    <li><a (click)="redirect('student-learn-skills')">Skills <em class="fa fa-angle-right"></em></a></li>
                    <li><a (click)="redirect('student-learn-interests')">Interests <em class="fa fa-angle-right"></em></a></li>
                    <li><a (click)="redirect('student-learn-work-values')">Work Values <em class="fa fa-angle-right"></em></a></li>
                    <li class="divider"></li>
                </ul>
            </div>
            <div class="left-sub-nav show-for-small-only">
                <ul class="menu vertical">
                    <li>
                        <h3>WAYS TO LEARN ABOUT YOURSELF </h3>
                    </li>
                    <li><a (click)="redirect('student-learn-skills')">Skills <em class="fa fa-angle-right"></em></a></li>
                    <li><a (click)="redirect('student-learn-interests')">Interests <em class="fa fa-angle-right"></em></a></li>
                    <li><a (click)="redirect('student-learn-work-values')">Work Values <em class="fa fa-angle-right"></em></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>