<section id="content-wrap">
    <div class="row">
        <div class="small-12 columns show-for-small-only">
            <div class="left-sub-nav">
                <ul class="menu vertical" id="steps">
                    <li>
                        <h3 id="innerTitle">Work Values</h3>
                    </li>
                </ul>
            </div>
        </div>
        <section class="medium-9 medium-push-3 columns" id="main-content" role="main">
            <h1 class="job-title">What matters most to you?</h1>
            <p>Work values are your beliefs about what is important to you. Job satisfaction comes from having a job
                that meets your needs. Consider each work value and decide which are most important to you.</p>
            <p>Remember, your work values may change during different stages in your life. A change in life
                circumstances can lead to a shift in the importance of different values.</p>
            <div class="row">
                <div class="medium-4 columns"><strong>Challenge</strong>
                </div>
                <div class="medium-8 columns">
                    <p>Learning new skills or information, self-development</p>
                </div>
            </div>
            <div class="row">
                <div class="medium-4 columns"><strong>Creativity</strong>
                </div>
                <div class="medium-8 columns">
                    <p>Doing things in a new way, inventing things, or developing different
                        approaches or methods
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="medium-4 columns"><strong>Income</strong>
                </div>
                <div class="medium-8 columns">
                    <p>Making a high salary
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="medium-4 columns"><strong>Prestige</strong>
                </div>
                <div class="medium-8 columns">
                    <p>Doing work that is seen as important and for which
                        people admire and respect you
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="medium-4 columns"><strong>Variety</strong>
                </div>
                <div class="medium-8 columns">
                    <p>Doing many different activities, not doing the same things all the time
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="medium-4 columns"><strong>Working in a Group</strong>
                </div>
                <div class="medium-8 columns">
                    <p>Working with others, being cooperative, getting to a know coworkers
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="medium-4 columns"><strong>Helping Others</strong>
                </div>
                <div class="medium-8 columns">
                    <p>Doing things for others, building a better world
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="medium-4 columns"><strong>Security</strong>
                </div>
                <div class="medium-8 columns">
                    <p>Having stable employment, steady income, not worrying about being laid off
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="medium-4 columns"><strong>Physical Activity</strong>
                </div>
                <div class="medium-8 columns">
                    <p>Doing work that requires physical activity, such as walking, lifting, and
                        carrying or moving heavy objects
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="medium-4 columns"><strong>Fixing Things</strong>
                </div>
                <div class="medium-8 columns">
                    <p>Using your hands and/or tools to make or fix objects that you can see and
                        touch
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="medium-4 columns"><strong>Public Contact</strong>
                </div>
                <div class="medium-8 columns">
                    <p>Providing information to the public, talking to people outside your
                        organization
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="medium-4 columns"><strong>Independence</strong>
                </div>
                <div class="medium-8 columns">
                    <p>Being able to determine the nature of work without significant direction or
                        instructions from others, deciding how and when to do your work
                    </p>
                </div>
            </div>
        </section>
        <div class="medium-3 medium-pull-9 columns">
            <div class="left-sub-nav show-for-medium">
                <ul class="menu vertical" id="steps">
                    <li>
                        <h3>LEARN ABOUT YOURSELF </h3>
                    </li>
                    <li class="divider"></li>
                    <li><a (click)="redirect('student-learn-skills')">Skills <em class="fa fa-angle-right"></em></a></li>
                    <li><a (click)="redirect('student-learn-interests')">Interests <em class="fa fa-angle-right"></em></a></li>
                    <li class="active"><a class="disabled">Work Values </a></li>
                    <li class="divider"></li>
                </ul>
            </div>
            <div id="did-you-know">
                <p><strong class="caps">Did You Know?</strong></p>
                <p>Research has shown that people who choose occupations that support their values are generally more
                    satisfied with their jobs.</p>
            </div>
            <div class="left-sub-nav show-for-small-only">
                <ul class="menu vertical">
                    <li>
                        <h3>LEARN ABOUT YOURSELF </h3>
                    </li>
                    <li><a (click)="redirect('student-learn-skills')">Skills <em class="fa fa-angle-right"></em></a></li>
                    <li><a (click)="redirect('student-learn-interests')">Interests <em class="fa fa-angle-right"></em></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>