<section id="content-wrap">
    <section id="main-content" role="main" style="margin:0;">
        <div class="row">
            <div class="small-12 columns show-for-small-only">
                <div class="left-sub-nav">
                    <ul class="menu vertical" id="steps">
                        <li>
                            <h3>Plan your future</h3>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="medium-8 columns">
                <h1 class="job-title"><br />What does the future hold for you?
                </h1>
                <p>Once you are armed with knowledge about your skills,
                    interests, and the requirements for the job you want, it is time to
                    map a plan.</p>
                <p>There may be several different paths to get where you want
                    to go. Does your dream job require a degree? Are you motivated to
                    continue your education to gain the advanced degree required? How
                    will you pay for it?</p>
                <p>The career decisions you make now are not the only ones you
                    will make. Career planning is a lifelong process. You might even
                    have many careers over your lifetime.</p>
                <p>Think about where you see yourself in five years, even ten
                    years. The decisions you make now are the first milestones in
                    meeting those goals.</p>
            </div>
            <div class="medium-4 columns"><a href="http://www.fastweb.com/" target="_blank"><img alt=""
                        src="assets/images/2_3.jpg" /></a>
            </div>
            <div class="medium-12 columns">
                <div class="row column">
                    <hr />
                    <h2>Plan your future</h2>
                </div>
                <div class="row">
                    <div class="small-6 columns"><a (click)="redirect('student-plan-understanding')">UNDERSTAND YOUR
                            OPTIONS<em class="fa fa-angle-right"></em></a>
                        <p>Many educational options available today offer learning
                            that extends beyond the traditional classroom setting.</p>
                    </div>
                    <div class="small-6 columns"><a (click)="redirect('student-plan-tools')">CAREER PLANNING TOOLS<em
                                class="fa fa-angle-right"></em></a>
                        <p>Once you know the requirements of an occupation, you can
                            develop a plan to help you meet your career goals.</p>
                    </div>
                </div>
            </div>
            <hr />
            <div class="medium-12 columns">
                <div class="row">
                    <h2>HEAR IT FROM YOUR PEERS</h2>
                </div>
            </div>
            <div class="medium-12 columns">
                <div class="row tab-row">
                    <div class="col-4">
                        <ngb-tabset type="tabs" id="explore" class="tabbed fourths" orientation="vertical"
                            (tabChange)="selectedTabId = $event.nextId">
                            <ngb-tab id="first" index="0">
                                <ng-template ngbTabTitle>Jushawn</ng-template>
                            </ngb-tab>
                            <ngb-tab id="immanuel" index="1">
                                <ng-template ngbTabTitle>Immanuel</ng-template>
                            </ngb-tab>
                            <ngb-tab id="stephany" index="2">
                                <ng-template ngbTabTitle>Stephany</ng-template>
                            </ngb-tab>
                            <ngb-tab id="joshua" index="3">
                                <ng-template ngbTabTitle>Joshua</ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </div>
                    <div class="col tab-content-custom">
                        <div [hidden]="selectedTabId !== 'first'">
                            <div class="row column">
                                <div class="verticaltabpic"><img src="assets/images/joshawn.jpg" /></div>
                                <div class="peers-details">
                                    <p>"I would tell a fellow student go ahead, participate in
                                        [the ASVAB Program], see what it helps you with and see what it
                                        tells you to help you make your mind up for what you want to be or
                                        do in the future."</p>
                                </div>
                            </div>
                        </div>
                        <div [hidden]="selectedTabId !== 'immanuel'">
                            <div class="row column">
                                <div class="verticaltabpic"><img src="assets/images/immanuel.png" /></div>
                                <div class="peers-details">
                                    <p>"I thought the ASVAB would be about the Army but it
                                        just offers jobs for anyone who takes it and shows you what would
                                        suit you best."</p>
                                </div>
                            </div>
                        </div>
                        <div [hidden]="selectedTabId !== 'stephany'">
                            <div class="row column">
                                <div class="verticaltabpic"><img src="assets/images/Stephany.jpg" /></div>
                                <div class="peers-details">
                                    <p>"I learned about all the opportunities that I could
                                        have that apply most to my abilities instead of just picking
                                        something randomly because it seems cool."</p>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div [hidden]="selectedTabId !== 'joshua'">
                            <div class="row column">
                                <div class="verticaltabpic"><img src="assets/images/joshua.jpg" /></div>
                                <div class="peers-details">
                                    <p>"I feel that the most helpful feature of the ASVAB
                                        Program is the OCCU-Find feature because instead of having to go
                                        from website to website it's all in one place."</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>