<!-- This does not appear to be an operational page!!! career array not populated!!!-->
<section id="content-wrap">
    <div class="row">
        <div class="small-12 columns show-for-small-only">
            <div class="left-sub-nav">
                <ul class="menu vertical" id="steps">
                    <li>
                        <h3 id="innerTitle">Student: Explore Careers - Career Clusters</h3>
                    </li>
                </ul>
            </div>
        </div>
        <section class="medium-9 medium-push-3 columns" id="main-content" role="main">
            <p>The National Career Clusters&reg; Framework provides 16 groupings (clusters) of occupations
                based on similar skill sets, interests, abilities, and activities. The clusters contain
                sub-groupings called Career Pathways. These pathways are used by many school systems to
                develop curriculum to enhance the knowledge and skills required for a particular career field. You can
                explore occupations in the OCCU-Find by Career Cluster.</p>
            <p>The 16 career clusters are:</p>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false" 
                                     *ngFor="let cc of career">
                    <mat-expansion-panel-header>{{cc.ccTitle}} <em class="pull-right glyphicon"
                            ngClass="{'glyphicon-minus': panelOpenState, 'glyphicon-plus': !panelOpenState}"></em>
                    </mat-expansion-panel-header>
                    {{cc.ccDescription}}
                    <a (click)="redirect('student-explore-cc')">Learn more </a>
                </mat-expansion-panel>
            </mat-accordion>

            <p>Note: The 16 Career Clusters were developed by the U.S. Department of Education. Your school/state may
                use a different set of career clusters. Contact your career counselor to fnd out more information.</p>
        </section>
        <div class="medium-3 medium-pull-9 columns">
            <div class="left-sub-nav show-for-medium">
                <ul class="menu vertical" id="steps">
                    <li>
                        <h3>EXPLORATION TOOLS</h3>
                    </li>
                    <li class="divider"></li>
                    <li><a (click)="redirect('student-explore-occu-find')">OCCU-Find <em class="fa fa-angle-right"></em></a></li>
                    <li class="active"><a class="disabled">Career Info Resources</a></li>
                    <li class="divider"></li>
                </ul>
            </div>
            <div id="did-you-know">
                <p><strong class="caps">Did You Know?</strong></p>
                <p>Questions you might want to think about while you explore careers:</p>
                <p>What do people do in this<br />career?</p>
                <p>In what type of environment do people in this career work?</p>
                <p>What kind and how much<br />training is needed to enter<br />this career?</p>
                <p>What are the opportunities<br />for obtaining work in this<br />career?</p>
            </div>
            <div class="left-sub-nav show-for-small-only">
                <ul class="menu vertical">
                    <li>
                        <h3>THE ASVAB CEP</h3>
                    </li>
                    <li><a (click)="redirect('student-post-test')">Post-Test Activities <em class="fa fa-angle-right"></em></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>