<section id="content-wrap">
    <div class="row">
        <section id="main-content" role="main" style="margin:0;">
            <div class="small-12 columns show-for-small-only">
                <div class="left-sub-nav">
                    <ul class="menu vertical" id="steps">
                        <li>
                            <h3>EXPLORE CAREERS</h3>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="medium-8 columns">
                <h1 class="job-title"><br />What do you want to be?
                </h1>
                <p>You have hundreds of careers to choose from. To make the best decision you need to know
                    the facts.</p>
                <p>As an ASVAB CEP participant, you have exclusive access to career exploration and planning tools
                    where you can find, and plan for, the occupations that best fit you.</p>
            </div>
            <div class="medium-4 columns"><a (click)="redirect('career-cluster-pathway-12')"><img alt=""
                        src="assets/images/2_2.jpg" /></a>
            </div>
            <div class="medium-12 columns">
                <div class="row column">
                    <hr />
                    <h2>EXPLORATION TOOLS</h2>
                </div>
                <div class="row">
                    <div class="small-6 columns"><a (click)="redirect('student-explore-occu-find')">OCCU-Find <em></em></a>
                        <p>The OCCU-Find puts information about hundreds of career options at your fingertips.</p>
                    </div>
                    <div class="small-6 columns"><a (click)="redirect('student-explore-action-steps')">Action Steps <em></em></a>
                        <p>Take the information you have learned about occupations and compare it to the
                            information you have about yourself.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <hr />
                        <h2>Highlighted Careers</h2>
                    </div>
                    <div class="small-4 columns tutorial"><a (click)="redirect('occufind-occupation-details/29-1123.00')">Physical
                            Therapists <img src="{{resources}}29-1123.00_IMG.jpg" /></a>
                    </div>
                    <div class="small-4 columns tutorial"><a (click)="redirect('occufind-occupation-details/49-3011.00')">Aircraft
                            Mechanics &amp; Service Techs <img src="{{resources}}49-3011.00_IMG.jpg" /></a>
                    </div>
                    <div class="small-4 columns tutorial"><a (click)="redirect('occufind-occupation-details/55-1015.00')">Command &amp;
                            Control Center Officers <img src="{{resources}}55-1015.00_IMG.jpg" /></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>