<div class="occufind article article-list">
  <app-header></app-header>
  <section id="banner">
    <div class="row">
      <div class="large-4 large-push-8 columns">
        <p class="caps">Search Results</p>
      </div>
    </div>
  </section>

  <section id="content-wrap">
    <div class="row">
      <div class="medium-12 columns">
          <div [innerHTML]="gcseresults"></div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>
</div>
