<section id="content-wrap">
  <div class="small-12 columns show-for-small-only">
    <div class="left-sub-nav">
      <ul class="menu vertical" id="steps">
        <li>
          <h3 id="innerTitle">Link to us</h3>
        </li>
      </ul>
    </div>
  </div>
  <div class="row column large-centered">
    <p>LINK TO OUR SITE<br />It's easy to link to www.asvabprogram.com. Copy and paste one of the
      codes we have provided below.
    </p>
    <ol>
      <li>Add a text link to www.asvabprogram.com:<br />Copy and paste this link to the page
        of your choice on your site:<br /><code>&lt;p&gt;Be the architect of your career.
      Learn more about the benefits of participating in the 
      <br />&lt;a target="_blank" href="https://www.asvabprogram.com/"&gt;ASVAB Career Exploration Program&lt;/a&gt;
      <br />&lt;p&gt;
      </code></li>
      <li>Add a link with the ASVAB CEP logo: ASVAB Career Exploration Program<br />Copy and
        paste this link to the page of your choice on your site: <br />
        <div><img alt="ASVAB logo" class="float-left" src="images/logo-mobile.png" /></div>
        <hr />
        <div><code>&lt;a target="_blank" href="https://www.asvabprogram.com/"&gt; <br />&lt;img src="https://asvabprogram.com/images/logo-mobile.png"
        border=0 alt="ASVAB Career Exploration Program"&gt;
        &lt;/a&gt; <br />Be the architect of your
        career. Learn more about the benefits of participating in the
        <br />&lt;a
        href="https://www.asvabprogram.com/"&gt;ASVAB Career Exploration Program&lt;/a&gt;</code>
        </div>
      </li>
    </ol>
  </div>
</section>