<div class="occufind student student-dreams general-help">
	<app-header></app-header>

	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="large-3 large-push-9 columns">
				<p class="caps">Link to Us</p>
			</div>
		</div>
  </section>
  <div *ngIf="pageHtml !== ''">

		<section id="content-wrap">
			<div class="small-12 columns show-for-small-only">
				<div class="left-sub-nav">
					<ul class="menu vertical" id="steps">
						<li>
							<h3 id="innerTitle">General Help</h3>
						</li>
					</ul>
				</div>
			</div>
			<div id="site-map-div">
				<div class="row">

          <section id="content-wrap">
            <div class="small-12 columns show-for-small-only">
              <div class="left-sub-nav">
                <ul class="menu vertical" id="steps">
                  <li>
                    <h3 id="innerTitle">Link to us</h3>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row column large-centered">
              <div [innerHTML]="pageHtml[0]"></div>
            </div>
          </section>

				</div>
			</div>
		</section>


  </div>
  <app-footer></app-footer>
</div>