<!-- Form Modal 1 -->
<div class="main" style="padding-bottom: 0;" *ngIf="!isMentorRegistration">
  <div class="popup-main" style="max-width: 100%;">
    <div class="popup-header">
      <h4>Register</h4>
      <button class="close-button" aria-label="Close modal" type="button" (click)="_dialogRef.close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="popup-details">
      <h3>Create an Account</h3>
      <p>You must use an access code to create an account. Participant access codes are printed on the ASVAB Summary Results sheet.</p>
      <p>Don't get locked out. Your email address is not required to create an account but supplying it ensures uninterrupted access to exploring careers if you lose your access code.</p>

      <div class="popup-form-filed">
        <form [formGroup]="registerForm" (ngSubmit)="submitRegisterForm()">
          <div style="padding: 0 0 0 16px;">
            <div class="form-group">
              <span class="required_field">*</span>
              <label for="registerAccessCode" class="sr-only">Access Code:</label>
              <input type="text" id="registerAccessCode" formControlName="registerAccessCode" placeholder="Access Code" (input)="checkForPromoCode()"  />
            </div>

              <div class="form-group">
              <span class="required_field">*</span>
                <label for="registerEmail" class="sr-only">Email:</label>
                <input type="email" id="registerEmail" formControlName="registerEmail" placeholder="Email"  />
              </div>

              <div class="form-group">
              <span class="required_field">*</span>
                <label for="registerPassword1" class="sr-only">Password:</label>
                <input type="password" id="registerPassword1" formControlName="registerPassword1" placeholder="Password" />
              </div>

              <div class="form-group">
              <span class="required_field">*</span>
                <label for="registerPassword2" class="sr-only">Retype Password</label>
                <input type="password" id="registerPassword2" formControlName="registerPassword2" placeholder="Retype Password"  />
              </div>

            <div *ngIf="isStudentCode">
              <div class="form-group">
                <label for="registerStudentId" class="sr-only">Student ID (optional)</label>
                <input type="text" id="registerStudentId" formControlName="registerStudentId" placeholder="Student ID (optional)" />
              </div>
            </div>

            <div *ngIf="isUsingPromoCode">
              <div class="form-group">
                <span class="required_field">*</span>
                <label for="firstName" class="sr-only">First Name</label>
                <input type="text" id="firstName" formControlName="firstName" placeholder="First Name" [required]="isUsingPromoCode" />
              </div>

              <div class="form-group">
                <span class="required_field">*</span>
                <label for="lastName" class="sr-only">Last Name</label>
                <input type="text" id="lastName" formControlName="lastName" placeholder="Last Name" [required]="isUsingPromoCode" />
              </div>
              
              <div class="form-group">
                <label for="phoneNumber" class="sr-only">Phone Number</label>
                <input type="text" id="phoneNumber" formControlName="phoneNumber" placeholder="Phone Number" />
              </div>

              <div class="form-group">
                <span class="required_field" [hidden]='!isUsingPromoCode'>*</span>
                <label for="function" class="sr-only">Select Your Function</label>
                <select id="function" formControlName="functionId" [required]="isUsingPromoCode" class="mb-0">
                  <option value="">Select function</option>
                  <option *ngFor="let option of functions" value="{{option.id}}">{{option.name}}</option>
                </select>
              </div>

              <div class="form-group">
                <label *ngIf="registerForm.value.functionId === '5'" for="functionOther" class="sr-only">Function Other</label>
                <input *ngIf="registerForm.value.functionId === '5'" type="text" id="functionOther" formControlName="functionOther" placeholder="Function Other" [required]="registerForm.value.functionId === '5'" />
              </div>

              <!-- <div *ngIf="registerForm.value.functionId === '1' || registerForm.value.functionId === '2' || registerForm.value.functionId === '3'">
                <div class="form-group">
                  <label for="schoolName" class="sr-only">School Name (optional)</label>
                  <input type="text" id="schoolName" formControlName="schoolName" placeholder="School Name (optional)" />
                </div>

                <div class="form-group">
                  <label for="schoolZipCode" class="sr-only">School Zip Code (optional)</label>
                  <input type="text" id="schoolZipCode" formControlName="schoolZipCode" placeholder="School Zip Code (optional)" />
                </div>

                <div class="form-group">
                  <label for="schoolState" class="sr-only">School State (optional)</label>
                  <input type="text" id="schoolState" formControlName="schoolState" placeholder="School State (optional)" />
                </div>
              </div> -->

              <!-- <div class="form-group">
                <label for="essName" class="sr-only">ESS Name (optional)</label>
                <input type="text" id="essName" formControlName="essName" placeholder="ESS Name (optional)" />
              </div>

              <div class="form-group">
                <label for="conferences" class="sr-only">Select Conference (optional)</label>
                <select id="conferences" formControlName="conferenceId" class="mb-0">
                  <option value="">Select conference (optional)</option>
                  <option *ngFor="let option of conferences" value="{{option.id}}">{{option.name}}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="eventName" class="sr-only">Event Name (optional)</label>
                <input type="text" id="eventName" formControlName="eventName" placeholder="Event Name (optional)" />
              </div> -->
              
              
              <!-- Search School -->
              <div class="search_school">
	            <p>Find your school by:</p>
	            <div class="row">
	            	<div class="columns medium-12 large-12">
		            	<div class="form-group center-input">
		                  <label for="schoolcode" class="sr-only">School code</label>
		                  <input type="text" id="schoolcode" formControlName="schoolcode" (keyup)="searchSchoolError = undefined" placeholder="School code" />
		                </div>
	            	</div>
	            </div>
	            <div class="row">
	            
	            <div class="columns medium-12 large-12">
	            	<div class="hr-text"><span>and/or</span></div>
	            </div>
	              <div class="columns medium-8 large-8">
	                <div class="form-group">
	                  <label for="schoolhill" class="sr-only">School City</label>
	                  <input type="text" id="schoolhill" formControlName="schoolCity" (keyup)="searchSchoolError = undefined" placeholder="School City" />
	                </div>
	              </div>
	              
	              <div class="columns mendium-4 large-4">
	              	<div class="form-group">
	                  <label for="schoolState" class="sr-only">School State</label>
	                  <select id="schoolState" formControlName="schoolState" (change)="searchSchoolError = undefined" class="mb-0">
	                    <option value="">--- Select State ---</option>
						<option value="AL">Alabama</option>
						<option value="AK">Alaska</option>
						<option value="AS">American Samoa</option>
						<option value="AZ">Arizona</option>								
						<option value="AR">Arkansas</option>																
						<option value="CA">California</option>
						<option value="CO">Colorado</option>
						<option value="CT">Connecticut</option>
						<option value="DE">Delaware</option>
						<option value="DC">District Of Columbia</option>
						<option value="FL">Florida</option>
						<option value="GA">Georgia</option>
						<option value="GU">Guam</option>
						<option value="HI">Hawaii</option>
						<option value="ID">Idaho</option>
						<option value="IL">Illinois</option>
						<option value="IN">Indiana</option>
						<option value="IA">Iowa</option>
						<option value="KS">Kansas</option>
						<option value="KY">Kentucky</option>
						<option value="LA">Louisiana</option>
						<option value="ME">Maine</option>
						<option value="MD">Maryland</option>
						<option value="MA">Massachusetts</option>
						<option value="MI">Michigan</option>
						<option value="MN">Minnesota</option>
						<option value="MS">Mississippi</option>
						<option value="MO">Missouri</option>
						<option value="MT">Montana</option>
						<option value="NE">Nebraska</option>
						<option value="NV">Nevada</option>
						<option value="NH">New Hampshire</option>
						<option value="NJ">New Jersey</option>
						<option value="NM">New Mexico</option>
						<option value="NY">New York</option>
						<option value="NC">North Carolina</option>
						<option value="ND">North Dakota</option>
						<option value="MP">Northern Mariana Islands</option>
						<option value="OH">Ohio</option>
						<option value="OK">Oklahoma</option>
						<option value="OR">Oregon</option>
						<option value="PA">Pennsylvania</option>
						<option value="PR">Puerto Rico</option>
						<option value="RI">Rhode Island</option>
						<option value="SC">South Carolina</option>
						<option value="SD">South Dakota</option>
						<option value="TN">Tennessee</option>
						<option value="TX">Texas</option>
						<option value="UT">Utah</option>
						<option value="VI">U.S. Virgin Islands</option>
						<option value="VT">Vermont</option>
						<option value="VA">Virginia</option>
						<option value="WA">Washington</option>
						<option value="WV">West Virginia</option>
						<option value="WI">Wisconsin</option>
						<option value="WY">Wyoming</option>
	                  </select>
	                </div>
	              </div>
	            </div>
	            
	            <div class="row">
					<div class="columns medium-12 large-12">
	            		<div class="hr-text"><span>and/or</span></div>
						<div class="form-group center-input">
							<label for="schoolzipcode1" class="sr-only">School Zip
								Code</label> <input type="text" id="schoolzipcode"
								formControlName="schoolzipcode" (keyup)="searchSchoolError = undefined" placeholder="School Zip Code" />
						</div>
					</div>
		
					<div class="columns medium-12 text-center">
						<p style="color: red; font-weight: bold;">{{searchSchoolError}}</p>
						<button type="button" class="button" (click)="searchSchool(registerForm)" [disabled]="isSearchSchoolButtonDisabled">Search
							Schools</button>
					</div>
				</div>
	           
	
	            <div class="school_list">
	              <h4><b>Found Schools</b> (select the + to add to your list)</h4>
	              <ul>
	              <ng-container *ngFor="let s of searchSchoolList">
	                <li *ngIf="!s.toggleSchoolSelectedView"><span (click)="s.toggleSchoolSelectedView = !s.toggleSchoolSelectedView; setSchooltoSelectedList(s);" class="add_school"></span> {{s.schoolName}}, {{s.city}}, {{s.state}}</li>
	              </ng-container>
	              </ul>
	            </div>
	
	            <div class="school_list">
	              <h4><b>Select Schools</b> (select the - to remove it from your list)</h4>
	              <ul>
	              <ng-container *ngFor="let s of selectedSchoolList">
	                <li *ngIf="s.toggleSchoolSelectedView"><span (click)="s.toggleSchoolSelectedView = !s.toggleSchoolSelectedView;" class="remove_school"></span> {{s.schoolName}}, {{s.city}}, {{s.state}}</li>
	              </ng-container>  
	              </ul>
	            </div>
	          </div>
	          
	          <div class="form-group">
	            <label for="aboutUs" class="sr-only">How did you hear about us</label>
	            <select id="aboutUs" class="mb-0" formControlName="heardAboutUs">
	              <option value="">How did you hear about us</option>
	              <option value="Online Search">Online Search</option>
				  <option value="Online Ad">Online Ad</option>
				  <option value="Colleague/Friend">Colleague/Friend</option>
				  <option value="Conference">Conference</option>
				  <option value="Social Media">Social Media</option>
				  <option value="other">Other</option>
	            </select>
	          </div>
	          
	          <div *ngIf="registerForm.value.heardAboutUs == 'other'">
					<input type="text" formControlName="heardAboutUsOther"
						placeholder="Where did you hear of us from?"
						[required]="registerForm.value.heardAboutUs === 'other'" />
				</div>

            </div>
          </div>

          <hr class="mt-0 d-block" *ngIf="isStudentCode">


          <div class="invite_mentor_signup" *ngIf="isStudentCode">
            <div class="invite_mentor_icon_wrapper">
              <p>Invite a <br> mentor</p>
              <a href="#"><img src="assets/images/Add_mentor@2x.png" alt="Click here to Invite"></a>
            </div>
            <div class="invite_mentor_content">
              <p>Build your plans together. <br />
                Invite your counselors and parents to review and comment on your account information including scores, career plans, activities, and your calendar.
              </p>
              <p>Separate multiple emails with a comma.</p>
              <div class="search-keyword">
                <input class="searchTerm" placeholder="Email" type="text" formControlName="mentorShareEmails">
                <!-- <button class="searchButton" type="submit"><i class="fa fa-angle-right"></i></button> -->
              </div>
            </div>
          </div>


          <hr class="mb-10 d-block">

          <label for="optedInCommunications" class="checkmark_redesign mb-10">
            <input type="checkbox" formControlName="optedInCommunications" id="optedInCommunications" />
            <span class="checkmark_box"></span>
            I would like to receive email communications from the ASVAB CEP
          </label>

          <label for="readPrivacyPolicy" class="checkmark_redesign">
            <input type="checkbox" formControlName="readPrivacyPolicy" id="readPrivacyPolicy" />
            <span class="checkmark_box"></span>
            I have read and agree to the <a href="general-privacy-security" target="_blank">privacy policy</a> and confirm that I am at least 13 years old.<span style="color: #B40000;">*</span>
          </label>

          <br />

          <ngx-recaptcha2 #captchaElem name="captchaElem" [siteKey]="recaptchaKey" [useGlobalDomain]="false"
            formControlName="recaptchaResponse">
          </ngx-recaptcha2>

          <p style="color: #cc0000">{{registrationLabel}}</p>

          <div
            *ngIf="(registerForm.get('registerPassword1').invalid && 
                      (registerForm.get('registerPassword1').dirty || registerForm.get('registerPassword1').touched))"
            style="color: #cc0000">

            <div *ngIf="registerForm.get('registerPassword1').errors?.minlength">
              Password too short! Please have a password that is 8 characters or more.
            </div>

          </div>

          <div
            *ngIf="(registerForm.get('registerPassword2').invalid && 
                      (registerForm.get('registerPassword2').dirty || registerForm.get('registerPassword2').touched))"
            style="color: #cc0000">

            <div *ngIf="registerForm.get('registerPassword2').errors?.confirmPwdValidator">Passwords do not
              match!
            </div>
          </div>

          <button type="submit" class="button" [disabled]="registerForm.invalid || isSubmitButtonDisabled">Register</button>

        </form>
      </div>

    </div>
    <div class="popup-form-footer">
      <ul>
        <li><a class="recaptcha-no-top" (click)="showBringAsvabToYourSchool()">How can I bring the ASVAB CEP to my school?</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Form Modal 2 -->
<div class="main" style="padding-bottom: 0;" *ngIf="isMentorRegistration">
  <div class="popup-main" style="max-width: 100%;">
    <div class="popup-header">
      <h4>Register</h4>
      <button class="close-button" aria-label="Close modal" type="button" (click)="_dialogRef.close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="popup-details">
      <h3>Create an Account</h3>
      
      <div class="popup-form-filed">
        <form [formGroup]="registerMentorForm" (ngSubmit)="submitRegisterMentorForm()">
          <div style="padding: 0 0 0 16px;">
  
            <div class="form-group">
              <span class="required_field">*</span>
              <label for="registerEmail" class="sr-only">Email:</label>
              <input type="email" id="registerEmail" formControlName="registerEmail" placeholder="Email"  />
            </div>
  
            <div class="form-group">
              <span class="required_field">*</span>
              <label for="registerPassword1" class="sr-only">Password:</label>
              <input type="password" id="registerPassword1" formControlName="registerPassword1" placeholder="Password" />
            </div>
  
            <div class="form-group">
              <span class="required_field">*</span>
              <label for="registerPassword2" class="sr-only">Retype Password</label>
              <input type="password" id="registerPassword2" formControlName="registerPassword2" placeholder="Retype Password"  />
            </div>
  
            <div>
              <div class="form-group">
                <span class="required_field">*</span>
                <label for="firstName" class="sr-only">First Name</label>
                <input type="text" id="firstName" formControlName="firstName" placeholder="First Name" [required]="isUsingPromoCode" />
              </div>
  
              <div class="form-group">
                <span class="required_field">*</span>
                <label for="lastName" class="sr-only">Last Name</label>
                <input type="text" id="lastName" formControlName="lastName" placeholder="Last Name" [required]="isUsingPromoCode" />
              </div>
              
              <div class="form-group">
                <label for="phoneNumber" class="sr-only">Phone Number</label>
                <input type="text" id="phoneNumber" formControlName="phoneNumber" placeholder="Phone Number" />
              </div>
  
              <div class="form-group">
                <span class="required_field">*</span>
                <label for="function" class="sr-only">Select Your Function</label>
                <select id="function" formControlName="functionId" [required]="isUsingPromoCode" class="mb-0">
                  <option value="">Select function</option>
                  <option *ngFor="let option of functions" value="{{option.id}}">{{option.name}}</option>
                </select>
              </div>
  
              <div class="form-group">
                <label *ngIf="registerMentorForm.value.functionId === '5'" for="functionOther" class="sr-only">Function Other</label>
                <input *ngIf="registerMentorForm.value.functionId === '5'" type="text" id="functionOther" formControlName="functionOther" placeholder="Function Other" [required]="registerMentorForm.value.functionId === '5'" />
              </div>
  
            </div>
          </div>

          <div class="search_school">
            <p>Find your school by:</p>
            <div class="row">
            	<div class="columns medium-12 large-12">
	            	<div class="form-group center-input">
	                  <label for="schoolcode" class="sr-only">School code</label>
	                  <input type="text" id="schoolcode" formControlName="schoolcode" (keyup)="searchSchoolError = undefined" placeholder="School code" />
	                </div>
            	</div>
            </div>
            <div class="row">
            
            <div class="columns medium-12 large-12">
            	<div class="hr-text"><span>and/or</span></div>
            </div>
              <div class="columns medium-8 large-8">
                <div class="form-group">
                  <label for="schoolhill" class="sr-only">School City</label>
                  <input type="text" id="schoolhill" formControlName="schoolCity" (keyup)="searchSchoolError = undefined" placeholder="School City" />
                </div>
              </div>
              
              <div class="columns mendium-4 large-4">
              	<div class="form-group">
                  <label for="schoolState" class="sr-only">School State</label>
                  <select id="schoolState" formControlName="schoolState" (change)="searchSchoolError = undefined" class="mb-0">
                    <option value="">--- Select State ---</option>
					<option value="AL">Alabama</option>
					<option value="AK">Alaska</option>
					<option value="AS">American Samoa</option>
					<option value="AZ">Arizona</option>								
					<option value="AR">Arkansas</option>																
					<option value="CA">California</option>
					<option value="CO">Colorado</option>
					<option value="CT">Connecticut</option>
					<option value="DE">Delaware</option>
					<option value="DC">District Of Columbia</option>
					<option value="FL">Florida</option>
					<option value="GA">Georgia</option>
					<option value="GU">Guam</option>
					<option value="HI">Hawaii</option>
					<option value="ID">Idaho</option>
					<option value="IL">Illinois</option>
					<option value="IN">Indiana</option>
					<option value="IA">Iowa</option>
					<option value="KS">Kansas</option>
					<option value="KY">Kentucky</option>
					<option value="LA">Louisiana</option>
					<option value="ME">Maine</option>
					<option value="MD">Maryland</option>
					<option value="MA">Massachusetts</option>
					<option value="MI">Michigan</option>
					<option value="MN">Minnesota</option>
					<option value="MS">Mississippi</option>
					<option value="MO">Missouri</option>
					<option value="MT">Montana</option>
					<option value="NE">Nebraska</option>
					<option value="NV">Nevada</option>
					<option value="NH">New Hampshire</option>
					<option value="NJ">New Jersey</option>
					<option value="NM">New Mexico</option>
					<option value="NY">New York</option>
					<option value="NC">North Carolina</option>
					<option value="ND">North Dakota</option>
					<option value="MP">Northern Mariana Islands</option>
					<option value="OH">Ohio</option>
					<option value="OK">Oklahoma</option>
					<option value="OR">Oregon</option>
					<option value="PA">Pennsylvania</option>
					<option value="PR">Puerto Rico</option>
					<option value="RI">Rhode Island</option>
					<option value="SC">South Carolina</option>
					<option value="SD">South Dakota</option>
					<option value="TN">Tennessee</option>
					<option value="TX">Texas</option>
					<option value="UT">Utah</option>
					<option value="VI">U.S. Virgin Islands</option>
					<option value="VT">Vermont</option>
					<option value="VA">Virginia</option>
					<option value="WA">Washington</option>
					<option value="WV">West Virginia</option>
					<option value="WI">Wisconsin</option>
					<option value="WY">Wyoming</option>
                  </select>
                </div>
              </div>
            </div>
            
            <div class="row">
				<div class="columns medium-12 large-12">
            		<div class="hr-text"><span>and/or</span></div>
					<div class="form-group center-input">
						<label for="schoolzipcode1" class="sr-only">School Zip
							Code</label> <input type="text" id="schoolzipcode"
							formControlName="schoolzipcode" (keyup)="searchSchoolError = undefined" placeholder="School Zip Code" />
					</div>
				</div>
	
				<div class="columns medium-12 text-center">
					<p style="color: red; font-weight: bold;">{{searchSchoolError}}</p>
					<button type="button" class="button" (click)="searchSchool(registerMentorForm)" [disabled]="isSearchSchoolButtonDisabled">Search
						Schools</button>
				</div>
			</div>
           

            <div class="school_list">
              <h4><b>Found Schools</b> (select the + to add to your list)</h4>
              <ul>
              <ng-container *ngFor="let s of searchSchoolList">
                <li *ngIf="!s.toggleSchoolSelectedView"><span (click)="s.toggleSchoolSelectedView = !s.toggleSchoolSelectedView; setSchooltoSelectedList(s);" class="add_school"></span> {{s.schoolName}}, {{s.city}}, {{s.state}}</li>
              </ng-container>
              </ul>
            </div>

            <div class="school_list">
              <h4><b>Select Schools</b> (select the - to remove it from your list)</h4>
              <ul>
              <ng-container *ngFor="let s of selectedSchoolList">
                <li *ngIf="s.toggleSchoolSelectedView"><span (click)="s.toggleSchoolSelectedView = !s.toggleSchoolSelectedView;" class="remove_school"></span> {{s.schoolName}}, {{s.city}}, {{s.state}}</li>
              </ng-container>  
              </ul>
            </div>
          </div>
          

          <div class="form-group">
            <label for="aboutUs" class="sr-only">How did you hear about us</label>
            <select id="aboutUs" class="mb-0" formControlName="heardAboutUs">
              <option value="">How did you hear about us</option>
              <option value="Online Search">Online Search</option>
			  <option value="Online Ad">Online Ad</option>
			  <option value="Colleague/Friend">Colleague/Friend</option>
			  <option value="Conference">Conference</option>
			  <option value="Social Media">Social Media</option>
			  <option value="other">Other</option>
            </select>
          </div>
          
          <div *ngIf="registerMentorForm.value.heardAboutUs == 'other'">
				<input type="text" formControlName="heardAboutUsOther"
					placeholder="Where did you hear of us from?"
					[required]="registerMentorForm.value.heardAboutUs === 'other'" />
			</div>


          <hr class="mb-10 d-block">

          <label for="optedInCommunications" class="checkmark_redesign mb-10">
            <input type="checkbox" formControlName="optedInCommunications" id="optedInCommunications" />
            <span class="checkmark_box"></span>
            I would like to receive email communications from the ASVAB CEP
          </label>

          <label for="readPrivacyPolicy" class="checkmark_redesign">
            <input type="checkbox" formControlName="readPrivacyPolicy" id="readPrivacyPolicy" />
            <span class="checkmark_box"></span>
            I have read and agree to the <a href="general-privacy-security" target="_blank">privacy policy</a> and confirm that I am at least 13 years old.<span style="color: #B40000;">*</span>
          </label>

          <br />

          <ngx-recaptcha2 #captchaElem name="captchaElem" [siteKey]="recaptchaKey" [useGlobalDomain]="false"
            formControlName="recaptchaResponse">
          </ngx-recaptcha2>

          <p style="color: #cc0000">{{registrationLabel}}</p>

          <div
            *ngIf="(registerMentorForm.get('registerPassword1').invalid && 
                      (registerMentorForm.get('registerPassword1').dirty || registerMentorForm.get('registerPassword1').touched))"
            style="color: #cc0000">

            <div *ngIf="registerMentorForm.get('registerPassword1').errors?.minlength">
              Password too short! Please have a password that is 8 characters or more.
            </div>

          </div>

          <div
            *ngIf="(registerMentorForm.get('registerPassword2').invalid && 
                      (registerMentorForm.get('registerPassword2').dirty || registerMentorForm.get('registerPassword2').touched))"
            style="color: #cc0000">

            <div *ngIf="registerMentorForm.get('registerPassword2').errors?.confirmPwdValidator">Passwords do not
              match!
            </div>
          </div>

          <button type="submit" class="button" [disabled]="registerMentorForm.invalid || isSubmitButtonDisabled">Register</button>

        </form>
      </div>

    </div>
    <div class="popup-form-footer">
      <ul>
        <li><a class="recaptcha-no-top" (click)="showBringAsvabToYourSchool()">How can I bring the ASVAB CEP to my school?</a></li>
      </ul>
    </div>
  </div>
</div>