<div class="occufind faq">
    <!-- <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div> -->
  	<app-header></app-header>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="large-3 large-push-9 columns">
				<p class="caps">FAQs</p>
			</div>
			<div class="large-9 large-pull-3 columns">
				<ul id="sub-nav" class="menu">
					<!-- <li><a href=""><i class="fa fa-caret-left"></i> Back To [page title]</a></li> -->
				</ul>
			</div>
		</div>
	</section>
	
	<section id="content-wrap">
		<div class="row">
			<div class="small-12 columns show-for-small-only">
				<div class="left-sub-nav">
					<ul id="steps" class="menu vertical">
						<li class="divider"></li>
					</ul>
				</div>
			</div>
			<section id="main-content" class="medium-9 columns" role="main">
			  <h1 class="job-title">Frequently Asked Questions</h1>
			  <p>For a faster response please see the commonly asked questions &amp; answers, below.</p>
			  
				<h3 class="faq-heading">About ASVAB CEP</h3>
				<mat-accordion id="faq-about" class="mat-expansion-panel-group mat-accordion-right-icon mat-accordion-text" #firstAccordion="matAccordion">
					<div *ngFor="let a of about; let i=index;"> 
						<mat-expansion-panel> 
							<mat-expansion-panel-header [collapsedHeight]="'22px'" [expandedHeight]="'22px'">{{a.title}}</mat-expansion-panel-header> 
							<app-dynamic-content-loader id="dir" class="ac-text-wrap" [text]="a.description"></app-dynamic-content-loader>
							<!-- <dir id="dir" class="ac-text-wrap" [innerHtml]="a.description | safe: 'html'"></dir> -->
						</mat-expansion-panel>
					</div>
				</mat-accordion>
				
				<h3 class="faq-heading">ASVAB Testing</h3>
				<mat-accordion id="faq-testing" class="mat-expansion-panel-group mat-accordion-right-icon mat-accordion-text" #firstAccordion="matAccordion">
					<div *ngFor="let a of testing; let i=index;"> 
						<mat-expansion-panel> 
							<mat-expansion-panel-header [collapsedHeight]="'22px'" [expandedHeight]="'22px'">{{a.title}}</mat-expansion-panel-header> 
							<app-dynamic-content-loader id="dir" class="ac-text-wrap" [text]="a.description"></app-dynamic-content-loader>
							<!-- <dir id="dir" class="ac-text-wrap" [innerHtml]="a.description | safe: 'html'"></dir> -->
						</mat-expansion-panel> 
					</div>
				</mat-accordion>
				
				<h3 class="faq-heading">ASVAB Scores</h3>
				<mat-accordion id="faq-scores" class="mat-expansion-panel-group mat-accordion-right-icon mat-accordion-text" #firstAccordion="matAccordion"> 
					<div *ngFor="let a of score; let i=index;"> 
						<mat-expansion-panel> 
							<mat-expansion-panel-header [collapsedHeight]="'22px'" [expandedHeight]="'22px'">{{a.title}}</mat-expansion-panel-header> 
							<app-dynamic-content-loader id="dir" class="ac-text-wrap" [text]="a.description"></app-dynamic-content-loader>
							<!-- <dir id="dir" class="ac-text-wrap" [innerHtml]="a.description | safe: 'html'"></dir> -->
						</mat-expansion-panel>
					</div>
				</mat-accordion>
				
				<h3 class="faq-heading">Access to ASVAB Career Exploration website</h3>
				<mat-accordion id="faq-access" class="mat-expansion-panel-group mat-accordion-right-icon mat-accordion-text" #firstAccordion="matAccordion"> 
					<div *ngFor="let a of access; let i=index;"> 
						<mat-expansion-panel> 
							<mat-expansion-panel-header [collapsedHeight]="'22px'" [expandedHeight]="'22px'">{{a.title}}</mat-expansion-panel-header> 
							<app-dynamic-content-loader id="dir" class="ac-text-wrap" [text]="a.description"></app-dynamic-content-loader>
							<!-- <dir id="dir" class="ac-text-wrap" [innerHtml]="a.description | safe: 'html'"></dir> -->
						</mat-expansion-panel>
					</div>
				</mat-accordion>
				
				<h3 class="faq-heading">Military Related Questions</h3>
				<mat-accordion id="faq-mil" class="mat-expansion-panel-group mat-accordion-right-icon mat-accordion-text" #firstAccordion="matAccordion"> 
					<div *ngFor="let a of military; let i=index;"> 
						<mat-expansion-panel> 
							<mat-expansion-panel-header [collapsedHeight]="'22px'" [expandedHeight]="'22px'">{{a.title}}</mat-expansion-panel-header> 
							<app-dynamic-content-loader id="dir" class="ac-text-wrap" [text]="a.description"></app-dynamic-content-loader>
							<!-- <dir id="dir" class="ac-text-wrap" [innerHtml]="a.description | safe: 'html'"></dir> -->
						</mat-expansion-panel>
				  </div>
				</mat-accordion>
				</section>
			<aside id="search-sidebar" class="sidebar medium-3 columns">
                <section id="contact-form">
					<form [formGroup]="aFormGroup" class="ng-pristine ng-valid" (submit)="emailUs()">
					   <h2>Contact Us</h2>
                        
						<p>For further assistance, please fill out a contact us form.</p>
                        <p>	
                        	<label class="caps">I am a</label>
                            <select name="userType" formControlName="userType">
															<option value="Student">Student</option>
															<option value="Educator">Educator</option>
															<option value="Parent">Parent</option>
														</select>
							
                            <label class="caps">First Name</label>
                            <input name="firstName" formControlName="firstName" type="text">
							
                            <label class="caps">Last Name</label>
                            <input name="lastName" formControlName="lastName" type="text">
							
                            <label class="caps">Email</label>
                            <input name="email" formControlName="email" type="email">
							
                            <label class="caps">Topic</label>
                            <select name="topics" formControlName="topics">
								<option value="General Questions">General Questions</option>
								<option value="ASVAB CEP Scheduling">ASVAB CEP Scheduling</option>
								<option value="Access Code Issues">Access Code Issues</option>
								<option value="Website Issues">Website Issues</option>
								<option value="I Can't Find What I'm Looking For">I Can't Find What I'm Looking For</option>
								<option value="I Don't Understand My Scores">I Don't Understand My Scores</option>
								<option value="Request A Post-Test Interpretation/Workshop">Request A Post-Test Interpretation/Workshop</option>
								<option value="ASVAB Test Administration Issues">ASVAB Test Administration Issues</option>
								<option value="Merge Accounts">Merge Accounts</option>
							</select>
							
							<label class="caps">Message</label>
							<textarea name="message" formControlName="message">
							</textarea>
							</p>
							<p *ngIf="validation != undefined" style="color: #cc0000">{{validation}}</p>
							<!-- <div vc-recaptcha key="recaptchaKey" [(ngModel)]="recaptchaResponse" style="transform:scale(0.6, 0.6);-webkit-transform:scale(0.6, 0.6);transform-origin:0 0;-webkit-transform-origin:0 0;"></div> -->
							<div class="recaptcha" style="transform:scale(0.63, 0.63);-webkit-transform:scale(0.63, 0.63);transform-origin:0 0;-webkit-transform-origin:0 0;">
								<ngx-recaptcha2  #captchaElem
									[siteKey]="recaptchaKey"
									[useGlobalDomain]="false" 
									formControlName="recaptcha">
								</ngx-recaptcha2>
							</div>
							<button type="submit" class="button" style="width: 100px; margin-top:-20px;" [disabled]="formDisabled">Submit<span [hidden]="!formDisabled" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
						</form>
					</section>
					<p>Submit press and legislative inquiries to: <a href="mailto:asvabcep@gmail.com?subject=Press and legislative inquiries">asvabcep@gmail.com</a></p>
					<p>Contact a local representative by calling 1-800-323-0513.</p>
					<a class="recaptcha-no-top" (click)="openScoreRequestModal()">Request ASVAB Test Scores</a>
		  	</aside>
		</div>
	</section>
	
    <app-footer></app-footer>

  </div>