<div *ngIf="stepOne">
			<div class="modal-header ">
				<button type="button" class="close" mat-dialog-close><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title">Request Your Scores</h3>
<!-- <app-dynamic-content-loader id="dir" class="ac-text-wrap" [text]="recaptchaKey"></app-dynamic-content-loader> -->
			</div>
			<div class="modal-body ">
				<div class="row column">
						<h2>Before Submitting a score Request, <br/>Please consider the following:</h2>
						<p>&nbsp;</p>
						<ul>
							<li>
								ASVAB CEP scores are only <strong class="strong"> available for two years after an individual takes the test.</strong> If you took the test more than two years ago your test scores were removed from the ASVAB CEP system. 
							</li>
							<li><strong>If you took the test within the past three months,</strong> please contact your school counselor for the status of your results.</li>
							<li>MEPCOM can only release test scores to students who took the test, to counselors at schools offering the test, and to parents of students under the age of 18.</li>
							<li>MEPCOM can <strong>only retrieve scores from tests taken in 11th and 12th grade and post-secondary schools.</strong> All 10th grade scores are invalid for enlistment purposes and are not available through the USMIRS database. </li>
						</ul>
						
						<p>&nbsp;</p>
				</div>
			</div>
			<div class="modal-footer " style="text-align:center">
				<button class="button" type="button" (click)="stepTwo = true; stepOne = false;">Continue</button>
					
			</div>
</div>


<!-- Modal 3: Request 2 -->


<div *ngIf="stepTwo">
  <form (submit)="submit()">
			<div class="modal-header ">
				<button mat-dialog-close type="button" class="close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title">Request Your Scores</h3>
			</div>
			<div class="modal-body ">
				<div class="row">
					<div class="medium-9 columns">
						
						  <div class="row column">
						  	<label>I am a: &nbsp; 
							  <select name="userType" [(ngModel)]="userType" [disabled]="formDisabled" required>
							  	<option value="">--- Select One ---</option>
									<option value="Student">Student</option>
									<option value="Parent">Parent</option>
									<option value="Parent">Other</option>
							  </select>
							  <div style="padding-left: 10px;" *ngIf="userType === 'Parent'">Is the student participant under 18? Yes: <input type="radio" name="parentAllow" [value]="true" [(ngModel)]="parentAllow"> No: <input name="parentAllow" [(ngModel)]="parentAllow" type="radio" [value]="false" (click)="notAllowedPopup()" [(ngModel)]="parentAllow"></div>
							</label>
						  </div>
						  <div class="row">
							<div class="medium-6 columns">
								<label for="firstName">
									<input name="firstName" [(ngModel)]="firstName" type="text" style="display: inline-block; width:98%;" placeholder="Student First Name" id="firstName" [disabled]="(this.userType !== 'Student' && !this.parentAllow) || formDisabled">
								</label>
							</div>
							<div class="medium-6 columns">
								<label for="lastName">
									<input name="lastName" [(ngModel)]="lastName" type="text" style="display: inline-block; width:98%;" placeholder="Student Last Name" id="lastName" [disabled]="(this.userType !== 'Student' && !this.parentAllow) || formDisabled">
								</label>
							</div>
						  </div>
						  <div class="row">
							<div class="medium-6 columns">
								<label for="email">
									<input name="email" [(ngModel)]="email" type="email" style="display: inline-block; width:98%;" placeholder="Email" id="email" [disabled]="(this.userType !== 'Student' && !this.parentAllow) || formDisabled">
								</label>
							</div>
						  </div>
						  <div class="row column">
						  	<label for="schoolName">
						  		<input name="schoolName" [(ngModel)]="schoolName" type="text" style="display: inline-block; width:99%;" placeholder="School Name" id="schoolName" [disabled]="(this.userType !== 'Student' && !this.parentAllow) || formDisabled">
						  	</label>
						  </div>
						  <div class="row">
							<div class="medium-6 columns">
								<label for="city">
									<input name="city" [(ngModel)]="city" type="text" style="display: inline-block; width:98%;" placeholder="School City" id="city" [disabled]="(this.userType !== 'Student' && !this.parentAllow) || formDisabled">
								</label>
							</div>
							<div class="medium-6 columns">
								<label for="county">
									<input name="county" [(ngModel)]="county" type="text" style="display: inline-block; width:98%;" placeholder="School County" id="county" ng-required="country == 'US'" [disabled]="(this.userType !== 'Student' && !this.parentAllow) || formDisabled">
								</label>
							</div>							
						  </div>
						  <div class="row">
						  	<div class="medium-6 columns">
						  		<label for="country">
						  			<select name="country" #country1 [(ngModel)]="country" id="country" (change)="resetStateSelection()" [disabled]="(this.userType !== 'Student' && !this.parentAllow) || formDisabled">
						  				<option value="">--Select Country--</option>
						  				<option value="Bahrain">Bahrain</option>
						  				<option value="Belgium">Belgium</option>
						  				<option value="Cuba">Cuba</option>						  				
						  				<option value="Germany">Germany</option>
						  				<option value="Italy">Italy</option>
						  				<option value="Japan">Japan</option>
						  				<option value="Netherlands">Netherlands</option>
						  				<option value="South Korea">South Korea</option>
						  				<option value="Spain">Spain</option>
						  				<option value="UK">United Kingdom</option>
						  				<option value="US">United States of America</option>
						  			</select>
						  		</label>
						  	</div>
						  </div>
						  <div class="row column">
						  	<label for="state">
							  <select name="state" [(ngModel)]="state" id="state" (required)="country === 'US'" [disabled]="(this.userType !== 'Student' && !this.parentAllow) || formDisabled || this.country !== 'US'">
								<option value="">--- Select State ---</option>
								<option value="AL">Alabama</option>
								<option value="AK">Alaska</option>
								<option value="AS">American Samoa</option>
								<option value="AZ">Arizona</option>								
								<option value="AR">Arkansas</option>																
								<option value="CA">California</option>
								<option value="CO">Colorado</option>
								<option value="CT">Connecticut</option>
								<option value="DE">Delaware</option>
								<option value="DC">District Of Columbia</option>
								<option value="FL">Florida</option>
								<option value="GA">Georgia</option>
								<option value="GU">Guam</option>
								<option value="HI">Hawaii</option>
								<option value="ID">Idaho</option>
								<option value="IL">Illinois</option>
								<option value="IN">Indiana</option>
								<option value="IA">Iowa</option>
								<option value="KS">Kansas</option>
								<option value="KY">Kentucky</option>
								<option value="LA">Louisiana</option>
								<option value="ME">Maine</option>
								<option value="MD">Maryland</option>
								<option value="MA">Massachusetts</option>
								<option value="MI">Michigan</option>
								<option value="MN">Minnesota</option>
								<option value="MS">Mississippi</option>
								<option value="MO">Missouri</option>
								<option value="MT">Montana</option>
								<option value="NE">Nebraska</option>
								<option value="NV">Nevada</option>
								<option value="NH">New Hampshire</option>
								<option value="NJ">New Jersey</option>
								<option value="NM">New Mexico</option>
								<option value="NY">New York</option>
								<option value="NC">North Carolina</option>
								<option value="ND">North Dakota</option>
								<option value="MP">Northern Mariana Islands</option>
								<option value="OH">Ohio</option>
								<option value="OK">Oklahoma</option>
								<option value="OR">Oregon</option>
								<option value="PA">Pennsylvania</option>
								<option value="PR">Puerto Rico</option>
								<option value="RI">Rhode Island</option>
								<option value="SC">South Carolina</option>
								<option value="SD">South Dakota</option>
								<option value="TN">Tennessee</option>
								<option value="TX">Texas</option>
								<option value="UT">Utah</option>
								<option value="VI">U.S. Virgin Islands</option>
								<option value="VT">Vermont</option>
								<option value="VA">Virginia</option>
								<option value="WA">Washington</option>
								<option value="WV">West Virginia</option>
								<option value="WI">Wisconsin</option>
								<option value="WY">Wyoming</option>
							  </select>
							</label>
						  </div>		
						  <div class="row">
							<div class="medium-6 columns">
								<label for="dt">
									Approximate Test Date: &nbsp;
									<input matInput name="dt" [(ngModel)]="dt" type="date" placeholder="mm/yyyy" style="display:inline-block;width:63%;" id="dt" [disabled]="(this.userType !== 'Student' && !this.parentAllow) || formDisabled">
								</label>								
							</div>
							</div>
							<div class="row column">
						  	<label for="regGradeLevel">What was your grade level when you took the ASVAB:
							  <select name="regGradeLevel" style="width: 70%" [(ngModel)]="regGradeLevel" id="regGradeLevel" (required)="true" [disabled]="(this.userType !== 'Student' && !this.parentAllow) || formDisabled">
									<option value="">--- Select Grade Level * ---</option>
									<option value="10">High School Sophomore, 10th grade</option>
									<option value="11">High School Junior, 11th grade</option>
									<option value="12">High School Senior, 12th grade</option>
									<option value="13">First Year Post-secondary, 13th grade</option>
									<option value="14">Second Year Post-secondary, 14th grade</option>
									<option value="15">Third Year Post-secondary, 15th grade</option>
									<option value="0">Other</option>
								</select>
							</label>
						  </div>	
						  <div class="row column">
						  	<textarea name="message" [(ngModel)]="message" placeholder="Additional Message (optional)" [disabled]="(this.userType !== 'Student' && !this.parentAllow) || formDisabled"></textarea>
						  </div>
						  
						  <div class="row column" *ngIf="validation != undefined" style="color: #cc0000">
						  {{validation}}
						  </div>
						  
						  <div class="row column" fxLayout="row" fxLayout.xs="column">
						  	<!-- <div vc-recaptcha key="recaptchaKey" ng-model="recaptchaResponse" on-create="onWidgetCreate(1)" style="transform:scale(0.6, 0.6);-webkit-transform:scale(0.6, 0.6);transform-origin:0 0;-webkit-transform-origin:0 0;"></div> -->
								<div fxFlex="50%;" fxFlex.xs="100%">
									<div class="recaptcha" style="transform:scale(0.70, 0.70);-webkit-transform:scale(0.70, 0.70);transform-origin:0 0;-webkit-transform-origin:0 0;">
									<ngx-recaptcha2  #captchaElem
									  name="captchaElem"
									  [siteKey]="recaptchaKey"
										[useGlobalDomain]="false" 
										[(ngModel)]="recaptchaResponse">
									</ngx-recaptcha2>
									</div>
								</div>
						  </div>
  						<span>All fields are required</span>
					</div>
				</div>
				
			</div>
			<div class="modal-footer " style="text-align:center">
				<button class="button" type="submit" [disabled]="(userType != 'Student' && !parentAllow) || formDisabled">Continue<span [hidden]="!working" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
			</div>
		</form>
</div>


<!-- Modal 1: Notes -->
	
	<div *ngIf="stepThree">
			<div class="modal-header ">
				<button mat-dialog-close type="button" class="close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title">Request Your Scores</h3>
			</div>

			<div style="text-align: center; margin: 100px 0;">
				<h2>Your Request has been submitted. </h2>
				
				<h4 style="margin: 0 auto; max-width: 70%; line-height: 1.5; background: none">{{scoreRequestResponse}}</h4>
			</div>
					
			<div class="modal-footer " style="text-align:center">
				<button mat-dialog-close class="button" type="button"
					(click)="routeToBaseUrl()">Close</button>
			</div>
</div>