.text-blue {
    color: #2F2C69;
}
.occufind #search-list table a:before {
    display: none;
}
#search-sidebar {
    .checkbox-wrap {
        float: right;

        
    }
    
    .icon:after, 
    .icon-hotjob {
        margin-right: 10px;
        width: 20px;
    }
    
    #filter-category > span,
    .book-select-input > span {
        display: inline-block;
        width: 100%;
        padding: 0 10px 5px 0;
    }
    
    #filter-interest {
        .occufind-check-table {
            width: 100%;

            .text-l-gray {
                opacity: 0.5
            }

            tbody, thead, tfoot {
                background: transparent;
                border: none;

                th {
                    font-weight: normal;
                    padding-bottom: 10px !important;
                }

                th, td {
                    padding: 0.125rem 0;
                    vertical-align: bottom;
                }

                tr:nth-child(even) {
                    background-color: transparent;
                }
            }
        }
    }
}

aside {
    section {
        overflow: inherit !important;
    }
}

a.explain.alt {
    background: url('/assets/images/explore_search/question_rounded.svg');
    background-size: cover;
    width: 17px;
    height: 17px;
    float: none;
    margin-left: 8px;
    margin-right: 0;
}

.filter_select_checkbox_wrapper {
    border: 1px solid #979797;
    padding: 15px;
}

.select_with_checkbox_wrapper {
    width: 100%;
    margin-bottom: 0;

    thead {
        background-color: transparent;
        border: none;

        th {
            padding-left: 0;
            padding-right: 0;
        }
    }

    tbody {
        background-color: transparent;

        tr {
            background-color: transparent;
        }
    }

    .select_with_checkbox {
        max-width: 233px;
        width: 100%;
        color: #4A4A4A;
        position: relative;
        margin-bottom: 10px !important;
    
        .custom_select_dropdown {
            border: 1px solid #979797;
            color: #4A4A4A;
            width: 100%;
            text-align: left;
            background-color: #fff;
            padding: 10px 25px 10px 10px;
            position: relative;
    
            &:focus {
                outline: none;
            }
    
            &:after {
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 6px solid #C3D2DA;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
                content: "";
                z-index: 1;
                pointer-events: none;
            }
        }
    
        table {
            position: absolute;
            left: 0;
            top: 100%;
            background-color: #fff;
            border: 1px solid #979797;
            border-top: 0;
            width: 100%;
            z-index: 2;
            padding-top: 10px;
            padding-bottom: 10px;
            display: none;
    
            &.active {
                display: block;
            }

            tbody {

                tr {
                    background-color: transparent;
                    
                    td:first-child:not(:last-child) {
                        padding: 0;
                    }
                }
            }
        }
    }
}


