.text-center {
    text-align: center;
}

.small-6 {
    @media (max-width: 767px) {
        width: 50%;
    }
}

.x-small-12 {
    @media (max-width: 479px) {
        width: 100%;
    }
}

.page_back_link {
    border-bottom: 1px solid #BDBDBD;
    display: block;
    line-height: normal;
    padding: 10px 0;
    margin-bottom: 10px;
}
h2 {
    text-transform: inherit;
    margin-bottom: 30px;
}
form {

    &.occupation_form {
        // border-bottom: 1px solid #BDBDBD;
    }

    .form-group {
        margin-bottom: 10px;
    }

    select {
        font-size: 14px;
        height: 30px;
        width: 100%;
        border-radius: 3px;
        margin-bottom: 0;
    }
    .form_select {
        position: relative;
        max-width: 462px;
        width: 100%;
        display: inline-block;

        &:after {
            width: 0; 
            height: 0; 
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #C3D2DA;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            content: "";
            z-index: 98;
            pointer-events: none;
        }

        select {
            margin: 0;
            -moz-appearance:none; /* Firefox */
            -webkit-appearance:none; /* Safari and Chrome */
            appearance:none;                  
            background-image: none;
            color: #C3D2DA;
        }

        select::-ms-expand {
            display: none;
        }
    }

    .checkbox-tick {
        display: flex;
        align-items: flex-start;

        input {
            margin-top: 4px;
            margin-bottom: 7px;
        }

        label {
            vertical-align: middle;

            &:empty {
                display: none;
            }
        }
        span {
            margin-left: 8px;
        }
    } 

    .button {
        min-width: 146px;
        padding: 12px;
        margin-top: 30px;
        margin-right: 100px;

        @media (max-width: 767px) {
            margin-left: auto;
            margin-right: auto;
        }
    
    }
}
.pathway_checkbox_wrapper {
    margin-top: 20px;
    margin-bottom: 50px;
}



// High School Modal
.edit_plan_box {
    border: 1px solid #979797;

    .p_20 {
        padding: 20px;
    }
    .mb_30 {
        margin-bottom: 30px;
    }
    .mr_50 {
        margin-right: 50px;
    }

    .d_inline_block {
        display: inline-block;
    }

    .row {
        position: relative;
        margin-left: -7px;
        margin-right: -7px;
        
        .columns {
            padding: 0 7px;
        }
    }

    .form-group {
        width: 100%;

        label {
            font-size: 14px;
            font-weight: bold;
            vertical-align: middle;
        }
    }
    
    .add_new_task {
        font-size: 14px;
    }

    .button {
        padding: 6px 29px;
        margin: 0 auto;
    }

    .type_of_course {
        position: relative;
    }

    .remove_row {
        position: absolute;
        right: 30px;
        top: 25px;

        @media (max-width: 639px) {
            top: 0;
            right: 0;
        }
    }
}

select.create-plan-select {
    position: relative;
    width: 100%;
    display: inline-block;
    margin-left: 20px;
    height:30px;
    margin: 0;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none; 
    background-color: white;

    select::-ms-expand {
        display: none;
    }

    option:disabled{
        color: #C3D2DA;
    }
}