<div id="portfolio" class="occufind">
  <app-header></app-header>
  <app-my-asvab-header></app-my-asvab-header>

  <section id="content-wrap" class="left-nav-expanded-wrap explore">
    <div class="row">
      <app-left-navigation-v2-collapsed [selectedTab]="'plan'"></app-left-navigation-v2-collapsed>
      <section id="main-content" class="left-navigation-condensed" role="main">
        <app-my-top-results-collapsed [collapsedVersion]="'v2'"></app-my-top-results-collapsed>

        <div id="left-nav-content-wrap">

          <a routerLink="/plan-your-future" class="page_back_link">&lt; Back to Plan for your future</a>
          <h2>Create A Plan</h2>
          <p>Select an occupation to start your plan.</p>
          <form class="occupation_form" (submit)="createPlan()" name="createPlanForm">

            <div class="row">
              <div class="column small-9 end">
                <div class="form-group">
                  <div>
                    <select class="create-plan-select" name="occupation" [(ngModel)]="occupation"
                      (change)="occupationWasChanged()">
                      <option [ngValue]="null" disabled>Select one</option>
                      <option *ngFor="let o of favoriteList" [ngValue]="o.onetSocCd">
                        {{o.title}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row pathway_checkbox_wrapper">
              <div class="columns medium-3">
                <p>
                  Select a pathway.<br>
                  Select all that apply
                </p>
              </div>
              <div class="columns medium-9">
                <div class="row">
                  <div class="column small-6">
                    <div class="form-group mb-0">
                      <div class="checkbox-tick">
                        <input type="checkbox" name="certificate" (change)="checkChanged($event.target.checked)"
                          [(ngModel)]="certificate">
                        <label class="styled-checkbox-label" for="certificate"></label>
                        <span>Certificate </span>
                      </div>
                    </div>
                  </div>
                  <div class="column small-6">
                    <div class="form-group mb-0">
                      <div class="checkbox-tick">
                        <input type="checkbox" name="military" (change)="checkChanged($event.target.checked)"
                          [(ngModel)]="military">
                        <label class="styled-checkbox-label" for="military"></label>
                        <span>Military</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="column small-6">
                    <div class="form-group mb-0">
                      <div class="checkbox-tick">
                        <input type="checkbox" name="technicalSchool" (change)="checkChanged($event.target.checked)"
                          [(ngModel)]="technicalSchool">
                        <label class="styled-checkbox-label" for="technicalSchool"></label>
                        <span>Technical School</span>
                      </div>
                    </div>
                  </div>
                  <div class="column small-6">
                    <div class="form-group mb-0">
                      <div class="checkbox-tick">
                        <input type="checkbox" name="workBasedLearning" (change)="checkChanged($event.target.checked)"
                          [(ngModel)]="workBasedLearning">
                        <label class="styled-checkbox-label" for="workBasedLearning"></label>
                        <span>Work Based Learning</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="column small-6">
                    <div class="form-group mb-0">
                      <div class="checkbox-tick">
                        <input type="checkbox" name="associatesDegree" (change)="checkChanged($event.target.checked)"
                          [(ngModel)]="associatesDegree">
                        <label class="styled-checkbox-label" for="associatesDegree"></label>
                        <span>Associate’s degree (2 year)</span>
                      </div>
                    </div>
                  </div>
                  <div class="column small-6">
                    <div class="form-group mb-0">
                      <div class="checkbox-tick">
                        <input type="checkbox" name="vocationalTraining" (change)="checkChanged($event.target.checked)"
                          [(ngModel)]="vocationalTraining">
                        <label class="styled-checkbox-label" for="vocationalTraining"></label>
                        <span>Vocational training</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="column small-6">
                    <div class="form-group mb-0">
                      <div class="checkbox-tick">
                        <input type="checkbox" name="bachelorsDegree" (change)="checkChanged($event.target.checked)"
                          [(ngModel)]="bachelorsDegree">
                        <label class="styled-checkbox-label" for="bachelorsDegree"></label>
                        <span>Bachelor’s degree (4 year)</span>
                      </div>
                    </div>
                  </div>
                  <div class="column small-6">
                    <div class="form-group mb-0">
                      <div class="checkbox-tick">
                        <input type="checkbox" name="careerTechnicalEducation"
                          (change)="checkChanged($event.target.checked)" [(ngModel)]="careerTechnicalEducation">
                        <label class="styled-checkbox-label" for="careerTechnicalEducation"></label>
                        <span>Career and Technical Education</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="column small-6">
                    <div class="form-group mb-0">
                      <div class="checkbox-tick">
                        <input type="checkbox" name="advanceDegree" (change)="checkChanged($event.target.checked)"
                          [(ngModel)]="advanceDegree">
                        <label class="styled-checkbox-label" for="advanceDegree"></label>
                        <span>Advanced degree <br /> (include master’s degree, and Ph.D., M.D., or J.D. (law
                          degree))</span>
                      </div>
                    </div>
                  </div>
                  <div class="column small-6">
                    <div class="form-group mb-0">
                      <div class="checkbox-tick">
                        <input type="checkbox" name="gapYear" (change)="checkChanged($event.target.checked)"
                          [(ngModel)]="gapYear">
                        <label class="styled-checkbox-label" for="gapYear"></label>
                        <span>Gap Year</span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="columns medium-12 text-center">
                  <button type="submit" class="button" style="margin-left:auto;margin-right: auto;"
                    [disabled]="(numChecked == 0) || !(hasOnetSocCd) || isSaving">NEXT</button>
                </div>
              </div>
            </div>

            <div class='row'>
              <div class="columns small-12 text-center">
                <p>
                  Straight to and through a 4-year college after high school isn't for everyone. Also, paths are
                  not mutually exclusive.
                  Have you considered deferring your college enrollment to take a gap year? Maybe you're headed to
                  a 2-year college then onto a 4-year institution.
                  Are you interested in joining the workforce? Are you going to start a business or learn a trade?
                  Are you called to serve?
                  Before, during or after getting your education? Check all that apply!
                </p>
              </div>
            </div>

          </form>

        </div>
        <!-- <app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile> -->
      </section>
    </div>
  </section>

	<app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
  <app-footer></app-footer>
</div>