<div class="mentor-dashboard-filter-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Filters student list</h3>
      <button class="close-button" (click)="close()" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <ng-container *ngIf="!isLoading">
      <div class="modal-content">

        <ng-container *ngIf="availableFilters.groups?.length > 0">
          <div class="row">
            <div class="column small-12">
              <b>Groups</b>
            </div>
          </div>
          <div class="row" *ngFor="let group of availableFilters.groups">
            <div class="column small-12">
              <label class="filter-label">
                <input type="checkbox" (change)="updateSelectedGroupFilter(group, $event.target.checked)"
                  [checked]="getSelectedGroupFilter(group)" />
                {{group}}
              </label>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="availableFilters.graduationDates?.length > 0">
          <div class="row">
            <div class="column small-12">
              <b>Student's Graduation Date</b>
            </div>
          </div>
          <div class="row" *ngFor="let gradDate of availableFilters.graduationDates">
            <div class="column small-12">
              <label class="filter-label">
                <input type="checkbox" (change)="updateSelectedGraduationDates(gradDate, $event.target.checked)"
                  [checked]="getSelectedGraduationDateFilter(gradDate)" />
                {{gradDate}}
              </label>
            </div>
          </div>
        </ng-container>

        <div class="row">
          <div class="column small-12">
            <b>Student's name</b>
          </div>
        </div>
        <div class="row">
          <div class="column small-12">
            <input type="text" [(ngModel)]="selectedFilters.studentName" />
          </div>
        </div>

        <ng-container *ngIf="availableFilters.educationLevels?.length > 0">
          <div class="row">
            <div class="column small-12">
              <b>Education Level</b>
            </div>
          </div>
          <div class="row">
            <div class="column small-2 end" *ngFor="let educationLevel of availableFilters.educationLevels">
              <label>
                <input type="checkbox" (change)="updateSelectedEducationLevels(educationLevel, $event.target.checked)"
                  [checked]="getSelectedEducationLevelFilter(educationLevel)" />
                {{educationLevel}}
              </label>
            </div>
          </div>

        </ng-container>

        <ng-container *ngIf="availableFilters.graduationDates?.length > 0">
          <div class="row">
            <div class="column small-12">
              <b>Gender</b>
            </div>
          </div>
          <div class="row">
            <div class="column small-12">
              <select name="genderFilter" [(ngModel)]="selectedFilters.genderFilter">
                <option value="">--- Select gender ---</option>
                <option *ngFor="let gender of availableFilters.gender">
                  {{gender}}
                </option>
              </select>
            </div>
          </div>
        </ng-container>


        <div class="row">
          <div class="column small-6">
            <b>ASVAB Administered Month</b>
          </div>
          <div class="column small-6">
            <b>ASVAB Administered Year</b>
          </div>
        </div>
        <div class="row">
          <div class="column small-6">
            <select [(ngModel)]="selectedFilters.asvabAdminMonth">
              <option value="">--- Select month ---</option>
              <option *ngFor="let month of availableFilters.asvabAdminMonth" [ngValue]="month.value">
                {{month.text}}
              </option>
            </select>
          </div>
          <div class="column small-6">
            <select [(ngModel)]="selectedFilters.asvabAdminYear">
              <option value="">--- Select year ---</option>
              <option *ngFor="let year of availableFilters.asvabAdminYear" [ngValue]="year">
                {{year}}
              </option>
            </select>
          </div>
        </div>

        <div class="text-center mt_50 mb_30">
          <button class="button" type="submit" [disabled]="isSaving || !hasFilter()" (click)="applyFilters()">APPLY
            <span *ngIf="isSaving" id="save-indicator"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></span>
          </button>
        </div>

      </div>
    </ng-container>

    <div *ngIf="isLoading">
      <div class="row">
        <div class="small-12 column text-center">
          <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
          Loading...
        </div>
      </div>
    </div>
  </div>
</div>