.ml_auto {
    margin-left: auto;
}

.p-10 {
    padding: 10px;
}

.mb_10 {
    margin-top: 10px;
}

.mb_30 {
    margin-bottom: 30px;
}

.mt_50 {
    margin-top: 50px;
}

.w-100 {
    width: 100%;
}

.mentor-dashboard-filter-dialog {
    color: #4A4A4A;

    .modal-header {
        position: relative;

        .close-button {
            color: #000;
            top: 50%;
            transform: translateY(-50%);
        }
        h3{
            font-size: 16px !important;
            color: #505D68 !important;
            text-transform: inherit;
            padding: 6px 10px !important;
            background-color: #e8eaeb;
        }
    }
    .modal-content {

        border: none;
        
        label {
            color: #4A4A4A;
            min-width: 40px;
            margin-right: 10px;
            margin-bottom: 5px;
            &:before{
                list-style: none;
                content:none;
            }
        }

        input, select {
            // height: 30px;
        }

        .form_select {
            position: relative;
            width: 100%;

            &:after {
                width: 0; 
                height: 0; 
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 6px solid #C3D2DA;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
                content: "";
                z-index: 1;
                pointer-events: none;
            }

            select {
                margin: 0;
                -moz-appearance:none; /* Firefox */
                -webkit-appearance:none; /* Safari and Chrome */
                appearance:none;                  
                background-image: none;
                color: #C3D2DA;
                background-color: #fff;
                font-size: 14px;
                width: 100%;
            }

            select::-ms-expand {
                display: none;
            }
        }

        ul{
            list-style: none;

            li{
                &:before{
                    list-style: none !important;
                    content:none;
                }
            }
        }
        p {
            font-size: 14px;
        }

        .button {
            font-size: 14px;
            min-width: 126px;
            margin: 0;

            + .button {
                margin-left: 20px;
            }
        }

        select{
            color: #8a8a8a !important;
        }

        option:disabled{
            color: #C3D2DA;
        }

}

}

