<div class="main" style="padding: 1rem; padding-bottom: 50px;">
	<div>

		<div class="modal-header">
			<h3>Licenses</h3>
			<button type="button" class="close-button" data-dismiss="modal" data-close
				(click)='onCancel()'>&times;</button>
			<hr>
		</div>

		<div class="modal-body row">
			<img src="assets/images/cos_poweredby.jpg" align="right">
			<h2>{{occupationTitle}}</h2>
			<select name="mySelect" id="mySelect" style="height: 30px" [(ngModel)]="selectedOption"
				(change)="stateSelection()">
				<option *ngFor="let option of availableOptions" [ngValue]="option">{{option.name}}</option>
			</select> <label>
				<font color="red">{{licensesLabel}}</font>
			</label>
			<hr style="border-width: 0px;">
			<section class="table-pagination row">
				<div class="medium-6 columns">
					Showing {{licensesList.length != 0 ? (((pageIndex-1)*pageSize)+1) : 0}} - {{(pageIndex*pageSize)
					<= licensesList.length ? (pageIndex*pageSize) : licensesList.length}} of {{licensesList.length}}
						Certifications <br>
				</div>
				<div class="medium-6 columns text-right">
					<div id="pagination" class="afternone">
						<ngb-pagination [(page)]="pageIndex" [pageSize]="pageSize" [maxSize]="4"
							[collectionSize]="licensesList.length" [boundaryLinks]="true" size="'lg'">
						</ngb-pagination>
					</div>
				</div>
				<div class="medium-12 columns">
					<hr />
				</div>
			</section>
			<table>
				<tr>
					<th *ngIf="isSelectionMode">
					</th>
					<th>License Name</th>
					<th>Certifying Organization</th>
				</tr>
				<tr *ngFor="let row of licensesList | slice: (pageIndex-1)*pageSize: (pageIndex-1)*pageSize + pageSize">
					<td *ngIf="isSelectionMode">
						<input type="checkbox" (change)="selectionChange(row.Title,$event.target.checked)"
							[checked]="getSelectionChecked(row.Title)" />
					</td>
					<td><a (click)="openLicenseDetail(row)">{{row.Title}}</a></td>
					<td>{{row.LicenseAgency.Name }}<br></td>
				</tr>
			</table>
			<hr>
		</div>
		<div class="modal-footer" style="text-align: center;">
			<button *ngIf="isSelectionMode" class="button" type="submit" (click)="addCerts()"
			[disabled]="licenseList.length == 0">ADD
	  		</button>
		</div>
	</div>
</div>