<div id="fyi" class="occufind">
	<app-header></app-header>
	<app-my-asvab-header></app-my-asvab-header>

	<section id="content-wrap" class="left-nav-expanded-wrap">
		<div class="row">
            <!-- <app-left-navigation></app-left-navigation> -->
            <app-left-navigation-v2-collapsed [selectedTab]="'learn'"></app-left-navigation-v2-collapsed>

			<section id="main-content" class="left-navigation-condensed" role="main">
				<app-my-top-results-collapsed [collapsedVersion]="'v2'"></app-my-top-results-collapsed>

				<div id="left-nav-content-wrap">

                    <div class="row">
                        <div class="medium-8 columns">
                            <h2 class="text-capitalize">Find your Interests directions</h2>


                            <ul>
                                <li>With interest inventories, there are no right or wrong answers.</li>
                                <li>For each of the activities in the FYI, ask yourself if you would like or dislike
                                    doing that activity.</li>
                                <li>Don't be concerned with how well you would do any activity or whether you have the
                                    experience or training to do it.</li>
                                <li>Go with the first answer that comes to mind.</li>
                                <li>If you don't have a strong preference one way or the other, or you are unsure, you
                                    can answer Indifferent.</li>
                            </ul>
                        </div>

                        <ng-container *ngFor="let m of mediaCenterList">
                        <div class="medium-4 columns tutorial" *ngIf="m.positionId == 9">
                            <a class="resource-title" (click)="_utilityService.showVideoDialog('https://www.youtube.com/embed/RM-g73droL4')">{{m.title}}</a> <a
                                *ngIf="m.typeId != 1" (click)="_utilityService.showVideoDialog('https://www.youtube.com/embed/RM-g73droL4')"><img
                                [src]="m.thumbnailUrl"> </a> <a *ngIf="m.typeId == 1"
                                (click)="_utilityService.showVideoDialog('https://www.youtube.com/embed/RM-g73droL4')"><span class="image-wrapper"><img
                                    [src]="m.thumbnailUrl" style="position: relative;"><span id="play-icon"></span></span></a>
                        </div>
                        </ng-container>

                    </div>
                    <div class="row">
                        <div class="medium-8 columns medium-offset-2">
                            <div class="row directions">
                                <div class="medium-4 columns">
                                    Select <strong class="highlight">L</strong> for <strong>Like</strong> (I would like to do
                                    this activity.)
                                </div>
                                <div class="medium-4 columns">
                                    Select <strong class="highlight">I</strong> for <strong>Indifferent</strong> (I don't care
                                    one way or the other.)
                                </div>
                                <div class="medium-4 columns">
                                    Select <strong class="highlight">D</strong> for <strong>Dislike</strong> (I would not like
                                    to do this activity.)
                                </div>
                            </div>
                            <div class="row directions-image">
                                <div class="row">
                                    <section class="table-pagination">
                                        <div class="medium-6 columns">90 Questions Total:</div>
                                        <div class="medium-12 columns">
                                            <hr />
                                        </div>
                                    </section>
                                    <section id="fyi-test" class="medium-12 columns">
                                        <table class="hover">
                                            <tbody>
                                                <tr>
                                                    <td class="num">1.</td>
                                                    <td>Attend an art class</td>
                                                    <td class="highlight"><label>L <input type="radio" name="1"></label></td>
                                                    <td class="highlight"><label>I <input type="radio" name="1"></label></td>
                                                    <td class="highlight"><label>D <input type="radio" name="1"></label></td>
                                                </tr>
                                                <tr>
                                                    <td class="num">2.</td>
                                                    <td>Help children with after-school homework</td>
                                                    <td class="highlight"><label>L <input type="radio" name="2"></label></td>
                                                    <td class="highlight"><label>I <input type="radio" name="2"></label></td>
                                                    <td class="highlight"><label>D <input type="radio" name="2"></label></td>
                                                </tr>
                                                <tr>
                                                    <td class="num">3.</td>
                                                    <td>Investigate stars and black holes</td>
                                                    <td class="highlight"><label>L <input type="radio" name="3"></label></td>
                                                    <td class="highlight"><label>I <input type="radio" name="3"></label></td>
                                                    <td class="highlight"><label>D <input type="radio" name="3"></label></td>
                                                </tr>
                                                <tr>
                                                    <td class="num">4.</td>
                                                    <td>Adjust bicycle gears</td>
                                                    <td class="highlight"><label>L <input type="radio" name="4"></label></td>
                                                    <td class="highlight"><label>I <input type="radio" name="4"></label></td>
                                                    <td class="highlight"><label>D <input type="radio" name="4"></label></td>
                                                </tr>
                                        </table>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p>&nbsp;</p>
                    <p align="center">
                        <br />
                        <a class="button" routerLink="/find-your-interest-test">Let's Get started</a>
                    </p>
                </div>
			</section>

		</div>
		<!-- <app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile> -->
	</section>

	<app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
	<app-footer></app-footer>
</div>