<div class="edit_plan_box mb_30">
  <h3 class="edit-plan">Work Plan</h3>
  <div class="p_20">
    <div>
      <div *ngIf="occupationCertificates.CertList.length > 0">
        <p>Explore certification needed for this occupation. </p>
        <div>
          <a *ngIf="_utilityService.containsPathways(selectedPathways, 'certificate', 'technicalSchool','workBasedLearning', 'vocationalTraining', 'careerTechnicalEducation')"
            (click)="openCertificationList()" class="button">Certifications</a>
          <a *ngIf="_utilityService.containsPathways(selectedPathways,'technicalSchool', 'workBasedLearning', 'vocationalTraining','careerTechnicalEducation')"
            (click)="openLicenseList()" class="button">Licenses</a>
          <a *ngIf="_utilityService.containsPathways(selectedPathways,'workBasedLearning','technicalSchool','vocationalTraining','careerTechnicalEducation')"
            href="https://www.apprenticeship.gov/" target="_blank" class="button">Apprenticeships</a>
        </div>
      </div>
      <p>List any certifications that you are interested in learning more about. </p>
      <div class="form-group ">
        <textarea type="text" class="form-control" rows="1" [(ngModel)]="workPlan"></textarea>
      </div>
      <p>If you are going to apply for immediate employment in an occupation after graduation, talk to
        someone in the job or pick up an application to find out what is required (e.g., specific high
        school courses, experience, qualifications, certifications, specific skills).</p>
    </div>
    <div class="row">
      <div class="column small-12 text-center">
        <button type="submit" class="button" style="padding: 6px 29px" [disabled]="isDisabled() || isSaving"
          (click)="saveWorkPlan()">Save
          <span *ngIf="isSaving" id="save-indicator"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></span>
        </button>
          <div class="success message" *ngIf="wasSaved" >
            <i class="fi-check"></i>Save success!
          </div>
      </div>
    </div>
  </div>
</div>