<div class="edit_plan_box mb_30">
  <h3 class="edit-plan">Military Plan</h3>
  <div class="edit_military_plan p_20" *ngIf="serviceColleges?.length > 0  && !isLoading">
    <ng-container *ngFor="let userMilitaryPlan of userMilitaryPlans; let i = index;">

      <app-user-military-plan [userMilitaryPlan]="userMilitaryPlan"
        [occuMilitaryCareerTitles]="occuMilitaryCareerTitles" [availableJobTitles]="availableJobTitles"
        [favoriteCollegesForROTC]="favoriteCollegesForROTC" [serviceColleges]="serviceColleges" [favoriteCollegesForOccu]="favoriteColleges"
        [occupationDescription]="occupationDescription" [userOccupationPlan]="userOccupationPlan"
        [selectedPathways]="selectedPathways" (onUserMilitaryPlanRemove)="userMilitaryPlanRemoval($event)" 
        (onAutoTasksCreated)="autoTasksCreated($event)" (onAutoCalendarsCreated)="autoCalendarsCreated($event)">
      </app-user-military-plan>

    </ng-container>

  </div>

  <div class="edit_military_plan p_20" *ngIf="isLoading">
    <div class="row">
      <div class="small-12 column text-center">
        <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
        Loading Military Plans...
      </div>
    </div>
  </div>

  <!-- add new military plan -->
  <form *ngIf="addAnotherMilitaryPlan && !isLoading" [formGroup]="newUserMilitaryPlanForm"
    (ngSubmit)="saveNewUserMilitaryPlan()"
    [ngStyle]="{'border-top': userMilitaryPlans?.length > 0 ? '1px solid #cacaca' : 'none'}">
    <div class="edit_military_plan p_20" *ngIf="enlistOptions.enlisted || enlistOptions.officer">
      <div class="row mb_10">
        <div class="column medium-3">
          <strong>I’m interested in:</strong>
        </div>
        <div class="column medium-2 end" *ngIf="enlistOptions.enlisted">
          <div class="form-group">
            <input class="form-check-input" type="radio" id="gridRadios3" value="true" formControlName="isEnlisted">
            <label class="form-check-label ml_5" for="gridRadios3">Enlisted </label>
          </div>
        </div>
        <div class="column medium-2 end" *ngIf="enlistOptions.officer">
          <div class="form-group">
            <input class="form-check-input" type="radio" id="gridRadios4" value="false" formControlName="isEnlisted">
            <label class="form-check-label ml_5" for="gridRadios4">Officer</label>
          </div>
        </div>

        <div class="column medium-5 text-right">
          <a href="https://www.careersinthemilitary.com/options-enlisted-vs-officer" target="_blank">Learn more about
            these options</a>
        </div>
      </div>

      <hr />
      <div class="row mb_10">
        <div class="column medium-12">
          <strong>Service: </strong> (You must select at least 1)
        </div>
      </div>
      <div class="row mb_10">
        <div class="column medium-12">
          <div class="checkbox-tick">
            <input class="styled-checkbox" type="checkbox" id="gridCheck31"
              (click)="setSelectAll($event.target.checked)" formControlName="selectAll" [checked]="serviceCounter==6">
            <label class="styled-checkbox-label" for="gridCheck31"></label>
            <label class="ml_5 mp-label-select" for="gridCheck31">Select All</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column medium-12 end">
          <div class="checkbox-tick" *ngIf="serviceOptions.isArmy">
            <input class="styled-checkbox" type="checkbox" id="gridCheck32x" formControlName="army"
              (change)="serviceCounter = ($event.target.checked) ? serviceCounter+1 : serviceCounter-1;">
            <label class="styled-checkbox-label" for="gridCheck32x"></label>
            <label class="ml_5 mp-label-select" for="gridCheck32x">Army</label>
          </div>
          <div class="checkbox-tick" *ngIf="serviceOptions.isMarines">
            <input class="styled-checkbox" type="checkbox" id="gridCheck33x" formControlName="marinecorps"
              (change)="serviceCounter = ($event.target.checked) ? serviceCounter+1 : serviceCounter-1;">
            <label class="styled-checkbox-label" for="gridCheck33x"></label>
            <label class="ml_5 mp-label-select" for="gridCheck33x">Marine Corps</label>
          </div>
          <div class="checkbox-tick" *ngIf="serviceOptions.isNavy">
            <input class="styled-checkbox" type="checkbox" id="gridCheck34x" formControlName="navy"
              (change)="serviceCounter = ($event.target.checked) ? serviceCounter+1 : serviceCounter-1;">
            <label class="styled-checkbox-label" for="gridCheck34x"></label>
            <label class="ml_5 mp-label-select" for="gridCheck34x">Navy</label>
          </div>
          <div class="checkbox-tick" *ngIf="serviceOptions.isAirForce">
            <input class="styled-checkbox" type="checkbox" id="gridCheck35x" formControlName="airforce"
              (change)="serviceCounter = ($event.target.checked) ? serviceCounter+1 : serviceCounter-1;">
            <label class="styled-checkbox-label" for="gridCheck35x"></label>
            <label class="ml_5 mp-label-select" for="gridCheck35x">Air Force</label>
          </div>
          <div class="checkbox-tick" *ngIf="serviceOptions.isSpaceForce">
            <input class="styled-checkbox" type="checkbox" id="gridCheck36x" formControlName="spaceforce"
              (change)="serviceCounter = ($event.target.checked) ? serviceCounter+1 : serviceCounter-1;">
            <label class="styled-checkbox-label" for="gridCheck36x"></label>
            <label class="ml_5 mp-label-select" for="gridCheck36x">Space Force</label>
          </div>
          <div class="checkbox-tick" *ngIf="serviceOptions.isCoastGuard">
            <input class="styled-checkbox" type="checkbox" id="gridCheck37x" formControlName="coastguard"
              (change)="serviceCounter = ($event.target.checked) ? serviceCounter+1 : serviceCounter-1;">
            <label class="styled-checkbox-label" for="gridCheck37x"></label>
            <label class="ml_5 mp-label-select" for="gridCheck37x">Coast Guard</label>
          </div>
        </div>
      </div>
      <div class="border_top text-center p_20">
        <button class="button mx-auto" type="submit" [disabled]="cannotSubmitNewUserMilitaryPlanForm()">Next</button>
      </div>
    </div>

    <div class="edit_military_plan p_20" *ngIf="!enlistOptions.enlisted && !enlistOptions.officer">
      <div class="row text-center">
        <div class="column small-12">
          No Military Career option exist for selected Occupation. Please try a different Occupation.
        </div>
      </div>
    </div>
  </form>

  <ng-container *ngIf="!isLoading">
    <a class="bottom_add_plan_link border_top" (click)="addAnotherMilitaryPlan = true"
      *ngIf="(userMilitaryPlans && userMilitaryPlans?.length > 0) && !addAnotherMilitaryPlan">
      <strong>Add An Alternate Military Plan&nbsp;<i class="fa fa-plus"></i></strong></a>
  </ng-container>
</div>