.pl_20 {
    padding-left: 20px;
}

.pr_40 {
    padding-right: 40px;
}

.px_10 {
    padding-left: 10px;
    padding-right: 10px;
}

.py_10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.px_20 {
    padding-left: 20px;
    padding-right: 20px;
}

.py_20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pt_10 {
    padding-top: 10px;
}

.ml_10 {
    margin-left: 10px;
}
.ml_20 {
    margin-left: 20px;
}
.ml_30 {
    margin-left: 30px;
}

.mr_10 {
    margin-right: 10px;
}

.mt_10 {
    margin-top: 10px;
}

.mt_neg_20 {
    margin-top: -20px;
}

.bg_light_blue {
    background-color: rgba(90, 79, 183, 0.07);
}

.border_top {
    border-top: 1px solid #CDCDCD;
}

.border_bottom {
    border-bottom: 1px solid #CDCDCD;
}

.border_bottom_dark {
    border-bottom: 2px solid #888888;
}

.float_right {
    float: right;
}

.row_hide {
    display: none;
}

small {
    font-size: 12px;
}

.mw_full {
    max-width: 100%;
}

.non-student-content {
    color: #4A4A4A;
    margin-top: 20px;

    .student_info {
        background-color: #F3F1F1;
        padding: 10px 20px;
        margin-top: 10px;
        margin-bottom: 20px;

        .student_info_content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            p {
                margin-bottom: 5px;
            }
        }
    }

    .about_student_info {

        padding-bottom: 15px;
        @media (max-width: 767px) {
            max-width: 400px;
            min-width: 100%;
            overflow-x: auto;
        }

        table {
            width: 100%;
            margin: 0;

            thead {
                background-color: transparent;
                border-width: 0 0 1px 0;
                border-color: #888888;

                th {
                    color: #4a4a4a;
                    padding: 5px 10px;

                    p {
                        display: inline-block;
                        position: relative;
                        margin: 0;
        
                        + p {
                            @media (min-width: 640px) {
                                margin-left: 25px;
                                padding-left: 25px;

                                &:before {
                                    content: '';
                                    position: absolute;
                                    left: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    width: 1px;
                                    height: 15px;
                                    display: block;
                                    background-color: #4A4A4A;
                                }
                            }

                            @media (max-width: 639px) {
                                display: block;
                            }
                        }
                        
                        span {
                            font-weight: normal;
                        }
                    }
                }
            }

            tbody {

                tr {
                    border-bottom: 1px solid #888888;

                    &:last-child {
                        border-bottom: none;
                    }

                    &:nth-child(even) {
                        background-color: transparent;
                    }

                    td {
                        padding: 5px 10px;

                        @media (max-width: 639px) {
                            padding: 3px;
                        }
                            
                        &:last-child {
                            padding: 0;
                            text-align: center;
                        }

                        table {
                            tr {
                                border-bottom: none;

                                td {
                                    &:last-child {
                                        padding: 5px 10px;
                                        text-align: left;
                                    }
                                }
                            }
                        }

                        p {
                            margin-bottom: 0;
                        }

                        ul {
                            margin-left: 11px;

                            li {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .student_review_section {

        + .student_review_section {
            margin-top: 40px;
        }
                
        h5 {
            background-color: #F3F1F1;
            border-bottom: 1px solid #888888;
            font-size: 14px;
            font-weight: bold;
            padding: 6px 5px;
            margin-bottom: 2px;
        }

        .student_review_wrapper {
            + .student_review_wrapper {
                border-top: 1px solid #CDCDCD;
            }

            .student_review_title {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 6px 0;

                .toggle_arrow {
                    width: 0px;
                    height: 0px;
                    border-top: 7px solid transparent;
                    border-bottom: 7px solid transparent;
                    border-left: 10px solid #000;
                    margin: 7px 20px 0 0;
                    transition: all 0.3s ease-in-out 0s;
                }

                .not_started {
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border: 1px solid #B1B1B1;
                    border-radius: 50%;
                }

                .ready_for_review {
                    width: 10px;
                    height: 10px;
                    border: 1px solid #3C3C3C;
                    display: inline-block;
                    border-radius: 50%;
                    position: relative;
                    background-color: #27ACAD;
                }
        
                .in_progress {
                    width: 10px;
                    height: 10px;
                    border: 1px solid #3C3C3C;
                    display: inline-block;
                    border-radius: 50%;
                    position: relative;
        
                    &:before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        left: 50%;
                        width: 4px;
                        height: 4px;
                        display: block;
                        background-color: #27ACAD;
                        border-radius: 50%;
                    }
                }

                .completed,.checkmark {
                    display: inline-block;
                    transform: rotate(45deg);
                    height: 11px;
                    width: 6px;
                    border-bottom: 2px solid #000;
                    border-right: 2px solid #000;
                }

                .student_review_specs {

                    @media (max-width: 639px) {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        margin-top: 10px;
                    }
                }

                p {
                    display: flex;
                    align-items: center;
                    margin-right: auto;
                    margin-bottom: 0;
                }

                .message_count_link {
                    margin-right: 20px;

                    .message_count {
                        display: inline-block;
                        background-image: url('/assets/images/dashboard/message_icon.svg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        min-width: 20px;
                        min-height: 20px;
                        font-size: 13px;
                        font-weight: bold;
                        color: #fff;
                        text-align: center;
                    }
                }

                .student_add_comment {
                    margin-right: 40px;

                    @media (max-width: 639px) {
                        margin-right: auto;
                    }
                }

                .student_report_date {
                    margin-right: 20px;
                }
            }

            .student_review_content {
                display: none;
                // border-top: 1px solid #CDCDCD;
                padding-top: 10px;

                .student_review_item {

                    + .student_review_item {
                        // border-top: 1px solid #CDCDCD;
                        // padding-top: 10px;
                        margin-top: 5px;
                    }
            
                    .reviewed_msg_text {
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        padding: 5px 33px;

                        @media (max-width: 639px) {
                            display: block;
                        }

                        .message_count_link {
                            position: absolute;
                            left: 0;
                            top: 5px;

                            @media (max-width: 639px) {
                                top: 8px;
                            }

                            .message_count {
                                display: inline-block;
                                background-image: url('/assets/images/dashboard/message_icon.svg');
                                background-size: cover;
                                background-repeat: no-repeat;
                                min-width: 20px;
                                min-height: 20px;
                                font-size: 13px;
                                font-weight: bold;
                                color: #fff;
                                text-align: center;
                            }
                        }

                        .reviewed_msg_time {
                            color: #7E7E7E;
                            font-size: 12px;
                        }

                        .reviewed_msg_close {
                            position: absolute;
                            right: 0;
                            top: 5px;
                            color: #7C828C;
                            font-size: 22px;
                            line-height: 17px;

                            @media (max-width: 639px) {
                                top: 8px;
                            }
                        }

                        p {

                            &:first-of-type {
                                max-width: 400px;
                                width: 100%;
                            }

                            a {
                                margin-left: 50px;
                            }
                        }
                        
                    }

                    .reviewed_msg_checkmark_text {
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        padding: 0 33px;
                        margin-bottom: 5px;
                        color: #999999;

                        .reviewed_msg_checkmark {
                            position: absolute;
                            left: 0;
                            top: 1px;
                            color: #999999;
                        }
                    }
                    

                    p {
                        margin-bottom: 0;
                    }
                }

                .student_review_read_wrapper {
                    display: flex;
                    justify-content: space-between;
                    padding: 6px 15px 6px 3px;
    
                    .student_review_read {
                        display: flex;
        
                        .student_review_checkbox {
                            display: flex;
                            align-items: center;
                        }
        
                        a {
                            margin-left: 15px;
                        }
                    }
                }

                > .student_review_read_wrapper {
                    border-top: 1px solid #888888;
                }
            }

            &.active {
                .toggle_arrow {
                    transform: rotate(90deg);
                }

                .student_review_content {
                    display: block;
                    margin-bottom: 40px;
                }
            }
            
        }
    }

    .mentor-detail-group {
        position: relative;

        
        .link_disabled {
            opacity: 0.5;
            pointer-events: none;
        }

        .mentor-detail-item {
            .mentor-detail-details {
                font-size: 14px;
            }
        }

        .progress_status_list {
            position: absolute;
            left: 20px;
            top: 10px;
            margin: 0;

            li {
                &:before {
                    display: none;
                }
            }

            .not_started {
                display: inline-block;
                width: 20px;
                height: 20px;
                border: 1px solid #B1B1B1;
                border-radius: 50%;
            }
    
            .ready_for_review {
                width: 20px;
                height: 20px;
                border: 1px solid #3C3C3C;
                display: inline-block;
                border-radius: 50%;
                position: relative;
                background-color: #27ACAD;
            }
    
            .in_progress {
                width: 20px;
                height: 20px;
                border: 1px solid #3C3C3C;
                display: inline-block;
                border-radius: 50%;
                position: relative;
    
                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    left: 50%;
                    width: 8px;
                    height: 8px;
                    display: block;
                    background-color: #27ACAD;
                    border-radius: 50%;
                }
            }
    
            .completed,.checkmark {
                display: inline-block;
                transform: rotate(45deg);
                height: 15px;
                width: 8px;
                border-bottom: 2px solid #000;
                border-right: 2px solid #000;
            }
        }
    }

    .mentor-detail-item {

        .mentor-detail-item-title {
            position: relative;
            padding-right: 40px;

            .toggle_arrow {
                width: 0px;
                height: 0px;
                border-top: transparent;
                border-left: 9px solid transparent;
                border-right: 9px solid transparent;
                border-bottom: 11px solid #2E2A6A;
                transition: all 0.3s ease-in-out 0s;
                display: inline-block;
                position: absolute;
                top: 10px;
                right: 0;
                
                &.active {
                    transform: rotate(180deg);
                }
            }
        }

        .message_count_link {
            position: absolute;
            left: -18px;
            top: 0;

            .message_count {
                display: inline-block;
                background-image: url('/assets/images/dashboard/message_icon.svg');
                background-size: cover;
                background-repeat: no-repeat;
                min-width: 20px;
                min-height: 20px;
                font-size: 13px;
                font-weight: bold;
                color: #fff;
                text-align: center;
            }
        }

        .mentor-detail-details {
            padding-top: 20px;
        }
    }
}


.mentor-student-download-menu{
    position: absolute;
    z-index: 1;
    background-color:white;
    border-left:1px solid #999999;
    border-right:1px solid #999999;
    border-bottom:1px solid #999999;
    padding:10px;
    right:0;
    margin-top:1px;
    margin-right:15px;

    li:before{
        display:none !important;
    }

    ul{
        margin: 0 !important;
    }
}

a.student_report_download{
    border-left:1px solid white;
    border-right:1px solid white;
    padding-left:5px;
    padding-right:5px;
    padding-top:8px;
    padding-bottom: 6px;
    border-bottom-width: 2px;
    border-top-width: 0px;
}

a.student_report_download.expanded{
    border-left:1px solid #999;
    border-right:1px solid #999;
    border-bottom: 1px solid white;
    padding-left:5px;
    padding-right:5px;
    padding-top:8px;
    padding-bottom: 6px;
    border-bottom-width: 2px;
    border-top-width: 0px;
}

.padding-0{
    padding:0 !important;
}

.student_review_specs{
    margin-top:5px;
    margin-bottom:5px;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.unread_item{
    font-weight: bold;
}

.reviewed_msg_time{
    font-weight: normal !important;
}


.flex-ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.max-width-50 {
    max-width: 50%;
}