<div id="portfolio" class="occufind">
  <app-header></app-header>
  <app-my-asvab-header></app-my-asvab-header>

  <section *ngIf="_utilityService.mobileOrTablet()">
    <div id="portfolio" class="occufind">
  <app-header></app-header>
  <app-my-asvab-header></app-my-asvab-header>

  <div class="non-student-content bg-white">

    <div class="bg-light-gray border_bottom_dark px_20 py_20">
      <p><a routerLink="/mentor-dashboard"><strong>BACK TO LIST</strong></a></p>
      <h5><strong>{{studentName}}</strong></h5>
      <div class="font-16">
        <p class="mb-0"><strong>School:</strong> {{student.schoolName}}</p>
        <p class="mb-0"><strong>Grade:</strong> {{student.grade}}</p>
        <p class="mb-0"><strong>Graduation:</strong> {{student.administeredYear}}-{{student.administeredYear+1}}</p>
        <br>
        <p class="text-center"><a (click)="showDirectMessage()" title="Send message to your student.">Send a message</a></p>
      </div>
    </div>

    <div class="px_20">
      <div class="border_bottom py_20">
        <small>Last logged in: {{applyDateFormat(student.lastLoginDate)}}</small>
        <small class="float_right">Total Logins: {{student?.totalLogins}}</small>
      </div>
    </div>

    <div class="px_20">
      <div class="mentor-detail-item py_20 border_bottom">
        <div class="mentor-detail-item-title">
          <div class="d-inline-block">
            <h5 class="mb-0"><strong>ASVAB Scores</strong></h5>
            <small *ngIf="student.asvabScore">Last Updated: {{getAsvabDate(student) | date : 'MM/dd/yyyy' }}</small>
          </div>
          <a *ngIf="student.asvabScore" (click)="downloadASVAB()" class="float_right"><i class="fa fa-download"></i></a>
          <a class="toggle_arrow" (click)="expanded11 = !expanded11" [ngClass]="{'active' : !expanded11}"></a>
        </div>
        <div *ngIf="student.asvabScore" class="mentor-detail-details d-flex justify-space-between" [ngClass]="{'row_hide' : !expanded11}">
          <span><strong>V</strong> {{student.asvabScore.verbalScore}}</span>
          <span><strong>M</strong> {{student.asvabScore.mathScore}}</span>
          <span><strong>S/T</strong> {{student.asvabScore.scienceScore}}</span>
          <span><strong>AFQT</strong> {{student.asvabScore.afqtScore}}</span>
        </div>
        <div *ngIf="!student.asvabScore" class="mentor-detail-details d-flex justify-space-between" [ngClass]="{'row_hide' : !expanded11}">
          <p>Student has no ASVAB scores.</p>
        </div>
      </div>
    </div>

    <div class="px_20">
      <div class="mentor-detail-item py_20 border_bottom">
        <div class="mentor-detail-item-title">
          <div class="d-inline-block">
            <h5 class="mb-0"><strong>Top FYI Results</strong></h5>
            <small *ngIf="student.fyiProfile">Last Updated: {{applyDateFormat(student.fyiProfile.profileDate)}}</small>
          </div>
          <a class="toggle_arrow" (click)="expanded12 = !expanded12" [ngClass]="{'active' : !expanded12}"></a>
        </div>
        <div *ngIf="student.fyiProfile" class="mentor-detail-details" [ngClass]="{'row_hide' : !expanded12}">
          <p class="mb-0">{{getInterestDescription(student.fyiProfile.interestCodeOne)}}</p>
          <p class="mb-0">{{getInterestDescription(student.fyiProfile.interestCodeTwo)}}</p>
          <p class="mb-0">{{getInterestDescription(student.fyiProfile.interestCodeThree)}}</p>
        </div>
        <div *ngIf="!student.fyiProfile" class="mentor-detail-details" [ngClass]="{'row_hide' : !expanded12}">
          <p>Student does not have a FYI Profile.</p>
        </div>
      </div>
    </div>

    <div class="px_20">
      <div class="mentor-detail-item py_20 border_bottom">
        <div class="mentor-detail-item-title">
          <div class="d-inline-block">
            <h5 class="mb-0"><strong>Work Values</strong></h5>
            <small *ngIf="student.workValueProfile">Last Updated: {{applyDateFormat(student.workValueProfile.dateUpdated)}}</small>
          </div>
          <a class="toggle_arrow" (click)="expanded13 = !expanded13" [ngClass]="{'active' : !expanded13}"></a>
        </div>
        <div *ngIf="student.workValueProfile" class="mentor-detail-details" [ngClass]="{'row_hide' : !expanded13}">
          <p class="mb-0">{{getWorkValueDescription(student.workValueProfile?.workValueOne)}}</p>
          <p class="mb-0">{{getWorkValueDescription(student.workValueProfile?.workValueTwo)}}</p>
          <p class="mb-0">{{getWorkValueDescription(student.workValueProfile?.workValueThree)}}</p>
        </div>
        <div *ngIf="!student.workValueProfile" class="mentor-detail-details" [ngClass]="{'row_hide' : !expanded13}">
          <p>Student does not have a Work Value Profile.</p>
        </div>
      </div>
    </div>

    <div class="px_20">
      <div class="mentor-detail-item py_20">
        <div class="mentor-detail-item-title">
          <div class="d-inline-block">
            <h5 class="mb-0"><strong>More About Me</strong></h5>
            <small *ngIf="student.moreAboutMe && student.moreAboutMe?.length > 0">Last Updated: {{getMoreAboutMeLastUpdateDate(student.moreAboutMe)}}</small>
          </div>
          <a class="toggle_arrow" (click)="expanded14 = !expanded14" [ngClass]="{'active' : !expanded14}"></a>
        </div>
        <div *ngIf="student.moreAboutMe?.likes || student.moreAboutMe?.dislikes" class="mentor-detail-details" [ngClass]="{'row_hide' : !expanded14}">
          <ng-container *ngIf="student.moreAboutMe?.likes">
            <p class="mb-0">I’m good at:</p>
            <ul class="mb-0">
              <li *ngFor="let like of student.moreAboutMe.likes">{{like}}</li>
            </ul>
          </ng-container>
          <br>
          <ng-container *ngIf="student.moreAboutMe?.dislikes">
            <p class="mb-0">I don’t like:</p>
            <ul>
              <li *ngFor="let dislike of student.moreAboutMe.dislikes">{{dislike}}</li>
            </ul>
          </ng-container>
        </div>
        <div *ngIf="!student.moreAboutMe?.likes && !student.moreAboutMe?.dislikes" class="mentor-detail-details" [ngClass]="{'row_hide' : !expanded14}">
          <p>Student does not have More About Me information.</p>
        </div>
      </div>
    </div>

    <h5 class="bg-light-gray border_bottom_dark px_20 py_20">Portfolio Builder</h5>

    <div *ngIf="!portfolio" class="px_20">
      <p>Portfolio has not been started by the student.</p>
    </div>

    <div *ngIf="portfolio" class="mentor-detail-group px_20">
      <ul class="progress_status_list"><li><span [ngClass]="getPortfolioCssClass()"></span></li></ul>

      <div class="pl_20">
        <div class="d-flex justify-space-between w-100">
          <div class="px_20">
            <p class="pr_40 mb-0">Portfolio</p>
            <small>Last updated: {{portfolioLastUpdated}}</small>
          </div>
          <!-- <a href="#"><i class="fa fa-download"></i></a> -->
          <a *ngIf="portfolioLastUpdated" (click)="downloadPortfolio()" class="student_report_donwload"><i
            class="fa fa-download"></i></a>
          <a *ngIf="!portfolioLastUpdated" class="student_report_donwload disabled"><i
            class="fa fa-download"></i></a>
        </div>

        <div class="pl_20">
          <hr class="mt_10 mb-10 d-block mw_full">
        </div>

        <div class="mentor-detail-item">
          <div class="mentor-detail-item-title">
            <span *ngIf="unreadPortfolioCount > 0" class="message_count_link">
              <a (click)="toggle1 = !toggle1" class="message_count">{{unreadPortfolioCount}}</a>
            </span>
            <div class="d-inline-block px_20">
              <a (click)="showAddComment('Portfolio')">Add comment</a>
            </div>
            <a *ngIf="showPortfolioDropdown()" class="toggle_arrow" (click)="toggle1 = !toggle1" [ngClass]="{'active' : !toggle1}"></a>
          </div>
        </div>
      </div>

      <div class="mentor-detail-item mt-40">
        <div class="mentor-detail-details" [ngClass]="{'row_hide' : !toggle1}">
          <!-- <p class="font-bold px_10 mb-0">
            <span>Ready for Review:</span>
            <a href="#" class="ml_10">Mark as reviewed</a>
          </p>
          <small class="px_10">03/23/2020 at 1:23PM</small>

          <div class="d-flex align-items-center px_10 mt_10">
            <input type="checkbox" id="checkbox1" class="styled-checkbox">
            <label for="checkbox1" class="styled-checkbox-label"></label>
            <a href="#" class="ml_10">Mark as read</a>
          </div>

          <hr class="mw_full">

          <p class="font-bold px_10 mb-0">
            <span>Teacher Name: This is not complete</span>
          </p>
          <small class="px_10">03/23/2020 at 1:23PM</small>

          <div class="d-flex align-items-center px_10 mt_10">
            <input type="checkbox" id="checkbox2" class="styled-checkbox">
            <label for="checkbox2" class="styled-checkbox-label"></label>
            <a href="#" class="ml_10">Mark as read</a>
          </div>
          <div class="d-flex align-items-center border_top bg_light_blue px_10 py_10 mt_10">
            <input type="checkbox" id="checkbox3" class="styled-checkbox">
            <label for="checkbox3" class="styled-checkbox-label"></label>
            <a href="#" class="ml_10">Mark all as read</a>
          </div>

          <p class="text-center mt-25 mb-25"><a href="#">Show read messages</a></p> -->

          <ng-container
            *ngFor="let item of portfolioListViewItems 
            | multiParamFilterPipe: getPortfolioFilters(showPortfolioReadItems)
            | orderBy: 'timestamp' : 'desc'
            | orderBy: 'typeId' : 'desc'; let i = index;">

          <div class="reviewed_msg_text border_top pt_10 mt_10" [ngClass]="{ unread_item: !item.hasBeenRead && !item.isFromYou, mt_neg_20: i === 0 }">
            <!-- COMMENT -->
            <ng-container *ngIf="item.typeId == 1">
              <p class="px_10 mb-0">
                <span>{{item.from}}:&nbsp;{{item.message}}</span>
              </p>
            </ng-container>

            <!-- portfolio log item -->
            <ng-container *ngIf="item.typeId == 2">
              <!-- Reviewed -->
              <ng-container *ngIf="item.statusId == 5">
                <p *ngIf="item.hasBeenReviewed" class="px_10">Reviewed:&nbsp;<span
                  class="reviewed_msg_time">{{item.timestampReviewed}}</span></p>
              </ng-container>

              <ng-container *ngIf="item.statusId == 2">
                <p class="px_10 mb-0">
                  <span >Ready for Review:</span>
                  <a (click)="markAsReviewed('Portfolio',item)" class="ml_10">Mark as reviewed</a>
                </p>
              </ng-container>
            </ng-container>
            <small class="px_10">{{item.timestamp}}</small>
          </div>

          <!-- <div *ngIf="!item.hasBeenRead" class="d-flex align-items-center px_10 mt_10">
            <input type="checkbox" id="planItemRead{{plan_index}}-{{i}}" (click)="markAsRead(item, 'Plan', plan.id)" class="styled-checkbox">
            <label for="planItemRead{{plan_index}}-{{i}}" class="styled-checkbox-label"></label>
            <a (click)="markAsRead(item, 'Plan', plan.id)" title="Mark as read" class="ml_10">Mark as read</a>
          </div>

          <div *ngIf="item.hasBeenRead && !item.messageFromYou" class="d-flex align-items-center px_10 mt_10">
            <input type="checkbox" id="planItemRead{{plan_index}}-{{i}}" disabled checked="true" class="styled-checkbox">
            <label for="planItemRead{{plan_index}}-{{i}}" class="styled-checkbox-label"></label>
            <a class="disabled ml_10">Mark as read</a>
          </div> -->


          <!-- comment -->
          <ng-container *ngIf="item.typeId == 1">
            <div class="d-flex align-items-center px_10 mt_10">
              <div *ngIf="!item.isFromYou">
                <input type="checkbox" id="markAsRead{{i}}"
                  [checked]="item.hasBeenRead" [disabled]="item.hasBeenRead && !item.isFromYou"
                  (click)="markAsRead(item, 'Portfolio')" class="styled-checkbox">
                <label for="markAsRead{{i}}" class="styled-checkbox-label"></label>
              </div>
              <div *ngIf="item.isFromYou && item.typeId == 1 && item.hasBeenRead" class="d-flex align-items-center px_10 mt_10">
                <i class="fas fa-check" style="color:gray;"></i>
                <label class="styled-checkbox-label" for="markAsRead{{i}}"></label>
              </div>
              <a *ngIf="!item.hasBeenRead && !item.isFromYou" class="ml_10"
                (click)="markAsRead(item, 'Portfolio')">Mark as read</a>
              <ng-container *ngIf="item.hasBeenRead && !item.isFromYou">
                <a class="ml_10 disabled">Mark as read</a>
              </ng-container>
              <span class="reviewed_msg_time" style="margin-left: 15px;color: #AAAAAA;"
                *ngIf="item.isFromYou && item.typeId == 1 && item.hasBeenRead">
                Viewed by Student
              </span>
            </div>
          </ng-container>

           <!-- comment -->
           <!-- <ng-container *ngIf="item.typeId == 1">
            <div *ngIf="!item.isFromYou" class="d-flex align-items-center px_10 mt_10">
              <input type="checkbox" id="markAsRead{{i}}"
                [checked]="item.hasBeenRead" [disabled]="item.hasBeenRead && !item.isFromYou"
                (click)="markAsRead(item, 'Portfolio')" class="styled-checkbox">
              <label for="markAsRead{{i}}" class="styled-checkbox-label"></label>
              <a *ngIf="!item.hasBeenRead && !item.isFromYou" (click)="markAsRead(item, 'Portfolio')" title="Mark as read" class="ml_10">Mark as read</a>
            </div>

            <div *ngIf="item.isFromYou && item.typeId == 1 && item.hasBeenRead" class="d-flex align-items-center px_10 mt_10">
              <i class="fas fa-check" style="color:gray;"></i>
              <label class="styled-checkbox-label" for="markAsRead{{i}}"></label>
              <a *ngIf="!item.hasBeenRead && !item.isFromYou" (click)="markAsRead(item, 'Portfolio')" title="Mark as read" class="ml_10">Mark as read</a>
            </div>            
          </ng-container> -->

           <!-- If the comment was read by a student show the following  -->
           <!-- <ng-container *ngIf="item.hasBeenRead && !item.isFromYou">
            <div class="d-flex align-items-center px_10 mt_10">
              <a class="disabled ml_10">Mark as read</a>
            </div>
          </ng-container>

          <ng-container *ngIf="item.isFromYou && item.typeId == 1 && item.hasBeenRead">
            <span class="reviewed_msg_time" style="margin-left: 15px;color: #AAAAAA;"
              *ngIf="item.isFromYou && item.typeId == 1 && item.hasBeenRead">
              Viewed by Student
            </span>
          </ng-container> -->
                          
          <!-- portfolio log item -->
          <ng-container *ngIf="item.typeId == 2">
            <div *ngIf="!item.isFromYou" class="d-flex align-items-center px_10 mt_10">
              <input type="checkbox" id="markAsRead{{i}}"
                [checked]="item.hasBeenRead" [disabled]="item.hasBeenRead && !item.isFromYou"
                (click)="markAsRead(item, 'Portfolio')" class="styled-checkbox">
              <label for="markAsRead{{i}}" class="styled-checkbox-label"></label>
              <a *ngIf="!item.hasBeenRead && !item.isFromYou" (click)="markAsRead(item, 'Portfolio')" title="Mark as read" class="ml_10">Mark as read</a>
              <a *ngIf="(item.hasBeenRead && !item.isFromYou)" class="disabled ml_10">Mark as read</a>
            </div>
          </ng-container>

          <!-- <hr *ngIf="i < portfolioListViewItems .length - 1" class="mw_full"> -->
        </ng-container>

        <div class="d-flex align-items-center border_top bg_light_blue px_10 py_10 mt_10">
          <input type="checkbox" id="portfolioCheckAll"
            (click)="markAllAsRead('Portfolio')" [disabled]="unreadPortfolioCount == 0" class="styled-checkbox">
          <label for="portfolioCheckAll" class="styled-checkbox-label"></label>
          <a (click)="markAllAsRead('Portfolio')" [ngClass]="{'disabled' : unreadPortfolioCount == 0}"
            class="ml_10">Mark all as read</a>
        </div>

        <p class="text-center mt-25 mb-25">
          <a (click)="showPortfolioReadItems = !showPortfolioReadItems">
            <span *ngIf="!showPortfolioReadItems ">Show read messages</span>
            <span *ngIf="showPortfolioReadItems ">Hide read messages</span>
          </a>
        </p>


        </div>
      </div>
    </div>

    <h5 class="bg-light-gray border_bottom_dark px_20 py_20">Career Plans</h5>

    <div *ngIf="careerPlans?.length == 0" class="px_20">
      <p>No career plans have been created.</p>
    </div>

    <ng-container *ngFor="let plan of careerPlans;let plan_index = index;">
      <div class="mentor-detail-group px_20">
        <ul class="progress_status_list"><li><span [ngClass]="getOccupationPlanStatusCssClass(plan)"></span></li></ul>
  
        <div class="pl_20">
          <div class="d-flex justify-space-between w-100">
            <div class="px_20">
              <p class="pr_40 mb-0">{{plan.title}}</p>
              <small>Last updated: {{applyDateFormat(plan.dateUpdated)}}</small>
            </div>
            <a (click)="downloadPlan(plan)" title="Download Career Plan"><i class="fa fa-download"></i></a>
          </div>
  
          <div class="pl_20">
            <hr class="mt_10 mb-10 d-block mw_full">
          </div>
  
          <div class="mentor-detail-item">
            <div class="mentor-detail-item-title">
              <span *ngIf="getUnreadPlanCount(plan) > 0" class="message_count_link">
                <a (click)="plan['expanded'] = !plan['expanded']" class="message_count">{{getUnreadPlanCount(plan)}}</a>
              </span>
              <div class="d-inline-block px_20">
                <a (click)="showAddComment('Plan', plan.id)">Add comment</a>
              </div>
              <a *ngIf="showPlanDropdown(plan)" class="toggle_arrow" (click)="plan['expanded'] = !plan['expanded']" [ngClass]="{'active' : !plan['expanded']}"></a>
            </div>
          </div>
        </div>
  
        <div class="mentor-detail-item mt-40">
          <div class="mentor-detail-details" [ngClass]="{'row_hide' : !plan['expanded']}">

            
            <!-- <p class="font-bold px_10 mb-0">
              <span>Ready for Review:</span>
              <a href="#" class="ml_10">Mark as reviewed</a>
            </p>
            <small class="px_10">03/23/2020 at 1:23PM</small>
  
            <div class="d-flex align-items-center px_10 mt_10">
              <input type="checkbox" id="checkbox1" class="styled-checkbox">
              <label for="checkbox1" class="styled-checkbox-label"></label>
              <a href="#" class="ml_10">Mark as read</a>
            </div>
  
            <hr class="mw_full">
  
            <p class="font-bold px_10 mb-0">
              <span>Teacher Name: This is not complete</span>
            </p>
            <small class="px_10">03/23/2020 at 1:23PM</small>
  
            <div class="d-flex align-items-center px_10 mt_10">
              <input type="checkbox" id="checkbox2" class="styled-checkbox">
              <label for="checkbox2" class="styled-checkbox-label"></label>
              <a href="#" class="ml_10">Mark as read</a>
            </div> -->


            <ng-container
              *ngFor="let item of plan.combinedList | multiParamFilterPipe: getPlanListItemsFilter(plan.showReadPlanItems) |orderBy: 'dateCreated' : 'desc'; let i = index;">
  
              <div class="reviewed_msg_text border_top pt_10 mt_10" [ngClass]="{ unread_item: !item.hasBeenRead, mt_neg_20: i === 0 }">
                <!-- COMMENT -->
                <ng-container *ngIf="item.typeId == 1">
                  <p class="font-bold px_10 mb-0">
                    <span>{{item.from}}:&nbsp;{{item.message}}</span>
                  </p>
                </ng-container>

                <ng-container *ngIf="item.typeId == 2">
                  <!-- Reviewed -->
                  <ng-container *ngIf="item.statusId == 5">
                    <p *ngIf="item.hasBeenReviewed" class="px_10">Reviewed</p>
                  </ng-container>

                  <!-- Submitted -->
                  <ng-container *ngIf="item.statusId == 2">
                    <p *ngIf="!item.hasBeenReviewed" class="font-bold px_10 mb-0">
                      <span >Ready for Review:</span>
                      <a (click)="markAsReviewed('Plan',item,plan.id)" class="ml_10">Mark as reviewed</a>
                    </p>
                    <p *ngIf="item.hasBeenReviewed" class="px_10">Submitted for Review
                    </p>
                  </ng-container>
                </ng-container>
                <small class="px_10">{{item.dateCreated}}</small>
              </div>

              <div *ngIf="!item.hasBeenRead" class="d-flex align-items-center px_10 mt_10">
                <input type="checkbox" id="planItemRead{{plan_index}}-{{i}}" (click)="markAsRead(item, 'Plan', plan.id)" class="styled-checkbox">
                <label for="planItemRead{{plan_index}}-{{i}}" class="styled-checkbox-label"></label>
                <a (click)="markAsRead(item, 'Plan', plan.id)" title="Mark as read" class="ml_10">Mark as read</a>
              </div>

              <div *ngIf="item.hasBeenRead && !item.messageFromYou" class="d-flex align-items-center px_10 mt_10">
                <input type="checkbox" id="planItemRead{{plan_index}}-{{i}}" disabled checked="true" class="styled-checkbox">
                <label for="planItemRead{{plan_index}}-{{i}}" class="styled-checkbox-label"></label>
                <a class="disabled ml_10">Mark as read</a>
              </div>

              <!-- <hr *ngIf="i < plan.combinedList.length - 1" class="mw_full"> -->
            </ng-container>

            <div class="d-flex align-items-center border_top bg_light_blue px_10 py_10 mt_10">
              <input type="checkbox" id="interest{{ index+12 }}" (click)="markAllAsRead('Plan', plan.id)" class="styled-checkbox">
              <label for="interest{{ index+12 }}" class="styled-checkbox-label"></label>
              <a (click)="markAllAsRead('Plan', plan.id)" class="ml_10">Mark all as read</a>
            </div>
  
            <p class="text-center mt-25 mb-25">
              <a a (click)="plan.showReadPlanItems = !plan.showReadPlanItems">
                <span *ngIf="!plan.showReadPlanItems ">Show read messages</span>
                <span *ngIf="plan.showReadPlanItems ">Hide read messages</span>
              </a>
            </p>
          </div>
        </div>
      </div>
  
      <hr *ngIf="plan_index < careerPlans.length - 1" class="border_bottom_dark mw_full">
    </ng-container>

    <!-- <div class="mentor-detail-group px_20">
      
      <ul class="progress_status_list"><li><span class="in_progress"></span></li></ul>

      <div class="pl_20">
        <div class="d-flex justify-space-between w-100">
          <div class="px_20">
            <p class="pr_40 mb-0">Camera Operators, Television, Video, and Film</p>
            <small>Last updated: 03/25/2020</small>
          </div>
          <a href="#"><i class="fa fa-download"></i></a>
        </div>

        <div class="pl_20">
          <hr class="mt_10 mb-10 d-block mw_full">
        </div>

        <div class="mentor-detail-item">
          <div class="mentor-detail-item-title">
            <div class="d-inline-block px_20">
              <a href="#">Add comment</a>
            </div>
            <a class="toggle_arrow" (click)="expanded16 = !expanded16" [ngClass]="{'active' : !expanded16}"></a>
          </div>
        </div>
      </div>

      <div class="mentor-detail-item mt-40">
        <div class="mentor-detail-details border_top" [ngClass]="{'row_hide' : !expanded16}">
          <p class="font-bold px_10 mb-0">
            <span>Ready for Review:</span>
            <a href="#" class="ml_10">Mark as reviewed</a>
          </p>
          <small class="px_10">03/23/2020 at 1:23PM</small>

          <div class="d-flex align-items-center px_10 mt_10">
            <input type="checkbox" id="checkbox1" class="styled-checkbox">
            <label for="checkbox1" class="styled-checkbox-label"></label>
            <a href="#" class="ml_10">Mark as read</a>
          </div>

          <hr class="mw_full">

          <p class="font-bold px_10 mb-0">
            <span>Teacher Name: This is not complete</span>
          </p>
          <small class="px_10">03/23/2020 at 1:23PM</small>

          <div class="d-flex align-items-center px_10 mt_10">
            <input type="checkbox" id="checkbox2" class="styled-checkbox">
            <label for="checkbox2" class="styled-checkbox-label"></label>
            <a href="#" class="ml_10">Mark as read</a>
          </div>
          <div class="d-flex align-items-center border_top bg_light_blue px_10 py_10 mt_10">
            <input type="checkbox" id="checkbox3" class="styled-checkbox">
            <label for="checkbox3" class="styled-checkbox-label"></label>
            <a href="#" class="ml_10">Mark all as read</a>
          </div>

          <p class="text-center mt-25 mb-25"><a href="#">Show read messages</a></p>
        </div>
      </div>
    </div>

    <hr class="border_bottom_dark mw_full">

    <div class="mentor-detail-group px_20">
      <ul class="progress_status_list"><li><span class="ready_for_review"></span></li></ul>

      <div class="pl_20">
        <div class="d-flex justify-space-between w-100">
          <div class="px_20">
            <p class="pr_40 mb-0">Commercial Pilots</p>
            <small>Last updated: 03/25/2020</small>
          </div>
          <a href="#" class="float_right"><i class="fa fa-download"></i></a>
        </div>

        <div class="pl_20">
          <hr class="mt_10 mb-10 d-block mw_full">
        </div>

        <div class="mentor-detail-item">
          <div class="mentor-detail-item-title">
            <span class="message_count_link">
              <a class="message_count">2</a>
            </span>
            <div class="d-inline-block px_20">
              <a href="#">Add comment</a>
            </div>
            <a class="toggle_arrow" (click)="expanded17 = !expanded17" [ngClass]="{'active' : !expanded17}"></a>
          </div>
        </div>
      </div>

      <div class="mentor-detail-item mt-40">
        <div class="mentor-detail-details border_top" [ngClass]="{'row_hide' : !expanded17}">
          <p class="font-bold px_10 mb-0">
            <span>Ready for Review:</span>
            <a href="#" class="ml_10">Mark as reviewed</a>
          </p>
          <small class="px_10">03/23/2020 at 1:23PM</small>

          <div class="d-flex align-items-center px_10 mt_10">
            <input type="checkbox" id="checkbox1" class="styled-checkbox">
            <label for="checkbox1" class="styled-checkbox-label"></label>
            <a href="#" class="ml_10">Mark as read</a>
          </div>

          <hr class="mw_full">

          <p class="font-bold px_10 mb-0">
            <span>Teacher Name: This is not complete</span>
          </p>
          <small class="px_10">03/23/2020 at 1:23PM</small>

          <div class="d-flex align-items-center px_10 mt_10">
            <input type="checkbox" id="checkbox2" class="styled-checkbox">
            <label for="checkbox2" class="styled-checkbox-label"></label>
            <a href="#" class="ml_10">Mark as read</a>
          </div>
          <div class="d-flex align-items-center border_top bg_light_blue px_10 py_10 mt_10">
            <input type="checkbox" id="checkbox3" class="styled-checkbox">
            <label for="checkbox3" class="styled-checkbox-label"></label>
            <a href="#" class="ml_10">Mark all as read</a>
          </div>

          <p class="text-center mt-25 mb-25"><a href="#">Show read messages</a></p>
        </div>
      </div>
    </div>

    <hr class="border_bottom_dark mw_full">

    <div class="mentor-detail-group px_20">
      <ul class="progress_status_list"><li><span class="in_progress"></span></li></ul>

      <div class="pl_20">
        <div class="d-flex justify-space-between w-100">
          <div class="px_20">
            <p class="pr_40 mb-0">Camera Operators, Television, Video, and Film 2</p>
            <small>Last updated: 03/25/2020</small>
          </div>
          <a href="#" class="float_right"><i class="fa fa-download"></i></a>
        </div>

        <div class="mentor-detail-item">
          <div class="mentor-detail-item-title mt-25 mb-25">
            <div class="d-inline-block px_20">
              <a href="#">Add comment</a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    
    
    <h5 class="bg-light-gray border_bottom_dark px_20 py_20">Calendar</h5>

    <div class="mentor-detail-group px_20 py_10">

      <div class="pl_20">
        <div class="d-flex justify-space-between w-100">
          <div class="px_20">
            <p class="pr_40 mb-0">{{calendarCount}} Scheduled dates</p>
            <small>Last updated: {{lastCalendarUpdateDate}}</small>
          </div>
          <!-- <a href="#"><i class="fa fa-download"></i></a> -->
          <!-- <a *ngIf="portfolioLastUpdated" (click)="downloadPortfolio()" class="student_report_donwload"><i
            class="fa fa-download"></i></a>
          <a *ngIf="!portfolioLastUpdated" class="student_report_donwload disabled"><i
            class="fa fa-download"></i></a> -->
            <a (click)="showStudentCalendar()" title="View Student Calendar"><img alt="List"
              src="assets/images/list_item.svg"></a>
        </div>

        <div class="pl_20">
          <hr class="mt_10 mb-10 d-block mw_full">
        </div>

        <div class="mentor-detail-item">
          <div class="mentor-detail-item-title">
            <!-- <span *ngIf="unreadPortfolioCount > 0" class="message_count_link">
              <a (click)="toggle1 = !toggle1" class="message_count">{{unreadPortfolioCount}}</a>
            </span> -->
            <div class="d-inline-block px_20">
              <a (click)="addDate()" title="Add Student Date" >Add a date</a>
            </div>
            <!-- <a class="toggle_arrow" (click)="toggle1 = !toggle1" [ngClass]="{'active' : !toggle1}"></a> -->
          </div>
        </div>
      </div>
    </div>

    
    <h5 class="bg-light-gray border_bottom_dark px_20 py_20">Activities</h5>

    <div *ngIf="activityListViewItems?.length == 0" class="px_20">
      <p class="px_20">No Activities have been submitted by the student.</p>
    </div>

    <ng-container *ngFor="let activity of activityListViewItems; let i = index;">
      <div class="mentor-detail-group px_20">
        <ul class="progress_status_list"><li><span [ngClass]="activity.activityStatusClass"></span></li></ul>
  
        <div class="pl_20">
          <div class="d-flex justify-space-between w-100">
            <div class="px_20">
              <p class="pr_40 mb-0">{{activity.title}}</p>
              <small>Last updated: {{activity.lastUpdated}}</small>
            </div>
            <a *ngIf="activity.hasMultipleSubmissions"
              (click)="activity.expandDownload = !activity.expandDownload" class="student_report_download"
              [ngClass]="{'expanded' : activity.expandDownload}"><i class="fa fa-download"></i>
            </a>
            <a *ngIf="!activity.hasMultipleSubmissions && activity.submittedSubmissions?.length == 1"
              (click)="downloadSubmission(activity.classroomActivityId, activity.submittedSubmissions[0].id, activity.submittedSubmissions[0].fileName)"
              class="student_report_download"><i class="fa fa-download"></i>
            </a>
            <a *ngIf="activity.submittedSubmissions?.length == 0" class="student_report_download disabled"><i
                class="fa fa-download"></i>
            </a>
          </div>
  
          <div class="pl_20">
            <hr class="mt_10 mb-10 d-block mw_full">
          </div>
  
          <div class="mentor-detail-item">
            <div class="mentor-detail-item-title">
              <span class="message_count_link" *ngIf="activity.unreadMessageCount > 0">
                <a class="message_count"
                  (click)="activity['expanded'] = !activity['expanded']">{{activity.unreadMessageCount}}</a>
              </span>
              <div class="d-inline-block px_20">
                <a (click)="showAddComment('Activity', activity.classroomActivityId)"
                class="student_add_comment">Add comment</a>
              </div>
              <a class="toggle_arrow" (click)="activity['expanded'] = !activity['expanded']" [ngClass]="{'active' : !activity['expanded']}"></a>
            </div>
          </div>
        </div>

        <!-- show expanded download if multiple submissions were submitted or reviewed -->
        <div *ngIf="activity.expandDownload" class="mentor-student-download-menu">
          <ul>
            <li *ngFor="let submission of activity.submittedSubmissions">
              <label>
                <input type="checkbox"
                  [checked]="getCheckedSubmissionFileValue(submission,activity.classroomActivityId)"
                  (change)="onSubmissionFileChecked($event, submission,activity.classroomActivityId )" />&nbsp;{{submission.fileName}}
              </label>
            </li>
          </ul>
          <div class="text-center">
            <button type="button" [disabled]="getSelectionCount(activity.classroomActivityId) == 0"
              class="button" (click)="downloadSelectedFiles(activity.classroomActivityId)">DOWNLOAD</button>
          </div>
        </div>
  
        <div class="mentor-detail-item mt-40">
          <div class="mentor-detail-details" [ngClass]="{'row_hide' : !activity['expanded']}">

            
            <!-- <p class="font-bold px_10 mb-0">
              <span>Ready for Review:</span>
              <a href="#" class="ml_10">Mark as reviewed</a>
            </p>
            <small class="px_10">03/23/2020 at 1:23PM</small>
  
            <div class="d-flex align-items-center px_10 mt_10">
              <input type="checkbox" id="checkbox1" class="styled-checkbox">
              <label for="checkbox1" class="styled-checkbox-label"></label>
              <a href="#" class="ml_10">Mark as read</a>
            </div>
  
            <hr class="mw_full">
  
            <p class="font-bold px_10 mb-0">
              <span>Teacher Name: This is not complete</span>
            </p>
            <small class="px_10">03/23/2020 at 1:23PM</small>
  
            <div class="d-flex align-items-center px_10 mt_10">
              <input type="checkbox" id="checkbox2" class="styled-checkbox">
              <label for="checkbox2" class="styled-checkbox-label"></label>
              <a href="#" class="ml_10">Mark as read</a>
            </div> -->


            <ng-container
            *ngFor="let item of activity.activityListViewItems 
            | multiParamFilterPipe: getActivityListItemsFilter(activity.showReadItems)
            | orderBy: 'originalTimeStamp' : 'desc'; let ind = index;">
  
              <div class="reviewed_msg_text border_top pt_10 mt_10" [ngClass]="{ unread_item: !item.hasBeenRead, mt_neg_20: ind === 0 }">
                <!-- COMMENT -->
                <ng-container *ngIf="item.typeId == 1">
                  <p class="font-bold px_10 mb-0">
                    <span>{{item.from}}:&nbsp;{{item.message}}</span>
                  </p>
                </ng-container>

                <!-- submission item -->
                <ng-container *ngIf="item.typeId == 2">
                   <!-- Unsubmitted -->
                   <p *ngIf="item.statusId == 3">
                    Unsubmitted file:&nbsp;{{item.fileName}}
                  </p>

                  <!-- Reviewed -->
                  <ng-container *ngIf="item.statusId == 5">
                    <p class="flex-ellipsis" title="{{item.fileName}}" *ngIf="item.hasBeenReviewed">
                      Reviewed File:&nbsp;{{item.fileName}}&nbsp;on&nbsp;<span class="reviewed_msg_time"
                        title="{{item.timestampUpdated}}">{{item.timestampUpdated}}</span></p>
                  </ng-container>

                  <!-- Submitted -->
                  <ng-container *ngIf="item.statusId == 2">
                    <p *ngIf="!item.hasBeenReviewed" class="font-bold px_10 mb-0" title="{{item.fileName}}">
                      <span><b>Ready for Review
                        File:&nbsp;{{item.fileName}}</b></span>
                      <a (click)="markAsReviewed('Activity',item,activity.classroomActivityId)" class="ml_10">Mark as reviewed</a>
                    </p>
                    <p *ngIf="item.hasBeenReviewed">Submitted for Review
                    </p>
                  </ng-container>
                </ng-container>

                <!-- submission log item -->
                <ng-container *ngIf="item.typeId == 3">
                  <ng-container *ngIf="item.statusId == 2">
                    <p class="flex-ellipsis">Ready for Review:&nbsp;<span title="{{item.fileName}}"
                        class="reviewed_msg_time">File {{item.fileName}} was
                        unsubmitted</span></p>
                  </ng-container>

                  <ng-container *ngIf="item.statusId == 3">
                    <p class="flex-ellipsis" title="{{item.fileName}}">Unsubmitted file:&nbsp;{{item.fileName}}
                    </p>
                  </ng-container>

                  <ng-container *ngIf="item.statusId == 5">
                    <p class="px_10 flex-ellipsis" title="{{item.fileName}}" *ngIf="item.hasBeenReviewed">
                      Reviewed File:&nbsp;{{item.fileName}}</p>
                  </ng-container>
                </ng-container>

                <small class="px_10">{{item.timestampUpdated}}</small>
              </div>

              <!-- submission item -->
              <ng-container *ngIf="item.typeId == 2">
                 <!-- allow mark as read if submitted status -->
                 <ng-container *ngIf="item.statusId == 2 ">
                  <div *ngIf="!item.isFromYou" class="d-flex align-items-center px_10 mt_10">
                    <input type="checkbox" id="markAsRead{{ind}}" [checked]="item.hasBeenRead" [disabled]="item.hasBeenRead && !item.isFromYou"
                      (click)="markAsRead(item, 'Activity', activity.classroomActivityId)" class="styled-checkbox">
                    <label for="markAsRead{{ind}}" class="styled-checkbox-label"></label>
                    <a *ngIf="!item.hasBeenRead && !item.isFromYou" class="ml_10"
                      (click)="markAsRead(item, 'Activity', activity.classroomActivityId)">Mark as read</a>
                    <a *ngIf="(item.hasBeenRead && !item.isFromYou)" class="disabled ml_10">Mark as read</a>
                  </div>
                 </ng-container>

                 <!-- do not allow mark as read if not submitted status -->
                 <ng-container *ngIf="item.statusId == 5 ">
                  <div class="d-flex align-items-center px_10 mt_10">
                    <input type="checkbox" id="markAsRead{{ind}}" [checked]="true"
                      [disabled]="true" class="styled-checkbox">
                    <label for="markAsRead{{ind}}" class="styled-checkbox-label"></label>
                    <a class="disabled ml_10">Mark as read</a>
                  </div>
                 </ng-container>
              </ng-container>

               <!-- comment -->
              <ng-container *ngIf="item.typeId == 1">
                <div class="d-flex align-items-center px_10 mt_10">
                  <div *ngIf="!item.isFromYou">
                    <input type="checkbox" id="markAsRead{{ind}}"
                      [checked]="item.hasBeenRead" [disabled]="item.hasBeenRead && !item.isFromYou"
                      (click)="markAsRead(item, 'Activity', activity.classroomActivityId)" class="styled-checkbox">
                    <label for="markAsRead{{ind}}" class="styled-checkbox-label"></label>
                  </div>
                  <div *ngIf="item.isFromYou && item.typeId == 1 && item.hasBeenRead" class="d-flex align-items-center px_10 mt_10">
                    <i class="fas fa-check" style="color:gray;"></i>
                    <label class="styled-checkbox-label" for="markAsRead{{index}}"></label>
                  </div>
                  <a *ngIf="!item.hasBeenRead && !item.isFromYou" class="ml_10"
                    (click)="markAsRead(item, 'Activity', activity.classroomActivityId)">Mark as read</a>
                  <ng-container *ngIf="item.hasBeenRead && !item.isFromYou">
                    <a class="ml_10 disabled">Mark as read</a>
                  </ng-container>
                  <span class="reviewed_msg_time" style="margin-left: 15px;color: #AAAAAA;"
                    *ngIf="item.isFromYou && item.typeId == 1 && item.hasBeenRead">
                    Viewed by Student
                  </span>
                </div>
              </ng-container>

              <!-- <div *ngIf="!item.hasBeenRead" class="d-flex align-items-center px_10 mt_10">
                <input type="checkbox" id="planItemRead{{plan_index}}-{{i}}" (click)="markAsRead(item, 'Plan', plan.id)" class="styled-checkbox">
                <label for="planItemRead{{plan_index}}-{{i}}" class="styled-checkbox-label"></label>
                <a (click)="markAsRead(item, 'Plan', plan.id)" title="Mark as read" class="ml_10">Mark as read</a>
              </div>

              <div *ngIf="item.hasBeenRead && !item.messageFromYou" class="d-flex align-items-center px_10 mt_10">
                <input type="checkbox" id="planItemRead{{plan_index}}-{{i}}" disabled checked="true" class="styled-checkbox">
                <label for="planItemRead{{plan_index}}-{{i}}" class="styled-checkbox-label"></label>
                <a class="disabled ml_10">Mark as read</a>
              </div> -->

              <!-- <hr *ngIf="ind < activity.activityListViewItems.length - 1" class="mw_full"> -->
            </ng-container>

            <div class="d-flex align-items-center border_top bg_light_blue px_10 py_10 mt_10">
              <input type="checkbox" id="activity{{activity.classroomActivityId}}" (click)="markAllAsRead('Activity', activity.classroomActivityId)" [disabled]="activity.unreadMessageCount == 0" class="styled-checkbox">
              <label for="activity{{activity.classroomActivityId}}" class="styled-checkbox-label"></label>
              <a (click)="markAllAsRead('Activity', activity.classroomActivityId)" [ngClass]="{'disabled' : activity.unreadMessageCount == 0}" class="ml_10">Mark all as read</a>
            </div>
  
            <p class="text-center mt-25 mb-25">
              <a (click)="activity.showReadItems = !activity.showReadItems">
                <span *ngIf="!activity.showReadItems">Show read messages</span>
                <span *ngIf="activity.showReadItems">Hide read messages</span>
              </a>
            </p>
          </div>
        </div>
      </div>
  
      <hr *ngIf="i < activityListViewItems.length - 1" class="border_bottom_dark mw_full">
    </ng-container>

    <br><br>




    <!-- <ng-container *ngFor="let plan of careerPlans;let plan_index = index;"> -->
      <!-- <div class="mentor-detail-group px_20">
        <ul class="progress_status_list"><li><span class="in_progress"></span></li></ul>

        <div class="pl_20">
          <div class="d-flex justify-space-between w-100">
            <div class="px_20">
              <p class="pr_40 mb-0">Cost of Career</p>
              <small>Last updated: 03/25/2020</small>
            </div>
            <a href="#" class="link_disabled"><i class="fa fa-download"></i></a>
          </div>

          <div class="pl_20">
            <hr class="mt_10 mb-10 d-block mw_full">
          </div>

          <div class="mentor-detail-item">
            <div class="mentor-detail-item-title">
              <div class="d-inline-block px_20">
                <a href="#">Add comment</a>
              </div>
              <a class="toggle_arrow" (click)="expanded18 = !expanded18" [ngClass]="{'active' : !expanded18}"></a>
            </div>
          </div>
        </div>

        <div class="mentor-detail-item mt-40">
          <div class="mentor-detail-details border_top" [ngClass]="{'row_hide' : !expanded18}">
            <p class="font-bold px_10 mb-0">
              <span>Ready for Review:</span>
              <a href="#" class="ml_10">Mark as reviewed</a>
            </p>
            <small class="px_10">03/23/2020 at 1:23PM</small>

            <div class="d-flex align-items-center px_10 mt_10">
              <input type="checkbox" id="checkbox1" class="styled-checkbox">
              <label for="checkbox1" class="styled-checkbox-label"></label>
              <a href="#" class="ml_10">Mark as read</a>
            </div>

            <hr class="mw_full">

            <p class="font-bold px_10 mb-0">
              <span>Teacher Name: This is not complete</span>
            </p>
            <small class="px_10">03/23/2020 at 1:23PM</small>

            <div class="d-flex align-items-center px_10 mt_10">
              <input type="checkbox" id="checkbox2" class="styled-checkbox">
              <label for="checkbox2" class="styled-checkbox-label"></label>
              <a href="#" class="ml_10">Mark as read</a>
            </div>
            <div class="d-flex align-items-center border_top bg_light_blue px_10 py_10 mt_10">
              <input type="checkbox" id="checkbox3" class="styled-checkbox">
              <label for="checkbox3" class="styled-checkbox-label"></label>
              <a href="#" class="ml_10">Mark all as read</a>
            </div>

            <p class="text-center mt-25 mb-25"><a href="#">Show read messages</a></p>
          </div>
        </div>
      </div>
     
    <hr class="border_bottom_dark mw_full"> -->
    <!-- </ng-container> -->

    <!-- <div class="mentor-detail-group px_20">
      <ul class="progress_status_list"><li><span class="in_progress"></span></li></ul>

      <div class="pl_20">
        <div class="d-flex justify-space-between w-100">
          <div class="px_20">
            <p class="pr_40 mb-0">Cost of Career</p>
            <small>Last updated: 03/25/2020</small>
          </div>
          <a href="#" class="link_disabled"><i class="fa fa-download"></i></a>
        </div>

        <div class="pl_20">
          <hr class="mt_10 mb-10 d-block mw_full">
        </div>

        <div class="mentor-detail-item">
          <div class="mentor-detail-item-title">
            <div class="d-inline-block px_20">
              <a href="#">Add comment</a>
            </div>
            <a class="toggle_arrow" (click)="expanded18 = !expanded18" [ngClass]="{'active' : !expanded18}"></a>
          </div>
        </div>
      </div>

      <div class="mentor-detail-item mt-40">
        <div class="mentor-detail-details border_top" [ngClass]="{'row_hide' : !expanded18}">
          <p class="font-bold px_10 mb-0">
            <span>Ready for Review:</span>
            <a href="#" class="ml_10">Mark as reviewed</a>
          </p>
          <small class="px_10">03/23/2020 at 1:23PM</small>

          <div class="d-flex align-items-center px_10 mt_10">
            <input type="checkbox" id="checkbox1" class="styled-checkbox">
            <label for="checkbox1" class="styled-checkbox-label"></label>
            <a href="#" class="ml_10">Mark as read</a>
          </div>

          <hr class="mw_full">

          <p class="font-bold px_10 mb-0">
            <span>Teacher Name: This is not complete</span>
          </p>
          <small class="px_10">03/23/2020 at 1:23PM</small>

          <div class="d-flex align-items-center px_10 mt_10">
            <input type="checkbox" id="checkbox2" class="styled-checkbox">
            <label for="checkbox2" class="styled-checkbox-label"></label>
            <a href="#" class="ml_10">Mark as read</a>
          </div>
          <div class="d-flex align-items-center border_top bg_light_blue px_10 py_10 mt_10">
            <input type="checkbox" id="checkbox3" class="styled-checkbox">
            <label for="checkbox3" class="styled-checkbox-label"></label>
            <a href="#" class="ml_10">Mark all as read</a>
          </div>

          <p class="text-center mt-25 mb-25"><a href="#">Show read messages</a></p>
        </div>
      </div>
    </div>
     
    <hr class="border_bottom_dark mw_full">

    <div class="mentor-detail-group px_20">
      <ul class="progress_status_list"><li><span class="in_progress"></span></li></ul>

      <div class="pl_20">
        <div class="d-flex justify-space-between w-100">
          <div class="px_20">
            <p class="pr_40 mb-0">Cost of Career</p>
            <small>Last updated: 03/25/2020</small>
          </div>
          <a href="#" class="link_disabled"><i class="fa fa-download"></i></a>
        </div>

        <div class="pl_20">
          <hr class="mt_10 mb-10 d-block mw_full">
        </div>

        <div class="mentor-detail-item">
          <div class="mentor-detail-item-title">
            <div class="d-inline-block px_20">
              <a href="#">Add comment</a>
            </div>
            <a class="toggle_arrow" (click)="expanded19 = !expanded19" [ngClass]="{'active' : !expanded19}"></a>
          </div>
        </div>
      </div>

      <div class="mentor-detail-item mt-40">
        <div class="mentor-detail-details border_top" [ngClass]="{'row_hide' : !expanded19}">

          <p class="font-bold px_10 mb-0">
            <span>John Doe: I will finish this over the weekend.</span>
          </p>
          <small class="px_10">03/23/2020 at 1:23PM</small>

          <div class="d-flex align-items-center px_10 mt_10">
            <input type="checkbox" id="checkbox2" class="styled-checkbox">
            <label for="checkbox2" class="styled-checkbox-label"></label>
            <a href="#" class="ml_10">Mark as read</a>
          </div>
          <div class="d-flex align-items-center border_top bg_light_blue px_10 py_10 mt_10">
            <input type="checkbox" id="checkbox3" class="styled-checkbox">
            <label for="checkbox3" class="styled-checkbox-label"></label>
            <a href="#" class="ml_10">Mark all as read</a>
          </div>

          <p class="text-center mt-25 mb-25"><a href="#">Show read messages</a></p>
        </div>
      </div>
    </div> -->

    <!-- <br> -->
  </div>

  <!-- <app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile> -->
  <app-footer></app-footer>
</div>
  </section>

  <section *ngIf="!_utilityService.mobileOrTablet()" id="content-wrap" class="left-nav-expanded-wrap">
    <div class="row">
      <app-left-navigation-v2-mentor [selectedTab]="'explore'">
      </app-left-navigation-v2-mentor>
      <section *ngIf="leftNavCollapsed" id="main-content" class="left-navigation-expanded" role="main">

        <div class="non-student-content">
          <a routerLink="/mentor-dashboard">BACK TO LIST</a>

          <div class="student_info">
            <div class="student_info_content">
              <p><b>{{studentName}}</b></p>
              <a (click)="showDirectMessage()" title="Send message to your student.">Send a message</a>
            </div>
            <div class="student_info_content">
              <p *ngIf="student.schoolName"><b>School:</b> {{student.schoolName}}</p>
              <p *ngIf="student.grade"><b>Grade:</b> {{student.grade}}</p>
              <p *ngIf="student.administeredYear"><b>Graduation:</b>
                {{student.administeredYear}}-{{student.administeredYear+1}}</p>
            </div>
          </div>

          <div class="about_student_info">
            <table>
              <thead>
                <th colspan="5">
                  <p>Last Logged In: <span>{{applyDateFormat(student.lastLoginDate)}}</span></p>
                  <p>Total Logins: <span>{{student?.totalLogins}}</span></p>
                </th>
                <th style="width:20%;" class="text-center">Last Updated</th>
                <th>&nbsp;</th>
              </thead>

              <tbody>
                <tr>
                  <td style="width:20%;"><b>ASVAB Scores</b></td>
                  <td colspan="4">
                    <table>
                      <tbody>
                        <tr *ngIf="student.asvabScore">
                          <td width="22%"><b>V</b> {{student.asvabScore.verbalScore}}</td>
                          <td width="22%"><b>M</b> {{student.asvabScore.mathScore}}</td>
                          <td width="22%"><b>S/T</b> {{student.asvabScore.scienceScore}}</td>
                          <td width="34%"><b>AFQT</b> {{student.asvabScore.afqtScore}}</td>
                        </tr>
                        <tr *ngIf="!student.asvabScore">
                          <td colspan="4">
                            Student has no ASVAB scores.
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td class="text-center">
                    <span *ngIf="student.asvabScore">
                      {{getAsvabDate(student) | date : 'MM/dd/yyyy' }}
                    </span>
                  </td>
                  <td>
                    <a *ngIf="student.asvabScore" (click)="downloadASVAB()" class="student_report_donwload"><i
                        class="fa fa-download"></i></a>
                    <a *ngIf="!student.asvabScore" class="student_report_donwload disabled"><i
                        class="fa fa-download"></i></a>
                  </td>
                </tr>
                <tr>
                  <td><b>Top FYI Results</b></td>
                  <td colspan="4">
                    <table>
                      <tbody>
                        <tr *ngIf="student.fyiProfile">
                          <td width="33.33%">{{getInterestDescription(student.fyiProfile.interestCodeOne)}} </td>
                          <td width="33.33%">{{getInterestDescription(student.fyiProfile.interestCodeTwo)}}</td>
                          <td width="33.33%">{{getInterestDescription(student.fyiProfile.interestCodeThree)}} </td>
                        </tr>
                        <tr *ngIf="!student.fyiProfile">
                          <td colspan="3">
                            Student does not have a FYI Profile.
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td class="text-center"><span *ngIf="student.fyiProfile">{{applyDateFormat(student.fyiProfile.profileDate)}}</span></td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td><b>Work Values</b></td>
                  <td colspan="4">
                    <table>
                      <tbody>
                        <tr>
                          <td width="33.33%">{{getWorkValueDescription(student.workValueProfile?.workValueOne)}}</td>
                          <td width="33.33%">{{getWorkValueDescription(student.workValueProfile?.workValueTwo)}}</td>
                          <td width="33.33%">{{getWorkValueDescription(student.workValueProfile?.workValueThree)}}</td>
                        </tr>
                        <tr *ngIf="!student.workValueProfile">
                          <td colspan="3">
                            Student does not have a Work Value Profile.
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td class="text-center">
                    <span *ngIf="student.workValueProfile">{{applyDateFormat(student.workValueProfile.dateUpdated)}}</span>
                  </td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td valign="top" *ngIf="student.moreAboutMe && student.moreAboutMe?.length > 0"><b>More About Me</b>
                  </td>
                  <td valign="top" *ngIf="!student.moreAboutMe || student.moreAboutMe?.length == 0"
                    style="padding-top:10px;"><b>More About Me</b></td>
                  <td colspan="4" *ngIf="student.moreAboutMe && student.moreAboutMe?.length > 0">
                    <table>
                      <tbody>
                        <tr>
                          <td width="50%" style="vertical-align: top;">
                            <ng-container *ngIf="student.moreAboutMe?.likes">
                              <p>I’m good at:</p>
                              <ul>
                                <li *ngFor="let like of student.moreAboutMe.likes">{{like}}</li>
                              </ul>
                            </ng-container>
                          </td>
                          <td width="50%" style="vertical-align: top;">
                            <ng-container *ngIf="student.moreAboutMe?.dislikes">
                              <p>I don’t like:</p>
                              <ul>
                                <li *ngFor="let dislike of student.moreAboutMe.dislikes">{{dislike}}</li>
                              </ul>
                            </ng-container>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td colspan="4" *ngIf="!student.moreAboutMe || student.moreAboutMe?.length == 0"
                    style="padding-left:20px;padding-top:10px;">
                    Student does not have More About Me information.
                  </td>
                  <td valign="top" class="text-center"><span
                      *ngIf="student.moreAboutMe && student.moreAboutMe?.length > 0">{{getMoreAboutMeLastUpdateDate(student.moreAboutMe)}}</span>
                  </td>
                  <td valign="top">&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Portfolio  -->
          <ng-container>
            <div class="student_review_section">
              <h5>Portfolio Builder</h5>
              <div class="student_review_wrapper" [ngClass]="{'active' : toggle1}" *ngIf="portfolio">

                <div class="student_review_title">
                  <a *ngIf="showPortfolioDropdown()" class="toggle_arrow" (click)="toggle1 = !toggle1"></a>
                  <p><span [ngClass]="getPortfolioCssClass()"></span> Portfolio</p>
                  <div class="student_review_specs">
                    <span class="message_count_link" *ngIf="unreadPortfolioCount > 0">
                      <a (click)="toggle1 = !toggle1" class="message_count">{{unreadPortfolioCount}}</a>
                    </span>
                    <a (click)="showAddComment('Portfolio')" class="student_add_comment">Add comment</a>
                    <span class="student_report_date">{{portfolioLastUpdated}}</span>

                    <a *ngIf="portfolioLastUpdated" (click)="downloadPortfolio()" class="student_report_donwload"><i
                        class="fa fa-download"></i></a>
                    <a *ngIf="!portfolioLastUpdated" class="student_report_donwload disabled"><i
                        class="fa fa-download"></i></a>

                  </div>
                </div>
                <div class="student_review_content">
                  <ng-container *ngFor="let item of portfolioListViewItems 
                      | multiParamFilterPipe: getPortfolioFilters(showPortfolioReadItems)
                      | orderBy: 'timestamp' : 'desc'
                      | orderBy: 'typeId' : 'desc'; let i = index;">
                    <div class="student_review_item">
                      <div class="reviewed_msg_text border_top pt_10 mt_10" [ngClass]="{unread_item: !item.hasBeenRead && !item.isFromYou}">

                        <span class="message_count_link" *ngIf="!item.hasBeenRead && !item.isFromYou">
                          <span class="message_count">&nbsp;</span>
                        </span>

                        <!-- If a comment -->
                        <ng-container *ngIf="item.typeId == 1">
                          <p>{{item.from}}:&nbsp;{{item.message}}</p>
                        </ng-container>

                        <!-- portfolio log item -->
                        <ng-container *ngIf="item.typeId == 2">
                          <p *ngIf="item.statusId == 5">Reviewed:&nbsp;<span
                              class="reviewed_msg_time">{{item.timestampReviewed}}</span></p>
                          <p *ngIf="item.statusId == 2"><b>Ready for Review:</b>&nbsp;<br /><a style="margin-left: 0;"
                              (click)="markAsReviewed('Portfolio',item)">Mark as reviewed</a></p>
                        </ng-container>

                        <p class="reviewed_msg_time">{{item.timestamp}}</p>
                      </div>

                      <div class="student_review_read_wrapper">
                        <div class="student_review_read">

                          <!-- comment -->
                          <ng-container *ngIf="item.typeId == 1">

                            <div class="student_review_checkbox" *ngIf="!item.isFromYou">
                              <input class="styled-checkbox" type="checkbox" id="markAsRead{{i}}"
                                [checked]="item.hasBeenRead" [disabled]="item.hasBeenRead && !item.isFromYou"
                                (click)="markAsRead(item, 'Portfolio')">
                              <label class="styled-checkbox-label" for="markAsRead{{i}}"></label>
                            </div>

                            <div class="student_review_checkbox"
                              *ngIf="item.isFromYou && item.typeId == 1 && item.hasBeenRead">
                              <i class="fas fa-check" style="color:gray;"></i>
                              <label class="styled-checkbox-label" for="markAsRead{{i}}"></label>
                            </div>
                            <a *ngIf="!item.hasBeenRead && !item.isFromYou" (click)="markAsRead(item, 'Portfolio')">
                              Mark as read
                            </a>

                            <!-- If the comment was read by a student show the following  -->
                            <ng-container *ngIf="item.hasBeenRead && !item.isFromYou">
                              <a class="disabled">Mark as read</a>
                            </ng-container>
                            <span class="reviewed_msg_time" style="margin-left: 15px;color: #AAAAAA;"
                              *ngIf="item.isFromYou && item.typeId == 1 && item.hasBeenRead">
                              Viewed by Student
                            </span>

                          </ng-container>

                          <!-- portfolio log item -->
                          <ng-container *ngIf="item.typeId == 2">
                            <div class="student_review_checkbox" *ngIf="!item.isFromYou">
                              <input class="styled-checkbox" type="checkbox" id="markAsRead{{i}}"
                                [checked]="item.hasBeenRead" [disabled]="item.hasBeenRead && !item.isFromYou"
                                (click)="markAsRead(item, 'Portfolio')">
                              <label class="styled-checkbox-label" for="markAsRead{{i}}"></label>
                            </div>
                            <a *ngIf="!item.hasBeenRead && !item.isFromYou" (click)="markAsRead(item, 'Portfolio')">Mark
                              as read</a>
                            <a *ngIf="(item.hasBeenRead && !item.isFromYou)" class="disabled">Mark as read</a>
                          </ng-container>

                        </div>
                      </div>
                    </div>
                  </ng-container>

                  <div class="student_review_read_wrapper bg_light_blue">
                    <div class="student_review_read">
                      <div class="student_review_checkbox">
                        <input class="styled-checkbox" type="checkbox" id="portfolioCheckAll"
                          (click)="markAllAsRead('Portfolio')" [disabled]="unreadPortfolioCount == 0">
                        <label class="styled-checkbox-label" for="portfolioCheckAll"></label>
                      </div>
                      <a (click)="markAllAsRead('Portfolio')" [ngClass]="{'disabled' : unreadPortfolioCount == 0}">
                        Mark all as read</a>
                    </div>
                    <a (click)="showPortfolioReadItems = !showPortfolioReadItems">
                      <span *ngIf="!showPortfolioReadItems">Show read messages</span>
                      <span *ngIf="showPortfolioReadItems">Hide read messages</span>
                    </a>
                  </div>
                </div>
              </div>

              <div *ngIf="!portfolio" class="px_20">
                <p>Portfolio has not been started by the student.</p>
              </div>

            </div>
          </ng-container>

          <!-- Career Plans -->
          <div class="student_review_section">
            <h5>Career Plans</h5>

            <ng-container *ngFor="let plan of careerPlans;let plan_index = index;">
              <div class="student_review_wrapper" [ngClass]="!plan.expanded ? '' : 'active'">
                <div class="student_review_title">
                  <a *ngIf="showPlanDropdown(plan)" class="toggle_arrow" (click)="plan.expanded = !plan.expanded"></a>
                  <p class="max-width-50"><span [ngClass]="getOccupationPlanStatusCssClass(plan)"></span>{{abbreviateTitle(plan.title)}}</p>

                  <div class="student_review_specs">
                    <span class="message_count_link" *ngIf="getUnreadPlanCount(plan) > 0">
                      <a (click)="plan.expanded = !plan.expanded" class="message_count">{{getUnreadPlanCount(plan)}}</a>
                    </span>
                    <a (click)="showAddComment('Plan', plan.id)" class="student_add_comment">Add comment</a>
                    <span class="student_report_date">{{applyDateFormat(plan.dateUpdated)}}</span>
                    <a (click)="downloadPlan(plan)" title="Download Career Plan"><i class="fa fa-download"></i></a>
                  </div>
                </div>
                <div class="student_review_content">

                  <div class="student_review_item">
                    <ng-container
                      *ngFor="let item of plan.combinedList | multiParamFilterPipe: getPlanListItemsFilter(plan.showReadPlanItems) |orderBy: 'dateCreated' : 'desc'; let i = index;">
                      <div class="reviewed_msg_text border_top pt_10 mt_10" [ngClass]="{ unread_item: !item.hasBeenRead }">
                        <!-- COMMENT -->
                        <ng-container *ngIf="item.typeId == 1">
                          <span class="message_count_link" *ngIf="!item.hasBeenRead">
                            <span class="message_count">&nbsp;</span>
                          </span>
                          <p>{{item.from}}:&nbsp;{{item.message}}</p>
                        </ng-container>

                        <!-- LOG -->
                        <ng-container *ngIf="item.typeId == 2">
                          <span class="message_count_link" *ngIf="!item.hasBeenRead && item.statusId == 2">
                            <span class="message_count">&nbsp;</span>
                          </span>

                          <!-- Reviewed -->
                          <ng-container *ngIf="item.statusId == 5">
                            <p *ngIf="item.hasBeenReviewed">Reviewed</p>
                          </ng-container>

                          <!-- Submitted -->
                          <ng-container *ngIf="item.statusId == 2">
                            <p class="flex-ellipsis" *ngIf="!item.hasBeenReviewed"><b>Ready for Review:</b><br /><a
                                style="margin-left:0;" (click)="markAsReviewed('Plan',item,plan.id)">Mark as
                                reviewed</a>
                            </p>
                            <p *ngIf="item.hasBeenReviewed">Submitted for Review
                            </p>
                          </ng-container>

                        </ng-container>
                        <p class="reviewed_msg_time">{{item.dateCreated}}</p>
                      </div>
                      <div class="student_review_read_wrapper">
                        <div class="student_review_read" *ngIf="!item.hasBeenRead">
                          <div class="student_review_checkbox">
                            <input class="styled-checkbox" type="checkbox" id="planItemRead{{plan_index}}-{{i}}"
                              (click)="markAsRead(item, 'Plan', plan.id)">
                            <label class="styled-checkbox-label" for="planItemRead{{plan_index}}-{{i}}"></label>
                          </div>
                          <a (click)="markAsRead(item, 'Plan', plan.id)" title="Mark as read">Mark as read</a>
                        </div>
                        <div class="student_review_read" *ngIf="item.hasBeenRead && !item.messageFromYou">
                          <div class="student_review_checkbox">
                            <input class="styled-checkbox" type="checkbox" id="planItemRead{{plan_index}}-{{i}}"
                              disabled checked="true">
                            <label class="styled-checkbox-label" for="planItemRead{{plan_index}}-{{i}}"></label>
                          </div>
                          <a class="disabled">Mark as read</a>
                        </div>
                      </div>
                    </ng-container>

                  </div>

                  <div class="student_review_read_wrapper bg_light_blue">
                    <div class="student_review_read">
                      <div class="student_review_checkbox">
                        <input class="styled-checkbox" type="checkbox" id="interest{{ index+12 }}" (click)="markAllAsRead('Plan', plan.id)">
                        <label class="styled-checkbox-label" for="interest{{ index+12 }}"></label>
                      </div>
                      <a (click)="markAllAsRead('Plan', plan.id)">Mark all as read</a>
                    </div>
                    <a (click)="plan.showReadPlanItems = !plan.showReadPlanItems ">
                      <span *ngIf="!plan.showReadPlanItems ">Show read messages</span>
                      <span *ngIf="plan.showReadPlanItems ">Hide read messages</span>
                    </a>
                  </div>
                </div>

              </div>
            </ng-container>

            <div *ngIf="careerPlans?.length == 0" class="px_20">
              <p>No career plans have been created.</p>
            </div>

          </div>

          <!-- Calendar -->
          <div class="student_review_section">
            <h5>Calendar</h5>
            <div class="student_review_wrapper">
              <div class="student_review_title">
                <p class="px_20">{{calendarCount}} Scheduled dates</p>

                <div class="student_review_specs">
                  <a (click)="addDate()" title="Add Student Date" class="student_add_comment">Add a date</a>
                  <span class="student_report_date">{{lastCalendarUpdateDate}}</span>
                  <a (click)="showStudentCalendar()" title="View Student Calendar"><img alt="List"
                      src="assets/images/list_item.svg"></a>
                </div>
              </div>
            </div>
          </div>

          <!-- Activities -->
          <div class="student_review_section">
            <h5>Activities</h5>
            <ng-container *ngFor="let activity of activityListViewItems; let i = index;">
              <div class="student_review_wrapper" [ngClass]="!activity.expanded ? '' : 'active'">
                <div class="student_review_title padding-0">
                  <a  class="toggle_arrow" (click)="activity.expanded = !activity.expanded"></a>
                  <p><span [ngClass]="activity.activityStatusClass"></span>{{activity.title}}</p>

                  <div class="student_review_specs">
                    <span class="message_count_link" *ngIf="activity.unreadMessageCount > 0">
                      <a class="message_count"
                        (click)="activity.expanded = !activity.expanded">{{activity.unreadMessageCount}}</a>
                    </span>
                    <a (click)="showAddComment('Activity', activity.classroomActivityId)"
                      class="student_add_comment">Add comment</a>
                    <span class="student_report_date">{{activity.lastUpdated}}</span>
                    <a *ngIf="activity.hasMultipleSubmissions"
                      (click)="activity.expandDownload = !activity.expandDownload" class="student_report_download"
                      [ngClass]="{'expanded' : activity.expandDownload}"><i class="fa fa-download"></i>
                    </a>
                    <a *ngIf="!activity.hasMultipleSubmissions && activity.submittedSubmissions?.length == 1"
                      (click)="downloadSubmission(activity.classroomActivityId, activity.submittedSubmissions[0].id, activity.submittedSubmissions[0].fileName)"
                      class="student_report_download"><i class="fa fa-download"></i>
                    </a>
                    <a *ngIf="activity.submittedSubmissions?.length == 0" class="student_report_download disabled"><i
                        class="fa fa-download"></i>
                    </a>
                  </div>
                </div>

                <!-- show expanded download if multiple submissions were submitted or reviewed -->
                <div *ngIf="activity.expandDownload" class="mentor-student-download-menu">
                  <ul>
                    <li *ngFor="let submission of activity.submittedSubmissions">
                      <label>
                        <input type="checkbox"
                          [checked]="getCheckedSubmissionFileValue(submission,activity.classroomActivityId)"
                          (change)="onSubmissionFileChecked($event, submission,activity.classroomActivityId )" />&nbsp;{{submission.fileName}}
                      </label>
                    </li>
                  </ul>
                  <div class="text-center">
                    <button type="button" [disabled]="getSelectionCount(activity.classroomActivityId) == 0"
                      class="button" (click)="downloadSelectedFiles(activity.classroomActivityId)">DOWNLOAD</button>
                  </div>
                </div>

                <div class="student_review_content">
                  <div class="student_review_item" *ngFor="let item of activity.activityListViewItems 
                  | multiParamFilterPipe: getActivityListItemsFilter(activity.showReadItems)
                  | orderBy: 'originalTimeStamp' : 'desc'; let ind = index;">
                    <div class="reviewed_msg_text border_top pt_10 mt_10" style="min-width: 0;" [ngClass]="{unread_item: !item.hasBeenRead }">
                      <!-- [ngClass]="{unread_item: (item.typeId == 1 && (!item.hasBeenRead && !item.isFromYou)) || (item.typeId == 2 && !(item.hasBeenRead)) }"> -->

                      <!-- If a comment -->
                      <ng-container *ngIf="item.typeId == 1">
                        <span class="message_count_link" *ngIf="!item.hasBeenRead && !item.isFromYou">
                          <span class="message_count">&nbsp;</span>
                        </span>
                        <p>{{item.from}}:&nbsp;{{item.message}}</p>
                      </ng-container>

                      <!-- submission item -->
                      <ng-container *ngIf="item.typeId == 2">
                        <span class="message_count_link" *ngIf="!item.hasBeenRead && item.statusId == 2">
                          <span class="message_count">&nbsp;</span>
                        </span>

                        <!-- Unsubmitted -->
                        <p *ngIf="item.statusId == 3">
                          Unsubmitted file:&nbsp;{{item.fileName}}
                        </p>

                        <!-- Reviewed -->
                        <ng-container *ngIf="item.statusId == 5">
                          <p class="flex-ellipsis" title="{{item.fileName}}" *ngIf="item.hasBeenReviewed">
                            Reviewed File:&nbsp;{{item.fileName}}&nbsp;on&nbsp;<span class="px_10 reviewed_msg_time"
                              title="{{item.timestampUpdated}}">{{item.timestampUpdated}}</span></p>
                        </ng-container>

                        <!-- Submitted -->
                        <ng-container *ngIf="item.statusId == 2" style="min-width: 0;">
                          <p *ngIf="!item.hasBeenReviewed" class="flex-ellipsis" title="{{item.fileName}}"><b>Ready for
                              Review File:&nbsp;{{item.fileName}}</b>
                            <br />
                            <a style="margin-left: 0 !important;"
                              (click)="markAsReviewed('Activity',item,activity.classroomActivityId)">
                              Mark as reviewed
                            </a>
                          </p>
                        </ng-container>

                      </ng-container>

                      <!-- submission log item -->
                      <ng-container *ngIf="item.typeId == 3">

                        <ng-container *ngIf="item.statusId == 2">
                          <p class="flex-ellipsis">Ready for Review:&nbsp;<span title="{{item.fileName}}"
                              class="reviewed_msg_time">File {{item.fileName}} was
                              unsubmitted</span></p>
                        </ng-container>

                        <ng-container *ngIf="item.statusId == 3">
                          <p class="flex-ellipsis" title="{{item.fileName}}">Unsubmitted file:&nbsp;{{item.fileName}}
                          </p>
                        </ng-container>

                        <ng-container *ngIf="item.statusId == 5">
                          <p class="px_10 flex-ellipsis" title="{{item.fileName}}" *ngIf="item.hasBeenReviewed">
                            Reviewed File:&nbsp;{{item.fileName}}</p>
                        </ng-container>
                      </ng-container>

                      <p class="reviewed_msg_time">{{item.timestampUpdated}}</p>
                    </div>

                    <div class="student_review_read_wrapper">
                      <div class="student_review_read">

                        <!-- submission item -->
                        <ng-container *ngIf="item.typeId == 2">

                          <!-- allow mark as read if submitted status -->
                          <ng-container *ngIf="item.statusId == 2 ">
                            <div class="student_review_checkbox" *ngIf="!item.isFromYou">
                              <input class="styled-checkbox" type="checkbox" id="markAsRead{{ind}}"
                                [checked]="item.hasBeenRead" [disabled]="item.hasBeenRead && !item.isFromYou"
                                (click)="markAsRead(item, 'Activity', activity.classroomActivityId)">
                              <label class="styled-checkbox-label" for="markAsRead{{ind}}"></label>
                            </div>
                            <a *ngIf="!item.hasBeenRead && !item.isFromYou"
                              (click)="markAsRead(item, 'Activity', activity.classroomActivityId)">Mark as read</a>
                            <a *ngIf="(item.hasBeenRead && !item.isFromYou)" class="disabled">Mark as read</a>
                          </ng-container>

                          <!-- do not allow mark as read if not submitted status -->
                          <ng-container *ngIf="item.statusId == 5 ">
                            <div class="student_review_checkbox">
                              <input class="styled-checkbox" type="checkbox" id="markAsRead{{ind}}" [checked]="true"
                                [disabled]="true">
                              <label class="styled-checkbox-label" for="markAsRead{{ind}}"></label>
                            </div>
                            <a class="disabled">Mark as read</a>
                          </ng-container>

                        </ng-container>

                        <!-- comment -->
                        <ng-container *ngIf="item.typeId == 1">
                          <div class="student_review_checkbox" *ngIf="!item.isFromYou">
                            <input class="styled-checkbox" type="checkbox" id="markAsRead{{ind}}"
                              [checked]="item.hasBeenRead" [disabled]="item.hasBeenRead && !item.isFromYou"
                              (click)="markAsRead(item, 'Activity', activity.classroomActivityId)">
                            <label class="styled-checkbox-label" for="markAsRead{{ind}}"></label>
                          </div>
                          <div class="student_review_checkbox"
                            *ngIf="item.isFromYou && item.typeId == 1 && item.hasBeenRead">
                            <i class="fas fa-check" style="color:gray;"></i>
                            <label class="styled-checkbox-label" for="markAsRead{{index}}"></label>
                          </div>
                          <a *ngIf="!item.hasBeenRead && !item.isFromYou"
                            (click)="markAsRead(item, 'Activity', activity.classroomActivityId)">Mark as read</a>
                          <ng-container *ngIf="item.hasBeenRead && !item.isFromYou">
                            <a class="disabled">Mark as read</a>
                          </ng-container>
                          <span class="reviewed_msg_time" style="margin-left: 15px;color: #AAAAAA;"
                            *ngIf="item.isFromYou && item.typeId == 1 && item.hasBeenRead">
                            Viewed by Student
                          </span>
                        </ng-container>
                      </div>
                    </div>

                  </div>

                  <div class="student_review_read_wrapper bg_light_blue">
                    <div class="student_review_read">
                      <div class="student_review_checkbox">
                        <input class="styled-checkbox" type="checkbox" id="activity{{activity.classroomActivityId}}"
                          (click)="markAllAsRead('Activity', activity.classroomActivityId)"
                          [disabled]="activity.unreadMessageCount == 0">
                        <label class="styled-checkbox-label" for="activity{{activity.classroomActivityId}}"></label>
                      </div>
                      <a (click)="markAllAsRead('Activity', activity.classroomActivityId)"
                        [ngClass]="{'disabled' : activity.unreadMessageCount == 0}">Mark all as read</a>
                    </div>
                    <a (click)="activity.showReadItems = !activity.showReadItems ">
                      <span *ngIf="!activity.showReadItems ">Show read messages</span>
                      <span *ngIf="activity.showReadItems ">Hide read messages</span>
                    </a>
                  </div>
                </div>

              </div>

            </ng-container>

            <div *ngIf="activityListViewItems?.length == 0" class="px_20">
              <p>No Activities have been submitted by the student.</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>

  <app-footer></app-footer>
</div>