<div class="modal-header">
	<div class="small-12 columns" align="right">
		<button class="button" type="button" mat-dialog-close>Close</button>
	</div>
</div>

<mat-dialog-content class="modal-body">
	<img src="http://www.asvabprogram.com/media-center-content/thumbnails/asvab-info.jpg">
</mat-dialog-content>