<div class="modal-header">
	<div class="small-12 columns" align="right">
		<button class="button" type="button" data-ng-click="modalOptions.close()">Close</button>
	</div>
</div>

<div class="modal-body">
	<img src="http://www.asvabprogram.com/media-center-content/thumbnails/asvab-info.jpg">
</div>