<div class="calendar_date">
  <div class="modal-content" style="border:none;">
    <div class="modal-header">
      <h3> Calendar Date </h3>
      <button class="close-button" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-content-inner">

      <form [formGroup]="dateFormGroup" (submit)="saveDateFormGroup()" *ngIf="!isLoading">
        <div class="form-group d-flex">
          <label class="mb_10" style="width:50px;"><strong>Title</strong></label>
          <input class="w-100" formControlName="title">
        </div>
        <div class="form-group d-flex">
          <label style="width:50px;margin-top: 15px;"><strong>Date</strong></label>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="mm/dd/yyyy" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="text-center mt_50">
          <button class="button" type="submit"
            [disabled]="(!dateFormGroup.dirty || !dateFormGroup.valid) || isSaving">SAVE
            <span *ngIf="isSaving" id="save-indicator"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></span>
          </button>
          <button class="button" type="button" (click)="close()">CANCEL</button>
        </div>
      </form>

      <div *ngIf="isLoading">
        <div class="row">
          <div class="small-12 column text-center">
            <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
            Loading...
          </div>
        </div>
      </div>
    </div>

  </div>
</div>