<div class="submit-to-mentor-modal">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Submit {{title}} to Mentor</h3>
      <button class="close-button" (click)="close()" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <ng-container *ngIf="!isLoading">

      <div class="modal-body">
        <mat-dialog-content>
          <!-- if no mentors are linked to the student -->
          <ng-container *ngIf="mentors?.length == 0">
            <div class="student_account_column6 invite_parent">
              <div class="d-flex align-items-center justify-space-between mb_10">
                <p class="invite_parent_title caps mb-0"><strong>Invite a mentor</strong></p>
                <button type="button" [disabled]="mentorInviteForm.invalid" title="Click here to Invite"
                  (click)="submitMentorInvite()"><img src="assets/images/Add_mentor.png"
                    alt="Click here to Invite"></button>
              </div>
              <p>Invite your mentors to review and comment on your account information including scores, career plans,
                activities, and your calendar.</p>
              <p><b>Build your plans together.</b></p>
              <form [formGroup]="mentorInviteForm" (submit)="submitMentorInvite()" class="search-keyword">
                <input class="searchTerm" placeholder="Email" type="Email" formControlName="inviteEmails"
                  [disabled]="mentorInviteFormSubmitted">
                <button class="searchButton" type="submit" title="Click here to Invite"
                  [disabled]="mentorInviteForm.invalid || mentorInviteFormSubmitted"
                  [ngClass]="mentorInviteForm.invalid || mentorInviteFormSubmitted ? 'disabled' : ''"><i
                    class="fa fa-angle-right"></i></button>
              </form>
              <p>Seperate multiple emails with a comma.</p>
              <p class="error-text" *ngIf="errorText != ''">{{errorText}}</p>
            </div>
          </ng-container>

          <!-- if one or more mentors are linked to the student -->
          <ng-container *ngIf="mentors?.length > 0">

            <form [formGroup]="sendToMentorsForm" (submit)="submitSendToMentorsForm()" class="search-keyword">

              <div class="row mb_10">
                <div class="column small-12">
                  Select the mentors you would like to submit your {{subtext}} to.
                </div>
              </div>
              <ng-container formArrayName="availableMentors">
                <ul>
                  <li *ngFor="let mentor of availableMentors.controls; let i = index" [formGroupName]="i" class="row">
                    <ng-container *ngIf="mentor.value.show">
                      <label>
                        <div class="column small-1">
                          <input class="styled-checkbox" type="checkbox" id="mentor{{i}}" formControlName="isSelected">
                        </div>
                        <div class="column small-11">{{mentor.value.mentorEmail}}</div>
                      </label>
                    </ng-container>
                  </li>
                </ul>
              </ng-container>

              <p class="error-text" *ngIf="errorText != ''">{{errorText}}</p>

              <div class="row">
                <div class="column small-12">
                  <button type="submit" class="button"
                    [disabled]="(sendToMentorsForm.invalid || getSelectedAvailableMentors().length == 0) || isSaving"
                    title="Click to submit to the selected mentor(s)">SUBMIT
                    <span *ngIf="isSaving" id="save-indicator"><i
                        class="fa fa-circle-o-notch fa-spin fa-fw"></i></span></button>
                </div>
              </div>

              <div class="row" *ngIf="successText != ''">
                <div class="column small-12">
                  <p class="success-text">{{successText}}</p>
                </div>
              </div>
            </form>
          </ng-container>


        </mat-dialog-content>
      </div>
      <ng-container *ngIf="mentors?.length > 0">

        <div class="modal-footer invite_parent ">
          <form [formGroup]="mentorCommentForm" (submit)="submitMentorComment()" class="search-keyword">
            <div class="row mb_10">
              <div class="column small-4" style="padding-top:3px;">
                Send a comment
              </div>
              <div class="column small-8">
                <div class="checkbox-dropdown">
                  <mat-form-field appearance="fill">
                    <mat-label>Select Mentor(s)</mat-label>
                    <mat-select formControlName="commentMentors" multiple>
                      <mat-select-trigger>
                        {{mentorCommentForm.get('commentMentors').value ?
                        getMentorDisplayName(mentorCommentForm.get('commentMentors').value) : ''}}
                        <span *ngIf="mentorCommentForm.get('commentMentors').value?.length > 1"
                          class="example-additional-selection">
                          {{getMentorDisplayName(mentorCommentForm.get('commentMentors').value[0])}}&nbsp;
                          (+{{mentorCommentForm.get('commentMentors').value.length - 1}}
                          {{mentorCommentForm.get('commentMentors').value?.length === 2 ? 'other' : 'others'}})
                        </span>
                      </mat-select-trigger>
                      <mat-option *ngFor="let mentor of mentors" [value]="mentor.id">{{mentor.mentorEmail}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="column small-12 search-keyword">


                <input placeholder="Comment" type="text" formControlName="comment"
                  [attr.readonly]="(mentorCommentForm.get('commentMentors').value.length == 0) ? true : null">
                <button class="searchButton" type="submit" title="Click here to send Comment"
                  [ngClass]="mentorCommentForm.invalid ? 'disabled' : ''" [disabled]="mentorCommentForm.invalid">
                  <i class="fa fa-angle-right"></i>
                </button>
              </div>
            </div>

            <!-- Comment History -->
            <div class="comment-history">
              <div class="row" *ngFor="let comment of comments | orderBy: 'dateCreated' : 'desc'; let i = index;">
                <br />
                <div class="column small-12">
                  <div class="row" style="margin-bottom:3px;">
                    <div class="column small-9">
                      To: <span *ngFor="let to of comment.to">{{to.username}}
                      </span>
                    </div>
                    <div class="column small-3 text-right">
                      {{comment.dateCreated | date:'MM/dd/yy'}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="column small-12">
                      {{comment.message}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Comment History -->

          </form>
        </div>

      </ng-container>

    </ng-container>

    <div *ngIf="isLoading">
      <div class="row">
        <div class="small-12 column text-center">
          <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
          Loading...
        </div>
      </div>
    </div>

  </div>
</div>