<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="_dialogRef.close();"><span
      aria-hidden="true">&times;</span></button>
  <h3 class="modal-title">Sample Gap Year Program List</h3>
</div>

<div class="modal-body">

  <div *ngIf="isLoading" class="loading isCenter">
    Loading&nbsp;<i class='fa fa-cog fa-spin fa-2x' style='color: #2f2a6a;'></i>
  </div>

  <ng-container *ngIf="!isLoading">
    <div class="row">
      <div class="small-12">
        <div class="gap-year-plan-options">
          <ul>
            <li *ngFor="let option of gapYearOptions; let i = index;">
              <div class="checkbox-tick">
                <input class="styled-checkbox" type="checkbox" id="{{option.title}}" [(ngModel)]="checkedarray[i]"
                  (change)="updateSelection(option, $event.target.checked, i)">
                <label class="styled-checkbox-label" for="{{option.title}}"></label>
                <span class="ml_10"><a href="{{option.url}}" target="_blank">{{option.title}}</a></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ng-container>

</div>

<div class="modal-footer">

</div>

<button type="button" class="bottom_add_plan_link border_top" (click)="closeAndSave()" [disabled]="selectedGapYearOptions.length == 0">
  <strong>Add Gap Year Program&nbsp;<i class="fa fa-plus"></i></strong></button>