.gap-year-plan-options{
    padding-top: 10px;
    border: 1px solid #979797;
    min-height: 200px;
    max-height: 200px;
    overflow-y: scroll;

    ul{
        margin-left:5px;
        margin-right:5px;
    }
    ul li{
        padding:5px;
    }
    ul li, ul li:before{
        content:none !important;
        list-style: none;
    }

    ul li:nth-child(odd) {
        background: #eeeeee;


        .styled-checkbox+label.styled-checkbox-label:before{
            background-color: transparent;
        }
      }

      .checkbox-tick{
        margin: 0;
    }
}

.bottom_add_plan_link {
    font-size: 15px;
    text-align: center;
    background-color: rgba(76, 68, 172, 0.2);
    display: block;
    padding: 10px;
    width:100%;
    color: #4c44ac;
    line-height: inherit;
}

.ml_10{
    margin-left:10px;
}