.bg_green {
    background-color: #E4F4F4;
}
.border_bottom {
    border-bottom: 1px solid #979797;
}
.text-md-right {
    @media (min-width: 768px) {
        text-align: right;
    }
}
.occufind {
    #content-wrap {

        [type='checkbox'] + label, [type='radio'] + label {
            display: inline-block;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
            vertical-align: text-bottom;
        }

        .menu.tools {
            font-weight: normal;
            text-transform: inherit;
            margin-bottom: 0;
            margin-left: 0;
    
            li {
				@media screen and (max-width: 39.9375em) and (min-width: 0em) {
					float: left !important;
					margin-right: 15px;
				}

                + li {
					margin-left: 20px;
					
					@media screen and (max-width: 39.9375em) and (min-width: 0em) {
						margin-left: 0;
					}
	
                }
    
                &:before {
                    display: none;
                }

                &#back {
                    a {
                        padding: 0 !important;
                    }
                }
    
                a {
                    padding-left: 25px !important;
					padding-right: 0 !important;
					
					@media screen and (max-width: 39.9375em) and (min-width: 0em) {
						margin-bottom: 10px;
					}

                    &:before {
                        left: 0;
                        right: inherit;
                    }
                }
            }
        } 
        
        .wv-status {
            margin: auto;
            
            li {
                display: inline-block;
                width: 33.333%;
                text-align: center;
                
                @media screen and (max-width: 39.9375em) and (min-width: 0em) {
                   width: 100%; 
                }
                
                &:before {
                    content: initial;
                }
                
                span {
                    position: absolute;
                    width: 17px;
                    height: 17px;
                    background: #4c44ac;
                    color: #fff;
                    border-radius: 50%;
                    line-height: 14px;
                    font-size: 10px;
                    font-weight: 700;
                    border: 1px solid;
                    left: 50%;
                    margin-left: 6px;
                    top: -3px;
                }
            }
        }
    }
} 

.page_back_link {
    border-bottom: 1px solid #BDBDBD;
    display: block;
    line-height: normal;
    padding: 10px 0;
}

.plan_top_share {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
	margin-bottom: 15px;
	
	h2 {
		text-transform: inherit;
	}

    p {
        font-size: 16px;
    }

    ul {
        text-align: center;
		text-transform: inherit;
		background-color: transparent !important;
        margin-bottom: 0;
        margin-left: 0;

        li {

            &:before {
                display: none;
            }

            a {
				color: #4c44ac !important;
				padding: 0 !important;
            }
        }
    }
}

#portfolio {
	#name-grade {
		margin-bottom: 20px;
	}
    .portfolio-group {
        .heading {
			padding: 5px;
			margin-bottom: 20px;
		}
		.entry {
			position: relative;
			padding-bottom: 20px;

			@media screen and (max-width: 39.9375em) and (min-width: 0em) {
    			padding-right: 40px;
			}
		}
		.actions {

			@media screen and (max-width: 39.9375em) and (min-width: 0em) {
				position: absolute;
				top: 0;
				right: -5px;
				float: none;
				width: inherit;
			}


			button {
				margin-left: 5px;
			}
		}
        .plan-wrapper  {
            .plan-selection {
                margin-bottom: 10px;

                .columns.medium-4 {
                    float: left;
                }
            }

            textarea {
                padding: 10px;
            }
        }
        .portfolio-buttons {
            display: flex;
            justify-content: center;
            margin: 10px auto 0;

            .button {
                min-width: 78px;
                margin: 0 15px;
            }
        }
        .add {
			.add.button {
				font-size: 15px;
				color: #4c44ac;
				background-color: rgba(76,68,172,0.2);
				display: block;
				border: none;
				text-align: center;
				text-transform: inherit;
				width: 100%;
				border-top: 1px solid #979797;
				padding: 10px;
				margin: 0;
			}
		}
	}
	
	#my-results-table {
		max-width: 100%;
		width: 100%;
		margin: 20px -20px 0;

		@media screen and (max-width: 39.9375em) and (min-width: 0em) {
			margin-top: 50px;
		}

		.text-left {
			text-align: left !important;
		}

		tr {
			background-color: transparent;

			td {
				padding: 0 20px;

				@media screen and (max-width: 39.9375em) and (min-width: 0em) {
					display: block;
					text-align: left !important;
				}
	
				span {
					margin-right: 10px;
				}
			}
		}

		
	}

	tbody {
		tr {
			&:nth-child(even) { 
				background-color: transparent;
			}
			&:nth-child(odd) {
				background-color: #f2f2f2;
			}
		}
	}
} 


#printSectionNew{
    margin: 0 auto;
    max-width: 1008px;
    background-color:white;
    padding:15px;
    font-size:0.9em;

    .bg_green{
        border-top:1px solid #979797;
        border-bottom:1px solid #979797;
        padding-top:15px;
        padding-bottom:15px;
    }

    .bg_gray{
        background-color: #EEEEEE;
        padding-top:2px;
        padding-bottom:2px;
    }


    h2{
        margin:0;
        color:black;
    }

    h4{
        color:black;
        margin:0;
        padding:0;
        text-transform: uppercase;
    }
}

.plan_top_share-caption{

    padding-left:3px;

 

    @media (max-width: 639px) {

        display:block;

    }

}

/** Resume Print **/
.resume-print {
    padding: 35px 15px;
    
    table {
        width: 100%;
        margin-bottom: 25px;
        
        strong {
            font-weight: normal;
        }

        th,td {
            font-size: 14px;
            line-height: 19px;
            padding-left: 17px;
            padding-right: 17px;

            @media screen and (max-width: 767px) {
                padding-left: 10px;
                padding-right: 10px;
            }

            &.no-space {
                padding: 0;
            }
        }

        thead {
            th {
                background-color: #EEEEEE;
                text-transform: uppercase;
                padding: 3px 17px;
                font-weight: normal;
            }
        }

        tbody {
            tr {
                background-color: transparent;

                &:first-child {
                    > td {
                        padding-top: 15px;
                    }
                }

                img {
                    margin-right: 10px;
                }
            }
        }
        
        .work-value {
            position: relative;
            
            span {
                border: 1px solid #fff;
                position: absolute;
                right: 3px;
                top: -6px;
                font-size: 11px;
                color: #fff;
                background: #4C42AD;
                width: 16px;
                height: 16px;
                text-align: center;
                border-radius: 15px;
                line-height: 14px;
                font-weight: bold;
            }
        }
    }
    
    .resume-header {
        font-size: 18px;
        line-height: 31px;
        color: #000;
    
        thead {
            tr {
               
                th {
                    font-size: 18px;
                    background-color: #E4F4F4;
                    text-transform: inherit;
                    border-top: 1px solid #898989;
                    border-bottom: 1px solid #898989;
                    padding: 11px 17px;
    
                    &:nth-child(2) {
                        text-align: right;
                    }
                }
            }
        }
    }

    &-score {
        tr {
            td {
                tr {
                    td {
                        &:last-child {
                            &:not(:first-child) {
                                @media screen and (min-width: 40em) {
                                    width: 60%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &-work-value {
        td {
            @media screen and (max-width: 39.9375em) {
                display: block;
            }
        }
    }
}

.all-caps{
    text-transform: uppercase !important;
}

.mobileCaptureAreaLarge {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999999;
    height: 100%;
}

.mobileCaptureAreaSmall {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999999;
    height: 50%;
}