<div id="portfolio" class="occufind">
	<app-header></app-header>
	<app-my-asvab-header></app-my-asvab-header>

	<section id="content-wrap" class="left-nav-expanded-wrap">
		<div class="row">

			<app-left-navigation-v2-collapsed [selectedTab]="'plan'"></app-left-navigation-v2-collapsed>

			<div class="hide-for-small-only" style="z-index: 1" *ngIf="!portfolioUserLoggedIn">
				<img src="assets/images/asvab-ad.jpg">
			</div>

			<section id="main-content" class="left-navigation-condensed" role="main">

				<app-my-top-results-collapsed *ngIf="portfolioUserLoggedIn" [collapsedVersion]="'v2'">
				</app-my-top-results-collapsed>

				<div id="left-nav-content-wrap">
					<a routerLink="/plan-your-future" class="page_back_link">< Back to Plan for your future</a>
					<div class="plan_top_share bg_green hide-for-small-only">
						<h2>MY PORTFOLIO</h2>
						<div class="row">
							<div class="medium-2 columns">
								<a (click)="showSubmitToMentor()"><img src="assets/images/mentor_submit.png" />&nbsp;&nbsp;Submit</a>
							</div>
							<div class="medium-10 columns text-center">
								<div class="row">
									<div class="medium-3 medium-offset-3 column">
										<a (click)="downloadPdfNew()"><i class="fas fa-download" aria-hidden="true"></i>&nbsp;&nbsp;Download</a>
									</div>
									<div class="medium-2 column" style="border-right:1px solid black;">
										<a (click)="printPdfNew()"><i class="fas fa-print" aria-hidden="true"></i>&nbsp;&nbsp;Print</a>
									</div>
									<div class="medium-2 column">
										<a (click)="selectAll()">Select All</a>
									</div>
									<div class="medium-2 column">
										<a (click)="selectNone()">Select None</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="plan_top_share bg_green show-for-small-only">
						<h2>MY PORTFOLIO</h2>
						<div class="row">
							<div class="column small-4 medium-4 text-center">
								<a (click)="showSubmitToMentor()" title="Click to submit portfolio with a mentor"><img src="assets/images/mentor_submit.png" /> <span
									class="plan_top_share-caption">Submit</span> </a>
							</div>
							<div class="column small-4 medium-4 text-center">
								<a (click)="downloadPdfNew()"><i class="fas fa-download"
									aria-hidden="true"></i> <span class="plan_top_share-caption">Download</span>
								</a>
							</div>
							<div class="column small-4 medium-4 text-center">
								<a (click)="printPdfNew()"><i class="fas fa-print"
									aria-hidden="true"></i> <span class="plan_top_share-caption">Print</span>
								</a>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="medium-10 medium-offset-1 columns">
							<p style="text-align: center;">Select <b>'Add'</b> to include information within
								each section. Then select <b>'Save'</b> to keep it or <b>'Cancel'</b>' to delete
								it. When you are done you can select which sections you would like
								included on your portfolio print out.</p>
						</div>
					</div>

					<div id="name-grade">
						<div class="row">
							<div class="small-1 columns"><label><strong>Name:</strong></label></div>
							<div class="small-5 columns"><input type="text" [(ngModel)]="fullName"
									(ngModelChange)="syncData()" [ngModelOptions]="{debounce:3000}"></div>
							<div class="small-1 medium-offset-2 columns"><label class="grade"><strong>Grade:</strong></label></div>
							<div class="small-2 columns"><input type="text" [(ngModel)]="grade"
									(ngModelChange)="syncData()" [ngModelOptions]="{debounce:3000}"></div>
							<div class="small-1 columns"></div>
						</div>
					</div>

					<!-- Future Plan -->
					<div class="portfolio-group">
						<div class="row column heading"><input type="checkbox" [checked]="planPrint"
								(change)="planPrint = !planPrint"> <strong>Future Plan</strong></div>
						<div class="entry">
							<div class="row column">
								<form class="inline-labels"
									(submit)="isCombinedPlanFormat ? updateCombinedPlan() : addCombinedPlan()">
									<div class="plan-wrapper">
										<div class="plan-selection">
										
											<div class="row">
												<div class="columns medium-4">
													<input name="cert" type="checkbox" [disabled]="savingPlan"
														[(ngModel)]="combinedPlanObj.plan.certificate"><label
														for="certificate"> Certificate</label>
												</div>
												<div class="columns medium-4">
													<input name="2year" type="checkbox" [disabled]="savingPlan"
														[(ngModel)]="combinedPlanObj.plan.twoYearCollege"><label
														for="2year"> 2-Year College</label>
												</div>
												<div class="columns medium-4">
													<input name="military" type="checkbox" [disabled]="savingPlan"
														[(ngModel)]="combinedPlanObj.plan.military"><label
														for="military">
														Military</label>
												</div>
												<div class="columns medium-4">
													<input name="techSchool" type="checkbox" [disabled]="savingPlan"
														[(ngModel)]="combinedPlanObj.plan.technicalSchool"><label
														for="techSchool"> Technical School</label>
												</div>
												<div class="columns medium-4">
													<input name="4year" type="checkbox" [disabled]="savingPlan"
														[(ngModel)]="combinedPlanObj.plan.fourYearCollege"><label
														for="4year"> 4-Year College</label>
												</div>
												<div class="columns medium-4">
													<input name="work" type="checkbox" [disabled]="savingPlan"
														[(ngModel)]="combinedPlanObj.plan.work"><label for="work">
														Work</label>
												</div>
												<div class="columns medium-4">
													<input name="vocationalTraining" type="checkbox" [disabled]="savingPlan"
														[(ngModel)]="combinedPlanObj.plan.vocationalTraining"><label
														for="vocationalTraining"> Vocational Training</label>
												</div>
												<div class="columns medium-4">
													<input name="advancedDegree" type="checkbox" [disabled]="savingPlan"
														[(ngModel)]="combinedPlanObj.plan.advancedDegree"><label
														for="advancedDegree"> Advanced Degree</label>
												</div>
												<div class="columns medium-4">
													<input name="gapYear" type="checkbox" [disabled]="savingPlan"
														[(ngModel)]="combinedPlanObj.plan.gapYear"><label for="gapYear">
														Gap Year</label>
												</div>
												<div class="columns medium-4">
													<input name="careerTech" type="checkbox" [disabled]="savingPlan"
														[(ngModel)]="combinedPlanObj.plan.careerAndTech"><label
														for="careerTech">
														Career and Technical Education</label>
												</div>
												<div class="columns medium-4">
												</div>
												<div class="columns medium-4">
													<input name="undecided" type="checkbox" [disabled]="savingPlan"
														[(ngModel)]="combinedPlanObj.plan.undecided"><label
														for="undecided">
														Undecided</label>
												</div>
											</div>
										</div>

										<div style="margin-top: 10px">
											<label>Comments</label>
											<textarea name="description" style="margin-bottom: 0px"
												placeholder="Optional" [(ngModel)]="combinedPlanObj.description"
												[disabled]="savingPlan" maxlength="1000"></textarea>
											<div>Characters remaining: {{1000 - combinedPlanObj.description.length}} of
												1000
											</div>
										</div>
									</div>

									<div class="row column buttons" style="display: flex; justify-content: center;">
										<button type="submit" class="button" [disabled]="savingPlan"
											style="width: 78px">Save<ng-container *ngIf="savingPlan" id="save-indicator"
												class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></ng-container></button>
										<button type="button" class="button" [disabled]="savingPlan" style="width: 78px"
											(click)="revertToOriginal()">Cancel</button>
									</div>
								</form>
							</div>
						</div>

					</div>

					<div class="portfolio-group">

						<div class="row column heading">
							<input type="checkbox" [checked]="workExperiencePrint"
								(change)="workExperiencePrint = !workExperiencePrint">
							<strong>WORK EXPERIENCE</strong>
						</div>

						<div class="entry" *ngFor="let w of workExperience; let i=index;">
							<div class="row">
								<div class="medium-9 columns" [hidden]="i === selectedWorkEditIndex">
									<p>
										<strong>{{w.jobTitle}}</strong>, {{w.companyName}}
										<br> {{w.startDate}} - {{w.endDate}}
										<br>
										<br>
										<strong>Job Tasks</strong>
										<br>
										<span style="white-space:pre-wrap;" [innerHtml]="w.jobDescription"></span>
									</p>
								</div>
								<div class="medium-3 columns actions" [hidden]="i == selectedWorkEditIndex">
									<button [disabled]="selectedWorkEditIndex != undefined"
										(click)="deleteWorkExperience(w.id)">
										<a [ngStyle]="myStyle">Remove</a>
									</button>
									<button [disabled]="selectedWorkEditIndex != undefined"
										(click)="setupUpdateWorkExperience(w.id, i)">
										<a [ngStyle]="myStyle">Edit</a>
									</button>
								</div>

								<!-- Update Work Experience -->
								<div class="row column add" *ngIf="i == selectedWorkEditIndex">
									<form *ngIf="showWorkExperienceInputs && showUpdateWorkExperienceInputs"
										(submit)="updateWorkExperience()">
										<div class="row">
											<div class="small-3 columns">
												<label>Company Name: </label>
											</div>
											<div class="small-9 columns">
												<input name="companyName" contenteditable="true" type="text" required
													[(ngModel)]="updateWorkExperienceObject.companyName"
													[disabled]="savingWorkExperience">
											</div>
										</div>

										<div class="row">
											<div class="small-3 columns">
												<label>Job Title: </label>
											</div>
											<div class="small-9 columns">
												<input name="jobTitle" type="text" required
													[(ngModel)]="updateWorkExperienceObject.jobTitle"
													[disabled]="savingWorkExperience">
											</div>
										</div>

										<div class="row">
											<div class="small-3 columns">
												<label>Time Period: </label>
											</div>
											<div class="small-9 columns">
												<input name="startDate" type="text" class="small" placeholder="MM/YY"
													required [(ngModel)]="updateWorkExperienceObject.startDate"
													[disabled]="savingWorkExperience"
													pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])"
													title="Format: MM/YY" maxlength="5"> -
												<input name="endDate" type="text" class="small" placeholder="MM/YY"
													required [(ngModel)]="updateWorkExperienceObject.endDate"
													[disabled]="savingWorkExperience || updateWorkExperienceEndDateDisabled"
													pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])"
													title="Format: MM/YY" maxlength="5"> &nbsp;
												<!-- <input name="present" type="checkbox" 
												[disabled]="savingWorkExperience" 
												[checked]="updateWorkExperienceObject.endDate === 'Present'" 
												(click)="updateWorkExperienceEndDateDisabled = !updateWorkExperienceEndDateDisabled"
												> Present  -->
												<input name="present" type="checkbox" [disabled]="savingWorkExperience"
													[checked]="updateWorkExperienceObject.endDate == 'Present'"
													[ngModel]="updateWorkExperienceEndDateDisabled == 1 ? true : updateWorkExperienceEndDateDisabled == 0 ? false : null"
													(ngModelChange)="updateWorkExperienceObject.endDate = $event ? 'Present' : ''; updateWorkExperienceEndDateDisabled = !updateWorkExperienceEndDateDisabled">
												Present
											</div>
										</div>

										<div class="row">
											<div class="small-3 columns">
												<label>Description: </label>
												<a class="caps" (click)="tipsModal()">tips</a>
											</div>
											<div class="small-9 columns">
												<!-- <textarea name="jobDescription" required
													[(ngModel)]="updateWorkExperienceObject.jobDescription"
													[disabled]="savingWorkExperience"></textarea> -->
											<quill-editor name="jobDescription" [(ngModel)]="updateWorkExperienceObject.jobDescription" [disabled]="savingWorkExperience"></quill-editor>

											</div>
										</div>

										<div class="row column buttons">
											<button type="submit" class="button" [disabled]="savingWorkExperience">Save
												<span *ngIf="savingWorkExperience" id="save-indicator"
													class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span>
											</button>
											<button type="button" class="button" [disabled]="savingWorkExperience"
												(click)="showWorkExperienceInputs = !showWorkExperienceInputs; showUpdateWorkExperienceInputs = !showUpdateWorkExperienceInputs; selectedWorkEditIndex = undefined; myStyle = {'cursor': 'pointer'};">Cancel</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="row column add">
							<button class="add button all-caps" [hidden]="showWorkExperienceInputs"
								(click)="showWorkExperienceInputs = !showWorkExperienceInputs">Add WORK
								EXPERIENCE</button>

							<!-- Insert Work Experience -->
							<form name="work" #work="ngForm"
								*ngIf="showWorkExperienceInputs && !showUpdateWorkExperienceInputs"
								(submit)="insertWorkExperience(work)" ngNativeValidate>
								<div class="row">
									<div class="small-3 columns">
										<label>Company Name: </label>
									</div>
									<div class="small-9 columns">
										<input ngClass="{work:work.companyName.$error.required && work.$submitted}"
											type="text" required [(ngModel)]="workExperienceObject.companyName"
											[disabled]="savingWorkExperience" name="companyName">
									</div>
								</div>

								<div class="row">
									<div class="small-3 columns">
										<label>Job Title: </label>
									</div>
									<div class="small-9 columns">
										<input ngClass="{work:work.jobTitle.$error.required && work.$submitted}"
											type="text" required [(ngModel)]="workExperienceObject.jobTitle"
											[disabled]="savingWorkExperience" name="jobTitle">
									</div>
								</div>

								<div class="row">
									<div class="small-3 columns">
										<label>Time Period: </label>
									</div>
									<div class="small-9 columns">
										<input name="start"
											ngClass="{work:work.start.$error.required && work.$submitted}" type="text"
											class="small" placeholder="MM/YY" required
											[(ngModel)]="workExperienceObject.startDate"
											[disabled]="savingWorkExperience"
											pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])"
											title="Format: MM/YY"> -
										<input name="end" ngClass="{work:work.end.$error.required && work.$submitted}"
											type="text" class="small" placeholder="MM/YY" required
											[(ngModel)]="workExperienceObject.endDate"
											[disabled]="savingWorkExperience || !workExperienceEndDateRequired"
											pattern="((0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01]))|(Present)"
											title="Format: MM/YY"> &nbsp; <input name="present" type="checkbox"
											[disabled]="savingWorkExperience"
											[ngModel]="workExperienceEndDateselected == 1 ? true : workExperienceEndDateselected == 0 ? false : null"
											(ngModelChange)="workExperienceObject.endDate = $event ? 'Present' : ''; workExperienceEndDateRequired = !workExperienceEndDateRequired;">
										Present
									</div>
								</div>

								<div class="row">
									<div class="small-3 columns">
										<label>Description: </label>
										<a class="caps" (click)="tipsModal()">tips</a>
									</div>
									<div class="small-9 columns">
										<!-- <textarea ngClass="{work:work.description.$error.required && work.$submitted}"
											name="description" required
											[(ngModel)]="workExperienceObject.jobDescription"
											[disabled]="savingWorkExperience"></textarea> -->
											<quill-editor name="description" ngClass="{work:work.description.$error.required && work.$submitted}"
											required [(ngModel)]="workExperienceObject.jobDescription" [disabled]="savingWorkExperience"></quill-editor>
										
									</div>
								</div>

								<div class="row column buttons" style="margin-top:5px;">
									<button type="submit" class="button" [disabled]="savingWorkExperience">Save<span
											*ngIf="savingWorkExperience" id="save-indicator"
											class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
									<button type="button" class="button" [disabled]="savingWorkExperience"
										(click)="showWorkExperienceInputs = !showWorkExperienceInputs">Cancel</button>
								</div>
							</form>


						</div>
					</div>

					<div class="portfolio-group" id="section-to-print">
						<div class="row column heading"><input type="checkbox" [checked]="educationPrint"
								(change)="educationPrint = !educationPrint"> <strong>Education</strong></div>
						<div class="entry" *ngFor="let e of education; let i = index;">
							<div class="row">
								<div class="medium-9 columns" [hidden]="i == selectedEducationEditIndex">
									<p><strong>{{e.schoolName}}</strong>, <span *ngIf="e.gpa && !0.0">GPA {{e.gpa |
											number:'1.1-2'}}</span>
										<br>
										{{e.startDate}} - {{e.endDate}}
										<br>
										<br>
										<strong *ngIf="e.activities">Activities</strong>
										<br>
										<span style="white-space:pre-wrap;">{{e.activities}}</span>
										<br>
										<br>
										<strong *ngIf="e.achievements">Honor, AP Courses and AP tests</strong>
										<br>
										<span style="white-space:pre-wrap;">{{e.achievements}}</span>
									</p>
								</div>
								<div class="medium-3 columns actions" [hidden]="i == selectedEducationEditIndex">
									<button [disabled]="selectedEducationEditIndex != undefined"
										(click)="deleteEducation(e.id)"><a [ngStyle]="myStyle">Remove</a></button>
									<button [disabled]="selectedEducationEditIndex != undefined"
										(click)="setupUpdateEducation(e.id, i)"><a [ngStyle]="myStyle">Edit</a></button>
								</div>


								<!-- Education Update -->
								<div class="row column add" *ngIf="i == selectedEducationEditIndex">
									<form name="educationUpdateForm" class="inline-labels"
										*ngIf="showEducationInputs && showUpdateEducationInputs"
										(submit)="updateEducation()" ngNativeValidate>

										<div class="row form-group"
											ngClass="{'has-error':educationUpdateForm.gpa.$invalid}">
											<div class="small-7 columns">
												<label>School: </label>
												<input name="schoolName" type="text" required
													[(ngModel)]="updateEducationObject.schoolName"
													[disabled]="savingEducation">
											</div>
											<div class="small-5 columns">
												<label>GPA: </label>
												<input type="text" class="small form-control" name="gpa" required
													[(ngModel)]="updateEducationObject.gpa" [disabled]="savingEducation"
													maxlength="4" pattern="^((\d+\.?|\.(?=\d))?\d{0,3})$" title="Format: #.##">
												<!-- <span class="help-block" *ngIf="!educationUpdateForm.gpa.$valid">Enter decimal number.</span> -->
											</div>
										</div>

										<div>
											<label>Date Attended: </label>
											<input name="startDate" type="text" class="small" placeholder="MM/YY"
												required [(ngModel)]="updateEducationObject.startDate"
												[disabled]="savingEducation"
												pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])"
												title="Format: MM/YY"> - <input name="endDate" type="text" class="small"
												placeholder="MM/YY" required [(ngModel)]="updateEducationObject.endDate"
												[disabled]="savingEducation"
												pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])"
												title="Format: MM/YY"> or expected graduation year
										</div>

										<div>
											<label>Activities, Clubs and Sports </label><br />
											<textarea name="activities" [(ngModel)]="updateEducationObject.activities"
												[disabled]="savingEducation"></textarea>
										</div>

										<div>
											<label>Honor, AP Courses and AP tests </label><br />
											<textarea name="achievements"
												[(ngModel)]="updateEducationObject.achievements"
												[disabled]="savingEducation"></textarea>
										</div>

										<div class="row column buttons">
											<button type="submit" class="button" [disabled]="savingEducation">Save<span
													*ngIf="savingEducation" id="save-indicator"
													class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
											<button type="button" class="button" [disabled]="savingEducation"
												(click)="showEducationInputs = !showEducationInputs; showUpdateEducationInputs = !showUpdateEducationInputs; selectedEducationEditIndex = undefined; myStyle = {'cursor': 'pointer'};">Cancel</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="row column add">
							<button class="add button all-caps" [hidden]="showEducationInputs"
								(click)="showEducationInputs = !showEducationInputs">Add Education</button>

							<!-- Education Insert -->
							<form name="educationInsertForm" class="inline-labels"
								*ngIf="showEducationInputs && !showUpdateEducationInputs" (submit)="insertEducation()"
								ngNativeValidate>

								<div class="row form-group" ngClass="{'has-error':educationInsertForm.gpa.$invalid}">
									<div class="small-7 columns">
										<label>School: </label>
										<input name="schoolName" type="text" required
											[(ngModel)]="educationObject.schoolName" [disabled]="savingEducation">
									</div>
									<div class="small-5 columns">
										<label>GPA:</label>
										<input name="gpa" type="text" class="small form-control" required
											[(ngModel)]="educationObject.gpa" [disabled]="savingEducation" maxlength="4"
											pattern="^((\d+\.?|\.(?=\d))?\d{0,3})$" title="Format: #.##">
										<!-- <span class="help-block" *ngIf="gpa.errors?.pattern">Enter decimal number.</span> -->
									</div>
								</div>

								<div>
									<label>Date Attended: </label>
									<input name="startDate" type="text" class="small" placeholder="MM/YY" required
										[(ngModel)]="educationObject.startDate" [disabled]="savingEducation"
										pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])" title="Format: MM/YY"> -
									<input name="endDate" type="text" class="small" placeholder="MM/YY" required
										[(ngModel)]="educationObject.endDate" [disabled]="savingEducation"
										pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])" title="Format: MM/YY">
									or
									expected graduation year
								</div>

								<div>
									<label>Activities, Clubs and Sports </label><br />
									<textarea name="activities" [(ngModel)]="educationObject.activities"
										[disabled]="savingEducation"></textarea>
								</div>

								<div>
									<label>Honor, AP Courses and AP tests </label><br />
									<textarea name="honors" [(ngModel)]="educationObject.achievements"
										[disabled]="savingEducation"></textarea>
								</div>

								<div class="row column buttons">
									<button type="submit" class="button" [disabled]="savingEducation">Save<span
											*ngIf="savingEducation" id="save-indicator"
											class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
									<button type="button" class="button" [disabled]="savingEducation"
										(click)="showEducationInputs = !showEducationInputs">Cancel</button>
								</div>

							</form>

						</div>
					</div>

					<div class="portfolio-group">
						<div class="row column heading"><input type="checkbox" [checked]="testScorePrint"
								(change)="testScorePrint = !testScorePrint"> <strong>TEST SCORES</strong></div>

						<div class="entry" *ngFor="let a of asvabScore; let i = index;">

							<!-- ASVAB -->
							<div class="row">
								<!-- Manually Entered ASVAB Test Scores -->
								<div class="medium-9 columns"
									*ngIf="i != selectedASVABEditIndex && !haveAsvabTestScores">
									<strong>ASVAB Score:</strong>
									<table id="my-results-table" class="table table-striped">
										<tbody>
											<tr>
												<td id="varbal-score">{{a.verbalScore}}</td>
												<td id="math-score">{{a.mathScore}}</td>
												<td id="science-score">{{a.scienceScore}}</td>
											</tr>
											<tr>
												<td>Verbal</td>
												<td>Math</td>
												<td>Science/Technical</td>
											</tr>
											<!-- Do not display AFQT for manual scores
										<tr>
											<td colspan="3">AFQT: <span id="afqt-score">{{a.afqtScore}}</span></td>
										</tr>
										-->
										</tbody>
									</table>
									<!-- Old tabele style
									<table border="0">
										<tr class="scoreTable">
											<td>{{a.verbalScore}}</td>
											<td>Verbal Skills Score</td>
										</tr>
										<tr class="scoreTable">
											<td>{{a.mathScore}}</td>
											<td>Math Skills Score</td>
										</tr>
										<tr class="scoreTable">
											<td>{{a.scienceScore}}</td>
											<td>Science and Technical Skills Score</td>
										</tr>
									</table>
									-->
								</div>
								<div class="medium-3 columns actions"
									*ngIf="i != selectedASVABEditIndex && !haveAsvabTestScores">
									<button [disabled]="testEditDisable" (click)="deleteAsvabScore(a.id)"><a
											[ngStyle]="myStyle">Remove</a></button>
									<button [disabled]="testEditDisable" (click)="setupUpdateAsvabScore(a.id, i)"><a
											[ngStyle]="myStyle">Edit</a></button>
								</div>

								<!-- Actual ASVAB Test Scores -->
								<!--
								<div class="medium-9 columns" *ngIf="haveAsvabTestScores">
									<strong>ASVAB Score:</strong>
									<table id="my-results-table" class="table table-striped">
										<tbody>
										<tr>
											<td id="varbal-score">{{asvabTestScores.verbalScore}}</td>
											<td id="math-score">{{asvabTestScores.mathScore}}</td>
											<td id="science-score">{{asvabTestScores.scienceScore}}</td>
										</tr>
										<tr>
											<td>Verbal</td>
											<td>Math</td>
											<td>Science & <br />Technology</td>
										</tr>
										<tr>
											<td colspan="3">AFQT: <span id="afqt-score">{{asvabTestScores.afqtScore}}</span></td>
										</tr>
										</tbody>
									</table>
								</div>
								-->

								<!-- Update ASVAB score inputs -->
								<div class="row column add" *ngIf="i == selectedASVABEditIndex && !haveAsvabTestScores">
									<form *ngIf="showUpdateAsvabScoreInputs">
										<strong>ASVAB Score:</strong>

										<div class="row column">
											<label>Verbal Skills Score</label>
											<input name="verbalScore" type="number" class="small" min="0" step="1"
												[(ngModel)]="updateAsvabObject.verbalScore"
												[disabled]="savingAsvabScore">
											&nbsp;
										</div>

										<div class="row column">
											<label>Math Skills Score</label>
											<input name="mathScore" type="number" class="small" min="0" step="1"
												[(ngModel)]="updateAsvabObject.mathScore" [disabled]="savingAsvabScore">
											&nbsp;
										</div>

										<div class="row column">
											<label>Science and Technical Skills Score</label>
											<input name="scienceScore" type="number" class="small" min="0" step="1"
												[(ngModel)]="updateAsvabObject.scienceScore"
												[disabled]="savingAsvabScore">
											&nbsp;
										</div>

										<!-- 			  <div class="row column">
										  	  <label>AFQT Score</label>
											  <input type="number" class="small" min="0" step="1" [(ngModel)]="updateAsvabObject.afqtScore" [disabled]="savingAsvabScore"> &nbsp; 
										  </div> -->

										<div class="row column buttons">
											<button type="button" class="button" [disabled]="savingAsvabScore"
												(click)="updateAsvabScore()">Save<span *ngIf="savingAsvabScore"
													id="save-indicator"
													class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
											<button type="button" class="button" [disabled]="savingAsvabScore"
												(click)="showUpdateAsvabScoreInputs = !showUpdateAsvabScoreInputs; selectedASVABEditIndex = undefined; myStyle = {'cursor': 'pointer'}; testEditDisable = false;">Cancel</button>
										</div>
									</form>
								</div>
							</div>
						</div>

						<!-- Actual ASVAB Test Scores -->
						<div class="entry" *ngIf="haveAsvabTestScores">
							<div class="row">
								<div class="medium-9 columns">
									<strong>ASVAB Score:</strong>
									<table id="my-results-table" class="table table-striped">
										<tbody>
											<tr>
												<td id="varbal-score">{{asvabTestScores.verbalScore}}</td>
												<td id="math-score">{{asvabTestScores.mathScore}}</td>
												<td id="science-score">{{asvabTestScores.scienceScore}}</td>
											</tr>
											<tr>
												<td>Verbal</td>
												<td>Math</td>
												<td>Science/Technical</td>
											</tr>
											<!-- 										<tr>
											<td colspan="3">AFQT: <span id="afqt-score">{{asvabTestScores.afqtScore}}</span></td>
										</tr> -->
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<div class="entry" *ngFor="let a of actScore; let i = index;">

							<!-- ACT -->
							<div class="row">
								<div class="medium-9 columns" [hidden]="i == selectedACTEditIndex">
									<strong>ACT Score:</strong>
									<!-- 									<br>Reading Score: {{a.readingScore}}
									<br>Math Score: {{a.mathScore}}
									<br>Writing Score: {{a.writingScore}}
									<br>English Score: {{a.englishScore}}
									<br>Science Score: {{a.scienceScore}} -->
									<table border="0">
										<tr class="scoreTable">
											<td>{{a.readingScore}}</td>
											<td>Reading Score</td>
										</tr>
										<tr class="scoreTable">
											<td>{{a.mathScore}}</td>
											<td>Math Score</td>
										</tr>
										<tr class="scoreTable">
											<td>{{a.writingScore}}</td>
											<td>Writing Score</td>
										</tr>
										<tr class="scoreTable">
											<td>{{a.englishScore}}</td>
											<td>English Score</td>
										</tr>
										<tr class="scoreTable">
											<td>{{a.scienceScore}}</td>
											<td>Science Score</td>
										</tr>
									</table>
								</div>
								<div class="medium-3 columns actions" [hidden]="i == selectedACTEditIndex">
									<button [disabled]="testEditDisable" (click)="deleteActScore(a.id)"><a
											[ngStyle]="myStyle">Remove</a></button> <button [disabled]="testEditDisable"
										(click)="setupUpdateActScore(a.id, i)"><a [ngStyle]="myStyle">Edit</a></button>
								</div>

								<!-- Update ACT score inputs -->
								<div class="row column add" *ngIf="i == selectedACTEditIndex">


									<!-- Update ACT score inputs -->
									<form *ngIf="showUpdateActScoreInputs">
										<strong>ACT Score:</strong>

										<div class="row column">
											<label>Reading Test Score</label>
											<input name="readingScore" type="number" class="small" min="0" step="1"
												[(ngModel)]="updateActObject.readingScore" [disabled]="savingActScore">
											&nbsp;
										</div>

										<div class="row column">
											<label>Mathematics Test Score</label>
											<input name="mathScore" type="number" class="small" min="0" step="1"
												[(ngModel)]="updateActObject.mathScore" [disabled]="savingActScore">
											&nbsp;
										</div>

										<div class="row column">
											<label>Writing Test Score</label>
											<input name="writingScore" type="number" class="small" min="0" step="1"
												[(ngModel)]="updateActObject.writingScore" [disabled]="savingActScore">
											&nbsp;
										</div>

										<div class="row column">
											<label>English Test Score</label>
											<input name="englishScore" type="number" class="small" min="0" step="1"
												[(ngModel)]="updateActObject.englishScore" [disabled]="savingActScore">
											&nbsp;
										</div>

										<div class="row column">
											<label>Science Test Score</label>
											<input name="scienceScore" type="number" class="small" min="0" step="1"
												[(ngModel)]="updateActObject.scienceScore" [disabled]="savingActScore">
											&nbsp;
										</div>

										<div class="row column buttons">
											<button type="button" class="button" [disabled]="savingActScore"
												(click)="updateActScore()">Save<span *ngIf="savingActScore"
													id="save-indicator"
													class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
											<button type="button" class="button" [disabled]="savingActScore"
												(click)="showUpdateActScoreInputs = !showUpdateActScoreInputs; selectedACTEditIndex = undefined; myStyle = {'cursor': 'pointer'}; testEditDisable = false;">Cancel</button>
										</div>
									</form>
								</div>

							</div>
						</div>

						<div class="entry" *ngFor="let a of satScore; let i = index;">

							<!-- SAT -->
							<div class="row">
								<div class="medium-9 columns" [hidden]="i == selectedSATEditIndex">
									<strong>SAT Score:</strong>
									<table border="0">
										<tr class="scoreTable">
											<td>{{a.readingScore}}</td>
											<td>Critical Reading</td>
										</tr>
										<tr class="scoreTable">
											<td>{{a.mathScore}}</td>
											<td>Mathematics</td>
										</tr>
										<tr class="scoreTable" *ngIf="a.writingScore != 0">
											<td>{{a.writingScore}}</td>
											<td>Writing (optional)</td>
										</tr>
									</table>
									Subject: {{a.subject}}
								</div>
								<div class="medium-3 columns actions" [hidden]="i == selectedSATEditIndex">
									<button [disabled]="testEditDisable" (click)="deleteSatScore(a.id)"><a
											[ngStyle]="myStyle">Remove</a></button> <button [disabled]="testEditDisable"
										(click)="setupUpdateSatScore(a.id, i)"><a [ngStyle]="myStyle">Edit</a></button>
								</div>

								<!-- Update SAT score inputs -->
								<div class="row column add" *ngIf="i == selectedSATEditIndex">
									<form *ngIf="showUpdateSatScoreInputs">
										<strong>SAT Score:</strong>

										<div class="row column">
											<label>Critical Reading</label>
											<input name="readingScore" type="number" class="small" min="0" step="1"
												[(ngModel)]="updateSatObject.readingScore" [disabled]="savingSatScore">
											&nbsp;
										</div>

										<div class="row column">
											<label>Mathematics</label>
											<input name="mathScore" type="number" class="small" min="0" step="1"
												[(ngModel)]="updateSatObject.mathScore" [disabled]="savingSatScore">
											&nbsp;
										</div>

										<div class="row column">
											<label>Writing (optional)</label>
											<input name="writingScore" type="number" class="small" min="0" step="1"
												[(ngModel)]="updateSatObject.writingScore" [disabled]="savingSatScore">
											&nbsp;
										</div>

										<div>
											<label>SAT Subject Tests</label><br />
											<textarea name="subject" [(ngModel)]="updateSatObject.subject"
												[disabled]="savingSatScore"></textarea>
										</div>

										<div class="row column buttons">
											<button type="button" class="button" [disabled]="savingSatScore"
												(click)="updateSatScore()">Save<span *ngIf="savingSatScore"
													id="save-indicator"
													class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
											<button type="button" class="button" [disabled]="savingSatScore"
												(click)="showUpdateSatScoreInputs = !showUpdateSatScoreInputs; selectedSATEditIndex = undefined; myStyle = {'cursor': 'pointer'}; testEditDisable = false;">Cancel</button>
										</div>
									</form>
								</div>
							</div>
						</div>

						<div class="entry" *ngFor="let a of otherScore; let i = index;">

							<!-- Other -->
							<div class="row">
								<div class="medium-9 columns" [hidden]="i == selectedOtherEditIndex">
									<strong>Other scores:</strong>
									<br>
									<div style="white-space:pre-wrap;">{{a.description}}</div>

								</div>
								<div class="medium-3 columns actions" [hidden]="i == selectedOtherEditIndex">
									<button [disabled]="testEditDisable" (click)="deleteOtherScore(a.id)"><a
											[ngStyle]="myStyle">Remove</a></button> <button [disabled]="testEditDisable"
										(click)="setupUpdateOtherScore(a.id, i)"><a
											[ngStyle]="myStyle">Edit</a></button>
								</div>

								<!-- Update other score inputs -->
								<div class="row column add" *ngIf="i == selectedOtherEditIndex">
									<form *ngIf="showUpdateOtherScoreInputs">
										<strong>Other scores:</strong>
										<div>
											<label>Test names with scores if applicable</label><br />
											<textarea name="description" [(ngModel)]="updateOtherObject.description"
												[disabled]="savingOtherScore"></textarea>
										</div>

										<div class="row column buttons">
											<button type="button" class="button" [disabled]="savingOtherScore"
												(click)="updateOtherScore()">Save<span *ngIf="savingOtherScore"
													id="save-indicator"
													class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
											<button type="button" class="button" [disabled]="savingOtherScore"
												(click)="showUpdateOtherScoreInputs = !showUpdateOtherScoreInputs; selectedOtherEditIndex = undefined; myStyle = {'cursor': 'pointer'}; testEditDisable = false;">Cancel</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="row column add">
							<button class="add button all-caps"
								[hidden]="showScoreInputs || showUpdateAsvabScoreInputs || showUpdateActScoreInputs || showUpdateSatScoreInputs || showUpdateOtherScoreInputs"
								(click)="showScoreInputs = !showScoreInputs">Add TEST SCORES</button>
							<form class="inline-labels" *ngIf="showScoreInputs">

								<div class="row column">
									<label>Select one: {{testSelected}}</label>
									<select name="asvabScore" [(ngModel)]="testSelected">
										<!-- <option value="">-- Select Test --</option> -->
										<option *ngIf="asvabScore.length == 0 && !haveAsvabTestScores" value="ASVAB">
											ASVAB
											Results</option>
										<option *ngIf="actScore.length == 0" value="ACT">ACT</option>
										<!-- <option *ngIf="fyiScore.length == 0" value="FYI" [hidden]="hideFyi">FYI Interest Codes</option> -->
										<option *ngIf="satScore.length == 0" value="SAT">SAT</option>
										<option value="OTHER">Others</option>
									</select> &nbsp;
								</div>

								<!-- Insert ACT score inputs -->
								<div *ngIf="testSelected == 'ACT'">
									<div class="row column">
										<input name="englishScore" type="number" class="small" min="0" step="1"
											[(ngModel)]="actObject.englishScore" [disabled]="savingActScore"> &nbsp;
										<label>English Test Score</label>
									</div>

									<div class="row column">
										<input name="mathScore" type="number" class="small" min="0" step="1"
											[(ngModel)]="actObject.mathScore" [disabled]="savingActScore"> &nbsp;
										<label>Mathematics Test Score</label>
									</div>

									<div class="row column">
										<input name="readingScore" type="number" class="small" min="0" step="1"
											[(ngModel)]="actObject.readingScore" [disabled]="savingActScore"> &nbsp;
										<label>Reading Test Score</label>
									</div>

									<div class="row column">
										<input name="scienceScore" type="number" class="small" min="0" step="1"
											[(ngModel)]="actObject.scienceScore" [disabled]="savingActScore"> &nbsp;
										<label>Science Test Score</label>
									</div>

									<div class="row column">
										<input name="writingScore" type="number" class="small" min="0" step="1"
											[(ngModel)]="actObject.writingScore" [disabled]="savingActScore"> &nbsp;
										<label>Writing Test Score</label>
									</div>

									<div class="row column buttons">
										<button type="button" class="button" [disabled]="savingActScore"
											(click)="insertActScore()">Save<span *ngIf="savingActScore"
												id="save-indicator"
												class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
										<button type="button" class="button" [disabled]="savingActScore"
											(click)="showScoreInputs = !showScoreInputs;">Cancel</button>
									</div>
								</div>

								<!-- Insert ASVAB score inputs -->
								<div *ngIf="testSelected == 'ASVAB'">
									<br>
									<div class="row column">
										<input name="verbalScore" type="number" class="small" min="0" step="1"
											[(ngModel)]="asvabObject.verbalScore" [disabled]="savingAsvabScore"> &nbsp;
										<label>Verbal Skills Score</label>
									</div>

									<div class="row column">
										<input name="mathScore" type="number" class="small" min="0" step="1"
											[(ngModel)]="asvabObject.mathScore" [disabled]="savingAsvabScore"> &nbsp;
										<label>Math Skills Score</label>
									</div>

									<div class="row column">
										<input name="scienceScore" type="number" class="small" min="0" step="1"
											[(ngModel)]="asvabObject.scienceScore" [disabled]="savingAsvabScore"> &nbsp;
										<label>Science/Technical Skills Score</label>
									</div>

									<!-- 							  <div class="row column">
								  <input type="number" class="small" min="0" step="1" [(ngModel)]="asvabObject.afqtScore" [disabled]="savingAsvabScore"> &nbsp; 
								  <label>AFQT Score</label>
							  </div> -->

									<div class="row column buttons">
										<button type="button" class="button" [disabled]="savingAsvabScore"
											(click)="insertAsvabScore()">Save<span *ngIf="savingAsvabScore"
												id="save-indicator"
												class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
										<button type="button" class="button" [disabled]="savingAsvabScore"
											(click)="showScoreInputs = !showScoreInputs">Cancel</button>
									</div>
								</div>

								<!-- Insert SAT score inputs -->
								<div *ngIf="testSelected == 'SAT'">
									<br>

									<div class="row column">
										<input name="readingScore" type="number" class="small" min="0" step="1"
											[(ngModel)]="satObject.readingScore" [disabled]="savingSatScore"> &nbsp;
										<label>Critical Reading</label>
									</div>

									<div class="row column">
										<input name="mathScore" type="number" class="small" min="0" step="1"
											[(ngModel)]="satObject.mathScore" [disabled]="savingSatScore"> &nbsp;
										<label>Mathematics </label>
									</div>

									<div class="row column">
										<input name="writingScore" type="number" class="small" min="0" step="1"
											[(ngModel)]="satObject.writingScore" [disabled]="savingSatScore"> &nbsp;
										<label>Writing (optional)</label>
									</div>

									<div>
										<label>SAT Subject Tests</label><br />
										<textarea name="subject" [(ngModel)]="satObject.subject"
											[disabled]="savingSatScore"></textarea>
									</div>

									<div class="row column buttons">
										<button type="button" class="button" [disabled]="savingSatScore"
											(click)="insertSatScore()">Save<span *ngIf="savingSatScore"
												id="save-indicator"
												class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
										<button type="button" class="button" [disabled]="savingSatScore"
											(click)="showScoreInputs = !showScoreInputs">Cancel</button>
									</div>
								</div>

								<!-- Insert other score inputs -->
								<div *ngIf="testSelected == 'OTHER'">
									<br>

									<div>
										<label>Test names with scores if applicable</label><br />
										<textarea name="description" [(ngModel)]="otherObject.description"
											[disabled]="savingOtherScore"></textarea>
									</div>

									<div class="row column buttons">
										<button type="button" class="button" [disabled]="savingOtherScore"
											(click)="insertOtherScore()">Save<span *ngIf="savingOtherScore"
												id="save-indicator"
												class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
										<button type="button" class="button" [disabled]="savingOtherScore"
											(click)="showScoreInputs = !showScoreInputs">Cancel</button>
									</div>
								</div>
							</form>

						</div>
					</div>

					<div class="portfolio-group">
						<div class="row column heading"><input type="checkbox" [checked]="achievementPrint"
								(change)="achievementPrint = !achievementPrint"> <strong>Achievements</strong></div>
						<div class="entry" *ngFor="let a of achievement; let i = index;">
							<div class="row">
								<div class="medium-9 columns" [hidden]="i == selectedAchievementEditIndex">
									<div style="white-space:pre-wrap;">{{a.description}}</div>
								</div>
								<div class="medium-3 columns actions" [hidden]="i == selectedAchievementEditIndex">
									<button [disabled]="selectedAchievementEditIndex != undefined"
										(click)="deleteAchievement(a.id)"><a [ngStyle]="myStyle">Remove</a></button>
									<button [disabled]="selectedAchievementEditIndex != undefined"
										(click)="setupUpdateAchievement(a.id, i)"><a
											[ngStyle]="myStyle">Edit</a></button>
								</div>

								<!-- Achievement Update -->
								<div class="row column add" *ngIf="i == selectedAchievementEditIndex">
									<form name="achievementForm" class="inline-labels"
										*ngIf="showAchievementInputs && showUpdateAchievementInputs"
										(submit)="updateAchievement()">

										<div>
											<label>Description</label><br />
											<textarea name="achievementDescription" required
												[(ngModel)]="updateAchievementObject.description"
												[disabled]="savingAchievement"></textarea>
										</div>

										<div class="row column buttons">
											<button type="submit" class="button"
												[disabled]="savingAchievement">Save<span *ngIf="savingAchievement"
													id="save-indicator"
													class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
											<button type="button" class="button" [disabled]="savingAchievement"
												(click)="showAchievementInputs = !showAchievementInputs; showUpdateAchievementInputs = !showUpdateAchievementInputs; selectedAchievementEditIndex = undefined; myStyle = {'cursor': 'pointer'};">Cancel</button>
										</div>

									</form>
								</div>
							</div>
						</div>
						<div class="row column add">
							<button class="add button all-caps" [hidden]="showAchievementInputs"
								(click)="showAchievementInputs = !showAchievementInputs">Add Achievements</button>

							<!-- Achievement Insert -->
							<form name="achievementForm" class="inline-labels"
								*ngIf="showAchievementInputs && !showUpdateAchievementInputs"
								(submit)="insertAchievement()">

								<div>
									<label>Description</label><br />
									<textarea name="achievementDescription" required
										[(ngModel)]="achievementObject.description"
										[disabled]="savingAchievement"></textarea>
								</div>

								<div class="row column buttons">
									<button type="submit" class="button" [disabled]="savingAchievement">Save<span
											*ngIf="savingAchievement" id="save-indicator"
											class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
									<button type="button" class="button" [disabled]="savingAchievement"
										(click)="showAchievementInputs = !showAchievementInputs">Cancel</button>
								</div>

							</form>

						</div>
					</div>

					<div class="portfolio-group">
						<div class="row column heading"><input type="checkbox" [checked]="skillsPrint"
								(change)="skillsPrint = !skillsPrint"> <strong>Skills</strong></div>
						<div class="entry" *ngFor="let s of skill; let i = index;">
							<div class="row">
								<div class="medium-9 columns" [hidden]="i == selectedSkillsEditIndex">
									<div style="white-space:pre-wrap;">{{s.description}}</div>
								</div>
								<div class="medium-3 columns actions" [hidden]="i == selectedSkillsEditIndex">
									<button [disabled]="selectedSkillsEditIndex != undefined"
										(click)="deleteSkill(s.id)"><a [ngStyle]="myStyle">Remove</a></button> <button
										[disabled]="selectedSkillsEditIndex != undefined"
										(click)="setupUpdateSkill(s.id, i)"><a [ngStyle]="myStyle">Edit</a></button>
								</div>

								<!-- Skill Update -->
								<div class="row column add" *ngIf="i === selectedSkillsEditIndex">
									<form name="skillForm" class="inline-labels"
										*ngIf="showSkillInputs && showUpdateSkillInputs" (submit)="updateSkill()">

										<div>
											<label>Description</label><br />
											<textarea name="skillDescription" required
												[(ngModel)]="updateSkillObject.description"
												[disabled]="savingSkill"></textarea>
										</div>

										<div class="row column buttons">
											<button type="submit" class="button" [disabled]="savingSkill">Save<span
													*ngIf="savingSkill" id="save-indicator"
													class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
											<button type="button" class="button" [disabled]="savingSkill"
												(click)="showSkillInputs = !showSkillInputs; showUpdateSkillInputs = !showUpdateSkillInputs; selectedSkillsEditIndex = undefined; myStyle = {'cursor': 'pointer'};">Cancel</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="row column add">
							<button class="add button all-caps" [hidden]="showSkillInputs"
								(click)="showSkillInputs = !showSkillInputs">Add Skills</button>

							<!-- Skill Insert -->
							<form name="skillForm" class="inline-labels"
								*ngIf="showSkillInputs && !showUpdateSkillInputs" (submit)="insertSkill()">

								<div>
									<label>Description</label><br />
									<textarea name="skillDescription" required [(ngModel)]="skillObject.description"
										[disabled]="savingSkill"></textarea>
								</div>

								<div class="row column buttons">
									<button type="submit" class="button" [disabled]="savingSkill">Save<span
											*ngIf="savingSkill" id="save-indicator"
											class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
									<button type="button" class="button" [disabled]="savingSkill"
										(click)="showSkillInputs = !showSkillInputs">Cancel</button>
								</div>
							</form>

						</div>
					</div>

					<div class="portfolio-group">
						<div class="row column heading"><input type="checkbox" [checked]="volunteerPrint"
								(change)="volunteerPrint = !volunteerPrint"> <strong>VOLUNTEER ACTIVITIES</strong></div>
						<div class="entry" *ngFor="let v of volunteer; let i = index;">
							<div class="row">
								<div class="medium-9 columns" [hidden]="i == selectedVolunteerEditIndex">
									<p><strong>{{v.organizationName}}</strong>
										<br>
										{{v.startDate}} - {{v.endDate}}
										<br>
										<br>
										<strong>Job Tasks</strong>
										<br>
										<span style="white-space:pre-wrap;" [innerHtml]="v.description"></span>
									</p>
								</div>
								<div class="medium-3 columns actions" [hidden]="i == selectedVolunteerEditIndex">
									<button [disabled]="selectedVolunteerEditIndex != undefined"
										(click)="deleteVolunteer(v.id)"><a [ngStyle]="myStyle">Remove</a></button>
									<button [disabled]="selectedVolunteerEditIndex != undefined"
										(click)="setupUpdateVolunteer(v.id, i)"><a [ngStyle]="myStyle">Edit</a></button>
								</div>

								<!-- Volunteer Update -->
								<div class="row column add" *ngIf="i == selectedVolunteerEditIndex">
									<form name="formVolunteer" *ngIf="showVolunteerInputs && showUpdateVolunteerInputs"
										(submit)="updateVolunteer()">
										<div class="row">
											<div class="small-3 columns">
												<label>Organization: </label>
											</div>
											<div class="small-9 columns">
												<input name="organizationName" type="text" required
													[(ngModel)]="updateVolunteerObject.organizationName"
													[disabled]="savingVolunteer">
											</div>
										</div>

										<div class="row">
											<div class="small-3 columns">
												<label>Time Period: </label>
											</div>
											<div class="small-9 columns">
												<input name="startDate" type="text" class="small" placeholder="MM/YY"
													required [(ngModel)]="updateVolunteerObject.startDate"
													[disabled]="savingVolunteer"
													pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])"
													title="Format: MM/YY"> -
												<input name="endDate" type="text" class="small" placeholder="MM/YY"
													required [(ngModel)]="updateVolunteerObject.endDate"
													[disabled]="savingVolunteer || updateVolunteerEndDateDisabled"
													pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])"
													title="Format: MM/YY"> &nbsp;

												<input type="checkbox" name="present" [disabled]="savingVolunteer"
													[checked]="updateVolunteerObject.endDate == 'Present'"
													[ngModel]="updateVolunteerEndDateDisabled == 1 ? true : updateVolunteerEndDateDisabled == 0 ? false : null"
													(ngModelChange)="updateVolunteerObject.endDate = $event ? 'Present' : ''; updateVolunteerEndDateDisabled = !updateVolunteerEndDateDisabled">&nbsp;Present
											</div>
										</div>

										<div class="row">
											<div class="small-3 columns">
												<label>Description: </label>
												<a class="caps" (click)="tipsModal()">tips</a>
											</div>
											<div class="small-9 columns">
												<!-- <textarea name="description" required
													[(ngModel)]="updateVolunteerObject.description"
													[disabled]="savingVolunteer"></textarea> -->
												<quill-editor name="description"
												required [(ngModel)]="updateVolunteerObject.description" [disabled]="savingVolunteer"></quill-editor>
												
											</div>
										</div>

										<div class="row column buttons">
											<button type="submit" class="button" [disabled]="savingVolunteer">Save<span
													*ngIf="savingVolunteer" id="save-indicator"
													class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
											<button type="button" class="button" [disabled]="savingVolunteer"
												(click)="showVolunteerInputs = !showVolunteerInputs; showUpdateVolunteerInputs = !showUpdateVolunteerInputs; selectedVolunteerEditIndex = undefined; myStyle = {'cursor': 'pointer'};">Cancel</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="row column add">
							<button class="add button all-caps" [hidden]="showVolunteerInputs"
								(click)="showVolunteerInputs = !showVolunteerInputs">Add VOLUNTEER ACTIVITIES</button>

							<!-- Volunteer Insert -->
							<form *ngIf="showVolunteerInputs && !showUpdateVolunteerInputs" (submit)="insertVolunteer()"
								ngNativeValidate>
								<div class="row">
									<div class="small-3 columns">
										<label>Organization: </label>
									</div>
									<div class="small-9 columns">
										<input name="organizationName" type="text" required
											[(ngModel)]="volunteerObject.organizationName" [disabled]="savingVolunteer">
									</div>
								</div>

								<div class="row">
									<div class="small-3 columns">
										<label>Time Period: </label>
									</div>
									<div class="small-9 columns">
										<input name="startDate" type="text" class="small" placeholder="MM/YY" required
											[(ngModel)]="volunteerObject.startDate" [disabled]="savingVolunteer"
											pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])"
											title="Format: MM/YY"> -
										<input name="endDate" type="text" class="small" placeholder="MM/YY" required
											[(ngModel)]="volunteerObject.endDate"
											[disabled]="savingVolunteer || !volunteerEndDateDisabled"
											pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])"
											title="Format: MM/YY">
										&nbsp; <input name="present" type="checkbox" [disabled]="savingVolunteer"
											[ngModel]="volunteerEndDateselected == 1 ? true : volunteerEndDateselected == 0 ? false : null"
											(ngModelChange)="volunteerObject.endDate = $event ? 'Present' : ''; volunteerEndDateDisabled = !volunteerEndDateDisabled;">
										Present
									</div>
								</div>

								<div class="row">
									<div class="small-3 columns">
										<label>Description: </label>
										<a class="caps" (click)="tipsModal()">tips</a>
									</div>
									<div class="small-9 columns">
										<!-- <textarea name="description" required [(ngModel)]="volunteerObject.description"
											[disabled]="savingVolunteer"></textarea> -->
										<quill-editor name="description"
											required [(ngModel)]="volunteerObject.description" [disabled]="savingVolunteer"></quill-editor>
									</div>
								</div>

								<div class="row column buttons">
									<button type="submit" class="button" [disabled]="savingVolunteer">Save<span
											*ngIf="savingVolunteer" id="save-indicator"
											class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
									<button type="button" class="button" [disabled]="savingVolunteer"
										(click)="showVolunteerInputs = !showVolunteerInputs">Cancel</button>
								</div>
							</form>

						</div>
					</div>

					<div class="portfolio-group">
						<div class="row column heading"><input type="checkbox" [checked]="interestPrint"
								(change)="interestPrint = !interestPrint"> <strong>Interests</strong></div>
						<div class="entry" *ngFor="let a of fyiScore; let i = index;">
							<div class="row"><a (click)="interestCodesInfo()">
									<div class="explain alt"></div>
								</a>
								<div class="medium-9 columns" [hidden]="i == selectedFYIEditIndex">
									<strong>Interest Codes:</strong>
									<br><span>{{a.interestCodeOne}} | {{a.interestCodeTwo}} |
										{{a.interestCodeThree}}</span>
									<span>&nbsp;&nbsp;({{ a.interestCodeOne == 'S' ? 'Social' : a.interestCodeOne == 'A'
										?
										'Artistic' : a.interestCodeOne == 'C' ? 'Conventional' : a.interestCodeOne ==
										'E' ?
										'Enterprising' : a.interestCodeOne == 'R' ? 'Realistic' : a.interestCodeOne ==
										'I' ?
										'Investigative' : ''}}
										| {{ a.interestCodeTwo == 'S' ? 'Social' : a.interestCodeTwo == 'A' ? 'Artistic'
										:
										a.interestCodeTwo == 'C' ? 'Conventional' : a.interestCodeTwo == 'E' ?
										'Enterprising' : a.interestCodeTwo == 'R' ? 'Realistic' : a.interestCodeTwo ==
										'I' ?
										'Investigative' : ''}}
										| {{ a.interestCodeThree == 'S' ? 'Social' : a.interestCodeThree == 'A' ?
										'Artistic'
										: a.interestCodeThree == 'C' ? 'Conventional' : a.interestCodeThree == 'E' ?
										'Enterprising' : a.interestCodeThree == 'R' ? 'Realistic' : a.interestCodeThree
										==
										'I' ? 'Investigative' : ''}})
									</span>
								</div>
								<div class="medium-3 columns actions" [hidden]="i == selectedFYIEditIndex || hideFyi">
									<button [disabled]="testEditDisable" (click)="deleteFyiScore(a.id)"><a
											[ngStyle]="myStyle">Remove</a></button> <button [disabled]="testEditDisable"
										(click)="setupUpdateFyiScore(a.id, i)"><a [ngStyle]="myStyle">Edit</a></button>
								</div>


								<div class="row column add" *ngIf="i == selectedFYIEditIndex">
									Update FYI score inputs
									<form *ngIf="showUpdateFyiScoreInputs">
										<strong>Interest Codes:</strong>
										<div class="row column">
											<label>1st Interest Code</label>
											<select name="interestCodeOne" [(ngModel)]="updateFyiObject.interestCodeOne"
												[disabled]="savingFyiScore">
												<option value="">-- Select Test --</option>
												<option value="R">Realistic</option>
												<option value="I">Investigative</option>
												<option value="A">Artistic</option>
												<option value="S">Social</option>
												<option value="E">Enterprising</option>
												<option value="C">Conventional</option>
											</select>
										</div>

										<div class="row column">
											<label>2nd Interest Code</label>
											<select name="inetrestCodeTwo" [(ngModel)]="updateFyiObject.interestCodeTwo"
												[disabled]="savingFyiScore">
												<option value="">-- Select Test --</option>
												<option value="R">Realistic</option>
												<option value="I">Investigative</option>
												<option value="A">Artistic</option>
												<option value="S">Social</option>
												<option value="E">Enterprising</option>
												<option value="C">Conventional</option>
											</select>
										</div>

										<div class="row column">
											<label>3rd Interest Code</label>
											<select name="interestCodeThree"
												[(ngModel)]="updateFyiObject.interestCodeThree"
												[disabled]="savingFyiScore">
												<option value="">-- Select Test --</option>
												<option value="R">Realistic</option>
												<option value="I">Investigative</option>
												<option value="A">Artistic</option>
												<option value="S">Social</option>
												<option value="E">Enterprising</option>
												<option value="C">Conventional</option>
											</select>
										</div>

										<div class="row column buttons">
											<button type="button" class="button" [disabled]="savingFyiScore"
												(click)="updateFyiScore()">Save<span *ngIf="savingFyiScore"
													id="save-indicator"
													class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
											<button type="button" class="button" [disabled]="savingFyiScore"
												(click)="showUpdateFyiScoreInputs = !showUpdateFyiScoreInputs; selectedFYIEditIndex = undefined; myStyle = {'cursor': 'pointer'}; testEditDisable = false;">Cancel</button>
										</div>
									</form>
								</div>
							</div>
						</div>

						<div class="entry" *ngFor="let i of interest; let x = index;">
							<div class="row">
								<div class="medium-9 columns" [hidden]="x == selectedInterestEditIndex">
									<div style="white-space:pre-wrap;">{{i.description}}</div>
								</div>
								<div class="medium-3 columns actions" [hidden]="x == selectedInterestEditIndex">
									<button [disabled]="selectedInterestEditIndex != undefined"
										(click)="deleteInterest(i.id)"><a [ngStyle]="myStyle">Remove</a></button>
									<button [disabled]="selectedInterestEditIndex != undefined"
										(click)="setupInterestSkill(i.id, x)"><a [ngStyle]="myStyle">Edit</a></button>
								</div>

								<!-- Interest Update -->
								<div class="row column add" *ngIf="x == selectedInterestEditIndex">
									<form name="interestForm" class="inline-labels"
										*ngIf="showInterestInputs && showUpdateInterestInputs"
										(submit)="updateInterest()">

										<div>
											<label>Description</label><br />
											<textarea name="description" required
												[(ngModel)]="updateInterestObject.description"
												[disabled]="	"></textarea>
										</div>

										<div class="row column buttons">
											<button type="submit" class="button" [disabled]="savingInterest">Save<span
													*ngIf="savingInterest" id="save-indicator"
													class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
											<button type="button" class="button" [disabled]="savingInterest"
												(click)="showInterestInputs = !showInterestInputs; showUpdateInterestInputs = !showUpdateInterestInputs; selectedInterestEditIndex = undefined; myStyle = {'cursor': 'pointer'};">Cancel</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="row column add">
							<button class="add button all-caps" [hidden]="showInterestInputs"
								(click)="showInterestInputs = !showInterestInputs">Add Interests</button>
							<form name="interestForm" class="inline-labels"
								*ngIf="showInterestInputs && !showUpdateInterestInputs">
								<div class="row column" *ngIf="fyiScore.length == 0">
									<label>Select one: </label>
									<select name="interestSelected" [(ngModel)]="interestSelected">
										<option value="interest">Add Interest</option>
										<option value="FYI" [hidden]="hideFyi">FYI Interest Codes</option>
									</select> &nbsp;
								</div>

								<!-- Insert FYI score inputs -->
								<div *ngIf="fyiScore.length == 0 && interestSelected == 'FYI'">
									<br>
									<div class="row column">
										<label>1st Interest Code</label>
										<select name="interestCodeOne" [(ngModel)]="fyiObject.interestCodeOne"
											[disabled]="savingFyiScore">
											<option value="interestCodeOne">-- Select Test --</option>
											<option value="R">Realistic</option>
											<option value="I">Investigative</option>
											<option value="A">Artistic</option>
											<option value="S">Social</option>
											<option value="E">Enterprising</option>
											<option value="C">Conventional</option>
										</select>
									</div>

									<div class="row column">
										<label>2nd Interest Code</label>
										<select name="interestCodeTwo" [(ngModel)]="fyiObject.interestCodeTwo"
											[disabled]="savingFyiScore">
											<option value="">-- Select Test --</option>
											<option value="R">Realistic</option>
											<option value="I">Investigative</option>
											<option value="A">Artistic</option>
											<option value="S">Social</option>
											<option value="E">Enterprising</option>
											<option value="C">Conventional</option>
										</select>
									</div>

									<div class="row column">
										<label>3rd Interest Code</label>
										<select name="interestCodeThree" [(ngModel)]="fyiObject.interestCodeThree"
											[disabled]="savingFyiScore">
											<option value="">-- Select Test --</option>
											<option value="R">Realistic</option>
											<option value="I">Investigative</option>
											<option value="A">Artistic</option>
											<option value="S">Social</option>
											<option value="E">Enterprising</option>
											<option value="C">Conventional</option>
										</select>
									</div>

									<div class="row column buttons">
										<button type="button" class="button" [disabled]="savingFyiScore"
											(click)="insertFyiScore()">Save<span *ngIf="savingFyiScore"
												id="save-indicator"
												class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
										<button type="button" class="button" [disabled]="savingFyiScore"
											(click)="showInterestInputs = !showInterestInputs">Cancel</button>
									</div>
								</div>

								<!-- Interest Insert -->
								<div *ngIf="interestSelected == 'interest'">
									<div>
										<label>Description</label><br />
										<textarea name="interestDescription" required
											[(ngModel)]="interestObject.description"
											[disabled]="savingInterest"></textarea>
									</div>

									<div class="row column buttons">
										<button type="button" class="button" [disabled]="savingInterest"
											(click)="insertInterest()">Save<span *ngIf="savingInterest"
												id="save-indicator"
												class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
										<button type="button" class="button" [disabled]="savingInterest"
											(click)="showInterestInputs = !showInterestInputs">Cancel</button>
									</div>
								</div>
							</form>


						</div>
					</div>

					<!-- <div class="portfolio-group">
						<div class="row column heading"><input type="checkbox" [checked]="workValuesPrint"
								(click)="workValuesPrint = !workValuesPrint"> <strong>Work Values</strong></div>
						<div class="entry" *ngFor="let w of workValue; let i = index;">
							<div class="row">
								<div class="medium-9 columns" [hidden]="i == selectedValuesEditIndex">
									<div style="white-space:pre-wrap;">{{w.description}}</div>
								</div>
								<div class="medium-3 columns actions" [hidden]="i == selectedValuesEditIndex">
									<button [disabled]="selectedValuesEditIndex != undefined"
										(click)="deleteWorkValue(w.id)"><a [ngStyle]="myStyle">Remove</a></button>
									<button [disabled]="selectedValuesEditIndex != undefined"
										(click)="setupUpdateWorkValue(w.id, i)"><a [ngStyle]="myStyle">Edit</a></button>
								</div>

								Work Value Update
								<div class="row column add" *ngIf="i == selectedValuesEditIndex">
									<form name="workValueForm" class="inline-labels"
										*ngIf="showWorkValueInputs && showUpdateWorkValueInputs"
										(submit)="updateWorkValue()">

										<div>
											<label>Description</label><br />
											<textarea name="workDescription" required
												[(ngModel)]="updateWorkValueObject.description"
												[disabled]="savingWorkValue"></textarea>
										</div>

										<div class="row column buttons">
											<button type="submit" class="button" [disabled]="savingWorkValue">Save<span
													*ngIf="savingWorkValue" id="save-indicator"
													class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
											<button type="button" class="button" [disabled]="savingWorkValue"
												(click)="showWorkValueInputs = !showWorkValueInputs; showUpdateWorkValueInputs = !showUpdateWorkValueInputs; selectedValuesEditIndex = undefined; myStyle = {'cursor': 'pointer'};">Cancel</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="row column add">
							<button class="add button" [hidden]="showWorkValueInputs"
								(click)="showWorkValueInputs = !showWorkValueInputs">Add Work Values</button>

							Work Value Insert
							<form name="workValueForm" class="inline-labels"
								*ngIf="showWorkValueInputs && !showUpdateWorkValueInputs" (submit)="insertWorkValue()">

								<div>
									<label>Description</label><br />
									<textarea name="workDescription" required [(ngModel)]="workValueObject.description"
										[disabled]="savingWorkValue"></textarea>
								</div>

								<div class="row column buttons">
									<button type="submit" class="button" [disabled]="savingWorkValue">Save<span
											*ngIf="savingWorkValue" id="save-indicator"
											class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
									<button type="button" class="button" [disabled]="savingWorkValue"
										(click)="showWorkValueInputs = !showWorkValueInputs">Cancel</button>
								</div>
							</form>

						</div>
					</div> -->
					
					<div class="portfolio-group">
						<div class="row column heading"><input type="checkbox" [checked]="workValuesPrint" (change)="workValuesPrint = !workValuesPrint"> <strong>Work Values</strong></div>

						<div class="entry" *ngIf="workValueTopResults">
							<div class="row">
								<div class="medium-9 columns">
                                    <ul class="wv-status">
                                        <li *ngFor="let w of workValueTopResults; let i = index;"><img src="assets/images/WV-{{w.TypeId}}.png">&nbsp;&nbsp;<strong>{{w.TypeId == 1 ? 'Achievement': w.TypeId == 2 ? 'Independence' : w.TypeId == 3 ? 'Recognition' : w.TypeId == 4 ? 'Relationships' : w.TypeId == 5 ? 'Support' : 'Working Conditions'}}</strong></li>
                                    </ul>
								</div>
	
								<div class="medium-3 columns text-md-right">
									<a routerLink="/work-values-test-results">View Detail</a>
								</div>
							</div>
						</div>
						

						<div class="entry" *ngFor="let w of workValue; let i = index;">	
							<div class="row">
								<div class="medium-9 columns" [hidden]="i == selectedValuesEditIndex">
									<div style="white-space:pre-wrap;">{{w.description}}</div>
								</div>
								<div class="medium-3 columns actions" [hidden]="i == selectedValuesEditIndex">
									<button [disabled]="selectedValuesEditIndex != undefined"
										(click)="deleteWorkValue(w.id)"><a [ngStyle]="myStyle">Remove</a></button>
									<button [disabled]="selectedValuesEditIndex != undefined"
										(click)="setupUpdateWorkValue(w.id, i)"><a [ngStyle]="myStyle">Edit</a></button>
								</div>

								<!-- Work Value Update -->
								<div class="row column add" *ngIf="i == selectedValuesEditIndex">
									<form name="workValueForm" class="inline-labels"
										*ngIf="showWorkValueInputs && showUpdateWorkValueInputs"
										(submit)="updateWorkValue()">

										<div>
											<label>Description</label><br />
											<textarea name="workDescription" required
												[(ngModel)]="updateWorkValueObject.description"
												[disabled]="savingWorkValue"></textarea>
										</div>

										<div class="row column buttons">
											<button type="submit" class="button" [disabled]="savingWorkValue">Save<span
													*ngIf="savingWorkValue" id="save-indicator"
													class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
											<button type="button" class="button" [disabled]="savingWorkValue"
												(click)="showWorkValueInputs = !showWorkValueInputs; showUpdateWorkValueInputs = !showUpdateWorkValueInputs; selectedValuesEditIndex = undefined; myStyle = {'cursor': 'pointer'};">Cancel</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="row column add">
							<button class="add button all-caps" [hidden]="showWorkValueInputs"
								(click)="showWorkValueInputs = !showWorkValueInputs">Add Work Values</button>

							<!-- Work Value Insert -->
							<form name="workValueForm" class="inline-labels"
								*ngIf="showWorkValueInputs && !showUpdateWorkValueInputs" (submit)="insertWorkValue()">

								<div>
									<label>Description</label><br />
									<textarea name="workDescription" required [(ngModel)]="workValueObject.description"
										[disabled]="savingWorkValue"></textarea>
								</div>

								<div class="row column buttons">
									<button type="submit" class="button" [disabled]="savingWorkValue">Save<span
											*ngIf="savingWorkValue" id="save-indicator"
											class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
									<button type="button" class="button" [disabled]="savingWorkValue"
										(click)="showWorkValueInputs = !showWorkValueInputs">Cancel</button>
								</div>
							</form>

						</div>
					</div>

					<div class="row favorites">
						<div class="small-6 columns">
							<div class="portfolio-group">
								<div class="row column heading"><input type="checkbox"
										[checked]="favoriteOccupationPrint"
										(change)="favoriteOccupationPrint = !favoriteOccupationPrint"> <strong>Favorite
										Occupations</strong></div>
								<div class="row column entry">
									<div class="row">
										<div class="small-10 columns">
											<p *ngFor="let f of favoriteList"><a
													href="occufind-occupation-details/{{f.onetSocCd}}">{{f.title}}</a>
											</p>
										</div>
										<div class="small-2 columns actions"><a routerLink="/favorites">Edit</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="small-6 columns">
							<div class="portfolio-group">
								<div class="row column heading"><input type="checkbox"
										[checked]="favoriteCareerClusterPrint"
										(change)="favoriteCareerClusterPrint = !favoriteCareerClusterPrint">
									<strong>Favorite
										Career Clusters</strong>
								</div>
								<div class="row column entry">
									<div class="row" *ngIf="careerClusterFavoriteList.length != 0">
										<div class="small-10 columns">
											<p *ngFor="let cc of careerClusterFavoriteList"><a
													href="career-cluster-occupation-results/{{cc.ccId}}">{{cc.title}}</a>
											</p>
										</div>
										<div class="small-2 columns actions"><a routerLink="/favorites">Edit</a>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="row favorites">

						<div class="small-6 columns">
							<div class="portfolio-group">
								<div class="row column heading"><input type="checkbox" [checked]="favoriteSchoolPrint"
										(change)="favoriteSchoolPrint = !favoriteSchoolPrint"> <strong>Favorite
										Colleges</strong></div>
								<div class="row column entry">
									<div class="row" *ngIf="schoolFavoriteList.length != 0">
										<div class="small-10 columns">
											<p *ngFor="let s of schoolFavoriteList"><a
													href="occufind-school-details/undefined/{{s.unitId}}">{{s.schoolName}}</a>
											</p>
										</div>
										<div class="small-2 columns actions"><a routerLink="/favorites">Edit</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="small-6 columns">
							<div class="portfolio-group">
								<div class="row column heading"><input type="checkbox"
										[checked]="favoriteCitmOccupationPrint"
										(change)="favoriteCitmOccupationPrint = !favoriteCitmOccupationPrint">
									<strong>Favorite Military Careers</strong>
								</div>
								<div class="row column entry">
									<div class="row" *ngIf="citmFavoriteOccupations.length != 0">
										<div class="small-10 columns">
											<p *ngFor="let f of citmFavoriteOccupations"><a
													href="{{ssoUrl}}/career-detail/{{f.mcId}}"
													target="_blank">{{f.title}}</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="plan_top_share bg_green hide-for-small-only">
						<div class="row">
							<div class="medium-2 columns">
								<a (click)="showSubmitToMentor()" title="Click to submit portfolio with a mentor"><img src="assets/images/mentor_submit.png" />&nbsp;&nbsp;Submit</a>
							</div>
							<div class="medium-10 columns text-center">
								<div class="row">
									<div class="medium-2 medium-offset-4 column">
										<a (click)="downloadPdfNew()"><i class="fas fa-download" aria-hidden="true"></i>&nbsp;&nbsp;Download</a>
									</div>
									<div class="medium-2 column" style="border-right:1px solid black;">
										<a (click)="printPdfNew()"><i class="fas fa-print" aria-hidden="true"></i>&nbsp;&nbsp;Print</a>
									</div>
									<div class="medium-2 column">
										<a (click)="selectAll()">Select All</a>
									</div>
									<div class="medium-2 column">
										<a (click)="selectNone()">Select None</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="plan_top_share bg_green show-for-small-only">
						<div class="row">
							<div class="column small-4 medium-4 text-center">
								<a (click)="showSubmitToMentor()" title="Click to submit portfolio with a mentor"><img src="assets/images/mentor_submit.png" /> <span
									class="plan_top_share-caption">Submit</span> </a>
							</div>
							<div class="column small-4 medium-4 text-center">
								<a (click)="downloadPdfNew()"><i class="fas fa-download"
									aria-hidden="true"></i> <span class="plan_top_share-caption">Download</span>
								</a>
							</div>
							<div class="column small-4 medium-4 text-center">
								<a (click)="printPdfNew()"><i class="fas fa-print"
									aria-hidden="true"></i> <span class="plan_top_share-caption">Print</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- <app-left-navigation-mobile></app-left-navigation-mobile> -->
	</section>

	<app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
	<app-footer></app-footer>
</div>

<div #printSectionNew class="bg-white"  id="printSectionNew" style="display:none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 99999999">
	
  <div class="row">
    <div class="columns medium-12">
      <div class="resume-print">

        <table class="resume-header">
          <thead>
            <tr>
              <th align="left">{{fullName}}</th>
              <th align="right">Grade: {{grade}}</th>  
            </tr>
          </thead>
        </table>

        <table *ngIf="planPrint">
          <thead>
            <tr>
              <th align="left">Future Plan</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let plan of combinedPlanObj.plan | keyvalue">
              <td *ngIf="plan.value && plan.key == 'fourYearCollege'">Bachelor's Degree (4 year)</td>
              <td *ngIf="plan.value && plan.key == 'twoYearCollege'">Associate's Degree(2 year)</td>
              <td *ngIf="plan.value && plan.key == 'careerAndTech'">Career and Technical Education</td>
              <td *ngIf="plan.value && plan.key == 'military'">Military</td>
              <td *ngIf="plan.value && plan.key == 'work'">Work Based Learning</td>
              <td *ngIf="plan.value && plan.key == 'gapYear'">GAP Year</td>
              <td *ngIf="plan.value && plan.key == 'undecided'">Undecided</td>
              <td *ngIf="plan.value && plan.key == 'certificate'">Certificate</td>
              <td *ngIf="plan.value && plan.key == 'technicalSchool'">Technical School</td>
              <td *ngIf="plan.value && plan.key == 'vocationalTraining'">Vocational Training</td>
              <td *ngIf="plan.value && plan.key == 'advancedDegree'">Advanced Degree</td>
            </tr>
			<tr *ngIf="combinedPlanObj?.description">
				<td>
				<br/><br/>
					Comments: <br/><br/>
					{{combinedPlanObj.description}}
				</td>
			</tr>
          </tbody>
        </table>

        <table *ngIf="workExperiencePrint && workExperience.length > 0">
          <thead>
            <tr>
              <th align="left" colspan="2">Work Experience</th>
            </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let w of workExperience">
            <tr>
              <td><strong>{{w.jobTitle}} {{w.companyName}}</strong></td>
              <td align="right">{{w.startDate}} - {{w.endDate}}</td>
            </tr>
            <tr>
              <td><span [innerHtml]="w.jobDescription"></span></td>
            </tr>

            <tr>
              <td colspan="2" class="no-space">
                <hr>
              </td>
            </tr>
            </ng-container>

          </tbody>
        </table>

        <table *ngIf="educationPrint && education.length > 0">
          <thead>
            <tr>
              <th align="left" colspan="2">Education</th>
            </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let e of education">
            <tr>
              <td><strong>{{e.schoolName}}</strong></td>
              <td align="right">{{e.startDate}} - {{e.endDate}}</td>
            </tr>
            <!-- <tr>
              <td colspan="2">GPA:  3.0</td>
            </tr> -->
            <br>
            <tr>
              <td colspan="2">
                Activities:<br>
                {{e.activities}}
              </td>
            </tr>
            <br>
            <tr>
              <td colspan="2">
                Honor, AP Courses, & AP Tests:<br>
                {{e.achievements}}
              </td>
            </tr>
            </ng-container>

          </tbody>
        </table>

        <table  *ngIf="(testScorePrint && (actScore.length > 0 || satScore.length > 0 || otherScore.length > 0)) || asvabScore && asvabScore.length > 0">
          <thead>
            <tr>
              <th align="left" colspan="2">Scores</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="no-space">
                <table>
                  <tbody>
					  <ng-container *ngIf="asvabScore && asvabScore.length > 0">
						<tr>
						<td colspan="2"><strong>ASVAB Score</strong></td>
						</tr>
						<ng-container *ngFor="let a of asvabScore; let i = index;">

							<tr>
							  <td>Verbal Skills Score</td>
							  <td>{{a.verbalScore}}</td>
							</tr>
							<tr>
							  <td>Math Skills Score</td>
							  <td>{{a.mathScore}}</td>
							</tr>
							<tr>
							  <td>Science and Technical Skills Score</td>
							  <td>{{a.scienceScore}}</td>
							</tr>
							<tr>
							  <td>AFQT Score</td>
							  <td>{{a.afqtScore}}</td>
							</tr>
	
							<tr>
							  <td colspan="2" class="no-space">
								<hr>
							  </td>
							</tr>
						  </ng-container>
					</ng-container>

					<ng-container *ngIf="actScore.length > 0">
                    <tr>
                      <td><strong>ACT Score</strong></td>
                    </tr>
        			
        			<ng-container *ngFor="let a of actScore">
                    <tr>
                      <td>Reading Score</td>
                      <td>{{a.readingScore}}</td>
                    </tr>
        
                    <tr>
                      <td>Math Score</td>
                      <td>{{a.mathScore}}</td>
                    </tr>
        
                    <tr>
                      <td>Writing Score</td>
                      <td>{{a.writingScore}}</td>
                    </tr>
        
                    <tr>
                      <td>Science Score</td>
                      <td>{{a.scienceScore}}</td>
                    </tr>
        
                    <tr>
                      <td>English Score</td>
                      <td>{{a.englishScore}}</td>
                    </tr>
                    
                    <tr>
                      <td colspan="2" class="no-space">
                        <hr>
                      </td>
                    </tr>
                    </ng-container>
                    </ng-container>
                    
                    <ng-container *ngIf="satScore.length > 0">
                    <tr>
                      <td><strong>SAT Score</strong></td>
                    </tr>
        			
        			<ng-container *ngFor="let s of satScore">
                    <tr>
                      <td>Reading Score</td>
                      <td>{{s.readingScore}}</td>
                    </tr>
        
                    <tr>
                      <td>Math Score</td>
                      <td>{{s.mathScore}}</td>
                    </tr>
        
                    <tr>
                      <td>Writing Score</td>
                      <td>{{s.writingScore}}</td>
                    </tr>
        
                    <tr>
                      <td>Other Subject Score</td>
                      <td>{{s.subject}}</td>
                    </tr>
                    
                    <tr>
                      <td colspan="2" class="no-space">
                        <hr>
                      </td>
                    </tr>
        
                    </ng-container>
                    </ng-container>
                    
                    <ng-container *ngIf="otherScore.length > 0">
                    <tr>
                      <td><strong>Other Score</strong></td>
                    </tr>
        			
        			<ng-container *ngFor="let o of otherScore">
                    <tr>
                      <td>{{o.description}}</td>
                    </tr>
                    </ng-container>
                    </ng-container>

                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>

        <table *ngIf="achievementPrint && achievement.length > 0">
          <thead>
            <tr>
              <th align="left">Achievement</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of achievement">
              <td>{{a.description}}</td>
            </tr>
          </tbody>
        </table>

        <table *ngIf="skillsPrint && skill.length > 0">
          <thead>
            <tr>
              <th align="left">Skill</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of skill">
              <td>{{a.description}}</td>
            </tr>
          </tbody>
        </table>

        <table *ngIf="volunteerPrint && volunteer.length > 0">
          <thead>
            <tr>
              <th align="left" colspan="2">Volunteer</th>
            </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let v of volunteer">
            <tr>
              <td><strong>{{v.organizationName}},</strong></td>
              <td align="right">{{v.startDate}} - {{v.endDate}}</td>
            </tr>
            <tr>
              <td><span [innerHtml]="v.description"></span></td>
            </tr>
            </ng-container>

          
          </tbody>
        </table>

        <table *ngIf="interestPrint && (fyiScore.length > 0 || interest.length > 0)">
          <thead>
            <tr>
              <th align="left">Interest</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Interest Codes</strong></td>
            </tr>
            <tr *ngFor="let f of fyiScore">
              <td>{{f.interestCodeOne + ' | ' + f.interestCodeTwo + ' | ' + f.interestCodeThree + ' ( ' + getInterestTitle(f.interestCodeOne) + ' | ' + getInterestTitle(f.interestCodeTwo) + ' | ' + getInterestTitle(f.interestCodeThree) + ')'}}</td>
            </tr>
            
            <tr>
              <td><strong>Interests</strong></td>
            </tr>
            <tr *ngFor="let i of interest">
              <td>{{i.description}}</td>
            </tr>
          </tbody>
        </table>

        <table class="resume-print-work-value" *ngIf="workValuesPrint && ((workValue && workValue.length > 0) || (workValueTopResults && workValueTopResults.length > 0))">
          <thead>
            <tr>
              <th align="left" colspan="3">Work Value</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let w of workValueTopResults; let i = index;">
              <td>
                <span class="work-value"><img src="assets/images/WV-{{w.TypeId}}.png" alt="Support"><span>1</span></span>
                <strong>{{w.TypeId == 1 ? 'Achievement': w.TypeId == 2 ? 'Independence' : w.TypeId == 3 ? 'Recognition' : w.TypeId == 4 ? 'Relationships' : w.TypeId == 5 ? 'Support' : 'Working Conditions'}}</strong>
              </td>
            </tr>
            
            <tr>
              <td><strong>Work Value</strong></td>
            </tr>
            <tr *ngFor="let w of workValue">
              <td>{{w.description}}</td>
            </tr>
          </tbody>
        </table>

        <table *ngIf="favoriteCitmOccupationPrint && citmFavoriteOccupations.length > 0">
          <thead>
            <tr>
              <th align="left">{{citmFavoriteOccupations.length == 1 ? 'Favorite CITM Occupation' : 'Favorite CITM Occupations'}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of citmFavoriteOccupations">
              <td>{{c.title}}</td>
            </tr>
          </tbody>
        </table>
        
        <table *ngIf="favoriteOccupationPrint && favoriteList.length > 0">
          <thead>
            <tr>
              <th align="left">{{favoriteList.length == 1 ? 'Favorite Occupation' : 'Favorite Occupations'}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let f of favoriteList">
              <td>{{f.title}}</td>
            </tr>
          </tbody>
        </table>
        
        <table *ngIf="favoriteCareerClusterPrint && careerClusterFavoriteList.length > 0">
          <thead>
            <tr>
              <th align="left">{{careerClusterFavoriteList.length == 1 ? 'Favorite Career Cluster' : 'Favorite Career Clusters'}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of careerClusterFavoriteList">
              <td>{{c.title}}</td>
            </tr>
          </tbody>
        </table>
        
        <table *ngIf="favoriteSchoolPrint && schoolFavoriteList.length > 0">
          <thead>
            <tr>
              <th align="left">{{schoolFavoriteList.length == 1 ? 'Favorite College' : 'Favorite Colleges'}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let s of schoolFavoriteList">
              <td>{{s.schoolName}}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>