<div id="portfolio" class="occufind">
	<app-header></app-header>
	<app-my-asvab-header></app-my-asvab-header>

	<section id="content-wrap" class="left-nav-expanded-wrap">
		<div class="row">

			<app-left-navigation-v2-collapsed [selectedTab]="'plan'"></app-left-navigation-v2-collapsed>

			<div class="hide-for-small-only" style="z-index: 1" *ngIf="!portfolioUserLoggedIn">
				<img src="assets/images/asvab-ad.jpg">
			</div>

			<section id="main-content" class="left-navigation-condensed" role="main">

				<app-my-top-results-collapsed *ngIf="portfolioUserLoggedIn" [collapsedVersion]="'v2'">
				</app-my-top-results-collapsed>

				<div id="left-nav-content-wrap">
					<h2>My Portfolio</h2>

					<p>
						<strong>Whether you are meeting with your school counselor
							or filling out college applications, having all of your
							information in one spot can help you plan for your future.</strong>
					</p>
	
					<p>My Portfolio is designed to help you chart your unique
						experiences related to work experience, education, test scores,
						achievements, skills, volunteer work, interests, work values, even
						capture your favorite occupations and career clusters.</p>
	
					<p>This tool allows you to fill in the areas you like and skip
						those you don't. Then generate a customizable resume-like document
						showcasing the highlights of your life to date.</p>
	
					<p align="center"><br/><a class="button" (click)="deleteSessionPortfolio(); startPortfolio()">Let's Get started</a></p>
					
					<p><strong>Take advantage of these My Portfolio features</strong></p>
					<ul>
						<li>Generate a comprehensive snapshot of your work,
							education, activities and interests</li>
						<li>Add and update your information anytime</li>
						<li>Customize your document to include only sections you would
							like to print</li>
					</ul>
				</div>

				
			</section>
		</div>
		<!-- <app-left-navigation-mobile></app-left-navigation-mobile> -->
	</section>

	<app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
	<app-footer></app-footer>
</div>

<!-- <div id="portfolio" class="occufind">
	<app-header></app-header>
	<app-my-asvab-header></app-my-asvab-header>
	
	<section id="content-wrap">
		<div class="row">
			<div class="medium-2 columns">
				<app-left-navigation></app-left-navigation>
			</div>
			<section id="main-content" class="medium-10 columns" role="main">
				
                <h2>My Portfolio</h2>

				<p>
					<strong>Whether you are meeting with your school counselor
						or filling out college applications, having all of your
						information in one spot can help you plan for your future.</strong>
				</p>

				<p>My Portfolio is designed to help you chart your unique
					experiences related to work experience, education, test scores,
					achievements, skills, volunteer work, interests, work values, even
					capture your favorite occupations and career clusters.</p>

				<p>This tool allows you to fill in the areas you like and skip
					those you don't. Then generate a customizable resume-like document
					showcasing the highlights of your life to date.</p>

				<p align="center"><br/><a class="button" href="portfolio" (click)="deleteSessionPortfolio()">Let's Get started</a></p>
				
				<p><strong>Take advantage of these My Portfolio features</strong></p>
				<ul>
					<li>Generate a comprehensive snapshot of your work,
						education, activities and interests</li>
					<li>Add and update your information anytime</li>
					<li>Customize your document to include only sections you would
						like to print</li>
				</ul>
			</section>
		</div>
	</section>
	
	<app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
    <app-footer></app-footer>
  </div> -->