<div class="modal-header">
	<h3></h3>
</div>

<div class="modal-body">
	<div align="center">
		<div class="yt-m-wrapper" *ngIf="youTube">
			<div class="yt-m-h_iframe">
				<iframe width="100%" height="100%" frameborder="0" allowfullscreen autoplay [src]="safeURL(videoURL)"
					allow="accelerometer; encrypted-media; gyroscope; picture-in-picture">
				</iframe>
			</div>
		</div>
		<div *ngIf="!youTube">
			<video width="90%" controls autoplay>
				<source [src]="videoURL" type="video/mp4;">
				Your browser does not support the video tag.
			</video>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button class="button" type="button" (click)="closeDialog()">Close</button>
</div>