<div class="bg-white">
  <div class="row">
    <div class="columns medium-12">
      <div class="resume-print">

        <table class="resume-header">
          <thead>
            <tr>
              <th align="left">Kathy Miller</th>
              <th align="right">Grade: 11th</th>  
            </tr>
          </thead>
        </table>

        <table>
          <thead>
            <tr>
              <th align="left">Future Plan</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>4 year College</td>
            </tr>
            <tr>
              <td>Military</td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th align="left" colspan="2">Work Experience</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Cashier, Corner Market</strong></td>
              <td align="right">01/18 - Present</td>
            </tr>
            <tr>
              <td>Handles cash transactions between customer and retail store.</td>
            </tr>

            <tr>
              <td colspan="2" class="no-space">
                <hr>
              </td>
            </tr>

            <tr>
              <td><strong>Cashier, Corner Market</strong></td>
              <td align="right">01/17 - 1/18</td>
            </tr>
            <tr>
              <td>Handles cash transactions between customer and retail store.</td>
            </tr>

          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th align="left" colspan="2">Education</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>South Meck High School</strong></td>
              <td align="right">06/17 - 06/22</td>
            </tr>
            <tr>
              <td colspan="2">GPA:  3.0</td>
            </tr>
            <br>
            <tr>
              <td colspan="2">
                Activities:<br>
                Future Business Leaders of America, Track
              </td>
            </tr>
            <br>
            <tr>
              <td colspan="2">
                Honor, AP Courses, & AP Tests:<br>
                AP Calculus AB, AP Microeconomics
              </td>
            </tr>

          </tbody>
        </table>

        <table class="resume-print-score">
          <thead>
            <tr>
              <th align="left" colspan="2">Scores</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="no-space">
                <table>
                  <tbody>
                    <tr>
                      <td colspan="2"><strong>ASVAB Score</strong></td>
                    </tr>
                    <tr>
                      <td>Verbal Skills Score</td>
                      <td>70</td>
                    </tr>
                    <tr>
                      <td>Math Skills Score</td>
                      <td>36</td>
                    </tr>
                    <tr>
                      <td>Science and Technical Skills Score</td>
                      <td>65</td>
                    </tr>
                    <tr>
                      <td>AFQT Score</td>
                      <td>82</td>
                    </tr>

                    <tr>
                      <td colspan="2" class="no-space">
                        <hr>
                      </td>
                    </tr>

                    <tr>
                      <td><strong>ACT Score</strong></td>
                    </tr>
        
                    <tr>
                      <td>Reading Score</td>
                      <td>26</td>
                    </tr>
        
                    <tr>
                      <td>Math Score</td>
                      <td>28</td>
                    </tr>
        
                    <tr>
                      <td>Writing Score</td>
                      <td>24</td>
                    </tr>
        
                    <tr>
                      <td>Science Score</td>
                      <td>23</td>
                    </tr>
        
                    <tr>
                      <td>English Score</td>
                      <td>24</td>
                    </tr>

                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th align="left">Achievement</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>• Honor Roll for 10th and 11th grade </td>
            </tr>
            <tr>
              <td>• MVP for varsity basketball team</td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th align="left">Skill</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>• I have strong organizational skills; I excel in a group setting</td>
            </tr>
            <tr>
              <td>• I'm good at setting and sticking to a budget.</td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th align="left" colspan="2">Volunteer</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>School on Wheels,</strong></td>
              <td align="right">11/20 - Present</td>
            </tr>
            <tr>
              <td>Tutor elementary school children in Math.</td>
            </tr>

          
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th align="left">Interest</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Interest Codes</strong></td>
            </tr>
            <tr>
              <td>R | I | C    ( Realistic | Investigative | Conventional)</td>
            </tr>
          </tbody>
        </table>

        <table class="resume-print-work-value">
          <thead>
            <tr>
              <th align="left" colspan="3">Work Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <span class="work-value"><img src="assets/images/WV-1.png" alt="Support"><span>1</span></span>
                <strong>Relationships</strong>
              </td>
              <td>
                <span class="work-value"><img src="assets/images/WV-2.png" alt="Support"><span>2</span></span>
                <strong>Support</strong>
              </td>
              <td>
                <span class="work-value"><img src="assets/images/WV-3.png" alt="Support"><span>3</span></span>
                <strong>Working Conditions</strong>
              </td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th align="left">Favorite Occupations</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Architectural Drafters</td>
            </tr>
            <tr>
              <td>Mental Health and Substance Abuse Social Workers</td>
            </tr>
            <tr>
              <td>Administrative Law Judges, Adjudicators, and Hearing Officers</td>
            </tr>
            <tr>
              <td>Registered Nurses</td>
            </tr>
            <tr>
              <td>Accountants</td>
            </tr>
            <tr>
              <td>Astronomers</td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th align="left">Favorite Career Clusters</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Education & Training</td>
            </tr>
            <tr>
              <td>Architecture & Construction</td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th align="left">Favorite Colleges</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>AdventHealth University</td>
            </tr>
            <tr>
              <td>Abilene Christian University</td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th align="left">Favorite Military Careers</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>AdventHealth University</td>
            </tr>
            <tr>
              <td>Abilene Christian University</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>