.resume-print {
    padding: 35px 15px;
    
    table {
        width: 100%;
        margin-bottom: 25px;
        
        strong {
            font-weight: normal;
        }

        th,td {
            font-size: 14px;
            line-height: 19px;
            padding-left: 17px;
            padding-right: 17px;

            @media screen and (max-width: 767px) {
                padding-left: 10px;
                padding-right: 10px;
            }

            &.no-space {
                padding: 0;
            }
        }

        thead {
            th {
                background-color: #EEEEEE;
                text-transform: uppercase;
                padding: 3px 17px;
                font-weight: normal;
            }
        }

        tbody {
            tr {
                background-color: transparent;

                &:first-child {
                    > td {
                        padding-top: 15px;
                    }
                }

                img {
                    margin-right: 10px;
                }
            }
        }
        
        .work-value {
            position: relative;
            
            span {
                border: 1px solid #fff;
                position: absolute;
                right: 3px;
                top: -6px;
                font-size: 11px;
                color: #fff;
                background: #4C42AD;
                width: 16px;
                height: 16px;
                text-align: center;
                border-radius: 15px;
                line-height: 14px;
                font-weight: bold;
            }
        }
    }
    
    .resume-header {
        font-size: 18px;
        line-height: 31px;
        color: #000;
    
        thead {
            tr {
               
                th {
                    font-size: 18px;
                    background-color: #E4F4F4;
                    text-transform: inherit;
                    border-top: 1px solid #898989;
                    border-bottom: 1px solid #898989;
                    padding: 11px 17px;
    
                    &:nth-child(2) {
                        text-align: right;
                    }
                }
            }
        }
    }

    &-score {
        tr {
            td {
                tr {
                    td {
                        &:last-child {
                            &:not(:first-child) {
                                @media screen and (min-width: 40em) {
                                    width: 60%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &-work-value {
        td {
            @media screen and (max-width: 39.9375em) {
                display: block;
            }
        }
    }
}