<div class="left-sub-nav sidebar-desktop">
    <ul id="steps" class="menu hide-for-small-only vertical">
        <li><a routerLink="/dashboard">My ASVAB CEP</a></li>        
    </ul>
	<div class="graybgleftbox show_scores hide-for-small-only">
	    <!-- Books display -->
	    <h5 id="my-codes-label" class="menu hide-for-small-only" *ngIf="!(!haveManualAsvabTestScores && !getScore('verbal'))">
	    	{{userRole == 'T' ? 'Sample' : 'My ASVAB CEP'}}	    	
	    	<br />	    	
	    	{{showScoresTable ? "Scores" : "Strengths"}}
	    	<a class="explain alt" (click)="resultsInfo()"></a> 
	   	</h5>
	   	
	    <!-- Books display -->
	    <ng-container *ngIf="!showScoresTable">
	    <div class="hide-for-small-only"  *ngIf="!(!haveManualAsvabTestScores && !getScore('verbal'))">
	         <div id="my-results" class="row small-up-3">
	            <div class="columns nopadding">
	                <div name="fieldName" ngDefaultControl class="skill-books" attr.id="{{ !haveManualAsvabTestScores ? 'verbal-skills-small' : 'manual-score-skills-small' }}" [ngStyle]="getBookPos('verbal')" [(ngModel)]="vBooks.xPosSmall"></div>
	                <div class="text-center">V</div>
	            </div>
	            <div class="columns nopadding">
	                <div name="fieldName" ngDefaultControl class="skill-books" attr.id="{{ !haveManualAsvabTestScores ? 'math-skills-small' : 'manual-score-skills-small' }}" [ngStyle]="getBookPos('math')" [(ngModel)]="mBooks.xPosSmall"></div>
	                <div class="text-center">M</div>
	            </div>
	            <div class="columns nopadding">
	                <div name="fieldName" ngDefaultControl class="skill-books" attr.id="{{ !haveManualAsvabTestScores ? 'science-skills-small' : 'manual-score-skills-small' }}" [ngStyle]="getBookPos('science')" [(ngModel)]="sBooks.xPosSmall"></div>
	                <div class="text-center">S/T</div>
	            </div>
	        </div>
	        <!-- View Toggle -->
	        <div id="my-results-toggle" class="row small-up-1">
	            <div class="columns">
	                <div class="scores-toggle text-center">
	                    <a (click)="toggleScoreView();">{{userRole == 'T' ? 'See Sample Scores' : 'Show Scores'}}</a>
	                </div>
	            </div>
	        </div>
	    </div>
	    </ng-container>
	
	    <!-- Table display -->
	    <div *ngIf="showScoresTable" class="hide-for-small-only">
	        <table id="my-results-table" class="table table-striped">
	            <tbody>
	                <tr>
	                    <td id="varbal-score">{{getScore("verbal")}}</td>
	                    <td id="math-score">{{getScore("math")}}</td>
	                    <td id="science-score">{{getScore("science")}}</td>
	                </tr>
	                <tr>
	                    <td>V</td>
	                    <td>M</td>
	                    <td>S/T</td>
	                </tr>
	                <!-- AFQT not displayed for manual entered scores -->
	                <tr *ngIf="!haveManualAsvabTestScores">
	                   <td colspan="3">AFQT: <span id="afqt-score">{{getScore("afqt")}}</span></td>
	                </tr>
	                <tr>
	                    <td colspan="3" class="scores-toggle" style="background-color:#ffffff;">
	                        <a (click)="toggleScoreView();">{{userRole == 'T' ? 'See Sample Strengths' : 'Show Strengths'}}</a>
	                    </td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
	
	    <ul class="menu hide-for-small-only vertical" *ngIf="!(!haveManualAsvabTestScores && !getScore('verbal'))">
	        <li *ngIf="!haveManualAsvabTestScores"><a routerLink="/my-asvab-summary-results" [ngClass]="{disabled: returnResultsDisabled() }">See ASVAB Results</a></li>
	        <li *ngIf="haveManualAsvabTestScores"><a routerLink="/my-asvab-summary-results-manual" [ngClass]="{disabled: returnManualResultsDisabled() }">See ASVAB Results</a></li>
	        <li class="divider"></li>
	    </ul>
	
	    <!-- Intrest Code -->
	    <div>
		    <h5 id="my-codes-label" class="menu hide-for-small-only">
		    	My Top <br />
		    	Interests
		    	<a class="explain alt" (click)="interestCodesInfo()"></a> 
	    	</h5>
			<!-- <ul *ngIf="interestCodeOne != undefined && !loadingIndicator" id="my-codes" class="menu hide-for-small-only"> -->
			<ul *ngIf="interestCodeOne != undefined" id="my-codes" class="menu hide-for-small-only">
				<li *ngIf="interestCodeOne == 'C'" class="code-c"><a (click)="interestCodeInfo('C')">C</a></li>
		        <li *ngIf="interestCodeOne == 'R'" class="code-r"><a (click)="interestCodeInfo('R')">R</a></li>
		        <li *ngIf="interestCodeOne == 'I'" class="code-i"><a (click)="interestCodeInfo('I')">I</a></li>
		        <li *ngIf="interestCodeOne == 'A'" class="code-a"><a (click)="interestCodeInfo('A')">A</a></li>
		        <li *ngIf="interestCodeOne == 'S'" class="code-s"><a (click)="interestCodeInfo('S')">S</a></li>
		        <li *ngIf="interestCodeOne == 'E'" class="code-e"><a (click)="interestCodeInfo('E')">E</a></li>
		        
		        <li *ngIf="interestCodeTwo == 'C'" class="code-c"><a (click)="interestCodeInfo('C')">C</a></li>
		        <li *ngIf="interestCodeTwo == 'R'" class="code-r"><a (click)="interestCodeInfo('R')">R</a></li>
		        <li *ngIf="interestCodeTwo == 'I'" class="code-i"><a (click)="interestCodeInfo('I')">I</a></li>
		        <li *ngIf="interestCodeTwo == 'A'" class="code-a"><a (click)="interestCodeInfo('A')">A</a></li>
		        <li *ngIf="interestCodeTwo == 'S'" class="code-s"><a (click)="interestCodeInfo('S')">S</a></li>
		        <li *ngIf="interestCodeTwo == 'E'" class="code-e"><a (click)="interestCodeInfo('E')">E</a></li>
		        
		        <li *ngIf="interestCodeThree == 'C'" class="code-c"><a (click)="interestCodeInfo('C')">C</a></li>
		        <li *ngIf="interestCodeThree == 'R'" class="code-r"><a (click)="interestCodeInfo('R')">R</a></li>
		        <li *ngIf="interestCodeThree == 'I'" class="code-i"><a (click)="interestCodeInfo('I')">I</a></li>
		        <li *ngIf="interestCodeThree == 'A'" class="code-a"><a (click)="interestCodeInfo('A')">A</a></li>
		        <li *ngIf="interestCodeThree == 'S'" class="code-s"><a (click)="interestCodeInfo('S')">S</a></li>
		        <li *ngIf="interestCodeThree == 'E'" class="code-e"><a (click)="interestCodeInfo('E')">E</a></li>					
			</ul>
		</div>
	</div>
	<span *ngIf="loadingIndicator" id="loadingIndicator" class="fa fa-cog fa-spin fa-2x fa-fw" style="color: #2f2a6a;"></span>
	<span *ngIf="numberTestTaken != 0 && interestCodeOne == undefined">Return to the FYI results page to choose your score.</span>
	<ul id="steps" class="menu vertical">
        <li class="header-space"><span>Step 1: Learn</span></li>
        <li *ngIf="interestCodeOne != undefined || (interestCodeOne == undefined && numberTestTaken != 0)">
        	<a style="padding-top: 0px" routerLink="/find-your-interest-score" [ngClass]="{disabled: returnFyiDisabled()}">Return to FYI Results</a>
       	</li>
        <li *ngIf="numberTestTaken != 0 && isShowTest()">
        	<a routerLink="/find-your-interest" [ngClass]="{disabled: takeFyiDisabled()}">Retake the FYI</a>
       	</li>
        <li *ngIf="numberTestTaken == 0">
        	<a routerLink="/find-your-interest" [ngClass]="{disabled: takeFyiDisabled()}">Take the FYI (Find Your Interests)</a>
       	</li>
        <!-- <li *ngIf="numberTestTaken == 0">
        	<a (click)="openDialogFYIManualInput()">Enter your FYI scores manually</a>
       	</li> -->
        <li class="header-space"><span>Step 2: Explore</span></li>
       	<li>
        	<a style="padding-top: 0px" routerLink="/occufind-occupation-search" [ngClass]="{disabled: occufindDisabled()}">OCCU-Find</a>        	
       	</li>
       	<li><a routerLink="favorites" [ngClass]="{disabled: favoritesDisabled()}">View Favorites</a></li>
       	<!-- <li *ngIf="noteList.length > 0"><a ng-controller="NotesController" (click)="showOccufindNotes()">View Notes</a></li> -->
        <li class="header-space">
        	<span>Step 3: Plan</span>
        	<a style="padding-top: 0px" (click)="routeToPortfolio()" [ngClass]="{disabled: portfolioDisabled()}"> Activities &amp; Tools</a>
       	</li>
        <li class="divider"></li>
	</ul>
</div>