#left-nav-content-wrap {
    margin-bottom: 50px;
}

.occufind #search-sidebar section#explore .menu a {
    display: inline-block;
}

.explain-parent a {
    position: static;
}

.occufind #content-wrap .cc-jumbotron {
    width: 100%;
}