<div id="search-list" [ngClass]="{'occufind': true, 'logged-out': !occuFindUserLoggedIn}">
  <app-header></app-header>
  <app-my-asvab-header></app-my-asvab-header>

  <section id="content-wrap" class="left-nav-expanded-wrap">
    <div id="search-list" class="row occufind ng-scope">
      
      <app-left-navigation-v2-collapsed *ngIf="occuFindUserLoggedIn" [selectedTab]="'explore'"></app-left-navigation-v2-collapsed>

      <!-- <div class="hide-for-small-only" style="z-index: 1" *ngIf="!occuFindUserLoggedIn">
				<img src="assets/images/asvab-ad.jpg" >
			</div> -->

      <div *ngIf="!occuFindUserLoggedIn" style="z-index: 1; margin-top: 20px" class="hide-for-small-only medium-3 columns">
        <div id="did-you-know-cc">
          <p><strong class="caps">Did You Know?</strong></p>
          <p>
            Questions you might want to think about while you explore careers:
          </p>
          <p>
            What do people do in this<br />
            career?
          </p>
          <p>In what type of environment do people in this career work?</p>
          <p>
            What kind and how much<br />
            training is needed to enter<br />
            this career?
          </p>
          <p>
            What are the opportunities<br />
            for obtaining work in this<br />
            career?
          </p>
        </div>
      </div>

      <section id="main-content" class="left-navigation-condensed" role="main">
        <app-my-top-results-collapsed *ngIf="occuFindUserLoggedIn" [collapsedVersion]="'v2'"></app-my-top-results-collapsed>

        <div id="left-nav-content-wrap" class="medium-8 columns" style="width: 95%">

          <h1 class="job-title">CAREER CLUSTER AND CAREER PATHWAYS</h1>
          <img class="cc-jumbotron" src="{{thumbnailBaseUrl}}career-clusters-main.png">
          <br>
          <br>

          <div [innerHTML]="pageHtml[0]"></div>

        <div class="row">
          <section id="interest-codes" class="medium-12 columns">
            <mat-accordion
              class="mat-expansion-panel-group mat-accordion-right-icon mat-accordion-text"
            >
              <mat-expansion-panel *ngFor="let cc of career">
                <mat-expansion-panel-header
                  collapsedHeight="auto"
                  expandedHeight="auto"
                  style="min-height: 20px"
                  >{{ cc.title
                  }}<em
                    class="pull-right glyphicon"
                    ngClass="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"
                  ></em>
                </mat-expansion-panel-header>
                <p style="margin-bottom: 0px;">{{ cc.description }}</p>
                <a *ngIf="isLoggedIn"
                  (click)="selectedCareerCluster(cc.ccId)"
                  style="padding-right: 20px;"
                  ><b>Explore Careers</b></a
                ><a *ngIf="isLoggedIn"
                  (click)="addFavorite(cc.ccId, cc.title)"
                  style="padding-right: 20px;"
                  ><b>Add to Favorites</b></a
                ><a routerLink="/career-cluster-pathway-{{ cc.ccId }}"
                  ><b>Learn More</b></a
                >
              </mat-expansion-panel>
            </mat-accordion>
          </section>
        </div>

        <br />
        <br />

        <!-- <p>
          Note: The 16 National Career Clusters Framework, and the definitions
          provided here, are sponsored by Advance CTE: State Leaders Connecting
          Learning to Work. The above excerpts are being used with permission of
          the States' Career Clusters Initiative, 2009 (<a
            href="www.careertech.org/career-clusters"
            >www.careertech.org/career-clusters</a
          >). Your school/state may use a different set of career clusters.
          Contact your career counselor to find out more information.
        </p> -->
        <p>Advance CTE sponsors the 16 National Career Clusters Framework and career cluster definitions. The above excerpts are used with the States' Career Clusters Initiative’s permission, 2009 (<a target="_blank" href="www.careertech.org/career-clusters">www.careertech.org/career-clusters</a>). Your school/state may use a different set of definitions. Contact your career counselor to find out more information.
				</p>

        <br />

        <p style="text-align: center">
          <a href="http://www.careertech.org/career-clusters/" target="_blank"
            ><img src="assets/images/career-cluster-logo.jpg"
          /></a>
        </p>

        <p>The Career Clusters logo and its extensions are the property of The Center to Advance CTE, as managed by Advance CTE.</p>

        <!-- <p>
          The Career Clusters logo and its extensions are the property of The
          Center to Advance CTE, as managed by Advance CTE.
        </p>

        <div class="row">
          <div id="disclaimer" class="medium-12 columns">
            <p>
              Occupational details for all careers listed in the OCCU-Find were
              derived from
              <a
                href="https://www.onetcenter.org/db_releases.html"
                target="_blank"
                >O*NET {{ onetVersion.value }} database</a
              >
              and the
              <a href="https://www.doleta.gov/" target="_blank"
                >U.S. Department of Labor, Employment and Training
                Administration</a
              >
              in accordance with the content
              <a
                href="https://creativecommons.org/licenses/by/4.0/"
                target="_blank"
                >license</a
              >. These details are complemented by relevant labor market
              information provided by
              <a href="http://bls.gov/" target="_blank"
                >Bureau of Labor Statistics</a
              >,
              <a href="http://nces.ed.gov/" target="_blank"
                >National Center of Education Statistics</a
              >,
              <a href="http://www.careeronestop.org/" target="_blank"
                >CareerOneStop</a
              >, and Defense Manpower Data Center. Contact any business, college
              or Military Service directly for more details.
            </p>
          </div>
        </div> -->
      </div>
            
      </section>
    </div>
    <!-- <app-left-navigation-mobile *ngIf="isLoggedIn"></app-left-navigation-mobile>
    <app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile> -->
  </section>

	<app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
  <app-footer></app-footer>
</div>
