<h3>CAREER CLUSTER DEFINITION</h3>
          <P>A career cluster is a group of occupations with similar features. Jobs in the same cluster require similar knowledge
            or skill sets. If someone enjoys a job in a particular cluster, they are more likely to enjoy related occupations in
            the group.</P>
          <h3>THE NATIONAL CAREER CLUSTER FRAMEWORK</h3>
          <p>The National Career Clusters&reg; Framework provides 16 job groupings with similar skill sets, interests, abilities,
            and activities. The clusters contain sub-groupings called career pathways. There are 79 career pathways in the
            National Career Cluster Framework.</p>
          <p>Many school systems use career pathways to develop curriculum that increases students’ knowledge and skills for a
            particular career field. You can explore careers in the <a
              href="https://www.asvabprogram.com/media-center-article/49">OCCU-Find</a> by the career clusters below.</p>
          <a href="https://www.asvabprogram.com/media-center-article/136">Learn more about how to use Career Clusters</a>
          <br>
          <br>
          <p>The 16 career clusters are:</p>

          <div data-type="section-break"><hr /></div>
