<ng-container *ngIf="!isLoading">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Find Your School:</h3>
  </div>
  <div class="modal-body">
    <div class="search_school">
      <form [formGroup]="schoolForm" >
        <div class="row">
          <div class="column small-12">
            <p>Find your school by:</p>
          </div>
        </div>
        <div class="row">
          <div class="columns medium-12 large-12">
            <div class="form-group center-input">
              <label for="schoolcode" class="sr-only">School code</label>
              <input type="text" id="schoolcode" formControlName="schoolcode" (keyup)="searchSchoolError = undefined"
                placeholder="School code" (change)="isDirty=true;" />
            </div>
          </div>
        </div>
        <div class="row">

          <div class="columns medium-12 large-12">
            <div class="hr-text"><span>or</span></div>
          </div>
          <div class="columns medium-8 large-8">
            <div class="form-group">
              <label for="schoolhill" class="sr-only">School City</label>
              <input type="text" id="schoolhill" formControlName="schoolCity" (keyup)="searchSchoolError = undefined"
                placeholder="School City" (change)="isDirty=true;" />
            </div>
          </div>

          <div class="columns medium-4 large-4">
            <div class="form-group">
              <label for="schoolState" class="sr-only">School State</label>
              <select id="schoolState" formControlName="schoolState" (change)="searchSchoolError = undefined;isDirty=true;"
                class="mb-0">
                <option value="">--- Select State ---</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AS">American Samoa</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="GU">Guam</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="MP">Northern Mariana Islands</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="PR">Puerto Rico</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VI">U.S. Virgin Islands</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="columns medium-12 large-12">
            <div class="hr-text"><span>or</span></div>
            <div class="form-group center-input">
              <label for="schoolzipcode1" class="sr-only">School Zip
                Code</label> <input type="text" id="schoolzipcode" formControlName="schoolzipcode"
                (keyup)="searchSchoolError = undefined" (change)="isDirty=true;" placeholder="School Zip Code" />
            </div>
          </div>

          <div class="columns medium-12 text-center">
            <p style="color: red; font-weight: bold;">{{searchSchoolError}}</p>
            <button type="button" class="button" (click)="searchSchool(schoolForm)"
              [disabled]="isSearchSchoolButtonDisabled || !isDirty">Search
              Schools
              <span *ngIf="isSearching" id="save-indicator"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></span>
            </button>
          </div>
        </div>

        <div class="school_list">
          <h4><b>Found Schools</b> (select the + to add to your list)</h4>
          <ul>
            <ng-container *ngFor="let s of searchSchoolList">
              <li *ngIf="!s.toggleSchoolSelectedView"><span
                  (click)="s.toggleSchoolSelectedView = !s.toggleSchoolSelectedView; setSchooltoSelectedList(s);"
                  class="add_school"></span> {{s.schoolName}}, {{s.city}}, {{s.state}}</li>
            </ng-container>
          </ul>
        </div>

        <div class="school_list">
          <h4><b>Select Schools</b> (select the - to remove it from your list)</h4>
          <ul>
            <ng-container *ngFor="let s of selectedSchoolList">
              <li *ngIf="s.toggleSchoolSelectedView"><span
                  (click)="s.toggleSchoolSelectedView = !s.toggleSchoolSelectedView;" class="remove_school"></span>
                {{s.schoolName}}, {{s.city}}, {{s.state}}</li>
            </ng-container>
          </ul>
        </div>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <button class="button" type="button" 
      [disabled]="selectedSchoolList?.length == 0" (click)="saveSelectedSchools()">Save</button>
    <button class="button" type="button" (click)="close()">Cancel</button>
  </div>

</ng-container>

<ng-container *ngIf="isLoading">
  <div class="modal-body">
    <div class="row">
      <div class="small-12 column text-center">
        <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
        Loading...
      </div>
    </div>
  </div>
</ng-container>