
    .modal-body {
        font-size: 14px;
        padding: 0 27px;

        @media screen and (max-width: 39.9375em) {
			padding: 0 10px;
		}

        h3 {
            color: #2DA2A7;
            text-transform: inherit;
        }

        p {
            color: #4A4A4A;
        }

        .popup-form-filed {
            padding: 0;
        }

        .checkmark_redesign {
            position: relative;
            line-height: normal;
            padding-left: 25px;

            input {
                opacity: 0;
                height: 0;
                width: 0;
                overflow: hidden;
                visibility: hidden;
                pointer-events: none;
                position: absolute;
                left: 0;
                top: 0;

                &:checked {
                    & ~ .checkmark_box {
                        background-color: #1CAFB6;
                        border-color: #1CAFB6;
            
                        &::after {
                            display: block !important;
                        }
                    }
                }
            }

            .checkmark_box {
                position: absolute;
                top: 2px;
                left: 0;
                height: 16px;
                width: 16px;
                background-color: #fff;
                border: 1px solid #979797;

                &:after {
                    content: "";
                    position: absolute;
                    display: none;
                    left: 4px;
                    top: 1px;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 2px 2px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
        }

        form {
            .form-group {
                position: relative;
                display: flex;
                align-items: center;
                width: 100%;
                margin-bottom: 16px;

                &:empty {
                    display: none;
                }

                input {
                    margin-bottom: 0;
                }
            }

            .required_field {
                position: absolute;
                left: -16px;
                top: 50%;
                transform: translateY(-50%);
                color: #B40000;
            }

            input, select {
                font-size: 14px;
                color: #000;
                border-color: #979797;
                height: 25px;
                width: 100%;
                padding: 2px 7px;

                &:focus {
                    outline: none;
                }
            }

            select {

                &:invalid {
                    color: #818181;
                }

                & option[value=''] {
                    color: #818181;
                }

                & option:not(:first-of-type) {
                    color: #000;
                }
            }

            .search-keyword {
                position: relative;
                display: flex;

                input {
                    margin-bottom: 0;
                }

                button {
                    background: #2DA2A7;
                    color: #fff;
                    cursor: pointer;
                    font-size: 16px;
                    font-weight: bold;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 2px;
                    text-align: center;
                    outline: none;
                    margin: 0;
                }
            }

            .invite_mentor_signup {
                display: flex;

                @media screen and (max-width: 39.9375em) {
                    flex-wrap: wrap;
                }

                .invite_mentor_icon_wrapper {
                    padding-right: 30px;

                    @media screen and (max-width: 39.9375em) {
                        display: flex;
                        padding-right: 0;
                        margin-bottom: 15px;
                    }    
                    
                    p {
                        font-size: 13px;
                        color: #2DA2A7;
                        text-transform: uppercase;

                        @media screen and (max-width: 39.9375em) {
                            margin-right: 20px;
                            margin-bottom: 0;
                        }   
                    }
                }

                .invite_mentor_content {
                    p {
                        font-size: 13px;
                        color: #000000;
                    }
                }
            }
        }

        .search_school {
            // border: 1px solid #979797;
            // padding: 20px;
            margin-bottom: 40px;

            .row {
                margin-left: -0.9375rem;
                margin-right: -0.9375rem;
            }

            .school_list {
                border: 1px solid #979797;
    
                + .school_list {
                    margin-top: 30px;
                }
    
                h4 {
                    line-height: normal;
                    background: #EDEDED;
                    color: #818181;
                    margin-bottom: 15px;
                }
    
                ul {
                    height: 50px;
                    overflow-y: auto;
                    margin: 0 20px 20px;

                    @media screen and (max-width: 39.9375em) {
                        height: 95px;
                        margin: 0 10px 20px;
                    }
    
                    li {
                        display: flex;
                        align-items: flex-start;
                        margin-bottom: 9px;

                        &:before {
                            display: none;
                        }
    
                        .add_school, .remove_school {
                            position: relative;
                            top: 4px;
                            min-width: 13px;
                            min-height: 13px;
                            display: inline-block;
                            margin-right: 8px;
                            cursor: pointer;

                            &:hover {
                                opacity: 0.8;
                            }
    
                            &:before, &:after {
                                content: '';
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                background: #4C44AC;
                            }
        
                            &:before {
                                width: 13px;
                                height: 2px;
                            }
    
                            &:after {
                                width: 2px;
                                height: 13px;
                            }
                        }

                        .remove_school {
                            &:after {
                                display: none;
                            }
                        }
                    }
    
    
                    /* width */
                    &::-webkit-scrollbar {
                        width: 10px;
                    }
                    
                    /* Track */
                    &::-webkit-scrollbar-track {
                        background: #f1f1f1; 
                    }
                    
                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        background: #A3A3A3; 
                    }
                    
                    /* Handle on hover */
                    &::-webkit-scrollbar-thumb:hover {
                        background: #A3A3A3; 
                    }
                }
            }
        }
    }

.hr-text {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #cacaca; 
   line-height: 0.1em;
   margin: 1.25rem auto 2.25rem auto; 
} 

.hr-text span { 
	color: #cacaca;
    background:#fff; 
    padding:0 10px; 
}

#schoolzipcode, #schoolcode {
	width: 200px;
	display: inline-block
}

.center-input {
	text-align: center;
    display: block !important;
}