<form [formGroup]="userGapYearPlanForm" (ngSubmit)="saveUserGapYearPlanForm()" *ngIf="!editStepOne">

  <div class="edit_gap_year_plan mt_15">

    <h4><strong *ngIf="!userGapYearPlanForm.value.url">{{userGapYearPlanForm.value.planName}}</strong>
      <a *ngIf="userGapYearPlanForm.value.url"
        [href]="userGapYearPlanForm.value.url" target="_blank">{{userGapYearPlanForm.value.planName}}</a>
      <a (click)="removeUserGapYearPlan(userOccupationPlan.id, userGapYearPlanForm.value.id)" class="remove_row">
        <img src="assets/images/close-blue.svg">
      </a>
    </h4>
    <div class="row">
      <div class="column small-12">
        <strong>Type:</strong> {{userGapYearPlanForm.value.types}}
      </div>
    </div>
    <div class="row">
      <div class="column small-11">
        <strong>Goals:</strong> {{userGapYearPlanForm.value.goals}}
      </div>
      <div class="column small-1 text-center">
        <a (click)="editGoalsTypesStepOne()"><img src="assets/images/edit-icon.svg"></a>
      </div>
    </div>
    <div class="row">
      <div class="column small-12">
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="columns medium-6">
        <div class="form-group">
          <label class="mr_20"><strong>Program cost:</strong></label>
          <input currencyMask class="form-control text-right" style="width:100%;" formControlName="programCost"
            [options]="{ allowNegative: false }" max="99999999.99" />
        </div>
        <div class="form-group">
          <label class="mr_20"><strong>Estimated cost of living:</strong></label>
          <input currencyMask class="form-control text-right" style="width:100%;" formControlName="costOfLiving"
            [options]="{ allowNegative: false }" max="99999999.99" />
        </div>
        <div class="form-group" *ngIf="userGapYearPlanForm.value.showWages">
          <label class="mr_20"><strong>Total Anticipated Wages:</strong></label>
          <input currencyMask class="form-control text-right" style="width:100%;"
            formControlName="totalAnticipatedWages" [options]="{ allowNegative: false }" max="99999999.99" />
        </div>
      </div>
      <div class="columns medium-1"></div>
      <div class="columns medium-5 medium-offset-1">
        <div class="bg_light_gray p_10" style="padding:5px;">
          <p class="mb_0 text-right"><strong>Total estimate cost is:</strong></p>
          <p class="mb_0 text-right">
            <strong>{{((userGapYearPlanForm.value.programCost+userGapYearPlanForm.value.costOfLiving)-userGapYearPlanForm.value.totalAnticipatedWages)
              |
              currency}}</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column small-12">
        <hr />
      </div>
    </div>
    <div class="row ">
      <div class="columns medium-6">
        <div class="form-group flex-wrap">
          <label><strong>Funding Source:</strong></label>
          <input type="text" class="form-control mw_100" placeholder="Family contribution and savings"
            formControlName="fundingSource">
        </div>
      </div>
      <div class="columns medium-1"></div>
      <div class="columns medium-5 medium-offset-1">
        <div class="form-group flex-wrap">
          <label><strong>Estimated amount:</strong></label>
          <input currencyMask class="form-control mw_100" style="width:100%;text-align: left;"
            formControlName="estimatedAmount" [options]="{ allowNegative: false }" />
        </div>
      </div>
      <div class="columns medium-1 large-1"></div>
    </div>

    <div class="row">
      <div class="column small-12">
        <hr />
      </div>
    </div>

    <ng-container *ngIf="userGapYearPlanForm.value.isAbroad">
      <div class="row mb_10">
        <div class="column small-4">
          <strong>Is a VISA required?</strong>
        </div>
        <div class="column small-2">
          <input class="form-check-input" type="radio" id="isVisaRequiredYes{{userGapYearPlanForm.value.id}}"
            value="true" formControlName="isVisaRequired">
          <label class="form-check-label" for="isVisaRequiredYes{{userGapYearPlanForm.value.id}}">Yes </label>
        </div>
        <div class="column small-2 end">
          <input class="form-check-input" type="radio" id="isVisaRequiredNo{{userGapYearPlanForm.value.id}}"
            value="false" formControlName="isVisaRequired">
          <label class="form-check-label" for="isVisaRequiredNo{{userGapYearPlanForm.value.id}}">No</label>
        </div>
      </div>
      <div class="row mb_10">
        <div class="column small-4">
          <strong>Are vaccinations required?</strong>
        </div>
        <div class="column small-2">
          <input class="form-check-input" type="radio" id="isVaccinationsRequiredYes{{userGapYearPlanForm.value.id}}"
            value="true" formControlName="isVaccinationsRequired">
          <label class="form-check-label" for="isVaccinationsRequiredYes{{userGapYearPlanForm.value.id}}">Yes </label>
        </div>
        <div class="column small-2 end">
          <input class="form-check-input" type="radio" id="isVaccinationsRequiredNo{{userGapYearPlanForm.value.id}}"
            value="false" formControlName="isVaccinationsRequired">
          <label class="form-check-label" for="isVaccinationsRequiredNo{{userGapYearPlanForm.value.id}}">No</label>
        </div>
      </div>
      <div class="row">
        <div class="small-12 column">
          <hr />
        </div>
      </div>
    </ng-container>

    <div class="row ">
      <div class="columns medium-6 large-6">
        <p><strong>Each gap year is different. Research the requirements and add your calendar
            reminder</strong></p>
      </div>
      <div class="columns medium-6 large-5 large-offset-1">
        <div class="task_list_add_task">
          <a (click)="addDate()"><img src="assets/images/calender.svg"> <span>Add Date</span></a>
          <a (click)="addTask()"><img src="assets/images/checkmark_with_plus.svg"> <span>Add Task</span></a>
        </div>
      </div>
    </div>

    <div class="text-center p_20">
      <button class="button mx-auto" type="submit"
        [disabled]="(!userGapYearPlanForm.dirty || !userGapYearPlanForm.valid) || isSaving">SAVE
        <span *ngIf="isSaving" id="save-indicator"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></span>
      </button>
    </div>


  </div>

</form>
<div class="row mb_10" *ngIf="wasSaved">
  <div class="column small-12 text-center">
    <div class="success message" >
      <i class="fi-check"></i>Save success!
    </div>
  </div>
</div>


<!-- Step One -->
<form (ngSubmit)="updateUserGapYearPlanStepOne()" [formGroup]="updateUserGapYearPlanStepOneForm" *ngIf="editStepOne">
  <div class="row mb_20">
    <div class="small-12 column">
      <strong>What type of Gap Year do you plan to take?</strong><br />
      (Select all that apply)
    </div>
  </div>
  <div class="row mb_20">
    <ng-container formArrayName="types">
      <div *ngFor="let type of types.controls; let i = index" [formGroupName]="i">
        <div class="column medium-4">
          <div class="checkbox-tick">
            <input class="styled-checkbox" type="checkbox" id="{{updateUserGapYearPlanStepOneForm.value.id}}{{i}}" formControlName="isSelected">
            <label class="styled-checkbox-label" for="{{updateUserGapYearPlanStepOneForm.value.id}}{{i}}"></label>
            <span class="ml_5">{{ type.value.name }}</span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="row">
    <div class="small-12 column">
      <strong>What do you hope to get out of your Gap Year?</strong>
    </div>
    <div class="small-12 column">
      <div class="form-group">
        <textarea type="text" class="form-control" formControlName="goals" rows="2"></textarea>
      </div>
    </div>
  </div>
  <div class="row mb_20">
    <div class="small-12 column">
      <strong>Add a Gap Year program to your plan:</strong><br />
      There are many Gap Year programs. Learn more, <a routerLink="/media-center-article/118">here</a>
    </div>
  </div>
  <div class="row">
    <div class="column small-12">
      <a (click)="showProgramList()">View Sample Program List</a>
    </div>
  </div>
  <div class="row mb_20">
    <div class="small-12 column">
      <input type="hidden" formControlName="refGapYearId" />
      <input type="text" formControlName="planName" name="planName" />
    </div>
  </div>
  <div class="row">
    <div class="column small-12 text-center">
      <button type="submit" class="button"
        [disabled]="!(updateUserGapYearPlanStepOneForm.valid && hasTypes() && updateUserGapYearPlanStepOneForm.dirty ) || isSaving">Save</button>
      <button class="button" (click)="editStepOne=false">Cancel</button>
    </div>
  </div>
</form>