.text-md-right {
    @media (min-width: 768px) {
        text-align: right;
    }
}
.d_inline_block {
    display: inline-block;
}
.hide-collapse {
    display: none;
}
.float_right {
    float: right;
}
.bg_green {
    background-color: #E4F4F4;
}
.bg_light_gray {
    background-color: #EEEEEE;
}
.border_bottom {
    border-bottom: 1px solid #979797;
}
.top_bottom {
    border-top: 1px solid #979797;
}
.mw_100 {
    max-width: 100% !important;
}
.p_20 {
    padding: 20px;
}
.mx-auto {
    margin: 0 auto;
}
.mt_15 {
    margin-top: 15px;
}
.mb_10 {
    margin-bottom: 10px;
}
.mb_20 {
    margin-bottom: 20px;
}
.mb_30 {
    margin-bottom: 30px;
}
.ml_10 {
    margin-left: 10px;
}
.mr_10 {
    margin-right: 10px;
}
.mr_20 {
    margin-right: 20px;
}
.mr_30 {
    margin-right: 30px;
}
.mr_50 {
    margin-right: 50px;
}
.occufind #content-wrap h3 {
    font-size: 14px;
    color: #4A4A4A;
    background-color: #EEEEEE;
    text-transform: inherit;
    margin-bottom: 0;

    &.plan_back_link {
        background-color: #E5F4F4;
        font-weight: normal;
        padding: 13px 33px 13px 13px;
        position: relative;
    }
}
.list_solid_green {
    position: relative;
    padding-left: 43px;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 33px;
        height: 33px;
        background-color: #1BAAAD;
        border-radius: 50%;
    }

    span {
        display: block;
    }
}
.page_back_link {
    border-bottom: 1px solid #BDBDBD;
    display: block;
    line-height: normal;
    padding: 10px 0;
}
form {
    .form-group {
        width: 100%;

        &.disabled {
            border-color: #C3D2DA;
            color: #C3D2DA;
            background-color: #fff;

            label {
                color: #C1C1C1;
            }
        }

        &.form-group-select {
            max-width: 157px;
        }

        select {
            font-size: 14px;
            height: 30px;
            width: 100%;
            border-radius: 3px;
            margin-bottom: 0;
        }

        textarea {
            font-size: 14px;
            border-color: #979797;
            padding: 10px;
            resize: none
        }

        .form_select {
            position: relative;
            max-width: 157px;
            width: 100%;
            display: inline-block;
            margin-left: 20px;

            &:after {
                width: 0; 
                height: 0; 
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 6px solid #C3D2DA;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
                content: "";
                z-index: 1;
                pointer-events: none;
            }

            select {
                margin: 0;
                -moz-appearance:none; /* Firefox */
                -webkit-appearance:none; /* Safari and Chrome */
                appearance:none;                  
                background-image: none;
                color: #C3D2DA;
                background-color: #fff;
            }

            select::-ms-expand {
                display: none;
            }
        }
    }

    .button {
        padding: 6px 29px;
    }
}


.back_to_plan {
    .plan_options {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        color: #4a4a4a;
        background-color: #EEEEEE;
        margin-bottom: 30px;
    
        .form-group {
            display: flex;
            align-items: center;
            width: inherit;
            margin: 10px;

            @media (max-width: 639px) {
                flex-direction: column;
                align-items: flex-start;
            }
    
            label {
                font-size: 13px;
                text-transform: uppercase;
                white-space: nowrap;
            }
    
            select {
                font-size: 13px;
                height: 20px;
                width: inherit;
                padding-right: 40px;
            }
        }
    }
    .search_reasult_title {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 1px solid #979797;
        padding-bottom: 10px;
        margin-bottom: 20px;

        @media (max-width: 639px) {
            flex-direction: column;
            align-items: center;
        }

        p {
            margin-bottom: 0;
        }

        .pagination {
            color: #4c44ac;
            margin-bottom: 0;
        }
    }
    
    .search_reasults {
        ul {
            margin-left: 0;
            
            li {
                display: flex;
                
                &:before {
                    display: none;
                }
            }
        }
    }
}


.task_lists {
    .task_list_add_task {
        text-align: right;
        margin-bottom: 20px;

        @media (max-width: 639px) {
            text-align: center;
        }

        a {
            margin: 0 25px;

            span {
                vertical-align: middle;
                display: inline-block;
                margin-left: 5px;
                margin-top: 5px;
            }
        }
    }
    .task_list {
        margin-bottom: 30px;
        
        .task_list_title {
            margin-bottom: 8px;
        }

        .task_list_items {
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 0 !important;

                + li {
                    margin-top: 5px;
                }

                &:before {
                    display: none;
                }

                .task_list_item_data {
                    width: 100%;

                    .task_list_item_title_wrapper {
                        display: flex;
                        justify-content: space-between;
                        background-color: #EEEEEE;
                        padding: 4px 8px;

                        .task_list_item_title {
                            width: 100%;
        
                            .task_list_date {
                                font-weight: bold;
                                color: #2DA2A7;
                                display: inline-block;
                                cursor: pointer;;
                            }
        
                            p {
                                display: inline-block;
                                margin-left: 15px;
                                margin-bottom: 0;

                                @media (max-width: 639px) {
                                    display: block;
                                    margin-left: 0;
                                }
                            }
                        }
                    }

                    .task_list_item_expanded {

                        ul {
                            padding: 6px 8px 4px;
                            margin: 0;
                        }
                        
                        > div:first-child {
                            width: 100%;
                        }

                        .task_list_expanded_item {
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                   
                }
            }
        }
        .remove_task_list_item {
            position: relative;
            top: -1px;
            flex: 1 0 auto;
            margin-left: 10px;

            a + a {
                margin-left: 30px;
            }
        }        
    }
}

.edit_plan_bottom_button {
    text-align: center;

    button {
        margin: 0 8px;
    }
}
.edit_plan_bottom {
    margin: 0 -15px;
    overflow: hidden;
}

.edit_gap_year_plan {
    h4 {
        position: relative;
        font-size: 14px;
        line-height: normal;
        color: #4a4a4a;
        background-color: #EEEEEE;
        padding: 10px;
        margin-bottom: 10px;
    }
    .remove_row {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-weight: bold;
        line-height: 13px;
    }
    
    .edit_gap_year  {
        .form-group {
            margin-bottom: 20px;

            label {
                @media (max-width: 639px) {
                    width: 100%;
                }
            }
        }
    }
    .form-group {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 7px;

        .checkbox-tick {
            display: flex;
            align-items: center;

            label {
                margin-bottom: 0;
            }
        }

        label {
            font-size: 14px;
            font-weight: normal;
            color: #4A4A4A;
            vertical-align: middle;
            flex: 1 0 auto;
            margin-bottom: 5px;
        }

        input {
            font-size: 16px;
            color: #4a4a4a;
            max-width: 175px;
            width: 100%;
            height: 27px;
            padding: 3px 7px;
            margin-bottom: 0;
        }
    }
    .gap_year_option {
        border: 1px solid #979797;
        max-height: 226px;
        overflow: auto;
        padding: 10px;

        .form-group {
            padding: 3px 2px;
            margin-bottom: 0;

            &:nth-child(2n+1) {
                background-color: #EEEEEE;
            }

            label {
                margin-bottom: 0;
            }
        }
    }
    .gap_year_devider {
        text-align: center;
        position: relative;
        margin: 15px 0;

        span {
            position: relative;
            background-color: #fff;
            padding: 0 20px;
        }

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            left: 0;
            top: 10px;
            background-color: #979797;
        }
    }
    .task_list_add_task {
        text-align: right;
        margin-bottom: 20px;

        @media (max-width: 639px) {
            text-align: center;
        }

        a {
            margin: 0 25px;

            @media (max-width: 639px) {
                margin: 0 15px;
            }

            span {
                vertical-align: middle;
                display: inline-block;
                margin-left: 5px;
                margin-top: 5px;
            }
        }
    }
}

.column.no-padding{
    padding:0;
}

.ml_5{
    margin-left:5px;
}

@media screen and (min-width: 0em) and (max-width: 39.9375em) {
    .column.no-padding{
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    } 
}

.ml_5{
    margin-left:5px;
}

.ml_10{
    margin-left:10px;
}

.checkbox-tick{
    margin-bottom: 5px;
}

.gap-year-plan-options{
    padding-top: 10px;
    border: 1px solid #979797;
    min-height: 200px;
    max-height: 200px;
    overflow-y: scroll;

    ul{
        margin-left:5px;
        margin-right:5px;
    }
    ul li{
        padding:5px;
    }
    ul li, ul li:before{
        content:none !important;
        list-style: none;
    }

    ul li:nth-child(odd) {
        background: #eeeeee;


        .styled-checkbox+label.styled-checkbox-label:before{
            background-color: transparent;
        }
      }

      .checkbox-tick{
        margin: 0;
    }
}

.form-check-input {
    margin-bottom: 0;
    vertical-align: middle;
}
