<div *ngIf="isLoading">
  <div class="row">
    <div class="small-12 column text-center">
      <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
      Generating Report...
    </div>
  </div>
</div>



<div #printSectionNew class="bg-white" id="printSectionNew" style="position: absolute; opacity: 0; pointer-events:none; top: 0; left: 0; height: 100%; z-index: 99999999">
  <div class="row">
    <div class="columns medium-12">
      <div class="resume-print">

        <table class="resume-header">
          <thead>
            <tr>
              <th style="text-align: left;">{{printObj.fullName}}</th>
              <th style="text-align: right;">Grade: {{printObj.grade}}</th>
            </tr>
          </thead>
        </table>

        <table>
          <thead>
            <tr>
              <th style="text-align: left;">Future Plan</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let plan of printObj.combinedPlanObj?.plan | keyvalue">
              <td *ngIf="plan.value && plan.key == 'fourYearCollege'">Bachelor's Degree (4 year)</td>
              <td *ngIf="plan.value && plan.key == 'twoYearCollege'">Associate's Degree(2 year)</td>
              <td *ngIf="plan.value && plan.key == 'careerAndTech'">Career and Technical Education</td>
              <td *ngIf="plan.value && plan.key == 'military'">Military</td>
              <td *ngIf="plan.value && plan.key == 'work'">Work Based Learning</td>
              <td *ngIf="plan.value && plan.key == 'gapYear'">GAP Year</td>
              <td *ngIf="plan.value && plan.key == 'undecided'">Undecided</td>
              <td *ngIf="plan.value && plan.key == 'certificate'">Certificate</td>
              <td *ngIf="plan.value && plan.key == 'technicalSchool'">Technical School</td>
              <td *ngIf="plan.value && plan.key == 'vocationalTraining'">Vocational Training</td>
              <td *ngIf="plan.value && plan.key == 'advancedDegree'">Advanced Degree</td>
            </tr>
            <tr *ngIf="printObj.combinedPlanObj?.description">
              <td>
                <br /><br />
                Comments: <br /><br />
                {{printObj.combinedPlanObj.description}}
              </td>
            </tr>
          </tbody>
        </table>

        <table *ngIf="printObj.workExperiences?.length > 0">
          <thead>
            <tr>
              <th style="text-align: left;" colspan="2">Work Experience</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let w of printObj.workExperiences">
              <tr>
                <td><strong>{{w.jobTitle}} {{w.companyName}}</strong></td>
                <td style="text-align: right;">{{w.startDate}} - {{w.endDate}}</td>
              </tr>
              <tr>
                <td><span [innerHtml]="w.jobDescription"></span></td>
              </tr>

              <tr>
                <td colspan="2" class="no-space">
                  <hr>
                </td>
              </tr>
            </ng-container>

          </tbody>
        </table>

        <table *ngIf="printObj.educations?.length > 0">
          <thead>
            <tr>
              <th style="text-align: left;" colspan="2">Education</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let e of printObj.educations">
              <tr>
                <td><strong>{{e.schoolName}}</strong></td>
                <td style="text-align: right;">{{e.startDate}} - {{e.endDate}}</td>
              </tr>
              <br>
              <tr>
                <td colspan="2">
                  Activities:<br>
                  {{e.activities}}
                </td>
              </tr>
              <br>
              <tr>
                <td colspan="2">
                  Honor, AP Courses, & AP Tests:<br>
                  {{e.achievements}}
                </td>
              </tr>
            </ng-container>

          </tbody>
        </table>

        <table class="resume-print-score"
          *ngIf="printObj.actScores?.length > 0 || printObj.satScores?.length > 0 || printObj.otherScores?.length > 0 || printObj.asvabScores?.length > 0">
          <thead>
            <tr>
              <th style="text-align: left;" colspan="2">Scores</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="no-space">
                <table>
                  <tbody>
                    <ng-container *ngIf="printObj.asvabScores.length > 0">

                      <tr>
                        <td colspan="2"><strong>ASVAB Score</strong></td>
                      </tr>
                      <ng-container *ngFor="let a of printObj.asvabScores">

                        <tr>
                          <td>Verbal Skills Score</td>
                          <td>{{a.verbalScore}}</td>
                        </tr>
                        <tr>
                          <td>Math Skills Score</td>
                          <td>{{a.mathScore}}</td>
                        </tr>
                        <tr>
                          <td>Science and Technical Skills Score</td>
                          <td>{{a.scienceScore}}</td>
                        </tr>
                        <tr>
                          <td>AFQT Score</td>
                          <td>{{a.afqtScore}}</td>
                        </tr>

                        <tr>
                          <td colspan="2" class="no-space">
                            <hr>
                          </td>
                        </tr>
                      </ng-container>
                    </ng-container>


                    <ng-container *ngIf="printObj.actScores.length > 0">
                      <tr>
                        <td><strong>ACT Score</strong></td>
                      </tr>

                      <ng-container *ngFor="let a of printObj.actScores">
                        <tr>
                          <td>Reading Score</td>
                          <td>{{a.readingScore}}</td>
                        </tr>

                        <tr>
                          <td>Math Score</td>
                          <td>{{a.mathScore}}</td>
                        </tr>

                        <tr>
                          <td>Writing Score</td>
                          <td>{{a.writingScore}}</td>
                        </tr>

                        <tr>
                          <td>Science Score</td>
                          <td>{{a.scienceScore}}</td>
                        </tr>

                        <tr>
                          <td>English Score</td>
                          <td>{{a.englishScore}}</td>
                        </tr>

                        <tr>
                          <td colspan="2" class="no-space">
                            <hr>
                          </td>
                        </tr>
                      </ng-container>
                    </ng-container>

                    <ng-container *ngIf="printObj.satScores.length > 0">
                      <tr>
                        <td><strong>SAT Score</strong></td>
                      </tr>

                      <ng-container *ngFor="let s of printObj.satScores">
                        <tr>
                          <td>Reading Score</td>
                          <td>{{s.readingScore}}</td>
                        </tr>

                        <tr>
                          <td>Math Score</td>
                          <td>{{s.mathScore}}</td>
                        </tr>

                        <tr>
                          <td>Writing Score</td>
                          <td>{{s.writingScore}}</td>
                        </tr>

                        <tr>
                          <td>Other Subject Score</td>
                          <td>{{s.subject}}</td>
                        </tr>

                        <tr>
                          <td colspan="2" class="no-space">
                            <hr>
                          </td>
                        </tr>

                      </ng-container>
                    </ng-container>

                    <ng-container *ngIf="printObj.otherScores.length > 0">
                      <tr>
                        <td><strong>Other Score</strong></td>
                      </tr>

                      <ng-container *ngFor="let o of printObj.otherScores">
                        <tr>
                          <td>{{o.description}}</td>
                        </tr>
                      </ng-container>
                    </ng-container>

                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>

        <table *ngIf="printObj.achievements?.length > 0">
          <thead>
            <tr>
              <th style="text-align: left;">Achievement</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of printObj.achievements">
              <td>{{a.description}}</td>
            </tr>
          </tbody>
        </table>

        <table *ngIf="printObj.skills?.length > 0">
          <thead>
            <tr>
              <th style="text-align: left;">Skill</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of printObj.skills">
              <td>{{a.description}}</td>
            </tr>
          </tbody>
        </table>

        <table *ngIf="printObj.volunteers?.length > 0">
          <thead>
            <tr>
              <th style="text-align: left;" colspan="2">Volunteer</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let v of printObj.volunteers">
              <tr>
                <td><strong>{{v.organizationName}},</strong></td>
                <td style="text-align: right;">{{v.startDate}} - {{v.endDate}}</td>
              </tr>
              <tr>
                <td><span [innerHtml]="v.description"></span></td>
              </tr>
            </ng-container>


          </tbody>
        </table>

        <table *ngIf="printObj.fyiScores || printObj.interests?.length > 0">
          <thead>
            <tr>
              <th style="text-align: left;">Interest</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="printObj.fyiScores">
              <tr>
                <td><strong>Interest Codes</strong></td>
              </tr>
              <tr>
                <td>{{printObj.fyiScores?.interestCodeOne + ' | ' + printObj.fyiScores?.fyiScoresinterestCodeTwo + ' | ' + printObj.fyiScores?.interestCodeThree + ' ( ' +
                  getInterestTitle(printObj.fyiScores?.interestCodeOne) + ' | ' + getInterestTitle(printObj.fyiScores?.interestCodeTwo) + ' | ' +
                  getInterestTitle(printObj.fyiScores?.interestCodeThree) + ')'}}</td>
              </tr>
            </ng-container>
            <ng-container *ngIf="printObj.interests?.length > 0">
              <tr>
                <td><strong>Interests</strong></td>
              </tr>
              <tr *ngFor="let i of printObj.interests">
                <td>{{i.description}}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>

        <table class="resume-print-work-value" *ngIf="(printObj.workValues?.length > 0) || 
            (printObj.workValueTopResults?.length > 0)">
          <thead>
            <tr>
              <th style="text-align: left;" colspan="3">Work Value</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let w of printObj.workValueTopResults; let i = index;">
              <td>
                <span class="work-value"><img src="assets/images/WV-{{w.TypeId}}.png"
                    alt="Support"><span>1</span></span>
                <strong>{{w.TypeId == 1 ? 'Achievement': w.TypeId == 2 ? 'Independence' : w.TypeId == 3 ? 'Recognition'
                  : w.TypeId == 4 ? 'Relationships' : w.TypeId == 5 ? 'Support' : 'Working Conditions'}}</strong>
              </td>
            </tr>

            <tr>
              <td><strong>Work Value</strong></td>
            </tr>
            <tr *ngFor="let w of printObj.workValues">
              <td>{{w.description}}</td>
            </tr>
          </tbody>
        </table>

        <table *ngIf="printObj?.favoriteOccupations?.length > 0">
          <thead>
            <tr>
              <th style="text-align: left;">{{printObj.favoriteOccupations.length == 1 ? 'Favorite Occupation' :
                'Favorite Occupations'}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of printObj?.favoriteOccupations">
              <td>{{c.title}}</td>
            </tr>
          </tbody>
        </table>

        <table *ngIf="printObj?.favoriteMilitaryCareers?.length > 0">
          <thead>
            <tr>
              <th style="text-align: left;">{{printObj.favoriteMilitaryCareers.length == 1 ? 'Favorite Military
                Occupation' : 'Favorite
                Military Occupations'}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let f of printObj.favoriteMilitaryCareers">
              <td>{{f.title}}</td>
            </tr>
          </tbody>
        </table>

        <table *ngIf="printObj?.favoriteCareerClusters?.length > 0">
          <thead>
            <tr>
              <th style="text-align: left;">{{printObj.favoriteCareerClusters.length == 1 ? 'Favorite Career Cluster' :
                'Favorite Career Clusters'}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of printObj.favoriteCareerClusters">
              <td>{{c.title}}</td>
            </tr>
          </tbody>
        </table>

        <table *ngIf="printObj?.favoriteColleges?.length > 0">
          <thead>
            <tr>
              <th style="text-align: left;">{{printObj.favoriteColleges.length == 1 ? 'Favorite College' : 'Favorite
                Colleges'}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let s of printObj.favoriteColleges">
              <td>{{s.schoolName}}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>