<div id="search-schools-dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="_dialogRef.close('cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title plan_back_link">
      <a (click)="_dialogRef.close('cancel')">
        &lt; Back to Plan: {{occupationDescription}}</a>
    </h3>
  </div>

  <div class="modal-body">

    <div *ngIf="!schoolProfiles" class="text-center">
      <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
      Loading Schools...
    </div>

    <div class="back_to_plan" *ngIf="schoolProfiles">
      <p>The list below shows colleges that offer degrees related to this occupation.</p>

      <p>Universities that offer NROTC programs also commission Marine Corps officers with the exception of University of Hawaii.</p>

      <div class="plan_options row">
        <div class="form-group medium-6 columns">
          <label><strong>Search By State:</strong></label>
          <select [(ngModel)]="stateFilter" (change)='onStateFilterSelect($event)'>
            <option value="">SHOW ENTIRE UNITED STATES</option>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="PR">Puerto Rico</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
          </select>
        </div>
        <div class="form-group medium-6 columns">
          <label><strong>Sort By:</strong></label>
          <select [(ngModel)]="sort" (change)='onSortChange($event)'>
            <option value="schoolName">School Name Ascending</option>
            <option value="-schoolName">School Name Descending</option>
            <option value="city">City Ascending</option>
            <option value="-city">City Descending</option>
          </select>
        </div>
      </div>
      <div class="search_reasult_wrapper">
        <div class="search_reasult_title">
          <p>Showing
            {{totalItems != 0 ? (((currentPage-1)*itemsPerPage)+1) : 0}}-<span>{{((currentPage)*itemsPerPage) <=
                totalItems ? ((currentPage)*itemsPerPage) : totalItems}}</span> of {{totalItems}} Schools</p>
          <ngb-pagination [(page)]="currentPage" [pageSize]="itemsPerPage" [maxSize]="4"
            [collectionSize]="filteredSchoolProfiles.length" [boundaryLinks]="true" size="'lg'">
          </ngb-pagination>
        </div>

        <div class="search_reasults">
          <ul>
            <li
              *ngFor="let s of filteredSchoolProfiles | slice:(currentPage-1)*itemsPerPage: (currentPage-1) * itemsPerPage + itemsPerPage">
              <a (click)="selectSchool(s.unitId)" class="mr_30"><strong>Select</strong></a>
              <span>
                <p><strong>{{s.schoolName}}</strong>&nbsp;|&nbsp;{{s.city}},&nbsp;{{s.state}}</p>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>