
              Tell your school community about the benefit of being informed. Use these <strong>posters, flyers, announcements,</strong> and
              <strong>social media graphics</strong> to help you celebrate all the different ways to be successful and
              become #optionready with us!
              
<div data-type="section-break"><hr /></div>

Remind everyone about ASVAB CEP week at your school by using our flyers! There's even a fillable version
              so you can add your own text with event info or other details.

<div data-type="section-break"><hr /></div>

Use these excerpts during morning announcements and email correspondence with parents to engage your
              student body to become informed about their options, sign up to participate and take it seriously.

<div data-type="section-break"><hr /></div>

Start a social media conversation about this unique opportunity for your students to get on their path to
              success using these graphics. Don't forget to share photos of your activities during the week by using the
              hashtag #optionready!
<div data-type="section-break"><hr /></div>

<p>Ask anyone over the age of 30 if they knew all of their options when they were making post-secondary plans
  and you'll probably get a similar answer: "I wish I knew more in high school." Even the best plans can be
  derailed or postponed when life happens, so it's important to know what your alternatives are.</p>
<p>Are your students ready for life after high school? College ready? Career ready? What about option ready?
</p>
<p>There are many different ways to be successful, and life after high school is typically more "choose your
  own adventure" than "one size fits all." College, work-based learning, and military service (or a
  combination of the three) are all potential paths to career satisfaction. One of the wisest strategies
  students can execute now to prepare for the future is understanding their options.</p>
<p>The ASVAB Career Exploration Program compiles career information from a variety of reliable sources and
  presents students with all of their options so they can make a realistic plan for life after high school.
</p>
<p class="mb-0">For more sharables and articles, visit our <a href="media-center">media center</a>.</p>
<div data-type="section-break"><hr /></div>
