<div class="optionready-body">
  <header class="header">
    <div class="container">
      <div *ngIf="!xsScreen" class="main-menu mobile-hide">
        <div class="row">
          <div class="columns medium-12 menu-right">
            <ul class="head-social menu">
              <li class="title-icon">Connect with us:</li>
              <li><a href="https://www.facebook.com/asvabcep/" target="_blank"><em class="fab fa-facebook-f"></em></a></li>
              <li><a href="https://twitter.com/asvabcep" target="_blank"><em class="fab fa-twitter"></em></a></li>
              <li><a href="https://www.linkedin.com/company/asvab-cep?trk=top_nav_home" target="_blank"><em
                    class="fab fa-linkedin-in"></em></a></li>
              <li><a href="https://www.youtube.com/channel/UC2NJ3deMrUUFgTPC1EST52A" target="_blank"><em
                    class="fab fa-youtube"></em></a></li>
              <li><a href="https://www.instagram.com/asvabcep/" target="_blank"><em class="fab fa-instagram"></em></a>
              </li>
              <li><a (click)="snapChatModal()"><em class="fab fa-snapchat-ghost"></em></a></li>
            </ul><a class="bring-btn button" routerLink="/asvab-cep-at-your-school">Bring the ASVAB CEP to Your School</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="columns medium-12">
          <div class="main-logo"><a ng-href="./"><img alt="ASVAB logo" src="assets/images/head-Logo.png" /></a>
          </div>
        </div>
      </div>
      <div class="banner-bg">
        <div class="row text-white d-flex optionready">
          <div class="columns medium-6">
            <h1 class="option-title">How to get <br /><strong>#optionready</strong></h1>
            <p *ngIf="!xsScreen" [innerHTML]="pageHtml[0]" class="option-disc text-white mobile-hide"></p>
          </div>
          <div class="columns medium-6">
            <div class="banner-img">
              <ul class="icon-call">
                <li><strong>College</strong> <img alt="College" class="banner-icon" src="assets/images/img-1.png" /></li>
                <li><strong>Work-Based Learning</strong> <img alt="Based Learning" class="banner-icon"
                    src="assets/images/img-2.png" /></li>
                <li><strong>Military</strong> <img alt="Military" class="banner-icon" src="assets/images/img-3.png" /></li>
              </ul>
            </div>
          </div>
          <div *ngIf="xsScreen" class="columns medium-12 show-mobile nopadding">
            <div class="option-txt">
              <p class="option-disc text-white" [innerHTML]="pageHtml[0]"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="posters-sec virtual-wrap">
    <div class="container">
      <div class="row">
        <div class="columns medium-12">
          <div class="posters-wrap">
            <h2 class="option-subtitle">Flyers and Posters</h2>
            <p [innerHTML]="pageHtml[1]"></p>
          </div>
        </div>
      </div>
      <div class="row mb-8">
        <div class="columns medium-12">
          <div class="sharables" style="display: flex;justify-content: space-between;">
            <div class="resource-box"
              ng-controller="GA"
              (click)="sendToResource(resource.resourceUrl); trackClick(resource.resourceUrl)"
              *ngFor="let resource of resources | filter: 'typeId':1"><a class="resource-img"
                ng-class="{ 'resource-word' : !resource.isPdf, 'resource-pdf' : resource.isPdf }" ng-href="#"><img
                  alt="{{resource.altText}}" src="{{resource.resourceThumbnailUrl}}" /></a>
              <span class="resource-title">{{resource.title}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="columns medium-12">
          <div class="posters-wrap">
            <h2 class="option-subtitle">Announcements and Messages</h2>
            <p [innerHTML]="pageHtml[2]"></p>
          </div>
        </div>
      </div>
      <div class="row mb-8">
        <div class="columns medium-12">
          <div class="sharables" style="display: flex">
            <div class="resource-box"
              ng-controller="GA"
              (click)="sendToResource(resource.resourceUrl); trackClick(resource.resourceUrl)"
              *ngFor="let resource of resources | filter: 'typeId':2"><a class="resource-img"
                ng-class="{ 'resource-word' : !resource.isPdf, 'resource-pdf' : resource.isPdf }" ng-href="#"><img
                  alt="{{resource.altText}}" src="{{resource.resourceThumbnailUrl}}" /></a>
              <span class="resource-title">{{resource.title}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="columns medium-12">
          <div class="sharables-wrap media-weap">
            <h2 class="option-subtitle">Social Media Graphics</h2>
            <p [innerHTML]="pageHtml[3]"></p>
            <div class="sharables" *ngIf="sharablesList">
              <ngx-slick-carousel class="carouselResources" #slickModal="slick-carousel"
                [config]="slideConfigResources" (init)="slickInit($event)" (breakpoint)="breakpoint($event)"
                (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)" style="margin-bottom:0;">
                <div ngxSlickItem class="tutorials_item" *ngFor="let sharable of sharablesList.slice(4); let index = index"
                  style="background:#fff;">
                  <div class="sharables-image">
                    <img src="{{sharable.shareImgUrl}}" />
                    <div class="sharables-share">
                      <ul>
                        <li>Share</li>
                        <share-button class="sl-margin" button="facebook" [title]="title"
                            [image]="sharable.shareImgUrl" [description]="sharable.description" [url]="sharable.shareImgUrl" (click)="_googleAnalyticsService.trackSocialShare('Facebook', 'Shareable')"></share-button>
                        <share-button class="sl-margin" button="twitter" [title]="title"
                            [image]="sharable.shareImgUrl" [description]="sharable.description" [url]="sharable.shareImgUrl" (click)="_googleAnalyticsService.trackSocialShare('Twitter', 'Shareable')"></share-button>
                        <share-button class="sl-margin" button="linkedin" [title]="title"
                            [image]="sharable.shareImgUrl" [description]="sharable.description" [url]="sharable.shareImgUrl" (click)="_googleAnalyticsService.trackSocialShare('LinkedIn', 'Shareable')"></share-button>
                        <share-button button="email" [title]="title"
                            [description]="sharable.description" (click)="_googleAnalyticsService.trackSocialShare('Email', 'Shareable')"></share-button>
                      </ul>
                    </div>
                  </div>
                </div>
              </ngx-slick-carousel>
            </div>
          </div>
        </div>
        <div *ngIf="xsScreen" class="columns medium-12 show-mobile nopadding">
          <div class="main-menu social-icon"><a class="bring-btn button" href="asvab-cep-at-your-school">
            Bring the ASVAB CEP to Your School</a>
            <p>Connect with us:</p>
            <ul class="head-social">
              <li><a href="https://www.facebook.com/asvabcep/" target="_blank"><em class="fa fa-facebook"></em></a></li>
              <li><a href="https://twitter.com/asvabcep" target="_blank"><em class="fa fa-twitter"></em></a></li>
              <li><a href="https://www.linkedin.com/company/asvab-cep?trk=top_nav_home" target="_blank"><em
                    class="fa fa-linkedin"></em></a></li>
              <li><a href="https://www.youtube.com/channel/UC2NJ3deMrUUFgTPC1EST52A" target="_blank"><em
                    class="fa fa-youtube"></em></a></li>
              <li><a href="https://www.instagram.com/asvabcep/" target="_blank"><em class="fa fa-instagram"></em></a>
              </li>
              <li><a href="#" (click)="snapChatModal()"><em class="fa fa-snapchat"></em></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="optionready-sec">
    <div class="container">
      <div class="row">
        <div class="columns medium-12">
          <h2 class="option-subtitle">What is #optionready?</h2>
          <div [innerHTML]="pageHtml[4]"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="photo-sec">
    <div class="container">
      <div class="row">
        <div class="columns medium-12">
          <h2 class="option-subtitle">Photo Share</h2>
          <div *ngIf="photos && photos.length === 0">
            <p>Sorry! No galleries available just yet. Please check back later!</p>
          </div>
          <div *ngIf="photos && photos.length > 0">
            <div class="powr-flickr-gallery photo-share-container" id="ddd29c43_1563279884">
              <div *ngFor="let photo of photos.slice(0, limit); let index = index"><img (click)="showImage(index)"
                  src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.{{photo.originalFormat}}" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="columns medium-12"><span *ngIf="limit > defaultLimit"><a class="view-btn" (click)="viewLess();">View
              Less</a> | </span>
          <span *ngIf="limit < photos.length"><a class="view-btn" (click)="viewMore();"
              ng-disabled="limit >= photos.length">View More</a> | </span>
          <span *ngIf="limit < photos.length"><a class="view-btn" (click)="viewAll();"
              ng-disabled="limit >= photos.length">View All</a> | </span>
          <a class="view-btn" href="mailto:asvabcep@gmail.com">Submit Your Image</a>
        </div>
      </div>
    </div>
  </section>
</div>