/*Option Ready CSS*/
/* Header Css */
/* Slick Slider */
/* Photo Section */
/* Media Screen */
.optionready-body {
	.sharables-share {
        
        .sb-button {
            margin: 0;
            
            * {
                max-height: 22px !important;
            }
        }
		.sb-icon {
			color: white;
		}
		background-color: rgba(0, 0, 0, 0.5);
		bottom: 0;
		left: 0;
		padding: 5px 10px;
		position: absolute;
		right: 0;
		ul {
			margin: 0;
			padding: 0;
			li {
				color: #ffffff;
				float: left;
				margin-bottom: 0 !important;
				width: 20%;
				text-align: center;
				position: inherit !important;
				&:before {
					content: initial !important;
				}
				a {
					color: #ffffff;
				}
			}
		}
	}
	.row {
		&:before {
			width: 0px;
			height: 0px;
		}
		&:after {
			width: 0px;
			height: 0px;
		}
		margin-left: -15px;
		margin-right: -15px;
	}
	background-color: #fff;
	img {
		max-width: 100%;
		height: auto;
		-ms-interpolation-mode: bicubic;
		display: inline-block;
		vertical-align: middle;
	}
	button {
		-webkit-appearance: none;
		-moz-appearance: none;
		background: transparent;
		padding: 0;
		border: 0;
		border-radius: 0;
		line-height: 1;
	}
	p {
		font-size: 15px;
		color: #000;
		line-height: 1.6;
		margin-bottom: 1rem;
	}
	strong {
		font-weight: bold;
		line-height: inherit;
	}
	h1 {
		font-family: "Open Sans", sans-serif;
		font-weight: normal;
		font-style: normal;
		color: inherit;
		text-rendering: optimizeLegibility;
		margin-top: 0;
		margin-bottom: 0.5rem;
		line-height: 1.4;
	}
	h2 {
		font-family: "Open Sans", sans-serif;
		font-weight: normal;
		font-style: normal;
		color: inherit;
		text-rendering: optimizeLegibility;
		margin-top: 0;
		margin-bottom: 0.5rem;
		line-height: 1.4;
		color: #29afb5;
		font-size: 1.25rem;
		text-transform: uppercase;
	}
	h3 {
		font-family: "Open Sans", sans-serif;
		font-weight: normal;
		font-style: normal;
		color: inherit;
		text-rendering: optimizeLegibility;
		margin-top: 0;
		margin-bottom: 0.5rem;
		line-height: 1.4;
		color: #29afb5;
		font-weight: 300;
		font-size: 1.75rem;
		line-height: 1;
		margin-bottom: 1.25rem;
		text-transform: uppercase;
	}
	h4 {
		font-family: "Open Sans", sans-serif;
		font-weight: normal;
		font-style: normal;
		color: inherit;
		text-rendering: optimizeLegibility;
		margin-top: 0;
		margin-bottom: 0.5rem;
		line-height: 1.4;
		color: #2f2a6a;
		font-size: 1rem;
		line-height: 1;
		margin-bottom: 1.25rem;
	}
	h5 {
		font-family: "Open Sans", sans-serif;
		font-weight: normal;
		font-style: normal;
		color: inherit;
		text-rendering: optimizeLegibility;
		margin-top: 0;
		margin-bottom: 0.5rem;
		line-height: 1.4;
	}
	h6 {
		font-family: "Open Sans", sans-serif;
		font-weight: normal;
		font-style: normal;
		color: inherit;
		text-rendering: optimizeLegibility;
		margin-top: 0;
		margin-bottom: 0.5rem;
		line-height: 1.4;
	}
	a {
		color: #2f908f;
		text-decoration: none;
		line-height: inherit;
		cursor: pointer;
		text-decoration: none;
		&:hover {
			color: #2FC9AF;
			text-decoration: none;
		}
		&:focus {
			color: #2FC9AF;
			text-decoration: none;
		}
	}
	ul {
		line-height: 1.6;
		margin-bottom: 1rem;
		list-style-type: none;
	}
	ol {
		line-height: 1.6;
		margin-bottom: 1rem;
		list-style-type: none;
	}
	dl {
		line-height: 1.6;
		margin-bottom: 1rem;
		list-style-type: none;
	}
	.text-white {
		color: #fff;
	}
	.d-flex {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	.optionready {
		-webkit-flex-flow: wrap;
		flex-flow: wrap;
		position: relative;
	}
	header {
		background-color: #3CB8B7;
		position: relative;
	}
	.menu-right {
		.menu {
			float: right;
			padding-left: 0;
			margin: 27px 0 0;
		}
	}
	ul.head-social {
		li {
			display: inline-block;
			margin-left: 7px;
			&:before {
				content: '' !important;
			}
			a {
				padding: 0;
                background-color: #287676;
                color: #fff;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                display: flex !important;
                align-items: center;
                justify-content: center;
				&:hover {
					em {
						opacity: 0.8;
					}
				}
			}
		}
		li.title-icon {
			color: #1e504f;
			margin: 0 9px 0 0;
		}
	}
	.main-logo {
		margin-bottom: 46px;
	}
	.mail-icon {
		img {
			width: 16px;
			margin-right: 0;
		}
	}
	h1.option-title {
		font-size: 48px;
		line-height: 61px;
		margin-bottom: 49px;
	}
	p.option-disc {
		font-size: 20px;
		line-height: 26px;
		max-width: 380px;
		margin-bottom: 76px;
		width: 100%;
		color: #fff;
	}
	ul.icon-call {
		display: inline-block;
		width: 100%;
		text-align: center;
		padding: 0;
		margin: 0 auto;
		li {
			display: inline-block;
			width: 15%;
			&:before {
				content: '' !important;
			}
			&:nth-child(2) {
				width: 40%;
				margin: 0 60px;
			}
			strong {
				color: #236564;
				display: inline-block;
				margin-bottom: 8px;
				line-height: normal;
				width: 100%;
			}
		}
	}
	.banner-bg {
		position: relative;
		.optionready {
			&:after {
				content: '';
				width: 0;
				height: 0;
				left: 65px;
				bottom: -45px;
				border-style: solid;
				border-width: 46px 45px 0 45px;
				border-color: #3CB8B8 transparent transparent transparent;
				position: absolute;
			}
		}
	}
	.resource-box {
		display: inline-block;
		border: 1px solid #c7c7c7;
		text-align: center;
		width: calc(33.33% - 20px);
		padding: 24px 24px 17px;

		&:nth-child(3n+2) {
			margin: 0 30px;
		}
		
		.resource-img {
			position: relative;
			display: inline-block;
			width: auto;
			&:after {
				content: '';
				background-position: right bottom;
				background-repeat: no-repeat;
				background-size: 100%;
				width: 17px;
				height: 17px;
				bottom: 11px;
				right: 12px;
				position: absolute;
				z-index: 99;
			}
		}

		.resource-title {
			font-size: 15px;
			line-height: 18px;
			font-weight: bold;
			color: #4c44ac;
			display: inline-block;
			text-decoration: none;
			width: 100%;
			margin-top: 18px;
		}
		.resource-pdf {
			&:after {
				background: url('../../assets/images/icon-pdf.png');
			}
		}
		.resource-word {
			&:after {
				background: url('../../assets/images/icon-word.png');
			}
		}
	}
	.banner-img {
		&:after {
			content: '';
			background: url('../../assets/images/banner-img.png');
			background-position: right bottom;
			background-repeat: no-repeat;
			background-size: 100%;
			width: 687px;
			height: 441px;
			bottom: 0;
			right: -110px;
			position: absolute;
			overflow: visible;
		}
	}
	section.posters-sec {
		background-color: #EDF8F8;
		padding: 88px 0 75px;
	}
	h2.option-subtitle {
		font-size: 26px;
		font-weight: bold;
		color: #359796;
		line-height: normal;
		text-transform: inherit;
		margin-bottom: 17px;
	}
	.posters-wrap {
		p {
			font-size: 15px;
			line-height: 22px;
			margin-bottom: 25px;
		}
	}
	.pdf-none {
		&:after {
			display: none;
		}
	}
	.mb-8 {
		margin-bottom: 80px;
	}
	.mb-0 {
		margin-bottom: 0;
	}
	.optionready-sec {
		display: inline-block;
		padding: 62px 0;
		width: 100%;
	}
	.media-weap {
		>p {
			margin-bottom: 65px;
		}
	}
	.virtual-wrap {
		background: #eff1f0;
		padding: 20px 0 40px;
		h5 {
			color: #808f8c;
			margin-bottom: 70px;
			text-transform: uppercase;
		}
		hr {
			margin: 40px 0;
		}
		.all-news {
			padding-bottom: 28px;
			padding-top: 16px;
		}
	}
	.sharables {
		width: 100%;
	}
	.sharables-wrap {
		padding-bottom: 20px;
	}
	.sharables-image {
		position: relative;
	}
	.slick-slider {
		position: relative;
		display: block;
		box-sizing: border-box;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-touch-callout: none;
		-khtml-user-select: none;
		-ms-touch-action: pan-y;
		touch-action: pan-y;
		-webkit-tap-highlight-color: transparent;
		.slick-track {
			-ms-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}
		.slick-list {
			-ms-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}
	}
	.slick-slide {
		margin: 0px 15px;
		display: none;
		float: left;
		height: 100%;
		min-height: 1px;
		img {
			width: 100%;
			display: block;
		}
	}
	.slick-list {
		position: relative;
		display: block;
		overflow: hidden;
		margin: 0 -15px;
		padding: 0;
	}
	.slick-list.dragging {
		cursor: pointer;
		cursor: hand;
	}
	.slick-track {
		position: relative;
		top: 0;
		left: 0;
		display: block;
	}
	.slick-loading {
		.slick-track {
			visibility: hidden;
		}
		.slick-slide {
			visibility: hidden;
		}
	}
	.slick-slide.slick-loading {
		img {
			display: none;
		}
	}
	.slick-slide.dragging {
		img {
			pointer-events: none;
		}
	}
	.slick-initialized {
		.slick-slide {
			display: block;
		}
	}
	.slick-vertical {
		.slick-slide {
			display: block;
			height: auto;
			border: 1px solid transparent;
		}
	}
	.slick-arrow.slick-hidden {
		display: none;
	}
	.slick-prev {
		font-size: 0;
		line-height: 0;
		position: absolute;
		top: 50%;
		display: block;
		width: 25px;
		height: 50px;
		padding: 0;
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);
		cursor: pointer;
		color: transparent;
		border: none;
		outline: none;
		background: transparent;
		z-index: 1;
		left: -44px;
		&:hover {
			color: transparent;
			outline: none;
			background: transparent;
		}
		&:focus {
			color: transparent;
			outline: none;
			background: transparent;
		}
		&:before {
			background-repeat: no-repeat;
			background-size: cover;
			display: inline-block;
			height: 50px;
			width: 25px;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			background-image: url("../../assets/images/arrow-left.png");
			content: '';
		}
	}
	.slick-next {
		font-size: 0;
		line-height: 0;
		position: absolute;
		top: 50%;
		display: block;
		width: 25px;
		height: 50px;
		padding: 0;
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);
		cursor: pointer;
		color: transparent;
		border: none;
		outline: none;
		background: transparent;
		z-index: 1;
		right: -44px;
		&:hover {
			color: transparent;
			outline: none;
			background: transparent;
		}
		&:focus {
			color: transparent;
			outline: none;
			background: transparent;
		}
		&:before {
			background-repeat: no-repeat;
			background-size: cover;
			display: inline-block;
			height: 50px;
			width: 25px;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			background-image: url("../../assets/images/arrow-right.png");
			content: '';
		}
	}
	.slick-prev.slick-disabled {
		&:before {
			opacity: .25;
		}
	}
	.slick-next.slick-disabled {
		&:before {
			opacity: .25;
		}
	}
	a.bring-btn {
		background: #287676;
		float: right;
		clear: both;
		color: #fff;
		margin: 15px 0 0;
		text-transform: none;
		width: 391px;
	}
	.visible-xs {
		.social-icon {
			a.bring-btn {
				margin: 40px 0 50px;
				float: none;
				width: auto;
			}
			p {
				margin: 0;
				color: #287676;
				font-size: 20px;
			}
		}
	}
	.photo-sec {
		background-color: #F3F5F6;
		display: inline-block;
		padding: 55px 0;
		width: 100%;
	}
	a.view-btn {
		color: #4c44ac;
		font-size: 15px;
		font-weight: bold;
	}
	.social-icon {
		display: inline-block;
		width: 100%;
		text-align: center;
		margin: 80px auto 0;
		background-color: #41B8B7;
		.head-social {
			float: none;
			margin: 0;
			padding: 22px 0 20px;
		}
		ul.head-social {
			li {
				a {
					i {
						font-size: 30px;
						width: 57px;
						height: 57px;
					}
				}
			}
		}
	}
}
b {
	font-weight: bold;
	line-height: inherit;
}
.mail-icon {
	a {
		background-color: #287676;
		color: #fff;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		display: flex !important;
		align-items: center;
		justify-content: center;
	}
}
.nopadding {
	padding: 0px !important;
}
.photo-share-container {
	line-height: 0;
	-webkit-column-count: 4;
	-webkit-column-gap: 4px;
	-moz-column-count: 4;
	-moz-column-gap: 4px;
	column-count: 4;
	column-gap: 4px;
	img {
		width: 100% !important;
		height: auto !important;
		margin-top: 4px;
	}
}
.photo-share-row {
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
.photo-share-col {
	flex: 25%;
	padding: 0 4px;
	&:first-child {
		padding-left: 0px;
	}
	img {
		margin-top: 8px;
		vertical-align: middle;
	}
}
@media (max-width: 1000px) {
	.photo-share-container {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}
@media (max-width: 800px) {
	.photo-share-container {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
}
@media (max-width: 400px) {
	.photo-share-container {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
}
@media (min-width: 1200px) {
	.optionready-body {
		.container {
			max-width: 940px;
		}
	}
}
@media (max-width: 1199px) {
	.optionready-body {
		.banner-img {
			&:after {
				width: 600px;
				height: 100%;
				right: 0;
			}
		}
	}
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
	.optionready-body {
		.banner-img {
			&:after {
				right: -40px;
			}
		}
	}
}
@media (min-width: 992px) {
	.optionready-body {
		.container {
			width: 940px;
		}
	}
}
@media screen and (min-width: 992px) and (max-width: 1023px) {
	.optionready-body {
		ul.icon-call {
			li {
				width: 19%;
				&:nth-child(2) {
					width: 49%;
					margin: 0 20px;
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.optionready-body {
		.resource-box {
			margin-bottom: 30px;
		}
		h1.option-title {
			font-size: 38px;
			line-height: 45px;
			margin-bottom: 40px;
		}
		ul.icon-call {
			li {
				width: 33.33%;
				float: left;
				&:nth-child(2) {
					width: 33.33%;
					margin: 0px;
				}
			}
		}
		.banner-img {
			&:after {
				width: 480px;
			}
		}
	}
}
@media screen and (min-width: 640px) and (max-width: 1023px) {
	.optionready-body {
		.slick-prev {
			&:before {
				height: 30px;
				width: 15px;
			}
			left: 5px;
		}
		.slick-next {
			&:before {
				height: 30px;
				width: 15px;
			}
			right: 5px;
		}
	}
}
@media screen and (max-width: 767.98px) {
	.mobile-hide {
		display: none;
	}
	.optionready-body {
		.medium-6 {
			width: 100%;
		}

		h1.option-title {
			font-size: 36px;
			line-height: 40px;
			margin-bottom: 50px;
			text-align: center;
		}
		h2.option-subtitle {
			text-align: center;
		}
		.banner-img {
			min-height: 450px;
			display: inline-block;
			width: 100%;
			&:after {
				width: 100%;
			}
		}
		ul.icon-call {
			li {
				strong {
					font-size: 14px;
				}
			}
		}
		.banner-icon {
			width: 50px;
		}
		p.option-disc {
			max-width: 100%;
		}
		.main-logo {
			text-align: center;
			margin: 35px 0 25px;
			img {
				max-width: 200px;
			}
		}
		.banner-bg {
			.optionready {
				&:after {
					display: none;
				}
			}
		}
		.option-txt {
			display: inline-block;
			width: 100%;
			p.option-disc.text-white {
				background-color: #246567;
				margin: 0;
				padding: 25px 25px 30px;
			}
		}
		.posters-wrap {
			padding: 0 15px;
		}
		.resource-box {
			max-width: calc(100% - 70px);
		}
		.media-block {
			max-width: calc(100% - 70px);
			margin: 0 auto;
			position: inherit;
		}
		.optionready-sec {
			p {
				padding: 0 15px;
			}
		}
		.media-weap {
			>p {
				padding: 0 15px;
				margin-bottom: 40px;
			}
		}
		.slick-next {
			right: 5px;
		}
		.slick-prev {
			left: 5px;
		}
		.view-btn {
			text-align: center;
		}
		section.posters-sec {
			padding: 35px 0 0;
		}
	}
}
@media screen and (max-width: 639px) {
	.optionready-body {
		.sharables-share {
			ul {
				li {
					font-size: 14px !important;
				}
			}
		}
		.slick-prev {
			&:before {
				height: 51px;
				width: 25px;
			}
		}
		.slick-next {
			&:before {
				height: 51px;
				width: 25px;
			}
		}
		.menu-right {
			.head-social {
				float: none;
			}
		}
		.main-logo {
			text-align: center;
		}
		.head-social {
			text-align: center;
		}
		.banner-img {
			min-height: 390px;
		}
		.banner-bg {
			.optionready {
				&:after {
					bottom: -35px;
					border-width: 35px 30px 0 30px;
				}
			}
		}
		.optionready-sec {
			padding: 55px 0;
		}
		h2.option-subtitle {
			font-size: 24px;
		}
	}
}
@media screen and (max-width: 480px) {
	.optionready-body {
		.main-logo {
			img {
				max-width: 170px;
			}
		}
		.banner-img {
			min-height: 310px;
		}
		ul.icon-call {
			li {
				strong {
					font-size: 15px;
				}
			}
		}
		ul.head-social {
			li.title-icon {
				margin: 0 0 6px 0;
				width: 100%;
			}
		}
		.photo-share {
			width: 100%;
		}
	}
}
@media screen and (max-width: 380px) {
	.optionready-body {
		.social-icon {
			ul.head-social {
				li {
					a {
						i {
							width: 45px !important;
							height: 45px !important;
						}
					}
				}
			}
		}
	}
}
