<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeMe()"><span
      aria-hidden="true">&times;</span></button>
  <h3 class="modal-title">Manage Mentors</h3>
</div>

<ng-container *ngIf="isLoading">
  <div class="modal-body">

    <div class="row">
      <div class="small-12 column text-center">
        <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
        Loading...
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!isLoading">

  <div class="modal-body">
    <ul class="manage-mentors" *ngIf="mentors?.length > 0">
      <li *ngFor="let mentor of mentors; let i = index;">
        <div class="row">
          <div class="small-10 medium-11 column">
            {{mentor.mentorEmail}}
          </div>
          <div class="small-2 medium-1 column text-center">
            <a class="remove-button" (click)="removeMentor(mentor)">&times;</a>
          </div>
        </div>
      </li>
    </ul>

    <br />

    <ng-container *ngIf="pendingMentors?.length > 0">
      <div class="row">
        <div class="small-12 column">
          <h5 class="manage-mentors">Pending</h5>
        </div>
      </div>

      <ul class="manage-mentors">
        <li *ngFor="let mentor of pendingMentors; let i = index;">
          <div class="row">
            <div class="small-10 column">
              {{mentor.mentorEmail}}
            </div>
            <div class="small-2 column text-center">
              <a (click)="remindMentor(mentor.mentorEmail, mentor.id)">Remind</a>
            </div>
          </div>
        </li>
      </ul>
    </ng-container>

    <div *ngIf="successText" class="row">
      <div class="small-12 column">
        <p class="successText">
          {{successText}}
        </p>
      </div>
    </div>


  </div>

  <div class="modal-footer text-center">
    <button class="button" type="button" (click)="closeMe()">Close</button>
  </div>
</ng-container>