ul.manage-mentors{
    list-style-type: none !important;
    margin-left: 1rem;
    margin-right: 1rem;

    >li{
        list-style-type: none;
        position: static !important;
        border-bottom: 1px solid #b8b8b9;
        margin-bottom: 0 !important;
        padding-bottom: 0.5rem !important;

        &:first-child{
            border-top: 1px solid #b8b8b9;
        }
        >.row{
            padding-top:0.5rem;
            >.column{
                padding:0;

                >span{
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: inline-block;
                    width: 100%;
                }
            }
        }

    }

    .date-text, .remove-button{
        color:#3d4243;
    }

    .remove-button{
        font-size: 20px;
        line-height: 1;
    }
}

h5.manage-mentors{
    padding-bottom: 0.5rem;
    margin:0 !important;
    font-size: 1rem;
    text-transform: uppercase;
    color: #b8b8b9;
}

.modal-footer.text-center{
    text-align: center !important;

    >.button{
        margin: 0;
    }
}

.successText{
    color: green;
}