.not_started {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #B1B1B1;
  border-radius: 50%;
  margin-right: 5px;

  @media (max-width: 991px) {
      width: 17px;
      height: 17px;
  }
}

.ready_for_review {
  width: 10px;
  height: 10px;
  border: 1px solid #3C3C3C;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  background-color: #27ACAD;
  margin-right: 5px;

  @media (max-width: 991px) {
      width: 17px;
      height: 17px;
  }
}

.in_progress {
  width: 10px;
  height: 10px;
  border: 1px solid #3C3C3C;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  margin-right: 5px;

  @media (max-width: 991px) {
      width: 17px;
      height: 17px;
  }

  &:before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
      width: 4px;
      height: 4px;
      display: block;
      background-color: #27ACAD;
      border-radius: 50%;

      @media (max-width: 991px) {
          width: 7px;
          height: 7px;
      }
  }
}

.checkmark {
  display: inline-block;
  transform: rotate(45deg);
  height: 11px;
  width: 6px;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  margin-right: 5px;

  @media (max-width: 991px) {
      height: 14px;
      width: 7px;
      border-bottom: 3px solid #000;
      border-right: 3px solid #000;
  }
}

.progress_status_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px 3px;
  list-style-type: none;
  margin-left: 8px;

  li {
      &:not(:last-child) {
          margin-left: -5px;
      }
  }

  span {
      display: inline-block;
  }
}