<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeMe()"><span
      aria-hidden="true">&times;</span></button>
  <h3 class="modal-title">Status Legends</h3>
</div>

<div class="modal-body">
  <div>
    <ul class="progress_status_list">
      <li>
        <span class="not_started mr_10"></span>
        <span>Not started</span>
      </li>
      <li>
        <span class="in_progress mr_10"></span>
        <span>In progress</span>
      </li>
      <li>
        <span class="ready_for_review mr_10"></span>
        <span>Ready for review</span>
      </li>
      <li>
        <span class="checkmark mr_10"></span>
        <span>Completed</span>
      </li>
    </ul>
  </div>
</div>
