<div id="fyi" class="occufind">
	<app-header></app-header>
	<app-my-asvab-header></app-my-asvab-header>

	<section id="content-wrap"  class="left-nav-expanded-wrap">
		<div class="row">
			<app-left-navigation-v2-collapsed [selectedTab]="'learn'"></app-left-navigation-v2-collapsed>

			<section id="main-content" class="medium-10 left-navigation-condensed" role="main">
			<app-my-top-results-collapsed [collapsedVersion]="'v2'"></app-my-top-results-collapsed>
				<div id="left-nav-content-wrap">
					<div class="row" *ngIf="!tiedSelectionCompleted">
						<div class="medium-12 columns">
	
							<h2>Your work values are tied in some areas</h2>
							<p>Two or more of your work values ranked the same.</p>
							<p class="wv-tiedIntro">
								<b>Which sounds most like you?</b> Select one of the {{tiedNumText()}} tied
								values.
							</p>
							<div *ngFor="let t of tiedScores; let i = index">
								<div *ngIf="i == 0">
									<ul class="wv-resultsTable">
										<li *ngFor="let tiedSelections of t; let f = index">
											<input type="radio"
                                            id="tiedScore-{{f}}"
											name="tiedScores" value="{{f}}"
											[(ngModel)]="tieSelectionIndex">
	                                        <label for="tiedScore-{{f}}">{{tiedSelections.TypeId
											== 1 ? 'Achievement': tiedSelections.TypeId == 2 ?
											'Independence' : tiedSelections.TypeId == 3 ? 'Recognition' :
											tiedSelections.TypeId == 4 ? 'Relationships' :
											tiedSelections.TypeId == 5 ? 'Support' : 'Working
											Conditions'}}</label>
	                                        <img src="assets/images/wv-Achievement.png" *ngIf="tiedSelections.TypeId == 1">
						                    <img src="assets/images/wv-Independence.png" *ngIf="tiedSelections.TypeId == 2">
						                    <img src="assets/images/wv-Recognition.png" *ngIf="tiedSelections.TypeId == 3">
						                    <img src="assets/images/wv-Relationships.png" *ngIf="tiedSelections.TypeId == 4">
						                    <img src="assets/images/wv-Support.png" *ngIf="tiedSelections.TypeId == 5">
						                    <img src="assets/images/wv-Working-Conditions.png" *ngIf="tiedSelections.TypeId == 6">
	                                        <span *ngIf="tiedSelections.TypeId == 1">Workers who score high on
												Achievement are results-oriented. These workers often pursue
												jobs where employees are able to apply their strengths and
												abilities. This gives the employee a sense of accomplishment. </span>
											<span *ngIf="tiedSelections.TypeId == 2">Workers who score high on
												Independence value the ability to approach work activities with
												creativity. These workers want to make their own decisions and
												plan their work with little supervision from a manager. </span>
											<span *ngIf="tiedSelections.TypeId == 3">Workers who score high on
												Recognition pursue jobs with opportunities for advancement and
												leadership responsibilities that allow them to give direction
												and instruction to others. These workers are often considered
												prestigious by their peers and others in their organization and
												receive recognition for the work they contribute. </span> <span
											*ngIf="tiedSelections.TypeId == 4">Workers who score high on
												Relationships prefer jobs that provide services to others and
												working with co-workers in a friendly, non-competitive
												environment. Workers in these jobs value getting along well
												with others and do not like to be pressured to do things that
												go against their morals or sense of what is right and wrong. </span>
											<span *ngIf="tiedSelections.TypeId == 5">Workers who score high on
												Support appreciate when their company's leadership stands
												behind and supports their employees. People in these types of
												jobs like to feel like they are being treated fairly by the
												company and have supervisors who spend time and effort training
												their workers to perform well. </span> <span
											*ngIf="tiedSelections.TypeId == 6">Workers who score high on Working
												Conditions value job security and pleasant working conditions.
												These workers enjoy being busy and want to be paid well for the
												work they do. They enjoy developing ways of doing things with
												little or no supervision and depend on themselves to get the
												work done. These workers pursue steady employment that offers
												something different to do on a daily basis. </span>
	                                    </li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row" *ngIf="postError">
						<div class="medium-12 columns">
	
							<p>A system error has occurred. Click the submit button to try again. If error persist, please contact help desk.
						</div>
					</div>
					<div class="wv-tiedButton" *ngIf="!tiedSelectionCompleted">
	                    <a class="button" (click)="selectTieScore()" (disabled)="tieSelectionIndex === undefined">Submit</a>            
	                </div>
	                <div class="wv-tiedButton" *ngIf="postError">
	                    <a class="button" (click)="postWorkValues()" (disabled)="isDisabled">Submit</a>            
	                </div>
				</div>
			</section>

		</div>
		<!-- <app-left-navigation-mobile></app-left-navigation-mobile> -->
	</section>

	<app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
	<app-footer></app-footer>
</div>