<section id="content-wrap">
    <div class="row">
        <div class="small-12 columns show-for-small-only">
            <div class="left-sub-nav">
                <ul class="menu vertical" id="steps">
                    <li>
                        <h3 id="innerTitle">The ASVAB CEP</h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <section id="main-content" role="main">
        <div class="row column">
            <h2>Empower your child to make informed career decisions</h2>
        </div>
    </section>
</section>
<section id="components-wrap">
    <div class="row">
        <div class="small-7 columns">
            <ol id="three-components">
                <li><strong>ASVAB</strong> - A multiple aptitude test that measures developed abilities and helps
                    predict future academic and occupational success</li>
                <li><strong>FYI</strong> - An interest inventory that measures work-related interests</li>
                <li><strong>OCCU-Find</strong> - A career catalog with occupational data and planning tools to help your
                    child identify satisfying occupations</li>
            </ol>
        </div>
        <div class="small-4 columns" id="hexagons"><img src="assets/images/hexagons.png" /><img class="show-for-large"
                id="parent" src="assets/images/parent.png" /></div>
    </div>
</section>
<section id="content-wrap">
    <section id="main-content" role="main">
        <div class="row" id="ways-to-learn">
            <div class="small-4 columns tutorial"><a (click)="redirect('parents-test')">THE ASVAB TEST <em></em></a>
                <p>The ASVAB is one of the most researched and respected aptitude assessments in the world.</p>
            </div>
            <div class="small-4 columns tutorial"><a (click)="redirect('parents-post-test')">POST-TEST ACTIVITIES <em></em></a>
                <p>These tools empower your child to make important decisions about the futures.</p>
            </div>
            <div class="small-4 columns tutorial"><a class="button" (click)="asvabModal()">
                    Bring the ASVAB CEP <br />to Your School <em class="fa fa-angle-right"></em></a>
            </div>
        </div>
    </section>
</section>
<div style="background-color:#ffffff;">
    <div id="guides">
        <div class="row column">
            <p>ASVAB CEP is a free career planning program designed for students in grades 10-12, and first and second
                year post-secondary. Participation is voluntary. Your child can benefit from this unique opportunity to
                explore personal potential and the world of work at no cost and no commitment.</p>
            <p>ASVAB CEP gives your child the confidence to map out a post-secondary plan that aligns with their
                individual skills and interests. </p>
        </div>
        <div class="row" id="intentions">
            <div class="small-12 columns">
                <hr />
            </div>
            <div class="large-3 small-12 columns"><strong>PARTICIPATING <br />STUDENT INTENTIONS</strong>
                (Five-year average)
            </div>
            <div class="large-3 medium-4 small-12 columns"><img src="assets/images/intentions.png" /></div>
            <div class="large-3 medium-4 small-12 columns stats"><strong class="fouryr"><span>45%</span> 4 year
                    college</strong><br /><strong class="twoyr"><span>8%</span> 2 year college </strong><br /><strong
                    class="votech"><span>2%</span> Career and Technical Education</strong>
            </div>
            <div class="large-3 medium-4 small-12 columns stats"><strong class="military"><span>18%</span>
                    Military</strong> <br /><strong class="work"><span>3%</span> Work</strong><br /><strong
                    class="undecided"><span>25%</span> Undecided</strong>
            </div>
            <div class="small-12 columns">
                <hr />
            </div>
        </div>
        <div class="row" *ngIf="mediaCenterList">
            <div class="medium-4 columns tutorial" *ngFor="let m of mediaCenterItem('positionId', 16)">
                <a class="resource-title" (click)="redirect('media-center-article/' + m.id)">{{m.title}}</a> <a
                (click)="redirect('media-center-article/' + m.id)" *ngIf="m.typeId != 1"><img src="{{m.thumbnailUrl}}" /></a>
            </div>
            <div class="medium-4 columns tutorial" *ngFor="let m of mediaCenterItem('positionId', 17)">
                <a class="resource-title" (click)="redirect('media-center-article/' + m.id)">{{m.title}}</a> <a
                (click)="redirect('media-center-article/' + m.id)" *ngIf="m.typeId != 1"><img src="{{m.thumbnailUrl}}" /></a>
            </div>
            <div class="medium-4 columns tutorial" *ngFor="let m of mediaCenterItem('positionId', 18)">
                <a class="resource-title" (click)="redirect('media-center-article/' + m.id)">{{m.title}}</a> <a
                (click)="redirect('media-center-article/' + m.id)" *ngIf="m.typeId != 1"><img src="{{m.thumbnailUrl}}" /></a>
            </div>
        </div>
    </div>
</div>