<section id="content-wrap">
    <section id="main-content" role="main" style="margin:0;">
        <div class="row">
            <div class="small-12 columns show-for-small-only">
                <div class="left-sub-nav">
                    <ul class="menu vertical" id="steps">
                        <li>
                            <h3>INFORMATION FOR PARENTS</h3>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="medium-8 columns">
                <h1 class="job-title">Increase Your Child's Chance for Career Satisfaction</h1>
                <p>Share your interest in ASVAB CEP with your school counselor:</p>
                <div class="show-for-medium columns">
                    <div class="text-center"><button class="button" (click)="asvabModal()">Bring the ASVAB CEP to Your School</button>
                    </div>
                </div>
                <p>ASVAB CEP gives your child the freedom to explore careers in the context of their skills
                    and interests and develop an actionable plan to get there via college, credentialing, and/or
                    the Military.</p>
                <p><strong>Educate Yourself</strong><br />The ASVAB assesses academic ability and predicts
                    success in a wide variety of careers, not only military occupations, so taking it gives your
                    child an opportunity to explore education, work, training, certification, and/or military
                    without cost or commitment.
                </p>
                <p>Your child has no obligation to the Military as a result of taking the ASVAB and
                    participation is always voluntary.</p>
                <p>Juniors and seniors can use their scores from the ASVAB to enlist in the Military after
                    high school graduation, if they choose. The scores are good for two years.</p>
                <p>Each school participating in ASVAB CEP selects one of eight available options regarding the
                    information Department of Defense releases to the Military Services. Know your release option.
                    <a (click)="redirect('general-help#release')">Click here to learn more</a>.
                </p>
            </div>
            <div class="medium-4 columns show-for-medium">
                <div id="boy-parent-page"><a (click)="redirect(documents + 'ASVAB_CEP_Fact_Sheet.pdf'); trackClick('ASVAB_CEP_Fact_Sheet.pdf');" target="_blank"><img
                            alt="By 2050 62% of STeM Jobs will be BIOMedical Engineers" src="assets/images/boy.png" /></a><a
                        class="zoom" (click)="imageZoom()">+</a>

                </div>
            </div>
        </div>
        <div class="row column">
            <div class="small-12 columns">
                <hr />
                <h2>WHAT YOU CAN DO TO HELP:</h2>
            </div>
            <div class="small-6 columns">
                <ul>
                    <li><a (click)="asvabModal()">Bring the ASVAB CEP to your school.</a></li>
                    <li>Encourage your teen to complete the <a (click)="redirect('parents-post-test')">post-test activities,</a> and
                        then
                        review the results together.
                    </li>
                    <li>Share any experiences you've had with career planning and
                        listen to what your teen has to say about his or her interests,
                        skills, and values.</li>
                    <li>Either explore potential occupations together or review
                        the results of his/her individual search together.</li>
                </ul>
            </div>
            <div class="small-6 columns">
                <ul>
                    <li>Encourage your teen to explore several occupations.</li>
                    <li>Encourage your teen to explore all kinds of
                        post-secondary educational <a (click)="redirect('student-plan')">opportunities</a>
                        and discuss the pros and cons of the different options.
                    </li>
                    <li>Encourage experiential learning opportunities to further
                        explore a given occupation.</li>
                    <li>Suggest a meeting and interview with someone employed in
                        the selected occupation.</li>
                </ul>
            </div>
        </div>
        <div class="row column">
            <hr />
            <h2>RESOURCES:</h2><br />
            <div class="small-4 columns">
                <p><a (click)="redirect(documents + 'ASVAB_CEP_Fact_Sheet.pdf'); trackClick('ASVAB_CEP_Fact_Sheet.pdf');"
                        target="_blank"><img alt="" src="assets/images/icon-pdf.png" />Fact Sheet
                    </a>
                </p>
                <p><a (click)="redirect(documents + 'ASVAB_CEP_Fact_Sheet_spanish.pdf'); trackClick('ASVAB_CEP_Fact_Sheet_spanish.pdf');"
                        target="_blank"><img alt="" src="assets/images/icon-pdf.png" />Fact Sheet en
                        espa&ntilde;ol
                    </a>
                </p>
            </div>
            <div class="small-4 columns">
                <p><a (click)="redirect(documents + 'ASVAB_CEP_Opt_Out_Letter.docx'); trackClick('ASVAB_CEP_Opt_Out_Letter.docx');" target="_blank"><img
                            alt="" src="assets/images/icon-word.png" />Opt Out Letter </a>
                </p>
                <p><a (click)="redirect(documents + 'ASVAB_CEP_Opt_In_Letter.docx'); trackClick('ASVAB_CEP_Opt_In_Letter.docx');" target="_blank"><img
                            alt="" src="assets/images/icon-word.png" />Opt In Letter </a>
                </p>
            </div>
            <div class="small-4 columns">
                <p><a (click)="redirect(documents + 'ASVAB_CEP_Overview_Presentation.ppt'); trackClick('ASVAB_CEP_Overview_Presentation.ppt');"
                        target="_blank"><img alt="" src="assets/images/icon-ppt.png" />Overview Presentation
                    </a>
                </p>
            </div>
        </div>
        <div class="row align-spaced">
            <div class="large-4 columns small-centered"><a class="button" (click)="redirect('general-resources')">View Resources</a>
            </div>
        </div>
        <div class="row column">
            <div class="callout secondary"><strong>Are you looking for a way to get through to your
                    teen? Put work life in a real-life context.</strong><br />
                <p>"For example, ask a student to think about all the time he
                    or she has spent in school (K-12). For a student, this seems like
                    "forever". Next, ask him or her to multiply that amount of time by
                    six and explain that this is the amount of time they will spend in
                    their occupation. Remind the student that in school they take
                    math, history, English, science, social studies, etc. An
                    occupation is like one subject. Think about getting up every day
                    for the next 40 years and going to work for 8, 10 or 12 hours per
                    day taking "one subject". It better be a subject that he or she
                    enjoys."</p><br />
                <p><a href="http://www.ncda.org/aws/NCDA/pt/sd/news_article/5344/_PARENT/layout_details_cc/false"
                        target="_blank">Parent Involvement in Student Career Planning</a>
                    <br />By Bob Fisher, 2007
                </p>
            </div>
        </div>
    </section>
</section>