<section id="content-wrap">
    <div class="row">
        <div class="small-12 columns show-for-small-only">
            <div class="left-sub-nav">
                <ul class="menu vertical" id="steps">
                    <li>
                        <h3>POST-TEST ACTIVITIES</h3>
                    </li>
                </ul>
            </div>
        </div>
        <section class="medium-9 medium-push-3 columns" id="main-content" role="main">
            <h1 class="job-title">What Happens After the Test?</h1>
            <p>After your child takes the ASVAB, they should participate in the following activities.</p>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto"><span class="show-for-medium">Understanding the ASVAB Results<em
                                class="pull-right glyphicon"
                                ngClass="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></em></span>
                        <span class="show-for-small-only" id="understandingTheASVABResults">Understanding the ASVAB
                            Results<em class="pull-right glyphicon"
                                ngClass="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></em></span>
                    </mat-expansion-panel-header>
                    <p>The ASVAB scores provide a measure of students' skills and
                        abilities. The results are reported to students and counselors on
                        the ASVAB Summary Results sheet. Several composite scores are
                        formed from different combinations of ASVAB subtest scores.</p>
                    <ul>
                        <li><strong>Career Exploration Scores.</strong> The three
                            Career Exploration Scores are verbal, math, and science/technical skills.
                            Each of these scores is made up of a combination
                            of some of the individual ASVAB tests.</li>
                        <li><strong>ASVAB Tests.</strong> A score is provided for each
                            subtest that makes up the ASVAB. Descriptions of each specific
                            test are provided on the back of the ASVAB Summary Results sheet,
                            or <a (click)="redirect('student-program')">click here</a></li>
                        <li><strong>Military Entrance Score/Armed Forces
                                Qualification Test (AFQT).</strong> Participation in the ASVAB CEP does
                            not obligate your child to talk with military recruiters or consider a
                            military career. If he/she is interested in joining the Military, it
                            is best to discuss this score with a recruiter. The AFQT score is
                            what the Military will use to determine enlistment eligibility.</li>
                    </ul>
                    <p>The ASVAB Summary Results sheet also includes an access code students can use to login to this
                        site and complete all post-test activities.
                    </p>Watch the <a (click)="redirect('media-center-article/46')">Understanding ASVAB
                        Test Scores</a> tutorial for more details.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto"><span class="show-for-medium">Using the Scores<em
                                class="pull-right glyphicon"
                                ngClass="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></em></span>
                        <span class="show-for-small-only" id="usingTheScores">Using the Scores<em
                                class="pull-right glyphicon"
                                ngClass="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></em></span>
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="medium-8 columns">
                            <p>ASVAB results provide information about current skills and
                                abilities. Students can use their strongest Career Exploration
                                Scores to investigate occupations that rely on those skills in
                                the <a (click)="redirect('media-center-article/49')">OCCU-Find.</a>
                            </p>
                            <p>Encourage them to consider the importance of verbal, math, and
                                science/technical skills as represented on a five-star scale
                                for each occupation. To learn more about skill importance ratings
                                <a (click)="redirect('general-help#skills')">click here.</a>
                            </p>
                            <p>Juniors, seniors, and post-secondary students, can use
                                their AFQT scores to talk to a military recruiter about
                                enlistment, for up to two years after testing. The AFQT score can
                                qualify them for certain jobs in the Armed Forces. However, each
                                Service, and each military job, has different requirements, so
                                qualifying AFQT scores can fluctuate.</p>
                        </div>
                        <div class="medium-4 columns"><a (click)="redirect('occufind-occupation-details/31-2021.00')"> <strong>Physical
                                    Therapist Assistants</strong><br /><img
                                    src="{{resources}}31-2021.00_IMG.jpg" /><strong>Sample Occupation Detail</strong>
                            </a>
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto"><span class="show-for-medium">Taking the FYI<em class="pull-right glyphicon"
                                ngClass="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></em></span>
                        <span class="show-for-small-only" id="takingTheFYI">Taking the FYI<em
                                class="pull-right glyphicon"
                                ngClass="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></em></span>
                    </mat-expansion-panel-header>
                    <p>The FYI is an interest inventory based on John Holland's
                        widely accepted RIASEC&copy; theory of career choice. Students respond
                        to items by indicating a preference for the various activities
                        presented to them. Based on the answers to these questions, the
                        inventory matches the student's responses to each of six
                        interest types (RIASEC types).</p>
                    <p>Students can complete the FYI in about 10 minutes with little
                        or no assistance. The online FYI is scored
                        electronically. A paper-based version of the FYI is available in
                        <em>Exploring Careers: The ASVAB Career Exploration Guide.</em> Students
                        using this version can calculate their scores and enter them
                        manually once they login.</p>
                    <p>After scoring the FYI and considering the <a (click)="redirect('general-help#gender')">influence of gender on
                            their scores</a>,
                        students identify their three highest interest codes. Encourage
                        them to see how their scores compare to others in their gender
                        group. It may give them new ideas about their interests. For more
                        information on <a (click)="redirect('general-help#gender')">gender-specific scores visit the help section.</a>
                    </p>
                    <p><strong>Note:</strong>&nbsp;The FYI interest areas, combined with the Career
                        Exploration Scores, help students quickly identify potentially
                        satisfying occupations that relate to their skills and interests
                        using the OCCU-Find.
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto"><span class="show-for-medium">Exploring Careers in the OCCU-Find<em
                                class="pull-right glyphicon"
                                ngClass="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></em></span>
                        <span class="show-for-small-only" id="exploringCareersInTheOCCUFind">Exploring Careers in the
                            OCCU-Find<em class="pull-right glyphicon"
                                ngClass="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></em></span>
                    </mat-expansion-panel-header>
                    <p>The OCCU-Find is a catalog of careers containing detailed
                        occupational information. We've compiled relevant, reliable data in
                        an easy to navigate format so students can quickly identify
                        potentially satisfying career options and understand the
                        requirements.</p>
                    <p><strong>Each listing includes:</strong>
                    </p>
                    <ul>
                        <li>Job description and daily tasks</li>
                        <li>Interests</li>
                        <li>Relative importance of verbal, math, science/technical
                            skills</li>
                        <li>Related careers</li>
                        <li>Education requirements and institutions offering that
                            degree</li>
                        <li>Military Services offering occupations, including hot jobs
                            from each branch</li>
                        <li>Credential and licensing opportunities</li>
                        <li>Employment outlook (average earnings by state and expected
                            growth)</li>
                    </ul>
                    <p>CEP also offers participants exclusive access to a portfolio builder, My Portfolio, which gives
                        students a place to chart their achievements and
                        preferences, and produce a customizable resume-like document they
                        can share with counselors and potential employers, and refer to
                        when completing college applications.</p>
                    <p><strong>My Portfolio captures:</strong>
                    </p>
                    <ul>
                        <li>Work experience</li>
                        <li>Education</li>
                        <li>Test Scores - including ACT and SAT</li>
                        <li>Achievements</li>
                        <li>Skills</li>
                        <li>Volunteer work</li>
                        <li>Interests</li>
                        <li>Work values</li>
                        <li>"Favorite" occupations or Career Clusters</li>
                    </ul>
                </mat-expansion-panel>
            </mat-accordion>


        </section>
        <div class="medium-3 medium-pull-9 columns">
            <div class="left-sub-nav show-for-medium">
                <ul class="menu vertical" id="steps">
                    <li>
                        <h3>THE ASVAB CEP</h3>
                    </li>
                    <li class="divider"></li>
                    <li><a (click)="redirect('parents-test')">The ASVAB Test <em class="fa fa-angle-right"></em></a></li>
                    <li class="active"><a class="disabled">Post-Test Activities</a></li>
                    <li class="divider"></li>
                </ul>
            </div>
            <div id="did-you-know">
                <p><strong class="caps">Did You Know?</strong>
                </p>
                <p>Research has shown that students who participate in the
                    ASVAB CEP:</p>
                <ul>
                    <li>Experience less career indecision.</li>
                    <li>Enjoy greater confidence in making career decisions.</li>
                    <li>Consider more thoughtfully their options than students
                        who do not participate in the ASVAB CEP.</li>
                </ul>
            </div>
            <div class="left-sub-nav show-for-small-only">
                <ul class="menu vertical">
                    <li>
                        <h3>THE ASVAB CEP</h3>
                    </li>
                    <li><a (click)="redirect('parents-test')">The ASVAB Test <em class="fa fa-angle-right"></em></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>