<section>
  <div id="site-map-div">
    <!-- Main Section -->
    <section class="section-overview">
      <div class="row">
        <div class="col-md-12">
          <div class="section-description">
            <h2>ASVAB CEP and&nbsp;Federal Legislation</h2>
            <p>Federal legislation references requirements to provide well-rounded educational opportunities, which
              include career awareness and exploration activities.</p>
          </div>
          <div class="documents-list">
            <h4 class="graybigtitle">The ASVAB Career Exploration Program helps states satisfy requirements enacted by
              these federal legislations.</h4>
            <div class="row">
              <div class="col-md-12">
                <ul>
                  <li><a href="https://s3.amazonaws.com/PCRN/uploads/perkins_v.pdf" target="_blank">Carl D. Perkins
                      Career and Technical
                      Education Act of 2018 (Perkins V)</a></li>
                  <li><a href="https://www.congress.gov/114/plaws/publ95/PLAW-114publ95.pdf" target="_blank">Every
                      Student Succeeds Act
                      of 2015 (ESSA)</a></li>
                  <li><a href="https://www.congress.gov/113/plaws/publ128/PLAW-113publ128.pdf" target="_blank">Workforce
                      Innovation and
                      Opportunity Act of 2014 (WIOA)</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-overview">
      <div class="row">
        <div class="col-md-12">
          <div class="section-description">
            <h2>Guidelines for States Considering Incorporating the ASVAB CEP into Their ESSA Plans</h2>
            <p>The ASVAB CEP helps states meet career exploration mandates imposed by ESSA and Perkins V legislation.
              Several states have done a great job incorporating the ASVAB CEP into their state&rsquo;s ESSA plan. For
              example, <a
                href="https://tea.texas.gov/Academics/College_Career_and_Military_Prep/Armed_Services_Vocational_Aptitude_Battery"
                target="_blank">Texas built a portal</a> in collaboration with the ASVAB CEP that houses supporting
              documentation and gives those seeking answers to questions the ability to contact us directly. In
              addition, Austin Chamber of Commerce is involving local representatives to educate their community on the
              use of My Portfolio and to draft and disseminate communications to increase awareness and participation.
              <a href="https://www.doe.in.gov/graduation-pathways" target="_blank">Indiana Department of Education</a>
              also engaged us to deliver a webinar series to inform school counselors across the state.</p>
            <p>These ASVAB CEP resources help you collect metrics on your students&rsquo; career exploration to meet
              ESSA
              requirements:</p>
          </div>
        </div>
      </div>
      <div class="sources-option">
        <div class="row">
          <div class="col-md-12">
            <div class="sources-content-wrapper">
              <div class="sources-content-inner">
                <h4>Favorites</h4>
                <div class="sources-content">
                  <div class="sources-content-item"><a href="/pdf/ASVAB_CEP_Favorites_Example.pdf" target="_blank">
                      <div class="sources-option-title">
                        <h5>Example Favorites Page</h5><img alt="PDF" src="images/pdf_icon.png" />
                      </div>
                      <div class="sources-img"><img alt="Favorites Page" src="images/Legislation_Favoriteexample.jpg" />
                      </div>
                    </a>
                  </div>
                  <ul>
                    <li>Occupations</li>
                    <li>Colleges</li>
                    <li>Career Clusters</li>
                  </ul>
                </div>
              </div>
              <div class="sources-content-inner">
                <h4>My Portfolio</h4>
                <div class="sources-content">
                  <div class="sources-content-item"><a href="/pdf/ASVAB_CEP_Using_My_Portfoilo.pdf" target="_blank">
                      <div class="sources-option-title">
                        <h5>Using My Portfolio</h5><img alt="PDF" src="images/pdf_icon.png" />
                      </div>
                      <div class="sources-img"><img alt="My Portfolio" src="images/Legislation_portfolio.jpg" /></div>
                    </a>
                  </div>
                  <ul>
                    <li>Develop resume writing skills</li>
                    <li>Generate content for college essays</li>
                  </ul>
                </div>
              </div>
              <div class="sources-content-inner">
                <h4>Classroom activities</h4>
                <div class="sources-content">
                  <div class="sources-content-item"><a href="{{documents}}Cost_of_a_Career_Student.pdf" target="_blank">
                      <div class="sources-option-title">
                        <h5>Classroom Activitiy</h5><img alt="PDF" src="images/pdf_icon.png" />
                      </div>
                      <div class="sources-img"><img alt="Classroom Activitiy"
                          src="images/Legislation_classactivity.jpg" /></div>
                    </a>
                  </div>
                  <ul>
                    <li>Reinforce lessons learned in the classroom</li>
                  </ul>
                </div>
              </div>
            </div>
            <p style="font-size:15px;">If your state is considering legislation involving ASVAB CEP, share this
              information with policymakers, industry, and the media.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="section-overview">
      <div class="row">
        <div class="col-md-12">
          <div class="section-description">
            <h2>How ASVAB CEP Handles Data</h2>
            <p>ASVAB CEP only releases individual-level data to schools. It is at the discretion of the district and
              state to collect that data if they choose. The ASVAB CEP cannot provide information about students
              enlisting
              in the Military.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="section-overview pb-90 xs-pb-50">
      <div class="row">
        <div class="col-md-12">
          <div class="section-description text-center bg-azure">
            <p class="mb-0 p-8"><strong>Collaborate with Us:</strong> Submit inquiries, suggestions, and requests to <a
                href="mailto:asvabcep@gmail.com">asvabcep@gmail.com</a>.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>