Federal legislation references requirements to provide well-rounded educational opportunities, which
                  include career awareness and exploration activities.
<div data-type="section-break"><hr /></div>

The ASVAB CEP helps states meet career exploration mandates imposed by ESSA and Perkins V legislation.
                  Several states have done a great job incorporating the ASVAB CEP into their state&rsquo;s ESSA plan. For
                  example, <a
                    href="https://tea.texas.gov/Academics/College_Career_and_Military_Prep/Armed_Services_Vocational_Aptitude_Battery"
                    target="_blank">Texas built a portal</a> in collaboration with the ASVAB CEP that houses supporting
                  documentation and gives those seeking answers to questions the ability to contact us directly. In
                  addition, Austin Chamber of Commerce is involving local representatives to educate their community on the
                  use of My Portfolio and to draft and disseminate communications to increase awareness and participation.
                  <a href="https://www.doe.in.gov/graduation-pathways" target="_blank">Indiana Department of Education</a>
                  also engaged us to deliver a webinar series to inform school counselors across the state.
<div data-type="section-break"><hr /></div>

ASVAB CEP only releases individual-level data to schools. It is at the discretion of the district and
                  state to collect that data if they choose. The ASVAB CEP cannot provide information about students
                  enlisting
                  in the Military.
<div data-type="section-break"><hr /></div>
