<div id="legislation" class="occufind student" style="padding-top:0;">
	<app-header></app-header>
	<!-- <section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="small-7 columns">
				<ul id="sub-nav" class="menu">
						<li ng-show="occuFindUserLoggedIn" ><a href="favorites">View Favorites</a></li>
						<li><a href="media-center-article-list/5">Tutorials</a></li>
						<li><a href="general-help">Help</a></li>
				</ul>
			</div>
			<div class="small-5 columns">
				<p data-step="2">OCCU-FIND</p>
			</div>
		</div>

    </section> -->
    
    <section class="hide-for-small-only" id="banner">
        <div class="row">
            <div class="large-9 large-push-3 columns">
                <p class="caps">Federal Legislation</p>
            </div>
            <div class="large-3 large-pull-9 columns">
                <ul id="sub-nav" class="menu">
                    <li><a>&nbsp;</a></li>
                </ul>
            </div>
        </div>
    </section>
		
		<!-- <div dynamic="page.pageHtml"></div> -->
    <section>
      <div id="site-map-div">
        <!-- Main Section -->
        <section class="section-overview">
          <div class="row">
            <div class="col-md-12">
              <div class="section-description">
                <h2>ASVAB CEP and&nbsp;Federal Legislation</h2>
                <p [innerHTML]="pageHtml[0]"></p>
              </div>
              <div class="documents-list">
                <h4 class="graybigtitle">The ASVAB Career Exploration Program helps states satisfy requirements enacted by
                  these federal legislation's.</h4>
                <div class="row">
                  <div class="col-md-12">
                    <ul>
                      <li><a href="https://s3.amazonaws.com/PCRN/uploads/perkins_v.pdf" target="_blank">Carl D. Perkins
                          Career and Technical
                          Education Act of 2018 (Perkins V)</a></li>
                      <li><a href="https://www.congress.gov/114/plaws/publ95/PLAW-114publ95.pdf" target="_blank">Every
                          Student Succeeds Act
                          of 2015 (ESSA)</a></li>
                      <li><a href="https://www.congress.gov/113/plaws/publ128/PLAW-113publ128.pdf" target="_blank">Workforce
                          Innovation and
                          Opportunity Act of 2014 (WIOA)</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-overview">
          <div class="row">
            <div class="col-md-12">
              <div class="section-description">
                <h2>Guidelines for States Considering Incorporating the ASVAB CEP into Their ESSA Plans</h2>
                <p [innerHTML]="pageHtml[1]">
                </p>
                <p>These ASVAB CEP resources help you collect metrics on your students&rsquo; career exploration to meet
                  ESSA
                  requirements:</p>
              </div>
            </div>
          </div>
          <div class="sources-option">
            <div class="row">
              <div class="col-md-12">
                <div class="sources-content-wrapper">
                  <div class="sources-content-inner">
                    <h4>Favorites</h4>
                    <div class="sources-content">
                      <div class="sources-content-item"><a href="/pdf/ASVAB_CEP_Favorites_Example.pdf" target="_blank">
                          <div class="sources-option-title">
                            <h5>Example Favorites Page</h5><img alt="PDF" src="assets/images/pdf_icon.png" />
                          </div>
                          <div class="sources-img"><img alt="Favorites Page" src="assets/images/Legislation_Favoriteexample.jpg" />
                          </div>
                        </a>
                      </div>
                      <ul>
                        <li>Occupations</li>
                        <li>Colleges</li>
                        <li>Career Clusters</li>
                      </ul>
                    </div>
                  </div>
                  <div class="sources-content-inner">
                    <h4>My Portfolio</h4>
                    <div class="sources-content">
                      <div class="sources-content-item"><a href="/pdf/ASVAB_CEP_Using_My_Portfoilo.pdf" target="_blank">
                          <div class="sources-option-title">
                            <h5>Using My Portfolio</h5><img alt="PDF" src="assets/images/pdf_icon.png" />
                          </div>
                          <div class="sources-img"><img alt="My Portfolio" src="assets/images/Legislation_portfolio.jpg" /></div>
                        </a>
                      </div>
                      <ul>
                        <li>Develop resume writing skills</li>
                        <li>Generate content for college essays</li>
                      </ul>
                    </div>
                  </div>
                  <div class="sources-content-inner">
                    <h4>Classroom activities</h4>
                    <div class="sources-content">
                      <div class="sources-content-item"><a href="{{documents}}Cost_of_a_Career_Student.pdf" target="_blank">
                          <div class="sources-option-title">
                            <h5>Classroom Activity</h5><img alt="PDF" src="assets/images/pdf_icon.png" />
                          </div>
                          <div class="sources-img"><img alt="Classroom Activity"
                              src="assets/images/Legislation_classactivity.jpg" /></div>
                        </a>
                      </div>
                      <ul>
                        <li>Reinforce lessons learned in the classroom</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <p style="font-size:15px;">If your state is considering legislation involving ASVAB CEP, share this
                  information with policymakers, industry, and the media.</p>
              </div>
            </div>
          </div>
        </section>
        <section class="section-overview">
          <div class="row">
            <div class="col-md-12">
              <div class="section-description">
                <h2>How ASVAB CEP Handles Data</h2>
                <p [innerHTML]="pageHtml[2]"></p>
              </div>
            </div>
          </div>
        </section>
        <section class="section-overview pb-90 xs-pb-50">
          <div class="row">
            <div class="col-md-12">
              <div class="section-description text-center bg-azure">
                <p class="mb-0 p-8"><strong>Collaborate with Us:</strong> Submit inquiries, suggestions, and requests to <a
                    href="mailto:asvabcep@gmail.com">asvabcep@gmail.com</a>.</p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>

		<app-footer></app-footer>
</div>

