<div class="main" style="padding: 1rem; padding-bottom: 50px;">
	<div>
						<div class="modal-header">
							<h3>License Details</h3>							
							<button type="button" class="close-button" data-dismiss="modal" data-close (click)='_dialogRef.close()'>&times;</button>	
						</div>

						<div class="modal-body">
							<img src="assets/images/cos_poweredby.jpg" align="right"> 
							<h2> {{LICENSENAME }} </h2>
							<hr>
							<h3>licensing Agency</h3>
							<span *ngIf="LICENSINGAGENCY != ''">{{LICENSINGAGENCY}}</span><br> 
							<span *ngIf="LICTITLE != ''">{{LICTITLE}}</span><br>
							
							<br><h3>Description</h3>
							<span *ngIf="DESCRIPTION != ''">{{DESCRIPTION}}</span><br>
							<br>
							
							<h3>Contact Information</h3>
							<span *ngIf="LICENSEAGENCY != ''">{{LICENSEAGENCY}}</span><div></div>
							<span *ngIf="ADDRESS1 != ''">{{ADDRESS1}}</span>
							<span *ngIf="CITY != ''">{{CITY}}</span>,
							<span *ngIf="STATE != ''">{{STATE}}</span>&nbsp;
							<span *ngIf="ZIP != ''">{{ZIP}}</span> 
							<br>
							
							<span *ngIf="URL != ''">{{URL}}</span><br>
							<span *ngIf="EMAIL != ''">{{EMAIL}}</span><br>
							<span *ngIf="TELEPHONE != ''">{{TELEPHONE}}</span> 
							<hr>
						</div>
						<div class="modal-footer"></div>
		
	</div>
</div>



