<div class="mentor-group-modal">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Create Group</h3>
      <button class="close-button" (click)="close()" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-content-inner">
      <ng-container *ngIf="!isLoading">
        <form [formGroup]="mentorGroupFormGroup" class="ng-pristine ng-valid" (submit)="saveForm()">
          <div class="form-group w-100">
            <label><strong>Group Name</strong></label>
            <input type="text" class="w-100" formControlName="name">
          </div>
          <div class="text-center mt_50 mb_30">
            <button class="button" type="submit"
              [disabled]="(!mentorGroupFormGroup.dirty || !mentorGroupFormGroup.valid) || isSaving">SAVE
              <span *ngIf="isSaving" id="save-indicator"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></span>
            </button>
            <button class="button" type="button" (click)="close()">CANCEL</button>
          </div>
        </form>
      </ng-container>
      <div *ngIf="isLoading">
        <div class="row">
          <div class="small-12 column text-center">
            <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
            Loading...
          </div>
        </div>
      </div>
    </div>
  </div>
</div>