<div id="portfolio" class="occufind">
  <app-header></app-header>
  <app-my-asvab-header></app-my-asvab-header>


  <!--<app-left-navigation-v2-mobile></app-left-navigation-v2-mobile>
  <app-my-top-results-mobile></app-my-top-results-mobile>-->

  <section id="content-wrap" class="left-nav-expanded-wrap">
    <div class="row">
      <app-left-navigation-v2-expanded [selectedTab]="'learn'" (menuCollapsed)="onLeftNavCollapsed($event)"></app-left-navigation-v2-expanded>
      <section *ngIf="leftNavCollapsed" id="main-content" class="left-navigation-expanded" role="main">
        <app-my-top-results-expanded></app-my-top-results-expanded>

				<div class="complete-fyi">

					<!-- Angular code of ASVAB view score hint -->
					<!-- <div *ngIf="haveAsvabTestScores && !viewedASVABScore && !viewedASVABScoreClosedHint" class="skills-interests-career"> 
						<button type="button" (click)="closedViewScoreHint()" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
						<h4>Take a moment to understand your asvab</h4> 
						<h6>Career exploration</h6>
						<a routerLink="/find-your-interest-score" class="button">View Scores</a>
						<a (click)="completionViewScore()" class="button">Got It</a>
					</div> -->

					<!-- CCS & Angular code of ASVAB view score hint -->
					<div *ngIf="haveAsvabTestScores && !viewedASVABScore && !viewedASVABScoreClosedHint" class="skills-interests-career"> 
            <button type="button" (click)="closedViewScoreHint()" class="close" data-dismiss="modal" aria-label="Close">
              <img src="/assets/images/close-blue.svg" alt="Close" />
            </button>

            <h4 class="text-center text-lg-left mb-10">Take a moment to understand your ASVAB scores.</h4> 
            <div class="row">
              <div class="columns large-7 medium-12 text-center">
                <ul class="d-inline-block text-center text-lg-left">
                  <li class="text-left"><strong>Career Exploration Scores</strong> represent your strengths.</li>
                  <li class="text-left"><strong>Percentile scores</strong> are not the same as percent correct.</li>
                  <li class="text-left"><strong>Individual subtests</strong> are used to calculate each skill area.</li>
                  <li class="text-left">See what your <strong>AFQT score</strong> means to the Military.</li>
                </ul>
                <div class="text-center text-lg-left">
                  <a routerLink="/my-asvab-summary-results" class="button button-min-width">View Scores</a>
                  <a (click)="completionViewScore()" class="button button-min-width">Got It</a>
                </div>
              </div>
              <div class="columns large-5 medium-12">
                <div class="complete-fyi-video-tutorial">
                  <div class="complete-fyi-video-wrapper">
                    <div class="img-with-play-icon text-center">
                      <a (click)="_utility.showVideoDialog('https://www.youtube.com/embed/RM-g73droL4')" class="no-min-width" style="padding: 8px 30px 8px 50px;">
                        <img src="/assets/images/explore_careers/Tut_test_1.jpg" alt="Video Tutorial">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
					<!-- Angular code for FYI hint -->
					<!-- <div class="skills-interests-career" *ngIf="!haveInterestCodes && !completedFYIClosedHint && viewedASVABScore">
						<button type="button" (click)="closedFYIHint()" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
						<h4>Find your interest (FYI)</h4>
						<h6>Learn about your self with this interest inventory.</h6>
						<a routerLink="/find-your-interest" class="button">Take the FYI</a>
					</div> -->

					<!-- CSS & Angular code for FYI hint -->
					<div class="skills-interests-career" *ngIf="!haveInterestCodes && !completedFYIClosedHint && (viewedASVABScore || viewedASVABScoreClosedHint)"> 
            <button type="button" (click)="closedFYIHint()" class="close" data-dismiss="modal" aria-label="Close">
              <img src="/assets/images/close-blue.svg" alt="Close" />
            </button>

            <div class="row row-padding">
              <div class="columns large-7 medium-12 text-center">
                <h4 class="text-center text-lg-left mb-10">Find Your Interests (FYI)</h4> 
                <p class="mb-20">Learn about yourself with this interest inventory</p>
                <div class="text-center text-lg-left">
                  <a routerLink="/find-your-interest" class="button button-min-width">Take the FYI</a>
                  <!-- <a *ngIf="numberTestTaken == 0" (click)="openManualInput()" class="button button-min-width">Enter FYI Manually</a> -->
                </div>
              </div>
              <div class="columns large-5 medium-12">
                <div class="complete-fyi-video-tutorial">
                  <div class="complete-fyi-video-wrapper">
                    <div class="img-with-play-icon text-center">
                      <a (click)="_utility.showVideoDialog('https://www.youtube.com/embed/RM-g73droL4')" class="no-min-width">
                        <img src="/assets/images/explore_careers/Tut_test_1.jpg" alt="Video Tutorial">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

					<!-- Angular code for started occupation search -->
					<!-- <div class="skills-interests-career" *ngIf="(haveInterestCodes || completedFYIClosedHint) && (viewedASVABScore || viewedASVABScoreClosedHint) && !completedOccupationSearch && !completedOccupationSearchClosedHint">
						<button type="button" (click)="closedOccupationSearchHint()" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
						<h4>Skills + Interests = Career Satisfaction</h4>
						<h6>Use your knowledge of your skills and interests to explore careers.</h6>
						<a routerLink="/occufind-occupation-search" class="button">Start Career Exploration</a>
					</div> -->

					<!-- CSS & Angular code for started occupation search -->
					<div class="skills-interests-career" *ngIf="(haveInterestCodes || completedFYIClosedHint) && (viewedASVABScore || viewedASVABScoreClosedHint) && !completedOccupationSearch && !completedOccupationSearchClosedHint"> 
            <button type="button" (click)="closedOccupationSearchHint()" class="close" data-dismiss="modal" aria-label="Close">
              <img src="/assets/images/close-blue.svg" alt="Close" />
            </button>

            <div class="row row-padding">
              <div class="columns large-8 medium-12 text-center">
                <h4 class="text-center text-lg-left mb-10">Skills + Interests = Career Satisfaction</h4> 
                <p class="mb-20">Use your knowledge of your skills and interests to explore careers.</p>
                <div class="text-center text-lg-left">
									<a routerLink="/occufind-occupation-search" class="button button-min-width">Start Career Exploration</a>
                </div>
              </div>
              <div class="columns large-4 medium-12">
                <div class="complete-fyi-video-tutorial">
                  <div class="complete-fyi-video-wrapper">
                    <div class="img-with-play-icon text-center">
                      <a (click)="_utility.showVideoDialog('https://www.youtube.com/embed/RM-g73droL4')" class="video-padding">
                        <img src="/assets/images/explore_careers/Tut_test_1.jpg" alt="Video Tutorial">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- If created Military plan as enslisted, show hint for line score -->
          <div *ngIf="(haveInterestCodes || completedFYIClosedHint) && (viewedASVABScore || viewedASVABScoreClosedHint) && (completedOccupationSearch || completedOccupationSearchClosedHint) && hasMilitaryPlanEnlisted && !viewedLineScore && !viewedLineScoreClosedHint" class="skills-interests-career d-flex align-items-center"> 
            <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
            <p class="mb-0 bold">Curious what your scores mean to the Military?<br> Click <a target="_blank" href="{{ssoUrl}}composite-scores" (click)="completionViewLineScore()">here</a> to view your military line scores.</p>
            <button type="button" (click)="closedLineScoreHint()" class="close" data-dismiss="modal" aria-label="Close">
              <img src="/assets/images/close-blue.svg" alt="Close" />
            </button> 
          </div>

          <!-- CSS & Angular code for not completed Work Values -->
          <div *ngIf="(haveInterestCodes || completedFYIClosedHint) && (viewedASVABScore || viewedASVABScoreClosedHint) && (completedOccupationSearch || completedOccupationSearchClosedHint) && ((hasMilitaryPlanEnlisted && (viewedLineScore || viewedLineScoreClosedHint)) || !hasMilitaryPlanEnlisted) && !completedWorkValues && !completedWorkValuesClosedHint" class="skills-interests-career d-flex align-items-center"> 
            <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
            <p class="mb-0 bold">Do you want to work outside or sit comfortably at a desk? <br> Explore <a routerLink="/work-values-intro">work values</a> to learn which are more important to you</p>
            <button type="button" (click)="closedWorkValueHint()" class="close" data-dismiss="modal" aria-label="Close">
              <img src="/assets/images/close-blue.svg" alt="Close" />
            </button> 
          </div>

          <!-- Hint: CSS & Angular code for not completed more about me -->
          <div *ngIf="(haveInterestCodes || completedFYIClosedHint) && (viewedASVABScore || viewedASVABScoreClosedHint) && (completedOccupationSearch || completedOccupationSearchClosedHint) && ((hasMilitaryPlanEnlisted && (viewedLineScore || viewedLineScoreClosedHint)) || !hasMilitaryPlanEnlisted) && (completedWorkValues || completedWorkValuesClosedHint) && !completedMoreAboutMe && !completedMoreAboutMeClosedHint && guidedTipConfig?.helpLearn" class="skills-interests-career d-flex align-items-center"> 
            <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
            <p class="mb-0 bold">Need a place to document and track your likes, dislikes and experiences? Fill out More About Me.</p>
            <button type="button" (click)="closedMoreAboutMeHint()" class="close" data-dismiss="modal" aria-label="Close">
              <img src="/assets/images/close-blue.svg" alt="Close" />
            </button> 
          </div>

          <!-- CSS & Angular code for not completed more about me (Don't show this hint)-->
          <!-- <div *ngIf="(haveInterestCodes || completedFYIClosedHint) && (viewedASVABScore || viewedASVABScoreClosedHint) && (completedOccupationSearch || completedOccupationSearchClosedHint) && ((hasMilitaryPlanEnlisted && (viewedLineScore || viewedLineScoreClosedHint)) || !hasMilitaryPlanEnlisted) && (completedWorkValues || completedWorkValuesClosedHint) && !completedMoreAboutMe && !completedMoreAboutMeClosedHint" class="skills-interests-career d-flex align-items-center"> 
            <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
            <p class="mb-0 bold">Need a place to document and track your likes, dislikes and experiences? Fill out More About Me.</p>
            <button type="button" (click)="closedMoreAboutMeHint()" class="close" data-dismiss="modal" aria-label="Close">
              <img src="/assets/images/close-blue.svg" alt="Close" />
            </button> 
          </div> -->

					<!-- <div class="skills-interests-career" *ngIf="!haveInterestCodes">
						<h4>Find your interest (FYI)</h4>
						<h6>Learn about your self with this interest inventory.</h6>
						<a routerLink="/find-your-interest" class="button">Take the FYI</a>
					</div> -->
                    
          <!-- <div class="skills-interests-career" *ngIf="(haveInterestCodes || completedFYIClosedHint) && (viewedASVABScore || viewedASVABScoreClosedHint) && !completedOccupationSearch && !completedOccupationSearchClosedHint">
						<h4>Skills + Interests = Career Satisfaction</h4>
						<h6>Use your knowledge of your skills and interests to explore careers.</h6>
						<a routerLink="/occufind-occupation-search" class="button">Start Career Exploration</a>
					</div> -->
                    
          <!-- <div class="skills-interests-career" *ngIf="userCompletion && userCompletion.occufindStarted">
            <div class="skills-interests-career-explanation">
                <img src="assets/images/rounded_explanation.svg" alt="Explanation" width="29" height="29">
                <p><strong>Do you want to work outside or sit comfortably at a desk? Explore work values to learn which are more important to you.</strong></p>
            </div>
        	</div> -->
                    
        <!-- <div class="skills-interests-career"> 
            <button type="button" (click)="closedViewScoreHint()" class="close" data-dismiss="modal" aria-label="Close">
              <img src="/assets/images/close-blue.svg" alt="Close" />
            </button>

            <h4 class="text-center text-lg-left mb-10">Take a moment to understand your ASVAB scores.</h4> 
            <div class="row">
              <div class="columns large-7 medium-12 text-center">
                <ul class="d-inline-block text-center text-lg-left">
                  <li class="text-left"><strong>Career Exploration Scores</strong> represent your strengths.</li>
                  <li class="text-left"><strong>Percentile scores</strong> are not the same as percent correct.</li>
                  <li class="text-left"><strong>Individual subtests</strong> are used to calculate each skill area.</li>
                  <li class="text-left">See what your <strong>AFQT score</strong> means to the Miliary.</li>
                </ul>
                <div class="text-center text-lg-left">
                  <a routerLink="/find-your-interest-score" class="button no-min-width">View Scores</a>
                  <a (click)="completionViewScore()" class="button no-min-width">Got It</a>
                </div>
              </div>
              <div class="columns large-5 medium-12">
                <div class="complete-fyi-video-tutorial">
                  <div class="complete-fyi-video-wrapper">
                    <div class="img-with-play-icon text-center">
                      <a  class="no-min-width">
                        <img src="/assets/images/explore_careers/Tut_test_1.jpg" alt="Video Tutorial">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        
        <!-- <div class="skills-interests-career"> 
            <button type="button" (click)="closedViewScoreHint()" class="close" data-dismiss="modal" aria-label="Close">
              <img src="/assets/images/close-blue.svg" alt="Close" />
            </button>

            <div class="row">
              <div class="columns large-7 medium-12 text-center">
                <h4 class="text-center text-lg-left mb-10">Find Your Interest (FYI)</h4> 
                <p class="mb-20">Learn about yourself with this interest inentory</p>
                <div class="text-center text-lg-left">
                  <a routerLink="/find-your-interest-score" class="button no-min-width">Take the FYI</a>
                </div>
              </div>
              <div class="columns large-5 medium-12">
                <div class="complete-fyi-video-tutorial">
                  <div class="complete-fyi-video-wrapper">
                    <div class="img-with-play-icon text-center">
                      <a  class="no-min-width">
                        <img src="/assets/images/explore_careers/Tut_test_1.jpg" alt="Video Tutorial">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
                    
          <!-- <div class="skills-interests-career d-flex align-items-center"> 
            <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
            
            <p class="mb-0">Do you want to work outside or sit comfortably at a desk? Explore work values to learn which are more important to you.</p>
            
            <svg class="caret-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21.125" style="width: 20px;"><g transform="translate(377 327.125) rotate(180)"><path  fill="#bbc6d0" d="M4.6,10.6l7.3-7.3a2,2,0,0,0,0-2.7A2,2,0,0,0,9.2.6L.6,9.3h0A2,2,0,0,0,.6,12l8.6,8.6a1.936,1.936,0,0,0,1.3.6,1.612,1.612,0,0,0,1.3-.6,2,2,0,0,0,0-2.7Z" transform="translate(359.925 305.925)"></path></g></svg>  
        </div>
                    
        <div class="skills-interests-career d-flex align-items-center"> 
            <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
            
            <p class="mb-0">Select the heart icon on your favorite career to start planning.</p>
            
            <button type="button" (click)="closedViewScoreHint()" class="close" data-dismiss="modal" aria-label="Close">
              <img src="/assets/images/close-blue.svg" alt="Close" />
            </button> 
        </div> -->

		<!-- <div class="skills-interests-career d-flex align-items-center"> 
            <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
            
            <p class="mb-0">To learn more about potentially satisfying career fields select a job title in the OCCU-Find.</p>
            
            <button type="button" (click)="closedViewScoreHint()" class="close" data-dismiss="modal" aria-label="Close">
              <img src="/assets/images/close-blue.svg" alt="Close" />
            </button> 
        </div> -->

				<div *ngIf="!completedOccupationSearch" class="row add-info-card-wrapper">
					<div class="medium-6 columns">
						<div class="add-info-card disabled">
							<p class="add-info-card-title"><strong>WORK VALUES</strong></p>
							<div class="add-info-content">
								<div class="add-info-sign">
									<a  class="text-light-gray">+</a>
								</div>
							</div>
						</div>
					</div>
          <div class="medium-6 columns">
						<div class="add-info-card disabled">
							<p class="add-info-card-title"><strong>MORE ABOUT ME</strong></p>
							<div class="add-info-content">
								<div class="add-info-sign">
									<a  class="text-light-gray">+</a>
								</div>
							</div>
						</div>
					</div>
				</div>

					<div *ngIf="completedOccupationSearch" class="row add-info-card-wrapper">
            <div class="medium-6 columns">
							<div class="add-info-card">
								<p class="add-info-card-title"><strong>WORK VALUES</strong>
									<a class="add-info-card-edit" *ngIf="isWorkValueResults" href="/work-values-test">Retake</a>
								</p>
								<div class="add-info-content">
									<div class="add-info-details" *ngIf="isWorkValueResults">
										<p class="wv-status"><strong>My Top Work Values</strong></p>
										<ul class="wv-status">
				                            <li *ngFor="let w of workValueTopResults; let i = index;"><img src="assets/images/WV-{{w.TypeId}}.png"><strong>{{w.TypeId == 1 ? 'Achievement': w.TypeId == 2 ? 'Independence' : w.TypeId == 3 ? 'Recognition' : w.TypeId == 4 ? 'Relationships' : w.TypeId == 5 ? 'Support' : 'Working Conditions'}}</strong></li>
				                        </ul>
									</div>
									<div class="add-info-sign" *ngIf="!isWorkValueResults">
										<a href="/work-values-intro" class="text-light-gray">+</a>
									</div>
								</div>
							</div>
						</div>
						<div class="medium-6 columns">
							<div class="add-info-card" (click)="moreAboutMeModal()">
								<p class="add-info-card-title"><strong>MORE ABOUT ME</strong>
									<a class="add-info-card-edit" *ngIf="moreAboutMe && (moreAboutMe.likes.length > 0 || moreAboutMe.dislikes.length > 0)"><img src="assets/images/edit-icon.svg"></a>
								</p>
								<div class="add-info-content">
									<div class="add-info-details" *ngIf="moreAboutMe && (moreAboutMe.likes.length > 0 || moreAboutMe.dislikes.length > 0)">
										<p *ngIf="moreAboutMe.likes.length > 0"><strong>I’m good at:</strong></p>
										<ul>
											<li *ngFor="let like of moreAboutMe.likes" >{{like}}</li>
										</ul>
										<p *ngIf="moreAboutMe.dislikes.length > 0"><strong>I don’t like:</strong></p>
										<ul>
											<li *ngFor="let dislike of moreAboutMe.dislikes">{{dislike}}</li>
										</ul>
									</div>
									<div class="add-info-sign" *ngIf="!moreAboutMe || (moreAboutMe.likes.length == 0 && moreAboutMe.dislikes.length == 0)">
										<a  class="text-light-gray">+</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				
			<!-- TODO remove after work values is implemented  -->
          <!-- <div *ngIf="false" class="row add-info-card-wrapper">
						<div class="medium-6 columns">
							<div class="add-info-card" (click)="moreAboutMeModal()">
								<p class="add-info-card-title">
									<strong>MORE ABOUT ME</strong>
									<a href="#" class="add-info-card-edit"><img src="assets/images/edit-icon.svg"></a>	
								</p>
								<div class="add-info-content" *ngIf="moreAboutMe">
									<div class="add-info-details">
										<p><strong>I’m good at:</strong></p>
										<ul *ngFor="let like of moreAboutMe.likes">
											<li>{{like}}</li>
										</ul>
										<p><strong>I don’t like:</strong></p>
										<ul *ngFor="let dislike of moreAboutMe.dislikes">
											<li>{{dislike}}</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div> -->
                    
				</div>

  
          
      </section>
    </div>
  </section>

  <app-footer *ngIf="leftNavCollapsed"></app-footer>
</div>