.button-min-width {
    min-width: 150px;
}

.row-padding {
    padding: 5px 10px;
}

.video-padding {
    padding: 0 20px;
}

.text-lg-left {
    @media (min-width: 1024px) {
        text-align: left;
    }
}

.complete-fyi {
    margin: 0 auto;
    
    h4 {
        color: #4A4A4A;
        line-height: 1.4;
        margin-bottom: 0;
    }

    p {
        margin-bottom: 8px;
    }

    .add-info-card-wrapper {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;

        &:before, &:after {
            display: none;
        }

        .medium-6 {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            flex-direction: column;
        }

        .add-info-card {
            border: 1px solid #B8B8B8;
            min-height: 190px;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            flex-direction: column;
            height: 100%;
    
            @media (max-width: 639px) {
                margin-bottom: 20px;
            }
    
            .add-info-card-title {
                font-size: 14px;
                line-height: 19px;
                color: #4A4A4A;
                background-color: #EEEEEE;
                width: 100%;
                padding: 4px 10px;
                margin-bottom: 0;
    
                .add-info-card-edit {
                    float: right;
                    margin-top: 1px;
                    
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
            .add-info-content {
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
                flex: 1 0 auto;
                width: 100%;
                padding: 14px;
    
                .add-info-details {
                    width: 100%;
                    color: #4A4A4A;

                    p {
                        margin-bottom: 0;
                    }
    
                    ul {
                        font-weight: 600;
                        margin-left: 12px;

                        li {
                            margin-bottom: 0 !important;
                            font-weight: normal;
                        }
                    }

                    ul.wv-status {
                        margin-left: -2px;
                    }
                }
    
                .add-info-sign {
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-align-items: center;
                    align-items: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    font-size: 70px;
                    line-height: normal;
                    font-weight: bold;
                    width: 100%;
        
                    a:hover {
                        color: #4C44AC;
                        opacity: 0.8;
                        text-decoration: none;
                    }
                }
            }
            
    
            &.disabled {
                background-color: rgba(177, 177, 177, 0.1);
                border: none;
                pointer-events: none;
                
                .add-info-card-title {
                    color: #C0C0C0;
                    background-color: transparent;
                }
    
                .add-info-sign {
                    a {
                        color: #D4D4D4;
                    }
                }
            }
    
            &.add-new-info {
                background-color: rgba(76, 68, 172, 0.1);
    
                .add-info-card-title {
                    background-color: transparent;
                }
    
            }
        }
    } 
}

.wv-status > li {
padding: 5px;
}
.wv-status > li > strong {
padding-left: 10px;
}