.occufind .button {
    border: none;
}
.left-navigation-expanded {
    @media (max-width: 639px) {
        padding-bottom: 0;
    }
}
.explore-career {

    @media (max-width: 639px) {
        margin: 0 -15px;
    }

    &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 10000px;
        right: 100%;
        top: 0;
        background-color: #eee;
    }
}

@media (min-width: 640px) {
    .mobile-show {
        display: none;        
    }
}
.note-icon .mobile-show {
    margin-top: -4px;
}

@media (max-width: 639px) {
    .mobile-hide {
        display: none;
    }

    .explore {
        #main-content.left-navigation-expanded:not(.columns) {
            padding-bottom: 0;
        }
    }

}

// Complete fyi video tutorial
.complete-fyi-video-tutorial {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    text-align: left;
    
    @media (max-width: 991px) {
        border-bottom: 1px solid #CDCDCD;
        padding-bottom: 10px;
        margin-bottom: 10px;
        width: 100%;
    }

    @media (max-width: 480px) {
        display: inline-block;
    }

    .complete-fyi-video-content {
        max-width: calc(100% - 220px);
        width: 100%;

        @media (max-width: 480px) {
            max-width: 100%;
        }

        p {
            color: #000000;
            margin-bottom: 0;
        }
        a {
            font-size: 16px;
            line-height: 22px;
        }
    }

    .complete-fyi-video-wrapper {
        max-width: 168px;
        width: 100%;

        @media (max-width: 480px) {
            margin-top: 15px;
            margin-bottom: 12px;
            max-width: 100%;
        }

        .img-with-play-icon {
            position: relative;

            .video-play {
                max-width: 40px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

// Career exploration section
.career-exploration-section {

    @media (max-width: 639px) {
        padding: 0 15px;
    }

    .career-exploration-content {
        p {
            margin-bottom: 0;
        }
        .text-l-gray {
            color: #4A4A4A;
        }
        .start-career-btn {
            font-size: 14px;
            line-height: 24px;
            color: #fff;
            font-weight: bold;
            display: block;
            max-width: 264px;
            padding: 8px 20px;
            margin: 10px auto 25px;
            width: 100%;
        }
    }
    .custom-full {
        max-width: 100%;
    }
}

.mobile-show .complete-fyi-video-tutorial {
    background-color: rgba(45, 162, 167, 0.13);
    margin: 20px -15px;
    width: auto;
    padding: 15px;
    border: 0;
    display: flex;
    
    .complete-fyi-video-content {
        margin-right: 15px;
    }
}

.skills-interests-career {
    background-color: rgba(45, 162, 167, 0.13);
    color: #4A4A4A;
    border: 1px solid rgba(184, 184, 184, 0.13);
    text-align: center;
    // padding: 26px 18px 22px;
    // margin-top: 30px;
    // margin-bottom: 30px;
    margin: 20px auto;
    padding: 10px 18px;
    
    h4 {
        font-size: 21px;
        font-weight: bold;
        color: #4A4A4A !important;

        @media (max-width: 359px) {
            font-size: 20px;
        }
    }
    h6 {
        line-height: normal;
        margin-top: 3px;
        margin-bottom: 20px;
    }
    p {
        font-size: 14px;
        text-align: left;
        margin-bottom: 0;
    }
    a {
        font-size: 14px !important;
        line-height: 24px;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        display: inline-block;
        min-width: 204px;
        padding: 8px 40px !important;
        margin: 0 auto;

        @media (max-width: 359px) {
            padding: 8px 20px !important;
        }
    }
    .hint_link {
        font-size: inherit !important;
        font-weight: normal;
        color: #4a4a4a;
        text-transform: inherit;
        min-width: inherit;
        padding: 0 !important;
    }
}

.favorite-box {
    border: 1px solid #B8B8B8;

    + .favorite-box {
        margin-top: 20px;
        position: relative;

        @media (max-width: 639px) {
            padding-top: 20px;
            margin-top: 0;
            border-top: 1px solid #B8B8B8;
        }
    }

    @media (max-width: 639px) {
        border: none;
    }

    h6 {
        font-size: 14px;
        line-height: 19px;
        color: #4A4A4A;
        margin-bottom: 0;
    }

    .favorite-box-title {
        background-color: #EEEEEE;
        padding: 7px 10px;

        @media (max-width: 639px) {
            font-size: 21px;
            line-height: 19px;
            text-align: center;
            background-color: transparent 
        }

        span {
            float: right;

            @media screen and (min-width: 640px) and (max-width: 680px) {
                float: none;
                display: inline-block;
                width: 100%;
            }

            @media (max-width: 639px) {
                font-size: 14px;
                float: none;
                display: block;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            @media screen and (max-width: 480px) {
                float: none;
                display: inline-block;
                width: 100%;
            }
        }
    }

    .favorite-box-content {
        display: flex;
        align-items: center;
        color: #4A4A4A;
        padding: 15px 15px 20px;
        width: 100%;

        @media screen and (max-width: 639px) {
           justify-content: center;
        }

        .favorite-box-img-block {
            margin-right: 20px;
        }

        .favorite-box-details {
            width: 100%;
            position: relative;

            @media screen and (max-width: 639px) {
                width: auto;
            }
        }

        p {
            margin-bottom: 0;
        }
    }
    // Explore2 Careers Tab
    .favorite-box-content-list {
        display: inline-block;
        padding: 15px 15px 0;

        @media (max-width: 639px) {
            background-color: #F9F8F8;
            padding: 0;
        }

        .favorite-checkmark-box-block {
            display: flex;
            align-items: center;
            width: 100%;
            position: relative;

            @media (max-width: 639px) {
                background-color: #EEEEEE;
                padding: 12px 15px;
            }

            .dropdown-arrow {
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid #2E2A6A;
                margin-left: auto;

                &.active {
                    border-top: 0;
                    border-bottom: 10px solid #2E2A6A;
                }

                @media (min-width: 640px) {
                    display: none;
                }
            }

            .checkmark-box {
                display: flex;
                float: left;
                margin-right: 10px;
            }
        }
        .custom-bottom-space {
            padding-bottom: 25px;

            @media screen and (max-width: 639px) { 
                padding-bottom: 15px;
            }
        }
        // favorite box details
        .favorite-box-details {
            padding-top: 15px;

            @media screen and (max-width: 639px) { 
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 0;
            }

            &.hide-collapse {
                @media screen and (max-width: 639px) { 
                    height: 0;
                    overflow: hidden;
                    transition: 0.3s;
                }
            }

            &.show-expand {
                @media screen and (max-width: 639px) { 
                    height: 95px;
                    transition: 0.3s;
                }
            }

            .favorite-box-details-list {
                display: inline-block;
                list-style: none;
                padding: 0;
                margin: 0;
                width: 100%;

                @media screen and (max-width: 639px) {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }

                .custom-width-35 {
                    width: 35%;

                    @media screen and (max-width: 639px) {
                        width: 70%;
                    }
                }
                .custom-width-15 {
                    width: 15%;

                    @media screen and (max-width: 639px) {
                        width: 10%;
                    }
                }

                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    float: left;
                    margin-bottom: 0 !important;
                    text-align: center;
                    line-height: normal !important;
                    padding: 7px 8px;
                    height: 40px;

                    @media screen and (min-width: 640px) and (max-width: 892px) {
                        width: 50% !important;
                    }


                    &.create-plan {
                        @media screen and (max-width: 639px) {
                            order: 4;
                            width: 100% !important;
                            border-top: 1px solid #979797;
                        }
                    }

                    &:before {
                        content: '' !important;
                        border-left: 1px solid #979797;
                        width: 1px;
                        left: 0 !important;
                        height: 100%;

                        @media screen and (max-width: 639px) { 
                            display: none;
                        }
                    }

                    &:first-child:before {
                        display: none;
                    }

                    a {
                        font-size: 14px;

                        b {
                            margin-right: 4px;
                        }
                    }
                }

                .create-plan {
                    a.create-plan-btn {
                        margin: 0;
                        background-color: #eee;
                        color: #4C44AC;
                        padding: 5px 15px;
                        text-transform: none;

                        @media screen and (max-width: 639px) { 
                            background-color: transparent;
                        }

                        i {
                            margin-left: 6px;
                        }
                    }
                }
                
                .favorite-meter {
                    @media screen and (min-width: 640px) and (max-width: 686px) {
                        display: inline-block;
                        padding: 0;
                    }

                    @media screen and (max-width: 639px) {
                        display: flex;
                        padding: 0 8px 0 0;
                        height: auto;
                        justify-content: flex-start
                    }
                    
                    span {
                        font-size: 12px;
                        margin-right: 10px;
                        float: left;
        
                        @media screen and (min-width: 640px) and (max-width: 686px) {
                            float: none;
                            display: inline-block;
                            width: 100%;
                        }
                    }
                    
                    .favorites-icon {
                        @media screen and (max-width: 639px) {
                            display: flex;
                        }
                    }
                    
                    svg {
                        width: 13px;
                        vertical-align: middle;
                        margin: 3px;
                    }
                }
                .icons {
                    @media screen and (min-width: 640px) and (max-width: 892px) {
                        border-top: 1px solid #979797;
                    }

                    a {
                        @media screen and (max-width: 639px) {
                            b {
                                display: none;
                            }
                        }
                    }
                }
                .note {
                    &:before {
                        @media screen and (max-width: 892px) {
                            display: none;
                        }
                    }
                }
                .remove {
                    padding-right: 0;

                    @media screen and (max-width: 892px) {
                        display: flex;
                        padding-right: 8px;
                    }
                    
                    .remove-icon {
                        img {
                            position: relative;
                            top: -2px;
                        }
                    }
                }
            }
        }
        // favorite box icon
        .favorite-box-icon {
            margin: 0;

            .favorite-box-details-list{
                @media screen and (max-width: 767px) {
                    display: flex;
                    justify-content: center;
                    margin: 0 auto;
                }
                    
                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    float: left;
                    margin-bottom: 0 !important;
                    text-align: center;
                    line-height: normal !important;
                    padding: 0px 20px;
                    height: auto;
                    
                    @media (min-width: 640px) {
                        &.icons {
                            height: 20px;
                        }
                    }

                    &:before {
                        content: '' !important;
                        border-left: 1px solid #979797;
                        width: 1px;
                        left: 0 !important;
                        height: 100%;

                        @media screen and (max-width: 639px) {
                            display: none;
                        }
                    }

                    &:first-child:before {
                        display: none;
                    }
                }

                .create-plan {
                    a.create-plan-btn {
                        margin: 0;
                        background-color: #eee;
                        color: #4C44AC;
                        padding: 5px 15px;
                        text-transform: none;

                        i {
                            margin-left: 6px;
                        }
                    }
                }

                .favorite-meter {
                    span {
                        font-size: 12px;
                        margin-right: 10px;
                        float: left;
                    }
                    .favorites-icon {
                        float: left;
                    }
                }
                .remove {
                    padding-right: 0;

                    @media screen and (max-width: 892px) {
                        padding-right: 8px;
                    }

                    @media screen and (min-width: 768px) and (max-width: 785px) {
                        padding-right: 0px;
                    }
                    
                    .remove-icon {
                        .d-hide {
                            opacity: 0;
                            font-size: 0;
                        }
                        img {
                            position: relative;
                            top: -2px;
                        }
                    }
                }

                a {
                    @media screen and (max-width: 639px) {
                        font-size: 0;
                    }
                }
            }
        }
        .custom-width-67 {
            width: 67%;

            @media screen and (max-width: 912px) {
                width: 57%;
            }

            @media screen and (max-width: 639px) {
                width: 70%;
            }
        }
        .custom-width-33 {
            width: 33%;

            @media screen and (max-width: 912px) {
                width: 43%;
            }

            @media screen and (max-width: 639px) {
                width: 30%;
            }
        }
        
        p {
            margin-bottom: 0;
        }
    }
    .border-bottom {
        border-bottom: 1px solid #CDCDCD;

        @media screen and (max-width: 639px) {
            border: none;
        }
    }
    .favorite-box-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #EEEEEE;
        padding: 7px 10px;

        @media screen and (max-width: 639px) {
            background-color: transparent;
            flex-direction: column;
            padding: 20px 10px 30px;
        }

        p {
            font-size: 14px;
            color: #4A4A4A;
            margin-bottom: 0;
        }

        a {
            margin-right: 0;
            margin-bottom: 0;
            border: 0;

            @media screen and (max-width: 639px) {
                margin-top: 10px;
            }
        }
    }
}

// Styled Checkbox Start
.styled-checkbox {
    position: absolute;
    opacity: 0;

    & + label.styled-checkbox-label {
        position: relative;
        cursor: pointer;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        width: 20px;
        height: 20px;
        border-radius: 3px;
        overflow: hidden;

        &:before {
            content: '';
            border: 1px solid #C2D1D9;
            border-radius: 4px;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    // Disabled state label.
    &:disabled + label {
        color: #b8b8b8;
        cursor: auto;

        &:before {
            box-shadow: none;
            background: #E0E8EC;
            margin-left: 0;
            margin-right: 0;
        }
    }

    // Checkmark - Could be replaced with an image
    &:checked + label:after {
        content: "";
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%) rotate(45deg);
        -ms-transform: translate(-50%,-50%) rotate(45deg);
        transform: translate(-50%,-50%) rotate(45deg);
        width: 5px;
        height: 10px;
        border: solid #2aafb4;
        border-width: 0 2px 2px 0;
        margin-top: -1px;
        position: absolute;
    }
}

.occufind #content-wrap.left-nav-expanded-wrap {
    padding-bottom: 0;
}

.bold {
    font-weight: bold;
}

.button-min-width {
    min-width: 150px;
}

.row-padding {
    padding: 5px 10px;
}

.video-padding {
    padding: 0 20px;
}

.text-lg-left {
    @media (min-width: 1024px) {
        text-align: left;
    }
}

.complete-fyi {
    margin: 0 auto;
    
    h4 {
        color: #4A4A4A;
        line-height: 1.4;
        margin-bottom: 0;
    }

    p {
        margin-bottom: 8px;
    }

    .add-info-card-wrapper {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;

        .medium-6 {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            flex-direction: column;
        }

        .add-info-card {
            border: 1px solid #B8B8B8;
            min-height: 190px;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            flex-direction: column;
            height: 100%;
    
            @media (max-width: 639px) {
                margin-bottom: 20px;
            }
    
            .add-info-card-title {
                font-size: 14px;
                line-height: 19px;
                color: #4A4A4A;
                background-color: #EEEEEE;
                width: 100%;
                padding: 4px 10px;
                margin-bottom: 0;
    
                .add-info-card-edit {
                    float: right;
                    margin-top: 1px;
                    
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
            .add-info-content {
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
                flex: 1 0 auto;
                width: 100%;
                padding: 14px;
    
                .add-info-details {
                    width: 100%;
                    color: #4A4A4A;

                    p {
                        margin-bottom: 0;
                    }
    
                    ul {
                        font-weight: 600;
                        margin-left: 12px;

                        li {
                            margin-bottom: 0 !important;
                            font-weight: normal;
                        }
                    }
                }
    
                .add-info-sign {
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-align-items: center;
                    align-items: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    font-size: 70px;
                    line-height: normal;
                    font-weight: bold;
                    width: 100%;
        
                    a:hover {
                        color: #4C44AC;
                        opacity: 0.8;
                        text-decoration: none;
                    }
                }
            }
            
    
            &.disabled {
                background-color: rgba(177, 177, 177, 0.1);
                border: none;
                pointer-events: none;
                
                .add-info-card-title {
                    color: #C0C0C0;
                    background-color: transparent;
                }
    
                .add-info-sign {
                    a {
                        color: #D4D4D4;
                    }
                }
            }
    
            &.add-new-info {
                background-color: rgba(76, 68, 172, 0.1);
    
                .add-info-card-title {
                    background-color: transparent;
                }
    
            }
        }
    } 
}

.wv-status > li {
padding: 5px;
}
.wv-status > li > strong {
padding-left: 10px;
}


// .favorite-modals {
//     max-width: 743px;
//     width: 100%;
//     border: 1px solid #C2D2D9;
//     padding: 8px;
//     border-radius: 5px;

//     .modal-header {
//         position: relative;

//         .close-button {
//             font-size: 1.5rem;
//             line-height: 1;
//             color: #2f2a6a;
//             font-weight: normal;
//             text-shadow: 0 1px #fff;
//             position: absolute;
//             top: 50%;
//             right: 10px;
//             transform: translateY(-50%);
//             opacity: 1;

//             &:focus {
//                 outline: none;
//             }
//         }

//         .modal-title {
//             font-size: 16px;
//             font-weight: bold;
//             color: #505D68;
//             background-color: #EEEEEE;
//             padding: 5px 40px 5px 10px;
//             margin-bottom: 10px;
//         }
//     }

//     .modal-body {
//         padding: 15px 20px;

//         ul {
//             list-style: decimal !important;
//             margin: 0 0 0 15px;

//             li {
//                 margin-bottom: 15px !important;

//                 &:before {
//                     display: none;
//                 }

//                 &:last-child {
//                     margin-bottom: 0 !important;
//                 }
//             }
//         }

//         .button {
//             padding: 8px 32px;
//             font-size: 14px;
//             margin: 0;

//             @media (max-width: 639px) {
//                 margin-top: 10px;
//                 margin-bottom: 20px;
//             }
//         }
//     }

//     &-button-wrapper {
//         display: flex;
//         flex-direction: column;

//         @media (min-width: 640px) {
//             flex-direction: row;
//             align-items: center;
//             justify-content: space-between;
//         }
//     }

//     &-img-wrapper {
//         display: flex;
//         justify-content: space-between;
//         flex-wrap: wrap;

//         & > div {
//             max-width: calc(50% - 30px);
//             width: 100%;
//             display: flex;
//             flex-direction: column;
//             position: relative;

//             @media (max-width: 639px) {
//                 max-width: 100%;
//             }

//             img {
//                 max-width: 300px;
//                 width: 100%;
//                 margin-top: auto;

//                 @media (max-width: 639px) {
//                     margin: 0 auto;
//                 }
//             }

//             &.favorite-modals-img-right {

//                 @media (max-width: 639px) {
//                     padding-top: 30px;
//                     margin-top: 30px;
//                 }


//                 &:before {
//                     content: '';
//                     position: absolute;
//                     height: 100%;
//                     width: 1px;
//                     top: 0;
//                     left: -30px;
//                     background-color: #979797;

//                     @media (max-width: 639px) {
//                         width: 100%;
//                         height: 1px;
//                         left: 0;
//                         top: 0;
//                     }
//                 }

//                 &:after {
//                     content: 'OR';
//                     font-size: 14px;
//                     font-weight: bold;
//                     color: #4A4A4A;
//                     position: absolute;
//                     top: 50%;
//                     transform: translateY(-50%);
//                     left: -40px;
//                     padding: 20px 0;
//                     background-color: #fff;

//                     @media (max-width: 639px) {
//                         top: -9px;
//                         left: 50%;
//                         transform: translateX(-50%);
//                         padding: 0 20px;
//                     }
//                 }
//             }
//         }
//     }

//     &.favorite-school-modal {
//         max-width: 579px;
//     }

//     &.favorite-career-cluster-modal {
        
//         .favorite-modals-img-right {
//             @media (max-width: 639px) {
//                 padding-top: 0;
//                 margin-top: 15px;
//             }

//             &:before {
//                 display: none;
//             }

//             &:after {
//                 display: none;
//             }
//         }

//         .favorite-modals-img-wrapper {
//             position: relative;

//             + .favorite-modals-img-wrapper {
//                 padding-top: 30px;
//                 margin-top: 30px;

//                 &:before {
//                     content: '';
//                     position: absolute;
//                     width: 50%;
//                     height: 1px;
//                     left: 0;
//                     top: 0;
//                     background-color: #979797;

//                     @media (max-width: 639px) {
//                         width: 100%;
//                     }
//                 }

//                 &:after {
//                     content: 'OR';
//                     font-size: 14px;
//                     font-weight: bold;
//                     color: #4A4A4A;
//                     position: absolute;
//                     top: -9px;
//                     left: 25%;
//                     transform: translateX(-50%);
//                     padding: 0 20px;
//                     background-color: #fff;

//                     @media (max-width: 639px) {
//                         left: 50%;
//                     }
//                 }
//             }
//         }
//     }
// }