<div id="portfolio" class="occufind">
  <app-header></app-header>
  <app-my-asvab-header></app-my-asvab-header>

  <section id="content-wrap" class="left-nav-expanded-wrap explore">
    <div class="row">
      <app-left-navigation-v2-expanded [selectedTab]="'explore'" (menuCollapsed)="onLeftNavCollapsed($event)"></app-left-navigation-v2-expanded>
      <!--<app-left-navigation-v2-collapsed class="mobile-show" [selectedTab]="'explore'"></app-left-navigation-v2-collapsed>-->
      <section *ngIf="leftNavCollapsed" id="main-content" class="left-navigation-expanded" role="main">
        <app-my-top-results-collapsed class="mobile-hide" [collapsedVersion]="'v1'"></app-my-top-results-collapsed>
        <div class="explore-career">

        <!-- <div *ngIf="!completedOccupationSearch || !viewedCareerDetail || this.favoriteLength === 0"> -->
        <div *ngIf="this.favoriteLength === 0">

            <!-- Angular code for haven't started occupation search  -->
            <!-- <div *ngIf="!completedOccupationSearch && !completedOccupationSearchClosedHint" class="complete-fyi-video-tutorial">
              <div class="complete-fyi-video-content">
                <p><b>Video Tutorial:</b></p>
                <a href="/occufind-occupation-search">Exploring the OCCU-Find</a>
                <p>The OCCU-Find catalogs over 1000 careers available to you!</p>
              </div>
              <div class="complete-fyi-video-wrapper">
                <div class="img-with-play-icon">
                  <a (click)="_utility.showVideoDialog('6yNpUTuksa4')">
                    <img src="/assets/images/explore_careers/Tut_test_3.jpg" alt="Video Tutorial">
                  </a>
                </div>
              </div>
            </div> -->

            <!-- <div *ngIf="!completedOccupationSearch && !completedOccupationSearchClosedHint" class="skills-interests-career">
              <button type="button" (click)="closedOccupationSearchHint()" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
              <h4>Skills + Interests = Career Satisfaction</h4>
              <h6>Use your knowledge of your skills and interests to explore careers.</h6>
              <a routerLink="/occufind-occupation-search" class="button">Start Career Exploration</a>
            </div> -->

            <!-- Hint: CSS & Angular code for haven't started occupation search  -->            
            <div class="skills-interests-career" *ngIf="!completedOccupationSearch && !completedOccupationSearchClosedHint"> 
              <button type="button" (click)="closedOccupationSearchHint()" class="close" data-dismiss="modal" aria-label="Close">
                <img src="/assets/images/close-blue.svg" alt="Close" />
              </button>
  
              <div class="row row-padding">
                <div class="columns large-8 medium-12 text-center">
                  <h4 class="text-center text-lg-left mb-10">Skills + Interests = Career Satisfaction</h4> 
                  <p class="mb-20">Use your knowledge of your skills and interests to explore careers.</p>
                  <div class="text-center text-lg-left" style="margin-top: 10px">
                    <a routerLink="/occufind-occupation-search" class="button button-min-width">Start Career Exploration</a>
                  </div>
                </div>
                <div class="columns large-4 medium-12">
                  <div class="complete-fyi-video-tutorial">
                    <div class="complete-fyi-video-wrapper">
                      <div class="img-with-play-icon text-center">
                        <a (click)="_utility.showVideoDialog('https://www.youtube.com/embed/RM-g73droL4')" style="padding: 0 15px !important">
                          <img src="/assets/images/explore_careers/Tut_test_1.jpg" alt="Video Tutorial">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- Angular code for completed search but haven't viewed detail OR favorited occupation -->
            <div *ngIf="(completedOccupationSearch || completedOccupationSearchClosedHint) && (!favoritedOccupationClosedHint || !viewedCareerDetailClosedHint || !viewedCareerDetail || this.favoriteLength === 0)"  class="career-exploration-section">
              <div class="career-exploration-content custom-full">
                <p class="text-l-gray"><b>This is where it all comes together.</b></p>
                <p>The OCCU-Find catalogs 1000s of career options available to you! Once you have saved your favorite occupation, you can begin to compare and plan.</p>
                  
                <div class="mobile-show">
                  <div class="complete-fyi-video-tutorial">
                    <div class="complete-fyi-video-content">
                      <p><b>Video Tutorial:</b></p>
                      <a href="/occufind-occupation-search">Exploring the OCCU-Find</a>
                      <p class="mobile-hide">The OCCU-Find catalogs over 1000 careers available to you!</p>
                    </div>
                    <div class="complete-fyi-video-wrapper">
                      <div class="img-with-play-icon">
                        <a (click)="_utility.showVideoDialog('6yNpUTuksa4')">
                          <img src="/assets/images/explore_careers/Tut_test_3.jpg" alt="Video Tutorial">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <a routerLink="/occufind-occupation-search" class="button start-career-btn">Start Career Exploration</a>
              </div>

              <!-- Angular code for not viewed career detail  -->
              <!-- <div *ngIf="!viewedCareerDetail && !viewedCareerDetailClosedHint" class="skills-interests-career">
                <button type="button" (click)="closedViewDetailHint()" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
                <h6>To learn more about potentially satisfying career fields select a job title in the OCCU-Find.</h6>
              </div> -->

              <!-- Hint: CSS & Angular code for not viewed career detail  -->
              <div *ngIf="!viewedCareerDetail && !viewedCareerDetailClosedHint" class="skills-interests-career d-flex align-items-center"> 
                <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
                <p class="mb-0 bold">To learn more about potentially satisfying career fields, select a job title in the OCCU-Find.</p>
                <button type="button" (click)="closedViewDetailHint()" class="close" data-dismiss="modal" aria-label="Close">
                  <img src="/assets/images/close-blue.svg" alt="Close" />
                </button> 
              </div>

              <!-- Angular code for not favorited career  -->
              <!-- <div *ngIf="(viewedCareerDetail || viewedCareerDetailClosedHint) && this.favoriteLength === 0 && !favoritedOccupationClosedHint" class="skills-interests-career">
                <button type="button" (click)="closedFavoritedOccupationHint()" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
                <h6>You can save your favorite careers to start planning. Click on the heart icon on the career detail page.</h6>
              </div> -->

              <!-- Hint: CSS & Angular code for not favorited career  -->
              <div *ngIf="(viewedCareerDetail || viewedCareerDetailClosedHint) && this.favoriteLength === 0 && !favoritedOccupationClosedHint" class="skills-interests-career d-flex align-items-center"> 
                <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
                <p class="mb-0 bold">You can save your favorite careers to start planning. Click on the heart
                  icon on the career detail page.</p>
                <button type="button" (click)="closedFavoritedOccupationHint()" class="close" data-dismiss="modal" aria-label="Close">
                  <img src="/assets/images/close-blue.svg" alt="Close" />
                </button> 
              </div>

              <!-- Hint: CSS & Angular code for not completed Work Values -->
              <div *ngIf="(viewedCareerDetail || viewedCareerDetailClosedHint) && this.favoriteLength === 0 && favoritedOccupationClosedHint && !completedWorkValues && !completedWorkValuesClosedHint" class="skills-interests-career d-flex align-items-center"> 
                <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
                <p class="mb-0">Do you want to work outside or sit comfortably at a desk? <br> Explore <a class="hint_link" routerLink="/work-values-intro">work values</a> to learn which are more important to you</p>
                <button type="button" (click)="closedWorkValueHint()" class="close" data-dismiss="modal" aria-label="Close">
                  <img src="/assets/images/close-blue.svg" alt="Close" />
                </button> 
              </div>
            </div>

            <div class="favorite-box">
              <h6 class="favorite-box-title"><b>Favorite Occupation</b> <span>(You can save up to 10 occupations)</span></h6>
              <div class="favorite-box-content">
                <div class="favorite-box-img-block">
                  <img src="/assets/images/explore_careers/heart_add.svg" alt="Heart with Add sign">
                </div>
                <div class="favorite-box-details">
                  <h6><b>You have no saved Occupations.</b></h6>
                  <a (click)="learnHow('favorite-occupation')">Learn how</a>
                </div>
              </div>
              <div *ngIf="favoriteList && favoriteList.length > 0" class="favorite-box-footer">
                <p>Select 2 or more occupations to compare.</p>
                <a class="button" style="pointer-events: none; background: rgb(190, 190, 190)">Compare occupations</a>
              </div>
            </div>
            <div class="favorite-box">
              <h6 class="favorite-box-title"><b>Favorite Colleges</b> <span>(You can save up to 10 colleges)</span></h6>
              <div class="favorite-box-content">
                <div class="favorite-box-img-block">
                  <img src="/assets/images/explore_careers/heart_add.svg" alt="Heart with Add sign">
                </div>
                <div class="favorite-box-details">
                  <h6><b>You have no saved Colleges.</b></h6>
                  <a (click)="learnHow('favorite-college')">Learn how</a>
                </div>
              </div>
            </div>
            <div class="favorite-box">
              <h6 class="favorite-box-title"><b>Favorite Career Cluster</b> <span>(You can save up to 2 career clusters)</span></h6>
              <div class="favorite-box-content">
                <div class="favorite-box-img-block">
                  <img src="/assets/images/explore_careers/heart_add.svg" alt="Heart with Add sign">
                </div>
                <div class="favorite-box-details">
                  <h6><b>You have no saved Career Clusters.</b></h6>
                  <a (click)="learnHow('favorite-cc')">Learn how</a>
                </div>
              </div>
            </div>				
  
        </div>
  
        <!-- If user has been to Occufind result page -->
        <!-- <div *ngIf="completedOccupationSearch && viewedCareerDetail && this.favoriteLength > 0"> -->
        <div *ngIf="this.favoriteLength > 0">
  
          <div class="career-exploration-section">
            <div class="career-exploration-content custom-full">
              <p class="text-l-gray"><b>This is where it all comes together.</b></p>
              <p>The OCCU-Find catalogs 1000s of career options available to you! Once you have saved your favorite occupation, you can begin to compare and plan.</p>
                
              <div class="mobile-show">
                <div class="complete-fyi-video-tutorial">
                  <div class="complete-fyi-video-content">
                    <p><b>Video Tutorial:</b></p>
                    <a href="/occufind-occupation-search">Exploring the OCCU-Find</a>
                    <p class="mobile-hide">The OCCU-Find catalogs over 1000 careers available to you!</p>
                  </div>
                  <div class="complete-fyi-video-wrapper">
                    <div class="img-with-play-icon">
                      <a (click)="_utility.showVideoDialog('6yNpUTuksa4')">
                        <img src="/assets/images/explore_careers/Tut_test_3.jpg" alt="Video Tutorial">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <a routerLink="/occufind-occupation-search" class="button start-career-btn">Start Career Exploration</a>
            </div>

            <!-- Hint: CSS & Angular code for not created plan -->
            <div *ngIf="(viewedCareerDetail || viewedCareerDetailClosedHint) && favoriteLength > 0 && userOccupationPlans && userOccupationPlans.length === 0" class="skills-interests-career d-flex align-items-center"> 
              <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
              <p class="mb-0 bold">Map out the action steps you will take to make your goal a realty.<br>Create one plan or many!</p>
              <button type="button" (click)="closedCreatePlanHint()" class="close" data-dismiss="modal" aria-label="Close">
                <img src="/assets/images/close-blue.svg" alt="Close" />
              </button> 
            </div>

            <!-- Hint: CSS & Angular code for not completed Work Values -->
            <div *ngIf="(viewedCareerDetail || viewedCareerDetailClosedHint) && favoriteLength > 0 && (userOccupationPlans && userOccupationPlans.length > 0 || createdPlanClosedHint) && !completedWorkValues && !completedWorkValuesClosedHint" class="skills-interests-career d-flex align-items-center"> 
              <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
              <p class="mb-0">Do you want to work outside or sit comfortably at a desk? <br> Explore <a class="hint_link" routerLink="/work-values-intro">work values</a> to learn which are more important to you</p>
              <button type="button" (click)="closedWorkValueHint()" class="close" data-dismiss="modal" aria-label="Close">
                <img src="/assets/images/close-blue.svg" alt="Close" />
              </button> 
            </div>

            <!-- Hint: CSS & Angular code for fav 2 or more from same CC -->
            <div *ngIf="(viewedCareerDetail || viewedCareerDetailClosedHint) && favoriteLength > 0 && (userOccupationPlans && userOccupationPlans.length > 0 || createdPlanClosedHint) && (completedWorkValues || completedWorkValuesClosedHint) && showFavCCTip && !showFavCCTipClosedHint" class="skills-interests-career d-flex align-items-center"> 
              <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
              <p class="mb-0">You can save your favorite <a class="hint_link" routerLink="/career-cluster">Career Clusters</a>.</p>
              <button type="button" (click)="closedShowFavCCHint()" class="close" data-dismiss="modal" aria-label="Close">
                <img src="/assets/images/close-blue.svg" alt="Close" />
              </button> 
            </div>
            
            <!-- Hint: CSS & Angular code for haven't started more about me -->
            <div *ngIf="(viewedCareerDetail || viewedCareerDetailClosedHint) && favoriteLength > 0 && (userOccupationPlans && userOccupationPlans.length > 0 || createdPlanClosedHint) && (completedWorkValues || completedWorkValuesClosedHint) && (!showFavCCTip || showFavCCTipClosedHint) && !completedMoreAboutMe && !completedMoreAboutMeClosedHint && guidedTipConfig?.helpLearn" class="skills-interests-career d-flex align-items-center"> 
              <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
              <p class="mb-0 bold">Need a place to document and track your likes, dislikes and experiences? Fill out More About Me.</p>
              <button type="button" (click)="closedMoreAboutMeHint()" class="close" data-dismiss="modal" aria-label="Close">
                <img src="/assets/images/close-blue.svg" alt="Close" />
              </button> 
            </div>

            <!-- Hint: CSS & Angular code for haven't favorited college -->
            <div *ngIf="(viewedCareerDetail || viewedCareerDetailClosedHint) && favoriteLength > 0 && (userOccupationPlans && userOccupationPlans.length > 0 || createdPlanClosedHint) && (completedWorkValues || completedWorkValuesClosedHint) && (!showFavCCTip || showFavCCTipClosedHint) && (completedMoreAboutMe || completedMoreAboutMeClosedHint) && (guidedTipConfig?.helpPlan || guidedTipConfig?.goToCollege) && schoolFavoriteList?.length === 0 && !favoritedCollegeClosedHint" class="skills-interests-career d-flex align-items-center"> 
              <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
              <p class="mb-0 bold">College bound? You can save your favorite colleges to refer to when you create a plan.</p>
              <button type="button" (click)="closedFavCollegeHint()" class="close" data-dismiss="modal" aria-label="Close">
                <img src="/assets/images/close-blue.svg" alt="Close" />
              </button> 
            </div>

            <!-- Hint: CSS & Angular code for more than 2 favorited careers -->
            <div *ngIf="(viewedCareerDetail || viewedCareerDetailClosedHint) && favoriteLength > 0 && (userOccupationPlans && userOccupationPlans.length > 0 || createdPlanClosedHint) && (completedWorkValues || completedWorkValuesClosedHint) && (!showFavCCTip || showFavCCTipClosedHint) && (completedMoreAboutMe || completedMoreAboutMeClosedHint) && (schoolFavoriteList?.length > 0 || favoritedCollegeClosedHint) && guidedTipConfig?.helpPlan && favoriteList.length >= 2 && !compareMoreThanTwoFavCareersClosedHint" class="skills-interests-career d-flex align-items-center"> 
              <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
              <p class="mb-0 bold">You can compare careers that you saved as favorites.</p>
              <button type="button" (click)="closedCompareMoreThanTwoFavCareersHint()" class="close" data-dismiss="modal" aria-label="Close">
                <img src="/assets/images/close-blue.svg" alt="Close" />
              </button> 
            </div>

             <!-- Hint: CSS & Angular code for not used notes -->
             <div *ngIf="(viewedCareerDetail || viewedCareerDetailClosedHint) && favoriteLength > 0 && (userOccupationPlans && userOccupationPlans.length > 0 || createdPlanClosedHint) && (completedWorkValues || completedWorkValuesClosedHint) && (!showFavCCTip || showFavCCTipClosedHint) && (completedMoreAboutMe || completedMoreAboutMeClosedHint) && (schoolFavoriteList?.length > 0 || favoritedCollegeClosedHint) && (favoriteList.length >= 2 && compareMoreThanTwoFavCareersClosedHint || favoriteList.length < 2) && guidedTipConfig?.helpPlan && !vistedNotes && !visitedNotesClosedHint" class="skills-interests-career d-flex align-items-center"> 
                <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
                <p class="mb-0 bold">Make notes while you explore to keep track of likes, dislikes, deadlines, requirements, and more!</p>
                <button type="button" (click)="closedVisitNotesHint()" class="close" data-dismiss="modal" aria-label="Close">
                  <img src="/assets/images/close-blue.svg" alt="Close" />
                </button> 
              </div>
          </div>
          <!-- Favorite Occupation box -->
          <div class="favorite-box">
            <h6 class="favorite-box-title"><b>Favorite Occupation</b> <span>(You can save up to 10 occupations)</span></h6>

            <!-- favorite box content dynamic -->
            <div *ngIf="favoriteList.length !== 0">
              <div *ngFor="let f of favoriteList; let i = index" class="favorite-box-content favorite-box-content-list border-bottom">
                <div class="favorite-checkmark-box-block">
                  <div class="checkmark-box">
                    <input id="styled-checkbox-{{i}}" class="styled-checkbox" type="checkbox" [(ngModel)]="f.selected" (change)="checkChanged(f)">
                    <label class="styled-checkbox-label" for="styled-checkbox-{{i}}"></label>
                  </div>
                  <a routerLink="/occufind-occupation-details/{{f.onetSocCd}}">{{f.title}}</a>
                  <span (click)="favoriteOccupation1 = !favoriteOccupation1" [ngClass]="favoriteOccupation1 ? '' : 'active'" class="dropdown-arrow" ng-reflect-klass="dropdown-arrow"></span>
                </div>
                <div class="favorite-box-details"  [ngClass]="favoriteOccupation1 ? 'hide-collapse' : 'show-expand'">
                  <ul class="favorite-box-details-list">
                    <li class="create-plan custom-width-35">
                      <a routerLink="/create-plan" class="button create-plan-btn">Create a plan <i class="fa fa-plus"></i></a>
                    </li>
                    <li class="favorite-meter custom-width-35">
                      <span>Favorite meter:</span>
                      <div class="favorites-icon">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92" *ngIf="f.hearts < 1 || !f.hearts" (click)="setOccupationHeart(1, f.id)"><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28ZM4.91,1.06A3.84,3.84,0,0,0,2.18,2.18h0a3.86,3.86,0,0,0,0,5.42L8,13.42,13.8,7.6A3.86,3.86,0,0,0,8.34,2.15L8,2.51,7.6,2.15A3.84,3.84,0,0,0,4.91,1.06Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92" *ngIf="f.hearts >= 1" (click)="setOccupationHeart(0, f.id)"><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92" *ngIf="f.hearts < 2 || !f.hearts" (click)="setOccupationHeart(2, f.id)"><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28ZM4.91,1.06A3.84,3.84,0,0,0,2.18,2.18h0a3.86,3.86,0,0,0,0,5.42L8,13.42,13.8,7.6A3.86,3.86,0,0,0,8.34,2.15L8,2.51,7.6,2.15A3.84,3.84,0,0,0,4.91,1.06Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92" *ngIf="f.hearts >= 2" (click)="setOccupationHeart(1, f.id)"><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92" *ngIf="f.hearts < 3 || !f.hearts" (click)="setOccupationHeart(3, f.id)"><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28ZM4.91,1.06A3.84,3.84,0,0,0,2.18,2.18h0a3.86,3.86,0,0,0,0,5.42L8,13.42,13.8,7.6A3.86,3.86,0,0,0,8.34,2.15L8,2.51,7.6,2.15A3.84,3.84,0,0,0,4.91,1.06Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92" *ngIf="f.hearts >= 3" (click)="setOccupationHeart(2, f.id)"><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92" *ngIf="f.hearts < 4 || !f.hearts" (click)="setOccupationHeart(4, f.id)"><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28ZM4.91,1.06A3.84,3.84,0,0,0,2.18,2.18h0a3.86,3.86,0,0,0,0,5.42L8,13.42,13.8,7.6A3.86,3.86,0,0,0,8.34,2.15L8,2.51,7.6,2.15A3.84,3.84,0,0,0,4.91,1.06Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92" *ngIf="f.hearts >= 4" (click)="setOccupationHeart(3, f.id)"><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92" *ngIf="f.hearts < 5 || !f.hearts" (click)="setOccupationHeart(5, f.id)"><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28ZM4.91,1.06A3.84,3.84,0,0,0,2.18,2.18h0a3.86,3.86,0,0,0,0,5.42L8,13.42,13.8,7.6A3.86,3.86,0,0,0,8.34,2.15L8,2.51,7.6,2.15A3.84,3.84,0,0,0,4.91,1.06Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.94 14.92" *ngIf="f.hearts >= 5" (click)="setOccupationHeart(4, f.id)"><g data-name="Layer 2"><path d="M8,14.92,1.39,8.34a4.94,4.94,0,0,1,0-6.91h0A5,5,0,0,1,8,1.06a4.92,4.92,0,0,1,6.58,7.28Z" transform="translate(0 0)" style="fill:#3e3e3e"/></g></svg>
                      </div>
                    </li>
                    <li class="note icons custom-width-15">
                      <a (click)="showNotes(f.title, f.onetSocCd)" class="note-icon"><b>Notes</b> 
                          <img class="mobile-hide" src="/assets/images/explore_careers/note.svg" alt="Notes" width="17">
                          <img alt="Notes" class="mobile-show" src="/assets/images/explore_careers/note_edit.svg" width="19">
                      </a>
                    </li>
                    <li class="remove icons custom-width-15">
                        <button class="remove-icon" (click)="f.disabled = true; removeFavorites(f.id);" [disabled]="f.disabled">
                            <a class="remove-icon" style="cursor: pointer;">
                              <b>Remove</b>
                              <img class="mobile-hide" src="/assets/images/explore_careers/remove.svg" alt="Remove" width="16">
                              <img alt="Remove" class="mobile-show" src="/assets/images/explore_careers/close_icon.svg" width="16">
                            </a>
                        </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div *ngIf="favoriteList.length === 0" class="favorite-box-content">
              <div class="favorite-box-img-block">
                <img src="/assets/images/explore_careers/heart_add.svg" alt="Heart with Add sign">
              </div>
              <div class="favorite-box-details">
                <h6><b>You have no saved Occupations.</b></h6>
                <a (click)="learnHow('favorite-occupation')">Learn how</a>
              </div>
            </div>
            <!-- favorite box footer -->
            <div class="favorite-box-footer">
              <p>Select 2 or more occupations to compare.</p>
              <a *ngIf="favoriteList && favoriteList.length < 2" class="button" style="pointer-events: none; background: rgb(190, 190, 190)">Compare occupations</a>
              <a *ngIf="favoriteList && favoriteList.length >= 2" class="button" (click)="compareSelection()">Compare occupations</a>
            </div>
          </div>
          <!-- Favorite Colleges box -->
          <div class="favorite-box career-exploration-favorite-box">
            <h6 class="favorite-box-title"><b>Favorite Colleges</b> <span>(You can save up to 10 colleges)</span></h6>
            <!-- favorite box content -->
            <div *ngIf="schoolFavoriteList.length !== 0">
              <div *ngFor="let s of schoolFavoriteList" class="favorite-box-content favorite-box-content-list">
                <div class="favorite-checkmark-box-block custom-bottom-space">
                  <div class="pull-left custom-width-67">
                    <a routerLink="/occufind-school-details/undefined/{{s.unitId}}">{{s.schoolName}}</a>
                  </div>
                  <div class="favorite-box-icon pull-right custom-width-33">
                    <ul class="favorite-box-details-list">
                      <li class="note icons custom-width-15">
                        <a (click)="showNotesSchool(s.schoolName, s.unitId)" class="note-icon"><b>Notes</b> 
                          <img class="mobile-hide" src="/assets/images/explore_careers/note.svg" alt="Notes" width="17">
                          <img alt="Notes" class="mobile-show" src="/assets/images/explore_careers/note_edit.svg" width="19">
                        </a>
                      </li>
                      <li class="remove icons custom-width-15">
                        <button class="remove-icon" (click)="s.disabled = true; removeSchoolFavorites(s.id);" [disabled]="s.disabled">
                            <a class="remove-icon" style="cursor: pointer;">
                              <b>Remove</b>
                              <img class="mobile-hide" src="/assets/images/explore_careers/remove.svg" alt="Remove" width="16">
                              <img alt="Remove" class="mobile-show" src="/assets/images/explore_careers/close_icon.svg" width="16">
                            </a>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="schoolFavoriteList.length === 0" class="favorite-box-content">
              <div class="favorite-box-img-block">
                <img src="/assets/images/explore_careers/heart_add.svg" alt="Heart with Add sign">
              </div>
              <div class="favorite-box-details">
                <h6><b>You have no saved Colleges.</b></h6>
                <a (click)="learnHow('favorite-college')">Learn how</a>
              </div>
            </div>
          </div>
          <!-- Favorite Career Cluster box -->
          <div class="favorite-box career-exploration-favorite-box">
            <h6 class="favorite-box-title"><b>Favorite Career Cluster</b> <span>(You can save up to 2 career clusters)</span></h6>
            <!-- favorite box content -->
            <div *ngIf="careerClusterFavoriteList.length !== 0">
              <div *ngFor="let cc of careerClusterFavoriteList" class="favorite-box-content favorite-box-content-list">
                <div class="favorite-checkmark-box-block custom-bottom-space">
                  <div class="pull-left custom-width-67">
                    <a routerLink="/career-cluster-occupation-results/{{cc.ccId}}">{{cc.title}}</a>
                  </div>
                  <div class="favorite-box-icon pull-right custom-width-33">
                    <ul class="favorite-box-details-list">
                      <li class="note icons custom-width-15">
                        <a (click)="showNotesCC(cc.title, cc.ccId)" class="note-icon"><b>Notes</b> 
                          <img class="mobile-hide" src="/assets/images/explore_careers/note.svg" alt="Notes" width="17">
                          <img alt="Notes" class="mobile-show" src="/assets/images/explore_careers/note_edit.svg" width="19">
                        </a>
                      </li>
                      <li class="remove icons custom-width-15">
                        <button class="remove-icon" (click)="cc.disabled = true; removeCareerClusterFavorites(cc.id);" [disabled]="cc.disabled">
                            <a class="remove-icon" style="cursor: pointer;">
                              <b>Remove</b>
                              <img class="mobile-hide" src="/assets/images/explore_careers/remove.svg" alt="Remove" width="16">
                              <img alt="Remove" class="mobile-show" src="/assets/images/explore_careers/close_icon.svg" width="16">
                            </a>
                        </button>
                      </li>
                        
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="careerClusterFavoriteList.length === 0" class="favorite-box-content">
              <div class="favorite-box-img-block">
                <img src="/assets/images/explore_careers/heart_add.svg" alt="Heart with Add sign">
              </div>
              <div class="favorite-box-details">
                <h6><b>You have no saved Career Clusters.</b></h6>
                <a (click)="learnHow('favorite-cc')">Learn how</a>
              </div>
            </div>
          </div>


<!--            
          <br><br><br>
          
          <div class="favorite-modals favorite-occupation-modal">
            <div class="modal-header">
              <button type="button" class="close-button" aria-label="Close" (click)="onClose()"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">How to Favorite Occupation</h4>
            </div>
            
            <div class="modal-body">
              <ul>
                <li>
                  <div class="favorite-modals-button-wrapper">
                    <span>Click on the <b>Start Career Exploration.</b></span>
                    <span class="text-md-right">
                      <a href="#" class="button">Start Career Exploration</a>
                    </span>
                  </div>
                </li>

                <li>
                  <p>Choose your skills, interests, and filters to create your search results. Then, select <b>Explore.</b></p>
                </li>

                <li>
                  <div class="favorite-modals-img-wrapper">
                    <div class="favorite-modals-img-left">
                      <p>Select the <b>heart icon</b> next to the occupation title to add it to favorite occupations.</p>
                      <img src="assets/images/explore_careers/Favorite_Occupation_1.png" alt="Favorite Image">
                    </div>
                    <div class="favorite-modals-img-right">
                      <p>Select the occupation title to learn more about it. Select the heart icon next to <b>ADD TO FAVORITES</b> at the top of the detail page to add it to favorite occupations.</p>
                      <img src="assets/images/explore_careers/Favorite_Occupation_2.png" alt="Favorite Image">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <br><br><br><br>

          <div class="favorite-modals favorite-school-modal">
            <div class="modal-header">
              <button type="button" class="close-button" aria-label="Close" (click)="onClose()"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">How to Favorite a School</h4>
            </div>
            
            <div class="modal-body">
              <ul>
                <li>Select the <b>COLLEGE INFO</b> button under Education on the career detail page. </li>
                <li>Select an institution from the list.</li>
                <li>
                    <p>Select the <b>heart icon</b> next to ADD TO FAVORITES on that school’s detail page to favorite that school.</p>
                    <img src="assets/images/explore_careers/Favorite_School.png" alt="Favorite Image">
                </li>
              </ul>
            </div>
          </div>


          <br><br><br><br>


          <div class="favorite-modals favorite-career-cluster-modal">
            <div class="modal-header">
              <button type="button" class="close-button" aria-label="Close" (click)="onClose()"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">How to Favorite a Career Cluster</h4>
            </div>
            
            <div class="modal-body">
              <div class="favorite-modals-img-wrapper">
                <div class="favorite-modals-img-left">
                  <ul>
                    <li>Select Career Cluster on the OCCU-Find Search page under <b>OTHER SEARCH LISTS.</b></li>
                    <li>Expand a career cluster by clicking on the <b>plus sign.</b></li>
                    <li>Select <b>Add to Favorites</b> under the description to favorite that Career Cluster.</li>
                  </ul>
                </div>
                <div class="favorite-modals-img-right">
                  <img src="assets/images/explore_careers/Career_Cluster_1.png" alt="Favorite Image">
                </div>
              </div>

              
              <div class="favorite-modals-img-wrapper">
                <div class="favorite-modals-img-left">
                  <ul>
                    <li>When exploring an occupation, select a Career Cluster under Related Career Cluster.</li>
                    <li>Select <b>ADD TO FAVORITES</b> at the top of the results list.</li>
                  </ul>
                </div>
                <div class="favorite-modals-img-right">
                  <img src="assets/images/explore_careers/Career_Cluster_2.png" alt="Favorite Image">
                </div>
              </div>
            </div>
          </div>

          <br><br><br><br> -->

          

          </div>
        </div>
      </section>
    </div>
  </section>

  <app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>

  <app-footer></app-footer>
</div>