<div class="edit_plan_box mb_30">
  <h3 class="edit-plan">Gap Year Plan</h3>

  <!-- Step 2 -->
  <div class="edit_gap_year_plan p_20" *ngIf="userGapYearPlans?.length > 0">
    <p>Depending on your living expenses and spending habits, you need about $30,000 (+/-) to take a year
      off. <br /> <strong>How will you fund your gap year?</strong>
    </p>
    <ng-container *ngFor="let userGapYearPlan of userGapYearPlans; let i = index;">
      <app-user-gap-year-plan  [userGapYearPlan]="userGapYearPlan" [userOccupationPlan]="userOccupationPlan"
        [gapYearTypes]="gapYearTypes" [gapYearPlans]="gapYearPlans" (onRemoval)="removeUserGapYearPlan($event)"
        (onUpdate)="updateUserGapYearPlan($event)" (onTaskAdd)="updateOnTaskAdd($event)" (onDateAdd)="updateOnDateAdd($event)">
      </app-user-gap-year-plan>

      <hr class="userGapYearPlan-divider" *ngIf="i<userGapYearPlans.length-1">
    </ng-container>

  </div>

  <!-- Step 1 -->
  <div class="edit_gap_year_plan p_20" *ngIf="addAnotherUserGapYearPlan"
    [ngStyle]="{'border-top': userGapYearPlans?.length > 0 ? '1px solid #cacaca' : 'none'}">
    <form (ngSubmit)="saveUserGapYearPlan()" [formGroup]="userGapYearPlanForm">
      <div class="row mb_20">
        <div class="small-12 column">
          <strong>What type of Gap Year do you plan to take?</strong><br />
          (Select all that apply)
        </div>
      </div>
      <div class="row mb_20">
        <ng-container formArrayName="types">
          <div *ngFor="let type of types.controls; let i = index" [formGroupName]="i">
            <div class="column medium-4">
              <div class="checkbox-tick">
                <input class="styled-checkbox" type="checkbox" id="gapYear_{{i}}" formControlName="isSelected">
                <label class="styled-checkbox-label" for="gapYear_{{i}}"></label>
                <span class="ml_5">{{ type.value.name }}</span>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="row">
        <div class="small-12 column">
          <strong>What do you hope to get out of your Gap Year?</strong>
        </div>
        <div class="small-12 column">
          <div class="form-group">
            <textarea type="text" class="form-control" formControlName="goals" rows="2"></textarea>
          </div>
        </div>
      </div>
      <div class="row mb_20">
        <div class="small-12 column">
          <strong>Add a Gap Year program to your plan:</strong><br />
          There are many Gap Year programs. Learn more, <a routerLink="/media-center-article/118">here</a>
        </div>
      </div>
      <div class="row">
        <div class="column small-12">
          <a (click)="showProgramList()">View Sample Program List</a>
        </div>
      </div>
      <div class="row mb_20">
        <div class="small-12 column">
          <input type="hidden" formControlName="refGapYearId" />
          <input type="text" formControlName="planName" name="planName" />
        </div>
      </div>
      <div class="row">
        <div class="column small-12 text-center">
          <button type="submit" class="button" 
            [disabled]="!(userGapYearPlanForm.valid && hasTypes()) || isSavingStepOne">Next</button>
        </div>
      </div>
    </form>
  </div>

  <a class="bottom_add_plan_link border_top" (click)="addAnotherUserGapYearPlan = true"
    *ngIf="(userGapYearPlans && userGapYearPlans?.length > 0) && !addAnotherUserGapYearPlan">
    <strong>Add Another GAP Year Plan&nbsp;<i class="fa fa-plus"></i></strong></a>

</div>