<div class="main" style="padding: 1rem; padding-bottom: 50px;">

	<div *ngIf="isApprenticeshipsVisible">
	
		<div class="modal-header">
			<h3>Apprenticeship</h3>
			<button type="button" class="close-button" data-dismiss="modal" data-close
				(click)='dialogRef.close()'>&times;</button>
			<hr>
		</div>
		
		<div class="modal-body row">
			<img src="assets/images/cos_poweredby.jpg" align="right">
			<h2>{{occupationTitle}}</h2>
			<select name="mySelect" id="mySelect" style="height: 30px" [(ngModel)]="selectedOption"
				(change)="stateSelection()">
				<option *ngFor="let option of availableOptions" [ngValue]="option">{{option.name}}</option>
			</select> <label><font color="red">{{apprenticeshipLabel}}</font></label>
			
			<section class="table-pagination row">
				<div class="medium-6 columns">Showing {{apprenticeshipList.length != 0 ?
					(((pageIndex)*pageSize)+1) : 0}} - {{((pageIndex + 1)*pageSize) <= apprenticeshipList.length ?
					((pageIndex + 1)*pageSize) : apprenticeshipList.length}} of {{apprenticeshipList.length}}
					Certifications</div>
				<div class="medium-6 columns text-right">
					<div id="pagination" class="afternone">
						<i class="icon-left" [ngClass]="(((pageIndex)*pageSize)+1) === 1 ? 'disabled' : ''"
							(click)="previousPage();"></i> <i class="icon-right"
							[ngClass]="(((pageIndex + 1)*pageSize)	<= careersLength ? ((pageIndex + 1)*pageSize) : careersLength) === careersLength ? 'disabled' : ''"
							(click)="nextPage()"></i>
					</div>
					<mat-paginator style="visibility: hidden; height: 0px;" #paginator
						[length]="apprenticeshipList.length" [pageSize]="pageSize"
						(page)="pageEvent = getPaginatorData($event)" [hidePageSize]="true"></mat-paginator>
				</div>
				<div class="medium-12 columns">
					<hr />
				</div>
			</section>

			<table *ngIf="apprenticeshipList && apprenticeshipList.length > 0">
				<tr>
					<th>Apprenticeship Title</th>
					<th>Sponsor Organization</th>
				</tr>
				<tr *ngFor="let row of apprenticeshipList | slice: lowValue : highValue">
					<td>{{ row.Title }} &nbsp; for<br> {{row.Sponsor.Name}}
					</td>
					<td>{{ row.Sponsor.Address}} <br> {{ row.Sponsor.City}} , {{ row.Sponsor.State}}
						&nbsp; {{ row.Sponsor.Zip}} <br> {{ row.SponsorPhoneNumber}}
					</td>
				</tr>
			</table>
		</div>
		
		<div class="modal-footer"></div>
	</div>
</div>



