<!-- <update-title title="Complete Occupation List | ASVAB Career Exploration Program"></update-title>
<update-meta name="description" content="Find your dream job. Search careers by interest, skill area, keywords, etc. in the OCCU-Find from the ASVAB Career Exploration Program."></update-meta> -->

<div class="occufind">
  <ng-container>
    <app-header></app-header>
    <app-my-asvab-header></app-my-asvab-header>

    <section id="content-wrap" class="left-nav-expanded-wrap">
		<div class="row">
            <!-- <app-left-navigation></app-left-navigation> -->
            <app-left-navigation-v2-collapsed [selectedTab]="'explore'"></app-left-navigation-v2-collapsed>

			<section id="main-content" class="left-navigation-condensed" role="main">
                <!-- <app-left-navigation #leftNavi *ngIf="occuFindUserLoggedIn"></app-left-navigation>
                <div *ngIf="!occuFindUserLoggedIn">
                <img src="assets/images/asvab-ad.jpg" alt="bring the ASVAB CEP to your school">
                </div> -->
                <app-my-top-results-collapsed [collapsedVersion]="'v2'"></app-my-top-results-collapsed>

                <div id="left-nav-content-wrap">
                    
                    <form (submit)="occufindSearch()" class="ng-pristine ng-valid explore-search">
                        <div class="complete-fyi-video-tutorial">
                          <div class="complete-fyi-video-content">
                            <h2 class="text-capitalize">Occu-Find Search</h2>
                            <p class="mb-0 text-gray"><b>To find your dream job select from these options:</b></p>
                            <p class="text-gray"><b>Tip:</b> To maximize your exploration, enter your top interest codes and sort by your strongest skill.</p>
                          </div>
                        </div>
                        <div id="search-sidebar" class="occufind-panel">
                          <div class="row">
                            <!-- Occu find panel Colum 1 -->
                            <div class="medium-12 large-4 columns border-right">
                              <h3>Search By</h3>
                              <table class="table occufind-check-table occufind-check-interest-table">
                                <thead>
                                  <tr>
                                    <th colspan="2"><b class="text-uppercase">Interest Codes</b> <br>(select up to three)</th>
                                    <th [ngClass]="interestTwoChecked >= 1 || interestOneChecked >= 1 ? 'text-l-gray text-center' : 'text-center'" width="35">1st</th>
			                        <th [ngClass]="interestOneChecked == 0 || interestThreeChecked >= 1 || interestTwoChecked >= 1 ? 'text-l-gray text-center' : 'text-center'" width="35">2nd</th>
			                        <th [ngClass]="interestOneChecked == 0 || interestTwoChecked == 0 ? 'text-l-gray text-center' : 'text-center'" width="35">3rd</th>
                                  </tr>
                                </thead>
                                
                                <tbody>
                                    <tr *ngFor="let item of checkboxInterest; let index = index" class="ng-binding ng-scope">
                                        <td [ngClass]="'code-' + item.code + ' triangle pr-0'"><img src="/assets/images/explore_search/triangle-{{item.code | lowercase}}.svg" alt="Triangle" width="14"></td>
                                        <td>{{item.name}}</td>
                                        <td class="checkbox-tick">
                                            <input class="styled-checkbox" 
                                              type="checkbox"
                                              id="interest{{ index }}"
                                              [(ngModel)]="filterItems[item.code]"
                                              (ngModelChange)="countInterestOneChecked(item); saveSearch()"
                                              [attr.disabled]="
                                                interestOneChecked >= 1
			                                    && (!filterItems[item.code] || interestTwoChecked >= 1)
			                                    || filterItemsTwo[item.code]
			                                      ? ''
			                                      : null
			                                    || filterItemsThree[item.code]
			                                        ? ''
			                                        : null
                                              "
                                              [ngModelOptions]="{ standalone: true }">
                                            <label class="styled-checkbox-label" for="interest{{ index }}"></label>
                                        </td>
                                        <td class="checkbox-tick">
                                            <input class="styled-checkbox"
                                                type="checkbox"
                                                id="interest{{ index+6 }}"
                                                [(ngModel)]="filterItemsTwo[item.code]"
                                                (ngModelChange)="countInterestTwoChecked(item); saveSearch()"
                                                [attr.disabled]="
                                                  ((interestTwoChecked >= 1)
			                                      || !(interestOneChecked >= 1))
			                                      && (!filterItemsTwo[item.code] || interestThreeChecked >= 1)
			                                      || filterItems[item.code]
			                                        ? ''
			                                        : null
                                                "
                                                [ngModelOptions]="{ standalone: true }">
                                            <label class="styled-checkbox-label" for="interest{{ index+6 }}"></label>
                                        </td>
                                        
                                        <td class="checkbox-tick">
                                            <input class="styled-checkbox"
                                                type="checkbox"
                                                id="interest{{ index+12 }}"
                                                [(ngModel)]="filterItemsThree[item.code]"
                                                (ngModelChange)="countInterestThreeChecked(item); saveSearch()"
                                                [attr.disabled]="
                                                  ((interestThreeChecked >= 1)
			                                      || !(interestTwoChecked >= 1))
			                                      && !filterItemsThree[item.code] 
			                                      || filterItems[item.code]
			                                        ? ''
			                                        : null
			                                      || filterItemsTwo[item.code]
			                                        ? ''
			                                        : null
                                                "
                                                [ngModelOptions]="{ standalone: true }">
                                            <label class="styled-checkbox-label" for="interest{{ index+12 }}"></label>
                                        </td>
                                    </tr>
                                  </tbody>
                              </table>
                            </div>

                            <!-- Occu find panel Colum 2 -->
                            <div class="medium-12 large-4 columns border-right">
                              <h3>Sort By</h3>
                              <table class="table occufind-check-table occufind-check-stengths-table">
                                <thead>
                                  <tr>
                                    <th colspan="3"><b class="text-uppercase">MY ASVAB Strengths <a class="explain alt" (click)="showSortByStrength()"></a></b> <br>(select one, optional)</th>
                                  </tr>
                                </thead>
                                  
                                <tbody>
                                  <tr *ngFor="let item of checkboxSkill; let index = index">
                                    <td class="book pr-0"><img src="/assets/images/explore_search/book{{ index + 1 }}.png" alt="book" width="30"></td>
                                    <td><label for="skill{{ index }}">{{
                                      item.name
                                    }}</label></td>
                                    <td class="checkbox-tick">
                                        <input class="styled-checkbox"
                                                    type="checkbox"
                                                    id="skill{{ index }}"
                                                    [(ngModel)]="skillItems[item.code]"
                                                    (ngModelChange)="
                                                      onSkillChange(item); limitOne(item); saveSearch()
                                                    "
                                                    [attr.disabled]="
                                                      skillChecked == skillLimit && !skillItems[item.code]
                                                        ? ''
                                                        : null
                                                    "
                                                    [ngModelOptions]="{ standalone: true }"
                                                  />
                                      <label class="styled-checkbox-label" for="skill{{ index }}" ></label>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>

                            <!-- Occu find panel Colum 3 -->
                            <div class="medium-12 large-4 columns border-right">
                              <h3>Filter By</h3>
                              <table class="select_with_checkbox_wrapper" #workValues> 
                                <thead>
                                  <tr>
                                    <th colspan="3"><b class="text-uppercase">Work Values <a class="explain alt" (click)="getWorkValueHelp()"></a></b></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>
                                      <div class="select_with_checkbox">
                                        <button type="button" (click)="expandWorkValues(!workValuesExpanded)" class="custom_select_dropdown">Select Work Values ({{getFilterCount('workValues')}})</button>
                                        <table [ngClass]="{ active: workValuesExpanded }">
                                          <tbody>
                                            <tr><td colspan="3" class="pt-10">(select up to three)</td></tr>
                                            <tr *ngFor="let item of checkboxWorkValues; let index = index">
                                              <td class="pr-0"><i class="{{ item.iconClass }}" title="{{ item.rel }}"></i></td>
                                              <td><label for="workValue{{ index }}">{{item.name}}</label></td>
                                              <td class="checkbox-tick">
                                                <input
                                                  class="styled-checkbox"
                                                  type="checkbox"
                                                  id="workValue{{ index }}"
                                                  [(ngModel)]="workValueItems[item.code]"
                                                  [disabled]="getFilterCount('workValues') > 2 &&  workValueItems[item.code] == false"
                                                  (ngModelChange)="saveSearch()"
                                                  [ngModelOptions]="{ standalone: true }">
                                                <label class="styled-checkbox-label" for="workValue{{ index }}"></label>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>

                              <table class="select_with_checkbox_wrapper" #categories>
                                <thead>
                                  <tr>
                                    <th colspan="3"><b class="text-uppercase">Categories <a class="explain alt" (click)="careerDefinitionsNoCareerCluster()"></a></b></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>
                                      <div class="select_with_checkbox">
                                        <button (click)="expandCategory(!categoryExpanded)" type="button" class="custom_select_dropdown">Select Categories ({{getFilterCount('category')}})</button>
                                        <table [ngClass]="{ active:categoryExpanded }">
                                          <tbody>
                                            <tr><td colspan="3" class="pt-10">(select up to three)</td></tr>
                                            <tr *ngFor="let item of checkboxCategory; let index = index">
                                              <td class="pr-0"><i class="{{ item.iconClass }}" title="{{ item.rel }}"></i></td>
                                              <td><label for="category{{ index }}">{{item.name}}</label></td>
                                              <td class="checkbox-tick">
                                                <input
                                                  class="styled-checkbox"
                                                  type="checkbox"
                                                  [disabled]="getFilterCount('category') > 2 &&  categoryItems[item.code] == false"
                                                  id="category{{ index }}"
                                                  [(ngModel)]="categoryItems[item.code]"
                                                  (ngModelChange)="saveSearch()"
                                                  [ngModelOptions]="{ standalone: true }">
                                                <label class="styled-checkbox-label" for="category{{ index }}"></label>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <div class="keyword-panel">
                                <h4><b class="text-uppercase">Keyword</b></h4>
                                <form class="search-keyword">
                                  <input 
                                    type="text"
                                    class="searchTerm"
                                    placeholder="(Optional)"
                                    [(ngModel)]="keyword"
                                    (ngModelChange)="saveSearch()"
                                    [ngModelOptions]="{ standalone: true }"
                                  >
                                  <button type="submit" (click)="occufindSearch()" class="searchButton">
                                    <i class="fa fa-angle-right"></i>
                                  </button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="explore-bar bg-light-gray text-center">
                          <input type="submit" class="button" value="Explore">
                        </div>
                        <div class="other-search-list">
                          <div class="other-details">
                            <h6><b class="text-uppercase">OTHER SEARCH LISTS</b></h6>
                            <a routerLink="/career-cluster">Career Clusters</a>
                          </div>
                        </div>
                      </form>
                </div>
            </section>
        </div>
    	<!-- <app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile> -->
    </section>
	  <app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
    <app-footer></app-footer>
  </ng-container>
</div>

