.tutorial a {
    display: block;
	position: relative;
}

.tutorial img{
	width: 100%;
}

.tutorial {
	padding: 0;
}
#home .tutorial,
#myasvab .tutorial {
  padding: 0 15px;
}

h1.article-title {
	color: #29afb5;
	font-size: 1.25rem;
	text-transform: uppercase; }

.sharables-share {
	ul {
		display: flex;
		align-items: center;
		width: 100%;

		> div {
			width: 100%;
		}

		::ng-deep button {
			color: #fff;;
		}
	}
	
}