<update-title title="Plan for Your Future | ASVAB Career Exploration Program"></update-title>
<update-meta name="description"
  content="Explore articles and content to assist you in career planning. Plan your best future with this collection of data, guidelines and other resources.">
</update-meta>

<div class="occufind help media-center">
  <app-header></app-header>
  <section id="banner">
    <div class="row">
      <div class="large-4 large-push-8 columns">
        <p class="caps">Media Center</p>
      </div>
    </div>
  </section>

  <section id="content-wrap">
    <div class="row">
      <section id="main-content" class="medium-12 columns" role="main">
        <h1 class="article-title">Career Connection</h1>
        <br />
        <div class="row">
          <div class="small-4 columns resource">
            <h3>Student News</h3>
            <div>
              <a class="resource-title"
                routerLink="/media-center-article/{{studentNewsTopArticle?.id}}">{{studentNewsTopArticle?.title}}</a>
              <a routerLink="/media-center-article/{{studentNewsTopArticle?.id}}"><span class="image-wrapper"><img
                    [src]="studentNewsTopArticle?.thumbnailUrl" style="position: relative;"><span
                    *ngIf="studentNewsTopArticle?.typeId == 1" id="play-icon"></span></span></a>
            </div>
            <ul>
              <li *ngFor="let m of studentNewsMediaCenterArticles">
                <a routerLink="/media-center-article/{{m.id}}">{{m.title}}</a></li>
            </ul>

            <p><a routerLink="/media-center-article-list/1">View Archive</a></p>
          </div>
          <div class="small-4 columns resource">
            <h3>Counselor Articles</h3>
            <div>
              <a class="resource-title"
                routerLink="/media-center-article/{{counselorArticlesTopArticle?.id}}">{{counselorArticlesTopArticle?.title}}</a>
              <a routerLink="/media-center-article/{{counselorArticlesTopArticle?.id}}"><span class="image-wrapper"><img
                    [src]="counselorArticlesTopArticle?.thumbnailUrl" style="position: relative;"><span
                    *ngIf="counselorArticlesTopArticle?.typeId == 1" id="play-icon"></span></span> </a>
            </div>

            <ul>
              <li *ngFor="let m of counselorArticlesMediaCenterArticles">
                <a routerLink="/media-center-article/{{m.id}}">{{m.title}}</a></li>
            </ul>

            <p><a routerLink="/media-center-article-list/4">View Archive</a></p>
          </div>
          <div class="small-4 columns resource">
            <h3>Parent Articles</h3>
            <div>
              <a class="resource-title"
                routerLink="/media-center-article/{{parentArticlesTopArticle?.id}}">{{parentArticlesTopArticle?.title}}</a>
              <a routerLink="/media-center-article/{{parentArticlesTopArticle?.id}}"><span class="image-wrapper"><img
                    [src]="parentArticlesTopArticle?.thumbnailUrl" style="position: relative;"><span
                    *ngIf="parentArticlesTopArticle?.typeId == 1" id="play-icon"></span></span> </a>
            </div>

            <ul>
              <li *ngFor="let m of parentArticlesMediaCenterArticles">
                <a routerLink="/media-center-article/{{m.id}}">{{m.title}}</a></li>
            </ul>

            <p><a routerLink="/media-center-article-list/2">View Archive</a></p>
          </div>
        </div>

        <br />

        <hr>

        <p>&nbsp;</p>

        <h2>Tutorials</h2>

        <br />

        <div class="row">
          <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let resource of tutorialsMediaCenterArticles" class="slide tutorial">

              <a class="resource-title" routerLink="/media-center-article/{{resource?.id}}">{{resource?.title}}</a>
              <a routerLink="/media-center-article/{{resource?.id}}">
                <span class="image-wrapper"><img [src]="resource?.thumbnailUrl" style="position: relative;">
                  <span *ngIf="resource.typeId === 1" id="play-icon"></span>
                </span>
              </a>
            </div>
          </ngx-slick-carousel>


        </div>

      </section>
    </div>
  </section>

  <section class="virtual-wrap">
    <div class="row">
      <div class="medium-12 columns">
        <h5>Virtual Press Room</h5>
        <div class="communciations-toolkit">
          <h2>Communications Toolkit</h2>
          <p><strong>You are the most important part of making this program a success. We have put together this toolkit
              to provide you with all of the resources you need to get started.</strong></p>
          <a target="_blank" href="https://www.asvabprogram.com/pdf/ASVAB_CEP_Communications_Toolkit.pdf"><img
              src="assets/images/icon-pdf.png"> Communications Toolkit</a>
        </div>

        <hr>

        <div class="all-news">
          <div class="row">
            <div class="small-4 columns in-the-news">
              <h2>In the news</h2>
              <ul>
                <li *ngFor="let a of inTheNewsMediaCenterArticles">
                  <a href="{{a?.externalLink}}" target="_blank">{{a?.title}}</a>
                </li>
              </ul>
            </div>
            <div class="small-4 columns testimonials">
              <h2>Testimonials</h2>
              <div class="testimonials-item" *ngFor="let a of testimonialsMediaCenterArticles">
                <strong>"{{a?.title}}"</strong>
                <p><em>{{a?.author}}</em></p>
              </div>
              <p><a href="mailto:asvabcep@gmail.com?subject=Testimonial Submission">Submit a testimonial</a></p>
            </div>
            <div class="small-4 columns">
              <div style="padding:10px;position:relative;background-color:#fff;">
								<div style="position: absolute;right: 12px;top: 10px;">
									<a style="font-size:18px;color:#292F33;" href="https://help.twitter.com/en/twitter-for-websites-ads-info-and-privacy" 
										target="_blank" title="Twitter Ads info and privacy">
										<i class="fa fa-info-circle"></i>
									</a>
								</div>
								<h2 style="margin-bottom:0; font-size: 21px;font-weight: 300;line-height: 24px;color: #292F33;display: inline-block!important;max-width: 100%;">
									Tweets
									<span style="font-size: 12px;font-weight: 400;line-height: 16px;color: #657786;">by 
										<a style="color: #2b7bb9;text-decoration: none;" href="https://twitter.com/asvabcep" target="_blank">‎@asvabcep</a>
									</span>
								</h2>
							</div>
							
              <a class="twitter-timeline" data-chrome="noheader" data-width="411" 
                data-height="284" href="https://twitter.com/asvabcep?ref_src=twsrc%5Etfw">Tweets by asvabcep</a>
            
            </div>
          </div>
        </div>

        <hr>


        <div class="sharables-wrap">
          <h2>Shareables</h2>
          <div class="sharables" *ngIf="sharablesMediaCenterArticles">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
              <div ngxSlickItem *ngFor="let a of sharablesMediaCenterArticles" class="slide tutorial">
                <div class="sharables-image">
                  <img [src]="a?.shareImgUrl" style="position:relative;" />
                  <div class="sharables-share">
                    <ul>
                      <li>Share</li>
                      <div style="display: flex; justify-content: space-evenly;">
                        <share-button button="facebook" [title]="a.title"
                            [image]="a.shareImgUrl" [description]="a.articleDescription" [url]="a.shareImgUrl" (click)="_googleAnalyticsService.trackSocialShare('Facebook', 'Shareable')"></share-button>
                        <share-button button="twitter" [title]="a.title"
                            [image]="a.shareImgUrl" [description]="a.articleDescription" [url]="a.shareImgUrl" (click)="_googleAnalyticsService.trackSocialShare('Twitter', 'Shareable')"></share-button>
                        <share-button button="linkedin" [title]="a.title"
                            [image]="a.shareImgUrl" [description]="a.articleDescription" [url]="a.shareImgUrl" (click)="_googleAnalyticsService.trackSocialShare('LinkedIn', 'Shareable')"></share-button>
                        <share-button button="email" [title]="a.title"
                            [description]="a.articleDescription" (click)="_googleAnalyticsService.trackSocialShare('Email', 'Shareable')"></share-button>
                      </div>
                    </ul>
                  </div>
                </div>
              </div>
            </ngx-slick-carousel>

          </div>
        </div>

        <hr>

        <p class="submit-link"><a href="mailto:asvabcep@gmail.com?subject=Press inquiries">Submit press inquiries to
            asvabcep@gmail.com</a></p>
      </div>
    </div>
  </section>

  <app-footer></app-footer>

</div>