<div id="fyi" class="occufind">
    <app-header></app-header>
    <app-my-asvab-header></app-my-asvab-header>

    <section id="content-wrap" class="left-nav-expanded-wrap">
        <div class="row">
            <app-left-navigation-v2-collapsed [selectedTab]="'learn'"></app-left-navigation-v2-collapsed>

            <section id="main-content" class="left-navigation-condensed" role="main">
                <app-my-top-results-collapsed [collapsedVersion]="'v2'"></app-my-top-results-collapsed>

                <div id="left-nav-content-wrap">
                    <h1>{{(userRole === 'E' || userRole === 'D') ? 'Sample summary results' : 'My asvab summary results'}}
                    </h1>
                    <div class="summary-results-hero-box">
                        <div class="summary-results-hero-table-title">
                            <h4><strong>Results shown for</strong></h4>
                            
                            <span *ngIf="haveAsvabTestScores && getScore('verbal') && getScore('math') && getScore('science')" class="menu tools float-right ng-scope" style="display: flex">
                                <a *ngIf="userRole === 'S'" (click)="printScoreCard(true)" style="margin-right: 20px">Download PDF <span class="fa fa-download"></span></a>
                                <a *ngIf="userRole !== 'S'" target="_blank" href="https://www.asvabprogram.com/pdf/ASR_Poster.pdf" style="margin-right: 20px">Download Sample ASR <span class="fa fa-download"></span></a>
                                <a *ngIf="!mobileOrTablet" (click)="printScoreCard(false)">Print <span class="fa fa-print"></span></a>
                            </span>
                            
                        </div>

                        <div class="row">
                            <!-- Results Shown Column 1 -->
                            <div class="large-8 medium-7 columns">
                                <section id="fyi-results">
                                    <table class="table" id="test-info-table">
                                        <tbody>
                                            <tr>
                                                <th>Student Grade:</th>
                                                <td class="ng-binding">{{scoreSummary.controlInformation.educationLevel}}th
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Student Gender:</th>
                                                <td class="ng-binding">{{genderFull}}</td>
                                            </tr>
                                            <tr>
                                                <th>Test Date:</th>
                                                <td class="ng-binding">{{administeredMonth}} {{administeredDay}},
                                                    {{administeredYear}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </section>
                            </div>
    
                            <div class="large-4 medium-5 columns text-center">
                                <div [hidden]="userRole === 'E' || userRole === 'D'">
                                    <p>Don’t see the scores you expected?</p>
                                    <button class="button optionButtons" (click)="showRetrieveAsvabScoresDialog()">Check for
                                        New Scores</button>
                                    <!-- *ngIf="!haveAsvabTestScores" -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Your Results Column 1 -->
                        <div class="medium-7 columns">
                            <h4 id="choose"><strong>Your ASVAB results include:</strong></h4>
                            <ul>
                                <li><button type="button" class="btn btn-link isBold" (click)="scrollTo(ces)">Career
                                        Exploration Scores</button></li>
                                <li><button type="button" class="btn btn-link isBold" (click)="scrollTo(asvab)">ASVAB
                                        Test
                                        Scores</button></li>
                                <li><button type="button" class="btn btn-link isBold" (click)="scrollTo(mes)">Military
                                        Entrance
                                        Score (AFQT)</button></li>
                            </ul>
                        </div>

                        <!-- Your Results Column 2 -->
                        <div class="medium-5 columns">
                            <div class="tutorial" *ngFor="let m of mediaCenterList">
                                <a class="resource-title" routerLink="/media-center-article/{{m.id}}">{{m.title}}</a>
                                <!-- <h4><strong>{{m.title}}</strong></h4> -->
                                <a *ngIf="m.typeId != 1" routerLink="/media-center-article/{{m.id}}">
                                    <span class="image-wrapper"><img src="assets/images/asvab-tutorial-video.jpg"
                                            style="position: relative;"><span id="play-icon"></span></span>
                                </a>
                                <a *ngIf="m.typeId == 1" (click)="showVideoDialog(m.videoImgUrl)">
                                    <span class="image-wrapper"><img src="assets/images/asvab-tutorial-video.jpg"
                                            style="position: relative;"><span id="play-icon"></span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- CES Section -->
                    <h2 #ces>Career Exploration Scores</h2>
                    <p>The career exploration scores translate your ASVAB test scores into skill strength scores to help
                        you with career exploration. <button type="button" class="btn btn-link"
                            (click)="moreInfo('ces')">Learn More.</button></p>
                    <div class="row">
                        <!-- CES Percentile Scores Colum -->
                        <div class="large-6 columns">
                            <h3>Percentile Scores</h3>
                            <p>These are your scores compared to other
                                {{scoreSummary.controlInformation.educationLevel}}th grade students. <button
                                    type="button" class="btn btn-link" (click)="moreInfo('cesPercent')">Learn
                                    More.</button></p><br /><br />

                            <!-- Chart -->
                            <div class="chartContainer">
                                <div class="chart">
                                    <!-- Verbal -->
                                    <div id="cesPercentChart1">
                                        <p class="percent-chart-label">Verbal Skills</p>
                                        <canvas baseChart [chartType]="horizontalBarChartType" [datasets]="cesData2_1"
                                            [colors]="greenColors" [labels]="percentChartLabels"
                                            [options]="percentChartOptions" [plugins]="barChartPlugins"
                                            class="chart-horizontal-bar" height=90>
                                        </canvas>
                                    </div>

                                    <!-- Math -->
                                    <div id="cesPercentChart2">
                                        <p class="percent-chart-label">Math Skills</p>
                                        <canvas baseChart [chartType]="horizontalBarChartType" [datasets]="cesData2_2"
                                            [colors]="redColors" [labels]="percentChartLabels"
                                            [options]="percentChartOptions" [plugins]="barChartPlugins"
                                            class="chart-horizontal-bar" height=90>
                                        </canvas>
                                    </div>

                                    <!-- Science -->
                                    <div id="cesPercentChart3">
                                        <p class="percent-chart-label">Science/Technical Skills</p>
                                        <canvas baseChart [chartType]="horizontalBarChartType" [datasets]="cesData2_3"
                                            [colors]="purpleColors" [labels]="percentChartLabels"
                                            [options]="percentChartOptions" [plugins]="barChartPlugins"
                                            class="chart-horizontal-bar" height=90>
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- CES Standard Scores Colum -->
                        <div class="large-6 columns">
                            <h3>Standard Scores</h3>
                            <p>These are your actual scores on the test.
                                <button type="button" class="btn btn-link" (click)="moreInfo('cesStandard')">Learn
                                    More.
                                </button>
                            </p>
                            <table class="table" id="score-band-table" style="margin-bottom: 0px">
                                <tbody>
                                    <tr>
                                        <td style="width: 50px"><img src="assets/images/score-band.png"></td>
                                        <td style="padding-left: 0px">
                                            <p>The score bands show the range your scores would probably fall in if you
                                                took the test again. <button type="button" class="btn btn-link"
                                                    (click)="moreInfo('scoreBands')">Learn
                                                    More.</button>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- Chart -->
                            <!-- <div class="chartContainer">
                                <div class="chart">
                                    <div id="cesStandardChart1">
                                        <canvas baseChart [chartType]="horizontalBarChartType" [datasets]="cesData1_1"
                                            [colors]="standardScoreColors1" [labels]="cesLabels1_1"
                                            [options]="scoreChartOptions" [plugins]="barChartPlugins"
                                            class="chart-horizontal-bar" height=286>
                                        </canvas>
                                    </div>
                                </div>
                            </div> -->

                            <div class="chartContainer">
                                <div class="chart">
                                    <!-- Verbal -->
                                    <div id="cesPercentChart1">
                                        <p class="standard-chart-label">Verbal Skills</p>
                                        <canvas baseChart [chartType]="horizontalBarChartType" [datasets]="cesData1_1"
                                            [colors]="standardScoreColors1"
                                            [options]="scoreChartOptions" [plugins]="barChartPlugins"
                                            class="chart-horizontal-bar" height=90>
                                        </canvas>
                                    </div>

                                    <!-- Math -->
                                    <div id="cesPercentChart2">
                                        <p class="standard-chart-label">Math Skills</p>
                                        <canvas baseChart [chartType]="horizontalBarChartType" [datasets]="cesData1_2"
                                            [colors]="standardScoreColors1_2"
                                            [options]="scoreChartOptions" [plugins]="barChartPlugins"
                                            class="chart-horizontal-bar" height=90>
                                        </canvas>
                                    </div>

                                    <!-- Science -->
                                    <div id="cesPercentChart3">
                                        <p class="standard-chart-label">Science/Technical Skills</p>
                                        <canvas baseChart [chartType]="horizontalBarChartType" [datasets]="cesData1_3"
                                            [colors]="standardScoreColors1_3"
                                            [options]="scoreChartOptions" [plugins]="barChartPlugins"
                                            class="chart-horizontal-bar" height=90>
                                        </canvas>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <!-- ASVAB Section -->
                    <h2 id="asvab" #asvab>ASVAB Test Scores</h2>
                    <p>
                        <strong>The ASVAB subtest scores are used to calculate your Career Exploration Scores.
                                <a target="_blank" href="{{ssoUrl}}composite-scores">See more about
                                    composite scores.</a>
                        </strong>
                    </p>

                    <!-- Chart Key -->
                    <div class="row">
                        <div class="small-4 columns">
                            <p style="white-space: nowrap;">Verbal Skills
                                <span id="greenBar"></span>
                            </p>
                        </div>
                        <div class="small-4 columns">
                            <p style="white-space: nowrap;">Math Skills
                                <span id="redBar"></span>
                            </p>
                        </div>
                        <div class="small-4 columns">
                            <p style="white-space: nowrap;">Science/Technical Skills
                                <span id="purpleBar"></span>
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <!-- ASVAB Percentile Scores Colum -->
                        <div class="large-6 columns">
                            <h3>Percentile Scores</h3>
                            <p>These are your scores compared to other
                                {{scoreSummary.controlInformation.educationLevel}}th grade students. <button
                                    type="button" class="btn btn-link" (click)="moreInfo('asvabPercent')">Learn
                                    More.</button></p>

                            <!-- Chart -->
                            <div class="chartContainer">
                                <div class="chart">
                                    <!-- General Science -->
                                    <div id="asvabPercentChart1">
                                        <p class="percent-chart-label">General Science</p>
                                        <canvas baseChart [chartType]="horizontalBarChartType" [datasets]="asvabData2_1"
                                            [colors]="purpleColors" [labels]="percentChartLabels"
                                            [options]="percentChartOptions" [plugins]="barChartPlugins"
                                            class="chart-horizontal-bar" height=90>
                                        </canvas>
                                    </div>

                                    <!-- Arithmetic Reasoning -->
                                    <div id="asvabPercentChart2">
                                        <p class="percent-chart-label">Arithmetic Reasoning</p>
                                        <canvas baseChart [chartType]="horizontalBarChartType" [datasets]="asvabData2_2"
                                            [colors]="redColors" [labels]="percentChartLabels"
                                            [options]="percentChartOptions" [plugins]="barChartPlugins"
                                            class="chart-horizontal-bar" height=90>
                                        </canvas>
                                    </div>

                                    <!-- Word Knowledge -->
                                    <div id="asvabPercentChart3">
                                        <p class="percent-chart-label">Word Knowledge</p>
                                        <canvas baseChart [chartType]="horizontalBarChartType" [datasets]="asvabData2_3"
                                            [colors]="greenColors" [labels]="percentChartLabels"
                                            [options]="percentChartOptions" [plugins]="barChartPlugins"
                                            class="chart-horizontal-bar" height=90>
                                        </canvas>
                                    </div>

                                    <!-- Paragraph Comprehension -->
                                    <div id="asvabPercentChart4">
                                        <p class="percent-chart-label">Paragraph Comprehension</p>
                                        <canvas baseChart [chartType]="horizontalBarChartType" [datasets]="asvabData2_4"
                                            [colors]="greenColors" [labels]="percentChartLabels"
                                            [options]="percentChartOptions" [plugins]="barChartPlugins"
                                            class="chart-horizontal-bar" height=90>
                                        </canvas>
                                    </div>

                                    <!-- Mathematics Knowledge-->
                                    <div id="asvabPercentChart5">
                                        <p class="percent-chart-label">Mathematics Knowledge</p>
                                        <canvas baseChart [chartType]="horizontalBarChartType" [datasets]="asvabData2_5"
                                            [colors]="redColors" [labels]="percentChartLabels"
                                            [options]="percentChartOptions" [plugins]="barChartPlugins"
                                            class="chart-horizontal-bar" height=90>
                                        </canvas>
                                    </div>

                                    <!-- Electronics Information -->
                                    <div id="asvabPercentChart6">
                                        <p class="percent-chart-label">Electronics Information</p>
                                        <canvas baseChart [chartType]="horizontalBarChartType" [datasets]="asvabData2_6"
                                            [colors]="purpleColors" [labels]="percentChartLabels"
                                            [options]="percentChartOptions" [plugins]="barChartPlugins"
                                            class="chart-horizontal-bar" height=90>
                                        </canvas>
                                    </div>

                                    <!-- Auto and Shop Information -->
                                    <div id="asvabPercentChart7">
                                        <p class="percent-chart-label">Auto and Shop Information</p>
                                        <canvas baseChart [chartType]="horizontalBarChartType" [datasets]="asvabData2_7"
                                            [colors]="blackColors" [labels]="percentChartLabels"
                                            [options]="percentChartOptions" [plugins]="barChartPlugins"
                                            class="chart-horizontal-bar" height=90>
                                        </canvas>
                                    </div>

                                    <!-- Mechanical Comprehension -->
                                    <div id="asvabPercentChart8">
                                        <p class="percent-chart-label">Mechanical Comprehension</p>
                                        <canvas baseChart [chartType]="horizontalBarChartType" [datasets]="asvabData2_8"
                                            [colors]="purpleColors" [labels]="percentChartLabels"
                                            [options]="percentChartOptions" [plugins]="barChartPlugins"
                                            class="chart-horizontal-bar" height=90>
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- ASVAB Standard Scores Colum -->
                        <div class="large-6 columns">
                            <h3>Standard Scores</h3>
                            <p>These are your actual scores on each subtest
                                <button type="button" class="btn btn-link" (click)="moreInfo('asvabStandard')">Learn
                                    More.
                                </button>
                            </p>

                            <!-- Area Hilites -->
                            <span [hidden]=true>
                                <div class="row">
                                    <div class="small-4 columns">
                                        <button id="hiliteVerbal" class="button" (click)="hiliteItems('verbal');">Verbal
                                            Skills</button>
                                    </div>
                                    <div class="small-4 columns">
                                        <button id="hiliteMath" class="button" (click)="hiliteItems('math');">Math
                                            Skills</button>
                                    </div>
                                    <div class="small-4 columns">
                                        <button id="hiliteScience" class="button"
                                            (click)="hiliteItems('science');">Science
                                            Skills</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns">
                                        <button id="clearHilites" class="button centered hollow"
                                            (click)="hiliteItems('none');">Clear Skill Highlights</button>
                                    </div>
                                </div>
                            </span>
                            <br /><br />
                            <!-- Chart -->
                            <!-- <div class="chartContainer">
                                <div class="chart">
                                    <div id="cesStandardChart2">
                                        <canvas baseChart [chartType]="horizontalBarChartType" [datasets]="asvabData1_1"
                                            [colors]="standardScoreColors2" [labels]="asvabLabels1_2"
                                            [options]="scoreChartOptions" [plugins]="barChartPlugins"
                                            class="chart-horizontal-bar" height=932>
                                        </canvas>
                                    </div>
                                </div>
                            </div> -->

                            <div class="chartContainer" style="margin-top: -17px;">
                                <div class="chart">
                                    <!-- General Science -->
                                    <div id="asvabPercentChart1">
                                        <p class="standard-chart-label">General Science</p>
                                        <canvas baseChart [chartType]="horizontalBarChartType" [datasets]="asvabData1_1"
                                            [colors]="standardScoreColors2"
                                            [options]="scoreChartOptions" [plugins]="barChartPlugins"
                                            class="chart-horizontal-bar" height=90>
                                        </canvas>
                                    </div>

                                    <!-- Arithmetic Reasoning -->
                                    <div id="asvabPercentChart2">
                                        <p class="standard-chart-label">Arithmetic Reasoning</p>
                                        <canvas baseChart [chartType]="horizontalBarChartType" [datasets]="asvabData1_2"
                                            [colors]="standardScoreColors2_2"
                                            [options]="scoreChartOptions" [plugins]="barChartPlugins"
                                            class="chart-horizontal-bar" height=90>
                                        </canvas>
                                    </div>

                                    <!-- Word Knowledge -->
                                    <div id="asvabPercentChart3">
                                        <p class="standard-chart-label">Word Knowledge</p>
                                        <canvas baseChart [chartType]="horizontalBarChartType" [datasets]="asvabData1_3"
                                            [colors]="standardScoreColors2_3"
                                            [options]="scoreChartOptions" [plugins]="barChartPlugins"
                                            class="chart-horizontal-bar" height=90>
                                        </canvas>
                                    </div>

                                    <!-- Paragraph Comprehension -->
                                    <div id="asvabPercentChart4">
                                        <p class="standard-chart-label">Paragraph Comprehension</p>
                                        <canvas baseChart [chartType]="horizontalBarChartType" [datasets]="asvabData1_4"
                                            [colors]="standardScoreColors2_4"
                                            [options]="scoreChartOptions" [plugins]="barChartPlugins"
                                            class="chart-horizontal-bar" height=90>
                                        </canvas>
                                    </div>

                                    <!-- Mathematics Knowledge-->
                                    <div id="asvabPercentChart5">
                                        <p class="standard-chart-label">Mathematics Knowledge</p>
                                        <canvas baseChart [chartType]="horizontalBarChartType" [datasets]="asvabData1_5"
                                            [colors]="standardScoreColors2_5"
                                            [options]="scoreChartOptions" [plugins]="barChartPlugins"
                                            class="chart-horizontal-bar" height=90>
                                        </canvas>
                                    </div>

                                    <!-- Electronics Information -->
                                    <div id="asvabPercentChart6">
                                        <p class="standard-chart-label">Electronics Information</p>
                                        <canvas baseChart [chartType]="horizontalBarChartType" [datasets]="asvabData1_6"
                                            [colors]="standardScoreColors2_6"
                                            [options]="scoreChartOptions" [plugins]="barChartPlugins"
                                            class="chart-horizontal-bar" height=90>
                                        </canvas>
                                    </div>

                                    <!-- Auto and Shop Information -->
                                    <div id="asvabPercentChart7">
                                        <p class="standard-chart-label">Auto and Shop Information</p>
                                        <canvas baseChart [chartType]="horizontalBarChartType" [datasets]="asvabData1_7"
                                            [colors]="standardScoreColors2_7"
                                            [options]="scoreChartOptions" [plugins]="barChartPlugins"
                                            class="chart-horizontal-bar" height=90>
                                        </canvas>
                                    </div>

                                    <!-- Mechanical Comprehension -->
                                    <div id="asvabPercentChart8">
                                        <p class="standard-chart-label">Mechanical Comprehension</p>
                                        <canvas baseChart [chartType]="horizontalBarChartType" [datasets]="asvabData1_8"
                                            [colors]="standardScoreColors2_8"
                                            [options]="scoreChartOptions" [plugins]="barChartPlugins"
                                            class="chart-horizontal-bar" height=90>
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- MES Section -->
                    <div class="row">
                        <div class="medium-12 columns">
                            <h2 id="mes" #mes>Military Entrance Score (AFQT)</h2>
                            <div id="afqt" class="row">
                                <div class="medium-3 columns">
                                    <h3>Your AFQT Score*</h3>
                                    <div style="position: relative;">
                                        <!-- AFQT Doughnut Chart  -->
                                        <div id="afqtChart">
                                            <canvas baseChart [chartType]="doughnutChartType" [datasets]="afqtChartData"
                                                [colors]="afqtChartColors" [options]="afqtChartOptions"
                                                class="chart chart-doughnut">
                                            </canvas>
                                        </div>
                                        <div id="afqtScore">{{getAfqtScore()}}</div>
                                    </div>
                                </div>
                                <div class="medium-9 columns">
                                    <p> Participation in the ASVAB CEP does not obligate you to talk with military
                                        recruiters or consider a military career. <br> <br>
                                        This score is used to determine your qualifications for entry into any branch of
                                        the United States Armed Forces.
                                        <br />
                                    </p>
                                </div>
                            </div>

                            <h2>
                                Your military line scores
                            </h2>
                            <p><b>If you are interested in joining the Military it is best to discuss this score with a
                                    recruiter.
                                    <a target="_blank" href="{{ssoUrl}}composite-scores" (click)="SetCompletion()">Learn More.</a></b><br />
                                * The number shows how your score compares to the scores of American men and women 18 to
                                23 years of age.</p>
                        </div>
                        <div class="medium-4 columns">
                        </div>
                    </div>
                </div>
            </section>
            <!-- Scroll to top -->
            <a *ngIf="showScrollToTop" (click)="scrollToTop()" class="button optionButtons goToTop">
                <i class="fa fa-chevron-up fa-2x"></i>
            </a>
            
            </div>
		<!-- <app-left-navigation-mobile></app-left-navigation-mobile> -->
	</section>

	<app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
	<app-footer></app-footer>
</div>

<!-- For Printing -->
<div #printMe id="printMe" style="display:none;" *ngIf="scoreSummaryStudent">
    <div #asr id="asr" class="asr" style="background-color: white">
        <div class="print-box">
            <div class="print-header">
                <div class="print-header-info">
                    <strong>Student</strong>
                    <p> {{educationLevelGr}} {{genderFull}} </p>
                    <p>Test Date: {{testMonth}} {{testDay}} , {{testYear}} <br>
                        {{_utilityService.capitalizeFirstLetter(testSchool.name)}} <br>
                        {{_utilityService.capitalizeFirstLetter(testSchool.city)}} &nbsp; {{testSchool.state}}
                    </p>
                </div>
                <div class="print-header-title">
                    <h2><span>ASVAB</span> Summary Results</h2>
                </div>
            </div>
            <div class="print-content">
                <div class="print-content-main">
                    <div class="print-content-results">
                        <div class="print-content-row">
                            <div class="print-content-col print-content-col-1">
                                <div class="print-content-col-head">
                                    <h3>ASVAB&nbsp;Results</h3>
                                </div>
                                <h5>Career&nbsp;Exploration&nbsp;Scores</h5>
                                <ul>
                                    <li>Verbal&nbsp;Skills</li>
                                    <li>Math&nbsp;Skills</li>
                                    <li>Science&nbsp;and&nbsp;Technical&nbsp;Skills</li>
                                </ul>
                                <h5>ASVAB Tests <span class="print-dashed">
                                    </span></h5>
                                <ul>
                                    <li>General&nbsp;Science</li>
                                    <li>Arithmetic&nbsp;Reasoning</li>
                                    <li>Word&nbsp;Knowledge</li>
                                    <li>Paragraph&nbsp;Comprehension</li>
                                    <li>Mathematics&nbsp;Knowledge</li>
                                    <li>Electronics&nbsp;Information</li>
                                    <li>Auto&nbsp;and&nbsp;Shop&nbsp;Information</li>
                                    <li>Mechanical&nbsp;Comprehension</li>
                                </ul>
                                <h5>Military&nbsp;Entrance&nbsp;Score&nbsp;(AFQT)&nbsp;&nbsp;{{getScore('afqt')}}</h5>
                            </div>
                            <div class="print-content-col print-content-col-2">
                                <div class="print-content-col-head">
                                    <h5>Percentile&nbsp;Scores</h5>
                                    <div class="print-content-col-scores-wrap">
                                        <div class="print-content-col-scores col-1">
                                            <h6> {{educationLevel}}th Grade Males</h6>
                                        </div>
                                        <div class="print-content-col-scores col-2">
                                            <h6> {{educationLevel}}th Grade Females</h6>
                                        </div>
                                        <div class="print-content-col-scores col-3">
                                            <h6> {{educationLevel}}th Grade Students</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="print-content-col-scores-wrap">
                                    <div class="print-content-col-scores col-1">
                                        <h5>&nbsp;</h5>
                                        <ul>
                                            <li> {{cesData2_1[0].data[1]}} </li>
                                            <li> {{cesData2_2[0].data[1]}} </li>
                                            <li> {{cesData2_3[0].data[1]}} </li>
                                        </ul>
                                        <h5>&nbsp;</h5>
                                        <ul>
                                            <li> {{asvabData2_1[0].data[1]}} </li>
                                            <li> {{asvabData2_2[0].data[1]}} </li>
                                            <li> {{asvabData2_3[0].data[1]}} </li>
                                            <li> {{asvabData2_4[0].data[1]}} </li>
                                            <li> {{asvabData2_5[0].data[1]}} </li>
                                            <li> {{asvabData2_6[0].data[1]}} </li>
                                            <li> {{asvabData2_7[0].data[1]}} </li>
                                            <li> {{asvabData2_8[0].data[1]}} </li>
                                        </ul>
                                        <h5>&nbsp;</h5>
                                    </div>
                                    <div class="print-content-col-scores col-2">
                                        <h5>&nbsp;</h5>
                                        <ul>
                                            <li> {{cesData2_1[0].data[0]}} </li>
                                            <li> {{cesData2_2[0].data[0]}} </li>
                                            <li> {{cesData2_3[0].data[0]}} </li>
                                        </ul>
                                        <h5>&nbsp;</h5>
                                        <ul>
                                            <li> {{asvabData2_1[0].data[0]}} </li>
                                            <li> {{asvabData2_2[0].data[0]}} </li>
                                            <li> {{asvabData2_3[0].data[0]}} </li>
                                            <li> {{asvabData2_4[0].data[0]}} </li>
                                            <li> {{asvabData2_5[0].data[0]}} </li>
                                            <li> {{asvabData2_6[0].data[0]}} </li>
                                            <li> {{asvabData2_7[0].data[0]}} </li>
                                            <li> {{asvabData2_8[0].data[0]}} </li>
                                        </ul>
                                        <h5>&nbsp;</h5>
                                    </div>
                                    <div class="print-content-col-scores col-3">
                                        <h5>&nbsp;</h5>
                                        <ul>
                                            <li> {{cesData2_1[0].data[2]}} </li>
                                            <li> {{cesData2_2[0].data[2]}} </li>
                                            <li> {{cesData2_3[0].data[2]}} </li>
                                        </ul>
                                        <h5>&nbsp;</h5>
                                        <ul>
                                            <li> {{asvabData2_1[0].data[2]}} </li>
                                            <li> {{asvabData2_2[0].data[2]}} </li>
                                            <li> {{asvabData2_3[0].data[2]}} </li>
                                            <li> {{asvabData2_4[0].data[2]}} </li>
                                            <li> {{asvabData2_5[0].data[2]}} </li>
                                            <li> {{asvabData2_6[0].data[2]}} </li>
                                            <li> {{asvabData2_7[0].data[2]}} </li>
                                            <li> {{asvabData2_8[0].data[2]}} </li>
                                        </ul>
                                        <h5>&nbsp;</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="print-content-col print-content-col-3">
                                <div class="print-content-col-head">
                                    <h4> {{educationLevel}}th Grade Standard Score Bands</h4>
                                </div>
                                <div class="print-content-col-bands">
                                    <div class="print-content-col-range top">
                                        <ul>
                                            <li></li>
                                            <li>20</li>
                                            <li>30</li>
                                            <li>40</li>
                                            <li>50</li>
                                            <li>60</li>
                                            <li>70</li>
                                            <li>80</li>
                                            <li></li>
                                        </ul>
                                    </div>
                                    <div class="print-content-col-range top">
                                        <ul>
                                            <span class="verticle-class"></span>
                                            <span class="verticle-class"></span>
                                            <span class="verticle-class"></span>
                                            <span class="verticle-class"></span>
                                            <span class="verticle-class"></span>
                                            <span class="verticle-class"></span>
                                            <span class="verticle-class"></span>
                                        </ul>
                                    </div>
                                    <h5>&nbsp;</h5>
                                    <ul>
                                        <li><span [ngStyle]="{'left': scoreInterpolation(cesData1[0])}">X</span>
                                        </li>
                                        <li><span [ngStyle]="{'left': scoreInterpolation(cesData1[1])}">X</span>
                                        </li>
                                        <li><span [ngStyle]="{'left': scoreInterpolation(cesData1[2])}">X</span>
                                        </li>
                                    </ul>
                                    <h5>&nbsp;</h5>
                                    <ul>
                                        <li><span [ngStyle]="{'left': scoreInterpolation(asvabData1[0])}">X</span>
                                        </li>
                                        <li><span [ngStyle]="{'left': scoreInterpolation(asvabData1[1])}">X</span>
                                        </li>
                                        <li><span [ngStyle]="{'left': scoreInterpolation(asvabData1[2])}">X</span>
                                        </li>
                                        <li><span [ngStyle]="{'left': scoreInterpolation(asvabData1[3])}">X</span>
                                        </li>
                                        <li><span [ngStyle]="{'left': scoreInterpolation(asvabData1[4])}">X</span>
                                        </li>
                                        <li><span [ngStyle]="{'left': scoreInterpolation(asvabData1[5])}">X</span>
                                        </li>
                                        <li><span [ngStyle]="{'left': scoreInterpolation(asvabData1[6])}">X</span>
                                        </li>
                                        <li><span [ngStyle]="{'left': scoreInterpolation(asvabData1[7])}">X</span>
                                        </li>
                                    </ul>
                                    <h5>&nbsp;</h5>
                                    <div class="print-content-col-range bottom">
                                        <ul>
                                            <li></li>
                                            <li>20</li>
                                            <li>30</li>
                                            <li>40</li>
                                            <li>50</li>
                                            <li>60</li>
                                            <li>70</li>
                                            <li>80</li>
                                            <li></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="print-content-col print-content-col-4">
                                <div class="print-content-col-head">
                                    <h6> {{educationLevel}}th Grade Standard Score</h6>
                                </div>
                                <h5>&nbsp;</h5>
                                <ul>
                                    <li> {{cesData1[0]}} </li>
                                    <li> {{cesData1[1]}} </li>
                                    <li> {{cesData1[2]}} </li>
                                </ul>
                                <h5>&nbsp;</h5>
                                <ul>
                                    <li> {{asvabData1[0]}} </li>
                                    <li> {{asvabData1[1]}} </li>
                                    <li> {{asvabData1[2]}} </li>
                                    <li> {{asvabData1[3]}} </li>
                                    <li> {{asvabData1[4]}} </li>
                                    <li> {{asvabData1[5]}} </li>
                                    <li> {{asvabData1[6]}} </li>
                                    <li> {{asvabData1[7]}} </li>
                                </ul>
                                <h5>&nbsp;</h5>
                            </div>
                        </div>
                    </div>
                    <div class="print-content-widget">
                        <h5 class="print-content-title">Explanation Of Your <br>ASVAB Percentile Scores</h5>
                        <p class="print-content-text">Your ASVAB results are reported as percentile scores in the
                            three
                            highlighted
                            columns to the left of the graph. Percentile scores show how you compare to other
                            students -
                            males and
                            females, and for all students - in your grade. For example, a percentile score of 65
                            for an
                            11th grade
                            female would mean she scored the same or better than 65 out of every 100 females in the
                            11th
                            grade.</p>
                        <p class="print-content-text">For purposes of career planning, knowing your relative
                            standing in
                            these
                            comparison groups is important.Being male or female does not limit your career or
                            educational choices.
                            There are noticeable differences in how men and women score in some areas. Viewing your
                            scores in light of
                            your relative standing both to men and women may encourage you to explore areas that you
                            might otherwise
                            overlook.</p>
                        <p class="print-content-text">You can use the <strong>Career Exploration Scores</strong> to
                            evaluate your
                            knowledge and skills in three general areas (Verbal, Math, and Science and Technical
                            Skills). You can use
                            the <strong>ASVAB Test Scores</strong> to gather information on specific skill areas.
                            <i>Together, these
                                scores provide a snapshot of your current knowledge and skills.</i> This information
                            will help you
                            develop and review your career goals and plans.
                        </p>
                        <h5 class="print-content-title">Explanation Of Your <br>ASVAB Standard Scores</h5>
                        <p class="print-content-text">Your ASVAB results are reported as standard scores in the
                            above
                            graph.Your
                            score on each test is identified by the "<strong>X</strong>" in the corresponding bar
                            graph.
                            You should
                            view these scores as estimates of your true skill level in that area. If you took the
                            test
                            again, you
                            probably would receive a somewhat different score. Many things, such as how you were
                            feeling
                            during
                            testing, contribute to this difference. This difference is shown with gray score bands
                            in
                            the graph of
                            your results. Your standard scores are based on the ASVAB tests and composites based
                            on your
                            grade level.
                        </p>
                        <p class="print-content-text">The score bands provide a way to identify some of your
                            strengths.
                            Overlapping
                            score bands mean your true skill level is similar in both areas, so the real difference
                            between specific
                            scores might not be meaningful. If the score bands do not overlap, you probably are
                            stronger
                            in the area
                            that has the higher score band.</p>
                        <p class="print-content-text">The ASVAB is an aptitude test. It is neither an absolute
                            measure
                            of your
                            skills and abilities nor a perfect predictor of your success or failure. A high score
                            does
                            not guarantee
                            success, and a low score does not guarantee failure, in a future educational program or
                            occupation. For
                            example, if you have never worked with shop equipment or cars, you may not be familiar
                            with
                            the terms and
                            concepts assessed by the Auto and Shop Information test. Taking a course or obtaining a
                            part-time job in
                            this area would increase your knowledge and improve your score if you were to take it
                            again.
                        </p>
                        <h5 class="print-content-title">Using ASVAB Results in <br>Career Exploration</h5>
                        <p class="print-content-text">Your career and educational plans may change over time as you
                            gain
                            more
                            experience and learn more about your interests. <i>Exploring Careers: The ASVAB Career
                                Exploration
                                Guide</i> can help you learn more about yourself and the world of work,to identify
                            and
                            explore potential
                            goals, and develop an effective strategy to realize your goals. The Guide will help you
                            identify occupations in line with your interests and skills. As you explore potentially satisfying
                            careers,
                            you will
                            develop your career exploration and planning skills.</p>
                        <p class="print-content-text">Meanwhile, your ASVAB results can help you in making
                            well-informed
                            choices
                            about future high school courses.</p>
                        <p class="print-content-text">We encourage you to discuss your ASVAB results with a
                            teacher,
                            counselor,
                            parent, family member or other interested adult. These individuals can help you to view
                            your
                            ASVAB results
                            in light of other important information, such as your interests, school grades,
                            motivation,
                            and personal
                            goals.</p>
                    </div>
                </div>
                <div class="print-content-sidebar">
                    <div class="print-content-sidebar-top">
                        <div class="print-content-sidebar-widget">
                            <h5 class="print-content-title">Use Of Information</h5>
                            <p class="print-content-text">Personal identity information (name, social security
                                number,
                                street
                                address, and telephone number) and test scores will not be released to any agency
                                outside
                                of the
                                Department of Defense (DoD), the Armed Forces, the Coast Guard, and your school.
                                Your
                                school or local
                                school system can determine any further release of information. The DoD will use
                                your
                                scores for
                                recruiting and research purposes for up to two years.After that the information will
                                beused by the DoD
                                for research purposes only.</p>
                        </div>
                        <div class="print-content-sidebar-widget">
                            <h5 class="print-content-title">Military <br>Entrance&nbspScores</h5>
                            <p class="print-content-text">The <strong>Military Entrance Score</strong> (also called
                                AFQT, which stands
                                for the Armed Forces Qualification Test) is the score used to determine your
                                qualifications for entry
                                into any branch of the United States Armed Forces or the Coast Guard. The
                                <strong>Military Entrance
                                    Score</strong> predicts in a general way how well you might do in training and
                                on
                                the job in military
                                occupations.Your score reflects your standing compared to American men and women
                                18 to
                                23 years of
                                age.
                            </p>
                        </div>
                    </div>
                    <div class="print-content-sidebar-bottom">
                        <p style="padding-right: 10px">Use Access Code: {{scoreSummaryStudent?.accessCodes?.accessCode}}
                        </p>
                        <p>(for online Occu-Find and FYI)</p>
                        <p style="padding-right: 10px">Access code expires: <br/>
                            {{getAbbrMonth(accessCodeExpiration.getMonth()+1)}}
                            {{accessCodeExpiration.getDate()}}&nbsp;,&nbsp;{{accessCodeExpiration.getFullYear()}} </p>
                        <div class="print-access">Explore career possibilities by using your Access Code at</div>
                        <div class="print-site-link"><i><a
                                    href="//www.asvabprogram.com">www.asvabprogram.com</a></i>
                        </div>
                        <div class="print-information"><i>See Your Counselor For Further Information</i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="print-footer">Dd Form 1304-5, Jul 05 - Previous Editions Of This Form Are Obsolete</div>
    </div>
</div>