h2 {
  margin-top: 30px;
}

#fyi #score-band-table>tbody>tr>td {
    border: 0;
}

#fyi #test-info-table>tbody>tr>td {
    vertical-align: top;
}


#fyi #test-info-table th {
    text-align: left;
}

#fyi h4#choose {
    margin-bottom: 10px;
}
/* MY ASVAB SUMMARY RESULTS */

@media screen and (min-width: 64em) {
    #asvabPercentChart1,
    #asvabPercentChart2,
    #asvabPercentChart3,
    #asvabPercentChart4,
    #asvabPercentChart5,
    #asvabPercentChart6
    #asvabPercentChart7
    #asvabPercentChart8 {
        min-height: 150px;
    }
}

.summary-results-hero-box {
    border: 1px solid #d3d3d3;
    margin-bottom: 50px;
  }
  .summary-results-hero-box .summary-results-hero-table-title {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid #d3d3d3;
  }
   .occufind #content-wrap .summary-results-hero-box .menu.tools {
    background-color: transparent !important;
    margin-bottom: 0;
  }
  .occufind #content-wrap .summary-results-hero-table-title .menu.tools a {
    color: #4c44ac !important;
    padding-left: 0 !important;
  }
  .summary-results-hero-box table,
  .summary-results-hero-box table td {
    border: none !important;
  }
  .summary-results-hero-box table thead {
    background-color: transparent;
    border: 0;
  }
  .summary-results-hero-box table tbody tr th {
    border: none;
    max-width: 60px;
    padding: 0 0 0 10px;
  }
  .summary-results-hero-box table tbody tr td {
    padding: 0;
  }
  #fyi .summary-results-hero-box .optionButtons {
    max-width: 100%;
    font-size: 15px;
  }
  .summary-results-hero-box p {
    margin-top: 9px;
    margin-bottom: 5px;
  }
  .summary-results-hero-box #fyi-results #test-info-table {
      margin-bottom: 0;
  }
  #afqt {
      font-weight: bold;
      margin-bottom: 50px;    
  }
  .result-page-include-section ul {
    margin-top: 10px;
  }
  .result-page-include-section li, .result-page-include-section li a {
    font-size: 16px;
    font-weight: bold;
  }
  
  @media screen and (min-width:40em) {
      .result-page-include-section .tutorial {
        float: right;
        max-width: 280px;
      }
      #fyi .summary-results-hero-box .optionButtons {
        margin: 0 auto;
      }
  }
  #fyi .result-page-include-section .tutorial h4 {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .summary-results-page h3 {
    padding: 8px 10px !important;
  }
  .summary-results-page .font-normal {
    font-weight: normal !important;
  }
  /* MY ASVAB SUMMARY RESULTS End */

// Feel free to remove below once bootstrap is installed
.btn-link{
    color: #4c44ac;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
}
.isBold{
    font-weight:bold;
}


.percent-chart-label {
  padding-left: 53px;
}

.standard-chart-label {
  padding-left: 13px;
}

// @media (min-width: 992px)
// {
//   .asvab-modal .mat-dialog-container {
//       width:100% !important;
//   }
// }