.modal-footer .btn-delete-note {
    border: 1px solid #8b2e33;
    color: #8b2e33;
    padding: 9px 20px 8px;
    margin-right: 15px;
    text-transform: uppercase;
    vertical-align: middle;
    margin: 0 1rem 1rem 0;
}