<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()"><span
      aria-hidden="true">&times;</span></button>
  <h3 class="modal-title">Notes:</h3>
</div>
<div class="modal-body">

  <div class="row">
    <div class="medium-4 columns">
      <div *ngIf="noteList.length > 0 || (initialNotesObject && initialNotesObject.title)">
        <h3>Occupations</h3>
        <ul style="list-style: none;">
          <li><a (click)="resetObject(); toggleView(view.Occupation);">{{initialNotesObject.title}}</a></li>
          <li *ngFor="let n of displayNoteList()">
            <a (click)="selectOccupation(n.noteId); toggleView(view.Occupation)">{{n.title}}</a>
          </li>
        </ul>
      </div>

      <div *ngIf="noteListSchool.length > 0 || (initialSchoolNotesObject && initialSchoolNotesObject.schoolName)">
        <h3>Colleges</h3>
        <ul style="list-style: none;">
          <li><a (click)="resetSchoolObject(); toggleView(view.School)">{{initialSchoolNotesObject.schoolName}}</a></li>
          <li *ngFor="let n of displayNoteListSchool()">
            <a (click)="selectSchool(n.noteId); toggleView(view.School)">{{n.schoolName}}</a>
          </li>
        </ul>
      </div>

      <div *ngIf="noteListCC.length > 0 || (initialCCNotesObject && initialCCNotesObject.title)">
        <h3>Career Clusters</h3>
        <ul style="list-style: none;">
          <li><a (click)="resetCCObject(); toggleView(view.CC)">{{initialCCNotesObject.title}}</a></li>
          <li *ngFor="let n of displayNoteListCC()">
            <a (click)="selectCC(n.noteId); toggleView(view.CC)">{{n.title}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="viewSetting.showOccupationNotes" class="medium-8 columns" id="right">
      <h3>{{selectedNotesObject.title}}</h3>
      <textarea style="min-height: 200px;" [(ngModel)]="selectedNotesObject.notes"
        [attr.disabled]="savingNotes ? '' : null"></textarea>
    </div>

    <div *ngIf="viewSetting.showSchoolNotes" class="medium-8 columns" id="right">
      <h3>{{selectedSchoolNotesObject.schoolName}}</h3>
      <textarea style="min-height: 200px;" [(ngModel)]="selectedSchoolNotesObject.notes"
        [attr.disabled]="savingNotes ? '' : null"></textarea>
    </div>

    <div *ngIf="viewSetting.showCCNotes" class="medium-8 columns" id="right">
      <h3>{{selectedCCNotesObject.title}}</h3>
      <textarea style="min-height: 200px;" [(ngModel)]="selectedCCNotesObject.notes"
        [attr.disabled]="savingNotes ? '' : null"></textarea>
    </div>
  </div>
</div>
<div class="modal-footer">
  <span style="color: #cc0000;">{{error}}</span>
  <button *ngIf="viewSetting.showOccupationNotes && selectedNotesObject && selectedNotesObject.noteId"
    class="btn-link btn-delete-note" type="button" (click)="deleteNote()"
    [attr.disabled]="isPerformingAction ? '' : null"><span class="fa fa-times"></span> Remove <span *ngIf="deletingNote"
      class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
  <button *ngIf="viewSetting.showOccupationNotes" class="button" type="button" (click)="save()"
    [attr.disabled]="isPerformingAction ? '' : null">Save<span *ngIf="savingNotes" id="save-indicator"
      class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>

  <button *ngIf="viewSetting.showSchoolNotes && selectedSchoolNotesObject && selectedSchoolNotesObject.noteId"
    class="btn-link btn-delete-note" type="button" (click)="deleteSchoolNote()"
    [attr.disabled]="isPerformingAction ? '' : null"><span class="fa fa-times"></span> Remove <span *ngIf="deletingNote"
      class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
  <button *ngIf="viewSetting.showSchoolNotes" class="button" type="button" (click)="saveSchool()"
    [attr.disabled]="isPerformingAction ? '' : null">Save<span *ngIf="savingNotes" id="save-indicator"
      class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>

  <button *ngIf="viewSetting.showCCNotes && selectedCCNotesObject && selectedCCNotesObject.noteId"
    class="btn-link btn-delete-note" type="button" (click)="deleteCCNote()"
    [attr.disabled]="isPerformingAction ? '' : null"><span class="fa fa-times"></span>
    Remove <span *ngIf="deletingNote" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
  <button *ngIf="viewSetting.showCCNotes" class="button" type="button" (click)="saveCC()"
    [attr.disabled]="isPerformingAction ? '' : null">Save<span *ngIf="savingNotes" id="save-indicator"
      class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
</div>