<div class="calendar_date">
  <div class="modal-content" style="border:none;">
    <div class="modal-header">
      <h3> Calendar Date </h3>
      <button class="close-button" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-content-inner">

      <form [formGroup]="dateFormGroup" (submit)="saveDateFormGroup()" *ngIf="!isLoading">
        <div class="form-group d-flex mb_10" *ngIf="wasOpenInPlan">
          Date will be added to&nbsp;<strong>{{plan?.occuTitle.title}}</strong>
        </div>
        <div class="form-group d-flex">
          <label class="mb_10" style="width:50px;"><strong>Title</strong></label>
          <input class="w-100" formControlName="title">
        </div>
        <div class="form-group d-flex">
          <label style="width:50px;margin-top: 15px;"><strong>Date</strong></label>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="mm/dd/yyyy" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group" *ngIf="!wasOpenInPlan">
          <label><strong>Assign date to a plan</strong></label>
          <div class="form_select">
            <select id="userOccupationPlan" formControlName="userOccupationPlan"
              (change)="onPlanChange($event.target.value)">
              <option value="">Not Assigned</option>
              <option *ngFor="let o of userOccupationPlans" [value]="o.id">
                {{o.occuTitle.title}}</option>
            </select>
          </div>
        </div>

        <p>Stay on schedule by assigning tasks to this date</p>
        <div class="form-group" style="display:block !important;">
          <label class="mb_10"><strong>Assign a task</strong></label>

          <ng-container formArrayName="tasks">
            <div class="row mb_10" *ngFor="let task of tasks.controls; let i = index" [formGroupName]="i">
              <div class="column small-10" style="padding-left: 0 !important;">
                {{task.value.taskName}}
              </div>
              <div class="column small-2 text-right" style="padding-right:0 !important;">
                <button class="remove_row" type="button" (click)="removeTask(i)"><img
                    src="assets/images/close-blue.svg" /></button>
              </div>
            </div>
          </ng-container>

          <input class="w-100 mb_10" formControlName="addTask">
          <button type="button" (click)="addTask()" class="ml_auto" [disabled]="!dateFormGroup.value.addTask.length > 0">
            <img src="assets/images/checkmark_with_plus.svg"> <span>Add
              Task</span></button>
        </div>
        <div class="text-center mt_50">
          <button class="button" type="submit"
            [disabled]="(!dateFormGroup.dirty || !dateFormGroup.valid) || isSaving">SAVE
            <span *ngIf="isSaving" id="save-indicator"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></span>
          </button>
          <button class="button" type="button" (click)="close()">CANCEL</button>
        </div>
      </form>

      <div *ngIf="isLoading">
        <div class="row">
          <div class="small-12 column text-center">
            <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
            Loading...
          </div>
        </div>
      </div>
    </div>

  </div>
</div>