<div [ngClass]="{'occufind': true, 'logged-out': !occuFindUserLoggedIn}">    
    <app-header></app-header>   
    <app-my-asvab-header></app-my-asvab-header>
	
	<section id="content-wrap" class="left-nav-expanded-wrap" 
		*ngIf="alternateView.length == 0">
		<div class="row">
			<app-left-navigation-v2-collapsed *ngIf="occuFindUserLoggedIn" [selectedTab]="'explore'"></app-left-navigation-v2-collapsed>

			<div class="hide-for-small-only" style="z-index: 1" *ngIf="!occuFindUserLoggedIn">
				<img src="assets/images/asvab-ad.jpg" >
			</div>

			<section id="main-content" class="left-navigation-condensed" role="main">
				<app-my-top-results-collapsed *ngIf="occuFindUserLoggedIn" [collapsedVersion]="'v2'"></app-my-top-results-collapsed>
				<div id="left-nav-content-wrap">
				<div class="row">
					<div class="medium-12 columns">

						<ul class="content-bread-cumbs hide-for-small-only">
							<li><a routerLink="/occufind-occupation-search-results">Search</a></li> &gt; 
							<li>{{occupationTitle}}</li>
						</ul>
						<div class="top-blue-panel">
							<div *ngIf="occuFindUserLoggedIn" class="favorites_menu_wrapper">
								<ul class="menu tools icons-right pull-left">						
									<li id="notes"><a (click)="showNotes()"><i class="fa fa-sticky-note fa-lg show-for-small-only"></i> Notes</a></li>
									<li id="favorites"><app-occufind-add-favorites [parent]="this"></app-occufind-add-favorites></li>
									<li id="view-favorites" class=" show-for-small-only"><a routerLink="favorites"><i class="fa fa-lg fa-heart"></i> View Favorites</a></li>
								</ul>
							 </div>							 
							 <div class="new-socials show-for-medium pull-right">
							 	<div class="share">Share:
									<share-button class="sl-margin" button="facebook" [title]="'With ASVAB CEP, I explored: ' + occupationTitle"
										[description]="occupationDescription" [image]="imageUrl" [url]="getShareUrl()" (click)="_googleAnalyticsService.trackSocialShare('Facebook', 'Occu-Find')"></share-button>
									<share-button class="sl-margin" button="twitter" [title]="'With ASVAB CEP, I explored: ' + occupationTitle"
										[description]="occupationDescription" [image]="imageUrl" [url]="getShareUrl()" (click)="_googleAnalyticsService.trackSocialShare('Twitter', 'Occu-Find')"></share-button>
									<share-button class="sl-margin" button="linkedin" [title]="'With ASVAB CEP, I explored: ' + occupationTitle"
										[description]="occupationDescription" [image]="imageUrl" [url]="getShareUrl()" (click)="_googleAnalyticsService.trackSocialShare('LinkedIn', 'Occu-Find')"></share-button>
									<share-button button="email" [title]="'With ASVAB CEP, I explored: ' + occupationTitle"
										[description]="occupationDescription" (click)="_googleAnalyticsService.trackSocialShare('Email', 'Occu-Find')"></share-button>


									<!-- <a href="#" ng-controller="GA" ng-click="trackSocialShare('Facebook', 'Occu-Find');" 
									socialshare socialshare-provider="facebook"
								socialshare-via="2055205968038605"
								socialshare-url="{{absUrl}}"><i class="fa fa-facebook"></i></a> 
							<a href="#" ng-controller="GA" ng-click="trackSocialShare('Twitter', 'Occu-Find');" 
									socialshare socialshare-provider="twitter"
									socialshare-via="ASVABCEP"
									socialshare-text="{{occupationTitle}}: {{ShrinkDescription(occupationDescription, 50)}}"
								socialshare-url="{{absUrl}}"><i class="fa fa-twitter"></i></a> 
							<a href="#" ng-controller="GA" ng-click="trackSocialShare('LinkedIn', 'Occu-Find');" 
									socialshare socialshare-provider="linkedin"
									socialshare-text="With ASVAB CEP, I explored: {{occupationTitle}}"
											socialshare-description="{{occupationDescription}}"
								socialshare-url="{{absUrl}}"><i class="fa fa-linkedin"></i></a> 
							<a href="#" ng-controller="GA" ng-click="trackSocialShare('Email', 'Occu-Find');"  
									socialshare socialshare-provider="email"
								socialshare-subject="With ASVAB CEP, I explored: {{occupationTitle}}"
								socialshare-body="With ASVAB CEP, I explored: {{occupationTitle}} {{absUrl}}"><i class="fa fa-envelope"></i></a> -->


									<!-- <a href="#" ng-controller="GA" (click)="trackSocialShare('Facebook', 'Occu-Find');" 
									    socialshare socialshare-provider="facebook"
										socialshare-via="2055205968038605"
										socialshare-url="{{absUrl}}"><i class="fa fa-facebook"></i></a> 
									<a href="#" ng-controller="GA" (click)="trackSocialShare('Twitter', 'Occu-Find');" 
									    socialshare socialshare-provider="twitter"
									    socialshare-via="ASVABCEP"
									    socialshare-text="{{occupationTitle}}: {{ShrinkDescription(occupationDescription, 50)}}"
										socialshare-url="{{absUrl}}"><i class="fa fa-twitter"></i></a> 
									<a href="#" ng-controller="GA" (click)="trackSocialShare('LinkedIn', 'Occu-Find');" 
									    socialshare socialshare-provider="linkedin"
									    socialshare-text="With ASVAB CEP, I explored: {{occupationTitle}}"
							            socialshare-description="{{occupationDescription}}"
										socialshare-url="{{absUrl}}"><i class="fa fa-linkedin"></i></a> 
									<a href="#" ng-controller="GA" (click)="trackSocialShare('Email', 'Occu-Find');"  
									    socialshare socialshare-provider="email"
										socialshare-subject="With ASVAB CEP, I explored: {{occupationTitle}}"
										socialshare-body="With ASVAB CEP, I explored: {{occupationTitle}} {{absUrl}}"><i class="fa fa-envelope"></i></a> -->
								</div>
							 </div>
							 <h1 class="job-title hide-for-small-only">{{occupationTitle}}</h1>
						</div>
					</div>
					<section id="main-content" class="large-8 medium-12 columns" role="main">			
						<div class="row show-for-small-only">
							<div class="share">Share: <br>
								<!-- <a ng-controller="GA" (click)="trackSocialShare('Facebook', 'Occu-Find');" 
								    socialshare socialshare-provider="facebook"
									socialshare-via="2055205968038605"
									socialshare-url="{{absUrl}}"><i class="fa fa-facebook"></i></a>
								<a ng-controller="GA" (click)="trackSocialShare('Twitter', 'Occu-Find');" 
								    socialshare socialshare-provider="twitter"
								    socialshare-via="ASVABCEP"
								    socialshare-text="{{occupationTitle}}: {{ShrinkDescription(occupationDescription, 50)}}"
									socialshare-url="{{absUrl}}"><i class="fa fa-twitter"></i></a> 
								<a ng-controller="GA" (click)="trackSocialShare('LinkedIn', 'Occu-Find');" 
								    socialshare socialshare-provider="linkedin"
								    socialshare-text="{{occupationTitle}}"
						            socialshare-description="{{occupationDescription}}"
									socialshare-url="{{absUrl}}"><i class="fa fa-linkedin"></i></a> 
								<a ng-controller="GA" (click)="trackSocialShare('Email', 'Occu-Find');" 
								    socialshare socialshare-provider="email"
									socialshare-subject="With ASVAB CEP, I explored: {{occupationTitle}}"
									socialshare-body="With ASVAB CEP, I explored: {{occupationTitle}} {{absUrl}}"><i class="fa fa-envelope"></i></a>  -->
							</div>
						</div>
								
						<h2 class="job-title show-for-small-only">{{occupationTitle}}</h2>
						<p *ngIf="alternateTitles.length > 0">
							<strong>Also Called: </strong>
							<span *ngFor="let a of alternateTitles | slice:0:shrinkVal; last as isLast;"> {{a.reportedJobTitle}}<span *ngIf="!isLast;">,</span></span>
		                    <a [hidden]="alternateTitles.length < 5 || shrinkVal > 5"  (click)="shrinkVal=10000">&nbsp;Show more...</a>
							<a *ngIf="shrinkVal > 5"  (click)="shrinkVal = 5">&nbsp;...Show less</a>
		               </p>
		
						<p>
							<strong>Description: </strong>
							{{occupationDescription}}
						</p>
						
						<section id="oc-legend" class="hide-for-large">
							<img src="{{imageUrl}}" style="display: block; margin: auto; width:100%" alt="{{imageAltText.imageAltText}}" title="{{imageAltText.imageAltText}}">
							<ul class="menu no-margins icons-left right-align">
								<li *ngIf="occupationStem" id="stem"><a ng-controller="LeftNavigationController" (click)="stemDefinition()">Stem</a></li>
								<!-- <li *ngIf="occupationGreen" id="green"><a ng-controller="LeftNavigationController" (click)="greenDefinition()">Green</a></li> -->
								<li *ngIf="occupationBright" id="hot"><a ng-controller="LeftNavigationController" (click)="brightDefinition()">Bright Outlook</a></li>
							</ul>	
						</section>
						<div class="callout secondary"  *ngIf="!occuFindUserLoggedIn" >
								<p><strong>Is this career right for you?</strong><br> 
									The ASVAB CEP gives you the tools to discover your strengths and interests. If you're already a participant, start exploring.</p>
									<a class="button" (click)="showLoginModal()">Login</a>   							
									<p><strong>Not a participant? <a routerLink="/general-help">Click here to get started!</a></strong></p>
						</div>
						<div class="row">
							<!-- Hint: If not viewed related careers or CC -->
							<div *ngIf="showCompareJobAttributesTip" class="skills-interests-career d-flex align-items-center"> 
								<svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
								<p class="mb-0 bold">Compare these job attributes to your own results to help you evaluate a career's suitability.</p>
								<button type="button" (click)="closeCompareJobAttributesTip()" class="close" data-dismiss="modal" aria-label="Close">
									<img src="/assets/images/close-blue.svg" alt="Close" />
								</button> 
							</div>
							<section id="interest-codes" class="medium-6 columns">
								<h3 style="padding: 8px 10px">JOB INTEREST CODES <a (click)="openDescription('interest-codes')" class="occufind-explain alt"></a></h3>
								<p *ngIf="!occupationInterestOne && !occupationInterestTwo && !occupationInterestThree">
									Interest code information is not yet available for this occupation. 
								</p>
								<ul>
									<li *ngIf="occupationInterestOne == 'R'" class="code-r">Realistic</li>
									<li *ngIf="occupationInterestOne == 'I'" class="code-i">Investigative</li>
									<li *ngIf="occupationInterestOne == 'A'" class="code-a">Artistic</li>
									<li *ngIf="occupationInterestOne == 'S'" class="code-s">Social</li>
									<li *ngIf="occupationInterestOne == 'E'" class="code-e">Enterprising</li>
									<li *ngIf="occupationInterestOne == 'C'" class="code-c">Conventional</li>
									
									<li *ngIf="occupationInterestTwo == 'R'" class="code-r">Realistic</li>
									<li *ngIf="occupationInterestTwo == 'I'" class="code-i">Investigative</li>
									<li *ngIf="occupationInterestTwo == 'A'" class="code-a">Artistic</li>
									<li *ngIf="occupationInterestTwo == 'S'" class="code-s">Social</li>
									<li *ngIf="occupationInterestTwo == 'E'" class="code-e">Enterprising</li>
									<li *ngIf="occupationInterestTwo == 'C'" class="code-c">Conventional</li>
									
									<li *ngIf="occupationInterestThree == 'R'" class="code-r">Realistic</li>
									<li *ngIf="occupationInterestThree == 'I'" class="code-i">Investigative</li>
									<li *ngIf="occupationInterestThree == 'A'" class="code-a">Artistic</li>
									<li *ngIf="occupationInterestThree == 'S'" class="code-s">Social</li>
									<li *ngIf="occupationInterestThree == 'E'" class="code-e">Enterprising</li>
									<li *ngIf="occupationInterestThree == 'C'" class="code-c">Conventional</li>
								</ul>
							</section>
							<section id="skill-importance" class="medium-6 columns">
								<h3 style="padding: 8px 10px">Job Skill Importance <a (click)="openDescription('skill-importance')" class="occufind-explain alt"></a></h3>
								<div *ngIf="!occuFindUserLoggedIn">
									Login to see how important verbal, math, and science/technical skills are for this occupation.
								</div>
								
								<div *ngIf="occuFindUserLoggedIn">
									<!-- <ul>
										<li><div><span class="starrr-label">Verbal</span> <div class="ratebox" data-id="1" data-rating="{{skillImportance.verbal}}"></div></div></li>
										<li><div><span class="starrr-label">Math</span> <div class="ratebox" data-id="2" data-rating="{{skillImportance.math}}"></div></div></li>
										<li><div><span class="starrr-label">Science / Technical</span> <div class="ratebox" data-id="3" data-rating="{{skillImportance.sciTech}}"></div></div></li>
									</ul> -->
									<ul>
										<li><div><span class="starrr-label">Verbal</span> <div class="ratebox" data-id="1" [attr.data-rating]="skillImportance.verbal"></div></div></li>
										<li><div><span class="starrr-label">Math</span> <div class="ratebox" data-id="2" [attr.data-rating]="skillImportance.math"></div></div></li>
										<li><div><span class="starrr-label">Science / Technical</span> <div class="ratebox" data-id="3" [attr.data-rating]="skillImportance.sciTech"></div></div></li>
									</ul>
								</div>
							</section>
							<!-- work value -->
							<section class="large-12 columns" *ngIf="workValues?.length > 0">
								<h3 style="padding: 8px 10px; margin-bottom:20px">Work Values <a (click)="openDescription('work-values')" class="occufind-explain alt"></a></h3>
								<div class="row">
									<ng-container *ngFor="let workValue of workValues; let i = index;">
										<div class="columns medium-4 text-center" style="cursor: pointer;" (click)="openDescription(workValue.name)" title="{{workValue.title}}">
											<i class="{{workValue.iconClass}}" title="{{workValue.title}}"></i>
											<p>{{workValue.name}}</p>
										</div>
									</ng-container>
								</div>
							</section> 

							<!-- Hint: If not viewed related careers or CC -->
							<div *ngIf="showRelatedCareerCCTip" class="skills-interests-career d-flex align-items-center"> 
								<svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
								<p class="mb-0 bold">Curious about similar careers? Consider career clusters and related careers. >

								</p>
								<button type="button" (click)="closeRelatedCareerCCTip()" class="close" data-dismiss="modal" aria-label="Close">
									<img src="/assets/images/close-blue.svg" alt="Close" />
								</button> 
							</div>

							<section class="large-12 columns" *ngIf="tasks.length != 0">
								<h3 style="padding: 8px 10px">What They Do <a (click)="openDescription('what-they-do')" class="occufind-explain alt"></a></h3>
								<div ng-init="occupationLimit = 5; limitFlag = true;">
									<ul *ngFor="let t of tasks | slice:0:occupationLimit">
										<li>{{t.occupationTask}}</li>
									</ul>
									<a (click)="(occupationLimit = (occupationLimit == 5 ? tasks.length : 5)); limitFlag = !limitFlag">
										<span *ngIf="!limitFlag">... </span>
										show
										<span *ngIf="limitFlag">more ...</span>
										<span *ngIf="!limitFlag">less</span>
									</a>
								</div>
							</section>

							<!-- Hint: CSS & Angular code for not click on any more info detail under How To Get There -->
							<div *ngIf="(guidedTipConfig?.goToMilitary || guidedTipConfig?.goToCollege || guidedTipConfig?.workBasedLearn) && !showRelatedCareerCCTip && !visitedHowToGetThereDetailLink && !visitedHowToGetThereDetailLinkClosedHint" class="skills-interests-career d-flex align-items-center"> 
                <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
                <p class="mb-0 bold">There are many ways to gain career field entry! Explore the How To Get There section to find education, work-based learning and military service opportunities for this occupation.</p>
                <button type="button" (click)="closeVisitedHowToGetThereDetailLinkTip()" class="close" data-dismiss="modal" aria-label="Close">
                  <img src="/assets/images/close-blue.svg" alt="Close" />
                </button> 
              </div>

							<section id="how-to-get-there" class="large-12 columns">
								<h3 style="padding: 8px 10px">How to Get There <a (click)="openDescription('how-to-get-there')" class="occufind-explain alt"></a></h3>
								<div id="education" class="chart-sction">									
									<div [hidden]="educationLevel.length == 0 && schoolDetails.length == 0">										
										<h4 style="padding:15px 0; margin:0">Education <a (click)="openDescription('education')" class="occufind-sub-explain alt"></a></h4>			                        							
			                        	<ul class="bar_chart">
			                        		<li *ngFor="let barData of barList">
			                        			<span>{{barData.school}}</span>
													<div class="chart-percentage">
														<span>{{barData.value}}%</span>
			                        				<div class="progress-new">
			                        					<div [ngStyle]="{'width' : + barData.value + '%'}" role="progressbar" [ngClass]="'progress-bar-new ' + barData.color"></div>
			                        				</div>
			                        			</div>
			                        		</li>
			                        	</ul>
			                        	<div *ngIf="educationLevel.length !=0" class="ng-scope progressbar-line">Estimated levels of education needed for hire.*</div>
			                        	<div class="text-center">		                        	
			                        		<a (click)="schoolMoreDetails(); setCompletionVisitedOccupationDetailLink()" *ngIf="educationLevel.length != 0 &amp;&amp; schoolDetails.length != 0" class="ng-scope border-btn">College Info </a>		                        	
			                        	</div>
										<p *ngIf="educationLevel.length == 0 && jobZone">
											<strong style="text-align:left;">Title - </strong>
				                            <span>{{jobZone.name}}</span>
			                        	</p>		                        	
			                        	<p *ngIf="educationLevel.length == 0 && jobZone">
											<strong style="text-align:left;">Education: </strong>
				                            <span>{{jobZone.education}}</span>
			                        	</p>		                        	
			                        	<p *ngIf="educationLevel.length == 0 && jobZone">
											<strong style="text-align:left;">Related Experience: </strong>
				                            <span>{{jobZone.experience}}</span>
			                        	</p>
										<div *ngIf="educationLevel.length == 0 && schoolDetails.length != 0">The estimated education level is not reported for this occupation but there are colleges offering related degrees. <a (click)="schoolMoreDetails()">Click to learn more</a>.</div>
				                    	<hr/>
		                        	</div>
								</div>
								<div id="credentials" style="padding-left:10px;">
									<h4 style="padding:15px 0; margin:0">Credentials <a (click)="openDescription('credentials')" class="occufind-sub-explain alt"></a></h4>
			                        <div style="margin-bottom: 15px;" show-more> 
										<span [innerHtml]="certificateExplanation ? certificateExplanation.slice(0, shrinkCredentialsVal) : null"></span>
										<a *ngIf="certificateExplanation && certificateExplanation.length > 0" [hidden]="(certificateExplanation && (certificateExplanation.length < shrinkCredentialsValLimit)) || shrinkCredentialsVal > shrinkCredentialsValLimit"  (click)="shrinkCredentialsVal=100000000">Show more...</a>
										<a *ngIf="certificateExplanation && certificateExplanation.length > 0 && shrinkCredentialsVal > shrinkCredentialsValLimit"  (click)="shrinkCredentialsVal = shrinkCredentialsValLimit">...Show less</a>
									</div>		                        
			 
									<ul class="menu chevron borderBtn">
										<li *ngIf="occupationCertificates.RecordCount > 0">
											<a class="border-btn" (click)="findCertifications(); setCompletionVisitedOccupationDetailLink()">Certifications</a>
										</li>
										<li><a class="border-btn" (click)="findLicenses(); setCompletionVisitedOccupationDetailLink()">Licenses</a></li>
										<li><a class="border-btn item-long" (click)="setCompletionVisitedOccupationDetailLink()" href="https://www.apprenticeship.gov/apprenticeship-occupations/listings?occupationCode={{socId}}" target="_blank">Apprenticeship.gov</a></li>
									</ul>
									<hr/>
								</div>
								<div id="mil-offering" style="padding-left:10px;">
									<!-- Hint: CSS & Angular code for not click on military info -->
									<div *ngIf="guidedTipConfig?.goToMilitary  && !showRelatedCareerCCTip && !visitedMilitaryInfo && !visitedMilitaryInfoClosedHint" class="skills-interests-career d-flex align-items-center"> 
										<svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
										<p class="mb-0 bold">Are you considering a career in the military? Learn more about your options.</p>
										<button type="button" (click)="closeVisitedMilitaryInfoTip()" class="close" data-dismiss="modal" aria-label="Close">
											<img src="/assets/images/close-blue.svg" alt="Close" />
										</button> 
									</div>

									<div *ngIf="servicesOffering.length != 0">
			                        	<h4 style="padding:15px 0; margin:0">Military Services Offering this Occupation <a (click)="openDescription('mil-offering')" class="occufind-sub-explain alt"></a></h4>						
										<ul class="plain">										
											<li>
											<!-- TODO: orderBy pipe <span *ngFor="let s of servicesOffering | orderBy:orderByService"> -->
												<span *ngFor="let s of servicesOffering">
													<a (click)="militaryMoreDetails()"><img *ngIf="s.serviceCode == 'A'" src="assets/images/service/army.png" title="Army"/></a>
													<a (click)="militaryMoreDetails()"><img *ngIf="s.serviceCode == 'M'" src="assets/images/service/marines.png" title="Marine Corps"/></a>
													<a (click)="militaryMoreDetails()"><img *ngIf="s.serviceCode == 'N'" src="assets/images/service/navy.png" title="Navy"/></a>
													<a (click)="militaryMoreDetails()"><img *ngIf="s.serviceCode == 'F'" src="assets/images/service/airforce.png" title="Air Force"/></a>
													<a (click)="militaryMoreDetails()"><img *ngIf="s.serviceCode == 'C'" src="assets/images/service/Coast-Guard.png" title="Coast Guard"/></a>
													<a (click)="militaryMoreDetails()"><img *ngIf="s.serviceCode == 'G'" src="assets/images/service/national-guard.png" title="National Guard"/></a>
												</span>
											</li>
										</ul>			
			                         	<div class="text-center"><a (click)="militaryMoreDetails(); setCompletionVisitedOccupationDetailLink(); setCompletionVisitedMilitaryInfo()" class="border-btn">Military Info</a></div>
			                         	<hr/>
			                         </div>
								</div>
							</section>
									
							<section *ngIf="stateSalary.length > 0 || stateEntrySalary.length > 0" class="large-12 columns">
								<h3 style="padding: 8px 10px">Employment Statistics <a (click)="openDescription('emp-stats')" class="occufind-explain alt"></a></h3>

								<mat-tab-group animationDuration="0ms"> <mat-tab
									label="Entry-Level Salaries">
								<div id="entry" class="tab-pane"
									[ngClass]="{in: stateEntrySalary.length > 0, active: stateEntrySalary.length > 0}">
									<div class="row">
										<span class="medium-9 small-8 columns"> The national entry-level salary<sup>1</sup>
											for {{blsTitle.blsTitle}} is: <strong>{{nationalEntrySalary | currency}}</strong>
										</span>
									</div>
									<div class="salary-chart">
										<!-- <div google-chart chart="entryLevelSalaryChart"></div> -->
										<google-chart [data]="entryLevelSalaryChart"></google-chart>
									</div>
									<div class="salary-chart-mobile">
										<google-chart [data]="entryLevelSalaryChartMobile"></google-chart>
									</div>
									<p>
										<sup>1</sup> This data comes from <a href="https://www.bls.gov/oes/" target="_blank">Bureau
											of Labor Statistics</a> and reflects the lowest ten percent earnings for this occupation,
										which approximates entry level salary. Salary data reflects wages from {{stateSalaryYear}}.
									</p>
								</div>
								</mat-tab> <mat-tab label="Average Salaries">
								<div id="avg" class="tab-pane"
									[ngClass]="{in: stateEntrySalary.length == 0 && stateSalary.length > 0, active: stateEntrySalary.length == 0 && stateSalary.length > 0}">
									<div class="row">
										<span class="medium-9 small-8 columns"> The national salary average for
											{{blsTitle.blsTitle}} is: <strong>{{nationalSalary | currency}}</strong>
										</span>
									</div>
									<div class="salary-chart">
										<!-- <div google-chart chart="chart"></div> -->
										<google-chart [data]="chart"></google-chart>
									</div>
									<div class="salary-chart-mobile">
										<google-chart [data]="chartMobile"></google-chart>
									</div>
								</div>
								</mat-tab> </mat-tab-group>
								<p><b>Blank areas indicate data not available.</b></p>
								<p *ngIf="showBLSStatement()">Wage and employment data collected from {{blsTitle.blsTitle}}, which is a broad example of this occupation.</p>						
		 						<p>National Poverty Level: <strong>$12,140</strong> <a (click)="openDescription('poverty-level')" class="occufind-sub-explain alt"></a><br/>
		 							<a target="_blank" href="https://aspe.hhs.gov/poverty-guidelines">Learn more</a>
		 						
		 						</p>
		 						<div style="margin-top: 20px;" class="text-center"><a (click)="employmentMoreDetails(); setCompletionVisitedOccupationDetailLink()" class="border-btn">More Details</a></div>
							</section>
						</div>
					</section>
					<aside class="sidebar large-4 medium-12 pull-right columns">
						<section id="oc-legend" class="show-for-large">
							<ul class="menu no-margins icons-left right-align">
								<li *ngIf="occupationStem" id="stem"><a ng-controller="LeftNavigationController" (click)="stemDefinition()">Stem</a></li>
								<!-- <li *ngIf="occupationGreen" id="green"><a ng-controller="LeftNavigationController" (click)="greenDefinition()">Green</a></li> -->
								<li *ngIf="occupationBright" id="hot"><a ng-controller="LeftNavigationController" (click)="brightDefinition()">Bright Outlook</a></li>
							</ul>
							<img src="{{imageUrl}}" style="display: block; margin: auto; width:100%; padding-bottom: 20px;" alt="{{imageAltText.imageAltText}}" title="{{imageAltText.imageAltText}}">
						</section>
						<section *ngIf="relatedOccupations.length != 0 && occuFindUserLoggedIn">	
							<h3>Related Careers</h3>
							<ul class="related-careers">
								<li *ngFor="let r of relatedOccupations"><a (click)="relatedCareers(r.relatedOnetSoc)" >{{r.title}}</a><i *ngIf="r.isStemOccupation" class="icon stem" rel="stem"></i><i *ngIf="r.isBrightOccupation" class="icon hot" rel="bright"></i><i *ngIf="r.isGreenOccupation" class="icon green" rel="green"></i></li>
							</ul>
						</section>
						<section *ngIf="relatedCareerCluster.length != 0">	
							<h3>Related Career Cluster</h3>
							<ul class="related-career-cluster">
								<li *ngFor="let r of relatedCareerCluster"><a (click)="relatedCC(r.ccId)">{{r.careerClusterName}}</a></li>
							</ul>
						</section>
						<section *ngIf="occuFindUserLoggedIn">	
							<h3>Career Resources</h3>
							<ul class="career-resources">
								<li *ngFor="let m of moreResources"><a href="{{m.url}}" target="_blank">{{m.title}}</a></li>
							</ul>
						</section>
						
						<section *ngIf="occuFindUserLoggedIn">	
							<h3>More Resources</h3>
							<ul class="career-resources">
								<li><a (click)="setCompletionOfMoreResource()" href="https://fafsa.ed.gov/" target="_blank">FAFSA</a></li>
								<li><a (click)="setCompletionOfMoreResource()" href="http://www.fastweb.com/" target="_blank">Fastweb</a></li>
								<li><a (click)="setCompletionOfMoreResource()" href="http://nces.ed.gov/collegenavigator/" target="_blank">College Navigator</a></li>
								<li><a (click)="setCompletionOfMoreResource()" href="http://www.collegecalc.org/" target="_blank">CollegeCalc</a></li>
								<li><a (click)="setCompletionOfMoreResource()" href="http://www.usaeop.com/" target="_blank">Army Educational Outreach Program</a></li>
								<li><a (click)="setCompletionOfMoreResource()" href="https://www.khanacademy.org/" target="_blank">Khan Academy</a></li>
								<li><a (click)="setCompletionOfMoreResource()" href="https://www.onetonline.org/" target="_blank">O*NET OnLine</a></li>
								<li><a (click)="setCompletionOfMoreResource()" href="http://Livingwage.mit.edu" target="_blank">Living Wage Calculator</a></li>
							</ul>
						</section>
						
						<!-- not logged in -->
						<section  *ngIf="!occuFindUserLoggedIn">	
							<h3>WHAT'S YOUR DREAM JOB?</h3>
							<ul class="career-resources">
								<li><a routerLink="student-program"> <strong>Identify your strengths </strong>
									Take the ASVAB test </a></li>
								<li><a routerLink="student-learn"> <strong>Learn about yourself</strong>
									Find Your Interests </a></li>
								<li><a routerLink="student-explore"> <strong>Find your dream job</strong>
									Explore the OCCU-Find </a></li>
							</ul>
						</section>
						<section  *ngIf="!occuFindUserLoggedIn">	
							<h3>MORE EXPLORATION RESOURCES</h3>
							<ul class="career-resources">
								<li><a routerLink="media-center-article/6"> Considering a Gap Year </a></li>
								<li><a routerLink="media-center-article/10"> CTE: Preparing for Life After High School</a></li>
								<li><a routerLink="media-center"> More from the Media Center </a></li>
							</ul>
						</section>
		
					</aside>
					<section id="disclaimer" class="medium-12 columns">
						<p>Occupational details for all careers listed in the OCCU-Find were derived from <a href="https://www.onetcenter.org/db_releases.html" target="_blank">O*NET 22.3 database</a> and the <a href="https://www.doleta.gov/" target="_blank">U.S. Department of Labor, Employment and Training Administration</a> in accordance with the content <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">license</a>. <span *ngIf="showModifiedMsg()">For this job, changes were made to the original. </span>These details are complemented by relevant labor market information provided by <a href="http://bls.gov/" target="_blank">Bureau of Labor Statistics</a>, <a href="http://nces.ed.gov/" target="_blank">National Center of Education Statistics</a>, <a href="http://www.careeronestop.org/" target="_blank">CareerOneStop</a>, and Defense Manpower Data Center. Contact any business, college or Military Service directly for more details.</p>
						<!-- <p>Data supplied by <a href="http://www.onetonline.org/" target="_blank">O*ONET Online</a>, <a href="http://bls.gov/" target="_blank">Bureau of Labor Statistics</a>, <a href="http://nces.ed.gov/" target="_blank">National Center of Education Statistics</a>, <a href="http://www.careeronestop.org/" target="_blank">CareerOneStop</a>, and Defense Manpower Data Center. Contact any business, college or Military Service directly for more details.</p>  -->
						<p>*The percents shown are from O*NET data collection, in which
							job incumbents were asked, "If someone were being hired to perform
							this job, indicate the level of education that would be required"
							(education levels shown). (Note that this does not mean the level
							of education that the respondents achieved.)</p>
					</section>
				</div>
			</div>
			</section>
			
		</div>
	</section>
	
	<!-- NO SKILL RATING VIEW -->
	<section id="content-wrap" class="left-nav-expanded-wrap" *ngIf="alternateView.length > 0">
	  		
			<div class="small-12 columns show-for-small-only">
				<div class="left-sub-nav">
					<ul id="steps" class="menu vertical">
						<li><a>OCCU-FIND</a></li>
					</ul>
				</div>
			</div>
			
			<!-- no content in mobile view if left out -->
			<p class="show_mobile">&nbsp;</p>
			
			<div class="row">
				<app-left-navigation-v2-collapsed *ngIf="occuFindUserLoggedIn" [selectedTab]="'explore'"></app-left-navigation-v2-collapsed>
	
				<div class="hide-for-small-only" style="z-index: 1" *ngIf="!occuFindUserLoggedIn">
					<img src="assets/images/asvab-ad.jpg" >
				</div>
	
				<section id="main-content" class="left-navigation-condensed" role="main">
					<app-my-top-results-collapsed *ngIf="occuFindUserLoggedIn" [collapsedVersion]="'v2'"></app-my-top-results-collapsed>
					<div id="left-nav-content-wrap">
					<div class="row">
						<div class="medium-12 columns" >
			
							<div class="show-for-medium">
								<div class="share">Share:
									<share-button class="sl-margin" button="facebook" [title]="'With ASVAB CEP, I explored: ' + occupationTitle"
										[description]="occupationDescription" [image]="imageUrl" [url]="getShareUrl()" (click)="_googleAnalyticsService.trackSocialShare('Facebook', 'Occu-Find')"></share-button>
									<share-button class="sl-margin" button="twitter" [title]="'With ASVAB CEP, I explored: ' + occupationTitle"
										[description]="occupationDescription" [image]="imageUrl" [url]="getShareUrl()" (click)="_googleAnalyticsService.trackSocialShare('Twitter', 'Occu-Find')"></share-button>
									<share-button class="sl-margin" button="linkedin" [title]="'With ASVAB CEP, I explored: ' + occupationTitle"
										[description]="occupationDescription" [image]="imageUrl" [url]="getShareUrl()" (click)="_googleAnalyticsService.trackSocialShare('LinkedIn', 'Occu-Find')"></share-button>
									<share-button button="email" [title]="'With ASVAB CEP, I explored: ' + occupationTitle"
										[description]="occupationDescription" (click)="_googleAnalyticsService.trackSocialShare('Email', 'Occu-Find')"></share-button>
									<!-- <a ng-controller="GA" (click)="trackSocialShare('Facebook', 'Occu-Find');" 
											socialshare socialshare-provider="facebook"
										socialshare-via="2055205968038605"
										socialshare-url="{{absUrl}}"><i class="fa fa-facebook"></i></a> 
									<a ng-controller="GA" (click)="trackSocialShare('Twitter', 'Occu-Find');" 
											socialshare socialshare-provider="twitter"
											socialshare-via="ASVABCEP"
											socialshare-text="{{occupationTitle}}: {{occupationDescription}}"
										socialshare-url="{{absUrl}}"><i class="fa fa-twitter"></i></a> 
									<a ng-controller="GA" (click)="trackSocialShare('LinkedIn', 'Occu-Find');" 
											socialshare socialshare-provider="linkedin"
											socialshare-text="{{occupationTitle}}"
													socialshare-description="{{occupationDescription}}"
										socialshare-url="{{domainUrl}}{{imageUrl}}"><i class="fa fa-linkedin"></i></a> 
									<a ng-controller="GA" (click)="trackSocialShare('Email', 'Occu-Find');" 
											socialshare socialshare-provider="email"
										socialshare-subject="I found this at ASVAB CEP: {{occupationTitle}}"
										socialshare-body="I found this at ASVAB CEP: {{occupationTitle}} {{absUrl}}"><i class="fa fa-envelope"></i></a> 
									 -->
                                    <hr>
								</div>
							</div>
							<div *ngIf="occuFindUserLoggedIn" class="favorites_menu_wrapper">
								<ul class="menu tools icons-right pull-right">						
									<li id="notes"><a (click)="showNotes()"><i class="fa fa-sticky-note show-for-small-only"></i> Notes</a></li>
									<li id="favorites"><app-occufind-add-favorites [parent]="this"></app-occufind-add-favorites></li>
									<li id="view-favorites" class=" show-for-small-only"><a routerLink="favorites"><i class="fa fa-heart"></i> View Favorites</a></li>
								</ul>
								<!-- <ul class="menu tools icons-right">
									<li id="notes" ng-controller="NotesController"><a (click)="showOccufindNotes()"><i class="fa fa-sticky-note show-for-small-only"></i>Notes</a></li>
									<li id="favorites"><app-occufind-add-favorites [parent]="this"></app-occufind-add-favorites></li>
									<li id="view-favorites" class=" show-for-small-only"><a routerLink="favorites"><i class="fa fa-heart"></i> <span>View Favorites</span></a></li>
								</ul> -->
							</div>
			
						</div>
						<section id="" class="medium-12 columns" role="main">
						
							<div class="row show-for-small-only">
								<div class="share">Share: <br>
									<share-button class="sl-margin" button="facebook" [title]="'With ASVAB CEP, I explored: ' + occupationTitle"
										[description]="occupationDescription" [image]="imageUrl" [url]="getShareUrl()" (click)="_googleAnalyticsService.trackSocialShare('Facebook', 'Occu-Find')"></share-button>
									<share-button class="sl-margin" button="twitter" [title]="'With ASVAB CEP, I explored: ' + occupationTitle"
										[description]="occupationDescription" [image]="imageUrl" [url]="getShareUrl()" (click)="_googleAnalyticsService.trackSocialShare('Twitter', 'Occu-Find')"></share-button>
									<share-button class="sl-margin" button="linkedin" [title]="'With ASVAB CEP, I explored: ' + occupationTitle"
										[description]="occupationDescription" [image]="imageUrl" [url]="getShareUrl()" (click)="_googleAnalyticsService.trackSocialShare('LinkedIn', 'Occu-Find')"></share-button>
									<share-button button="email" [title]="'With ASVAB CEP, I explored: ' + occupationTitle"
										[description]="occupationDescription" (click)="_googleAnalyticsService.trackSocialShare('Email', 'Occu-Find')"></share-button>
									<!-- <a ng-controller="GA" (click)="trackSocialShare('Facebook', 'Occu-Find');" 
											socialshare socialshare-provider="facebook"
										socialshare-via="2055205968038605"
										socialshare-url="{{absUrl}}"><i class="fa fa-facebook"></i></a>
									<a ng-controller="GA" (click)="trackSocialShare('Twitter', 'Occu-Find');" 
											socialshare socialshare-provider="twitter"
											socialshare-via="ASVABCEP"
											socialshare-text="{{occupationTitle}}: {{occupationDescription}}"
										socialshare-url="{{absUrl}}"><i class="fa fa-twitter"></i></a> 
									<a ng-controller="GA" (click)="trackSocialShare('LinkedIn', 'Occu-Find');" 
											socialshare socialshare-provider="linkedin"
											socialshare-text="{{occupationTitle}}"
													socialshare-description="{{occupationDescription}}"
										socialshare-url="{{domainUrl}}{{imageUrl}}"><i class="fa fa-linkedin"></i></a> 
									<a ng-controller="GA" (click)="trackSocialShare('Email', 'Occu-Find');" 
											socialshare socialshare-provider="email"
										socialshare-subject="I found this at ASVAB CEP: {{occupationTitle}}"
										socialshare-body="I found this at ASVAB CEP: {{occupationTitle}} {{absUrl}}"><i class="fa fa-envelope"></i></a>  -->
								</div>
							</div>
							
					<!-- 		<div ng-include="'cep/page-partials/mobile-interest-codes.html'" ng-controller="MobileInterestCodesController" *ngIf="occuFindUserLoggedIn"></div> -->
							
							<div class="row">
							<section id="oc-legend" class="medium-12 columns hide-for-large">
								<ul class="menu no-margins icons-left right-align">
									<li *ngIf="occupationStem" id="stem"><a ng-controller="LeftNavigationController" (click)="stemDefinition()">Stem</a></li>
									<!-- <li *ngIf="occupationGreen" id="green"><a ng-controller="LeftNavigationController" (click)="greenDefinition()">Green</a></li> -->
									<li *ngIf="occupationBright" id="hot"><a ng-controller="LeftNavigationController" (click)="brightDefinition()">Bright Outlook</a></li>
								</ul>	
							</section>
							<h2 class="job-title medium-6 columns">{{occupationTitle}}</h2>
							
							<section id="oc-legend" class="medium-6 columns show-for-large">
								<ul class="menu no-margins icons-left right-align">
									<li *ngIf="occupationStem" id="stem"><a ng-controller="LeftNavigationController" (click)="stemDefinition()">Stem</a></li>
									<!-- <li *ngIf="occupationGreen" id="green"><a ng-controller="LeftNavigationController" (click)="greenDefinition()">Green</a></li> -->
									<li *ngIf="occupationBright" id="hot"><a ng-controller="LeftNavigationController" (click)="brightDefinition()">Bright Outlook</a></li>
								</ul>
							</section>
							
							
							
							<p class="medium-12 columns">{{alternateView[0].description}}</p>
							</div>
							
							<div class="callout secondary"  *ngIf="!occuFindUserLoggedIn" >
									<p><strong>Is this career right for you?</strong><br> 
										The ASVAB CEP gives you the tools to discover your strengths and interests. If you're already a participant, start exploring.</p>
										<a class="button" (click)="showLoginModal()">Log In</a>   							
										<p><strong>Not a participant? <a routerLink="/general-help">Click here to get started!</a></strong></p>
							</div>
							<div class="row">
								
								<section class="large-12 columns" *ngIf="alternateView.length > 0 && alternateView[0].relatedTitle != undefined">
									<h3>Related Careers</h3>
									<ul class="related-careers">
										<li *ngFor="let r of alternateView"><a (click)="relatedCareers(r.relatedSocId)" >{{r.relatedTitle}}</a><i *ngIf="r.isStemOccupation" class="icon stem" rel="stem"></i><i *ngIf="r.isBrightOccupation" class="icon hot" rel="bright"></i><i *ngIf="r.isGreenOccupation" class="icon green" rel="green"></i></li>
									</ul>
								</section>
							</div>
						</section>
					</div>
				</div>
				</section>
			</div>

		<!-- PREVIOUS CODE: NO SKILL RATING VIEW -->
		<div *ngIf="false" class="row">
			<div class="medium-2 columns"  *ngIf="occuFindUserLoggedIn">
				<app-left-navigation #leftNavi></app-left-navigation>
			</div>
			<div class="medium-2 columns hide-for-small-only"  *ngIf="!occuFindUserLoggedIn">
				<img src="assets/images/asvab-ad.jpg" >
			</div>
			<div class="medium-12 columns" >
			
				<div class="show-for-medium">
					<div class="share">Share:
						<share-button class="sl-margin" button="facebook" [title]="'With ASVAB CEP, I explored: ' + occupationTitle"
						[description]="occupationDescription" [image]="imageUrl" [url]="getShareUrl()" (click)="_googleAnalyticsService.trackSocialShare('Facebook', 'Occu-Find')"></share-button>
					<share-button class="sl-margin" button="twitter" [title]="'With ASVAB CEP, I explored: ' + occupationTitle"
						[description]="occupationDescription" [image]="imageUrl" [url]="getShareUrl()" (click)="_googleAnalyticsService.trackSocialShare('Twitter', 'Occu-Find')"></share-button>
					<share-button class="sl-margin" button="linkedin" [title]="'With ASVAB CEP, I explored: ' + occupationTitle"
						[description]="occupationDescription" [image]="imageUrl" [url]="getShareUrl()" (click)="_googleAnalyticsService.trackSocialShare('LinkedIn', 'Occu-Find')"></share-button>
					<share-button button="email" [title]="'With ASVAB CEP, I explored: ' + occupationTitle"
						[description]="occupationDescription" (click)="_googleAnalyticsService.trackSocialShare('Email', 'Occu-Find')"></share-button>
						<!-- <a ng-controller="GA" (click)="trackSocialShare('Facebook', 'Occu-Find');" 
						    socialshare socialshare-provider="facebook"
							socialshare-via="2055205968038605"
							socialshare-url="{{absUrl}}"><i class="fa fa-facebook"></i></a> 
						<a ng-controller="GA" (click)="trackSocialShare('Twitter', 'Occu-Find');" 
						    socialshare socialshare-provider="twitter"
						    socialshare-via="ASVABCEP"
						    socialshare-text="{{occupationTitle}}: {{occupationDescription}}"
							socialshare-url="{{absUrl}}"><i class="fa fa-twitter"></i></a> 
						<a ng-controller="GA" (click)="trackSocialShare('LinkedIn', 'Occu-Find');" 
						    socialshare socialshare-provider="linkedin"
						    socialshare-text="{{occupationTitle}}"
				            socialshare-description="{{occupationDescription}}"
							socialshare-url="{{domainUrl}}{{imageUrl}}"><i class="fa fa-linkedin"></i></a> 
						<a ng-controller="GA" (click)="trackSocialShare('Email', 'Occu-Find');" 
						    socialshare socialshare-provider="email"
							socialshare-subject="I found this at ASVAB CEP: {{occupationTitle}}"
							socialshare-body="I found this at ASVAB CEP: {{occupationTitle}} {{absUrl}}"><i class="fa fa-envelope"></i></a> 
						<hr style="margin-bottom:0"> -->
					</div>
				</div>
				<div *ngIf="occuFindUserLoggedIn">
				<ul class="menu tools icons-right">
					<li id="notes" ng-controller="NotesController"><a (click)="showOccufindNotes()"><i class="fa fa-sticky-note show-for-small-only"></i>Notes test</a></li>
					<li id="favorites"><app-occufind-add-favorites [parent]="this"></app-occufind-add-favorites></li>
					<li id="view-favorites" class=" show-for-small-only"><a routerLink="favorites"><i class="fa fa-heart"></i> <span>View Favorites</span></a></li>
				</ul>
				</div>

			</div>
			<section id="" class="medium-12 columns" role="main">
			
				<div class="row show-for-small-only">
					<div class="share">Share: <br>
						<!-- <a ng-controller="GA" (click)="trackSocialShare('Facebook', 'Occu-Find');" 
						    socialshare socialshare-provider="facebook"
							socialshare-via="2055205968038605"
							socialshare-url="{{absUrl}}"><i class="fa fa-facebook"></i></a>
						<a ng-controller="GA" (click)="trackSocialShare('Twitter', 'Occu-Find');" 
						    socialshare socialshare-provider="twitter"
						    socialshare-via="ASVABCEP"
						    socialshare-text="{{occupationTitle}}: {{occupationDescription}}"
							socialshare-url="{{absUrl}}"><i class="fa fa-twitter"></i></a> 
						<a ng-controller="GA" (click)="trackSocialShare('LinkedIn', 'Occu-Find');" 
						    socialshare socialshare-provider="linkedin"
						    socialshare-text="{{occupationTitle}}"
				            socialshare-description="{{occupationDescription}}"
							socialshare-url="{{domainUrl}}{{imageUrl}}"><i class="fa fa-linkedin"></i></a> 
						<a ng-controller="GA" (click)="trackSocialShare('Email', 'Occu-Find');" 
						    socialshare socialshare-provider="email"
							socialshare-subject="I found this at ASVAB CEP: {{occupationTitle}}"
							socialshare-body="I found this at ASVAB CEP: {{occupationTitle}} {{absUrl}}"><i class="fa fa-envelope"></i></a>  -->
					</div>
				</div>
				
		<!-- 		<div ng-include="'cep/page-partials/mobile-interest-codes.html'" ng-controller="MobileInterestCodesController" *ngIf="occuFindUserLoggedIn"></div> -->
				
				<div class="row">
				<section id="oc-legend" class="medium-12 columns hide-for-large">
					<ul class="menu no-margins icons-left right-align">
						<li *ngIf="occupationStem" id="stem"><a ng-controller="LeftNavigationController" (click)="stemDefinition()">Stem</a></li>
						<!-- <li *ngIf="occupationGreen" id="green"><a ng-controller="LeftNavigationController" (click)="greenDefinition()">Green</a></li> -->
						<li *ngIf="occupationBright" id="hot"><a ng-controller="LeftNavigationController" (click)="brightDefinition()">Bright Outlook</a></li>
					</ul>	
				</section>
				<h2 class="job-title medium-6 columns">{{occupationTitle}}</h2>
				
				<section id="oc-legend" class="medium-6 columns show-for-large">
					<ul class="menu no-margins icons-left right-align">
						<li *ngIf="occupationStem" id="stem"><a ng-controller="LeftNavigationController" (click)="stemDefinition()">Stem</a></li>
						<!-- <li *ngIf="occupationGreen" id="green"><a ng-controller="LeftNavigationController" (click)="greenDefinition()">Green</a></li> -->
						<li *ngIf="occupationBright" id="hot"><a ng-controller="LeftNavigationController" (click)="brightDefinition()">Bright Outlook</a></li>
					</ul>
				</section>
				
				
				
				<p class="medium-12 columns">{{alternateView[0].description}}</p>
				</div>
				
				<div class="callout secondary"  *ngIf="!occuFindUserLoggedIn" >
						<p><strong>Is this career right for you?</strong><br> 
							The ASVAB CEP gives you the tools to discover your strengths and interests. If you're already a participant, start exploring.</p>
							<a class="button" (click)="showLoginModal()">Log In</a>   							
							<p><strong>Not a participant? <a routerLink="/general-help">Click here to get started!</a></strong></p>
				</div>
				<div class="row">
					
					<section class="large-12 columns" *ngIf="alternateView.length > 0 && alternateView[0].relatedTitle != undefined">
						<h3>Related Careers</h3>
						<ul class="related-careers">
							<li *ngFor="let r of alternateView"><a (click)="relatedCareers(r.relatedSocId)" >{{r.relatedTitle}}</a><i *ngIf="r.isStemOccupation" class="icon stem" rel="stem"></i><i *ngIf="r.isBrightOccupation" class="icon hot" rel="bright"></i><i *ngIf="r.isGreenOccupation" class="icon green" rel="green"></i></li>
						</ul>
					</section>
				</div>
			</section>
		</div>

		<!-- <app-left-navigation-mobile
			*ngIf="occuFindUserLoggedIn"
	></app-left-navigation-mobile> -->
	</section>
	
	<app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
	<app-footer></app-footer>
	</div>