.row {
	display: block;
}
.mat-tab-body-content {
    height: 100%;
    overflow: hidden !important;
}

@media screen and (min-width: 40em) {
  .show_mobile {
    display: none;
  }
}

@media screen and (max-width: 39.9375em) and (min-width: 0em) {
  .occufind #main-content {
    margin-top: 0;
  }
  .favorites_menu_wrapper {
    margin: 0 -15px;
  }
}

.job-title {
    text-transform: none;
}

.occufind #content-wrap {
    @media screen and (max-width: 639px) {
        .top-blue-panel {
            margin-top: 5px;
        }
    }
  .share {
      
      > * {
          margin-left: 10px;
      }
      
      hr {
        margin: 0 0 10px;
        display: block;
      }
  }

  h3 {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 19px;
    color: #4a4a4a;
    background-color: #eeeeee;
    text-transform: inherit;
    padding: 6px 10px;
    margin-bottom: 20px;
  }

    .menu.tools {
      
      li {          
        &#notes {
            a {
                padding-top: 5px;
                margin-right: 9px;

            }
        }
      }
    }
    
    .top-blue-panel {
        .menu.tools {
      
          li {          
            &#notes {
                a {
                    padding: 0.7rem .8rem;
                    padding-left: 0;

                }
            }
          }
        }
    }
  .menu.tools {
      
      li {          
        &#notes {
            a {
                padding-top: 5px;
                margin-right: 9px;

            }
        }
      }

    &:not(.bottom) {
      @media screen and (max-width: 39.9375em) and (min-width: 0em) {
        width: 100%;
        margin: 0;
        padding: 15px 10px;
        text-align: center;
      }
    }
      
    li {
      
        @media screen and (max-width: 39.9375em) and (min-width: 0em) {
            .occufind-favorite {
                padding-left: 8px;
            }
        }

      a {
        padding-right: 25px !important;

        @media screen and (max-width: 39.9375em) and (min-width: 0em) {
            padding: 0 8px !important;
            
            svg {
                margin-right: 3px;
            }
        }
      }
    }
  }
} 

@media screen and (min-width: 0em) and (max-width: 63.9375em) {
    .occufind .borderBtn > li {
      display: block;
      float: none;
      margin: 0 auto 10px !important;
      max-width: 138px;
    }
  
    .occufind .borderBtn > li a.item-long {
      font-size: 0.7rem;
      padding-left: 9px;
    }
  }
  
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
    .occufind .borderBtn > li a.border-btn {
    font-weight: bold;
    line-height: 22px;
    padding: 0;
    }
    
    .occufind .borderBtn > li a.item-long {
        font-size: 0.7rem;
        padding-left: 2px;
    }
}