<div class="edit_plan_box mb_30">
  <h3 class="edit-plan">High School Plan</h3>
  <form class="border_bottom p_20" [formGroup]="schoolPlanForm" (ngSubmit)="updateSchoolPlan()">
    <div class="form-group mb_10">
      <label class="d_inline_block mr_50 hide-for-small-only"><strong>Graduation Date</strong></label>
      <label class="d_inline_block mr_20 show-for-small-only"><strong>Graduation Date</strong></label>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="mm/dd/yyyy" formControlName="graduationDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <p>List courses that will support your career goals (i.e., CTE, dual enrollment, AP classes). For example:</p>
    <ul>
      <li>
        Introduction to Nursing
      </li>
      <li>
        Automotive Shop
      </li>
      <li>
        Teachers for Tomorrow
      </li>
      <li>
        AP Statistics
      </li>
    </ul>
    <p class="mb_30">
      Talk with your school counselor to make sure you're on track.
    </p>
    <hr class="show-for-small-only" style="height: 2px; background-color: darkgray; border: none;" />
    <div class="mb_30">
      <ng-container formArrayName="courses">
        <div class="row" *ngFor="let course of courses.controls; let i = index" [formGroupName]="i">
          <input type="hidden" formControlName="id">
          <div class="columns large-5 medium-6">
            <div class="form-group">
              <label class="hide-for-small-only" *ngIf="i==0">High School Courses</label>
              <label class="show-for-small-only">High School Courses
                <button class="remove_row" style="margin-left: 13em;" type="button"
                  (click)="removeCourse(i, course.value.id)"><img src="assets/images/close-blue.svg" /></button>
              </label>
              <input type="text" class="form-control" formControlName="course" />
            </div>
          </div>
          <div class="columns large-7 medium-6">
            <div class="row">
              <div class="columns medium-6">
                <div class="form-group">
                  <label class="hide-for-small-only" *ngIf="i==0">Location(s)</label>
                  <label class="show-for-small-only">Location(s)</label>
                  <input type="text" class="form-control" formControlName="location" />
                </div>
              </div>
              <div class="columns medium-5">
                <div class="form-group">
                  <label class="hide-for-small-only" *ngIf="i==0">Benefit</label>
                  <label class="show-for-small-only">Benefit</label>
                  <input type="text" class="form-control" formControlName="benefit" />
                </div>
              </div>
              <div class="columns medium-1 hide-for-small-only">
                <div class="form-group text-center">
                  <label *ngIf="i==0">&nbsp;</label>
                  <button class="remove_row" style="margin: 0 0 1rem;" type="button"
                    (click)="removeCourse(i, course.value.id)"><img src="assets/images/close-blue.svg" /></button>
                </div>
              </div>
            </div>
          </div>
          <hr class="show-for-small-only" />
        </div>
      </ng-container>
      <a (click)="addCourse()"><strong>Add&nbsp;Another&nbsp;<i class="fa fa-plus"></i></strong></a>
    </div>

    <hr class="show-for-small-only" style="height: 2px; background-color: darkgray; border: none;" />

    <div class="mb_30">
      <ng-container formArrayName="activities">

        <div class="row" *ngFor="let act of activities.controls; let i = index" [formGroupName]="i">
          <input type="hidden" formControlName="id">
          <div class="columns large-5 medium-6">
            <div class="form-group">
              <label class="hide-for-small-only" *ngIf="i==0">Extracurricular/Work Activities</label>
              <label class="show-for-small-only">Extracurricular/Work Activities
                <button class="remove_row" style="margin-left: 13em;" type="button"
                  (click)="removeActivity(i, act.value.id)"><img src="assets/images/close-blue.svg" /></button>
              </label>
              <input type="text" class="form-control" formControlName="activity" />
            </div>
          </div>
          <div class="columns large-7 medium-6">
            <div class="row">
              <div class="columns medium-6">
                <div class="form-group">
                  <label class="hide-for-small-only" *ngIf="i==0">Location(s)</label>
                  <label class="show-for-small-only">Location(s)</label>
                  <input type="text" class="form-control" formControlName="location" />
                </div>
              </div>
              <div class="columns medium-5">
                <div class="form-group">
                  <label class="hide-for-small-only" *ngIf="i==0">Benefit</label>
                  <label class="show-for-small-only">Benefit</label>
                  <input type="text" class="form-control" formControlName="benefit" />
                </div>
              </div>
              <div class="columns medium-1 hide-for-small-only">
                <div class="form-group text-center">
                  <label *ngIf="i==0">&nbsp;</label>
                  <button class="remove_row" style="margin: 0 0 1rem;" type="button"
                    (click)="removeActivity(i, act.value.id)"><img src="assets/images/close-blue.svg" /></button>
                </div>
              </div>
            </div>
          </div>
          <hr class="show-for-small-only" />
        </div>
      </ng-container>
      <a (click)="addActivity()"><strong>Add&nbsp;Another&nbsp;<i class="fa fa-plus"></i></strong></a>
    </div>

    <div class="mb_30">
      <div class="row">
        <div class="columns medium-12 text-center p_20">
          <button class="button mx-auto" type="submit"
            [disabled]="(!schoolPlanForm.dirty || !schoolPlanForm.valid) || isSaving">SAVE
            <span *ngIf="isSaving" id="save-indicator"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></span>
          </button>
        </div>
      </div>
      <div class="row mt_15" *ngIf="wasSaved">
        <div class="column small-12 text-center ">
          <div class="success message">
            <i class="fi-check"></i>Save success!
          </div>
        </div>
      </div>
    </div>

  </form>


</div>