<div class="sidebar-nav sidebar-nav-expanded non-student-sidebar" id="sidebar-nav">
  <div class="sidebar-nav-inner">
    <ul class="sidebar-nav-items">
      <li id="non-student-top-link" class="sidebar-nav-item demo-mode">
        <a routerLink="/learn-about-yourself"><div style="margin-left: -40px">Student View</div></a>
      </li>

      <!-- LARGE AND MEDIUM SCREEN -->
      <!-- <li class="sidebar-nav-item">
            <a routerLink="/learn-about-yourself" [ngClass]="{'active': selectedTab === 'learn'}">
                <span>
                    <strong>Active <br> Students</strong>
                </span>
            </a>
          </li> -->
      <li class="sidebar-nav-item">
        <a (click)="toDashboard()" [ngClass]="{'active': selectedTab === 'explore'}"
          [ngStyle]="routeToDashboardStyle()">
          <span>
            <strong>Account <br> Overview</strong>
          </span>
        </a>
      </li>
      <!-- <li class="sidebar-nav-item">
        <a routerLink="/plan-your-future" [ngClass]="{'active': selectedTab === 'plan'}">
          <span>
            <strong>Schedule at <br> Your School</strong>
          </span>
        </a>
      </li> -->

      <li *ngIf="!isParent" class="sidebar-nav-item sidebar-nav-item-text-only my_50">
        <p>ASVAB CEP POCs</p>
        <p><b>Test Coordinator:</b> <br> Mr. William Felder <br> (410) 874-6343 <br> <a href="mailTo:email">Email</a>
        </p>
        <p><b>Program questions:</b> <br> Program Manager: <br> Mr. Craig Gilman <br> (410) 874-6341 <br> <a
            href="mailTo:email">Email</a></p>
      </li>

      <li class="sidebar-nav-item mobile-only" *ngIf="collapsed || selectedTab === 'explore' || selectedTab === 'plan'">
        <app-left-navigation-v2-collapsed [selectedTab]='selectedTab'></app-left-navigation-v2-collapsed>
      </li>
    </ul>
  </div>
</div>