<div *ngIf="collapsedVersion === 'v1'" class="my-asvab-score-no-fyi" [ngClass]="removeBorder ? 'no-border' : ''">
  <div class="my-strengths-bar">
      <!-- NO scores -->
      <ng-container *ngIf="!haveAsvabTestScores && !haveManualAsvabTestScores">
        <h5><span>MY ASVAB <br/> STRENGTHS</span><a (click)="asvabStrengths()" class="explain alt"></a></h5>
        <a (click)="openManualInputAsvabScores()" class="mx-auto">Enter Your Scores</a>
      </ng-container>
      <!-- / NO scores -->
      
      <!-- scores -->
      <ng-container *ngIf="haveAsvabTestScores || haveManualAsvabTestScores">
        <h5 *ngIf = "userRole !== 'E' && userRole !== 'D'"><span>MY ASVAB <br/> STRENGTHS</span><a (click)="asvabStrengths()" class="explain alt"></a></h5>
        <h5 *ngIf = "userRole === 'E' || userRole === 'D'"><span>SAMPLE <br/> STRENGTHS</span><a (click)="asvabStrengths()" class="explain alt"></a></h5>
          <span id="top-results" *ngIf="!showScoresTable">
            <div id="my-results" class="row small-up-4 my-results books">
              <div class="columns">
                <div name="fieldName" ngDefaultControl class="skill-books" attr.id="{{ haveAsvabTestScores ? 'verbal-skills' : 'manual-score-skills' }}" [ngStyle]="getBookPos('verbal')" [(ngModel)]="vBooks.xPos"></div>
                <div>Verbal</div>
              </div>
              <div class="columns">
                <div name="fieldName" ngDefaultControl class="skill-books" attr.id="{{ haveAsvabTestScores ? 'math-skills' : 'manual-score-skills' }}" [ngStyle]="getBookPos('math')" [(ngModel)]="mBooks.xPos"></div>
                <div>Math</div>
              </div>
              <div class="columns">
                <div name="fieldName" ngDefaultControl class="skill-books" attr.id="{{ haveAsvabTestScores ? 'science-skills' : 'manual-score-skills' }}" [ngStyle]="getBookPos('science')" [(ngModel)]="sBooks.xPos"></div>
                  <div>S/T</div>
              </div>
            </div>
          </span>
          <span id="top-results" *ngIf="showScoresTable">
            <div id="my-results" class="row small-up-4">
              <div class="columns">
                <span class="text-teal"><strong>{{getScore("verbal")}}</strong></span>
                <strong>V</strong>
              </div>
              <div class="columns">
                <span class="text-brown"><strong>{{getScore("math")}}</strong></span>
                <strong>M</strong>
              </div>
              <div class="columns">
                <span class="text-blue"><strong>{{getScore("science")}}</strong></span>
                <strong>S/T</strong>
              </div>
              <div class="columns">
                <span class="text-gray"><strong>{{getScore("afqt")}}</strong></span>
                <strong>AFQT</strong>
              </div>
            </div>
          </span>
        <div class="switch-icon">
            <a (click)="toggleScoreView()"><img src="assets/images/dashboard/Switch.svg"></a>
        </div>
      </ng-container>
      <!-- / scores -->
  </div>
  <div class="my-interest-bar">
      
      <!-- NO FYI --->
      <ng-container *ngIf="interestCodeOne === undefined">
        <h5><span>MY TOP <br/> INTERESTS</span><a (click)="interestCodes()" class="explain alt"></a></h5>
        <a routerLink="/find-your-interest" class="mx-auto">Take the FYI</a>
      </ng-container>
      <!-- / NO FYI -->
      
      <!-- Expanded FYI -->
      <ng-container *ngIf="interestCodeOne !== undefined">
        <h5><span>MY TOP <br/> INTERESTS</span><a class="explain alt" (click)="interestCodes()"></a></h5>
        <div class="my-interest-codes-inner">
          <a *ngIf="interestCodeOne == 'C'" (click)="interestCodeInfo('C')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_green.svg"><strong>C</strong></a>
          <a *ngIf="interestCodeOne == 'R'" (click)="interestCodeInfo('R')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_blue.svg"><strong>R</strong></a>
          <a *ngIf="interestCodeOne == 'I'" (click)="interestCodeInfo('I')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_brown.svg"><strong>I</strong></a>
          <a *ngIf="interestCodeOne == 'A'" (click)="interestCodeInfo('A')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_orange.svg"><strong>A</strong></a>
          <a *ngIf="interestCodeOne == 'S'" (click)="interestCodeInfo('S')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_navy.svg"><strong>S</strong></a>
          <a *ngIf="interestCodeOne == 'E'" (click)="interestCodeInfo('E')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_red.svg"><strong>E</strong></a>

          <a *ngIf="interestCodeTwo == 'C'" (click)="interestCodeInfo('C')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_green.svg"><strong>C</strong></a>
          <a *ngIf="interestCodeTwo == 'R'" (click)="interestCodeInfo('R')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_blue.svg"><strong>R</strong></a>
          <a *ngIf="interestCodeTwo == 'I'" (click)="interestCodeInfo('I')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_brown.svg"><strong>I</strong></a>
          <a *ngIf="interestCodeTwo == 'A'" (click)="interestCodeInfo('A')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_orange.svg"><strong>A</strong></a>
          <a *ngIf="interestCodeTwo == 'S'" (click)="interestCodeInfo('S')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_navy.svg"><strong>S</strong></a>
          <a *ngIf="interestCodeTwo == 'E'" (click)="interestCodeInfo('E')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_red.svg"><strong>E</strong></a>

          <a *ngIf="interestCodeThree == 'C'" (click)="interestCodeInfo('C')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_green.svg"><strong>C</strong></a>
          <a *ngIf="interestCodeThree == 'R'" (click)="interestCodeInfo('R')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_blue.svg"><strong>R</strong></a>
          <a *ngIf="interestCodeThree == 'I'" (click)="interestCodeInfo('I')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_brown.svg"><strong>I</strong></a>
          <a *ngIf="interestCodeThree == 'A'" (click)="interestCodeInfo('A')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_orange.svg"><strong>A</strong></a>
          <a *ngIf="interestCodeThree == 'S'" (click)="interestCodeInfo('S')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_navy.svg"><strong>S</strong></a>
          <a *ngIf="interestCodeThree == 'E'" (click)="interestCodeInfo('E')" class="my-interest-code"><img src="assets/images/dashboard/Triangle_red.svg"><strong>E</strong></a>

          <!-- <a *ngIf="(scoreChoice == 'gender' && tiedLink && tiedLink.isGenderScoresTied) || (scoreChoice == 'combined' && tiedLink && tiedLink.isCombinedScoresTied)" (click)="tiedLinkClick();">TIED</a> -->
        </div>
      </ng-container>
  </div>
</div>



<div *ngIf="collapsedVersion === 'v2'" class="my-asvab-score-wrapper">
    <div class="my-asvab-score"> 
        <div class="my-strengths-bar">
            <!-- <h5><span>MY STRENGTHS</span><a class="explain alt"></a></h5> -->

            <!-- No Scores -->
            <ng-container *ngIf="!haveAsvabTestScores && !haveManualAsvabTestScores">
              <h5><span>MY STRENGTHS</span><a (click)="asvabStrengths()" class="explain alt"></a></h5>
              <a (click)="openManualInputAsvabScores()" class="mx-auto">Enter Your Scores</a>
            </ng-container>
            <!-- / No Scores -->

             <!-- scores -->
            <ng-container *ngIf="haveAsvabTestScores || haveManualAsvabTestScores">
              <h5><span>MY STRENGTHS</span><a (click)="asvabStrengths()" class="explain alt"></a></h5>
                <span id="top-results" *ngIf="!showScoresTable">
                  <div id="my-results" class="row small-up-4 my-results books">
                    <div class="skill-images">
                        <div name="fieldName" ngDefaultControl class="skill-books" attr.id="{{ haveAsvabTestScores ? 'verbal-skills' : 'manual-score-skills' }}" [ngStyle]="getBookPos('verbal')" [(ngModel)]="vBooks.xPos"></div>
                        <strong>V</strong>
                    </div>
                    <div class="skill-images">
                        <div name="fieldName" ngDefaultControl class="skill-books" attr.id="{{ haveAsvabTestScores ? 'math-skills' : 'manual-score-skills' }}" [ngStyle]="getBookPos('math')" [(ngModel)]="mBooks.xPos"></div>
                        <strong> M</strong>
                    </div>
                    <div class="skill-images">
                        <div name="fieldName" ngDefaultControl class="skill-books" attr.id="{{ haveAsvabTestScores ? 'science-skills' : 'manual-score-skills' }}" [ngStyle]="getBookPos('science')" [(ngModel)]="sBooks.xPos"></div>
                        <strong> S/T</strong>
                    </div>
                  </div>
                </span>
                <span id="top-results" class="score-with-afqt" *ngIf="showScoresTable">
                  <div id="my-results" class="my-results row small-up-4">
                    <div class="score-with-afqt-data"><span class="text-teal"><strong>{{getScore("verbal")}}</strong></span><strong>V</strong></div>
                    <div class="score-with-afqt-data"><span class="text-brown"><strong>{{getScore("math")}}</strong></span><strong>M</strong></div>
                    <div class="score-with-afqt-data"><span class="text-blue"><strong>{{getScore("science")}}</strong></span><strong>S/T</strong></div>
                    <div class="score-with-afqt-data"><span class="text-gray"><strong>{{getScore("afqt")}}</strong></span><strong>AFQT</strong></div>
                  </div>
                </span>
              <div class="switch-icon">
                  <a (click)="toggleScoreView()"><img src="assets/images/dashboard/Switch.svg"></a>
              </div>
            </ng-container>
             <!-- scores -->
            
            <!-- Score -->
            <!-- <div class="my-results">
                <div class="skill-images"><img src="assets/images/book1.png" alt="books" width="30"><strong> V</strong></div>
                <div class="skill-images"><img src="assets/images/book2.png" alt="books" width="30"><strong> M</strong></div>
                <div class="skill-images"><img src="assets/images/book3.png" alt="books" width="30"><strong> S/T</strong></div>
            </div>
            <div class="switch-icon">
                <a href="#"><img src="assets/images/dashboard/Switch.svg"></a>
            </div> -->
            <!-- / Score -->
            
            <!-- No Score -->
            <!-- <a (click)="openDialogFYIManualInput()" class="ml-10 mr-auto">Enter Your Scores</a> -->
            <!-- / No Score -->
        </div>
        <div class="my-interest-bar">

           <!-- NO FYI --->
            <ng-container *ngIf="interestCodeOne === undefined">
              <h5><span>MY INTERESTS</span><a (click)="interestCodes()" class="explain alt"></a></h5>
              <a routerLink="/find-your-interest" class="mx-auto">Take the FYI</a>
            </ng-container>
            <!-- / NO FYI -->
            
            <!-- Expanded FYI -->
            <ng-container *ngIf="interestCodeOne !== undefined">
              <h5><span>MY INTERESTS</span><a class="explain alt" (click)="interestCodes()"></a></h5>
              <div class="my-interest-codes-inner">
                <a *ngIf="interestCodeOne == 'C'" (click)="interestCodeInfo('C')" class="my-interest-code code-c"><strong>C</strong></a>
                <a *ngIf="interestCodeOne == 'R'" (click)="interestCodeInfo('R')" class="my-interest-code code-r"><strong>R</strong></a>
                <a *ngIf="interestCodeOne == 'I'" (click)="interestCodeInfo('I')" class="my-interest-code code-i"><strong>I</strong></a>
                <a *ngIf="interestCodeOne == 'A'" (click)="interestCodeInfo('A')" class="my-interest-code code-a"><strong>A</strong></a>
                <a *ngIf="interestCodeOne == 'S'" (click)="interestCodeInfo('S')" class="my-interest-code code-s"><strong>S</strong></a>
                <a *ngIf="interestCodeOne == 'E'" (click)="interestCodeInfo('E')" class="my-interest-code code-e"><strong>E</strong></a>

                <a *ngIf="interestCodeTwo == 'C'" (click)="interestCodeInfo('C')" class="my-interest-code code-c"><strong>C</strong></a>
                <a *ngIf="interestCodeTwo == 'R'" (click)="interestCodeInfo('R')" class="my-interest-code code-r"><strong>R</strong></a>
                <a *ngIf="interestCodeTwo == 'I'" (click)="interestCodeInfo('I')" class="my-interest-code code-i"><strong>I</strong></a>
                <a *ngIf="interestCodeTwo == 'A'" (click)="interestCodeInfo('A')" class="my-interest-code code-a"><strong>A</strong></a>
                <a *ngIf="interestCodeTwo == 'S'" (click)="interestCodeInfo('S')" class="my-interest-code code-s"><strong>S</strong></a>
                <a *ngIf="interestCodeTwo == 'E'" (click)="interestCodeInfo('E')" class="my-interest-code code-e"><strong>E</strong></a>

                <a *ngIf="interestCodeThree == 'C'" (click)="interestCodeInfo('C')" class="my-interest-code code-c"><strong>C</strong></a>
                <a *ngIf="interestCodeThree == 'R'" (click)="interestCodeInfo('R')" class="my-interest-code code-r"><strong>R</strong></a>
                <a *ngIf="interestCodeThree == 'I'" (click)="interestCodeInfo('I')" class="my-interest-code code-i"><strong>I</strong></a>
                <a *ngIf="interestCodeThree == 'A'" (click)="interestCodeInfo('A')" class="my-interest-code code-a"><strong>A</strong></a>
                <a *ngIf="interestCodeThree == 'S'" (click)="interestCodeInfo('S')" class="my-interest-code code-s"><strong>S</strong></a>
                <a *ngIf="interestCodeThree == 'E'" (click)="interestCodeInfo('E')" class="my-interest-code code-e"><strong>E</strong></a>

                <!-- <a *ngIf="(scoreChoice == 'gender' && tiedLink && tiedLink.isGenderScoresTied) || (scoreChoice == 'combined' && tiedLink && tiedLink.isCombinedScoresTied)" (click)="tiedLinkClick();">TIED</a> -->
              </div>
            </ng-container>
            <!-- <h5><span>MY INTERESTS</span><a class="explain alt"></a></h5> -->
            
            <!-- FYI -->
            <!-- <div class="my-interest-codes-inner">
                <a href="#" class="my-interest-code code-c"><strong>C</strong></a>
                <a href="#" class="my-interest-code code-r"><strong>R</strong></a>
                <a href="#" class="my-interest-code code-i"><strong>I</strong></a>
            </div> -->
            <!-- / FYI -->
            
            <!-- No FYI -->
            <!-- <a routerLink="/find-your-interest" class="ml-10 mr-auto">Take the FYI</a> -->
            <!-- / No FYI -->
            
        </div>
    </div>
</div>