// Collapsed v1
.my-asvab-score-no-fyi {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    z-index: 2;
    border-bottom: 1px solid #CDCDCD;
    padding: 14px 0;
    margin-bottom: 20px;

    &.no-border {
        border-bottom: 0;
    }
    
    h5 {
        font-size: 14px;
        line-height: 19px;
        color: #4a4a4a;
        text-align: center;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        margin-bottom: 0;

        a {
            margin-left: 10px;
            margin-right: 0;

            &.explain {
                background: url('/assets/images/dashboard/question_rounded.svg');
                width: 17px;
                height: 17px;
                flex: 1 0 auto;
            }
        }
    }

    .my-strengths-bar {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        max-width: calc(100% - 350px);
        width: 100%;

        @media (max-width: 991px) {
            max-width: calc(100% - 300px);
        }

        @media (max-width: 767px) {
            max-width: 100%;
        }

        .my-results {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: flex-end;
            align-items: flex-end;

            &.small-up-4 > .columns {
                width: 33.33%;
                text-align: center;
            }

            .skill-images {
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-items: center;
                align-items: center;
                -webkit-flex-direction: column;
                flex-direction: column;
                margin: 0 10px;

                @media (max-width: 639px) {
                    -webkit-flex-direction: column;
                    flex-direction: column;
                    -webkit-justify-content: space-between;
                    justify-content: space-between;
                    margin-top: auto;
                }

                img {
                    margin-bottom: 5px;
                }
            }
        }
    }
    
    .my-interest-bar {
        position: relative;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        max-width: 325px;
        width: 100%;
        padding-top: 15px;
        padding-left: 30px;

        @media (max-width: 991px) {
            max-width: 290px;
        }

        @media (max-width: 767px) {
            max-width: 100%;
            padding-left: 0;
            margin-top: 20px;
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 1px;
            height: 100%;
            background-color: #979797;

            @media (max-width: 767px) {
                display: none;
            }
        }

        .my-interest-codes-inner {
            @media (max-width: 639px) {
                margin: 0 auto;
            }
        }

        .my-interest-code {
            position: relative;
            margin: 0 15px;
            z-index: 1;
            color: #4A4A4A;
            display: inline-block;
            
            &:hover {
                text-decoration: none;
            }
            
            strong {
                display: block;
                text-align: center;
            }
        }
    } 

    .skills-interests-career {
        background-color: rgba(45, 162, 167, 0.13);
        color: #4A4A4A;
        border: 1px solid rgba(184, 184, 184, 0.13);
        text-align: center;
        padding: 14px 18px 18px;

        h4 {
            font-size: 21px;
            font-weight: bold;

            @media (max-width: 359px) {
                font-size: 20px;
            }
        }
        p {
            font-size: 16px;
            line-height: normal;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        a {
            font-size: 14px;
            color: #fff;
            font-weight: bold;
            background-color: #27ACAD;
            text-transform: uppercase;
            display: inline-block;
            min-width: 240px;
            padding: 10px 15px;
        }
    }
}





// Collapsed v2
#top-results {
    #my-results {
        span {
            display: block;
        }
    }
}
.text-teal {
    color: #2DA2A7;
}
.text-brown {
    color: #8A2F35;
}
.text-blue {
    color: #2F2C69;
}
.text-gray {
    color: #4A4A4A;
}
.my-asvab-score {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #EEEEEE;
    z-index: 2;
    padding: 12px 18px 10px 35px;
    margin-bottom: 40px;
    border-left: 3px solid #fff;


    @media (max-width: 991px) {
        padding-left: 30px;
    }

    @media (max-width: 639px) {
        display: none;
    }

    &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 10000px;
        left: 100%;
        top: 0;
        background-color: #eee;
    }
    
    h5 {
        font-size: 14px;
        color: #4a4a4a;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        margin-bottom: 0;

        a {
            margin-left: 10px;
            margin-right: 0;

            &.explain {
                background: url('/assets/images/dashboard/question_rounded.svg');
                width: 17px;
                height: 17px;
                flex: 1 0 auto;
            }
        }
    }

    .my-strengths-bar {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        max-width: calc(100% - 350px);
        width: 100%;

        @media (max-width: 991px) {
            max-width: calc(100% - 300px);
        }

        @media (max-width: 767px) {
            max-width: 100%;
            text-align: center;
        }

        #my-results {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
            color: #4A4A4A;
            
            &.books{
                margin: -14px;

                .skill-images {
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-align-items: center;
                    align-items: center;
                    margin: 0 10px;
                    height: 46px;

                    @media (max-width: 639px) {
                        -webkit-flex-direction: column;
                        flex-direction: column;
                        -webkit-justify-content: space-between;
                        justify-content: space-between;
                        margin-top: auto;
                    }

                    .skill-books {
                        height: 46px;
                        margin-right: 5px;
                        margin-bottom: 0;

                        @media (max-width: 639px) {
                            margin-right: 0;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
    
    .my-interest-bar {
        position: relative;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        max-width: 325px;
        width: 100%;
        padding-left: 30px;

        @media (max-width: 991px) {
            max-width: 290px;
        }

        @media (max-width: 767px) {
            max-width: 100%;
            padding-left: 0;
            margin-top: 20px;
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 1px;
            height: 100%;
            background-color: #979797;

            @media (max-width: 767px) {
                display: none;
            }
        }

        .my-interest-code {
            position: relative;
            margin: 0 15px;
            z-index: 1;
            color: #fff;
            top: 1px;
            
            &:hover {
                text-decoration: none;
            }

            &:before {
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-left: 11px solid transparent;
                border-right: 11px solid transparent;
                border-bottom: 20px solid transparent;
                z-index: -1;
                margin-top: -2px;
            }

            &.code-c:before {
                border-bottom-color: #54873d;
            }
            &.code-r:before {
                border-bottom-color: #027ECF;
            }
            &.code-i:before {
                border-bottom-color: #810707;
            }
            &.code-a:before {
                border-bottom-color: #f7933a;
            }
            &.code-s:before {
                border-bottom-color: #164377;
            }
            &.code-e:before {
                border-bottom-color: #ED242E;
            }
        }
    } 

    .skills-interests-career {
        background-color: rgba(45, 162, 167, 0.13);
        color: #4A4A4A;
        border: 1px solid rgba(184, 184, 184, 0.13);
        text-align: center;
        padding: 14px 18px 18px;

        h4 {
            font-size: 21px;
            font-weight: bold;

            @media (max-width: 359px) {
                font-size: 20px;
            }
        }
        p {
            font-size: 16px;
            line-height: normal;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        a {
            font-size: 14px;
            color: #fff;
            font-weight: bold;
            background-color: #27ACAD;
            text-transform: uppercase;
            display: inline-block;
            min-width: 240px;
            padding: 10px 15px;
        }
    }
    
    //&.score-with-afqt {
        .my-results {
            flex-wrap: wrap;
        }

        .score-with-afqt-data {
            margin: 0 10px;
            
            span {
                margin-right: 5px;
            }

            .my-strengths-bar {
                @media (max-width: 991px) {
                    max-width: 100%;
                    text-align: center;
                }
            }

            .my-interest-bar {
                @media (max-width: 991px) {
                    max-width: 100%;
                    padding-left: 0;
                    margin-top: 20px;
    
                    &:before {
                        display: none;
                    }
                }
            }
        }
        .switch-icon {
            min-width: 23px;
        }
    //}
}

.my-asvab-score-no-fyi {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    z-index: 2;
    border-bottom: 1px solid #CDCDCD;
    padding: 14px 0;
    margin-bottom: 20px;
    
    h5 {
        font-size: 14px;
        line-height: 19px;
        color: #4a4a4a;
        text-align: left;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        margin-bottom: 0;

        a {
            margin-left: 10px;
            margin-right: 0;

            &.explain {
                background: url('/assets/images/dashboard/question_rounded.svg');
                width: 17px;
                height: 17px;
                flex: 1 0 auto;
            }
        }
    }

    .my-strengths-bar {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        max-width: calc(100% - 350px);
        width: 100%;

        @media (max-width: 991px) {
            max-width: calc(100% - 300px);
        }

        @media (max-width: 767px) {
            max-width: 100%;
        }

        .my-results {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: flex-end;
            align-items: flex-end;

            &.small-up-4 > .columns {
                width: 33.33%;
                text-align: center;
            }

            .skill-images {
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-items: center;
                align-items: center;
                -webkit-flex-direction: column;
                flex-direction: column;
                margin: 0 10px;

                @media (max-width: 639px) {
                    -webkit-flex-direction: column;
                    flex-direction: column;
                    -webkit-justify-content: space-between;
                    justify-content: space-between;
                    margin-top: auto;
                }

                img {
                    margin-bottom: 5px;
                }
            }
        }
    }
    
    .my-interest-bar {
        position: relative;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        max-width: 325px;
        width: 100%;
        padding-top: 15px;
        padding-left: 30px;

        @media (max-width: 991px) {
            max-width: 290px;
        }

        @media (max-width: 767px) {
            max-width: 100%;
            padding-left: 0;
            margin-top: 20px;
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 1px;
            height: 100%;
            background-color: #979797;

            @media (max-width: 767px) {
                display: none;
            }
        }

        .my-interest-codes-inner {
            @media (max-width: 639px) {
                margin: 0 auto;
            }
        }

        .my-interest-code {
            position: relative;
            margin: 0 15px;
            z-index: 1;
            color: #4A4A4A;
            display: inline-block;
            
            &:hover {
                text-decoration: none;
            }
            
            strong {
                display: block;
                text-align: center;
            }
        }
    } 

    .skills-interests-career {
        background-color: rgba(45, 162, 167, 0.13);
        color: #4A4A4A;
        border: 1px solid rgba(184, 184, 184, 0.13);
        text-align: center;
        padding: 14px 18px 18px;

        h4 {
            font-size: 21px;
            font-weight: bold;

            @media (max-width: 359px) {
                font-size: 20px;
            }
        }
        p {
            font-size: 16px;
            line-height: normal;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        a {
            font-size: 14px;
            color: #fff;
            font-weight: bold;
            background-color: #27ACAD;
            text-transform: uppercase;
            display: inline-block;
            min-width: 240px;
            padding: 10px 15px;
        }
    }
}
