* {
    box-sizing: border-box;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

#home #hero {
	#mega-menu-buttons {

		.large-12.columns {
			@media screen and (max-width: 39.9375em) {
				background: #1b183d;
			}
		}
		
		.dropdown-menu {
			padding: 1rem;

			@media screen and (max-width: 39.9375em) and (min-width: 0em) {
				box-sizing: content-box;
				margin-left: -.9375rem !important;
				position: static;
				width: 100%;
			}
			
			&.show {
				background: #1b183d;
				border: 0;
				bottom: 64px !important;
				box-shadow: none;
				transform: none !important;
				width: 100%;
				z-index: 0;

				a {
					color: #fff;
				}

				.align-spaced {
					@media screen and (max-width: 39.9375em) and (min-width: 0em) {
						display: block;
					}

					.row {
						margin-bottom: 20px;
						
						@media screen and (max-width: 39.9375em) and (min-width: 0em) {
							margin-bottom: 0;
						}
					}
				} 

				h3.resource {
					background: transparent;
					border: solid #413f5e;
					border-width: 2px 0;
					color: #aaaac6;
				}

				.quick-links {
					li {
						a {
							line-height: 22px;
							opacity: .8;
						}

						&:last-child {
							a {
								opacity: 1;
							}
						}
					}
				}
				
				@media screen and (max-width: 39.9375em) and (min-width: 0em) {
					box-sizing: content-box;
					margin-left: -0.9375rem;
					position: static !important;
					width: 100% !important;
				}
			}
		}

		.button.dropdown-toggle {
			padding-left: 6%;
			padding-right: 6%;

			@media screen and (max-width: 39.9375em) and (min-width: 0em) {
				border-top: 1px solid #fff;
				border-right: 0;
				box-sizing: content-box;
				display: block;
				font-size: 20px;
				float: none;
				margin-left: -.9375rem;
				padding-left: .9375rem;
				padding-right: .9375rem;
				text-align: center !important;
				text-transform: none;
				width: 100%;
			}

			strong {
				@media screen and (max-width: 767px) and (min-width: 40em) {
					font-size: 23px;
				}
			}
		}

		.dropdown-menu.show {
			background: #1b183d;
			
			&.show {
				bottom: 53px !important;
				z-index: 11;

				@media screen and (max-width: 767px) and (min-width: 40em) {
					bottom: 46px !important;
				}
			}
		}
		
		&.mega-menu-sticky {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 11;

			.dropdown-menu {
				height: 510px;
				top: 48px !important;
				overflow: auto;

				@media screen and (max-width: 767px) and (min-width: 40em) {
					top: 41px !important;
				}

				@media screen and (max-width: 39.9375em) {
					height: calc(100vh - 152px);
					margin: 0;
				}
			}
		}

		.button.dropdown-toggle[aria-expanded=true] {
			background: #1b183d;
		}

		.dropdown-menu {
			.small-centered {
				.row {
					margin: 0 -12px;
				}
				.columns {
					padding: 0 12px;
				}
			}
			.participant-list {
				@media (max-width: 1023px) {
					margin-bottom: 10px;
				}

				.login-button {
					border-color: #FFF;
					font-size: 20px;
					line-height: 20px;
					text-transform: uppercase;
					height: 140px;
					width: 100%;
					text-decoration: none;
					background: #1CAFB6;
					white-space: normal;
					width: 100%;
					padding-right: 20px;

					img {
						display: block;
						position: absolute;
						right: 0;
						bottom: 0;
					}
	
					span {
						font-size: 16px;
						text-transform: none;
						color: #1b183d;
	
						&.right-arrow {
							display: block;
							width: 20px;
							height: 100%;
							background-color: rgba(0,80,84,.65);
							position: absolute;
							right: 0;
							top: 50%;
							-webkit-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							transform: translateY(-50%);
	
							svg {
								background: 0 0;
								color: #fff;
								line-height: 12px;
								text-align: center;
								position: absolute;
								right: 5px;
								top: 50%;
								-webkit-transform: translateY(-50%);
								-ms-transform: translateY(-50%);
								transform: translateY(-50%);
							}
						}
					}
				}
				.participant-btn {
					.login-button {
						font-size: 14.5px;
						line-height: 23px;
						background: #1D3E5D;
						border-color: #1DA8B1;
						text-transform: inherit;
						height: inherit;
						padding-right: 50px;

						strong {
							line-height: inherit;
							text-transform: inherit;
						}

						img {
							width: 48px;
							top: 50%;
							position: absolute;
							right: 10px;
							-webkit-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							transform: translateY(-50%);
						}

						span {
							font-weight: 400;
							opacity: .8;
							font-size: 13px;
							color: #fff;
						}
					}
				}
			}
			.option-ready-btn {
				margin-top: 25px;
				
				.login-button { 
					width: 100%;
					padding-right: 10px;
				}
			}
			.client-say {
				-webkit-align-items: center;
				align-items: center;
				display: flex;
				-webkit-justify-content: space-between;
				justify-content: space-between;
				border: 1px solid #b3b1ca;
				padding: 19px 22px;

				.client-bio {
					margin-left: 24px;
				}

				p {
					font-size: 13px;
					line-height: 18px;
					color: #b3b1ca;
				}

				img {
					max-width: 96px;
    				margin: 0 auto;
				}

				@media (max-width: 767px) {
					.mobile-hide {
						display: none;
					}
				}

				@media (min-width: 768px) {
					.mobile-show {
						display: none;
					}
				}
			}
		}
	}
}
#what {
	&.works-section {

		@media screen and (min-width: 40em) {
			padding-top: 90px;
		}
			
		h2 {
			font-size: 34px;
			font-weight: 300;
			line-height: 30px;
			color: #218d92;
			margin-bottom: 32px;

			@media screen and (max-width: 39.9375em) {
				font-size: 26px;
				margin-bottom: 16px;
			}
		}
	
		h3 {
			color: #218d92;
			font-size: 24px;
			font-weight: 400;
			line-height: 30px;
			margin-bottom: 14px;
			margin-top: 38px;
			text-transform: none;

			@media screen and (max-width: 39.9375em) {
				font-size: 20px;
			}
		}
	
		p {
			line-height: 20px;
			margin: 0 auto;
			max-width: 710px;
		}
	
		.works-list {
			display: flex;
			flex-wrap: wrap;
			margin: 38px auto 46px !important;

			&:before, &:after {
				display: none;
			}

			@media screen and (max-width: 39.9375em) {
			    margin-bottom: 30px !important;
    			margin-top: 30px !important;
			}

			li {
				& ~ li {
					border-left: 1px solid #afafaf;

					@media screen and (max-width: 39.9375em) {
						border-left: 0;
						border-top: 1px solid #afafaf;
						margin-top: 20px;
						padding-top: 20px;
					}
				}
			}
		}
	
		.works-list-icon {
			background-color: #fff;
			border-radius: 50%;
			display: flex;
			-webkit-align-items: center;
			align-items: center;
			-webkit-justify-content: center;
			justify-content: center;
			margin: 0 auto;
			height: 61px;
			width: 61px;
		}
	
		.works-list-title {
			color: #3f3f3f;
			font-size: 22px;
			line-height: normal;
			margin-bottom: 0;
			margin-top: 4px;
		}
	
		.icon-play {
			margin-bottom: 20px;
	
			strong {
				display: block;
				margin: 10px auto 0;
			}
		}
	
		.button {

			@media screen and (min-width: 40em) {
				max-width: 258px;
				margin: 0 auto 35px;
			}
		}
	}
}

@media screen and (max-width: 639px) {
	#mega-menu-buttons .small-centered > .row {
	  flex-direction: column;
	}
  }