<div id="home">
	<!-- <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div> -->
	<app-header></app-header>
	<header>
		<section id="hero">
			<div id="slides">
				<div class="row">
				  <div class="mobile-header-home hide-for-large ceplinkmobile">
					<h2>What's your dream job?</h2>
					<a class="button recaptcha-no-top" (click)="onBringAsvabToYourSchool()">Bring the ASVAB CEP to Your School <i class="fa fa-angle-right"></i></a>
				  </div>
				  <div class="large-8 large-push-4 medium-8 columns graphics">
					<img id="person" src="assets/images/dashboard/Person_06-30-20_girl.png">
					<img id="rocket" class="career" src="assets/images/dashboard/icon_1.png" style="top: 53px; left: 21px; display: none;">
					<img id="graphic" class="career" src="assets/images/dashboard/icon_2.png" style="top: 32px; left: 43px; display: none;">
					<img id="radiologist" class="career" src="assets/images/dashboard/icon_3.png" style="top: 34px; left: 71px; display: none;">
					<img id="engineer" class="career" src="assets/images/dashboard/icon_4.png" style="top: 48px; left: 35px;  display: none;">
					<img id="engineer1" class="career" src="assets/images/dashboard/icon_5.png" style="top: 10px; left: 39px; display: none;">
				  </div>
				  <div class="large-4 large-pull-8 show-for-large columns">
					<h2>What's your dream job?</h2>
					<a class="button recaptcha-no-top"  (click)="onBringAsvabToYourSchool()">Bring the ASVAB CEP to Your School <i class="fa fa-angle-right"></i></a>
				  </div>
				  
				</div>
			</div>
			<div id="mega-menu-buttons">
				<div class="row">
					<div class="large-12 columns">
						<div class="expanded button-group stacked-for-small">



							<div class="dropup" ngbDropdown [placement]="'bottom'" auto-close="outsideClick">
								<button class="button text-right" type="button" id="student-dropdown"
									ngbDropdownToggle><strong>Participants</strong>
								</button>
								<div class="dropdown-menu" ngbDropdownMenu role="menu"
									aria-labelledby="Student-dropdown">
									<div class="row align-spaced">
										<div class="medium-12 columns small-centered">
											<div class="row">
												<div class="columns large-3 small-6 participant-list">
													<div class="participant-block">
														<a class="login-button" href="student">Understand<br>
															<span>the ASVAB</span>
															<img src="assets/images/dashboard/participant-img-2.png" alt="Participant Img">
															<span class="right-arrow"><i class="fa fa-caret-right"></i></span>
														</a>
													</div>
												</div>
												<div class="columns large-3 small-6 participant-list">
													<div class="participant-block">
														<a class="login-button" href="student-learn">Learn<br>
															<span>About <br>Yourself</span>
															<img src="assets/images/dashboard/participant-img-3.png" alt="Participant Img">
															<span class="right-arrow"><i class="fa fa-caret-right"></i></span>
														</a>
													</div>
												</div>
												<div class="columns large-3 small-6 participant-list">
													<div class="participant-block">
														<a class="login-button" href="student-explore">Explore<br>
															<span>Careers</span>
															<img src="assets/images/dashboard/participant-img-4.png" alt="Participant Img">
															<span class="right-arrow"><i class="fa fa-caret-right"></i></span>
														</a>
													</div>
												</div>
												<div class="columns large-3 small-6 participant-list">
													<div class="participant-block">
														<a class="login-button" href="student-plan">Plan<br>
															<span>Your Future</span>
															<img src="assets/images/dashboard/participant-img-5.png" alt="Participant Img">
															<span class="right-arrow"><i class="fa fa-caret-right"></i></span>
														</a>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="columns medium-6 participant-list">
													<div class="option-ready-btn participant-btn participant-last">
														<a class="login-button" href="general-resources/box-row4"><strong>Find out what to do after the ASVAB test.</strong> <br><span class="font-13 smalltxt">View Guided Tutorials</span></a>
													</div>
												</div>
												<div class="columns medium-6 participant-list">
													<div class="option-ready-btn participant-btn participant-last participant-tellus ng-scope"
														ng-controller="FooterController">
														<a class="login-button" (click)="snapChatModal()"><strong>Share your experience on social media?</strong> <br><span class="font-13 smalltxt">@asvabcep</span> <img src="assets/images/dashboard/participant-img-6.png" alt="Participant Img"></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- bootstrap ui -->


							<div class="dropup" ngbDropdown auto-close="outsideClick">
								<button class="button text-center" type="button" id="parents-dropdown"
									ngbDropdownToggle><strong>Educators</strong>
								</button>
								
								
								<div class="dropdown-menu" ngbDropdownMenu role="menu"
									aria-labelledby="educator-dropdown">
									<div class="row align-spaced">
										<div class="medium-12 columns small-centered">
											<div class="row">
												<div class="large-3 medium-6 small-12 columns">
													<h3><a routerLink="/educators">The ASVAB CEP</a></h3>
													<h3><a routerLink="/educators-test">The ASVAB</a></h3>
													<h3><a routerLink="/educators-post-test">Post Test Activities</a></h3>
													<h3><a routerLink="/federally-funded-sources" style="white-space:nowrap;">Federally Funded Sources</a></h3>
													<h3><a routerLink="/teachers">Classroom Tools</a></h3>
													<div class="option-ready-btn">
														<a class="login-button" href="option-ready"><strong>Are you Option Ready?</strong></a>
													</div>
												</div>
												<div class="large-3 medium-6 small-12 columns">
													<h3 class="resource">Quick Resource Links</h3>
												
													<ul class="quick-links">
														<li><a routerLink="/continuing-education" (click)="trackClick('Continuing_Education');">Continuing Education</a></li>
														<li><a href="{{pdfBaseUrl}}ASVAB_CEP_Admin_Overview_web.pdf" target="_blank" (click)="trackClick('ASVAB_CEP_Admin_Overview_web.pdf');">Administrator Overview</a></li>
														<li><a href="{{pdfBaseUrl}}ASVAB_CEP_Overview_Presentation.ppt" target="_blank" (click)="trackClick('ASVAB_CEP_Overview_Presentation.ppt');">Overview Presentation</a></li>
														<li><a href="{{pdfBaseUrl}}ASVAB_CEP_Check_list.pdf" target="_blank" (click)="trackClick('ASVAB_CEP_Check_list.pdf');">Activity Checklist</a></li>
														<li><a href="{{pdfBaseUrl}}ASVAB_CEP_Counselor_Manual.pdf" target="_blank" (click)="trackClick('ASVAB_CEP_Counselor_Manual.pdf');">Counselors Guide</a></li>
														<li><a routerLink="/option-ready" (click)="trackClick('Option-Ready')">Option Ready</a></li>
														<li><a href="{{pdfBaseUrl}}ASVAB_CEP_Post_Test.pdf" target="_blank">Post Test Handout</a></li>
														<li><a routerLink="/general-resources" ><strong>All Resources</strong></a></li>
													</ul>
												</div>
												<div class="large-6 medium-12 columns">
													<div class="client-say">
														<div class="client-img">
															<img src="assets/images/dashboard/Kathy-Hassler.png" alt="Kathy Hassler" class="mobile-hide">
															<img src="assets/images/dashboard/Kathy-Hassler_mobile.png" alt="Kathy Hassler" class="mobile-show">
														</div>
														<div class="client-bio">
															<p>“I encourage all the students to take [the ASVAB]. For kids like my daughter, who aren’t 100% sure what they want to do, the ASVAB test and post-test activities give them a sense of comfort in knowing what they’re good at.”</p>
															<p><i>Kathy Hassler, <br> Assistant Principal at Cumberland <br> County HS</i></p>
														</div>
													</div>
												</div>
											</div>
											
										</div>
									</div>
								</div>
							</div>
							<!-- bootstrap ui -->



							<div class="dropup" ngbDropdown auto-close="outsideClick">
								<button class="button" type="button" id="parents-dropdown" ngbDropdownToggle><strong>Parents</strong></button>
								<div class="dropdown-menu" id="parent-dropdown"
									ngbDropdownMenu role="menu"
									aria-labelledby="parents-dropdown">
									<div class="row align-spaced">
										<div class="medium-12 columns small-centered">
											<div class="row">
												<div class="large-3 medium-6 small-12 columns">
													<h3><a routerLink="/parents">The ASVAB CEP</a></h3>
													<h3><a routerLink="/parents-test">The ASVAB</a></h3>
													<h3><a routerLink="/parents-post-test">Post Test Activities</a></h3>
													<h3><a routerLink="/parents-information">How You Can Help</a></h3>
												</div>

												<div class="large-3 medium-6 small-12 columns">
													<h3 class="resource">Quick Resource Links</h3>
													<ul class="quick-links">
														<li><a href="{{pdfBaseUrl}}ASVAB_CEP_Post_Test.pdf" target="_blank">Post Test Handout</a></li>
														<li><a routerLink="/option-ready" (click)="trackClick('Option-Ready');">Option Ready</a></li>
														<li><a href="{{pdfBaseUrl}}ASVAB_CEP_Opt_In_Letter.docx" target="_blank" (click)="trackClick('ASVAB_CEP_Opt_In_Letter.docx');">Opt Into Score Release</a></li>
														<li><a href="{{pdfBaseUrl}}ASVAB_CEP_Opt_Out_Letter.docx" target="_blank" (click)="trackClick('ASVAB_CEP_Opt_Out_Letter.docx');">Opt Out of Score Release</a></li>
														<li><a routerLink="/general-resources"><strong>All Resources</strong></a></li>
													</ul>
												</div>

												<div class="large-6 medium-12 columns">
													<div class="client-say">
														<div class="client-img">
															<img src="assets/images/dashboard/Faith-Durden.png" alt="Faith Durden" class="mobile-hide">
															<img src="assets/images/dashboard/Faith-Durden_mobile.png" alt="Faith Durden" class="mobile-show">
														</div>
														<div class="client-bio">
															<p>“There are so many different options available. We looked at colleges, certifications, apprenticeships, licensures - there’s so many different ways to become educated.”</p>
															<p><i>Faith Durden, <br> Buffalo, NY MEPS ESS</i></p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- bootstrap ui -->
						</div>
					</div>
				</div>
			</div>
		</section>
	</header>
	<!-- <section id="what">
		<div class="row">
			<div class="medium-5 columns">
				<h3>What is the ASVAB Career exploration program?</h3>
				<ul class="checks">
					<li>Aptitude Test</li>
					<li>Interest Self-Assessment</li>
					<li>Career Exploration Tools</li>
				</ul>
				<p>
				ASVAB CEP empowers students nationwide to discover their strengths and interests 
				then map out post-secondary plans that work. Start exploring. It's free! 
</p>
			</div>
			<div class="medium-6 columns">
				<div class="wrapper">
					<div class="h_iframe">
						<iframe width="854" height="480" src="https://www.youtube.com/embed/S_c588QTR2s?rel=0" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="medium-4 columns small-centered">
				<a class="button expanded" (click)="onLearnMore()">Learn More</a>
			</div>
		</div>
	</section> -->

	<section id="what" class="works-section">
		<div class="row columns text-center">
			<h2>There are Many Ways to be Successful</h2>
			<p>To figure out where to find career satisfaction, you need all the facts about your skills and interests, the
				world of work, and your post-secondary options to make informed decisions.</p>
			<ul class="row sample-questions works-list">
				<li class="medium-4 columns">
					<div class="works-list-icon"><img src="assets/images/dashboard/icon_check.png" alt="Icon Check"></div>
					<h4 class="works-list-title">Take the Assessments</h4>
				</li>
				<li class="medium-4 columns">
					<div class="works-list-icon"><img src="assets/images/dashboard/icon_search.png" alt="Icon Search"></div>
					<h4 class="works-list-title">Explore Your Options</h4>
				</li>
				<li class="medium-4 columns">
					<div class="works-list-icon"><img src="assets/images/dashboard/icon_plan.png" alt="Icon Plan"></div>
					<h4 class="works-list-title">Build Your Plan</h4>
				</li>
			</ul>
			<p>The ASVAB Career Exploration Program includes a validated aptitude test and interest assessment. The results
				are used to guide career exploration using our career planning tools.</p>
			<h3>Design a post-secondary plan that works for you.</h3>
			<div class="icon-play">
				<a (click)="showVideoDialog('https://www.youtube.com/embed/S_c588QTR2s')"><img src="assets/images/dashboard/icon_play.png" alt="Icon Play"></a>
				<strong>See how it works.</strong>
			</div>
		</div>
		<div class="row">
			<div class="medium-4 columns small-centered">
				<a class="button expanded" (click)="onLearnMore()">Learn More!</a>
			</div>
		</div>
	</section>

	<section id="guides">
		<div class="row">
			<div class="large-12 columns">
				<!-- <h3>Guided Tutorials</h3> -->
			</div>
		    <ng-container *ngFor="let m of mediaCenterList">
			<div class="medium-4 columns tutorial" *ngIf="m.categoryId == 6 && m.positionId == 1">
				<a class="resource-title" routerLink="/media-center-article/{{m.id}}">{{m.title}}</a>
				<a *ngIf="m.typeId != 1" routerLink="/media-center-article/{{m.id}}"><img [src]="m.thumbnailUrl"> </a>
				<a *ngIf="m.typeId == 1" (click)="showVideoDialog(m.videoImgUrl)"><span class="image-wrapper"><img [src]="m.thumbnailUrl" style="position: relative;"><span
							id="play-icon"></span></span></a>
			</div>
			<div class="medium-4 columns tutorial" *ngIf="m.categoryId == 6 && m.positionId == 2">
				<a class="resource-title" routerLink="/media-center-article/{{m.id}}">{{m.title}}</a>
				<a *ngIf="m.typeId != 1" routerLink="/media-center-article/{{m.id}}"><img [src]="m.thumbnailUrl"> </a>
			</div>
			<div class="medium-4 columns tutorial" *ngIf="m.categoryId == 6 && m.positionId == 3">
				<a class="resource-title" routerLink="/media-center-article/{{m.id}}">{{m.title}}</a>
				<a *ngIf="m.typeId != 1" routerLink="/media-center-article/{{m.id}}"><img [src]="m.thumbnailUrl"> </a>
				<a *ngIf="m.typeId == 1" (click)="showVideoDialog(m.videoImgUrl)"><span class="image-wrapper"><img [src]="m.thumbnailUrl" style="position: relative;"><span
							id="play-icon"></span></span></a>
			</div>
			</ng-container>
		</div>	
		<div class="row align-spaced">
			<div class="large-4 columns small-centered">
				<a class="button expanded" routerLink="/media-center">View Media Center</a>
			</div>
		</div>
	</section>

	<!-- <div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div> -->
	<app-footer></app-footer>
</div>