
<style>
table, th, td {
	border-collapse: collapse;
	padding: 3px;
}

table.center {
    margin-left:auto; 
		margin-right:auto;
		min-width: 20%;
}

table.center .clear-bg {
	background-color: #ffffff;
}

</style>

<div id="passwor-reset" style="">
	<header>
		<div class="title-bar" data-responsive-toggle="main-menu"
			data-hide-for="medium">
			<div class="title-bar-title">
				<a href=""><img src="assets/images/logo-mobile.png"
					alt="ASVAB logo"></a>
			</div>
		</div>

		<section class="hide-for-small-only" id="banner">
			<div class="row"></div>
			<!-- 
		
			<div class="row">
				<div class="small-7 columns">
					<h2 style="color:cyan;" >Career Exploration Program Password Reset</h2>
				</div>
			</div>
				-->
			 	
		</section>

	</header>
	<section id="content-wrap" style="padding-left: 7px">

		<div class="modal-body center">
			<h3>UPDATE YOUR ACCOUNT</h3>
			Please update your password for your Career Exploration Program
			account.

			<form role="form">
				<table class="center">
					<tr>
						<td class="clear-bg">
							<div class="col-sm-10">
								<label> <font color="red">{{registrationLabel}}
										&nbsp;</font>
								</label>
							</div> <input name="restKey" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="resetKey"
							type="hidden" placeholder="rest Key"
							[(ngModel)]="restCredentials.resetId" *ngIf="false" />

						</td>
					</tr>
					<tr>
						<td class="clear-bg">
							<div class="form-group">
								<input name="email" [ngModelOptions]="{standalone: true}" type="email" class="form-control" id="registerEmail"
									placeholder="Email" [(ngModel)]="restCredentials.username"/>
							</div>
						</td>
					</tr>
					<tr>
						<td class="clear-bg">
							<div class="form-group">
								<input name="password" [ngModelOptions]="{standalone: true}" type="password" class="form-control" id="Password1"
									placeholder="Password" [(ngModel)]="restCredentials.Password1"/>
							</div>
						</td>
					</tr>
					<tr>
						<td class="clear-bg">
							<div class="form-group">
								<input name="password2" [ngModelOptions]="{standalone: true}" type="password" class="form-control" id="Password2"
									placeholder="Retype Password"
									[(ngModel)]="restCredentials.Password2"/>
							</div>
						</td>
					</tr>
					<tr>
						<td style="display: flex; justify-content: center;">
							<button class="btn button" (click)="ResetPassword()">Reset
								Password</button>
						</td>
					</tr>

				</table>
			</form>
		</div>

	</section>
	<footer id="footer">
		<div class="row">
			<div class="medium-7 columns">
				<div class="row">
					<div class="medium-5 large-offset-2 columns text-center">
						<img src="assets/images/logo-footer.png" alt="ASVAB logo">
					</div>
					<div class="medium-5 columns text-right">
						<p class="sponsor">The ASVAB Career Exploration Program is
							sponsored by the Department of Defense</p>
					</div>
				</div>
			</div>
			<div class="medium-7 columns">
				<ul id="footer-menu" class="menu right-align no-margin-right">
					<li><a href="">Home</a></li>
					<li><a href="">Help</a></li>
					<li><a href="">Link to Us</a></li>
				</ul>
			</div>
		</div>
	</footer>

</div>

