.pl-20 {
  padding-left: 20px;
}
.py-3 {
  padding-top: 3px;
  padding-bottom: 3px;
}
.mr-0 {
  margin-right: 0;
}
.bring-asvab-to-your-school .float-none {
  float: none;
}
.bring-asvab-to-your-school .activities .horizontal-line {
  /* border-top: 1px solid #3f3f3f; */
  border-top: 1px solid #cacaca;
  content: '';
  position: absolute;
  /* width: 390px;
  left: 20px; */
  width: 100%;
  left: 0px;
  top: -3px;
}

.bring-asvab-to-your-school .activities .horizontal-line:nth-of-type(1) {
  top: 23px;
}

.bring-asvab-to-your-school .activities .horizontal-line:nth-of-type(2) {
  top: 52px;
}

.bring-asvab-to-your-school .activities .horizontal-line:nth-of-type(3) {
  top: 82px;
}

.bring-asvab-to-your-school .activities .horizontal-line:nth-of-type(4) {
  top: 110px;
}

.bring-asvab-to-your-school .activities .margin-top-3 {
  margin-top: 3px;
}

.bring-asvab-to-your-school .activities label {
  color: #3f3f3f;
}

.bring-asvab-to-your-school .activities .show-mobile {
  display: none;
}

@media screen and (max-width: 639.98px) {
  .bring-asvab-to-your-school .activities .show-mobile {
    display: block;
  }

  .bring-asvab-to-your-school .activities .hide-mobile {
    display: none;
  }

  .bring-asvab-to-your-school .activities .horizontal-line:nth-of-type(1) {
    top: 34px;
  }

  .bring-asvab-to-your-school .activities .horizontal-line:nth-of-type(2) {
    top: 139px;
  }
  
  .bring-asvab-to-your-school .activities .horizontal-line:nth-of-type(3) {
    top: 248px;
  }
  
  .bring-asvab-to-your-school .activities .margin-right-0 {
    margin-right: 0px;
  }
}  
	
	.bring-asvab-to-your-school
.bring-asvab-to-your-school .custom_devider {
  border-bottom: 2px solid #767676;
}
.bring-asvab-to-your-school.ng-scope {
  padding: 10px;
}
.bring-asvab-to-your-school .close-button span {
  line-height: 32px;
}
.bring-asvab-to-your-school h4 {
  margin-bottom: 20px;
}
.bring-asvab-to-your-school h3 {
  display: inline-block;
  margin-bottom: 40px;
}
.bring-asvab-to-your-school .form_slides_wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.bring-asvab-to-your-school .form_slides_wrapper h3 {
  margin-right: 30px;
  margin-bottom: 15px;
}
.bring-asvab-to-your-school .form_slides_wrapper ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 15px 0;
}
.bring-asvab-to-your-school .form_slides_wrapper ul li {
  height: 10px;
  width: 50px;
  background-color: #EBEBEB;
  margin-top: 10px;
  margin-bottom: 0 !important;
}
.bring-asvab-to-your-school .form_slides_wrapper ul li:before {
  display: none;
}
.bring-asvab-to-your-school .form_slides_wrapper ul li:not(:last-child) {
  margin-right: 10px;
}
.bring-asvab-to-your-school .form_slides_wrapper ul li.active {
  background-color: #29A3A9;
}
.bring-asvab-to-your-school p {
  font-family: "Open Sans", sans-serif;
}
.bring-asvab-to-your-school {
  form {
    input, select {
      margin-bottom: 0;
    }
  }
}
.bring-asvab-to-your-school .form-group {
  display: flex;
  margin-bottom: 10px;
}
.bring-asvab-to-your-school .form-group label {
  white-space: nowrap;
  padding-right: 15px;

  strong {
    @media screen and (min-width: 0em) and (max-width: 639.98px) {
      white-space: normal;
    }
  }
}
.bring-asvab-to-your-school .form-group input {
  margin-bottom: 0;
}
.bring-asvab-to-your-school .form-group input,
.bring-asvab-to-your-school .form-group select,
.bring-asvab-to-your-school .form-group textarea {
  height: 27px;
  color: #000;
  border-color: #000;
  padding: 3px 10px;
}
.bring-asvab-to-your-school .form-group select {
  width: 100%;
  padding-right: 25px;
}
.bring-asvab-to-your-school .label-160 {
  max-width: 160px;
  width: 100%;
}
.bring-asvab-to-your-school .label-120 {
  max-width: 120px;
  width: 100%;
}
.bring-asvab-to-your-school .label-100 {
  max-width: 100px;
  width: 100%;
}
.bring-asvab-to-your-school .input-50 {
  max-width: 70px;
  width: 100%;
}
.bring-asvab-to-your-school .required-field {
  color: red;
  margin-left: 2px;
}
.bring-asvab-to-your-school .not-required-field {
  margin-left: 3px;
}
.bring-asvab-to-your-school .test_time_choice input {
  width: 110px;
}
.bring-asvab-to-your-school .test_time_choice input.date_selection {
  width: 150px;
	padding: 3px 8px;
}
.bring-asvab-to-your-school .option_disabled {
  pointer-events: none;
}
.bring-asvab-to-your-school .option_disabled label {
  color: #D6D6D6;
}
.bring-asvab-to-your-school .option_disabled input {
  border-color: #D6D6D6;
}
.bring-asvab-to-your-school .test_session__link a + a {
  margin-left: 50px;
  position: relative;
}
.bring-asvab-to-your-school .test_session__link a + a:before {
  content: '';
  position: absolute;
  left: -25px;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #4A4A4A;
}
.bring-asvab-to-your-school .test_session__link button + button {
  margin-left: 50px;
  position: relative;
}
.bring-asvab-to-your-school .test_session__link button + button:before {
  content: '';
  position: absolute;
  left: -25px;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #4A4A4A;
}
.bring-asvab-to-your-school .button {
  margin: 0;
  min-width: 113px;

  @media screen and (max-width: 63.9375em) {
    min-width: inherit;
  }
}
.bring-asvab-to-your-school .button + .button {
  margin-left: 15px;
}
.bring-asvab-to-your-school .modal_form_label {
  min-width: 90px;
  display: inline-block;
  padding-right: 15px;
}
.bring-asvab-to-your-school .invisible_label {
  visibility: hidden;
}
.bring-asvab-to-your-school .populations_grade {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -20px;
}
.bring-asvab-to-your-school .populations_grade .populations_grade_group {
  padding: 0 20px;
}
.bring-asvab-to-your-school .reservation_info_lable {
  min-width: 110px;
  display: inline-block;
  padding-right: 10px;
}
.bring-asvab-to-your-school button.link {
  color: #4c44ac;
}
.bring-asvab-to-your-school .timepicker-ie {
  position: relative;
  top: -40px;
}
.bring-asvab-to-your-school .timepicker-required-input-ie {
  left: -160px;
  position: relative;
  z-index: -10;
  width: 0px !important;
}
.bring-asvab-to-your-school .timepicker-validation-error {
  border: 2px solid red;
}
@media screen and (max-width: 63.9375em) {
  .bring-asvab-to-your-school .form_slides_wrapper ul li {
    width: 42px;
  }
  .bring-asvab-to-your-school .timepicker-ie {
    top: -20px;
  }
  .bring-asvab-to-your-school .timepicker-required-input-ie {
    top: 40px;
  }
}

@media screen and (min-width: 480px) and (max-width: 639.98px) {
  .bring-asvab-to-your-school .small-6 {
    width: 50% !important;
  }
}

@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .bring-asvab-to-your-school .sm-label-120 {
    max-width: 120px;
    width: 100%;
  }
  .bring-asvab-to-your-school .sm-label-150 {
    max-width: 150px;
    width: 100%;
  }
  .bring-asvab-to-your-school .mb-sm-15 {
    margin-bottom: 15px !important;
  }
  .test_session__link {
    display: inline-flex;
    flex-direction: column;
}
  .bring-asvab-to-your-school .test_session__link a + a {
    margin: 15px 0 0 0;
  }
  .bring-asvab-to-your-school .test_session__link a + a:before {
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 1px;
  }
  .bring-asvab-to-your-school .test_session__link button + button {
    margin: 15px 0 0 0;
  }
  .bring-asvab-to-your-school .test_session__link button + button:before {
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 1px;
  }
  .bring-asvab-to-your-school .timepicker-ie {
    top: 0px;
  }
  .bring-asvab-to-your-school .test_time_choice input.date_selection,
  .bring-asvab-to-your-school .test_time_choice input {
    width: 100%;
}
}

.error-border {
  outline: 1px solid red;
}

.error-font {
  color: red !important;
}