.row {
    display: block;
}
.content-bread-cumbs > li {
    margin-right: 3px;
}
div#sidebar {
    position: sticky;
    top: 0;
}
.scroll-to-fixed {
    position: sticky;
    top: -30px;
	z-index: 9;
}
.admission-progressbar {
    position: relative;
    margin: 0 5px 15px;
}
.mat-progress-bar {	
	height: 16px;
}
.applicant-percentag {
    color: #fff;
    font-weight: 700;
    width: auto;
}
.degree-accordion .mat-accordion .mat-expansion-panel {
    background: transparent;
}
.degree-accordion .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
    background: transparent;
    color: #4c44ac;
}
.degree-accordion .mat-accordion .mat-expansion-panel .mat-expansion-panel-header {
    padding: 0;
}
