<div [ngClass]="{'occufind': true, 'logged-out': !occuFindUserLoggedIn}">
    <app-header></app-header>
    <app-my-asvab-header></app-my-asvab-header>
    
    <section id="content-wrap" class="left-nav-expanded-wrap">
      <div class="row">
          <app-left-navigation-v2-collapsed *ngIf="occuFindUserLoggedIn" [selectedTab]="'explore'"></app-left-navigation-v2-collapsed>

          <div class="hide-for-small-only" style="z-index: 1" *ngIf="!occuFindUserLoggedIn">
            <img src="assets/images/Education_moreinfo.jpg">
            <ul id="steps" class="menu vertical">
              <li class="header-space"><span>Resources</span></li>
              <li class="activity"><a style="padding: 0.7rem 0rem" href="https://fafsa.ed.gov/" target="_blank">FAFSA</a></li>
              <li class="activity"><a style="padding: 0.7rem 0rem" href="http://www.fastweb.com/" target="_blank">Fastweb</a></li>
              <li class="activity"><a style="padding: 0.7rem 0rem" href="http://nces.ed.gov/collegenavigator/" target="_blank">College Navigator</a></li>
              <li class="activity"><a style="padding: 0.7rem 0rem" href="http://www.collegecalc.org/" target="_blank">CollegeCalc</a></li>
            </ul>
          </div>

          <section id="main-content" class="left-navigation-condensed school-details" role="main">
            <app-my-top-results-collapsed *ngIf="occuFindUserLoggedIn" [collapsedVersion]="'v2'"></app-my-top-results-collapsed>
            <div id="left-nav-content-wrap">
          <div class="row">
            <div class="medium-12 columns">
              <ul class="content-bread-cumbs hide-for-small-only"  *ngIf="occupationTitle">
                <li><a href="occufind-occupation-search-results">Search</a> > </li>
                <li ><a href="occufind-occupation-details/{{socId}}">{{occupationTitle}}</a> > </li>
                <li><a href="occufind-education-details/{{socId}}">Education Details</a> > </li>
                <li>{{schoolTitle}}</li>
              </ul>
              <ul class="content-bread-cumbs hide-for-small-only"  *ngIf="!occupationTitle">
                <li><a routerLink="/explore-careers">Back to Favorites</a></li>
              </ul>
              <div class="top-blue-panel">
                <div *ngIf="occuFindUserLoggedIn">
                  <ul class="menu tools icons-right">
                    <li id="notes"><a (click)="showNotes()"><i class="fa fa-sticky-note show-for-small-only"></i> Notes</a></li>
                    <li id="favorites">
                      <div class="hearts">
                        <span *ngIf="isFavorited(unitId)" (click)="removeFromFavorites(unitId)" class="occufind-favorite"><i class="show-for-small-only fa fa-times-circle" style="font-size:20px;"></i><span><span class="show-for-medium">Remove from</span> favorites</span><span class="icon heart-add selected show-for-medium"></span></span>
                        <span *ngIf="!isFavorited(unitId)" (click)="addFavorite(unitId)" class="occufind-favorite"><i class="show-for-small-only fa fa-plus-circle" style="font-size:20px;"></i><span><span class="show-for-medium">Add to</span> favorites</span><span class="icon heart-add show-for-medium"></span></span> 
                      </div>
                    </li>									
                  </ul>
                </div>
                <h1 class="job-title hide-for-small-only">{{schoolTitle}}</h1>
              </div>
            </div>
          </div>				
                  <div class="blur-titles">
                    <h2 class="job-title show-for-small-only">{{schoolDetails.institutionName}}</h2>
                    <h5 class="small-blue">{{schoolDetails.city}}, {{schoolDetails.state}}</h5>
                    <p><!-- school description --></p>
                  </div>
                  
                 <!-- Hint: CSS & Angular code for haven't favorited college -->
                <div *ngIf="guidedTipConfig?.helpPlan && favoriteSchools?.length === 0 && !favoritedCollegeClosedHint" class="skills-interests-career d-flex align-items-center"> 
                  <svg class="alert-icon" _ngcontent-jkc-c1="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jkc-c1="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" fill="#bbc6d0"></path></svg>
                  <p class="mb-0 bold">College bound? You can save your favorite colleges to refer to when you create a plan.</p>
                  <button type="button" (click)="closedFavCollegeHint()" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="/assets/images/close-blue.svg" alt="Close" />
                  </button> 
                </div>  

          <div class="row">
                    <div class="medium-6 columns">
                          <section class="large-12 tuition-box school-sec" *ngIf="(schoolDetails.inStateTutition && schoolDetails.inStateTutition > 0) && (schoolDetails.outOfStateTutition && schoolDetails.outOfStateTutition > 0 )">
                              <h3>Tuition</h3>
                              <div class="list-text">
                                <span class="school-bold-text"><b>In State Tuition:</b> {{schoolDetails.inStateTutition | currency}}*</span><br>
                                <span class="school-bold-text"><b>Out of State Tuition:</b> {{schoolDetails.outOfStateTutition | currency}}*</span><br>
                              </div>
                              <p>*Price is only tuition fees and may not include all associated costs with living and attendance.</p>
                          </section>
                          <section class="large-12 school-sec" *ngIf="schoolDetails.totalApplicants > 0" >
                              <h3>Admission Information</h3>
                <!-- <div class="percentage-line-box">
                                  <div class="percentage-number"><strong>Number of applicants:</strong><span> {{schoolDetails.totalApplicants | number}}</span></div>
                                  <div class="percentage-line" style="margin: 9px 0;">
                                    <span class="overlay-line"></span>
                                      <span class="top-line"></span>
                                  </div>
                  <div class="percentage-number bottom-text"><strong>Application Deadline:</strong><span>86%</span></div>
                              </div> -->
                              <div><strong>Number of applicants:</strong><span> {{schoolDetails.totalApplicants | number}}</span></div>
                <!-- <div class="progress" style="background-color: #D6F0F0; margin: 5px;">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{percentageAdmitted | number: 0}}" aria-valuemin="0"
                    aria-valuemax="100" style="width: {{percentageAdmitted | number: 0}}%">{{percentageAdmitted | number: 0}}%</div>
                </div> -->
                <!-- <uib-progressbar style="margin-left: 5px; margin-right:5px;" animate="false" value="percentageAdmitted | number: 0" type="success"><b>{{percentageAdmitted | number: 0}}%</b></uib-progressbar> -->
                <div class="admission-progressbar">
                  <mat-progress-bar mode="determinate" [value]="percentageAdmitted"></mat-progress-bar>
                  <div class="applicant-percentag">
                  <div style="position:absolute; top: -1px; left: 32px;">{{ percentageAdmitted | number: '1.0-0'}}%</div></div>
                </div>

                <div><strong>Number of applicants admitted:</strong><span> {{schoolDetails.totalAdmitted | number}}</span></div>
                <hr>
                              <!-- <span class="school-bold-text"><b>Application Deadline:</b>04/01/18</span><br> -->
                          </section>
                        <section class="large-12 school-sec" *ngIf="schoolDetails.retentionRate > 0">
                              <h3>First-Time Students Returning the Following Year</h3>
                              
                              <div class="fall-sec">
                                  <strong>Fall 2019 returning Fall 2020</strong>
                                  <!-- <div google-chart chart="myChartObject" style="height:200px; width:100%;"></div> -->
                                  <google-chart [data]="myChartObject"></google-chart>
                              </div>
                          </section>
                        <section class="large-12 school-sec test-sec" *ngIf="schoolDetails.satCritica25Percent > 0  && schoolDetails.satMath25Percent > 0 && schoolDetails.actCritical25Percent > 0">
                              <h3>Test Scores</h3>
                              <p>Half of the Freshman class scored within these ranges. 25% scored lower and 25% scored higher than these ranges.</p>
                              <div class="critical-lines">
                                <div class="lines-row">
                                    <strong>SAT Critical<br> Reading</strong>
                                      <div class="lines-right">
                                        <div class="lines-number">
                                          <b [ngStyle]="{'margin-left': (schoolDetails.satCritica75Percent > 700 && schoolDetails.satCritica75Percent - schoolDetails.satCritica25Percent <= 100) ? satCritica25Percent - 30 : (schoolDetails.satCritica75Percent - schoolDetails.satCritica25Percent <= 50) ? satCritica25Percent - 30 : (satCritica25Percent - 15) + 'px'}">{{schoolDetails.satCritica25Percent}}</b>
                                              <b [ngStyle]="{'margin-right': 268 - satCritica75Percent - 15 < 0 ? 0 : (268 - satCritica75Percent - 15) + 'px'}">{{schoolDetails.satCritica75Percent}}</b>
                                          </div>
                                          <span class="line-px"></span>
                                          <span class="score-top-line" [ngStyle]="{'margin-left': satCritica25Percent + 'px', width: (satCritica75Percent - satCritica25Percent) + 'px'}"></span>
                                      </div>
                                  </div>
                              </div>
                              <div class="critical-lines">
                                <div class="lines-row lines-row2">
                                    <strong>SAT <br>Math</strong>
                                      <div class="lines-right">
                                        <div class="lines-number">
                                              <b [ngStyle]="{'margin-left': (schoolDetails.satMath75Percent > 700 && schoolDetails.satMath75Percent - schoolDetails.satMath25Percent <= 100) ? satMath25Percent - 30 : (schoolDetails.satMath75Percent - schoolDetails.satMath25Percent <= 50) ? satMath25Percent - 30 : (satMath25Percent - 15) + 'px'}">{{schoolDetails.satMath25Percent}}</b>
                                              <b [ngStyle]="{'margin-right': 268 - satMath75Percent - 15 < 0 ? 0 : (268 - satMath75Percent - 15) + 'px'}">{{schoolDetails.satMath75Percent}}</b>
                                          </div>
                                          <span class="line-px"></span>
                                          <span class="score-top-line" [ngStyle]="{'margin-left': satMath25Percent + 'px', 'width': (satMath75Percent - satMath25Percent) + 'px'}"></span>
                                      </div>
                                  </div>
                              </div>
                              <div class="critical-lines">
                                <div class="lines-row lines-row3">
                                    <strong>ACT <br>Composite</strong>
                                      <div class="lines-right">
                                        <div class="lines-number">
                                              <b [ngStyle]="{'margin-left': (schoolDetails.actCritical75Percent > 28 && schoolDetails.actCritical75Percent - schoolDetails.actCritical25Percent <= 2) ? actCritical25Percent - 30 : (schoolDetails.actCritical75Percent - schoolDetails.actCritical25Percent <= 1) ? actCritical25Percent - 30 : (actCritical25Percent - 15) + 'px'}">{{schoolDetails.actCritical25Percent}}</b>
                                              <b [ngStyle]="{'margin-right': 268 - actCritical75Percent - 15 < 0 ? 0 : (268 - actCritical75Percent - 15) + 'px'}">{{schoolDetails.actCritical75Percent}}</b>
                                          </div>
                                          <span class="line-px"></span>
                                          <span class="score-top-line" [ngStyle]="{'margin-left': actCritical25Percent + 'px', width: (actCritical75Percent - actCritical25Percent) + 'px'}"></span>
                                      </div>
                                  </div>
                              </div>
                              <!-- <div google-chart chart="barChartObject"></div> -->
                          </section>
                      </div>
                    <div class="medium-6 columns">
                          <section class="large-12 school-sec">
                              <h3>Types of Degrees offered</h3>
                              <div class="list-text">
                                  <span *ngIf="schoolDetails.certificate">Certificate</span>
                                  <span *ngIf="schoolDetails.associates">Associate's Degree</span>
                                  <span *ngIf="schoolDetails.bachelors">Bachelor's Degree</span>
                                  <span *ngIf="schoolDetails.masters">Master's Degree</span>
                                  <span *ngIf="schoolDetails.doctoral">Doctoral Degree</span>
                              </div>
                          </section>
                          <section class="large-12 school-sec">
                              <h3>Degrees and Majors offered</h3>
                              <div class="tab_Lefticon degree-accordion">
                                  <mat-accordion class="mat-expansion-panel-group mat-accordion-right-icon mat-accordion-text" #firstAccordion="matAccordion">
                                      <mat-expansion-panel *ngFor="let key of objectKeys(schoolDetails.collegeMajors)" >
                                          <mat-expansion-panel-header style="flex-direction: row-reverse" collapsedHeight="auto" expandedHeight="auto" class="transform_auto">
                                              <!-- <i>+</i> --> {{ key }}
                                          </mat-expansion-panel-header>
                                          <ul>
                                              <li *ngFor="let v of schoolDetails.collegeMajors[key]"><a (click)="_utility.modal(v.cipTitle, v.cipDescrpition)">{{ v.cipTitle }}</a></li>
                                          </ul>                            
                                      </mat-expansion-panel>
                                  </mat-accordion>

                                  <!-- <uib-accordion> 
                                      <uib-accordion-group ng-repeat="(key, value) in schoolDetails.collegeMajors"> 
                                          <uib-accordion-heading><i>+</i><i>-</i> {{key}}</uib-accordion-heading> 
                                            <ul>
                                                <li ng-repeat="v in value"><a ng-click="majorPopup(v.cipTitle, v.cipDescrpition)">{{v.cipTitle}}</a></li>
                                            </ul>
                                      </uib-accordion-group>
                                  </uib-accordion> -->
                              </div>                            
                          </section>
                          <section class="large-12 school-sec icons" *ngIf="schoolDetails.rotcArmy || schoolDetails.rotcNavy || schoolDetails.rotcAirForce">
                              <h3>Available ROTC <a (click)="openDescription('rotc')" class="occufind-sub-explain alt"></a></h3>
                          <ul class="plain ma0">
                            <li>
                              <img *ngIf="schoolDetails.rotcArmy" src="assets/images/army.png">
                              <img *ngIf="schoolDetails.rotcAirForce" src="assets/images/air-force.png">
                              <img *ngIf="schoolDetails.rotcNavy" src="assets/images/navy.png">
                            </li>
                          </ul>                            
                          </section>
                      </div>
          </div>
                  
                  <div class="row" *ngIf='schoolDetails.url.length >2'>
                    <div class="medium-12 columns text-center">
              <span class="usc-bottom">Learn more at <a href="//{{schoolDetails.url}}" target="_blank">{{schoolDetails.url}}</a></span>
                      </div>
              </div>
          </div>
        </section>
      </div>
    </section>
    
	  <app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
    <app-footer></app-footer>
    </div>
  