<div [ngClass]="{'occufind': true, 'logged-out': !occuFindUserLoggedIn}">
  <app-header></app-header>
  <app-my-asvab-header></app-my-asvab-header>

  <section id="content-wrap" class="left-nav-expanded-wrap">
    <div class="row">
        <app-left-navigation-v2-collapsed *ngIf="occuFindUserLoggedIn" [selectedTab]="'explore'"></app-left-navigation-v2-collapsed>
        
        <div class="hide-for-small-only" style="z-index: 1" *ngIf="!occuFindUserLoggedIn">
          <img src="assets/images/Military_moreinfo.jpg" >
          <ul id="steps" class="menu vertical">
						<li class="header-space"><span>Resources</span></li>					
						<li class="activity"><a style="padding: 0.7rem 0rem" href="{{ssoUrl}}" target="_blank">Careers in the Military</a> </li>
						<li class="activity"><a style="padding: 0.7rem 0rem" href="http://todaysmilitary.com/working" target="_blank" ng-controller="GA" ng-click="trackClick('JAMRSs_Link_Clicked');">Today's Military</a></li>
						<li class="activity"><a style="padding: 0.7rem 0rem" href="http://www.goarmy.com/careers-and-jobs.html" target="_blank">Army</a></li>
						<li class="activity"><a style="padding: 0.7rem 0rem" href="http://www.navy.com/careers.html" target="_blank">Navy</a></li>
						<li class="activity"><a style="padding: 0.7rem 0rem" href="https://www.airforce.com/careers/browse-careers" target="_blank">Air Force</a></li>
						<li class="activity"><a style="padding: 0.7rem 0rem" href="http://www.marines.com/becoming-a-marine" target="_blank">Marine Corps</a></li>
						<li class="activity"><a style="padding: 0.7rem 0rem" href="http://www.gocoastguard.com/active-duty-careers" target="_blank">Coast Guard</a></li>
						<li class="activity"><a style="padding: 0.7rem 0rem" href="http://www.nationalguard.com/careers/" target="_blank">National Guard</a></li>	
					</ul>
        </div>

      <section id="main-content" class="left-navigation-condensed" role="main">
          <app-my-top-results-collapsed *ngIf="occuFindUserLoggedIn" [collapsedVersion]="'v2'"></app-my-top-results-collapsed>
          <div id="left-nav-content-wrap">
        <div class="row">
          <div class="columns">
            <ul class="content-bread-cumbs hide-for-small-only">
              <li><a routerLink="/occufind-occupation-search-results">Search</a> > </li>
              <li><a routerLink="/occufind-occupation-details/{{socId}}">&nbsp;{{occupationTitle}}</a> > </li>
              <li>&nbsp;Related Military Careers</li>
            </ul>
            <div class="top-blue-panel">
              <ul class="menu tools icons-right pull-left" *ngIf="occuFindUserLoggedIn">
                <li id="notes"><a (click)="showOccufindNotes()"><i class="fa fa-sticky-note show-for-small-only"></i> Notes</a></li>
                <li id="favorites"><app-occufind-add-favorites [parent]="this"></app-occufind-add-favorites></li>
              </ul>
              <h1 class="job-title hide-for-small-only">Military Careers Related to {{occupationTitle}}</h1>
            </div>
          </div>
        </div>
        <h2 class="job-title show-for-small-only">Military Careers Related to {{occupationTitle}}</h2>
        <br/>

        <div class="careers">
          <div class="row career" *ngFor="let m of militaryMoreDetails">
            <div class="small-12 columns">
              <div class="row">

                <div class="small-12 columns">
                  <h3><a (click)="_ga.trackClick('#FROM_CEP_TO_CITM'); setCompletionToCTM()" href="{{ssoUrl}}career-detail/{{m.mcId}}" target="_blank"><strong>{{m.title}}</strong></a> <i *ngIf="m.isHotJob == 'T'" class="icon-hotjob"></i><i class="icon-right pull-right hide-for-medium"></i></h3>
                </div>

                <div class="small-8 columns">
                  <div class="career-details">
                      
                    <div class="row">
                      <div class="small-6 columns">
                        <ul class="checked">
                          <li [ngClass]="{'inactive': m.enlisted == 'F'}">Enlisted</li>
                          <li [ngClass]="{'inactive': m.officer == 'F'}">Officer</li>
                        </ul>
                      </div>
                      <div class="small-6 columns">
                        <ul class="checked">
                          <li [ngClass]="{'inactive': m.activeDuty == 'F'}">Active Duty</li>
                          <li [ngClass]="{'inactive': m.reserve == 'F'}">Reserve</li>
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                      <div class="small-12 columns services">
                        <br/>
                        <h4>Services Offering this Occupation</h4>
                        <span>
                        <img *ngIf="m.isArmy == 'T'" src="assets/images/army.png">
                        <img *ngIf="m.isMarines == 'T'" src="assets/images/marines.png">
                        <img *ngIf="m.isNavy == 'T'" src="assets/images/navy.png">
                        <img *ngIf="m.isAirForce == 'T'" src="assets/images/air-force.png">
                        <!--  <img src="assets/images/natl-guard.png"> --> 
                        <img *ngIf="m.isSpaceForce == 'T'" src="assets/images/spaceforce.png">
                        <img *ngIf="m.isCoastGuard == 'T'" src="assets/images/coast-guard.png">
                        </span>
                      </div>
                    </div>
                  </div>   
                </div>
                <div class="small-4 columns">
                <img src="{{ctmImageUrl}}{{m.mcId}}.jpg">
                </div>
              </div>
              <hr/>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <section ng-if="militaryHotJobs.length != 0" class="large-12 columns">
            <h3>HOT JOBS in the Military</h3>
            <ul>
              <li ng-repeat="m in militaryHotJobs">U.S. {{m.service == 'M' ? 'Marines' : m.service == 'F' ? 'Air Force' : m.service == 'N' ? 'Navy' : m.service == 'A' ? 'Army' : m.service == 'C' ? 'Coast Guard' : ''}} <a href="{{m.url}}" target="_blank">{{m.title}}</a></li>
            </ul>
          </section>
          <section class="large-12 columns">
            <h3>Careers in the Military</h3>
            <p>This information represents thousands of careers in the 
            United States Military. Related military occupations are shown here.
            </p>
            <div id="search-list" class="row column">
                          <table class="hover" id="education-detail-list"><tbody>						
                                <tr style="display:none;"><td></td></tr>
                <tr ng-repeat="m in militaryMoreDetails">
                  <td class="school-row">
                    <p><a href="http://198.61.220.37:8080/CITM/career-detail/{{m.mcId}}" target="_blank"><strong>{{m.title}}</strong></a></p>
                    <table><tbody>
                      <tr>
                      <td valign="top" colspan="2">
                        <div class="school-info">
                          <p>{{m.description}}</p>
                        </div>		
                      </td>
                      </tr>
                      <tr>
                      <td valign="top" width="155">
                        <div class="school-info">
                          <strong>Military Services Offering this Occupation</strong>
                        </div>
                      </td>
                      <td class="services" valign="top">
                        <span ng-repeat="s in m.service">
                          <img ng-if="s == 'C'" src="images/coast-guard.png">
                          <img ng-if="s == 'F'" src="images/air-force.png">
                          <img ng-if="s == 'N'" src="images/navy.png">
                          <img ng-if="s == 'A'" src="images/army.png">
                          <img ng-if="s == 'M'" src="images/marines.png">
                        </span>
                      </td>
                      </tr>
                    </tbody></table>
                  </td>
                                </tr>end row
                
                        </tbody></table>
          </div>
          
          </section>
        </div> -->
        </div>
      </section>
    </div>
  </section>

	<app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
  <app-footer></app-footer>
</div>
