<mat-dialog-content class="mat-typography">
	<div class="main" style="padding: 1rem; padding-bottom: 50px;">
		<div *ngIf="isCertificationListVisible">
			<div class="modal-header">
				<h3>Certifications</h3>
				<button type="button" class="close-button" data-dismiss="modal" data-close
					(click)='onCancel()'>&times;</button>

			</div>

			<div class="modal-body row">
				<img src="assets/images/cos_poweredby.jpg" align="right">
				<h2>{{occupationTitle}}</h2>
				<hr style="border-width: 0px;">
				<section class="table-pagination row">
					<div class="medium-6 columns">Showing {{occupationCertificates.CertList.length != 0 ?
						(((pageIndex-1)*pageSize)+1) : 0}} - {{pageIndex*pageSize <=
							occupationCertificates.CertList.length ? pageIndex*pageSize :
							occupationCertificates.CertList.length}} of {{occupationCertificates.CertList.length}}
							Certifications</div>
							<div class="medium-6 columns text-right">
								<div id="pagination" class="afternone">
									<ngb-pagination [(page)]="pageIndex" [pageSize]="pageSize" [maxSize]="4"
										[collectionSize]="occupationCertificates.CertList.length" [boundaryLinks]="true"
										[size]="lg">
									</ngb-pagination>
								</div>
							</div>
							<div class="medium-12 columns">
								<hr />
							</div>
				</section>

				<!-- medium view -->
				<section class="hide-for-small-only">
					<table>
						<tr>
							<th *ngIf="isSelectionMode">
							</th>
							<th>Certification Name</th>
							<th><img src="assets/images/small-white-dot.png" height="32" width="32"></th>
							<th>Type</th>
							<th>Certifying Organization</th>
						</tr>
						<tr
							*ngFor="let row of occupationCertificates.CertList | slice: (pageIndex-1)*pageSize: (pageIndex-1)*pageSize + pageSize">
							<td *ngIf="isSelectionMode">
								<input type="checkbox" (change)="selectionChange(row.Name,$event.target.checked)"
									[checked]="getSelectionChecked(row.Name)" />
							</td>
							<td (click)="openCertificateDetail(row)"><span class="cert-name">{{ row.Name }}</span></td>
							<td><span [innerHtml]='row.CertAccredAgencyList | isAccPresent'></span></td>
							<td><span *ngIf="row.Type.length > 0">{{ row.Type }}</span></td>
							<td>{{ row.Organization }}</td>
						</tr>
					</table>
				</section>

				<!--  small view  -->
				<section class="hide-for-medium hide-for-large">
					<div class="row">
						<div class="small-4 columns">
							<strong>Certification Name</strong>
						</div>
						<div class="small-4 columns">
							<strong>Type</strong>
						</div>
						<div class="small-4 columns">
							<strong>Certifying Organization</strong>
						</div>
					</div>
					<hr>
					<div class="row"
						*ngFor="let row of occupationCertificates.CertList | slice: (pageIndex-1)*pageSize: (pageIndex-1)*pageSize + pageSize">
						<div class="small-4 columns" (click)="openCertificateDetail(row)">
							<span class="cert-name">{{row.Name}}</span>
						</div>
						<div class="small-1 columns">
							<span ng-bind-html='row.CERTACCID | isAccPresent'></span>
						</div>
						<div class="small-4 columns">
							<span *ngIf="row.Type.length > 0">{{ row.Type }}</span>
						</div>
						<div class="small-4 columns">{{row.Organization}}</div>
						<div class="small-4 columns text-center" *ngIf="isSelectionMode">
							<input type="checkbox" (change)="selectionChange(row.Name,$event.target.checked)"
								[checked]="getSelectionChecked(row.Name)" />>
						</div>
						<hr>
					</div>
				</section>

			</div>

			<div class="text-center">
				<button *ngIf="isSelectionMode" class="button" type="submit" (click)="addCerts()"
					[disabled]="certificationList.length == 0">ADD
	  			</button>
			</div>
			
			<div class="modal-footer">
				<section id="content-wrap">
					<div id="site-map-div">
						<div class="row">
							<div class="small-4 columns">
								<p>
									<a target="_blank" style="text-decoration: underline;"
										href="http://www.careeronestop.org/businesscenter/Certifications/certification-finder-help.aspx#ind">
										<span id="in-demand" style="text-align: left; display: block;">This certification is In Demand.</span>
									</a>
								</p>
								<p>
									<a target="_blank" style="text-decoration: underline;"
										href="http://www.careeronestop.org/businesscenter/Certifications/certification-finder-help.aspx#jobs">
										<span id="job-corps" style="text-align: left; display: block;">This certification is related to Job Corps training programs.</span>
									</a>
								</p>
							</div>
							<div class="small-4 columns">
								<p>
									<a target="_blank" style="text-decoration: underline;"
										href="http://www.careeronestop.org/businesscenter/Certifications/certification-finder-help.aspx#ansi">
										<span id="ansi-accredited" style="text-align: left; display: block;">This certification accredited by ANSI.</span>
									</a>
								</p>
								<p>
									<a target="_blank" style="text-decoration: underline;"
										href="http://www.careeronestop.org/businesscenter/Certifications/certification-finder-help.aspx#military">
										<span id="military-occ-specialties"
											style="text-align: left; display: block;">This certification is related to military occupational specialties.</span>
									</a>
								</p>
							</div>
							<div class="small-4 columns">
								<p>
									<a target="_blank" style="text-decoration: underline;"
										href="http://www.careeronestop.org/businesscenter/Certifications/certification-finder-help.aspx#industry">
										<span id="third-party-industry-endorsed-cert"
											style="text-align: left; display: block;">This certification is third-party industry-endorsed.</span>
									</a>
								</p>
								<p>
									<a target="_blank" style="text-decoration: underline;"
										href="http://www.careeronestop.org/businesscenter/Certifications/certification-finder-help.aspx#ncca">
										<span id="cos-ncca-accredited" style="text-align: left; display: block;">This certification is accredited by NCCA.</span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</section>
			</div>
			
		</div>
		
	</div>
</mat-dialog-content>