<div [ngClass]="{'occufind': true, 'logged-out': !occuFindUserLoggedIn}">
	<app-header></app-header>
	<app-my-asvab-header></app-my-asvab-header>

	<section id="content-wrap" class="left-nav-expanded-wrap">
		<div class="row">
				<app-left-navigation-v2-collapsed *ngIf="occuFindUserLoggedIn" [selectedTab]="'explore'"></app-left-navigation-v2-collapsed>

				<div class="hide-for-small-only" style="z-index: 1" *ngIf="!occuFindUserLoggedIn">
					<img src="assets/images/Education_moreinfo.jpg" >
				</div>

			<section id="main-content" class="left-navigation-condensed" role="main">
				<app-my-top-results-collapsed *ngIf="occuFindUserLoggedIn" [collapsedVersion]="'v2'"></app-my-top-results-collapsed>
				<div id="left-nav-content-wrap">
				<div class="row">
					<div class="medium-12 columns">
						<ul class="content-bread-cumbs hide-for-small-only">
							<li><a routerLink="/occufind-occupation-search-results">Search</a></li> &gt;
							<li><a routerLink="/occufind-occupation-details/{{socId}}">{{occupationTitle}}</a></li> &gt;
							<li>Education Details</li>
						</ul>
						<div class="top-blue-panel">
							<div *ngIf="occuFindUserLoggedIn">
								<ul class="menu tools icons-right pull-left margin-left-5">
									<li id="notes"><a (click)="showNotes()"><i class="fa fa-sticky-note show-for-small-only"></i> Notes</a></li>
									<li id="favorites"><app-occufind-add-favorites [parent]="this"></app-occufind-add-favorites></li>
								</ul>
							</div>
							<h1 class="job-title hide-for-small-only">Education Details for {{occupationTitle.title}}
							</h1>
						</div>
					</div>
				</div>
				<h2 class="job-title show-for-small-only">Education Details for {{occupationTitle.title}}</h2>
				<p>The programs of study associated with this occupation are: </p>
				<ul>
					<div *ngIf="!showMore">
						<li *ngFor="let major of schoolMajors | slice:0:3">
							<div>{{major}} </div>
						</li>
					</div>
					<div *ngIf="showMore">
						<li *ngFor="let major of schoolMajors">
							<div> {{major}} </div>
						</li>
					</div>
					<div *ngIf="hasMore()">
						<li><a (click)="showMore = !showMore"> {{ showMoreText() }}</a></li>
					</div>
				</ul>
				<br />
				<p>{{ipedsDisclaimer.value}}</p>
				<div class="filters">
					<div class="row">
						<div class="medium-6 columns">
							<label><strong class="caps">Search by state: </strong></label>
							<select [(ngModel)]="stateFilter" (change)='onStateFilterSelect($event)'>
								<option value="">SHOW ENTIRE UNITED STATES</option>
								<option value="AL">Alabama</option>
								<option value="AK">Alaska</option>
								<option value="AZ">Arizona</option>
								<option value="AR">Arkansas</option>
								<option value="CA">California</option>
								<option value="CO">Colorado</option>
								<option value="CT">Connecticut</option>
								<option value="DE">Delaware</option>
								<option value="DC">District Of Columbia</option>
								<option value="FL">Florida</option>
								<option value="GA">Georgia</option>
								<option value="HI">Hawaii</option>
								<option value="ID">Idaho</option>
								<option value="IL">Illinois</option>
								<option value="IN">Indiana</option>
								<option value="IA">Iowa</option>
								<option value="KS">Kansas</option>
								<option value="KY">Kentucky</option>
								<option value="LA">Louisiana</option>
								<option value="ME">Maine</option>
								<option value="MD">Maryland</option>
								<option value="MA">Massachusetts</option>
								<option value="MI">Michigan</option>
								<option value="MN">Minnesota</option>
								<option value="MS">Mississippi</option>
								<option value="MO">Missouri</option>
								<option value="MT">Montana</option>
								<option value="NE">Nebraska</option>
								<option value="NV">Nevada</option>
								<option value="NH">New Hampshire</option>
								<option value="NJ">New Jersey</option>
								<option value="NM">New Mexico</option>
								<option value="NY">New York</option>
								<option value="NC">North Carolina</option>
								<option value="ND">North Dakota</option>
								<option value="OH">Ohio</option>
								<option value="OK">Oklahoma</option>
								<option value="OR">Oregon</option>
								<option value="PA">Pennsylvania</option>
								<option value="PR">Puerto Rico</option>
								<option value="RI">Rhode Island</option>
								<option value="SC">South Carolina</option>
								<option value="SD">South Dakota</option>
								<option value="TN">Tennessee</option>
								<option value="TX">Texas</option>
								<option value="UT">Utah</option>
								<option value="VT">Vermont</option>
								<option value="VA">Virginia</option>
								<option value="WA">Washington</option>
								<option value="WV">West Virginia</option>
								<option value="WI">Wisconsin</option>
								<option value="WY">Wyoming</option>
							</select>
						</div>
						<div class="medium-6 columns">
							<label><strong class="caps">Sort by: </strong></label>
							<select [(ngModel)]="sort" (change)='onSortChange($event)'>
								<option value="schoolName">School Name Ascending</option>
								<option value="-schoolName">School Name Descending</option>
								<option value="city">City Ascending</option>
								<option value="-city">City Descending</option>
								<option value="inStateTuition">In State Tuition Lowest to Highest</option>
								<option value="-inStateTuition">In State Tuition Highest to Lowest</option>
								<option value="outStateTuition">Out State Tuition Lowest to Highest</option>
								<option value="-outStateTuition">Out State Tuition Highest to Lowest</option>
							</select>
						</div>
					</div>
				</div>

				<br />

				<div class="row">

					<section class="table-pagination">
						<div class="medium-6 columns">Showing
							{{totalItems != 0 ? (((currentPage-1)*itemsPerPage)+1) : 0}}-<span>{{((currentPage)*itemsPerPage) <= totalItems ? ((currentPage)*itemsPerPage) : totalItems}}</span>
							of {{totalItems}} Schools</div>
						<div class="medium-6 columns">
							<ngb-pagination [(page)]="currentPage" [pageSize]="itemsPerPage" [maxSize]="4"
								[collectionSize]="filtered.length" [boundaryLinks]="true" size="'lg'">
							</ngb-pagination>
						</div>
						<div class="medium-12 columns">
							<hr />
						</div>
					</section>
					<div id="search-list" class="medium-12 columns">
						<table class="hover" id="education-detail-list">
							<tbody>
								<tr *ngFor="let s of filtered | slice:(currentPage-1)*itemsPerPage: (currentPage-1) * itemsPerPage + itemsPerPage">
									<td class="school-row">
										<p><a routerLink="/occufind-school-details/{{socId}}/{{s.unitId}}">
												<strong>{{s.schoolName}}</strong>
											</a> | {{s.city}}, {{s.state}}</p>
										<table>
											<tr>
												<td valign="top" width="45%">
													<div class="school-info">
														<strong>In State Tuition:</strong>
														{{s.inStateTuition | currency}}<br>
														<!--pipe for currency-->
														<strong>Out of State Tuition:</strong>
														{{s.outStateTuition | currency}}<br>
														<!--pipe for currency-->
													</div>
												</td>
												<td valign="top" width="32%" class="degree-types-label">
													<strong>Types of Degrees offered:</strong>
												</td>
												<td valign="top">
													<div class="degree-types">
														<span *ngIf="s.certificate">Certificate<br></span>
														<span *ngIf="s.associates">Associate's Degree<br></span>
														<span *ngIf="s.bachelors">Bachelor's Degree<br></span>
														<span *ngIf="s.masters">Master's Degree<br></span>
														<span *ngIf="s.doctoral">Doctoral Degree<br></span>
													</div>
												</td>
											</tr>
										</table>
									</td>
								<tr *ngIf="filtered.length == 0">
									<td>There are no education details at the moment.</td>
								</tr>
							</tbody>
						</table>
					</div>

					<section class="table-pagination" style="clear:both">
						<div class="medium-12 columns">
							<hr />
						</div>
						<div class="medium-6 columns">Showing
							{{totalItems != 0 ? (((currentPage-1)*itemsPerPage)+1) : 0}}-<span>{{((currentPage)*itemsPerPage) <= totalItems ? ((currentPage)*itemsPerPage) : totalItems}}</span>
							of {{totalItems}} Schools</div>
						<div class="medium-6 columns">
							<ngb-pagination [(page)]="currentPage" [pageSize]="itemsPerPage" [maxSize]="4" 
								[collectionSize]="filtered.length" [boundaryLinks]="true" size="'lg'">
							</ngb-pagination>
						</div>
					</section>

				</div>
			</div>
			</section>
		</div>
	</section>
	<app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
	<app-footer></app-footer>
</div>