<div class="modal-header">
  <h3>{{modalOptions.title}}</h3>
</div>

<div class="modal-body" style="padding-bottom: 0px">
  <p style="margin-bottom: 0px" [innerHtml]="modalOptions.message | safe: 'html'">
  </p>
  <hr>
</div>
                
<div *ngFor="let option of modalOptions.alternateTraining" class="modal-body" style="padding: 0px 15px">
  <div style="display: flex">
    <input type="radio" name="alternateTraining" [(ngModel)]="modalOptions.alternateTrainingSelected"
      [value]="option.essTrainingId">
    <div style="width: 100%">
      <div class="row">
        <div class="medium-3 columns">
          <strong>Where: </strong>
        </div>
        <div class="medium-9 columns">
          {{option.location.building}}
        </div>
      </div>
      <div class="row">
        <div class="medium-3 columns">
          <strong>At:</strong>
        </div>
        <div class="medium-9 columns">
          {{option.location.buildingAddress}}
        </div>
      </div>
      <div class="row">
        <div class="medium-3 columns">
          <strong *ngIf="option.essEndDate">Dates:</strong>
          <strong *ngIf="!option.essEndDate">Date:</strong>
        </div>
        <div class="medium-9 columns">
          {{option.essStartDate | date : 'MM/dd/yyyy'}}
          <span *ngIf="option.essEndDate"> -
            {{option.essEndDate | date : 'MM/dd/yyyy'}}
          </span>
        </div>
      </div>
      <div class="row">
        <div class="medium-3 columns">
          <strong>Slots Left:</strong>
        </div>
        <div class="medium-9 columns">
          {{option.essMaxNumberOfParticipants - option.numberOfParticipants}}
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>

<div class="modal-footer">
  <button class="button" type="button" (click)="reregister()"
    [disabled]="!modalOptions.alternateTrainingSelected">Register</button>
  <button class="button" type="button" (click)="close();">Cancel</button>
</div>