.mr_20 {
    margin-right: 20px;
}
.mb_30 {
    margin-bottom: 30px;
}
.mb_50 {
    margin-bottom: 50px;
}
.mb_10 {
    margin-bottom: 10px;
}
.mb_20 {
    margin-bottom: 20px;
}
.mt_10{
    margin-top:10px;
}
.ml_10{
    margin-left: 10px;
}
.no-margin{
    margin:0;
}
.hide-collapse {
    display: none;
}
.text-md-right {
    @media (min-width: 768px) {
        text-align: right;
    }
}
.mobile-hide {
    @media (max-width: 639px) {
        display: none;
    }
}
.float_right {
    float: right;
}
.bg_green {
    background-color: #E4F4F4;
}
.occufind #content-wrap h3 {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 19px;
    color: #4a4a4a;
    background-color: #eeeeee;
    text-transform: uppercase;
    padding: 6px 10px;
    margin-bottom: 20px;

    span {
        margin-left: 20px;
    }
}
.page_back_link {
    border-bottom: 1px solid #BDBDBD;
    display: block;
    line-height: normal;
    padding: 10px 0;
}
.plan_top_share {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;

    .calendar_edit {
        text-align: right;
        display: inline-block;
  
        a {
            font-size: 16px;
        }
    }

    p {
        font-size: 16px !important;
    }

    ul {
        text-align: left;
        margin-bottom: 0;
        margin-left: 0;

        li {
            display: inline-block;
            margin: 0 20px;

            &:before {
                display: none;
            }

            &:first-child {
                margin-left:0px;
                margin-right:20px;
            }
        }
    }
}
.share_edit_wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: 639px) {
        flex-direction: column;
        align-items: center;

        a {
            margin-bottom: 20px;
        }
    }
}

.details_plan {
    margin-bottom: 50px;
    p {
        margin-bottom: 0;
    }
    .require_checklist {
        float: right;

        @media (max-width: 639px) {
            float: inherit;
            display: block;
            margin: 10px 0;
        }

        a {
            + a {
                margin-left: 30px;
            }
        }
    }
}

table {
    width: 100%;

    thead {
        background: transparent;
        border-width: 0 0 1px 0;
        border-color: #cacaca;

        th {
            padding: 5px;
        }
    }

    tbody {
        tr {
            &:nth-child(even) {
                background-color: transparent;
            }
            td {
                padding: 5px;
            }
        }
    }

    hr {
        border-color: #000;
        display: block;
        margin: 0;
    }
}


.details_plan_task_list {
    p {
        margin-bottom: 10px;
    }
}

.task_list {
    margin-top: 50px;
    margin-bottom: 30px;
    
    .task_list_title {
        margin-bottom: 8px;
    }

    .task_list_items {
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 0 !important;

            + li {
                margin-top: 10px;
            }

            &:before {
                display: none;
            }

            .task_list_item_data {
                width: 100%;

                .task_list_item_title_wrapper {
                    display: flex;
                    justify-content: space-between;
                    // padding: 4px 8px;

                    .task_list_item_title {
                        width: 100%;
    
                        .task_list_date {
                            font-weight: bold;
                            color: #2DA2A7;
                            display: inline-block;
                            cursor: pointer;;
                        }
    
                        p {
                            display: inline-block;
                            margin-left: 15px;
                            margin-bottom: 0;

                            @media (max-width: 639px) {
                                display: block;
                                margin-left: 0;
                            }
                        }
                    }
                }

                .task_list_item_expanded {

                    ul {
                        padding: 6px 8px 4px;
                        margin: 0;
                    }
                    
                    > div:first-child {
                        width: 100%;
                    }

                    p {
                        margin-bottom: 0;
                    }
                }
               
            }
        }
    }     
}

.occufind button {
    padding: 6px 29px;
    margin: 0 auto;
}

.border_top {
    border-top: 1px solid #cacaca;
}

.mlr0{
    margin-left:0 !important;
    margin-right:0 !important;

}


.plan_top_share-caption{
    padding-left:3px;

    @media (max-width: 639px) {
        display:block;
    }
}


.small-only-text-center{
    @media (max-width: 639px) {
        text-align: center;
    }
}