<div id="portfolio" class="occufind">
  <app-header></app-header>
  <app-my-asvab-header></app-my-asvab-header>

  <section id="content-wrap" class="left-nav-expanded-wrap explore">
    <div class="row">
      <app-left-navigation-v2-collapsed [selectedTab]="'plan'"></app-left-navigation-v2-collapsed>
      <section id="main-content" class="left-navigation-condensed" role="main">
        <app-my-top-results-collapsed [collapsedVersion]="'v2'"></app-my-top-results-collapsed>

        <div id="left-nav-content-wrap">

          <a routerLink="/plan-your-future" class="page_back_link">&lt; Back to Plan for your future</a>

          <!-- <div id="printMe" #printMe style="top: 0; left: 0; width: 100%; height: 100%; z-index: 99999999"> -->
          <div>
            <div class="plan_top_share bg_green">
              <div class="row">
                <div class="column medium-12 small-8">
                  <h4>Plan:&nbsp;{{occupationDescription}}</h4>
                </div>
                <div class="column show-for-small-only small-4 text-right">
                  <a [routerLink]="'/edit-plan/'+userOccupationPlan?.id"><i class="fas fa-edit"></i> Edit Plan</a>
                </div>
              </div>
              <div class="row" data-html2canvas-ignore="true">
                <div class="columns medium-6">
                  <ul>
                    <li><a (click)="showSubmitToMentor()"><img src="assets/images/mentor_submit.png" />&nbsp;&nbsp;Submit</a></li>
                    <li><a (click)="downloadPdf()"><i class="fas fa-download"
                          aria-hidden="true"></i>&nbsp;&nbsp;Download</a></li>
                    <li><a (click)="printPdf()"><i class="fas fa-print" aria-hidden="true"></i>&nbsp;&nbsp;Print</a>
                    </li>
                  </ul>
                </div>
                <div class="columns medium-6 text-right hide-for-small-only">
                  <a [routerLink]="'/edit-plan/'+userOccupationPlan?.id"><i class="fas fa-edit"></i> Edit Plan</a>
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
              <div class="columns medium-6 small-12">
                {{occupationDescription}}
              </div>
              <div class="columns medium-6 small-12">
                <div class="row ">
                  <div class="column small-9 medium-text-right form_select edit-plan-lh-adjustment">
                    {{salaryText}}:
                  </div>
                  <div class="column small-3 medium-text-right edit-plan-lh-adjustment">
                    <span>{{salary}}</span>
                  </div>
                </div>
              </div>
            </div>

            <!-- High School Plan Section -->
            <div class="details_plan" *ngIf="(userSchoolPlan && userSchoolPlan?.graduationDate) && !hsPlanIsLoading">
              <h3>High School Plan <span>Graduation Date: {{userSchoolPlan?.graduationDate}}</span>
              </h3>
              <table class="school_course_table" *ngIf="userSchoolPlan?.courses.length > 0">
                <thead>
                  <tr>
                    <th width="350">High School Courses</th>
                    <th width="215">Locations(s)</th>
                    <th width="145">Benefit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let course of userSchoolPlan?.courses">
                    <td>{{course.course}}</td>
                    <td>{{course.location}}</td>
                    <td>{{course.benefit}}</td>
                  </tr>
                </tbody>
              </table>
              <table class="school_course_table" *ngIf="userSchoolPlan?.activities.length > 0">
                <thead>
                  <tr>
                    <th width="350">Extracurricular/Work Activities</th>
                    <th width="215">Locations(s)</th>
                    <th width="145">Benefit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let activity of userSchoolPlan?.activities">
                    <td>{{activity.activity}}</td>
                    <td>{{activity.location}}</td>
                    <td>{{activity.benefit}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <ng-container *ngIf="hsPlanIsLoading">
              <div class="details_plan">
                <h3>High School Plan</h3>
                <div class="row">
                  <div class="small-12 column text-center">
                    <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
                    Loading High School Plan...
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- GAP Year Plan Section -->
            <ng-container *ngIf="_utilityService.containsPathways(selectedPathways, 'gapYear')">
              <div class="details_plan">

                <ng-container *ngIf="userGapYearPlans && !gapYearIsLoading">
                  <h3>Gap Year Plan</h3>

                  <ng-container *ngFor="let userGapYearPlan of userGapYearPlans; let i = index;">
                    <div class="row mb_20">
                      <div class="column small-12">
                        <strong>{{userGapYearPlan.planName}}</strong>
                      </div>
                    </div>
                    <div class="row">
                      <div class="column small-12">
                        <strong>Type:</strong>&nbsp; {{userGapYearPlan.selectedTypes}}
                      </div>
                    </div>
                    <div class="row" *ngIf="userGapYearPlan.goals">
                      <div class="column small-12">
                        <strong>Goals:</strong>&nbsp; {{userGapYearPlan.goals}}
                      </div>
                    </div>
                    <div class="row" *ngIf="userGapYearPlan.isVisaRequired">
                      <div class="column small-12">
                        <strong>VISA Required</strong>
                      </div>
                    </div>
                    <div class="row" *ngIf="userGapYearPlan.isVaccinationsRequired">
                      <div class="column small-12">
                        <strong>Vaccinations Required</strong>
                      </div>
                    </div>
                    <div class="row">
                      <div class="column small-5">
                        <div class="row" *ngIf="(userGapYearPlan.programCost || userGapYearPlan.costOfLiving || userGapYearPlan.totalAnticipatedWages)">
                          <div class="column small-12">
                            <hr class="no-margin" />
                          </div>
                        </div>
                        <div class="row" *ngIf="userGapYearPlan.programCost">
                          <div class="column small-8">
                            <strong>Program Cost:</strong>
                          </div>
                          <div class="column small-4 text-right">
                            {{userGapYearPlan.programCost | currency}}
                          </div>
                        </div>
                        <div class="row" *ngIf="userGapYearPlan.costOfLiving">
                          <div class="column small-8">
                            <strong>Estimated cost of living:</strong>
                          </div>
                          <div class="column small-4 text-right">
                            {{userGapYearPlan.costOfLiving | currency}}
                          </div>
                        </div>
                        <div class="row" *ngIf="userGapYearPlan.totalAnticipatedWages && hasAnticipatedWageType(userGapYearPlan.types)">
                          <div class="column small-8">
                            <strong>Total Anticipated Wages:</strong>
                          </div>
                          <div class="column small-4 text-right">
                            {{userGapYearPlan.totalAnticipatedWages | currency}}
                          </div>
                        </div>

                        <!-- Needed due to print spacing issue -->
                        <span *ngIf="(!userGapYearPlan.programCost && !userGapYearPlan.costOfLiving) || ( (!userGapYearPlan.programCost && !userGapYearPlan.costOfLiving) && !userGapYearPlan.totalAnticipatedWages && !hasAnticipatedWageType(userGapYearPlan.types))">
                          &nbsp;
                        </span>
                      </div>
                      <div class="column small-2">
                        &nbsp;
                      </div>

                      <div class="column small-5">
                        <div class="row" *ngIf="userGapYearPlan.fundingSource " >
                          <div class="column small-12">
                            <hr class="no-margin" />
                          </div>
                        </div>
                        <div class="row" *ngIf="userGapYearPlan.fundingSource"t>
                          <div class="column small-6 end">
                            <strong>Funding Source:</strong>
                          </div>
                        </div>
                        <div class="row" *ngIf="userGapYearPlan.fundingSource">
                          <div class="column small-12">
                            {{userGapYearPlan.fundingSource}}&nbsp;
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mb_20" *ngIf="userGapYearPlan.fundingSource || userGapYearPlan.programCost || userGapYearPlan.costOfLiving || userGapYearPlan.totalAnticipatedWages">
                      <div class="column small-5">
                        <div class="row" *ngIf="(userGapYearPlan.programCost || userGapYearPlan.costOfLiving || userGapYearPlan.totalAnticipatedWages)">
                          <div class="column small-12">
                            <hr class="no-margin" />
                          </div>
                        </div>
                        <div class="row" *ngIf="(userGapYearPlan.programCost || userGapYearPlan.costOfLiving || userGapYearPlan.totalAnticipatedWages)">
                          <div class="column small-6">
                            <strong>Total Cost:</strong>
                          </div>
                          <div class="column small-6 text-right">
                            <strong>{{(userGapYearPlan.programCost+userGapYearPlan.costOfLiving)-userGapYearPlan.totalAnticipatedWages
                              | currency}}</strong>
                          </div>
                        </div>
                      </div>
                      <div class="column small-2">
                        &nbsp;
                      </div>
                      <div class="column small-5 ">
                        <div class="row" *ngIf="userGapYearPlan.estimatedAmount">
                          <div class="column small-12">
                            <hr class="no-margin" />
                          </div>
                        </div>
                        <div class="row" *ngIf=" userGapYearPlan.estimatedAmount">
                          <div class="column small-6">
                            <strong>Total Funding Source:</strong>
                          </div>
                          <div class="column small-6 text-right">
                            <strong> {{userGapYearPlan.estimatedAmount | currency}}
                            </strong>
                          </div>
                        </div>
                      </div>
                    </div>

                    <hr *ngIf="i != (userGapYearPlans.length - 1)" style="border-bottom: 1px solid black;" />

                  </ng-container>
                </ng-container>
                <ng-container *ngIf="gapYearIsLoading">
                  <h3>Gap Year Plan</h3>

                  <div class="row">
                    <div class="small-12 column text-center">
                      <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
                      Loading Gap Year Plan...
                    </div>
                  </div>
                </ng-container>

              </div>
            </ng-container>

            <!-- College Plan Section -->
            <ng-container *ngIf="_utilityService.containsPathways(selectedPathways, 'certificate', 'technicalSchool', 
              'associatesDegree', 'bachelorsDegree','advanceDegree','vocationalTraining', 'careerTechnicalEducation') || 
              _utilityService.containsPathways(selectedPathways, 'military') && userCollegePlans?.length > 0 ">

              <div class="details_plan" *ngIf="userCollegePlans && !collegePlanIsLoading">
                <h3>College Plan</h3>
                <ng-container *ngFor="let userCollegePlan of userCollegePlans; let i = index;">
                  <div class="row">
                    <div class="column small-5">
                      <div class="row">
                        <div class="column small-2">
                          <strong>College:</strong>
                        </div>
                        <div class="column small-10">
                          {{userCollegePlan?.schoolProfile?.institutionName}}
                        </div>
                      </div>
                      <div class="row" *ngIf="userCollegePlan?.degree">
                        <div class="column small-2">
                          <strong>Degree:</strong>
                        </div>
                        <div class="column small-10" style="text-transform: capitalize;">
                          {{userCollegePlan?.degree}}
                        </div>
                      </div>
                      <div class="row" *ngIf="userCollegePlan?.major">
                        <div class="column small-2">
                          <strong>Major:</strong>
                        </div>
                        <div class="column small-10">
                          {{userCollegePlan?.major}}
                        </div>
                      </div>


                    </div>
                    <div class="column small-2">
                      &nbsp;
                    </div>
                    <div class="column small-5">
                      <div class="row">
                        <div class="column small-6 end">
                          <strong *ngIf="userCollegePlan?.sources?.length > 0">Tuition Source:</strong>
                        </div>
                      </div>
                      <ng-container *ngIf="userCollegePlan?.sources?.length > 0">
                        <div class="row" *ngFor="let collegePlan of userCollegePlan.sources">
                          <div class="column small-6">
                            {{collegePlan.label}}
                          </div>
                          <div class="column small-6 text-right">
                            {{collegePlan.value | currency}}
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>

                  <div class="row mb_20 mt_10 mlr0"
                    *ngIf="(userCollegePlan.isSeekingInStateTuition === true || userCollegePlan.isSeekingInStateTuition === false) || userCollegePlan?.sources?.length > 0">
                    <div class="column small-5 border_top" style="padding-left:0; padding-right:0;padding-top:10px;"
                      *ngIf="userCollegePlan.isSeekingInStateTuition === true || userCollegePlan.isSeekingInStateTuition === false">
                      <div class="row">
                        <div class="column small-8">
                          <strong *ngIf="userCollegePlan.isSeekingInStateTuition === true">
                            In-State Tuition Estimate:</strong>
                          <strong *ngIf="userCollegePlan.isSeekingInStateTuition === false">
                            Out-of-State Tuition Estimate:</strong>
                        </div>
                        <div class="column small-4 text-right">
                          <strong *ngIf="userCollegePlan.isSeekingInStateTuition === true ">
                            {{(userCollegePlan?.schoolProfile?.inStateTutition) | currency}}</strong>
                          <strong *ngIf="userCollegePlan.isSeekingInStateTuition === false">
                            {{(userCollegePlan?.schoolProfile?.outOfStateTutition) |
                            currency}}</strong>
                        </div>
                      </div>
                    </div>
                    <div
                      [ngClass]="userCollegePlan.isSeekingInStateTuition === true || userCollegePlan.isSeekingInStateTuition === false ? 'column small-2': 'column small-7'">
                      &nbsp;
                    </div>
                    <div class="column small-5 border_top" style="padding-top:10px;"
                      *ngIf="userCollegePlan?.sources?.length > 0">
                      <div class="row">
                        <div class="column small-6">
                          <strong>Total Tuition Source:</strong>
                        </div>
                        <div class="column small-6 text-right" style="padding-right: 0;">
                          <strong> {{userCollegePlan?.sumTotalSource | currency}}
                          </strong>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row border_top mlr0" style="padding-top:10px;"
                    *ngIf="(userCollegePlan.isSeekingInStateTuition === true || userCollegePlan.isSeekingInStateTuition === false) || userCollegePlan?.sources?.length > 0">
                    <div class="column small-4" style="padding-left:0; padding-right: 0;">
                      <strong>Remaining Tuition Amount:</strong>
                    </div>
                    <div class="column small-8 text-right" style="padding-right: 0;">
                      <strong>
                      {{ (( (userCollegePlan.isSeekingInStateTuition === true) ?
                      userCollegePlan?.schoolProfile?.inStateTutition : (userCollegePlan.isSeekingInStateTuition ===
                      false) ? userCollegePlan?.schoolProfile?.outOfStateTutition : 0)-userCollegePlan?.sumTotalSource)
                      | currency}}
                    </strong>
                    </div>
                  </div>

                  <hr *ngIf="i != (userCollegePlans.length - 1)" style="border-bottom: 1px solid black;" />

                </ng-container>

              </div>

              <ng-container *ngIf="collegePlanIsLoading">
                <div class="details_plan">
                  <h3>College Plan</h3>
                  <div class="row">
                    <div class="small-12 column text-center">
                      <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
                      Loading College Plan...
                    </div>
                  </div>
                </div>
              </ng-container>

            </ng-container>

            <!-- Military Plan Section -->
            <ng-container *ngIf="_utilityService.containsPathways(selectedPathways, 'military')">


              <div class="details_plan">

                <ng-container
                  *ngIf="(userMilitaryPlans && serviceColleges?.length >0) && (!serviceCollegesIsLoading && !militaryPlanIsLoading)">
                  <h3>Military Plan</h3>
                  <div *ngFor="let userMilitaryPlan of userMilitaryPlans; let i = index;">
                    <p>
                      <strong *ngIf="userMilitaryPlan.didSelectOfficer">Officer</strong>
                      <strong *ngIf="!userMilitaryPlan.didSelectOfficer">Enlisted</strong>
                    </p>
                    <p>
                      <strong>Service Branch:</strong>&nbsp;{{userMilitaryPlan.services}}
                    </p>
                    <ng-container *ngIf="userMilitaryPlan.didSelectOfficer">
                      <ng-container *ngIf="userMilitaryPlan.academies.length > 0">
                        <p *ngFor="let academy of userMilitaryPlan.academies">
                          <strong>{{academy.label}}:</strong>&nbsp;{{getAcademyName(academy.unitId,
                          academy.collegeTypeId)}}
                          <span class="require_checklist" data-html2canvas-ignore="true">
                            <a *ngIf="getAcademyApplicationTimelinePdfKey(academy.unitId)"
                              href="{{documentLocation}}{{getAcademyApplicationTimelinePdfKey(academy.unitId)}}"
                              target="_blank"><img src="assets/images/pdf_small_icon.png"
                                alt="PDF File">&nbsp;Application
                              Timeline</a>
                            <a *ngIf="getAcademyChecklistPdfKey(academy.unitId)"
                              href="{{documentLocation}}{{getAcademyChecklistPdfKey(academy.unitId)}}"
                              target="_blank"><img src="assets/images/pdf_small_icon.png" alt="PDF File">&nbsp;Check
                              list</a>
                          </span>
                        </p>
                      </ng-container>
                      <ng-container *ngIf="userMilitaryPlan.rotc.length > 0">
                        <p *ngFor="let rotc of userMilitaryPlan.rotc"><strong
                            *ngIf="rotc.label">{{rotc.label}}:</strong>&nbsp;{{rotc.value}}
                        </p>
                      </ng-container>
                      <p *ngIf="userMilitaryPlan.isInterestedInActiveDuty || 
                        userMilitaryPlan.isInterestedInReserves || 
                        userMilitaryPlan.isInterestedInNationalGuard">
                        <strong>Interests:</strong>&nbsp;
                        <span *ngIf="userMilitaryPlan.isInterestedInActiveDuty">Active Duty</span>
                        <span *ngIf="userMilitaryPlan.isInterestedInReserves">
                          <span *ngIf="userMilitaryPlan.isInterestedInActiveDuty">,&nbsp;</span>Corps Reserve
                        </span>
                        <span *ngIf="userMilitaryPlan.isInterestedInNationalGuard">
                          <span
                            *ngIf="userMilitaryPlan.isInterestedInActiveDuty || userMilitaryPlan.isInterestedInReserves">,&nbsp;</span>National
                          Guard</span>
                      </p>
                    </ng-container>
                    <hr />
                    <ng-container *ngFor="let career of userMilitaryPlan.careers">
                      <p><strong>Military Occupation Title:</strong>&nbsp;
                        <span [innerHTML]="career.occuTitle"></span>
                        <a class="recaptcha-no-top" style="float: right;"
                          (click)="openServiceContactUsDialog(career.service)" target="_blank"
                          data-html2canvas-ignore="true">Contact a recruiter</a>
                      </p>
                      <p><strong>Military Job Title:</strong>&nbsp;{{career.jobTitle}}
                        <span class="require_checklist" data-html2canvas-ignore="true">
                          <a *ngIf="userMilitaryPlan.didSelectEnlisted"
                            href="{{documentLocation}}Military_Check_list.pdf" target="_blank"><img
                              src="assets/images/pdf_small_icon.png" alt="PDF File">&nbsp;Check
                            list</a>
                        </span>
                      </p>

                    </ng-container>

                    <hr *ngIf="i != (userMilitaryPlans.length - 1)" style="border-bottom: 1px solid black;" />

                  </div>
                </ng-container>

                <ng-container *ngIf="serviceCollegesIsLoading && militaryPlanIsLoading">
                  <h3>Military Plan</h3>
                  <div class="row">
                    <div class="small-12 column text-center">
                      <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
                      Loading Military Plan...
                    </div>
                  </div>
                </ng-container>

              </div>


            </ng-container>

            <!-- Work Plan Section -->
            <ng-container *ngIf="_utilityService.containsPathways(selectedPathways, 'certificate', 'technicalSchool',
               'workBasedLearning', 'vocationalTraining', 'careerTechnicalEducation')">

              <div class="details_plan" *ngIf="userWorkPlan && !workPlanIsLoading">
                <h3>Work Plan</h3>
                <div class="row">
                  <div class="small-12 column">
                    {{userWorkPlan.workPlan}}
                  </div>
                </div>
              </div>

              <div class="details_plan" *ngIf="workPlanIsLoading">
                <h3>Work Plan</h3>
                <div class="row">
                  <div class="small-12 column text-center">
                    <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
                    Loading Work Plan...
                  </div>
                </div>
              </div>

            </ng-container>

            <!-- Additional Notes Section -->
            <div class="details_plan" *ngIf="userOccupationPlan.additionalNotes">
              <h3>Additional notes:</h3>
              <div>
                <p>{{userOccupationPlan.additionalNotes}}</p>
              </div>
            </div>

            <!-- Resources -->
            <div class="details_plan">
              <h3>Resources</h3>
              <div>

                <!-- always show -->
                <p> <a href="https://www.onetonline.org/" target="_blank"> O*NET OnLine </a></p>
                <p> <a href="https://www.march2success.com/" target="_blank"> March2Success</a></p>
                <p> <a href="http://www.usaeop.com/" target="_blank"> Army Educational Outreach Program</a></p>
                <p> <a href="http://livingwage.mit.edu/" target="_blank"> Living Wage Calculator </a></p>
                <p> <a href="https://www.khanacademy.org/" target="_blank"> Khan Academy </a></p>

                <!-- if college card -->
                <ng-container *ngIf="userCollegePlans && !collegePlanIsLoading">
                  <p> <a href="https://fafsa.ed.gov/" target="_blank">FAFSA </a></p>
                  <p> <a href="http://www.fastweb.com/" target="_blank">Fastweb</a></p>
                  <p> <a href="http://nces.ed.gov/collegenavigator/" target="_blank">College Navigator</a></p>
                  <p> <a href="http://www.collegecalc.org/" target="_blank">CollegeCalc</a></p>

                  <ng-container *ngFor="let userCollegePlan of userCollegePlans; let i = index;">
                    <p><a href="http://{{userCollegePlan.schoolProfile.url}}"
                        target="_blank">{{userCollegePlan.schoolProfile.url}}</a></p>
                  </ng-container>
                </ng-container>

                <!-- if military card -->
                <ng-container
                  *ngIf="(userMilitaryPlans && serviceColleges?.length >0) && (!serviceCollegesIsLoading && !militaryPlanIsLoading)">

                  <p *ngFor="let serviceObj of getResourceLinks(userMilitaryPlans)">
                    <a href="{{serviceObj.url}}" target="_blank">{{serviceObj.title}}</a>
                  </p>

                </ng-container>

              </div>
            </div>

            <!-- Dates and Tasks Section -->
            <div class="details_plan"
              *ngIf="(userPlanTasks && userPlanTasks?.length > 0) || (userPlanCalendarTasks && userPlanCalendarTasks?.length > 0)">
              <h3>Important Dates and Tasks</h3>
              <div class="details_plan_task_list">
                <ng-container *ngIf="userPlanTasks && userPlanTasks?.length > 0">
                  <p style="font-size: 14px !important;"><strong>Tasks List</strong></p>
                  <div *ngFor="let task of userPlanTasks; let i = index;">
                    <hr class="no-margin" />
                    <div class="checkbox-tick ">
                      <input class="styled-checkbox" type="checkbox" [checked]="task.completed" disabled />
                      <label class="styled-checkbox-label">
                      </label>
                      <label style='display: inline' *ngIf="!hasUrl(task.taskName)">
                        <span class="ml_10"><strong>{{convertTaskName(task.taskName)}}</strong></span>
                      </label>
                      <a class="ml_10" *ngIf="hasUrl(task.taskName)" [href]="getUrl(task.taskName)"
                        target="_blank">{{convertTaskName(task.taskName)}}</a>
                    </div>
                  </div>
                </ng-container>

                <ng-container *ngIf="userPlanCalendarTasks && userPlanCalendarTasks?.length > 0">

                  <div class="task_list">
                    <p class="task_list_title" style="font-size: 14px !important;"><strong>Important Date</strong></p>
                    <ul class="task_list_items">
                      <li *ngFor="let calendar of userPlanCalendarTasks; let i = index;">
                        <hr class="no-margin" />
                        <div class="task_list_item_data">
                          <div class="task_list_item_title_wrapper">
                            <div class="task_list_item_title">
                              <span class="task_list_date" (click)="calendar.expanded = !calendar.expanded"
                                [ngClass]="!calendar.expanded ? '' : 'active'">{{calendar.date}}</span>
                              <p>{{calendar.title}} </p>
                            </div>
                          </div>
                          <div class="task_list_item_expanded"
                            [ngClass]="!calendar.expanded ? 'hide-collapse' : 'show-expand'">
                            <ng-container *ngIf="calendar.tasks">
                              <p style="margin-bottom: 10px; margin-top: 10px;">Tasks assigned to this date:</p>
                              <div *ngFor="let task of calendar.tasks; let y = index;">
                                <div class="checkbox-tick ">
                                  <input class="styled-checkbox" type="checkbox" [checked]="task.completed" disabled />
                                  <label class="styled-checkbox-label">
                                  </label>
                                  <label style='display: inline;'>
                                    <span class="ml_10"><strong>{{convertTaskName(task.taskName)}}</strong></span>
                                  </label>
                                </div>
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>

                </ng-container>

              </div>
            </div>

            <div class="text-center mb_30 " data-html2canvas-ignore="true">
              <a class="button" style="padding: 6px 29px; margin:0;" routerLink="/plan-your-future">CLOSE</a>
            </div>
          </div>

          <div class="plan_top_share bg_green row" style="margin-left:0;">
            <div class="column small-9 medium-6 ">
              <div class="row">
                <div class="column small-4 medium-4 small-only-text-center">
                  <a (click)="showSubmitToMentor()"><img src="assets/images/mentor_submit.png" />
                    <span class="plan_top_share-caption">Submit</span>
                  </a>
                </div>
                <div class="column small-4 medium-4 small-only-text-center">
                  <a (click)="downloadPdf()"><i class="fas fa-download" aria-hidden="true"></i>
                    <span class="plan_top_share-caption">Download</span>
                  </a>
                </div>
                <div class="column small-4 medium-4 small-only-text-center">
                  <a (click)="printPdf()"><i class="fas fa-print" aria-hidden="true"></i>
                    <span class="plan_top_share-caption">Print</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="column small-3 medium-6 text-right small-only-text-center">
                <a [routerLink]="'/edit-plan/'+userOccupationPlan?.id"><i class="fas fa-edit"></i> <span class="hide-for-small-only">Edit Plan</span>
                  <span class="plan_top_share-caption show-for-small-only">Edit</span></a>
            </div>
          </div>

          <!-- <div class="edit_plan_bottom">
            <app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
          </div> -->
        </div>
      </section>
    </div>

  </section>

	<app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
  <app-footer></app-footer>
</div>

<div id="printMe" #printMe style="display:none; position: fixed; top: 0; left: 0; height: 100%; z-index: 99999999">

  <div class="plan_top_share bg_green">
    <div class="row">
      <div class="column medium-12 small-8">
        <h4>Plan:&nbsp;{{occupationDescription}}</h4>
      </div>
      <div class="column show-for-small-only small-4 text-right">
        <a [routerLink]="'/edit-plan/'+userOccupationPlan?.id"><i class="fas fa-edit"></i> Edit Plan</a>
      </div>
    </div>
    <div class="row" data-html2canvas-ignore="true">
      <div class="columns medium-6">
        <ul>
          <li><a (click)="showSubmitToMentor()"><img src="assets/images/mentor_submit.png" />&nbsp;&nbsp;Submit</a></li>
          <li><a (click)="downloadPdf()"><i class="fas fa-download"
                aria-hidden="true"></i>&nbsp;&nbsp;Download</a></li>
          <li><a (click)="printPdf()"><i class="fas fa-print" aria-hidden="true"></i>&nbsp;&nbsp;Print</a>
          </li>
        </ul>
      </div>
      <div class="columns medium-6 text-right hide-for-small-only">
        <a [routerLink]="'/edit-plan/'+userOccupationPlan?.id"><i class="fas fa-edit"></i> Edit Plan</a>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="columns medium-6 small-12">
      {{occupationDescription}}
    </div>
    <div class="columns medium-6 small-12">
      <div class="row ">
        <div class="column small-9 medium-text-right form_select edit-plan-lh-adjustment">
          {{salaryText}}:
        </div>
        <div class="column small-3 medium-text-right edit-plan-lh-adjustment">
          <span>{{salary}}</span>
        </div>
      </div>
    </div>
  </div>

  <!-- High School Plan Section -->
  <div class="details_plan" *ngIf="(userSchoolPlan && userSchoolPlan?.graduationDate) && !hsPlanIsLoading">
    <h3>High School Plan <span>Graduation Date: {{userSchoolPlan?.graduationDate}}</span>
    </h3>
    <table class="school_course_table" *ngIf="userSchoolPlan?.courses.length > 0">
      <thead>
        <tr>
          <th width="350">High School Courses</th>
          <th width="215">Locations(s)</th>
          <th width="145">Benefit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of userSchoolPlan?.courses">
          <td>{{course.course}}</td>
          <td>{{course.location}}</td>
          <td>{{course.benefit}}</td>
        </tr>
      </tbody>
    </table>
    <table class="school_course_table" *ngIf="userSchoolPlan?.activities.length > 0">
      <thead>
        <tr>
          <th width="350">Extracurricular/Work Activities</th>
          <th width="215">Locations(s)</th>
          <th width="145">Benefit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let activity of userSchoolPlan?.activities">
          <td>{{activity.activity}}</td>
          <td>{{activity.location}}</td>
          <td>{{activity.benefit}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-container *ngIf="hsPlanIsLoading">
    <div class="details_plan">
      <h3>High School Plan</h3>
      <div class="row">
        <div class="small-12 column text-center">
          <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
          Loading High School Plan...
        </div>
      </div>
    </div>
  </ng-container>

  <!-- GAP Year Plan Section -->
  <ng-container *ngIf="_utilityService.containsPathways(selectedPathways, 'gapYear')">
    <div class="details_plan">

      <ng-container *ngIf="userGapYearPlans && !gapYearIsLoading">
        <h3>Gap Year Plan</h3>

        <ng-container *ngFor="let userGapYearPlan of userGapYearPlans; let i = index;">
          <div class="row mb_20">
            <div class="column small-12">
              <strong>{{userGapYearPlan.planName}}</strong>
            </div>
          </div>
          <div class="row">
            <div class="column small-12">
              <strong>Type:</strong>&nbsp; {{userGapYearPlan.selectedTypes}}
            </div>
          </div>
          <div class="row" *ngIf="userGapYearPlan.goals">
            <div class="column small-12">
              <strong>Goals:</strong>&nbsp; {{userGapYearPlan.goals}}
            </div>
          </div>
          <div class="row" *ngIf="userGapYearPlan.isVisaRequired">
            <div class="column small-12">
              <strong>VISA Required</strong>
            </div>
          </div>
          <div class="row" *ngIf="userGapYearPlan.isVaccinationsRequired">
            <div class="column small-12">
              <strong>Vaccinations Required</strong>
            </div>
          </div>
          <div class="row">
            <div class="column small-5">
              <div class="row" *ngIf="(userGapYearPlan.programCost || userGapYearPlan.costOfLiving || userGapYearPlan.totalAnticipatedWages)">
                <div class="column small-12">
                  <hr class="no-margin" />
                </div>
              </div>
              <div class="row" *ngIf="userGapYearPlan.programCost">
                <div class="column small-8">
                  <strong>Program Cost:</strong>
                </div>
                <div class="column small-4 text-right">
                  {{userGapYearPlan.programCost | currency}}
                </div>
              </div>
              <div class="row" *ngIf="userGapYearPlan.costOfLiving">
                <div class="column small-8">
                  <strong>Estimated cost of living:</strong>
                </div>
                <div class="column small-4 text-right">
                  {{userGapYearPlan.costOfLiving | currency}}
                </div>
              </div>
              <div class="row" *ngIf="userGapYearPlan.totalAnticipatedWages && hasAnticipatedWageType(userGapYearPlan.types)">
                <div class="column small-8">
                  <strong>Total Anticipated Wages:</strong>
                </div>
                <div class="column small-4 text-right">
                  {{userGapYearPlan.totalAnticipatedWages | currency}}
                </div>
              </div>

              <!-- Needed due to print spacing issue -->
              <span *ngIf="(!userGapYearPlan.programCost && !userGapYearPlan.costOfLiving) || ( (!userGapYearPlan.programCost && !userGapYearPlan.costOfLiving) && !userGapYearPlan.totalAnticipatedWages && !hasAnticipatedWageType(userGapYearPlan.types))">
                &nbsp;
              </span>
            </div>
            <div class="column small-2">
              &nbsp;
            </div>

            <div class="column small-5">
              <div class="row" *ngIf="userGapYearPlan.fundingSource " >
                <div class="column small-12">
                  <hr class="no-margin" />
                </div>
              </div>
              <div class="row" *ngIf="userGapYearPlan.fundingSource"t>
                <div class="column small-6 end">
                  <strong>Funding Source:</strong>
                </div>
              </div>
              <div class="row" *ngIf="userGapYearPlan.fundingSource">
                <div class="column small-12">
                  {{userGapYearPlan.fundingSource}}&nbsp;
                </div>
              </div>
            </div>
          </div>
          <div class="row mb_20" *ngIf="userGapYearPlan.fundingSource || userGapYearPlan.programCost || userGapYearPlan.costOfLiving || userGapYearPlan.totalAnticipatedWages">
            <div class="column small-5">
              <div class="row" *ngIf="(userGapYearPlan.programCost || userGapYearPlan.costOfLiving || userGapYearPlan.totalAnticipatedWages)">
                <div class="column small-12">
                  <hr class="no-margin" />
                </div>
              </div>
              <div class="row" *ngIf="(userGapYearPlan.programCost || userGapYearPlan.costOfLiving || userGapYearPlan.totalAnticipatedWages)">
                <div class="column small-6">
                  <strong>Total Cost:</strong>
                </div>
                <div class="column small-6 text-right">
                  <strong>{{(userGapYearPlan.programCost+userGapYearPlan.costOfLiving)-userGapYearPlan.totalAnticipatedWages
                    | currency}}</strong>
                </div>
              </div>
            </div>
            <div class="column small-2">
              &nbsp;
            </div>
            <div class="column small-5 ">
              <div class="row" *ngIf="userGapYearPlan.estimatedAmount">
                <div class="column small-12">
                  <hr class="no-margin" />
                </div>
              </div>
              <div class="row" *ngIf=" userGapYearPlan.estimatedAmount">
                <div class="column small-6">
                  <strong>Total Funding Source:</strong>
                </div>
                <div class="column small-6 text-right">
                  <strong> {{userGapYearPlan.estimatedAmount | currency}}
                  </strong>
                </div>
              </div>
            </div>
          </div>

          <hr *ngIf="i != (userGapYearPlans.length - 1)" style="border-bottom: 1px solid black;" />

        </ng-container>
      </ng-container>
      <ng-container *ngIf="gapYearIsLoading">
        <h3>Gap Year Plan</h3>

        <div class="row">
          <div class="small-12 column text-center">
            <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
            Loading Gap Year Plan...
          </div>
        </div>
      </ng-container>

    </div>
  </ng-container>

  <!-- College Plan Section -->
  <ng-container *ngIf="_utilityService.containsPathways(selectedPathways, 'certificate', 'technicalSchool', 
    'associatesDegree', 'bachelorsDegree','advanceDegree','vocationalTraining', 'careerTechnicalEducation') || 
    _utilityService.containsPathways(selectedPathways, 'military') && userCollegePlans?.length > 0 ">

    <div class="details_plan" *ngIf="userCollegePlans && !collegePlanIsLoading">
      <h3>College Plan</h3>
      <ng-container *ngFor="let userCollegePlan of userCollegePlans; let i = index;">
        <div class="row">
          <div class="column small-5">
            <div class="row">
              <div class="column small-2">
                <strong>College:</strong>
              </div>
              <div class="column small-10">
                {{userCollegePlan?.schoolProfile?.institutionName}}
              </div>
            </div>
            <div class="row" *ngIf="userCollegePlan?.degree">
              <div class="column small-2">
                <strong>Degree:</strong>
              </div>
              <div class="column small-10" style="text-transform: capitalize;">
                {{userCollegePlan?.degree}}
              </div>
            </div>
            <div class="row" *ngIf="userCollegePlan?.major">
              <div class="column small-2">
                <strong>Major:</strong>
              </div>
              <div class="column small-10">
                {{userCollegePlan?.major}}
              </div>
            </div>


          </div>
          <div class="column small-2">
            &nbsp;
          </div>
          <div class="column small-5">
            <div class="row">
              <div class="column small-6 end">
                <strong *ngIf="userCollegePlan?.sources?.length > 0">Tuition Source:</strong>
              </div>
            </div>
            <ng-container *ngIf="userCollegePlan?.sources?.length > 0">
              <div class="row" *ngFor="let collegePlan of userCollegePlan.sources">
                <div class="column small-6">
                  {{collegePlan.label}}
                </div>
                <div class="column small-6 text-right">
                  {{collegePlan.value | currency}}
                </div>
              </div>
            </ng-container>
          </div>
        </div>

        <div class="row mb_20 mt_10 mlr0"
          *ngIf="(userCollegePlan.isSeekingInStateTuition === true || userCollegePlan.isSeekingInStateTuition === false) || userCollegePlan?.sources?.length > 0">
          <div class="column small-5 border_top" style="padding-left:0; padding-right:0;padding-top:10px;"
            *ngIf="userCollegePlan.isSeekingInStateTuition === true || userCollegePlan.isSeekingInStateTuition === false">
            <div class="row">
              <div class="column small-8">
                <strong *ngIf="userCollegePlan.isSeekingInStateTuition === true">
                  In-State Tuition Estimate:</strong>
                <strong *ngIf="userCollegePlan.isSeekingInStateTuition === false">
                  Out-of-State Tuition Estimate:</strong>
              </div>
              <div class="column small-4 text-right">
                <strong *ngIf="userCollegePlan.isSeekingInStateTuition === true ">
                  {{(userCollegePlan?.schoolProfile?.inStateTutition) | currency}}</strong>
                <strong *ngIf="userCollegePlan.isSeekingInStateTuition === false">
                  {{(userCollegePlan?.schoolProfile?.outOfStateTutition) |
                  currency}}</strong>
              </div>
            </div>
          </div>
          <div
            [ngClass]="userCollegePlan.isSeekingInStateTuition === true || userCollegePlan.isSeekingInStateTuition === false ? 'column small-2': 'column small-7'">
            &nbsp;
          </div>
          <div class="column small-5 border_top" style="padding-top:10px;"
            *ngIf="userCollegePlan?.sources?.length > 0">
            <div class="row">
              <div class="column small-6">
                <strong>Total Tuition Source:</strong>
              </div>
              <div class="column small-6 text-right" style="padding-right: 0;">
                <strong> {{userCollegePlan?.sumTotalSource | currency}}
                </strong>
              </div>
            </div>
          </div>
        </div>

        <div class="row border_top mlr0" style="padding-top:10px;"
          *ngIf="(userCollegePlan.isSeekingInStateTuition === true || userCollegePlan.isSeekingInStateTuition === false) || userCollegePlan?.sources?.length > 0">
          <div class="column small-4" style="padding-left:0; padding-right: 0;">
            <strong>Remaining Tuition Amount:</strong>
          </div>
          <div class="column small-8 text-right" style="padding-right: 0;">
            <strong>
            {{ (( (userCollegePlan.isSeekingInStateTuition === true) ?
            userCollegePlan?.schoolProfile?.inStateTutition : (userCollegePlan.isSeekingInStateTuition ===
            false) ? userCollegePlan?.schoolProfile?.outOfStateTutition : 0)-userCollegePlan?.sumTotalSource)
            | currency}}
          </strong>
          </div>
        </div>

        <hr *ngIf="i != (userCollegePlans.length - 1)" style="border-bottom: 1px solid black;" />

      </ng-container>

    </div>

    <ng-container *ngIf="collegePlanIsLoading">
      <div class="details_plan">
        <h3>College Plan</h3>
        <div class="row">
          <div class="small-12 column text-center">
            <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
            Loading College Plan...
          </div>
        </div>
      </div>
    </ng-container>

  </ng-container>

  <!-- Military Plan Section -->
  <ng-container *ngIf="_utilityService.containsPathways(selectedPathways, 'military')">


    <div class="details_plan">

      <ng-container
        *ngIf="(userMilitaryPlans && serviceColleges?.length >0) && (!serviceCollegesIsLoading && !militaryPlanIsLoading)">
        <h3>Military Plan</h3>
        <div *ngFor="let userMilitaryPlan of userMilitaryPlans; let i = index;">
          <p>
            <strong *ngIf="userMilitaryPlan.didSelectOfficer">Officer</strong>
            <strong *ngIf="!userMilitaryPlan.didSelectOfficer">Enlisted</strong>
          </p>
          <p>
            <strong>Service Branch:</strong>&nbsp;{{userMilitaryPlan.services}}
          </p>
          <ng-container *ngIf="userMilitaryPlan.didSelectOfficer">
            <ng-container *ngIf="userMilitaryPlan.academies.length > 0">
              <p *ngFor="let academy of userMilitaryPlan.academies">
                <strong>{{academy.label}}:</strong>&nbsp;{{getAcademyName(academy.unitId,
                academy.collegeTypeId)}}
                <span class="require_checklist" data-html2canvas-ignore="true">
                  <a *ngIf="getAcademyApplicationTimelinePdfKey(academy.unitId)"
                    href="{{documentLocation}}{{getAcademyApplicationTimelinePdfKey(academy.unitId)}}"
                    target="_blank"><img src="assets/images/pdf_small_icon.png"
                      alt="PDF File">&nbsp;Application
                    Timeline</a>
                  <a *ngIf="getAcademyChecklistPdfKey(academy.unitId)"
                    href="{{documentLocation}}{{getAcademyChecklistPdfKey(academy.unitId)}}"
                    target="_blank"><img src="assets/images/pdf_small_icon.png" alt="PDF File">&nbsp;Check
                    list</a>
                </span>
              </p>
            </ng-container>
            <ng-container *ngIf="userMilitaryPlan.rotc.length > 0">
              <p *ngFor="let rotc of userMilitaryPlan.rotc"><strong
                  *ngIf="rotc.label">{{rotc.label}}:</strong>&nbsp;{{rotc.value}}
              </p>
            </ng-container>
            <p *ngIf="userMilitaryPlan.isInterestedInActiveDuty || 
              userMilitaryPlan.isInterestedInReserves || 
              userMilitaryPlan.isInterestedInNationalGuard">
              <strong>Interests:</strong>&nbsp;
              <span *ngIf="userMilitaryPlan.isInterestedInActiveDuty">Active Duty</span>
              <span *ngIf="userMilitaryPlan.isInterestedInReserves">
                <span *ngIf="userMilitaryPlan.isInterestedInActiveDuty">,&nbsp;</span>Corps Reserve
              </span>
              <span *ngIf="userMilitaryPlan.isInterestedInNationalGuard">
                <span
                  *ngIf="userMilitaryPlan.isInterestedInActiveDuty || userMilitaryPlan.isInterestedInReserves">,&nbsp;</span>National
                Guard</span>
            </p>
          </ng-container>
          <hr />
          <ng-container *ngFor="let career of userMilitaryPlan.careers">
            <p><strong>Military Occupation Title:</strong>&nbsp;
              <span [innerHTML]="career.occuTitle"></span>
              <a class="recaptcha-no-top" style="float: right;"
                (click)="openServiceContactUsDialog(career.service)" target="_blank"
                data-html2canvas-ignore="true">Contact a recruiter</a>
            </p>
            <p><strong>Military Job Title:</strong>&nbsp;{{career.jobTitle}}
              <span class="require_checklist" data-html2canvas-ignore="true">
                <a *ngIf="userMilitaryPlan.didSelectEnlisted"
                  href="{{documentLocation}}Military_Check_list.pdf" target="_blank"><img
                    src="assets/images/pdf_small_icon.png" alt="PDF File">&nbsp;Check
                  list</a>
              </span>
            </p>

          </ng-container>

          <hr *ngIf="i != (userMilitaryPlans.length - 1)" style="border-bottom: 1px solid black;" />

        </div>
      </ng-container>

      <ng-container *ngIf="serviceCollegesIsLoading && militaryPlanIsLoading">
        <h3>Military Plan</h3>
        <div class="row">
          <div class="small-12 column text-center">
            <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
            Loading Military Plan...
          </div>
        </div>
      </ng-container>

    </div>


  </ng-container>

  <!-- Work Plan Section -->
  <ng-container *ngIf="_utilityService.containsPathways(selectedPathways, 'certificate', 'technicalSchool',
     'workBasedLearning', 'vocationalTraining', 'careerTechnicalEducation')">

    <div class="details_plan" *ngIf="userWorkPlan && !workPlanIsLoading">
      <h3>Work Plan</h3>
      <div class="row">
        <div class="small-12 column">
          {{userWorkPlan.workPlan}}
        </div>
      </div>
    </div>

    <div class="details_plan" *ngIf="workPlanIsLoading">
      <h3>Work Plan</h3>
      <div class="row">
        <div class="small-12 column text-center">
          <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
          Loading Work Plan...
        </div>
      </div>
    </div>

  </ng-container>

  <!-- Additional Notes Section -->
  <div class="details_plan" *ngIf="userOccupationPlan.additionalNotes">
    <h3>Additional notes:</h3>
    <div>
      <p>{{userOccupationPlan.additionalNotes}}</p>
    </div>
  </div>

  <!-- Resources -->
  <div class="details_plan">
    <h3>Resources</h3>
    <div>

      <!-- always show -->
      <p> <a href="https://www.onetonline.org/" target="_blank"> O*NET OnLine </a></p>
      <p> <a href="https://www.march2success.com/" target="_blank"> March2Success</a></p>
      <p> <a href="http://www.usaeop.com/" target="_blank"> Army Educational Outreach Program</a></p>
      <p> <a href="http://livingwage.mit.edu/" target="_blank"> Living Wage Calculator </a></p>
      <p> <a href="https://www.khanacademy.org/" target="_blank"> Khan Academy </a></p>

      <!-- if college card -->
      <ng-container *ngIf="userCollegePlans && !collegePlanIsLoading">
        <p> <a href="https://fafsa.ed.gov/" target="_blank">FAFSA </a></p>
        <p> <a href="http://www.fastweb.com/" target="_blank">Fastweb</a></p>
        <p> <a href="http://nces.ed.gov/collegenavigator/" target="_blank">College Navigator</a></p>
        <p> <a href="http://www.collegecalc.org/" target="_blank">CollegeCalc</a></p>

        <ng-container *ngFor="let userCollegePlan of userCollegePlans; let i = index;">
          <p><a href="http://{{userCollegePlan.schoolProfile.url}}"
              target="_blank">{{userCollegePlan.schoolProfile.url}}</a></p>
        </ng-container>
      </ng-container>

      <!-- if military card -->
      <ng-container
        *ngIf="(userMilitaryPlans && serviceColleges?.length >0) && (!serviceCollegesIsLoading && !militaryPlanIsLoading)">

        <p *ngFor="let serviceObj of getResourceLinks(userMilitaryPlans)">
          <a href="{{serviceObj.url}}" target="_blank">{{serviceObj.title}}</a>
        </p>

      </ng-container>

    </div>
  </div>

  <!-- Dates and Tasks Section -->
  <div class="details_plan"
    *ngIf="(userPlanTasks && userPlanTasks?.length > 0) || (userPlanCalendarTasks && userPlanCalendarTasks?.length > 0)">
    <h3>Important Dates and Tasks</h3>
    <div class="details_plan_task_list">
      <ng-container *ngIf="userPlanTasks && userPlanTasks?.length > 0">
        <p style="font-size: 14px !important;"><strong>Tasks List</strong></p>
        <div *ngFor="let task of userPlanTasks; let i = index;">
          <hr class="no-margin" />
          <div class="checkbox-tick ">
            <input class="styled-checkbox" type="checkbox" [checked]="task.completed" disabled />
            <label class="styled-checkbox-label">
            </label>
            <label style='display: inline' *ngIf="!hasUrl(task.taskName)">
              <span class="ml_10"><strong>{{convertTaskName(task.taskName)}}</strong></span>
            </label>
            <a class="ml_10" *ngIf="hasUrl(task.taskName)" [href]="getUrl(task.taskName)"
              target="_blank">{{convertTaskName(task.taskName)}}</a>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="userPlanCalendarTasks && userPlanCalendarTasks?.length > 0">

        <div class="task_list">
          <p class="task_list_title" style="font-size: 14px !important;"><strong>Important Date</strong></p>
          <ul class="task_list_items">
            <li *ngFor="let calendar of userPlanCalendarTasks; let i = index;">
              <hr class="no-margin" />
              <div class="task_list_item_data">
                <div class="task_list_item_title_wrapper">
                  <div class="task_list_item_title">
                    <span class="task_list_date" (click)="calendar.expanded = !calendar.expanded"
                      [ngClass]="!calendar.expanded ? '' : 'active'">{{calendar.date}}</span>
                    <p>{{calendar.title}} </p>
                  </div>
                </div>
                <div class="task_list_item_expanded"
                  [ngClass]="!calendar.expanded ? 'hide-collapse' : 'show-expand'">
                  <ng-container *ngIf="calendar.tasks">
                    <p style="margin-bottom: 10px; margin-top: 10px;">Tasks assigned to this date:</p>
                    <div *ngFor="let task of calendar.tasks; let y = index;">
                      <div class="checkbox-tick ">
                        <input class="styled-checkbox" type="checkbox" [checked]="task.completed" disabled />
                        <label class="styled-checkbox-label">
                        </label>
                        <label style='display: inline;'>
                          <span class="ml_10"><strong>{{convertTaskName(task.taskName)}}</strong></span>
                        </label>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </li>
          </ul>
        </div>

      </ng-container>

    </div>
  </div>

  <div class="text-center mb_30 " data-html2canvas-ignore="true">
    <a class="button" style="padding: 6px 29px; margin:0;" routerLink="/plan-your-future">CLOSE</a>
  </div>
</div>