<div id="fyi" class="occufind">
	<app-header></app-header>
	<app-my-asvab-header></app-my-asvab-header>

	<section id="content-wrap" class="left-nav-expanded-wrap">
		<div class="row">
			<app-left-navigation-v2-collapsed [selectedTab]="'learn'"></app-left-navigation-v2-collapsed>

			<section id="main-content" class="medium-10 wv-test left-navigation-condensed"
				role="main">
				<app-my-top-results-collapsed [collapsedVersion]="'v2'"></app-my-top-results-collapsed>
				<div id="left-nav-content-wrap">
				<div class="row">
					<div class="medium-12 columns">
						<h2 class="text-capitalize">Work Values</h2>
						<p>Consider each situation carefully and select your preferred
							response for each situation.</p>
						<br /> <span>Progress <uib-progressbar animate="false"
								value="progressPercentage | number: 0" type="success">
							</uib-progressbar></span>
							<mat-progress-bar mode="determinate" [value]="progressPercentage"></mat-progress-bar>

						<hr>

						<div *ngFor="let testData of testData; let i = index">
							<div *ngIf="i == activeQuestion">
								<p>{{testData.stem}}</p>
								<ul class="wv-questions">
									<li *ngFor="let options of testData.options"><input
										type="radio" name="itemID_{{testData.itemId}}"
										(click)="testData.answer = options"
										[(checked)]="testData.answer && testData.answer.optionId == options.optionId">{{options.stem}}</li>
									<!-- <li ng-repeat="options in testData.options"><input
										type="radio" name="itemID_{{testData.itemId}}"
										ng-value="options" ng-model="testData.answer">{{options.stem}}{{testData.answer.optionId}} == {{options.optionId}}</li> -->
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="wv-test-nav" style="margin-bottom: 20px">
					<a class="button" *ngIf="activeQuestion > 0"
						(click)="previousQuestion()">Previous</a> <span>Click NEXT
						to proceed.</span> <a class="button" (click)="nextQuestion()"
						(disabled)="isDisabled">Next</a>
				</div>
				</div>


			</section>

		</div>

		<!-- <app-left-navigation-mobile></app-left-navigation-mobile> -->
	</section>

	<app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
	<app-footer></app-footer>
</div>