/* test */

.wv-test .progress {
    max-width: 300px;
    background: #e5e5e5;
    box-shadow: none;
    border: 4px solid #e5e5e5;
    height: 1.3rem;
    display: inline-block;
    width: 100%;
    margin: 0;
    margin-left: 10px;
    vertical-align: bottom;
}

.wv-questions {
    max-width: 700px;
    margin: 0 auto;
}

.wv-questions li {
    background: #e9f7f7;
    padding: 5px;
    margin-bottom: 4px !important;
}

.wv-questions li:before {
    content: initial !important;
}

.wv-questions li input {
    margin: 3px 10px 0 8px;
    vertical-align: text-top;
}

.wv-test-nav {
    border-top: 1px solid #cacaca;
    display: flex;
    padding-top: 7px;
    margin-top: 20px;
}

.occufind .wv-test-nav a {
    margin: 0;
}

.wv-test-nav span {
    flex-grow: 1;
    text-align: center;
}

.wv-tiedIntro {
    font-size: 16px;
    margin-top: 40px;
}

#wv-orderHeading {
    background: #2f2a6a;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 3px 8px;
    font-size: 14px;
    position: relative;
}

ul.wv-resultsTable {
    margin: 0 0 40px;
}
.wv-resultsTable li {
    align-items: start;
    display: flex;
    border-top: 1px solid #aaa;
    padding: 15px 0 8px;
}

.wv-resultsTable li:last-child {
    border-bottom: 1px solid #aaa;
    margin-bottom: 40px;
}

.wv-resultsTable li:before {
    content: initial !important;
}

.wv-resultsTable li strong {
    color: #29afb5;
    margin: 0 20px;
    min-width: 135px;
}

.wv-resultsTable li img, 
.wv-resultsTable li .img {
    margin: 0 5%;
    min-width: 72px;
    position: relative;
}

.wv-resultsTable li .img img {
    margin: 0;
}

.wv-resultActions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.wv-tiedButton,
.wv-resultButton{
    text-align: center;
}

.wv-tiedButton .button,
.wv-resultButton .button {
    margin-right: 0;
}

.wv-resultButton {
    margin-top: 20px;
}

ul.wv-results {
    margin: 0 0 15px;
}

.wv-results li:first-child {
    border-top: 0;
}

.wv-results li strong {
    margin: 0;
}

.wv-results strong.wv-label {
    min-width: 140px;    
}

.wv-results .wv-key{
    font-size: 50px;
    line-height: 34px;
    min-width: 35px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
}

.wv-results .wv-check {
    width: 20px;
    min-width: 0;
    position: absolute;
    right: 0;
}
h4#wv-orderHeading {
    background: #2f2a6a;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1px 8px 3px;
    font-size: 14px;
    position: relative;
    margin-bottom: 15px;
}
#wv-orderHeading:before {
    content: '';
    border-top: 15px solid #2f2a6a;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: -15px;
    left: 6px;
    position: absolute;
}

.wv-legend .wv-check {
    width: 18px;
    margin-right: 5px;
}

@media screen and (min-width:0em) and (max-width: 39.9375em) {
    .wv-test .progress {
        margin: 5px 0 0;
        display: block;
        max-width: none;
    }
}

@media screen and (max-width: 850px) {
    .wv-resultsTable li {
        flex-wrap: wrap;
        align-items: top;
    }
    
    .wv-resultsTable li strong {
        margin: 0 20px;
        flex-grow: 1;
    }
    
    .wv-resultsTable li span {
        margin-left: 34px;
        margin-top: -42px;
        margin-right: 100px;
    }
    
    .wv-results .wv-key {
        max-width: 39px;
        margin: 0 -10px 0 0;
    }
    
    .wv-results li span {
        margin-left: 50px;
        margin-right: 110px;
    }
    
    .wv-results strong.wv-label {
        min-width: unset;
    }
}