<div class="occufind" style="padding-top:0;">
	<app-header></app-header>

	<section class="hide-for-small-only" id="banner">
		<div class="row">
				<div class="large-9 large-push-3 columns">
						<h1 class="caps" [innerHTML]="pageHtml[0]"></h1>
				</div>
				<div class="large-3 large-pull-9 columns">
						<ul id="sub-nav" class="menu">
								<li><a>&nbsp;</a></li>
						</ul>
				</div>
		</div>
	</section>

	<section id="content-wrap">
		<section class="education-opportunity">
			<div class="row">
				<div class="col-sm-12">
					<div class="education-opportunity-hero">
						<div>
							<h1 class="program-title">Continuing Education (CE) Opportunity</h1>
							<p [innerHTML]="pageHtml[1]"></p>
						</div>
						<div class="education-opportunity-hero-img">
							<img alt="Women NBCC logo" src="{{imageBaseUrl}}images/women-NBCC-logo.png" /></div>
					</div>
					<section class="section-overview ng-scope">
						<h2 class="section-title">Session Overview</h2>
						<h3><strong>Topic</strong></h3>
						<!-- <p>Use of the Federally-funded ASVAB CEP continues to increase with over 3.4M students participating in the
							last five years! The ASVAB is used for career exploration, military entrance, and classification. Some
							states also&nbsp;use the ASVAB as a graduation requirement (a free option for your students). But, it's not
							just a military test! The ASVAB is only one part of the ASVAB CEP. Isn&rsquo;t it time you learned more
							about all of the ASVAB CEP components?</p> -->
						<p class="section-description-info" [innerHTML]="pageHtml[2]"></p>
						<p>&nbsp;</p>
						<h3><strong>Content Area</strong></h3>
						<!-- <p class="section-description-info">Career Development and Counseling: The ASVAB CEP consists of several main
							components - the ASVAB, an interest inventory based on John Holland&rsquo;s RIASEC codes called Find Your
							Interests (FYI), and career exploration via the OCCU-Find, classroom activities, and
							CareersintheMilitary.com.</p> -->
							<p class="section-description-info" [innerHTML]="pageHtml[3]"></p>
						
						<div class="education-opportunity-sidebar">
							<div class="education-opportunity-sidebar-content-wrapper">
								<h2 class="education-opportunity-sidebar-title"><strong>Register for the session time that works for you!</strong></h2>
				
								<div class="row">
										<div class="columns medium-6">
												<div class="education-opportunity-sidebar-content">
													<div [innerHTML]="pageHtml[6]"></div>
												</div>
										</div>
				
										<div class="columns medium-6">
												<div class="education-opportunity-sidebar-content  ml-auto">
													<div [innerHTML]="pageHtml[7]"></div>
												</div>
										</div>
								</div>
							</div>
						</div>
	
						<p><br /></p>
						<h2 class="section-title">Session Objectives</h2>
						<div [innerHTML]="pageHtml[4]"></div>
						<p [innerHTML]="pageHtml[5]"></p>
						<!-- <ul>
							<li>Differentiate between the different components of the ASVAB CEP.</li>
							<li>Identify the two missions of the ASVAB CEP.</li>
							<li>Explain the general function and predictive ability of the ASVAB.</li>
							<li>Articulate how the ASVAB fits into the ASVAB CEP.</li>
							<li>Explain how Holland&rsquo;s RIASEC types help students with career exploration.</li>
							<li>Articulate how the Find Your Interests (FYI) functions and why it uses gender-based reporting.</li>
							<li>Explain how the results of the ASVAB and FYI can be used in the OCCU-Find to provide the basis of
								meaningful career exploration.</li>
							<li>Lists sources of OCCU-Find job data and how it&rsquo;s used to inform career planning.</li>
							<li>Describe personalized career planning tools.</li>
							<li>Identify different user groups who can benefit from Careers in the Military.</li>
							<li>Prepare students to conduct informed research on military options and seek out recruiters.</li>
						</ul>
						<p><strong>NBCC CE Hours 1*</strong> The ASVAB CEP is a federally-funded program and there is no cost to
							attend the session for CE Hours. However, if you have registered for a session and cannot attend as planned,
							please contact us via email at <a href="mailto:asvabcep@gmail.com">asvabcep@gmail.com</a></p> -->
					</section>
				</div>
				<!-- <div class="col-sm-4">
					<div class="education-opportunity-sidebar">
						<div class="education-opportunity-sidebar-top-img"><img alt="Women NBCC logo"
								src="{{mediaUrl}}images/women-NBCC-logo.png" /></div>
						<div class="education-opportunity-sidebar-content-wrapper">
							<h2 class="education-opportunity-sidebar-title"><strong>Register for the session time that works for
									you!</strong></h2>
							<div class="education-opportunity-sidebar-content">
								<p><strong></strong><strong>Schedule:&nbsp;<span
											style="font-size:8.4px;font-weight:700;">SP-3555</span></strong><br
										style="font-size:8.4px;font-weight:700;" /><strong>Speaker</strong><span
										style="font-size:8.4px;font-weight:700;"><strong>: Dr. Shannon Salyer</strong></span><span
										style="font-size:8.4px;font-weight:700;"></span></p>
								<ul>
									<li><a href="https://www.asvabprogram.com/training-registration-form/36">May 20, 2021:</a>&nbsp;1:00 PM
										CST<br /></li>
								</ul>
								<ul>
									<li><a href="https://www.asvabprogram.com/training-registration-form/55">May 20, 2021:</a>&nbsp;2:00 PM
										CST</li>
								</ul>
								<ul>
									<li><a href="https://www.asvabprogram.com/training-registration-form/37">June 17,
											2021:</a>&nbsp;1<span>:00 PM CST</span></li>
								</ul>
								<ul>
									<li><a href="https://www.asvabprogram.com/training-registration-form/56">June 17, 2021:</a>&nbsp;2:00 PM
										CST</li>
								</ul>
								<ul>
									<li><a href="https://www.asvabprogram.com/training-registration-form/38">July 15,
											2021:</a>&nbsp;1<span>:00 PM CST</span></li>
								</ul>
								<ul>
									<li><a href="https://www.asvabprogram.com/training-registration-form/57">July 15, 2021:</a>&nbsp;2:00 PM
										CST</li>
								</ul>
								<ul>
									<li><a href="https://www.asvabprogram.com/training-registration-form/39">August 19,
											2021:</a>&nbsp;1<span>:00 PM CST</span>
									</li>
									<li><a href="https://www.asvabprogram.com/training-registration-form/40 ">September 16,
											2021:</a>&nbsp;1<span>:00 PM CST</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</section>
	</section>


	<!-- <section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="small-7 columns">
				<ul id="sub-nav" class="menu">
						<li ng-show="occuFindUserLoggedIn" ><a href="favorites">View Favorites</a></li>
						<li><a href="media-center-article-list/5">Tutorials</a></li>
						<li><a href="general-help">Help</a></li>
				</ul>
			</div>
			<div class="small-5 columns">
				<p data-step="2">OCCU-FIND</p>
			</div>
		</div>

    </section> -->
    
    <!-- <section class="hide-for-small-only" id="banner">
        <div class="row">
            <div class="large-9 large-push-3 columns">
                <h1 class="caps">Continuing Education (CE) Opportunity</h1>
            </div>
            <div class="large-3 large-pull-9 columns">
                <ul id="sub-nav" class="menu">
                    <li><a>&nbsp;</a></li>
                </ul>
            </div>
        </div>
    </section> -->
    
		<!-- <div [innerHTML]="pageHtml[0]"></div> -->

    <!-- <section id="content-wrap">
        <section class="education-opportunity">
            <div class="row">
                <div class="columns medium-8 small-12">
                    <h1 class="program-title" [innerHTML]="pageHtml[0]"></h1>
                    <p [innerHTML]="pageHtml[1]"></p>
    
                    <section class="section-overview ng-scope">
                        <h2 class="section-title">Session Overview</h2>
                        <h3><strong>Topic</strong></h3>
                        <p class="section-description-info" [innerHTML]="pageHtml[2]"></p>
                        <br>
                        <h3><strong>Content Area</strong></h3>
                        <p class="section-description-info" [innerHTML]="pageHtml[3]"></p>
                        <br>
                        <h2 class="section-title">Session Objectives</h2>
                        <div [innerHTML]="pageHtml[4]"></div>
                        <p [innerHTML]="pageHtml[5]"></p>
                    </section>
                </div>
                <div class="columns medium-4 small-12">
                    <div class="education-opportunity-sidebar">
                        <div class="education-opportunity-sidebar-top-img">
							<img src="{{imageBaseUrl}}images/women-NBCC-logo.png" alt="Women NBCC logo">
						</div> 
                      
                        <div class="education-opportunity-sidebar-content-wrapper">
                            <h2 class="education-opportunity-sidebar-title"><strong>Register for the session time that works for you!</strong></h2>
                            <div class="education-opportunity-sidebar-content">
                                <h6><strong>Schedule</strong></h6>
								<div [innerHTML]="pageHtml[6]"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section> -->

	<!-- <section id="content-wrap" class="occufind-search">
		<div class="row">
			<div class="medium-2 columns">
				<div ng-include="'cep/page-partials/left-navigation.html'"
					ng-controller="LeftNavigationController"></div>
			</div>
			<section id="main-content" class="medium-10 columns" role="main">
				<h2 class="job-title">OCCU-Find Search</h2>
				<div class="row">
					<div class="medium-8 columns">
						<strong>This is where it all comes together.</strong>
		
						<p>The OCCU-Find catalogs approximately 1000 career options that are available to you!</p>
						<br />
						<h4>To find your dream job select from these options:</h4>
						<span><strong>Tip: </strong>To maximize your exploration, enter your top interest codes and sort by your strongest skill. </span>
					</div>
					<div class="medium-4 columns tutorial ng-scope mt0"
						ng-repeat="m in mediaCenterList | filter:{positionId: 21}:true">
						<a class="resource-title" href="media-center-article/{{m.id}}">Learn more</a>
						<a class="resource-title" href="media-center-article/{{m.id}}">{{m.title}}</a>
						<a href="media-center-article/{{m.id}}"><span class="image-wrapper"><img
							ng-src="{{m.thumbnailUrl}}" style="position: relative;"><span ng-if="m.typeId == 1"
							id="play-icon"></span></span> </a>
							<br><br>
					</div>
				</div>
			</section>
			<section id="search-sidebar">
				<div class="medium-10 columns">
					<section id="filters">
						<form ng-submit="occufindSearch()" class="ng-pristine ng-valid">
                            <div class="row">
                                <div class="medium-4 columns">                                                      
                                   	<h3 class="gray-bg">Search by</h3>
                                    <div id="filter-interest">              
                                        <h3>
                                            <b>INTEREST CODES</b>
                                        </h3>
                                        <p>(select up to two)</p>
                                        <span ng-repeat="item in checkboxInterest" class="ng-binding ng-scope">
                                        	<span class="check-box">                                        		
                                       			<input 	type="checkbox"
                                       					id="interest{{$index}}"
                                       					ng-model="filterItems[item.code]"
                                       					ng-click="limitTwo(item);"
                                       					ng-change="saveSearch();"
                                       					ng-disabled="checked==limit && !filterItems[item.code]"/>
                                   				<i class="code-{{item.code | lowercase}}"></i>
                                        		<label for="interest{{$index}}" style="display:inline">{{item.name}}</label><br />
                                        	</span>
										</span>
                                    </div>
                                </div>
                                <div class="medium-4 columns">
                                	<div id="sort-skill">
	                                	<h3 class="gray-bg title-toggle">Sort by</h3>  
	                                    <div id="filter-strength" class="book-select toggle-content">   
	                                        <h3>
	                                            <b>My ASVAB STRENGTHS</b>
	                                            <a class="explain alt" ng-controller="LeftNavigationController" ng-click="showSortByStrength()"></a>
	                                        </h3>
	                                        <p>(select one optional)</p>	                                        
	                                        <div class="book-select-input">                                                
	                                            <span ng-repeat="item in checkboxSkill">	
				                             		<input 	type="checkbox"
					                             				id="skill{{$index}}" 
																ng-model="skillItems[item.code]"
																ng-click="onSkillChange(item);limitOne(item);"
																ng-change="saveSearch();"
																ng-disabled="skillChecked==skillLimit && !skillItems[item.code]">									
													<img src="images/small-book{{$index + 1}}.png" alt="small-book{{$index + 1}}">
													<label style="display:inline;" for="skill{{$index}}">{{item.name}}</label><br />
	                                            </span>
	                                        </div>
	                                    </div>	                                    
                                    </div>
                                </div>
                                <div class="medium-4 columns">
                                	<div id="filter-category">
                                		<h3 class="gray-bg title-toggle">Filter by</h3>
                                		<div class="book-select toggle-content">
                                			<h3>
                                				<b>Categories</b>
                                               	<a class="explain alt" ng-controller="LeftNavigationController" ng-click="careerDefinitionsNoCareerCluster()"></a>
                               				</h3>
                               				<p></p>
                               				<div class="book-select-input">
                               					<span ng-repeat="item in checkboxCategory">
                               						<input	type="checkbox"
                               								id="category{{$index}}"
                               								ng-model="categoryItems[item.code]"
                               								ng-change="saveSearch();"/>
                        							<i class="{{item.iconClass}}" title="{{item.rel}}"></i>
                           							<label style="display:inline;" for="category{{$index}}">{{item.name}}</label><br />
                               					</span>
                               				</div>  
                               				<h3>
                               					<b>Keyword</b>
                               				</h3>         
                               				<div class="arrow-keyword">
                               					<input type="text" ng-model="keyword" ng-change="saveSearch();" placeholder="(optional)"/>
                               					<button type="submit">
	                               					<img src="images/blue-arrow-right.png" alt="blue-arrow-right"/>
                               					</button>
                               				</div>                     			
                                		</div>
                                	</div>
                                </div>
                            </div>
                            <hr style="margin:0;">
                            <input type="submit" class="button" value="Explore">
                        </form>
					</section>
					<section class="other" id="explore">
						<h3 style="margin: 40px 0 0;">
							<strong>Other search lists</strong>
						</h3>
						<ul class="menu vertical">
							<li><a href="career-cluster">Career Clusters</a></li>				
						</ul>
					</section>
				</div>				
			</section>			
		</div>
		<div ng-include="'cep/page-partials/left-navigation-mobile.html'" ng-controller="LeftNavigationController"></div>
	</section> -->

	<app-footer></app-footer>
</div>