<section id="content-wrap">
  <section class="education-opportunity">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="program-title">Continuing Education (CE) Opportunity</h1>
        <p><strong>The ASVAB Career Exploration Program Components has been approved by NBCC for NBCC credit. USMEPCOM
            is solely responsible for all aspects of the program. NBCC Approval No. SP-3555.</strong></p>
        <section class="section-overview ng-scope">
          <h2 class="section-title">Session Overview</h2>
          <h3><strong>Topic</strong></h3>
          <p>Use of the Federally-funded ASVAB CEP continues to increase with over 3.4M students participating in the
            last five years! The ASVAB is used for career exploration, military entrance, and classification. Some
            states also&nbsp;use the ASVAB as a graduation requirement (a free option for your students). But, it's not
            just a military test! The ASVAB is only one part of the ASVAB CEP. Isn&rsquo;t it time you learned more
            about all of the ASVAB CEP components?</p>
          <p>&nbsp;</p>
          <h3><strong>Content Area</strong></h3>
          <p class="section-description-info">Career Development and Counseling: The ASVAB CEP consists of several main
            components - the ASVAB, an interest inventory based on John Holland&rsquo;s RIASEC codes called Find Your
            Interests (FYI), and career exploration via the OCCU-Find, classroom activities, and
            CareersintheMilitary.com.</p>
          <p><br /></p>
          <h2 class="section-title">Session Objectives</h2>
          <ul>
            <li>Differentiate between the different components of the ASVAB CEP.</li>
            <li>Identify the two missions of the ASVAB CEP.</li>
            <li>Explain the general function and predictive ability of the ASVAB.</li>
            <li>Articulate how the ASVAB fits into the ASVAB CEP.</li>
            <li>Explain how Holland&rsquo;s RIASEC types help students with career exploration.</li>
            <li>Articulate how the Find Your Interests (FYI) functions and why it uses gender-based reporting.</li>
            <li>Explain how the results of the ASVAB and FYI can be used in the OCCU-Find to provide the basis of
              meaningful career exploration.</li>
            <li>Lists sources of OCCU-Find job data and how it&rsquo;s used to inform career planning.</li>
            <li>Describe personalized career planning tools.</li>
            <li>Identify different user groups who can benefit from Careers in the Military.</li>
            <li>Prepare students to conduct informed research on military options and seek out recruiters.</li>
          </ul>
          <p><strong>NBCC CE Hours 1*</strong> The ASVAB CEP is a federally-funded program and there is no cost to
            attend the session for CE Hours. However, if you have registered for a session and cannot attend as planned,
            please contact us via email at <a href="mailto:asvabcep@gmail.com">asvabcep@gmail.com</a></p>
        </section>
      </div>
      <div class="col-sm-4">
        <div class="education-opportunity-sidebar">
          <div class="education-opportunity-sidebar-top-img"><img alt="Women NBCC logo"
              src="{{mediaUrl}}images/women-NBCC-logo.png" /></div>
          <div class="education-opportunity-sidebar-content-wrapper">
            <h2 class="education-opportunity-sidebar-title"><strong>Register for the session time that works for
                you!</strong></h2>
            <div class="education-opportunity-sidebar-content">
              <h6><strong>Schedule</strong></h6>
              <ul>
                <li><a href="https://www.asvabprogram.com/training-registration-form/33">February 18,
                    2021:</a>&nbsp;1<span>:00 PM CST</span></li>
              </ul>
              <ul>
                <li><a href="https://www.asvabprogram.com/training-registration-form/52">February 18,
                    2021:</a>&nbsp;2:00 PM CST</li>
              </ul>
              <ul>
                <li><a href="https://www.asvabprogram.com/training-registration-form/34">March 18,
                    2021:</a>&nbsp;1<span>:00 PM CST</span></li>
              </ul>
              <ul>
                <li><a href="https://www.asvabprogram.com/training-registration-form/53">March 18, 2021:</a>&nbsp;2:00
                  PM CST</li>
              </ul>
              <ul>
                <li><a href="https://www.asvabprogram.com/training-registration-form/35">April 15,
                    2021:</a>&nbsp;1<span>:00 PM CST</span></li>
              </ul>
              <ul>
                <li><a href="https://www.asvabprogram.com/training-registration-form/54">April 15, 2021:</a>&nbsp;2:00
                  PM CST</li>
              </ul>
              <ul>
                <li><a href="https://www.asvabprogram.com/training-registration-form/36">May 20,
                    2021:</a>&nbsp;1<span>:00 PM CST</span></li>
              </ul>
              <ul>
                <li><a href="https://www.asvabprogram.com/training-registration-form/55">May 20, 2021:</a>&nbsp;2:00 PM
                  CST</li>
              </ul>
              <ul>
                <li><a href="https://www.asvabprogram.com/training-registration-form/37">June 17,
                    2021:</a>&nbsp;1<span>:00 PM CST</span></li>
              </ul>
              <ul>
                <li><a href="https://www.asvabprogram.com/training-registration-form/56">June 17, 2021:</a>&nbsp;2:00 PM
                  CST</li>
              </ul>
              <ul>
                <li><a href="https://www.asvabprogram.com/training-registration-form/38">July 15,
                    2021:</a>&nbsp;1<span>:00 PM CST</span></li>
              </ul>
              <ul>
                <li><a href="https://www.asvabprogram.com/training-registration-form/57">July 15, 2021:</a>&nbsp;2:00 PM
                  CST</li>
              </ul>
              <ul>
                <li><a href="https://www.asvabprogram.com/training-registration-form/39">August 19,
                    2021:</a>&nbsp;1<span>:00 PM CST</span>
                </li>
                <li><a href="https://www.asvabprogram.com/training-registration-form/40 ">September 16,
                    2021:</a>&nbsp;1<span>:00 PM CST</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>