<p>Continuing Education (CE) Opportunity

</p>
<div data-type="section-break">
  <hr />
</div>
<p><strong>The ASVAB Career Exploration Program Components has been approved by NBCC for NBCC credit. USMEPCOM is solely
    responsible for all aspects of the program. NBCC Approval No. SP-3555 and 3636</strong></p>
<div data-type="section-break">
  <hr />
</div>
<p>Use of the Federally-funded ASVAB CEP continues to increase with over 3.4M students participating in the last five
  years! The ASVAB is an aptitude assessment used for career exploration, military entrance and classification, and some
  states use the ASVAB as a graduation requirement (a free option for your students). But, the ASVAB is only one part of
  the ASVAB CEP. Isn&rsquo;t it time you learned more about all of the ASVAB CEP components?

</p>
<div data-type="section-break">
  <hr />
</div>
<p>Career Development and Counseling: The ASVAB CEP consists of several main components - the ASVAB, an interest
  inventory based on John Holland&rsquo;s RIASEC codes called Find Your Interests (FYI), and career exploration via the
  OCCU-Find, classroom activities, and CareersintheMilitary.com.

</p>
<div data-type="section-break">
  <hr />
</div>
<ul>
  <li>Differentiate between the different components of the ASVAB CEP.</li>
  <li>Identify the two missions of the ASVAB CEP.</li>
  <li>Explain the general function and predictive ability of the ASVAB.</li>
  <li>Articulate how the ASVAB fits into the ASVAB CEP.</li>
  <li>Explain how Holland&rsquo;s RIASEC types help students with career exploration.</li>
  <li>Articulate how the Find Your Interests (FYI) functions and why it uses gender-based reporting.</li>
  <li>Explain how the results of the ASVAB and FYI can be used in the OCCU-Find to provide the basis of meaningful
    career exploration.</li>
  <li>Lists sources of OCCU-Find job data and how it&rsquo;s used to inform career planning.</li>
  <li>Describe personalized career planning tools.</li>
  <li>Identify different user groups who can benefit from Careers in the Military.</li>
  <li>Prepare students to conduct informed research on military options and seek out recruiters.</li>
</ul>
<div data-type="section-break">
  <hr />
</div>
<p><strong>NBCC CE Hours 1*</strong> The ASVAB CEP is a federally-funded program and there is no cost to attend the
  session for CE Hours. However, if you have registered for a session and cannot attend as planned, please contact us
  via email at <a href="mailto:asvabcep@gmail.com">asvabcep@gmail.com</a></p>
<div data-type="section-break"></div>
<div class="columns medium-6">
  <div class="education-opportunity-sidebar-content">
    <p><strong>Schedule:</strong>&nbsp;&nbsp;SP-3555<br /><strong>Speaker:</strong>&nbsp;&nbsp;&nbsp;Dr. Shannon Salyer
    </p>
    <ul>
      <li><a href="https://www.asvabprogram.com/training-registration-form/40">September 16, 2021:</a>&nbsp;1:00 PM CST
      </li>
    </ul>
  </div>
</div>
<div class="columns medium-6">
  <div class="education-opportunity-sidebar-content  ml-auto">
    <p><strong>Schedule:</strong>&nbsp;&nbsp;SP-3636<br /><strong>Speaker:</strong>&nbsp;&nbsp;&nbsp;Beverly McCullough
    </p>
    <ul>
      <li><a href="https://www.asvabprogram.com/training-registration-form/67">September 14, 2021:</a>&nbsp;1:00 PM
        ET<br /></li>
      <li><a href="https://www.asvabprogram.com/training-registration-form/68">October 12, 2021:</a>&nbsp;1:00 PM ET
      </li>
      <li><a href="https://www.asvabprogram.com/training-registration-form/69">November 9, 2021:</a>&nbsp;1:00 PM ET
      </li>
    </ul>
  </div>
</div>
<div data-type="section-break">
  <hr />
</div>