<div id="fyi" class="occufind">
    <app-header></app-header>
	<app-my-asvab-header></app-my-asvab-header>
	
	<section id="content-wrap" class="left-nav-expanded-wrap">
		<div class="row">
				<app-left-navigation-v2-collapsed [selectedTab]="'learn'"></app-left-navigation-v2-collapsed>
			<section id="main-content" class="left-navigation-condensed"  role="main">
				<app-my-top-results-collapsed [collapsedVersion]="'v2'"></app-my-top-results-collapsed>
                
                <div id="left-nav-content-wrap">

                <h2>YOUR scores are tied in some interest areas</h2>
                
				<br/>
				
				<p>Two, or more, of your interest results are the same. <strong>Which sounds most like you?</strong></p>
				<!-- <div class="row">
				<div class="small-9 columns">
					<p><strong style="color: #2279BF">Realistic</strong> activities often involve practical, hands-on problems and solutions.</p>
					<p><strong style="color: #892C32">Investigative</strong> activities involve learning about new subject areas or ideas and allow you to use your knowledge to solve problems.</p>
					<p><strong style="color: #F3913D">Artistic</strong> activities allow you to be creative and use your imagination to do original work.</p>
					<p><strong style="color: #174377">Social</strong> activities allow you to use your skills and talents to interact eectively with others.</p>
					<p><strong style="color: #ea292d">Enterprising</strong> activities allow you to take a leadership role.</p>
					<p><strong style="color: #52843c">Conventional</strong> activities require attention to accuracy and detail.</p>
				</div>
				</div> -->
				
				<div class="row">
					<div *ngIf="!showGenderTieSelection" class="medium-10 columns">
						
							
						<p><strong>Select {{combinedTiedScoreObject?.numSlotsLeft}} of the {{combinedTiedScoreObject?.numTiedScore}} tied interests results</strong>. You can change your selection any time.</p>

						
							
								
								<div *ngFor="let s of combinedTiedScoreObject.scoreList">
									<div *ngIf="s.interestCd == 'E' && s.checkbox">
										<div class="row column">
											<hr>
											<div class="small-4 columns">
												<table>
												<tr>
												<td><input *ngIf="s.checkbox" type="checkbox" [(ngModel)]="s.selected"
													(change)="combinedCheckChanged(s)"
													[disabled]="combinedChecked==combinedLimit && !s.selected"></td>
												<td><i class="code-e"></i> <strong style="color: #ea292d">Enterprising</strong></td>
												</tr>
												</table>
											</div>
											<div class="small-8 columns">
												<p>Activities allow you to take a leadership role.</p>
											</div>
										</div>
									</div>
									<div *ngIf="s.interestCd == 'C' && s.checkbox">
										<div class="row column">
											<hr>
											<div class="small-4 columns">
												<table>
												<tr>
												<td><input *ngIf="s.checkbox" type="checkbox" [(ngModel)]="s.selected"
													(change)="combinedCheckChanged(s)"
													[disabled]="combinedChecked==combinedLimit && !s.selected"></td>
												<td><i class="code-c"></i> <strong style="color: #52843c">Conventional</strong></td>
												</tr>
												</table>
											</div>
											<div class="small-8 columns">
												<p>Activities require attention to accuracy and detail.</p>
											</div>
										</div>
									</div>
									<div *ngIf="s.interestCd == 'A' && s.checkbox">
										<div class="row column">
											<hr>
											<div class="small-4 columns">
												<table>
												<tr>
												<td><input *ngIf="s.checkbox" type="checkbox" [(ngModel)]="s.selected"
													(change)="combinedCheckChanged(s)"
													[disabled]="combinedChecked==combinedLimit && !s.selected"></td>
												<td><i class="code-a"></i> <strong style="color: #F3913D">Artistic</strong></td>
												</tr>
												</table>
											</div>
											<div class="small-8 columns">
												<p>Activities allow you to be creative and use your imagination to do original work.</p>
											</div>
										</div>
									</div>
									<div *ngIf="s.interestCd == 'I' && s.checkbox">
										<div class="row column">
											<hr>
											<div class="small-4 columns">
												<table>
												<tr>
												<td><input *ngIf="s.checkbox" type="checkbox" [(ngModel)]="s.selected"
													(change)="combinedCheckChanged(s)"
													[disabled]="combinedChecked==combinedLimit && !s.selected"></td>
												<td><i class="code-i"></i> <strong style="color: #892C32">Investigative</strong></td>
												</tr>
												</table>
											</div>
											<div class="small-8 columns">
												<p>Activities involve learning about new subject areas or ideas and allow you to use your knowledge to solve problems.</p>
											</div>
										</div>
									</div>
									<div *ngIf="s.interestCd == 'S' && s.checkbox">
										<div class="row column">
											<hr>
											<div class="small-4 columns">
												<table>
												<tr>
												<td><input *ngIf="s.checkbox" type="checkbox" [(ngModel)]="s.selected"
													(change)="combinedCheckChanged(s)"
													[disabled]="combinedChecked==combinedLimit && !s.selected"></td>
												<td><i class="code-s"></i> <strong style="color: #174377">Social</strong></td>
												</tr>
												</table>
											</div>
											<div class="small-8 columns">
												<p>Activities allow you to use your skills and talents to interact effectively with others.</p>
											</div>
										</div>
									</div>
									<div *ngIf="s.interestCd == 'R' && s.checkbox">
										<div class="row column">
											<hr>
											<div class="small-4 columns">
												<table>
												<tr>
												<td><input *ngIf="s.checkbox" type="checkbox" [(ngModel)]="s.selected"
													(change)="combinedCheckChanged(s)"
													[disabled]="combinedChecked==combinedLimit && !s.selected"></td>
												<td><i class="code-r"></i> <strong style="color: #2279BF">Realistic</strong></td>
												</tr>
												</table>
											</div>
											<div class="small-8 columns">
												<p>Activities often involve practical, hands-on problems and solutions.</p>
											</div>
										</div>
									</div>
								</div>
							
														
						
						
						<!-- <div class="row column">
							<div id="tied" class="scores">
								<div class="labels">
									<div class="left">Interest Codes</div>
									<div class="right">Scores</div>
									<div class="right">Select One</div>
								</div>
								<div ng-repeat="s in combinedTiedScoreObject.scoreList">
								<div class="result code-e" *ngIf="s.interestCd == 'E'">
									<div class="left"><i class="code-e"></i> Enterprising</div>
									<div class="right">{{s.combinedScore * 100 | number:0}}</div>
									<div class="right"><input *ngIf="s.checkbox" type="checkbox" [(ngModel)]="s.selected"
											(change)="combinedCheckChanged(s)"
											[disabled]="combinedChecked==combinedLimit && !s.selected"></div>
								</div>
								<div class="result code-c" *ngIf="s.interestCd == 'C'">
									<div class="left"><i class="code-c"></i> Conventional</div>
									<div class="right">{{s.combinedScore * 100 | number:0}}</div>
									<div class="right"><input *ngIf="s.checkbox" type="checkbox" [(ngModel)]="s.selected"
											(change)="combinedCheckChanged(s)"
											[disabled]="combinedChecked==combinedLimit && !s.selected"></div>
								</div>
								<div class="result code-a" *ngIf="s.interestCd == 'A'">
									<div class="left"><i class="code-a"></i> Artistic</div>
									<div class="right">{{s.combinedScore * 100 | number:0}}</div>
									<div class="right"><input *ngIf="s.checkbox" type="checkbox" [(ngModel)]="s.selected"
											(change)="combinedCheckChanged(s)"
											[disabled]="combinedChecked==combinedLimit && !s.selected"></div>
								</div>
								<div class="result code-i" *ngIf="s.interestCd == 'I'">
									<div class="left"><i class="code-i"></i> Investigative</div>
									<div class="right">{{s.combinedScore * 100 | number:0}}</div>
									<div class="right"><input *ngIf="s.checkbox" type="checkbox" [(ngModel)]="s.selected"
											(change)="combinedCheckChanged(s)"
											[disabled]="combinedChecked==combinedLimit && !s.selected"></div>
								</div>
								<div class="result code-s" *ngIf="s.interestCd == 'S'">
									<div class="left"><i class="code-s"></i> Social</div>
									<div class="right">{{s.combinedScore * 100 | number:0}}</div>
									<div class="right"><input *ngIf="s.checkbox" type="checkbox" [(ngModel)]="s.selected"
											(change)="combinedCheckChanged(s)"
											[disabled]="combinedChecked==combinedLimit && !s.selected"></div>
								</div>
								<div class="result code-r" *ngIf="s.interestCd == 'R'">
									<div class="left"><i class="code-r"></i> Realistic {{s.scoreType}}</div>
									<div class="right">{{s.combinedScore * 100 | number:0}}</div>
									<div class="right"><input *ngIf="s.checkbox" type="checkbox" [(ngModel)]="s.selected"
											(change)="combinedCheckChanged(s)"
											[disabled]="combinedChecked==combinedLimit && !s.selected"></div>
								</div>
								</div>
							</div>
														
						</div> -->
						<hr>
						
						<input type="submit" class="button centered" value="submit" (click)="combinedSubmit()">
										
						<p class="hide-for-large">&nbsp;</p>
						<p><br class="hide-for-large" /></p>
						
						<h4>&nbsp;</h4>
						
						<p>&nbsp;</p>
						
					</div>
					
					<div *ngIf="showGenderTieSelection" class="medium-10 columns">
						
						<p><strong>Select {{combinedTiedScoreObject?.numSlotsLeft}} of the {{combinedTiedScoreObject?.numTiedScore}} tied interests results</strong>. You can change your selection any time.</p>

						
							
								
								<div *ngFor="let s of genderTiedScoreObject.scoreList">
									<div *ngIf="s.interestCd == 'E' && s.checkbox">
										<div class="row column">
											<hr>
											<div class="small-4 columns">
												<table>
												<tr>
												<td><input *ngIf="s.checkbox" type="checkbox" [(ngModel)]="s.selected"
													(change)="genderCheckChanged(s)"
													[disabled]="genderChecked==genderLimit && !s.selected"></td>
												<td><i class="code-e"></i> <strong style="color: #ea292d">Enterprising</strong></td>
												</tr>
												</table>
											</div>
											<div class="small-8 columns">
												<p>Activities allow you to take a leadership role.</p>
											</div>
										</div>
									</div>
									<div *ngIf="s.interestCd == 'C' && s.checkbox">
										<div class="row column">
											<hr>
											<div class="small-4 columns">
												<table>
												<tr>
												<td><input *ngIf="s.checkbox" type="checkbox" [(ngModel)]="s.selected"
													(change)="genderCheckChanged(s)"
													[disabled]="genderChecked==genderLimit && !s.selected"></td>
												<td><i class="code-c"></i> <strong style="color: #52843c">Conventional</strong></td>
												</tr>
												</table>
											</div>
											<div class="small-8 columns">
												<p>Activities require attention to accuracy and detail.</p>
											</div>
										</div>
									</div>
									<div *ngIf="s.interestCd == 'A' && s.checkbox">
										<div class="row column">
											<hr>
											<div class="small-4 columns">
												<table>
												<tr>
												<td><input *ngIf="s.checkbox" type="checkbox" [(ngModel)]="s.selected"
													(change)="genderCheckChanged(s)"
													[disabled]="genderChecked==genderLimit && !s.selected"></td>
												<td><i class="code-a"></i> <strong style="color: #F3913D">Artistic</strong></td>
												</tr>
												</table>
											</div>
											<div class="small-8 columns">
												<p>Activities allow you to be creative and use your imagination to do original work.</p>
											</div>
										</div>
									</div>
									<div *ngIf="s.interestCd == 'I' && s.checkbox">
										<div class="row column">
											<hr>
											<div class="small-4 columns">
												<table>
												<tr>
												<td><input *ngIf="s.checkbox" type="checkbox" [(ngModel)]="s.selected"
													(change)="genderCheckChanged(s)"
													[disabled]="genderChecked==genderLimit && !s.selected"></td>
												<td><i class="code-i"></i> <strong style="color: #892C32">Investigative</strong></td>
												</tr>
												</table>
											</div>
											<div class="small-8 columns">
												<p>Activities involve learning about new subject areas or ideas and allow you to use your knowledge to solve problems.</p>
											</div>
										</div>
									</div>
									<div *ngIf="s.interestCd == 'S' && s.checkbox">
										<div class="row column">
											<hr>
											<div class="small-4 columns">
												<table>
												<tr>
												<td><input *ngIf="s.checkbox" type="checkbox" [(ngModel)]="s.selected"
													(change)="genderCheckChanged(s)"
													[disabled]="genderChecked==genderLimit && !s.selected"></td>
												<td><i class="code-s"></i> <strong style="color: #174377">Social</strong></td>
												</tr>
												</table>
											</div>
											<div class="small-8 columns">
												<p>Activities allow you to use your skills and talents to interact effectively with others.</p>
											</div>
										</div>
									</div>
									<div *ngIf="s.interestCd == 'R' && s.checkbox">
										<div class="row column">
											<hr>
											<div class="small-4 columns">
												<table>
												<tr>
												<td><input *ngIf="s.checkbox" type="checkbox" [(ngModel)]="s.selected"
													(change)="genderCheckChanged(s)"
													[disabled]="genderChecked==genderLimit && !s.selected"></td>
												<td><i class="code-r"></i> <strong style="color: #2279BF">Realistic</strong></td>
												</tr>
												</table>
											</div>
											<div class="small-8 columns">
												<p>Activities often involve practical, hands-on problems and solutions.</p>
											</div>
										</div>
									</div>
								</div>

						<!-- <div class="row column">
							<div id="tied" class="scores">
								<div class="labels">
									<div class="left">Interest Codes</div>
									<div class="right">Scores</div>
									<div class="right">Select One</div>
								</div>
								<div ng-repeat="s in genderTiedScoreObject.scoreList">
								<div class="result code-e" *ngIf="s.interestCd == 'E'">
									<div class="left"><i class="code-e"></i> Enterprising</div>
									<div class="right">{{s.genderScore * 100 | number:0}}</div>
									<div class="right"><input *ngIf="s.checkbox" type="checkbox" [(ngModel)]="s.selected"
											(change)="genderCheckChanged(s)"
											[disabled]="genderChecked==genderLimit && !s.selected"></div>
								</div>
								<div class="result code-c" *ngIf="s.interestCd == 'C'">
									<div class="left"><i class="code-c"></i> Conventional</div>
									<div class="right">{{s.genderScore * 100 | number:0}}</div>
									<div class="right"><input *ngIf="s.checkbox" type="checkbox" [(ngModel)]="s.selected"
											(change)="genderCheckChanged(s)"
											[disabled]="genderChecked==genderLimit && !s.selected"></div>
								</div>
								<div class="result code-a" *ngIf="s.interestCd == 'A'">
									<div class="left"><i class="code-a"></i> Artistic</div>
									<div class="right">{{s.genderScore * 100 | number:0}}</div>
									<div class="right"><input *ngIf="s.checkbox" type="checkbox" [(ngModel)]="s.selected"
											(change)="genderCheckChanged(s)"
											[disabled]="genderChecked==genderLimit && !s.selected"></div>
								</div>
								<div class="result code-i" *ngIf="s.interestCd == 'I'">
									<div class="left"><i class="code-i"></i> Investigative</div>
									<div class="right">{{s.genderScore * 100 | number:0}}</div>
									<div class="right"><input *ngIf="s.checkbox" type="checkbox" [(ngModel)]="s.selected"
											(change)="genderCheckChanged(s)"
											[disabled]="genderChecked==genderLimit && !s.selected"></div>
								</div>
								<div class="result code-s" *ngIf="s.interestCd == 'S'">
									<div class="left"><i class="code-s"></i> Social</div>
									<div class="right">{{s.genderScore * 100 | number:0}}</div>
									<div class="right"><input *ngIf="s.checkbox" type="checkbox" [(ngModel)]="s.selected"
											(change)="genderCheckChanged(s)"
											[disabled]="genderChecked==genderLimit && !s.selected"></div>
								</div>
								<div class="result code-r" *ngIf="s.interestCd == 'R'">
									<div class="left"><i class="code-r"></i> Realistic {{s.scoreType}}</div>
									<div class="right">{{s.genderScore * 100 | number:0}}</div>
									<div class="right"><input *ngIf="s.checkbox" type="checkbox" [(ngModel)]="s.selected"
											(change)="genderCheckChanged(s)"
											[disabled]="genderChecked==genderLimit && !s.selected"></div>
								</div>
								</div>
							</div> -->
							<hr>
							<input type="submit" class="button centered" value="submit" (click)="genderSubmit()">
														
						</div>
						
						
										
						<p class="hide-for-large">&nbsp;</p>
						<p><br class="hide-for-large" /></p>
						
						<h4>&nbsp;</h4>
						
						<p>&nbsp;</p>
						
					</div>
                </div>
					</section>
				</div>
	            <!-- <app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile> -->
						
			</section>
	<app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
	<app-footer></app-footer>
  </div>