<li><div class="ng-scope"><div class="left-sub-nav">
    <ul id="steps" class="menu vertical">
        <li><a href="dashboard">My ASVAB CEP</a></li>
        <li class="divider"></li>
    </ul>

    <!-- Books display -->
    <h5 id="my-codes-label" class="mobile-sub-nav hide-for-medium clearfix ng-binding" (hidden)="!verbalScore">My ASVAB CEP {{showScoresTable ? "Scores" : "Strengths"}} </h5>
    <!-- Books display -->
    <span *ngIf="!showScoresTable" (hidden)="!verbalScore" class="mobile-sub-nav hide-for-medium clearfix">
         <div id="my-results" class="row small-up-3">
            <div class="columns nopadding">
                <!--<div class="skill-books" id="verbal-skills-small" [ngStyle]="getBookPos('verbal')"></div>-->
                <div class="skill-books" id="{{ !haveManualAsvabTestScores ? 'verbal-skills-small' : 'manual-score-skills-small' }}" [ngStyle]="getBookPos('verbal')" [(ngModel)]="vBooks.xPosSmall"></div>
                <div class="text-center">Verbal</div>
            </div>
            <div class="columns nopadding">
                <!--<div class="skill-books" id="math-skills-small" [ngStyle]="getBookPos('math')"></div>-->
                <div class="skill-books" id="{{ !haveManualAsvabTestScores ? 'math-skills-small' : 'manual-score-skills-small' }}" [ngStyle]="getBookPos('math')" [(ngModel)]="mBooks.xPosSmall"></div>
                <div class="text-center">Math</div>
            </div>
            <div class="columns nopadding">
                <!--<div class="skill-books" id="science-skills-small" [ngStyle]="getBookPos('science')"></div>-->
                <div class="skill-books" id="{{ !haveManualAsvabTestScores ? 'science-skills-small' : 'manual-score-skills-small' }}" [ngStyle]="getBookPos('science')" [(ngModel)]="sBooks.xPosSmall"></div>
                <div class="text-center">Science/<br /> Tech</div>
            </div>
        </div>
        <!-- View Toggle -->
        <div id="my-results-toggle" class="row small-up-1">
            <div class="columns">
                <div class="scores-toggle">
					<a href="" (click)="toggleScoreView();" (hidden)="!haveManualAsvabTestScores && !verbalScore"><img src="assets/images/toggle-view-icon.png" style="margin-right: 4px;"/>See My Scores</a>
                </div>
            </div>
        </div>
    </span>

    <!-- Table display -->
    <span *ngIf="showScoresTable" class="mobile-sub-nav hide-for-medium clearfix">
        <div id="my-results" class="row small-up-3">
            <div class="columns nopadding">
                <div id="varbal-score">{{getScore("verbal")}}</div>
                <div class="text-center">V</div>
            </div>
            <div class="columns nopadding">
                <div id="math-score">{{getScore("math")}}</div>
                <div class="text-center">M</div>
            </div>
            <div class="columns nopadding">
                <div id="science-score">{{getScore("science")}}</div>
                <div class="text-center">S&T</div>
            </div>
        </div>
        <!-- View Toggle -->
        <div id="my-results-toggle" class="row small-up-1">
            <div class="columns">
                <div class="scores-toggle">
                    <a href="" (click)="toggleScoreView();"><img src="assets/images/toggle-view-icon.png" style="margin-right: 4px;"/>See My Strengths</a>
                </div>
            </div>
        </div>
    </span>

    <ul class="menu vertical" (hidden)="!haveManualAsvabTestScores && !verbalScore">
        <li *ngIf="!haveManualAsvabTestScores"><a href="my-asvab-summary-results" ngClass="{disabled: returnResultsDisabled() }">See ASVAB Results</a></li>
        <li *ngIf="haveManualAsvabTestScores"><a href="my-asvab-summary-results-manual" ngClass="{disabled: returnManualResultsDisabled() }">See ASVAB Results</a></li>
        <li class="divider"></li>
    </ul>
	<!-- <span (hidden)="!interestCodeOne">
		<strong class="mobile-interest-title text-center">My Interest Codes</strong>
		<ul id="my-codes" class="menu">
			<li *ngIf="interestCodeOne == 'C'" class="code-c"><a href="">C</a></li>
	        <li *ngIf="interestCodeOne == 'R'" class="code-r"><a href="">R</a></li>
	        <li *ngIf="interestCodeOne == 'I'" class="code-i"><a href="">I</a></li>
	        <li *ngIf="interestCodeOne == 'A'" class="code-a"><a href="">A</a></li>
	        <li *ngIf="interestCodeOne == 'S'" class="code-s"><a href="">S</a></li>
	        <li *ngIf="interestCodeOne == 'E'" class="code-e"><a href="">E</a></li>
	        
	        <li *ngIf="interestCodeTwo == 'C'" class="code-c"><a href="">C</a></li>
	        <li *ngIf="interestCodeTwo == 'R'" class="code-r"><a href="">R</a></li>
	        <li *ngIf="interestCodeTwo == 'I'" class="code-i"><a href="">I</a></li>
	        <li *ngIf="interestCodeTwo == 'A'" class="code-a"><a href="">A</a></li>
	        <li *ngIf="interestCodeTwo == 'S'" class="code-s"><a href="">S</a></li>
	        <li *ngIf="interestCodeTwo == 'E'" class="code-e"><a href="">E</a></li>
	        
	        <li *ngIf="interestCodeThree == 'C'" class="code-c"><a href="">C</a></li>
	        <li *ngIf="interestCodeThree == 'R'" class="code-r"><a href="">R</a></li>
	        <li *ngIf="interestCodeThree == 'I'" class="code-i"><a href="">I</a></li>
	        <li *ngIf="interestCodeThree == 'A'" class="code-a"><a href="">A</a></li>
	        <li *ngIf="interestCodeThree == 'S'" class="code-s"><a href="">S</a></li>
	        <li *ngIf="interestCodeThree == 'E'" class="code-e"><a href="">E</a></li>					
		</ul>
	</span> -->
</div></div></li>