#footer  {
	@media screen and (max-width: 767px) {
		padding-top: 50px;

		h3 {
			@media screen and (max-width: 767px) {
				font-family: 'Open Sans';
				font-size: 20px;
				margin-bottom: 27px;
				line-height: 23px;
				color: #fff;
				font-weight: 600;
			}
		}
	}
}
.social {
	svg {
		height: 25px;
		margin-right: 21px;
	    width: 23px;
	}
}