<div [ngClass]="{'tpl-page-footer': !isLoggedIn()}">
<section id="page-footer" class="page-footer" *ngIf="!isLoggedIn()">
	<div class="row column">
			<div class="col text-center"><p><a class="recaptcha-no-top" (click)="onBringAsvabToYourSchool()" ><strong>Bring the ASVAB CEP to your school.</strong></a></p></div>	
	</div>
</section>
<footer id="footer">
	<div class="row hide-for-large">
		<div class="medium-5 columns">
			<form id="search2" class="mini-form" action="search-result-public">
				<input type="search" name="q" placeholder="Search">
				<button type="submit" class="button">
					<span class="fi-magnifying-glass small"></span>
				</button>
			</form>
		</div>
	</div>
	<!-- <div class="row">
		<div class="medium-6 small-12 columns">
			<div class="hide-for-large">
				<ul class="menu center-align">
					<li><a routerLink="/contact-us">Contact Us</a></li>
					<li class="divider">|</li>
					<li><a routerLink="/general-resources">Resources</a></li>
				</ul>
			</div>
			<div class="social">
				<h3>Connect with us:</h3>
				<p>
					<a href="https://twitter.com/asvabcep" target="_blank"><i class="fab fa-twitter"></i></a> 
					<a href="https://www.youtube.com/channel/UC2NJ3deMrUUFgTPC1EST52A" target="_blank"><i class="fab fa-youtube"></i></a> 
					<a href="https://www.facebook.com/asvabcep/" target="_blank"><i class="fab fa-facebook-f"></i></a> 
					<a href="https://www.linkedin.com/company/asvab-cep?trk=top_nav_home" target="_blank"><i class="fab fa-linkedin-in"></i></a>
				</p>
			</div>
			<p *ngIf="!isLoggedIn()" class="contact recaptcha-no-top">To bring the ASVAB CEP to your school, <a (click)="onBringAsvabToYourSchool()">click here</a>.</p>
		</div>
		<div class="medium-3 small-12 columns text-center">
			<img src="assets/images/logo-footer.png" alt="ASVAB logo">
		</div>
		<div class="medium-3 small-12 columns text-center">
			<p class="sponsor">The ASVAB Career Exploration Program is sponsored by the Department of Defense</p>
		</div>
	</div>
	
	<div class="row">		
		<div class="medium-offset-6 medium-6 small-12 columns">
			<ul class="app-info">
				<li>{{version}}</li>
				<li><strong>Last Updated:</strong> {{lastUpdated}}</li>
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="medium-12 columns">
			<ul id="footer-menu" class="menu right-align no-margin-right">
				<li><a routerLink="/">Home</a></li>
				<li><a routerLink="/general-help">Help</a></li>
				<li><a routerLink="/general-link">Link to Us</a></li>
				<li><a routerLink="/general-privacy-security">Privacy &amp; Security</a></li>
				<li><a routerLink="/general-site">Site Map</a></li>
				<li><a routerLink="/general-resources">Resources</a></li>
				<li><a routerLink="/contact-us">FAQ</a></li>
				<li><a routerLink="/contact-us">Contact Us</a></li>
			</ul>
		</div>
	</div> -->
	<div class="row">
        <div class="medium-6 small-12 columns">
            <div class="hide-for-large">
                <ul class="menu center-align">
                    <li><a routerLink="/faq">Contact Us</a></li>
                    <li class="divider">|</li>
                    <li><a routerLink="/general-resources">Resources</a></li>
                </ul>
            </div>
            <div class="social">
                <h3>Connect with us:</h3>
                <p>
                    <a href="https://twitter.com/asvabcep" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UC2NJ3deMrUUFgTPC1EST52A" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M4.652 0h1.44l.988 3.702.916-3.702h1.454l-1.665 5.505v3.757h-1.431v-3.757l-1.702-5.505zm6.594 2.373c-1.119 0-1.861.74-1.861 1.835v3.349c0 1.204.629 1.831 1.861 1.831 1.022 0 1.826-.683 1.826-1.831v-3.349c0-1.069-.797-1.835-1.826-1.835zm.531 5.127c0 .372-.19.646-.532.646-.351 0-.554-.287-.554-.646v-3.179c0-.374.172-.651.529-.651.39 0 .557.269.557.651v3.179zm4.729-5.07v5.186c-.155.194-.5.512-.747.512-.271 0-.338-.186-.338-.46v-5.238h-1.27v5.71c0 .675.206 1.22.887 1.22.384 0 .918-.2 1.468-.853v.754h1.27v-6.831h-1.27zm2.203 13.858c-.448 0-.541.315-.541.763v.659h1.069v-.66c.001-.44-.092-.762-.528-.762zm-4.703.04c-.084.043-.167.109-.25.198v4.055c.099.106.194.182.287.229.197.1.485.107.619-.067.07-.092.105-.241.105-.449v-3.359c0-.22-.043-.386-.129-.5-.147-.193-.42-.214-.632-.107zm4.827-5.195c-2.604-.177-11.066-.177-13.666 0-2.814.192-3.146 1.892-3.167 6.367.021 4.467.35 6.175 3.167 6.367 2.6.177 11.062.177 13.666 0 2.814-.192 3.146-1.893 3.167-6.367-.021-4.467-.35-6.175-3.167-6.367zm-12.324 10.686h-1.363v-7.54h-1.41v-1.28h4.182v1.28h-1.41v7.54zm4.846 0h-1.21v-.718c-.223.265-.455.467-.696.605-.652.374-1.547.365-1.547-.955v-5.438h1.209v4.988c0 .262.063.438.322.438.236 0 .564-.303.711-.487v-4.939h1.21v6.506zm4.657-1.348c0 .805-.301 1.431-1.106 1.431-.443 0-.812-.162-1.149-.583v.5h-1.221v-8.82h1.221v2.84c.273-.333.644-.608 1.076-.608.886 0 1.18.749 1.18 1.631v3.609zm4.471-1.752h-2.314v1.228c0 .488.042.91.528.91.511 0 .541-.344.541-.91v-.452h1.245v.489c0 1.253-.538 2.013-1.813 2.013-1.155 0-1.746-.842-1.746-2.013v-2.921c0-1.129.746-1.914 1.837-1.914 1.161 0 1.721.738 1.721 1.914v1.656z"></path></svg>
                    </a>
                    <a href="https://www.facebook.com/asvabcep/" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/asvab-cep?trk=top_nav_home" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="https://www.instagram.com/asvabcep/" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a (click)="snapChatModal()">
                        <i class="fab fa-snapchat-ghost"></i>
                    </a>
                </p>
            </div>
            <p class="contact">To bring the ASVAB CEP to your school, <a class="recaptcha-no-top" (click)="onBringAsvabToYourSchool()">click here</a>.</p>
            <p class="contact">Contact a local representative by calling 1-800-323-0513.</p>
        </div>
        <div class="medium-3 small-12 columns text-center">
            <img src="assets/images/logo-footer.png" alt="ASVAB logo">
        </div>
        <div class="medium-3 small-12 columns text-center">
            <p class="sponsor">The ASVAB Career Exploration Program is sponsored by the Department of Defense</p>
        </div>
    </div>
    <div class="row">
        <div class="medium-offset-6 medium-6 small-12 columns">
            <ul class="app-info">
                <li class="ng-binding">{{version}}</li>
                <li class="ng-binding"><strong>Last Updated: </strong>{{lastUpdated}}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="medium-12 columns">
            <ul id="footer-menu" class="menu right-align no-margin-right">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/general-help">Help</a></li>
                <li><a routerLink="/general-link">Link to Us</a></li>
                <li><a routerLink="/general-privacy-security">Privacy &amp; Security</a></li>
                <li><a routerLink="/general-site">Site Map</a></li>
                <li><a routerLink="/general-resources">Resources</a></li>
                <li><a routerLink="/faq">FAQ</a></li>
                <li><a routerLink="/faq">Contact Us</a></li>
            </ul>
        </div>
    </div>
</footer>
</div>