<div class="sidebar-nav" id="sidebar-nav">
  <div class="sidebar-sticky">
    <div class="sidebar-nav-inner">
      <ul class="sidebar-nav-items">
        <li class="sidebar-nav-item sidebar-nav-setting" *ngIf="userRole == 'S'">
          <a routerLink="/student-profile">
            <img src="assets/images/dashboard/settings_icon@2x.png" alt="Account">
          </a>
          <a *ngIf="unreadMessageCounter>0" (click)="showNotification()" class="message_count_link">
            <span class="message_count">{{unreadMessageCounter}}</span>
          </a>
        </li>
        <li (click)="guidedTour()" class="sidebar-nav-item sidebar-nav-item-no-link">
          <!-- <span (click)="guidedTour()">Guided <br /> Tour</span> -->
          <img src="{{helpImg}}" style="cursor: pointer; width: 18px; margin: 0 auto;" alt="help">
          <!-- <div class="circular-progress-bar">
            <svg viewBox="0 0 100 100">
              <g class="arcs" style="display: none;">
                <circle cx="50" cy="50" r="49" class="outer-circle"></circle>
                <path d="M50 1 A 49 49, 0, 1, 1, 7.06 73.61, L 50 50 z" class="outer-arc"></path>
                <circle cx="50" cy="50" r="35" class="inner-circle"></circle>
                <path d="M50 15 A 35 35, 0, 1, 1, 19.33 66.86" class="inner-arc"></path>
              </g>
              <g class="circles empty-circles" style="display: inline;">
                <circle cx="50" cy="50" r="49" class="outer-circle"></circle>
                <circle cx="50" cy="50" r="35" class="inner-circle"></circle>
              </g>
            </svg>
            <p class="percentage_number"><span>40</span>%</p>
          </div> -->
        </li>
        <li class="sidebar-nav-item demo-mode" *ngIf="userRole != 'S'">
          <a routerLink="/mentor-dashboard">Account Overview</a>
        </li>
        <li class="sidebar-nav-item">
          <a routerLink="/learn-about-yourself" [ngClass]="{'active': selectedTab === 'learn'}">
            <img src="assets/images/dashboard/about_me.svg" alt="">
            <span>Learn</span>
          </a>
          <div class="sidebar-nav-rollover">
            <div class="sidebar-nav-rollover-content">
              <h4>Quick Links</h4>
              <ul>
                <li><a routerLink="/learn-about-yourself">Learn About Yourself</a></li>
                <!-- <li><a *ngIf="numberTestTaken == 0" (click)="openManualInput()">Enter your FYI scores manually</a></li> -->
                <li><a routerLink="/my-asvab-summary-results">Test Results</a></li>
                <li><a *ngIf="numberTestTaken > 0" routerLink="/find-your-interest-score">FYI Results</a></li>
                <li *ngIf="!isWorkValueResults">
                  <a routerLink="/work-values-intro">Explore Your Work Values</a>
                </li>
                <li *ngIf="isWorkValueResults">
                  <a routerLink="/work-values-test-results">View Your Work Value Results</a>
                </li>
                <li><a routerLink="/learn-about-yourself">More About Me</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="sidebar-nav-item">
          <a routerLink="/explore-careers" [ngClass]="{'active': selectedTab === 'explore'}">
            <img src="assets/images/dashboard/explore.svg" alt="">
            <span>Explore</span>
          </a>
          <div class="sidebar-nav-rollover">
            <div class="sidebar-nav-rollover-content">
              <h4>Quick Links</h4>
              <ul>
                <li><a routerLink="/explore-careers">Favorites</a></li>
                <li><a routerLink="/occufind-occupation-search">Search Occupations</a></li>
                <li><a *ngIf="hasNotes" title="Manage your notes" (click)="showNotes()">Notes</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="sidebar-nav-item">
          <a routerLink="/plan-your-future" [ngClass]="{'active': selectedTab === 'plan'}">
            <img src="assets/images/dashboard/plan.svg" alt="">
            <span>Plan</span>
          </a>
          <div class="sidebar-nav-rollover">
            <div class="sidebar-nav-rollover-content">
              <h4>Quick Links</h4>
              <ul>
                <li><a routerLink="/plan-your-future">Plan Your Future</a></li>
                <li><a routerLink="/portfolio">Portfolio</a></li>
                <li><a routerLink="/plan-calendar">Calendar</a></li>
                <li><a routerLink="/plan-your-future">Classroom Activities</a></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>