.modal-footer.text-center{
    text-align: center !important;

    >.button{
        margin: 0;
    }
}

ul.email-settings{
    list-style-type: none !important;
    >li{
        list-style-type: none;
        position: static !important;
        margin-bottom: 0 !important;
        padding-bottom: 0.5rem !important;

        &:last-child{
            margin-bottom:2rem;
        }
        >.row{
            padding-bottom:0.5rem;

            .small-1{
                padding-top:5px;
            }
        }
    }
}

p.error-text,p.success-text{
    margin:0;
    font-size:10px !important;
    font-weight: bold;
    font-style: italic;
    padding-left: 35px;
}
p.success-text{color:green};
p.error-text{ color:red;};
.unread_item{
    font-weight: bold !important;
}