<ng-container *ngIf="!isLoading">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeMe()"><span
        aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Email Settings</h3>
  </div>
  <div class="modal-body">

    <ul class="email-settings">
      <li>
        <div class="row">
          <div class="small-1 column text-center">
            <input type="checkbox" id="chekmark1" name="wouldLikeToReceiveNotifications"
              [(ngModel)]="wouldLikeToReceiveNotifications" (change)="isDirty = true" />
          </div>
          <div class="small-11 column">
            <p><label for="chekmark1">I would like to receive email notifications and alerts from the ASVAB CEP.</label>
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="small-1 column text-center">
            <input type="checkbox" id="chekmark2" name="wouldLikeToReceiveMarketingComm"
              [(ngModel)]="wouldLikeToReceiveMarketingComm" (change)="isDirty = true" />
          </div>
          <div class="small-11 column">
            <p><label for="chekmark2">I would like to receive periodic marketing communications from the ASVAB
                CEP.</label></p>
          </div>
        </div>
      </li>
      <ng-container *ngIf="!isStudent">
        <li>
          <div class="row">
            <div class="small-1 column text-center">
              <input type="checkbox" id="chekmark3" name="sendDesignatedStudentSummaries"
                [(ngModel)]="sendDesignatedStudentSummaries" (change)="isDirty = true" />
            </div>
            <div class="small-11 column">
              <p> <label for="chekmark3"> Send me my designated students' summary list of accomplishments:</label>
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="small-4 column text-center">
              <input type="radio" name="sendDesignatedStudentSummariesOption" id="weekly" (change)="isDirty = true"
                [(ngModel)]="sendDesignatedStudentSummariesOption" value="weekly" class="mb-0" [disabled]="!sendDesignatedStudentSummaries">
              <label for="weekly">Weekly</label>
            </div>
            <div class="small-4 column text-center end">
              <input type="radio" name="sendDesignatedStudentSummariesOption" id="monthly" (change)="isDirty = true"
                [(ngModel)]="sendDesignatedStudentSummariesOption" value="monthly" [disabled]="!sendDesignatedStudentSummaries" class="mb-0">
              <label for="monthly">Monthly</label>
            </div>
          </div>
        </li>
      </ng-container>
      <li>
        <div class="row">
          <div class="small-1 column text-center">
            <input type="checkbox" id="chekmark4" name="wouldLikeToReceiveMonthlyNewsletter"
              [(ngModel)]="wouldLikeToReceiveMonthlyNewsletter" (change)="isDirty = true" />
          </div>
          <div class="small-11 column">
            <p><label for="chekmark4">I would like to receive the monthly newsletter</label></p>
          </div>
        </div>
      </li>
    </ul>
    <p class="success-text" *ngIf="successText != ''">{{successText}}</p>
  </div>
  <div class="modal-footer text-center">
    <button type="button" class="button" (click)="updateSettings()" [disabled]="!isDirty || isSaving">Apply
      <span *ngIf="isSaving" id="save-indicator"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></span>
    </button>
  </div>

</ng-container>

<ng-container *ngIf="isLoading">
  <div class="modal-body">
    <div class="row">
      <div class="small-12 column text-center">
        <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
        Loading...
      </div>
    </div>
  </div>
</ng-container>