.occufind #banner.banner_sticky {
    z-index: 3;
}
.page_back_link {
    border-bottom: 1px solid #BDBDBD;
    display: block;
    line-height: normal;
    padding: 10px 0;
    margin-bottom: 20px;
}

a.explain {
    background-color: #fff;
    &.alt {
        background: url('/src/assets/images/icons.png') -110px -127px;
        background-size: inherit;
    }
}

.share a {
    margin-left: 10px;
    
    svg {
        color: #999ea1 !important;
        font-size: 18px;
    }
}