<div id="fyi" class="occufind">
    <app-header></app-header>
	<app-my-asvab-header></app-my-asvab-header>
	
	<section id="content-wrap" class="left-nav-expanded-wrap">
		<div class="row">
			<app-left-navigation-v2-collapsed [selectedTab]="'learn'"></app-left-navigation-v2-collapsed>

			<section id="main-content" class="left-navigation-condensed" role="main">
				<app-my-top-results-collapsed [collapsedVersion]="'v2'"></app-my-top-results-collapsed>
                
                <div id="left-nav-content-wrap">
                    <a routerLink="/learn-about-yourself" class="page_back_link">< Back to Learn About Yourself</a>
                    <h2 *ngIf="gender" class="text-capitalize">YOUR FYI RESULTS</h2>
                    <h2 *ngIf="!gender" class="text-capitalize">YOUR TOP INTERESTS</h2>

                    <h4 *ngIf="gender"id="choose"><strong>Select which set of Interest Codes to use for career exploration.</strong></h4>
                    <p *ngIf="gender">You can return and change your selection at any time. The two sets of codes may differ depending on how you responded to the FYI. <a href="media-center-article/50">Learn why here.</a></p>
                    <p *ngIf="!gender">These results will help you explore careers. Learn more about interest types below.</p>

                    <div class="row">
                        <div class="medium-12 columns">

                            <a *ngIf="gender" id="start-exploring" class="button centered" routerLink="/occufind-occupation-search">select and continue</a>
                            <a *ngIf="!gender" id="start-exploring" class="button centered" routerLink="/occufind-occupation-search">continue</a>

                            <div id="fyi-scores" class="row" style="display: flex; justify-content: center;">
                              <div *ngIf="gender" id="top-3">Top 3 Interest Codes</div>
                              <div class="columns score" [ngClass]="{'small-12 hide-arrow': !gender, 'small-6': gender, selected: scoreSelected == 'combined'}">
                                  <div id="combined" class="scores" (click)="updateScoreSelection('combined');">
                                    <div class="description">
                                        <strong class="caps">combined scores</strong>
                                        <p>Your scores compared with those of other high school students who have taken the FYI</p>
                                    </div>
                                    <div class="labels">
                                        <div class="left">Interest Codes</div>
                                    </div>

                                      <div class="top3">
                                          <ng-container *ngFor="let cScore of combinedScoreSort; let i=index">
                                            <ng-container *ngIf="i < 3">
                                            <div class="result code-e" *ngIf="cScore.interestCd == 'E'">
                                                <div class="left"><i class="code-e"></i> Enterprising</div>
                                                <div class="right">{{cScore.combinedScore * 100 | number:0}}</div>
                                            </div>
                                            <div class="result code-c" *ngIf="cScore.interestCd == 'C'">
                                                <div class="left"><i class="code-c"></i> Conventional</div>
                                                <div class="right">{{cScore.combinedScore * 100 | number:0}}</div>
                                            </div>
                                            <div class="result code-a" *ngIf="cScore.interestCd == 'A'">
                                                <div class="left"><i class="code-a"></i> Artistic</div>
                                                <div class="right">{{cScore.combinedScore * 100 | number:0}}</div>
                                            </div>
                                            <div class="result code-i" *ngIf="cScore.interestCd == 'I'">
                                                <div class="left"><i class="code-i"></i> Investigative</div>
                                                <div class="right">{{cScore.combinedScore * 100 | number:0}}</div>
                                            </div>
                                            <div class="result code-s" *ngIf="cScore.interestCd == 'S'">
                                                <div class="left"><i class="code-s"></i> Social</div>
                                                <div class="right">{{cScore.combinedScore * 100 | number:0}}</div>
                                            </div>
                                            <div class="result code-r" *ngIf="cScore.interestCd == 'R'">
                                                <div class="left"><i class="code-r"></i> Realistic</div>
                                                <div class="right">{{cScore.combinedScore * 100 | number:0}}</div>
                                            </div>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                    <div *ngFor="let cScore of combinedScoreSort; let i=index">
                                        <ng-container *ngIf="i > 2 ">
                                        <div class="result code-e" *ngIf="cScore.interestCd == 'E'">
                                            <div class="left"><i class="code-e"></i> Enterprising</div>
                                            <div class="right">{{cScore.combinedScore * 100 | number:0}}</div>
                                        </div>
                                        <div class="result code-c" *ngIf="cScore.interestCd == 'C'">
                                            <div class="left"><i class="code-c"></i> Conventional</div>
                                            <div class="right">{{cScore.combinedScore * 100 | number:0}}</div>
                                        </div>
                                        <div class="result code-a" *ngIf="cScore.interestCd == 'A'">
                                            <div class="left"><i class="code-a"></i> Artistic</div>
                                            <div class="right">{{cScore.combinedScore * 100 | number:0}}</div>
                                        </div>
                                        <div class="result code-i" *ngIf="cScore.interestCd == 'I'">
                                            <div class="left"><i class="code-i"></i> Investigative</div>
                                            <div class="right">{{cScore.combinedScore * 100 | number:0}}</div>
                                        </div>
                                        <div class="result code-s" *ngIf="cScore.interestCd == 'S'">
                                            <div class="left"><i class="code-s"></i> Social</div>
                                            <div class="right">{{cScore.combinedScore * 100 | number:0}}</div>
                                        </div>
                                        <div class="result code-r" *ngIf="cScore.interestCd == 'R'">
                                            <div class="left"><i class="code-r"></i> Realistic</div>
                                            <div class="right">{{cScore.combinedScore * 100 | number:0}}</div>
                                        </div>
                                        </ng-container>
                                    </div>

                                </div>

                                <div class="row show-for-medium">
                                    <div class="share">Share your scores:
                                        <share-button class="sl-margin" button="facebook" [title]="'My FYI Results | ASVAB Career Exploration Program'"
                                            [image]="imageUrl" [description]="description" [url]="combinedShareUrl" (click)="_googleAnalyticsService.trackSocialShare('Facebook', 'Find Your Interest')"></share-button>
                                        <share-button class="sl-margin" button="twitter" [title]="'My FYI Results | ASVAB Career Exploration Program'"
                                            [image]="imageUrl" [description]="description" [url]="combinedShareUrl" (click)="_googleAnalyticsService.trackSocialShare('Twitter', 'Find Your Interest')"></share-button>
                                        <share-button class="sl-margin" button="linkedin" [title]="'My FYI Results | ASVAB Career Exploration Program'"
                                            [image]="imageUrl" [description]="description" [url]="combinedShareUrl" (click)="_googleAnalyticsService.trackSocialShare('LinkedIn', 'Find Your Interest')"></share-button>
                                        <share-button button="email" [title]="'My FYI Results | ASVAB Career Exploration Program'"
                                            [description]="description" (click)="_googleAnalyticsService.trackSocialShare('Email', 'Find Your Interest')"></share-button>
                                        <!-- <a ng-controller="GA" (click)="trackSocialShare('Facebook', 'Find Your Interest');"
                                            socialshare socialshare-provider="facebook"										
                                            socialshare-via="2055205968038605"
                                            socialshare-url="{{combinedShareUrl}}"
                                            socialshare-hashtags="#FYI"><i class="fab fa-facebook"></i></a> 									
                                        <a ng-controller="GA" (click)="trackSocialShare('Twitter', 'Find Your Interest');" 
                                            socialshare socialshare-provider="twitter"
                                            socialshare-text="Check out my FYI Results : "
                                            socialshare-via="ASVABCEP"
                                            socialshare-hashtags="FYI"
                                            socialshare-url="{{combinedShareUrl}}"><i class="fab fa-twitter"></i></a> 
                                        <a ng-controller="GA" (click)="trackSocialShare('LinkedIn', 'Find Your Interest');" 
                                            socialshare socialshare-provider="linkedin"
                                            socialshare-text="ASVABCEP"
                                            socialshare-url="{{combinedShareUrl}}"><i class="fab fa-linkedin"></i></a> 	 
                                        <a ng-controller="GA" (click)="trackSocialShare('Email', 'Find Your Interest');" 
                                            socialshare socialshare-provider="email"
                                            socialshare-subject="Check out my FYI Results"
                                            socialshare-body="Check out my FYI results: {{combinedShareUrl}} %0D%0A %0D%0A Taking the FYI: {{domainUrl}}/media-center-article/42"><i class="fa fa-envelope"></i></a>   -->

                                            <!-- <a><i class="fab fa-facebook-f"></i></a>
                                            <a><i class="fab fa-twitter"></i></a>
                                            <a><i class="fab fa-linkedin-in"></i></a>
                                            <a><i class="fa fa-envelope"></i></a> -->
                                    </div>
                                </div>

                              </div>

                              <div *ngIf="gender" class="small-6 columns score" [ngClass]="myClassGender">
                                <div id="gender" class="scores"  (click)="updateScoreSelection('gender');">
                                    <a (click)="genderInfoModal();" class="explain"></a>								
                                    <div class="description">
                                        <strong class="caps">gender specific</strong>
                                        <p>Your scores compared with those of others in your gender</p>
                                    </div>
                                    <div class="labels">
                                        <div class="left">Interest Codes</div>
                                    </div>
                                    <div class="top3">
                                         <ng-container *ngFor="let gScore of genderScoreSort; let i=index">
                                            <ng-container *ngIf="i < 3">
                                                <div class="result code-e" *ngIf="gScore.interestCd == 'E'">
                                                    <div class="left"><i class="code-e"></i> Enterprising</div>
                                                    <div class="right">{{gScore.genderScore * 100 | number:0}}</div>
                                                </div>
                                                <div class="result code-c" *ngIf="gScore.interestCd == 'C'">
                                                    <div class="left"><i class="code-c"></i> Conventional</div>
                                                    <div class="right">{{gScore.genderScore * 100 | number:0}}</div>
                                                </div>
                                                <div class="result code-a" *ngIf="gScore.interestCd == 'A'">
                                                    <div class="left"><i class="code-a"></i> Artistic</div>
                                                    <div class="right">{{gScore.genderScore * 100 | number:0}}</div>
                                                </div>
                                                <div class="result code-i" *ngIf="gScore.interestCd == 'I'">
                                                    <div class="left"><i class="code-i"></i> Investigative</div>
                                                    <div class="right">{{gScore.genderScore * 100 | number:0}}</div>
                                                </div>
                                                <div class="result code-s" *ngIf="gScore.interestCd == 'S'">
                                                    <div class="left"><i class="code-s"></i> Social</div>
                                                    <div class="right">{{gScore.genderScore * 100 | number:0}}</div>
                                                </div>
                                                <div class="result code-r" *ngIf="gScore.interestCd == 'R'">
                                                    <div class="left"><i class="code-r"></i> Realistic</div>
                                                    <div class="right">{{gScore.genderScore * 100 | number:0}}</div>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                        <div *ngFor="let gScore of genderScoreSort; let i=index">
                                            <ng-container *ngIf="i > 2 ">
                                                <div class="result code-e" *ngIf="gScore.interestCd == 'E'">
                                                    <div class="left"><i class="code-e"></i> Enterprising</div>
                                                    <div class="right">{{gScore.genderScore * 100 | number:0}}</div>
                                                </div>
                                                <div class="result code-c" *ngIf="gScore.interestCd == 'C'">
                                                    <div class="left"><i class="code-c"></i> Conventional</div>
                                                    <div class="right">{{gScore.genderScore * 100 | number:0}}</div>
                                                </div>
                                                <div class="result code-a" *ngIf="gScore.interestCd == 'A'">
                                                    <div class="left"><i class="code-a"></i> Artistic</div>
                                                    <div class="right">{{gScore.genderScore * 100 | number:0}}</div>
                                                </div>
                                                <div class="result code-i" *ngIf="gScore.interestCd == 'I'">
                                                    <div class="left"><i class="code-i"></i> Investigative</div>
                                                    <div class="right">{{gScore.genderScore * 100 | number:0}}</div>
                                                </div>
                                                <div class="result code-s" *ngIf="gScore.interestCd == 'S'">
                                                    <div class="left"><i class="code-s"></i> Social</div>
                                                    <div class="right">{{gScore.genderScore * 100 | number:0}}</div>
                                                </div>
                                                <div class="result code-r" *ngIf="gScore.interestCd == 'R'">
                                                    <div class="left"><i class="code-r"></i> Realistic</div>
                                                    <div class="right">{{gScore.genderScore * 100 | number:0}}</div>
                                                </div>
                                            </ng-container>
                                        </div>
                                </div>

                                <div class="row show-for-medium">
                                    <div class="share">Share your scores:
                                        <share-button class="sl-margin" button="facebook" [title]="'My FYI Results | ASVAB Career Exploration Program'"
                                            [image]="imageUrl" [description]="description" [url]="genderShareUrl" (click)="_googleAnalyticsService.trackSocialShare('Facebook', 'Find Your Interest')"></share-button>
                                        <share-button class="sl-margin" button="twitter" [title]="'My FYI Results | ASVAB Career Exploration Program'"
                                            [image]="imageUrl" [description]="description" [url]="genderShareUrl" (click)="_googleAnalyticsService.trackSocialShare('Twitter', 'Find Your Interest')"></share-button>
                                        <share-button class="sl-margin" button="linkedin" [title]="'My FYI Results | ASVAB Career Exploration Program'"
                                            [image]="imageUrl" [description]="description" [url]="genderShareUrl" (click)="_googleAnalyticsService.trackSocialShare('LinkedIn', 'Find Your Interest')"></share-button>
                                        <share-button button="email" [title]="'My FYI Results | ASVAB Career Exploration Program'"
                                            [description]="description" (click)="_googleAnalyticsService.trackSocialShare('Email', 'Find Your Interest')"></share-button>
                                        <!-- <a ng-controller="GA" (click)="trackSocialShare('Facebook', 'Find Your Interest');"
                                            socialshare socialshare-provider="facebook"
                                            socialshare-type="feed"
                                            socialshare-via="2055205968038605"
                                            socialshare-url="{{genderShareUrl}}"										
                                            socialshare-hashtags="#ASVABCEP, #career-exploration-program, #FYI"><i class="fab fa-facebook"></i></a> 									
                                        <a ng-controller="GA" (click)="trackSocialShare('Twitter', 'Find Your Interest');" 
                                            socialshare socialshare-provider="twitter"
                                            socialshare-text="Check out my FYI Results : "
                                            socialshare-via="ASVABCEP"
                                            socialshare-hashtags="FYI"
                                            socialshare-url="{{genderShareUrl}}"><i class="fab fa-twitter"></i></a> 
                                        <a ng-controller="GA" (click)="trackSocialShare('LinkedIn', 'Find Your Interest');" 
                                            socialshare socialshare-provider="linkedin"
                                            socialshare-text="ASVABCEP"
                                            socialshare-url="{{genderShareUrl}}"><i class="fab fa-linkedin"></i></a> 	 
                                        <a ng-controller="GA" (click)="trackSocialShare('Email', 'Find Your Interest');" 
                                            socialshare socialshare-provider="email"
                                            socialshare-subject="My FYI Results"
                                            socialshare-body="Check out my FYI results: {{genderShareUrl}} %0D%0A %0D%0A Taking the FYI: {{domainUrl}}/media-center-article/50"><i class="fa fa-envelope"></i></a>   -->
                                            <!-- <a><i class="fab fa-facebook-f"></i></a>
                                            <a><i class="fab fa-twitter"></i></a>
                                            <a><i class="fab fa-linkedin-in"></i></a>
                                            <a><i class="fa fa-envelope"></i></a> -->
                                    </div>
                                </div>
                            </div>

                          </div>										
                        </div>
                    </div>

                    <div class="row show-for-small-only">
                        <div class="share">Share your scores: <br>
                            <share-button class="sl-margin" button="facebook" [title]="'My FYI Results | ASVAB Career Exploration Program'"
                                [image]="imageUrl" [description]="description" [url]="shareUrl" (click)="_googleAnalyticsService.trackSocialShare('Facebook', 'Find Your Interest')"></share-button>
                            <share-button class="sl-margin" button="twitter" [title]="'My FYI Results | ASVAB Career Exploration Program'"
                                [image]="imageUrl" [description]="description" [url]="shareUrl" (click)="_googleAnalyticsService.trackSocialShare('Twitter', 'Find Your Interest')"></share-button>
                            <share-button class="sl-margin" button="linkedin" [title]="'My FYI Results | ASVAB Career Exploration Program'"
                                [image]="imageUrl" [description]="description" [url]="shareUrl" (click)="_googleAnalyticsService.trackSocialShare('LinkedIn', 'Find Your Interest')"></share-button>
                            <share-button button="email" [title]="'My FYI Results | ASVAB Career Exploration Program'"
                                (click)="_googleAnalyticsService.trackSocialShare('Email', 'Find Your Interest')"></share-button>
                            <!-- <a ng-controller="GA" (click)="trackSocialShare('Facebook', 'Find Your Interest');"
                                socialshare socialshare-provider="facebook"
                                socialshare-type="feed"
                                socialshare-via="2055205968038605"
                                socialshare-url="{{combinedShareUrl}}"							
                                socialshare-hashtags="#ASVABCEP, #career-exploration-program, #FYI"><i class="fab fa-facebook"></i></a> 
                            <a ng-controller="GA" (click)="trackSocialShare('Twitter', 'Find Your Interest');" 
                                socialshare socialshare-provider="twitter"
                                socialshare-text="Check out my FYI Results : "
                                socialshare-via="ASVABCEP"
                                socialshare-url="{{combinedShareUrl}}"><i class="fab fa-twitter"></i></a> 
                            <a ng-controller="GA" (click)="trackSocialShare('LinkedIn', 'Find Your Interest');" 
                                socialshare socialshare-provider="linkedin"
                                socialshare-text="ASVABCEP"
                                socialshare-url="{{combinedShareUrl}}"><i class="fab fa-linkedin"></i></a> 	 
                            <a ng-controller="GA" (click)="trackSocialShare('Email', 'Find Your Interest');" 
                                socialshare socialshare-provider="email"
                                socialshare-subject="My FYI Results"
                                socialshare-body="Check out my FYI results: {{combinedShareUrl}} %0D%0A %0D%0A Taking the FYI:{{domainUrl}}/media-center-article/50"><i class="fab fa-envelope"></i></a>   -->
                        </div>
                    </div>

                    <!-- <p align="center" *ngIf="!isUnlimitedFyi() && isAbleToRetakeTest">You are allowed to retake the FYI {{numberOfTestsLeft}} more time. <a href="find-your-interest-test">Click here to retake the FYI.</a></p>
                    <p align="center" *ngIf="!hasReachedLimit">You have taken the FYI twice. If you would like to retake the test again, please fill out a <a href="faq">contact request form</a>.</p>
                    <p align="center" *ngIf="!isUnlimitedFyi()"><a href="find-your-interest-test">Click here to retake the FYI.</a></p> -->

                    <p align="center" *ngIf="!isUnlimitedFyi() && isAbleToRetakeTest">You are allowed to retake the FYI {{numberOfTestsLeft}} more time. <a routerLink="/find-your-interest-test">Click here to retake the FYI.</a></p>
                    <p align="center" *ngIf="hasReachedLimit">You have taken the FYI twice. If you would like to retake the test again, please fill out a <a routerLink="/faq">contact request form</a>.</p>
                    <p align="center" *ngIf="isUnlimitedFyi()"><a routerLink="/find-your-interest-test">Click here to retake the FYI.</a></p>

                    <div class="row">
                        <h2 class="columns">What Does each interest code mean?</h2>

                        <div class="small-9 columns">
                            <table id="meaning"><tbody>
                                <tr>
                                    <td>
                                        <div class="small-3 columns"><strong style="color: #2279BF">Realistic</strong></div>
                                        <div class="small-9 columns">activities often involve practical, hands-on problems and solutions.</div>
                                    </td>
                                    <td width="100"><a (click)="interestCodeInfo('R')">Learn More</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="small-3 columns"><strong style="color: #892C32">Investigative</strong></div> 
                                        <div class="small-9 columns">activities involve learning about new subject areas or ideas and allow you to use your knowledge to solve problems.</div>
                                    </td>
                                    <td><a (click)="interestCodeInfo('I')">Learn More</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="small-3 columns"><strong style="color: #F3913D">Artistic</strong></div>
                                        <div class="small-9 columns">activities allow you to be creative and use your imagination to do original work.</div>
                                    </td>
                                    <td><a (click)="interestCodeInfo('A')">Learn More</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="small-3 columns"><strong style="color: #174377">Social</strong></div>
                                        <div class="small-9 columns">activities allow you to use your skills and talents to interact effectively with others.</div>
                                    </td>
                                    <td><a (click)="interestCodeInfo('S')">Learn More</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="small-3 columns"><strong style="color: #ea292d">Enterprising</strong></div>
                                        <div class="small-9 columns">activities allow you to take a leadership role.</div>
                                    </td>
                                    <td><a (click)="interestCodeInfo('E')">Learn More</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="small-3 columns"><strong style="color: #52843c">Conventional</strong></div> 
                                        <div class="small-9 columns">activities require attention to accuracy and detail.</div>
                                    </td>
                                    <td><a (click)="interestCodeInfo('C')">Learn More</a></td>
                                </tr>
                            </tbody></table>
                        </div>
                        <div class="small-3 columns">
                            <img style="display: block;margin: auto;" src="assets/images/codes.jpg"> 
                        </div>
                    </div> 
                </div>
			</section>
		</div>
    	<!-- <app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile> -->
	</section>
	<app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
	<app-footer></app-footer>
  </div>