<section id="main-content" class="medium-9 medium-push-3 columns" role="main">
  <ul class="menu tools icons-right">
    <li id="back">
      <a (click)="back()">Back to Career cluster List</a>
    </li>
  </ul>

  <h1>Agriculture &amp; Construction</h1>
  <br />

  <p><strong>Pathway 1: Design/Pre-Construction</strong></p>

  <p>
    People with careers in design/pre-construction create our future! They turn
    a concept into a set of plans. Their plans guide other construction
    professionals as they continue the building process.
  </p>
  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li><a href="{{ url }}17-1012.00">Landscape Architects</a></li>
        <li><a href="{{ url }}17-2051.00">Civil Engineers </a></li>
        <li><a href="{{ url }}17-3011.01">Architectural Drafters</a></li>
        <li><a href="{{ url }}17-3031.01">Surveying Technicians</a></li>
        <li><a href="{{ url }}27-1025.00">Interior Designers</a></li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}17-2051.00{{ urlSuffix }}" />
      <div>Civil Engineers</div>
    </div>
  </div>

  <hr />

  <p><strong>Pathway 2: Construction</strong></p>

  <p>
    Employees in construction literally build our future! These are the people
    who build and remodel houses, apartments, industrial buildings, warehouses,
    office buildings, churches, schools and recreational facilities. This
    pathway also includes the builders of highways, streets, bridges, tunnels
    and airports as well as power plants, chemical plants, refineries and
    mills.<strong> </strong>
  </p>
  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li><a href="{{ url }}11-9021.00">Construction Managers</a></li>
        <li><a href="{{ url }}47-2031.01">Construction Carpenters</a></li>
        <li><a href="{{ url }}47-2111.00">Electricians</a></li>
        <li><a href="{{ url }}47-2181.00">Roofers</a></li>
        <li>
          <a href="{{ url }}47-5031.00"
            >Explosives Workers, Ordnance Handling Experts, and Blasters
          </a>
        </li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}47-5031.00{{ urlSuffix }}" />
      <div>Explosives Workers, Ordnance Handling Experts, and Blasters</div>
    </div>
  </div>

  <hr />

  <p><strong>Pathway 3: Maintenance/Operations</strong></p>

  <p>
    Employees with careers in maintenance/operations keep our future intact!
    These are the people who unload, inspect, and move new equipment into
    position. They determine the optimal placement of machines in a plant,
    assemble machinery, install machinery, repair machinery and perform
    preventive maintenance. They detect, diagnose and correct minor problems on
    machinery. They keep the structure of an establishment in good repair. They
    maintain the smooth operation of refineries, power plants, chemical plants
    and mills.<strong> </strong>
  </p>
  <p><strong> </strong></p>
  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li>
          <a href="{{ url }}37-3011.00"
            >Landscaping and Groundskeeping Workers
          </a>
        </li>
        <li>
          <a href="{{ url }}47-4021.00">Elevator Installers and Repairers</a>
        </li>
        <li><a href="{{ url }}47-4051.00">Highway Maintenance Workers</a></li>
        <li>
          <a href="{{ url }}49-9051.00"
            >Electrical Power-Line Installers and Repairers</a
          >
        </li>
        <li><a href="{{ url }}49-9092.00">Commercial Divers</a></li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}37-3011.00{{ urlSuffix }}" />
      <div>Landscaping and Groundskeeping Workers</div>
    </div>
  </div>

  <br />

  <ul class="menu tools bottom">
    <li id="top"><a (click)="scrollTop()">Back to Top</a></li>
    <li id="back">
      <a (click)="back()">Back to Career cluster List</a>
    </li>
  </ul>

  <br />
  <br />

  <p>
    Note: The 16 Career Clusters were developed by the U.S. Department of
    Education. Your school/state may use a different set of career clusters.
    Contact your career counselor to fnd out more information.
  </p>

  <br />

  <p style="text-align:center">
    <a href="http://www.careertech.org/career-clusters/" target="_blank"
      ><img src="assets/images/career-cluster-logo.jpg"
    /></a>
  </p>

  <p>
    The Career Clusters logo and its extensions are the property of The Center
    to Advance CTE, as managed by Advance CTE.
  </p>
</section>
