<section id="main-content" class="medium-9 medium-push-3 columns" role="main">
  <ul class="menu tools icons-right">
    <li id="back">
      <a (click)="back()">Back to Career cluster List</a>
    </li>
  </ul>

  <!-- HEADER SECTION -->

  <!-- START MAIN CODING -->

  <h1>Finance</h1>
  <br />

  <p><strong>Pathway 1: Securities and Investments</strong></p>

  <p>
    The securities and investments industry consists of brokerage firms,
    investment banks, and stock exchanges, all of which support the flow of
    funds from investors to companies and institutions. Related services include
    financial planning, asset management, hedge fund management, and custody
    services.
  </p>

  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li><a href="{{ url }}13-2052.00">Personal Financial Advisors</a></li>
        <li><a href="{{ url }}13-2099.02">Risk Management Specialists</a></li>
        <li><a href="{{ url }}13-2099.03">Investment Underwriters</a></li>
        <li>
          <a href="{{ url }}41-3031.01"
            >Sales Agents, Securities and Commodities</a
          >
        </li>
        <li><a href="{{ url }}43-4011.00">Brokerage Clerks</a></li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}13-2052.00{{ urlSuffix }}" />
      <div>Personal Financial Advisors</div>
    </div>
  </div>

  <hr />

  <p><strong>Pathway 2: Business Finance</strong></p>

  <p>
    The business finance function in a company is to manage policy and strategy
    for (and the implementation of) capital structure, budgeting, acquisition
    and investment, financial modeling and planning, funding, dividends, and
    taxation.
  </p>

  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li><a href="{{ url }}11-3031.01">Treasurers and Controllers</a></li>
        <li>
          <a href="{{ url }}11-3031.02"
            >Financial Managers, Branch or Department</a
          >
        </li>
        <li><a href="{{ url }}13-2031.00">Budget Analysts</a></li>
        <li><a href="{{ url }}13-2051.00">Financial Analysts</a></li>
        <li><a href="{{ url }}13-2082.00">Tax Preparers</a></li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}11-3031.01{{ urlSuffix }}" />
      <div>Treasurers and Controllers</div>
    </div>
  </div>

  <hr />

  <p><strong>Pathway 3: Accounting</strong></p>

  <p>
    Accounting encompasses careers that record, classify, summarize, analyze,
    and communicate a business's financial information/business transactions for
    use in management decision-making. Accounting includes such activities as
    bookkeeping, systems design, analysis, and interpretation of accounting
    information.
  </p>

  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li><a href="{{ url }}13-2011.01">Accountants</a></li>
        <li><a href="{{ url }}13-2011.02">Auditors</a></li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}13-2011.01{{ urlSuffix }}" />
      <div>Accountants</div>
    </div>
  </div>

  <hr />

  <p><strong>Pathway 4: Insurance</strong></p>

  <p>
    The insurance industry, which exists to protect individuals and businesses
    from financial losses, delivers services that transfer risk from an
    individual or business to an insurance company.
  </p>

  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li>
          <a href="{{ url }}13-1031.01"
            >Claims Examiners, Property and Casualty Insurance</a
          >
        </li>
        <li>
          <a href="{{ url }}13-1032.00">Insurance Appraisers, Auto Damage</a>
        </li>
        <li><a href="{{ url }}13-2053.00">Insurance Underwriters</a></li>
        <li><a href="{{ url }}15-2011.00">Actuaries</a></li>
        <li><a href="{{ url }}41-3021.00	">Insurance Sales Agents</a></li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}15-2011.00{{ urlSuffix }}" />
      <div>Actuaries</div>
    </div>
  </div>

  <hr />

  <p><strong>Pathway 5: Banking Services</strong></p>

  <p>
    Primarily concerned with accepting deposits, lending funds, and extending
    credit, banking services include cash management, short-term investments,
    mortgages and other loans, credit cards, and bill payment. Banking services
    are delivered via a number of different institutions, from commercial banks
    (the largest group) and other traditional means (savings and loans
    associations, credit unions, and local banks) to newer ventures through
    insurance companies, brokerage houses, and the internet.
  </p>

  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li><a href="{{ url }}13-2041.00">Credit Analysts</a></li>
        <li><a href="{{ url }}13-2072.00">Loan Officers</a></li>
        <li><a href="{{ url }}43-3011.00">Bill and Account Collectors</a></li>
        <li><a href="{{ url }}43-3071.00">Tellers</a></li>
        <li>
          <a href="{{ url }}43-4041.01 "
            >Credit Authorizers, Checkers, and Clerks</a
          >
        </li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}43-3071.00{{ urlSuffix }}" />
      <div>Tellers</div>
    </div>
  </div>

  <!-- END MAIN CODING -->

  <!-- START FOOTER SECTION -->

  <ul class="menu tools bottom">
    <li id="top"><a (click)="scrollTop()">Back to Top</a></li>
    <li id="back">
      <a (click)="back()">Back to Career cluster List</a>
    </li>
  </ul>

  <br />
  <br />

  <p>
    Note: The 16 Career Clusters were developed by the U.S. Department of
    Education. Your school/state may use a dierent set of career clusters.
    Contact your career counselor to fnd out more information.
  </p>

  <br />

  <p style="text-align:center">
    <a href="http://www.careertech.org/career-clusters/" target="_blank"
      ><img src="assets/images/career-cluster-logo.jpg"
    /></a>
  </p>

  <p>
    The Career Clusters logo and its extensions are the property of The Center
    to Advance CTE, as managed by Advance CTE.
  </p>
</section>
