<section id="main-content" class="medium-9 medium-push-3 columns" role="main">
  <ul class="menu tools icons-right">
    <li id="back"><a (click)="back()">Back to Career cluster List</a></li>
  </ul>

  <!-- HEADER SECTION -->

  <!-- START MAIN CODING -->

  <h1>Health Science</h1>
  <br />

  <p><strong>Pathway 1: Therapeutic Services</strong></p>

  <p>
    Careers in the Therapeutic Services pathway are focused primarily on
    changing the health status of the patient over time. Health professionals in
    this pathway work directly with patients; they may provide care, treatment,
    counseling and health education information.
  </p>

  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li><a href="{{ url }}29-1141.00">Registered Nurses</a></li>
        <li><a href="{{ url }}31-2022.00">Physical Therapist Aides</a></li>
        <li><a href="{{ url }}29-1041.00">Optometrists</a></li>
        <li><a href="{{ url }}29-2021.00">Dental Hygienists</a></li>
        <li><a href="{{ url }}29-1071.00">Physician Assistants</a></li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}29-2021.00{{ urlSuffix }}" />
      <div>Dental Hygienists</div>
    </div>
  </div>

  <hr />

  <p><strong>Pathway 2: Diagnostic Services</strong></p>

  <p>
    Careers in the Diagnostic Services pathway use tests and evaluations that
    aid in the detection, diagnosis and treatment of diseases, injuries or other
    physical conditions.
  </p>

  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li>
          <a href="{{ url }}29-2011.00"
            >Medical and Clinical Laboratory Technologists</a
          >
        </li>
        <li>
          <a href="{{ url }}29-2031.00"
            >Cardiovascular Technologists and Technicians</a
          >
        </li>
        <li>
          <a href="{{ url }}29-2032.00">Diagnostic Medical Sonographers</a>
        </li>
        <li>
          <a href="{{ url }}29-2033.00">Nuclear Medicine Technologists</a>
        </li>
        <li>
          <a href="{{ url }}29-2035.00"
            >Magnetic Resonance Imaging Technologists</a
          >
        </li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}29-2011.00{{ urlSuffix }}" />
      <div>Medical and Clinical Laboratory Technologists</div>
    </div>
  </div>

  <hr />

  <p><strong>Pathway 3: Health Informatics</strong></p>

  <p>
    Careers in the Health Informatics pathway include many different levels of
    health care related employment. This pathway includes health care
    administrators who manage health care agencies as well as those individuals
    who are responsible for managing all of the patient data and information,
    financial information, and computer applications related to health care
    processes and procedures.
  </p>

  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li>
          <a href="{{ url }}29-2071.00"
            >Medical Records and Health Information Technicians</a
          >
        </li>
        <li><a href="{{ url }}31-9094.00">Medical Transcriptionists</a></li>
        <li><a href="{{ url }}43-6013.00">Medical Secretaries</a></li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}43-6013.00{{ urlSuffix }}" />
      <div>Medical Secretaries</div>
    </div>
  </div>

  <hr />

  <p><strong>Pathway 4: Support Services</strong></p>

  <p>
    Careers in the Support Services pathway provide a therapeutic environment
    for the delivery of health care. Support Services offers a full range of
    career opportunities from entry level to management, including technical and
    professional careers.
  </p>

  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li>
          <a href="{{ url }}11-9111.00">Medical and Health Services Managers</a>
        </li>
        <li><a href="{{ url }}31-1015.00">Orderlies</a></li>
        <li><a href="{{ url }}31-9093.00">Medical Equipment Preparers</a></li>
        <li><a href="{{ url }}31-9095.00">Pharmacy Aides</a></li>
        <li><a href="{{ url }}31-9097.00">Phlebotomists</a></li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}31-9093.00{{ urlSuffix }}" />
      <div>Medical Equipment Preparers</div>
    </div>
  </div>

  <hr />

  <p><strong>Pathway 5: Biotechnology Research and Development</strong></p>

  <p>
    Careers in the Biotechnology Research and Development pathway involve
    bioscience research and development as it applies to human health. These
    scientists may study diseases to discover new treatments or invent medical
    devices used to directly assist patients or to improve the accuracy of
    diagnostic tests.
  </p>

  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li><a href="{{ url }}17-2031.00">Biomedical Engineers</a></li>
        <li>
          <a href="{{ url }}19-1042.00"
            >Medical Scientists, Except Epidemiologists</a
          >
        </li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}17-2031.00{{ urlSuffix }}" />
      <div>Biomedical Engineers</div>
    </div>
  </div>

  <!-- END MAIN CODING -->

  <!-- START FOOTER SECTION -->

  <ul class="menu tools bottom">
    <li id="top"><a (click)="scrollTop()">Back to Top</a></li>
    <li id="back"><a (click)="back()">Back to Career cluster List</a></li>
  </ul>

  <br />
  <br />

  <p>
    Note: The 16 Career Clusters were developed by the U.S. Department of
    Education. Your school/state may use a dierent set of career clusters.
    Contact your career counselor to fnd out more information.
  </p>

  <br />

  <p style="text-align:center">
    <a href="http://www.careertech.org/career-clusters/" target="_blank"
      ><img src="assets/images/career-cluster-logo.jpg"
    /></a>
  </p>

  <p>
    The Career Clusters logo and its extensions are the property of The Center
    to Advance CTE, as managed by Advance CTE.
  </p>
</section>
