<section id="main-content" class="medium-9 medium-push-3 columns" role="main">
  <ul class="menu tools icons-right">
    <li id="back"><a (click)="back()">Back to Career cluster List</a></li>
  </ul>

  <!-- HEADER SECTION -->

  <!-- START MAIN CODING -->

  <h1>Law, Public Safety, Corrections & Security</h1>
  <br />

  <p><strong>Pathway 1: Correction Services</strong></p>

  <p>
    Workers in the Correction Services pathway are responsible for overseeing
    individuals who have been arrested and are awaiting trial or who have been
    convicted of a crime and sentenced to serve time in a jail, reformatory, or
    penitentiary. While the primary mission of corrections is protection of the
    public, many in this field are involved with the treatment, education and
    reintegration of offenders.
  </p>

  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li>
          <a href="{{ url }}33-3012.00">Correctional Officers and Jailers</a>
        </li>
        <li>
          <a href="{{ url }}21-1092.00"
            >Probation Officers and Correctional Treatment Specialists</a
          >
        </li>
        <li>
          <a href="{{ url }}33-1011.00"
            >First-Line Supervisors of Correctional Officers</a
          >
        </li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}33-3012.00{{ urlSuffix }}" />
      <div>Correctional Officers and Jailers</div>
    </div>
  </div>

  <hr />

  <p><strong>Pathway 2: Emergency and Fire Management Services</strong></p>

  <p>
    Every year, fires and other emergencies take thousands of lives and destroy
    property worth billions of dollars. Firefighters and emergency services
    workers help protect the public against these dangers by rapidly responding
    to a variety of emergencies. They are frequently the first emergency
    personnel at the scene of a traffic accident or medical emergency and may be
    called upon to put out a fire, treat injuries or perform other vital
    functions.
  </p>

  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li>
          <a href="{{ url }}29-2041.00"
            >Emergency Medical Technicians and Paramedics</a
          >
        </li>
        <li><a href="{{ url }}33-2021.02">Fire Investigators</a></li>
        <li>
          <a href="{{ url }}33-2022.00"
            >Forest Fire Inspectors and Prevention Specialists</a
          >
        </li>
        <li><a href="{{ url }}33-2011.01">Municipal Firefighters</a></li>
        <li>
          <a href="{{ url }}43-5031.00"
            >Police, Fire, and Ambulance Dispatchers</a
          >
        </li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}29-2041.00{{ urlSuffix }}" />
      <div>Emergency Medical Technicians and Paramedics</div>
    </div>
  </div>

  <hr />

  <p><strong>Pathway 3: Law Enforcement Services</strong></p>

  <p>
    People depend on police officers and detectives to protect their lives and
    property. Law enforcement officers have duties that range from controlling
    traffic to preventing and investigating crimes. They maintain order; enforce
    laws and ordinances; issue traffic summonses; investigate accidents; present
    evidence in court; serve legal documents for the court system; and
    apprehend, arrest and process prisoners.
  </p>

  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li>
          <a href="{{ url }}33-3021.03"
            >Criminal Investigators and Special Agents</a
          >
        </li>
        <li><a href="{{ url }}19-4092.00">Forensic Science Technicians</a></li>
        <li><a href="{{ url }}33-3031.00">Fish and Game Wardens</a></li>
        <li>
          <a href="{{ url }}33-3021.02"
            >Police Identification and Records Officers</a
          >
        </li>
        <li><a href="{{ url }}33-3051.01">Police Patrol Officers</a></li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}33-3021.03{{ urlSuffix }}" />
      <div>Criminal Investigators and Special Agents</div>
    </div>
  </div>

  <hr />

  <p><strong>Pathway 4: Legal Services</strong></p>

  <p>
    The legal system affects nearly every aspect of our society, from buying a
    home to crossing the street. Workers in the Legal Services pathway form the
    backbone of this vital system, linking it to society in myriad ways. For
    this reason, they hold positions of great responsibility and are obligated
    to adhere to a strict code of ethics.
  </p>

  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li><a href="{{ url }}23-2091.00">Court Reporters</a></li>
        <li>
          <a href="{{ url }}23-1023.00"
            >Judges, Magistrate Judges, and Magistrates</a
          >
        </li>
        <li><a href="{{ url }}23-1012.00">Judicial Law Clerks</a></li>
        <li><a href="{{ url }}23-1011.00">Lawyers</a></li>
        <li>
          <a href="{{ url }}23-2011.00">Paralegals and Legal Assistants</a>
        </li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}23-1011.00{{ urlSuffix }}" />
      <div>Lawyers</div>
    </div>
  </div>

  <hr />

  <p><strong>Pathway 5: Security and Protective Services</strong></p>

  <p>
    Security personnel often work in public buildings such as museums or art
    galleries to protect paintings and exhibits by inspecting people and
    packages entering and leaving the building. In factories, laboratories,
    government buildings, data processing centers, and military bases, security
    officers protect information, products, computer codes, and defense secrets
    and check the credentials of people and vehicles entering and leaving the
    premises.
  </p>

  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li><a href="{{ url }}33-3011.00">Bailiffs</a></li>
        <li>
          <a href="{{ url }}33-9031.00"
            >Gaming Surveillance Officers and Gaming Investigators</a
          >
        </li>
        <li><a href="{{ url }}33-9032.00">Security Guards</a></li>
        <li><a href="{{ url }}33-9091.00">Crossing Guards</a></li>
        <li>
          <a href="{{ url }}33-9092.00"
            >Lifeguards, Ski Patrol, and Other Recreational Protective Service
            Workers</a
          >
        </li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}33-9032.00{{ urlSuffix }}" />
      <div>Security Guards</div>
    </div>
  </div>

  <!-- END MAIN CODING -->

  <!-- START FOOTER SECTION -->

  <ul class="menu tools bottom">
    <li id="top"><a (click)="scrollTop()">Back to Top</a></li>
    <li id="back"><a (click)="back()">Back to Career cluster List</a></li>
  </ul>

  <br />
  <br />

  <p>
    Note: The 16 Career Clusters were developed by the U.S. Department of
    Education. Your school/state may use a dierent set of career clusters.
    Contact your career counselor to fnd out more information.
  </p>

  <br />

  <p style="text-align:center">
    <a href="http://www.careertech.org/career-clusters/" target="_blank"
      ><img src="assets/images/career-cluster-logo.jpg"
    /></a>
  </p>

  <p>
    The Career Clusters logo and its extensions are the property of The Center
    to Advance CTE, as managed by Advance CTE.
  </p>
</section>
