<section id="main-content" class="medium-9 medium-push-3 columns" role="main">
  <ul class="menu tools icons-right">
    <li id="back">
      <a (click)="back()">Back to Career cluster List</a>
    </li>
  </ul>

  <!-- HEADER SECTION -->

  <!-- START MAIN CODING -->

  <h1>Marketing</h1>
  <br />

  <p><strong>Pathway 1: Marketing Management</strong></p>

  <p>
    People with careers in marketing management formulate policies and direct
    the operations of businesses and corporations, nonprofit institutions and
    other organizations. In small firms, the owner or chief executive officer
    may assume all advertising, promotions, marketing, sales and public
    relations responsibilities. In large firms, which may offer numerous
    products and services nationally or even worldwide, an executive vice
    president directs overall advertising, promotions, marketing, sales and
    public relations policies.
  </p>

  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li><a href="11-2011.00">Advertising and Promotions Managers</a></li>
        <li><a href="11-2021.00">Marketing Managers</a></li>
        <li><a href="11-2022.00">Sales Managers</a></li>
        <li>
          <a href="11-2031.00">Public Relations and Fundraising Managers</a>
        </li>
        <li>
          <a href="11-9141.00"
            >Property, Real Estate, and Community Association Managers</a
          >
        </li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}11-2021.00{{ urlSuffix }}" />
      <div>Marketing Managers</div>
    </div>
  </div>

  <hr />

  <p><strong>Pathway 2: Professional Sales</strong></p>

  <p>
    Employees in professional sales are involved in the transfer of goods and
    services in the economy, both to businesses and to individual consumers.
  </p>

  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li><a href="41-2011.00">Cashiers</a></li>
        <li><a href="41-2022.00">Parts Salespersons</a></li>
        <li><a href="41-3011.00">Advertising Sales Agents</a></li>
        <li><a href="41-9022.00">Real Estate Sales Agents</a></li>
        <li><a href="53-3031.00">Driver/Sales Workers</a></li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}41-2011.00{{ urlSuffix }}" />
      <div>Cashiers</div>
    </div>
  </div>

  <hr />

  <p><strong>Pathway 3: Merchandising</strong></p>

  <p>
    Employees in buying and merchandising positions get the product into the
    hands of the customer. This process includes forecasting, planning, buying,
    displaying, selling and providing customer service.
  </p>

  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li>
          <a href="13-1022.00"
            >Wholesale and Retail Buyers, Except Farm Products</a
          >
        </li>
        <li>
          <a href="27-1026.00">Merchandise Displayers and Window Trimmers</a>
        </li>
        <li><a href="41-9012.00">Models</a></li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}13-1022.00{{ urlSuffix }}" />
      <div>Wholesale and Retail Buyers, Except Farm Products</div>
    </div>
  </div>

  <hr />

  <p><strong>Pathway 4: Marketing Communications</strong></p>

  <p>
    Marketing communications employees plan, coordinate and implement marketing
    strategies, advertising, promotion, and public relations activities. Because
    of the importance and high visibility of their jobs, these individuals often
    are prime candidates for advancement.
  </p>

  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li><a href="27-3031.00">Public Relations Specialists</a></li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}27-3031.00{{ urlSuffix }}" />
      <div>Public Relations Specialists</div>
    </div>
  </div>

  <hr />

  <p><strong>Pathway 5: Marketing Research</strong></p>

  <p>
    Employees in marketing research are concerned with understanding people and
    organizations. They collect and analyze many different types of information
    to design new products, to predict future sales and to position their own
    company's strategies against those of its competitors.
  </p>

  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li>
          <a href="13-1161.00"
            >Market Research Analysts and Marketing Specialists</a
          >
        </li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}13-1161.00{{ urlSuffix }}" />
      <div>Market Research Analysts and Marketing Specialists</div>
    </div>
  </div>

  <!-- END MAIN CODING -->

  <!-- START FOOTER SECTION -->

  <ul class="menu tools bottom">
    <li id="top"><a (click)="scrollTop()">Back to Top</a></li>
    <li id="back">
      <a (click)="back()">Back to Career cluster List</a>
    </li>
  </ul>

  <br />
  <br />

  <p>
    Note: The 16 Career Clusters were developed by the U.S. Department of
    Education. Your school/state may use a dierent set of career clusters.
    Contact your career counselor to fnd out more information.
  </p>

  <br />

  <p style="text-align:center">
    <a href="http://www.careertech.org/career-clusters/" target="_blank"
      ><img src="assets/images/career-cluster-logo.jpg"
    /></a>
  </p>

  <p>
    The Career Clusters logo and its extensions are the property of The Center
    to Advance CTE, as managed by Advance CTE.
  </p>
</section>
