<section id="main-content" class="medium-9 medium-push-3 columns" role="main">
  <ul class="menu tools icons-right">
    <li id="back">
      <a (click)="back()">Back to Career cluster List</a>
    </li>
  </ul>

  <!-- HEADER SECTION -->

  <!-- START MAIN CODING -->

  <h1>Science, Technology, Engineering, & Mathematics</h1>
  <br />

  <p><strong>Pathway 1: Engineering and Technology</strong></p>

  <p>
    Employees in engineering and technology careers apply the principles of
    advanced mathematics, life sciences, physical science, earth and space
    science, and technology to solve problems quantitatively in engineering or
    technology projects. These projects typically involve design, development or
    production in various technologies.
  </p>

  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li>
          <a href="{{ url }}11-9041.00"
            >Architectural and Engineering Managers</a
          >
        </li>
        <li><a href="{{ url }}17-2071.00">Electrical Engineers</a></li>
        <li>
          <a href="{{ url }}17-2121.02"
            >Marine Engineers and Naval Architects</a
          >
        </li>
        <li><a href="{{ url }}17-2141.00">Mechanical Engineers</a></li>
        <li><a href="{{ url }}17-2161.00">Nuclear Engineers</a></li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}17-2141.00{{ urlSuffix }}" />
      <div>Mechanical Engineers</div>
    </div>
  </div>

  <hr />

  <p><strong>Pathway 2: Science and Math</strong></p>

  <p>
    People in science and mathematics careers apply essential mathematics and
    science content and skills in a real world context. Science and mathematics
    occupations include those in physical, environmental and human endeavors.
    Career possibilities range from teachers of science and mathematics to lab
    technicians to NASA astronauts.
  </p>

  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li>
          <a href="{{ url }}15-1111.00"
            >Computer and Information Research Scientists</a
          >
        </li>
        <li><a href="{{ url }}15-2021.00">Mathematicians</a></li>
        <li><a href="{{ url }}15-2041.00">Statisticians</a></li>
        <li>
          <a href="{{ url }}17-1021.00">Cartographers and Photogrammetrists</a>
        </li>
        <li><a href="{{ url }}19-1021.00">Biochemists and Biophysicists</a></li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}17-1021.00{{ urlSuffix }}" />
      <div>Cartographers and Photogrammetrists</div>
    </div>
  </div>

  <!-- END MAIN CODING -->

  <!-- START FOOTER SECTION -->

  <ul class="menu tools bottom">
    <li id="top"><a (click)="scrollTop()">Back to Top</a></li>
    <li id="back">
      <a (click)="back()">Back to Career cluster List</a>
    </li>
  </ul>

  <br />
  <br />

  <p>
    Note: The 16 Career Clusters were developed by the U.S. Department of
    Education. Your school/state may use a dierent set of career clusters.
    Contact your career counselor to fnd out more information.
  </p>

  <br />

  <p style="text-align:center">
    <a href="http://www.careertech.org/career-clusters/" target="_blank"
      ><img src="assets/images/career-cluster-logo.jpg"
    /></a>
  </p>

  <p>
    The Career Clusters logo and its extensions are the property of The Center
    to Advance CTE, as managed by Advance CTE.
  </p>
</section>
