<section id="main-content" class="medium-9 medium-push-3 columns" role="main">
  <ul class="menu tools icons-right">
    <li id="back"><a (click)="back()">Back to Career cluster List</a></li>
  </ul>

  <!-- HEADER SECTION -->

  <!-- START MAIN CODING -->

  <h1>Transportation, Distribution, & Logistics</h1>
  <br />

  <p><strong>Pathway 1: Transportation Operations</strong></p>

  <p>
    Careers in the Transportation Operations pathway are really on the move!
    These are the people that drive or pilot the vehicles that transport people
    and freight. Equally important to this pathway are the support people who
    ensure that any cargo transport is safe, secure, and on time.
  </p>

  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li><a href="{{ url }}53-2012.00">Commercial Pilots</a></li>
        <li>
          <a href="{{ url }}53-3021.00">Bus Drivers, Transit and Intercity</a>
        </li>
        <li><a href="{{ url }}53-2031.00">Flight Attendants</a></li>
        <li>
          <a href="{{ url }}53-3032.00"
            >Heavy and Tractor-Trailer Truck Drivers</a
          >
        </li>
        <li><a href="{{ url }}53-5021.01">Ship and Boat Captains</a></li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}53-3032.00{{ urlSuffix }}" />
      <div>Heavy and Tractor-Trailer Truck Drivers</div>
    </div>
  </div>

  <hr />

  <p>
    <strong>Pathway 2: Logistics Planning & Management Services Pathway</strong>
  </p>

  <p>
    Careers in the Logistics Planning and Management Services pathway involve
    the planning, management and control of the physical distribution of
    materials, products, and people. Often, more than one mode of transportation
    is used as distribution efforts can be complex, even national or global.
    These people are responsible for the plans which will ensure that cargo
    arrives at the right location, on time, and in the safest, most economical
    manner.
  </p>

  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li>
          <a href="{{ url }}43-5032.00"
            >Dispatchers, Except Police, Fire, and Ambulance</a
          >
        </li>
        <li><a href="{{ url }}13-1081.02">Logistics Analysts</a></li>
        <li><a href="{{ url }}11-3071.03">Logistics Managers</a></li>
        <li>
          <a href="{{ url }}11-3071.02">Storage and Distribution Managers</a>
        </li>
        <li><a href="{{ url }}11-3071.01">Transportation Managers</a></li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}11-3071.02{{ urlSuffix }}" />
      <div>Storage and Distribution Managers</div>
    </div>
  </div>

  <hr />

  <p>
    <strong>Pathway 3: Warehousing and Distribution Center Operations</strong>
  </p>

  <p>
    Careers in Warehousing and Distribution Center Operations focus on the
    operation of transportation and distribution facilities including ports,
    terminals, warehouses, and other types of facilities. All cargo needs to be
    tracked, sorted, labeled, and loaded accurately and safely. Timing is also
    important, since many loads must adhere to a schedule in order to satisfy
    the needs of the customer.
  </p>

  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li>
          No OCCU-Find occupations are currently linked to this Career Pathway.
        </li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns"></div>
  </div>

  <hr />

  <p>
    <strong
      >Pathway 4: Facility and Mobile Equipment Maintenance Pathway</strong
    >
  </p>

  <p>
    Careers in Facility and Mobile Equipment Maintenance pathway include the
    maintenance, repair, and servicing of vehicles and transportation
    facilities, as well as the refueling of mobile equipment. All transportation
    relies on equipment which must function as designed, whenever needed. The
    people in this pathway keep the equipment and machinery running while
    looking for more efficient, safe, and cost-effective ways to do so.
  </p>

  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li>
          <a href="{{ url }}49-3011.00"
            >Aircraft Mechanics and Service Technicians</a
          >
        </li>
        <li><a href="{{ url }}49-3023.01">Automotive Master Mechanics</a></li>
        <li>
          <a href="{{ url }}49-3031.00"
            >Bus and Truck Mechanics and Diesel Engine Specialists</a
          >
        </li>
        <li>
          <a href="{{ url }}49-3042.00"
            >Mobile Heavy Equipment Mechanics, Except Engines</a
          >
        </li>
        <li>
          <a href="{{ url }}49-9097.00">Signal and Track Switch Repairers</a>
        </li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}49-3023.01{{ urlSuffix }}" />
      <div>Automotive Master Mechanics</div>
    </div>
  </div>

  <hr />

  <p>
    <strong
      >Pathway 5: Transportation Systems/Infrastructure Planning, Management and
      Regulation</strong
    >
  </p>

  <p>
    Careers in the Transportation Systems/Infrastructure Planning, Management
    and Regulation pathway deal with all aspects of the design and operation of
    our public transportation systems - road, air, sea and rail. These functions
    are primarily the responsibility of people who are employed by federal,
    state and local transportation agencies. Many businesses work to assist
    these agencies in their efforts.
  </p>

  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li><a href="{{ url }}53-2021.00">Air Traffic Controllers</a></li>
        <li>
          <a href="{{ url }}53-2022.00">Airfield Operations Specialists</a>
        </li>
        <li><a href="{{ url }}53-6041.00">Traffic Technicians</a></li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}53-2022.00{{ urlSuffix }}" />
      <div>Airfield Operations Specialists</div>
    </div>
  </div>

  <hr />

  <p>
    <strong
      >Pathway 6: Health, Safety and Environmental Management Pathway</strong
    >
  </p>

  <p>
    Careers in the Health, Safety and Environmental Management pathway involve
    assessing and managing risks associated with safety and environmental
    issues. The well-being of people and our environment is more important and
    challenging today than ever before in history. The people employed in this
    important pathway research, plan and carry out activities to make our
    environment safer and cleaner.
  </p>

  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li>
          No OCCU-Find occupations are currently linked to this Career Pathway.
        </li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns"></div>
  </div>

  <hr />

  <p><strong>Pathway 7: Sales and Service</strong></p>

  <p>
    Careers in the Sales and Service pathway involve the marketing and selling
    of transportation services to new customers as well as the management of
    existing customer relationships and customer service. Transportation
    businesses move passengers and freight to meet customer needs and demands.
    Successful businesses need skilled employees to provide excellent customer
    service.
  </p>

  <div class="row">
    <div class="large-8 medium-7 columns">
      <p><strong>Sample Occupations</strong></p>

      <ul>
        <li><a href="{{ url }}43-5011.00">Cargo and Freight Agents</a></li>
        <li><a href="{{ url }}53-6021.00">Parking Lot Attendants</a></li>
        <li><a href="{{ url }}43-3021.01">Statement Clerks</a></li>
        <li><a href="{{ url }}43-3021.02">Billing, Cost and Rate Clerks</a></li>
      </ul>
    </div>
    <div class="large-4 medium-5 columns">
      <img src="{{ urlPrefix }}43-5011.00{{ urlSuffix }}" />
      <div>Cargo and Freight Agents</div>
    </div>
  </div>

  <!-- END MAIN CODING -->

  <!-- START FOOTER SECTION -->

  <ul class="menu tools bottom">
    <li id="top"><a (click)="scrollTop()">Back to Top</a></li>
    <li id="back"><a (click)="back()">Back to Career cluster List</a></li>
  </ul>

  <br />
  <br />

  <p>
    Note: The 16 Career Clusters were developed by the U.S. Department of
    Education. Your school/state may use a dierent set of career clusters.
    Contact your career counselor to fnd out more information.
  </p>

  <br />

  <p style="text-align:center">
    <a href="http://www.careertech.org/career-clusters/" target="_blank"
      ><img src="assets/images/career-cluster-logo.jpg"
    /></a>
  </p>

  <p>
    The Career Clusters logo and its extensions are the property of The Center
    to Advance CTE, as managed by Advance CTE.
  </p>
</section>
