<section id="content-wrap">
  <div class="row">
    <div class="medium-8 columns share">
      <a (click)="trackSocialShare('Facebook', 'Bring-Asvab-to-School')"
        ><em></em
      ></a>
      <a (click)="trackSocialShare('Twitter', 'Bring-Asvab-to-School')"
        ><em></em
      ></a>
      <a (click)="trackSocialShare('LinkedIn', 'Bring-Asvab-to-School')"
        ><em></em
      ></a>
      <a (click)="trackSocialShare('Email', 'Bring-Asvab-to-School')"
        ><em></em
      ></a>
    </div>
    <div class="medium-4 columns"></div>
  </div>
  <header class="row">
    <div class="medium-3 medium-push-9 columns">
      <div class="logo">
        <h1>
          <a routerLink="./"><img alt="ASVAB" src="assets/images/logo.png"/></a>
        </h1>
      </div>
    </div>
    <div class="medium-9 medium-pull-3 columns" role="main">
      <h2>It's easy to bring the ASVAB CEP to your school!</h2>
    </div>
  </header>
  <div class="row">
    <div class="medium-3 medium-push-9 columns show-for-medium">
      <div id="boy">
        <a
          class="button"
          routerLink="/student-program"
          style="font-size:18px;line-height:35px;border:0;"
          >What to Expect?</a
        >
        <img src="assets/images/boy.png" /><a class="zoom" (click)="imageZoom()"
          >+</a
        >
      </div>
    </div>
    <section
      class="medium-9 medium-pull-3 columns"
      id="main-content"
      role="main"
    >
      <h3>What are you waiting for? Bring ASVAB CEP to your school today!</h3>
      <div id="lower">
        <form
          [formGroup]="studentFormGroup"
          (ngSubmit)="shareWithCounselor()"
          ngNativeValidate
        >
          <div class="row">
            <div class="medium-6 columns">
              <h3>
                <strong>Are you a</strong> counselor or testing coordinator?
              </h3>
              <p>
                Schedule a test date at your school by clicking the schedule
                button below or call an Education Services Specialist at
                1-800-323-0513 to ask questions about the ASVAB CEP, receive
                access to program materials, or schedule a test date at your
                school.
              </p>
              <a
                class="button hide-for-medium"
                (click)="asvabModal(true); trackScheduleClick()"
                >Schedule</a
              >
            </div>
            <div class="medium-6 columns">
              <h3><strong>Are you a</strong> Student or parent?</h3>
              <p>
                Let your school counselor know that you are interested by
                sharing important program information with them via email.
              </p>
              <br />
              <input
                type="email"
                name="counselorEmail"
                formControlName="counselorEmail"
                required
                placeholder="Counselor's email address"
              />
              <!-- <input
                  name="counselorEmail"
                  [disabled]="formDisabled"
                  [(ngModel)]="counselorEmail"
                  email
                  type="email"
                  placeholder="Counselor's email address"
                  #email="ngModel"
                >
                <div *ngIf="email.value !== '' && email.untouched && email.invalid"> 
                    Please fill out this field.
                </div> -->
              <br />
              <p>
                Faculty email addresses can usually be found on your school's
                website.
              </p>
              <span style="color:#cc0000;">{{ errorSharing }}</span>
              <div
                class="recaptcha"
                style="transform:scale(0.70, 0.70);-webkit-transform:scale(0.70, 0.70);transform-origin:0 0;-webkit-transform-origin:0 0;"
              >
                <ngx-recaptcha2
                  #captchaElem
                  name="captchaElem"
                  [siteKey]="recaptchaKey"
                  [useGlobalDomain]="false"
                  formControlName="recaptcha"
                  ngDefaultControl
                >
                </ngx-recaptcha2>
                <!-- <ngx-recaptcha2
                  #captchaElem
                  name="captchaElem"
                  [siteKey]="recaptchaKey"
                  [useGlobalDomain]="false"
                  [(ngModel)]="responseOne"
                  ngDefaultControl
                >
                </ngx-recaptcha2> -->
              </div>
              <div class="medium-6 columns" id="right">
                <button
                  class="button hide-for-medium"
                  [disabled]="formDisabled"
                  type="submit"
                >
                  Share
                </button>
                <span
                  class="fa fa-circle-o-notch fa-spin fa-2x fa-fw hide-for-medium"
                  id="save-indicator"
                  *ngIf="formDisabled"
                  style="margin-top:5px;"
                ></span>
              </div>
            </div>
          </div>
          <div class="show-for-medium row">
            <div class="medium-6 columns">
              <a class="button" (click)="asvabModal(true); trackScheduleClick()"
                >Schedule</a
              >
            </div>
            <div class="medium-6 columns">
              <button class="button" [disabled]="formDisabled" type="submit">
                Share</button
              >
              <span
                class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"
                id="save-indicator"
                *ngIf="formDisabled"
                style="margin-top:5px;"
              ></span>
            </div>
          </div>
        </form>
      </div>
    </section>
    <div class="hide-for-medium" id="boy">
      <img src="assets/images/boy.png" /><a class="zoom" (click)="imageZoom()"
        >+</a
      >
    </div>
  </div>
</section>
<section class="page-footer" id="content-wrap">
  <div class="row">
    <div class="medium-8 columns">
      <p>
        <strong
          >ASVAB CEP is designed to empower students to explore their career and
          post-secondary options in the context of their skills and interests.
          Then, leverage the future-oriented planning tools to develop an action
          plan to share with parents and educators -- all without cost or
          commitment.</strong
        >
      </p>
      <h3>The ASVAB CEP has three components:</h3>
      <ol>
        <li>
          <strong>Take the ASVAB</strong>&nbsp;- An aptitude test that allows
          students to identify their skill strengths.
        </li>
        <li>
          <strong>Identify Interests&nbsp;</strong>- An interest inventory that
          highlights work-related interest areas where students are most likely
          to succeed.
        </li>
        <li>
          <strong>Explore and Plan</strong> - The results from the validated
          aptitude and interest assessments serve as the basis of informed
          career exploration. A full suite of future-oriented planning tools
          help students identify goals and develop an action plan to share with
          parents and educators.
        </li>
      </ol>
    </div>
  </div>
</section>
