<div id="portfolio" class="occufind">
  <app-header></app-header>
  <app-my-asvab-header></app-my-asvab-header>

  <section id="content-wrap" class="left-nav-expanded-wrap explore">
    <div class="row">
      <app-left-navigation-v2-collapsed class="mobile-show" [selectedTab]="'plan'"></app-left-navigation-v2-collapsed>
      <section id="main-content" class="left-navigation-condensed" role="main">
        <app-my-top-results-collapsed [collapsedVersion]="'v2'"></app-my-top-results-collapsed>
        <div id="left-nav-content-wrap">

          <a routerLink="/plan-your-future" class="page_back_link">&lt; Back to Plan for your future</a>
          <div class="row">
            <div class="columns medium-6">
              <h2>Calendar</h2>
            </div>
            <div class="columns medium-6">
              <div class="task_list_add_task">
                <a (click)="addDate()"><img src="assets/images/calender.svg"> <span>Add Date</span></a>
                <a (click)="addTask()"><img src="assets/images/checkmark_with_plus.svg"> <span>Add Task</span></a>
              </div>
            </div>
          </div>

          <div class="task_lists">

            <!-- Tasks not assigned to a Date-->
            <div class="task_list">
              <p class="task_list_title"><strong>Tasks List</strong></p>
              <div class="progressbar_wrapper">
                <!-- <p *ngIf="tasksUnassignedLength == 0">
                  No tasks remaining.
                </p> -->
                <div class="task-progressbar" *ngIf="tasksUnassignedLength != 0">
                  <mat-progress-bar mode="determinate" [value]="unassignedProgress"></mat-progress-bar>
                </div>
                <p>
                  <span *ngIf="tasksUnassignedLength > 1">
                    {{tasksUnassignedLength}} tasks
                  </span>
                  <span *ngIf="tasksUnassignedLength == 1">
                    {{tasksUnassignedLength}} task
                  </span>
                  <span *ngIf="tasksUnassignedLength > 0">remaining</span>
                </p>
                <a (click)="switchTaskViewByCompleted()">
                  <span *ngIf="!showCompletedTasks">Show checked</span>
                  <span *ngIf="showCompletedTasks">Hide checked</span>
                </a>
              </div>
              <ul class="task_list_items">
                <li *ngFor="let task of tasksUnassignedToDate; let i = index;">
                  <div class="task_list_item_data">
                    <div class="task_list_item_title_wrapper">
                      <div class="task_list_item_title">
                        <div class="form-group">
                          <div class="checkbox-tick">
                            <input class="styled-checkbox" type="checkbox" id="completed{{task.id}}"
                              [checked]="task.completed" (change)="setTaskComplete(task,i, $event)">
                            <label class="styled-checkbox-label" for="completed{{task.id}}">
                            </label>
                            <label *ngIf="!hasUrl(task.taskName)" for="completed{{task.id}}" style='display: inline;'>
                              <span class="ml_10">{{convertTaskName(task.taskName)}}</span>
                            </label>

                            <a class="ml_10" *ngIf="hasUrl(task.taskName)" [href]="getUrl(task.taskName)"
                              target="_blank">{{convertTaskName(task.taskName)}}</a>

                          </div>
                        </div>
                      </div>
                      <div class="remove_task_list_item" style="margin-right: 8px;">
                        <ng-container *ngIf="task.planId">
                          <a #tooltip="matTooltip" (click)="gotoPlan(task.planId)"
                            [matTooltip]="getPlanTitle(task.planId)" matTooltipPosition="left" matTooltipHideDelay="0">
                            <i class="fa fa-link"
                              style="color:#cacaca;height:18px;width:18px;vertical-align: middle!important;"></i>
                          </a>
                        </ng-container>
                        <a [style.visibility]="!task.completed ? 'visible' : 'hidden'" (click)="editTask(task, i)"><img
                            src="assets/images/note_edit.svg"></a>
                        <a (click)="removeTask(task.id, i)"><img src="assets/images/close-blue.svg"></a>
                      </div>
                    </div>
                  </div>
                </li>

              </ul>
            </div>

            <!-- Dates -->
            <div class="task_list">
              <p class="task_list_title"><strong>Important Date</strong></p>
              <ul class="task_list_items">
                <li *ngFor="let calendar of userOccupationPlanCalendars | orderBy: 'date'; let i = index;">
                  <div class="task_list_item_data">
                    <div class="task_list_item_title_wrapper">
                      <div class="task_list_item_title">
                        <div class="task_list_date">
                          <div class="d-inline-block" (click)="calendar.expanded = !calendar.expanded" [ngClass]="!calendar.expanded ? '' : 'active'">
                            <span *ngIf="!calendar.expanded"><i class="fas fa-plus"></i></span>
                            <span *ngIf="calendar.expanded"><i class="fas fa-minus"></i></span>
                          </div>
                          {{calendar.date}}
                        </div>
                        <p>
                          {{calendar.title}}
                        </p>
                      </div>
                      <div class="remove_task_list_item" style="margin-right: 8px;">
                        <a *ngIf="calendar.planId" #tooltip="matTooltip" (click)="gotoPlan(calendar.planId)"
                          matTooltip="{{getPlanTitle(calendar.planId)}}" matTooltipPosition="left"
                          matTooltipHideDelay="0"><i class="fa fa-link"
                            style="color:#cacaca;height:18px;width:18px;vertical-align: middle!important;"></i>
                        </a>
                        <a (click)="editDate(calendar)"><img src="assets/images/note_edit.svg"></a>
                        <a (click)="removeDate(calendar.id)"><img src="assets/images/close-blue.svg"></a>
                      </div>
                    </div>

                    <!-- Tasks for Date -->
                    <div class="task_list_item_expanded"
                      [ngClass]="!calendar.expanded ? 'hide-collapse' : 'show-expand'">

                      <div class="progressbar_wrapper">
                        <!-- <p *ngIf="getRemainingTasksForCalendar(calendar) == 0">
                          No tasks remaining.
                        </p> -->
                        <p>
                          <span *ngIf="getRemainingTasksForCalendar(calendar) > 1">
                            {{getRemainingTasksForCalendar(calendar)}} tasks
                          </span>
                          <span *ngIf="getRemainingTasksForCalendar(calendar) == 1">
                            {{getRemainingTasksForCalendar(calendar)}} task
                          </span>
                          <span *ngIf="getRemainingTasksForCalendar(calendar) > 0">remaining</span>
                        </p>

                        <div class="task-progressbar" *ngIf="tasksUnassignedLength != 0">
                          <mat-progress-bar mode="determinate" [value]="getProgressBarValueForCalendar(calendar)">
                          </mat-progress-bar>
                        </div>

                        <a (click)="calendar.showCompletedTasks = !calendar.showCompletedTasks">
                          <span *ngIf="!calendar.showCompletedTasks">Show checked</span>
                          <span *ngIf="calendar.showCompletedTasks">Hide checked</span>
                        </a>

                      </div>
                      <hr class="d-block" *ngIf="getRemainingTasksForCalendar(calendar) > 0" style="margin:0 !important">

                      <ul class="task_list_items">
                        <li
                          *ngFor="let task of calendar.tasks | filter:(!calendar.showCompletedTasks ? 'completed' : ''):(!calendar.showCompletedTasks ? false : ''); let ind = index;">

                          <div class="task_list_item_data">
                            <div class="task_list_item_title_wrapper calendar-task">
                              <div class="task_list_item_title">
                                <div class="form-group">
                                  <div class="checkbox-tick ">
                                    <input class="styled-checkbox" type="checkbox"
                                      id="completed{{calendar.id}}{{task.id}}" [checked]="task.completed"
                                      (change)="setTaskComplete(task, ind, $event, i)">
                                    <label class="styled-checkbox-label" for="completed{{calendar.id}}{{task.id}}">
                                    </label>
                                    <label for="completed{{calendar.id}}{{task.id}}" style='display: inline;'>
                                      <span class="ml_10"><strong>{{convertTaskName(task.taskName)}}</strong></span>
                                    </label>
                                  </div>
                                </div>
                              </div>
                              <div class="remove_task_list_item">
                                <a *ngIf="task.planId" #tooltip="matTooltip" (click)="gotoPlan(task.planId)"
                                  [matTooltip]="getPlanTitle(task.planId)" matTooltipPosition="left"
                                  matTooltipHideDelay="0"><i class="fa fa-link"
                                    style="color:#cacaca;height:18px;width:18px;vertical-align: middle!important;"></i></a>
                                <a [style.visibility]="!task.completed ? 'visible' : 'hidden'"
                                  (click)="editTask(task, ind, i)"><img src="assets/images/note_edit.svg"></a>
                                <a (click)="removeTask(task.id, ind, i)"><img src="assets/images/close-blue.svg"></a>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>

                    </div>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </div>

        <!-- <app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile> -->
      </section>
    </div>
  </section>

  <app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
  <app-footer></app-footer>
</div>