<div class="main" style="padding-bottom: 0;">
	<div class="popup-main" style="max-width: 100%;">
		<div class="popup-details" style="padding: 1rem;">
			<h4>Register</h4>
			<h3>Create an account</h3>
			<p>You must have your 10-digit access code to create an account. This code is printed on your
				ASVAB Summary Results sheet.</p>
			<p>Don't get locked out. Your email address is not required to create an account but
				supplying it ensures uninterrupted access to exploring careers if you lose your access code.</p>
			<div class="popup-form-filed">
				<form (ngSubmit)="RegisterStudent()" ngNativeValidate>
					<label for="registerAccessCode" class="sr-only">Access Code:</label> <input name="accessCode"
						type="text" id="registerAccessCode" [(ngModel)]="registerAccessCode" placeholder="Access Code"
						(change)="checkForPromoCode()" required /> <label for="registerEmail" class="sr-only">Email:</label>
					<input name="registerEmail" type="email" id="registerEmail" [(ngModel)]="registerEmail"
						placeholder="Email" required /> <label for="registerPassword1" class="sr-only">Password:</label>
					<input name="password1" type="password" [(ngModel)]="registerPassword1" placeholder="Password"
						required /> <label for="registerPassword2" class="sr-only">Retype Password</label> <input
						name="password2" type="password" [(ngModel)]="registerPassword2" placeholder="Retype Password"
						required />

					<div *ngIf="isUsingPromoCode">
						<label for="registerSubject" class="sr-only">Subject</label> <input name="registerSubject"
							type="text" id="registerSubject" [(ngModel)]="registerSubject" placeholder="Subject" required />
					</div>
					<div *ngIf="isStudentCode">
						<label for="registerStudentId" class="sr-only">Student ID (optional)</label> <input
							name="registerStudentId" type="text" [(ngModel)]="registerStudentId"
							placeholder="Student ID (optional)" />
					</div>

					<label for="optedInCommunications"> <input name="optedIn" type="checkbox"
						[(ngModel)]="optedInCommunications" id="optedInCommunications" /> I would like to receive
						email communications from the ASVAB CEP
					</label>

					<p style="color: red;">{{registrationLabel}}</p>

					<button type="submit" class="button" [disabled]="disableForm">Register</button>
				</form>
			</div>
		</div>
		<div class="popup-form-footer">
			<ul>
				<li><a (click)="onBringAsvabToYourSchool()">How can I bring the ASVAB CEP to my school?</a></li>
			</ul>
		</div>
	</div>
	<button class="close-button" aria-label="Close modal" type="button" (click)="close()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>