/* modal Structure CSS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
body {
	margin: 0;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.text-center {
	text-align: center;
}
p {
    font-size: inherit;
    line-height: 1.6;
    margin-bottom: 1rem;
    text-rendering: optimizelegibility;
	margin-top: 0;
}
.custom-modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
    z-index: 1050;
}
.custom-modal-content {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #cacaca;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    position: relative;
    outline: 0;
    font-size: 13px;
}
.custom-modal-body {
    position: relative;
    padding: 15px;
}
.modal-options {
    color: #3d4243;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
}
.modal-options .contents {
	display: inline-block;
	padding: 15px;
	width: 100%;
}

/* Column css */
.row {
	margin-left: auto;
	margin-right: auto;
	max-width: 66.4375rem;
}
.column, .columns {
	float: left;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	width: 100%;
}
@media screen and (min-width: 640px) {
	.medium-2 {
		width: 16.6667%;
	}
	.medium-10 {
		width: 83.3333%;
	}
}

/* Modal Title */
.titles {
	position:relative;
}
.pt20 {
	display: inline-block;
	padding-top: 20px;
	width: 100%;
}
.pb20 {
	padding-bottom: 20px;
	width: 100%;
	display: inline-block;
}
button {
	-moz-appearance: none;
	background-color: transparent;
	border: 0 none;
	border-radius: 3px;
	cursor: auto;
	line-height: 1;
	padding: 0;
}
.modal-options .close-button {
	color: #2f2a6a;
	cursor: pointer;
	font-size: 19px;
	font-weight: bold;
	line-height: 1;
	padding: 0;
	position: absolute;
	right: 5px;
	top: 5px;
}
.modal-options h4 {
    background-color: #e6e8e8;
    color: #3d4243;
    font-family: "Open Sans",sans-serif;
    font-size: 1rem;
    padding: 5px 25px 5px 10px;
	margin:0px 0 15px;
	font-weight: normal;
}

/* Close Bottom Button */
.modal-options .close-button-div .button {
	font-size: 12px;
	font-weight: normal;
	margin: 0;
	padding: 5px 20px;
	width: 100px;
	background: #178388 none repeat scroll 0 0;
	border: 1px solid transparent;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	line-height: 1;
	text-align: center;
	transition: all 0.25s ease-out 0s;
	vertical-align: middle;
	text-transform: uppercase;
}
.modal-options .close-button-div .button:hover, .modal-options .close-button-div .button:focus {
	background: #146f74 none repeat scroll 0 0;
	color: #fff;
}
.modal-body {
	display: inline-block;
	width: 100%;
}

/* Contact Form */
.contact-form .form-column {
	float: left;
	max-width: 370px;
	width: 100%;
}
a {
    color: #178388;
	text-decoration: none;
}
select {
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	background-color: #fafafa;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\" width=\"32\" height=\"24\" viewBox=\"0 0 32 24\"><polygon points=\"0,0 32,0 16,24\" style=\"fill: rgb(51, 51, 51)\"></polygon></svg>");
	background-position: right 7px center;
	background-repeat: no-repeat;
	background-size: 9px 6px;
	border: 1px solid #cacaca;
	border-radius: 0;
	color: #8a8a8a;
	display: inline;
	font-family: inherit;
	font-size: 12px;
	height: 1.2rem;
	line-height: normal;
	padding: 0 0.5rem;
	width: 250px;
}
.contact-form select {
	background-color: transparent;
	height: 1.25rem;
	max-width: 186px;
	padding: 0 5px;
	margin-bottom: 1rem;
}
.contact-form label {
	color: #231f20;
	float: left;
	font-weight: bold;
	max-width: 102px;
	width: 100%;
	font-size: 0.875rem;
}
.contact-form input {
	color: black;
	display: inline;
	font-size: 12px;
	height: 1.25rem;
	max-width: 236px;
	padding: 0 5px;
	margin-bottom: 1rem;
}
.contact-form input[type="radio"], .contact-form input[type="checkbox"] {
	left: 0;
	margin: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
.contact-form textarea {
	height: 119px;
	max-width: 601px;
	width: 100%;
}
.contact-form .city > input, .contact-form .state > input {
	max-width: 186px;
}
.contact-form .zip-code > input {
	max-width: 93px;
}
.contact-form .titlei {
	color: #231f20;
	float: left;
	font-size: 0.875rem;
	line-height: 12px;
	width: 250px;
}
.contact-form .radio-group .form-column {
	margin-right: 15px;
	width: auto;
	position: relative;
}
.contact-form .radio-group label {
	line-height: 12px;
	margin: 0;
	max-width: inherit;
	position: relative;
	width: auto;
}
.contact-form .radio-group label:after {
	border: 1px solid #999999;
	border-radius: 50%;
	content: "";
	display: inline-block;
	height: 14px;
	margin-left: 16px;
	vertical-align: middle;
	width: 14px;
}
.contact-form .radio-group input:checked + label:before {
	background-color: #29afb5;
	border-radius: 50%;
	content: "";
	display: inline-block;
	height: 10px;
	position: absolute;
	right: 2px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	vertical-align: middle;
	width: 10px;
}
.contact-form .btn-submit {
	background-color: #29afb5;
	color: white;
	font-weight: bold;
	height: 21px;
	margin-left: 102px;
	margin-top: 55px;
	padding: 0 21px;
	font-size: 14px;
	border-radius: 0;
	cursor: pointer;
}
.contact-form .btn-submit:hover {
	background-color: #178388;
}
.form-group {
	display: inline-block;
	margin-bottom: 15px;
	width: 100%;
}

/* Media Css */
@media screen and (min-width: 768px){
	.custom-modal-dialog {
		margin: 30px auto;
		width: 600px;
	}
	.custom-modal-content {
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	}
}

// @media screen and (min-width: 992px) {
// 	.custom-modal-lg {
// 		width: 900px;
// 	}
// }

@media screen and (max-width: 419px) {
	.military-img-modal {
		margin: 5px 0 10px;
	}
	.contact-form .form-column {
		max-width: 100%;
	}
	.contact-form .radio-group .form-column {
		width: 100%;
	}
	.contact-form .radio-group .form-column + .form-column {
		margin-bottom: 10px;
	}
	.contact-form .titlei {
		margin-bottom: 15px;
	}	
	.contact-form label {
		color: #231f20;
		float: left;
		font-weight: bold;
		max-width: 102px;
		width: 100%;
	}
	.contact-form select, 
	.contact-form input, 
	.contact-form .city > input, 
	.contact-form .state > input,
	.contact-form .zip-code > input {
		max-width: 180px;
		width: 100%;
	}
	.form-group {
		margin-bottom: 0;
	}
	.captcha-sec {
		text-align: center;
	}
	.captcha-sec .btn-submit {
	    margin-left: auto;
	}
}


.cdk-overlay-container .mat-dialog-container {
	
	@media (min-width: 992px) {
        width: 100% !important;		
	}
}