.px_20 {
    padding-left: 20px;
    padding-right: 20px;
}

.px_30 {
    padding-left: 30px;
    padding-right: 30px;
}

.pt_10 {
    padding-top: 10px;
}

.ml_auto {
    margin-left: auto;
}

.ml_10 {
    margin-left: 10px;
}

.mr_10 {
    margin-right: 10px;
}

.border_bottom {
    border-bottom: 1px solid #CDCDCD;
}

.align-items-end {
    align-items: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

@media screen and (min-width: 0em) and (max-width: 39.9375em) {
    .columns.small-10 {
        width: 83.33333%;
    }
    
    .columns.small-2 {
        width: 16.66667%;
    }
}

.non-student-account-overview {
    margin-top: 20px;

    .message_count {
        display: inline-block;
        background-image: url('/assets/images/dashboard/message_icon.svg');
        background-size: cover;
        background-repeat: no-repeat;
        min-width: 20px;
        min-height: 20px;
        font-size: 13px;
        font-weight: bold;
        color: #fff;
        text-align: center;
    }

    .demo_button_top_wrapper {
        background-color: #EEEEEE;
        padding-top: 20px;
        padding-bottom: 20px;

        a {
            font-size: 14px;
            line-height: 24px;
            color: #fff;
            background-color: #27ACAD;
            display: inline-block;
            padding: 3px 18px;
            margin: 0 auto;
        }
    }

    .row_hide {
        display: none;
    }

    .overview_header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        border-bottom: 1px solid #888888;

        @media (max-width: 991px) {
            border: none;
            margin-bottom: 20px;
        }

        h4 {
            font-size: 18px;
            padding: 10px 0;
            color: #2DA2A7;
            margin-bottom: 0;

            @media (max-width: 991px) {
                font-size: 24px;
                line-height: 19px;
            }
        }

        a {
            font-size: 14px;
            padding: 10px 0;
            color: #312A88;
            display: inline-block;  
            
            @media (max-width: 991px) {
                font-size: 12px;
            }

            + a {
                margin-left: 20px;
            }

            svg {
                width: 18px;
                height: 18px;
            }
        }
    }

    .event_items_wrapper {
        h5 {
            font-weight: bold;
            border-bottom: 2px solid #888888;
            padding-bottom: 20px;
        }
        .row {
            margin-left: -0.9375rem;
            margin-right: -0.9375rem;
        }
        .event_items {
            border-bottom: 1px solid #CDCDCD;
            padding: 20px;

            span {
                font-size: 16px;
                line-height: 24px;
                color: #4A4A4A;
                display: block;
            }
        }
        .schedule_link {
            font-size: 16px;
            display: inline-block;
            margin: 5px 0;
        }
    }

    .toggle_arrow {
        width: 0px;
        height: 0px;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 10px solid #fff;
        transition: all 0.3s ease-in-out 0s;
        display: inline-block;
        position: relative;
        top: 3px;
        margin-left: 5px;
        margin-right: 15px;

        @media (max-width: 991px) {
            border-top: transparent;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-bottom: 11px solid #2E2A6A;
            margin: 0;
        }
        
        &.active {
            transform: rotate(90deg);

            @media (max-width: 991px) {
                transform: rotate(180deg);
            }
        }
    }

    .account_overview_section {
        margin-top: 40px;

        h5 {
            font-size: 16px;
            font-weight: bold;

            @media (max-width: 991px) {
                font-size: 20px;
                line-height: 19px;
                color: #4A4A4A;
            }
        }

        table {
            width: 100%;
            margin-bottom: 0;

            th[align="center"], td[align="center"] {
                text-align: center;
            }

            thead {
                border-width: 0 0 1px 0;
                border-color: #888888;
                background-color: transparent;

                th {
                    font-weight: normal;
                    padding: 5px;
                }
            }

            tbody {
                tr {
                    &:nth-child(even) {
                        background-color: transparent;
                    }

                    td {
                        padding: 5px;

                        span {
                            + span {
                                margin-left: 8px;
                            }
                        }
                    }
                }
            }
        }

        .upcoming_events {
            @media (max-width: 767px) {
                max-width: 400px;
                min-width: 100%;
                overflow-x: auto;
            }

            table {
                border-bottom: 1px solid #888888;
                margin-bottom: 10px;

                @media (max-width: 767px) {
                    white-space: nowrap;
                }

                tr {
                    + tr {
                        border-top: 1px solid #CDCDCD;
                    }

                    td {
                        &:last-child {
                            width: 27px;
                            display: block
                        }
                    }
                }
            }
        }

        .active_student {
            @media (max-width: 767px) {
                max-width: 400px;
                min-width: 100%;
                overflow-x: auto;
            }
            
            table {
                margin-top: 20px;

                @media (max-width: 767px) {
                    white-space: nowrap;
                }

                th, td {
                    position: relative;

                    &:not(:first-child):before {
                        position: absolute;
                        content: '';
                        left: 0;
                        top: 0;
                        width: 1px;
                        height: 100%;
                        background-color: #CDCDCD;
                    }

                    &:last-child {
                        padding-left: 15px !important;
                    }
                }

                thead {
                    border-bottom: 0;
                }

                tbody {
                    tr {
                        background-color: #F3F1F1 !important;
                        border-bottom: 8px solid #fff;

                        &.table_data_group_title {
                            background-color: #ACACAC !important;
                            color: #fff;

                            td {
                              border-left: 0;  
                            }
                        }

                        td {
                            position: relative;
                        }
                    }
                }

                .active_student_checkbox {
                    display: inline-block;
                    vertical-align: middle;
                    height: 16px;
                    margin-right: 10px;
                }

                .message_count_link {
                    float: right;

                    @media (max-width: 767px) {
                        float: none;
                        margin-left: 15px;
                    }
                }
            }

            .active_student_inner {

                .active_student_group {
                    background-color: #ACACAC;

                    .active_student_inner {
                        background-color: #fff;

                        .active_student_title {
                            padding-left: 25px;
                        }
                        .active_student_content {
                            padding-left: 45px;
                        }
                    }
                }

                .active_student_title {
                    @media (max-width: 991px) {
                        position: relative;
                        padding: 20px 40px 20px 0;
                    }

                    .active_student_checkbox {
                        span {
                            font-size: 18px;
                            color: #4c44ac;
                        }
                    }
        
                    .toggle_arrow {
                        @media (max-width: 991px) {
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                        }

                        &.active {
                            @media (max-width: 991px) {
                                transform: translateY(-50%) rotate(180deg);
                            }
                        }
                    }
                }

                .active_student_content {
                    padding-left: 20px;
                    padding-right: 20px;

                    table {
                        white-space: normal;
                        margin-top: 0;

                        tr {
                            background-color: #EEEFEF !important;
                            border-bottom: 1px solid #DADADA;

                            &:last-child {
                                border-bottom: none;

                                td {
                                    padding-bottom: 30px !important;
                                }
                            }

                            td, th {
                                padding: 8px 0 !important;
                                
                                &:before {
                                    display: none;
                                }

                                ul {
                                    li {
                                        @media (max-width: 991px) {
                                            width: 20px;
                                            height: 20px;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            margin-bottom: 0 !important;
                                        }
                                    }
                                }

                               
                            }
                        }
                    }
                }
            }
        }

        .account_overview_section,
        .active_student_wrapper {
            @media (max-width: 767px) {
                max-width: 400px;
                min-width: 100%;
                overflow-x: auto;
            }
        }

        ul {
            margin: 0;

            li {
                &:before {
                    display: none;
                }
            }
        }

        
        .pending_container {
            margin-bottom: 30px;
            .pending_item {
                background-color: rgba(45,162,167,0.13);
                border-top: 1px solid #3C3C3C;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 6px 0px;
                &:last-of-type {
                    border-bottom: 1px solid #3C3C3C;
                }
                .pending_name {
                    margin-left: 10px;
                    width: 25%;
                    margin-right: 5px;
                }
                .pending_school {
                    width: 30%;
                    margin-right: 5px;
                }
                .pending_request_date {
                    width: 10%;
                    margin-right: 5px;
                    text-align: center;
                }
                .pending_action_container {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin-right: 20px;
                    width: 20%;
                }
            }
            .button.button-accept {
                margin: 0px 20px 0px 0px;
                padding: 4px 20px;
            }
        }

        @media (max-width: 767px) {
            .pending_container {
                margin-bottom: 20px;
                .pending_item {
                    .pending_name {
                        margin-left: 5px;
                        width: 15%;
                    }
                    .pending_school {
                        width: 20%;
                    }
                    .pending_request_date {
                        width: 10%;
                    }
                    .pending_action_container {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-right: 5px;
                        width: 20%;
                    }
                }
                .button.button-accept {
                    margin: 0px 20px 0px 0px;
                    padding: 4px 20px;
                }
            }
        }

        .not_started {
            display: inline-block;
            width: 10px;
            height: 10px;
            border: 1px solid #B1B1B1;
            border-radius: 50%;

            @media (max-width: 991px) {
                width: 17px;
                height: 17px;
            }
        }

        .ready_for_review {
            width: 10px;
            height: 10px;
            border: 1px solid #3C3C3C;
            display: inline-block;
            border-radius: 50%;
            position: relative;
            background-color: #27ACAD;

            @media (max-width: 991px) {
                width: 17px;
                height: 17px;
            }
        }

        .in_progress {
            width: 10px;
            height: 10px;
            border: 1px solid #3C3C3C;
            display: inline-block;
            border-radius: 50%;
            position: relative;

            @media (max-width: 991px) {
                width: 17px;
                height: 17px;
            }

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                left: 50%;
                width: 4px;
                height: 4px;
                display: block;
                background-color: #27ACAD;
                border-radius: 50%;

                @media (max-width: 991px) {
                    width: 7px;
                    height: 7px;
                }
            }
        }

        .checkmark {
            display: inline-block;
            transform: rotate(45deg);
            height: 11px;
            width: 6px;
            border-bottom: 2px solid #000;
            border-right: 2px solid #000;

            @media (max-width: 991px) {
                height: 14px;
                width: 7px;
                border-bottom: 3px solid #000;
                border-right: 3px solid #000;
            }
        }

        .progress_status_list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 5px 3px;

            @media (max-width: 991px) {
                justify-content: flex-start;
                padding: 0;
            }

            li {
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }

            span {
                display: inline-block;
            }
        }

        .active_student_search {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            border-width: 1px 0 1px 0;
            border-style: solid;
            border-color: #000;
            padding: 0 5px;

            @media (max-width: 991px) {
                justify-content: center;
                background-color: rgba(45, 162, 167, 0.10);
                padding: 10px 20px 20px;
            }

            p {
                padding: 8px 0px;
                margin-bottom: 0;
                margin-right: 10px;

                @media (max-width: 991px) {
                    font-size: 14px;
                    color: #4A4A4A;
                 }
            }

            a {
                padding: 8px 0px;

                @media (max-width: 991px) {
                   font-size: 18px;
                }
            }

            .form-group {
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                @media (max-width: 991px) {
                    justify-content: center;
                    flex-direction: column;
                }

                .form_select {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    padding: 8px 0px;

                    select {
                        min-height: 23px;
                        margin-bottom: 0;
                        border-radius: 3px;

                        @media (max-width: 991px) {
                            font-size: 14px;
                            color: #4A4A4A;
                         }
                    }
    
                    button {
                        background: #2DA2A7;
                        color: #fff;
                        cursor: pointer;
                        font-size: 16px;
                        font-weight: bold;
                        width: 23px;
                        height: 23px;
                        text-align: center;
                        outline: none;
                        margin-left: 3px;
                    }
                }
            }
        }

        .filter_list_wrapper {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
            background-color: rgba(45, 162, 167, 0.13);
            padding: 0 12px;

            .filter_list {
                display: flex;
                max-width: 90%;
                font-size: 14px;
                
                p {
                    padding: 10px 0px;
                    margin-right: 20px;
                    margin-bottom: 0;
                    flex: 1 0 auto;
                }

                .seleted_filter {
                    span {
                        padding: 10px 0px;
                        display: inline-block;

                        &:not(:last-child) {
                            margin-right: 30px;
                        }
    
                        a {
                            font-size: 23px;
                            line-height: 23px;
                            display: inline-block;
                            vertical-align: middle;
                            margin-left: 5px;
                        }
                    }
                }
            }

            .clear_filter {
                padding: 10px 0px;
            }
            
        }
        
    }
}


// filter student list modal Modal Code
.filter_student_list_modal {
    max-width: 545px;
    width: 100%;
    color: #4A4A4A;

    .mb_20 {
        margin-bottom: 20px;
    }

    .modal-header {
        position: relative;

        .close-button {
            font-size: 0;
            max-width: 10px;
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translatey(-50%);
        }
    }

    .filter_student_list_content {
        padding: 50px;


        h5 {
            font-size: 14px;
            font-weight: bold;
        }

        p {
            margin-bottom: 5px;
        }
    
        .filter_student_checkbox_item {
            display: flex;
            align-items: center;
            margin-bottom: 0;
    
            .filter_student_checkbox {
                margin-right: 10px;
            }
        }

        select {
            max-width: 191px;
            width: 100%;
            border-color: #C2D1D9;
            border-radius: 3px;
            height: 23px;
        }

        button {
            margin: 40px auto 0;
        }
    }
}

button.disabled{
    border-color: #C3D2DA;
    background-color: #C3D2DA !important;
    color: #fff !important;
    cursor:not-allowed !important;
}
// filter student list modal Modal Code Over