<div id="portfolio" class="occufind">
  <app-header></app-header>
  <app-my-asvab-header></app-my-asvab-header>

  <!--<app-left-navigation-v2-mobile></app-left-navigation-v2-mobile>
  <app-my-top-results-mobile></app-my-top-results-mobile>-->

  <section *ngIf="_utilityService.mobileOrTablet()">
    <div id="content-wrap">
    <div class="non-student-account-overview">

    <div class="demo_button_top_wrapper text-center px_20">
        <a routerLink="/learn-about-yourself">Student View</a>
    </div>


    <div class="overview_header px_20 pt_10">
        <div>
        <h4>Account Overview</h4>
        <a class="p-0" routerLink="/mentor-setting">{{userName}}</a>
        </div>
        <div>
        <a class="message_count_link" 
           *ngIf="unreadMsgCounterTotal > 0"
           (click)="openRecentMessagesDialog()"
           >
            <span class="message_count">{{unreadMsgCounterTotal}}</span>
        </a>
        <a routerLink="/mentor-setting">
            <svg _ngcontent-fty-c0="" class="svg-inline--fa fa-cog fa-w-16 fa-2x" style="color: #8D8D8D;"
            aria-hidden="true" focusable="false" data-prefix="fa" data-icon="cog" role="img"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
            <path fill="currentColor"
                d="M487.4 315.7l-42.6-24.6c4.3-23.2 4.3-47 0-70.2l42.6-24.6c4.9-2.8 7.1-8.6 5.5-14-11.1-35.6-30-67.8-54.7-94.6-3.8-4.1-10-5.1-14.8-2.3L380.8 110c-17.9-15.4-38.5-27.3-60.8-35.1V25.8c0-5.6-3.9-10.5-9.4-11.7-36.7-8.2-74.3-7.8-109.2 0-5.5 1.2-9.4 6.1-9.4 11.7V75c-22.2 7.9-42.8 19.8-60.8 35.1L88.7 85.5c-4.9-2.8-11-1.9-14.8 2.3-24.7 26.7-43.6 58.9-54.7 94.6-1.7 5.4.6 11.2 5.5 14L67.3 221c-4.3 23.2-4.3 47 0 70.2l-42.6 24.6c-4.9 2.8-7.1 8.6-5.5 14 11.1 35.6 30 67.8 54.7 94.6 3.8 4.1 10 5.1 14.8 2.3l42.6-24.6c17.9 15.4 38.5 27.3 60.8 35.1v49.2c0 5.6 3.9 10.5 9.4 11.7 36.7 8.2 74.3 7.8 109.2 0 5.5-1.2 9.4-6.1 9.4-11.7v-49.2c22.2-7.9 42.8-19.8 60.8-35.1l42.6 24.6c4.9 2.8 11 1.9 14.8-2.3 24.7-26.7 43.6-58.9 54.7-94.6 1.5-5.5-.7-11.3-5.6-14.1zM256 336c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z">
            </path>
            </svg>
        </a>
        </div>
    </div>

    <!-- Welcome Dashboard hint -->
    <div class="skills-interests-career" *ngIf="!closeHint_MENTOR_DASHBOARD_WELCOME">
      <button type="button" (click)="closeHint('MENTOR_DASHBOARD_WELCOME')" class="close" data-dismiss="modal"
        aria-label="Close">
        <img src="/assets/images/close-blue.svg" alt="Close" />
      </button>

      <div class="row row-padding">
        <div class="columns medium-12 text-left">
          <h4 class="mb-10">Welcome!</h4>
          <p class="mb-20">This is your dashboard. You can view and schedule upcoming events and monitor students'
            activity here.</p>
          <div>
            <a (click)="closeHint('MENTOR_DASHBOARD_WELCOME')" class="button button-min-width">GOT IT</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="event_items_wrapper">
        <h5 class="px_20 mb-0">Upcoming CEP Events at Your School</h5>
        <div class="event_items">
          <a (click)="showLinkedSchools()" style="font-weight: bold;">Click here</a> to add your school(s) to your account.
        </div>

        <!-- <div class="event_items">
          <div class="event_items_title">
              <div class="row">
              <div class="columns medium-11 small-10">
                  <span><strong>ASVAB Test</strong></span>
                  <span>03/25/2021</span>
              </div>

              <div class="columns medium-1 small-2">
                  <a class="toggle_arrow" (click)="expanded1 = !expanded1" [ngClass]="{'active' : !expanded1}"></a>
              </div>
              </div>
          </div>

          <div class="event_items_disc" [ngClass]="{'row_hide' : !expanded1}">
              <div class="row d-flex">
              <div class="columns medium-11 small-10">
                  <span>2:00PM</span>
                  <span>Media Center</span>
                  <span>Washington High School</span>
              </div>
              <div class="columns medium-1 small-2 d-flex align-items-end justify-start">
                  <a (click)="addDate()"><img src="assets/images/calender.svg"></a>
              </div>
              </div>
          </div>
        </div>
        <div class="event_items">
          <div class="event_items_title">
              <div class="row">
              <div class="columns medium-11 small-10">
                  <span><strong>Parent Presentation</strong></span>
                  <span>03/25/2021</span>
              </div>

              <div class="columns medium-1 small-2">
                  <a class="toggle_arrow" (click)="expanded2 = !expanded2" [ngClass]="{'active' : !expanded2}"></a>
              </div>
              </div>
          </div>

          <div class="event_items_disc" [ngClass]="{'row_hide' : !expanded2}">
              <div class="row d-flex">
              <div class="columns medium-11 small-10">
                  <span>2:00PM</span>
                  <span>Media Center</span>
                  <span>Washington High School</span>
              </div>
              <div class="columns medium-1 small-2 d-flex align-items-end justify-start">
                  <a (click)="addDate()"><img src="assets/images/calender.svg"></a>
              </div>
              </div>
          </div>
        </div> -->
        <div *ngIf="!isParent" class="px_20">
        <a (click)="bringToSchool()" class="schedule_link">Schedule an Event</a>
        </div>
    </div>

    <!-- Test Drive Dashboard hint -->
    <div class="skills-interests-career"
      *ngIf="!closeHint_MENTOR_DASHBOARD_TEST_DRIVE && closeHint_MENTOR_DASHBOARD_WELCOME">
      <button type="button" (click)="closeHint('MENTOR_DASHBOARD_TEST_DRIVE')" class="close" data-dismiss="modal"
        aria-label="Close">
        <img src="/assets/images/close-blue.svg" alt="Close" />
      </button>

      <div class="row row-padding">
        <div class="columns medium-12 text-left">
          <h4 class="mb-10">Test Drive</h4>
          <p class="mb-20">Do you want to see the assessments and planning tools your students have access to?</p>
          <div>
            <a (click)="closeHint('MENTOR_DASHBOARD_TEST_DRIVE')" routerLink="/learn-about-yourself"
              class="button button-min-width">Go to Student View</a>
          </div>
        </div>
      </div>
    </div>

    <div class="account_overview_section">
        <h5 class="px_20">Active Students</h5>

        <div *ngIf="studentPendingList?.length > 0"
          class="account_overview_section mt-0">
         <div class="active_student">
            <p class="px_20">Student Mentor Request</p>
             <div *ngFor="let studentPending of studentPendingList; let pendingIndex = index"
                  class="active_student_inner">
             <div class="px_20 border_bottom">
                 <div class="active_student_title">
                 <div class="d-flex justify-space-between flex-wrap w-100">
                     <div class="active_student_checkbox d-flex align-items-center">
                     <!-- <input class="styled-checkbox" type="checkbox" id="student1"> -->
                     <label class="styled-checkbox-label" for="student1"></label>
                     <span class="ml_10">
                         <!-- <a href="#">John Doe</a> -->
                         <span *ngIf="studentPending.firstName && studentPending.lastName">{{studentPending.firstName}}&nbsp;{{studentPending.lastName}}</span>
                         <span *ngIf="!(studentPending.firstName) && !(studentPending.lastName)">
                           {{studentPending.emailAddress}}
                         </span>
                     </span>
                     </div>

                     <div class="d-flex">
                      <a (click)="pendingAction('accept', studentPending.mentorLinkId)" 
                         class="button button-min-width button-accept"
                         style="margin-bottom: 0px"
                         >Accept</a>
                      <a (click)="pendingAction('deny', studentPending.mentorLinkId)">Deny</a>
                    </div>
                 </div>
                 
                 <a class="toggle_arrow" (click)="studentPending['expanded'] = !studentPending['expanded']" [ngClass]="{'active' : !studentPending['expanded']}"></a>
                 </div>
             </div>
             <div class="active_student_content border_bottom bg-light-gray" [ngClass]="{'row_hide' : !studentPending['expanded']}">
                 <table>
                 <colgroup>
                     <col style="width: 150px;" />
                     <col style="width: calc(100% - 150px);" />
                 </colgroup>
                 
                 <tbody>
                     <!-- <tr>
                     <td style="font-size: 12px" colspan="2">Last Updated: 03/25/2020 <a class="explain alt" style="float: right;"></a></td>
                     </tr> -->
 
                     <tr>
                     <th align="left">{{studentPending.schoolName}}</th>
                     </tr>
                     <tr>
                     <th align="left">{{getDateInvited(studentPending)}}</th>
                     </tr>
                 </tbody>
                 </table>
             </div>
             </div>
         </div>
     </div>

        <!-- <ng-container *ngIf="studentPendingList?.length > 0">
          <div class="pending_container">
            <p>Student Mentor Request</p>
            <div *ngFor="let studentPending of studentPendingList" class="pending_item">
              <div class="pending_name">
                <span *ngIf="studentPending.firstName && studentPending.lastName">{{studentPending.firstName}}&nbsp;{{studentPending.lastName}}</span>
                <span *ngIf="!(studentPending.firstName) && !(studentPending.lastName)">
                  {{studentPending.emailAddress}}
                </span>
              </div>
              <div class="pending_school">
                <span>{{studentPending.schoolName}}</span>
              </div>
              <div class="pending_request_date">
                <span>{{getDateInvited(studentPending)}}</span>
              </div>
              <div class="mr_10 pending_action_container">
                <a (click)="pendingAction('accept', studentPending.mentorLinkId)" class="button button-min-width button-accept">ACCEPT</a>
                <a (click)="pendingAction('deny', studentPending.mentorLinkId)">Decline</a>
              </div>
            </div>
          </div>
        </ng-container> -->

        <div *ngIf="studentList?.length > 0"
             class="active_student_search">
          <form>
              <div class="form-group">
              <p>Select 1 or more students: </p>
              <div class="form_select">
                  <select id="selectone" [(ngModel)]="actionSelection" name="actionSelection">
                  <option value="0">Select an action....</option>
                  <option value="1">Recommend a Calendar Date</option>
                  <option value="2">Recommend a Task</option>
                  <option value="3">Send a Message</option>
                  <option value="4" [hidden]="isParent">Create a Group</option>
                  <option value="5">Remove Student</option>
                  <option value="6" [hidden]="isParent">Remove Student from Group</option>
                  <option value="7" [hidden]="isParent">Run a report</option>
                  </select>
                  <button class="searchButton" type="submit"
                  [disabled]="actionSelection == 0 || selectedStudents?.length == 0"
                  [ngClass]="actionSelection == 0 || selectedStudents?.length == 0 ? 'disabled' : ''"
                  (click)="startActionSelection(actionSelection)">
                  <svg class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true"
                      focusable="false" data-prefix="fa" data-icon="angle-right" role="img"
                      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
                      <path fill="currentColor"
                      d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                      </path>
                  </svg>
                  </button>
              </div>
              </div>
          </form>
          <hr>
          <a class="p-0" *ngIf="!isParent" (click)="showAvailableFiltersDialog()">Filter list</a>
        </div>

        <ng-container *ngIf="studentList?.length == 0">
          <div class="active_student" style="border-top: 1px solid black; border-bottom: 1px solid black;">
            <p class="px_20" style="margin-top: 1rem; margin-bottom: 1rem">
              <b>You are not currently linked with any students.</b> <br/>
              Students must invite you to be their mentor. Students supply your email address to initiate the
              invitation. You will then
              receive a notification which you must accept. Then, you can view their progress, send messages, and
              add
              dates and task to their calendar.
            </p>
          </div>
        </ng-container>
    </div>

    <div *ngIf="studentList?.length > 0"
         class="account_overview_section mt-0">
        <div class="active_student">
            <div
              *ngFor="let student of studentList 
              | mentorDashboardStudentFilter: selectedFilters  
              | orderBy: 'lastName'; let i = index;"
              class="active_student_inner">
              <ng-container *ngIf="!student.group">
              <div class="px_20 border_bottom">
                  <div class="active_student_title">
                  <div class="d-flex align-items-center justify-space-between flex-wrap w-100">
                      <div class="active_student_checkbox d-flex align-items-center">
                      <!-- <input class="styled-checkbox" type="checkbox" id="student1">
                      <label class="styled-checkbox-label" for="student1"></label> -->
                      <input class="styled-checkbox" type="checkbox" id="student{{i}}"
                      (click)="updateSelectedStudentList(student.mentorLinkId, $event.target.checked)">
                      <label class="styled-checkbox-label" for="student{{i}}"></label>
                      <span class="ml_10">
                          <!-- <a href="#">John Doe</a> -->
                          <a routerLink="/mentor-student-detail/{{student.mentorLinkId}}">
                            <ng-container *ngIf="student.firstName && student.lastName">
                              {{student.firstName}}&nbsp;{{student.lastName}}
                            </ng-container>
                            <ng-container *ngIf="!student.firstName && !student.lastName">
                              {{student.emailAddress}}
                            </ng-container>
                            <!-- <ng-container *ngIf="student.group">
                              <br /> GROUP: {{student.group.groupName}}
                            </ng-container> -->
                          </a>
                      </span>
                      </div>
                      <!-- <a class="message_count_link ml_auto" (click)="openRecentMessagesDialog()">
                      <span class="message_count">1</span>
                      </a> -->
                      <a class="message_count_link" (click)="openRecentMessagesDialog(student)">
                        <span class="message_count" *ngIf="(student.unreadMessages?.length +
                      student.unreadLogs?.length) > 0">{{student.unreadMessages.length +
                          student.unreadLogs.length}}</span>
                      </a>
                  </div>
                  <a class="toggle_arrow" (click)="student['expanded'] = !student['expanded']" [ngClass]="{'active' : !student['expanded']}"></a>
                  </div>
              </div>
              <div class="active_student_content border_bottom bg-light-gray" [ngClass]="{'row_hide' : !student['expanded']}">
                  <table>
                  <colgroup>
                      <col style="width: 150px;" />
                      <col style="width: calc(100% - 150px);" />
                  </colgroup>
                  
                  <tbody>
                      <tr>
                      <td style="font-size: 12px" colspan="2">Last Updated: {{getStudentLastUpdateDate(student)}}<a (click)="openStatusLegend()" class="explain alt" style="float: right;"></a></td>
                      </tr>

                      <tr>
                      <th align="left">FYI</th>
                      <td align="left">
                          <ul class="progress_status_list">
                          <li>
                              <!-- <span class="checkmark"></span> -->
                              <span [ngClass]="getFYIStatusCssClass(student.isFyiCompleted)"></span>
                          </li>
                          </ul>
                      </td>
                      </tr>
                      <tr>
                      <th align="left">Portfolio</th>
                      <td align="left">
                          <ul class="progress_status_list">
                          <li>
                              <!-- <span class="not_started"></span> -->
                              <span [ngClass]="getPortfolioStatusCssClass(student.portfolio)"></span>
                          </li>
                          </ul>
                      </td>
                      </tr>
                      <tr>
                      <th align="left">Career Plans</th>
                      <td align="left">
                          <ul class="progress_status_list">
                          <!-- <li>
                              <span class="in_progress"></span>
                          </li>
                          <li>
                              <span class="ready_for_review"></span>
                          </li> -->
                          <li *ngFor="let occupationPlan of student.occupationPlans; let i = index;">
                            <span [ngClass]="getOccupationPlanStatusCssClass(occupationPlan, student.mentorLinkId)"></span>
                          </li>
                          <li *ngIf="student.occupationPlans?.length == 0" class="not_started"></li>
                          </ul>
                      </td>
                      </tr>
                      <tr>
                      <th align="left" valign="top">Activities</th>
                      <td align="left">
                          <ul class="progress_status_list">
                          <!-- <li>
                              <span class="checkmark"></span>
                          </li>
                          <li>
                              <span class="ready_for_review"></span>
                          </li> -->
                          <li *ngFor="let activity of student.activitySubmissions; let i = index;">
                            <span [ngClass]="getActivityStatusCssClass(activity)"></span>
                          </li>
                          <li *ngIf="student.activitySubmissions?.length == 0" class="not_started"></li>
                          </ul>
                      </td>
                      </tr>

                  </tbody>
                  </table>
              </div>
              </ng-container>
            </div>
            <!-- <div class="active_student_inner">
            <div class="px_20 border_bottom">
                <div class="active_student_title">
                <div class="d-flex align-items-center flex-wrap w-100">
                    <div class="active_student_checkbox d-flex align-items-center">
                    <input class="styled-checkbox" type="checkbox" id="student1">
                    <label class="styled-checkbox-label" for="student1"></label>
                    <span class="ml_10">
                        <a href="#">Student Name</a>
                    </span>
                    </div>
                </div>
                <a class="toggle_arrow" (click)="expanded4 = !expanded4" [ngClass]="{'active' : !expanded4}"></a>
                </div>
            </div>
            <div class="active_student_content border_bottom bg-light-gray" [ngClass]="{'row_hide' : !expanded4}">
                <table>
                <colgroup>
                    <col style="width: 150px;" />
                    <col style="width: calc(100% - 150px);" />
                </colgroup>
                <tbody>
                    <tr>
                    <td style="font-size: 12px" colspan="2">Last Updated: 03/25/2020 <a class="explain alt" style="float: right;"></a></td>
                    </tr>
                    <tr>
                    <th align="left">FYI</th>
                    <td align="left">
                        <ul class="progress_status_list">
                        <li>
                            <span class="checkmark"></span>
                        </li>
                        </ul>
                    </td>
                    </tr>
                    <tr>
                    <th align="left">Portfolio</th>
                    <td align="left">
                        <ul class="progress_status_list">
                        <li>
                            <span class="not_started"></span>
                        </li>
                        </ul>
                    </td>
                    </tr>
                    <tr>
                    <th align="left">Career Plans</th>
                    <td align="left">
                        <ul class="progress_status_list">
                        <li>
                            <span class="in_progress"></span>
                        </li>
                        <li>
                            <span class="ready_for_review"></span>
                        </li>
                        </ul>
                    </td>
                    </tr>
                    <tr>
                    <th align="left" valign="top">Activities</th>
                    <td align="left">
                        <ul class="progress_status_list">
                        <li>
                            <span class="checkmark"></span>
                        </li>
                        <li>
                            <span class="ready_for_review"></span>
                        </li>
                        </ul>
                    </td>
                    </tr>
                </tbody>
                </table>
            </div>
            </div>
            <div class="active_student_inner">
            <div class="px_20 border_bottom">
                <div class="active_student_title">
                <div class="d-flex align-items-center flex-wrap w-100">
                    <div class="active_student_checkbox d-flex align-items-center">
                    <input class="styled-checkbox" type="checkbox" id="student1">
                    <label class="styled-checkbox-label" for="student1"></label>
                    <span class="ml_10">
                        <a href="#">Student Name</a>
                    </span>
                    </div>
                </div>
                <a class="toggle_arrow" (click)="expanded5 = !expanded5" [ngClass]="{'active' : !expanded5}"></a>
                </div>
            </div>
            <div class="active_student_content border_bottom bg-light-gray" [ngClass]="{'row_hide' : !expanded5}">
                <table>
                <colgroup>
                    <col style="width: 150px;" />
                    <col style="width: calc(100% - 150px);" />
                </colgroup>
                
                <tbody>
                    <tr>
                    <td style="font-size: 12px" colspan="2">Last Updated: 03/25/2020 <a class="explain alt" style="float: right;"></a></td>
                    </tr>

                    <tr>
                    <th align="left">FYI</th>
                    <td align="left">
                        <ul class="progress_status_list">
                        <li>
                            <span class="checkmark"></span>
                        </li>
                        </ul>
                    </td>
                    </tr>
                    <tr>
                    <th align="left">Portfolio</th>
                    <td align="left">
                        <ul class="progress_status_list">
                        <li>
                            <span class="not_started"></span>
                        </li>
                        </ul>
                    </td>
                    </tr>
                    <tr>
                    <th align="left">Career Plans</th>
                    <td align="left">
                        <ul class="progress_status_list">
                        <li>
                            <span class="in_progress"></span>
                        </li>
                        <li>
                            <span class="ready_for_review"></span>
                        </li>
                        </ul>
                    </td>
                    </tr>
                    <tr>
                    <th align="left" valign="top">Activities</th>
                    <td align="left">
                        <ul class="progress_status_list">
                        <li>
                            <span class="checkmark"></span>
                        </li>
                        <li>
                            <span class="ready_for_review"></span>
                        </li>
                        </ul>
                    </td>
                    </tr>
                </tbody>
                </table>
            </div>
            </div> -->
            <div 
              *ngFor="let group of studentGroups | mentorDashboardGroupFilter: selectedFilters | orderBy: 'groupName'; let y = index;"
              class="active_student_inner">
              <div class="active_student_group">
                  <div class="px_20 border_bottom">
                  <div class="active_student_title">
                      <div class="d-flex align-items-center flex-wrap w-100">
                      <div class="active_student_checkbox d-flex align-items-center">
                          <!-- <input class="styled-checkbox" type="checkbox" id="student1">
                          <label class="styled-checkbox-label" for="student1"></label> -->
                          <input class="styled-checkbox" type="checkbox" id="group{{y}}"
                          (click)="updateSelectedStudentListByGroup(group.groupId, $event.target.checked)">
                          <label class="styled-checkbox-label" for="group{{y}}"></label>
                          <span class="ml_10">
                          <a class="text-white">{{group.groupName}}</a>
                          </span>
                      </div>
                      </div>
                      <a class="toggle_arrow" (click)="group['expanded'] = !group['expanded']" [ngClass]="{'active' : !group['expanded']}"></a>
                  </div>
                  </div>
                  <div 
                    *ngFor="let student of group.students 
                    | mentorDashboardStudentFilter: selectedFilters     
                    | orderBy: 'lastName' : 'desc'; let i = index;"
                    class="active_student_inner" [ngClass]="{'row_hide' : !group['expanded']}">
                    <div class="px_20 border_bottom">
                        <div class="active_student_title">
                        <div class="d-flex align-items-center justify-space-between flex-wrap w-100">
                            <div class="active_student_checkbox d-flex align-items-center">
                            <!-- <input class="styled-checkbox" type="checkbox" id="student1">
                            <label class="styled-checkbox-label" for="student1"></label>
                            <span class="ml_10">
                                <a href="#">Student Name</a>
                            </span> -->
                              <input class="styled-checkbox" type="checkbox" id="student{{i}}-{{y}}"
                                [checked]="getChecked(student.mentorLinkId)"
                                (change)="updateSelectedStudentList(student.mentorLinkId, $event.target.checked)">
                              <label class="styled-checkbox-label" for="student{{i}}-{{y}}"></label>
                            <!-- <a class="message_count_link ml_auto" (click)="openRecentMessagesDialog()">
                            <span class="message_count">1</span>
                            </a> -->
                            <span class="ml_10">
                              <a routerLink="/mentor-student-detail/{{student.mentorLinkId}}">
                                <ng-container *ngIf="student.firstName && student.lastName">
                                  {{student.firstName}}&nbsp;{{student.lastName}}
                                </ng-container>
                                <ng-container *ngIf="!student.firstName && !student.lastName">
                                  {{student.emailAddress}}
                                </ng-container>
                                <!-- <ng-container *ngIf="student.group">
                                  <br /> GROUP: {{student.group.groupName}}
                                </ng-container> -->
                              </a>
                            </span>
                          </div>
                          <a class="message_count_link" (click)="openRecentMessagesDialog(student)">
                            <span class="message_count" *ngIf="(student.unreadMessages?.length +
                                student.unreadLogs?.length) > 0">{{student.unreadMessages?.length +
                              student.unreadLogs?.length}}</span>
                          </a>
                        </div>
                        <a class="toggle_arrow" (click)="student['expanded'] = !student['expanded']" [ngClass]="{'active' : !student['expanded']}"></a>
                        </div>
                    </div>
                    <div class="active_student_content border_bottom bg-light-gray" [ngClass]="{'row_hide' : !student['expanded']}">
                        <table>
                        <colgroup>
                            <col style="width: 150px;" />
                            <col style="width: calc(100% - 150px);" />
                        </colgroup>
                        
                        <tbody>

                          <tr>
                            <td style="font-size: 12px" colspan="2">Last Updated: {{getStudentLastUpdateDate(student)}}<a (click)="openStatusLegend()" class="explain alt" style="float: right;"></a></td>
                            </tr>
      
                            <tr>
                            <th align="left">FYI</th>
                            <td align="left">
                                <ul class="progress_status_list">
                                <li>
                                    <!-- <span class="checkmark"></span> -->
                                    <span [ngClass]="getFYIStatusCssClass(student.isFyiCompleted)"></span>
                                </li>
                                </ul>
                            </td>
                            </tr>
                            <tr>
                            <th align="left">Portfolio</th>
                            <td align="left">
                                <ul class="progress_status_list">
                                <li>
                                    <!-- <span class="not_started"></span> -->
                                    <span [ngClass]="getPortfolioStatusCssClass(student.portfolio)"></span>
                                </li>
                                </ul>
                            </td>
                            </tr>
                            <tr>
                            <th align="left">Career Plans</th>
                            <td align="left">
                                <ul class="progress_status_list">
                                <!-- <li>
                                    <span class="in_progress"></span>
                                </li>
                                <li>
                                    <span class="ready_for_review"></span>
                                </li> -->
                                <li *ngFor="let occupationPlan of student.occupationPlans; let i = index;">
                                  <span [ngClass]="getOccupationPlanStatusCssClass(occupationPlan, student.mentorLinkId)"></span>
                                </li>
                                <li *ngIf="student.occupationPlans?.length == 0" class="not_started"></li>
                                </ul>
                            </td>
                            </tr>
                            <tr>
                            <th align="left" valign="top">Activities</th>
                            <td align="left">
                                <ul class="progress_status_list">
                                <!-- <li>
                                    <span class="checkmark"></span>
                                </li>
                                <li>
                                    <span class="ready_for_review"></span>
                                </li> -->
                                <li *ngFor="let activity of student.activitySubmissions; let i = index;">
                                  <span [ngClass]="getActivityStatusCssClass(activity)"></span>
                                </li>
                                <li *ngIf="student.activitySubmissions?.length == 0" class="not_started"></li>
                                </ul>
                            </td>
                            </tr>

                            <!-- <tr>
                            <td style="font-size: 12px" colspan="2">Last Updated: 03/25/2020 <a class="explain alt" style="float: right;"></a></td>
                            </tr>

                            <tr>
                            <th align="left">FYI</th>
                            <td align="left">
                                <ul class="progress_status_list">
                                <li>
                                    <span class="checkmark"></span>
                                </li>
                                </ul>
                            </td>
                            </tr>
                            <tr>
                            <th align="left">Portfolio</th>
                            <td align="left">
                                <ul class="progress_status_list">
                                <li>
                                    <span class="not_started"></span>
                                </li>
                                </ul>
                            </td>
                            </tr>
                            <tr>
                            <th align="left">Career Plans</th>
                            <td align="left">
                                <ul class="progress_status_list">
                                <li>
                                    <span class="in_progress"></span>
                                </li>
                                <li>
                                    <span class="ready_for_review"></span>
                                </li>
                                </ul>
                            </td>
                            </tr>
                            <tr>
                            <th align="left" valign="top">Activities</th>
                            <td align="left">
                                <ul class="progress_status_list">
                                <li>
                                    <span class="checkmark"></span>
                                </li>
                                <li>
                                    <span class="ready_for_review"></span>
                                </li>
                                </ul>
                            </td>
                            </tr> -->

                            



                        </tbody>
                        </table>
                    </div>
                  </div>
              </div>
            </div>
            <!-- <div class="active_student_inner">
            <div class="px_20 border_bottom">
                <div class="active_student_title">
                <div class="d-flex align-items-center flex-wrap w-100">
                    <div class="active_student_checkbox d-flex align-items-center">
                    <input class="styled-checkbox" type="checkbox" id="student1">
                    <label class="styled-checkbox-label" for="student1"></label>
                    <span class="ml_10">
                        <a href="#">Student Name</a>
                    </span>
                    </div>
                </div>
                <a class="toggle_arrow" (click)="expanded7 = !expanded7" [ngClass]="{'active' : !expanded7}"></a>
                </div>
            </div>
            <div class="active_student_content border_bottom bg-light-gray" [ngClass]="{'row_hide' : !expanded7}">
                <table>
                <colgroup>
                    <col style="width: 150px;" />
                    <col style="width: calc(100% - 150px);" />
                </colgroup>
                
                <tbody>
                    <tr>
                    <td style="font-size: 12px" colspan="2">Last Updated: 03/25/2020 <a class="explain alt" style="float: right;"></a></td>
                    </tr>

                    <tr>
                    <th align="left">FYI</th>
                    <td align="left">
                        <ul class="progress_status_list">
                        <li>
                            <span class="checkmark"></span>
                        </li>
                        </ul>
                    </td>
                    </tr>
                    <tr>
                    <th align="left">Portfolio</th>
                    <td align="left">
                        <ul class="progress_status_list">
                        <li>
                            <span class="not_started"></span>
                        </li>
                        </ul>
                    </td>
                    </tr>
                    <tr>
                    <th align="left">Career Plans</th>
                    <td align="left">
                        <ul class="progress_status_list">
                        <li>
                            <span class="in_progress"></span>
                        </li>
                        <li>
                            <span class="ready_for_review"></span>
                        </li>
                        </ul>
                    </td>
                    </tr>
                    <tr>
                    <th align="left" valign="top">Activities</th>
                    <td align="left">
                        <ul class="progress_status_list">
                        <li>
                            <span class="checkmark"></span>
                        </li>
                        <li>
                            <span class="ready_for_review"></span>
                        </li>
                        </ul>
                    </td>
                    </tr>
                </tbody>
                </table>
            </div>
            </div> -->
        </div>
    </div>

    <div *ngIf="!isParent" class="bg-light-gray font-16 px_20">
        <br>
        <p>ASVAB CEP POCs</p>
        <p>
        <strong>Test Coordinator:</strong> <br>
        Mr. William Felder <br>
        (410) 874-6343 <br>
        <a href="mailto:@gmail.com?subject=ASVAB CEP inquiries">Email</a>
        </p>
        <p class="mb-0">
        <strong>Program Manager:</strong> <br>
        Mr. Craig Gilman  <br>
        (410) 874-6341  <br>
        <a href="mailto:@gmail.com?subject=ASVAB CEP inquiries">Email</a>
        </p>
        <br>
    </div>
    </div>
</div>
  </section>

  <section *ngIf="!_utilityService.mobileOrTablet()" id="content-wrap" class="left-nav-expanded-wrap" >
    <div class="row">
      <!-- <app-left-navigation-v2-expanded [selectedTab]="''" (menuCollapsed)="onLeftNavCollapsed($event)">
      </app-left-navigation-v2-expanded> -->

      <app-left-navigation-v2-mentor [selectedTab]="'explore'">
      </app-left-navigation-v2-mentor>

      <section *ngIf="leftNavCollapsed" id="main-content" class="left-navigation-expanded" role="main">

        <div class="non-student-account-overview">

          <div class="overview_header">
            <h4>Account Overview</h4>
            <div>
              <a routerLink="/mentor-setting">{{userName}}</a>
              <a routerLink="/mentor-setting">
                <svg _ngcontent-fty-c0="" class="svg-inline--fa fa-cog fa-w-16 fa-2x" style="color: #8D8D8D;"
                  aria-hidden="true" focusable="false" data-prefix="fa" data-icon="cog" role="img"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                  <path fill="currentColor"
                    d="M487.4 315.7l-42.6-24.6c4.3-23.2 4.3-47 0-70.2l42.6-24.6c4.9-2.8 7.1-8.6 5.5-14-11.1-35.6-30-67.8-54.7-94.6-3.8-4.1-10-5.1-14.8-2.3L380.8 110c-17.9-15.4-38.5-27.3-60.8-35.1V25.8c0-5.6-3.9-10.5-9.4-11.7-36.7-8.2-74.3-7.8-109.2 0-5.5 1.2-9.4 6.1-9.4 11.7V75c-22.2 7.9-42.8 19.8-60.8 35.1L88.7 85.5c-4.9-2.8-11-1.9-14.8 2.3-24.7 26.7-43.6 58.9-54.7 94.6-1.7 5.4.6 11.2 5.5 14L67.3 221c-4.3 23.2-4.3 47 0 70.2l-42.6 24.6c-4.9 2.8-7.1 8.6-5.5 14 11.1 35.6 30 67.8 54.7 94.6 3.8 4.1 10 5.1 14.8 2.3l42.6-24.6c17.9 15.4 38.5 27.3 60.8 35.1v49.2c0 5.6 3.9 10.5 9.4 11.7 36.7 8.2 74.3 7.8 109.2 0 5.5-1.2 9.4-6.1 9.4-11.7v-49.2c22.2-7.9 42.8-19.8 60.8-35.1l42.6 24.6c4.9 2.8 11 1.9 14.8-2.3 24.7-26.7 43.6-58.9 54.7-94.6 1.5-5.5-.7-11.3-5.6-14.1zM256 336c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z">
                  </path>
                </svg>
              </a>
              <a class="message_count_link" (click)="openRecentMessagesDialog()" *ngIf="unreadMsgCounterTotal > 0">
                <span class="message_count">{{unreadMsgCounterTotal}}</span>
              </a>
            </div>
          </div>


          <!-- Welcome Dashboard hint -->
          <div class="skills-interests-career" *ngIf="!closeHint_MENTOR_DASHBOARD_WELCOME">
            <button type="button" (click)="closeHint('MENTOR_DASHBOARD_WELCOME')" class="close" data-dismiss="modal"
              aria-label="Close">
              <img src="/assets/images/close-blue.svg" alt="Close" />
            </button>

            <div class="row row-padding">
              <div class="columns medium-12 text-left">
                <h4 class="mb-10">Welcome!</h4>
                <p class="mb-20">This is your dashboard. You can view and schedule upcoming events and monitor students'
                  activity here.</p>
                <div>
                  <a (click)="closeHint('MENTOR_DASHBOARD_WELCOME')" class="button button-min-width">GOT IT</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Upcoming Events -->
          <div class="account_overview_section">
            <h5>Upcoming CEP Events at Your School</h5>
            <ng-container>
              <div class="upcoming_events">
                <table>
                  <thead>
                    <th style="width:20%;">Event</th>
                    <th style="width:15%;">Date</th>
                    <th style="width:15%;">Time</th>
                    <th style="width:25%;">School</th>
                    <th style="width:20%;">Location</th>
                    <th style="width:5%;">&nbsp;</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let event of eventList; let i = index;">
                      <td>ASVAB Test</td>
                      <td>01/25/2021</td>
                      <td>2:00PM</td>
                      <td>Washington High School</td>
                      <td>Media Center</td>
                      <td align="right"><a (click)="addDate()"><img src="assets/images/calender.svg" width="17"></a>
                      </td>
                    </tr>
                    <td *ngIf="eventList?.length == 0" colspan="6"
                      style="padding-top: 1rem;padding-bottom: 1rem;padding-left:0;">
                      <a (click)="showLinkedSchools()" style="font-weight: bold;">Click here</a> to add your school(s) to your account.
                    </td>
                  </tbody>
                </table>
              </div>
            </ng-container>
            <a *ngIf="!isParent" (click)="bringToSchool()">Schedule an Event</a>
          </div>

          <!-- Test Drive Dashboard hint -->
          <div class="skills-interests-career"
            *ngIf="!closeHint_MENTOR_DASHBOARD_TEST_DRIVE && closeHint_MENTOR_DASHBOARD_WELCOME">
            <button type="button" (click)="closeHint('MENTOR_DASHBOARD_TEST_DRIVE')" class="close" data-dismiss="modal"
              aria-label="Close">
              <img src="/assets/images/close-blue.svg" alt="Close" />
            </button>

            <div class="row row-padding">
              <div class="columns medium-12 text-left">
                <h4 class="mb-10">Test Drive</h4>
                <p class="mb-20">Do you want to see the assessments and planning tools your students have access to?</p>
                <div>
                  <a (click)="closeHint('MENTOR_DASHBOARD_TEST_DRIVE')" routerLink="/learn-about-yourself"
                    class="button button-min-width">Go to Student View</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Active Students -->
          <div class="account_overview_section">
            <h5>Active Students</h5>

            <ng-container *ngIf="studentPendingList?.length > 0">
              <div class="pending_container">
                <p>Student Mentor Request</p>
                <div *ngFor="let studentPending of studentPendingList" class="pending_item">
                  <div class="pending_name">
                    <span *ngIf="studentPending.firstName && studentPending.lastName">{{studentPending.firstName}}&nbsp;{{studentPending.lastName}}</span>
                    <span *ngIf="!(studentPending.firstName) && !(studentPending.lastName)">
                      {{studentPending.emailAddress}}
                    </span>
                  </div>
                  <div class="pending_school">
                    <span>{{studentPending.schoolName}}</span>
                  </div>
                  <div class="pending_request_date">
                    <span>{{getDateInvited(studentPending)}}</span>
                  </div>
                  <div class="mr_10 pending_action_container">
                    <a (click)="pendingAction('accept', studentPending.mentorLinkId)" class="button button-min-width button-accept">ACCEPT</a>
                    <a (click)="pendingAction('deny', studentPending.mentorLinkId)">Decline</a>
                  </div>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="studentList?.length > 0">
              <ul class="progress_status_list">
                <li>
                  <span class="not_started mr_10"></span>
                  <span>Not started</span>
                </li>
                <li>
                  <span class="in_progress mr_10"></span>
                  <span>In progress</span>
                </li>
                <li>
                  <span class="ready_for_review mr_10"></span>
                  <span>Ready for review</span>
                </li>
                <li>
                  <span class="checkmark mr_10"></span>
                  <span>Completed</span>
                </li>
              </ul>

              <div class="active_student_search">
                <form>
                  <div class="form-group">
                    <p>Select 1 or more students: </p>
                    <div class="form_select">
                      <select id="selectone" [(ngModel)]="actionSelection" name="actionSelection">
                        <option value="0">Select action....</option>
                        <option value="1">Recommend a Calendar Date</option>
                        <option value="2">Recommend a Task</option>
                        <option value="3">Send a Message</option>
                        <option value="4" [hidden]="isParent">Create a Group</option>
                        <option value="5">Remove Student</option>
                        <option value="6" [hidden]="isParent">Remove Student from Group</option>
                        <option value="7" [hidden]="isParent">Run a report</option>
                      </select>
                      <button _ngcontent-fut-c11="" class="searchButton" type="submit"
                        [disabled]="actionSelection == 0 || selectedStudents?.length == 0"
                        [ngClass]="actionSelection == 0 || selectedStudents?.length == 0 ? 'disabled' : ''"
                        (click)="startActionSelection(actionSelection)">
                        <svg _ngcontent-fut-c11="" class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true"
                          focusable="false" data-prefix="fa" data-icon="angle-right" role="img"
                          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
                          <path fill="currentColor"
                            d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                          </path>
                        </svg>
                      </button>
                    </div>
                  </div>
                </form>
                <a *ngIf="!isParent" (click)="showAvailableFiltersDialog()">Filter list</a>
              </div>

              <div class="filter_list_wrapper" *ngIf="selectedFilters">
                <div class="filter_list">
                  <p><b>Filters set:</b></p>
                  <div class="seleted_filter">
                    <span *ngIf="selectedFilters.groups?.length > 0">
                      <ng-container *ngFor="let group of selectedFilters.groups">
                        {{group}} <a (click)="removeGroupFilter(group)">×</a>
                      </ng-container>
                    </span>
                    <span *ngIf="selectedFilters.graduationDates?.length > 0">
                      <ng-container *ngFor="let graduationDate of selectedFilters.graduationDates">
                        Grad:&nbsp;{{graduationDate}} <a (click)="removeGraduationDateFilter(graduationDate)">×</a>
                      </ng-container>
                    </span>
                    <span *ngIf="selectedFilters.educationLevels?.length > 0">
                      <ng-container *ngFor="let educationLevel of selectedFilters.educationLevels">
                        Grade:&nbsp;{{educationLevel}} <a (click)="removeEducationLevelFilter(educationLevel)">×</a>
                      </ng-container>
                    </span>
                    <span *ngIf="selectedFilters.genderFilter">
                      {{selectedFilters.genderFilter}} <a (click)="removeSelectedFilter('genderFilter')">×</a>
                    </span>
                    <span *ngIf="selectedFilters.asvabAdminMonth">
                      Month:&nbsp;{{selectedFilters.asvabAdminMonth}} <a
                        (click)="removeSelectedFilter('asvabAdminMonth')">×</a>
                    </span>
                    <span *ngIf="selectedFilters.asvabAdminYear">
                      Year:&nbsp;{{selectedFilters.asvabAdminYear}} <a
                        (click)="removeSelectedFilter('asvabAdminYear')">×</a>
                    </span>
                    <span *ngIf="selectedFilters.studentName">
                      Name:&nbsp;{{selectedFilters.studentName}} <a (click)="removeSelectedFilter('studentName')">×</a>
                    </span>
                  </div>
                </div>
                <a (click)="clearSelectedFilters()" class="clear_filter">Clear</a>
              </div>

              <div class="active_student">
                <table>
                  <thead>
                    <th style="width:25%;">Student Name</th>
                    <th style="text-align: center;width:5%;">FYI</th>
                    <th style="text-align: center;width:10%;">Portfolio</th>
                    <th style="text-align: center;width:20%;">Career Plans</th>
                    <th style="text-align: center;width:20%;">Activities</th>
                    <th style="width:20%;">Last Update</th>
                  </thead>

                  <tbody>
                    <ng-container *ngFor="let student of studentList 
                    | mentorDashboardStudentFilter: selectedFilters  
                    | orderBy: 'lastName'; let i = index;">
                      <tr *ngIf="!student.group">
                        <td style="text-overflow:ellipsis;
                      overflow:hidden;
                      white-space: nowrap;width:25%;">
                          <div class="active_student_checkbox">
                            <input class="styled-checkbox" type="checkbox" id="student{{i}}"
                              (click)="updateSelectedStudentList(student.mentorLinkId, $event.target.checked)">
                            <label class="styled-checkbox-label" for="student{{i}}"></label>
                          </div>
                          <a routerLink="/mentor-student-detail/{{student.mentorLinkId}}">
                            <ng-container *ngIf="student.firstName && student.lastName">
                              {{student.firstName}}&nbsp;{{student.lastName}}
                            </ng-container>
                            <ng-container *ngIf="!student.firstName && !student.lastName">
                              {{student.emailAddress}}
                            </ng-container>
                            <ng-container *ngIf="student.group">
                              <br /> GROUP: {{student.group.groupName}}
                            </ng-container>
                          </a>
                        </td>
                        <td style="text-align: center;">
                          <span [ngClass]="getFYIStatusCssClass(student.isFyiCompleted)"></span>
                        </td>
                        <td style="text-align: center;">
                          <span [ngClass]="getPortfolioStatusCssClass(student.portfolio)"></span>
                        </td>
                        <td style="text-align: center;">
                          <ng-container *ngFor="let occupationPlan of student.occupationPlans; let i = index;">
                            <span [ngClass]="getOccupationPlanStatusCssClass(occupationPlan, student.mentorLinkId)"></span>
                          </ng-container>
                          <span *ngIf="student.occupationPlans?.length == 0" class="not_started"></span>
                        </td>
                        <td style="text-align: center;">
                          <ng-container *ngFor="let activity of student.activitySubmissions; let i = index;">
                            <span [ngClass]="getActivityStatusCssClass(activity)"></span>
                          </ng-container>
                          <span *ngIf="student.activitySubmissions?.length == 0" class="not_started"></span>
                        </td>
                        <td>
                          <span>{{getStudentLastUpdateDate(student)}}</span>
                          <a class="message_count_link" (click)="openRecentMessagesDialog(student)">
                            <span class="message_count" *ngIf="(student.unreadMessages?.length +
                          student.unreadLogs?.length) > 0">{{student.unreadMessages.length +
                              student.unreadLogs.length}}</span>
                          </a>
                        </td>
                      </tr>
                    </ng-container>

                    <tr *ngIf="studentGroups?.length > 0" style="background-color: transparent !important;">
                      <td colspan="6" height="30px"></td>
                    </tr>

                    <ng-container
                      *ngFor="let group of studentGroups | mentorDashboardGroupFilter: selectedFilters | orderBy: 'groupName'; let y = index;">
                      <tr *ngIf="group.students?.length > 0" class="table_data_group_title">
                        <td colspan="5">
                          <a class="toggle_arrow" (click)="group.expanded = !group.expanded"
                            [ngClass]="{'active' : !group.expanded}"></a>
                          <div class="active_student_checkbox">
                            <input class="styled-checkbox" type="checkbox" id="group{{y}}"
                              (click)="updateSelectedStudentListByGroup(group.groupId, $event.target.checked)">
                            <label class="styled-checkbox-label" for="group{{y}}"></label>
                          </div>
                          <span> {{group.groupName}}</span>
                        </td>
                        <td style="text-align:right;">{{group.students?.length}} student(s)</td>
                      </tr>

                      <tr *ngFor="let student of group.students 
                      | mentorDashboardStudentFilter: selectedFilters     
                      | orderBy: 'lastName' : 'desc'; let i = index;" [ngClass]="{'row_hide' : group.expanded}">
                        <td style="text-overflow:ellipsis;
                            overflow:hidden;
                            white-space: nowrap;width:25%;">
                          <div class="active_student_checkbox">
                            <input class="styled-checkbox" type="checkbox" id="student{{i}}-{{y}}"
                              [checked]="getChecked(student.mentorLinkId)"
                              (change)="updateSelectedStudentList(student.mentorLinkId, $event.target.checked)">
                            <label class="styled-checkbox-label" for="student{{i}}-{{y}}"></label>
                          </div>
                          <a routerLink="/mentor-student-detail/{{student.mentorLinkId}}">
                            <ng-container *ngIf="student.firstName && student.lastName">
                              {{student.firstName}}&nbsp;{{student.lastName}}
                            </ng-container>
                            <ng-container *ngIf="!student.firstName && !student.lastName">
                              {{student.emailAddress}}
                            </ng-container>
                          </a>
                        </td>
                        <td style="text-align: center;">
                          <span [ngClass]="getFYIStatusCssClass(student.isFyiCompleted)"></span>
                        </td>
                        <td style="text-align: center;">
                          <span [ngClass]="getPortfolioStatusCssClass(student.portfolio)"></span>
                        </td>
                        <td style="text-align: center;">
                          <ng-container *ngFor="let occupationPlan of student.occupationPlans; let i = index;">
                            <span [ngClass]="getOccupationPlanStatusCssClass(occupationPlan, student.mentorLinkId)"></span>
                          </ng-container>
                          <span *ngIf="student.occupationPlans?.length == 0" class="not_started"></span>
                        </td>
                        <td style="text-align: center;">
                          <ng-container *ngFor="let activity of student.activitySubmissions; let i = index;">
                            <span [ngClass]="getActivityStatusCssClass(activity)"></span>
                          </ng-container>
                          <span *ngIf="student.activitySubmissions?.length == 0" class="not_started"></span>
                        </td>
                        <td>
                          <span>{{getStudentLastUpdateDate(student)}}</span>
                          <a class="message_count_link" (click)="openRecentMessagesDialog(student)">
                            <span class="message_count" *ngIf="(student.unreadMessages?.length +
                                student.unreadLogs?.length) > 0">{{student.unreadMessages?.length +
                              student.unreadLogs?.length}}</span>
                          </a>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </ng-container>

            <ng-container *ngIf="studentList?.length == 0">
              <div class="active_student" style="border-top: 1px solid black; border-bottom: 1px solid black;">
                <p style="margin-top: 1rem;">
                  <b>You are not currently linked with any students.</b> <br/>
                  Students must invite you to be their mentor. Students supply your email address to initiate the
                  invitation. You will then
                  receive a notification which you must accept. Then, you can view their progress, send messages, and
                  add
                  dates and task to their calendar.
                </p>
              </div>
            </ng-container>
          </div>

        </div>

      </section>

      <br><br><br><br><br>


    </div>
  </section>

  <app-footer></app-footer>
</div>