<section id="content-wrap">
  <div class="small-12 columns show-for-small-only">
    <div class="left-sub-nav">
      <ul class="menu vertical" id="steps">
        <li>
          <h3 id="innerTitle">COMPLETE LIST OF OCCUPATIONS</h3>
        </li>
      </ul>
    </div>
  </div><br /><br />
  <div class="row column large-centered">
    <h2>COMPLETE OCCUPATION LIST</h2>
    <p><strong>The OCCU-Find catalogs information about 1000s of careers.</strong>
    </p>
    <p>Login to tailor your view to quickly find your dream job. You can filter your search by
      interest, Career Cluster, and featured categories like bright outlook, green economy and STEM.
      You can sort the results by skill area. Are you looking for something specific? Enter a keyword
      to find occupations that match. Just browsing? Simply view occupations alphabetically.
    </p>
    <p><a class="button" ng-click="showLoginModal()" ng-controller="LogOutController">Login</a> Your dream job is
      waiting. Will you recognize it? Log in to
      find it.
    </p>
    <div>
      <div class="row">
        <section class="table-pagination">
          <div class="medium-6 columns">Showing {{occupationPagination.TotalItems != 0 ?
            (((occupationPagination.CurrentPage-1)*occupationPagination.ItemsPerPage)+1) : 0}}
            -<span>{{((occupationPagination.CurrentPage)*occupationPagination.ItemsPerPage)
              &lt;= occupationPagination.TotalItems ?
              ((occupationPagination.CurrentPage)*occupationPagination.ItemsPerPage) :
              occupationPagination.TotalItems}}</span> of {{occupationPagination.TotalItems}} Careers <br /></div>
          <div class="medium-6 columns text-right">
            <uib-pagination boundary-link-numbers="true" class="pagination-sm"
              items-per-page="occupationPagination.ItemsPerPage" max-size="occupationPagination.MaxSize" next-text="›"
              ng-model="occupationPagination.CurrentPage" num-pages="numPages" previous-text="‹" rotate="false"
              total-items="occupationPagination.TotalItems"></uib-pagination>
          </div>
          <div class="medium-12 columns">
            <hr />
          </div>
        </section>
        <table>
          <tbody>
            <tr>
              <th>Occupation Title</th>
            </tr>
            <tr
              ng-repeat="row in occupationList | limitTo : occupationPagination.ItemsPerPage: (occupationPagination.CurrentPage - 1 ) * occupationPagination.ItemsPerPage">
              <td><a href="occufind-occupation-details/{{row.onetSoc}}">{{
                  row.occupationTitle}}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>