<div class="occufind student student-dreams general-help">
	<app-header></app-header>

	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="large-5 large-push-7 columns">
				<p class="caps">OCCUPATIONS</p>
			</div>
		</div>
  </section>

  <div>
		<section id="content-wrap">
			<div class="small-12 columns show-for-small-only">
				<div class="left-sub-nav">
					<ul class="menu vertical" id="steps">
						<li>
							<h3 id="innerTitle">OCCUPATIONS</h3>
						</li>
					</ul>
				</div>
			</div>
			<div id="site-map-div">
				<div class="row">

          <section id="content-wrap">
            <div class="small-12 columns show-for-small-only">
              <div class="left-sub-nav">
                <ul class="menu vertical" id="steps">
                  <li>
                    <h3 id="innerTitle">Link to us</h3>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row column large-centered">
              <section id="content-wrap">
                <div class="small-12 columns show-for-small-only">
                  <div class="left-sub-nav">
                    <ul class="menu vertical" id="steps">
                      <li>
                        <h3 id="innerTitle">COMPLETE LIST OF OCCUPATIONS</h3>
                      </li>
                    </ul>
                  </div>
                </div><br /><br />
                <div class="row column large-centered">
                  <h2>COMPLETE OCCUPATION LIST</h2>
                  <p><strong>The OCCU-Find catalogs information about 1000s of careers.</strong>
                  </p>
                  <p>Login to tailor your view to quickly find your dream job. You can filter your search by
                    interest, Career Cluster, and featured categories like bright outlook, green economy and STEM.
                    You can sort the results by skill area. Are you looking for something specific? Enter a keyword
                    to find occupations that match. Just browsing? Simply view occupations alphabetically.
                  </p>
                  <p><a class="button" (click)="showLoginModal()">Login</a> Your dream job is
                    waiting. Will you recognize it? Log in to
                    find it.
                  </p>
                  <div>
                    <div class="row">
                      <section class="table-pagination">
                        <div class="medium-6 columns">Showing {{occupationPagination.TotalItems != 0 ?
                          (((occupationPagination.CurrentPage-1)*occupationPagination.ItemsPerPage)+1) : 0}}
                          -<span>{{((occupationPagination.CurrentPage)*occupationPagination.ItemsPerPage)
                            &lt;= occupationPagination.TotalItems ?
                            ((occupationPagination.CurrentPage)*occupationPagination.ItemsPerPage) :
                            occupationPagination.TotalItems}}</span> of {{occupationPagination.TotalItems}} Careers <br /></div>
                        <div class="medium-6 columns text-right">
                            <ngb-pagination
                              [collectionSize]="occupationList.length"
                              [(page)]="occupationPagination.CurrentPage"
                              [maxSize]="occupationPagination.MaxSize"
                              [pageSize]="occupationPagination.ItemsPerPage"
                              aria-label="Custom pagination"
                            >
                              <ng-template ngbPaginationPrevious
                                >&lsaquo;</ng-template
                              >
                              <ng-template ngbPaginationNext>&rsaquo;</ng-template>
                            </ngb-pagination>
                        </div>
                        <div class="medium-12 columns">
                          <hr />
                        </div>
                      </section>
                      <table>
                        <tbody>
                          <tr>
                            <th style="text-align: left">Occupation Title</th>
                          </tr>
                          <tr
                            *ngFor="let row of occupationList | slice : (occupationPagination.CurrentPage - 1 ) * occupationPagination.ItemsPerPage: (occupationPagination.CurrentPage) * occupationPagination.ItemsPerPage">
                            <td><a routerLink="/occufind-occupation-details/{{row.onetSoc}}">{{
                                row.occupationTitle}}</a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </section>
					
				</div>
			</div>
		</section>


  </div>
  <app-footer></app-footer>
</div>