.small-6 {
    @media (max-width: 767.98px) {
        width: 100%;
    }
}

.checkbox-dropdown {
    position: relative;
    width: 215px;
    display: inline-block;

    &.use-full-width{
        width:100% !important;
    }
    .mat-form-field {
        border: 1px solid #C3D2DA;
        border-radius: 3px;
        width: 100%;
        padding: 7px 0;
    }

    ::ng-deep .mat-form-field-wrapper {
        padding: 0;

        .mat-form-field-flex {
            background-color: transparent;
            padding-top: 0;

            .mat-form-field-infix {
                padding: 0 !important;
                border-top: 0;

                *:focus {
                    outline: none;
                }

                .mat-select-value {
                    color: #4A4A4A;
                }

                .mat-select-arrow-wrapper {
                    display: block;

                    .mat-select-arrow {
                        color: #c3d2da;
                    }
                }
                
                .mat-form-field-label-wrapper {
                    top: -8px;
                }
            }

            label:not(.mat-empty) {
                display: none !important;
            }
        }

        .mat-form-field-underline {
            display: none;
        }
    }
}

.search-keyword {
    width: 100%;
    position: relative;
    display: flex;

    input {
        border: 1px solid #979797;
        padding: 2px 30px 2px 6px;
        color: #4A4A4A;
        outline: none;
        height: 36px;
        margin-bottom: 0;
    }

    button {
        background: #2DA2A7;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        width: 25px;
        height: 25px;
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        text-align: center;
        outline: none;
    }
    
    button[disabled] {
    	background: grey;
    }
}

textarea {
    padding: 10px;
}

.modal-footer .btn-delete-note {
    border: 1px solid #8b2e33;
    color: #8b2e33;
    padding: 9px 20px 8px;
    margin-right: 15px;
    text-transform: uppercase;
    vertical-align: middle;
    margin: 0 1rem 1rem 0;
}

input[type="submit"] {
    background: #29afb5;
    padding: 5px 10px;
    text-transform: uppercase;
    border: 0;
    color: #fff;
    width: 130px;
    margin-top: 15px;
}

.profile-upload-wrapper {
    tbody {
        tr {
            border-bottom: 1px solid #979797;

            &:last-child {
                border-bottom: none;
            }
        }
    }

    .profile-upload {
        position: relative;
        color: #4c44ac;
        display: inline-block;
        cursor: pointer;
    
        &-input {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            margin: 0;
        }
    
        .upload-icon {
            margin-right: 10px;
        }
    }

    margin-bottom: 15px;
}

.left_content {
    ul {
        li {
            font-size: 14px !important;
            margin-bottom: 15px !important;
        }
    }
}

.right_content {
    display: flex;
    flex-direction: column;
    height: 100%;

    table {
        width: 100%;

        // &.profile-upload-wrapper {
        //     flex: 1 0 auto;
        // }
        
        tbody,tfoot {
            tr {
                background: none;
                
                td {
                    padding: 6px 0;
                    
                    &.file-unsubmit {
                        color: #676767;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    > form {
        margin-top: auto;
    }

    .invite-parent-box {
        border: 1px solid #979797;
        padding: 15px 20px;

        .invite-parent-box-title {
            text-transform: uppercase;
            color: #2DA2A7;
        }
    }

    hr {
        margin: 0;
    }
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}


button.disabled{
    border-color: #C3D2DA;
    background-color: #C3D2DA !important;
    color: #fff !important;
    cursor:not-allowed !important;
}

p.error-text,p.success-text{
    margin:0;
    font-size:10px !important;
    font-weight: bold;
    font-style: italic;
}
p.error-text{ color:red;}

.invite_parent{
    border: 1px solid black;
    padding:15px;
}

.has-bottom-border{
    border-bottom: 1px solid #979797;
}

.use-ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.withTBMargin{
    margin-top:5px !important;
    margin-bottom: 5px !important;
}


ul.standards_list >li > a{
        
            &::before{
                display: none !important;
        }
}