<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Classroom Activity Details:</h3>
</div>

<div class="modal-body" *ngIf="!isStudentView">
	<div class="row">
		<div class="medium-8 columns">
			<div>
				<h3>{{selectedActivity.title}}</h3>
				<p>
					<b>Activity Description:</b>
				</p>
				<span class="list-style-disc" [innerHTML]="selectedActivity.longDescription"></span>
			</div>
			<div class="row">
				<div class="column small-6 text-center">
					<a (click)='showActivity(teacherGuide)'>
						<img src="assets/images/pdf_small_icon.png" alt="pdf icon" />
						Teachers Guide
					</a>
				</div>
				<div class="column small-6 text-center">
					<a (click)='showActivity(studentActivity)'>
						<img src="assets/images/pdf_small_icon.png" alt="pdf icon" />
						Student Activity
					</a>
				</div>
			</div>
		</div>
		<div class="medium-4 columns">
			<p>
				<b>Alignment to Standards:</b>
			</p>
			<ul class="standards_list" style="list-style: none; margin: 0px;">
				<li style="list-style: none !important;" *ngFor="let standard of selectedActivity.standards">
					<a target="_blank" href="{{standard.url}}">{{standard.title}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="modal-body" *ngIf="isStudentView">

	<div class="row d-flex flex-wrap">
		<div class="small-6 medium-6 columns">
			<div class="left_content">
				<h3>{{selectedActivity.title}}</h3>
				<p>
					<a (click)='showActivity(studentActivity)'>
						<img src="assets/images/pdf_small_icon.png" alt="pdf icon" />
						Download Activity
					</a>
				</p>
				<p><strong>Activity Description</strong></p>
				<span class="list-style-disc" [innerHTML]="selectedActivity.longDescription"></span>
			</div>
		</div>
		<div class="small-6 medium-6 columns">
			<div class="right_content">
				<p>
					<strong>Your Work</strong> <br>
					<span *ngIf="mentorsList?.length > 0">Files submitted go to your mentor(s).</span>
					<span *ngIf="mentorsList?.length == 0">In order to submit work, you must be connected with a
						mentor.</span>
				</p>

				<!-- If one or more mentors -->
				<ng-container *ngIf="mentorsList?.length > 0">

					<div class="profile-upload-wrapper">
						<div class="row withTBMargin">
							<div class="column small-5">
								<div class="profile-upload">
									<input #fileInput class="profile-upload-input" type="file"
										(click)="fileInput.value = null" value=""
										(change)="handleFileInput($event.target.files)" name="file" id="myfile" />
									{{file}}
									<span>
										<i class="fa fa-upload upload-icon" aria-hidden="true"></i>
										Upload File
									</span>
								</div>
							</div>
							<div class="column small-7">
								Assigned Mentors
							</div>
						</div>
						<div class="row">
							<div class="column small-12">
								<hr />
							</div>
						</div>

						<!-- new submission -->
						<div *ngFor="let newSub of newSubmissions; let newSubIndex = index">
							<div class="row">
								<div class="column small-10 mb-5">{{newSub.file.name}}</div>
								<div class="column small-2 text-right" valign="top">
									<a (click)="deleteNewSubmission(newSubIndex)">
										<img src="assets/images/close-blue.svg">
									</a>
								</div>
							</div>
							<form class="row" #mentorForm="ngForm" (ngSubmit)="submitForm(mentorForm, newSubIndex)">
								<div class="column small-8">

									<div class="checkbox-dropdown use-full-width">
										<mat-form-field appearance="fill">
											<mat-label>Select
												Mentors (0)</mat-label>
											<mat-select [formControl]="newSub.mentors" multiple>
												<mat-select-trigger>Select
													Mentors ({{newSub.mentors.value?.length}}) </mat-select-trigger>
												<mat-option *ngFor="let mentors of mentorsList" [value]="mentors">
													{{mentors.mentorEmail}}</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
								</div>
								<div class="column small-4">
									<button class="button mb-0" type="submit"
										[disabled]="newSub.mentors.value?.length < 1 || newSub.submitDisabled">Submit</button>
								</div>
							</form>
							<div class="row">
								<div class="column small-12">
									<hr />
								</div>
							</div>
						</div>

						<!-- existing submissions -->
						<ng-container
							*ngFor="let submission of sortSubmissionDescOrder(selectedActivity.submissions); let i = index;">

							<!-- active/submit state -->
							<ng-container *ngIf="submission.statusId == 2 || submission.statusId == 5">
								<div class="row">
									<div class="column small-5 use-ellipsis" [title]="submission.fileName">
										{{submission.fileName}}
									</div>
									<div
										[ngClass]="submission.mentorsFormData.value?.length > 1 ? 'column small-4 use-ellipsis' : 'column small-7 end use-ellipsis'">
										<span
											[ngClass]="submission.mentorsFormData.value?.length > 1 ? 'd-block text-center' : '' "
											*ngFor="let m of submission.mentorsFormData.value; let i = index;"
											[title]="m.mentorEmail">
											{{submission.viewAllMentor? m.mentorEmail : i == 0 ? m.mentorEmail : ''}}
										</span>
									</div>
									<div [ngClass]="submission.mentorsFormData.value?.length > 1 ? 'column small-3 end' : ''"
										*ngIf="submission.mentorsFormData.value?.length > 1">
										<a (click)="submission.viewAllMentor = !submission.viewAllMentor">{{submission.mentorsFormData.value?.length
											- 1}} more...</a>
									</div>
								</div>
								<div class="row">
									<div class="column small-12">
										{{_utilityService.convertDateToLocalDate(submission.dateUpdated)}}&nbsp;|&nbsp;<a
											(click)="unsubmitSubmission(submission)">Unsubmit</a>
									</div>
								</div>
							</ng-container>

							<!-- unsubmit state -->
							<ng-container *ngIf="submission.statusId == 3">
								<div class="row withTBMargin">
									<div class="column small-10">
										{{submission.fileName}}
									</div>
									<div class="column small-2 text-right" valign="top">
										<a (click)="deleteSubmission(submission)">
											<img src="assets/images/close-blue.svg">
										</a>
									</div>
								</div>
								<form class="row withTBMargin" #resubmitForm="ngForm"
									(ngSubmit)="resubmitSubmission(resubmitForm, submission.id)">
									<div class="column small-8">
										<div class="checkbox-dropdown use-full-width">
											<mat-form-field appearance="fill">
												<mat-label>Select
													Mentors (0)</mat-label>
												<mat-select [formControl]="submission.mentorsFormData" multiple>
													<mat-select-trigger> Select Mentors
														({{submission.mentorsFormData.value?.length}})
													</mat-select-trigger>
													<mat-option *ngFor="let mentors of mentorsList" [value]="mentors">
														{{mentors.mentorEmail}}</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>
									<div class="column small-4">
										<button class="button mb-0" type="submit"
											[disabled]="submission.mentorsFormData.value?.length < 1 || submission.submitDisabled">Submit</button>
									</div>
								</form>
							</ng-container>

							<div class="row" *ngIf="selectedActivity.submissions?.length > i+1">
								<div class="column small-12">
									<hr />
								</div>
							</div>
						</ng-container>
					</div>

					<!-- Comment Entry -->
					<form #commentForm="ngForm" (ngSubmit)="submitComment(commentForm)">
						<table>
							<tr>
								<td>Comment</td>
								<td colspan="2" align="right">
									<div class="checkbox-dropdown">
										<mat-form-field appearance="fill">
											<mat-label>Select
												Mentors (0)</mat-label>
											<mat-select [formControl]="commentMentor" multiple>
												<mat-select-trigger> Select Mentors
													({{commentMentor.value?.length}}) </mat-select-trigger>
												<mat-option *ngFor="let mentors of mentorsList" [value]="mentors">
													{{mentors.mentorEmail}}</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="3">
									<div class="search-keyword">
										<input type="text" name="comment" [disabled]="commentMentor.value?.length < 1"
											ngModel>
										<button type="submit" class="searchButton"
											[disabled]="commentMentor.value?.length < 1">
											<i class="fa fa-angle-right"></i>
										</button>
									</div>
								</td>
							</tr>
						</table>
					</form>
					<!-- Comment Entry -->

					<hr>

					<!-- Comment History -->
					<table>
						<tbody>
							<ng-container *ngFor="let comments of selectedActivity.comments">
								<tr>
									<td>To: <span *ngFor="let to of comments.to">{{to.username}}
										</span>
									</td>
									<td align="right">{{comments.dateCreated | date:'MM/dd/yy'}}</td>
								</tr>
								<tr>
									<td>{{comments.message}}</td>
								</tr>
							</ng-container>
						</tbody>
					</table>
					<!-- Comment History -->

				</ng-container>

				<!-- Mentor invite; if no mentors -->
				<ng-container *ngIf="mentorsList?.length == 0">
					<div class="student_account_column6 invite-parent-box">
						<div class="d-flex align-items-center justify-space-between mb_10">
							<p class="invite-parent-box-title caps mb-0"><strong>Invite a counselor or parent</strong>
							</p>
							<button type="button" [disabled]="mentorInviteForm.invalid" title="Click here to Invite"
								(click)="submitMentorInvite()"><img src="assets/images/Add_mentor.png"
									alt="Click here to Invite"></button>
						</div>
						<p>Invite your mentors to review and comment on your account information including scores,
							career plans,
							activities, and your calendar.</p>
						<p><b>Build your plans together.</b></p>
						<form [formGroup]="mentorInviteForm" (submit)="submitMentorInvite()" class="search-keyword">
							<input class="searchTerm" placeholder="Email" type="Email" formControlName="inviteEmails"
								[disabled]="mentorInviteFormSubmitted">
							<button class="searchButton" type="submit" title="Click here to Invite"
								[disabled]="mentorInviteForm.invalid || mentorInviteFormSubmitted"
								[ngClass]="mentorInviteForm.invalid || mentorInviteFormSubmitted ? 'disabled' : ''"><i
									class="fa fa-angle-right"></i></button>
						</form>
						<p>Seperate multiple emails with a comma.</p>
						<p class="error-text" *ngIf="errorText != ''">{{errorText}}</p>
					</div>
				</ng-container>

			</div>
		</div>
	</div>





</div>
<div class="modal-footer"></div>