@media (min-width: 640px) {
    .mobile-show {
        display: none;
    }
}
@media (max-width: 639px) {
    .mobile-hide {
        display: none;
    }
}
.sidebar-nav {
    display: inline-block;
    background-color: #EEEEEE;
    text-align: center;
    min-width: 85px;
    padding-left: 15px;
    z-index: 1;

    @media (max-width: 639px) {
        width: 100%;
        padding: 0;
        z-index: 3;
    }

    &.scroll-to-fixed-fixed {
        height: 100%;
    }

    .sidebar-sticky {
        @media (max-width: 639px) {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
        }
    }

    .sidebar-nav-inner {

        @media (max-width: 639px) {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: row-reverse;
            flex-direction: row-reverse;
            padding: 20px 17px 0;
            background-color: #eeeeee;
        }

        @media (max-width: 359px) {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .sidebar-nav-items {
        display: block;
        margin: 0 0 20px auto;
        position: relative;
        z-index: 1;
        background-color: #EEEEEE;
        height: auto;

        @media (max-width: 639px) {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            -webkit-align-items: baseline;
            align-items: baseline;
            width: 100%;
            height: calc(100vh - 80px);
            margin: 0 auto 0 0;
        }
    
        .sidebar-nav-item {
            margin-bottom: 13px !important;

            @media (max-width: 639px) {
                margin-bottom: 0 !important;

                &:nth-child(2) {
                    display: none;
                }
            }

            &:before {
                display: none;
            }

            &.sidebar-nav-setting {
                position: relative;
                min-height: 50px;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-items: center;
                align-items: center;
                -webkit-justify-content: center;
                justify-content: center;
                margin-right: 10px;
                margin-bottom: 23px !important;
        
                @media (max-width: 639px) {
                    order: 4;
                    -webkit-flex-direction: column;
                    flex-direction: column;
                    margin-right: 0;
                    margin-bottom: 0 !important;
                }
        
                &:after {
                    content: '';
                    height: 1px;
                    width: 100%;
                    position: absolute;
                    background-color: #B8B8B8;
                    left: 0;
                    bottom: 0;
        
                    @media (max-width: 639px) {
                        display: none;
                    }
                }

                a {

                    @media (min-width: 640px) {
                        min-height: inherit;
                        border: none;
                        -webkit-flex-direction: row;
                        flex-direction: row;
                        padding: 15px 4px 10px;
                    }

                    &:hover {
                        @media (min-width: 640px) {
                            background-color: transparent;
                        }
                    }

                    &:after {
                        display: none;
                    }

                    img {
                        @media (min-width: 640px) {
                            margin-top: 0;
                        }
                    }

                    &.sidebar-user-email {
                        font-size: 14px;
                        line-height: normal;
                        max-width: 100px;
                        width: 100%;
                        display: block;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        color: #312A88;
                    }
                    
                }
        
                span:not(.message_count) {
                    color: #000;
                    margin-bottom: 0;

                    @media (min-width: 640px) {
                        display: none;
                    }
                }
        
                .message_count_link .message_count {
                    background-image: url('/assets/images/dashboard/message_icon.svg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    min-width: 20px;
                    min-height: 20px;
                    font-size: 13px;
                    font-weight: bold;
                    color: #fff;
                    text-align: center;
                    margin-left: 6px;
        
                    @media (max-width: 639px) {
                        font-weight: bold;
                        min-height: 23px;
                        min-width: 22px;
                        margin-left: 0;
                    }
                }
            }

            a {
                position: relative;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-flex-direction: column;
                flex-direction: column;
                -webkit-align-items: center;
                align-items: center;
                color: #000;
                border: 3px solid #FFFFFF;
                border-right: 0;
                min-height: 80px;

                @media (max-width: 639px) {
                    border: none;
                    min-height: inherit;
                    padding: 0 15px 10px;
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 7px;
                    height: 14px;
                    background-image: url('/assets/images/dashboard/Triangle.svg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    right: 7px;
                    top: 50%;
                    transform: translateY(-50%);

                    @media (max-width: 639px) {
                        display: none;
                    }
                }

                &.active {
                    background-color: #fff;
                    cursor: context-menu;
                    pointer-events: none;
                }

                &:hover {
                    background-color: #fff;
                    text-decoration: none;
                    outline: none;
                    transition: 0.3s;
                }

                &:focus {
                    text-decoration: none
                }

                img {
                    margin-top: 12px;
                }
            }

            > img {
                margin-right: auto;
                display: block;
                margin-left: 5px;
            }

            &.sidebar-nav-item-no-link {
                padding: 0 5px;

                &:first-child {
                    font-size: 13px;
                    padding-top: 20px;
                }
            }
        }

        
    }

    &.sidebar-nav-expanded {
        min-width: 197px;

        .sidebar-nav-inner {
            @media (max-width: 639px) {
                padding: 0;
            }
        }

        .sidebar-nav-items {
            display: block;
            height: auto;

            .sidebar-nav-item {
                display: flex;
                align-items: center;
                text-align: left;
                min-height: inherit;

                @media (max-width: 639px) {
                    &.large-med-only {
                        display: none;
                    }
                    
                    justify-content: center;
                    border-bottom: 1px solid #979797;

                    &:last-child {
                        border-bottom: 0;
                    }
                }
                                
                @media (min-width: 640px) {
                    &.mobile-only {
                        display: none;
                    }
                }

                &.sidebar-nav-setting {
                    padding: 13px 0 10px;
                    margin-bottom: 13px !important;

                    @media (max-width: 639px) {
                        -webkit-flex-direction: row;
                        flex-direction: row;
                        min-height: inherit;
                        background-color: #fff;
                        padding: 14px 17px 12px;
                        margin-bottom: 0 !important;
                    }

                    a {
                        padding: 0;

                        @media (max-width: 639px) {
                            width: inherit;
                        }

                        &.sidebar-user-email {
                            margin-left: 10px;
                            margin-right: auto;

                            @media (max-width: 639px) {
                                order: 2;
                                max-width: inherit;
                                padding-right: 20px;
                            }
                        }

                        &.setting_img {
                            @media (max-width: 639px) {
                                order: 3;
                            }
                        }

                        &.message_count_link {
                            @media (max-width: 639px) {
                                order: 1;
                            }
                        }

                        span {
                            position: initial;
                            @media (max-width: 639px) {
                                line-height: normal;
                                margin-left: 0;
                            }
                        }
                    }
                }

                &.sidebar-nav-item-no-link {
                    padding: 0 13px;
                    margin-bottom: 23px !important;

                    @media (max-width: 639px) {
                        display: none;
                    }
                }
            
                span {
                    font-size: 14px;
                }
                a {
                    -webkit-flex-direction: row;
                    flex-direction: row;
                    padding-left: 12px;
                    padding-right: 20px;

                    @media (max-width: 639px) {
                        -webkit-flex-direction: column-reverse;
                        flex-direction: column-reverse;
                        padding: 20px 0;
                        width: 100%;
                    }

                    &:after {
                        display: none;
                    }
                    
                    &.setting_img {
                        display: block;
                        max-width: 20px;
                    }

                    .expand-arrow {
                        position: relative;

                        @media (max-width: 639px) {
                            margin-bottom: 6px;
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            width: 7px;
                            height: 14px;
                            background-image: url('/assets/images/dashboard/Triangle_for_expanded.png');
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center;
                            right: -17px;
                            top: 50%;
                            transform: translateY(-50%);

                            @media (max-width: 639px) {
                                width: 14px;
                                height: 27px;
                                right: -30px;
                            }
                        }
                    }

                    span {
                        font-size: 16px;

                        @media (max-width: 639px) {
                            font-size: 24px;
                            line-height: 29px;
                            text-align: center;
                            max-width: inherit;
                            color: #616161;
                        }
                    }
    
                    img {
                        margin-top: 0;
                    }
                }
                span {
                    max-width: 149px;
                    width: 100%;
                }
            }
            @media (max-width: 639px) {
                .focus {
                    a {
                        .expand-arrow  {
                            &:after {
                                background-image: url(/assets/images/dashboard/db-arrow-focus.svg);
                                width: 21px;
                                height: 43px;
                                right: -34px;
                                animation-name: floating; 
                                animation-duration: 1.5s; 
                                animation-iteration-count: infinite; 
                                animation-timing-function: ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes floating { 
    0% { transform: translate(0px, -50%); } 
    50%  { transform: translate(5px, -50%); } 
    100%   { transform: translate(-0px, -50%); }     
}

// Progress-bar
.circular-progress-bar {
    position: relative;
    border: 5px solid #fff;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    pointer-events: none;

    &.no-percentage {
        background-color: #fff;
        border-color: #D7D7D7;
        padding: 5px;

        svg {
            width: 40px;
            height: 40px;
        }

        .arcs {
            .outer-circle {
                fill: #fff;
            }
            .inner-circle {
                fill: #fff;
            }
        }
    }
    
    svg {
        width: 38px;
        height: 38px;
    }

    .percentage_number {
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        left: 50%;
        font-size: 12px;
        font-weight: bold;
        color: #000000;

        span {
            font-size: 12px !important;
        }
    }

    .arcs {
        .outer-circle {
            fill: #eee;
        }
        .outer-arc {
            fill: #19A5AD;
        }
        .inner-circle {
            fill: #eee;
        }
        .inner-arc {
            fill: none;
        }
    }
}

.sidebar-nav-expanded {
    .circular-progress-bar {
        border: 4px solid #fff;
        height: 58px;
        width: 58px;

        @media (max-width: 639px) {
            border: 6px solid #fff;
            padding: 6px;
        }

        svg {
            width: 50px;
            height: 50px;
        }

        &.no-percentage {
            border-color: #D7D7D7;
            width: auto;
            height: auto;
            padding: 4px;
            line-height: 10px;

            svg {
                width: 24px;
                height: 24px;

                @media (max-width: 639px) {
                    width: 84px;
                    height: 84px;
                }
            }

            img {
                position: absolute;
                top: 50%;
                transform: translate(-50%,-50%);
                left: 50%;
            }

            .inner-circle {
                @media (max-width: 639px) {
                    display: block;
                }
            }
        }
    }
}
 

.circles {
    display: none;

    .outer-circle {
        fill: #19A5AD;
        stroke: #19A5AD;
        stroke-width: 1;
    }
    .inner-circle {
        fill: #eee;
        stroke: #19A5AD;
        stroke-width: 1;
    }
    &.empty-circles {
        .outer-circle {
            fill: #fff;
            stroke: transparent;
        }
        .inner-circle {
            stroke: transparent;
        }
    }
}

.no-percentage {
    .percentage_number {
        display: none;
    }
    .inner-circle {
        display: none;
    }
    .inner-arc {
        display: none;
    }
}
// Progress-bar

li.demo-mode{
    background-color: #19A5AD !important;
    color: white !important;
    max-width: 168px;

    &:first-of-type {
        margin-top: 15px;
    }

    a {
        font-weight: bold;
        color:white !important;
        border: none !important;
        min-height: 44px !important;
        transition: all 0.3s ease-in-out 0s;

        &:hover {
            background-color: #4c44ac !important;
            text-decoration: none;
            outline: none;
        }

        &:before{
            content: '';
            width: 0px;
            height: 0px;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-right: 6px solid #fff;
            position: absolute;
            left: -7px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
        }

        &:after {
            content: '';
            width: 0px;
            height: 0px;
            border-top: 14px solid transparent;
            border-bottom: 14px solid transparent;
            border-right: 14px solid #2fa2a7;
            position: absolute;
            left: -14px;
            top: 50%;
            transform: translateY(-50%);
            display: block !important;
            transition: all 0.3s ease-in-out 0s;
        }

        &:hover {
            &:after {
                border-right-color: #4c44ac;
            }
        }
    }

}