<div class="sidebar-nav sidebar-nav-expanded" id="sidebar-nav">
    <div class="sidebar-nav-inner">
        <ul class="sidebar-nav-items">
            <li class="sidebar-nav-item sidebar-nav-setting hide-for-small-only" *ngIf="userRole == 'S'">
                <a routerLink="/student-profile" class="sidebar-user-email" [title]="currentUserName">{{currentUserName}}</a>
                <a routerLink="/student-profile" class="setting_img">
                    <img src="assets/images/dashboard/settings_icon@2x.png" alt="Account">
                </a>
                <a *ngIf="unreadMessageCounter>0" (click)="showNotification()" class="message_count_link">
                    <span class="message_count">{{unreadMessageCounter}}</span>
                </a>
            </li>
            <li class="sidebar-nav-item sidebar-nav-item-no-link" *ngIf="userRole != 'S'">
                &nbsp;
            </li>
            <li (click)="guidedTour()" class="sidebar-nav-item sidebar-nav-item-no-link">
                <span style="cursor: pointer">Guided Tour</span>
                <img src="{{helpImg}}" style="cursor: pointer; width: 16px" alt="help">
                <!-- <span>Profile <br /> Progress</span> -->

                <!-- <div class="circular-progress-bar">  -->
                    <!-- 100% yellow -->
                    <!-- <svg viewBox="0 0 100 100"><g class="arcs" style="display: none;"><circle class="outer-circle" cx="50" cy="50" r="49"></circle><path class="outer-arc" d="M50 1 A 49 49, 0, 1, 1, 7.06 73.61, L 50 50 z"></path><circle class="inner-circle" cx="50" cy="50" r="35"></circle><path class="inner-arc" d="M50 15 A 35 35, 0, 1, 1, 19.33 66.86"></path></g><g class="circles" style="display: inline;"><circle class="outer-circle" cx="50" cy="50" r="49" style="fill: #E1A003; stroke: #E1A003;"></circle><circle class="inner-circle" cx="50" cy="50" r="35" style="stroke: #E1A003;"></circle></g></svg>
                    <p class="percentage_number"><span>100</span>%</p> -->


                    <!-- 100%  -->
                    <!-- <svg viewBox="0 0 100 100"><g class="arcs" style="display: none;"><circle class="outer-circle" cx="50" cy="50" r="49"></circle><path class="outer-arc" d="M50 1 A 49 49, 0, 1, 1, 7.06 73.61, L 50 50 z"></path><circle class="inner-circle" cx="50" cy="50" r="35"></circle><path class="inner-arc" d="M50 15 A 35 35, 0, 1, 1, 19.33 66.86"></path></g><g class="circles" style="display: inline;"><circle class="outer-circle" cx="50" cy="50" r="49"></circle><circle class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg>
                    <p class="percentage_number"><span>100</span>%</p> -->


                    <!-- 66% -->
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve"><g><circle style="fill:#EEEEEE;" cx="50" cy="50" r="49"/><path style="fill:#19A5AD;" d="M93.1,73.3C97,66.1,99,58.1,99,50C99,22.9,77.1,1,50,1v49L8.8,76.6c4.5,6.9,10.6,12.6,17.9,16.5   c23.7,12.8,53.2,4,66.2-19.5l0,0c0-0.1,0.1-0.1,0.1-0.2C93.1,73.4,93.1,73.3,93.1,73.3L93.1,73.3z"/><circle style="fill:#EEEEEE;" cx="50" cy="50" r="35"/><path style="fill:#EEEEEE;" d="M50,15c19.3,0,35,15.7,35,35c0,5.9-1.5,11.7-4.3,16.9"/></g></svg>
                    <p class="percentage_number"><span>66</span>%</p> -->

                    <!-- 33% -->
<!--
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve"><g><circle style="fill:#EEEEEE;" cx="50" cy="50" r="49"/><path style="fill:#19A5AD;" d="M50,1c27.1,0,49,21.9,49,49c0,8.3-2.1,16.4-6.1,23.6L50,50V1z"/><circle style="fill:#EEEEEE;" cx="50" cy="50" r="35"/><path style="fill:#EEEEEE;" d="M50,15c19.3,0,35,15.7,35,35c0,5.9-1.5,11.7-4.3,16.9"/></g></svg>
                    <p class="percentage_number"><span>33</span>%</p> -->


                    <!-- 0% -->
                    <!-- <svg viewBox="0 0 100 100"><g class="arcs" style=""><circle class="outer-circle" cx="50" cy="50" r="49"></circle><circle class="outer-arc" cx="49" cy="49" r="15"></circle></g></svg>
                    <p class="percentage_number"><span>0</span>%</p> -->

                <!-- </div>  -->
            </li>

            <!-- LARGE AND MEDIUM SCREEN -->
            <li class="sidebar-nav-item large-med-only demo-mode" *ngIf="userRole != 'S'">
              <a routerLink="/mentor-dashboard">Return to Account Overview</a>
            </li>
            <li class="sidebar-nav-item large-med-only">
              <a routerLink="/learn-about-yourself" [ngClass]="{'active': selectedTab === 'learn'}">
                  <span>
                      <strong>Learn About Yourself</strong>
                  </span>
                  <div class="circular-progress-bar no-percentage expand-arrow">

                      <!-- 100% yellow -->
                      <svg *ngIf="learnPercentCompleted >= 99 && learnPlusCompleted" _ngcontent-xun-c3="" _ngcontent-wov-c3="" viewBox="0 0 100 100"><g _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="arcs" style="display: none;"><circle _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><path _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="outer-arc" d="M50 1 A 49 49, 0, 1, 1, 7.06 73.61, L 50 50 z"></path><circle _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle><path _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="inner-arc" d="M50 15 A 35 35, 0, 1, 1, 19.33 66.86"></path></g><g _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="circles" style="display: inline;"><circle _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49" style="fill: #E1A003;stroke: #E1A003;"></circle><circle _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg>

                      <!-- 100% -->
                      <svg *ngIf="learnPercentCompleted >= 99 && !learnPlusCompleted" _ngcontent-wov-c3="" viewBox="0 0 100 100"><g _ngcontent-wov-c3="" class="arcs" style="display: none;"><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><path _ngcontent-wov-c3="" class="outer-arc" d="M50 1 A 49 49, 0, 1, 1, 7.06 73.61, L 50 50 z"></path><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle><path _ngcontent-wov-c3="" class="inner-arc" d="M50 15 A 35 35, 0, 1, 1, 19.33 66.86"></path></g><g _ngcontent-wov-c3="" class="circles" style="display: inline;"><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg>

                      <!-- 66%  -->
                      <!-- <svg *ngIf="learnPercentCompleted === 66" _ngcontent-wov-c3="" viewBox="0 0 100 100"><g _ngcontent-wov-c3="" class="arcs" style=""><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><path _ngcontent-wov-c3="" class="outer-arc" d="M50 1 A 49 49  0 1  1 8.63 76.26  L 50 50 z"></path><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle><path _ngcontent-wov-c3="" class="inner-arc" d="M50 15 A 35 35  0 1  1 20.45 68.75"></path></g><g _ngcontent-wov-c3="" class="circles empty-circles" style="display: none;"><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg> -->

                      <!-- 33%  -->
                      <!-- <svg *ngIf="learnPercentCompleted === 33" _ngcontent-wov-c3="" viewBox="0 0 100 100"><g _ngcontent-wov-c3="" class="arcs" style=""><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><path _ngcontent-wov-c3="" class="outer-arc" d="M50 1 A 49 49  0 0  1 92.94 73.61  L 50 50 z"></path><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle><path _ngcontent-wov-c3="" class="inner-arc" d="M50 15 A 35 35  0 0  1 80.67 66.86"></path></g><g _ngcontent-wov-c3="" class="circles empty-circles" style="display: none;"><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg> -->

                      <!-- 50%  -->
                      <!-- <svg *ngIf="learnPercentCompleted === 50" _ngcontent-wov-c3="" viewBox="0 0 100 100"><g _ngcontent-wov-c3="" class="arcs" style=""><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><path _ngcontent-wov-c3="" class="outer-arc" d="M50 1 A 49 49  0 0  1 92.94 73.61  L 50 50 z"></path><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle><path _ngcontent-wov-c3="" class="inner-arc" d="M50 15 A 35 35  0 0  1 80.67 66.86"></path></g><g _ngcontent-wov-c3="" class="circles empty-circles" style="display: none;"><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg> -->
                      <svg *ngIf="learnPercentCompleted === 50" _ngcontent-wov-c3="" viewBox="0 0 100 100"><g _ngcontent-wov-c3="" class="arcs" style=""><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><path _ngcontent-wov-c3="" class="outer-arc" d="M50,1c27.1,0,49,21.9,49,49c0,27.1-21.9,49-49,49L50,1z"></path><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle><path _ngcontent-wov-c3="" class="inner-arc" d="M50 15 A 35 35  0 0  1 80.67 66.86"></path></g><g _ngcontent-wov-c3="" class="circles empty-circles" style="display: none;"><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg>

                      <!-- 0% -->
                      <svg *ngIf="learnPercentCompleted === 0" _ngcontent-xun-c3="" _ngcontent-wov-c3="" viewBox="0 0 100 100"><g class="arcs" style=""><circle class="outer-circle" cx="50" cy="50" r="49"></circle><circle class="outer-arc" cx="49" cy="49" r="15"></circle></g></svg>
                      <!-- <p class="percentage_number mobile-hide"><span>100</span>%</p> -->

                      <!-- <svg viewBox="0 0 100 100">
                          <g class="arcs" style="display: none;">
                              <circle cx="50" cy="50" r="49" class="outer-circle"></circle>
                              <path d="M50 1 A 49 49, 0, 1, 1, 7.06 73.61, L 50 50 z" class="outer-arc"></path>
                              <circle cx="50" cy="50" r="35" class="inner-circle"></circle>
                              <path d="M50 15 A 35 35, 0, 1, 1, 19.33 66.86" class="inner-arc"></path>
                          </g>
                          <g class="circles empty-circles" style="display: inline;">
                              <circle cx="50" cy="50" r="49" class="outer-circle"></circle>
                              <circle cx="50" cy="50" r="35" class="inner-circle"></circle>
                          </g>
                      </svg> -->
                      <!-- <p class="percentage_number mobile-hide"><span>50</span>%</p> -->
                      <!-- <img class="mobile-show" src="assets/images/dashboard/Progress_about_me.svg" alt=""> -->
                  </div>
              </a>
          </li>
          <li class="sidebar-nav-item large-med-only">
              <a routerLink="/explore-careers" [ngClass]="{'active': selectedTab === 'explore'}">
                  <span>
                      <strong>Explore Careers</strong>
                  </span>
                  <div class="circular-progress-bar no-percentage expand-arrow">

                      <!-- 100% yellow -->
                      <svg *ngIf="explorePercentCompleted === 99 && explorePlusCompleted" _ngcontent-xun-c3="" _ngcontent-wov-c3="" viewBox="0 0 100 100"><g _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="arcs" style="display: none;"><circle _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><path _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="outer-arc" d="M50 1 A 49 49, 0, 1, 1, 7.06 73.61, L 50 50 z"></path><circle _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle><path _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="inner-arc" d="M50 15 A 35 35, 0, 1, 1, 19.33 66.86"></path></g><g _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="circles" style="display: inline;"><circle _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49" style="fill: #E1A003;stroke: #E1A003;"></circle><circle _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg>

                      <!-- 100% -->
                      <svg *ngIf="explorePercentCompleted === 99 && !explorePlusCompleted" _ngcontent-wov-c3="" viewBox="0 0 100 100"><g _ngcontent-wov-c3="" class="arcs" style="display: none;"><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><path _ngcontent-wov-c3="" class="outer-arc" d="M50 1 A 49 49, 0, 1, 1, 7.06 73.61, L 50 50 z"></path><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle><path _ngcontent-wov-c3="" class="inner-arc" d="M50 15 A 35 35, 0, 1, 1, 19.33 66.86"></path></g><g _ngcontent-wov-c3="" class="circles" style="display: inline;"><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg>

                      <!-- 66%  -->
                      <svg *ngIf="explorePercentCompleted === 66" _ngcontent-wov-c3="" viewBox="0 0 100 100"><g _ngcontent-wov-c3="" class="arcs" style=""><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><path _ngcontent-wov-c3="" class="outer-arc" d="M50 1 A 49 49  0 1  1 8.63 76.26  L 50 50 z"></path><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle><path _ngcontent-wov-c3="" class="inner-arc" d="M50 15 A 35 35  0 1  1 20.45 68.75"></path></g><g _ngcontent-wov-c3="" class="circles empty-circles" style="display: none;"><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg>

                      <!-- 33%  -->
                      <svg *ngIf="explorePercentCompleted === 33" _ngcontent-wov-c3="" viewBox="0 0 100 100"><g _ngcontent-wov-c3="" class="arcs" style=""><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><path _ngcontent-wov-c3="" class="outer-arc" d="M50 1 A 49 49  0 0  1 92.94 73.61  L 50 50 z"></path><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle><path _ngcontent-wov-c3="" class="inner-arc" d="M50 15 A 35 35  0 0  1 80.67 66.86"></path></g><g _ngcontent-wov-c3="" class="circles empty-circles" style="display: none;"><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg>

                      <!-- 0% -->
                      <svg *ngIf="explorePercentCompleted === 0" _ngcontent-xun-c3="" _ngcontent-wov-c3="" viewBox="0 0 100 100"><g class="arcs" style=""><circle class="outer-circle" cx="50" cy="50" r="49"></circle><circle class="outer-arc" cx="49" cy="49" r="15"></circle></g></svg>


                      <!-- <p class="percentage_number mobile-hide"><span>66</span>%</p>
                      <img class="mobile-show" src="assets/images/dashboard/Progress_explore.svg" alt=""> -->
                  </div>
              </a>
          </li>
          <li class="sidebar-nav-item large-med-only">
              <a routerLink="/plan-your-future" [ngClass]="{'active': selectedTab === 'plan'}">
                  <span>
                      <strong>Plan Your Future</strong>
                  </span>
                  <div class="circular-progress-bar no-percentage expand-arrow">

                      <!-- 100% yellow
                      <svg _ngcontent-xun-c3="" _ngcontent-wov-c3="" viewBox="0 0 100 100"><g _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="arcs" style="display: none;"><circle _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><path _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="outer-arc" d="M50 1 A 49 49, 0, 1, 1, 7.06 73.61, L 50 50 z"></path><circle _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle><path _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="inner-arc" d="M50 15 A 35 35, 0, 1, 1, 19.33 66.86"></path></g><g _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="circles" style="display: inline;"><circle _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49" style="fill: #E1A003;stroke: #E1A003;"></circle><circle _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg>
                      -->

                      <!-- 100%
                      <svg _ngcontent-wov-c3="" viewBox="0 0 100 100"><g _ngcontent-wov-c3="" class="arcs" style="display: none;"><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><path _ngcontent-wov-c3="" class="outer-arc" d="M50 1 A 49 49, 0, 1, 1, 7.06 73.61, L 50 50 z"></path><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle><path _ngcontent-wov-c3="" class="inner-arc" d="M50 15 A 35 35, 0, 1, 1, 19.33 66.86"></path></g><g _ngcontent-wov-c3="" class="circles" style="display: inline;"><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg>
                      -->

                      <!-- 66%
                      <svg _ngcontent-wov-c3="" viewBox="0 0 100 100"><g _ngcontent-wov-c3="" class="arcs" style=""><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><path _ngcontent-wov-c3="" class="outer-arc" d="M50 1 A 49 49  0 1  1 8.63 76.26  L 50 50 z"></path><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle><path _ngcontent-wov-c3="" class="inner-arc" d="M50 15 A 35 35  0 1  1 20.45 68.75"></path></g><g _ngcontent-wov-c3="" class="circles empty-circles" style="display: none;"><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg>
                      -->

                      <!-- 33% -->
                      <!-- <svg _ngcontent-wov-c3="" viewBox="0 0 100 100"><g _ngcontent-wov-c3="" class="arcs" style=""><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><path _ngcontent-wov-c3="" class="outer-arc" d="M50 1 A 49 49  0 0  1 92.94 73.61  L 50 50 z"></path><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle><path _ngcontent-wov-c3="" class="inner-arc" d="M50 15 A 35 35  0 0  1 80.67 66.86"></path></g><g _ngcontent-wov-c3="" class="circles empty-circles" style="display: none;"><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg>                       -->

                      <!-- 0% -->
                      <!-- <svg _ngcontent-xun-c3="" _ngcontent-wov-c3="" viewBox="0 0 100 100"><g class="arcs" style=""><circle class="outer-circle" cx="50" cy="50" r="49"></circle><circle class="outer-arc" cx="49" cy="49" r="15"></circle></g></svg> -->

                      <!-- 100% yellow -->
                      <svg *ngIf="planPercentCompleted === 99 && planPlusCompleted" _ngcontent-xun-c3="" _ngcontent-wov-c3="" viewBox="0 0 100 100"><g _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="arcs" style="display: none;"><circle _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><path _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="outer-arc" d="M50 1 A 49 49, 0, 1, 1, 7.06 73.61, L 50 50 z"></path><circle _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle><path _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="inner-arc" d="M50 15 A 35 35, 0, 1, 1, 19.33 66.86"></path></g><g _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="circles" style="display: inline;"><circle _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49" style="fill: #E1A003;stroke: #E1A003;"></circle><circle _ngcontent-xun-c3="" _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg>

                      <!-- 100% -->
                      <svg *ngIf="planPercentCompleted === 99 && !planPlusCompleted" _ngcontent-wov-c3="" viewBox="0 0 100 100"><g _ngcontent-wov-c3="" class="arcs" style="display: none;"><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><path _ngcontent-wov-c3="" class="outer-arc" d="M50 1 A 49 49, 0, 1, 1, 7.06 73.61, L 50 50 z"></path><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle><path _ngcontent-wov-c3="" class="inner-arc" d="M50 15 A 35 35, 0, 1, 1, 19.33 66.86"></path></g><g _ngcontent-wov-c3="" class="circles" style="display: inline;"><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg>

                      <!-- 66%  -->
                      <svg *ngIf="planPercentCompleted === 66" _ngcontent-wov-c3="" viewBox="0 0 100 100"><g _ngcontent-wov-c3="" class="arcs" style=""><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><path _ngcontent-wov-c3="" class="outer-arc" d="M50 1 A 49 49  0 1  1 8.63 76.26  L 50 50 z"></path><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle><path _ngcontent-wov-c3="" class="inner-arc" d="M50 15 A 35 35  0 1  1 20.45 68.75"></path></g><g _ngcontent-wov-c3="" class="circles empty-circles" style="display: none;"><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg>

                      <!-- 33%  -->
                      <svg *ngIf="planPercentCompleted === 33" _ngcontent-wov-c3="" viewBox="0 0 100 100"><g _ngcontent-wov-c3="" class="arcs" style=""><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><path _ngcontent-wov-c3="" class="outer-arc" d="M50 1 A 49 49  0 0  1 92.94 73.61  L 50 50 z"></path><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle><path _ngcontent-wov-c3="" class="inner-arc" d="M50 15 A 35 35  0 0  1 80.67 66.86"></path></g><g _ngcontent-wov-c3="" class="circles empty-circles" style="display: none;"><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg>

                      <!-- 0% -->
                      <svg *ngIf="planPercentCompleted === 0" _ngcontent-xun-c3="" _ngcontent-wov-c3="" viewBox="0 0 100 100"><g class="arcs" style=""><circle class="outer-circle" cx="50" cy="50" r="49"></circle><circle class="outer-arc" cx="49" cy="49" r="15"></circle></g></svg>
                  </div>
              </a>
            </li>

            <!-- MOBILE ONLY -->
            <li [ngClass]="{'focus': learnPercentCompleted < 99}" class="sidebar-nav-item mobile-only focus" style="margin-top: 15px" *ngIf="!collapsed && selectedTab !== 'explore' && selectedTab !== 'plan'">
                <a routerLink="/learn-about-yourself" (click)="collapseMenu()">
                    <span>
                        <strong>Learn About Yourself</strong>
                    </span>
                    <div class="circular-progress-bar no-percentage expand-arrow">
                        <!-- 100% yellow -->
                        <svg *ngIf="learnPercentCompleted >= 99 && learnPlusCompleted" viewBox="0 0 100 100"><g class="arcs" style="display: none;"><circle class="outer-circle" cx="50" cy="50" r="49"></circle><path class="outer-arc" d="M50 1 A 49 49, 0, 1, 1, 7.06 73.61, L 50 50 z"></path><circle class="inner-circle" cx="50" cy="50" r="35"></circle><path class="inner-arc" d="M50 15 A 35 35, 0, 1, 1, 19.33 66.86"></path></g><g class="circles" style="display: inline;"><circle class="outer-circle" cx="50" cy="50" r="49" style="fill: #E1A003; stroke: #E1A003;"></circle><circle class="inner-circle" cx="50" cy="50" r="35" style="stroke: #E1A003;"></circle></g></svg>
                        <p class="percentage_number"><span>100</span>%</p>

                        <!-- 100%  -->
                        <svg *ngIf="learnPercentCompleted >= 99 && !learnPlusCompleted" viewBox="0 0 100 100"><g class="arcs" style="display: none;"><circle class="outer-circle" cx="50" cy="50" r="49"></circle><path class="outer-arc" d="M50 1 A 49 49, 0, 1, 1, 7.06 73.61, L 50 50 z"></path><circle class="inner-circle" cx="50" cy="50" r="35"></circle><path class="inner-arc" d="M50 15 A 35 35, 0, 1, 1, 19.33 66.86"></path></g><g class="circles" style="display: inline;"><circle class="outer-circle" cx="50" cy="50" r="49"></circle><circle class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg>
                        <p class="percentage_number"><span>100</span>%</p>

                        <!-- 66% -->
                        <!-- <svg *ngIf="learnPercentCompleted === 66" viewBox="0 0 100 100"><g class="arcs" style=""><circle class="outer-circle" cx="50" cy="50" r="49"></circle><path class="outer-arc" d="M50 1 A 49 49  0 1  1 8.63 76.26  L 50 50 z"></path><circle class="inner-circle" cx="50" cy="50" r="35"></circle><path class="inner-arc" d="M50 15 A 35 35  0 1  1 20.45 68.75"></path></g><g class="circles empty-circles" style="display: none;"><circle class="outer-circle" cx="50" cy="50" r="49"></circle><circle class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg>
                        <p class="percentage_number"><span>66</span>%</p> -->

                        <!-- 33% -->
                        <!-- <svg *ngIf="learnPercentCompleted === 33" viewBox="0 0 100 100"><g class="arcs" style=""><circle class="outer-circle" cx="50" cy="50" r="49"></circle><path class="outer-arc" d="M50 1 A 49 49  0 0  1 92.94 73.61  L 50 50 z"></path><circle class="inner-circle" cx="50" cy="50" r="35"></circle><path class="inner-arc" d="M50 15 A 35 35  0 0  1 80.67 66.86"></path></g><g class="circles empty-circles" style="display: none;"><circle class="outer-circle" cx="50" cy="50" r="49"></circle><circle class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg>
                        <p class="percentage_number"><span>33</span>%</p> -->

                        <!-- 50%  -->
                        <!-- <svg *ngIf="learnPercentCompleted === 50" _ngcontent-wov-c3="" viewBox="0 0 100 100"><g _ngcontent-wov-c3="" class="arcs" style=""><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><path _ngcontent-wov-c3="" class="outer-arc" d="M50 1 A 49 49  0 0  1 92.94 73.61  L 50 50 z"></path><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle><path _ngcontent-wov-c3="" class="inner-arc" d="M50 15 A 35 35  0 0  1 80.67 66.86"></path></g><g _ngcontent-wov-c3="" class="circles empty-circles" style="display: none;"><circle _ngcontent-wov-c3="" class="outer-circle" cx="50" cy="50" r="49"></circle><circle _ngcontent-wov-c3="" class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg> -->
                        <svg *ngIf="learnPercentCompleted === 50" viewBox="0 0 100 100"><g class="arcs" style=""><circle class="outer-circle" cx="50" cy="50" r="49"></circle><path class="outer-arc" d="M50,1c27.1,0,49,21.9,49,49c0,27.1-21.9,49-49,49L50,1z"></path><circle class="inner-circle" cx="50" cy="50" r="35"></circle><path class="inner-arc" d="M50 15 A 35 35  0 0  1 80.67 66.86"></path></g><g class="circles empty-circles" style="display: none;"><circle class="outer-circle" cx="50" cy="50" r="49"></circle><circle class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg>

                        <!-- 0% -->
                        <svg *ngIf="learnPercentCompleted === 0" viewBox="0 0 100 100"><g class="arcs" style="display: none;"><circle class="outer-circle" cx="50" cy="50" r="49"></circle><path class="outer-arc" d="M50 1 A 49 49, 0, 1, 1, 7.06 73.61, L 50 50 z"></path><circle class="inner-circle" cx="50" cy="50" r="35"></circle><path class="inner-arc" d="M50 15 A 35 35, 0, 1, 1, 19.33 66.86"></path></g><g class="circles" style="display: inline;"><circle class="outer-circle" cx="50" cy="50" r="49" style="fill: #eee; stroke: #eee;"></circle><circle class="inner-circle" cx="50" cy="50" r="35" style="stroke: #eee;"></circle></g></svg>
                        <p class="percentage_number"><span>0</span>%</p>

                        <p class="percentage_number mobile-hide"><span>75</span>%</p>
                        <img class="mobile-show" src="assets/images/dashboard/Progress_about_me.svg" alt="">
                    </div>
                </a>
            </li>
            <li [ngClass]="{'focus': explorePercentCompleted < 99 && learnPercentCompleted >= 99}" class="sidebar-nav-item mobile-only" *ngIf="!collapsed && selectedTab !== 'explore' && selectedTab !== 'plan'">
                <a routerLink="/explore-careers" (click)="collapseMenu()">
                    <span>
                        <strong>Explore Careers</strong>
                    </span>
                    <div class="circular-progress-bar no-percentage expand-arrow">
                        <!-- 100% yellow -->
                        <svg *ngIf="explorePercentCompleted === 99 && explorePlusCompleted" viewBox="0 0 100 100"><g class="arcs" style="display: none;"><circle class="outer-circle" cx="50" cy="50" r="49"></circle><path class="outer-arc" d="M50 1 A 49 49, 0, 1, 1, 7.06 73.61, L 50 50 z"></path><circle class="inner-circle" cx="50" cy="50" r="35"></circle><path class="inner-arc" d="M50 15 A 35 35, 0, 1, 1, 19.33 66.86"></path></g><g class="circles" style="display: inline;"><circle class="outer-circle" cx="50" cy="50" r="49" style="fill: #E1A003; stroke: #E1A003;"></circle><circle class="inner-circle" cx="50" cy="50" r="35" style="stroke: #E1A003;"></circle></g></svg>
                        <p class="percentage_number"><span>100</span>%</p>

                        <!-- 100%  -->
                        <svg *ngIf="explorePercentCompleted === 99 && !explorePlusCompleted" viewBox="0 0 100 100"><g class="arcs" style="display: none;"><circle class="outer-circle" cx="50" cy="50" r="49"></circle><path class="outer-arc" d="M50 1 A 49 49, 0, 1, 1, 7.06 73.61, L 50 50 z"></path><circle class="inner-circle" cx="50" cy="50" r="35"></circle><path class="inner-arc" d="M50 15 A 35 35, 0, 1, 1, 19.33 66.86"></path></g><g class="circles" style="display: inline;"><circle class="outer-circle" cx="50" cy="50" r="49"></circle><circle class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg>
                        <p class="percentage_number"><span>100</span>%</p>

                        <!-- 66% -->
                        <svg *ngIf="explorePercentCompleted === 66" viewBox="0 0 100 100"><g class="arcs" style=""><circle class="outer-circle" cx="50" cy="50" r="49"></circle><path class="outer-arc" d="M50 1 A 49 49  0 1  1 8.63 76.26  L 50 50 z"></path><circle class="inner-circle" cx="50" cy="50" r="35"></circle><path class="inner-arc" d="M50 15 A 35 35  0 1  1 20.45 68.75"></path></g><g class="circles empty-circles" style="display: none;"><circle class="outer-circle" cx="50" cy="50" r="49"></circle><circle class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg>
                        <p class="percentage_number"><span>66</span>%</p>

                        <!-- 33% -->
                        <svg *ngIf="explorePercentCompleted === 33" viewBox="0 0 100 100"><g class="arcs" style=""><circle class="outer-circle" cx="50" cy="50" r="49"></circle><path class="outer-arc" d="M50 1 A 49 49  0 0  1 92.94 73.61  L 50 50 z"></path><circle class="inner-circle" cx="50" cy="50" r="35"></circle><path class="inner-arc" d="M50 15 A 35 35  0 0  1 80.67 66.86"></path></g><g class="circles empty-circles" style="display: none;"><circle class="outer-circle" cx="50" cy="50" r="49"></circle><circle class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg>
                        <p class="percentage_number"><span>33</span>%</p>

                        <!-- 0% -->
                        <svg *ngIf="explorePercentCompleted === 0" viewBox="0 0 100 100"><g class="arcs" style="display: none;"><circle class="outer-circle" cx="50" cy="50" r="49"></circle><path class="outer-arc" d="M50 1 A 49 49, 0, 1, 1, 7.06 73.61, L 50 50 z"></path><circle class="inner-circle" cx="50" cy="50" r="35"></circle><path class="inner-arc" d="M50 15 A 35 35, 0, 1, 1, 19.33 66.86"></path></g><g class="circles" style="display: inline;"><circle class="outer-circle" cx="50" cy="50" r="49" style="fill: #eee; stroke: #eee;"></circle><circle class="inner-circle" cx="50" cy="50" r="35" style="stroke: #eee;"></circle></g></svg>
                        <p class="percentage_number"><span>0</span>%</p>

                        <p class="percentage_number mobile-hide"><span>60</span>%</p>
                        <img class="mobile-show" src="assets/images/dashboard/Progress_explore.svg" alt="">
                    </div>
                </a>
            </li>
            <li [ngClass]="{'focus': planPercentCompleted < 99 && explorePercentCompleted >= 99 && learnPercentCompleted >= 99}" class="sidebar-nav-item mobile-only" *ngIf="!collapsed && selectedTab !== 'explore' && selectedTab !== 'plan'">
                <a routerLink="/plan-your-future" (click)="collapseMenu()">
                    <span>
                        <strong>Plan Your Future</strong>
                    </span>
                    <div class="circular-progress-bar no-percentage expand-arrow">
                        <!-- 100% yellow
                        <svg viewBox="0 0 100 100"><g class="arcs" style="display: none;"><circle class="outer-circle" cx="50" cy="50" r="49"></circle><path class="outer-arc" d="M50 1 A 49 49, 0, 1, 1, 7.06 73.61, L 50 50 z"></path><circle class="inner-circle" cx="50" cy="50" r="35"></circle><path class="inner-arc" d="M50 15 A 35 35, 0, 1, 1, 19.33 66.86"></path></g><g class="circles" style="display: inline;"><circle class="outer-circle" cx="50" cy="50" r="49" style="fill: #E1A003; stroke: #E1A003;"></circle><circle class="inner-circle" cx="50" cy="50" r="35" style="stroke: #E1A003;"></circle></g></svg>
                        <p class="percentage_number"><span>100</span>%</p>
                        -->

                        <!-- 100%
                        <svg viewBox="0 0 100 100"><g class="arcs" style="display: none;"><circle class="outer-circle" cx="50" cy="50" r="49"></circle><path class="outer-arc" d="M50 1 A 49 49, 0, 1, 1, 7.06 73.61, L 50 50 z"></path><circle class="inner-circle" cx="50" cy="50" r="35"></circle><path class="inner-arc" d="M50 15 A 35 35, 0, 1, 1, 19.33 66.86"></path></g><g class="circles" style="display: inline;"><circle class="outer-circle" cx="50" cy="50" r="49"></circle><circle class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg>
                        <p class="percentage_number"><span>100</span>%</p>
                        -->

                        <!-- 66% -->
                        <!-- <svg viewBox="0 0 100 100"><g class="arcs" style=""><circle class="outer-circle" cx="50" cy="50" r="49"></circle><path class="outer-arc" d="M50 1 A 49 49  0 1  1 8.63 76.26  L 50 50 z"></path><circle class="inner-circle" cx="50" cy="50" r="35"></circle><path class="inner-arc" d="M50 15 A 35 35  0 1  1 20.45 68.75"></path></g><g class="circles empty-circles" style="display: none;"><circle class="outer-circle" cx="50" cy="50" r="49"></circle><circle class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg>
                        <p class="percentage_number"><span>66</span>%</p> -->

                        <!-- 33% -->
                        <!-- <svg viewBox="0 0 100 100"><g class="arcs" style=""><circle class="outer-circle" cx="50" cy="50" r="49"></circle><path class="outer-arc" d="M50 1 A 49 49  0 0  1 92.94 73.61  L 50 50 z"></path><circle class="inner-circle" cx="50" cy="50" r="35"></circle><path class="inner-arc" d="M50 15 A 35 35  0 0  1 80.67 66.86"></path></g><g class="circles empty-circles" style="display: none;"><circle class="outer-circle" cx="50" cy="50" r="49"></circle><circle class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg>
                        <p class="percentage_number"><span>33</span>%</p> -->


                        <!-- 0%
                        <svg viewBox="0 0 100 100"><g class="arcs" style="display: none;"><circle class="outer-circle" cx="50" cy="50" r="49"></circle><path class="outer-arc" d="M50 1 A 49 49, 0, 1, 1, 7.06 73.61, L 50 50 z"></path><circle class="inner-circle" cx="50" cy="50" r="35"></circle><path class="inner-arc" d="M50 15 A 35 35, 0, 1, 1, 19.33 66.86"></path></g><g class="circles" style="display: inline;"><circle class="outer-circle" cx="50" cy="50" r="49" style="fill: #eee; stroke: #eee;"></circle><circle class="inner-circle" cx="50" cy="50" r="35" style="stroke: #eee;"></circle></g></svg>
                        <p class="percentage_number"><span>0</span>%</p>
                        -->

                        <!-- 100% yellow -->
                        <svg *ngIf="planPercentCompleted === 99 && planPlusCompleted" viewBox="0 0 100 100"><g class="arcs" style="display: none;"><circle class="outer-circle" cx="50" cy="50" r="49"></circle><path class="outer-arc" d="M50 1 A 49 49, 0, 1, 1, 7.06 73.61, L 50 50 z"></path><circle class="inner-circle" cx="50" cy="50" r="35"></circle><path class="inner-arc" d="M50 15 A 35 35, 0, 1, 1, 19.33 66.86"></path></g><g class="circles" style="display: inline;"><circle class="outer-circle" cx="50" cy="50" r="49" style="fill: #E1A003; stroke: #E1A003;"></circle><circle class="inner-circle" cx="50" cy="50" r="35" style="stroke: #E1A003;"></circle></g></svg>
                        <p class="percentage_number"><span>100</span>%</p>

                        <!-- 100%  -->
                        <svg *ngIf="planPercentCompleted === 99 && !planPlusCompleted" viewBox="0 0 100 100"><g class="arcs" style="display: none;"><circle class="outer-circle" cx="50" cy="50" r="49"></circle><path class="outer-arc" d="M50 1 A 49 49, 0, 1, 1, 7.06 73.61, L 50 50 z"></path><circle class="inner-circle" cx="50" cy="50" r="35"></circle><path class="inner-arc" d="M50 15 A 35 35, 0, 1, 1, 19.33 66.86"></path></g><g class="circles" style="display: inline;"><circle class="outer-circle" cx="50" cy="50" r="49"></circle><circle class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg>
                        <p class="percentage_number"><span>100</span>%</p>

                        <!-- 66% -->
                        <svg *ngIf="planPercentCompleted === 66" viewBox="0 0 100 100"><g class="arcs" style=""><circle class="outer-circle" cx="50" cy="50" r="49"></circle><path class="outer-arc" d="M50 1 A 49 49  0 1  1 8.63 76.26  L 50 50 z"></path><circle class="inner-circle" cx="50" cy="50" r="35"></circle><path class="inner-arc" d="M50 15 A 35 35  0 1  1 20.45 68.75"></path></g><g class="circles empty-circles" style="display: none;"><circle class="outer-circle" cx="50" cy="50" r="49"></circle><circle class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg>
                        <p class="percentage_number"><span>66</span>%</p>

                        <!-- 33% -->
                        <svg *ngIf="planPercentCompleted === 33" viewBox="0 0 100 100"><g class="arcs" style=""><circle class="outer-circle" cx="50" cy="50" r="49"></circle><path class="outer-arc" d="M50 1 A 49 49  0 0  1 92.94 73.61  L 50 50 z"></path><circle class="inner-circle" cx="50" cy="50" r="35"></circle><path class="inner-arc" d="M50 15 A 35 35  0 0  1 80.67 66.86"></path></g><g class="circles empty-circles" style="display: none;"><circle class="outer-circle" cx="50" cy="50" r="49"></circle><circle class="inner-circle" cx="50" cy="50" r="35"></circle></g></svg>
                        <p class="percentage_number"><span>33</span>%</p>

                        <!-- 0% -->
                        <svg *ngIf="planPercentCompleted === 0" viewBox="0 0 100 100"><g class="arcs" style="display: none;"><circle class="outer-circle" cx="50" cy="50" r="49"></circle><path class="outer-arc" d="M50 1 A 49 49, 0, 1, 1, 7.06 73.61, L 50 50 z"></path><circle class="inner-circle" cx="50" cy="50" r="35"></circle><path class="inner-arc" d="M50 15 A 35 35, 0, 1, 1, 19.33 66.86"></path></g><g class="circles" style="display: inline;"><circle class="outer-circle" cx="50" cy="50" r="49" style="fill: #eee; stroke: #eee;"></circle><circle class="inner-circle" cx="50" cy="50" r="35" style="stroke: #eee;"></circle></g></svg>
                        <p class="percentage_number"><span>0</span>%</p>

                        <p class="percentage_number mobile-hide"><span>10</span>%</p>
                        <img class="mobile-show" src="assets/images/dashboard/Progress_plan.svg" alt="">
                    </div>
                </a>
            </li>
            <li class="sidebar-nav-item mobile-only" *ngIf="collapsed || selectedTab === 'explore' || selectedTab === 'plan'">
              <app-left-navigation-v2-collapsed [selectedTab]='selectedTab'></app-left-navigation-v2-collapsed>
            </li>
        </ul>
    </div>
</div>