.bg-l-gray {
    background-color: #eee;
}

.d-flex {
    display: flex;
}

[type='checkbox'] + label, [type='radio'] + label {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 0;
    vertical-align: middle;
}

.learn-about-modal {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;

    // Complete fyi video tutorial
    .complete-fyi-video-tutorial {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;
        text-align: left;
        margin-bottom: 22px;

        @media (max-width: 639px) {
            display: inline-block;
        }

        .complete-fyi-video-content {
            max-width: calc(100% - 250px);
            width: 100%;

            @media (max-width: 639px) {
                max-width: 100%;
            }

            p {
                color: #000000;
                margin-bottom: 0;
            }
            a {
                font-size: 16px;
                line-height: 22px;
            }
        }

        .complete-fyi-video-wrapper {
            max-width: 230px;
            width: 100%;

            @media (max-width: 639px) {
                margin-top: 15px;
                margin-bottom: 12px;
                max-width: 100%;
            }

            .img-with-play-icon {
                position: relative;

                .video-play {
                    max-width: 40px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    opacity: 0.5;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }

    // Career exploration section
    .career-exploration-section {
        .career-exploration-content {
            p {
                margin-bottom: 0;
            }
            .text-l-gray {
                color: #4A4A4A;
            }
            .start-career-btn {
                font-size: 14px;
                line-height: 24px;
                color: #fff;
                font-weight: bold;
                display: inline-block;
                min-width: 204px;
                padding: 8px 40px;
                margin: 10px auto 25px;
                width: 100%;
        
                @media (max-width: 359px) {
                    padding: 8px 20px;
                }
            }
        }
        .custom-full {
            max-width: 100%;
        }
    }

    .favorite-box {
        border: 1px solid #B8B8B8;

        + .favorite-box {
            margin-top: 20px;
        }

        .favorite-box-title {
            background-color: #EEEEEE;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 15px;
            width: 100%;

            h6 {
                font-size: 14px;
                line-height: 19px;
                color: #4A4A4A;
                margin-bottom: 0;
                margin-right: 20px;
            }

            input {
                margin: 0 0 0 -8px;
                background: transparent;
                border: 1px solid #9d9d9d;
                padding: 2px 7px;
                color: #000;
                font-weight: bold;
                font-size: 14px;
                width: 90%;
                max-width: 400px;
            }

            .title-border {
                border: 1px solid #979797;
                padding: 3px 6px;
                color: #000;
                max-width: 320px;
                width: 100%;
            }

            ul.menu-btn {
                display: flex;
                align-items: center;
                padding: 0;
                margin: 0;

                li {
                    display: inline-block;
                    margin-bottom: 0 !important;
                    margin-left: 30px;

                    @media (max-width: 639px) {
                        margin-left: 20px;
                    }

                    &:before {
                        display: none;
                    }

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }

        .favorite-box-content {
            color: #4A4A4A;
            padding: 20px 15px;
            width: 100%;

            .favorite-box-details {
                display: flex;
                width: 100%;

                @media (max-width: 639px) {
                    display: inline-block;
                }

                .favorite-list {
                    width: 50%;

                    @media (max-width: 639px) {
                        width: 100%;
                    }

                    h6 {
                        font-size: 14px;
                        width: 100%;
                        display: inline-block;
                    }

                    > ul {
                        margin-left: 12px;
                        margin-bottom: 0;

                        > li {
                            font-size: 14px !important;
                            margin-bottom: 0 !important;
                        }
                    }

                    &:last-child {
                        @media (max-width: 639px) {
                            margin-top: 20px;
                        }
                    }
                }
            }

            .favorite-checkbox-details {
                display: inline-block;

                .favorite-list {
                    width: 100%;

                    // had to change from form to element below; due to nested form elements; there was no way to include the input test from the header
                    // and the checkboxes
                    #checkbox-favorite-list {
                        display: inline-block;

                        .form-group {
                            width: 33.33%;
                            float: left;
                            margin-bottom: 15px;

                            @media (max-width: 767px) {
                                width: 50%;
                            }

                            @media (max-width: 639px) {
                                width: 100%;
                            }

                            label {
                                span {
                                    padding-left: 25px;
                                    font-size: 14px;
                                    display: inline-block;
                                    line-height: normal;
                                    width: 100%;
                                }
                            }

                            &.checkbox-with-comment {
                                width: 100%;
                                margin-top: 5px;

                                .checkbox--with-comment-input {
                                    width: 80%;
                                    display: inline-block;

                                    @media (max-width: 639px) {
                                        width: 98%;
                                        margin-top: 10px;
                                        margin-left: 8px;
                                    }
                                }
                            }

                            &.form-button-row {
                                width: 100%;
                                text-align: center;
                                margin-bottom: 0;

                                .button {
                                    padding: 5px 35px;
                                    margin: 0;

                                    @media (max-width: 639px) {
                                        display: block;
                                        margin: 0 auto;
                                    }
                                    
                                    +.button {
                                        margin-left: 20px;

                                        @media (max-width: 639px) {
                                            margin: 10px auto 0;
                                        }
                                    }
                                }
                            }
                        }                    
                    }
                }
            }

            p {
                margin-bottom: 0;
            }
        }
        // Explore2 Careers Tab
        .favorite-box-content-list {
            display: inline-block;
            padding: 15px 15px 0;

            .favorite-checkmark-box-block {
                display: flex;
                align-items: center;
                width: 100%;

                .checkmark-box {
                    float: left;
                    margin-right: 10px;
                }
            }
            .custom-bottom-space {
                padding-bottom: 25px;
            }
            // favorite box details
            .favorite-box-details {
                margin-top: 15px;

                @media screen and (max-width: 480px) { 
                    margin-left: 0;
                    max-width: 100%;
                }

                .favorite-box-details-list {
                    display: inline-block;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    width: 100%;

                    .custom-width-35 {
                        width: 35%;
                    }
                    .custom-width-15 {
                        width: 15%;
                    }

                    li {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        float: left;
                        margin-bottom: 0 !important;
                        text-align: center;
                        line-height: normal !important;
                        padding: 7px 8px;
                        height: 40px;

                        @media screen and (max-width: 892px) {
                            width: 50% !important;
                        }

                        @media screen and (max-width: 480px) { 
                            display: inline-block;
                            float: none;
                            width: 100% !important;
                        }

                        &:before {
                            content: '' !important;
                            border-left: 1px solid #979797;
                            width: 1px;
                            left: 0 !important;
                            height: 100%;

                            @media screen and (max-width: 480px) { 
                                display: none;
                            }
                        }

                        &:first-child:before {
                            display: none;
                        }

                        a {
                            font-size: 14px;

                            b {
                                margin-right: 4px;
                            }
                        }
                    }

                    .create-plan {
                        a.create-plan-btn {
                            margin: 0;
                            background-color: #eee;
                            color: #4C44AC;
                            padding: 5px 15px;
                            text-transform: none;

                            i {
                                margin-left: 6px;
                            }
                        }
                    }
                    
                    .favorite-meter {
                        @media screen and (min-width: 640px) and (max-width: 686px) {
                            display: inline-block;
                            padding: 0;
                        }

                        @media screen and (max-width: 480px) {
                            display: inline-block;
                            border-top: 1px solid #979797;
                            padding: 7px 8px;
                            height: auto;
                        }
                        
                        span {
                            font-size: 12px;
                            margin-right: 10px;
                            float: left;
            
                            @media screen and (min-width: 640px) and (max-width: 686px) {
                                float: none;
                                display: inline-block;
                                width: 100%;
                            }

                            @media screen and (max-width: 480px) {
                                float: none;
                                display: inline-block;
                                width: 100% !important;
                            }
                        }
                    }
                    .icons {
                        @media screen and (max-width: 892px) {
                            border-top: 1px solid #979797;
                        }
                        @media screen and (max-width: 480px) {
                            float: left;
                            width: 50% !important;
                        }
                    }
                    .note {
                        &:before {
                            @media screen and (max-width: 892px) {
                                display: none;
                            }
                        }
                    }
                    .remove {
                        padding-right: 0;

                        @media screen and (max-width: 892px) {
                            padding-right: 8px;
                        }
                        
                        &:before {
                            @media screen and (max-width: 480px) {
                                content: '' !important;
                                border-left: 1px solid #979797;
                                width: 1px;
                                display: inline-block;
                                left: 0 !important;
                                height: 100%;
                            }
                        }
                        
                        .remove-icon {
                            img {
                                position: relative;
                                top: -2px;
                            }
                        }
                    }
                }
            }
            // favorite box icon
            .favorite-box-icon {
                margin: 0;

                @media screen and (max-width: 767px) {
                    margin-top: 16px;
                }

                .favorite-box-details-list{
                    @media screen and (max-width: 767px) {
                        display: flex;
                        justify-content: center;
                        margin: 0 auto;
                    }
                        
                    li {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        float: left;
                        margin-bottom: 0 !important;
                        text-align: center;
                        line-height: normal !important;
                        padding: 0px 20px;
                        height: auto;

                        &:before {
                            content: '' !important;
                            border-left: 1px solid #979797;
                            width: 1px;
                            left: 0 !important;
                            height: 100%;
                        }

                        &:first-child:before {
                            display: none;
                        }
                    }

                    .create-plan {
                        a.create-plan-btn {
                            margin: 0;
                            background-color: #eee;
                            color: #4C44AC;
                            padding: 5px 15px;
                            text-transform: none;

                            i {
                                margin-left: 6px;
                            }
                        }
                    }

                    .favorite-meter {
                        span {
                            font-size: 12px;
                            margin-right: 10px;
                            float: left;
                        }
                        .favorits-icon {
                            float: left;
                        }
                    }
                    .remove {
                        padding-right: 0;

                        @media screen and (max-width: 892px) {
                            padding-right: 8px;
                        }

                        @media screen and (min-width: 768px) and (max-width: 785px) {
                            padding-right: 0px;
                        }
                        
                        .remove-icon {
                            .d-hide {
                                opacity: 0;
                            }
                            img {
                                position: relative;
                                top: -2px;
                            }
                        }
                    }
                }
            }
            .custom-width-67 {
                width: 67%;

                @media screen and (max-width: 912px) {
                    width: 57%;
                }

                @media screen and (max-width: 767px) {
                    width: 100%;
                }
            }
            .custom-width-33 {
                width: 33%;

                @media screen and (max-width: 912px) {
                    width: 43%;
                }
                
                @media screen and (max-width: 767px) {
                    width: 100%;
                }
            }
            
            p {
                margin-bottom: 0;
            }
        }
        .border-bottom {
            border-bottom: 1px solid #CDCDCD;
        }
    }

    .add-new-experience {
        border: 1px solid #707070;
        text-align: center;
        display: block;
        background-color: #EEEDF6;
        font-size: 14px;
        line-height: 19px;
        font-weight: bold;
        height: 35px;
        padding: 7px;
        margin: 0 25px;

        &:hover {
            text-decoration: none;
            opacity: 0.8;
        }

        i {
            margin-left: 5px;
        }
    }
}



// Styled Checkbox Start
.styled-checkbox {

    & + label.styled-checkbox-label {
        position: relative;
        cursor: pointer;
        width: auto;
        height: auto;

        &:before {
            border-radius: 3px;
            width: 15px;
            height: 15px;
            top: 4px;
        }
    }

    &:checked + label:before {
        border-color: #404A5A;
    }

    // Disabled state label.
    &:disabled + label {
        color: #b8b8b8;
        cursor: auto;

        &:before {
            box-shadow: none;
            background: #E0E8EC;
            margin-left: 0;
            margin-right: 0;
        }
    }

    // Checkmark - Could be replaced with an image
    &:checked + label:after {
        border: solid #404A5A;
        border-width: 0 2px 2px 0;
        content: "";
        left: 5px;
        top: 7px;
        width: 5px;
        height: 9px;        
        position: absolute;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

// About Me Modal
.explore-modal {
    padding: 0;
    margin: 0;

    .modal-main {

        .modal-main-title {
            display: inline-block;
            width: 100%;
            position: relative;
    
            h2 {
                font-size: 16px;
                font-weight: bold;
                color: #505D68;
                padding: 6px 28px 6px 12px;
                margin-bottom: 0;
                text-transform: none;
            }
            a {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    
        .modal-discription {
            margin: 50px 25px 25px;
    
            @media (max-width: 639px) {
                margin: 25px auto;
            }
        }
    
        .modal-close {
            text-align: center;
            margin: 40px auto 0;
    
            .button {
                padding: 5px 30px;
                margin: 0;
    
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}