<section id="main-content" class="explore-modal learn-about-modal" role="main">
    <div class="modal-main">
        <div class="modal-main-title bg-l-gray">
            <h2>MORE ABOUT ME</h2>
            <a class="close-icon" (click)="promptClose()"><img src="/assets/images/close.svg" alt="Close" /></a>
        </div>
        <div class="modal-discription">
            <div class="complete-fyi-video-tutorial">
                <div class="complete-fyi-video-content">
                    <p><b>Learn from your past experience.</b></p>
                    <p>While test scores and grades are important factors to consider while exploring careers, equally important are the
                        things that matter most to YOU. In this section, think about your work experiences and achievements (for example, an
                        after-school or summer job, volunteering, sports, theater, etc.). Think about things you enjoyed or were good at,
                        AND things that you didn't like so much or weren't good at. Include both your school-related and non-school-related
                        activities.</p>
                </div>
                <div class="complete-fyi-video-wrapper">
                    <div class="img-with-play-icon">
                        <a (click)="_utility.showVideoDialog('https://www.youtube.com/embed/RM-g73droL4')">
                            <img src="/assets/images/explore_careers/asvab-tutorial-video.png" alt="Video Tutorial" />
                            <img src="/assets/images/video-play-icon.svg" alt="Play" class="video-play" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="favorite-box" *ngFor="let experience of experiences; let i = index;">
                <div class="favorite-box-title" *ngIf="updateExperienceForm.value.experienceId != experience.id">
                    <h6><b>{{experience.jobTitle}}</b></h6>
                    <ul class="menu-btn">
                        <li><button type="button" (click)="editExperience(experience, i)" 
                            [disabled]="experienceForm.value.experienceId == experience.id "><img src="/assets/images/edit.svg"
                                    alt="Edit" /></button></li>
                        <li><button (click)="removeExperience(experience.jobTitle, experience.id, i)"><img
                                    src="/assets/images/close-blue.svg" alt="Close" /></button></li>
                    </ul>
                </div>
                <div class="favorite-box-content" *ngIf="updateExperienceForm.value.experienceId != experience.id">
                    <div class="favorite-box-details">
                        <div class="favorite-list">
                            <h6><b>I learned I’m good at:</b></h6>
                            <ul *ngFor="let like of experience.likes">
                                <li>{{like}}</li>
                            </ul>
                        </div>
                        <div class="favorite-list">
                            <h6><b>I learned I don’t like:</b></h6>
                            <ul *ngFor="let dislike of experience.dislikes">
                                <li>{{dislike}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!-- Edit inline form  -->
                <form class="favorite-box" [formGroup]="updateExperienceForm" *ngIf="updateExperienceForm.value.experienceId == experience.id" 
                    (ngSubmit)="submitUpdateExperienceForm()">
                    <div class="favorite-box-title">
                        <input type="text" placeholder="Job Title" formControlName="jobTitle" required>
                        <ul class="menu-btn">
                            <li><a (click)="promptEditCancel()"><img src="/assets/images/close-blue.svg" alt="Close" /></a></li>
                        </ul>
                    </div>
                    <div class="favorite-box-content">
                        <div class="favorite-box-details favorite-checkbox-details">
                            <div class="favorite-list">
                                <div id="checkbox-favorite-list">
                                    <input type="hidden" formControlName="experienceId" />
                                    <h6><b>I learned I’m good at:</b></h6>
                                    <div formGroupName="likes">
                                        <div class="form-group checkmark-box">
                                            <input class="styled-checkbox" id="styled-checkbox-communication"
                                                type="checkbox" formControlName="communication" />
                                            <label class="styled-checkbox-label"
                                                for="styled-checkbox-communication"><span>Communication</span></label>
                                        </div>
                                        <div class="form-group checkmark-box">
                                            <input class="styled-checkbox" id="styled-checkbox-collaboration"
                                                type="checkbox" formControlName="collaboration" />
                                            <label class="styled-checkbox-label"
                                                for="styled-checkbox-collaboration"><span>Collaboration</span></label>
                                        </div>
                                        <div class="form-group checkmark-box">
                                            <input class="styled-checkbox" id="styled-checkbox-adaptability" type="checkbox"
                                                formControlName="adaptability" />
                                            <label class="styled-checkbox-label"
                                                for="styled-checkbox-adaptability"><span>Adaptability</span></label>
                                        </div>
                                        <div class="form-group checkmark-box">
                                            <input class="styled-checkbox" id="styled-checkbox-timeManagement"
                                                type="checkbox" formControlName="timeManagement" />
                                            <label class="styled-checkbox-label"
                                                for="styled-checkbox-timeManagement"><span>Time Management</span></label>
                                        </div>
                                        <div class="form-group checkmark-box">
                                            <input class="styled-checkbox" id="styled-checkbox-initiative" type="checkbox"
                                                formControlName="initiative" />
                                            <label class="styled-checkbox-label"
                                                for="styled-checkbox-initiative"><span>Initiative</span></label>
                                        </div>
                                        <div class="form-group checkmark-box">
                                            <input class="styled-checkbox" id="styled-checkbox-creativity" type="checkbox"
                                                formControlName="creativity" />
                                            <label class="styled-checkbox-label"
                                                for="styled-checkbox-creativity"><span>Creativity</span></label>
                                        </div>
                                        <div class="form-group checkmark-box">
                                            <input class="styled-checkbox" id="styled-checkbox-criticalThinking"
                                                type="checkbox" formControlName="criticalThinking" />
                                            <label class="styled-checkbox-label"
                                                for="styled-checkbox-criticalThinking"><span>Critical Thinking/Problem
                                                    Solving</span></label>
                                        </div>
                                        <div class="form-group checkmark-box">
                                            <input class="styled-checkbox" id="styled-checkbox-persuasion" type="checkbox"
                                                formControlName="persuasion" />
                                            <label class="styled-checkbox-label"
                                                for="styled-checkbox-persuasion"><span>Persuasion</span></label>
                                        </div>
                                        <div class="form-group checkmark-box">
                                            <input class="styled-checkbox" id="styled-checkbox-digitalLiteracy"
                                                type="checkbox" formControlName="digitalLiteracy" />
                                            <label class="styled-checkbox-label"
                                                for="styled-checkbox-digitalLiteracy"><span>Digital Literacy</span></label>
                                        </div>
                                        <div class="form-group checkmark-box checkbox-with-comment">
                                            <input class="styled-checkbox" id="styled-checkbox-otherLike" type="checkbox"
                                                formControlName="otherLike" />
                                            <label class="styled-checkbox-label"
                                                for="styled-checkbox-otherLike"><span>Other</span></label>
                                            <input class="checkbox--with-comment-input" type="Text"
                                                formControlName="otherLikeText">
                                        </div>
                                    </div>
                                    <h6><b>I learned I don’t like:</b></h6>
                                    <div formGroupName="dislikes">
                                        <div class="form-group checkmark-box">
                                            <input class="styled-checkbox" id="styled-checkbox-workingOutside"
                                                type="checkbox" formControlName="workingOutside" />
                                            <label class="styled-checkbox-label"
                                                for="styled-checkbox-workingOutside"><span>Working outside</span></label>
                                        </div>
                                        <div class="form-group checkmark-box">
                                            <input class="styled-checkbox" id="styled-checkbox-workingWithHands"
                                                type="checkbox" formControlName="workingWithHands" />
                                            <label class="styled-checkbox-label"
                                                for="styled-checkbox-workingWithHands"><span>Working with my
                                                    hands</span></label>
                                        </div>
                                        <div class="form-group checkmark-box">
                                            <input class="styled-checkbox" id="styled-checkbox-workingWithHands2"
                                                type="checkbox" formControlName="workingWithHands2" />
                                            <label class="styled-checkbox-label"
                                                for="styled-checkbox-workingWithHands2"><span>Working with elderly</span></label>
                                        </div>
                                        <div class="form-group checkmark-box">
                                            <input class="styled-checkbox" id="styled-checkbox-workingWithChildren"
                                                type="checkbox" formControlName="workingWithChildren" />
                                            <label class="styled-checkbox-label"
                                                for="styled-checkbox-workingWithChildren"><span>Working with
                                                    children</span></label>
                                        </div>
                                        <div class="form-group checkmark-box">
                                            <input class="styled-checkbox" id="styled-checkbox-dislikedItem" type="checkbox"
                                                formControlName="dislikedItem" />
                                            <label class="styled-checkbox-label"
                                                for="styled-checkbox-dislikedItem"><span>Working in closed space</span></label>
                                        </div>
                                        <div class="form-group checkmark-box">
                                            <input class="styled-checkbox" id="styled-checkbox-dislikedItem2"
                                                type="checkbox" formControlName="dislikedItem2" />
                                            <label class="styled-checkbox-label"
                                                for="styled-checkbox-dislikedItem2"><span>Working at high altitude</span></label>
                                        </div>
                                        <div class="form-group checkmark-box">
                                            <input class="styled-checkbox" id="styled-checkbox-managingPeople"
                                                type="checkbox" formControlName="managingPeople" />
                                            <label class="styled-checkbox-label"
                                                for="styled-checkbox-managingPeople"><span>Managing people</span></label>
                                        </div>
                                        <div class="form-group checkmark-box">
                                            <input class="styled-checkbox" id="styled-checkbox-dislikedItem3"
                                                type="checkbox" formControlName="dislikedItem3" />
                                            <label class="styled-checkbox-label"
                                                for="styled-checkbox-dislikedItem3"><span>Working in noisy environment</span></label>
                                        </div>
                                        <div class="form-group checkmark-box">
                                            <input class="styled-checkbox" id="styled-checkbox-dislikedItem4"
                                                type="checkbox" formControlName="dislikedItem4" />
                                            <label class="styled-checkbox-label"
                                                for="styled-checkbox-dislikedItem4"><span>Working with computers</span></label>
                                        </div>
                                        <div class="form-group checkmark-box checkbox-with-comment">
                                            <input class="styled-checkbox" id="styled-checkbox-otherDislike" type="checkbox"
                                                formControlName="otherDislike" />
                                            <label class="styled-checkbox-label"
                                                for="styled-checkbox-otherDislike"><span>Other</span></label>
                                            <input class="checkbox--with-comment-input" type="Text"
                                                formControlName="otherDislikeText">
                                        </div>
                                    </div>
    
                                    <span
                                        *ngIf="(updateExperienceForm.get('jobTitle').invalid && (updateExperienceForm.get('jobTitle').dirty || updateExperienceForm.get('jobTitle').touched))"
                                        style="color:red;">
                                        Job Title is required.
                                    </span>
    
                                    <div class="form-group form-button-row">
                                        <button type="submit" class="button"
                                            [disabled]="!updateExperienceForm.dirty || !updateExperienceForm.valid">Save</button>
                                        <button type="button" class="button" (click)="promptEditCancel()">Cancel</button>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <!-- Favorite Box 2 -->
            <form class="favorite-box" [formGroup]="experienceForm" (ngSubmit)="submitExperienceForm()" 
                *ngIf="!updateFormIsShowing() && !savedNewGap">
                <div class="favorite-box-title">
                    <input type="text" placeholder="Job Title" formControlName="jobTitle" required>
                    <ul class="menu-btn">
                        <li><a (click)="promptCancel()"><img src="/assets/images/close-blue.svg" alt="Close" /></a></li>
                    </ul>
                </div>
                <div class="favorite-box-content">
                    <div class="favorite-box-details favorite-checkbox-details">
                        <div class="favorite-list">
                            <div id="checkbox-favorite-list">
                                <input type="hidden" formControlName="experienceId" />
                                <h6><b>I learned I’m good at:</b></h6>
                                <div formGroupName="likes">
                                    <div class="form-group checkmark-box">
                                        <input class="styled-checkbox" id="styled-checkbox-communication"
                                            type="checkbox" formControlName="communication" />
                                        <label class="styled-checkbox-label"
                                            for="styled-checkbox-communication"><span>Communication</span></label>
                                    </div>
                                    <div class="form-group checkmark-box">
                                        <input class="styled-checkbox" id="styled-checkbox-collaboration"
                                            type="checkbox" formControlName="collaboration" />
                                        <label class="styled-checkbox-label"
                                            for="styled-checkbox-collaboration"><span>Collaboration</span></label>
                                    </div>
                                    <div class="form-group checkmark-box">
                                        <input class="styled-checkbox" id="styled-checkbox-adaptability" type="checkbox"
                                            formControlName="adaptability" />
                                        <label class="styled-checkbox-label"
                                            for="styled-checkbox-adaptability"><span>Adaptability</span></label>
                                    </div>
                                    <div class="form-group checkmark-box">
                                        <input class="styled-checkbox" id="styled-checkbox-timeManagement"
                                            type="checkbox" formControlName="timeManagement" />
                                        <label class="styled-checkbox-label"
                                            for="styled-checkbox-timeManagement"><span>Time Management</span></label>
                                    </div>
                                    <div class="form-group checkmark-box">
                                        <input class="styled-checkbox" id="styled-checkbox-initiative" type="checkbox"
                                            formControlName="initiative" />
                                        <label class="styled-checkbox-label"
                                            for="styled-checkbox-initiative"><span>Initiative</span></label>
                                    </div>
                                    <div class="form-group checkmark-box">
                                        <input class="styled-checkbox" id="styled-checkbox-creativity" type="checkbox"
                                            formControlName="creativity" />
                                        <label class="styled-checkbox-label"
                                            for="styled-checkbox-creativity"><span>Creativity</span></label>
                                    </div>
                                    <div class="form-group checkmark-box">
                                        <input class="styled-checkbox" id="styled-checkbox-criticalThinking"
                                            type="checkbox" formControlName="criticalThinking" />
                                        <label class="styled-checkbox-label"
                                            for="styled-checkbox-criticalThinking"><span>Critical Thinking/Problem
                                                Solving</span></label>
                                    </div>
                                    <div class="form-group checkmark-box">
                                        <input class="styled-checkbox" id="styled-checkbox-persuasion" type="checkbox"
                                            formControlName="persuasion" />
                                        <label class="styled-checkbox-label"
                                            for="styled-checkbox-persuasion"><span>Persuasion</span></label>
                                    </div>
                                    <div class="form-group checkmark-box">
                                        <input class="styled-checkbox" id="styled-checkbox-digitalLiteracy"
                                            type="checkbox" formControlName="digitalLiteracy" />
                                        <label class="styled-checkbox-label"
                                            for="styled-checkbox-digitalLiteracy"><span>Digital Literacy</span></label>
                                    </div>
                                    <div class="form-group checkmark-box checkbox-with-comment">
                                        <input class="styled-checkbox" id="styled-checkbox-otherLike" type="checkbox"
                                            formControlName="otherLike" />
                                        <label class="styled-checkbox-label"
                                            for="styled-checkbox-otherLike"><span>Other</span></label>
                                        <input class="checkbox--with-comment-input" type="Text"
                                            formControlName="otherLikeText">
                                    </div>
                                </div>
                                <h6><b>I learned I don’t like:</b></h6>
                                <div formGroupName="dislikes">
                                    <div class="form-group checkmark-box">
                                        <input class="styled-checkbox" id="styled-checkbox-workingOutside"
                                            type="checkbox" formControlName="workingOutside" />
                                        <label class="styled-checkbox-label"
                                            for="styled-checkbox-workingOutside"><span>Working outside</span></label>
                                    </div>
                                    <div class="form-group checkmark-box">
                                        <input class="styled-checkbox" id="styled-checkbox-workingWithHands"
                                            type="checkbox" formControlName="workingWithHands" />
                                        <label class="styled-checkbox-label"
                                            for="styled-checkbox-workingWithHands"><span>Working with my
                                                hands</span></label>
                                    </div>
                                    <div class="form-group checkmark-box">
                                        <input class="styled-checkbox" id="styled-checkbox-workingWithHands2"
                                            type="checkbox" formControlName="workingWithHands2" />
                                        <label class="styled-checkbox-label"
                                            for="styled-checkbox-workingWithHands2"><span>Working with elderly</span></label>
                                    </div>
                                    <div class="form-group checkmark-box">
                                        <input class="styled-checkbox" id="styled-checkbox-workingWithChildren"
                                            type="checkbox" formControlName="workingWithChildren" />
                                        <label class="styled-checkbox-label"
                                            for="styled-checkbox-workingWithChildren"><span>Working with
                                                children</span></label>
                                    </div>
                                    <div class="form-group checkmark-box">
                                        <input class="styled-checkbox" id="styled-checkbox-dislikedItem" type="checkbox"
                                            formControlName="dislikedItem" />
                                        <label class="styled-checkbox-label"
                                            for="styled-checkbox-dislikedItem"><span>Working in closed space</span></label>
                                    </div>
                                    <div class="form-group checkmark-box">
                                        <input class="styled-checkbox" id="styled-checkbox-dislikedItem2"
                                            type="checkbox" formControlName="dislikedItem2" />
                                        <label class="styled-checkbox-label"
                                            for="styled-checkbox-dislikedItem2"><span>Working at high altitude</span></label>
                                    </div>
                                    <div class="form-group checkmark-box">
                                        <input class="styled-checkbox" id="styled-checkbox-managingPeople"
                                            type="checkbox" formControlName="managingPeople" />
                                        <label class="styled-checkbox-label"
                                            for="styled-checkbox-managingPeople"><span>Managing people</span></label>
                                    </div>
                                    <div class="form-group checkmark-box">
                                        <input class="styled-checkbox" id="styled-checkbox-dislikedItem3"
                                            type="checkbox" formControlName="dislikedItem3" />
                                        <label class="styled-checkbox-label"
                                            for="styled-checkbox-dislikedItem3"><span>Working in noisy environment</span></label>
                                    </div>
                                    <div class="form-group checkmark-box">
                                        <input class="styled-checkbox" id="styled-checkbox-dislikedItem4"
                                            type="checkbox" formControlName="dislikedItem4" />
                                        <label class="styled-checkbox-label"
                                            for="styled-checkbox-dislikedItem4"><span>Working with computers</span></label>
                                    </div>
                                    <div class="form-group checkmark-box checkbox-with-comment">
                                        <input class="styled-checkbox" id="styled-checkbox-otherDislike" type="checkbox"
                                            formControlName="otherDislike" />
                                        <label class="styled-checkbox-label"
                                            for="styled-checkbox-otherDislike"><span>Other</span></label>
                                        <input class="checkbox--with-comment-input" type="Text"
                                            formControlName="otherDislikeText">
                                    </div>
                                </div>

                                <span
                                    *ngIf="(experienceForm.get('jobTitle').invalid && (experienceForm.get('jobTitle').dirty || experienceForm.get('jobTitle').touched))"
                                    style="color:red;">
                                    Job Title is required.
                                </span>

                                <div class="form-group form-button-row">
                                    <button type="submit" class="button"
                                        [disabled]="!experienceForm.dirty || !experienceForm.valid">Save</button>
                                    <button type="button" class="button" (click)="promptCancel()">Cancel</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <a (click)="promptAddNew()" class="add-new-experience">Add a New Experience <i class="fa fa-plus"></i>
        </a>
        <div class="modal-close">
            <a class="button" (click)="promptClose()">Close</a>
        </div>
    </div>
</section>