#my-results-table {
    width: 100%;
    
    td,th {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }
    
    >tbody>tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }
}