<div id="fyi" class="occufind">
  <app-header></app-header>
  <app-my-asvab-header></app-my-asvab-header>

  <section id="content-wrap" class="left-nav-expanded-wrap">
    <div class="row">
      <app-left-navigation-v2-collapsed [selectedTab]="'learn'"></app-left-navigation-v2-collapsed>

      <section id="main-content" class="left-navigation-condensed" role="main">
        <app-my-top-results-collapsed [collapsedVersion]="'v2'"></app-my-top-results-collapsed>

        <div id="left-nav-content-wrap">

          <h2>YOUR ASVAB SUMMARY RESULTS</h2>
          <h4><strong>Results shown for Manually Entered Scores</strong></h4>

          <div class="row">
            <!-- Results Shown Column 1 -->
            <div class="medium-7 columns">
              <section id="fyi-results">
                <table class="table" id="test-info-table">
                  <thead>
                    <tr>
                      <td>Student Info</td>
                      <td>Test Info</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div *ngIf="hsGrade">Grade: {{hsGrade}}th <br /></div>
                        <div *ngIf="gender">Gender: {{gender}}</div>
                      </td>
                      <td>
                        <div *ngIf="testDateMonth && testDateDay && testDateYear">Date:
                          {{testDateMonth}}/{{testDateDay}}/{{testDateYear}}<br /></div>
                        <div *ngIf="testLocation">Location: {{testLocation}}</div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </section>
            </div>

            <!-- Results Shown Column 1 -->
            <div class="medium-5 columns">
              <p>Don’t see the scores you expected?</p>
              <a class="button optionButtons" (click)="showRetrieveAsvabScoresDialog()">Check for New Scores</a>
              <a class="button optionButtons" (click)="cepManualInput()">Enter Your CEP Scores Manually</a>
            </div>
          </div>

          <div class="row">
            <!-- Your Results Column 1 -->
            <div class="medium-7 columns">
              <h4 id="choose"><strong>Your ASVAB results include:</strong></h4>
              <ul>
                <li><a (click)="scrollTo(ces)">Career Exploration Scores</a></li>
                <li><a (click)="scrollTo(asvab)">ASVAB Test Scores</a></li>
                <li><a (click)="scrollTo(mes)">Military Entrance Score (AFQT)</a></li>
              </ul>
            </div>

            <!-- Your Results Column 2 -->
            <div class="medium-5 columns">
              <div class="tutorial" *ngFor="let m of mediaCenterList">
                <a class="resource-title" routerLink="/media-center-article/{{m.id}}">{{m.title}}</a>
                <!-- <h4><strong>{{m.title}}</strong></h4> -->
                <a *ngIf="m.typeId != 1" routerLink="/media-center-article/{{m.id}}">
                  <span class="image-wrapper"><img src="assets/images/asvab-tutorial-video.jpg"
                      style="position: relative;"><span id="play-icon"></span></span>
                </a>
                <a *ngIf="m.typeId == 1" (click)="showVideoDialog(m.videoImgUrl)">
                  <span class="image-wrapper"><img src="assets/images/asvab-tutorial-video.jpg"
                      style="position: relative;"><span id="play-icon"></span></span>
                </a>
              </div>
            </div>

          </div>

          <!-- CES Section -->
          <h2 id="ces" #ces>Career Exploration Scores</h2>
          <p>The career exploration scores translate your ASVAB test scores into skill strength scores to help you with
            career exploration. <a (click)="moreInfo('ces')">Learn More.</a></p>

          <div class="row">
            <!-- CES Standard Scores Colum -->
            <div class="medium-6 columns">
              <!-- <h2><smaller>Standard Scores</smaller></h2>
          <p>These are your actual scores on the test. <a  (click)="moreInfo('cesStandard')">Learn More.</a></p> -->
              <table id="my-results-table" class="table table-striped">
                <tbody>
                  <tr>
                    <td id="varbal-score">{{verbalScore}}</td>
                    <td id="math-score">{{mathScore}}</td>
                    <td id="science-score">{{scienceScore}}</td>
                  </tr>
                  <tr>
                    <td>V</td>
                    <td>M</td>
                    <td>S/T</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- ASVAB Section -->
          <h2 id="asvab" #asvab>ASVAB Test Scores</h2>
          <p>
            <strong>The ASVAB subtest scores are used to calculate your career exploration scores and the unique
              composite
              scores each Service uses to determine placement eligibility.</strong>            
            <a target="_blank" href="{{ssoUrl}}composite-scores">See more about composite scores.</a>
          </p>
          <hr>
          <p><strong>ASVAB test scores are not included with manually entered scores.</strong></p>

          <!-- MES/AFQT Section -->
          <div class="row">
            <div class="medium-8 columns">
              <h2 id="mes" #mes>Military Entrance Score (AFQT)</h2>
              <p>This score is used to determine your qualifications for entry into any branch of the United States
                Armed
                Forces.
                <br />
                <a (click)="moreInfo('afqt')">Learn more about AFQT</a>
              </p>
              <hr>
              <p><strong>The AFQT score is not included with manually entered scores.</strong></p>
            </div>
            <div class="medium-4 columns">
            </div>
          </div>
        </div>
      </section>
      <!-- Scroll to top -->
      <a *ngIf="showScrollToTop" (click)="scrollToTop()" class="button optionButtons goToTop">
        <i class="fa fa-chevron-up fa-2x"></i>
      </a>
    </div>
  </section>

	<app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
  <app-footer></app-footer>
  
</div>