<ng-container *ngIf="!isLoading">
  <div class="main" style="padding-bottom: 0">
    <div class="popup-main" style="max-width: 100%">
      <div class="popup-details">
        <div class="modal-header mb-10 padding-0">
          <h4 class="mb-0">Account Information
            <button class="update-account close-button" aria-label="Close modal" type="button" (click)="cancel()">
              <span aria-hidden="true">&times;</span>
            </button>
          </h4>
        </div>
        <div class="modal-body text-center">
          <h3 class="mb-30">Update Account information</h3>
          <div class="mt-60 popup-form-filed" style="padding-right: 0;">
            <form class="text-left">
              <label for="registerEmail" class="sr-only">Email Address</label>
              <input name="username" type="email" 
                id="registerEmail" placeholder="Email " [(ngModel)]="username">
  
              <label for="currentPassword"><strong>Current Password</strong></label>
              <input name="pwCurrent" type="password" id="currentPassword" placeholder="Password" [(ngModel)]="pwCurrent">
  
              <div class="divider mb-10"></div>
  
              <label for="resetPassword1"><strong>Change Password</strong></label>
              <input type="password" name="pw1" id="resetPassword1" placeholder="Password" [(ngModel)]="pw1"/>
              <label for="resetPassword2" class="sr-only">Retype Password</label>
              <input type="password" name="pw2" id="resetPassword2" placeholder="Retype Password" [(ngModel)]="pw2" />
              <span style="color: darkred;" class="text-left">{{errorMsg}}</span>
              <div class="form-btn text-center" style="display: flex; justify-content: space-evenly;">
                <button type="button" class="button" (click)="save()" [disabled]="isSaving">Save<span [hidden]="!isSaving" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
                <button type="button" class="button" style="padding: 8px 10px" (click)="cancel()">Cancel</button>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer text-center" *ngIf="pendingStudents?.length > 0">
          <p class="warning-message">*&nbsp;You have {{pendingStudents?.length}} Pending student requests and they
             must be accepted/declined prior to updating your email.</p>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="isLoading">
  <div class="modal-body">
    <div class="row">
      <div class="small-12 column text-center">
        <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
        Loading...
      </div>
    </div>
  </div>
</ng-container>

