<div id="my-favorites" class="occufind" [ngStyle]="myStyle">
	<app-header></app-header>
	<app-my-asvab-header></app-my-asvab-header>

	<section id="content-wrap">
		<div class="row">
			<div class="medium-2 columns">
				<app-left-navigation #leftNavi></app-left-navigation>
			</div>
			<section id="main-content" class="medium-10 columns" role="main">

				<h2>MY FAVORITES</h2>

				<div class="row">
					<section class="table-pagination">
						<div class="medium-6 columns"><strong>FAVORITE OCCUPATIONS</strong></div>
						<div class="medium-6 columns"><span class="caps">(You can save up to 10 Occupations)</span></div>
						<div class="medium-12 columns">
							<hr />
						</div>
					</section>
					<section id="favorites" class="medium-12 columns fullwidth-tbl">
						<table class="hover">
							<tbody *ngIf="favoriteList.length != 0">
								<tr *ngFor="let f of favoriteList">
									<td class="input"><input type="checkbox" [(ngModel)]="f.selected" (change)="checkChanged(f)"
											[disabled]="checked==limit && !f.selected"></td>
									<td><a routerLink="occufind-occupation-details/{{f.onetSocCd}}">{{f.title}}</a></td>
									<td class="notes" ng-controller="NotesController"><a (click)="showNotes(f.title, f.onetSocCd)">Notes
											<i class="icon notes"></i></a></td>
									<td class="remove"><button (click)="f.disabled = true; removeFavorites(f.id);"
											[disabled]="f.disabled"><a [ngStyle]="myStyle">REMOVE <span>X</span></a></button></td>
								</tr>
								<tr *ngIf="favoriteList.length == 0">
									<td>Your favorites list is empty.</td>
								</tr>
							</tbody>
						</table>
					</section>
					<section class="table-pagination" style="clear:both">
						<div class="medium-12 columns">
							<hr />
							<div class="row compare">
								<div class="medium-8 columns" style="text-transform:none;">
									<strong>Compare your favorite occupations side by side. Select up to three occupations from your list
										and hit Compare.</strong>
								</div>
								<div class="medium-4 columns">
									<button class="button" (click)="compareSelection()">Compare</button>
								</div>
							</div>
						</div>
					</section>
				</div>

				<!-- school favorites -->
				<br /><br />

				<div class="row">
					<section class="table-pagination">
						<div class="medium-6 columns"><strong>FAVORITE COLLEGES</strong></div>
						<div class="medium-6 columns"><span class="caps">(You can save up to 10 colleges)</span></div>
						<div class="medium-12 columns">
							<hr />
						</div>
					</section>
					<section id="favorites" class="medium-12 columns fullwidth-tbl">
						<table class="hover">
							<tbody *ngIf="schoolFavoriteList.length != 0">
								<tr *ngFor="let s of schoolFavoriteList">
									<td><a routerLink="/occufind-school-details/undefined/{{s.unitId}}">{{s.schoolName}}</a></td>
									<td class="notes" ng-controller="NotesController"><a
											(click)="showNotesSchool(s.schoolName, s.unitId)">Notes <i class="icon notes"></i></a></td>
									<td class="remove"><button (click)="s.disabled = true; removeSchoolFavorites(s.id);"
											[disabled]="s.disabled"><a [ngStyle]="myStyle">REMOVE <span>X</span></a></button></td>
								</tr>
								<tr *ngIf="schoolFavoriteList.length == 0">
									<td>Your favorites list is empty.</td>
								</tr>
							</tbody>
						</table>
					</section>
					<section class="table-pagination" style="clear:both">
						<div class="medium-12 columns">
							<hr />
						</div>
					</section>
				</div>

				<br /><br />

				<div class="row">
					<section class="table-pagination">
						<div class="medium-6 columns"><strong>FAVORITE CAREER CLUSTERS</strong></div>
						<div class="medium-6 columns"><span class="caps">(You can save up to 2 career clusters)</span></div>
						<div class="medium-12 columns">
							<hr />
						</div>
					</section>
					<section id="favorites" class="medium-12 columns fullwidth-tbl">
						<table class="hover">
							<tbody *ngIf="careerClusterFavoriteList.length != 0">
								<tr *ngFor='let cc of careerClusterFavoriteList'>
									<td><a routerLink="career-cluster-occupation-results/{{cc.ccId}}">{{cc.title}}</a></td>
									<td class="notes" ng-controller="NotesController"><a (click)="showNotesCC(cc.title, cc.ccId)">Notes <i
												class="icon notes"></i></a></td>
									<td class="remove"><button (click)="cc.disabled = true; removeCareerClusterFavorites(cc.id);"
											[disabled]="cc.disabled"><a [ngStyle]="myStyle">REMOVE <span>X</span></a></button></td>
								</tr>
								<tr *ngIf="careerClusterFavoriteList.length == 0">
									<td>Your favorites list is empty.</td>
								</tr>
							</tbody>
						</table>
					</section>
					<section class="table-pagination" style="clear:both">
						<div class="medium-12 columns">
							<hr />
						</div>
					</section>
				</div>

				<br /><br />

				<!-- <app-left-navigation-mobile *ngIf="loggedIn"></app-left-navigation-mobile> -->

			</section>
		</div>
	</section>

	<app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
	<app-footer></app-footer>
</div>