h3.modal-title.plan_back_link{
    background-color: #E5F4F4;
}


.text-md-right {
    @media (min-width: 768px) {
        text-align: right;
    }
}
.d_inline_block {
    display: inline-block;
}
.hide-collapse {
    display: none;
}
.float_right {
    float: right;
}
.bg_green {
    background-color: #E4F4F4;
}
.bg_light_gray {
    background-color: #EEEEEE;
}
.border_bottom {
    border-bottom: 1px solid #979797;
}
.top_bottom {
    border-top: 1px solid #979797;
}
.mw_100 {
    max-width: 100% !important;
}
.p_20 {
    padding: 20px;
}
.mx-auto {
    margin: 0 auto;
}
.mt_15 {
    margin-top: 15px;
}
.mb_10 {
    margin-bottom: 10px;
}
.mb_20 {
    margin-bottom: 20px;
}
.mb_30 {
    margin-bottom: 30px;
}
.ml_10 {
    margin-left: 10px;
}
.mr_10 {
    margin-right: 10px;
}
.mr_20 {
    margin-right: 20px;
}
.mr_30 {
    margin-right: 30px;
}
.mr_50 {
    margin-right: 50px;
}
.occufind #content-wrap h3 {
    font-size: 14px;
    color: #4A4A4A;
    background-color: #EEEEEE;
    text-transform: inherit;
    margin-bottom: 0;

    &.plan_back_link {
        background-color: #E5F4F4;
        font-weight: normal;
        padding: 13px 33px 13px 13px;
        position: relative;
    }
}
.list_solid_green {
    position: relative;
    padding-left: 43px;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 33px;
        height: 33px;
        background-color: #1BAAAD;
        border-radius: 50%;
    }

    span {
        display: block;
    }
}
.page_back_link {
    border-bottom: 1px solid #BDBDBD;
    display: block;
    line-height: normal;
    padding: 10px 0;
}
form {
    .form-group {
        width: 100%;

        &.disabled {
            border-color: #C3D2DA;
            color: #C3D2DA;
            background-color: #fff;

            label {
                color: #C1C1C1;
            }
        }

        &.form-group-select {
            max-width: 157px;
        }

        select {
            font-size: 14px;
            height: 30px;
            width: 100%;
            border-radius: 3px;
            margin-bottom: 0;
        }

        textarea {
            font-size: 14px;
            border-color: #979797;
            padding: 10px;
            resize: none
        }

        .form_select {
            position: relative;
            max-width: 157px;
            width: 100%;
            display: inline-block;
            margin-left: 20px;

            &:after {
                width: 0; 
                height: 0; 
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 6px solid #C3D2DA;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
                content: "";
                z-index: 1;
                pointer-events: none;
            }

            select {
                margin: 0;
                -moz-appearance:none; /* Firefox */
                -webkit-appearance:none; /* Safari and Chrome */
                appearance:none;                  
                background-image: none;
                color: #C3D2DA;
                background-color: #fff;
            }

            select::-ms-expand {
                display: none;
            }
        }
    }

    .button {
        padding: 6px 29px;
    }
}
.edit_plan_share_wrapper {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;

    p {
        font-size: 16px;
    }

    ul {
        text-align: center;
        margin-bottom: 0;
        margin-left: 0;

        li {
            display: inline-block;
            margin: 0 20px;

            &:before {
                display: none;
            }
        }
    }
}
.edit_plan_salary {
    margin-top: 30px;
    margin-bottom: 10px;

    form {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        p {
            margin-left: 20px;
            margin-bottom: 0;
        }

        .form_select {
            @media (max-width: 639px) {
                margin-left: 0;
            }
        }
    }
}
.edit_plan_box {
    border: 1px solid #979797;

    label {
        font-size: 14px;
        font-weight: bold;
        vertical-align: middle;
    }

    .form-check-input {
        margin-bottom: 0;
        vertical-align: middle;
    }

    .row {
        position: relative;
        margin-left: -7px;
        margin-right: -7px;
        
        .columns {
            padding: 0 7px;

            .medium-6 {
                &:last-child {
                    padding-right: 40px;
                }
            }

            &.small-6 {
                @media (max-width: 639px) {
                    width: 50%;
                }
            }
        }
    }

    .remove_row {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-weight: bold;

        @media (max-width: 639px) {
            bottom: 17px;
            top: inherit;
            transform: inherit;
        }
    }
}

.edit_college_plan {

    + .edit_college_plan {
        border-top: 1px solid #979797;
    }

    p {
        color: #4A4A4A;
        margin-bottom: 5px;
    }
    .form-group {
        padding: 3px 5px;
    }
    button {
        display: block;
        margin: 20px auto 0;
    }
    .devider_with_text {
        text-align: center;
        position: relative;
        margin: 20px auto;

        &:before {
            position: absolute;
            content: '';
            height: 1px;
            width: 100%;
            background-color: #979797;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        
        p {
            font-size: 14px;
            position: relative;
            background-color: #fff;
            display: inline-block;
            padding: 0 20px;
        }
    }
    .search_college {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        p {
            margin-right: auto;

            @media (max-width: 767px) {
                width: 100%;
                text-align: center;
            }
        }

        .button {
            margin: 10px 0 10px 10px;
        }
    }
    .edit_college {

        p {
            font-size: 14px;
        }
        a {
            font-size: 14px;
        }
        h4 {
            font-size: 14px;
            line-height: normal;
            color: #4a4a4a;
            background-color: #EEEEEE;
            padding: 10px;
            position: relative;

            @media (max-width: 767px) {
                padding-right: 30px;
            }
        }
        .form-group {
            display: flex;
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 7px;

            &.tuition_estimate {
                display: flex;
                justify-content: space-between;

                .form_select {
                    max-width: 183px;
                }
            }
        }
        label {
            min-width: 55px;
            flex: 1 0 auto;
            color: #4A4A4A;
        }
        .tuition_sources {
            label {
                font-weight: normal;
            }
            input {
                font-size: 15px;
                color: #4a4a4a;
                border-color: #4a4a4a;
                text-align: right;
                max-width: 175px;
                width: 100%;
                height: 27px;
                padding: 3px 7px;
                margin-bottom: 0;
            }
        }
        .estimate_tuition_total {
            background-color: #EEEEEE;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: bold;
            padding: 5px 10px;
            margin-top: 20px;

            p {
                max-width: 50%;
                width: 100%;

                &:last-child {
                    text-align: right;
                }
            }
        }

        button {
            margin-left: 0;

            @media (max-width: 640px) {
                margin: 20px auto;
            }
        }

        .program_school {
            display: flex;
            text-align: center;

            p {
                display: flex;
                flex-direction: column;

                & + p {
                    margin-left: 35px;
                }

                span {
                    min-height: 43px;
                }
            }
        }

    }
}
.back_to_plan {
    .plan_options {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        color: #4a4a4a;
        background-color: #EEEEEE;
        margin-bottom: 30px;
    
        .form-group {
            display: flex;
            align-items: center;
            width: inherit;
            margin: 10px;

            @media (max-width: 639px) {
                flex-direction: column;
                align-items: flex-start;
            }
    
            label {
                font-size: 13px;
                text-transform: uppercase;
                white-space: nowrap;
            }
    
            select {
                font-size: 13px;
                height: 20px;
                width: inherit;
                padding-right: 40px;
            }
        }
    }
    .search_reasult_title {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 1px solid #979797;
        padding-bottom: 10px;
        margin-bottom: 20px;

        @media (max-width: 639px) {
            flex-direction: column;
            align-items: center;
        }

        p {
            margin-bottom: 0;
        }

        .pagination {
            color: #4c44ac;
            margin-bottom: 0;
        }
    }
    
    .search_reasults {
        ul {
            margin-left: 0;
            
            li {
                display: flex;
                
                &:before {
                    display: none;
                }
            }
        }
    }
}
.edit_military_plan {
    font-size: 14px;

    .edit_military_plan_select {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .form-group {
            max-width: 20%;
            width: 100%;

            @media (max-width: 991px) {
                max-width: 33.33%;
            }

            @media (max-width: 575px) {
                max-width: 50%;
            }

            @media (max-width: 374px) {
                max-width: 100%;
            }

            &:last-child {
                @media (max-width: 991px) {
                    margin-right: auto;
                }
            }
        }

        &.create_military_plan_select {
            .form-group {
                max-width: 30%;

                @media (max-width: 639px) {
                    max-width: 50%;
                }
            }
        }
    }

    
    .form-group {
        span {
            a {
                @media (max-width: 639px) {
                    float: none;
                    display: block;
                    margin-top: 10px;
                }
            }
        }
    }
    
    .apply_option {
        display: flex;
        align-items: center; 

        @media (max-width: 639px) {
            margin-bottom: 20px;
        }
    }

    .add_career_wrapper {

        p {
            width: inherit;

            @media (max-width: 639px) {
                display: block;
            }
        }

        a.float_right {
            @media (max-width: 639px) {
                float: none;
                display: inline-block;
            }
        }

        .add_career {
            position: relative;
            background-color: #EEEEEE;
            padding: 10px 50px 10px 10px;
            margin-bottom: 5px;

            @media (max-width: 639px) {
                padding-right: 10px;
            }
    
            .form-group {
                display: flex;
                margin-bottom: 10px;

                @media (max-width: 767px) {
                    flex-wrap: wrap;;
                }
    
                &.disabled {
                    background-color: transparent;
                }
    
                label {
                    min-width: 85px;
                    margin-right: 10px;
                }
    
                .form_select {
                    margin-left: 0;
                }
            }
    
            .add_career_details {
                width: 100%;
                border-left: 1px solid #000;
                padding-left: 20px;

                @media (max-width: 767px) {
                    border-left: none;
                    padding-left: 0;
                    margin-top: 5px;
                }
            }
    
            .add_career_filter {
                display: inline-flex;
                align-items: center;
                margin-bottom: 10px;

                @media (max-width: 639px) {
                    display: flex;
                }
    
                .form-group {
                    align-items: center;
                    margin-bottom: 0;

                    @media (max-width: 639px) {
                        width: auto;
                    }
                }
                
                label {
                    font-weight: normal;

                    @media (max-width: 639px) {
                        min-width: inherit;
                    }
                }
            }
    
            .remove_row {
                position: absolute;
                top: 20px;
                right: 10px;

                @media (max-width: 639px) {
                    top: 10px;
                    bottom: inherit;
                }
            }
        } 
    }

    p {
        display: inline-block;
        width: 100%;
        margin-bottom: 6px;

        span {
            @media (max-width: 639px) {
                display: inline-block;
            }
        }

        .float_right {
            &.mr_50 {
                @media (max-width: 639px) {
                    float: none;
                    display: block;
                }
            }
        }
    }

    button {
        display: block;
        margin: 20px auto 0;
    }
}

.task_lists {
    .task_list_add_task {
        text-align: right;
        margin-bottom: 20px;

        @media (max-width: 639px) {
            text-align: center;
        }

        a {
            margin: 0 25px;

            span {
                vertical-align: middle;
                display: inline-block;
                margin-left: 5px;
                margin-top: 5px;
            }
        }
    }
    .task_list {
        margin-bottom: 30px;
        
        .task_list_title {
            margin-bottom: 8px;
        }

        .task_list_items {
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 0 !important;

                + li {
                    margin-top: 5px;
                }

                &:before {
                    display: none;
                }

                .task_list_item_data {
                    width: 100%;

                    .task_list_item_title_wrapper {
                        display: flex;
                        justify-content: space-between;
                        background-color: #EEEEEE;
                        padding: 4px 8px;

                        .task_list_item_title {
                            width: 100%;
        
                            .task_list_date {
                                font-weight: bold;
                                color: #2DA2A7;
                                display: inline-block;
                                cursor: pointer;;
                            }
        
                            p {
                                display: inline-block;
                                margin-left: 15px;
                                margin-bottom: 0;

                                @media (max-width: 639px) {
                                    display: block;
                                    margin-left: 0;
                                }
                            }
                        }
                    }

                    .task_list_item_expanded {

                        ul {
                            padding: 6px 8px 4px;
                            margin: 0;
                        }
                        
                        > div:first-child {
                            width: 100%;
                        }

                        .task_list_expanded_item {
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                   
                }
            }
        }
        .remove_task_list_item {
            position: relative;
            top: -1px;
            flex: 1 0 auto;
            margin-left: 10px;

            a + a {
                margin-left: 30px;
            }
        }        
    }
}

.edit_plan_bottom_button {
    text-align: center;

    button {
        margin: 0 8px;
    }
}
.edit_plan_bottom {
    margin: 0 -15px;
    overflow: hidden;
}

// custom for this modal others were copied from edit-plan
#search-schools-dialog {

    select{
        margin-left:1em;
        margin-bottom:0;
    }

}



