<div id="search-schools-dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="_dialogRef.close('cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title plan_back_link">
      <a (click)="_dialogRef.close('cancel')">
        &lt; Back to Plan: {{occupationDescription}}</a>
    </h3>
  </div>

  <div class="modal-body">

    <div *ngIf="!schoolProfiles">
      <p>Loading...</p>
    </div>

    <div class="back_to_plan" *ngIf="schoolProfiles">
      <div class="plan_options row">
        <div class="small-12 column">
          <div class='form-group'>
            <label><strong>Sort By:</strong></label>
            <select [(ngModel)]="sort" (change)='onSortChange($event)'>
              <option value="institutionName">School Name Ascending</option>
              <option value="-institutionName">School Name Descending</option>
            </select>
          </div>
        </div>
      </div>
      <div class="search_reasult_wrapper">
        <div class="search_reasult_title">
          <p>Showing
            {{totalItems != 0 ? (((currentPage-1)*itemsPerPage)+1) : 0}}-<span>{{((currentPage)*itemsPerPage) <=
                totalItems ? ((currentPage)*itemsPerPage) : totalItems}}</span> of {{totalItems}} Schools</p>
          <ngb-pagination [(page)]="currentPage" [pageSize]="itemsPerPage" [maxSize]="4"
            [collectionSize]="filteredSchoolProfiles.length" [boundaryLinks]="true" size="'lg'">
          </ngb-pagination>
        </div>

        <div class="search_reasults">
          <ul>
            <li
              *ngFor="let s of filteredSchoolProfiles | slice:(currentPage-1)*itemsPerPage: (currentPage-1) * itemsPerPage + itemsPerPage">
              <a (click)="selectSchool(s)" class="mr_30"><strong>Select</strong></a>
              <span>
                <p>
                  <strong>{{s.schoolProfile.institutionName}}</strong>&nbsp;|&nbsp;{{s.schoolProfile.city}},&nbsp;{{s.schoolProfile.state}}
                </p>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>