.mt_40 {
  margin-top: 40px;
}

.ml_10 {
  margin-left: 10px;
}

.guided-tip-content {
  padding: 20px;

  .guided-tips {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 30px;
  
    .guided-tip {
      display: flex;
      margin-bottom: 15px;
    }   
  }
}