<div class="modal-options">
  <!-- <div class="custom-modal-backdrop"></div> -->
  <div class="custom-modal-lg">
    <div class="custom-modal-content table-contents-wrap marine-modal school-details-modal">
      <div class="custom-modal-body">
        <div class="modal-header">
          <button [mat-dialog-close]="true" class="close" (click)="onNoClick()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3 id="title" class="modal-title">
            Guided Tips
          </h3>
        </div>

        <div class="guided-tip-content">
          <p>Tailor Your Experience</p>
          <p>There are many ways to use the ASVAB Career Exploratin Program. To better serve you, tell
            us what kind of helpful hints you're interested in. Select the topics below to turn hints on or off.
          </p>
          <p>
            Watch the tutorial videos to learn more about different program components.
          </p>

          <div class="mt_40">
            <input 
              type="checkbox"
              [(ngModel)]="guidedTipConfig.selectAll"
              (ngModelChange)="selectAll()"
              id="selectAll" [ngModelOptions]="{standalone: true}"
              class="styled-checkbox">
            <label for="selectAll" class="styled-checkbox-label"></label>
            <span class="ml_10">Turn on all guided tour tips</span>
          </div>

          <div class="guided-tips">
            <div class="guided-tip">
              <input
                type="checkbox"
                [(ngModel)]="guidedTipConfig.exploreCareer"
                id="exploreCareer" [ngModelOptions]="{standalone: true}" class="styled-checkbox">
              <label for="exploreCareer" class="styled-checkbox-label"></label>
              <span class="ml_10">Help me explore careers</span>
            </div>
            <div class="guided-tip">
              <input
                type="checkbox"
                [(ngModel)]="guidedTipConfig.helpLearn"
                id="helpLearn" [ngModelOptions]="{standalone: true}" class="styled-checkbox">
              <label for="helpLearn" class="styled-checkbox-label"></label>
              <span class="ml_10">Help me learn about my skills, interests, and work values</span>
            </div>
            <div class="guided-tip">
              <input
                type="checkbox"
                [(ngModel)]="guidedTipConfig.helpPlan"
                id="helpPlan" [ngModelOptions]="{standalone: true}" class="styled-checkbox">
              <label for="helpPlan" class="styled-checkbox-label"></label>
              <span class="ml_10">Show me tools that will help me plan for my future</span>
            </div>
            <div class="guided-tip">
              <input
                type="checkbox"
                [(ngModel)]="guidedTipConfig.goToMilitary"
                id="goToMilitary" [ngModelOptions]="{standalone: true}" class="styled-checkbox">
              <label for="goToMilitary" class="styled-checkbox-label"></label>
              <span class="ml_10">I'm interested in going into the military</span>
            </div>
            <div class="guided-tip">
              <input
                type="checkbox"
                [(ngModel)]="guidedTipConfig.workBasedLearn"
                id="workBasedLearn" [ngModelOptions]="{standalone: true}" class="styled-checkbox">
              <label for="workBasedLearn" class="styled-checkbox-label"></label>
              <span class="ml_10">I'm interested in work-based learning opportunities</span>
            </div>
            <div class="guided-tip">
              <input
                type="checkbox"
                [(ngModel)]="guidedTipConfig.involveCounselorParent"
                id="involveCounselorParent" [ngModelOptions]="{standalone: true}" class="styled-checkbox">
              <label for="involveCounselorParent" class="styled-checkbox-label"></label>
              <span class="ml_10">I'd like to get my counselor and parent involved</span>
            </div>
          </div>
                  
          <div class="close-button-div text-center">
            <button type="button" mat-dialog-close class="button" (click)="submit()">apply</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
