.favorite-modals {
  max-width: 743px;
  width: 100%;
  border: 1px solid #C2D2D9;
  padding: 8px;
  border-radius: 5px;

  .modal-header {
      position: relative;

      .close-button {
          font-size: 1.5rem;
          line-height: 1;
          color: #2f2a6a;
          font-weight: normal;
          text-shadow: 0 1px #fff;
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          opacity: 1;

          &:focus {
              outline: none;
          }
      }

      .modal-title {
          font-size: 16px;
          font-weight: bold;
          color: #505D68;
          background-color: #EEEEEE;
          padding: 5px 40px 5px 10px;
          margin-bottom: 10px;
      }
  }

  .modal-body {
      padding: 15px 20px;

      ul {
          list-style: decimal !important;
          margin: 0 0 0 15px;

          li {
              margin-bottom: 15px !important;

              &:before {
                  display: none;
              }

              &:last-child {
                  margin-bottom: 0 !important;
              }
          }
      }

      .button {
          padding: 8px 32px;
          font-size: 14px;
          margin: 0;

          @media (max-width: 639px) {
              margin-top: 10px;
              margin-bottom: 20px;
          }
      }
  }

  &-button-wrapper {
      display: flex;
      flex-direction: column;

      @media (min-width: 640px) {
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
      }
  }

  &-img-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      & > div {
          max-width: calc(50% - 30px);
          width: 100%;
          display: flex;
          flex-direction: column;
          position: relative;

          @media (max-width: 639px) {
              max-width: 100%;
          }

          img {
              max-width: 300px;
              width: 100%;
              margin-top: auto;

              @media (max-width: 639px) {
                  margin: 0 auto;
              }
          }

          &.favorite-modals-img-right {

              @media (max-width: 639px) {
                  padding-top: 30px;
                  margin-top: 30px;
              }


              &:before {
                  content: '';
                  position: absolute;
                  height: 100%;
                  width: 1px;
                  top: 0;
                  left: -30px;
                  background-color: #979797;

                  @media (max-width: 639px) {
                      width: 100%;
                      height: 1px;
                      left: 0;
                      top: 0;
                  }
              }

              &:after {
                  content: 'OR';
                  font-size: 14px;
                  font-weight: bold;
                  color: #4A4A4A;
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  left: -40px;
                  padding: 20px 0;
                  background-color: #fff;

                  @media (max-width: 639px) {
                      top: -9px;
                      left: 50%;
                      transform: translateX(-50%);
                      padding: 0 20px;
                  }
              }
          }
      }
  }

  &.favorite-school-modal {
      max-width: 579px;
  }

  &.favorite-career-cluster-modal {
      
      .favorite-modals-img-right {
          @media (max-width: 639px) {
              padding-top: 0;
              margin-top: 15px;
          }

          &:before {
              display: none;
          }

          &:after {
              display: none;
          }
      }

      .favorite-modals-img-wrapper {
          position: relative;

          + .favorite-modals-img-wrapper {
              padding-top: 30px;
              margin-top: 30px;

              &:before {
                  content: '';
                  position: absolute;
                  width: 50%;
                  height: 1px;
                  left: 0;
                  top: 0;
                  background-color: #979797;

                  @media (max-width: 639px) {
                      width: 100%;
                  }
              }

              &:after {
                  content: 'OR';
                  font-size: 14px;
                  font-weight: bold;
                  color: #4A4A4A;
                  position: absolute;
                  top: -9px;
                  left: 25%;
                  transform: translateX(-50%);
                  padding: 0 20px;
                  background-color: #fff;

                  @media (max-width: 639px) {
                      left: 50%;
                  }
              }
          }
      }
  }
}