<div *ngIf="modalIndex === 0" class="favorite-modals favorite-occupation-modal">
  <div class="modal-header">
    <button type="button" class="close-button" aria-label="Close" (click)="onClose()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">How to Favorite Occupation</h4>
  </div>
  
  <div class="modal-body">
    <ul>
      <li>
        <div class="favorite-modals-button-wrapper">
          <span>Click on the <b>Start Career Exploration.</b></span>
          <span class="text-md-right">
            <a routerLink="/occufind-occupation-search" (click)="_utility.scrollToTop(); onClose()" class="button">Start Career Exploration</a>
          </span>
        </div>
      </li>

      <li>
        <p>Choose your skills, interests, and filters to create your search results. Then, select <b>Explore.</b></p>
      </li>

      <li>
        <div class="favorite-modals-img-wrapper">
          <div class="favorite-modals-img-left">
            <p>Select the <b>heart icon</b> next to the occupation title to add it to favorite occupations.</p>
            <img src="assets/images/explore_careers/Favorite_Occupation_1.png" alt="Favorite Image">
          </div>
          <div class="favorite-modals-img-right">
            <p>Select the occupation title to learn more about it. Select the heart icon next to <b>ADD TO FAVORITES</b> at the top of the detail page to add it to favorite occupations.</p>
            <img src="assets/images/explore_careers/Favorite_Occupation_2.png" alt="Favorite Image">
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div *ngIf="modalIndex === 1" class="favorite-modals favorite-school-modal">
  <div class="modal-header">
    <button type="button" class="close-button" aria-label="Close" (click)="onClose()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">How to Favorite a School</h4>
  </div>
  
  <div class="modal-body">
    <ul>
      <li>Select the <b>COLLEGE INFO</b> button under Education on the career detail page. </li>
      <li>Select an institution from the list.</li>
      <li>
          <p>Select the <b>heart icon</b> next to ADD TO FAVORITES on that school’s detail page to favorite that school.</p>
          <img src="assets/images/explore_careers/Favorite_School.png" alt="Favorite Image">
      </li>
    </ul>
  </div>
</div>


<div *ngIf="modalIndex === 2" class="favorite-modals favorite-career-cluster-modal">
  <div class="modal-header">
    <button type="button" class="close-button" aria-label="Close" (click)="onClose()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">How to Favorite a Career Cluster</h4>
  </div>
  
  <div class="modal-body">
    <div class="favorite-modals-img-wrapper">
      <div class="favorite-modals-img-left">
        <ul>
          <li>Select Career Cluster on the OCCU-Find Search page under <b>OTHER SEARCH LISTS.</b></li>
          <li>Expand a career cluster by clicking on the <b>plus sign.</b></li>
          <li>Select <b>Add to Favorites</b> under the description to favorite that Career Cluster.</li>
        </ul>
      </div>
      <div class="favorite-modals-img-right">
        <img src="assets/images/explore_careers/Career_Cluster_1.png" alt="Favorite Image">
      </div>
    </div>

    
    <div class="favorite-modals-img-wrapper">
      <div class="favorite-modals-img-left">
        <ul>
          <li>When exploring an occupation, select a Career Cluster under Related Career Cluster.</li>
          <li>Select <b>ADD TO FAVORITES</b> at the top of the results list.</li>
        </ul>
      </div>
      <div class="favorite-modals-img-right">
        <img src="assets/images/explore_careers/Career_Cluster_2.png" alt="Favorite Image">
      </div>
    </div>
  </div>
</div>