<!-- <update-title title="{{ title }} | ASVAB Career Exploration Program"></update-title>
<update-meta name="description" content="{{ description }}"></update-meta> -->

<div class="occufind article article-list">
  <app-header></app-header>
  <section id="banner">
    <div class="row">
      <div class="large-4 large-push-8 columns">
        <p class="caps">Media Center</p>
      </div>
    </div>

  </section>

  <section id="content-wrap">
    <div class="row">
      <section class="table-pagination" style="clear:both">
        <div class="medium-6 columns">
          <h2 class="list-title">{{categoryTitle}}</h2>
        </div>
        <div class="medium-6 columns">
          <span class="pagination-label">PAGES</span>
            <ngb-pagination [(page)]="currentPage" [pageSize]="itemsPerPage" [maxSize]="4"
								[collectionSize]="articleList.length" [boundaryLinks]="true" size="'lg'">
            </ngb-pagination>
        </div>
      </section>

    </div>

    <div class="row column">
      <hr style="margin-top: 0;">
    </div>

    <div class="row">
      <section id="main-content" class="medium-12 columns" role="main"
        *ngFor="let a of articleList | slice:(currentPage-1)*itemsPerPage: (currentPage-1) * itemsPerPage + itemsPerPage">
        <div class="article row">
          <div class="featured-image medium-4 columns"><a routerLink="/media-center-article/{{a.id}}"><span
                class="image-wrapper"><img [src]="a.thumbnailUrl" style="position: relative;"><span
                  *ngIf="a.typeId == 1" id="play-icon"></span></span></a></div>

          <div class="medium-8 columns">
            <h4 class="article-title"><a routerLink="/media-center-article/{{a.id}}">{{a.title}}</a></h4>
            <p>{{a.articleDescription}}</p>
          </div>
        </div>
      </section>
      <section class="row table-pagination" style="clear:both">
        <div class="medium-12 columns">
          <hr />
        </div>
        <div class="medium-6 columns"></div>
        <div class="medium-6 columns">
          <span class="pagination-label">PAGES</span>
            <ngb-pagination [(page)]="currentPage" [pageSize]="itemsPerPage" [maxSize]="4"
								[collectionSize]="articleList.length" [boundaryLinks]="true" size="'lg'">
            </ngb-pagination>
        </div>
      </section>
    </div>
  </section>

  <app-footer></app-footer>

</div>