
.ml_auto {
    margin-left: auto;
}

.p-10 {
    padding: 10px;
}

.mb_10 {
    margin-bottom: 10px;
}

.mb_30 {
    margin-bottom: 30px;
}

.mt_50 {
    margin-top: 50px;
}

.w-100 {
    width: 100%;
}

.calendar_date {
    .mr_20 {
        margin-right: 20px;
    }

    .w_auto {
        width: auto !important;
    }

    .d-flex {
        display: flex;
    }

    .modal-header {
        position: relative;
    
        
        h3 {
            font-size: 16px !important;
            color: #505D68 !important;
            text-transform: inherit;
            padding: 6px 10px !important;
            background-color: #e8eaeb;
        }
    
        .close-button {
            color: #000;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .modal-content {

        .modal-content-inner {
            .form-group {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                margin-bottom: 15px;
            
                label {
                    color: #4A4A4A;
                    min-width: 40px;
                    margin-right: 10px;
                    margin-bottom: 5px;
                }
    
                input, select {
                    height: 30px;
                }
    
                .form_select {
                    position: relative;
                    width: 100%;
        
                    &:after {
                        width: 0; 
                        height: 0; 
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        border-top: 6px solid #C3D2DA;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 10px;
                        content: "";
                        z-index: 1;
                        pointer-events: none;
                    }
        
                    select {
                        margin: 0;
                        -moz-appearance:none; /* Firefox */
                        -webkit-appearance:none; /* Safari and Chrome */
                        appearance:none;                  
                        background-image: none;
                        color: #C3D2DA;
                        background-color: #fff;
                        font-size: 14px;
                        width: 100%;
                    }
        
                    select::-ms-expand {
                        display: none;
                    }
                }
            }
        
            p {
                font-size: 14px;
            }
    
            .button-block {
                margin-top: 50px;
                
                .button {
                    font-size: 14px;
                    min-width: 126px;
                    margin: 0;
            
                    + .button {
                        margin-left: 20px;
                    }
                }
            }
        }
    }


    select{
        color: #8a8a8a !important;
    }

    option:disabled{
        color: #C3D2DA;
    }
    
}




.ml_10 {
    margin-left: 10px;
}
.border_top {
    border-top: 1px solid #979797;
}
.page_back_link {
    border-bottom: 1px solid #BDBDBD;
    display: block;
    line-height: normal;
    padding: 10px 0;
    margin-bottom: 20px;
}
.task_list_add_task {
    text-align: right;
    margin-bottom: 20px;

    @media (max-width: 639px) {
        text-align: center;
    }

    a {
        margin: 0 15px;

        span {
            vertical-align: middle;
            display: inline-block;
            margin-left: 5px;
            margin-top: 5px;
        }
    }
}

form {
    .form-group {
        width: 100%;

        label {
            font-size: 14px;
            font-weight: bold;
            vertical-align: middle;
        }
    }
}

.task_lists {
    .task_list_add_task {
        text-align: right;
        margin-bottom: 20px;

        @media (max-width: 639px) {
            text-align: center;
        }

        a {
            margin: 0 25px;

            span {
                vertical-align: middle;
                display: inline-block;
                margin-left: 5px;
                margin-top: 5px;
            }
        }
    }
    .task_list {
        margin-bottom: 50px;
        
        .task_list_title {
            margin-bottom: 8px;
            margin-left: 10px;
        }

        .task_list_items {
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 0 !important;

                + li {
                    margin-top: 5px;
                }

                &:before {
                    display: none;
                }

                .task_list_item_data {
                    width: 100%;

                    .task_list_item_title_wrapper {
                        display: flex;
                        justify-content: space-between;
                        background-color: #EEEEEE;
                        padding: 4px 8px;

                        .task_list_item_title {
                            width: 100%;
        
                            .task_list_date {
                                font-weight: bold;
                                color: #2DA2A7;
                                display: inline-block;
                                cursor: pointer;;
                            }
        
                            p {
                                display: inline-block;
                                margin-left: 15px;
                                margin-bottom: 0;

                                @media (max-width: 639px) {
                                    display: block;
                                    margin-left: 0;
                                }
                            }
                        }
                    }

                    .task_list_item_expanded {
                        margin-bottom: 10px;

                        ul {
                            padding: 6px 8px 4px;
                            margin: 0;
                        }
                        
                        > div:first-child {
                            width: 100%;
                        }

                        .task_list_expanded_item {
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                   
                }
            }

            .progressbar_wrapper {
                p {
                    color: #727272;
                }
            }
        }
        .remove_task_list_item {
            position: relative;
            top: -1px;
            flex: 1 0 auto;
            margin-left: 10px;

            a + a {
                margin-left: 30px;
            }
        }  
        
        .progressbar_wrapper {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 0 5px 0 10px;
            margin-top: 10px;
            margin-bottom: 10px;

            .task-progressbar {
                max-width: 175px;
                width: 100%;
                margin-right: 20px;

                @media (max-width: 767px) {
                    margin-bottom: 10px;
                }
            }

            p {
                color: #4A4A4A;
                margin-right: 20px;
                margin-bottom: 0;

                @media (max-width: 767px) {
                    width: 100%;
                    margin-bottom: 5px;
                }
            }

            a {
                margin-left: auto;
            }
        }
    }
}

.calendar_date {
    .mr_20 {
        margin-right: 20px;
    }

    .w_auto {
        width: auto !important;
    }

    .d-flex {
        display: flex;
    }

    .modal-header {
        position: relative;
    
        
        h3 {
            font-size: 16px !important;
            color: #505D68 !important;
            text-transform: inherit;
            padding: 6px 10px !important;
        }
    
        .close-button {
            color: #000;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .modal-content {
        max-width: 421px;
        border-radius: 5px;
        padding: 7px;
        margin: 0 auto;
    
        .modal-content-inner {
            padding: 20px;
    
            .form-group {
            
                label {
                    color: #4A4A4A;
                    margin-bottom: 5px;
                }
        
                input, select {
                    height: 23px;
                    width: 100%;
                    padding: 3px 10px;
                }
        
                .form_select {
                    position: relative;
                    width: 100%;
        
                    &:after {
                        width: 0; 
                        height: 0; 
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        border-top: 6px solid #C3D2DA;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 10px;
                        content: "";
                        z-index: 1;
                        pointer-events: none;
                    }
        
                    select {
                        margin: 0;
                        -moz-appearance:none; /* Firefox */
                        -webkit-appearance:none; /* Safari and Chrome */
                        appearance:none;                  
                        background-image: none;
                        color: #C3D2DA;
                        background-color: #fff;
                        font-size: 14px;
                        width: 100%;
                    }
        
                    select::-ms-expand {
                        display: none;
                    }
                }
            }
        
            p {
                font-size: 14px;
            }
    
            .button-block {
                margin-top: 50px;
                
                .button {
                    font-size: 14px;
                    min-width: 126px;
                    margin: 0;
            
                    + .button {
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}

.add_task_modal {
    .modal-header {
        position: relative;
    
        
        h3 {
            font-size: 16px !important;
            color: #505D68 !important;
            text-transform: inherit;
            padding: 6px 10px !important;
        }
    
        .close-button {
            color: #000;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .modal-content {
        max-width: 421px;
        border-radius: 5px;
        padding: 7px;
        margin: 0 auto;
    
        .modal-content-inner {
            padding: 20px;
    
            .form-group {
                margin-bottom: 15px;
            
                label {
                    color: #4A4A4A;
                    margin-bottom: 5px;
                }
        
                input, select {
                    height: 23px;
                    width: 100%;
                    padding: 3px 10px;
                }
        
                .form_select {
                    position: relative;
                    width: 100%;
        
                    &:after {
                        width: 0; 
                        height: 0; 
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        border-top: 6px solid #C3D2DA;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 10px;
                        content: "";
                        z-index: 1;
                        pointer-events: none;
                    }
        
                    select {
                        margin: 0;
                        -moz-appearance:none; /* Firefox */
                        -webkit-appearance:none; /* Safari and Chrome */
                        appearance:none;                  
                        background-image: none;
                        color: #C3D2DA;
                        background-color: #fff;
                        font-size: 14px;
                        width: 100%;
                    }
        
                    select::-ms-expand {
                        display: none;
                    }
                }
            }
        
            p {
                font-size: 14px;
            }
    
            .button-block {
                margin-top: 50px;
                
                .button {
                    font-size: 14px;
                    min-width: 126px;
                    margin: 0;
            
                    + .button {
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}

.calendar-task{
    background-color: white !important;
}

.hide-collapse{
    display:none;
}

.mat-dialog-content{
    padding: 0 !important;
    margin:0 !important;
}