<div class="calendar_date">
  <div class="modal-header">
    <h3> Student Calendar </h3>
    <button class="close-button" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-content-inner">
    <mat-dialog-content>
    <div id="portfolio" class="occufind">

      <div class="task_lists">

        <!-- Tasks not assigned to a Date-->
        <div class="task_list">
            <p class="task_list_title"><strong>Tasks List</strong></p>
            <div class="progressbar_wrapper">
              <!-- <p *ngIf="tasksWithNoDate.length == 0">
                No tasks remaining.
              </p> -->
              <div class="task-progressbar" *ngIf="tasksUnassignedLength != 0">
                <mat-progress-bar mode="determinate" [value]="getUnassignedProgress()"></mat-progress-bar>
              </div>
              <p>
                <span *ngIf="tasksWithNoDate.length > 1">
                  {{tasksWithNoDate.length}} tasks
                </span>
                <span *ngIf="tasksWithNoDate.length == 1">
                  {{tasksWithNoDate.length}} task
                </span>
                <span *ngIf="tasksWithNoDate.length > 0">remaining</span>
              </p>
              <a (click)="switchTaskViewByCompleted()">
                <span *ngIf="!showCompletedTasks">Show checked</span>
                <span *ngIf="showCompletedTasks">Hide checked</span>
              </a>
            </div>
            <ul class="task_list_items">
              <li *ngFor="let task of tasksWithNoDate; let i = index;">
                <div class="task_list_item_data">
                  <div class="task_list_item_title_wrapper">
                    <div class="task_list_item_title">
                      <div class="form-group">
                        <div class="checkbox-tick">
                          <input class="styled-checkbox" type="checkbox" id="completed{{task.id}}"
                            [checked]="task.completed" disabled>
                          <label class="styled-checkbox-label" for="completed{{task.id}}">
                          </label>
                          <label *ngIf="!hasUrl(task.taskName)" for="completed{{task.id}}" style='display: inline;'>
                            <span class="ml_10">{{convertTaskName(task.taskName)}}</span>
                          </label>

                          <a class="ml_10" *ngIf="hasUrl(task.taskName)" [href]="getUrl(task.taskName)"
                            target="_blank">{{convertTaskName(task.taskName)}}</a>

                        </div>
                      </div>
                    </div>
                    <div class="remove_task_list_item" style="margin-right: 8px;">
                      <ng-container *ngIf="task.planId">
                        <a #tooltip="matTooltip"
                          [matTooltip]="getPlanTitle(task.planId)" matTooltipPosition="left" matTooltipHideDelay="0">
                          <i class="fa fa-link"
                            style="color:#cacaca;height:18px;width:18px;vertical-align: middle!important;"></i>
                        </a>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </li>

            </ul>
          </div>

        <!-- Dates -->
        <div class="task_list">
          <p class="task_list_title"><strong>Important Date</strong></p>
          <ul class="task_list_items">
            <li *ngFor="let calendar of userOccupationPlanCalendars | orderBy: 'date'; let i = index;">
              <div class="task_list_item_data">
                <div class="task_list_item_title_wrapper">
                  <div class="task_list_item_title">
                    <span class="task_list_date" (click)="calendar.expanded = !calendar.expanded"
                      [ngClass]="!calendar.expanded ? '' : 'active'">{{calendar.date}}</span>
                    <p>{{calendar.title}}</p>
                  </div>
                  <div class="remove_task_list_item" style="margin-right: 8px;">
                    <a *ngIf="calendar.planId" #tooltip="matTooltip" 
                      matTooltip="Linked to {{getPlanTitle(calendar.planId)}}" matTooltipPosition="left"
                      matTooltipHideDelay="0"><i class="fa fa-link"
                        style="color:#cacaca;height:18px;width:18px;vertical-align: middle!important;"></i>
                    </a>
                  </div>
                </div>

                <!-- Tasks for Date -->
                <div class="task_list_item_expanded" [ngClass]="!calendar.expanded ? 'hide-collapse' : 'show-expand'">

                  <div class="progressbar_wrapper">
                    <!-- <p *ngIf="getRemainingTasksForCalendar(calendar) == 0">
                      No tasks remaining.
                    </p> -->
                    <p>
                      <span *ngIf="getRemainingTasksForCalendar(calendar) > 1">
                        {{getRemainingTasksForCalendar(calendar)}} tasks
                      </span>
                      <span *ngIf="getRemainingTasksForCalendar(calendar) == 1">
                        {{getRemainingTasksForCalendar(calendar)}} task
                      </span>
                      <span *ngIf="getRemainingTasksForCalendar(calendar) > 0">remaining</span>
                    </p>

                    <div class="task-progressbar" *ngIf="tasksUnassignedLength != 0">
                      <mat-progress-bar mode="determinate" [value]="getProgressBarValueForCalendar(calendar)">
                      </mat-progress-bar>
                    </div>

                    <a (click)="calendar.showCompletedTasks = !calendar.showCompletedTasks">
                      <span *ngIf="!calendar.showCompletedTasks">Show checked</span>
                      <span *ngIf="calendar.showCompletedTasks">Hide checked</span>
                    </a>

                  </div>
                  <hr *ngIf="getRemainingTasksForCalendar(calendar) > 0" style="margin:0 !important">

                  <ul class="task_list_items">
                    <li
                      *ngFor="let task of calendar.tasks | filter:(!calendar.showCompletedTasks ? 'completed' : ''):(!calendar.showCompletedTasks ? false : ''); let ind = index;">

                      <div class="task_list_item_data">
                        <div class="task_list_item_title_wrapper calendar-task">
                          <div class="task_list_item_title">
                            <div class="form-group">
                              <div class="checkbox-tick ">
                                <input class="styled-checkbox" type="checkbox" id="completed{{calendar.id}}{{task.id}}"
                                  [checked]="task.completed" disabled>
                                <label class="styled-checkbox-label" for="completed{{calendar.id}}{{task.id}}">
                                </label>
                                <label for="completed{{calendar.id}}{{task.id}}" style='display: inline;'>
                                  <span class="ml_10"><strong>{{convertTaskName(task.taskName)}}</strong></span>
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="remove_task_list_item">
                            <a *ngIf="task.planId" #tooltip="matTooltip"
                              [matTooltip]="getPlanTitle(task.planId)" matTooltipPosition="left"
                              matTooltipHideDelay="0"><i class="fa fa-link"
                                style="color:#cacaca;height:18px;width:18px;vertical-align: middle!important;"></i></a>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>

                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>


    <div class="text-center mt_50">
      <button class="button" type="button" (click)="close()">CLOSE</button>
    </div>

    <div *ngIf="isLoading">
      <div class="row">
        <div class="small-12 column text-center">
          <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
          Loading...
        </div>
      </div>
    </div>

    </mat-dialog-content>
  </div>
</div>