<div id="search-list" [ngClass]="{'occufind': true, 'logged-out': !occuFindUserLoggedIn}">
  <ng-conatiner
    *ngIf="
      occupationResults
        | search: keyword
        | skill: skillImportance:skillView
        | interest: checkboxInterest:filterItems:filterItemsTwo:filterItemsThree
        | category: checkboxCategory:categoryItems
        | workValue: checkboxWorkValues:workValueItems as results
    "
  >
    <app-header></app-header>
    <app-my-asvab-header></app-my-asvab-header>

    <section id="content-wrap" class="left-nav-expanded-wrap">
      <div class="row">
        <app-left-navigation-v2-collapsed *ngIf="occuFindUserLoggedIn" [selectedTab]="'explore'"></app-left-navigation-v2-collapsed>

        <div class="hide-for-small-only" style="z-index: 1" *ngIf="!occuFindUserLoggedIn">
          <img src="assets/images/asvab-ad.jpg" >
        </div>

        <section id="main-content" class="left-navigation-condensed" role="main">
          <app-my-top-results-collapsed *ngIf="occuFindUserLoggedIn" [collapsedVersion]="'v2'"></app-my-top-results-collapsed>
          <div id="left-nav-content-wrap">
            <div class="row">
            <div class="medium-8 columns">
            <div class="row column">
              <h2 class="page-title">{{ careerCluster.ccTitle }}</h2>
              <div id="cluster">
                <img
                  *ngIf="careerCluster.ccId == 9"
                  src="assets/images/career-cluster/cc_Agri_Food_Natural_Resources.png"
                />
                <img
                  *ngIf="careerCluster.ccId == 1"
                  src="assets/images/career-cluster/cc_Architecture_Construction.png"
                />
                <img
                  *ngIf="careerCluster.ccId == 2"
                  src="assets/images/career-cluster/cc_Arts_Audio_Video.png"
                />
                <img
                  *ngIf="careerCluster.ccId == 3"
                  src="assets/images/career-cluster/cc_Bus_Manage_Admin.png"
                />
                <img
                  *ngIf="careerCluster.ccId == 4"
                  src="assets/images/career-cluster/cc_Education.png"
                />
                <img
                  *ngIf="careerCluster.ccId == 10"
                  src="assets/images/career-cluster/cc_Finance.png"
                />
                <img
                  *ngIf="careerCluster.ccId == 11"
                  src="assets/images/career-cluster/cc_Government_Public_Admin.png"
                />
                <img
                  *ngIf="careerCluster.ccId == 12"
                  src="assets/images/career-cluster/cc_Health_Science.png"
                />
                <img
                  *ngIf="careerCluster.ccId == 5"
                  src="assets/images/career-cluster/cc_Hospitality_Tourism.png"
                />
                <img
                  *ngIf="careerCluster.ccId == 13"
                  src="assets/images/career-cluster/cc_Human_Services.png"
                />
                <img
                  *ngIf="careerCluster.ccId == 16"
                  src="assets/images/career-cluster/cc_Information_Technology.png"
                />
                <img
                  *ngIf="careerCluster.ccId == 14"
                  src="assets/images/career-cluster/cc_Law_Pub_Safety_Corrections_Security.png"
                />
                <img
                  *ngIf="careerCluster.ccId == 6"
                  src="assets/images/career-cluster/cc_Manufacturing.png"
                />
                <img
                  *ngIf="careerCluster.ccId == 7"
                  src="assets/images/career-cluster/cc_Marketing.png"
                />
                <img
                  *ngIf="careerCluster.ccId == 8"
                  src="assets/images/career-cluster/cc_STEM.png"
                />
                <img
                  *ngIf="careerCluster.ccId == 15"
                  src="assets/images/career-cluster/cc_Trans_Distri_Logistics.png"
                />
              </div>                
            </div>

            <div class="row">
              <div class="medium-12 columns">
                <ul class="menu tools icons-right">
                  <li id="notes">
                    <a (click)="showOccufindNotes()"
                      ><i class="fa fa-sticky-note show-for-small-only"></i>
                      Notes</a
                    >
                  </li>
                  <li id="favorites">
                      <app-career-cluster-add-favorites [parent]="this"></app-career-cluster-add-favorites>
                  </li>
                  <li id="view-favorites" class="show-for-small-only">
                    <a routerLink="/favorites">
                      <i class="fa fa-heart"></i>
                      <span>View Favorites</span>
                    </a>
                  </li>
                  <li id="back">
                    <a routerLink="/career-cluster">Back to Career Cluster List</a>
                  </li>
                </ul>
              </div>
            </div>

            <!-- >>>>>>> Skill enabled HTML >>>>>>> -->

            <p class="sort-by"></p>
            <div
              class="row"
              *ngIf="skillImportance != undefined && skillImportance != ''"
            >
              <mat-tab-group
                animationDuration="0ms"
                class="medium-12 columns"
                (selectedTabChange)="skillViewSelected($event)"
              >
                <mat-tab label="Most Important">
                  <div *ngIf="skillView == 'hi'">
                    <section class="table-pagination">
                      <div class="medium-6 columns">
                        Showing
                        {{
                          results.length != 0 ? (pageIndex - 1) * pageSize + 1 : 0
                        }}
                        -
                        {{
                          pageIndex * pageSize <= results.length
                            ? pageIndex * pageSize
                            : results.length
                        }}
                        of {{ results.length }}
                        Careers
                      </div>
                      <div class="medium-6 columns text-right">
                        <ngb-pagination
                          [collectionSize]="results.length"
                          [(page)]="pageIndex"
                          [pageSize]="pageSize"
                          aria-label="Custom pagination"
                        >
                          <ng-template ngbPaginationPrevious
                            >&lsaquo;</ng-template
                          >
                          <ng-template ngbPaginationNext>&rsaquo;</ng-template>
                        </ngb-pagination>
                      </div>
                      <div class="medium-12 columns">
                        <hr />
                      </div>
                    </section>
                    <div class="row columns">
                      <div class="medium-12 columns">
                        <div
                          *ngIf="results.length > 20"
                          class="callout secondary"
                        >
                          <div
                            style="border:1px solid #000; border-radius:100%;width:18px;display:inline-block; text-align:center;font-family:'Times New Romans';font-weight:bold;"
                          >
                            i
                          </div>
                          If you want to filter down this list even further, try
                          selecting an additional category to search on (i.e.,
                          Interest Code(s), Bright Outlook, STEM
                          Careers, and/or Hot Military Careers).
                        </div>
                        <div
                          *ngIf="results.length <= 5"
                          class="callout secondary"
                        >
                          <div
                            style="border:1px solid #000; border-radius:100%;width:18px;display:inline-block; text-align:center;font-weight:bold;"
                          >
                            !
                          </div>
                          Not seeing enough jobs listed here? Try broadening your
                          search by only selecting one or two categories on which
                          to filter.
                        </div>
                      </div>
                    </div>
                    <section id="search-list" class="medium-12 columns">
                      <table class="hover">
                        <tbody>
                          <tr
                            *ngFor="
                              let o of results | orderBy: 'sortValue'
                                | slice
                                  : (pageIndex - 1) * pageSize
                                  : (pageIndex - 1) * pageSize + pageSize
                            "
                          >
                            <td><app-occufind-grid-add-favorites [parent]="this" [occupation]="o"></app-occufind-grid-add-favorites></td>
                            <td>
                              <a
                                (click)="
                                  selectedOccupation(
                                    o.onetSoc,
                                    o.occupationTitle,
                                    o.isStemOccupation,
                                    o.isBrightOccupation,
                                    o.isGreenOccupation,
                                    o.interestCdOne,
                                    o.interestCdTwo,
                                    o.interestCdThree
                                  )
                                "
                              >
                                {{ o.occupationTitle }}
                                <i
                                  *ngIf="o.isStemOccupation"
                                  class="icon stem"
                                  rel="stem"
                                ></i>
                                <i
                                  *ngIf="o.isBrightOccupation"
                                  class="icon hot"
                                  rel="bright"
                                ></i>
                                <i
                                  *ngIf="o.isGreenOccupation"
                                  class="icon green"
                                  rel="green"
                                ></i>
                                <i
                                  *ngIf="o.isHotOccupation"
                                  class="icon-hotjob"
                                  title="HOT"
                                ></i>
                              </a>
                            </td>
                            <td align="right" width="100">
                              <i
                                *ngIf="o.interestCdOne == 'R'"
                                class="code-r"
                              ></i>
                              <i
                                *ngIf="o.interestCdOne == 'I'"
                                class="code-i"
                              ></i>
                              <i
                                *ngIf="o.interestCdOne == 'A'"
                                class="code-a"
                              ></i>
                              <i
                                *ngIf="o.interestCdOne == 'S'"
                                class="code-s"
                              ></i>
                              <i
                                *ngIf="o.interestCdOne == 'E'"
                                class="code-e"
                              ></i>
                              <i
                                *ngIf="o.interestCdOne == 'C'"
                                class="code-c"
                              ></i>

                              <i
                                *ngIf="o.interestCdTwo == 'R'"
                                class="code-r"
                              ></i>
                              <i
                                *ngIf="o.interestCdTwo == 'I'"
                                class="code-i"
                              ></i>
                              <i
                                *ngIf="o.interestCdTwo == 'A'"
                                class="code-a"
                              ></i>
                              <i
                                *ngIf="o.interestCdTwo == 'S'"
                                class="code-s"
                              ></i>
                              <i
                                *ngIf="o.interestCdTwo == 'E'"
                                class="code-e"
                              ></i>
                              <i
                                *ngIf="o.interestCdTwo == 'C'"
                                class="code-c"
                              ></i>

                              <i
                                *ngIf="o.interestCdThree == 'R'"
                                class="code-r"
                              ></i>
                              <i
                                *ngIf="o.interestCdThree == 'I'"
                                class="code-i"
                              ></i>
                              <i
                                *ngIf="o.interestCdThree == 'A'"
                                class="code-a"
                              ></i>
                              <i
                                *ngIf="o.interestCdThree == 'S'"
                                class="code-s"
                              ></i>
                              <i
                                *ngIf="o.interestCdThree == 'E'"
                                class="code-e"
                              ></i>
                              <i
                                *ngIf="o.interestCdThree == 'C'"
                                class="code-c"
                              ></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </section>
                    <section class="table-pagination" style="clear:both">
                      <div class="medium-12 columns">
                        <hr />
                      </div>
                      <div class="medium-6 columns">
                        Showing
                        {{
                          results.length != 0 ? (pageIndex - 1) * pageSize + 1 : 0
                        }}
                        -
                        {{
                          pageIndex * pageSize <= results.length
                            ? pageIndex * pageSize
                            : results.length
                        }}
                        of {{ results.length }}
                        Careers
                      </div>
                      <div class="medium-6 columns text-right">
                        <ngb-pagination
                          [collectionSize]="results.length"
                          [(page)]="pageIndex"
                          [pageSize]="pageSize"
                          aria-label="Custom pagination"
                        >
                          <ng-template ngbPaginationPrevious
                            >&lsaquo;</ng-template
                          >
                          <ng-template ngbPaginationNext>&rsaquo;</ng-template>
                        </ngb-pagination>
                      </div>
                    </section>
                  </div>
                </mat-tab>

                <mat-tab>
                  <ng-template mat-tab-label>
                    Moderately <br />Important
                  </ng-template>
                  <div *ngIf="skillView == 'md'">
                    <section class="table-pagination" style="clear:both">
                      <div class="medium-6 columns">
                        Showing
                        {{
                          results.length != 0 ? (pageIndex - 1) * pageSize + 1 : 0
                        }}
                        -
                        {{
                          pageIndex * pageSize <= results.length
                            ? pageIndex * pageSize
                            : results.length
                        }}
                        of {{ results.length }}
                        Careers
                      </div>
                      <div class="medium-6 columns text-right">
                        <ngb-pagination
                          [collectionSize]="results.length"
                          [(page)]="pageIndex"
                          [pageSize]="pageSize"
                          aria-label="Custom pagination"
                        >
                          <ng-template ngbPaginationPrevious
                            >&lsaquo;</ng-template
                          >
                          <ng-template ngbPaginationNext>&rsaquo;</ng-template>
                        </ngb-pagination>
                      </div>
                      <div class="medium-12 columns">
                        <hr />
                      </div>
                    </section>
                    <div class="row columns">
                      <div class="medium-12 columns">
                        <div
                          *ngIf="results.length > 20"
                          class="callout secondary"
                        >
                          <div
                            style="border:1px solid #000; border-radius:100%;width:18px;display:inline-block; text-align:center;font-family:'Times New Romans';font-weight:bold;"
                          >
                            i
                          </div>
                          If you want to filter down this list even further, try
                          selecting an additional category to search on (i.e.,
                          Interest Code(s), Bright Outlook, STEM
                          Careers, and/or Hot Military Careers).
                        </div>
                        <div
                          *ngIf="results.length <= 5"
                          class="callout secondary"
                        >
                          <div
                            style="border:1px solid #000; border-radius:100%;width:18px;display:inline-block; text-align:center;font-weight:bold;"
                          >
                            !
                          </div>
                          Not seeing enough jobs listed here? Try broadening your
                          search by only selecting one or two categories on which
                          to filter.
                        </div>
                      </div>
                    </div>
                    <section id="search-list" class="medium-12 columns">
                      <table class="hover">
                        <tbody>
                          <tr
                            *ngFor="
                              let o of results | orderBy: 'sortValue'
                                | slice
                                  : (pageIndex - 1) * pageSize
                                  : (pageIndex - 1) * pageSize + pageSize
                            "
                          >
                            <td><app-occufind-grid-add-favorites [parent]="this" [occupation]="o"></app-occufind-grid-add-favorites></td>
                            <td>
                              <a
                                (click)="
                                  selectedOccupation(
                                    o.onetSoc,
                                    o.occupationTitle,
                                    o.isStemOccupation,
                                    o.isBrightOccupation,
                                    o.isGreenOccupation,
                                    o.interestCdOne,
                                    o.interestCdTwo,
                                    o.interestCdThree
                                  )
                                "
                              >
                                {{ o.occupationTitle }}
                                <i
                                  *ngIf="o.isStemOccupation"
                                  class="icon stem"
                                  rel="stem"
                                ></i>
                                <i
                                  *ngIf="o.isBrightOccupation"
                                  class="icon hot"
                                  rel="bright"
                                ></i>
                                <i
                                  *ngIf="o.isGreenOccupation"
                                  class="icon green"
                                  rel="green"
                                ></i>
                                <i
                                  *ngIf="o.isHotOccupation"
                                  class="icon-hotjob"
                                  title="HOT"
                                ></i>
                              </a>
                            </td>
                            <td align="right" width="100">
                              <i
                                *ngIf="o.interestCdOne == 'R'"
                                class="code-r"
                              ></i>
                              <i
                                *ngIf="o.interestCdOne == 'I'"
                                class="code-i"
                              ></i>
                              <i
                                *ngIf="o.interestCdOne == 'A'"
                                class="code-a"
                              ></i>
                              <i
                                *ngIf="o.interestCdOne == 'S'"
                                class="code-s"
                              ></i>
                              <i
                                *ngIf="o.interestCdOne == 'E'"
                                class="code-e"
                              ></i>
                              <i
                                *ngIf="o.interestCdOne == 'C'"
                                class="code-c"
                              ></i>

                              <i
                                *ngIf="o.interestCdTwo == 'R'"
                                class="code-r"
                              ></i>
                              <i
                                *ngIf="o.interestCdTwo == 'I'"
                                class="code-i"
                              ></i>
                              <i
                                *ngIf="o.interestCdTwo == 'A'"
                                class="code-a"
                              ></i>
                              <i
                                *ngIf="o.interestCdTwo == 'S'"
                                class="code-s"
                              ></i>
                              <i
                                *ngIf="o.interestCdTwo == 'E'"
                                class="code-e"
                              ></i>
                              <i
                                *ngIf="o.interestCdTwo == 'C'"
                                class="code-c"
                              ></i>

                              <i
                                *ngIf="o.interestCdThree == 'R'"
                                class="code-r"
                              ></i>
                              <i
                                *ngIf="o.interestCdThree == 'I'"
                                class="code-i"
                              ></i>
                              <i
                                *ngIf="o.interestCdThree == 'A'"
                                class="code-a"
                              ></i>
                              <i
                                *ngIf="o.interestCdThree == 'S'"
                                class="code-s"
                              ></i>
                              <i
                                *ngIf="o.interestCdThree == 'E'"
                                class="code-e"
                              ></i>
                              <i
                                *ngIf="o.interestCdThree == 'C'"
                                class="code-c"
                              ></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </section>
                    <section class="table-pagination" style="clear:both">
                      <div class="medium-12 columns">
                        <hr />
                      </div>
                      <div class="medium-6 columns">
                        Showing
                        {{
                          results.length != 0 ? (pageIndex - 1) * pageSize + 1 : 0
                        }}
                        -
                        {{
                          pageIndex * pageSize <= results.length
                            ? pageIndex * pageSize
                            : results.length
                        }}
                        of {{ results.length }}
                        Careers
                      </div>
                      <div class="medium-6 columns text-right">
                        <ngb-pagination
                          [collectionSize]="results.length"
                          [(page)]="pageIndex"
                          [pageSize]="pageSize"
                          aria-label="Custom pagination"
                        >
                          <ng-template ngbPaginationPrevious
                            >&lsaquo;</ng-template
                          >
                          <ng-template ngbPaginationNext>&rsaquo;</ng-template>
                        </ngb-pagination>
                      </div>
                    </section>
                  </div>
                </mat-tab>

                <mat-tab label="Least Important">
                  <div *ngIf="skillView == 'lw'">
                    <section class="table-pagination" style="clear:both">
                      <div class="medium-6 columns">
                        Showing
                        {{
                          results.length != 0 ? (pageIndex - 1) * pageSize + 1 : 0
                        }}
                        -
                        {{
                          pageIndex * pageSize <= results.length
                            ? pageIndex * pageSize
                            : results.length
                        }}
                        of {{ results.length }}
                        Careers
                      </div>
                      <div class="medium-6 columns text-right">
                        <ngb-pagination
                          [collectionSize]="results.length"
                          [(page)]="pageIndex"
                          [pageSize]="pageSize"
                          aria-label="Custom pagination"
                        >
                          <ng-template ngbPaginationPrevious
                            >&lsaquo;</ng-template
                          >
                          <ng-template ngbPaginationNext>&rsaquo;</ng-template>
                        </ngb-pagination>
                      </div>
                      <div class="medium-12 columns">
                        <hr />
                      </div>
                    </section>
                    <div class="row columns">
                      <div class="medium-12 columns">
                        <div
                          *ngIf="results.length > 20"
                          class="callout secondary"
                        >
                          <div
                            style="border:1px solid #000; border-radius:100%;width:18px;display:inline-block; text-align:center;font-family:'Times New Romans';font-weight:bold;"
                          >
                            i
                          </div>
                          If you want to filter down this list even further, try
                          selecting an additional category to search on (i.e.,
                          Interest Code(s), Bright Outlook, STEM
                          Careers, and/or Hot Military Careers).
                        </div>
                        <div
                          *ngIf="results.length <= 5"
                          class="callout secondary"
                        >
                          <div
                            style="border:1px solid #000; border-radius:100%;width:18px;display:inline-block; text-align:center;font-weight:bold;"
                          >
                            !
                          </div>
                          Not seeing enough jobs listed here? Try broadening your
                          search by only selecting one or two categories on which
                          to filter.
                        </div>
                      </div>
                    </div>
                    <section id="search-list" class="medium-12 columns">
                      <table class="hover">
                        <tbody>
                          <tr
                            *ngFor="
                              let o of results | orderBy: 'sortValue'
                                | slice
                                  : (pageIndex - 1) * pageSize
                                  : (pageIndex - 1) * pageSize + pageSize
                            "
                          >
                            <td><app-occufind-grid-add-favorites [parent]="this" [occupation]="o"></app-occufind-grid-add-favorites></td>
                            <td>
                              <a
                                (click)="
                                  selectedOccupation(
                                    o.onetSoc,
                                    o.occupationTitle,
                                    o.isStemOccupation,
                                    o.isBrightOccupation,
                                    o.isGreenOccupation,
                                    o.interestCdOne,
                                    o.interestCdTwo,
                                    o.interestCdThree
                                  )
                                "
                              >
                                {{ o.occupationTitle }}
                                <i
                                  *ngIf="o.isStemOccupation"
                                  class="icon stem"
                                  rel="stem"
                                ></i>
                                <i
                                  *ngIf="o.isBrightOccupation"
                                  class="icon hot"
                                  rel="bright"
                                ></i>
                                <i
                                  *ngIf="o.isGreenOccupation"
                                  class="icon green"
                                  rel="green"
                                ></i>
                                <i
                                  *ngIf="o.isHotOccupation"
                                  class="icon-hotjob"
                                  title="HOT"
                                ></i>
                              </a>
                            </td>
                            <td align="right" width="100">
                              <i
                                *ngIf="o.interestCdOne == 'R'"
                                class="code-r"
                              ></i>
                              <i
                                *ngIf="o.interestCdOne == 'I'"
                                class="code-i"
                              ></i>
                              <i
                                *ngIf="o.interestCdOne == 'A'"
                                class="code-a"
                              ></i>
                              <i
                                *ngIf="o.interestCdOne == 'S'"
                                class="code-s"
                              ></i>
                              <i
                                *ngIf="o.interestCdOne == 'E'"
                                class="code-e"
                              ></i>
                              <i
                                *ngIf="o.interestCdOne == 'C'"
                                class="code-c"
                              ></i>

                              <i
                                *ngIf="o.interestCdTwo == 'R'"
                                class="code-r"
                              ></i>
                              <i
                                *ngIf="o.interestCdTwo == 'I'"
                                class="code-i"
                              ></i>
                              <i
                                *ngIf="o.interestCdTwo == 'A'"
                                class="code-a"
                              ></i>
                              <i
                                *ngIf="o.interestCdTwo == 'S'"
                                class="code-s"
                              ></i>
                              <i
                                *ngIf="o.interestCdTwo == 'E'"
                                class="code-e"
                              ></i>
                              <i
                                *ngIf="o.interestCdTwo == 'C'"
                                class="code-c"
                              ></i>

                              <i
                                *ngIf="o.interestCdThree == 'R'"
                                class="code-r"
                              ></i>
                              <i
                                *ngIf="o.interestCdThree == 'I'"
                                class="code-i"
                              ></i>
                              <i
                                *ngIf="o.interestCdThree == 'A'"
                                class="code-a"
                              ></i>
                              <i
                                *ngIf="o.interestCdThree == 'S'"
                                class="code-s"
                              ></i>
                              <i
                                *ngIf="o.interestCdThree == 'E'"
                                class="code-e"
                              ></i>
                              <i
                                *ngIf="o.interestCdThree == 'C'"
                                class="code-c"
                              ></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </section>
                    <section class="table-pagination" style="clear:both">
                      <div class="medium-12 columns">
                        <hr />
                      </div>
                      <div class="medium-6 columns">
                        Showing
                        {{
                          results.length != 0 ? (pageIndex - 1) * pageSize + 1 : 0
                        }}
                        -
                        {{
                          pageIndex * pageSize <= results.length
                            ? pageIndex * pageSize
                            : results.length
                        }}
                        of {{ results.length }}
                        Careers
                      </div>
                      <div class="medium-6 columns text-right">
                        <ngb-pagination
                          [collectionSize]="results.length"
                          [(page)]="pageIndex"
                          [pageSize]="pageSize"
                          aria-label="Custom pagination"
                        >
                          <ng-template ngbPaginationPrevious
                            >&lsaquo;</ng-template
                          >
                          <ng-template ngbPaginationNext>&rsaquo;</ng-template>
                        </ngb-pagination>
                      </div>
                    </section>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>

            <!-- <<<<<<<<<<<<<< -->

            <div
              class="row"
              *ngIf="skillImportance == undefined || skillImportance == ''"
            >
              <section class="table-pagination">
                <div class="medium-6 columns">
                  Showing
                  {{ results.length != 0 ? (pageIndex - 1) * pageSize + 1 : 0 }} -
                  {{
                    pageIndex * pageSize <= results.length
                      ? pageIndex * pageSize
                      : results.length
                  }}
                  of {{ results.length }}
                  Careers
                </div>
                <div class="medium-6 columns text-right">
                  <ngb-pagination
                    [collectionSize]="results.length"
                    [(page)]="pageIndex"
                    [pageSize]="pageSize"
                    aria-label="Custom pagination"
                  >
                    <ng-template ngbPaginationPrevious>&lsaquo;</ng-template>
                    <ng-template ngbPaginationNext>&rsaquo;</ng-template>
                  </ngb-pagination>
                </div>
                <div class="medium-12 columns">
                  <hr />
                </div>
              </section>
              <div class="row columns">
                <div class="medium-12 columns">
                  <div *ngIf="results.length > 20" class="callout secondary">
                    <div
                      style="border:1px solid #000; border-radius:100%;width:18px;display:inline-block; text-align:center;font-family:'Times New Romans';font-weight:bold;"
                    >
                      i
                    </div>
                    If you want to filter down this list even further, try
                    selecting an additional category to search on (i.e., Interest
                    Code(s), Bright Outlook, STEM Careers, and/or
                    Hot Military Careers).
                  </div>
                  <div *ngIf="results.length <= 5" class="callout secondary">
                    <div
                      style="border:1px solid #000; border-radius:100%;width:18px;display:inline-block; text-align:center;font-weight:bold;"
                    >
                      !
                    </div>
                    Not seeing enough jobs listed here? Try broadening your search
                    by only selecting one or two categories on which to filter.
                  </div>
                </div>
              </div>
              <section id="search-list" class="medium-12 columns">
                <table class="hover">
                  <tbody>
                    <tr
                      *ngFor="
                        let o of results | orderBy: 'sortValue'
                          | slice
                            : (pageIndex - 1) * pageSize
                            : (pageIndex - 1) * pageSize + pageSize
                      "
                    >
                      <td><app-occufind-grid-add-favorites [parent]="this" [occupation]="o"></app-occufind-grid-add-favorites></td>
                      <td>
                        <a
                          (click)="
                            selectedOccupation(
                              o.onetSoc,
                              o.occupationTitle,
                              o.isStemOccupation,
                              o.isBrightOccupation,
                              o.isGreenOccupation,
                              o.interestCdOne,
                              o.interestCdTwo,
                              o.interestCdThree
                            )
                          "
                        >
                          {{ o.occupationTitle }}
                          <i
                            *ngIf="o.isStemOccupation"
                            class="icon stem"
                            rel="stem"
                          ></i>
                          <i
                            *ngIf="o.isBrightOccupation"
                            class="icon hot"
                            rel="bright"
                          ></i>
                          <i
                            *ngIf="o.isGreenOccupation"
                            class="icon green"
                            rel="green"
                          ></i>
                          <i
                            *ngIf="o.isHotOccupation"
                            class="icon-hotjob"
                            title="HOT"
                          ></i>
                        </a>
                      </td>
                      <td align="right" width="100">
                        <i *ngIf="o.interestCdOne == 'R'" class="code-r"></i>
                        <i *ngIf="o.interestCdOne == 'I'" class="code-i"></i>
                        <i *ngIf="o.interestCdOne == 'A'" class="code-a"></i>
                        <i *ngIf="o.interestCdOne == 'S'" class="code-s"></i>
                        <i *ngIf="o.interestCdOne == 'E'" class="code-e"></i>
                        <i *ngIf="o.interestCdOne == 'C'" class="code-c"></i>

                        <i *ngIf="o.interestCdTwo == 'R'" class="code-r"></i>
                        <i *ngIf="o.interestCdTwo == 'I'" class="code-i"></i>
                        <i *ngIf="o.interestCdTwo == 'A'" class="code-a"></i>
                        <i *ngIf="o.interestCdTwo == 'S'" class="code-s"></i>
                        <i *ngIf="o.interestCdTwo == 'E'" class="code-e"></i>
                        <i *ngIf="o.interestCdTwo == 'C'" class="code-c"></i>

                        <i *ngIf="o.interestCdThree == 'R'" class="code-r"></i>
                        <i *ngIf="o.interestCdThree == 'I'" class="code-i"></i>
                        <i *ngIf="o.interestCdThree == 'A'" class="code-a"></i>
                        <i *ngIf="o.interestCdThree == 'S'" class="code-s"></i>
                        <i *ngIf="o.interestCdThree == 'E'" class="code-e"></i>
                        <i *ngIf="o.interestCdThree == 'C'" class="code-c"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </section>
              <section class="table-pagination" style="clear:both">
                <div class="medium-12 columns">
                  <hr />
                </div>
                <div class="medium-6 columns">
                  Showing
                  {{ results.length != 0 ? (pageIndex - 1) * pageSize + 1 : 0 }} -
                  {{
                    pageIndex * pageSize <= results.length
                      ? pageIndex * pageSize
                      : results.length
                  }}
                  of {{ results.length }}
                  Careers
                </div>
                <div class="medium-6 columns text-right">
                  <ngb-pagination
                    [collectionSize]="results.length"
                    [(page)]="pageIndex"
                    [pageSize]="pageSize"
                    aria-label="Custom pagination"
                  >
                    <ng-template ngbPaginationPrevious>&lsaquo;</ng-template>
                    <ng-template ngbPaginationNext>&rsaquo;</ng-template>
                  </ngb-pagination>
                </div>
              </section>
            </div>
            <div class="row">
              <div id="disclaimer" class="medium-12 columns">
                <p>
                  Occupational details for all careers listed in the OCCU-Find
                  were derived from
                  <a
                    href="https://www.onetcenter.org/db_releases.html"
                    target="_blank"
                    >O*NET {{ onetVersion.value }} database</a
                  >
                  and the
                  <a href="https://www.doleta.gov/" target="_blank"
                    >U.S. Department of Labor, Employment and Training
                    Administration</a
                  >
                  in accordance with the content
                  <a
                    href="https://creativecommons.org/licenses/by/4.0/"
                    target="_blank"
                    >license</a
                  >. These details are complemented by relevant labor market
                  information provided by
                  <a href="http://bls.gov/" target="_blank"
                    >Bureau of Labor Statistics</a
                  >,
                  <a href="http://nces.ed.gov/" target="_blank"
                    >National Center of Education Statistics</a
                  >,
                  <a href="http://www.careeronestop.org/" target="_blank"
                    >CareerOneStop</a
                  >, and Defense Manpower Data Center. Contact any business,
                  college or Military Service directly for more details.
                </p>
              </div>
            </div>
            </div>  
            <aside
          id="search-sidebar"
          class="sidebar medium-4 pull-right columns search-list"
        >
          <section id="filters">
            <form>
              <p class="mb-10"><a (click)="clearSelections()">Clear Selections</a></p>
              <h3 class="gray-bg">Search by:</h3>
              <label for="keyword" class="sr-only">Keyword:</label>
              <input
                id="keyword"
                placeholder="Keyword (optional)"
                [(ngModel)]="keyword"
                (change)="saveSearch($event)"
                type="text"
                [ngModelOptions]="{ standalone: true }"
              />
            </form>
            <div id="filter-interest">
            
            	<table class="table occufind-check-table occufind-check-interest-table">
                    <thead>
                      <tr>
                        <th colspan="2">
                            <h3 class="transparent-title"><strong>INTEREST CODE</strong></h3> 
                            (select up to three)
                        </th>
                        <th [ngClass]="interestTwoChecked >= 1 || interestOneChecked >= 1 ? 'text-l-gray text-center' : 'text-center'" width="35">1st</th>
                        <th [ngClass]="interestOneChecked == 0 || interestThreeChecked >= 1 || interestTwoChecked >= 1 ? 'text-l-gray text-center' : 'text-center'" width="35">2nd</th>
                        <th [ngClass]="interestOneChecked == 0 || interestTwoChecked == 0 ? 'text-l-gray text-center' : 'text-center'" width="35">3rd</th>
                      </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of checkboxInterest; let index = index" class="ng-binding ng-scope">
                            <td [ngClass]="'code-' + item.code + ' triangle pr-0'" width="28"><img src="/assets/images/explore_search/triangle-{{item.code | lowercase}}.svg" alt="Triangle" width="14"></td>
                            <td>{{item.name}}</td>
                            <td class="checkbox-tick text-center" width="35">
                                <input class="styled-checkbox" 
                                  type="checkbox"
                                  id="interest{{ index }}"
                                  [(ngModel)]="filterItems[item.code]"
                                  (ngModelChange)="countInterestOneChecked(item); saveSearch()"
                                  [attr.disabled]="
                                    interestOneChecked >= 1
                                    && (!filterItems[item.code] || interestTwoChecked >= 1)
                                    || filterItemsTwo[item.code]
                                      ? ''
                                      : null
                                    || filterItemsThree[item.code]
                                        ? ''
                                        : null
                                        
                                  "
                                  [ngModelOptions]="{ standalone: true }">
                                <label class="styled-checkbox-label" for="interest{{ index }}"></label>
                            </td>
                            <td class="checkbox-tick text-center" width="35">
                                <input class="styled-checkbox"
                                    type="checkbox"
                                    id="interest{{ index+6 }}"
                                    [(ngModel)]="filterItemsTwo[item.code]"
                                    (ngModelChange)="countInterestTwoChecked(item); saveSearch()"
                                    [attr.disabled]="
                                      ((interestTwoChecked >= 1)
                                      || !(interestOneChecked >= 1))
                                      && (!filterItemsTwo[item.code] || interestThreeChecked >= 1)
                                      || filterItems[item.code]
                                        ? ''
                                        : null
                                    "
                                    [ngModelOptions]="{ standalone: true }">
                                <label class="styled-checkbox-label" for="interest{{ index+6 }}"></label>
                            </td>
                            <td class="checkbox-tick text-center" width="35">
                                <input class="styled-checkbox"
                                    type="checkbox"
                                    id="interest{{ index+12 }}"
                                    [(ngModel)]="filterItemsThree[item.code]"
                                    (ngModelChange)="countInterestThreeChecked(item); saveSearch()"
                                    [attr.disabled]="
                                      ((interestThreeChecked >= 1)
                                      || !(interestTwoChecked >= 1))
                                      && !filterItemsThree[item.code] 
                                      || filterItems[item.code]
                                        ? ''
                                        : null
                                      || filterItemsTwo[item.code]
                                        ? ''
                                        : null
                                    "
                                    [ngModelOptions]="{ standalone: true }">
                                <label class="styled-checkbox-label" for="interest{{ index+12 }}"></label>
                            </td>
                        </tr>
                      </tbody>
                  </table>
              <!-- <h3 class="transparent-title"><b>INTEREST CODE</b></h3>
              <p>(select up to two)</p>
              <span
              style="display:block;"
              *ngFor="let item of checkboxInterest; let index = index">
                <i [ngClass]="'code-' + item.code | lowercase"></i>
                {{
                  item.name
                }}
                <span class="checkbox-wrap">
                  <input
                    class="styled-checkbox"
                    type="checkbox"
                    id="interest{{ index }}"
                    [(ngModel)]="filterItems[item.code]"
                    (ngModelChange)="limitTwo(item); saveSearch()"
                    [attr.disabled]="
                      interestChecked == interestLimit && !filterItems[item.code]
                        ? ''
                        : null
                    "
                  />
                  <label class="styled-checkbox-label" for="interest{{ index }}"></label>
                </span>
              </span>
              <br /> -->
            </div>
            <h3 class="gray-bg">Sort by:</h3>
            <div class="book-select">
              <h3 class="transparent-title"><b>My ASVAB Strengths <a class="explain alt" (click)="showSortByStrength()"></a></b></h3>
              <p>(select one, optional)</p>
              <div class="book-select-input">
                <span
                style="display:inline-block;"
                 *ngFor="let item of checkboxSkill; let index = index">
                  
                 <label for="skill{{ index }}" style="display:inline-block !important;">
                   <img
                    src="assets/images/small-book{{ index + 1 }}.png"
                    alt="small-book{{ index + 1 }}"
                  />
                 {{
                    item.name
                  }}
                </label>
                  <span class="checkbox-wrap">

                 
                    <input
                      class="styled-checkbox"
                      type="checkbox"
                      id="skill{{ index }}"
                      [(ngModel)]="skillItems[item.code]"
                      (ngModelChange)="
                        onSkillChange(item); limitOne(item); saveSearch()
                      "
                      [attr.disabled]="
                        skillChecked == skillLimit && !skillItems[item.code]
                          ? ''
                          : null
                      "
                    />
                    <label class="styled-checkbox-label" style="margin-top:5px;" for="skill{{ index }}"></label>
                  </span>
                </span>
              </div>
            </div>
            <!-- <h3 class="gray-bg">Filter By</h3>
            <div id="filter-category">
              <h3 class="transparent-title"><b>Categories <a class="explain alt" (click)="careerDefinitionsNoCareerCluster()"></a></b></h3>
              <p>(optional)</p>
              <span style="display:block;"
                  *ngFor="let item of checkboxCategory; let index = index"
                  >
                <label for="category{{ index }}" style="display:inline-block;">
                  <i class="{{ item.iconClass }}" title="{{ item.rel }}"></i>
                  {{
                    item.name
                  }}
                </label>
                <span class="checkbox-wrap">
                  <input
                    class="styled-checkbox"
                    type="checkbox"
                    id="category{{ index }}"
                    [(ngModel)]="categoryItems[item.code]"
                    (ngModelChange)="saveSearch()"
                  />
                  <label class="styled-checkbox-label" style="margin-top:5px;" for="category{{ index }}"></label>
                </span>
              </span>
            </div> -->
            <h3 class="gray-bg">Filter By</h3>
            <div id="filter-category">
              <table class="select_with_checkbox_wrapper" #workValues >
                <thead>
                  <tr>
                    <th colspan="3"><b class="text-uppercase">Work Values <a class="explain alt" (click)="getWorkValueHelp()"></a></b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="p-0">
                      <div class="select_with_checkbox">
                        <button (click)="expandWorkValues(!workValuesExpanded)"  class="custom_select_dropdown">Select Work Values ({{getFilterCount('workValues')}})</button>
                        <table [ngClass]="{ active: workValuesExpanded }">
                          <tbody>
                            <tr><td colspan="3" class="pt-10">(select up to three)</td></tr>
                            <tr *ngFor="let item of checkboxWorkValues; let index = index">
                              <td class="pr-0"><i class="{{ item.iconClass }}" title="{{ item.rel }}"></i></td>
                              <td style="padding-left:5px !important; padding-right: 5px !important;"><label for="workValueItem{{ index }}">{{item.name}}</label></td>
                              <td class="checkbox-tick">
                                <input
                                  class="styled-checkbox"
                                  type="checkbox"
                                  id="workValueItem{{ index }}"
                                  [(ngModel)]="workValueItems[item.code]"
                                  [disabled]="getFilterCount('workValues') > 2 &&  workValueItems[item.code] == false"
                                  (ngModelChange)="saveSearch()"
                                  [ngModelOptions]="{ standalone: true }">
                                <label class="styled-checkbox-label" for="workValueItem{{ index }}"></label>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

              <table class="select_with_checkbox_wrapper" #categories>
                <thead>
                  <tr>
                    <th colspan="3"><b class="text-uppercase">Categories <a class="explain alt" (click)="careerDefinitionsNoCareerCluster()"></a></b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="p-0">
                      <div  class="select_with_checkbox">
                        <button (click)="expandCategory(!categoryExpanded)"  class="custom_select_dropdown">Select Categories ({{getFilterCount('category')}})</button>
                        <table [ngClass]="{ active:categoryExpanded }">
                          <tbody>
                            <tr><td colspan="3" class="pt-10">(select up to three)</td></tr>
                            <tr *ngFor="let item of checkboxCategory; let index = index">
                              <td class="pr-0"><i class="{{ item.iconClass }}" title="{{ item.rel }}"></i></td>
                              <td style="padding-left:5px !important; padding-right: 5px !important;"><label for="category{{ index }}">{{item.name}}</label></td>
                              <td class="checkbox-tick">
                                <input
                                  class="styled-checkbox"
                                  type="checkbox"
                                  id="category{{ index }}"
                                  [(ngModel)]="categoryItems[item.code]"
                                  [disabled]="getFilterCount('category') > 2 &&  categoryItems[item.code] == false"
                                  (ngModelChange)="saveSearch()"
                                  [ngModelOptions]="{ standalone: true }">
                                <label class="styled-checkbox-label" for="category{{ index }}"></label>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>


          </section>
          <section id="explore">
            <h3 class="gray-bg">
              Other ways to Explore<span
                (click)="careerDefinitions()"
                class="explain-parent"
                ></span>
            </h3>
            <ul class="menu vertical">
              <li><a routerLink="/career-cluster" class="d_inline_block">Career Clusters</a> <a class="explain alt d_inline_block" (click)="careerDefinitions()"></a></li>
              <li>
                <a
                  (click)="clearSelections()"
                  routerLink="/occufind-occupation-search-results"
                  >View All</a
                >
              </li>
            </ul>
          </section>
        </aside>
              </div>
          </div>
        </section>        
      </div>

      <!-- <app-left-navigation-mobile
        *ngIf="occuFindUserLoggedIn"
      ></app-left-navigation-mobile> -->
    </section>

	<app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
    <app-footer></app-footer>
  </ng-conatiner>
</div>
