<div class="edit_plan_box mb_30" *ngIf="(_utilityService.containsPathways(selectedPathways, 'military') && selectedSchools?.length > 0) || 
  _utilityService.containsPathways(selectedPathways, 'certificate', 'technicalSchool', 
  'associatesDegree', 'bachelorsDegree','advanceDegree','vocationalTraining', 'careerTechnicalEducation') ">
  <h3 class="edit-plan">College Plan</h3>

  <div class="edit_college_plan p_20" *ngFor="let collegePlan of selectedSchools; let i = index">
    <p>You have selected</p>
    <div class="edit_college mt_15">
      <h4><strong>College:</strong>&nbsp; 
        <!-- <a *ngIf="collegePlan.schoolProfile.url" href="http://{{collegePlan.schoolProfile.url}}" target="_blank">{{collegePlan.schoolProfile.institutionName}}</a> -->
        <a routerLink="/occufind-school-details/{{userOccupationPlan.socId}}/{{collegePlan.unitId}}" target="_blank">{{collegePlan.schoolProfile.institutionName}}</a>
        <ng-container *ngIf="!collegePlan.schoolProfile.url">{{collegePlan.schoolProfile.institutionName}}</ng-container>
        <a (click)="removeCollegePlan(collegePlan, i)" class="remove_row"><img src="assets/images/close-blue.svg"></a>
      </h4>
      <div class="row mb_20">
        <div class="column small-12 medium-2">
          <label class="mr_20 d_inline_block"><strong>Degree:</strong></label>
        </div>
        <div class="column small-12 medium-6 end">
          <select [(ngModel)]="collegePlan.degree" #degree="ngModel" class="college-plan-select">
            <option value="certificate" *ngIf="collegePlan.schoolProfile.certificate">Certificate</option>
            <option value="associates" *ngIf="collegePlan.schoolProfile.associates">Associate's Degree</option>
            <option value="bachelors" *ngIf="collegePlan.schoolProfile.bachelors">Bachelor's Degree</option>
            <option value="masters" *ngIf="collegePlan.schoolProfile.masters">Master's Degree</option>
            <option value="doctoral" *ngIf="collegePlan.schoolProfile.doctoral">Doctoral Degree</option>
          </select>
        </div>
      </div>
      <div class="row mb_20">
        <div class="column small-12 medium-2">
          <label class="mr_20 d_inline_block"><strong>Major:</strong></label>
        </div>
        <div class="column small-12 medium-9 end">
          <select [(ngModel)]="collegePlan.major" #major="ngModel" class="college-plan-select">
            <option *ngFor="let collegeMajor of collegePlan.schoolProfile.collegeMajors"
              [ngValue]="collegeMajor.cipTitle">
              {{collegeMajor.cipTitle}}</option>
          </select>
        </div>
      </div>

      <div class="row mb_20">
        <div class="columns medium-9 large-6">
          <div class="tuition_estimate">
            <p><strong>Tuition Estimate:</strong></p>
            <div class="form_select">
              <div class="columns medium-6">
                <input type="radio" name="isSeekingInStateTuition{{i}}"
                  [(ngModel)]="collegePlan.isSeekingInStateTuition" [value]="true" #isSeekingInStateTuition="ngModel">
                In-state:&nbsp;{{collegePlan.schoolProfile.inStateTutition | currency}} <br />
                <input type="radio" name="isSeekingInStateTuition{{i}}"
                  [(ngModel)]="collegePlan.isSeekingInStateTuition" [value]="false" #isSeekingInStateTuition="ngModel">
                Out of state:&nbsp;{{collegePlan.schoolProfile.outOfStateTutition | currency}}
              </div>
              <div class="estimate_tuition_total columns medium-6 clearfix" style="padding-right:10px;">
                <p class="right" style="max-width: none;">{{ ((collegePlan.isSeekingInStateTuition == null) ? 00000 :
                  (collegePlan.isSeekingInStateTuition) ?
                  collegePlan.schoolProfile.inStateTutition : collegePlan.schoolProfile.outOfStateTutition) | currency}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="columns medium-9 large-6">
          <div class="tuition_sources">
            <p><strong>Tuition Sources:</strong></p>
            <div class="form-group">
              <label class="mr_20 d_inline_block">Family contribution:</label>
              <input currencyMask class="form-control" [(ngModel)]="collegePlan.familyContribution"
                [options]="{ allowNegative: false }" #familyContribution="ngModel" />
            </div>
            <div class="form-group">
              <label class="mr_20 d_inline_block">Scholarship contribution:</label>
              <input currencyMask class="form-control" #scholarshipContribution="ngModel"
                [(ngModel)]="collegePlan.scholarshipContribution" [options]="{ allowNegative: false }" />
            </div>
            <div class="form-group">
              <label class="mr_20 d_inline_block">Savings / 529:</label>
              <input currencyMask class="form-control" [(ngModel)]="collegePlan.savings" #savings="ngModel"
                [options]="{ allowNegative: false }" />
            </div>
            <div class="form-group">
              <label class="mr_20 d_inline_block">Loan:</label>
              <input currencyMask class="form-control" #loan="ngModel" [(ngModel)]="collegePlan.loan"
                [options]="{ allowNegative: false }" />
            </div>
            <div class="form-group">
              <label class="mr_20 d_inline_block">Other:</label>
              <input currencyMask class="form-control" #other="ngModel" [(ngModel)]="collegePlan.other"
                [options]="{ allowNegative: false }" />
            </div>
          </div>
          <div class="estimate_tuition_total">
            <p>Tuition source total:</p>
            <p>{{calculateTuitionSrc(collegePlan) | currency}}</p>
          </div>
          <div class="estimate_tuition_total">
            <p>Remaining tuition cost:</p>
            <p>
              {{(collegePlan.isSeekingInStateTuition == null? 0 : (collegePlan.isSeekingInStateTuition ?
              (collegePlan.schoolProfile.inStateTutition - (collegePlan.familyContribution +
              collegePlan.scholarshipContribution +
              collegePlan.savings + collegePlan.loan + collegePlan.other))
              : (collegePlan.schoolProfile.outOfStateTutition - (collegePlan.familyContribution +
              collegePlan.scholarshipContribution
              + collegePlan.savings + collegePlan.loan + collegePlan.other)))) | currency}}
            </p>
          </div>
        </div>
        <div class="columns medium-1"></div>
        <div class="columns medium-3 large-4 large-offset-1">
          <div class="mb_20">
            <p><strong>Search Scholarships:</strong></p>
            <a href="http://www.fastweb.com/" target="_blank">Fastweb</a>
            <p *ngIf="collegePlan.schoolProfile.rotcArmy || collegePlan.schoolProfile.rotcAirForce || collegePlan.schoolProfile.rotcNavy"
              class="mt_15">ROTC programs that are offered at this school:</p>
            <div class="program_school">
              <p *ngIf="collegePlan.schoolProfile.rotcArmy">
                <span>
                  <a href="https://www.careersinthemilitary.com/options-becoming-an-officer/rotc" target="_blank">
                    <img class="college-plan-icon" src="assets/images/Army_new.svg" alt="Army Logo"></a>
                </span>
                <a routerLink="/occufind-military-details/{{userOccupationPlan.socId}}">Army</a>
              </p>
              <p *ngIf="collegePlan.schoolProfile.rotcAirForce">
                <span>
                  <a href="https://www.careersinthemilitary.com/options-becoming-an-officer/rotc" target="_blank">
                    <img class="college-plan-icon" src="assets/images/air-force.png" alt="Air-Force Logo"></a>
                </span>
                <a routerLink="/occufind-military-details//{{userOccupationPlan.socId}}">Air Force</a>
              </p>
              <p *ngIf="collegePlan.schoolProfile.rotcNavy">
                <span>
                  <a href="https://www.careersinthemilitary.com/options-becoming-an-officer/rotc" target="_blank">
                    <img class="college-plan-icon" src="assets/images/Navy_new.svg" alt="Navy Logo"></a> </span>
                <a routerLink="/occufind-military-details/{{userOccupationPlan.socId}}">Navy</a>
              </p>
            </div>
          </div>
          <div>
            <p><strong>Other helpful links:</strong></p>
            <p><a href="https://fafsa.ed.gov/" target="_blank">FAFSA</a></p>
            <p><a href="http://www.collegecalc.org/" target="_blank">CollegeCalc</a></p>
          </div>
        </div>
        <div class="columns medium-1"></div>
      </div>
      <div class="row">
        <div class="columns medium-12">
          <button class="button mx-auto"
            (click)="updateCollegePlan(collegePlan, i, familyContribution, other,loan,savings,scholarshipContribution,isSeekingInStateTuition,major,degree);"
            [disabled]="(!familyContribution.dirty && !other.dirty && !loan.dirty && !savings.dirty && 
              !scholarshipContribution.dirty && !isSeekingInStateTuition.dirty && !major.dirty &&
              !degree.dirty) || updateCollegePlanSubmitted[i] "
            style="margin-left:auto; margin-right:auto;padding: 6px 29px;">SAVE
            <span *ngIf="updateCollegePlanSubmitted[i]" id="save-indicator"><i
                class="fa fa-circle-o-notch fa-spin fa-fw"></i></span>
          </button>
          
        </div>
        
      </div>
      <div class="row mt_15" *ngIf="wasSaved">
        <div class="column small-12 text-center" >
          <div class="success message" >
            <i class="fi-check"></i>Save success!
          </div>
        </div>
      </div>
    </div>
  </div>

  <a (click)="addAnotherSchool = true" *ngIf="(selectedSchools && selectedSchools?.length > 0) && !addAnotherSchool"
    class="add-new">
    Add Another School&nbsp;<i class="fa fa-plus"></i>
  </a>

  <!-- Select a Fav. or click to search for one -->
  <div class="edit_college_plan p_20" *ngIf="addAnotherSchool">
    <div *ngIf="favoriteColleges && favoriteColleges?.length > 0">
      <p>Select schools from your favorite list that offer degrees related to this occupation. </p>
      <form name="stepOneCollegePlanForm" (submit)="saveFavoriteColleges()">
        <div class="form-group bg_light_gray d_inline_block" *ngFor="let college of favoriteColleges; let i = index">
          <div class="checkbox-tick">
            <input class="styled-checkbox" type="checkbox" id="cp{{i}}"
              (click)="addSchoolSelected(college, $event)" />
            <label class="styled-checkbox-label" for="cp{{i}}"></label>

            <span class="ml_10"><strong>{{college.schoolName}}&nbsp;|&nbsp;</strong>
              {{college.city}},&nbsp;{{college.state}}</span>
          </div>
        </div>
        <button class="button" type="submit" [disabled]="favoriteSchoolsSelected?.length == 0">NEXT</button>
      </form>
    </div>

    <div class="devider_with_text" *ngIf="favoriteColleges && favoriteColleges?.length > 0">
      <p><strong>or</strong></p>
    </div>

    <div class="search_college">
      <p>Explore more colleges that have related majors.</p>
      <a (click)="showSearchDialog()" class="button">Search Colleges</a>
    </div>
  </div>

</div>