<div class="modal-options">
  <div class="custom-modal-lg">
    <div class="custom-modal-content table-contents-wrap marine-modal school-details-modal">
      <div class="custom-modal-body">
        <div class="titles modal-header" *ngIf="title">
          <h3 id="title">
            {{ title | uppercase }}
          </h3>
        </div>
        <div innerHtml="{{ message }}"></div>
        <div class="close-button-div text-right modal-footer">
          <button type="button" class="button" (click)="_dialogRef.close('ok')">ok</button>
          <button type="button" class="button" (click)="_dialogRef.close('cancel')">cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>