/* Countdown */

#main #countdown {
    background: #fff;
}
.countdown-link h2 {
  text-align: center;
  font-size: 27px;
  padding: 42px 0;
  text-transform: initial;
  padding-left: 13px;
  letter-spacing: 0.1px;
  padding-bottom: 100px;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .countdown-link h2 {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 27px 0 91px;
    line-height: 37px;
  }
}
.countdown-link .social-wrapper .social-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 0;
  margin-bottom: 10px;
}
.countdown-link .social-wrapper .social-icon li:before {
  content: initial !important;
}
.countdown-link .social-wrapper .social-icon .title-icon {
  font-size: 15px !important;
  line-height: 24px !important;
  letter-spacing: -0.4px;
  font-weight: 400;
  color: #ffffff;
  word-spacing: 1.6px;
  margin-right: 12px;
}
.countdown-link .social-wrapper .social-icon .title-icon:before {
  display: none;
}
.countdown-link .social-wrapper .social-icon li a {
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1c43;
  border-radius: 50%;
  line-height: 1.1;
  color: #ffffff;
  font-size: 17px;
  margin: 0 3px;
  padding: 0;
}
.countdown-link .social-wrapper .social-icon li a:hover {
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.3s ease-in-out 0s;
}
.countdown-link .bring-btn {
  font-size: 16px;
  background: #1f1c43;
  text-decoration: none;
  letter-spacing: -0.28px;
  word-spacing: 1.2px;
  display: block;
  border: none;
  max-width: 355px;
  width: 100%;
  text-transform: inherit;
  padding: 7px;
  margin-left: auto;
  margin-right: 0;
}
.countdown-link .bring-btn:hover {
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.3s ease-in-out 0s;
}
.countdown-link .bring-btn:hover {
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.3s ease-in-out 0s;
}
@media (max-width: 767px) {
  .countdown-link .bring-btn {
    max-width: 326px;
    width: 100%;
    padding: 12px 5px;
    margin: 0 auto 56px;
  }
}
.countdown-link .header {
  background-color: #302c68;
  position: relative;
  padding-top: 26px;
  margin-bottom: 80px;
}
@media (max-width: 991px) {
  .countdown-link .header {
    margin-bottom: 84px;
  }
}
.countdown-link .header .main-menu .main-logo {
  margin-left: 11px;
  margin-top: 26px;
}
@media (max-width: 767px) {
  .countdown-link .header .main-menu .main-logo {
    margin-top: 7px;
  }
}
@media (max-width: 767px) {
  .countdown-link .header .main-menu .main-logo a {
    display: block;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .countdown-link .header .main-menu .main-logo a img {
    max-width: 150px;
    width: 100%;
  }
}
.countdown-link .header .option-title {
  font-size: 49px;
  font-weight: 400;
  letter-spacing: -0.05px;
  line-height: 1.01;
  padding: 0 10px;
  margin-top: 52px;
  margin-bottom: 38px;
}
@media (max-width: 767px) {
  .countdown-link .header .option-title {
    font-size: 34px;
    letter-spacing: -0.7px;
    text-align: center;
    line-height: 39px;
    max-width: 270px;
    margin: 26px auto 47px;
  }
}
@media (max-width: 359px) {
  .countdown-link .header .option-title {
    font-size: 30px;
  }
}
.countdown-link .header .option-disc {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  padding: 0 10px;
  margin-bottom: 52px;
}
@media (max-width: 767px) {
  .countdown-link .header .option-disc {
    max-width: 300px;
    text-align: center;
    margin: 0 auto 91px;
  }
}
@media (max-width: 359px) {
  .countdown-link .header .option-disc {
    font-size: 18px;
  }
}
.countdown-link .triangle-down {
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 60px solid #302c68;
  position: absolute;
  bottom: -45px;
//   left: 42px;
}
@media (max-width: 767px) {
  .countdown-link .triangle-down {
    left: 50%;
    transform: translateX(-50%);
    bottom: -57px;
  }
}
.countdown-link .countdown-link-box-wrapper {
  padding: 0 10px;
}
.countdown-link .countdown-link-box-wrapper .countdown-link-box {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  border: 1px solid #cdcdcd;
  line-height: 1;
  align-items: stretch;
}
@media (max-width: 767px) {
  .countdown-link .countdown-link-box-wrapper .countdown-link-box {
    display: block;
    margin-bottom: 22px;
  }
}
.countdown-link .countdown-link-box-wrapper .countdown-link-box .countdown-date {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-right: 1px solid #cdcdcd;
  color: #359796;
  background-color: #edf8f8;
  max-width: 147px;
  width: 100%;
  padding: 9px 22px 9px 10px;
  font-weight: bold;
  text-align: right;
}
@media (max-width: 767px) {
  .countdown-link .countdown-link-box-wrapper .countdown-link-box .countdown-date {
    border-bottom: 1px solid #cdcdcd;
    border-right: none;
    max-width: 100%;
    text-align: center;
    padding: 2px 22px;
    justify-content: center;
  }
}
.countdown-link .countdown-link-box-wrapper .countdown-link-box .countdown-date span {
  font-size: 45px;
  line-height: 1.03;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 767px) {
  .countdown-link .countdown-link-box-wrapper .countdown-link-box .countdown-date span {
    font-size: 15px;
    padding-left: 6px;
  }
}
.countdown-link .countdown-link-box-wrapper .countdown-link-box .countdown-date p {
  margin: 0 0 0 14px;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  max-width: 48px;
}
@media (max-width: 767px) {
  .countdown-link .countdown-link-box-wrapper .countdown-link-box .countdown-date p {
    max-width: 100%;
    margin: 0 4px;
    line-height: 1.15;
  }
}
.countdown-link .countdown-link-box-wrapper .countdown-link-box .countdown-box-content {
  max-width: 752px;
  width: 100%;
  padding: 12px 45px 12px 29px;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
}
@media (max-width: 767px) {
  .countdown-link .countdown-link-box-wrapper .countdown-link-box .countdown-box-content {
    max-width: 100%;
    display: block;
    padding: 12px 30px 8px 16px;
  }
}
.countdown-link .countdown-link-box-wrapper .countdown-link-box .countdown-box-content:hover {
  background-color: #eee;
  text-decoration: none;
}
.countdown-link .countdown-link-box-wrapper .countdown-link-box .countdown-box-content p {
  font-size: 15px;
  margin: 3px 0;
  line-height: 1;
  color: #000000;
}
@media (max-width: 767px) {
  .countdown-link .countdown-link-box-wrapper .countdown-link-box .countdown-box-content p {
    font-size: 18px;
    margin: 4px 0;
    line-height: 1.2;
  }
}
.countdown-link .countdown-link-box-wrapper .countdown-link-box .countdown-box-content .fa-angle-right {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 43px;
  color: #514dab;
}
@media (max-width: 767px) {
  .countdown-link .countdown-link-box-wrapper .countdown-link-box .countdown-box-content .fa-angle-right {
    right: 10px;
  }
}
.countdown-link .countdown-link-footer {
  background-color: #302c68;
  text-align: center;
  padding-top: 53px;
  padding-bottom: 18px;
}
.countdown-link .countdown-link-footer .social-wrapper .social-icon {
  justify-content: center;
  flex-wrap: wrap;
}
.countdown-link .countdown-link-footer .social-wrapper .social-icon .title-icon {
  font-size: 24px !important;
  width: 100%;
  margin: 0 auto 30px !important;
}
.countdown-link .countdown-link-footer .social-wrapper .social-icon a {
  width: 36px;
  height: 36px;
  margin: 0 5px;
}

.text-white {
    color: #fff;
}

// For fixing live issue
body > iframe[width="0"] {
  display: block;
  height: 0;
  width: 0;
  overflow: hidden;
}