<div id="main">
  <div autoscroll="true" class="ng-scope"><div id="fyi" class="occufind ng-scope">
    
    <section id="countdown">
      <section class="countdown-link">
        <header class="header">
          <div class="container">
            <div class="main-menu">
              <div class="row">
                <div class="medium-4 small-4 columns">
                  <div class="main-logo"><a routerLink="/"><img alt="ASVAB logo" src="assets/images/head-Logo.png"></a></div>
                </div>
                <div class="medium-6 small-7 columns hide-for-small-only">
                  <div class="social-wrapper">
                    <ul class="social-icon">
                      <li class="title-icon">Connect with us:</li>
                      <li><a href="https://www.facebook.com/asvabcep/" target="_blank"><em class="fab fa-facebook"></em></a></li>
                      <li><a href="https://twitter.com/asvabcep" target="_blank"><em class="fab fa-twitter"></em></a></li>
                      <li><a href="https://www.linkedin.com/company/asvab-cep?trk=top_nav_home" target="_blank"><em class="fab fa-linkedin"></em></a></li>
                      <li><a href="https://www.youtube.com/channel/UC2NJ3deMrUUFgTPC1EST52A" target="_blank"><em class="fab fa-youtube"></em></a></li>
                      <li><a href="https://www.instagram.com/asvabcep/" target="_blank"><em class="fab fa-instagram"></em></a>
                      </li>
                      <li><a href="#"><em class="fab fa-snapchat-ghost"></em></a></li>
                    </ul>
                    <a class="bring-btn button" routerLink="/asvab-cep-at-your-school">Bring the ASVAB CEP to Your School</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row text-white ">
              <div class="small-12 columns">
                <h1 class="option-title" [innerHTML]="pageHtml[0]"></h1>
                <p class="option-disc text-white" [innerHTML]="pageHtml[1]"></p>
                <div class="triangle-down"></div>
              </div>
            </div>
          </div>
        </header>
        <div class="container">
          <div class="row">
            <div class="medium-12 columns">
              <div class="countdown-link-box-wrapper">
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>30</span><p>Days Left</p></div>
                  <a routerLink="/parents-post-test" target="_blank" class="countdown-box-content">
                    <p style="margin-bottom: 5px" [innerHTML]="pageHtml[2]"></p>	
                    <p><strong [innerHTML]="pageHtml[3]"></strong></p>
                    <i class="fa fa-angle-right"></i>
                  </a>	
                </div>	
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>29</span><p>Days Left</p></div>
                  <a routerLink="/parents-information" target="_blank" class="countdown-box-content">
                    <p [innerHTML]="pageHtml[4]"></p>
                    <p><strong [innerHTML]="pageHtml[5]"></strong></p>	
                    <i class="fa fa-angle-right"></i>
                  </a>	
                </div>
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>28</span><p>Days Left</p></div>
                  <a (click)="showVideoDialog('https://www.youtube.com/embed/6yNpUTuksa4')" class="countdown-box-content">
                    <p [innerHTML]="pageHtml[6]"></p>	
                    <p><strong [innerHTML]="pageHtml[7]"></strong></p>
                    <i class="fa fa-angle-right"></i>
                  </a>	
                </div>
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>27</span><p>Days Left</p></div>
                  <a routerLink="/media-center-article/124" target="_blank" class="countdown-box-content">
                    <p [innerHTML]="pageHtml[8]"></p>
                    <p><strong [innerHTML]="pageHtml[9]"></strong></p>
                    <i class="fa fa-angle-right"></i>
                  </a>	
                </div>
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>26</span><p>Days Left</p></div>
                  <a routerLink="/media-center-article/113" target="_blank" class="countdown-box-content">
                    <p [innerHTML]="pageHtml[10]"></p>	
                    <p><strong [innerHTML]="pageHtml[11]"></strong></p>
                    <i class="fa fa-angle-right"></i>
                  </a>	
                </div>
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>25</span><p>Days Left</p></div>
                  <a routerLink="/parents" target="_blank" class="countdown-box-content">
                    <p [innerHTML]="pageHtml[12]"></p>	
                    <p><strong [innerHTML]="pageHtml[13]"></strong></p>
                    <i class="fa fa-angle-right"></i>
                  </a>	
                </div>
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>24</span><p>Days Left</p></div>
                  <a routerLink="/option-ready" target="_blank" class="countdown-box-content">
                    <p [innerHTML]="pageHtml[14]"></p>	
                    <p><strong [innerHTML]="pageHtml[15]"></strong></p>
                    <i class="fa fa-angle-right"></i>
                  </a>	
                </div>
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>23</span><p>Days Left</p></div>
                  <a routerLink="/student" target="_blank" class="countdown-box-content">
                    <p [innerHTML]="pageHtml[16]"></p>	
                    <p><strong [innerHTML]="pageHtml[17]"></strong></p>
                    <i class="fa fa-angle-right"></i>
                  </a>	
                </div>
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>22</span><p>Days Left</p></div>
                  <a routerLink="/asvab-cep-at-your-school" target="_blank" class="countdown-box-content">
                    <p [innerHTML]="pageHtml[18]"></p>
                    <p><strong [innerHTML]="pageHtml[19]"></strong></p>
                    <i class="fa fa-angle-right"></i>
                  </a>	
                </div>
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>21</span><p>Days Left</p></div>
                  <a href="{{documents}}pdf/Service_Academy_Application_Timeline.pdf" target="_blank" class="countdown-box-content">
                    <p [innerHTML]="pageHtml[20]"></p>	
                    <p><strong [innerHTML]="pageHtml[21]"></strong></p>
                    <i class="fa fa-angle-right"></i>
                  </a>	
                </div>
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>20</span><p>Days Left</p></div>
                  <a href="https://www.careersinthemilitary.com" target="_blank" class="countdown-box-content">
                    <p  [innerHTML]="pageHtml[22]"></p>	
                    <p><strong [innerHTML]="pageHtml[23]"></strong></p>
                    <i class="fa fa-angle-right"></i>
                  </a>	
                </div>
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>19</span><p>Days Left</p></div>
                  <a (click)="showVideoDialog('https://www.youtube.com/embed/wK2ugkShq7A')" class="countdown-box-content">
                    <p  [innerHTML]="pageHtml[24]"></p>	
                    <p><strong [innerHTML]="pageHtml[25]"></strong></p>
                    <i class="fa fa-angle-right"></i>
                  </a>	
                </div>
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>18</span><p>Days Left</p></div>
                  <a routerLink="/legislation" target="_blank" class="countdown-box-content">
                    <p [innerHTML]="pageHtml[26]"></p>	
                    <p><strong [innerHTML]="pageHtml[27]"></strong></p>
                    <i class="fa fa-angle-right"></i>
                  </a>	
                </div>
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>17</span><p>Days Left</p></div>
                  <a routerLink="/media-center-article/20" target="_blank" class="countdown-box-content">
                    <p [innerHTML]="pageHtml[28]"></p>	
                    <p><strong [innerHTML]="pageHtml[29]"></strong></p>
                    <i class="fa fa-angle-right"></i>
                  </a>	
                </div>
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>16</span><p>Days Left</p></div>
                  <a routerLink="/media-center-article/55" target="_blank" class="countdown-box-content">
                    <p [innerHTML]="pageHtml[30]"></p>	
                    <p><strong [innerHTML]="pageHtml[31]"></strong></p>
                    <i class="fa fa-angle-right"></i>
                  </a>	
                </div>
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>15</span><p>Days Left</p></div>
                  <a routerLink="/media-center-article/66" target="_blank" class="countdown-box-content">
                    <p [innerHTML]="pageHtml[32]"></p>	
                    <p><strong [innerHTML]="pageHtml[33]"></strong></p>
                    <i class="fa fa-angle-right"></i>
                  </a>	
                </div>
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>14</span><p>Days Left</p></div>
                  <a routerLink="/media-center-article/98" target="_blank" class="countdown-box-content">
                    <p [innerHTML]="pageHtml[34]"></p>	
                    <p><strong [innerHTML]="pageHtml[35]"></strong></p>
                    <i class="fa fa-angle-right"></i>
                  </a>	
                </div>
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>13</span><p>Days Left</p></div>
                  <a (click)="showSalaryDialog(socIdTrim)" class="countdown-box-content">
                    <p [innerHTML]="pageHtml[36]"></p>	
                    <p><strong [innerHTML]="pageHtml[37]"></strong></p>
                    <i class="fa fa-angle-right"></i>
                  </a>	
                </div>
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>12</span><p>Days Left</p></div>
                  <a routerLink="/media-center-article/14" target="_blank" class="countdown-box-content">
                    <p [innerHTML]="pageHtml[38]"></p>	
                    <p><strong [innerHTML]="pageHtml[39]"></strong></p>
                    <i class="fa fa-angle-right"></i>
                  </a>	
                </div>
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>11</span><p>Days Left</p></div>
                  <a routerLink="/media-center-article/8" target="_blank" class="countdown-box-content">
                    <p [innerHTML]="pageHtml[40]"></p>	
                    <p><strong [innerHTML]="pageHtml[41]"></strong></p>
                    <i class="fa fa-angle-right"></i>
                  </a>
                </div>
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>10</span><p>Days Left</p></div>
                  <a routerLink="/student-explore" target="_blank" class="countdown-box-content">
                    <p [innerHTML]="pageHtml[42]"></p>
                    <p><strong [innerHTML]="pageHtml[43]"></strong></p>
                    <i class="fa fa-angle-right"></i>
                  </a>	
                </div>
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>9</span><p>Days Left</p></div>
                  <a href="https://prod-media.asvabprogram.com/CEP_PDF_Contents/Military_Check_list.pdf" target="_blank" class="countdown-box-content">
                    <p [innerHTML]="pageHtml[44]"></p>	
                    <p><strong [innerHTML]="pageHtml[45]"></strong></p>
                    <i class="fa fa-angle-right"></i>
                  </a>	
                </div>
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>8</span><p>Days Left</p></div>
                  <a routerLink="/media-center-article/100" target="_blank" class="countdown-box-content">
                    <p [innerHTML]="pageHtml[46]"></p>	
                    <p><strong [innerHTML]="pageHtml[47]"></strong></p>
                    <i class="fa fa-angle-right"></i>
                  </a>	
                </div>
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>7</span><p>Days Left</p></div>
                  <a routerLink="/media-center-article/118" target="_blank" class="countdown-box-content">
                    <p [innerHTML]="pageHtml[48]"></p>	
                    <p><strong [innerHTML]="pageHtml[49]"></strong></p>
                    <i class="fa fa-angle-right"></i>
                  </a>	
                </div>
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>6</span><p>Days Left</p></div>
                  <a routerLink="/media-center-article/64" target="_blank" class="countdown-box-content">
                    <p [innerHTML]="pageHtml[50]"></p>
                    <p><strong [innerHTML]="pageHtml[51]"></strong></p>
                    <i class="fa fa-angle-right"></i>
                  </a>	
                </div>
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>5</span><p>Days Left</p></div>
                  <a routerLink="/media-center-article/56" target="_blank" class="countdown-box-content">
                    <p [innerHTML]="pageHtml[52]"></p>	
                    <p><strong [innerHTML]="pageHtml[53]"></strong></p>
                    <i class="fa fa-angle-right"></i>
                  </a>	
                </div>
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>4</span><p>Days Left</p></div>
                  <a routerLink="/media-center-article/109" target="_blank" class="countdown-box-content">
                    <p [innerHTML]="pageHtml[54]"></p>
                    <p><strong [innerHTML]="pageHtml[55]"></strong></p>
                    <i class="fa fa-angle-right"></i>
                  </a>	
                </div>
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>3</span><p>Days Left</p></div>
                  <a routerLink="/media-center-article/112" target="_blank" class="countdown-box-content">
                    <p [innerHTML]="pageHtml[56]"></p>	
                    <p><strong [innerHTML]="pageHtml[57]"></strong></p>
                    <i class="fa fa-angle-right"></i>
                  </a>	
                </div>
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>2</span><p>Days Left</p></div>
                  <a href="{{documents}}pdf/ASVAB_CEP_Cost_of_a_Career.pdf" target="_blank" class="countdown-box-content">
                    <p [innerHTML]="pageHtml[58]"></p>	
                    <p><strong [innerHTML]="pageHtml[59]"></strong></p>
                    <i class="fa fa-angle-right"></i>
                  </a>	
                </div>
                <div class="countdown-link-box">
                  <div class="countdown-date"><span>1</span><p>Days Left</p></div>
                  <a href="https://prod-media.asvabprogram.com/CEP_PDF_Contents/ASVAB_CEP_Edu_and_Career_Plans.pdf" target="_blank" class="countdown-box-content">
                    <p [innerHTML]="pageHtml[60]"></p>	
                    <p><strong [innerHTML]="pageHtml[61]"></strong></p>
                    <i class="fa fa-angle-right"></i>
                  </a>	
                </div>
              </div>
            </div>
          </div>
        </div>
        <h2 style="padding-bottom:0;"  [innerHTML]="pageHtml[62]"></h2>
        <div class="row" style="display: flex; flex-direction: column; padding-bottom: 20px">
          <a routerLink="/asvab-cep-at-your-school" style="text-align: center; padding-top: 10px; padding-bottom: 0px; font-size: 15px" [innerHTML]="pageHtml[63]"></a> 
          <a routerLink="/asvab-cep-at-your-school" style="text-align: center; padding-top: 5px; font-size: 15px" [innerHTML]="pageHtml[64]"> </a>
        </div>
      </section>
    </section>

  </div>
</div>
</div>