Countdown to My Career Goals

<div data-type="section-break"><hr /></div>

Parents! Use this countdown calendar to help your high school student reach milestones on their path to a career goal.

<div data-type="section-break"><hr /></div>

Help guide your teen to post-secondary success with the ASVAB Career Exploration Program.

<div data-type="section-break"><hr /></div>

Select LOGIN at asvabprogram.com/parents-post-test. Then use access code PARENTS to create an account.

<div data-type="section-break"><hr /></div>

"I wish I knew that in high school." Talk about career planning with your teen.

<div data-type="section-break"><hr /></div>

Use these easy tools with your high schooler to plan their path for their future--whether it's college, work-based learning, and/or the Military.

<div data-type="section-break"><hr /></div>

Skills + Interests = Career Satisfaction

<div data-type="section-break"><hr /></div>
Find careers that match their skills and interests to increase their chance for career satisfaction.
                    
<div data-type="section-break"><hr /></div>
The options are endless. Explore all pathways to success.
<div data-type="section-break"><hr /></div>
Discover tools you can use together to identify careers and explore the various paths possible after graduation.
                    
<div data-type="section-break"><hr /></div>
Plan “A” fails from time to time. Keep moving forward.	
<div data-type="section-break"><hr /></div>
The ability to adjust is an important skill to learn early.
                  
<div data-type="section-break"><hr /></div>
The ASVAB CEP is more than just a test.
<div data-type="section-break"><hr /></div>
Give your child the tools to make informed career decisions.

<div data-type="section-break"><hr /></div>
Be informed about your teen's options to determine the best path to reach goals.
<div data-type="section-break"><hr /></div>
Share career planning expertise on social media. #OptionReady


<div data-type="section-break"><hr /></div>
The ASVAB measures strengths and potential for future success.
<div data-type="section-break"><hr /></div>
View sample test questions and test-taking strategies.
                   
<div data-type="section-break"><hr /></div>
Get the most out of the ASVAB CEP with a virtual post-test interpretation.
<div data-type="section-break"><hr /></div>
Schedule one for your student.
           
<div data-type="section-break"><hr /></div>
Interested in a Service Academy? The process starts in 10th grade.
<div data-type="section-break"><hr /></div>
Get more information about application timelines.
                
<div data-type="section-break"><hr /></div>
The military offers a variety of career opportunities.
<div data-type="section-break"><hr /></div>
Discover them all at careersinthemilitary.com

<div data-type="section-break"><hr /></div>
Knowing interests helps your teen find career satisfaction.
<div data-type="section-break"><hr /></div>
Taking the FYI Interest Inventory can help them discover theirs.
         
<div data-type="section-break"><hr /></div>
Graduation requirements can be fulfilled in a variety of ways.
<div data-type="section-break"><hr /></div>
Many states recognize the ASVAB CEP as a graduation requirement.

<div data-type="section-break"><hr /></div>
Community college is an affordable option.
<div data-type="section-break"><hr /></div>
Explore the opportunities. Learn the pros and cons.

<div data-type="section-break"><hr /></div>
Choosing the right college takes planning.
<div data-type="section-break"><hr /></div>
Understand the steps involved to find the "right fit" college and how to get accepted.

<div data-type="section-break"><hr /></div>
There are different ways to enter and advance in the Military.
<div data-type="section-break"><hr /></div>
Understand the different requirements, commitments, and responsibilities of enlisted service members vs. officers.

<div data-type="section-break"><hr /></div>
Apprentices can earn a competitive wage from day one.
<div data-type="section-break"><hr /></div>
Get the information you need. Learn why your teen should consider being one.


<div data-type="section-break"><hr /></div>
Show me the money! Salary ranges are based on years of experience.
<div data-type="section-break"><hr /></div>
Evaluate the return on investment of your teen's post-secondary plan.
                  
<div data-type="section-break"><hr /></div>
Explore all the options. Plan for success. #OptionReady
<div data-type="section-break"><hr /></div>
There are many ways to be successful. Help your teen discover them all.

<div data-type="section-break"><hr /></div>
Growth equals opportunity. Seek high-demand jobs.
<div data-type="section-break"><hr /></div>
Some industries are poised to expand faster than others. Review the list of Bright Outlook careers.
                   
<div data-type="section-break"><hr /></div>
There are over 1,000 careers to explore!
<div data-type="section-break"><hr /></div>
Map out a career plan based on skills, interests, and job requirements.
                   
<div data-type="section-break"><hr /></div>
There are steps to take when considering military enlistment.
<div data-type="section-break"><hr /></div>
Review the enlistment checklist.
                    
<div data-type="section-break"><hr /></div>
College is expensive. Discover scholarship opportunities.
<div data-type="section-break"><hr /></div>
Find free money for college!
                    
<div data-type="section-break"><hr /></div>
Discover ways to learn and grow outside of academia!
<div data-type="section-break"><hr /></div>
A gap year is not just a year off. Help your teen make their time productive.
                    
<div data-type="section-break"><hr /></div>
It's important to document experiences and achievements along the way.
<div data-type="section-break"><hr /></div>
Help your teen prepare a resume.
                    
<div data-type="section-break"><hr /></div>
Extracurricular activities could hold the key to career satisfaction.
<div data-type="section-break"><hr /></div>
What does your teen enjoy doing most? Don't underestimate the importance of lessons learned outside the classroom.
                    
<div data-type="section-break"><hr /></div>
Only 29% of American youth (ages 17-24) qualify to serve in the Military.
<div data-type="section-break"><hr /></div>
Learn what makes your teen eligible for military service.
                    
<div data-type="section-break"><hr /></div>
Recruiter interviews can be intimidating. Prepare for the conversation!
<div data-type="section-break"><hr /></div>
Get your teen ready for their college, business, sports or military opportunities.

<div data-type="section-break"><hr /></div>
Different career goals have different costs. Make a financial plan.                    
<div data-type="section-break"><hr /></div>
Post-secondary plans come at varying price points. Crunch the numbers together.
                    
<div data-type="section-break"><hr /></div>
Jump start career plans by roadmapping interests and activities. Then aligning high school courses.
<div data-type="section-break"><hr /></div>
Use this tool to fine tune the process.
                    
<div data-type="section-break"><hr /></div>
You made it! Keep setting goals.
<div data-type="section-break"><hr /></div>
Tell your teen's school counselor, you want the ASVAB CEP
<div data-type="section-break"><hr /></div>
at their school so students can make informed career goals.
<div data-type="section-break"><hr /></div>