<div class="modal-header">
  <h3>{{title}}<span *ngIf="disabledSeconds > 0"> {{disabledSeconds}}</span></h3>
</div>

<div class="modal-body">
  <div style="margin-left:auto;margin-right:auto;text-align: center;">
    <i *ngIf="title == 'Error'" class="glyphicon glyphicon-warning-sign fa-3x"
      style="padding-bottom: 40px; color:#cc0000;"></i>
  </div>
  <p>
    <span [hidden]="title == 'Error'" [innerHtml]="message | safe: 'html'"></span>
    <span *ngIf="title == 'Error'" [innerHtml]="message | safe: 'html'"></span>
  </p>
</div>

<div class="modal-footer">
  <button class="button" type="button" (click)="_dialogRef.close();" [disabled]="isDisabled">OK</button>
</div>