<section id="content-wrap">
    <div class="row">
        <div class="small-12 columns show-for-small-only">
            <div class="left-sub-nav">
                <ul class="menu vertical" id="steps">
                    <li>
                        <h3>POST-TEST ACTIVITIES</h3>
                    </li>
                </ul>
            </div>
        </div>
        <section class="medium-9 medium-push-3 columns" id="main-content" role="main">
            <h1 class="job-title">What Happens After the Test?</h1>
            <p>After your students take the ASVAB, they should participate in the following post-test
                activities.</p>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header collapsedHeight="22px" expandedHeight="22px">Understanding
                        the ASVAB Results<em class="pull-right glyphicon"
                            ngClass="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></em>
                    </mat-expansion-panel-header>
                    <p>The ASVAB Summary Results sheet includes an access code students will use to login to
                        this site and access all post-test activities. It also includes explanations of each score, as
                        well as suggestions for their use.</p>
                    <p>The ASVAB scores provide a measure of students' skills and abilities. The ASVAB Summary
                        Results sheet reports several composite scores formed from different combinations of ASVAB test
                        scores. This report shows percentile scores (gender-specific and combined), and standard scores
                        (including score bands) for each subtest and three Career Exploration Scores.</p>
                    <ul>
                        <li>
                            <p><strong>Career Exploration Scores.</strong> These three composites are provided
                                specifically
                                to help students engage in career exploration. These scores help students attain a good
                                sense
                                of their verbal, math, and science/technical skills compared to other students in the
                                same grade.
                            </p>
                            <p>Each of these scores is made up of a combination of some of the individual ASVAB
                                subtests. The Verbal Skills Score includes Word Knowledge and Paragraph Comprehension.
                                The
                                Math Skills Score includes Arithmetic Reasoning and Math Knowledge. The
                                Science/Technical
                                Skills Score includes General Science, Electronics Information, and Mechanical
                                Comprehension.
                            </p>
                        </li>
                        <li><strong>ASVAB Tests.</strong> A score for each ASVAB subtest. Descriptions of each
                            specific test are provided on the back of the ASVAB Summary Results sheet, or <a
                            (click)="redirect('student-program')">click here.</a></li>
                        <li><strong>Military Entrance Score/ Armed Forces Qualification Test (AFQT).</strong>
                            Students who participate in the ASVAB CEP are under no obligation to talk with military
                            recruiters or consider a military career. The AFQT score is what the Military will use to
                            determine enlistment eligibility. If a student is interested in joining the Military it is
                            best to discuss this score with a recruiter.</li>
                    </ul>
                    <p>Watch the <a (click)="redirect('media-center-article/68')">Understanding ASVAB Test Scores</a> tutorial for more
                        details.
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header collapsedHeight="22px" expandedHeight="22px">Using the Scores<em class="pull-right glyphicon"
                            ngClass="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></em>
                    </mat-expansion-panel-header>


                    <div class="row">
                        <div class="medium-8 columns">
                            <p>Students can use their strongest Career Exploration Scores to investigate occupations
                                that rely on those skills in the OCCU-Find.</p>
                            <p>Each occupation includes information about the importance of verbal, math, and
                                science/technical
                                skills represented on a five-star scale. The skill importance ratings presented
                                are general and do not identify a level of skill(s) needed to qualify for an
                                occupation. The ratings show the extent to which the daily tasks of a job require
                                verbal,
                                math, and/or science/technical skills. There is no direct comparison between Career
                                Exploration Scores and the skill importance ratings. Rather, students should consider
                                these
                                ratings a snapshot of the degree to which these skills are used on-the-job.</p>
                            <p>To learn more about skill importance ratings <a (click)="redirect('general-help#skills')"> click
                                    here.</a>
                            </p>
                            <p>Juniors, seniors, and post-secondary students can use their AFQT scores to talk to a
                                military recruiter about enlistment, for up to two years after testing. The AFQT score
                                can
                                qualify them for certain jobs in the Armed Forces. However, each Service, and each
                                military
                                job, has different requirements, so qualifying AFQT scores can fluctuate.</p>
                        </div>
                        <div class="medium-4 columns"><a (click)="redirect('occufind-occupation-details/31-2021.00')"><strong>Physical
                                    Therapist Assistants</strong><br /><img
                                    src="{{resources}}31-2021.00_IMG.jpg" /><strong>Sample
                                    Occupation Detail</strong>
                            </a>
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header collapsedHeight="22px" expandedHeight="22px">Taking the FYI <em class="pull-right glyphicon"
                            ngClass="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></em>
                    </mat-expansion-panel-header>
                    <p>The FYI is an interest inventory based on John Holland's widely accepted RIASEC&reg; theory of
                        career choice. Students respond to items by indicating a preference for the various activities
                        presented to them. Based on the answers to these questions, the inventory determines the
                        student's resemblance to each of six interest types (RIASEC types).</p>
                    <p>Students should login using the access code found on their ASVAB Summary Results sheet. The
                        online FYI is scored electronically. A paper-based version of the FYI is available in
                        <em>Exploring
                            Careers: The ASVAB Career Exploration Guide.</em> Students using this version can calculate
                        their
                        scores and enter them manually once they login.
                    </p>
                    <p>Students can complete the FYI in about 10 minutes with little or no assistance. After scoring
                        the FYI and considering the influence of gender on their scores, students identify their three
                        highest interest codes. Encourage them to see how their scores compare to others in their
                        gender group as it may give them new ideas about their interests. For more information on
                        gender-specific scores, <a (click)="redirect('general-help#gender')">click here.</a>
                    </p>
                    <p>The FYI interest areas, combined with the Career Exploration Scores, help students
                        quickly identify potentially satisfying occupations that relate to their skills and interests.
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header collapsedHeight="22px" expandedHeight="22px">Exploring Careers in the OCCU-Find<em class="pull-right glyphicon"
                            ngClass="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></em>
                    </mat-expansion-panel-header>
                    <p>The OCCU-Find is a catalog of careers containing relevant, reliable occupational data in an
                        easy to navigate format. Students can quickly identify potentially satisfying career options in
                        the context of their skills and interests and understand the entry requirements. For more
                        information, watch the <a (click)="redirect('media-center-article/49')">Exploring Careers Using the
                            OCCU-Find</a> tutorial.
                    </p>
                    <p>Each listing includes robust data points including:</p>
                    <ul>
                        <li>Job description and daily tasks</li>
                        <li>Interests</li>
                        <li>Relative importance of verbal, math, science/technical skills</li>
                        <li>Related careers</li>
                        <li>Education requirements and institutions offering that degree</li>
                        <li>Military Services offering occupations, including hot jobs from each branch</li>
                        <li>Credential and licensing opportunities</li>
                        <li>Employment outlook (average earnings by state and expected growth)</li>
                    </ul>
                    <p>CEP also offers participants exclusive access to the MyASVAB Portfolio, which allows users
                        to chart their achievements and preferences, and produce a customizable resume-like document
                        that includes:</p>
                    <ul>
                        <li>Work experience</li>
                        <li>Education</li>
                        <li>Test scores - including ACT and SAT</li>
                        <li>Achievements</li>
                        <li>Skills</li>
                        <li>Volunteer work</li>
                        <li>Interests</li>
                        <li>Work values</li>
                        <li>"Favorite" occupations or Career Clusters</li>
                    </ul>
                </mat-expansion-panel>
            </mat-accordion>

            <p>The key program components are exclusive to CEP participants. Once logged in, users have
                access to the FYI and OCCU-Find to help them make relevant, data-driven decisions. <a (click)="redirect('faq')">Contact
                    us
                    to request a temporary access code.</a></p>
            <p>ASVAB CEP empowers your students to explore their options in the context of their skills
                and interests and choose the best course of action. The activities below are designed to
                inspire students' exploration.</p>
            <hr />
            <h2>Idea Sheets:</h2>
            <div class="small-4 columns">
                <p>&nbsp;</p>
                <p id="resource-pdf"><a (click)="redirect(documents + 'ASVAB_CEP_Idea_World_of_Work.pdf'); trackClick('ASVAB_CEP_Idea_World_of_Work.pdf');"
                        target="_blank">Your World-of-Work Timeline</a></p><a
                        (click)="redirect(documents + 'ASVAB_CEP_Idea_World_of_Work.pdf'); trackClick('ASVAB_CEP_Idea_World_of_Work.pdf');" target="_blank"></a>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p id="resource-pdf"><a (click)="redirect(documents + 'ASVAB_CEP_Idea_Work_Environment.pdf'); trackClick('ASVAB_CEP_Idea_Work_Environment.pdf');"
                        target="_blank">Build Your Perfect Work Environment</a></p><a
                        (click)="redirect(documents + 'ASVAB_CEP_Idea_Work_Environment.pdf'); trackClick('ASVAB_CEP_Idea_Work_Environment.pdf');"
                    target="_blank"></a>
                <p>&nbsp;</p>
            </div>
            <div class="small-4 columns">
                <p>&nbsp;</p>
                <p id="resource-pdf"><a (click)="redirect(documents + 'ASVAB_CEP_Skills_Most_Valued.pdf'); trackClick('ASVAB_CEP_Skills_Most_Valued.pdf');"
                        target="_blank">Skills Employers Value Most</a></p><a
                        (click)="redirect(documents + 'ASVAB_CEP_Skills_Most_Valued.pdf'); trackClick('ASVAB_CEP_Skills_Most_Valued.pdf');" target="_blank"></a>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p id="resource-pdf"><a (click)="redirect(documents + 'ASVAB_CEP_Values.pdf'); trackClick('ASVAB_CEP_Values.pdf');" target="_blank">Thinking About
                        Work Values</a></p><a (click)="redirect(documents + 'ASVAB_CEP_Values.pdf'); trackClick('ASVAB_CEP_Values.pdf');" target="_blank"></a>
                <p>&nbsp;</p>
            </div>
            <hr />
            <h2>Resources:</h2>
            <div class="small-4 columns">
                <p>&nbsp;</p>
                <p id="resource-pdf"><a (click)="redirect(documents + 'ASVAB_CEP_Edu_and_Career_Plans.pdf'); trackClick('ASVAB_CEP_Edu_and_Career_Plans.pdf');"
                        target="_blank">My Educational and Career Plans</a></p><a
                        (click)="redirect(documents + 'ASVAB_CEP_Edu_and_Career_Plans.pdf'); trackClick('ASVAB_CEP_Edu_and_Career_Plans.pdf');" target="_blank"></a>
                <p>&nbsp;</p>
                <p><a (click)="redirect('media-center-article-list/5')">Tutorials</a>
                </p>
            </div>
            <div class="small-4 columns">
                <p>&nbsp;</p>
                <p id="resource-pdf"><a (click)="redirect(documents + 'ASVAB_CEP_Coursework_Planner.pdf'); trackClick('ASVAB_CEP_Coursework_Planner.pdf');"
                        target="_blank">Coursework Planner</a></p><a
                        (click)="redirect(documents + 'ASVAB_CEP_Coursework_Planner.pdf'); trackClick('ASVAB_CEP_Coursework_Planner.pdf');" target="_blank"></a>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p id="resource-pdf"><a (click)="redirect(documents + 'ASVAB_CEP_Check_list.pdf'); trackClick('ASVAB_CEP_Check_list.pdf');" target="_blank">Raising
                        Awareness about the CEP</a></p><a (click)="redirect(documents + 'ASVAB_CEP_Check_list.pdf'); trackClick('ASVAB_CEP_Check_list.pdf');" target="_blank"></a>
                <p>&nbsp;</p>
            </div>
            <div class="small-4 columns">
                <p>&nbsp;</p>
                <p id="resource-pdf"><a (click)="redirect(documents + 'ASVAB_CEP_Sign_up_card.pdf'); trackClick('ASVAB_CEP_Sign_up_card.pdf');" target="_blank">Sign-Up
                        Card</a></p><a (click)="redirect(documents + 'ASVAB_CEP_Sign_up_card.pdf'); trackClick('ASVAB_CEP_Sign_up_card.pdf');" target="_blank"></a>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
            <hr />
            <h2>Template Letters:</h2>
            <div class="small-4 columns">
                <p><a (click)="redirect(documents + 'ASVAB_CEP_Opt_Out_Letter.docx'); trackClick('ASVAB_CEP_Opt_Out_Letter.docx');" target="_blank"><img
                            class="left" src="assets/images/icon-word.png" />Opt Out Letter
                    </a>
                </p>
                <p><a (click)="redirect(documents + 'ASVAB_CEP_Opt_In_Letter.docx'); trackClick('ASVAB_CEP_Opt_In_Letter.docx');" target="_blank"><img
                            src="assets/images/icon-word.png" />Opt In Letter
                    </a>
                </p>
            </div>
            <div class="small-4 columns"></div>
            <div class="medium-centered columns ">
                <div class="text-center"><a class="button" (click)="redirect('general-resources')">View Full Resource List <em
                            class="fa fa-angle-right"></em><em class="fa fa-angle-right"></em></a>
                </div>
            </div>
        </section>
        <div class="medium-3 medium-pull-9 columns">
            <div class="left-sub-nav show-for-medium">
                <ul class="menu vertical" id="steps">
                    <li>
                        <h3>THE ASVAB CEP</h3>
                    </li>
                    <li class="divider"></li>
                    <li><a (click)="redirect('educators-test')">The ASVAB Test <em class="fa fa-angle-right"></em></a></li>
                    <li class="active"><a class="disabled">Post-Test
                            Activities
                        </a></li>
                    <li class="divider"></li>
                </ul>
            </div>
            <div id="did-you-know">
                <p><strong class="caps">Did You Know?</strong>
                </p>
                <p>76% of the students who participated in the CEP did so because of their interest in
                    making appropriate post-high school career and educational plans.</p>
            </div>
            <div class="left-sub-nav show-for-small-only">
                <ul class="menu vertical">
                    <li>
                        <h3>THE ASVAB CEP</h3>
                    </li>
                    <li><a (click)="redirect('educators-test')">The ASVAB Test <em class="fa fa-angle-right"></em></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>