<section id="content-wrap">
    <div class="row">
        <div class="small-12 columns show-for-small-only">
            <div class="left-sub-nav">
                <ul class="menu vertical" id="steps">
                    <li>
                        <h3 id="innerTitle">The ASVAB CEP</h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <section id="main-content" role="main">
        <div class="row column">
            <h2>ASVAB CEP is a free Career Planning Resource with three components</h2>
        </div>
    </section>
</section>
<section id="components-wrap">
    <div class="row">
        <div class="small-8 columns">
            <ol id="three-components">
                <li><strong>The ASVAB test</strong> - A multiple aptitude test that allows students to identify their
                    skill strengths</li>
                <li><strong>FYI</strong> - An interest inventory that highlights work-related interest areas where
                    students are most likely to succeed</li>
                <li><strong>OCCU-Find</strong> - A catalog of careers with relevant occupational data and a full suite
                    of future-oriented planning tools to help students develop an action plan to share with parents and
                    educators</li>
            </ol>
        </div>
        <div class="small-4 columns" id="hexagons"><img src="assets/images/hexagons.png" /><img class="show-for-large"
                id="girl" src="assets/images/girl.png" /></div>
    </div>
</section>
<section id="content-wrap">
    <section id="main-content" role="main">
        <div class="row" id="ways-to-learn">
            <div class="small-4 columns tutorial"><a (click)="redirect('educators-test')">THE ASVAB TEST <em
                        class="fa fa-angle-right"></em></a>
                <p>The ASVAB is one of the most researched and respected aptitude assessments in the world.</p>
            </div>
            <div class="small-4 columns tutorial"><a (click)="redirect('educators-post-test')">POST-TEST ACTIVITIES <em
                        class="fa fa-angle-right"></em></a>
                <p>These tools empower students to make important decisions about their futures.</p>
            </div>
            <div class="small-4 columns tutorial"><a class="button" (click)="asvabModal()"
                    ng-controller="FooterController">Bring the ASVAB CEP <br />to Your School <em
                        class="fa fa-angle-right"></em></a>
            </div>
        </div>
    </section>
</section>
<div style="background-color:#ffffff;">
    <div id="guides" style="position:relative;top:30px;">
        <div class="row column">
            <p>These components give young people the confidence to map out a post-secondary plan that aligns with their
                individual skills and interests. Students in grades 10-12 and those in first and second year
                post-secondary can participate voluntarily.</p>
            <p>Schools using the ASVAB CEP provide a comprehensive career planning program that is tied to Career
                Clusters and <a (click)="redirect(documents + 'pdf/ASVAB_CEP_Meets_ASCA_Nat_Standards.pdf')">American School Counselor
                    Association National Standards</a> - at no cost and no commitment.</p>
        </div>
        <div class="row" id="intentions">
            <div class="small-12 columns">
                <hr />
            </div>
            <div class="large-3 small-12 columns"><strong>PARTICIPATING <br />STUDENT INTENTIONS</strong>
                (Five-year average)
            </div>
            <div class="large-3 medium-4 small-12 columns"><img src="assets/images/intentions.png" /></div>
            <div class="large-3 medium-4 small-12 columns stats"><strong class="fouryr"><span>45%</span> 4 year
                    college</strong><br /><strong class="twoyr"><span>8%</span> 2 year college </strong><br /><strong
                    class="votech"><span>2%</span> Career and Technical Education</strong>
            </div>
            <div class="large-3 medium-4 small-12 columns stats"><strong class="military"><span>18%</span>
                    Military</strong> <br /><strong class="work"><span>3%</span> Work</strong><br /><strong
                    class="undecided"><span>25%</span> Undecided</strong>
            </div>
            <div class="small-12 columns">
                <hr />
            </div>
        </div>
        <div class="row" *ngIf="mediaCenterList">
            <div class="medium-4 columns tutorial" *ngFor="let m of mediaCenterItem('positionId', 10)">
                <a class="resource-title" (click)="redirect('media-center-article/' + m.id)">{{m.title}}</a> <a
                (click)="redirect('media-center-article/' + m.id)" *ngIf="m.typeId != 1"><img src="{{m.thumbnailUrl}}" /></a>
            </div>
            <div class="medium-4 columns tutorial" *ngFor="let m of mediaCenterItem('positionId', 11)">
                <a class="resource-title" (click)="redirect('media-center-article/' + m.id)">{{m.title}}</a> <a
                (click)="redirect('media-center-article/' + m.id)" *ngIf="m.typeId != 1"><img src="{{m.thumbnailUrl}}" /></a>
                <a (click)="showVideoDialog(m.videoImgUrl)" *ngIf="m.typeId == 1"><span class="image-wrapper"><img
                            src="{{m.thumbnailUrl}}" style="position:relative;" /><span
                            id="play-icon"></span></span></a>
            </div>
            <div class="medium-4 columns tutorial" *ngFor="let m of mediaCenterItem('positionId', 12)">
                <a class="resource-title" (click)="redirect('media-center-article/' + m.id)">{{m.title}}</a> <a
                (click)="redirect('media-center-article/' + m.id)" *ngIf="m.typeId != 1"><img src="{{m.thumbnailUrl}}" /></a>
            </div>
        </div>
    </div>
</div>