<br /><br />
<section class="content-wrap teacher-content-wrap">
    <div class="row column">
        <div class="medium-6">
            <h2 class="top-lefttext">There are opportunities to teach <br />real-life lessons in every classroom.</h2>
        </div>
    </div>
    <div class="row column unlock-iconbox text-center">
        <div class="small-12 medium-6 hide-for-large ng-scope">
            <div class="get-started row column" *ngIf="!isLoggedIn()"><br /><a class="button"
                    (click)="openRegistrtionModal()">Create Your Account / Log in <img
                        alt="teacher-landing-right-arrow" src="assets/images/teacher-landing-right-arrow.png" /></a>
            </div>
        </div>
    </div>
</section>
<section class="unlock-section">
    <div class="row">
        <div class="small-6 columns pull-right">
            <div class="teacher-video-box pull-right"><span>Program Overview:</span>
                <div>
                    <!-- <img src="assets/images/teacher-video-img.png" alt="teacher-video-img" />-->

                    <iframe allowfullscreen="" frameborder="0" height="227"
                        src="https://www.youtube.com/embed/QUxuMuupXZY?rel=0" width="404"></iframe></div>
            </div>
        </div>
        <div class="small-6 columns"><img alt="unlocklogo" class="unlocklogo" src="assets/images/unlocklogo.png" /></div>
    </div>
    <div class="row">
        <div class="unlock-iconbox text-center">
            <div class="small-12 show-for-large show-for-medium">
                <div class="get-started" *ngIf="!isLoggedIn()"><a (click)="openRegistrtionModal()">Create Your
                        Account / Log in <img alt="teacher-landing-right-arrow"
                            src="assets/images/teacher-landing-right-arrow.png" /></a>
                </div>
                <div class="get-started" *ngIf="isLoggedIn()"><a (click)="redirect('/classroom-activities')">Classroom Activities</a>
                </div>
            </div>
            <div class="small-4 columns">
                <div class="umlock-box"><span><strong>Meaningful career exploration</strong> related to skills and
                        interests</span>
                    <img alt="unlock-boxicon1" src="assets/images/unlock-boxicon1.png" /></div>
            </div>
            <div class="small-4 columns">
                <div class="umlock-box"><span><strong>A ready-to-use toolkit</strong> you can use to connect your
                        classroom to the real world</span>
                    <img alt="unlock-boxicon2" src="assets/images/unlock-boxicon2.png" /></div>
            </div>
            <div class="small-4 columns">
                <div class="umlock-box"><span><strong>Resources your students can use</strong> to make a plan for their
                        futures</span>
                    <img alt="unlock-boxicon3" src="assets/images/unlock-boxicon3.png" /></div>
            </div>
        </div>
    </div>
    <div class="rightarrow-panel"><a (click)="redirect('/asvab-cep-at-your-school')">Bring the ASVAB CEP to Your School <span><img
                    alt="teacher-landing-right-arrow" src="assets/images/teacher-landing-right-arrow.png" /></span></a>
    </div>
</section>
<section class="people-saying">
    <div class="row">
        <div class="small-12">
            <h2>WHAT PEOPLE ARE SAYING</h2>
        </div>
        <div class="peoplesaying-first">
            <h6 class="graybigtitle">IN THE NEWS</h6>
            <ul class="purple-list">
                <li><a href="http://www.newsminer.com/news/local_news/fairbanks-principal-lives-hutchison-s-job-training-mission/article_9cd84746-cdd2-11e7-9a48-4f8a0aee09ae.html"
                        target="_blank">Fairbanks principal lives Hutchison's job-training mission</a> </li>
                <li><a href="https://www.dcourier.com/news/2017/oct/17/phs-senior-remains-focused-his-future/?utm_source&amp;utm_medium&amp;utm_campaign"
                        target="_blank">PHS senior remains focused on his future</a></li>
                <li><a href="http://ptaourchildren.org/girl-meets-working-world/" target="_blank">Girl meets working
                        world</a></li>
                <li></li>
                <li><a href="http://www.denverpost.com/2017/08/07/new-law-students-must-be-told-about-skilled-labor-military-careers/"
                        target="_blank">New law says students must be told about skilled labor, military careers</a>
                </li>
            </ul>
        </div>
        <div class="image-sharebox" id="videos">
            <h6 class="graybigtitle">ASVAB CEP IN ACTION</h6>
            <div class="row">
                <div class="small-4 columns">
                    <div class="sharables-image"><img
                            (click)="showVideoDialog('https://www.youtube.com/embed/eKognpXeN0M?rel=0')"
                            src="assets/images/action1.jpg" style="cursor:pointer;" />
                        <div class="sharables-share">
                            <ul>
                                <li>Share</li>
                                <li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.youtube.com/watch?v=eKognpXeN0M"
                                        tabindex="0"><em class="fa fa-facebook"></em></a></li>
                                <li><a href="https://twitter.com/home?status=https%3A//www.youtube.com/watch?v=eKognpXeN0M"
                                        tabindex="0"><em class="fa fa-twitter"></em></a></li>
                                <li><a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A//www.youtube.com/watch?v=eKognpXeN0M&amp;title=&amp;summary=&amp;source="
                                        tabindex="0"><em class="fa fa-linkedin"></em></a></li>
                                <li><a (click)="redirect('/mailto:?&amp;body=https%3A//www.youtube.com/watch?v=eKognpXeN0M')"
                                        tabindex="0"><em class="fa fa-envelope"></em></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="small-4 columns">
                    <div class="sharables-image"><img
                            (click)="showVideoDialog('https://www.youtube.com/embed/PS2mLzDPsaA?rel=0')"
                            src="assets/images/action2.jpg" style="cursor:pointer;" />
                        <div class="sharables-share">
                            <ul>
                                <li>Share</li>
                                <li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.youtube.com/watch?v=PS2mLzDPsaA"
                                        tabindex="0"><em class="fa fa-facebook"></em></a></li>
                                <li><a href="https://twitter.com/home?status=https%3A//www.youtube.com/watch?v=PS2mLzDPsaA"
                                        tabindex="0"><em class="fa fa-twitter"></em></a></li>
                                <li><a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A//www.youtube.com/watch?v=PS2mLzDPsaA&amp;title=&amp;summary=&amp;source="
                                        tabindex="0"><em class="fa fa-linkedin"></em></a></li>
                                <li><a (click)="redirect('/mailto:?&amp;body=https%3A//www.youtube.com/watch?v=PS2mLzDPsaA')"
                                        tabindex="0"><em class="fa fa-envelope"></em></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="small-4 columns">
                    <div class="sharables-image"><img
                            (click)="showVideoDialog('https://www.youtube.com/embed/mQkvzhvB6Lo?rel=0')"
                            src="assets/images/action3.jpg" style="cursor:pointer;" />
                        <div class="sharables-share">
                            <ul>
                                <li>Share</li>
                                <li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.youtube.com/watch?v=mQkvzhvB6Lo"
                                        tabindex="0"><em class="fa fa-facebook"></em></a></li>
                                <li><a href="https://twitter.com/home?status=https%3A//www.youtube.com/watch?v=mQkvzhvB6Lo"
                                        tabindex="0"><em class="fa fa-twitter"></em></a></li>
                                <li><a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A//www.youtube.com/watch?v=mQkvzhvB6Lo&amp;title=&amp;summary=&amp;source="
                                        tabindex="0"><em class="fa fa-linkedin"></em></a></li>
                                <li><a (click)="redirect('/mailto:?&amp;body=https%3A//www.youtube.com/watch?v=mQkvzhvB6Lo')"
                                        tabindex="0"><em class="fa fa-envelope"></em></a></li><a
                                        (click)="redirect('/mailto:?&amp;body=https%3A//www.youtube.com/watch?v=mQkvzhvB6Lo')"
                                    tabindex="0"></a>
                            </ul><a (click)="redirect('/mailto:?&amp;body=https%3A//www.youtube.com/watch?v=mQkvzhvB6Lo')"
                                tabindex="0"></a>
                        </div><a (click)="redirect('/mailto:?&amp;body=https%3A//www.youtube.com/watch?v=mQkvzhvB6Lo')"
                            tabindex="0"></a>
                    </div><a (click)="redirect('/mailto:?&amp;body=https%3A//www.youtube.com/watch?v=mQkvzhvB6Lo')" tabindex="0"></a>
                </div><a (click)="redirect('/mailto:?&amp;body=https%3A//www.youtube.com/watch?v=mQkvzhvB6Lo')" tabindex="0"></a>
            </div><a (click)="redirect('/mailto:?&amp;body=https%3A//www.youtube.com/watch?v=mQkvzhvB6Lo')" tabindex="0"></a>
        </div><a (click)="redirect('/mailto:?&amp;body=https%3A//www.youtube.com/watch?v=mQkvzhvB6Lo')" tabindex="0">
            <div class="quotes-column">
                <h6 class="graybigtitle">QUOTES FROM EDUCATORS</h6>
                <div class="small-4 columns">
                    <div class="quotes-box"><strong>"This is the best out of everything you've given us." </strong>
                        <span>Senior, Cumberland County High School</span>
                    </div>
                </div>
                <div class="small-4 columns">
                    <div class="quotes-box"><strong>"There's this stigma that it's just a military test but, in my
                            opinion, it's the best career test." </strong>
                        <span>Kathy Hassler, assistant principal at Cumberland County High School</span>
                    </div>
                </div>
                <div class="small-4 columns">
                    <div class="quotes-box"><strong>"[One of my students] said that he didn't think college was for him,
                            but after he took part in the ASVAB Career Exploration Program, he realized that there were
                            college options that interested him.He now is determined to work toward the goal of
                            acquiring his dream job."</strong>
                        <span>Cheryle Hudson, 10th Grade Counselor at Soddy Daisy High School</span>
                    </div>
                </div>
            </div>
        </a>
    </div><a (click)="redirect('/mailto:?&amp;body=https%3A//www.youtube.com/watch?v=mQkvzhvB6Lo')" tabindex="0"></a>
</section>