<div class="main" style="padding: 20px">
  <div class="popup-details" style="display: flex; flex-direction: column">
    <p>This feature can only be accessed by users who have an account.</p>
    <a class="button" style="width: 95%" (click)="showLoginModal(); close()">LOGIN</a>
    <p>Don't have an account?</p>
    <a class="button" (click)="goToBringToSchool(); close()">BRING THE ASVAB CEP TO YOUR SCHOOL</a>
  </div>
  <button class="close-button" aria-label="Close modal" type="button" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>