<update-title title="My FYI Results | ASVAB Career Exploration Program"></update-title>

<div id="fyi" class="occufind">
    <app-header></app-header>
	<app-my-asvab-header></app-my-asvab-header>
	
	<section id="content-wrap" class="left-nav-expanded-wrap">
		<div class="row">
			<app-left-navigation-v2-collapsed *ngIf="occuFindUserLoggedIn" [selectedTab]="'learn'"></app-left-navigation-v2-collapsed>

			<div class="hide-for-small-only" style="z-index: 1" *ngIf="!occuFindUserLoggedIn">
				<img src="assets/images/asvab-ad.jpg" >
			</div>

			<section id="main-content" class="left-navigation-condensed" role="main">
				<app-my-top-results-collapsed *ngIf="occuFindUserLoggedIn" [collapsedVersion]="'v2'"></app-my-top-results-collapsed>
                
                <div id="left-nav-content-wrap">
                    
                  <h2 class="text-capitalize">My FYI Results:</h2>
				
                  <div class="row">
                    <div class="medium-12 columns">
                      <p>{{description}}</p>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="medium-12 columns">
                      <p>Learn more about the FYI by reading this <a routerLink="/media-center-article/50">article</a>.</p>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="medium-12 columns">
                      <img src="{{imageUrl}}"/>	
                    </div>
                  </div>	
                  
                  <br />

                    <div class="row">
                        <h2 class="columns">What Does each interest code mean?</h2>

                        <div class="small-9 columns">
                            <table id="meaning"><tbody>
                                <tr>
                                    <td>
                                        <div class="small-3 columns"><strong style="color: #2279BF">Realistic</strong></div>
                                        <div class="small-9 columns">activities often involve practical, hands-on problems and solutions.</div>
                                    </td>
                                    <td width="100"><a (click)="interestCodeInfo('R')">Learn More</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="small-3 columns"><strong style="color: #892C32">Investigative</strong></div> 
                                        <div class="small-9 columns">activities involve learning about new subject areas or ideas and allow you to use your knowledge to solve problems.</div>
                                    </td>
                                    <td><a (click)="interestCodeInfo('I')">Learn More</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="small-3 columns"><strong style="color: #F3913D">Artistic</strong></div>
                                        <div class="small-9 columns">activities allow you to be creative and use your imagination to do original work.</div>
                                    </td>
                                    <td><a (click)="interestCodeInfo('A')">Learn More</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="small-3 columns"><strong style="color: #174377">Social</strong></div>
                                        <div class="small-9 columns">activities allow you to use your skills and talents to interact effectively with others.</div>
                                    </td>
                                    <td><a (click)="interestCodeInfo('S')">Learn More</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="small-3 columns"><strong style="color: #ea292d">Enterprising</strong></div>
                                        <div class="small-9 columns">activities allow you to take a leadership role.</div>
                                    </td>
                                    <td><a (click)="interestCodeInfo('E')">Learn More</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="small-3 columns"><strong style="color: #52843c">Conventional</strong></div> 
                                        <div class="small-9 columns">activities require attention to accuracy and detail.</div>
                                    </td>
                                    <td><a (click)="interestCodeInfo('C')">Learn More</a></td>
                                </tr>
                            </tbody></table>
                        </div>
                        <div class="small-3 columns">
                            <img style="display: block;margin: auto;" src="assets/images/codes.jpg"> 
                        </div>
                    </div> 
                </div>
			</section>
		</div>
    	<!-- <app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile> -->
	</section>
	
	<app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
	<app-footer></app-footer>
  </div>