<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="_dialogRef.close();"><span
      aria-hidden="true">&times;</span></button>
  <h3 class="modal-title">Employment Statistics</h3>
</div>

<div class="modal-body">

  <div *ngIf="isLoading" class="loading isCenter">
		<i class='fa fa-cog fa-spin fa-2x' style='color: #2f2a6a;'></i>
  </div>

  <mat-tab-group animationDuration="0ms" *ngIf="!isLoading">
    <mat-tab label="Entry-Level Salaries">
      <div id="entry" class="tab-pane"
        [ngClass]="{in: stateEntrySalary.length > 0, active: stateEntrySalary.length > 0}">
        <div class="row">
          <span class="medium-9 small-8 columns"> The national entry-level salary<sup>1</sup>
            for {{blsTitle?.blsTitle}} is: <strong>{{nationalEntrySalary | currency}}</strong>
          </span>
        </div>
        <div class="salary-chart">
          <google-chart [data]="entryLevelSalaryChart"></google-chart>
        </div>
        <div class="salary-chart-mobile">
          <google-chart [data]="entryLevelSalaryChartMobile"></google-chart>
        </div>
        <p>
          <sup>1</sup> This data comes from <a href="https://www.bls.gov/oes/" target="_blank">Bureau
            of Labor Statistics</a> and reflects the lowest ten percent earnings for this occupation,
          which approximates entry level salary.
        </p>
      </div>
    </mat-tab>
    <mat-tab label="Average Salaries">
      <div id="avg" class="tab-pane"
        [ngClass]="{in: stateEntrySalary.length == 0 && stateSalary.length > 0, active: stateEntrySalary.length == 0 && stateSalary.length > 0}">
        <div class="row">
          <span class="medium-9 small-8 columns"> The national salary average for
            {{blsTitle.blsTitle}} is: <strong>{{nationalSalary | currency}}</strong>
          </span>
        </div>
        <div class="salary-chart">
          <google-chart [data]="chart"></google-chart>
        </div>
        <div class="salary-chart-mobile">
          <google-chart [data]="chartMobile"></google-chart>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <span *ngIf="!isLoading">
    <p><b>Blank areas indicate data not available.</b></p>
    <p>National Poverty Level: <strong>$12,140</strong>&nbsp;<a (click)="openDescription()"
        class="occufind-sub-explain alt"></a><br />
      <a target="_blank" href="https://aspe.hhs.gov/poverty-guidelines">Learn more</a>

    </p>
    <div style="margin-top: 20px;" class="text-center"><a (click)="_dialogRef.close('employmentMoreDetails');" class="border-btn">More
        Details</a></div>
  </span>
</div>

<div class="modal-footer">
  <button class="button" type="button" (click)="_dialogRef.close();" [disabled]="isDisabled">OK</button>
</div>