/* intro */
#wv-intro-grid {
    display: flex;
    flex-wrap: wrap;
}

#wv-intro-grid div {
    flex-basis: 33%;
    margin-top: 50px;    
    text-align: center;
}

#wv-intro-grid strong{
    display: block;
    margin-top: 12px;    
}

#wv-intro-grid div:nth-child(2),
#wv-intro-grid div:nth-child(5) {
    border: 1px solid #9e9e9e;
    border-width: 0 1px;
}

.section-description #wv-intro-grid {
    margin-bottom: 30px;
}

@media screen and (min-width:0em) and (max-width: 39.9375em) {
    #wv-intro-grid div {
        flex-basis: 50%;
    }

    #wv-intro-grid div:nth-child(2),
    #wv-intro-grid div:nth-child(5) {
        border-width: 0;
    }
    
    #wv-intro-grid div:nth-child(even) {
        border-left: 1px solid #9e9e9e;
    }
}
