<div id="fyi" class="occufind">
	<app-header></app-header>
	<app-my-asvab-header></app-my-asvab-header>

	<section id="content-wrap" class="left-nav-expanded-wrap">
		<div class="row">
			<app-left-navigation-v2-collapsed [selectedTab]="'learn'"></app-left-navigation-v2-collapsed>

			<section id="main-content" class="medium-10 left-navigation-condensed" role="main">
			<app-my-top-results-collapsed [collapsedVersion]="'v2'"></app-my-top-results-collapsed>
				<div id="left-nav-content-wrap">
					<div class="row">
						<div class="medium-12 columns">
							<h2>Work Values: Situational Judgment Activity</h2>
	
							<br />
	
							<p>
								<b>Instructions:</b> In this activity, 16 realistic scenarios are
								presented to help you determine the aspects of work that are
								important to you. If you are unfamiliar with the scenario, that
								is ok. Respond based on what you think you might prefer. There is
								NO right or wrong response. You may select only one response.
							</p>
							<p>Then you can explore careers that align with your top work
								values in the OCCU-Find.</p>
							<h3
								style="text-transform: none; font-size: 14px; padding: 5px 10px;">The
								results of this activity will rank the six work values in order
								of importance based on your responses.</h3>
	
							<div id="wv-intro-grid">
								<div>
									<img src="assets/images/wv-Achievement.png"><strong>Achievement</strong>
								</div>
								<div>
									<img src="assets/images/wv-Independence.png"><strong>Independence</strong>
								</div>
								<div>
									<img src="assets/images/wv-Recognition.png"><strong>Recognition</strong>
								</div>
								<div>
									<img src="assets/images/wv-Relationships.png"><strong>Relationships</strong>
								</div>
								<div>
									<img src="assets/images/wv-Support.png"><strong>Support</strong>
								</div>
								<div>
									<img src="assets/images/wv-Working-Conditions.png"><strong>Working
										Conditions</strong>
								</div>
							</div>
						</div>
	
					</div>
	
	
	
					<p>&nbsp;</p>
					<p align="center">
						<br /> <a class="button" href="work-values-test">Let's Get
							started</a>
					</p>

				</div>

			</section>

		</div>

		<!-- <app-left-navigation-mobile></app-left-navigation-mobile> -->

	</section>

	<app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>

	<app-footer></app-footer>
</div>