
Give Your Students Complete, No-Cost Career Planning

<div data-type="section-break"><hr /></div>


<li><strong>Validated Assessments:</strong>&nbsp;The ASVAB is an aptitude test that identifies skill
    strengths.
    The FYI is an interest inventory that highlights work-related interest areas. The results are used to
    guide
    career exploration.</li>
<li><strong>Post-Test Interpretation:</strong>&nbsp;This guided session provides an explanation of ASVAB
    scores
    and FYI results, followed by an opportunity to discover potentially satisfying career fields and all the
    ways
    to gain career field entry using the OCCU-Find.</li>
<li><strong>Career Planning Tools:</strong>&nbsp;Participants can make concrete career plans with these
    tangible
    outputs of their career exploration.&nbsp;</li>

    <div data-type="section-break"><hr /></div>