Students interested in college, work-based learning, and the Military should
								participate in the following activities after they take the ASVAB to get the most out of the ASVAB CEP.

<div data-type="section-break"><hr /></div>

The Post-Test Interpretation is a 45-minute session wherein a qualified professional provides a
											guided workshop to complete these activities.

<div data-type="section-break"><hr /></div>