<div class="bg-white">
  <!-- Main Section -->
  <section class="section-overview">
    <div class="row">
      <div class="columns medium-12">
        <div class="section-description">
          <h1 class="program-title">FEDERALLY FUNDED SOURCES</h1>
          <p>Each of your students has different goals that require you to prepare them for a variety of pathways.
            Paths to success are not mutually exclusive. For example, college-bound students can obtain certifications and
            military-bound students can enroll in college. Luckily, everything you need to support every one of your
            students&rsquo; unique post-secondary plans is available here.
          </p>
          <p>Below, is a list of official resources sponsored by the federal government and endorsed by the DoD as the
            authoritative source for information about options for students after high school. Your tax dollars fund these
            federal resources making them free for schools to use.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="sources-option">
      <div class="row">
        <div class="columns medium-12">
          <h4 class="sources-content-wrapper-title">Gap Year</h4>
          <div class="sources-content-wrapper single-sources-content column-border-0">
            <div class="sources-content-inner">
              <div class="sources-content">
                <div class="sources-content-item"><a href="https://www.gapyearassociation.org/" target="_blank">
                    <div class="sources-option-title">
                      <h5>Gap Year Association</h5><img alt="World" src="assets/images/www_icon.png" />
                    </div>
                    <div class="sources-img"><img alt="Gap Year Association" src="assets/images/gap_year.jpg" /></div>
                  </a>
                </div>
              </div>
            </div>
            <div class="sources-content-inner">
              <div class="sources-content">
                <div class="sources-content-item"><a href="https://www.nationalservice.gov/programs/americorps"
                    target="_blank">
                    <div class="sources-option-title">
                      <h5>AmeriCorps</h5><img alt="World" src="assets/images/www_icon.png" />
                    </div>
                    <div class="sources-img"><img alt="AmeriCorps" src="assets/images/Americorps.jpg" /></div>
                  </a>
                </div>
              </div>
            </div>
            <div class="sources-content-inner">
              <div class="sources-content">
                <div class="sources-content-item border-none">
                  <p>More students are opting to gain life experience before beginning a more traditional post-secondary
                    path. <br /><br /><strong>Explore the gap year, <a href="media-center-article/118" class="d-inline-block">here.</a></strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="columns medium-12">
          <div class="sources-content-wrapper">
            <div class="sources-content-inner">
              <h4>Post-secondary Education</h4>
              <div class="sources-content">
                <div class="sources-content-item"><a href="http://nces.ed.gov/collegenavigator/" target="_blank">
                    <div class="sources-option-title">
                      <h5>College Navigator</h5><img alt="World" src="assets/images/www_icon.png" />
                    </div>
                    <div class="sources-img"><img alt="College Navigator" src="assets/images/CollegeNavigator.jpg" /></div>
                  </a>
                </div>
                <div class="sources-content-item"><a href="https://fafsa.ed.gov/" target="_blank">
                    <div class="sources-option-title">
                      <h5>FAFSA</h5><img alt="World" src="assets/images/www_icon.png" />
                    </div>
                    <div class="sources-img"><img alt="FAFSA" src="assets/images/FAFSA.jpg" /></div>
                  </a>
                </div>
                <div class="sources-content-item"><a href="https://studentaid.ed.gov/sa/resources" target="_blank">
                    <div class="sources-option-title">
                      <h5>Federal Student Aid</h5><img alt="World" src="assets/images/www_icon.png" />
                    </div>
                    <div class="sources-img"><img alt="Federal Student Aid" src="assets/images/FedRes_StudentAid.jpg" /></div>
                  </a>
                </div>
                <div class="sources-content-item"><a href="https://myfuture.com/" target="_blank">
                    <div class="sources-option-title">
                      <h5>MyFuture</h5><img alt="World" src="assets/images/www_icon.png" />
                    </div>
                    <div class="sources-img"><img alt="MyFuture" src="assets/images/FedRes_Myfuture.jpg" /></div>
                  </a>
                </div>
                <div class="sources-content-item"><a href="{{ssoUrl}}options-becoming-an-officer/rotc" target="_blank">
                    <div class="sources-option-title">
                      <h5>ROTC</h5><img alt="World" src="assets/images/www_icon.png" />
                    </div>
                    <div class="sources-img"><img alt="ROTC" src="assets/images/FederalResource.jpg" /></div>
                  </a>
                </div>
                <div class="sources-content-item"><a href="{{ssoUrl}}options-becoming-an-officer/service-academies"
                    target="_blank">
                    <div class="sources-option-title">
                      <h5>Service Academies</h5><img alt="World" src="assets/images/www_icon.png" />
                    </div>
                    <div class="sources-img"><img alt="Service Academies" src="assets/images/FederalResource.jpg" /></div>
                  </a>
                </div>
              </div>
            </div>
            <div class="sources-content-inner">
              <h4>Work-Based Learning</h4>
              <div class="sources-content">
                <div class="sources-content-item"><a
                    href="https://www.apprenticeship.gov/educators/high-school-and-middle-school" target="_blank">
                    <div class="sources-option-title">
                      <h5>Apprenticeships.gov</h5><img alt="World" src="assets/images/www_icon.png" />
                    </div>
                    <div class="sources-img"><img alt="Apprenticeships.gov" src="assets/images/apprenticeshipGov.jpg" /></div>
                  </a>
                </div>
                <div class="sources-content-item"><a href="https://www.careeronestop.org/" target="_blank">
                    <div class="sources-option-title">
                      <h5>CareerOneStop</h5><img alt="World" src="assets/images/www_icon.png" />
                    </div>
                    <div class="sources-img"><img alt="CareerOneStop" src="assets/images/careeronestop.jpg" /></div>
                  </a>
                </div>
                <div class="sources-content-item"><a href="https://cte.ed.gov/wbltoolkit/" target="_blank">
                    <div class="sources-option-title">
                      <h5>Workbased Learning Toolkit</h5><img alt="World" src="assets/images/www_icon.png" />
                    </div>
                    <div class="sources-img"><img alt="Workbased Learning Toolkit"
                        src="assets/images/FedRes_workbasedlearning.jpg" /></div>
                  </a>
                </div>
              </div>
            </div>
            <div class="sources-content-inner">
              <h4>Military</h4>
              <div class="sources-content">
                <div class="sources-content-item"><a href="{{documents}}Military_Check_list.pdf" target="_blank">
                    <div class="sources-option-title">
                      <h5>Enlistment Checklist</h5><img alt="PDF" src="assets/images/pdf_icon.png" />
                    </div>
                    <div class="sources-img"><img alt="Enlistment Checklist" src="assets/images/Military_check_list.jpg" /></div>
                  </a>
                </div>
                <div class="sources-content-item"><a href="{{ssoUrl}}options-becoming-an-officer/rotc" target="_blank">
                    <div class="sources-option-title">
                      <h5>ROTC</h5><img alt="World" src="assets/images/www_icon.png" />
                    </div>
                    <div class="sources-img"><img alt="ROTC" src="assets/images/FederalResource.jpg" /></div>
                  </a>
                </div>
                <div class="sources-content-item"><a href="{{ssoUrl}}options-becoming-an-officer/service-academies"
                    target="_blank">
                    <div class="sources-option-title">
                      <h5>Service Academies</h5><img alt="World" src="assets/images/www_icon.png" />
                    </div>
                    <div class="sources-img"><img alt="Service Academies" src="assets/images/FederalResource.jpg" /></div>
                  </a>
                </div>
                <div class="sources-content-item"><a href="{{ssoUrl}}options" target="_blank">
                    <div class="sources-option-title">
                      <h5>Careers In the Military</h5><img alt="World" src="assets/images/www_icon.png" />
                    </div>
                    <div class="sources-img"><img alt="Careers In the Military"
                        src="assets/images/FedRes_Careersinthemilitary.jpg" /></div>
                  </a>
                </div>
                <div class="sources-content-item"><a href="https://www.todaysmilitary.com/educator-resources"
                    target="_blank">
                    <div class="sources-option-title">
                      <h5>Today&rsquo;s Military</h5><img alt="World" src="assets/images/www_icon.png" />
                    </div>
                    <div class="sources-img"><img alt="Today’s Military" src="assets/images/FedRes_Todaysmilitary.jpg" /></div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="columns medium-12">
          <div class="learn-more"><a class="button expanded" href="option-ready">Learn more about your options</a></div>
        </div>
      </div>
    </div>
  </section>
  <section class="resources-educators bg-light-gray">
    <div class="row">
      <div class="columns medium-12">
        <h4>resources educators can use with students</h4>
        <div class="row">
          <div class="columns medium-3 small-12">
            <div class="resources-educators-content"><img alt="March2Success" src="assets/images/March2sucess.jpg" /><a
                href="https://www.march2success.com/" target="_blank">March2Success</a>
            </div>
          </div>
          <div class="columns medium-3 small-12">
            <div class="resources-educators-content"><img alt="Khan Academy" src="assets/images/Khan_acacdemy.jpg" /><a
                href="https://www.khanacademy.org" target="_blank">Khan Academy</a>
            </div>
          </div>
          <div class="columns medium-3 small-12">
            <div class="resources-educators-content"><img alt="DLIFLC" src="assets/images/DLIFLC.jpg" /><a
                href="https://www.dliflc.edu" target="_blank">Basic Skills Language &amp; Culture</a>
            </div>
          </div>
          <div class="columns medium-3 small-12">
            <div class="resources-educators-content"><img alt="Army Education Outreach Program"
                src="assets/images/army_education_Outreach_program.jpg" /><a href="https://www.dliflc.edu" target="_blank">Army
                Education Outreach Program</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ask-question">
    <div class="row">
      <div class="columns medium-12">
        <h3>Are you directly involved in your states' legislation?</h3>
        <div class="learn-more"><a class="button expanded" href="legislation">
            Learn more about your state&rsquo;s
            legislation
          </a>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="medium-3 medium-pull-9 columns sub-nav-wrap">
        <div class="left-sub-nav show-for-small-only">
          <ul class="menu vertical">
            <li>
              <h3>MORE EDUCATOR INFORMATION</h3>
            </li>
            <li><a href="educators">The ASVAB CEP <em class="fa fa-angle-right"></em></a></li>
            <li><a href="educators-test">ASVAB Test <em class="fa fa-angle-right"></em></a></li>
            <li><a href="educators-post-test">Post-Test Activities <em class="fa fa-angle-right"></em></a></li>
            <li><a href="teachers">Classroom Tools <em class="fa fa-angle-right"></em></a></li>
            <li><a href="general-resources">All Resources <em class="fa fa-angle-right"></em></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section><!-- Footer Top Banner -->
  <!-- <section class="footer-top-banner">
  <div class="row">
  <div class="columns medium-12 text-center">
  <p><a ng-controller="FooterController" ng-click="asvabModal()"><strong>Bring the ASVAB CEP to your
    school.</strong></a></p>
  </div>
  </div>
  </section> -->
</div>