Each of your students has different goals that require you to prepare them for a variety of pathways.
								Paths to success are not mutually exclusive. For example, college-bound students can obtain certifications and
								military-bound students can enroll in college. Luckily, everything you need to support every one of your
								students&rsquo; unique post-secondary plans is available here.

<div data-type="section-break"><hr /></div>

Below, is a list of official resources sponsored by the federal government and endorsed by the DoD as the
								authoritative source for information about options for students after high school. Your tax dollars fund these
								federal resources making them free for schools to use.

<div data-type="section-break"><hr /></div>


