
Today's ASVAB CEP gets students&nbsp;<br />option ready for tomorrow.

<div data-type="section-break"><hr /></div>

<li><a
  href="http://www.newsminer.com/news/local_news/fairbanks-principal-lives-hutchison-s-job-training-mission/article_9cd84746-cdd2-11e7-9a48-4f8a0aee09ae.html"
  target="_blank">Fairbanks principal lives Hutchison's job-training mission</a>
</li>
<li><a
  href="https://www.dcourier.com/news/2017/oct/17/phs-senior-remains-focused-his-future/?utm_source&amp;utm_medium&amp;utm_campaign"
  target="_blank">PHS senior remains focused on his future</a>
</li>
<li><a href="http://ptaourchildren.org/girl-meets-working-world/" target="_blank">Girl meets working world</a>
</li>
<li></li>
<li><a
  href="http://www.denverpost.com/2017/08/07/new-law-students-must-be-told-about-skilled-labor-military-careers/"
  target="_blank">New law says students must be told about skilled labor, military careers</a>
</li>

<div data-type="section-break"><hr /></div>
