<div class="occufind student" id="educator">
	<app-header></app-header>

	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="large-3 large-push-9 columns">
				<h1 class="caps">Educators</h1>
			</div>
			<div class="large-9 large-pull-3 columns">
				<ul id="sub-nav" class="menu">
					<li id="educators" [ngClass]="{'active':educators}">
						<a (click)="redirect('educators')">THE ASVAB CEP</a>
					</li>
					<li id="educators-test" [ngClass]="{'active':educatorsTest}">
						<a (click)="redirect('educators-test')">ASVAB Test</a>
					</li>
					<li id="educators-post-test" [ngClass]="{'active':educatorsPostTest}">
						<a (click)="redirect('educators-post-test')">Post-Test Activities</a>
					</li>
					<li id="federally-funded-sources" [ngClass]="{'active':federallyFundedSources}">
						<a (click)="redirect('federally-funded-sources')">Federally Funded Sources</a>
					</li>
					<li id="teachers" [ngClass]="{'active':teachers}">
						<a (click)="redirect('teachers')">Classroom Tools</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<div *ngIf="pageHtml !== ''">

		<div *ngIf="showEducators">
			<section id="content-wrap">
				<div class="row">
					<div class="small-12 columns show-for-small-only">
						<div class="left-sub-nav">
							<ul class="menu vertical" id="steps">
								<li>
									<h3 id="innerTitle">The ASVAB CEP</h3>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<section id="main-content" role="main">
					<div class="row column">
						<h1 class="program-title" [innerHTML]="pageHtml[0]">
						</h1>
					</div>
				</section>
			</section>

			<section id="components-wrap">
				<div class="row">
					<div class="small-8 columns">
						<ol id="three-components" [innerHTML]="pageHtml[1]">
						</ol>
					</div>
					<div class="small-4 columns" id="hexagons"><img src="assets/images/hexagons.png" /><img class="show-for-large"
							id="girl" src="assets/images/girl.png" /></div>
				</div>
			</section>
			<section class="section-overview bring_section bg-green">
				<div class="row">
					<div class="medium-5 columns"><a href="asvab-cep-at-your-school">Bring the ASVAB CEP to Your School <em
								class="fa fa-angle-right"></em></a>
					</div>
					<div class="medium-2 columns text-center">
						<hr class="ed-divider" />
					</div>
					<div class="medium-5 columns"><a href="continuing-education">Continuing Education Opportunity <em
								class="fa fa-angle-right"></em></a>
					</div>
				</div>
			</section>
			<div class="sub-nav-wrap" id="educators" style="background-color:#ffffff;">
				<div id="guides">
					<div class="row column">
						<p>These components give young people the confidence to map out a post-secondary plan that aligns with their
							individual skills and interests. Students in grades 10-12 and those in first and second year
							post-secondary can
							participate voluntarily.</p>
						<p>Schools using the ASVAB CEP provide a comprehensive career planning program that is tied to Career
							Clusters and
							<a href="{{documents}}ASVAB_CEP_Meets_ASCA_Nat_Standards.pdf" target="_blank">American School Counselor
								Association National
								Standards</a> - at no cost and no commitment.
						</p>
					</div>
					<div class="row" id="intentions">
						<div class="small-12 columns"></div>
						<div class="small-12 columns"></div>
					</div>
					<div class="row column">
						<div class="medium-4 columns tutorial" *ngFor="let m of mediaCenterList | filter : 'positionId' : 10 | filter : 'categoryId' : 6"><a
								class="resource-title" href="media-center-article/{{m.id}}">{{m.title}}</a> <a
								href="media-center-article/{{m.id}}" *ngIf="m && m.typeId != 1"><img src="{{m.thumbnailUrl}}" /></a> <a
								(click)="_utility.showVideoDialog(m.videoImgUrl)" *ngIf="m && m.typeId == 1"><span
									class="image-wrapper"><img src="{{m.thumbnailUrl}}" style="position:relative;" /><span
										id="play-icon"></span></span></a>
						</div>
						<div class="medium-4 columns tutorial" *ngFor="let m of mediaCenterList | filter : 'positionId' : 11 | filter : 'categoryId' : 6"><a
								class="resource-title" href="media-center-article/{{m.id}}">{{m.title}}</a> <a
								href="media-center-article/{{m.id}}" *ngIf="m && m.typeId != 1"><img src="{{m.thumbnailUrl}}" /></a> <a
								(click)="_utility.showVideoDialog(m.videoImgUrl)" *ngIf="m && m.typeId == 1"><span
									class="image-wrapper"><img src="{{m.thumbnailUrl}}" style="position:relative;" /><span
										id="play-icon"></span></span></a>
						</div>
						<div class="medium-4 columns tutorial" *ngFor="let m of mediaCenterList | filter : 'positionId' : 12 | filter : 'categoryId' : 6"><a
								class="resource-title" href="media-center-article/{{m.id}}">{{m.title}}</a> <a
								href="media-center-article/{{m.id}}" *ngIf="m && m.typeId != 1"><img src="{{m.thumbnailUrl}}" /></a> <a
								(click)="_utility.showVideoDialog(m.videoImgUrl)" *ngIf="m && m.typeId == 1"><span
									class="image-wrapper"><img src="{{m.thumbnailUrl}}" style="position:relative;" /><span
										id="play-icon"></span></span></a>
						</div>
					</div>
					<div class="medium-3 medium-pull-9 columns">
						<div class="left-sub-nav show-for-small-only">
							<ul class="menu vertical">
								<li>
									<h3>MORE EDUCATOR INFORMATION</h3>
								</li>
								<li><a href="educators-test">ASVAB Test <em class="fa fa-angle-right"></em></a></li>
								<li><a href="educators-post-test">Post-Test Activities <em class="fa fa-angle-right"></em></a></li>
								<li><a href="federally-funded-sources">Federally Funded Sources <em class="fa fa-angle-right"></em></a>
								</li>
								<li><a href="teachers">Classroom Tools <em class="fa fa-angle-right"></em></a></li>
								<li><a href="general-resources">All Resources <em class="fa fa-angle-right"></em></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<section *ngIf="showEducatorsTest" id="content-wrap">
			<div class="row">
				<div class="small-12 columns show-for-small-only">
					<div class="left-sub-nav">
						<ul class="menu vertical" id="steps">
							<li>
								<h3>cms ASVAB TEST</h3>
							</li>
						</ul>
					</div>
				</div>
				<section class="medium-9 medium-push-3 columns" id="main-content" role="main">
					<h1 class="job-title">The ASVAB Test</h1>
					<p [innerHTML]="pageHtml[0]"></p>
					<p [innerHTML]="pageHtml[1]"></p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<mat-tab-group class="tabbed" id="asvab-test">
						<mat-tab label="Paper and Pencil" index="0">
							<p>In the paper and pencil (P&amp;P ASVAB), every examinee is given
								the same items. In order to measure ability accurately across all
								examinees, the P&amp;P-ASVAB includes items that range from very easy
								to very hard.</p>
							<div class="small-12 columns text-center"><a class="button"
									(click)="_utility.showSampleTestModal(); _googleAnalyticsService.trackSampleTestClick('#ASVAB_PP_SAMPLE_TEST_ITEMS_VIEWED');"
									style="width:200px;">View sample test
									questions </a>
							</div>
							<p>This version consists of eight subtests, a total of 200 total items,
								and takes about three hours to complete.</p>
							<h4>Subtest areas:</h4>
							<hr />
							<div class="row">
								<div class="small-4 columns">
									<p><strong>General Science</strong>
									</p>
								</div>
								<div class="small-8 columns">
									<p>A 25-item test measuring knowledge of life science, earth
										and space science, and physical science</p>
								</div>
							</div>
							<div class="row">
								<div class="small-4 columns">
									<p><strong>Arithmetic Reasoning</strong>
									</p>
								</div>
								<div class="small-8 columns">
									<p>A 30-item test measuring ability to solve basic arithmetic
										word problems</p>
								</div>
							</div>
							<div class="row">
								<div class="small-4 columns">
									<p><strong>Word Knowledge</strong>
									</p>
								</div>
								<div class="small-8 columns">
									<p>A 35-item test measuring ability to understand the meaning
										of words through synonyms</p>
								</div>
							</div>
							<div class="row">
								<div class="small-4 columns">
									<p><strong>Paragraph Comprehension</strong>
									</p>
								</div>
								<div class="small-8 columns">
									<p>A 15-item test measuring ability to obtain information from
										written material</p>
								</div>
							</div>
							<div class="row">
								<div class="small-4 columns">
									<p><strong>Mathematics Knowledge</strong>
									</p>
								</div>
								<div class="small-8 columns">
									<p>A 25-item test measuring knowledge of mathematical concepts
										and applications</p>
								</div>
							</div>
							<div class="row">
								<div class="small-4 columns">
									<p><strong>Electronics Information</strong>
									</p>
								</div>
								<div class="small-8 columns">
									<p>A 20-item test measuring knowledge of electrical current,
										circuits, devices, and electronic systems</p>
								</div>
							</div>
							<div class="row">
								<div class="small-4 columns">
									<p><strong>Auto and Shop Information</strong>
									</p>
								</div>
								<div class="small-8 columns">
									<p>An 25-item test measuring knowledge of wood and metal shop
										practices</p>
								</div>
							</div>
							<div class="row">
								<div class="small-4 columns">
									<p><strong>Mechanical Comprehension</strong>
									</p>
								</div>
								<div class="small-8 columns">
									<p>A 25-item test measuring knowledge of the principles of
										mechanical devices, structural support, and properties of
										materials</p>
								</div>
							</div>
							<hr />
							<div class="row">
								<div class="small-12 columns text-center"><a class="button" href="{{documents}}ASR_Poster.pdf"
										ng-click="trackClick('ASR_Poster.pdf');" ng-controller="GA" style="width:200px;" target="_blank">View
										sample ASVAB Summary
										Results sheet </a>
								</div>
							</div>
						</mat-tab>
		
						<mat-tab label="Computer Adaptive" index="1">
							<p>The computerized ASVAB CEP test (called CEP iCAT) is
								adaptive, meaning the test tailors to the examinees ability level.
								All examinees begin the test with an item of average difficulty. If
								the examinee answers the first item correctly, the computer
								presents a harder item for question two. If the examinee answers
								item two incorrectly, the computer presents an easier item for
								question three. To summarize, CEP iCAT presents the best item for
								the individual. The best item is that which provides the most
								information about the examinees ability level.</p>
							<div class="row">
								<div class="small-12 columns text-center"><a class="button"
										(click)="_utility.showSampleIcatTestModal(); _googleAnalyticsService.trackSampleTestClick('#ASVAB_CA_SAMPLE_TEST_ITEMS_VIEWED');"
										style="width:200px;">View sample
										test questions </a>
								</div>
							</div>
							<p>The CEP iCAT consists of nine subtests, a total of 145 items.
								The CEP iCAT is self-paced and generally takes about 1.5 hours to
								complete. Extra time is allotted for each subtest because CEP iCAT tests are catered to each individual.</p>
							<h4>Subtest areas:</h4>
							<hr />
							<div class="row">
								<div class="small-4 columns">
									<p><strong>General Science</strong>
									</p>
								</div>
								<div class="small-8 columns">
									<p>A 16-item test measuring knowledge of life science, earth
										and space science, and physical science</p>
								</div>
							</div>
							<div class="row">
								<div class="small-4 columns">
									<p><strong>Arithmetic Reasoning</strong>
									</p>
								</div>
								<div class="small-8 columns">
									<p>A 16-item test measuring ability to solve basic arithmetic
										word problems</p>
								</div>
							</div>
							<div class="row">
								<div class="small-4 columns">
									<p><strong>Word Knowledge</strong>
									</p>
								</div>
								<div class="small-8 columns">
									<p>A 16-item test measuring ability to understand the meaning
										of words through synonyms</p>
								</div>
							</div>
							<div class="row">
								<div class="small-4 columns">
									<p><strong>Paragraph Comprehension</strong>
									</p>
								</div>
								<div class="small-8 columns">
									<p>A 11-item test measuring ability to obtain information from
										written material</p>
								</div>
							</div>
							<div class="row">
								<div class="small-4 columns">
									<p><strong>Mathematics Knowledge</strong>
									</p>
								</div>
								<div class="small-8 columns">
									<p>A 16-item test measuring knowledge of mathematical concepts
										and applications</p>
								</div>
							</div>
							<div class="row">
								<div class="small-4 columns">
									<p><strong>Electronics Information</strong>
									</p>
								</div>
								<div class="small-8 columns">
									<p>A 16-item test measuring knowledge of electrical current,
										circuits, devices, and electronic systems</p>
								</div>
							</div>
							<div class="row">
								<div class="small-4 columns">
									<p><strong>Auto Information</strong>
									</p>
								</div>
								<div class="small-8 columns">
									<p>An 11-item test measuring knowledge of automotive
										maintenance and repair</p>
								</div>
							</div>
							<div class="row">
								<div class="small-4 columns">
									<p><strong>Shop Information</strong>
									</p>
								</div>
								<div class="small-8 columns">
									<p>An 11-item test measuring knowledge of wood and metal shop
										practices</p>
								</div>
							</div>
							<div class="row">
								<div class="small-4 columns">
									<p><strong>Mechanical Comprehension</strong>
									</p>
								</div>
								<div class="small-8 columns">
									<p>A 16-item test measuring knowledge of the principles of
										mechanical devices, structural support, and properties of
										materials</p>
								</div>
							</div>
							<div class="row">
								<div class="small-8 columns">
									<p>&nbsp;</p>
								</div>
							</div>
							<hr />
							<div class="row">
								<div class="small-12 columns text-center"><a
										href="https://prod-media.asvabprogram.com/CEP_PDF_Contents/CEP_ICAT_Post_Test.pdf" target="_blank">View
										sample CEP ICAT Summary Results sheet </a>
								</div>
							</div>
						</mat-tab>
					</mat-tab-group>
		
					<br /><strong>Score Release Options</strong><br />
					<p>The ASVAB CEP is used for career exploration and
						participation is always voluntary. In order to score tests and
						provide appropriate results, the following student information
						fields are required: student name, date of birth, gender, education
						level, and post-secondary intention. A Social Security number is not
						collected.</p>
					<p>Each school participating in ASVAB CEP selects one of eight
						available options regarding the information Department of Defense
						releases to the military services. These options are:</p>
					<div class="row">
						<div class="small-4 columns">
							<p><strong>Release Option</strong>
							</p>
						</div>
						<div class="large-8 columns">
							<p><strong>Results to Recruiting Services</strong>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<p>Option 1</p>
						</div>
						<div class="large-8 columns">
							<p>7 days after test scores are
								mailed.</p>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<p>Option 2</p>
						</div>
						<div class="large-8 columns">
							<p>60 days after test scores are
								mailed. No contact prior to that time.</p>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<p>Option 3</p>
						</div>
						<div class="large-8 columns">
							<p>90 days after test scores are
								mailed. No contact prior to that time.</p>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<p>Option 4</p>
						</div>
						<div class="large-8 columns">
							<p>120 days after test scores are
								mailed. No contact prior to that time.</p>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<p>Option 5</p>
						</div>
						<div class="large-8 columns">
							<p>End of school year. No contact
								prior to that time.</p>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<p>Option 6</p>
						</div>
						<div class="large-8 columns">
							<p>7 days after test scores are
								mailed. No telephone solicitations by recruiters.</p>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<p>Option 7</p>
						</div>
						<div class="large-8 columns">
							<p>This is an administrative option
								used by United States Military Entrance Processing Command (USMEPCOM) ONLY for test administration issues
								for
								individual or group tests (test abandoned, cheating, insufficient
								proctors, fire drills, etc.). Not valid for enlistment purposes.
								Results not released to Recruiting Services.</p>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<p>Option 8</p>
						</div>
						<div class="large-8 columns">
							<p>Not released to Recruiting
								Services</p>
						</div>
					</div><br />
					<p>Your school may also select a "split option," where two release
						options are used: one option allows release of scores to recruiters
						and one option restricts that release to accommodate individual
						requests.</p>
					<p>Participants can opt in or opt out of the release option
						chosen by the school by completing the appropriate form and
						submitting it to the school:</p>
					<p>&nbsp;</p>
					<div class="text-center"><span><a href="{{documents}}ASVAB_CEP_Opt_In_Letter.docx"
								ng-click="trackClick('ASVAB_CEP_Opt_In_Letter.docx');" ng-controller="GA" target="_blank"><img alt=""
									src="assets/images/icon-word.png" />Opt In Letter </a>
						</span> &nbsp; <span> <a href="{{documents}}ASVAB_CEP_Opt_Out_Letter.docx"
								ng-click="trackClick('ASVAB_CEP_Opt_Out_Letter.docx');" ng-controller="GA" target="_blank"><img alt=""
									src="assets/images/icon-word.png" />Opt Out Letter </a>
						</span>
					</div>
					<p>&nbsp;</p>
					<p>Coordinating the form with parents is a school responsibility. Communicate the release option your school
						selected so students and parents are aware of their ability to opt in to score release (if your school has
						chosen a no release option), or opt out of score release (if your school has chosen to release the scores).</p>
					<p>Your school must inform your Education Services Specialist of a student's wishes in order to have their
						individual scores processed accordingly.</p>
					<p><a href="general-help#release">Click here</a> to learn more about the score release options and the release of
						school directory information required by FERPA and ESSA. </p>
				</section>
				<div class="medium-3 medium-pull-9 columns">
					<div id="did-you-know">
						<p><strong class="caps">Did You Know?</strong>
						</p>
						<p>Administering easy test items to high-ability examinees is
							inefficient.</p>
						<p>High-ability examinees usually answer these items
							correctly so easy items provide little information about a
							high-ability examinees level of ability.</p>
						<p>The same inefficiencies are true for administering hard
							items to low-ability examinees.</p>
						<p>The most accurate measurement occurs when the difficulty of
							the items is matched to the examinees level of ability.</p>
						<p>You can learn more about the ASVAB at the <a href="http://official-asvab.com/whattoexpect_app.htm"
								target="_blank">Official Site of the ASVAB.</a>
						</p>
					</div>
					<div class="left-sub-nav show-for-small-only">
						<ul class="menu vertical">
							<li>
								<h3>MORE EDUCATOR INFORMATION</h3>
							</li>
							<li><a href="educators">The ASVAB CEP <em class="fa fa-angle-right"></em></a></li>
							<li><a href="educators-post-test">Post-Test Activities <em class="fa fa-angle-right"></em></a></li>
							<li><a href="federally-funded-sources">Federally Funded Sources <em class="fa fa-angle-right"></em></a></li>
							<li><a href="teachers">Classroom Tools <em class="fa fa-angle-right"></em></a></li>
							<li><a href="general-resources">All Resources <em class="fa fa-angle-right"></em></a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<div *ngIf="showEducatorsPostTest">
				<section class="section-overview exploration_sec">
					<div class="row">
						<div class="columns medium-12">
							<div class="section-description">
								<h1 class="program-title">The ASVAB is One Part of the ASVAB Career Exploration Program</h1>
								<p class="program-subtitle" [innerHTML]="pageHtml[0]"></p>
								<div class="educators-exploration">
									<div class="exploration-details">
										<div class="exploration-details-content">
											<p [innerHTML]="pageHtml[1]"></p><a href="asvab-cep-at-your-school">Schedule Yours</a>
										</div>
									</div>
									<div class="exploration-content">
										<ul class="exploration-items">
											<li>GETTING STARTED<a (click)="_utility.scrollToAnchor('GettingStarted')"></a></li>
											<li>UNDERSTANDING THE ASVAB RESULTS<a (click)="_utility.scrollToAnchor('ASVAB_Result')"></a></li>
											<li>USING ASVAB SCORES<a (click)="_utility.scrollToAnchor('ASVAB_Scores')"></a></li>
											<li>TAKING THE FYI<a (click)="_utility.scrollToAnchor('Taking_FYI')"></a></li>
											<li>EXPLORING<br />CAREERS<a (click)="_utility.scrollToAnchor('ExploringCareers')"></a></li>
											<li>PLANNING FOR<br />THE FUTURE<a (click)="_utility.scrollToAnchor('FuturePlan')"></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="section-overview getting_started_sec" id="GettingStarted">
					<div class="row">
						<div class="columns medium-12">
							<div class="section-description">
								<h2 class="section-title">Getting Started</h2>
								<p class="section-description-info mw-100">The ASVAB Summary Results (ASR) sheet includes a unique access code
									each student can use to login to this site and complete the post-test activities. We encourage students to
									create an account. In the likely event they lose their ASR, they can still access these resources.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="columns medium-4">
							<div class="section-description">
								<p class="section-description-info mw-95"><strong>Access code.</strong> Your ASVAB Summary Results sheet
									includes
									an access code you will use to login to this site. </p>
							</div>
						</div>
						<div class="columns medium-8"><img alt="Getting Started" class="hide-for-sm"
								src="assets/images/Getting_started.jpg" /><img alt="Getting Started" class="hide-for-md mx-auto"
								src="assets/images/use_accesss_code_mobile.jpg" /></div>
					</div>
				</section>
				<section class="section-overview ASVAB_result_sec" id="ASVAB_Result">
					<div class="row">
						<div class="columns medium-12">
							<div class="section-description">
								<h2 class="section-title">Understanding the ASVAB Results</h2>
								<p class="section-description-info mw-100">The ASVAB Summary Results sheet reports percentile scores
									(gender-specific and combined), and standard scores (including score bands) for each subtest and the three
									Career Exploration Scores, as well as a score for the Armed Forces Qualification Test (AFQT).</p><img
									alt="Getting Started" class="result_img hide-for-sm" src="assets/images/ASVAB_Results.jpg" /><img
									alt="Getting Started" class="result_img hide-for-md" src="assets/images/mobile_score_image.png" />
								<ol>
									<li>
										<p><strong>Career Exploration Scores.</strong> These composite scores help students understand their verbal,
											math,
											and science/technical skills. These are used exclusively for career exploration purposes.</p>
										<div class="strength_books">
											<p><strong>Your top strength will have the most books.</strong></p>
											<ul>
												<li>
													<div class="strength_img_block"><img alt="Books" src="assets/images/book1.png" /></div><span>Verbal</span>
												</li>
												<li>
													<div class="strength_img_block"><img alt="Books" src="assets/images/book2.png" /></div><span>Math</span>
												</li>
												<li>
													<div class="strength_img_block"><img alt="Books" src="assets/images/book3.png" /></div><span>Science/
														Technology</span>
												</li>
											</ul>
										</div>
									</li>
									<li>
										<p><strong>ASVAB Tests.</strong> A score for each ASVAB subtest. For a description of each subtest, <a
												href="https://www.asvabprogram.com/parents-test">click here</a>.</p>
									</li>
									<li>
										<p><strong>Military Entrance Score/Armed Forces Qualification Test (AFQT).</strong> The AFQT score is what
											the
											Military will use to determine enlistment eligibility. This score is calculated using scores on
											Arithmetic Reasoning, Mathematics Knowledge, Word Knowledge, and Paragraph Comprehension determine your
											AFQT score.</p>
										<p>Note: Students who participate in the ASVAB CEP have no obligation to talk with military recruiters or
											consider a military career. Students interested in joining the Military should discuss this score with a
											recruiter.</p>
									</li>
								</ol>
							</div>
						</div>
					</div>
				</section>
				<section class="section-overview activities_sec activities_video bg-green">
					<div class="row">
						<div class="columns medium-12">
							<div class="activities_inner">
								<div class="activities_text">
									<h4>Video Tutorial:</h4>
									<h2>Understanding ASVAB Test Scores</h2>
								</div>
								<div class="activities_block">
									<a (click)="_utility.showVideoDialog('https://www.youtube.com/embed/RM-g73droL4')">
										<span
											class="image-wrapper"><img src="assets/images/Tut_test_1.jpg" /></span>
									</a>
								</div>
							</div>
						</div>
						<!-- <div aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" style="display:none;"
				tabindex="-1">
				<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-body"><iframe allowfullscreen="" frameborder="0" height="315" id="iframeYoutube" src="#"
							width="560"></iframe></div>
					<div class="modal-footer"><button class="button" data-dismiss="modal" type="button">Close</button></div>
				</div>
				</div>
				</div> -->
					</div>
				</section>
				<section class="section-overview ASVAB_scores_sec" id="ASVAB_Scores">
					<div class="row">
						<div class="columns medium-6 small-12">
							<div class="section-description">
								<h2 class="section-title">USING ASVAB SCORES</h2><img alt="" class="hide-for-md mx-auto"
									src="assets/images/Usingskills.jpg" />
								<p class="section-description-info">Students can use their Career Exploration Scores to investigate
									occupations that rely on those skills in the OCCU-Find. Each occupation includes information about the
									importance of verbal, math, and science/technical skills represented on a five-star scale. The ratings show
									the extent to which the daily tasks of a job require verbal, math, and/or science/technical skills. There is
									no direct correlation between Career Exploration Scores and the skill importance ratings. Rather, students
									should consider these ratings a snapshot of the degree to which these skills are used on-the-job. Learn more
									about skill importance ratings <a href="https://www.asvabprogram.com/general-help#skills">here</a>.</p>
								<p class="section-description-info">Students in 11th grade and beyond can use their AFQT scores to talk to a
									military recruiter about enlistment, for up to two years after testing. The AFQT score can qualify them for
									certain jobs in the Armed Forces. However, each Service, and each military job, has different requirements,
									so qualifying AFQT scores can fluctuate.</p>
							</div>
						</div>
						<div class="columns medium-6 small-12 hide-for-sm"><img alt="" src="assets/images/Usingskills.jpg" /></div>
					</div>
				</section>
				<section class="section-overview taking_FYI_sec" id="Taking_FYI">
					<div class="row">
						<div class="columns medium-6 small-12">
							<div class="section-description">
								<h2 class="section-title">TAKING THE FYI</h2>
								<p class="section-description-info">Find Your Interests (FYI) is an interest inventory based on John Holland's
									widely accepted RIASEC&reg; theory of career choice. Students indicate a preference for the various activities
									presented to them. Based on their responses, the assessment determines the student's resemblance to each of
									six interest types.</p>
							</div>
						</div>
						<div class="columns medium-6 small-12"><img alt="" class="hide-for-sm" src="assets/images/RIASEC.jpg" /><img alt=""
								class="hide-for-md mx-auto" src="assets/images/RIASEC_Mobile.jpg" /></div>
					</div>
				</section>
				<section class="section-overview activities_sec activities_video bg-green">
					<div class="row">
						<div class="columns medium-12">
							<div class="activities_inner">
								<div class="activities_text">
									<h4>Video Tutorial:</h4>
									<h2>Taking the FYI Tutorial</h2>
								</div>
								<div class="activities_block">
										<a (click)="_utility.showVideoDialog('https://www.youtube.com/embed/pddDxvfY2gM')">
										<span
											class="image-wrapper"><img src="assets/images/Tut_test_2.jpg" /></span>
									</a>
								</div>
							</div>
						</div>
						<!-- <div aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" style="display:none;"
				tabindex="-1">
				<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-body"><iframe allowfullscreen="" frameborder="0" height="315" id="iframeYoutube" src="#"
							width="560"></iframe></div>
					<div class="modal-footer"><button class="button" data-dismiss="modal" type="button">Close</button></div>
				</div>
				</div>
				</div> -->
					</div>
				</section>
				<section class="section-overview exploring_careers_sec" id="ExploringCareers">
					<div class="row">
						<div class="columns medium-12">
							<div class="section-description">
								<h2 class="section-title">EXPLORING CAREERS</h2>
								<p class="section-description-info">The OCCU-Find is a catalog of careers containing relevant, reliable
									occupational data in an easy to navigate format. Students can quickly identify potentially satisfying career
									options using their Career Exploration Scores and FYI results.</p>
							</div>
						</div>
						<div class="columns medium-12">
							<div class="exploring_careers_inner">
								<div class="exploring_careers_item">
									<div class="careers_img_block"><img alt="" src="assets/images/Riasec_full.png" /></div>
									<p>Search by interest</p>
								</div>
								<div class="exploring_careers_item">
									<div class="careers_img_block"><img alt="" src="assets/images/Books.png" /></div>
									<p>Sort by Skill</p>
								</div>
								<div class="exploring_careers_item">
									<div class="careers_img_block"><img alt="" src="assets/images/filters.png" /></div>
									<p>Filter by Category</p>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="section-overview activities_sec activities_video bg-green">
					<div class="row">
						<div class="columns medium-12">
							<div class="activities_inner">
								<div class="activities_text">
									<h4>Video Tutorial:</h4>
									<h2>Exploring the OCCU-Find Tutorial</h2>
								</div>
								<div class="activities_block">
									<a (click)="_utility.showVideoDialog('https://www.youtube.com/embed/6yNpUTuksa4')">
										<span
											class="image-wrapper"><img src="assets/images/Tut_test_3.jpg" /></span>
									</a>
								</div>
							</div>
						</div>
						<!-- <div aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" style="display:none;"
				tabindex="-1">
				<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-body"><iframe allowfullscreen="" frameborder="0" height="315" id="iframeYoutube" src="#"
							width="560"></iframe></div>
					<div class="modal-footer"><button class="button" data-dismiss="modal" type="button">Close</button></div>
				</div>
				</div>
				</div> -->
					</div>
				</section>
				<section class="section-overview future_plan_sec" id="FuturePlan">
					<div class="row">
						<div class="columns medium-12">
							<div class="section-description">
								<h2 class="section-title">PLANNING FOR THE FUTURE</h2>
								<ul>
									<li><strong>My Portfolio</strong> is an output of an ASVAB CEP participant&rsquo;s career exploration. Here,
										students can
										compile their achievements and articulate action steps toward their identified goals then share this
										record with counselors and parents to facilitate meaningful discussions about post-secondary planning.
									</li>
									<li><strong>My Education and Career Plans</strong> is designed to encourage students to think about
										occupations that
										they&rsquo;re considering as well as post-high school plans. Students are asked to think closely about their
										interests, jobs they&rsquo;ve liked or disliked in the past, work values, and what activities they like
										most.
									</li>
									<li><strong>Coursework Planner</strong> asks students to identify one or two post-high school goals. Then,
										using a
										list of graduation requirements they are asked to identify high school courses that are considered
										necessary for entry into their desired post-secondary path.</li>
									<li><strong>Classroom Activities</strong> can be incorporated into any curriculum in classes like English,
										computer
										science, and communications. These activities encourage students to research occupations, interview job
										incumbents, and complete other activities outlined above.</li>
								</ul>
							</div>
						</div>
					</div>
				</section>
				<section class="section-overview activities_sec activities_video bg-green">
					<div class="row">
						<div class="columns medium-12">
							<div class="activities_inner">
								<div class="activities_text">
									<h4>Video Tutorial:</h4>
									<h2>Completing My Portfolio</h2>
								</div>
								<div class="activities_block">
									<a (click)="_utility.showVideoDialog('https://www.youtube.com/embed/fiy5rMcHdhM')">
										<span
											class="image-wrapper"><img src="assets/images/portfolio_tut_Thumb.jpg" /></span>
									</a>
								</div>
							</div>
						</div>
						<!-- <div aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" style="display:none;"
				tabindex="-1">
				<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-body"><iframe allowfullscreen="" frameborder="0" height="315" id="iframeYoutube" src="#"
							width="560"></iframe></div>
					<div class="modal-footer"><button class="button" data-dismiss="modal" type="button">Close</button></div>
				</div>
				</div>
				</div> -->
					</div>
				</section>
				<section class="section-overview contact_us_sec">
					<div class="row">
						<div class="columns medium-12">
							<div class="section-description">
								<h4>These activities are for the exclusive use of ASVAB CEP participants.<br />Participants must login to access
									the FYI and OCCU-Find.<br /><a (click)="openRegistrtionModal()">Use access code CEP4ME to create an
										account.</a></h4>
							</div>
						</div>
					</div>
				</section>
				<section class="bg-white">
					<div class="row">
						<div class="medium-3 medium-pull-9 columns sub-nav-wrap">
							<div class="left-sub-nav show-for-small-only">
								<ul class="menu vertical">
									<li>
										<h3>MORE PARENT INFORMATION</h3>
									</li>
									<li><a href="parents">The ASVAB CEP <em class="fa fa-angle-right"></em></a></li>
									<li><a href="parents-test">ASVAB Test <em class="fa fa-angle-right"></em></a></li>
									<li><a href="parents-information">How You Can Help <em class="fa fa-angle-right"></em></a></li>
									<li><a href="general-resources">All Resources <em class="fa fa-angle-right"></em></a></li>
								</ul>
							</div>
						</div>
					</div>
				</section>
		</div>

		<div *ngIf="showFederallyFundedSources" class="bg-white">
			<!-- Main Section -->
			<section class="section-overview">
				<div class="row">
					<div class="columns medium-12">
						<div class="section-description">
							<h1 class="program-title">FEDERALLY FUNDED SOURCES</h1>
							<p [innerHTML]="pageHtml[0]"></p>
							<p [innerHTML]="pageHtml[1]"></p>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="sources-option">
					<div class="row">
						<div class="columns medium-12">
							<h4 class="sources-content-wrapper-title">Gap Year</h4>
							<div class="sources-content-wrapper single-sources-content column-border-0">
								<div class="sources-content-inner">
									<div class="sources-content">
										<div class="sources-content-item"><a href="https://www.gapyearassociation.org/" target="_blank">
												<div class="sources-option-title">
													<h5>Gap Year Association</h5><img alt="World" src="assets/images/www_icon.png" />
												</div>
												<div class="sources-img"><img alt="Gap Year Association" src="assets/images/gap_year.jpg" /></div>
											</a>
										</div>
									</div>
								</div>
								<div class="sources-content-inner">
									<div class="sources-content">
										<div class="sources-content-item"><a href="https://www.nationalservice.gov/programs/americorps"
												target="_blank">
												<div class="sources-option-title">
													<h5>AmeriCorps</h5><img alt="World" src="assets/images/www_icon.png" />
												</div>
												<div class="sources-img"><img alt="AmeriCorps" src="assets/images/Americorps.jpg" /></div>
											</a>
										</div>
									</div>
								</div>
								<div class="sources-content-inner">
									<div class="sources-content">
										<div class="sources-content-item border-none">
											<p>More students are opting to gain life experience before beginning a more traditional post-secondary
												path. <br /><br /><strong>Explore the gap year, <a href="media-center-article/118" class="d-inline-block">here.</a></strong></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="columns medium-12">
							<div class="sources-content-wrapper">
								<div class="sources-content-inner">
									<h4>Post-secondary Education</h4>
									<div class="sources-content">
										<div class="sources-content-item"><a href="http://nces.ed.gov/collegenavigator/" target="_blank">
												<div class="sources-option-title">
													<h5>College Navigator</h5><img alt="World" src="assets/images/www_icon.png" />
												</div>
												<div class="sources-img"><img alt="College Navigator" src="assets/images/CollegeNavigator.jpg" /></div>
											</a>
										</div>
										<div class="sources-content-item"><a href="https://fafsa.ed.gov/" target="_blank">
												<div class="sources-option-title">
													<h5>FAFSA</h5><img alt="World" src="assets/images/www_icon.png" />
												</div>
												<div class="sources-img"><img alt="FAFSA" src="assets/images/FAFSA.jpg" /></div>
											</a>
										</div>
										<div class="sources-content-item"><a href="https://studentaid.ed.gov/sa/resources" target="_blank">
												<div class="sources-option-title">
													<h5>Federal Student Aid</h5><img alt="World" src="assets/images/www_icon.png" />
												</div>
												<div class="sources-img"><img alt="Federal Student Aid" src="assets/images/FedRes_StudentAid.jpg" /></div>
											</a>
										</div>
										<div class="sources-content-item"><a href="https://myfuture.com/" target="_blank">
												<div class="sources-option-title">
													<h5>MyFuture</h5><img alt="World" src="assets/images/www_icon.png" />
												</div>
												<div class="sources-img"><img alt="MyFuture" src="assets/images/FedRes_Myfuture.jpg" /></div>
											</a>
										</div>
										<div class="sources-content-item"><a href="{{ssoUrl}}options-becoming-an-officer/rotc" target="_blank">
												<div class="sources-option-title">
													<h5>ROTC</h5><img alt="World" src="assets/images/www_icon.png" />
												</div>
												<div class="sources-img"><img alt="ROTC" src="assets/images/FederalResource.jpg" /></div>
											</a>
										</div>
										<div class="sources-content-item"><a href="{{ssoUrl}}options-becoming-an-officer/service-academies"
												target="_blank">
												<div class="sources-option-title">
													<h5>Service Academies</h5><img alt="World" src="assets/images/www_icon.png" />
												</div>
												<div class="sources-img"><img alt="Service Academies" src="assets/images/FederalResource.jpg" /></div>
											</a>
										</div>
									</div>
								</div>
								<div class="sources-content-inner">
									<h4>Work-Based Learning</h4>
									<div class="sources-content">
										<div class="sources-content-item"><a
												href="https://www.apprenticeship.gov/educators/high-school-and-middle-school" target="_blank">
												<div class="sources-option-title">
													<h5>Apprenticeships.gov</h5><img alt="World" src="assets/images/www_icon.png" />
												</div>
												<div class="sources-img"><img alt="Apprenticeships.gov" src="assets/images/apprenticeshipGov.jpg" /></div>
											</a>
										</div>
										<div class="sources-content-item"><a href="https://www.careeronestop.org/" target="_blank">
												<div class="sources-option-title">
													<h5>CareerOneStop</h5><img alt="World" src="assets/images/www_icon.png" />
												</div>
												<div class="sources-img"><img alt="CareerOneStop" src="assets/images/careeronestop.jpg" /></div>
											</a>
										</div>
										<div class="sources-content-item"><a href="https://cte.ed.gov/wbltoolkit/" target="_blank">
												<div class="sources-option-title">
													<h5>Workbased Learning Toolkit</h5><img alt="World" src="assets/images/www_icon.png" />
												</div>
												<div class="sources-img"><img alt="Workbased Learning Toolkit"
														src="assets/images/FedRes_workbasedlearning.jpg" /></div>
											</a>
										</div>
									</div>
								</div>
								<div class="sources-content-inner">
									<h4>Military</h4>
									<div class="sources-content">
										<div class="sources-content-item"><a href="{{documents}}Military_Check_list.pdf" target="_blank">
												<div class="sources-option-title">
													<h5>Enlistment Checklist</h5><img alt="PDF" src="assets/images/pdf_icon.png" />
												</div>
												<div class="sources-img"><img alt="Enlistment Checklist" src="assets/images/Military_check_list.jpg" /></div>
											</a>
										</div>
										<div class="sources-content-item"><a href="{{ssoUrl}}options-becoming-an-officer/rotc" target="_blank">
												<div class="sources-option-title">
													<h5>ROTC</h5><img alt="World" src="assets/images/www_icon.png" />
												</div>
												<div class="sources-img"><img alt="ROTC" src="assets/images/FederalResource.jpg" /></div>
											</a>
										</div>
										<div class="sources-content-item"><a href="{{ssoUrl}}options-becoming-an-officer/service-academies"
												target="_blank">
												<div class="sources-option-title">
													<h5>Service Academies</h5><img alt="World" src="assets/images/www_icon.png" />
												</div>
												<div class="sources-img"><img alt="Service Academies" src="assets/images/FederalResource.jpg" /></div>
											</a>
										</div>
										<div class="sources-content-item"><a href="{{ssoUrl}}options" target="_blank">
												<div class="sources-option-title">
													<h5>Careers In the Military</h5><img alt="World" src="assets/images/www_icon.png" />
												</div>
												<div class="sources-img"><img alt="Careers In the Military"
														src="assets/images/FedRes_Careersinthemilitary.jpg" /></div>
											</a>
										</div>
										<div class="sources-content-item"><a href="https://www.todaysmilitary.com/educator-resources"
												target="_blank">
												<div class="sources-option-title">
													<h5>Today&rsquo;s Military</h5><img alt="World" src="assets/images/www_icon.png" />
												</div>
												<div class="sources-img"><img alt="Today’s Military" src="assets/images/FedRes_Todaysmilitary.jpg" /></div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="columns medium-12">
							<div class="learn-more"><a class="button expanded" href="option-ready">Learn more about your options</a></div>
						</div>
					</div>
				</div>
			</section>
			<section class="resources-educators bg-light-gray">
				<div class="row">
					<div class="columns medium-12">
						<h4>resources educators can use with students</h4>
						<div class="row">
							<div class="columns medium-3 small-12">
								<div class="resources-educators-content"><img alt="March2Success" src="assets/images/March2sucess.jpg" /><a
										href="https://www.march2success.com/" target="_blank">March2Success</a>
								</div>
							</div>
							<div class="columns medium-3 small-12">
								<div class="resources-educators-content"><img alt="Khan Academy" src="assets/images/Khan_acacdemy.jpg" /><a
										href="https://www.khanacademy.org" target="_blank">Khan Academy</a>
								</div>
							</div>
							<div class="columns medium-3 small-12">
								<div class="resources-educators-content"><img alt="DLIFLC" src="assets/images/DLIFLC.jpg" /><a
										href="https://www.dliflc.edu" target="_blank">Basic Skills Language &amp; Culture</a>
								</div>
							</div>
							<div class="columns medium-3 small-12">
								<div class="resources-educators-content"><img alt="Army Education Outreach Program"
										src="assets/images/army_education_Outreach_program.jpg" /><a href="https://www.dliflc.edu" target="_blank">Army
										Education Outreach Program</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="ask-question">
				<div class="row">
					<div class="columns medium-12">
						<h3>Are you directly involved in your states' legislation?</h3>
						<div class="learn-more"><a class="button expanded" href="legislation">
								Learn more about your state&rsquo;s
								legislation
							</a>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="row">
					<div class="medium-3 medium-pull-9 columns sub-nav-wrap">
						<div class="left-sub-nav show-for-small-only">
							<ul class="menu vertical">
								<li>
									<h3>MORE EDUCATOR INFORMATION</h3>
								</li>
								<li><a href="educators">The ASVAB CEP <em class="fa fa-angle-right"></em></a></li>
								<li><a href="educators-test">ASVAB Test <em class="fa fa-angle-right"></em></a></li>
								<li><a href="educators-post-test">Post-Test Activities <em class="fa fa-angle-right"></em></a></li>
								<li><a href="teachers">Classroom Tools <em class="fa fa-angle-right"></em></a></li>
								<li><a href="general-resources">All Resources <em class="fa fa-angle-right"></em></a></li>
							</ul>
						</div>
					</div>
				</div>
			</section><!-- Footer Top Banner -->
			<!-- <section class="footer-top-banner">
			<div class="row">
			<div class="columns medium-12 text-center">
			<p><a ng-controller="FooterController" ng-click="asvabModal()"><strong>Bring the ASVAB CEP to your
				school.</strong></a></p>
			</div>
			</div>
			</section> -->
		</div>

		<div *ngIf="showTeachers" class="bg-white">
			<br /><br />
			<section class="content-wrap teacher-content-wrap">
				<div class="row">
					<div class="medium-6 columns">
						<h1 class="top-lefttext" [innerHTML]="pageHtml[0]"></h1>
					</div>
				</div>
				<div class="row unlock-iconbox text-center">
					<div class="small-12 medium-6 columns hide-for-large ng-scope" ng-controller="LogOutController">
						<div class="get-started row" *ngIf="!_userService.isLoggedIn()"><br /><a class="button"
								(click)="openRegistrtionModal()">Create Your Account / Log in <img alt="teacher-landing-right-arrow"
									src="assets/images/teacher-landing-right-arrow.png" /></a>
						</div>
					</div>
				</div>
			</section>
			<section class="unlock-section">
				<div class="row">
					<div class="small-6 columns pull-right">
						<div class="teacher-video-box pull-right"><span>Program Overview:</span>
							<div>
								<!-- <img src="assets/images/teacher-video-img.png" alt="teacher-video-img" />-->
		
								<iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""
									frameborder="0" height="227" src="https://www.youtube.com/embed/QUxuMuupXZY" width="404"></iframe></div>
						</div>
					</div>
					<div class="small-6 columns"><a href="/asvab-cep-at-your-school"><img alt="unlocklogo" class="unlocklogo"
								src="https://dev-media.asvabprogram.com/LANDING_PAGES/Be_ready_bring_it_to_your_school.png" /></a></div>
				</div>
				<div class="row">
					<div class="unlock-iconbox text-center">
						<div class="small-12 columns hide-for-small-only" ng-controller="LogOutController">
							<div class="get-started show-for-large" *ngIf="!_userService.isLoggedIn()"><a (click)="openRegistrtionModal()">
									Create Your Account / Log
									in <img alt="teacher-landing-right-arrow" src="assets/images/teacher-landing-right-arrow.png" /></a>
							</div>
							<div class="get-started" *ngIf="_userService.isLoggedIn()"><a href="classroom-activities">Classroom Activities</a>
							</div>
						</div>
						<div class="small-4 columns show-for-small-only" ng-controller="LogOutController">
							<div class="umlock-box">
								<div class="get-started" *ngIf="_userService.isLoggedIn()"><a href="classroom-activities">Classroom Activities</a>
								</div>
							</div>
						</div>
						<div class="small-4 columns">
							<div class="umlock-box"><span>
									<strong>Meaningful career exploration</strong> related to skills and
									interests
								</span>
								<img alt="unlock-boxicon1" src="assets/images/unlock-boxicon1.png" /></div>
						</div>
						<div class="small-4 columns">
							<div class="umlock-box"><span>
									<strong>A ready-to-use toolkit</strong> you can use to connect your classroom to
									the real world
								</span>
								<img alt="unlock-boxicon2" src="assets/images/unlock-boxicon2.png" /></div>
						</div>
						<div class="small-4 columns">
							<div class="umlock-box"><span>
									<strong>Resources your students can use</strong> to make a plan for their
									futures
								</span>
								<img alt="unlock-boxicon3" src="assets/images/unlock-boxicon3.png" /></div>
						</div>
					</div>
				</div>
				<div class="rightarrow-panel"><a href="asvab-cep-at-your-school">
						Bring the ASVAB CEP to Your School <span>
							<img alt="teacher-landing-right-arrow" src="assets/images/teacher-landing-right-arrow.png" /></span>
					</a>
				</div>
			</section>
			<section class="people-saying">
				<div class="row">
					<div class="small-12">
						<h2>WHAT PEOPLE ARE SAYING</h2>
						<div class="peoplesaying-first">
							<h6 class="graybigtitle">IN THE NEWS</h6>
							<ul class="purple-list" [innerHTML]="pageHtml[1]">
								<!-- <li><a
										href="http://www.newsminer.com/news/local_news/fairbanks-principal-lives-hutchison-s-job-training-mission/article_9cd84746-cdd2-11e7-9a48-4f8a0aee09ae.html"
										target="_blank">Fairbanks principal lives Hutchison's job-training mission</a>
								</li>
								<li><a
										href="https://www.dcourier.com/news/2017/oct/17/phs-senior-remains-focused-his-future/?utm_source&amp;utm_medium&amp;utm_campaign"
										target="_blank">PHS senior remains focused on his future</a>
								</li>
								<li><a href="http://ptaourchildren.org/girl-meets-working-world/" target="_blank">Girl meets working world</a>
								</li>
								<li></li>
								<li><a
										href="http://www.denverpost.com/2017/08/07/new-law-students-must-be-told-about-skilled-labor-military-careers/"
										target="_blank">New law says students must be told about skilled labor, military careers</a>
								</li> -->
							</ul>
						</div>
						<div class="image-sharebox" id="videos">
							<h6 class="graybigtitle">ASVAB CEP IN ACTION</h6>
							<div class="row">
								<div class="small-4 columns">
									<div class="sharables-image"><img
											(click)="showVideoDialog('https://www.youtube.com/embed/eKognpXeN0M?rel=0')" src="assets/images/action1.jpg"
											style="cursor:pointer;" />
										<div class="sharables-share">
											<ul>
												<li>Share</li>
												<!-- <li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.youtube.com/watch?v=eKognpXeN0M"
																					tabindex="0"><em class="fa fa-facebook"></em></a></li>
																			<li><a href="https://twitter.com/home?status=https%3A//www.youtube.com/watch?v=eKognpXeN0M"
																					tabindex="0"><em class="fa fa-twitter"></em></a></li>
																			<li><a
																					href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A//www.youtube.com/watch?v=eKognpXeN0M&amp;title=&amp;summary=&amp;source="
																					tabindex="0"><em class="fa fa-linkedin"></em></a></li>
																			<li><a href="mailto:?&amp;body=https%3A//www.youtube.com/watch?v=eKognpXeN0M" tabindex="0"><em
																						class="fa fa-envelope"></em></a></li> -->
												<li><a href="#" (click)="trackSocialShare('Facebook', 'Teachers');"  socialshare=""
														socialshare-provider="facebook" socialshare-url="https://www.youtube.com/watch?v=eKognpXeN0M"
														socialshare-via="2055205968038605">
														<em></em></a>
												</li>
												<li><a href="#" (click)="trackSocialShare('Twitter', 'Teachers');"  socialshare=""
														socialshare-provider="twitter" socialshare-text="ASVAB CEP is a great tool for assessment"
														socialshare-url="https://www.youtube.com/watch?v=eKognpXeN0M"
														socialshare-via="ASVABCEP"><em></em></a>
												</li>
												<li><a href="#" (click)="trackSocialShare('LinkedIn', 'Teachers');"  socialshare=""
														socialshare-description="A great tool for assessment" socialshare-provider="linkedin"
														socialshare-text="With ASVAB CEP, I explored: A great tool for assessment"
														socialshare-url="https://www.youtube.com/watch?v=eKognpXeN0M&title=&summary=&source="><em></em></a>
												</li>
												<li><a href="#" (click)="trackSocialShare('Email', 'Teachers');"  socialshare=""
														socialshare-body="With ASVAB CEP, I explored: A great tool for assessment. https://www.youtube.com/watch?v=eKognpXeN0M"
														socialshare-provider="email"
														socialshare-subject="With ASVAB CEP, I explored: A great tool for assessment"><em></em></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="small-4 columns">
									<div class="sharables-image"><img
											(click)="showVideoDialog('https://www.youtube.com/embed/PS2mLzDPsaA?rel=0')" src="assets/images/action2.jpg"
											style="cursor:pointer;" />
										<div class="sharables-share">
											<ul>
												<li>Share</li>
												<!-- <li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.youtube.com/watch?v=PS2mLzDPsaA"
																					tabindex="0"><em class="fa fa-facebook"></em></a></li>
																			<li><a href="https://twitter.com/home?status=https%3A//www.youtube.com/watch?v=PS2mLzDPsaA"
																					tabindex="0"><em class="fa fa-twitter"></em></a></li>
																			<li><a
																					href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A//www.youtube.com/watch?v=PS2mLzDPsaA&amp;title=&amp;summary=&amp;source="
																					tabindex="0"><em class="fa fa-linkedin"></em></a></li>
																			<li><a href="mailto:?&amp;body=https%3A//www.youtube.com/watch?v=PS2mLzDPsaA" tabindex="0"><em
																						class="fa fa-envelope"></em></a></li> -->
												<li><a href="#" (click)="trackSocialShare('Facebook', 'Teachers');"  socialshare=""
														socialshare-provider="facebook" socialshare-url="https://www.youtube.com/watch?v=PS2mLzDPsaA"
														socialshare-via="2055205968038605">
														<em></em></a>
												</li>
												<li><a href="#" (click)="trackSocialShare('Twitter', 'Teachers');"  socialshare=""
														socialshare-provider="twitter" socialshare-text="ASVAB CEP is not just a military test"
														socialshare-url="https://www.youtube.com/watch?v=PS2mLzDPsaA"
														socialshare-via="ASVABCEP"><em></em></a>
												</li>
												<li><a href="#" (click)="trackSocialShare('LinkedIn', 'Teachers');"  socialshare=""
														socialshare-description="It's not just a military test" socialshare-provider="linkedin"
														socialshare-text="With ASVAB CEP, I explored: It's not just a military test"
														socialshare-url="https://www.youtube.com/watch?v=PS2mLzDPsaA&title=&summary=&source="><em></em></a>
												</li>
												<li><a href="#" (click)="trackSocialShare('Email', 'Teachers');"  socialshare=""
														socialshare-body="With ASVAB CEP, I explored: It's not just a military test. https://www.youtube.com/watch?v=PS2mLzDPsaA"
														socialshare-provider="email"
														socialshare-subject="With ASVAB CEP, I explored: It's not just a military test"><em></em></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="small-4 columns">
									<div class="sharables-image"><img
											(click)="showVideoDialog('https://www.youtube.com/embed/mQkvzhvB6Lo?rel=0')" src="assets/images/action3.jpg"
											style="cursor:pointer;" />
										<div class="sharables-share">
											<ul>
												<li>Share</li>
												<!-- <li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.youtube.com/watch?v=mQkvzhvB6Lo"
																					tabindex="0"><em class="fa fa-facebook"></em></a></li>
																			<li><a href="https://twitter.com/home?status=https%3A//www.youtube.com/watch?v=mQkvzhvB6Lo"
																					tabindex="0"><em class="fa fa-twitter"></em></a></li>
																			<li><a
																					href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A//www.youtube.com/watch?v=mQkvzhvB6Lo&amp;title=&amp;summary=&amp;source="
																					tabindex="0"><em class="fa fa-linkedin"></em></a></li>
																			<li><a href="mailto:?&amp;body=https%3A//www.youtube.com/watch?v=mQkvzhvB6Lo" tabindex="0"><em
																						class="fa fa-envelope"></em></a></li> -->
												<li><a href="#" (click)="trackSocialShare('Facebook', 'Teachers');"  socialshare=""
														socialshare-provider="facebook" socialshare-url="https://www.youtube.com/watch?v=mQkvzhvB6Lo"
														socialshare-via="2055205968038605">
														<em></em></a>
												</li>
												<li><a href="#" (click)="trackSocialShare('Twitter', 'Teachers');"  socialshare=""
														socialshare-provider="twitter" socialshare-text="ASVAB CEP uses aptitude & interests for planning"
														socialshare-url="https://www.youtube.com/watch?v=mQkvzhvB6Lo"
														socialshare-via="ASVABCEP"><em></em></a>
												</li>
												<li><a href="#" (click)="trackSocialShare('LinkedIn', 'Teachers');"  socialshare=""
														socialshare-description="Uses aptitude & interests for planning" socialshare-provider="linkedin"
														socialshare-text="With ASVAB CEP, I explored: Uses aptitude & interests for planning"
														socialshare-url="https://www.youtube.com/watch?v=mQkvzhvB6Lo&title=&summary=&source="><em></em></a>
												</li>
												<li><a href="#" (click)="trackSocialShare('Email', 'Teachers');"  socialshare=""
														socialshare-body="With ASVAB CEP, I explored: Uses aptitude & interests for planning. https://www.youtube.com/watch?v=mQkvzhvB6Lo"
														socialshare-provider="email"
														socialshare-subject="With ASVAB CEP, I explored: Uses aptitude & interests for planning"><em></em></a>
												</li><a href="mailto:?&amp;body=https%3A//www.youtube.com/watch?v=mQkvzhvB6Lo" tabindex="0"></a>
											</ul><a href="mailto:?&amp;body=https%3A//www.youtube.com/watch?v=mQkvzhvB6Lo" tabindex="0"></a>
										</div><a href="mailto:?&amp;body=https%3A//www.youtube.com/watch?v=mQkvzhvB6Lo" tabindex="0"></a>
									</div><a href="mailto:?&amp;body=https%3A//www.youtube.com/watch?v=mQkvzhvB6Lo" tabindex="0"></a>
								</div><a href="mailto:?&amp;body=https%3A//www.youtube.com/watch?v=mQkvzhvB6Lo" tabindex="0"></a>
							</div><a href="mailto:?&amp;body=https%3A//www.youtube.com/watch?v=mQkvzhvB6Lo" tabindex="0"></a>
						</div>
						<a href="mailto:?&amp;body=https%3A//www.youtube.com/watch?v=mQkvzhvB6Lo" tabindex="0">
							<div class="quotes-column">
								<h6 class="graybigtitle">QUOTES FROM EDUCATORS</h6>
								<div class="small-4 columns">
									<div class="quotes-box"><strong>"This is the best out of everything you've given us." </strong>
										<span>Senior, Cumberland County High School</span>
									</div>
								</div>
								<div class="small-4 columns">
									<div class="quotes-box"><strong>
											"There's this stigma that it's just a military test but, in my opinion, it's
											the best career test."
										</strong>
										<span>Kathy Hassler, assistant principal at Cumberland County High School</span>
									</div>
								</div>
								<div class="small-4 columns">
									<div class="quotes-box"><strong>
											"[One of my students] said that he didn't think college was for him, but after
											he took part in the ASVAB Career Exploration Program, he realized that there were college options that
											interested him.He now is determined to work toward the goal of acquiring his dream job."
										</strong>
										<span>Cheryle Hudson, 10th Grade Counselor at Soddy Daisy High School</span>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				<a href="mailto:?&amp;body=https%3A//www.youtube.com/watch?v=mQkvzhvB6Lo" tabindex="0"></a>
			</section>
			<section>
				<div class="row">
					<div class="medium-3 medium-pull-9 columns sub-nav-wrap">
						<div class="left-sub-nav show-for-small-only">
							<ul class="menu vertical">
								<li>
									<h3>MORE EDUCATOR INFORMATION</h3>
								</li>
								<li><a href="educators">The ASVAB CEP <em class="fa fa-angle-right"></em></a></li>
								<li><a href="educators-test">ASVAB Test <em class="fa fa-angle-right"></em></a></li>
								<li><a href="educators-post-test">Post-Test Activities <em class="fa fa-angle-right"></em></a></li>
								<li><a href="federally-funded-sources">Federally Funded Sources <em class="fa fa-angle-right"></em></a></li>
								<li><a href="general-resources">All Resources <em class="fa fa-angle-right"></em></a></li>
							</ul>
							
							<br>
							<br>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<app-footer></app-footer>
</div>