/* Buttons */
.button {
	background: #178388 none repeat scroll 0 0;
	border: 1px solid transparent;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: "Open Sans",sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.2;
	margin: 2rem 1rem 1rem 1rem;
	padding: 8px 20px;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.25s ease-out 0s;
	vertical-align: middle;
	width: 100%;
}
.button:hover, .button:focus {
	background: #146f74 none repeat scroll 0 0;
	color: #fff;
}
