		<div class="modal-options">
		<!-- <div class="custom-modal-backdrop"></div> -->
		<div class="custom-modal-lg">
			<div class="custom-modal-content table-contents-wrap marine-modal school-details-modal">
				<div class="custom-modal-body">
					<div class="titles modal-header" *ngIf="title">
						<h3 id="title" >
							{{ title | uppercase }}
						</h3>
						<!-- <button mat-button [mat-dialog-close]="true" class="close-button" (click)="onNoClick()">
							<span aria-hidden="true">&times;</span>
						</button> -->
					</div>

					

						<div innerHtml="{{ message }}"></div>

					
					<div class="close-button-div text-right modal-footer">
						<button type="button" mat-dialog-close class="button" (click)="onNoClick()">ok</button>
					</div>
				</div>
			</div>
		</div>
	</div>
