<h3 mat-dialog-title>Sample ASVAB Test Questions</h3>

<mat-dialog-content>
	<div>
		<h3>Auto Information</h3>
		<p>Q1. The radiator on a car is part of the</p>
		<ul class="sample-questions">
			<li><input type="radio" name="answer0" [(ngModel)]="answers[0].selection" value="a" /> A. cooling system..</li>
			<li><input type="radio" name="answer0" [(ngModel)]="answers[0].selection" value="b" /> B. ignition system.</li>
			<li><input type="radio" name="answer0" [(ngModel)]="answers[0].selection" value="c" /> C. electrical system.</li>
			<li><input type="radio" name="answer0" [(ngModel)]="answers[0].selection" value="d" /> D. lubrication system.</li>
		</ul>
		<p [innerHtml]="answers[0].message"></p>
		<hr>

		<h3>Arithmetic Reasoning</h3>
		<p>Q2. A faucet gives 20 gallons of water in 5 seconds. How many gallons does it give in 7 seconds?</p>
		<ul class="sample-questions">
			<li><input type="radio" name="answer1" [(ngModel)]="answers[1].selection" value="a" /> A. 24</li>
			<li><input type="radio" name="answer1" [(ngModel)]="answers[1].selection" value="b" /> B. 26</li>
			<li><input type="radio" name="answer1" [(ngModel)]="answers[1].selection" value="c" /> C. 28</li>
			<li><input type="radio" name="answer1" [(ngModel)]="answers[1].selection" value="d" /> D. 30</li>
		</ul>
		<p [innerHtml]="answers[1].message"></p>
		<hr>

		<h3>Electronics Information</h3>
		<p>Q3. What does the abbreviation AC stand for?</p>
		<ul class="sample-questions">
			<li><input type="radio" name="answer2" [(ngModel)]="answers[2].selection" value="a" /> A. additional charge</li>
			<li><input type="radio" name="answer2" [(ngModel)]="answers[2].selection" value="b" /> B. alternating coil</li>
			<li><input type="radio" name="answer2" [(ngModel)]="answers[2].selection" value="c" /> C. alternating current</li>
			<li><input type="radio" name="answer2" [(ngModel)]="answers[2].selection" value="d" /> D. ampere current</li>
		</ul>
		<p [innerHtml]="answers[2].message"></p>
		<hr>

		<h3>General Science</h3>
		<p>Q4. The principle gas in the earth's atmosphere is</p>
		<ul class="sample-questions">
			<li><input type="radio" name="answer3" [(ngModel)]="answers[3].selection" value="a" /> A. argon.</li>
			<li><input type="radio" name="answer3" [(ngModel)]="answers[3].selection" value="b" /> B. neon.</li>
			<li><input type="radio" name="answer3" [(ngModel)]="answers[3].selection" value="c" /> C. nitrogen.</li>
			<li><input type="radio" name="answer3" [(ngModel)]="answers[3].selection" value="d" /> D. oxygen.</li>
		</ul>
		<p [innerHtml]="answers[3].message"></p>
		<hr>

		<h3>Mechanical Comprehension</h3>
		<p>Q5. Which shelf will support the most weight?</p>
		<ul class="sample-questions">
			<li><img src="assets/images/icat_q5.jpg"/></li>
			<li><input type="radio" name="answer4" [(ngModel)]="answers[4].selection" value="a" /> A. A</li>
			<li><input type="radio" name="answer4" [(ngModel)]="answers[4].selection" value="b" /> B. B</li>
			<li><input type="radio" name="answer4" [(ngModel)]="answers[4].selection" value="c" /> C. C</li>
			<li><input type="radio" name="answer4" [(ngModel)]="answers[4].selection" value="d" /> D. D</li>
		</ul>
		<p [innerHtml]="answers[4].message"></p>
		<hr>
		
		<p>Q6. What type of gear arrangement is this?</p>
		<ul class="sample-questions">
			<li><img src="assets/images/icat_q6.jpg"/></li>
			<li><input type="radio" name="answer5" [(ngModel)]="answers[5].selection" value="a" /> A. spur</li>
			<li><input type="radio" name="answer5" [(ngModel)]="answers[5].selection" value="b" /> B. bevel</li>
			<li><input type="radio" name="answer5" [(ngModel)]="answers[5].selection" value="c" /> C. rack and pinion</li>
			<li><input type="radio" name="answer5" [(ngModel)]="answers[5].selection" value="d" /> D. worm and wheel</li>
		</ul>
		<p [innerHtml]="answers[5].message"></p>
		<hr>
		
		<h3>Mathematics Knowledge</h3>
		<p>Q7. The ratio 36 : 12 is the same as</p>
		<ul class="sample-questions">
			<li><input type="radio" name="answer6" [(ngModel)]="answers[6].selection" value="a" /> A. 2 : 1</li>
			<li><input type="radio" name="answer6" [(ngModel)]="answers[6].selection" value="b" /> B. 3 : 1</li>
			<li><input type="radio" name="answer6" [(ngModel)]="answers[6].selection" value="c" /> C. 4 : 1</li>
			<li><input type="radio" name="answer6" [(ngModel)]="answers[6].selection" value="d" /> D. 5 : 1</li>
		</ul>
		<p [innerHtml]="answers[6].message"></p>
		<hr>
		
		<h3>Paragraph Comprehension</h3>
		<p>Q8. The orientation of a large expanse of glass in a house is important. Improperly positioned, it can cost precious fuel dollars, whereas good orientation can minimize heat lost in the winter and gained in the summer. The best direction to face is south, to make good use of solar energy. Since the sun is low in the southern sky during the winter, orienting any glass in that direction will allow light to shine through and help heat the home. During the summer, the sun is higher in the sky, and an overhang from the roof will shield the glass from direct sunlight.</p>
		<p>According to the passage, large expanses of glass should be positioned to</p>
		<ul class="sample-questions">
			<li><input type="radio" name="answer7" [(ngModel)]="answers[7].selection" value="a" /> A. take advantage of summer sunlight.</li>
			<li><input type="radio" name="answer7" [(ngModel)]="answers[7].selection" value="b" /> B. control heat gain and loss.</li>
			<li><input type="radio" name="answer7" [(ngModel)]="answers[7].selection" value="c" /> C. shield the house from the low winter sun.</li>
			<li><input type="radio" name="answer7" [(ngModel)]="answers[7].selection" value="d" /> D. avoid blockage of sunlight by an overhanging roof.</li>
		</ul>
		<p [innerHtml]="answers[7].message"></p>
		<hr>
		
		<h3>Word Knowledge</h3>
		<p>Q9. <i>Quiver</i> most nearly means</p>
		<ul class="sample-questions">
			<li><input type="radio" name="answer8" [(ngModel)]="answers[8].selection" value="a" /> A. shake.</li>
			<li><input type="radio" name="answer8" [(ngModel)]="answers[8].selection" value="b" /> B. dance.</li>
			<li><input type="radio" name="answer8" [(ngModel)]="answers[8].selection" value="c" /> C. rest.</li>
			<li><input type="radio" name="answer8" [(ngModel)]="answers[8].selection" value="d" /> D. run.</li>
		</ul>
		<p [innerHtml]="answers[8].message"></p>
		<hr>
		
		<p>Q10. What type of wood joint is shown here?</p>
		<ul class="sample-questions">
			<li><img src="assets/images/icat_q10.jpg"/></li>
			<li><input type="radio" name="answer9" [(ngModel)]="answers[9].selection" value="a" /> A. dado</li>
			<li><input type="radio" name="answer9" [(ngModel)]="answers[9].selection" value="b" /> B. dovetail</li>
			<li><input type="radio" name="answer9" [(ngModel)]="answers[9].selection" value="c" /> C. expansion</li>
			<li><input type="radio" name="answer9" [(ngModel)]="answers[9].selection" value="d" /> D. tongue and groove</li>
		</ul>
		<p [innerHtml]="answers[9].message"></p>
		<hr>
		
		<h3>Assembling Objects</h3>
		<p>Q11. Assembling Objects tests your ability to determine how an object will look when its parts
		are put together. Choose the figure that best shows how the objects in the box will touch if
		the letters for each object are matched.
		</p>
		<ul class="sample-questions">
			<li><img src="assets/images/icat_q11.jpg"/></li>
			<li><input type="radio" name="answer10" [(ngModel)]="answers[10].selection" value="a" /> A. A</li>
			<li><input type="radio" name="answer10" [(ngModel)]="answers[10].selection" value="b" /> B. B</li>
			<li><input type="radio" name="answer10" [(ngModel)]="answers[10].selection" value="c" /> C. C</li>
			<li><input type="radio" name="answer10" [(ngModel)]="answers[10].selection" value="d" /> D. D</li>
		</ul>
		<p [innerHtml]="answers[10].message"></p>
		<hr>
		
		<p>Q12. Assembling Objects tests your ability to determine how an object will look when its parts
		are put together. Choose the figure that best shows how the objects in the box will touch if
		the letters for each object are matched.
		</p>
		<ul class="sample-questions">
			<li><img src="assets/images/icat_q12.jpg"/></li>
			<li><input type="radio" name="answer11" [(ngModel)]="answers[11].selection" value="a" /> A. A</li>
			<li><input type="radio" name="answer11" [(ngModel)]="answers[11].selection" value="b" /> B. B</li>
			<li><input type="radio" name="answer11" [(ngModel)]="answers[11].selection" value="c" /> C. C</li>
			<li><input type="radio" name="answer11" [(ngModel)]="answers[11].selection" value="d" /> D. D</li>
		</ul>
		<p [innerHtml]="answers[11].message"></p>
	</div>
</mat-dialog-content>
<mat-dialog-actions style="margin-top: 30px">
	<div class="small-12 columns">
		<button class="button" style="padding: 5px;" type="button" (click)="checkAnswers(); trackGoogleAnalytics();">Check My Answers</button>
		<button class="button" style="padding: 5px;" type="button" mat-dialog-close>Close</button>
	</div>
</mat-dialog-actions>
