<div id="fyi" class="occufind">
	<app-header></app-header>
	<app-my-asvab-header></app-my-asvab-header>

	<section id="content-wrap" class="left-nav-expanded-wrap">
		<div class="row">
			<app-left-navigation-v2-collapsed [selectedTab]="'learn'"></app-left-navigation-v2-collapsed>

			<section id="main-content" class="medium-10 left-navigation-condensed" role="main">
				<app-my-top-results-collapsed [collapsedVersion]="'v2'"></app-my-top-results-collapsed>
				<div id="left-nav-content-wrap">
				<div class="row">
					<div class="medium-12 columns">
                        
                    <h4 id="wv-orderHeading">Your work Value order</h4>

					<ul class="wv-resultsTable wv-results"><li *ngFor="let s of workValueTopResults; let i = index"><ng-container *ngIf="i < 3">
					<strong class="wv-key" >{{i + 1}}</strong> <strong class="wv-label">{{s.TypeId == 1 ? 'Achievement': s.TypeId == 2 ? 'Independence' : s.TypeId == 3 ? 'Recognition' : s.TypeId == 4 ? 'Relationships' : s.TypeId == 5 ? 'Support' : 'Working Conditions'}}</strong>
                    <img src="assets/images/wv-Achievement.png" *ngIf="s.TypeId == 1" style="object-fit: contain;">
                    <img src="assets/images/wv-Independence.png" *ngIf="s.TypeId == 2" style="object-fit: contain;">
                    <img src="assets/images/wv-Recognition.png" *ngIf="s.TypeId == 3" style="object-fit: contain;">
                    <img src="assets/images/wv-Relationships.png" *ngIf="s.TypeId == 4" style="object-fit: contain;">
                    <img src="assets/images/wv-Support.png" *ngIf="s.TypeId == 5" style="object-fit: contain;">
                    <img src="assets/images/wv-Working-Conditions.png" *ngIf="s.TypeId == 6" style="object-fit: contain;">
								<span *ngIf="s.TypeId == 1">Workers who score high on
									Achievement are results-oriented. These workers often pursue
									jobs where employees are able to apply their strengths and
									abilities. This gives the employee a sense of accomplishment. </span>
								<span *ngIf="s.TypeId == 2">Workers who score high on
									Independence value the ability to approach work activities with
									creativity. These workers want to make their own decisions and
									plan their work with little supervision from a manager. </span>
								<span *ngIf="s.TypeId == 3">Workers who score high on
									Recognition pursue jobs with opportunities for advancement and
									leadership responsibilities that allow them to give direction
									and instruction to others. These workers are often considered
									prestigious by their peers and others in their organization and
									receive recognition for the work they contribute. </span> <span
								*ngIf="s.TypeId == 4">Workers who score high on
									Relationships prefer jobs that provide services to others and
									working with co-workers in a friendly, non-competitive
									environment. Workers in these jobs value getting along well
									with others and do not like to be pressured to do things that
									go against their morals or sense of what is right and wrong. </span>
								<span *ngIf="s.TypeId == 5">Workers who score high on
									Support appreciate when their company's leadership stands
									behind and supports their employees. People in these types of
									jobs like to feel like they are being treated fairly by the
									company and have supervisors who spend time and effort training
									their workers to perform well. </span> <span
								*ngIf="s.TypeId == 6">Workers who score high on Working
									Conditions value job security and pleasant working conditions.
									These workers enjoy being busy and want to be paid well for the
									work they do. They enjoy developing ways of doing things with
									little or no supervision and depend on themselves to get the
									work done. These workers pursue steady employment that offers
									something different to do on a daily basis. </span>

							</ng-container></li></ul>
                      
                    <!-- <p class="wv-legend"><img class="wv-check" src="assets/images/wv-check.svg" style=""> Signifies your top work values</p> -->
					
					</div>
				</div>


					<div class="wv-resultActions">
						<div class="wv-tiedButton">
							<a class="button" href="occufind-occupation-search" style="padding: 8px 40px">START EXPLORING</a>      
						</div>
						<a (click)="retakeWorkValues()" style="margin-top: 15px">Retake Assessment</a>      
					</div>
				</div>
			</section>

		</div>
		<!-- <app-left-navigation-mobile></app-left-navigation-mobile> -->
	</section>

	<app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
	<app-footer></app-footer>
</div>