<div class="occufind">
  <app-header></app-header>
  <app-my-asvab-header></app-my-asvab-header>

  <section id="content-wrap" class="left-nav-expanded-wrap">
    <div class="row">
      <app-left-navigation-v2-mentor class="hide-for-small-only" [selectedTab]="'explore'">
      </app-left-navigation-v2-mentor>

      <section id="main-content" class="left-navigation-expanded" role="main">

        <div class="mt-40">

          <a routerLink="/mentor-dashboard" class="text-uppercase">Back to list</a>

          <div class="mentor-setting">
            <h2>Account Settings</h2>
            <div class="row">
              <div class="columns large-6 mb-30">
                <p *ngIf="user?.firstName && user?.lastName">Name:&nbsp;<span
                    class="text-first-cap">{{user.firstName}}</span>&nbsp;<span
                    class="text-first-cap">{{user.lastName}}</span></p>
                <div class="d-flex align-items-center mb-15">
                  <p class="mb-0 mr-30">Email: {{user?.username}}</p>
                </div>
                <p>Password: ******</p>
                <button (click)="editAccountModal()" class="button">Change Profile</button>
              </div>

              <div class="columns large-6 mb-30">
                <p>Linked schools:</p>


                <div *ngFor="let school of selectedSchools | orderBy: 'schoolName'; let i = index;"
                  class="d-flex justify-space-between mb-15">
                  <p class="mb-0">{{school.schoolName}}</p>
                  <a (click)="removeSelectedSchool(school)" title="Remove School">
                    <img src="assets/images/close-blue.svg" alt="Remove" title="Remove"></a>
                </div>
                <button class="button" (click)="showLinkedSchools()">Add a school</button>
              </div>
            </div>

            <hr>

            <p><b>Notification Settings</b></p>
            <form name="settingsForm" (submit)="updateSettings()">
              <div class="form-group mb-15">
                <label for="chekmark1" class="checkmark_redesign mb-10">
                  <input type="checkbox" id="chekmark1" name="wouldLikeToReceiveNotifications"
                    [(ngModel)]="wouldLikeToReceiveNotifications" (change)="isDirty = true" />
                  <span class="checkmark_box"></span>
                  I would like to receive email notifications and alerts from the ASVAB CEP.
                </label>
              </div>
              <div class="form-group mb-15">
                <label for="chekmark2" class="checkmark_redesign mb-10">
                  <input type="checkbox" id="chekmark2" name="wouldLikeToReceiveMarketingComm"
                    [(ngModel)]="wouldLikeToReceiveMarketingComm" (change)="isDirty = true" />
                  <span class="checkmark_box"></span>
                  I would like to receive periodic marketing communications from the ASVAB CEP.
                </label>
              </div>
              <div class="form-group mb-15">
                <label for="chekmark3" class="checkmark_redesign mb-10">
                  <input type="checkbox" id="chekmark3" name="sendDesignatedStudentSummaries"
                    [(ngModel)]="sendDesignatedStudentSummaries" (change)="isDirty = true" />
                  <span class="checkmark_box"></span>
                  Send me my designated students' summary list of accomplishments:
                </label>

                <div class="pl-25">
                  <div class="form-group d-inline-block mr-30">
                    <input type="radio" name="sendDesignatedStudentSummariesOption" id="weekly" [disabled]="!sendDesignatedStudentSummaries"
                      (change)="isDirty = true" [(ngModel)]="sendDesignatedStudentSummariesOption" value="weekly"
                      class="mb-0">
                    <label for="weekly">Weekly</label>
                  </div>
                  <div class="form-group d-inline-block">
                    <input type="radio" name="sendDesignatedStudentSummariesOption" id="monthly" [disabled]="!sendDesignatedStudentSummaries"
                      (change)="isDirty = true" [(ngModel)]="sendDesignatedStudentSummariesOption" value="monthly"
                      class="mb-0">
                    <label for="monthly">Monthly</label>
                  </div>
                </div>

              </div>
              <div class="form-group mb-15">
                <label for="chekmark4" class="checkmark_redesign mb-10">
                  <input type="checkbox" id="chekmark4" name="wouldLikeToReceiveMonthlyNewsletter"
                    [(ngModel)]="wouldLikeToReceiveMonthlyNewsletter" (change)="isDirty = true" />
                  <span class="checkmark_box"></span>
                  I would like to receive the monthly newsletter
                </label>
              </div>

              <button type="submit" class="button mt-30" [disabled]="!isDirty || isSaving">Apply
                <span *ngIf="isSaving" id="save-indicator"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></span>
              </button>
            </form>
          </div>
        </div>
      </section>
    </div>
  </section>

  <app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>

  <app-footer></app-footer>
</div>