.text-uppercase {
  text-transform: uppercase;
}

.text-first-cap{
    text-transform: capitalize;
}

.pl-25 {
  padding-left: 25px;
}

.mentor-setting {
  font-size: 14px;
  color: #4A4A4A;
  margin-top: 25px;

  h2 {
      font-size: 18px;
      text-transform: inherit;
  }

  .button {
      font-size: 14px !important;
      min-width: 164px;
      padding: 6px 10px !important;
      margin: 0;
  }

  .checkmark_redesign {
      position: relative;
      line-height: normal;
      padding-left: 25px;

      input {
          opacity: 0;
          height: 0;
          width: 0;
          overflow: hidden;
          visibility: hidden;
          pointer-events: none;
          position: absolute;
          left: 0;
          top: 0;

          &:checked {
              & ~ .checkmark_box {
                  background-color: #1CAFB6;
                  border-color: #1CAFB6;
      
                  &::after {
                      display: block !important;
                  }
              }
          }
      }

      .checkmark_box {
          position: absolute;
          top: 2px;
          left: 0;
          height: 16px;
          width: 16px;
          background-color: #fff;
          border: 1px solid #979797;
          display: inline-block;

          &:after {
              content: "";
              position: absolute;
              display: none;
              left: 4px;
              top: 1px;
              width: 5px;
              height: 10px;
              border: solid white;
              border-width: 0 2px 2px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
          }
      }
  }
}