<!-- <update-meta name="description" content="Explore scholarly articles, communication templates, activities, and other resources to assist in career planning from the ASVAB Career Exploration Program."></update-meta> -->

<div class="occufind student general-resources">
	<app-header></app-header>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="large-3 large-push-9 columns">
				<p class="caps">Resources</p>
			</div>
			<div class="large-9 large-pull-3 columns">
				<ul id="sub-nav" class="menu">
					<li><a>&nbsp;</a></li>
				</ul>
			</div>
		</div>
	</section>

	<section class="slick-slider slider-section">

		<div class="container" *ngIf="resourceTopics && resourceTopics.length > 0">
			<div class="row" *ngFor="let topic of resourceTopics; let j=index;">
				<div id="box-row{{j + 1}}" ngClass="{{toggleViewClass[j] ? 'box-row allbox' : 'box-row'}}">
					<div class="slider-title">
						<div class="row">
							<div class="medium-6 small-6 columns">
								<h5>{{topic.resourceTopicTitle}}</h5>
							</div>
							<div class="medium-6 small-6 columns">
								<a class="d-click btn-view"><span (click)="toggleViewAll(j)">View all</span><span
									(click)="toggleViewLess(j)">View Less</span></a>
							</div>
						</div>
					</div>

					<div class="responsive">

						<ngx-slick-carousel class="carousel{{j}}" #slickModal="slick-carousel" [config]="slideConfig"
							(init)="slickInit($event)" (breakpoint)="breakpoint($event)"
							(afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
						<div ngxSlickItem *ngFor="let resource of topic.resources" class="slide">
								<a *ngIf="resource.resourceTypeId == resourceType.PopupVideo"
								(click)="showVideoDialog(resource.resourceUri)">
									<img src="{{documents}}thumbnails/{{resource.resourceThumbnailUri}}" />
								</a>
								<a *ngIf="resource.resourceTypeId != resourceType.PopupVideo">
									<img src="{{documents}}thumbnails/{{resource.resourceThumbnailUri}}" />
								</a>
							<div *ngIf="resource.resourceTypeId == resourceType.Document">
								<div *ngIf="resource.spanishResourceUri != undefined">
									<h4>{{resource.resourceTitle}}</h4>
									<ul>
										<li><a (click)="trackClick(resource.resourceUri)" target="_blank"
											href="{{documents}}{{resource.resourceUri}}">English</a></li>
										<li><a (click)="trackClick(resource.spanishResourceUri)" target="_blank"
											href="{{documents}}{{resource.spanishResourceUri}}">Spanish</a></li>
									</ul>
								</div>
								<div *ngIf="resource.spanishResourceUri == undefined">
									<h4 class="title-blue">
										<a (click)="trackClick(resource.resourceUri)" target="_blank"
											href="{{documents}}{{resource.resourceUri}}">{{resource.resourceTitle}}</a>
									</h4>
								</div>
							</div>
							<div *ngIf="resource.resourceTypeId != resourceType.Document">
								<h4 class="title-blue">
									<a *ngIf="resource.resourceTypeId == resourceType.PopupVideo"
										(click)="showVideoDialog(resource.resourceUri)">{{resource.resourceTitle}}</a> 
									<a *ngIf="resource.resourceTypeId != resourceType.PopupVideo" target="_blank"
										href="{{resource.resourceUri}}">{{resource.resourceTitle}}</a>
								</h4>
							</div>
						</div>
						</ngx-slick-carousel>
					</div>
					<div class="mobile-button">
						<!-- <a href="" (click)="goToBox((i + 1))" class="m-click"><span>View all</span><span>View Less</span><img src="assets/images/arrow-bottom-blue.png"/></a> -->
						<a class="m-click">
							<span (click)="toggleViewAll(j)">View all</span>
							<span (click)="toggleViewLess(j)">ViewLess</span>
							<img src="assets/images/arrow-bottom-blue.png" />
						</a>
					</div>

				</div>
			</div>
		</div>
	</section>

	<section class="media-center-section">
		<div class="row column">
			<div class="medium-12">
				<h2>
					<b>Check out the media center.</b>
				</h2>
			</div>
		</div>
		<div class="row column check-media-boxs">
			<div class="medium-3 small-3 columns">
				<div class="media-box">
					<img src="assets/images/Social-Media.png" alt="" />
					<h3>Social Media</h3>
				</div>
			</div>
			<div class="medium-3 small-3 columns">
				<div class="media-box">
					<img src="assets/images/Articles.png" alt="" />
					<h3>Articles</h3>
				</div>
			</div>
			<div class="medium-3 small-3 columns">
				<div class="media-box">
					<img src="assets/images/tools.png" alt="" />
					<h3>Tools</h3>
				</div>
			</div>
			<div class="medium-3 small-3 columns">
				<div class="media-box">
					<img src="assets/images/Much-More.png" alt="" />
					<h3>Much More</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="medium-12 columns text-center">
				<a class="btn white-button" href="media-center">Media Center</a>
			</div>
		</div>
	</section>

	<section class="links-all-data">
		<div class="row" *ngIf="quickLinkTopics && quickLinkTopics.length > 0">
			<div *ngFor="let topic of quickLinkTopics" class="medium-4 columns">
				<h4>{{topic.quickLinkTopicTitle}}</h4>
				<ul *ngFor="let quickLink of topic.quickLinks">
					<li *ngIf="quickLink.quickLinkTypeId == quickLinkType.Document"><a
						(click)="ga_trackClick(quickLink.quickLinkUrl)" target="_blank"
						href="{{documents}}{{quickLink.quickLinkUrl}}">{{quickLink.quickLinkTitle}}</a></li>
					<li *ngIf="quickLink.quickLinkTypeId == quickLinkType.Link"><a target="_blank"
						href="{{quickLink.quickLinkUrl}}">{{quickLink.quickLinkTitle}}</a></li>
					<li *ngIf="quickLink.quickLinkTypeId == quickLinkType.JavaScript"><a
						(click)="showModal(quickLink.quickLinkUrl); ga_trackSampleTestClick(quickLink.quickLinkGAVarName)">{{quickLink.quickLinkTitle}}</a></li>
				</ul>
			</div>
		</div>
	</section>

	<app-footer></app-footer>
</div>
