/* Resources */
.looking-select span b {
  font-size: 11px;
}
.looking-select > select {
  color: #000000;
  font-size: 13px;
  height: 2.2rem;
  margin-left: 3px;
}
.page-top-sub-hedding {
  background: #dcdfdf none repeat scroll 0 0;
  padding: 50px 0 20px;
  text-align: center;
}
.media-center-section {
  background-color: #24acac;
}
section.media-center-section {
  padding: 60px 0;
}
section.media-center-section h2 {
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 50px;
  text-align: center;
  text-transform: unset;
}
.media-box > img {
  display: block;
  height: 55px;
  margin: 0 auto 20px;
}
.media-box > h3 {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 0;
  text-align: center;
  text-transform: unset;
  font-weight: 400;
}
div:first-child .media-box::before {
  display: none;
}
.media-box:before {
  background: #ffffff none repeat scroll 0 0;
  content: "";
  display: block;
  height: 100%;
  left: -15px;
  position: absolute;
  right: 0;
  width: 1px;
}
.media-box {
  position: relative;
}
.white-button {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 0;
  color: #24acac;
  font-family: open sans;
  font-size: 16px;
  margin: 0 auto;
  padding: 10px 20px;
}
.check-media-boxs {
  margin-bottom: 50px;
}
section.links-all-data {
  background: #ffffff none repeat scroll 0 0;
  padding: 60px 0;
}
.links-all-data h4 {
  font-size: 20px;
}
.links-all-data ul {
  margin-left: 0;
}
.help-you-find p {
  color: #5c696a;
  font-size: 20px;
}
.looking-select span b {
  color: #000000;
  font-size: 13px;
}
.slider-section ul:not(.menu):not(.pagination):not(.checks):not(.nav-tabs):not(.uib-datepicker-popup):not(.sample-questions):not(.checked) li::before, .links-all-data ul:not(.menu):not(.pagination):not(.checks):not(.nav-tabs):not(.uib-datepicker-popup):not(.sample-questions):not(.checked) li::before {
  display: none;
}
/*slider*/
.mobile-button {
  display: none;
}
section.slick-slider.slider-section {
  background-color: #fff;
  padding: 60px 0;
}
.slider-section .slick-slide img {
  border: 1px solid #c7c7c7;
  display: inline-block;
  width: auto;
}
.slider-section .slick-slide h4 {
  color: #000000;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 15px;
}
.slider-section ul {
  margin: 0;
}
.slider-section ul li {
  display: inline-block;
  margin: 0px !important;
}
.slider-section ul li a {
  font-size: 13px;
  padding: 0 5px;
  position: relative;
}
.slider-section ul li a:before {
  background: #444444 none repeat scroll 0 0;
  content: "";
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  left: -2px;
}
.slider-section ul li:first-child a:before {
  display: none;
}
.slider-section .slick-slide {
  border: 1px solid #c7c7c7;
  min-height: 189px;
  padding: 14px 5px 9px;
  text-align: center;
}
.slider-title {
  background-color: #b2b2b2;
  padding: 0 20px;
  margin-bottom: 20px;
}
.slider-title > .row {
  max-width: inherit;
}
.slider-section h5 {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
  margin-bottom: 0;
  text-transform: uppercase;
}
.slider-section .btn-view {
  color: #ffffff;
  display: block;
  font-size: 14px;
  line-height: 2;
  text-align: right;
}
section.slider-section .title-blue {
  color: #4c40af;
}
.slider-section .slick-slider {
  margin-bottom: 60px;
}
section .video-boxs .title-blue {
  margin-top: 35px;
}
.mobile-button {
  text-align: center;
}
.mobile-button img {
  display: block;
  margin: 5px auto 20px;
}
.allbox .responsive {
  display: inline-block;
  width: 100%;
}
@media screen and (min-width: 640px) {
.allbox .responsive ngx-slick-carousel > div {
  border: 1px solid #c7c7c7;
  float: left;
  margin-bottom: 20px;
  margin-left: 1.3%;
  margin-right: 1.3%;
  min-height: 192px;
  padding: 14px 0 9px;
  text-align: center;
  width: 23.05%;
}
.allbox .responsive.video-boxs div h4.title-blue {
  margin-top: 35px;
}
}
.responsive.mobile-box {
  display: none;
}
.allbox .responsive ngx-slick-carousel > div img {
  border: 1px solid #c7c7c7;
  display: inline-block;
  width: auto;
}
.allbox .responsive div h4 {
  color: #000000;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 15px;
}
.allbox .responsive ngx-slick-carousel > div > h4.title-blue {
  color: #4c40af;
}
.box-row .d-click.btn-view > span:nth-child(2) {
  display: none;
}
.allbox .d-click.btn-view > span:nth-child(1) {
  display: none;
}
.allbox .d-click.btn-view > span:nth-child(2) {
  display: block;
}

@media screen and (min-width: 1024px) {
.allbox .responsive ngx-slick-carousel > div:nth-child(4n+1) {
  margin-left: 0;
}
.allbox .responsive ngx-slick-carousel > div:nth-child(4n) {
  margin-right: 0;
}


}
@media screen and (min-width: 639px) and (max-width: 1023px) {
.allbox .responsive ngx-slick-carousel > div:nth-child(3n+1) {
  margin-left: 0;
}
.allbox .responsive ngx-slick-carousel > div:nth-child(3n) {
  margin-right: 0;
}
.allbox .responsive ngx-slick-carousel > div {
  width: 31.6%;
}
}
@media screen and (max-width: 639px) {
.help-you-find p:first-child {
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
  max-width: 280px;
  margin-bottom: 7px;	
}
.page-top-sub-hedding {
  padding: 25px 0 12px;
}
.looking-select span {
  display: inline-block;
  margin-bottom: 6px;
  width: 100%;
}
.looking-select span:after {
  color: #000000;
  content: "...";
}
.looking-select > select {
  margin-bottom: 0;
}
section.slick-slider.slider-section {
  padding: 20px 0 43px;
}
.slider-title {
  margin-bottom: 15px;
}
.slider-title > div > div:nth-child(2) {
  display: none;
}
.slider-title > div > div:first-child {
  width: 100%;
}
.mobile-button {
  display: block;
}
.mobile-button > a {
  font-weight: 600;
}
.mobile-button > a:focus,.mobile-button > a:active {
  outline: none;
}
.box-row .m-click > span:nth-child(2) {
  display: none;
}
.allbox .m-click > span:nth-child(1) {
  display: none;
}
.allbox .m-click > span:nth-child(2) {
  display: block;
}
.allbox .m-click > img {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
/*.allbox .responsive.mobile-box > div {*/
.allbox .responsive ngx-slick-carousel > div {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
.allbox .responsive {
  padding-left: 37px;
  padding-right: 37px;
}
.slider-section h5 {
  text-align: center;
}
.slider-section ul li a:before {
    height: 75%;
}
.slider-section .slick-slider {
  margin-bottom: 20px;
  padding-left: 37px;
  padding-right: 37px;
}
.slider-section h5 {
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 5px;
  padding-top: 4px;
}
/*.slider-section .slick-slide,.allbox .responsive.mobile-box > div {*/
.slider-section .slick-slide,.allbox .responsive ngx-slick-carousel > div {
  padding: 24px 15px 15px;
  min-height: inherit;
}
section.slider-section .title-blue, .allbox .responsive ngx-slick-carousel > div .title-blue {
  line-height: 21px;
}
section .video-boxs .title-blue,.allbox .responsive .video-boxs .title-blue {
  margin-top: 20px;
}
.slider-section .slick-slide > h4,.allbox .responsive ngx-slick-carousel > div > h4 {
  font-size: 15px;
  margin-bottom: 1px;
}
.slider-section ul li a,.allbox .responsive ul li a {
  font-size: 15px;
}
div:nth-child(2n+1) .media-box:before {
  display: none;
}
.media-box > img {
  height: 45px;
}
.media-box > h3 {
  font-size: 19px;
}
.check-media-boxs > div:after {
  background: #ffffff none repeat scroll 0 0;
  bottom: 0px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}
.check-media-boxs > div:nth-child(1n+3):after {
	display: none;
}
.check-media-boxs > div:nth-child(n+1) .media-box {
   min-height: 114px;
}
div:nth-child(3) .media-box > img, div:nth-child(4) .media-box > img {
  height: 75px;
  padding-top: 30px;
}
div:nth-child(3) .media-box, div:nth-child(4) .media-box {
  padding-bottom: 12px;
}
.check-media-boxs {
    margin-bottom: 56px;
}
section.media-center-section {
  padding: 49px 0 56px;
}
section.media-center-section h2 {
  font-size: 28px;
  line-height: 31px;
  margin-bottom: 53px;
}
.links-all-data > div > div + div {
  margin-top: 61px;
}
.allbox .responsive ngx-slick-carousel > div {
  border: 1px solid #c7c7c7;
  float: left;
  margin-bottom: 20px;
  min-height: 192px;
  padding: 14px 0 9px;
  text-align: center;
}
/*.allbox .responsive.mobile-box {*/
.allbox .responsive {
  display: block;
}

}

/* And Resources */
