<div [ngClass]="{'occufind': true, 'logged-out': !occuFindUserLoggedIn}">
    <app-header></app-header>
    <app-my-asvab-header></app-my-asvab-header>
	
	<section id="content-wrap" class="left-nav-expanded-wrap">
		<div class="row">
            <app-left-navigation-v2-collapsed *ngIf="occuFindUserLoggedIn" [selectedTab]="'learn'"></app-left-navigation-v2-collapsed>

						<div class="hide-for-small-only" style="z-index: 1" *ngIf="!occuFindUserLoggedIn">
							<img src="assets/images/Employment_moreinfo.jpg" >
						</div>

			<section id="main-content" class="left-navigation-condensed" role="main">
				<app-my-top-results-collapsed *ngIf="occuFindUserLoggedIn" [collapsedVersion]="'v2'"></app-my-top-results-collapsed>

				<div id="left-nav-content-wrap">
                    
				<div>
					<ul class="content-bread-cumbs hide-for-small-only">
						<li><a href="occufind-occupation-search-results">Search</a> > </li>
						<li><a href="occufind-occupation-details/{{socId}}">{{occupationTitle}}</a> > </li>
						<li>National Employment Outlook</li>
					</ul>
					<div class="top-blue-panel">
						<div *ngIf="occuFindUserLoggedIn">
							<ul class="menu tools icons-right pull-left margin-left-5">
								<li id="notes"><a (click)="showOccufindNotes()"><i class="fa fa-sticky-note show-for-small-only"></i> Notes</a></li>
								<li id="favorites"><app-occufind-add-favorites [parent]="this"></app-occufind-add-favorites></li>
							</ul>
						</div>
						<h1 class="job-title hide-for-small-only">National Employment Outlook for {{occupationTitle}}</h1>
					</div>	
				</div>								
			
                <h2 class="job-title show-for-small-only">National Employment Outlook for {{occupationTitle}}</h2>
				<p>The chart below illustrates the estimated change in the
					number of people employed in this occupation.</p>
				<br/>                
                <div id="employment-table" class="row">
                
                  <div id="label" class="small-6 columns caps">{{occupationTitle}}</div>
                  
                  <div class="small-3 columns no-border">
                  	<div class="row">
                    	<div class="small-12 columns heading">Employment</div>
                        <div id="start" class="small-6 columns year">{{stateSalaryYear}}</div>
                        <div id="end" class="small-6 columns year">{{stateSalaryYear + 10}}</div>
                        <div class="small-6 columns">{{employementMoreDetails[0]?.baseNum * 1000 | number}}</div>
                        <div class="small-6 columns">{{employementMoreDetails[0]?.projectedNum * 1000 | number}}</div>
                    </div>
                  </div>
                  
                  <div class="small-3 columns no-border">
	                  <div class="row">
                          <div id="percent-change-heading" class="small-12 columns heading">Percent<br>Change</div>
                          <div id="percent-change" class="small-12 columns">{{employementMoreDetails[0]?.changePercentage}}% 
                          
                          	<i *ngIf="employementMoreDetails[0]?.changePercentage >= 14"><img src="assets/images/growth_icons/employ_level5.png" alt="Growth Icon"></i>
                            <i *ngIf="employementMoreDetails[0]?.changePercentage < 14 && employementMoreDetails[0]?.changePercentage >= 9"><img src="assets/images/growth_icons/employ_level4.png" alt="Growth Icon"></i>
                  			<i *ngIf="employementMoreDetails[0]?.changePercentage < 9 && employementMoreDetails[0]?.changePercentage >= 5"><img src="assets/images/growth_icons/employ_level3.png" alt="Growth Icon"></i>
                  			<i *ngIf="employementMoreDetails[0]?.changePercentage < 5 && employementMoreDetails[0]?.changePercentage >= 2"><img src="assets/images/growth_icons/employ_level2.png" alt="Growth Icon"></i>
                  			<i *ngIf="employementMoreDetails[0]?.changePercentage <= 2"><img src="assets/images/growth_icons/employ_level1.png" alt="Growth Icon"></i>
                            
                          </div>
                      </div>
                  </div>
                </div>
                
                <br/>

				<p>Source: <a href="http://www.bls.gov/emp/" target="_blank">Bureau of Labor Statistics</a> {{stateSalaryYear}}-{{stateSalaryYear + 10}} employment.
					"Projected growth" represents the estimated change in total
					employment over the period ({{stateSalaryYear}}-{{stateSalaryYear + 10}}). "Projected job openings"
					represent openings due to growth and replacement.</p>


		</div>
			</section>

		</div>
		<!-- <app-left-navigation-mobile></app-left-navigation-mobile> -->
	</section>

	<app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
	<app-footer></app-footer>
</div>