<div class="edit_plan_box mb_30">
  <h3 class="edit-plan">Important Dates and Tasks</h3>

  <ng-container *ngIf="!isLoading">

    <div class="row p_20">
      <div class="columns medium-6 medium-offset-6 text-center">
        <div class="task_list_add_task">
          <a (click)="addDate()"><img src="assets/images/calender.svg"> <span>Add Date</span></a>
          <a (click)="addTask()"><img src="assets/images/checkmark_with_plus.svg"> <span>Add Task</span></a>
        </div>
      </div>
    </div>

    <div class="task_lists p_20">

      <!-- Tasks -->
      <div class="task_list">
        <p class="task_list_title" style="font-size: 14px !important;"><strong>Tasks List</strong></p>

        <ng-container *ngIf="userOccupationPlanCalendarTasks?.length > 0">
          <div class="progressbar_wrapper">
            <p *ngIf="tasksUnassignedToDate.length == 0">
              No tasks assigned.
            </p>
            <div class="task-progressbar">
              <mat-progress-bar mode="determinate" [value]="unassignedProgress"></mat-progress-bar>
            </div>
            <p>
              <span *ngIf="tasksUnassignedToDate.length > 1">
                {{tasksUnassignedToDate.length}} tasks
              </span>
              <span *ngIf="tasksUnassignedToDate.length == 1">
                {{tasksUnassignedToDate.length}} task
              </span>
              <span *ngIf="!showCompletedTasks && tasksUnassignedToDate.length > 0">remaining</span>
              <span *ngIf="showCompletedTasks && tasksUnassignedToDate.length > 0">completed</span>
            </p>
            <a (click)="switchTaskViewByCompleted()">Show
              <span *ngIf="!showCompletedTasks">checked</span>
              <span *ngIf="showCompletedTasks">unchecked</span>
            </a>
          </div>
          <ul class="task_list_items">
            <li *ngFor="let task of tasksUnassignedToDate; let i = index;">
              <div class="task_list_item_data">
                <div class="task_list_item_title_wrapper">
                  <div class="task_list_item_title">
                    <div class="form-group">
                      <div class="checkbox-tick">
                        <input class="styled-checkbox" type="checkbox" id="completed{{task.id}}"
                          [checked]="showCompletedTasks" (change)="setTaskComplete(task,i, $event)">
                        <label class="styled-checkbox-label" for="completed{{task.id}}">
                        </label>
                        <label *ngIf="!hasUrl(task.taskName)" for="completed{{task.id}}" style='display: inline;'>
                          <span class="ml_10">{{convertTaskName(task.taskName)}}</span>
                        </label>
                        <a class="ml_10" *ngIf="hasUrl(task.taskName)" [href]="getUrl(task.taskName)" target="_blank">{{convertTaskName(task.taskName)}}</a>
                      </div>
                    </div>
                  </div>
                  <div class="remove_task_list_item" style="margin-right: 8px;">
                    <a *ngIf="!showCompletedTasks" (click)="editTask(task, i)"><img
                        src="assets/images/note_edit.svg"></a>
                    <a (click)="removeTask(task.id, i)"><img src="assets/images/close-blue.svg"></a>
                  </div>
                </div>
              </div>
            </li>

          </ul>

        </ng-container>
        <ng-container *ngIf="userOccupationPlanCalendarTasks.length == 0">
          <p class="no-assignments">
            You have no tasks assigned to this Plan.
          </p>
        </ng-container>
      </div>

      <!-- Dates -->
      <div class="task_list">
        <p class="task_list_title" style="font-size: 14px !important;"><strong>Important Date</strong></p>

        <ng-container *ngIf="userOccupationPlanCalendars?.length > 0">

          <ul class="task_list_items">
            <li *ngFor="let calendar of userOccupationPlanCalendars | orderBy: 'date'; let i = index;">
              <div class="task_list_item_data">
                <div class="task_list_item_title_wrapper">
                  <div class="task_list_item_title">
                    <span class="task_list_date" (click)="calendar.expanded = !calendar.expanded"
                      [ngClass]="!calendar.expanded ? '' : 'active'">{{calendar?.date}}</span>
                    <p>{{calendar?.title}}</p>
                  </div>
                  <div class="remove_task_list_item" style="margin-right: 8px;">
                    <a (click)="editDate(calendar)"><img src="assets/images/note_edit.svg"></a>
                    <a (click)="removeDate(calendar.id)"><img src="assets/images/close-blue.svg"></a>
                  </div>
                </div>

                <!-- Tasks for Date -->
                <div class="task_list_item_expanded" [ngClass]="!calendar.expanded ? 'hide-collapse' : 'show-expand'">

                  <div class="progressbar_wrapper">
                    <p *ngIf="getRemainingTasksForCalendar(calendar, calendar.showCompletedTasks) == 0">
                      No tasks assigned.
                    </p>
                    <p>
                      <span *ngIf="getRemainingTasksForCalendar(calendar, calendar.showCompletedTasks) > 1">
                        {{getRemainingTasksForCalendar(calendar, calendar.showCompletedTasks)}} tasks
                      </span>
                      <span *ngIf="getRemainingTasksForCalendar(calendar, calendar.showCompletedTasks) == 1">
                        {{getRemainingTasksForCalendar(calendar, calendar.showCompletedTasks)}} task
                      </span>
                      <span
                        *ngIf="!calendar.showCompletedTasks && getRemainingTasksForCalendar(calendar, calendar.showCompletedTasks) > 0">remaining</span>
                      <span
                        *ngIf="calendar.showCompletedTasks && getRemainingTasksForCalendar(calendar, calendar.showCompletedTasks) > 0">completed</span>
                    </p>

                    <div class="task-progressbar">
                      <mat-progress-bar mode="determinate" [value]="getProgressBarValueForCalendar(calendar)">
                      </mat-progress-bar>
                    </div>

                    <a (click)="calendar.showCompletedTasks = !calendar.showCompletedTasks">Show
                      <span *ngIf="!calendar.showCompletedTasks">checked</span>
                      <span *ngIf="calendar.showCompletedTasks">unchecked</span>
                    </a>

                  </div>
                  <hr *ngIf="getRemainingTasksForCalendar(calendar, calendar.showCompletedTasks) > 0"
                    style="margin:0 !important">

                  <ul class="task_list_items">
                    <li
                      *ngFor="let task of calendar.tasks | filter:'completed':calendar.showCompletedTasks; let ind = index;">
                      <div class="task_list_item_data">
                        <div class="task_list_item_title_wrapper calendar-task">
                          <div class="task_list_item_title">
                            <div class="form-group">
                              <div class="checkbox-tick ">
                                <input class="styled-checkbox" type="checkbox" id="completed{{calendar.id}}{{task.id}}"
                                  [checked]="calendar.showCompletedTasks"
                                  (change)="setTaskComplete(task, ind, $event, i)">
                                <label class="styled-checkbox-label" for="completed{{calendar.id}}{{task.id}}">
                                </label>
                                <label for="completed{{calendar.id}}{{task.id}}" style='display: inline;'>
                                  <span class="ml_10"><strong>{{convertTaskName(task.taskName)}}</strong></span>
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="remove_task_list_item">
                            <a *ngIf="!calendar.showCompletedTasks" (click)="editTask(task, ind, i)"><img
                                src="assets/images/note_edit.svg"></a>
                            <a (click)="removeTask(task.id, ind, i)"><img src="assets/images/close-blue.svg"></a>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>

                </div>
              </div>
            </li>

          </ul>

        </ng-container>
        <ng-container *ngIf="userOccupationPlanCalendars.length == 0">
          <p class="no-assignments">
            You have no dates assigned to this Plan.
          </p>
        </ng-container>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="isLoading">
    <div class="row ">
      <div class="small-12 column text-center">
        <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
        Loading Important Dates and Tasks...
      </div>
    </div>
  </ng-container>
</div>