<div class="occufind article">
  <app-header></app-header>
	<section id="banner">
		<div class="row">
			<div class="large-4 large-push-8 columns">
				<p class="caps">Media Center</p>
			</div>
		</div>
	</section>
	
	<section id="content-wrap">
	
		<div class="row">
			<div class="medium-6 columns">
				<h1 class="article-title">{{article?.title}}</h1>
			</div>
			<div class="medium-6 columns share">Share:
				<span>
					<share-button class="sl-margin" button="facebook" [title]="article.title"
							[image]="shareImgUrl" [description]="article.metaDescription" [url]="absUrl" (click)="_googleAnalyticsService.trackSocialShare('Facebook', 'Shareable')"></share-button>
					<share-button class="sl-margin" button="twitter" [title]="article.title"
							[image]="shareImgUrl" [description]="article.metaDescription" [url]="absUrl" (click)="_googleAnalyticsService.trackSocialShare('Twitter', 'Shareable')"></share-button>
					<share-button class="sl-margin" button="linkedin" [title]="article.title"
							[image]="shareImgUrl" [description]="article.metaDescription" [url]="absUrl" (click)="_googleAnalyticsService.trackSocialShare('LinkedIn', 'Shareable')"></share-button>
					<share-button button="email" [title]="article.title"
							[description]="article.metaDescription" (click)="_googleAnalyticsService.trackSocialShare('Email', 'Shareable')"></share-button>
				</span>
			</div>
		</div>
		
		<div class="row column"><hr style="margin-top: 0;"></div>

		<div class="row">	
			<section id="main-content" class="medium-8 columns" role="main">
			  <div id="featured-image">
				  <img *ngIf="article.typeId == 2" [src]="article?.articleImgUrl">
					<div class="wrapper" *ngIf="article?.typeId == 1">
						<div class="h_iframe">
							<iframe height="400" width="2" [src]="article?.videoImgUrl | safe: 'resourceUrl'" frameborder="0"
								allowfullscreen></iframe>
						</div>
					</div>
				</div>
						  
			  <p [innerHtml]="article?.article"></p>
			  
			  <div class="callout">
			  	<p>The ASVAB Career Exploration Program (CEP) is a FREE career planning resource available to high schools nationwide. This comprehensive program includes one of the most widely used multiple-aptitude test batteries in the world and an interest inventory complemented by a thorough occupational database all designed to give students an in-depth look at the world of work. To learn more about the program components or how to bring the CEP to your school, <a class="recaptcha-no-top" (click)="showAsvabModal()">click here</a>.</p>
			  </div>
			
			</section>
			
			<div class="medium-4 columns">
				<p><a routerLink="/media-center">Media Center</a></p>
				
				<h3>Student News</h3>
				<ul>
					<li *ngFor="let m of studentMediaCenterArticles"><a routerLink="/media-center-article/{{m?.id}}">{{m?.title}}</a></li>
					<li><a routerLink="/media-center-article-list/1">View Full List</a></li>
				</ul>
				
				<h3>Counselor Articles</h3>
				<ul>
					<li *ngFor="let m of counselorMediaCenterArticles"><a routerLink="/media-center-article/{{m?.id}}">{{m?.title}}</a></li>
					<li><a routerLink="/media-center-article-list/4">View Full List</a></li>
				</ul>
				
				<h3>Parent Articles</h3>
				<ul>
					<li *ngFor="let m of parentMediaCenterArticles"><a routerLink="/media-center-article/{{m?.id}}">{{m?.title}}</a></li>
					<li><a routerLink="/media-center-article-list/2">View Full List</a></li>
				</ul>
				
				<h3>Tutorial</h3>
				<ul>
					<li *ngFor="let m of tutorialMediaCenterArticles"><a routerLink="/media-center-article/{{m?.id}}">{{m?.title}}</a></li>
					<li><a routerLink="/media-center-article-list/5">View Full List</a></li>
				</ul>
			</div>
		</div>
	</section>
	
  <app-footer></app-footer>
  
  </div>