<strong>Use the ASVAB CEP exclusive planning tools to clarify your action plan. </strong>Then, talk about your plan with your friends, counselor and parents.

<div data-type="section-break"><hr /></div>

Choose a career using the OCCU-Find. Identify two paths to outline how you could reach this career goal. Make a list of costs associated with each path. Include cost of living, location, the amount of time that it will take to reach your goal, plus any other factors that will affect the cost. Create a comparison chart to show the total amount of cost associated with each path.

<div data-type="section-break"><hr /></div>

