Before you make decisions about what to do after high school, spend time thinking about your interests,
  values and abilities.

<div data-type="section-break"><hr /></div>

<p class="section-description-info mw-100">These three Career Exploration Scores are good indicators of your
  potential for success in further education, training, and in occupations. They focus on skills (which are
  learned and modifiable) rather than on abilities (which are often seen as fixed).</p>

<div data-type="section-break"><hr /></div>

<h2 class="section-title">Interests</h2>
<p class="section-description-info">Interests are one of the most important predictors of career satisfaction.
</p>
<p class="section-description-info">Find Your Interests: The FYI is an interest inventory that asks you
  questions about the kinds of activities you like or would like to do. The FYI will reveal your strongest
  interest areas. Then, you can explore careers that align with your interests.</p>

<div data-type="section-break"><hr /></div>

Understanding what you value about a job is an important contributor to career satisfaction. The ASVAB CEP helps you determine your top work values so you can identify careers that may align when exploring occupations and creating your action plan for the future.

<div data-type="section-break"><hr /></div>

