<strong>The ASVAB measures strengths and potential for future success.</strong>

<div data-type="section-break"><hr /></div>

You don't "pass" or "fail". The results represent how well you have developed your skills in addition to your
potential for training.

<div data-type="section-break"><hr /></div>

<ol>
  <li><strong>Career Exploration Scores.</strong> The three Career Exploration Scores are verbal, math, and
  science/technical skills. Each of these scores is made up of a combination of some of the individual ASVAB
  tests.</li>
  <li><strong>ASVAB Tests.</strong> You receive a score for each subtest that makes up the ASVAB. See the chart
  below to learn more about each subtest.</li>
  <li><strong>Military Entrance Score/Armed Forces Qualification Test (AFQT).</strong> Participation in the
  ASVAB CEP does not obligate you to talk with military recruiters or consider a military career. If you are
  interested in joining the Military it is best to discuss this score with a recruiter. Learn more at <a
  href="http://www.careersinthemilitary.com/" target="_blank">www.careersinthemilitary.com</a>.</li>
  <li><strong>Access code.</strong> Your ASVAB Summary Results sheet includes an access code you will use to
  login to this site.</li>
</ol>

<div data-type="section-break"><hr /></div>


