<div class="occufind student student-dreams">
	<app-header></app-header>

	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="large-3 large-push-9 columns">
				<h1 class="caps">Participants</h1>
			</div>
			<div class="large-9 large-pull-3 columns">
				<ul id="sub-nav" class="menu">
					<li id="tier2student-cep" [ngClass]="{'active':studentCep}">
						<a (click)="redirect('student')">Understand The ASVAB</a>
					</li>
					<li id="tier2student-learn" [ngClass]="{'active':studentLearn}">
						<a (click)="redirect('student-learn')">Learn About Yourself </a>
					</li>
					<li id="tier2student-explore" [ngClass]="{'active':studentExplore}">
						<a (click)="redirect('student-explore')">Explore Careers</a>
					</li>
					<li id="tier2student-plan" [ngClass]="{'active':studentPlan}">
						<a (click)="redirect('student-plan')">Plan your future</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<div class="student" *ngIf="pageHtml && pageHtml !== ''">
		<div *ngIf="showStudent">
			<section class="hero-banner hero-banner-understand">
				<div class="row">
					<div class="col-sm-6">
						<div class="hero-banner-content">
							<h1>Understand <span class="grey-color">The ASVAB</span></h1>
							<p [innerHTML]="pageHtml[0]"></p>
							<p [innerHTML]="pageHtml[1]"></p>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="hero-image text-center"><img alt="The ASVAB" src="assets/images/Understand_hdr_Image.jpg" /></div>
					</div>
				</div>
			</section>
			<section class="section-questions bg-light-gray2">
				<div class="row">
					<div class="col-sm-6">
						<div class="questions-block questions-block-one">
							<div class="questions-block-head d-flex">
								<div class="questions-block-icon"><img alt="Paper" src="assets/images/Paper_Icon.png" /></div>
								<div class="questions-block-title">
									<h2>P&amp;P ASVAB</h2>
									<h4>Paper and Pencil Test</h4>
								</div>
							</div>
							<div class="questions-block-link"><a class="button expanded"
									(click)="_utility.showSampleTestModal(); _googleAnalyticsService.trackSampleTestClick('#ASVAB_PP_SAMPLE_TEST_ITEMS_VIEWED');"
									ng-controller="GA">View Sample Test Questions<img alt="Caret Right"
										src="assets/images/arrow_caret_right.png" /></a> </div>
							<div class="questions-block-content section-description">
								<p class="section-description-info">The paper and pencil (P&amp;P ASVAB) is a traditional test, which means
									that everyone takes the same set of questions at the same pace.</p>
								<p class="section-description-info"><strong>Eight Subtest (a total of 200 items).<br />3 hours to
										complete.</strong></p>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="questions-block questions-block-two">
							<div class="questions-block-head d-flex">
								<div class="questions-block-icon"><img alt="Latop" src="assets/images/Latop_Icon.png" /></div>
								<div class="questions-block-title">
									<h2>CEP <span style="text-transform:lowercase;">i</span>CAT</h2>
									<h4>Computer-Based Test</h4>
								</div>
							</div>
							<div class="questions-block-link"><a class="button expanded"
									(click)="_utility.showSampleIcatTestModal(); _googleAnalyticsService.trackSampleTestClick('#ASVAB_CA_SAMPLE_TEST_ITEMS_VIEWED');">View Sample Test Questions<img alt="Caret Right"
										src="assets/images/arrow_caret_right.png" /></a> </div>
							<div class="questions-block-content section-description">
								<p class="section-description-info">The CEP iCAT is an adaptive test you take on a computer. How you respond
									to a question will determine the complexity of the next question you receive.</p>
								<p class="section-description-info"><strong>Nine subtests (a total of 145 items).<br />Self-paced and
										generally takes about 1.5 hours.</strong></p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="questions-link text-center"><a (click)="showStrategyTakingAsvabModal()">Strategies for Taking
								the ASVAB</a> </div>
					</div>
				</div>
			</section>
			<section class="section-results section-overview">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="section-title">What do my results mean?</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="results-block section-description">
							<p class="section-description-info">Your results sheet provides a measure of your skills and abilities with
								different scores:</p><img alt="ASVAB Summary Results" class="hidden-xs"
								src="assets/images/ASVAB_summary_results.png" /><img alt="ASVAB Summary Results" class="visible-xs"
								src="assets/images/ASVAB_summary_results_mobile.png" />
						</div>
					</div>
					<div class="col-sm-6">
						<div class="results-block">
							<div [innerHTML]="pageHtml[2]"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<hr class="border-gray" />
					</div>
				</div>
				<div class="areas-block section-description">
					<div class="row">
						<div class="col-sm-6">
							<h5 class="areas-block-title">Subtest areas:</h5>
							<p class="section-description-info">The subtest scores are color coded to show which scores are used to build
								each ASVAB Career Exploration Score.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<table class="table hidden-xs k-table">
								<thead>
									<tr>
										<th colspan="2">
											<div class="areas-block-items d-flex align-items-center">
												<div class="areas-block-item d-flex align-items-center"><span class="skye-blue-box"></span>Verbal
												</div>
												<div class="areas-block-item d-flex align-items-center"><span class="dark-red-box"></span>Math</div>
												<div class="areas-block-item d-flex align-items-center"><span
														class="navy-blue-box"></span>Science/Technology</div>
											</div>
										</th>
										<th class="text-center" data-role="resizable">P&amp;P ASVAB <br /># of test items</th>
										<th class="text-center">CEP ICAT <br /># of test items</th>
									</tr>
								</thead>
								<tbody valign="top">
									<tr class="bg-navy-blue">
										<td><strong>General Science</strong></td>
										<td>Measures knowledge of life science, earth and space science, and physical science</td>
										<td align="center"><strong>25</strong></td>
										<td align="center"><strong>16</strong></td>
									</tr>
									<tr class="bg-dark-red">
										<td><strong>Arithmetic Reasoning</strong></td>
										<td>Measures ability to solve basic arithmetic word problems</td>
										<td align="center"><strong>30</strong></td>
										<td align="center"><strong>16</strong></td>
									</tr>
									<tr class="bg-skye-blue">
										<td><strong>Word Knowledge</strong></td>
										<td>Measures ability to understand the meaning of words through synonyms</td>
										<td align="center"><strong>35</strong></td>
										<td align="center"><strong>16</strong></td>
									</tr>
									<tr class="bg-skye-blue">
										<td><strong>Paragraph Comprehension</strong></td>
										<td>Measures ability to obtain information from written material</td>
										<td align="center"><strong>15</strong></td>
										<td align="center"><strong>11</strong></td>
									</tr>
									<tr class="bg-dark-red">
										<td><strong>Mathematics Knowledge</strong></td>
										<td>Measures knowledge of mathematical concepts and applications</td>
										<td align="center"><strong>25</strong></td>
										<td align="center"><strong>16</strong></td>
									</tr>
									<tr class="bg-navy-blue">
										<td><strong>Electronics Information</strong></td>
										<td>Measures knowledge of electrical current, circuits, ?devices, and electronic systems</td>
										<td align="center"><strong>20</strong></td>
										<td align="center"><strong>16</strong></td>
									</tr>
									<tr class="bg-white">
										<td><strong>Auto Information</strong></td>
										<td>Measures knowledge of automotive maintenance repair</td>
										<td align="center" rowspan="2" valign="middle"><strong>25</strong></td>
										<td align="center"><strong>11</strong></td>
									</tr>
									<tr class="bg-white">
										<td><strong>Shop Information</strong></td>
										<td>Measures knowledge of wood and metal shop practices</td>
										<td align="center"><strong>11</strong></td>
									</tr>
									<tr class="bg-navy-blue">
										<td><strong>Mechanical Comprehension</strong></td>
										<td>Measures knowledge of the principles of mechanical devices, structural support, and properties of
											materials</td>
										<td align="center"><strong>25</strong></td>
										<td align="center"><strong>16</strong></td>
									</tr>
								</tbody>
							</table>
							<div class="table-mobile visible-xs">
								<div class="areas-block-items d-flex">
									<div class="areas-block-item"><span class="skye-blue-box"></span>Verbal</div>
									<div class="areas-block-item"><span class="dark-red-box"></span>Math</div>
									<div class="areas-block-item"><span class="navy-blue-box"></span>Science/<br />Technology</div>
								</div>
								<div class="bg-navy-blue">
									<h4>General Science</h4>
									<p>Measures knowledge of life science, earth and space science, and physical science</p>
									<div class="areas-block-sub-item d-flex">
										<div class="areas-block-count">25</div>
										<div class="areas-block-label">P&amp;P ASVAB # of test items</div>
									</div>
									<div class="areas-block-sub-item d-flex">
										<div class="areas-block-count">16</div>
										<div class="areas-block-label">CEP ICAT # of test items</div>
									</div>
								</div>
								<div class="bg-dark-red">
									<h4>Arithmetic Reasoning</h4>
									<p>Measures ability to solve basic arithmetic word problems</p>
									<div class="areas-block-sub-item d-flex">
										<div class="areas-block-count">30</div>
										<div class="areas-block-label">P&amp;P ASVAB # of test items</div>
									</div>
									<div class="areas-block-sub-item d-flex">
										<div class="areas-block-count">16</div>
										<div class="areas-block-label">CEP ICAT # of test items</div>
									</div>
								</div>
								<div class="bg-skye-blue">
									<h4>Word Knowledge</h4>
									<p>Measures ability to understand the meaning of words through synonyms</p>
									<div class="areas-block-sub-item d-flex">
										<div class="areas-block-count">35</div>
										<div class="areas-block-label">P&amp;P ASVAB # of test items</div>
									</div>
									<div class="areas-block-sub-item d-flex">
										<div class="areas-block-count">16</div>
										<div class="areas-block-label">CEP ICAT # of test items</div>
									</div>
								</div>
								<div class="bg-skye-blue">
									<h4>Paragraph Comprehension</h4>
									<p>Measures ability to obtain information from written material</p>
									<div class="areas-block-sub-item d-flex">
										<div class="areas-block-count">15</div>
										<div class="areas-block-label">P&amp;P ASVAB # of test items</div>
									</div>
									<div class="areas-block-sub-item d-flex">
										<div class="areas-block-count">11</div>
										<div class="areas-block-label">CEP ICAT # of test items</div>
									</div>
								</div>
								<div class="bg-dark-red">
									<h4>Mathematics Knowledge</h4>
									<p>Measures knowledge of mathematical concepts and applications</p>
									<div class="areas-block-sub-item d-flex">
										<div class="areas-block-count">25</div>
										<div class="areas-block-label">P&amp;P ASVAB # of test items</div>
									</div>
									<div class="areas-block-sub-item d-flex">
										<div class="areas-block-count">16</div>
										<div class="areas-block-label">CEP ICAT # of test items</div>
									</div>
								</div>
								<div class="bg-navy-blue">
									<h4>Electronics Information</h4>
									<p>Measures knowledge of electrical current, circuits, ?devices, and electronic systems</p>
									<div class="areas-block-sub-item d-flex">
										<div class="areas-block-count">20</div>
										<div class="areas-block-label">P&amp;P ASVAB # of test items</div>
									</div>
									<div class="areas-block-sub-item d-flex">
										<div class="areas-block-count">16</div>
										<div class="areas-block-label">CEP ICAT # of test items</div>
									</div>
								</div>
								<div class="bg-white">
									<h4>Auto Information</h4>
									<p>Measures knowledge of automotive maintenance repair</p>
									<h4>Shop Information</h4>
									<p>Measures knowledge of wood and metal shop practices</p>
									<div class="areas-block-sub-item d-flex">
										<div class="areas-block-count">25</div>
										<div class="areas-block-label">P&amp;P ASVAB # of test items<span class="d-block">(Auto and Shop
												information combined)</span></div>
									</div>
									<div class="areas-block-sub-item d-flex">
										<div class="areas-block-count">11</div>
										<div class="areas-block-label">CEP ICAT # of test items<span class="d-block">(auto and shop information
												each)</span></div>
									</div>
								</div>
								<div class="bg-navy-blue">
									<h4>Mechanical Comprehension</h4>
									<p>Measures knowledge of the principles of mechanical devices, structural support, and properties of
										materials</p>
									<div class="areas-block-sub-item d-flex">
										<div class="areas-block-count">25</div>
										<div class="areas-block-label">P&amp;P ASVAB # of test items</div>
									</div>
									<div class="areas-block-sub-item d-flex">
										<div class="areas-block-count">11</div>
										<div class="areas-block-label">CEP ICAT # of test items</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="section-ctm bg-green">
				<div class="row">
					<div class="col-sm-8">
						<h2 class="ctm-title text-white">Are you looking for information about what your ASVAB CEP scores mean to the
							military?</h2><a class="ctm-link text-white" href="http://www.careersinthemilitary.com/"
							target="_blank"><strong>Learn more<img alt="Caret Right" src="assets/images/arrow_caret_right.png" /></strong></a>
					</div>
					<div class="col-sm-4"><img alt="Careers in The Military" class="hidden-xs ctm-logo"
							src="assets/images/CTM_logo_horizontal.png" /><img alt="Careers in The Military" class="visible-xs ctm-logo"
							src="assets/images/CTM_logo_horizontal_mobile.png" /></div>
				</div>
			</section>
			<section class="section-tips section-overview">
				<div class="row">
					<div class="col-sm-12">
						<div class="section-description">
							<h2 class="section-title">ASVAB Test Day Tips</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<div class="section-description">
							<p class="section-description-info"><strong>As with other tests, how much you have learned in school through the
									years will probably make the most difference in your results.</strong></p>
						</div>
					</div>
					<div class="col-sm-9">
						<div class="section-description">
							<p class="section-description-info"><strong>Steps to Take In Advance of ASVAB Test Day.</strong></p>
							<ul class="section-list-disc">
								<li><a href="https://www.officialasvab.com/whattoexpect_app.htm" target="_blank">Know what to expect on test
										day</a></li>
								<li>Familiarize yourself with the contents of the ASVAB subtests.</li>
								<li>You can find sample test questions on this page. View more sample items at the <a
										href="https://www.officialasvab.com/counselors-educators/sample-questions/" target="_blank">Official ASVAB
										website</a> and <a href="https://www.todaysmilitary.com/how-to-join/asvab-test/asvab-sample-questions"
										target="_blank">Today's Military</a>.</li>
								<li>Find out whether you will be taking the paper and pencil (P&amp;P), or the computer adaptive (CEP iCAT)
									ASVAB. </li>
								<li>Get plenty of rest the night before the test.</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<section class="section-yourself bg-green">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h2 class="yourself-title text-white">Learn About Yourself</h2>
						<p class="yourself-description text-white">The ASVAB CEP offers participants the opportunity to understand their
							work-related skills and interests.</p>
						<div><br /></div><a class="yourself-link text-white" style="display:flex; justify-content: center;" href="student-learn"><strong
								class="d-flex align-items-center">Learn About Yourself<img alt="Caret Right"
									src="assets/images/arrow_caret_right.png" /></strong></a>
					</div>
				</div>
			</section>
			<section class="section-testimonial space-bottom">
				<div class="row">
					<div class="col-sm-9">
						<div class="section-testimonial-description">
							<h2>"I thought the ASVAB would be about the Army but it just offers jobs for anyone who takes it and shows you
								what would suit you best."</h2>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="section-testimonial-image"><img alt="Testimonial Immanuel" src="assets/images/Testimonial_Immanuel.png" />
							<h4>Immanuel</h4>
						</div>
					</div>
				</div>
			</section>
		</div>

		<div *ngIf="showStudentLearn">
			<section class="hero-banner hero-banner-learn">
				<div class="row">
					<div class="col-sm-6">
						<div class="hero-banner-content">
							<h1>Learn <span class="grey-color">About Yourself</span></h1>
							<!-- <p>Before you make decisions about what to do after high school, spend time thinking about your interests,
								values and abilities.</p> -->
								<p [innerHTML]="pageHtml[0]"></p>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="hero-image text-center"><img alt="Plan hdr Image" src="assets/images/Learn_hdr_Image.jpg" /></div>
					</div>
				</div>
			</section>
			<section class="section-overview activities_sec activities_video bg-green">
				<div class="row">
					<div class="col-md-12">
						<div class="activities_inner">
							<div class="activities_text">
								<h4>Video Tutorial:</h4>
								<h2>Understanding ASVAB Test Scores</h2>
							</div>
							<div class="activities_block"><a (click)="_utility.showVideoDialog('https://www.youtube.com/embed/RM-g73droL4')"><span
										class="image-wrapper"><img src="assets/images/Tut_test_1.jpg" /></span>
								</a>
							</div>
						</div>
					</div>
					<!-- <div aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" style="display:none;"
						tabindex="-1">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-body"><iframe allowfullscreen="" frameborder="0" height="315" id="iframeYoutube" src="#"
										width="560"></iframe></div>
								<div class="modal-footer"><button class="button" data-dismiss="modal" type="button">Close</button></div>
							</div>
						</div>
					</div> -->
				</div>
			</section>
			<section class="section-overview skill_sec bg-light-gray2">
				<div class="row">
					<div class="col-md-12">
						<div class="section-description">
							<h2 class="section-title">Skills</h2>
							<!-- <p class="section-description-info mw-100">These three Career Exploration Scores are good indicators of your
								potential for success in further education, training, and in occupations. They focus on skills (which are
								learned and modifiable) rather than on abilities (which are often seen as fixed).</p> -->
								<p [innerHTML]="pageHtml[1]"></p>

							<div class="skill_score d-flex bg-white">
								<div class="skill_score_content">
									<p class="section-description-info mb-0 hidden-xs"><strong>ASVAB CEP Strengths are derived from the ASVAB scores.
										</strong>
									</p>
									<p class="section-description-info">Your top strength will have the most books.</p>
									<ul class="d-flex">
										<li>
											<div class="strength_img_block"><img alt="Books" src="assets/images/book1.png" /></div><span>Verbal</span>
										</li>
										<li>
											<div class="strength_img_block"><img alt="Books" src="assets/images/book2.png" /></div><span>Math</span>
										</li>
										<li>
											<div class="strength_img_block"><img alt="Books" src="assets/images/book3.png" /></div><span>Science/
												Technology</span>
										</li>
									</ul>
									<p class="section-description-info mt-20 mb-0">Tip: Focus on you strengths. </p>
								</div>
								<div class="skill_img_block">
									<p class="section-description-info mb-0 visible-xs"><strong>ASVAB CEP Strengths are derived from the ASVAB
											scores.
										</strong></p><img alt="Summary Results" src="assets/images/ASR_2.jpg" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="section-overview activities_sec activities_video bg-green">
				<div class="row">
					<div class="col-md-12">
						<div class="activities_inner">
							<div class="activities_text">
								<h4>Video Tutorial:</h4>
								<h2>Taking the FYI Tutorial
								</h2>
							</div>
							<div class="activities_block"><a (click)="_utility.showVideoDialog('https://www.youtube.com/embed/pddDxvfY2gM')"><span
										class="image-wrapper"><img src="assets/images/Tut_test_2.jpg" /></span>
								</a>
							</div>
						</div>
					</div>
					<!-- <div aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" style="display:none;"
						tabindex="-1">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-body"><iframe allowfullscreen="" frameborder="0" height="315" id="iframeYoutube" src="#"
										width="560"></iframe></div>
								<div class="modal-footer"><button class="button" data-dismiss="modal" type="button">Close</button></div>
							</div>
						</div>
					</div> -->
				</div>
			</section>
			<section class="section-overview interests_sec">
				<div class="row">
					<div class="col-sm-12">
						<div class="section-description">
							<!-- <h2 class="section-title">Interests</h2>
							<p class="section-description-info">Interests are one of the most important predictors of career satisfaction.
							</p>
							<p class="section-description-info">Find Your Interests: The FYI is an interest inventory that asks you
								questions about the kinds of activities you like or would like to do. The FYI will reveal your strongest
								interest areas. Then, you can explore careers that align with your interests.</p> -->
								<p [innerHTML]="pageHtml[2]"></p>
						</div>
						<div class="section-description">
							<div class="interest-block">
								<h4>Explore an Interest Area</h4>
								<div class="interest-block-wrapper d-flex">
									<div class="interest-block-lhs">
										<p class="section-description-info"><strong>Select an interest<br />to get more information</strong></p>
										<!-- Nav tabs -->
										<div class="interest-nav-tabs">
											<ul class="interest-lists">
												<li><a aria-controls="Realistic" data-toggle="Realistic"  role="tab">Realistic</a>
												</li>
												<li><a aria-controls="Investigative" data-toggle="Investigative" 
														role="tab">Investigative</a></li>
												<li><a aria-controls="Enterprising" data-toggle="Enterprising" 
														role="tab">Enterprising</a></li>
												<li class="active"><a aria-controls="Conventional" data-toggle="Conventional" 
														role="tab">Conventional</a></li>
												<li><a aria-controls="Artistic" data-toggle="Artistic"  role="tab">Artistic</a>
												</li>
												<li><a aria-controls="Social" data-toggle="Social"  role="tab">Social</a></li>
											</ul>
											<div class="interest_lhs_img_block"><img alt="RIASEC" src="assets/images/RIASEC.png" />
												<ul class="interest_triangle">
													<li><a data-toggle="Realistic" ></a></li>
													<li><a data-toggle="Investigative" ></a></li>
													<li><a data-toggle="Enterprising" ></a></li>
													<li class="active"><a data-toggle="Conventional" ></a></li>
													<li><a data-toggle="Artistic" ></a></li>
													<li><a data-toggle="Social" ></a></li>
												</ul>
											</div>
										</div>
										<p class="information-base-text hidden-xs">The FYI is based on<br />John Holland's Theory of<br />Career
											Choice RIASEC&copy;. </p>
									</div>
									<div class="interest-block-rhs">
										<!-- Tab panes -->
										<div class="tab-content">
											<div class="tab-pane realistic_content" id="Realistic" role="tabpanel">
												<p class="section-description-info"><span><strong>Realistic</strong> activities often involve
													practical, hands-on problems and solutions such as designing, building, and repairing
													machinery.</span><span style="font-size:9pt;line-height:107%;font-family:Verdana, sans-serif;"></span></p>
												<p class="section-description-info"></p>
												<p>Realistic occupations generally require workers to have physical and mechanical abilities.<br />
												</p>
												<p class="section-description-info">Realistic types generally prefer to work with things (machines,
													plants, and animals) rather than people. In their work, they are practical, straightforward, and
													persistent.<span style="font-size:9pt;line-height:107%;font-family:Verdana, sans-serif;"></span></p>
												<div class="include-list">
													<p class="section-description-info"><strong>Realistic occupations include:</strong></p>
													<ul class="section-list-disc">
														<li><a href="occufind-occupation-details/29-1071.01">Anesthesiologist Assistants</a></li>
														<li><a href="occufind-occupation-details/27-4012.00">Broadcast Technicians</a></li>
														<li><a href="occufind-occupation-details/35-2014.00">Cooks, Restaurant</a></li>
														<li><a href="occufind-occupation-details/51-9081.00">Dental Laboratory Technicians</a></li>
														<li><a href="occufind-occupation-details/47-2111.00">Electricians</a></li>
														<li><a href="occufind-occupation-details/45-4011.00">Forest and Conservation Workers</a></li>
													</ul>
													<ul class="section-list-disc">                      
														<li><a href="occufind-occupation-details/49-9099.01">Geothermal Technicians</a></li>
														<li><a href="occufind-occupation-details/33-2011.01">Municipal Firefighters</a></li>
														<li><a href="occufind-occupation-details/13-1199.02">Security Management Specialists</a></li>
														<li><a href="occufind-occupation-details/17-2051.01">Transportation Engineers</a></li>
														<li><a href="occufind-occupation-details/27-2023.00">Umpires, Referees and Other Sports Officials</a></li>
													</ul>
												</div>
												<p class="information-base-text visible-xs">The FYI is based on<br />John Holland's Theory
													of<br />Career Choice RIASEC&copy;. </p>
											</div>
											<div class="tab-pane active conventional_content" id="Conventional" role="tabpanel">
												<p class="section-description-info"><span><strong>Conventional</strong> activities require attention
														to accuracy
														and detail such as maintaining orderly and accurate records, procedures, and routines.</span></p>
												<p class="section-description-info">Conventional occupations generally require workers to have
													clerical, organizational, and arithmetic abilities.</p>
												<p class="section-description-info">Conventional types prefer working with data more than with ideas. 
													They apply precise standards in a setting where there is a clear line of authority. 
													In their work, they are efficient, methodical, and detail-oriented.</p>
												<div class="include-list">
													<p class="section-description-info"><strong>Conventional occupations include:</strong></p>
													<ul class="section-list-disc">
														<li><a href="occufind-occupation-details/13-2011.01">Accountants</a></li>
														<li><a href="occufind-occupation-details/19-4061.01">City and Regional Planning Aides</a></li>
														<li><a href="occufind-occupation-details/23-2091.00">Court Reporters</a></li>
														<li><a href="occufind-occupation-details/13-1199.01">Energy Auditors</a></li>
														<li><a href="occufind-occupation-details/33-2021.01">Fire Inspectors</a></li>
														<li><a href="occufind-occupation-details/15-1122.00">Information Security Analysts</a></li>
														<li><a href="occufind-occupation-details/25-4021.00">Librarians</a></li>
														<li><a href="occufind-occupation-details/13-2072.00">Loan Officers</a></li>
													</ul>
													<ul class="section-list-disc">
														<li><a href="occufind-occupation-details/13-1081.02">Logistics Analysts</a></li>
														<li><a href="occufind-occupation-details/31-9094.00">Medical Transcriptionists</a></li>
														<li><a href="occufind-occupation-details/23-2011.00">Paralegals and Legal Assistants</a></li>
														<li><a href="occufind-occupation-details/13-1041.07">Regulatory Affairs Specialists</a></li>
														<li><a href="occufind-occupation-details/19-4061.00">Social Science Research Assistants</a></li>
														<li><a href="occufind-occupation-details/15-2041.00">Statisticians</a></li>
														<li><a href="occufind-occupation-details/11-3031.01">Treasurers and Controllers</a></li>
													</ul>
												</div>
												<p class="information-base-text visible-xs">The FYI is based on<br />John Holland's Theory
													of<br />Career Choice RIASEC&copy;. </p>
											</div>
											<div class="tab-pane enterprising_content" id="Enterprising" role="tabpanel">
												<p class="section-description-info"><span><strong>Enterprising</strong> activities allow you to take a 
													leadership role in areas such as sales, supervision, and project or business management.</span></p>
												<p class="section-description-info">Enterprising occupations generally require workers to have leadership, sales, and speaking abilities. </p>
												<p class="section-description-info">Enterprising types prefer to work with people and ideas rather than things. 
													They like work that is fast-paced, requires a lot of responsibility and decision making, and involves taking 
													risks for profit. In their work, they are persuasive, ambitious, and energetic.</p>
												<div class="include-list">
													<p class="section-description-info"><strong>Enterprising occupations include:</strong></p>
													<ul class="section-list-disc">
														<li><a href="occufind-occupation-details/41-3011.00">Advertising Sales Agents</a></li>
														<li><a href="occufind-occupation-details/53-2021.00">Air Traffic Controllers</a></li>
														<li><a href="occufind-occupation-details/35-3022.01">Baristas</a></li>
														<li><a href="occufind-occupation-details/33-3021.03">Criminal Investigators and Special Agents</a></li>
														<li><a href="occufind-occupation-details/23-1011.00">Lawyers</a></li>
														<li><a href="occufind-occupation-details/13-1121.00">Meeting, Convention, and Event Planners</a></li>
														<li><a href="occufind-occupation-details/13-1199.06">Online Merchants</a></li>
													</ul>
													<ul class="section-list-disc">
														<li><a href="occufind-occupation-details/27-3031.00">Public Relations Specialists</a></li>
														<li><a href="occufind-occupation-details/41-9022.00">Real Estate Sales Agents</a></li>
														<li><a href="occufind-occupation-details/41-3031.03">Securities and Commodities Traders</a></li>
														<li><a href="occufind-occupation-details/27-2012.04">Talent Directors</a></li>
														<li><a href="occufind-occupation-details/41-9041.00">Telemarketers</a></li>
														<li><a href="occufind-occupation-details/39-7012.00">Travel Guides</a></li>
													</ul>
												</div>
												<p class="information-base-text visible-xs">The FYI is based on<br />John Holland's Theory
													of<br />Career Choice RIASEC&copy;. </p>
											</div>
											<div class="tab-pane social_content" id="Social" role="tabpanel">
												<p class="section-description-info"><span><strong>Social</strong> activities allow you to use your skills and talents to help, teach, and counsel others.</span></p>
												<p class="section-description-info">Social occupations generally require personal interaction and communication skills and abilities.</p>
												<p class="section-description-info">Social types prefer to work with people rather than to work with objects, machines, or data. 
													In their work, they are friendly, outgoing, and helpful.</p>
												<div class="include-list">
													<p class="section-description-info"><strong>Social occupations include:</strong></p>
													<ul class="section-list-disc">
														<li><a href="occufind-occupation-details/25-2059.01">Adaptive Physical Education Specialists</a></li>
														<li><a href="occufind-occupation-details/29-9091.00">Athletic Trainers</a></li>
														<li><a href="occufind-occupation-details/39-9011.00">Childcare Workers</a></li>
														<li><a href="occufind-occupation-details/21-2011.00">Clergy</a></li>
														<li><a href="occufind-occupation-details/27-2022.00">Coaches and Scouts</a></li>
														<li><a href="occufind-occupation-details/11-9161.00">Emergency Management Directors</a></li>
														<li><a href="occufind-occupation-details/31-1011.00">Home Health Aides</a></li>
														<li><a href="occufind-occupation-details/31-9011.00">Massage Therapists</a></li>
														<li><a href="occufind-occupation-details/21-1014.00">Mental Health Counselors</a></li>
													</ul>
													<ul class="section-list-disc">
														<li><a href="occufind-occupation-details/29-1161.00">Nurse Midwives</a></li>
														<li><a href="occufind-occupation-details/31-2011.00">Occupational Therapy Assistants</a></li>
														<li><a href="occufind-occupation-details/19-1031.03">Park Naturalists</a></li>
														<li><a href="occufind-occupation-details/21-1092.00">Probation Officers and Correctional Treatment Specialists</a></li>
														<li><a href="occufind-occupation-details/29-1127.00">Speech-Language Pathologists</a></li>
														<li><a href="occufind-occupation-details/25-2032.00">Career/Technical Education Teachers, Secondary School</a></li>
														<li><a href="occufind-occupation-details/39-7011.00">Tour Guides and Escorts</a></li>
														<li><a href="occufind-occupation-details/35-3031.00">Waiters and Waitresses</a></li>
													</ul>
												</div>
												<p class="information-base-text visible-xs">The FYI is based on<br />John Holland's Theory
													of<br />Career Choice RIASEC&copy;. </p>
											</div>
											<div class="tab-pane artistic_content" id="Artistic" role="tabpanel">
												<p class="section-description-info"><span><strong>Artistic</strong> activities allow you to be creative 
													to do original work such as writing, singing, dancing, sculpting, and painting.</span></p>
												<p class="section-description-info">Artistic occupations generally require workers to have artistic 
													abilities and a good imagination.</p>
												<p class="section-description-info">Artistic types generally prefer to work with ideas rather than things, 
													and like to be in a setting where they can work without a clear set of rules. In their work, they are 
													expressive, original, and independent.</p>
												<div class="include-list">
													<p class="section-description-info"><strong>Artistic occupations include:</strong></p>
													<ul class="section-list-disc">
														<li><a href="occufind-occupation-details/27-2011.00">Actors</a></li>
														<li><a href="occufind-occupation-details/17-3011.01">Architectural Drafters</a></li>
														<li><a href="occufind-occupation-details/27-3021.00">Broadcast News Analysts</a></li>
														<li><a href="occufind-occupation-details27-1021.00">Commercial and Industrial Designers</a></li>
														<li><a href="occufind-occupation-details/43-9031.00">Desktop Publishers</a></li>
														<li><a href="occufind-occupation-details/27-4032.00">Film and Video Editors</a></li>
														<li><a href="occufind-occupation-details/39-5012.00">Hairdressers, Hairstylists, and Cosmetologists</a></li>
														<li><a href="occufind-occupation-details/27-3091.00">Interpreters and Translators</a></li>
													</ul>
													<ul class="section-list-disc">
														<li><a href="occufind-occupation-details/17-1012.00">Landscape Architects</a></li>
														<li><a href="occufind-occupation-details/39-5091.00">Makeup Artists, Theatrical and Performance</a></li>
														<li><a href="occufind-occupation-details/27-1014.00">Multimedia Artists and Animators</a></li>
														<li><a href="occufind-occupation-details/27-2041.04">Music Composers and Arrangers</a></li>
														<li><a href="occufind-occupation-details/27-4021.00">Photographers</a></li>
														<li><a href="occufind-occupation-details/27-1027.00">Set and Exhibit Designers</a></li>
														<li><a href="occufind-occupation-details/27-3042.00">Technical Writers</a></li>
														<li><a href="occufind-occupation-details/15-1199.11">Videogame Designers</a></li>
													</ul>
												</div>
												<p class="information-base-text visible-xs">The FYI is based on<br />John Holland's Theory
													of<br />Career Choice RIASEC&copy;. </p>
											</div>
											<div class="tab-pane investigative_content" id="Investigative" role="tabpanel">
												<p class="section-description-info"><span><strong>Investigative</strong> activities involve testing ideas, 
													learning new things, and allow you to use your knowledge to solve problems.</span></p>
												<p class="section-description-info">Investigative occupations generally require workers to have 
													math and science abilities.</p>
												<p class="section-description-info">Investigative types generally prefer to work with ideas rather 
													than with people or things. In their work, they are curious, observant, and logical.</p>
												<div class="include-list">
													<p class="section-description-info"><strong>Investigative occupations include:</strong></p>
													<ul class="section-list-disc">
														<li><a href="occufind-occupation-details/19-3091.01">Anthropologists</a></li>
														<li><a href="occufind-occupation-details/17-2031.00">Biomedical Engineers</a></li>
														<li><a href="occufind-occupation-details/19-2031.00">Chemists</a></li>
														<li><a href="occufind-occupation-details/15-1143.00">Computer Network Architects</a></li>
														<li><a href="occufind-occupation-details/29-1021.00">Dentists, General</a></li>
														<li><a href="occufind-occupation-details/29-1031.00">Dietitians and Nutritionists</a></li>
														<li><a href="occufind-occupation-details/17-2081.00">Environmental Engineers</a></li>
														<li><a href="occufind-occupation-details/33-2021.02">Fire Investigators</a></li>
													</ul>
													<ul class="section-list-disc">
														<li><a href="occufind-occupation-details/19-4092.00">Forensic Science Technicians</a></li>
														<li><a href="occufind-occupation-details/15-1199.05">Geographic Information Systems Technicians</a></li>
														<li><a href="occufind-occupation-details/13-1161.00">Market Research Analysts and Marketing Specialists</a></li>
														<li><a href="occufind-occupation-details/17-2199.09">Nanosystems Engineers</a></li>
														<li><a href="occufind-occupation-details/29-1051.00">Pharmacists</a></li>
														<li><a href="occufind-occupation-details/19-1031.01">Soil and Water Conservationists</a></li>
														<li><a href="occufind-occupation-details/29-1069.11">Sports Medicine Physicians</a></li>
														<li><a href="occufind-occupation-details/29-1131.00">Veterinarians</a></li>
													</ul>
												</div>
												<p class="information-base-text visible-xs">The FYI is based on<br />John Holland's Theory
													of<br />Career Choice RIASEC&copy;. </p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="section-description">
							<h2 class="section-title">Work Values</h2>
							<!-- <p>Understanding what you value about a job is an important contributor to career satisfaction. The ASVAB CEP helps you determine your top work values so you can identify careers that may align when exploring occupations and creating your action plan for the future.</p> -->
							<p [innerHTML]="pageHtml[3]"></p>
								
							<div id="wv-intro-grid">
								<div><img src="assets/images/wv-Achievement.png"><strong><a (click)="_utility.showWorkValueModal('Achievement')">Achievement</a></strong></div>
								<div><img src="assets/images/wv-Independence.png"><strong><a (click)="_utility.showWorkValueModal('Independence')">Independence</a></strong></div>
								<div><img src="assets/images/wv-Recognition.png"><strong><a (click)="_utility.showWorkValueModal('Recognition')">Recognition</a></strong></div>
								<div><img src="assets/images/wv-Relationships.png"><strong><a (click)="_utility.showWorkValueModal('Relationships')">Relationships</a></strong></div>
								<div><img src="assets/images/wv-Support.png"><strong><a (click)="_utility.showWorkValueModal('Support')">Support</a></strong></div>
								<div><img src="assets/images/wv-Working-Conditions.png"><strong><a (click)="_utility.showWorkValueModal('Working Conditions')">Working Conditions</a></strong></div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="section-yourself bg-green">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h2 class="yourself-title text-white">Career Exploration</h2>
						<p class="yourself-description text-white">Now that you have learned about yourself you can explore what it will
							take to get there. </p><a class="yourself-link text-white" href="student-explore"><strong>START CAREER
								EXPLORATION<img alt="Caret Right" src="assets/images/arrow_caret_right.png" /></strong></a>
					</div>
				</div>
			</section>
			<section class="section-testimonial space-bottom">
				<div class="row">
					<div class="col-sm-9">
						<div class="section-testimonial-description">
							<h2>"I feel that the most helpful feature of the ASVAB Program is the OCCU-Find feature because instead of
								having to go from website to website it's all in one place."</h2>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="section-testimonial-image"><img alt="Joshua" src="assets/images/Testimonial_Joshua.png" />
							<h4>Joshua</h4>
						</div>
					</div>
				</div>
			</section>
		</div>

		<div *ngIf="showStudentExplore">
			<section class="hero-banner hero-banner-Exploration">
				<div class="row">
					<div class="col-sm-6">
						<div class="hero-banner-content">
							<h1><span class="grey-color">Career </span>Exploration</h1>
							<p [innerHTML]="pageHtml[0]"></p>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="hero-image text-center">
							<img src="assets/images/Explore_hdr_Image.jpg" alt="Explore hdr Image" />
						</div>
					</div>
				</div>
			</section>
			
			<section class="section-overview activities_sec activities_video bg-green">
				<div class="row">
					<div class="col-md-12">
						<div class="activities_inner">
							<div class="activities_text">
								<h4>Video Tutorial:</h4>
								<h2>Exploring the OCCU-Find Tutorial</h2>
							</div>
							<div class="activities_block">
								<a (click)="_utility.showVideoDialog('https://www.youtube.com/embed/6yNpUTuksa4')">
									<span class="image-wrapper">
										<img src="assets/images/Tut_test_3.jpg">
									</span>
								</a>
							</div>
						</div>
					</div>
					<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
						style="display: none;">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-body">
									<iframe id="iframeYoutube" width="560" height="315" src="#" frameborder="0" allowfullscreen=""></iframe>
								</div>
								<div class="modal-footer">
									<button type="button" class="button" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div> -->
				</div>
			</section>
			
			<section class="section-overview exploring_careers_sec bg-light-gray2">
				<div class="row">
					<div class="col-md-12">
						<div class="section-description">
							<h2 class="section-title">Using the OCCU-Find</h2>
							<p class="section-description-info">Use what you learned to find your dream job.</p>
						</div>
					</div>
					<div class="col-md-12">
						<div class="exploring_careers_inner">
							<div class="exploring_careers_item">
								<div class="careers_img_block">
									<img src="assets/images/Riasec_full.png" alt="">
								</div>
								<p>Search by interest</p>
							</div>
							<div class="exploring_careers_item">
								<div class="careers_img_block">
									<img src="assets/images/Books.png" alt="">
								</div>
								<p>Sort by Skill</p>
							</div>
							<div class="exploring_careers_item">
								<div class="careers_img_block">
									<img src="assets/images/filters.png" alt="">
								</div>
								<p>Filter by Category</p>
							</div>
						</div>
			
					</div>
				</div>
			</section>
			
			<section class="section-everything">
				<div class="row">
					<div class="col-sm-12">
						<div class="section-everything-description">
							<h2>Everything you need to make informed career decisions.</h2>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="section-everything-inner">
							<div class="section-everything-tage">
								<ul>
									<li>What They Do</li>
									<li>Interest Codes</li>
									<li>Relative Skill Importance Ratings</li>
									<li>Different Ways to Get There</li>
									<li>Growth and Salary Outlook</li>
									<li>Related Careers</li>
									<li>More Resources</li>
									<li>and much more...</li>
								</ul>
								<a (click)="showViewDetailModal()" class="section-everything-button button"><span class="d-flex align-items-center">VIEW DETAILS<img
											src="assets/images/arrow_caret_right.png" alt="caret right"></span></a>
							</div>
							<div class="section-everything-images">
								<img src="assets/images/detail.jpg" alt="detail" />
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section class="section-top-viewed  bg-light-gray2">
				<div class="row">
					<div class="col-sm-12">
						<div class="section-top-viewed-title section-description">
							<p class="section-description-info">Top 3 Viewed Jobs</p>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="section-top-viewed-wrapper">
							<div class="section-top-viewed-item">
								<div class="section-top-viewed-item-inner">
									<img src="assets/images/Career_image_1.jpg" alt="Career image 1" />
									<a href="occufind-occupation-details/29-1141.00">Registered Nurses</a>
								</div>
							</div>
							<div class="section-top-viewed-item">
								<div class="section-top-viewed-item-inner">
									<img src="assets/images/Career_image_2.jpg" alt="Career image 2" />
									<a href="occufind-occupation-details/49-3011.00">Aircraft Mechanics & Service Techs</a>
								</div>
							</div>
							<div class="section-top-viewed-item">
								<div class="section-top-viewed-item-inner">
									<img src="assets/images/Career_image_3.jpg" alt="Career image 3" />
									<a href="occufind-occupation-details/55-1015.00">Command & Control Center Officers</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section class="section-yourself bg-green">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h2 class="yourself-title text-white">Planning Tools</h2>
						<p class="yourself-description text-white">The ASVAB CEP offers participants access to exclusive career planning
							tools.</p>
						<a class="yourself-link text-white" href="student-plan"><strong class="d-flex align-items-center">MAKE A PLAN<img
									src="assets/images/arrow_caret_right.png" alt="Caret Right" /></strong></a>
					</div>
				</div>
			</section>
			
			<section class="section-testimonial space-bottom">
				<div class="row">
					<div class="col-sm-9">
						<div class="section-testimonial-description">
							<h2>"I feel that the most helpful feature of the ASVAB Program is the OCCU-Find feature because instead of
								having to go from website to website it's all in one place."</h2>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="section-testimonial-image">
							<img src="assets/images/Testimonial_Stephany.png" alt="Testimonial Stephany">
							<h4>Stephany</h4>
						</div>
					</div>
				</div>
			</section>
		</div>

		<div *ngIf=showStudentPlan>
			<section class="hero-banner hero-banner-plan">
				<div class="row">
						<div class="col-sm-6">
								<div class="hero-banner-content">
										<h1><span class="grey-color">Make Your</span> Plan</h1>
										<p [innerHTML]="pageHtml[0]"></p>
								</div>
						</div>
						 <div class="col-sm-6">
								<div class="hero-image text-center">
										<img src="assets/images/Plan_hdr_Image.jpg" alt="Plan hdr Image" />
								</div>
						</div>
				</div>
			</section>
			
			<section class="section-overview activities_sec bg-green">
				<div class="row">
						<div class="col-md-12">
							 <div class="activities_inner">
										<div class="activities_text">
												<h4>Exclusive Access</h4>
												<h2>Portfolio Builder and 
												<br/> New Classroom Activities </h2>
										</div>
										<div class="activities_block">
											<a (click)="_utility.showVideoDialog('https://www.youtube.com/embed/fiy5rMcHdhM')">
												<span class="image-wrapper">
													<img src="assets/images/portfolio_tut_Thumb.jpg">
												</span>
											</a>
										</div>
							 </div>
						</div>
				</div>
			</section>
			
			<section class="section-media-center-sec">
				<div class="row">
						<div class="col-sm-12 section-media-center-wapper">
								<div class="section-media-center-sec-inner">
										<div class="section-media-center-block">
												<img src="assets/images/Media_1.jpg" alt="Media1" />
												<a href="media-center-article/66">Active Duty vs Reserve</a>
										</div>
								</div>
								<div class="section-media-center-sec-inner">
										<div class="section-media-center-block">
												<img src="assets/images/Media_2.jpg" alt="Media2" />
												<a href="media-center-article/65">S.M.A.R.T. Goal Setting</a>
										</div>
								</div>
								<div class="section-media-center-sec-inner">
										<div class="section-media-center-block">
												<img src="assets/images/Media_3.jpg" alt="Media3" />
												<a href="media-center-article/59">Making the Most of College Visits</a>
										</div>
								</div>
								<div class="section-media-center-sec-inner">
										<div class="section-media-center-block">
												<img src="assets/images/Media_4.jpg" alt="Media4" />
												<a href="media-center-article/52">10 Tips for Writing a Strong Essay</a>
										</div>
								</div>
						</div>
				</div>
				<div class="row">
						<div class="col-sm-12">
								<div class="section-viewmore-button">
										<a href="media-center" class="button"><span class="d-flex align-items-center">VIEW MORE MEDIA CENTER<img src="assets/images/arrow_caret_right.png" alt="caret right"/></span></a>
								</div>
						</div>
				</div>
			</section>
			
			<section class="section-financial-sec bg-blue">
				<div class="row section-financial-d-flex">
						<div class="col-sm-3 col-lg-3">
								<div class="section-financial-block section-financial-inner">
										<h2>Financial <br /> Resources</h2>
										<h1>$$$$</h1>
								</div>
						</div>
						<div class="col-sm-3 col-lg-3">
								<div class="section-financial-block">
										<h4>FAFSA</h4>
										<p>Federal Student Aid
											 information.</p>
										<a href="https://studentaid.gov/h/apply-for-aid/fafsa" target="_blank">Learn More <span><img src="assets/images/arrow_caret_right.png" alt="caret right"/></span></a>
								</div>
						</div>
						<div class="col-sm-3 col-lg-3">
								<div class="section-financial-block">
										<h4>Fast Web</h4>
										<p>Scholarships, colleges, 
											 financial aid and more.</p>
										<a href="https://www.fastweb.com/" target="_blank">Learn More <span><img src="assets/images/arrow_caret_right.png" alt="caret right"/></span></a>
								</div>
						</div>
						<div class="col-sm-3 col-lg-3">
								<div class="section-financial-block">
										<h4>Living wage calculator</h4>
										<p>Estimate the cost of
												living to help determine
												a local wage that works
												for you.</p>
										<a href="https://livingwage.mit.edu/" target="_blank">Learn More <span><img src="assets/images/arrow_caret_right.png" alt="caret right"/></span></a>
								</div>
						</div>
				</div>
			</section>
			
			<section class="section-overview section-cost-career-sec">
				<div class="row section-cost-career-d-flex">
						<div class="col-sm-8">
								<div class="section-cost-career-text section-description">
										<h6><strong>Example Classroom Activities:</strong> Math</h6>
										<h2 class="section-title">Cost of a Career</h2>
										<p class="section-description-info" [innerHTML]="pageHtml[1]"></p>
										<p class="section-description-info"> *Tip: Use the <a href="https://livingwage.mit.edu/">living wage calculator</a> to develop your chart.</p>
										<p class="hidden-xs section-description-info"><strong>Want access to more activities?</strong>&nbsp; <a href="asvab-cep-at-your-school">Bring the ASVAB CEP to your school.</a></p>
								</div>
						</div>
						<div class="col-sm-4">
								<div class="section-cost-career-img_inner">
										<div class="section-cost-career-img section-description">
												<img src="assets/images/Class_example_thumbnail.jpg" alt="Class example thumbnail">
												<a href="{{documents}}Cost_of_a_Career_Student.pdf" target="_blank">View Example</a>
												<p class="visible-xs section-description-info"><strong>Want access to more activities?</strong>&nbsp; <a href="asvab-cep-at-your-school">Bring the ASVAB CEP to your school.</a></p>
										</div>
								</div>
						</div>
				</div>
				<div class="row">
						<div class="col-sm-12 col-12">
								<div class="section-viewmore-button">
										<a (click)="showViewDetailModal()" class="button">
												<span class="d-flex align-items-center justify-content-center">VIEW MORE<img src="assets/images/arrow_caret_right.png" alt="caret right"></span>
										</a>
								</div>
						</div>
				</div>
			</section>
			
			<section class="section-testimonial space-bottom">
				<div class="row">
						<div class="col-sm-9">
								<div class="section-testimonial-description">
										<h2>"I would tell a fellow student go ahead, participate in [the ASVAB Program], see what it helps you with and see what it tells you to help you make your mind up for what you want to be or do in the future."</h2>
								</div>
						</div>
						<div class="col-sm-3">
								<div class="section-testimonial-image">
										<img src="assets/images/Testimonial_Jushawn.png" alt="Testimonial Jushawn">
										<h4>Jushawn</h4>
								</div>
						</div>
				</div>
			</section>
		</div>
	</div>
	<app-footer></app-footer>
</div>