.student {
    #banner {
        h1 {
            margin-top: 3px;
        }
    }
}
:host >>> .student {
    .student {
        background-color: #ffffff;
    }

    .visible-lg, .visible-md, .visible-sm, .visible-xs {
        display: none !important;
    }

    .text-white {
        color: #fff;
    }

    .bg-green {
        background-color: #1CB0B6;
    }

    .bg-white {
        background-color: #fff!important;
    }

    .bg-light-gray2 {
        background-color: #f4f4f4;
    }

    .bg-blue {
        background-color: #2f2a6a;
    }

    .bg-navy-blue {
        background-color: rgba(47,40,108,.10196078431372549)!important;

        > td:first-child {
            strong {
                color: #2f286c;
            }
        }
    }

    .bg-dark-red {
        background-color: rgba(141,45,49,.10196078431372549)!important;

        > td:first-child {
            strong {
                color: #8d2d31;
            }
        }
    }

    .bg-skye-blue {
        background-color: rgba(28,175,182,.10196078431372549)!important;

        > td:first-child {
            strong {
                color: #1cafb6;
            }
        }
    }
    .col-sm-3,
    .col-sm-4,
    .col-sm-9,
    .col-sm-6,
    .col-sm-8,
    .col-sm-12,
    .col-md-12 {
        padding-right: 15px;
        padding-left: 15px;
    }

    
    @media screen and (max-width: 767px) {
        .visible-xs {
            display: block!important;
        }
        .hidden-xs {
            display: none !important;
        }
    }

    @media screen and (min-width: 768px) {
        .col-sm-3 {
            width: 25%;
            float: left;
        }
        
        .col-sm-4 {
            width: 33.33333333%;
            float: left;
        }

        .col-sm-9 {
            width: 75%;
            float: left;
        }

        .col-sm-6 {
            width: 50%;
            float: left;
        }  
        
        .col-sm-8 {
            width: 66.66666667%;
            float: left;
        }

        .col-sm-12 {
            width: 100%;
        }
    }
    
    .grey-color {
        color: #aaa;
    }

    .d-flex {
        display: flex;
    }

    .align-items-center {
        -webkit-align-items: center;
        align-items: center;
    }

    .hero-banner { 
        padding-top: 32px;

        @media screen and (max-width: 767px) {
            padding-top: 24px;
        }
        
        .hero-banner-content {
            @media screen and (min-width: 768px) {
                max-width: 410px;
            }
            
            @media screen and (max-width: 767px) {
                margin: 0 auto;
                text-align: center;
            }

            p {
                @media screen and (max-width: 767px) {
                    padding: 0 15px;
                }
            }
        }
        

        &.hero-banner-learn {
            @media screen and (max-width: 767px) {
                padding-top: 34px;
            }

            p {
                @media screen and (max-width: 767px) {
                    line-height: 24px;
                    padding: 0 15px;
                    margin-bottom: 24px;
                }
            }
        }

        &.hero-banner-Exploration {
            .hero-banner-content {
                @media screen and (min-width: 768px) {
                    max-width: 430px;
                }

                p {
                    @media screen and (max-width: 767px) {
                        padding: 0 15px;
                        margin-bottom: 8px;
                    }
                }
            }

            .hero-image {
                @media screen and (min-width: 768px) {
                    -webkit-justify-content: center;
                    justify-content: center;
                }

                @media screen and (max-width: 767px) {
                    padding: 0 12px;
                }
            }
        }

        &.hero-banner-plan {
            .hero-image {
                @media screen and (max-width: 767px) {
                    margin-left: -15px;
                    margin-right: -16px;
                    padding-left: 0;
                    padding-right: 0;
                    padding-top: 19px;
                }
            }
        }

        h1 {
            color: #218d92;
            font-size: 30px;
            margin-bottom: 18px;
            margin-top: 26px;
            text-transform: inherit;

            @media screen and (max-width: 767px) {
                line-height: 40px;
                margin-bottom: 32px;
                margin-top: 0;
            }

            span {
                @media screen and (max-width: 767px) {
                    display: block;
                }
            }
           
        }

        p {
            color: #4a4a4a;
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 22px;

            @media screen and (max-width: 767px) {
                line-height: 24px;
            }
        }
    }

    .section-list-disc {
        li {
            font-size: 14px !important;
            line-height: 19px;
            position: relative;
            padding-left: 36px;

            
        }
        
    }

    .hero-image {
        @media screen and (min-width: 768px) {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: flex-end;
            align-items: flex-end;
            height: 100%;
        }
        @media screen and (max-width: 767px) {
            padding: 0 15px;
        }
    }

    .section-description {
        p {
            font-size: 13px;
            line-height: 18px;
            max-width: 866px;
        }
        .information-base-text {
            font-size: 12px;
            line-height: 16px;

            @media screen and (max-width: 767px) {
                margin-top: 21px;
                padding-top: 12px;
                border-top: 1px solid #d1d4d0;
                max-width: 100%;
            }

            br {
                @media screen and (max-width: 767px) {
                    display: none;
                }
            }
        }
    }

    .section-overview {
        padding-top: 40px;
        background-color: #fff;

        h2 {
            text-transform: inherit;
        }

        .section-title {
            font-size: 24px;
            line-height: 33px;
            margin-bottom: 30px;
            color: #218D92;
            text-transform: inherit;

            @media screen and (max-width: 767px) {
                text-align: center;
            }
        }
        .section-description-info {
            font-size: 14px;
            line-height: 19px;
            color: #4A4A4A;
        }
    }

    .section-questions {
        background-color: #f4f4f4;
        padding-bottom: 35px;
        padding-top: 48px;

        .section-description-info {
            font-size: 14px;
            line-height: 19px;
            color: #4A4A4A;
        }

        .questions-block {
            @media screen and (min-width: 768px) { 
                max-width: 398px;
            }

            .questions-block-head {
                display: flex;
    
                .questions-block-icon {
                    position: relative;
                    z-index: 1;

                    img {
                        position: relative;
                        min-height: 79px;
                    }
                }
    
                .questions-block-title {
                    padding-left: 23px;
                    width: -webkit-calc(100% - 83px);
                    width: -moz-calc(100% - 83px);
                    width: calc(100% - 83px);
    
                    h2 {
                        color: #218d92;
                        font-size: 24px;
                        line-height: 16px;
                    }
    
                    h4 {
                        color: #4a4a4a;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 16px;
                        margin-bottom: 0;
                    }
                }
            }
            
            .questions-block-link {
                .button {
                    background-color: #1cafb6;
                    border-radius: 2px;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-align-items: center;
                    align-items: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    font-size: 14px;
                    letter-spacing: 1px;
                    width: -webkit-calc(100% - 64px);
                    width: -moz-calc(100% - 64px);
                    width: calc(100% - 64px);
                    border: 1px solid #fff;
                    padding: 6px 20px;
                    margin-left: auto;
                    margin-bottom: 0;
                    margin-top: -28px;
                    filter: drop-shadow(0 0 1px rgba(0, 0, 0, .12)) drop-shadow(0 2px 1px rgba(0,0,0,.24));

                    > img {
                        margin-left: 6px;
                    }
                }
            }

            &.questions-block-one {
                .questions-block-icon {
                    width: 83px;
                }
            }

            &.questions-block-two { 
                margin-left: auto;
                margin-right: 20px;

                .questions-block-title {
                    padding-left: 14px;
                    width: -webkit-calc(100% - 116px);
                    width: -moz-calc(100% - 116px);
                    width: calc(100% - 116px);
                }

                .questions-block-icon {
                    max-width: 116px;
                    width: 100%;
                }
                .questions-block-icon:before {
                    @media screen and (min-width: 768px) {
                        background-color: #f4f4f4;
                        content: '';
                        pointer-events: none;
                        position: absolute;
                        right: 0;
                        bottom: 8px;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                        height: 8px;
                        width: 28px;
                    }
                } 
                .questions-block-link {
                    .button {
                        padding: 6px 10px 6px 20px;
                        width: -webkit-calc(100% - 104px);
                        width: -moz-calc(100% - 104px);
                        width: calc(100% - 104px);
                    }
                }
            }

            .questions-block-content {
                padding-top: 22px;
                
                .section-description-info {
                    margin-bottom: 18px;
                }
            }
        }
        .questions-link {
            margin-top: 56px;

            a {
                color: #312a88;
                font-size: 18px;
            }
        }
        
    }

    .section-results {
        padding-bottom: 67px;

        .results-block {
            ol {
                counter-reset: section;
                list-style-type: none;
                max-width: 414px;
                margin-left: auto;
                margin-bottom: 10px;
                padding-left: 0;

                li {
                    color: #4a4a4a;
                    font-size: 14px;
                    line-height: 19px;
                    padding-left: 40px;
                    position: relative;

                    &:before {
                        background-color: #2F286C;
                        border: 1px solid #979797;
                        border-radius: 50%;
                        content: counters(section,".");
                        color: #fff;
                        font-size: 18px;
                        line-height: 1.4;
                        position: absolute;
                        left: 0;
                        top: 2px;
                        width: 26px;
                        counter-increment: section;
                        height: 26px;
                        font-weight: 700;
                        text-align: center;
                    }

                    ~ li {
                        margin-top: 18px;
                    }
                }
            }
        }
    }

    .areas-block {
        color: #4A4A4A;
        font-size: 14px;
        line-height: 19px;
        margin-top: 14px;

        .areas-block-title {
            font-weight: 700;
            margin-bottom: 18px;
            padding-left: 10px;
        }

        .section-description-info {
            margin-bottom: 0;
            padding-left: 10px;
        }

        .areas-block-items {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            margin-top: 8px;

            .areas-block-item {
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-items: center;
                align-items: center;

                ~.areas-block-item {
                    margin-left: 70px;
                }
            }

            span {
                border: 1px solid #979797;
                display: block;
                margin-right: 10px;
                height: 18px;
                width: 17px;

                &.skye-blue-box {
                    background-color: #1cafb6;
                }

                &.dark-red-box {
                    background-color: #8d2d31;
                }

                &.navy-blue-box {
                    background-color: #2f286c;
                }
            }
        }
    }

    table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;

        th {
            border-top: 1px solid #fff;
            line-height: 1.42857143;
            padding: 5px 15px;

            &[align=center]:nth-last-child(2) {
                padding-left: 6px;
            }
        }

        td {
            line-height: 1.42857143;
            padding: 5px 15px;
            border-top: 1px solid #fff;

            &[align=center]:nth-last-child(2) {
                padding-left: 6px;
            }
        }

        thead {
            background: #f9f9f9;
            color: #000;

            tr {
                th {
                    padding-bottom: 7px;
                    padding-top: 7px;
                    white-space: nowrap;
                    vertical-align: middle;
                }
            }
        }
        tbody {
            .bg-white~tr.bg-white>td {
                border-color: #b6b6b6;
            }
            td {
                &:first-child {
                    strong {
                        white-space: nowrap;
                    }
                }

                &:nth-child(2) {
                    padding-right: 0;
                    padding-left: 20px;
                }
            }
        }
    }

    .section-ctm {
        padding-bottom: 30px;
        padding-top: 45px;

        .ctm-title {
            margin-top: -7px;
            margin-bottom: 12px;
            max-width: 520px;
            text-transform: inherit;
        }

        .ctm-link {
            font-size: 20px;

            img {
                margin-left: 10px;
            }
        }
    }

    .section-tips {
        padding-bottom: 38px;
        padding-top: 52px;

        ul.section-list-disc {
            li {
                &:before {
                    left: 11px !important;
                }

                ~li {
                    margin-top: 10px;
                }
            }
            
        }
    }

    .section-yourself {
        padding-bottom: 70px;
        padding-top: 50px;

        @media screen and (max-width: 767px) {
            padding-top: 36px;
        }

        .yourself-title {
            font-size: 30px;
            text-transform: inherit;
            display: inline-block;

            @media screen and (max-width: 767px) {
                margin-bottom: 24px;
            }
        }

        .yourself-description {
            font-size: 18px;

            @media screen and (max-width: 767px) {
                line-height: normal;
                margin-bottom: 25px;
                padding-left: 5px;
                padding-right: 5px;
            }
        }

        .yourself-link {
            font-size: 18px;
            text-transform: uppercase;
            display: inline-block;

            strong {
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-items: center;
                align-items: center;
            }

            img {
                margin-left: 10px;
            }
        }
    }

    .section-testimonial {
        position: relative;
        background-color: #dcdfdf;
        padding-bottom: 40px;
        padding-top: 65px;
        margin-bottom: -30px;

        @media screen and (max-width: 767px) {
            padding-bottom: 40px;
            padding-top: 45px;
        }

        h2 {
            color: #218d92;
            font-size: 24px;
            text-transform: inherit;
            line-height: 1.4!important;
        }

        .section-testimonial-image {
            display: inline-block;

            @media screen and (max-width: 767px) {
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                -webkit-flex-wrap: wrap;
            }

            h4 {
                color: #4a4a4a;
                font-size: 18px;
                line-height: 25px;
                margin-top: 15px;
                margin-bottom: 0;
                text-align: center;

                @media screen and (max-width: 767px) {
                    width: 100%;
                    order: 0;
                    margin-top: 0;
                    margin-bottom: 8px;
                }
            }

            img {
                @media screen and (max-width: 767px) {
                    order: 1;
                    margin: 0 auto;
                }
            }
        }

        .row {
            @media screen and (max-width: 767px) {
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-direction: column-reverse;
                flex-direction: column-reverse;
            }
        }

        .section-testimonial-description {
            @media screen and (max-width: 767px) { 
                h2 {
                    margin-top: 20px;
                    text-align: center;
                    margin-bottom: 0;
                }
            }
        } 
    }
    
    .section-media-center-sec {
        margin-top: 75px;
        
        .section-viewmore-button {
            margin-top: 55px;
            text-align: center;
            
            a {
                font-size: 14px!important;
                letter-spacing: 1px;
                color: #fff;
                font-weight: 700;
                text-align: center;
                border-radius: 2px;
                display: inline-block;
                vertical-align: middle;
                padding: 8px 19px!important;
                background-color: #1cafb6;
                line-height: normal;
                border: none!important;
                margin: 0;
                
                span img {
                    padding-left: 10px;
                }
            }
        }
    }
    
    .section-media-center-sec-inner {
        width: 25%;
        float: left;
        padding: 0 7.5px;
    }
    
    .bg-blue {
        background-color: #2f2a6a;
    }

    .section-financial-d-flex {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    
    .section-financial-sec {
        margin-top: 55px;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    
    .section-financial-block {
        height: 100%;
        position: relative;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        
        h2 {
            font-size: 24px;
            line-height: 29px;
            color: #fff;
            font-weight: 400;
            text-transform: capitalize;
        }
        span {
            font-size: 60px;
            color: #fff;
            font-weight: 400;
            line-height: 1;
            margin-bottom: 1rem;
        }
    }
    
    .section-financial-block h2 {
        font-size: 24px;
        line-height: 29px;
        color: #ffffff;
        font-weight: 400;
        text-transform: capitalize;
        }
        .section-financial-block h1 {
        font-size: 60px;
        color: #ffffff;
        font-weight: 400;
        }
        .section-financial-block {
        height: 100%;
        }
        .section-financial-block {
        height: 100%;
        position: relative;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        }
        .section-financial-block:after {
        position: absolute;
        content: "";
        width: 1px;
        height: 100%;
        left: -15px;
        top: 0;
        background-color: #b6b6b6;
        }
        .section-financial-block.section-financial-inner:after {
        display: none;
        }
        .section-financial-block h4 {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 24px;
        color: #ffffff;
        font-weight: 700;
        }
        .section-financial-block p {
        font-size: 18px;
        line-height: 24px;
        color: #ffffff;
        margin-bottom: 40px;
        font-weight: 500;
        flex: 1 0 auto;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        }
        .section-financial-block a {
        font-size: 18px;
        display: block;
        letter-spacing: 1px;
        color: #ffffff;
        font-weight: bold;
        }
        .section-financial-block a:hover {
        opacity: 0.8;
        }
        .section-financial-block a span {
        padding-left: 5px;
        }
        .section-financial-d-flex {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .skill_sec {
        padding-top: 56px;
        padding-bottom: 85px;

        @media screen and (max-width: 767px) {
            padding-top: 36px;
            padding-bottom: 38px;
        }

        &.bg-light-gray2 {
            background-color: #f4f4f4;
        }

        .d-flex {
            display: flex;
        }

        .mt-20 {
            margin-top: 20px;
        }

        h2 {
            @media screen and (max-width: 767px) {
                margin-bottom: 16px !important;
            }
        }

        p {
            @media screen and (max-width: 767px) {
                padding: 0 14px;
                text-align: left;
                margin-bottom: 0;
            }
        }

        .skill_score {
            justify-content: space-between;
            -webkit-align-items: flex-end;
            align-items: flex-end;
            padding: 40px 48px 45px 23px;
            margin-top: 40px;

            @media screen and (max-width: 767px) {
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-flex-direction: column-reverse;
                flex-direction: column-reverse;
                padding: 20px 4px;
                margin: 25px 6px 0;
            }
        }
        .skill_score_content {
            position: relative;
            width: 555px;

            @media screen and (max-width: 767px) {
                width: 100%;
            }

            &:before {
                @media screen and (min-width: 768px) {
                    position: absolute;
                    content: '';
                    right: 0;
                    width: 0;
                    height: 0;
                    border-top: 17px solid transparent;
                    border-bottom: 17px solid transparent;
                    border-right: 17px solid #d1d1d1;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            &:after {
                @media screen and (min-width: 768px) {
                    position: absolute;
                    content: '';
                    right: 0;
                    background-color: #a3a3a3;
                    height: 100%;
                    width: 1px;
                    top: 0;
                }
            }

            .section-description-info {
                margin-bottom: 0;
            }

            ul {
                -webkit-justify-content: space-between;
                justify-content: space-between;
                -webkit-align-items: flex-end;
                align-items: flex-end;
                text-align: center;
                padding-left: 20px;
                padding-right: 55px;
                margin-top: 25px;

                @media screen and (max-width: 767px) {
                    -webkit-align-items: flex-start;
                    align-items: flex-start;
                    padding-left: 0;
                    padding-right: 0;
                    margin-top: 31px;
                    margin-bottom: 26px;
                }

                li {
                    @media screen and (max-width: 767px) {
                        width: 33.33%;
                    }

                    &:before {
                        content: ''!important;
                    }

                    .strength_img_block {
                        @media screen and (max-width: 767px) {
                            max-height: 46px;
                            height: 60px;
                            display: -webkit-flex;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-justify-content: flex-end;
                            justify-content: flex-end;
                            -webkit-flex-direction: column;
                            flex-direction: column;
                            -webkit-align-items: center;
                            align-items: center;
                            margin: 0 auto;
                        }
                    }
                }

                span {
                    font-size: 14px;
                    display: block;
                    font-weight: 700;
                    margin-top: 10px;
                }
            }
        }

        .skill_img_block {
            @media screen and (max-width: 767px) {
                margin-bottom: 31px;
                width: 100%;
                text-align: center;
            }

            img {
                @media screen and (max-width: 767px) {
                    margin: 14px auto 0;
                    text-align: center;
                    padding: 0 57px;
                }
            }
        }
    }

    .interests_sec {
        padding-top: 65px;
        padding-bottom: 50px;

        @media screen and (max-width: 767px) {
            padding-top: 37px;
            padding-bottom: 17px;
        }

        .d-flex {
            display: flex;
        }

        h2 {
            @media screen and (max-width: 767px) {
                margin-bottom: 17px !important;
            }
        }

        p {
            @media screen and (max-width: 767px) {
                padding: 0 12px;
            }
        }

        ul {
            li {
                margin-bottom: 0 !important;
            }
        }

        .interest-block {
            margin-top: 35px;
            margin-bottom: 45px;

            @media screen and (max-width: 767px) {
                margin-top: 48px;
                margin-bottom: 27px;
            }
            
            h4 {
                color: #2f2a6a;
                font-size: 18px;
                line-height: 25px;
                font-weight: 700;
                margin-bottom: 10px;

                @media screen and (max-width: 767px) {
                    text-align: center;
                    margin-bottom: 4px;
                }
            }
        }

        .interest-block-wrapper {
            border: 1px solid #C2C2C2;

            @media screen and (max-width: 767px) {
                display: block;
                border: none;
            }

            .tab-content {
                height: 100%;

                >.tab-pane {
                    display: none;
                }

                >.active {
                    display: block;
                }
            }

            .interest-block-lhs {
                width: 376px;
                text-align: center;
                padding: 31px 10px 35px;

                @media screen and (max-width: 767px) {
                    padding: 0;
                    width: 100%;
                }

                p {
                    max-width: 200px;
                    margin: 0 auto;

                    @media screen and (max-width: 767px) {
                        text-align: left;
                        max-width: 100%;
                    }
                }

                br {
                    @media screen and (max-width: 767px) {
                        display: none;
                    }
                }
            }

            .interest-block-rhs {
                width: calc(100% - 376px);

                @media screen and (max-width: 767px) {
                    width: 100%;
                }

                .tab-pane {
                    height: 100%;
                    margin: 0;
                    padding: 31px;

                    @media screen and (max-width: 767px) {
                        padding: 31px 15px 6px;
                    }
                }

                .tab-content {
                    @media screen and (max-width: 767px) {
                        margin: 0 -15px;
                    }
                }
                
            }

            .conventional_content {
                span {
                    color: #54873D;
                }
            } 

            .interest-nav-tabs {
                position: relative;
                padding: 15px 0 31px;
                margin-top: 38px;
                margin-bottom: 51px;

                @media screen and (max-width: 767px) {
                    padding: 25px 0 14px;
                    margin-top: 0;
                    margin-bottom: 0;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-align-items: center;
                    align-items: center;
                }


                .interest_triangle {
                    @media screen and (max-width: 767px) {
                        max-width: 168px;
                        margin: 0 auto;
                    }

                    li {
                        
                        &:before {
                            display: none;
                        }

                        &:first-child {
                            a {
                                top: 32px;
                                left: 50%;
                                transform: translateX(-50%) rotate(180deg);

                                @media screen and (max-width: 767px) {
                                    top: 4px;
                                }
                            }
                        }

                        &:nth-child(2) {
                            a {
                                right: 106px;
                                top: 36px;

                                @media screen and (max-width: 767px) {
                                    right: 3px;
                                    top: 6px;
                                }
                            }
                        }

                        &:nth-child(3) {
                            a {
                                left: 105px;
                                bottom: 36px;
                                transform: rotate(180deg);

                                @media screen and (max-width: 767px) {
                                    left: 3px;
                                    bottom: 6px;
                                }
                            }
                        }

                        &:nth-child(4) {
                            a {
                                left: 105px;
                                top: 35px;

                                @media screen and (max-width: 767px) {
                                    left: 4px;
                                    top: 6px;
                                }
                            }
                        }

                        &:nth-child(5) {
                            a {
                                right: 105px;
                                bottom: 36px;
                                transform: rotate(180deg);

                                @media screen and (max-width: 767px) {
                                    right: 3px;
                                    bottom: 6px;
                                }
                            }
                        }

                        &:last-child {
                            a {
                                bottom: 36px;
                                left: 50%;
                                transform: translateX(-50%);

                                @media screen and (max-width: 767px) {
                                    bottom: 3px;
                                }
                            }
                        }

                        a {
                            position: absolute;
                            width: 0;
                            height: 0;
                            border-left: 34px solid transparent;
                            border-right: 34px solid transparent;
                            border-bottom: 58px solid rgba(255,255,255,.5);
                            pointer-events: none;

                            @media screen and (max-width: 767px) {
                                border-left: 38px solid transparent;
                                border-right: 38px solid transparent;
                                border-bottom: 62px solid rgba(255,255,255,.5);
                            }
                        }

                        &.active {
                            a {
                                border-color: transparent;
                            }
                        }
                    }
                }

                .interest-lists {

                    @media screen and (max-width: 767px) {
                        padding: 0;
                        margin-left: -15px;
                        width: 129px;
                        margin-bottom: 0;
                    }

                    li {
                        @media screen and (min-width: 768px) {
                            position: absolute !important;
                            padding: 2px 10px 3px;
                            width: 40%;
                        }

                        &:before {
                            display: none;
                        }

                        &:first-child {
                            @media screen and (min-width: 768px) {
                                left: 50%;
                                top: 0;
                                transform: translateX(-50%);
                            }

                            &.active {
                                background-color: #0e7bc0;
                            }

                            a {
                                color: #0E7BC0;
                            }
                        }

                        &:nth-child(2) {
                            @media screen and (min-width: 768px) {
                                right: 0;
                                top: 54px;
                                text-align: right;
                            }

                            &.active {
                                background-color: #8b2e33;
                            }

                            a {
                                color: #8B2E33;
                            }
                        }

                        &:nth-child(3) {
                            @media screen and (min-width: 768px) {
                                left: 0;
                                top: 108px;
                                text-align: left;
                            }

                            &.active {
                                background-color: #ed252e;
                            }

                            a {
                                color: #ED252E;
                            }
                        }

                        &:nth-child(4) {
                            @media screen and (min-width: 768px) {
                                left: 0;
                                top: 54px;
                                text-align: left;
                            }

                            &.active {
                                background-color: #54873D;
                            }

                            a {
                                color: #54873D;

                                &.active {
                                    background-color: #54873D;
                                }
                            }
                        }

                        &:nth-child(5) {
                            @media screen and (min-width: 768px) {
                                right: 0;
                                top: 108px;
                                text-align: right;
                            }

                            &.active {
                                background-color: #f7933a;
                            }

                            a {
                                color: #de7c2d;
                            }
                        }

                        &:nth-child(6) {
                            @media screen and (min-width: 768px) {
                                bottom: 0;
                                left: 50%;
                                transform: translateX(-50%);
                            }

                            &.active {
                                background-color: #013a76;
                            }  

                            a {
                                color: #013A76;
                            }
                        }

                        a {
                            display: block;
                            font-size: 14px;
                            line-height: 19px;
                            font-weight: 700;
                            outline: 0;

                            @media screen and (max-width: 767px) {
                                text-align: left;
                                margin-bottom: 4px;
                                padding: 5px 5px 5px 25px;
                            }
                        }

                        &.active {
                            a {
                                color: #fff;
                            }
                        }
                    }
                } 
            }

            .include-list {
                ul {
                    max-width: 49%;
                    display: inline-block;
                    vertical-align: top;
                    margin: 0;

                    @media screen and (max-width: 767px) {
                        margin-top: 4px;
                        margin-bottom: -2px;
                        max-width: 100%;
                    }

                    li {
                        padding-left: 27px;
                        padding-right: 10px;
                        color: #4a4a4a;

                        @media screen and (max-width: 767px) {
                            padding-left: 27px;
                            padding-right: 10px;
                            margin-left: 14px;
                        }

                        &:before {
                            left: 2px !important;
                        }
                    }
                }

                p {
                    margin-bottom: 8px;
                }
            }

            .realistic_content {
                background-color: rgba(123,183,220,.2);

                span {
                    color: #0E7BC0;
                }
            }
            .conventional_content {
                background-color: rgba(240,245,238,1);

                span {
                    color: #54873D;
                }
            }
            .enterprising_content {
                background-color: rgba(245,135,140,.2);

                span {
                    color: #ED252E;
                }
            }
            .social_content {
                background-color: rgba(115,146,179,.2);

                span {
                    color: #013A76;
                }
            }
            .artistic_content {
                background-color: rgba(250,195,146,.2);

                span {
                    color: #de7c2d;
                }
            }
            .investigative_content {
                background-color: rgba(191,140,143,.2);

                span {
                    color: #8B2E33;
                }
            }


            .interest_lhs_img_block {
                @media screen and (max-width: 767px) {
                    position: relative;
                    width: 168px;
                    margin: 13px auto 0;
                }

                ul {
                    margin: 0;

                    li {
                        position: inherit !important;
                        margin: 0 !important;
                    }
                }

                img {
                    position: relative;

                    @media screen and (max-width: 767px) {
                        width: auto;
                        width: 100%;
                        max-width: 168px;
                        margin: 0 auto;
                    }
                }
            }
        }

    }

    #wv-intro-grid {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;

        div {
            flex-basis: 33%;
            margin-top: 50px;
            text-align: center;

            @media screen and (min-width: 0em) and (max-width: 39.9375em) {
                flex-basis: 50%;
            }

            &:nth-child(2) {
                border: 1px solid #9e9e9e;
                border-width: 0 1px;

                @media screen and (min-width: 0em) and (max-width: 39.9375em) {
                    border-width: 0;
                }
            }

            &:nth-child(5) {
                border: 1px solid #9e9e9e;
                border-width: 0 1px;

                @media screen and (min-width: 0em) and (max-width: 39.9375em) {
                    border-width: 0;
                }
            }

            &:nth-child(even) {
                @media screen and (min-width: 0em) and (max-width: 39.9375em) {
                    border-left: 1px solid #9e9e9e;
                }
            }
        }

        strong {
            display: block;
            margin-top: 12px;
        }
    }

    .exploring_careers_sec {
        padding-top: 64px;
        padding-bottom: 80px;

        @media screen and (max-width: 767px) {
            padding: 50px 12px 37px 10px;
        }

        &.bg-light-gray2 {
            background-color: #f4f4f4;
        }

        .section-description {
            @media screen and (max-width: 767px) {
                max-width: 100%;
                text-align: center;
                margin-bottom: 0;
            }
        }

        .exploring_careers_inner {
            text-align: center;
            margin-top: -5px;

            @media screen and (max-width: 767px) {
                margin-top: 37px;
                padding: 0 15px;
            }

            .exploring_careers_item {
                display: inline-block;
                max-width: 33%;
                width: 100%;

                @media screen and (max-width: 767px) {
                    max-width: 100%;
                    margin-bottom: 30px;
                }

                + .exploring_careers_item {
                    @media screen and (max-width: 767px) {
                        border-top: 1px solid #B6B6B6;
                    }
                }

                &:nth-child(2) {
                    @media screen and (min-width: 768px) {
                        border-left: 1px solid #B6B6B6;
                        border-right: 1px solid #B6B6B6;
                    }
                }

                .careers_img_block {
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-align-items: center;
                    align-items: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    margin-top: 13px;
                    margin-bottom: 40px;

                    @media screen and (min-width: 768px) {
                        min-height: 75px;
                    }

                    @media screen and (max-width: 767px) {
                        margin-top: 22px;
                        margin-bottom: 15px;
                    }
                }

                p {
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 700;
                    margin-bottom: 0;
                    color: #4A4A4A;

                    @media screen and (max-width: 767px) {
                        text-align: center;
                    }
                }
            }
        }
    }

    .section-everything {
        padding-top: 80px;
        padding-bottom: 60px;

        @media screen and (max-width: 767px) {
            padding-top: 44px;
            padding-bottom: 57px;
        }

        .d-flex {
            display: flex;
        }

        .align-items-center {
            -webkit-align-items: center;
            align-items: center;
        }

        .section-everything-description {
            margin-bottom: 31px;

            @media screen and (max-width: 767px) {
                margin-bottom: 19px;
            }    

            h2 {
                font-size: 24px;
                color: #218d92;
                font-weight: 400;
                text-transform: inherit;

                @media screen and (max-width: 767px) {
                    text-align: center;
                    padding: 0 25px;
                }    
            }
        }

        .section-everything-inner {

            @media screen and (max-width: 767px) {
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-flex-direction: column-reverse;
                flex-direction: column-reverse;
            }

            .section-everything-tage {
                width: 31%;
                display: inline-block;
                vertical-align: middle;
                float: left;

                @media screen and (max-width: 767px) {
                    display: block;
                    float: none;
                    width: 100%;
                    text-align: center;
                    margin-top: 26px;
                }

                ul {
                    list-style: none;
                    padding: 0;
                    margin-bottom: 44px;
                    margin-left: 0!important;

                    @media screen and (max-width: 767px) {
                        margin-bottom: 49px;
                    }

                    li {
                        font-size: 14px!important;
                        line-height: 19px!important;
                        color: #4a4a4a;
                        font-weight: 700;
                        margin-bottom: 0!important;

                        &:before {
                            display: none;
                        }

                        &:last-child {
                            padding-top: 17px;
                        }
                    }
                }

                .section-everything-button {
                    font-size: 14px!important;
                    letter-spacing: 1px;
                    color: #fff;
                    font-weight: 700;
                    text-align: center;
                    border-radius: 2px;
                    display: inline-block;
                    vertical-align: middle;
                    padding: 8px 16px!important;
                    background-color: #1cafb6;
                    line-height: normal;
                    border: none!important;
                    margin: 0;

                    span {
                        img {
                            padding-left: 10px;
                        }
                    }
                }
            }

            .section-everything-images {
                width: 69%;
                display: inline-block;
                vertical-align: middle;

                @media screen and (max-width: 767px) {
                    display: block;
                    float: none;
                    width: 100%;
                    text-align: center;
                }

            }
        }
    }

    .section-top-viewed {
        padding-top: 57px;
        padding-bottom: 50px;
        overflow: hidden;

        @media screen and (max-width: 767px) {
            padding-top: 61px;
            padding-bottom: 0;
            margin-bottom: 6px;
        }

        .section-top-viewed-title  {
            p {
                font-size: 14px;
                line-height: 19px;
                color: #4A4A4A;
                padding: 8px 15px;
                background-color: #e3e3e3;
                text-align: center;
                margin-right: 0;
                margin-left: 0;
                margin-bottom: 26px;
                max-width: 100%;

                @media screen and (max-width: 767px) {
                    margin-bottom: 47px;
                    margin-left: 6px;
                    margin-right: 6px;
                }
            }
        }

        .section-top-viewed-wrapper {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            margin: 0 -21px;

            @media screen and (max-width: 767px) {
                display: block;
            }

            .section-top-viewed-item {
                width: 33.33%;
                display: inline-block;
                vertical-align: middle;

                @media screen and (max-width: 767px) {
                    width: 100%;
                }

                .section-top-viewed-item-inner {
                    padding: 9px 21px 0;
                    border-right: 1px solid #d8d8d8;

                    @media screen and (max-width: 767px) {
                        border-right: none;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-flex-wrap: wrap;
                        flex-wrap: wrap;
                        -webkit-flex-direction: column-reverse;
                        flex-direction: column-reverse;
                        border-bottom: 1px solid #d8d8d8;
                        padding: 0 20px 27px;
                        margin-bottom: 27px;
                    }  
                    
                    img {
                        @media screen and (max-width: 767px) {
                            padding: 0 9px;
                            margin: 0 auto;
                        }
                    }

                    a {
                        font-size: 14px;
                        color: #312a88;
                        text-align: center;
                        margin-top: 23px;
                        margin-bottom: 0;
                        display: block;

                        @media screen and (max-width: 767px) {
                            font-size: 18px;
                            margin-top: 0;
                            margin-bottom: 14px;
                        }
                    }
                }

                

                &:last-child {
                    .section-top-viewed-item-inner {
                        @media screen and (max-width: 767px) {
                            border: none;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .section-media-center-sec {
        margin-top: 75px;

        @media screen and (max-width: 767px) {
            margin-top: 60px;
        }

        .section-media-center-wapper {
            padding: 0 7.5px;

            @media screen and (max-width: 767px) {
                padding: 0;
                width: 100%;
                display: inline-block;
                vertical-align: middle;
            }
        }

        .section-media-center-sec-inner {
            width: 25%;
            float: left;
            padding: 0 7.5px;

            @media screen and (max-width: 767px) {
                width: 100%;
                float: none;
                margin-bottom: 32px;
                padding: 0 20px 36px;
                border-bottom: 1px solid #d5d5d5;
            }
        }

        .section-media-center-block {
            @media screen and (max-width: 767px) {
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                width: 100%;
                -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
            }

            img {
                width: 100%;

                @media screen and (max-width: 767px) {
                    order: 1;
                    padding: 0 5px;
                    width: auto;
                    margin: 0 auto;
                }
            }

            a {
                font-size: 14px;
                color: #312a88;
                margin-top: 18px;
                margin-bottom: 0;
                text-align: center;
                display: block;

                @media screen and (max-width: 767px) {
                    order: 0;
                    font-size: 18px;
                    width: 100%;
                    margin-top: 0;
                    margin-bottom: 14px;
                }
            }
        }

        .section-viewmore-button {
            margin-top: 55px;
            text-align: center;

            @media screen and (max-width: 767px) {
                margin-top: 0;
            }

            a {
                font-size: 14px!important;
                letter-spacing: 1px;
                color: #fff;
                font-weight: 700;
                text-align: center;
                border-radius: 2px;
                display: inline-block;
                vertical-align: middle;
                padding: 8px 19px!important;
                background-color: #1cafb6;
                line-height: normal;
                border: none!important;
                margin: 0;

                @media screen and (max-width: 767px) {
                    max-width: 270px;
                    width: 100%;
                }
            }

            span {
                img {
                    padding-left: 10px;
                }
            }
        }
    }

    .section-financial-sec {
        margin-top: 55px;
        padding-top: 70px;
        padding-bottom: 70px;

        @media screen and (max-width: 767px) {
            margin-top: 65px;
            padding: 52px 30px 57px;
        }

        .section-financial-d-flex {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;

            @media screen and (max-width: 767px) {
                display: block;
            }

            .section-financial-block {
                height: 100%;
                position: relative;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                flex-direction: column;
                -webkit-flex-direction: column;

                @media screen and (max-width: 767px) {
                    text-align: center;
                    padding-bottom: 38px;
                    margin-bottom: 25px;
                }

                &.section-financial-inner {
                    @media screen and (max-width: 767px) {
                        padding-bottom: 30px;
                        margin-bottom: 0;
                    }
                }

                &:after {
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 100%;
                    left: -15px;
                    top: 0;
                    background-color: #b6b6b6;

                    @media screen and (max-width: 767px) {
                        width: 100%;
                        height: 1px;
                        left: 0;
                        bottom: 0;
                        top: auto;
                        right: 0;
                    }
                }

                &.section-financial-inner:after {
                    display: none;
                }

                h1 {
                    font-size: 60px;
                    color: #fff;
                    font-weight: 400;
                    line-height: 1;
                    margin-bottom: 1rem;
                }

                h2 {
                    font-size: 24px;
                    line-height: 29px;
                    color: #fff;
                    font-weight: 400;
                    text-transform: capitalize;

                    @media screen and (max-width: 767px) {
                        margin-bottom: 6px;
                    }

                    br {
                        @media screen and (max-width: 767px) {
                            display: none;
                        }
                    }
                }

                h4 {
                    font-size: 18px;
                    line-height: 21px;
                    margin-bottom: 24px;
                    color: #fff;
                    font-weight: 700;

                    @media screen and (max-width: 767px) {
                        margin-bottom: 17px;
                    }
                }

                p {
                    font-size: 18px;
                    line-height: 24px;
                    color: #fff;
                    margin-bottom: 40px;
                    font-weight: 500;
                    flex: 1 0 auto;
                    -webkit-flex: 1 0 auto;
                    -ms-flex: 1 0 auto;

                    @media screen and (max-width: 767px) {
                        margin-bottom: 20px;
                    }
                }

                a {
                    font-size: 18px;
                    display: block;
                    letter-spacing: 1px;
                    color: #fff;
                    font-weight: 700;

                    span {
                        padding-left: 5px;
                    }
                }
            }
            > div {
                &:last-child {
                    .section-financial-block {
                        @media screen and (max-width: 767px) {
                            padding-bottom: 0;
                            margin-bottom: 0;
                        }
                       
                        &:after {
                            @media screen and (max-width: 767px) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .section-cost-career-sec {
        background-color: #f4f4f4;
        padding-top: 60px;
        border-bottom: 1px solid #fff;
        padding-bottom: 30px;

        @media screen and (max-width: 767px) {
            padding: 46px 14px 37px 15px;
        }

        .section-cost-career-d-flex {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            align-items: center;

            @media screen and (max-width: 767px) {
                display: block;
            }
    
            .section-cost-career-text {
                @media screen and (max-width: 767px) {
                    text-align: center;
                }

                h6 {
                    font-size: 14px;
                    line-height: 19px;
                    color: #4a4a4a;
                    font-weight: 500;
                    margin-bottom: 5px;

                    @media screen and (max-width: 767px) {
                        font-weight: 700;
                    }
                }

                .section-title {
                    @media screen and (max-width: 767px) {
                        text-align: center;
                    }
                }

                p {
                    margin-bottom: 20px;

                    @media screen and (max-width: 767px) {
                        text-align: left;
                    }
                }
            }

            .section-cost-career-img_inner {
                float: right;
                text-align: right;

                @media screen and (max-width: 767px) {
                    float: none;
                    text-align: center;
                    padding-top: 16px;
                }

                .section-cost-career-img {
                    text-align: center;

                    a {
                        display: block;
                        font-size: 14px;
                        color: #312a88;
                        font-weight: 400;
                        margin-top: 12px;
                        text-align: center;

                        @media screen and (max-width: 767px) {
                            margin-top: 20px;
                        }
                    }
                }

                p {
                    margin-bottom: 20px;

                    @media screen and (max-width: 767px) {
                        margin-top: 34px;
                        text-align: left;
                        margin-bottom: 0;
                    }

                    a {
                        @media screen and (max-width: 767px) {
                            margin-top: 0 !important;
                            text-align: left !important;
                        }
                    }
                }
            }
        }

        .section-viewmore-button {
            text-align: center;
            margin-top: 20px;

            @media screen and (max-width: 767px) {
                margin-top: 33px;
            }

            a {
                font-size: 14px!important;
                letter-spacing: 1px;
                color: #fff;
                font-weight: 700;
                text-align: center;
                border-radius: 2px;
                display: inline-block;
                vertical-align: middle;
                padding: 8px 19px!important;
                background-color: #1cafb6;
                line-height: normal;
                border: none!important;
                margin: 0;
                max-width: 208px;
                width: 100%;

                span {
                    display: flex;
                    -webkit-align-items: center;
                    align-items: center;
                    -webkit-justify-content: center;
                    justify-content: center;

                    img {
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}
