<div class="submit-to-mentor-modal">
  <div class="modal-content">
    <div class="modal-header">
      <h3>{{title}} Comment</h3>
      <button class="close-button" (click)="close()" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <ng-container *ngIf="!isLoading">
      <form [formGroup]="commentForm" (submit)="submitComment()" class="search-keyword">

        <div class="modal-body">
            <div class="row mb_10">
              <div class="column small-12" *ngIf="studentName">
                Send a comment to {{studentName}}
              </div>
              <div class="column small-12" *ngIf="!studentName" >
                Send a comment
              </div>
            </div>
            <div class="row">
              <div class="column small-12 search-keyword height-50">
                <input placeholder="Comment" type="text" formControlName="comment">
                <div class="success-text" *ngIf="successText != ''">{{successText}}</div>
              </div>
            </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="button" [disabled]="commentForm.invalid"
            title="Click here to send Comment">Send</button>
        </div>
      </form>

    </ng-container>

    <div *ngIf="isLoading">
      <div class="row">
        <div class="small-12 column text-center">
          <i class='fa fa-cog fa-spin fa-6x' style='color: #2f2a6a;'></i><br /><br />
          Loading...
        </div>
      </div>
    </div>

  </div>
</div>