#content-wrap h2{
    text-transform: none;
    font-size: 24px;
    -webkit-font-smoothing: auto;
}

@media screen and (min-width: 40em)
{
    #bring-to-your-school.tpl-page-landing h2 {
        margin: 60px 0 40px;
        text-align: left;
    }
}

#content-wrap {
    background: #dcdfdf;
    border-bottom: 5px solid #2f2a6a;
    padding-bottom: 5em;
}

#bring-to-your-school.tpl-page-landing #content-wrap header {
    background: #dcdfdf;
}