.bg_green {
    background-color: #E4F4F4;
}
.border_bottom {
    border-bottom: 1px solid #979797;
}
.text-md-right {
    @media (min-width: 768px) {
        text-align: right;
    }
}
.occufind {
    #content-wrap {
        .menu.tools {
            font-weight: normal;
            text-transform: inherit;
            margin-bottom: 0;
            margin-left: 0;
    
            li {
				@media screen and (max-width: 39.9375em) and (min-width: 0em) {
					float: left !important;
					margin-right: 15px;
				}

                + li {
					margin-left: 20px;
					
					@media screen and (max-width: 39.9375em) and (min-width: 0em) {
						margin-left: 0;
					}
	
                }
    
                &:before {
                    display: none;
                }

                &#back {
                    a {
                        padding: 0 !important;
                    }
                }
    
                a {
                    padding-left: 25px !important;
					padding-right: 0 !important;
					
					@media screen and (max-width: 39.9375em) and (min-width: 0em) {
						margin-bottom: 10px;
					}

                    &:before {
                        left: 0;
                        right: inherit;
                    }
                }
            }
        } 
        
        .wv-status {
            margin: auto;
            
            li {
                display: inline-block;
                width: 33.333%;
                text-align: center;
                
                @media screen and (max-width: 39.9375em) and (min-width: 0em) {
                   width: 100%; 
                }
                
                &:before {
                    content: initial;
                }
                
                span {
                    position: absolute;
                    width: 17px;
                    height: 17px;
                    background: #4c44ac;
                    color: #fff;
                    border-radius: 50%;
                    line-height: 14px;
                    font-size: 10px;
                    font-weight: 700;
                    border: 1px solid;
                    left: 50%;
                    margin-left: 6px;
                    top: -3px;
                }
            }
        }
    }
} 

.page_back_link {
    border-bottom: 1px solid #BDBDBD;
    display: block;
    line-height: normal;
    padding: 10px 0;
}

.plan_top_share {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
	margin-bottom: 15px;
	
	h2 {
		text-transform: inherit;
	}

    p {
        font-size: 16px;
    }

    ul {
        text-align: center;
		text-transform: inherit;
		background-color: transparent !important;
        margin-bottom: 0;
        margin-left: 0;

        li {

            &:before {
                display: none;
            }

            a {
				color: #4c44ac !important;
				padding: 0 !important;
            }
        }
    }
}

#portfolio {
	#name-grade {
		margin-bottom: 20px;
	}
    .portfolio-group {
        .heading {
			padding: 5px;
			margin-bottom: 20px;
		}
		.entry {
			position: relative;
			padding-bottom: 20px;

			@media screen and (max-width: 39.9375em) and (min-width: 0em) {
    			padding-right: 40px;
			}
		}
		.actions {

			@media screen and (max-width: 39.9375em) and (min-width: 0em) {
				position: absolute;
				top: 0;
				right: -5px;
				float: none;
				width: inherit;
			}


			button {
				margin-left: 5px;
			}
		}
        .plan-wrapper  {
            .plan-selection {
                margin-bottom: 10px;

                .columns.medium-4 {
                    float: left;
                }
            }

            textarea {
                padding: 10px;
            }
        }
        .portfolio-buttons {
            display: flex;
            justify-content: center;
            margin: 10px auto 0;

            .button {
                min-width: 78px;
                margin: 0 15px;
            }
        }
        .add {
			.add.button {
				font-size: 15px;
				color: #4c44ac;
				background-color: rgba(76,68,172,0.2);
				display: block;
				border: none;
				text-align: center;
				text-transform: inherit;
				width: 100%;
				border-top: 1px solid #979797;
				padding: 10px;
				margin: 0;
			}
		}
	}
	
	#my-results-table {
		max-width: 100%;
		width: 100%;
		margin: 20px -20px 0;

		@media screen and (max-width: 39.9375em) and (min-width: 0em) {
			margin-top: 50px;
		}

		.text-left {
			text-align: left !important;
		}

		tr {
			background-color: transparent;

			td {
				padding: 0 20px;

				@media screen and (max-width: 39.9375em) and (min-width: 0em) {
					display: block;
					text-align: left !important;
				}
	
				span {
					margin-right: 10px;
				}
			}
		}

		
	}

	tbody {
		tr {
			&:nth-child(even) { 
				background-color: transparent;
			}
			&:nth-child(odd) {
				background-color: #f2f2f2;
			}
		}
	}
} 
