<div id="portfolio" class="occufind">
  <app-header></app-header>
  <app-my-asvab-header></app-my-asvab-header>

  <section id="content-wrap" class="left-nav-expanded-wrap">
		<div class="row">

			<app-left-navigation-v2-collapsed *ngIf="portfolioUserLoggedIn" [selectedTab]="'explore'">
			</app-left-navigation-v2-collapsed>

			<div class="hide-for-small-only" style="z-index: 1" *ngIf="!portfolioUserLoggedIn">
				<img src="assets/images/asvab-ad.jpg">
			</div>

			<section id="main-content" class="left-navigation-condensed" role="main">

				<app-my-top-results-collapsed *ngIf="portfolioUserLoggedIn" [collapsedVersion]="'v2'">
				</app-my-top-results-collapsed>

				<div id="left-nav-content-wrap">
					<a routerLink="/plan-your-future" class="page_back_link">< Back to Plan for your future</a>

					<div class="plan_top_share bg_green">
						<h2>My Portfolio</h2>
						<div class="row">
						<div class="medium-12 columns">
							<ul class="menu tools icons-right">
							<li id="back"><a (click)="selectAll()">Select All</a></li>
							<li id="back"><a (click)="selectNone()">Select None</a></li>
							<li id="download"><a (click)="downloadPdf()">Download PDF</a></li>
							<li id="print"><a (click)="printPdf()">Print</a></li>
							</ul>
						</div>
						</div>
					</div>
					<div class="row">
									<div class="medium-10 medium-offset-1 columns">
										<p style="text-align: center;">Select <b>'Add'</b> to include information within
											each section. Then select <b>'Save'</b> to keep it or <b>'Cancel'</b>' to delete
											it. When you are done you can select which sections you would like
											included on your portfolio print out.</p>
									</div>
					</div>
					<div id="name-grade">
									<div class="row">
										<div class="small-1 columns"><label><strong>Name:</strong></label></div>
										<div class="small-5 columns"><input type="text" [(ngModel)]="fullName"
												(ngModelChange)="syncData()" [ngModelOptions]="{debounce:3000}"></div>
										<div class="small-1 medium-offset-2 columns"><label class="grade"><strong>Grade:</strong></label></div>
										<div class="small-2 columns"><input type="text" [(ngModel)]="grade"
												(ngModelChange)="syncData()" [ngModelOptions]="{debounce:3000}"></div>
										<div class="small-1 columns"></div>
									</div>
								</div>

					<!-- Future Plan -->
					<div class="portfolio-group">
						<div class="row column heading"><input type="checkbox" [checked]="planPrint"
								(click)="planPrint = !planPrint"> <strong>Future Plan</strong></div>
						<div class="entry">
							<div class="row column">
								<form class="inline-labels"
									(submit)="isCombinedPlanFormat ? updateCombinedPlan() : addCombinedPlan()">
									<div class="plan-wrapper">
										<div class="plan-selection">
											<div class="row">
												<div class="columns medium-4">
													<input name="4year" type="checkbox" [disabled]="savingPlan" [(ngModel)]="combinedPlanObj.plan.fourYearCollege">
													<label for="4year"> 4 Year College</label>
												</div>
												<div class="columns medium-4">
													<input name="2year" type="checkbox" [disabled]="savingPlan" [(ngModel)]="combinedPlanObj.plan.twoYearCollege">
													<label for="2year"> 2 Year College</label>
												</div>
												<div class="columns medium-4">
													<input name="careerTech" type="checkbox" [disabled]="savingPlan" [(ngModel)]="combinedPlanObj.plan.careerAndTech">
													<label for="careerTech"> Career & Technical Ed</label>
												</div>
												<div class="columns medium-4">
													<input name="military" type="checkbox" [disabled]="savingPlan" [(ngModel)]="combinedPlanObj.plan.military">
													<label for="military"> Military</label>
												</div>
												<div class="columns medium-4">
													<input name="work" type="checkbox" [disabled]="savingPlan" [(ngModel)]="combinedPlanObj.plan.work">
													<label for="work"> Work</label>
												</div>
												<div class="columns medium-4">
													<input name="gapYear" type="checkbox" [disabled]="savingPlan" [(ngModel)]="combinedPlanObj.plan.gapYear">
													<label for="gapYear"> Gap Year</label>
												</div>
												<div class="columns medium-4">
													<input name="undecided" type="checkbox" [disabled]="savingPlan" [(ngModel)]="combinedPlanObj.plan.undecided">
													<label for="undecided"> Undecided</label>
												</div>
											</div>
										</div>

										<div style="margin-top: 10px">
											<label>Comments</label>
											<textarea name="description" style="margin-bottom: 0px"
												placeholder="Optional" [(ngModel)]="combinedPlanObj.description"
												[disabled]="savingPlan" maxlength="1000"></textarea>
											<div>Characters remaining: {{1000 - combinedPlanObj.description.length}} of
												1000
											</div>
										</div>
									</div>

									<div class="portfolio-buttons">
										<button type="submit" class="button" [disabled]="savingPlan">Save<span *ngIf="savingPlan" id="save-indicator"
												class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
										<button type="button" class="button" [disabled]="savingPlan" (click)="revertToOriginal()">Cancel</button>
									</div>
								</form>
							</div>
						</div>

					</div>

					<div class="portfolio-group">

						<div class="row column heading">
							<input type="checkbox" [checked]="workExperiencePrint" (click)="workExperiencePrint = !workExperiencePrint">
							<strong>WORK EXPERIENCE</strong>
						</div>

						<div class="entry">
							<div class="row">
								<div class="medium-9 columns">
									<p>
										<strong>Cashier</strong>, Corner Market
										<br> 01/18 - Present
										<br>
										<br>
										<strong>Job Tasks</strong>
										<br>
										<span style="white-space:pre-wrap;">Handles cash transactions between customer and retail store.<br>01/18 - Present</span>
									</p>
								</div>
								<div class="medium-3 columns actions">
									<button>
										<a><img src="assets/images/note_edit.svg"></a>
									</button>
									<button>
										<a><img src="assets/images/close-blue.svg"></a>
									</button>
								</div>
							</div>
						</div>
						<div class="row column add">
							<button class="add button" [hidden]="showWorkExperienceInputs" (click)="showWorkExperienceInputs = !showWorkExperienceInputs">Add Work Experience +</button>

							<!-- Insert Work Experience -->
							<form name="work" #work="ngForm"
								*ngIf="showWorkExperienceInputs && !showUpdateWorkExperienceInputs"
								(submit)="insertWorkExperience(work)" ngNativeValidate>
								<div class="row">
									<div class="small-3 columns">
										<label>Company Name: </label>
									</div>
									<div class="small-9 columns">
										<input ngClass="{work:work.companyName.$error.required && work.$submitted}"
											type="text" required [(ngModel)]="workExperienceObject.companyName"
											[disabled]="savingWorkExperience" name="companyName">
									</div>
								</div>

								<div class="row">
									<div class="small-3 columns">
										<label>Job Title: </label>
									</div>
									<div class="small-9 columns">
										<input ngClass="{work:work.jobTitle.$error.required && work.$submitted}"
											type="text" required [(ngModel)]="workExperienceObject.jobTitle"
											[disabled]="savingWorkExperience" name="jobTitle">
									</div>
								</div>

								<div class="row">
									<div class="small-3 columns">
										<label>Time Period: </label>
									</div>
									<div class="small-9 columns">
										<input name="start"
											ngClass="{work:work.start.$error.required && work.$submitted}" type="text"
											class="small" placeholder="MM/YY" required
											[(ngModel)]="workExperienceObject.startDate"
											[disabled]="savingWorkExperience"
											pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])"
											title="Format: MM/YY"> -
										<input name="end" ngClass="{work:work.end.$error.required && work.$submitted}"
											type="text" class="small" placeholder="MM/YY" required
											[(ngModel)]="workExperienceObject.endDate"
											[disabled]="savingWorkExperience || !workExperienceEndDateRequired"
											pattern="((0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01]))|(Present)"
											title="Format: MM/YY"> &nbsp; <input name="present" type="checkbox"
											[disabled]="savingWorkExperience"
											[ngModel]="workExperienceEndDateselected == 1 ? true : workExperienceEndDateselected == 0 ? false : null"
											(ngModelChange)="workExperienceObject.endDate = $event ? 'Present' : ''; workExperienceEndDateRequired = !workExperienceEndDateRequired;">
										Present
									</div>
								</div>

								<div class="row">
									<div class="small-3 columns">
										<label>Description: </label>
										<a class="caps" (click)="tipsModal()">tips</a>
									</div>
									<div class="small-9 columns">
										<textarea ngClass="{work:work.description.$error.required && work.$submitted}"
											name="description" required
											[(ngModel)]="workExperienceObject.jobDescription"
											[disabled]="savingWorkExperience"></textarea>
									</div>
								</div>

								<div class="row column buttons">
									<button type="submit" class="button" [disabled]="savingWorkExperience">Save<span
											*ngIf="savingWorkExperience" id="save-indicator"
											class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
									<button type="button" class="button" [disabled]="savingWorkExperience"
										(click)="showWorkExperienceInputs = !showWorkExperienceInputs">Cancel</button>
								</div>
							</form>


						</div>
					</div>

					<div class="portfolio-group" id="section-to-print">
						<div class="row column heading"><input type="checkbox" [checked]="educationPrint"
								(click)="educationPrint = !educationPrint"> <strong>Education</strong></div>
						<div class="entry" *ngFor="let e of education; let i = index;">
							<div class="row">
								<div class="medium-9 columns" [hidden]="i == selectedEducationEditIndex">
									<p><strong>South Meck High School</strong>, <span *ngIf="e.gpa && !0.0">GPA {{e.gpa |
											number:'1.1-2'}}</span>
										<br>
										06/17 - 06/21 
										<br>
										<br>
										<strong *ngIf="e.activities">Activities</strong>
										<br>
										<span style="white-space:pre-wrap;">Future Business Leaders of America, Track</span>
										<br>
										<br>
										Honor, AP Courses and AP tests
										<br>
										<span style="white-space:pre-wrap;"><strong>AP Calculus AB, AP Microeconomics</strong></span>
									</p>
								</div>
								<div class="medium-3 columns actions" [hidden]="i == selectedEducationEditIndex">
									<button [disabled]="selectedEducationEditIndex != undefined" (click)="setupUpdateEducation(e.id, i)">
										<a [ngStyle]="myStyle"><img src="assets/images/note_edit.svg"></a>
									</button>
									<button [disabled]="selectedEducationEditIndex != undefined" (click)="deleteEducation(e.id)">
										<a [ngStyle]="myStyle"><img src="assets/images/close-blue.svg"></a>
									</button>
								</div>


								<!-- Education Update -->
								<div class="row column add" *ngIf="i == selectedEducationEditIndex">
									<form name="educationUpdateForm" class="inline-labels"
										*ngIf="showEducationInputs && showUpdateEducationInputs"
										(submit)="updateEducation()" ngNativeValidate>

										<div class="row form-group"
											ngClass="{'has-error':educationUpdateForm.gpa.$invalid}">
											<div class="small-7 columns">
												<label>School: </label>
												<input name="schoolName" type="text" required
													[(ngModel)]="updateEducationObject.schoolName"
													[disabled]="savingEducation">
											</div>
											<div class="small-5 columns">
												<label>GPA: </label>
												<input type="text" class="small form-control" name="gpa" required
													[(ngModel)]="updateEducationObject.gpa" [disabled]="savingEducation"
													maxlength="4" pattern="^[0-9]*\.[0-9]{2}$" title="Format: #.##">
												<!-- <span class="help-block" *ngIf="!educationUpdateForm.gpa.$valid">Enter decimal number.</span> -->
											</div>
										</div>

										<div>
											<label>Date Attended: </label>
											<input name="startDate" type="text" class="small" placeholder="MM/YY"
												required [(ngModel)]="updateEducationObject.startDate"
												[disabled]="savingEducation"
												pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])"
												title="Format: MM/YY"> - <input name="endDate" type="text" class="small"
												placeholder="MM/YY" required [(ngModel)]="updateEducationObject.endDate"
												[disabled]="savingEducation"
												pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])"
												title="Format: MM/YY"> or expected graduation year
										</div>

										<div>
											<label>Activities, Clubs and Sports </label><br />
											<textarea name="activities" [(ngModel)]="updateEducationObject.activities"
												[disabled]="savingEducation"></textarea>
										</div>

										<div>
											<label>Honor, AP Courses and AP tests </label><br />
											<textarea name="achievements"
												[(ngModel)]="updateEducationObject.achievements"
												[disabled]="savingEducation"></textarea>
										</div>

										<div class="row column buttons">
											<button type="submit" class="button" [disabled]="savingEducation">Save<span
													*ngIf="savingEducation" id="save-indicator"
													class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
											<button type="button" class="button" [disabled]="savingEducation"
												(click)="showEducationInputs = !showEducationInputs; showUpdateEducationInputs = !showUpdateEducationInputs; selectedEducationEditIndex = undefined; myStyle = {'cursor': 'pointer'};">Cancel</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="row column add">
							<button class="add button" [hidden]="showEducationInputs"
								(click)="showEducationInputs = !showEducationInputs">Add Education +</button>

							<!-- Education Insert -->
							<form name="educationInsertForm" class="inline-labels"
								*ngIf="showEducationInputs && !showUpdateEducationInputs" (submit)="insertEducation()"
								ngNativeValidate>

								<div class="row form-group" ngClass="{'has-error':educationInsertForm.gpa.$invalid}">
									<div class="small-7 columns">
										<label>School: </label>
										<input name="schoolName" type="text" required
											[(ngModel)]="educationObject.schoolName" [disabled]="savingEducation">
									</div>
									<div class="small-5 columns">
										<label>GPA:</label>
										<input name="gpa" type="text" class="small form-control" required
											[(ngModel)]="educationObject.gpa" [disabled]="savingEducation" maxlength="4"
											pattern="^[0-9]*\.[0-9]{2}$" title="Format: #.##">
										<!-- <span class="help-block" *ngIf="gpa.errors?.pattern">Enter decimal number.</span> -->
									</div>
								</div>

								<div>
									<label>Date Attended: </label>
									<input name="startDate" type="text" class="small" placeholder="MM/YY" required
										[(ngModel)]="educationObject.startDate" [disabled]="savingEducation"
										pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])" title="Format: MM/YY"> -
									<input name="endDate" type="text" class="small" placeholder="MM/YY" required
										[(ngModel)]="educationObject.endDate" [disabled]="savingEducation"
										pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])" title="Format: MM/YY">
									or
									expected graduation year
								</div>

								<div>
									<label>Activities, Clubs and Sports </label><br />
									<textarea name="activities" [(ngModel)]="educationObject.activities"
										[disabled]="savingEducation"></textarea>
								</div>

								<div>
									<label>Honor, AP Courses and AP tests </label><br />
									<textarea name="honors" [(ngModel)]="educationObject.achievements"
										[disabled]="savingEducation"></textarea>
								</div>

								<div class="row column buttons">
									<button type="submit" class="button" [disabled]="savingEducation">Save<span
											*ngIf="savingEducation" id="save-indicator"
											class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
									<button type="button" class="button" [disabled]="savingEducation"
										(click)="showEducationInputs = !showEducationInputs">Cancel</button>
								</div>

							</form>

						</div>
					</div>

					<div class="portfolio-group">
						<div class="row column heading"><input type="checkbox" [checked]="testScorePrint"
								(click)="testScorePrint = !testScorePrint"> <strong>TEST SCORES</strong></div>

						<div class="entry" *ngFor="let a of asvabScore; let i = index;">

							<!-- ASVAB -->
							<div class="row">
								<!-- Manually Entered ASVAB Test Scores -->
								<div class="medium-9 columns"
									*ngIf="i != selectedASVABEditIndex && !haveAsvabTestScores">
									<strong>ASVAB Score:</strong>
									<table id="my-results-table" class="table table-striped">
										<tbody>
											<tr>
												<td id="varbal-score">{{a.verbalScore}}</td>
												<td id="math-score">{{a.mathScore}}</td>
												<td id="science-score">{{a.scienceScore}}</td>
											</tr>
											<tr>
												<td>Verbal</td>
												<td>Math</td>
												<td>Science/Technical</td>
											</tr>
											<!-- Do not display AFQT for manual scores
										<tr>
											<td colspan="3">AFQT: <span id="afqt-score">{{a.afqtScore}}</span></td>
										</tr>
										-->
										</tbody>
									</table>
									<!-- Old tabele style
									<table border="0">
										<tr class="scoreTable">
											<td>{{a.verbalScore}}</td>
											<td>Verbal Skills Score</td>
										</tr>
										<tr class="scoreTable">
											<td>{{a.mathScore}}</td>
											<td>Math Skills Score</td>
										</tr>
										<tr class="scoreTable">
											<td>{{a.scienceScore}}</td>
											<td>Science and Technical Skills Score</td>
										</tr>
									</table>
									-->
								</div>
								<div class="medium-3 columns actions"
									*ngIf="i != selectedASVABEditIndex && !haveAsvabTestScores">
									<button [disabled]="testEditDisable" (click)="setupUpdateAsvabScore(a.id, i)"><a [ngStyle]="myStyle"><img src="assets/images/note_edit.svg"></a></button>
									<button [disabled]="testEditDisable" (click)="deleteAsvabScore(a.id)"><a [ngStyle]="myStyle"><img src="assets/images/close-blue.svg"></a></button>
								</div>

								<!-- Actual ASVAB Test Scores -->
								<!--
								<div class="medium-9 columns" *ngIf="haveAsvabTestScores">
									<strong>ASVAB Score:</strong>
									<table id="my-results-table" class="table table-striped">
										<tbody>
										<tr>
											<td id="varbal-score">{{asvabTestScores.verbalScore}}</td>
											<td id="math-score">{{asvabTestScores.mathScore}}</td>
											<td id="science-score">{{asvabTestScores.scienceScore}}</td>
										</tr>
										<tr>
											<td>Verbal</td>
											<td>Math</td>
											<td>Science & <br />Technology</td>
										</tr>
										<tr>
											<td colspan="3">AFQT: <span id="afqt-score">{{asvabTestScores.afqtScore}}</span></td>
										</tr>
										</tbody>
									</table>
								</div>
								-->

								<!-- Update ASVAB score inputs -->
								<div class="row column add" *ngIf="i == selectedASVABEditIndex && !haveAsvabTestScores">
									<form *ngIf="showUpdateAsvabScoreInputs">
										<strong>ASVAB Score:</strong>

										<div class="row column">
											<label>Verbal Skills Score</label>
											<input name="verbalScore" type="number" class="small" min="0" step="1"
												[(ngModel)]="updateAsvabObject.verbalScore"
												[disabled]="savingAsvabScore">
											&nbsp;
										</div>

										<div class="row column">
											<label>Math Skills Score</label>
											<input name="mathScore" type="number" class="small" min="0" step="1"
												[(ngModel)]="updateAsvabObject.mathScore" [disabled]="savingAsvabScore">
											&nbsp;
										</div>

										<div class="row column">
											<label>Science and Technical Skills Score</label>
											<input name="scienceScore" type="number" class="small" min="0" step="1"
												[(ngModel)]="updateAsvabObject.scienceScore"
												[disabled]="savingAsvabScore">
											&nbsp;
										</div>

										<!-- 			  <div class="row column">
										  	  <label>AFQT Score</label>
											  <input type="number" class="small" min="0" step="1" [(ngModel)]="updateAsvabObject.afqtScore" [disabled]="savingAsvabScore"> &nbsp; 
										  </div> -->

										<div class="row column buttons">
											<button type="button" class="button" [disabled]="savingAsvabScore"
												(click)="updateAsvabScore()">Save<span *ngIf="savingAsvabScore"
													id="save-indicator"
													class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
											<button type="button" class="button" [disabled]="savingAsvabScore"
												(click)="showUpdateAsvabScoreInputs = !showUpdateAsvabScoreInputs; selectedASVABEditIndex = undefined; myStyle = {'cursor': 'pointer'}; testEditDisable = false;">Cancel</button>
										</div>
									</form>
								</div>
							</div>
						</div>

						<!-- Actual ASVAB Test Scores -->
						<div class="entry border_bottom" *ngIf="haveAsvabTestScores">
							<div class="row">
								<div class="medium-12 columns">
									<div class="row">
										<div class="medium-6 columns">
											<strong>ASVAB Score:</strong>
										</div>
										<div class="medium-6 columns text-md-right">
											<a >View Detail</a>
										</div>
									</div>
									<table id="my-results-table" class="table table-striped">
										<tbody>
											<tr>
												<td class="text-left">
													<span id="varbal-score">##</span>
													<strong>Verbal</strong>
												</td>
												<td>
													<span id="math-score">##</span>
													<strong>Math</strong>
												</td>
												<td>
													<span id="science-score">##</span>
													<strong>Science/Technical</strong>
												</td>
												<td class="text-right">
													<span id="afqt">##</span>
													<strong>AFQT</strong>
												</td>
											</tr>
											<!-- 										<tr>
											<td colspan="3">AFQT: <span id="afqt-score">{{asvabTestScores.afqtScore}}</span></td>
										</tr> -->
										</tbody>
									</table>
								</div>
                            </div>
                        </div>
                        
                        <hr>

						<div class="entry" *ngFor="let a of actScore; let i = index;">

							<!-- ACT -->
							<div class="row">
								<div class="medium-9 columns" [hidden]="i == selectedACTEditIndex">
									<strong>ACT Score:</strong>
									<!-- 									<br>Reading Score: {{a.readingScore}}
									<br>Math Score: {{a.mathScore}}
									<br>Writing Score: {{a.writingScore}}
									<br>English Score: {{a.englishScore}}
									<br>Science Score: {{a.scienceScore}} -->
									<table border="0">
										<tr class="scoreTable">
											<td>{{a.readingScore}}</td>
											<td>Reading Score</td>
										</tr>
										<tr class="scoreTable">
											<td>{{a.mathScore}}</td>
											<td>Math Score</td>
										</tr>
										<tr class="scoreTable">
											<td>{{a.writingScore}}</td>
											<td>Writing Score</td>
										</tr>
										<tr class="scoreTable">
											<td>{{a.englishScore}}</td>
											<td>English Score</td>
										</tr>
										<tr class="scoreTable">
											<td>{{a.scienceScore}}</td>
											<td>Science Score</td>
										</tr>
									</table>
								</div>
								<div class="medium-3 columns actions" [hidden]="i == selectedACTEditIndex">
									<button [disabled]="testEditDisable" (click)="deleteActScore(a.id)"><a
											[ngStyle]="myStyle">Remove</a></button> <button [disabled]="testEditDisable"
										(click)="setupUpdateActScore(a.id, i)"><a [ngStyle]="myStyle">Edit</a></button>
								</div>

								<!-- Update ACT score inputs -->
								<div class="row column add" *ngIf="i == selectedACTEditIndex">


									<!-- Update ACT score inputs -->
									<form *ngIf="showUpdateActScoreInputs">
										<strong>ACT Score:</strong>

										<div class="row column">
											<label>Reading Test Score</label>
											<input name="readingScore" type="number" class="small" min="0" step="1"
												[(ngModel)]="updateActObject.readingScore" [disabled]="savingActScore">
											&nbsp;
										</div>

										<div class="row column">
											<label>Mathematics Test Score</label>
											<input name="mathScore" type="number" class="small" min="0" step="1"
												[(ngModel)]="updateActObject.mathScore" [disabled]="savingActScore">
											&nbsp;
										</div>

										<div class="row column">
											<label>Writing Test Score</label>
											<input name="writingScore" type="number" class="small" min="0" step="1"
												[(ngModel)]="updateActObject.writingScore" [disabled]="savingActScore">
											&nbsp;
										</div>

										<div class="row column">
											<label>English Test Score</label>
											<input name="englishScore" type="number" class="small" min="0" step="1"
												[(ngModel)]="updateActObject.englishScore" [disabled]="savingActScore">
											&nbsp;
										</div>

										<div class="row column">
											<label>Science Test Score</label>
											<input name="scienceScore" type="number" class="small" min="0" step="1"
												[(ngModel)]="updateActObject.scienceScore" [disabled]="savingActScore">
											&nbsp;
										</div>

										<div class="row column buttons">
											<button type="button" class="button" [disabled]="savingActScore"
												(click)="updateActScore()">Save<span *ngIf="savingActScore"
													id="save-indicator"
													class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
											<button type="button" class="button" [disabled]="savingActScore"
												(click)="showUpdateActScoreInputs = !showUpdateActScoreInputs; selectedACTEditIndex = undefined; myStyle = {'cursor': 'pointer'}; testEditDisable = false;">Cancel</button>
										</div>
									</form>
								</div>

							</div>
						</div>

						<div class="entry" *ngFor="let a of satScore; let i = index;">

							<!-- SAT -->
							<div class="row">
								<div class="medium-9 columns" [hidden]="i == selectedSATEditIndex">
									<strong>SAT Score:</strong>
									<br><br>
									<table border="0">
										<tr class="scoreTable">
											<td>26</td>
											<td>Reading Score</td>
										</tr>
										<tr class="scoreTable">
											<td>28</td>
											<td>Math Score</td>
										</tr>
										<tr class="scoreTable">
											<td>24</td>
											<td>Writing Score</td>
										</tr>
										<tr class="scoreTable">
											<td>24</td>
											<td>English Score</td>
										</tr>
										<tr class="scoreTable">
											<td>23</td>
											<td>Science Score</td>
										</tr>
									</table>
								</div>
								<div class="medium-3 columns actions" [hidden]="i == selectedSATEditIndex">
									<button [disabled]="testEditDisable" (click)="setupUpdateSatScore(a.id, i)">
										<a [ngStyle]="myStyle"><img src="assets/images/note_edit.svg"></a>
									</button>
									<button [disabled]="testEditDisable" (click)="deleteSatScore(a.id)">
										<a [ngStyle]="myStyle"><img src="assets/images/close-blue.svg"></a>
									</button>
								</div>

								<!-- Update SAT score inputs -->
								<div class="row column add" *ngIf="i == selectedSATEditIndex">
									<form *ngIf="showUpdateSatScoreInputs">
										<strong>SAT Score:</strong>

										<div class="row column">
											<label>Critical Reading</label>
											<input name="readingScore" type="number" class="small" min="0" step="1"
												[(ngModel)]="updateSatObject.readingScore" [disabled]="savingSatScore">
											&nbsp;
										</div>

										<div class="row column">
											<label>Mathematics</label>
											<input name="mathScore" type="number" class="small" min="0" step="1"
												[(ngModel)]="updateSatObject.mathScore" [disabled]="savingSatScore">
											&nbsp;
										</div>

										<div class="row column">
											<label>Writing (optional)</label>
											<input name="writingScore" type="number" class="small" min="0" step="1"
												[(ngModel)]="updateSatObject.writingScore" [disabled]="savingSatScore">
											&nbsp;
										</div>

										<div>
											<label>SAT Subject Tests</label><br />
											<textarea name="subject" [(ngModel)]="updateSatObject.subject"
												[disabled]="savingSatScore"></textarea>
										</div>

										<div class="row column buttons">
											<button type="button" class="button" [disabled]="savingSatScore"
												(click)="updateSatScore()">Save<span *ngIf="savingSatScore"
													id="save-indicator"
													class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
											<button type="button" class="button" [disabled]="savingSatScore"
												(click)="showUpdateSatScoreInputs = !showUpdateSatScoreInputs; selectedSATEditIndex = undefined; myStyle = {'cursor': 'pointer'}; testEditDisable = false;">Cancel</button>
										</div>
									</form>
								</div>
							</div>
						</div>

						<div class="entry" *ngFor="let a of otherScore; let i = index;">

							<!-- Other -->
							<div class="row">
								<div class="medium-9 columns" [hidden]="i == selectedOtherEditIndex">
									<strong>Other scores:</strong>
									<br>
									<div style="white-space:pre-wrap;">{{a.description}}</div>

								</div>
								<div class="medium-3 columns actions" [hidden]="i == selectedOtherEditIndex">
									<button [disabled]="testEditDisable" (click)="deleteOtherScore(a.id)"><a
											[ngStyle]="myStyle">Remove</a></button> <button [disabled]="testEditDisable"
										(click)="setupUpdateOtherScore(a.id, i)"><a
											[ngStyle]="myStyle">Edit</a></button>
								</div>

								<!-- Update other score inputs -->
								<div class="row column add" *ngIf="i == selectedOtherEditIndex">
									<form *ngIf="showUpdateOtherScoreInputs">
										<strong>Other scores:</strong>
										<div>
											<label>Test names with scores if applicable</label><br />
											<textarea name="description" [(ngModel)]="updateOtherObject.description"
												[disabled]="savingOtherScore"></textarea>
										</div>

										<div class="row column buttons">
											<button type="button" class="button" [disabled]="savingOtherScore"
												(click)="updateOtherScore()">Save<span *ngIf="savingOtherScore"
													id="save-indicator"
													class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
											<button type="button" class="button" [disabled]="savingOtherScore"
												(click)="showUpdateOtherScoreInputs = !showUpdateOtherScoreInputs; selectedOtherEditIndex = undefined; myStyle = {'cursor': 'pointer'}; testEditDisable = false;">Cancel</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="row column add">
							<button class="add button"
								[hidden]="showScoreInputs || showUpdateAsvabScoreInputs || showUpdateActScoreInputs || showUpdateSatScoreInputs || showUpdateOtherScoreInputs"
								(click)="showScoreInputs = !showScoreInputs">Add Test Scores +</button>
							<form class="inline-labels" *ngIf="showScoreInputs">

								<div class="row column">
									<label>Select one: {{testSelected}}</label>
									<select name="asvabScore" [(ngModel)]="testSelected">
										<!-- <option value="">-- Select Test --</option> -->
										<option *ngIf="asvabScore.length == 0 && !haveAsvabTestScores" value="ASVAB">
											ASVAB
											Results</option>
										<option *ngIf="actScore.length == 0" value="ACT">ACT</option>
										<!-- <option *ngIf="fyiScore.length == 0" value="FYI" [hidden]="hideFyi">FYI Interest Codes</option> -->
										<option *ngIf="satScore.length == 0" value="SAT">SAT</option>
										<option value="OTHER">Others</option>
									</select> &nbsp;
								</div>

								<!-- Insert ACT score inputs -->
								<div *ngIf="testSelected == 'ACT'">
									<div class="row column">
										<input name="englishScore" type="number" class="small" min="0" step="1"
											[(ngModel)]="actObject.englishScore" [disabled]="savingActScore"> &nbsp;
										<label>English Test Score</label>
									</div>

									<div class="row column">
										<input name="mathScore" type="number" class="small" min="0" step="1"
											[(ngModel)]="actObject.mathScore" [disabled]="savingActScore"> &nbsp;
										<label>Mathematics Test Score</label>
									</div>

									<div class="row column">
										<input name="readingScore" type="number" class="small" min="0" step="1"
											[(ngModel)]="actObject.readingScore" [disabled]="savingActScore"> &nbsp;
										<label>Reading Test Score</label>
									</div>

									<div class="row column">
										<input name="scienceScore" type="number" class="small" min="0" step="1"
											[(ngModel)]="actObject.scienceScore" [disabled]="savingActScore"> &nbsp;
										<label>Science Test Score</label>
									</div>

									<div class="row column">
										<input name="writingScore" type="number" class="small" min="0" step="1"
											[(ngModel)]="actObject.writingScore" [disabled]="savingActScore"> &nbsp;
										<label>Writing Test Score</label>
									</div>

									<div class="row column buttons">
										<button type="button" class="button" [disabled]="savingActScore"
											(click)="insertActScore()">Save<span *ngIf="savingActScore"
												id="save-indicator"
												class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
										<button type="button" class="button" [disabled]="savingActScore"
											(click)="showScoreInputs = !showScoreInputs;">Cancel</button>
									</div>
								</div>

								<!-- Insert ASVAB score inputs -->
								<div *ngIf="testSelected == 'ASVAB'">
									<br>
									<div class="row column">
										<input name="verbalScore" type="number" class="small" min="0" step="1"
											[(ngModel)]="asvabObject.verbalScore" [disabled]="savingAsvabScore"> &nbsp;
										<label>Verbal Skills Score</label>
									</div>

									<div class="row column">
										<input name="mathScore" type="number" class="small" min="0" step="1"
											[(ngModel)]="asvabObject.mathScore" [disabled]="savingAsvabScore"> &nbsp;
										<label>Math Skills Score</label>
									</div>

									<div class="row column">
										<input name="scienceScore" type="number" class="small" min="0" step="1"
											[(ngModel)]="asvabObject.scienceScore" [disabled]="savingAsvabScore"> &nbsp;
										<label>Science/Technical Skills Score</label>
									</div>

									<!-- 							  <div class="row column">
								  <input type="number" class="small" min="0" step="1" [(ngModel)]="asvabObject.afqtScore" [disabled]="savingAsvabScore"> &nbsp; 
								  <label>AFQT Score</label>
							  </div> -->

									<div class="row column buttons">
										<button type="button" class="button" [disabled]="savingAsvabScore"
											(click)="insertAsvabScore()">Save<span *ngIf="savingAsvabScore"
												id="save-indicator"
												class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
										<button type="button" class="button" [disabled]="savingAsvabScore"
											(click)="showScoreInputs = !showScoreInputs">Cancel</button>
									</div>
								</div>

								<!-- Insert SAT score inputs -->
								<div *ngIf="testSelected == 'SAT'">
									<br>

									<div class="row column">
										<input name="readingScore" type="number" class="small" min="0" step="1"
											[(ngModel)]="satObject.readingScore" [disabled]="savingSatScore"> &nbsp;
										<label>Critical Reading</label>
									</div>

									<div class="row column">
										<input name="mathScore" type="number" class="small" min="0" step="1"
											[(ngModel)]="satObject.mathScore" [disabled]="savingSatScore"> &nbsp;
										<label>Mathematics </label>
									</div>

									<div class="row column">
										<input name="writingScore" type="number" class="small" min="0" step="1"
											[(ngModel)]="satObject.writingScore" [disabled]="savingSatScore"> &nbsp;
										<label>Writing (optional)</label>
									</div>

									<div>
										<label>SAT Subject Tests</label><br />
										<textarea name="subject" [(ngModel)]="satObject.subject"
											[disabled]="savingSatScore"></textarea>
									</div>

									<div class="row column buttons">
										<button type="button" class="button" [disabled]="savingSatScore"
											(click)="insertSatScore()">Save<span *ngIf="savingSatScore"
												id="save-indicator"
												class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
										<button type="button" class="button" [disabled]="savingSatScore"
											(click)="showScoreInputs = !showScoreInputs">Cancel</button>
									</div>
								</div>

								<!-- Insert other score inputs -->
								<div *ngIf="testSelected == 'OTHER'">
									<br>

									<div>
										<label>Test names with scores if applicable</label><br />
										<textarea name="description" [(ngModel)]="otherObject.description"
											[disabled]="savingOtherScore"></textarea>
									</div>

									<div class="row column buttons">
										<button type="button" class="button" [disabled]="savingOtherScore"
											(click)="insertOtherScore()">Save<span *ngIf="savingOtherScore"
												id="save-indicator"
												class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
										<button type="button" class="button" [disabled]="savingOtherScore"
											(click)="showScoreInputs = !showScoreInputs">Cancel</button>
									</div>
								</div>
							</form>

						</div>
					</div>

					<div class="portfolio-group">
						<div class="row column heading"><input type="checkbox" [checked]="achievementPrint"
								(click)="achievementPrint = !achievementPrint"> <strong>Achievements</strong></div>
						<div class="entry" *ngFor="let a of achievement; let i = index;">
							<div class="row">
								<div class="medium-9 columns" [hidden]="i == selectedAchievementEditIndex">
									<p style="white-space:pre-wrap;">• Honor Roll for 10th and 11th grade • MVP for varsity basketball team</p>
								</div>
								<div class="medium-3 columns actions" [hidden]="i == selectedAchievementEditIndex">
									<button [disabled]="selectedAchievementEditIndex != undefined" (click)="setupUpdateAchievement(a.id, i)">
										<a [ngStyle]="myStyle"><img src="assets/images/note_edit.svg"></a>
									</button>
									<button [disabled]="selectedAchievementEditIndex != undefined" (click)="deleteAchievement(a.id)">
										<a [ngStyle]="myStyle"><img src="assets/images/close-blue.svg"></a>
									</button>
								</div>

								<!-- Achievement Update -->
								<div class="row column add" *ngIf="i == selectedAchievementEditIndex">
									<form name="achievementForm" class="inline-labels"
										*ngIf="showAchievementInputs && showUpdateAchievementInputs"
										(submit)="updateAchievement()">

										<div>
											<label>Description</label><br />
											<textarea name="achievementDescription" required
												[(ngModel)]="updateAchievementObject.description"
												[disabled]="savingAchievement"></textarea>
										</div>

										<div class="row column buttons">
											<button type="submit" class="button"
												[disabled]="savingAchievement">Save<span *ngIf="savingAchievement"
													id="save-indicator"
													class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
											<button type="button" class="button" [disabled]="savingAchievement"
												(click)="showAchievementInputs = !showAchievementInputs; showUpdateAchievementInputs = !showUpdateAchievementInputs; selectedAchievementEditIndex = undefined; myStyle = {'cursor': 'pointer'};">Cancel</button>
										</div>

									</form>
								</div>
							</div>
						</div>
						<div class="row column add">
							<button class="add button" [hidden]="showAchievementInputs"
								(click)="showAchievementInputs = !showAchievementInputs">Add Achievements</button>

							<!-- Achievement Insert -->
							<form name="achievementForm" class="inline-labels"
								*ngIf="showAchievementInputs && !showUpdateAchievementInputs"
								(submit)="insertAchievement()">

								<div>
									<label>Description</label><br />
									<textarea name="achievementDescription" required
										[(ngModel)]="achievementObject.description"
										[disabled]="savingAchievement"></textarea>
								</div>

								<div class="row column buttons">
									<button type="submit" class="button" [disabled]="savingAchievement">Save<span
											*ngIf="savingAchievement" id="save-indicator"
											class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
									<button type="button" class="button" [disabled]="savingAchievement"
										(click)="showAchievementInputs = !showAchievementInputs">Cancel</button>
								</div>

							</form>

						</div>
					</div>

					<div class="portfolio-group">
						<div class="row column heading"><input type="checkbox" [checked]="skillsPrint"
								(click)="skillsPrint = !skillsPrint"> <strong>Skills</strong></div>
						<div class="entry" *ngFor="let s of skill; let i = index;">
							<div class="row">
								<div class="medium-12 columns">
									<label>Description</label><br />
									<textarea name="skillDescription" required></textarea>
								</div>

								<!-- Skill Update -->
								<div class="row column add" *ngIf="i === selectedSkillsEditIndex">
									<form name="skillForm" class="inline-labels"
										*ngIf="showSkillInputs && showUpdateSkillInputs" (submit)="updateSkill()">

										<div>
											<label>Description</label><br />
											<textarea name="skillDescription" required
												[(ngModel)]="updateSkillObject.description"
												[disabled]="savingSkill"></textarea>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="entry">
							<div class="portfolio-buttons">
								<button type="submit" class="button">Save</button>
								<button type="button" class="button">Cancel</button>
							</div>
						</div>
						<div class="row column add">
							<!-- Skill Insert -->
							<form name="skillForm" class="inline-labels"
								*ngIf="showSkillInputs && !showUpdateSkillInputs" (submit)="insertSkill()">

								<div>
									<label>Description</label><br />
									<textarea name="skillDescription" required [(ngModel)]="skillObject.description"
										[disabled]="savingSkill"></textarea>
								</div>

								<div class="row column buttons">
									<button type="submit" class="button" [disabled]="savingSkill">Save<span
											*ngIf="savingSkill" id="save-indicator"
											class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
									<button type="button" class="button" [disabled]="savingSkill"
										(click)="showSkillInputs = !showSkillInputs">Cancel</button>
								</div>
							</form>

						</div>
					</div>

					<div class="portfolio-group">
						<div class="row column heading"><input type="checkbox" [checked]="volunteerPrint"
								(click)="volunteerPrint = !volunteerPrint"> <strong>VOLUNTEER ACTIVITIES</strong></div>
						<div class="entry">
							<div class="row">
								<div class="medium-9 columns">
									<p><strong>School on Wheels</strong>
										<br>
										11/20 - Present 
										<br>
										<br>
										<strong >Job Tasks </strong>
										<br>
										Tutor elementary school children in Math.
									</p>
								</div>
								<div class="medium-3 columns actions">
									<button>
										<a><img src="assets/images/note_edit.svg"></a>
									</button>
									<button>
										<a><img src="assets/images/close-blue.svg"></a>
									</button>
								</div>

								<!-- Volunteer Update -->
								<div class="row column add" *ngIf="i == selectedVolunteerEditIndex">
									<form name="formVolunteer" *ngIf="showVolunteerInputs && showUpdateVolunteerInputs"
										(submit)="updateVolunteer()">
										<div class="row">
											<div class="small-3 columns">
												<label>Organization: </label>
											</div>
											<div class="small-9 columns">
												<input name="organizationName" type="text" required
													[(ngModel)]="updateVolunteerObject.organizationName"
													[disabled]="savingVolunteer">
											</div>
										</div>

										<div class="row">
											<div class="small-3 columns">
												<label>Time Period: </label>
											</div>
											<div class="small-9 columns">
												<input name="startDate" type="text" class="small" placeholder="MM/YY"
													required [(ngModel)]="updateVolunteerObject.startDate"
													[disabled]="savingVolunteer"
													pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])"
													title="Format: MM/YY"> -
												<input name="endDate" type="text" class="small" placeholder="MM/YY"
													required [(ngModel)]="updateVolunteerObject.endDate"
													[disabled]="savingVolunteer || updateVolunteerEndDateDisabled"
													pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])"
													title="Format: MM/YY"> &nbsp;

												<input type="checkbox" name="present" [disabled]="savingVolunteer"
													[checked]="updateVolunteerObject.endDate == 'Present'"
													[ngModel]="updateVolunteerEndDateDisabled == 1 ? true : updateVolunteerEndDateDisabled == 0 ? false : null"
													(ngModelChange)="updateVolunteerObject.endDate = $event ? 'Present' : ''; updateVolunteerEndDateDisabled = !updateVolunteerEndDateDisabled">&nbsp;Present
											</div>
										</div>

										<div class="row">
											<div class="small-3 columns">
												<label>Description: </label>
												<a class="caps" (click)="tipsModal()">tips</a>
											</div>
											<div class="small-9 columns">
												<textarea name="description" required
													[(ngModel)]="updateVolunteerObject.description"
													[disabled]="savingVolunteer"></textarea>
											</div>
										</div>

										<div class="row column buttons">
											<button type="submit" class="button" [disabled]="savingVolunteer">Save<span
													*ngIf="savingVolunteer" id="save-indicator"
													class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
											<button type="button" class="button" [disabled]="savingVolunteer"
												(click)="showVolunteerInputs = !showVolunteerInputs; showUpdateVolunteerInputs = !showUpdateVolunteerInputs; selectedVolunteerEditIndex = undefined; myStyle = {'cursor': 'pointer'};">Cancel</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="row column add">
							<button class="add button" [hidden]="showVolunteerInputs"
								(click)="showVolunteerInputs = !showVolunteerInputs">Add Volunteer Activities +</button>

							<!-- Volunteer Insert -->
							<form *ngIf="showVolunteerInputs && !showUpdateVolunteerInputs" (submit)="insertVolunteer()"
								ngNativeValidate>
								<div class="row">
									<div class="small-3 columns">
										<label>Organization: </label>
									</div>
									<div class="small-9 columns">
										<input name="organizationName" type="text" required
											[(ngModel)]="volunteerObject.organizationName" [disabled]="savingVolunteer">
									</div>
								</div>

								<div class="row">
									<div class="small-3 columns">
										<label>Time Period: </label>
									</div>
									<div class="small-9 columns">
										<input name="startDate" type="text" class="small" placeholder="MM/YY" required
											[(ngModel)]="volunteerObject.startDate" [disabled]="savingVolunteer"
											pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])"
											title="Format: MM/YY"> -
										<input name="endDate" type="text" class="small" placeholder="MM/YY" required
											[(ngModel)]="volunteerObject.endDate"
											[disabled]="savingVolunteer || !volunteerEndDateDisabled"
											pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])"
											title="Format: MM/YY">
										&nbsp; <input name="present" type="checkbox" [disabled]="savingVolunteer"
											[ngModel]="volunteerEndDateselected == 1 ? true : volunteerEndDateselected == 0 ? false : null"
											(ngModelChange)="volunteerObject.endDate = $event ? 'Present' : ''; volunteerEndDateDisabled = !volunteerEndDateDisabled;">
										Present
									</div>
								</div>

								<div class="row">
									<div class="small-3 columns">
										<label>Description: </label>
										<a class="caps" (click)="tipsModal()">tips</a>
									</div>
									<div class="small-9 columns">
										<textarea name="description" required [(ngModel)]="volunteerObject.description"
											[disabled]="savingVolunteer"></textarea>
									</div>
								</div>

								<div class="row column buttons">
									<button type="submit" class="button" [disabled]="savingVolunteer">Save<span
											*ngIf="savingVolunteer" id="save-indicator"
											class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
									<button type="button" class="button" [disabled]="savingVolunteer"
										(click)="showVolunteerInputs = !showVolunteerInputs">Cancel</button>
								</div>
							</form>

						</div>
					</div>

					<div class="portfolio-group">
						<div class="row column heading"><input type="checkbox" [checked]="interestPrint"
								(click)="interestPrint = !interestPrint"> <strong>Interests</strong></div>
						<div class="entry" *ngFor="let a of fyiScore; let i = index;">
							<div class="row">
								
								<div class="medium-9 columns" [hidden]="i == selectedFYIEditIndex">
									<strong>Interest Codes:</strong>
									<br><span>{{a.interestCodeOne}} | {{a.interestCodeTwo}} |
										{{a.interestCodeThree}}</span>
									<span>&nbsp;&nbsp;({{ a.interestCodeOne == 'S' ? 'Social' : a.interestCodeOne == 'A'
										?
										'Artistic' : a.interestCodeOne == 'C' ? 'Conventional' : a.interestCodeOne ==
										'E' ?
										'Enterprising' : a.interestCodeOne == 'R' ? 'Realistic' : a.interestCodeOne ==
										'I' ?
										'Investigative' : ''}}
										| {{ a.interestCodeTwo == 'S' ? 'Social' : a.interestCodeTwo == 'A' ? 'Artistic'
										:
										a.interestCodeTwo == 'C' ? 'Conventional' : a.interestCodeTwo == 'E' ?
										'Enterprising' : a.interestCodeTwo == 'R' ? 'Realistic' : a.interestCodeTwo ==
										'I' ?
										'Investigative' : ''}}
										| {{ a.interestCodeThree == 'S' ? 'Social' : a.interestCodeThree == 'A' ?
										'Artistic'
										: a.interestCodeThree == 'C' ? 'Conventional' : a.interestCodeThree == 'E' ?
										'Enterprising' : a.interestCodeThree == 'R' ? 'Realistic' : a.interestCodeThree
										==
										'I' ? 'Investigative' : ''}})
									</span>
									<a (click)="interestCodesInfo()">
										<a  class="explain alt"></a>
									</a>
									<br>
									<br>
								</div>
								<div class="medium-3 columns text-md-right">
									<a >View Detail</a>
								</div>

								<div class="row column add" *ngIf="i == selectedFYIEditIndex">
									Update FYI score inputs
									<form *ngIf="showUpdateFyiScoreInputs">
										<strong>Interest Codes:</strong>
										<div class="row column">
											<label>1st Interest Code</label>
											<select name="interestCodeOne" [(ngModel)]="updateFyiObject.interestCodeOne"
												[disabled]="savingFyiScore">
												<option value="">-- Select Test --</option>
												<option value="R">Realistic</option>
												<option value="I">Investigative</option>
												<option value="A">Artistic</option>
												<option value="S">Social</option>
												<option value="E">Enterprising</option>
												<option value="C">Conventional</option>
											</select>
										</div>

										<div class="row column">
											<label>2nd Interest Code</label>
											<select name="inetrestCodeTwo" [(ngModel)]="updateFyiObject.interestCodeTwo"
												[disabled]="savingFyiScore">
												<option value="">-- Select Test --</option>
												<option value="R">Realistic</option>
												<option value="I">Investigative</option>
												<option value="A">Artistic</option>
												<option value="S">Social</option>
												<option value="E">Enterprising</option>
												<option value="C">Conventional</option>
											</select>
										</div>

										<div class="row column">
											<label>3rd Interest Code</label>
											<select name="interestCodeThree"
												[(ngModel)]="updateFyiObject.interestCodeThree"
												[disabled]="savingFyiScore">
												<option value="">-- Select Test --</option>
												<option value="R">Realistic</option>
												<option value="I">Investigative</option>
												<option value="A">Artistic</option>
												<option value="S">Social</option>
												<option value="E">Enterprising</option>
												<option value="C">Conventional</option>
											</select>
										</div>

										<div class="row column buttons">
											<button type="button" class="button" [disabled]="savingFyiScore"
												(click)="updateFyiScore()">Save<span *ngIf="savingFyiScore"
													id="save-indicator"
													class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
											<button type="button" class="button" [disabled]="savingFyiScore"
												(click)="showUpdateFyiScoreInputs = !showUpdateFyiScoreInputs; selectedFYIEditIndex = undefined; myStyle = {'cursor': 'pointer'}; testEditDisable = false;">Cancel</button>
										</div>
									</form>
								</div>
							</div>
						</div>

						<div class="row column add">
							<!-- <button class="add button" [hidden]="showInterestInputs"
								(click)="showInterestInputs = !showInterestInputs">Add Interests</button> -->
							<form name="interestForm" class="inline-labels"
								*ngIf="showInterestInputs && !showUpdateInterestInputs">
								<div class="row column" *ngIf="fyiScore.length == 0">
									<label>Select one: </label>
									<select name="interestSelected" [(ngModel)]="interestSelected">
										<option value="interest">Add Interest</option>
										<option value="FYI" [hidden]="hideFyi">FYI Interest Codes</option>
									</select> &nbsp;
								</div>

								<!-- Insert FYI score inputs -->
								<div *ngIf="fyiScore.length == 0 && interestSelected == 'FYI'">
									<br>
									<div class="row column">
										<label>1st Interest Code</label>
										<select name="interestCodeOne" [(ngModel)]="fyiObject.interestCodeOne"
											[disabled]="savingFyiScore">
											<option value="interestCodeOne">-- Select Test --</option>
											<option value="R">Realistic</option>
											<option value="I">Investigative</option>
											<option value="A">Artistic</option>
											<option value="S">Social</option>
											<option value="E">Enterprising</option>
											<option value="C">Conventional</option>
										</select>
									</div>

									<div class="row column">
										<label>2nd Interest Code</label>
										<select name="interestCodeTwo" [(ngModel)]="fyiObject.interestCodeTwo"
											[disabled]="savingFyiScore">
											<option value="">-- Select Test --</option>
											<option value="R">Realistic</option>
											<option value="I">Investigative</option>
											<option value="A">Artistic</option>
											<option value="S">Social</option>
											<option value="E">Enterprising</option>
											<option value="C">Conventional</option>
										</select>
									</div>

									<div class="row column">
										<label>3rd Interest Code</label>
										<select name="interestCodeThree" [(ngModel)]="fyiObject.interestCodeThree"
											[disabled]="savingFyiScore">
											<option value="">-- Select Test --</option>
											<option value="R">Realistic</option>
											<option value="I">Investigative</option>
											<option value="A">Artistic</option>
											<option value="S">Social</option>
											<option value="E">Enterprising</option>
											<option value="C">Conventional</option>
										</select>
									</div>

									<div class="row column buttons">
										<button type="button" class="button" [disabled]="savingFyiScore"
											(click)="insertFyiScore()">Save<span *ngIf="savingFyiScore"
												id="save-indicator"
												class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
										<button type="button" class="button" [disabled]="savingFyiScore"
											(click)="showInterestInputs = !showInterestInputs">Cancel</button>
									</div>
								</div>

								<!-- Interest Insert -->
								<div *ngIf="interestSelected == 'interest'">
									<div>
										<label>Description</label><br />
										<textarea name="interestDescription" required
											[(ngModel)]="interestObject.description"
											[disabled]="savingInterest"></textarea>
									</div>

									<div class="row column buttons">
										<button type="button" class="button" [disabled]="savingInterest"
											(click)="insertInterest()">Save<span *ngIf="savingInterest"
												id="save-indicator"
												class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
										<button type="button" class="button" [disabled]="savingInterest"
											(click)="showInterestInputs = !showInterestInputs">Cancel</button>
									</div>
								</div>
							</form>


						</div>
					</div>

					<div class="portfolio-group">
						<div class="row column heading"><input type="checkbox" [checked]="workValuesPrint" (click)="workValuesPrint = !workValuesPrint"> <strong>Work Values</strong></div>

						<div class="entry">
							<div class="row">
								<div class="medium-9 columns">
                                    <ul class="wv-status">
                                        <li ng-repeat="w in workValueTopResults">
                                            <img src="/assets/images/WV-1.png"><span class="count ng-binding">1</span>
                                            <p><strong>Relationships</strong></p>
                                        </li>
                                        <li ng-repeat="w in workValueTopResults">
                                            <img src="/assets/images/WV-2.png"><span class="count ng-binding">2</span>
                                            <p><strong>Relationships</strong></p>
                                        </li>
                                        <li ng-repeat="w in workValueTopResults">
                                            <img src="/assets/images/WV-3.png"><span class="count ng-binding">3</span>
                                            <p><strong>Relationships</strong></p>
                                        </li>
                                    </ul>
								</div>
	
								<div class="medium-3 columns text-md-right">
									<a >View Detail</a>
								</div>
							</div>
						</div>
						

						<div class="entry" *ngFor="let w of workValue; let i = index;">	
							<div class="row">
								<div class="medium-9 columns" [hidden]="i == selectedValuesEditIndex">
									<div style="white-space:pre-wrap;">{{w.description}}</div>
								</div>
								<div class="medium-3 columns actions" [hidden]="i == selectedValuesEditIndex">
									<button [disabled]="selectedValuesEditIndex != undefined"
										(click)="deleteWorkValue(w.id)"><a [ngStyle]="myStyle">Remove</a></button>
									<button [disabled]="selectedValuesEditIndex != undefined"
										(click)="setupUpdateWorkValue(w.id, i)"><a [ngStyle]="myStyle">Edit</a></button>
								</div>

								<!-- Work Value Update -->
								<div class="row column add" *ngIf="i == selectedValuesEditIndex">
									<form name="workValueForm" class="inline-labels"
										*ngIf="showWorkValueInputs && showUpdateWorkValueInputs"
										(submit)="updateWorkValue()">

										<div>
											<label>Description</label><br />
											<textarea name="workDescription" required
												[(ngModel)]="updateWorkValueObject.description"
												[disabled]="savingWorkValue"></textarea>
										</div>

										<div class="row column buttons">
											<button type="submit" class="button" [disabled]="savingWorkValue">Save<span
													*ngIf="savingWorkValue" id="save-indicator"
													class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
											<button type="button" class="button" [disabled]="savingWorkValue"
												(click)="showWorkValueInputs = !showWorkValueInputs; showUpdateWorkValueInputs = !showUpdateWorkValueInputs; selectedValuesEditIndex = undefined; myStyle = {'cursor': 'pointer'};">Cancel</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="row column add">
							<!-- <button class="add button" [hidden]="showWorkValueInputs"
								(click)="showWorkValueInputs = !showWorkValueInputs">Add Work Values</button> -->

							<!-- Work Value Insert -->
							<form name="workValueForm" class="inline-labels"
								*ngIf="showWorkValueInputs && !showUpdateWorkValueInputs" (submit)="insertWorkValue()">

								<div>
									<label>Description</label><br />
									<textarea name="workDescription" required [(ngModel)]="workValueObject.description"
										[disabled]="savingWorkValue"></textarea>
								</div>

								<div class="row column buttons">
									<button type="submit" class="button" [disabled]="savingWorkValue">Save<span
											*ngIf="savingWorkValue" id="save-indicator"
											class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
									<button type="button" class="button" [disabled]="savingWorkValue"
										(click)="showWorkValueInputs = !showWorkValueInputs">Cancel</button>
								</div>
							</form>

						</div>
					</div>

					<div class="row favorites">
						<div class="small-6 columns">
							<div class="portfolio-group">
								<div class="row column heading"><input type="checkbox"
										[checked]="favoriteOccupationPrint"
										(click)="favoriteOccupationPrint = !favoriteOccupationPrint"> <strong>Favorite
										Occupations</strong></div>
								<div class="row column entry">
									<div class="row">
										<div class="medium-9 columns">
											<!-- <p *ngFor="let f of favoriteList"><a
													href="occufind-occupation-details/{{f.onetSocCd}}">{{f.title}}</a>
											</p> -->
											<p><a >Architectural Drafters</a></p>
											<p><a >Mental Health and Substance Abuse Social Workers</a></p>
											<p><a >Registered Nurses</a></p>
										</div>
										<div class="medium-3 columns actions"><a routerLink="/favorites"><img src="assets/images/note_edit.svg"></a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="small-6 columns">
							<div class="portfolio-group">
								<div class="row column heading"><input type="checkbox"
										[checked]="favoriteCareerClusterPrint"
										(click)="favoriteCareerClusterPrint = !favoriteCareerClusterPrint">
									<strong>Favorite
										Career Clusters</strong>
								</div>
								<div class="row column entry">
									<div class="row" *ngIf="careerClusterFavoriteList.length != 0">
										<div class="medium-9 columns">
											<!-- <p *ngFor="let cc of careerClusterFavoriteList"><a
													href="career-cluster-occupation-results/{{cc.ccId}}">{{cc.title}}</a>
											</p> -->
											<p><a >Education & Training</a></p>
											<p><a >Architecture & Construction</a></p>
										</div>
										<div class="medium-3 columns actions"><a routerLink="/favorites"><img src="assets/images/note_edit.svg"></a>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="row favorites">

						<div class="small-6 columns">
							<div class="portfolio-group">
								<div class="row column heading"><input type="checkbox" [checked]="favoriteSchoolPrint"
										(click)="favoriteSchoolPrint = !favoriteSchoolPrint"> <strong>Favorite
										Colleges</strong></div>
								<div class="row column entry">
									<div class="row">
										<div class="medium-9 columns">
											<!-- <p *ngFor="let s of schoolFavoriteList"><a
													href="occufind-school-details/undefined/{{s.unitId}}">{{s.schoolName}}</a>
											</p> -->
											<p><a >AdventHealth University</a></p>
											<p><a >Abilene Christian University</a></p>
										</div>
										<div class="medium-3 columns actions"><a routerLink="/favorites"><img src="assets/images/note_edit.svg"></a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="small-6 columns">
							<div class="portfolio-group">
								<div class="row column heading"><input type="checkbox"
										[checked]="favoriteCitmOccupationPrint"
										(click)="favoriteCitmOccupationPrint = !favoriteCitmOccupationPrint">
									<strong>Favorite Military Careers</strong>
								</div>
								<div class="row column entry">
									<div class="row" *ngIf="citmFavoriteOccupations.length != 0">
										<div class="medium-9 columns">
											<!-- <p *ngFor="let f of citmFavoriteOccupations"><a
													href="{{ssoUrl}}/career-detail/{{f.mcId}}"
													target="_blank">{{f.title}}</a></p> -->
											<p><a >Acquisitions and Contracts Managers</a></p>
											<p><a >Document Security Specialists</a></p>
											<p><a >Civil Engineers</a></p>
											<p><a >Accountants and Auditors</a></p>
										</div>
										<div class="medium-3 columns actions"><a ><img src="assets/images/note_edit.svg"></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- <app-left-navigation-mobile></app-left-navigation-mobile> -->
	</section>

  <app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
  <app-footer></app-footer>
</div>