<section id="content-wrap">
  <div class="small-12 columns show-for-small-only">
    <div class="left-sub-nav">
      <ul class="menu vertical" id="steps">
        <li>
          <h3 id="innerTitle">PRIVACY &amp; SECURITY</h3>
        </li>
      </ul>
    </div>
  </div>
  <div class="row column large-centered"><br /><br />
    <ol>
      <li>This website is provided as a public service by the U.S.
        Department of Defense, Defense Manpower Data Center.</li>
      <li>Information presented on this website is considered public
        information and may be distributed or copied unless otherwise
        specified. Use of appropriate byline/photo/image credits is
        requested.</li>
      <li>For site management, information is collected for
        statistical purposes. The host computer system uses software
        programs to create summary statistics, which are used for such
        purposes as assessing what information is of most and least
        interest, determining technical design specifications, and
        identifying system performance or problem areas.</li>
      <li>FYI results are stored anonymously on this site. When a
        student enters an Access Code, the site creates a profile based on
        that Access Code. When a student takes the FYI, the results are
        stored with the student's profile. When the student chooses a
        preferred set of interests, those interests are also stored with
        the student's profile. This information is stored for the student's
        convenience and to enhance the student's ability to explore
        careers. The Access Code and profile are never related to any
        personally identifiable information. Aggregate usage statistics may
        be reported from the data to help improve the site's usefulness in
        the future.</li>
      <li>For site security purposes and to ensure that this service
        remains available to all users, the host computer system employs
        software programs to monitor network traffic to identify
        unauthorized attempts to upload or change information, or otherwise
        cause damage.</li>
      <li>Except for authorized law enforcement investigations, no
        other attempts are made to identify individual users or their usage
        habits. Raw data logs are used for no other purposes and are
        scheduled for regular destruction in accordance with National
        Archives and Records Administration guidelines.</li>
      <li>Unauthorized attempts to upload information or change
        information on this service are strictly prohibited and may be
        punishable under the Computer Fraud and Abuse Act of 1986 and the
        National Information Infrastructure Protection Act.</li>
      <li>If you have any questions or comments about the information
        presented here, please forward them to us at
        ASVAB@osd.pentagon.mil.</li>
      <li>Cookie Disclaimer - this website does not use persistent
        cookies (persistent tokens that pass information back and forth
        from the client machine to the server). This website may use
        session cookies (tokens that remain active only until you close
        your browser) in order to make the site easier to use. The
        Department of Defense DOES NOT keep a database of information
        obtained from these cookies.</li>
    </ol>
  </div>
</section>