<section class="hide-for-small-only" id="banner">
  <div class="row">
    <div class="small-7 columns">
      <ul id="sub-nav" class="menu">
        <li><a href="media-center-article-list/5">Tutorials</a></li>
        <li><a href="general-help">Help</a></li>
      </ul>
    </div>
    <div class="small-5 columns">
      <h1 class="caps" *ngIf="userRole != 'S' && !ignorePath">Sample ASVAB CEP</h1>
      <h1 class="caps" *ngIf="userRole != 'S' && ignorePath">My ASVAB CEP</h1>
      <h1 class="caps" *ngIf="userRole == 'S'">My ASVAB CEP</h1>
    </div>
  </div>
</section>

<div id="demo-banner" *ngIf="userRole != 'S' && !ignorePath">
  <div  class="row">
    <div class="column medium-12 text-center mt-15 mb-15">
      <div class="hide-for-small-only">Results displayed are for demo purposes and do not reflect a specific student.</div>
      <div class="banner-text show-for-small-only">Results displayed are for demo purposes and do<br>not reflect a specific student.</div>
      <div (click)="routeToOverview()" class="overview-wrapper mt-10 show-for-small-only">
        <div class="overview-wrapper-button">
          Return to Account Overview
        </div>
      </div>
    </div>
  </div>
</div>