#demo-banner{
    background-color: #971b0e;
    color: white;
    font-size: 13px;
    border-top: 1px solid white;
    padding: 5px;
    @media (max-width: 639px) {
        margin-top: 20px;
    }

    .banner-text {
        width: 80%;
        margin: 0 auto;
    }

    .overview-wrapper {
        border: 1px white solid;
        padding: 5px;
        margin-top: 15px;
        width: 80%;
        background-color:#b62819;
        margin: 0 auto;
    }

    .overview-wrapper-button {
        display: flex;
        justify-content: center;
        align-items: center;
        &:before {
            width: 0; 
            height: 0; 
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent; 
            border-right: 5px solid white; 
            margin-right: 30px;
            content: '';
        }
    }
}


