<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="_dialogRef.close('cancel')">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">Your email address was previously used to create an account. Select the account features you
    want to save.</h3>
</div>

<!-- for favorites and error messages -->
<div class="modal-body">
  <form class="container" [formGroup]="mergeForm" (ngSubmit)="mergeAccount()">

    <div class="checkbox">
      <label for="cbxProfileFlag">
        <input id="cbxProfileFlag" type="checkbox" formControlName="profileFlag"> Merge Portfolio
      </label>
      <label for="cbxCareerPlanFlag">
        <input id="cbxCareerPlanFlag" type="checkbox" formControlName="careerPlanFlag"> Merge Education/Career Plan
      </label>
    </div>

    <div *ngIf="isLoading" class="loading">
      <img src="assets/images/spinner.gif">
    </div>

    <div *ngIf="hasStatusMessage">
      <span style="color:red;"> {{message}} </span>
    </div>


    <div class="row">
      <a (click)="_dialogRef.close('cancel')" class="button">Cancel</a>
      <button class="button" type="submit">Submit</button>
    </div>
  </form>

</div>