<div id="myasvab" class="occufind">
    <app-header></app-header>
	<app-my-asvab-header></app-my-asvab-header>
	
	<section id="dashboard">
	<!-- <input type="hidden" name="zipCode" value="{{currentUser.zipCode}}"/> -->
	<!-- Score/Interest Code Sectoion -->
		<!-- Enter Scores display full width (no interest codes, no actual scores, no entered scores)-->
		<div class="row" *ngIf="showInitial">
			<div class="small-12 columns">
				<p class="dashSubHead">My ASVAB Results </p>
				<p><strong>You have taken the ASVAB CEP. Let's get started.</strong></p>
				<button class="button" type="button" (click)="cepManualInput()">Enter Your Scores</button>
			</div>
		</div>

		<!-- With Scores or Interest Codes display -->
		<div class="row" *ngIf="!showInitial">


		<!-- Hide normal view if user has teacher role. -->
		<div *ngIf="userRole != 'T'">
		
			<!-- Enter Manual Scores Display Area (no actual scores, no entered scores)-->
			<div *ngIf="!haveAsvabTestScores && !haveManualAsvabTestScores" [ngClass]="interestCodeOne != undefined ? 'medium-6 columns' : 'medium-12 columns'">
				<p class="dashSubHead">My ASVAB Results </p>
				<p><strong>You have taken the ASVAB CEP. Let's get started.</strong></p>
				<button class="button" type="button" (click)="cepManualInput()">Enter Your Scores</button>
			</div>
		
			<!-- Score Display Area -->
			<div *ngIf="haveAsvabTestScores || haveManualAsvabTestScores" [ngClass]="interestCodeOne != undefined ? 'medium-6 columns' : 'medium-12 columns'">
				<p class="dashSubHead">
					<span>My ASVAB Strengths</span>
					<span class="float-right">
						<a *ngIf="haveAsvabTestScores" routerLink="/my-asvab-summary-results">See ASVAB Results</a>
						<a *ngIf="!haveAsvabTestScores" routerLink="/my-asvab-summary-results-manual">See ASVAB Results</a>
					</span>
				</p>

				<!-- Score Books display -->
				<span *ngIf="!showScoresTable">
					<div id="my-results" class="row small-up-4">
						<div class="columns">
							<!--<div class="skill-books" id="verbal-skills" [ngStyle]="getBookPos('verbal')"></div>-->
							<div name="fieldName" ngDefaultControl class="skill-books" attr.id="{{ haveAsvabTestScores ? 'verbal-skills' : 'manual-score-skills' }}" [ngStyle]="getBookPos('verbal')" [(ngModel)]="vBooks.xPos"></div>
							<div>Verbal</div>
						</div>
						<div class="columns">
							<!--<div class="skill-books" id="math-skills" [ngStyle]="getBookPos('math')"></div>-->
							<div name="fieldName" ngDefaultControl class="skill-books" attr.id="{{ haveAsvabTestScores ? 'math-skills' : 'manual-score-skills' }}" [ngStyle]="getBookPos('math')" [(ngModel)]="mBooks.xPos"></div>
							<div>Math</div>
						</div>
						<div class="columns">
							<!--<div class="skill-books" id="science-skills" [ngStyle]="getBookPos('science')"></div>-->
							<div name="fieldName" ngDefaultControl class="skill-books" attr.id="{{ haveAsvabTestScores ? 'science-skills' : 'manual-score-skills' }}" [ngStyle]="getBookPos('science')" [(ngModel)]="sBooks.xPos"></div>
                            <div class="show-for-large"><span>Science/Technical</span></div>
                            <div class="hide-for-large"><span>Science/<br>Technical</span></div>
						</div>
						<!-- View Toggle -->
						<div class="columns">
							<div class="scores-toggle" id="">
								<a (click)="toggleScoreView();"><img src="assets/images/toggle-view-icon.png" alt=""/><br />See My Scores</a>
							</div>
						</div>
					</div>
					<div class="rows">
						<br>
						<div class="text-left" style="margin-left: 7%"><b>Your top strength will have the most books</b></div>
					</div>
				</span>

				<!-- Score Table display -->
				<span *ngIf="showScoresTable">
					<table id="my-results-table" class="table table-striped">
						<tbody>
						<tr>
							<td id="varbal-score">{{getScore("verbal")}}</td>
							<td id="math-score">{{getScore("math")}}</td>
							<td id="science-score">{{getScore("science")}}</td>
							<td rowspan="3" class="scores-toggle" style="background-color:#f2f2f2;"><a (click)="toggleScoreView();"><img src="images/toggle-view-icon.png" alt=""/><br />See My Strengths</a></td>
						</tr>
						<tr>
							<td>V</td>
							<td>M</td>
							<td>S/T</td>
						</tr>
						<!-- AFQT not displayed for manual entered scores -->
						<tr *ngIf="haveAsvabTestScores">
							<td colspan="3">AFQT: <span id="afqt-score">{{getScore("afqt")}}</span></td>
						</tr>
						</tbody>
					</table>
				</span>
			</div>
			<!-- END Score Display Area -->
			
			</div>
			
			<!-- View for teacher demo only score summary -->
			<div *ngIf="userRole == 'T' && (haveAsvabTestScores || haveManualAsvabTestScores)" [ngClass]="interestCodeOne != undefined ? 'medium-6 columns' : 'medium-12 columns'">
                	<span class="border-title">Sample Strengths <a id="see_result" routerLink="/my-asvab-summary-results">See Sample Results</a></span>
                    <div class="bookbox-main" *ngIf="!showScoresTable">
                    	<div class="row  bookbox-sub">
                            <div class="medium-4 columns mb15">
                                <div name="fieldName" ngDefaultControl class="skill-books" attr.id="{{ haveAsvabTestScores ? 'verbal-skills' : 'manual-score-skills' }}" [ngStyle]="getBookPos('verbal')" [(ngModel)]="vBooks.xPos"></div>
                                <span id="skill_strength">Verbal</span>
                            </div>
                            <div class="medium-4 columns mb15">
                                <div name="fieldName" ngDefaultControl class="skill-books" attr.id="{{ haveAsvabTestScores ? 'math-skills' : 'manual-score-skills' }}" [ngStyle]="getBookPos('math')" [(ngModel)]="mBooks.xPos"></div>
                                <span>Math</span>
                            </div>
                            <div class="medium-4 columns mb15">
                                <div name="fieldName" ngDefaultControl class="skill-books" attr.id="{{ haveAsvabTestScores ? 'science-skills' : 'manual-score-skills' }}" [ngStyle]="getBookPos('science')" [(ngModel)]="sBooks.xPos"></div>
                           		<div class="show-for-large"><span>Science/Technical</span></div>
                           		<div class="hide-for-large"><span>Science<br> /Technical</span></div>
                            </div>
                            <div class="medium-12 columns mb0">
                            	<b>Your top strength will have the most books</b>
                            </div>
                        </div>
                        <a id="sample_score" class="smaplescore" (click)="toggleScoreView();">
                            <img src="assets/images/toggle-view-icon.png" alt="dashbordblue" />
                            <span>See My Score</span>
                        </a>
                    </div>
                    
                    <!-- Score Table display -->
					<span *ngIf="showScoresTable">
						<table id="my-results-table" class="table table-striped">
							<tbody>
							<tr>
								<td id="varbal-score">{{getScore("verbal")}}</td>
								<td id="math-score">{{getScore("math")}}</td>
								<td id="science-score">{{getScore("science")}}</td>
								<td rowspan="3" class="scores-toggle" style="background-color:#f2f2f2;"><a (click)="toggleScoreView();"><img src="images/toggle-view-icon.png" alt=""/><br />See Sample Strengths</a></td>
							</tr>
							<tr>
								<td>V</td>
								<td>M</td>
								<td>S&T</td>
							</tr>
							<!-- AFQT not displayed for manual entered scores -->
							<tr *ngIf="haveAsvabTestScores">
								<td colspan="3">AFQT: <span id="afqt-score">{{getScore("afqt")}}</span></td>
							</tr>
							</tbody>
						</table>
					</span>
                </div>
                <!-- View for teacher demo end score summary -->

			<!-- Intrest Code Display Area -->
			<div class="medium-6 columns" *ngIf="interestCodeOne != undefined">
			<!--<div class="medium-6 columns">-->
<!-- 
				<p class="dashSubHead">My Interest Codes <a (click)="interestCodes()" class="occufind-sub-explain"></a></p>
 -->
				<p class="dashSubHead">My Interest Codes <a (click)="interestCodes()" class="explain"></a></p>
				<ul id="my-codes" class="menu center-align">
				<!--<ul *ngIf="interestCodeOne != undefined" id="my-codes" class="menu center-align">-->
					<li *ngIf="interestCodeOne == 'C'" class="code-c"><a (click)="interestCodeInfo('C')">C</a></li>
					<li *ngIf="interestCodeOne == 'R'" class="code-r"><a (click)="interestCodeInfo('R')">R</a></li>
					<li *ngIf="interestCodeOne == 'I'" class="code-i"><a (click)="interestCodeInfo('I')">I</a></li>
					<li *ngIf="interestCodeOne == 'A'" class="code-a"><a (click)="interestCodeInfo('A')">A</a></li>
					<li *ngIf="interestCodeOne == 'S'" class="code-s"><a (click)="interestCodeInfo('S')">S</a></li>
					<li *ngIf="interestCodeOne == 'E'" class="code-e"><a (click)="interestCodeInfo('E')">E</a></li>

					<li *ngIf="interestCodeTwo == 'C'" class="code-c"><a (click)="interestCodeInfo('C')">C</a></li>
					<li *ngIf="interestCodeTwo == 'R'" class="code-r"><a (click)="interestCodeInfo('R')">R</a></li>
					<li *ngIf="interestCodeTwo == 'I'" class="code-i"><a (click)="interestCodeInfo('I')">I</a></li>
					<li *ngIf="interestCodeTwo == 'A'" class="code-a"><a (click)="interestCodeInfo('A')">A</a></li>
					<li *ngIf="interestCodeTwo == 'S'" class="code-s"><a (click)="interestCodeInfo('S')">S</a></li>
					<li *ngIf="interestCodeTwo == 'E'" class="code-e"><a (click)="interestCodeInfo('E')">E</a></li>

					<li *ngIf="interestCodeThree == 'C'" class="code-c"><a (click)="interestCodeInfo('C')">C</a></li>
					<li *ngIf="interestCodeThree == 'R'" class="code-r"><a (click)="interestCodeInfo('R')">R</a></li>
					<li *ngIf="interestCodeThree == 'I'" class="code-i"><a (click)="interestCodeInfo('I')">I</a></li>
					<li *ngIf="interestCodeThree == 'A'" class="code-a"><a (click)="interestCodeInfo('A')">A</a></li>
					<li *ngIf="interestCodeThree == 'S'" class="code-s"><a (click)="interestCodeInfo('S')">S</a></li>
					<li *ngIf="interestCodeThree == 'E'" class="code-e"><a (click)="interestCodeInfo('E')">E</a></li>
					<!-- <li class="tied" *ngIf="(scoreChoice == 'gender' && tiedLink.isGenderScoresTied) || (scoreChoice == 'combined' && tiedLink.isCombinedScoresTied)" (click)="tiedLinkClick();">TIED</li>	 -->
				</ul>
				<a *ngIf="(scoreChoice == 'gender' && tiedLink.isGenderScoresTied) || (scoreChoice == 'combined' && tiedLink.isCombinedScoresTied)" (click)="tiedLinkClick();">TIED</a>
			</div>
			<!-- END Intrest Code Display Area -->
			
		</div>
		
		<div id="load-popup"></div>

<div class="exploration-section">
	<!-- Exploration Sectoion -->
		<div class="row">
			<div class="small-12 columns">
				<p class="dashSubHead">My Exploration</p>
			</div>
		</div>

    	<div class="row">

    	<!-- STEP 1 -->
       		<div class="medium-4 columns">
          		<h2>
                	<span class="step"><strong>1</strong></span>
                    <span class="caption">Learn</span>
                    <a id="step1"></a>
            	</h2>
            	
                <!-- <p><img src="images/carot.png" alt=""/></p>  -->
                <!-- <span class="tied-link-parent" *ngIf="tiedLink && interestCodeOne != undefined"><a class="tied-link-child" (click)="tiedLinkClick();"><span class="tied-arrow-left"></span>TIED</a></span> -->
                <span *ngIf="numberTestTaken != 0 && interestCodeOne == undefined">Return to the FYI results page to choose your score.</span>
                <ul class="menu vertical">
                	<li *ngIf="interestCodeOne != undefined || (interestCodeOne == undefined && numberTestTaken != 0)"><a routerLink="/find-your-interest-score">Return to FYI results</a></li>
                	<li *ngIf="isAbleToReTakeTest()"><a routerLink="/find-your-interest">ReTake the FYI <br><span style="font-weight:normal;">(Find Your Interests)</span></a></li>
                	<li *ngIf="numberTestTaken == 0"><a routerLink="/find-your-interest">Take the FYI <br><span style="font-weight:normal;">(Find Your Interests)</span></a></li>
                	<!-- <li *ngIf="numberTestTaken == 0"><a (click)="fyiManualInput()">Enter your FYI results manually</a></li> -->
                </ul>
                
            </div>

            <!-- STEP 2 -->
            <div class="medium-4 columns">
            	<h2>
                	<span class="step" id="step2"><strong>2</strong></span>
                    <span class="caption">Explore</span>
                </h2>
            	<!-- <p><img src="images/carot.png" alt=""/></p> -->
                <ul class="menu vertical">
                	<li><a routerLink="/occufind-occupation-search">Search careers with <br>the OCCU-Find</a></li>
                	<!-- <li><a routerLink="/favorites">View Favorites</a></li> -->
                	<!-- <li *ngIf="noteList.length != 0" ng-controller="NotesController"><a (click)="showOccufindNotes()">View Notes</a></li> -->
                </ul>
            </div>

            <!-- STEP 3 -->
            <div class="medium-4 columns">
            	<h2>
                	<span class="step" id="step3"><strong>3</strong></span>
                    <span class="caption">Plan</span>
                </h2>
            	<!-- <p><img src="images/carot.png" alt=""/></p> -->
                <ul class="menu vertical">
                	<li><a (click)="routeToPortfolio()">View My Portfolio</a></li>
                	<li><a routerLink="/classroom-activities" id="classroom_activities"><span class="new">New</span> Classroom activities</a></li>
                	<li><a href="{{domainName}}pdf/ASVAB_CEP_Edu_and_Career_Plans.pdf" target="_blank" ng-controller="GA" (click)="trackClick('ASVAB_CEP_Edu_and_Career_Plans.pdf');"><span style="white-space: nowrap;">My Educational &amp; Career Plans</span></a></li>
					<li><a href="{{domainName}}pdf/ASVAB_CEP_Coursework_Planner.pdf" target="_blank" ng-controller="GA" (click)="trackClick('ASVAB_CEP_Coursework_Planner.pdf');"><span style="white-space: nowrap;">My Coursework Planner</span></a></li>
                </ul>
            </div>
        </div>
        </div>
    </section>
    
    <section id="content-wrap" class="clearfix">
		  <div id="main-content" role="main">
				<div class="row">
					<div class="medium-6 columns">
						<h2>Stem Careers</h2>
                        <p>Innovations in the STEM fields: science, technology, engineering or mathematics - are viewed as an indicator of our nation's ability to sustain itself. Occupations that appear on this list require education in STEM disciplines.</p>
                        <p><strong>Sample STEM Careers</strong> <a (click)="interestCodes()" class="explain"></a></p>
                        	<ul class="shaded" *ngIf="interestCodeOne == undefined">
							<li><a (click)="selectedOccupation('49-3011.00')">Aircraft Mechanics and Service Technicians</a><span class="codes"><i class="code-r"></i><i class="code-c"></i><i class="code-i"></i></span></li>
							<li><a (click)="selectedOccupation('15-1122.00')">Information Security Analysts</a><span class="codes"><i class="code-c"></i><i class="code-i"></i><i class="code-r"></i></span></li>
							<li><a (click)="selectedOccupation('11-3051.03')">Biofuels Production Managers</a><span class="codes"><i class="code-e"></i><i class="code-c"></i><i class="code-r"></i></span></li>
							<li><a (click)="selectedOccupation('19-2041.01')">Climate Change Analysts</a><span class="codes"><i class="code-i"></i><i class="code-e"></i><i class="code-c"></i></span></li>
							<li><a (click)="selectedOccupation('17-3029.02')">Electrical Engineering Technologists</a><span class="codes"><i class="code-r"></i><i class="code-i"></i><i class="code-c"></i></span></li>
							<li><a (click)="selectedOccupation('17-2199.09')">Nanosystems Engineers</a><span class="codes"><i class="code-i"></i><i class="code-r"></i><i class="code-e"></i></span></li>
						</ul>
						
						<ul class="shaded" *ngIf="interestCodeOne != undefined && stemCareers">
							<li *ngFor="let b of stemCareers | slice : 0:4"><table style="margin: 0px;"><tr><td width="350px" style="background: #f2f2f2; margin: 0px; padding: 0px;"><a (click)="selectedOccupation(b.onetSoc)">{{b.occupationTitle}}</a></td>
							<td width="100" style="background: #f2f2f2;" class="text-right">
 										
 										<i *ngIf="b.interestCdOne == 'R'" class="code-r"></i>
	                                    <i *ngIf="b.interestCdOne == 'I'" class="code-i"></i>
	                                    <i *ngIf="b.interestCdOne == 'A'" class="code-a"></i>
	                                    <i *ngIf="b.interestCdOne == 'S'" class="code-s"></i>
	                                    <i *ngIf="b.interestCdOne == 'E'" class="code-e"></i>
	                                    <i *ngIf="b.interestCdOne == 'C'" class="code-c"></i>
	                                    
	                                    <i *ngIf="b.interestCdTwo == 'R'" class="code-r"></i>
	                                    <i *ngIf="b.interestCdTwo == 'I'" class="code-i"></i>
	                                    <i *ngIf="b.interestCdTwo == 'A'" class="code-a"></i>
	                                    <i *ngIf="b.interestCdTwo == 'S'" class="code-s"></i>
	                                    <i *ngIf="b.interestCdTwo == 'E'" class="code-e"></i>
	                                    <i *ngIf="b.interestCdTwo == 'C'" class="code-c"></i>
	                                    
	                                    <i *ngIf="b.interestCdThree == 'R'" class="code-r"></i>
	                                    <i *ngIf="b.interestCdThree == 'I'" class="code-i"></i>
	                                    <i *ngIf="b.interestCdThree == 'A'" class="code-a"></i>
	                                    <i *ngIf="b.interestCdThree == 'S'" class="code-s"></i>
	                                    <i *ngIf="b.interestCdThree == 'E'" class="code-e"></i>
	                                    <i *ngIf="b.interestCdThree == 'C'" class="code-c"></i>
	                                    </td></tr></table></li>
						</ul>
                        <p><a class="caps" routerLink="/green-stem-bright/stem">View complete list</a></p>
					</div>
					<div class="medium-6 columns">
						<h2>Bright Outlook</h2>
						<p>Occupations categorized as Bright Outlook are projected to have 100,000+ job openings, experience rapid growth (14%+) between 2014-2024, and/or represent new occupations in a high growth industry as reported by O*NET OnLine.</p>

						<p><strong>Sample Bright Outlook Careers</strong><a (click)="interestCodes()" class="explain"></a></p>
						
						<ul class="shaded" *ngIf="interestCodeOne == undefined">
							<li><a (click)="selectedOccupation('17-1021.00')">Cartographers and Photogrammetrists</a><span class="codes"><i class="code-r"></i><i class="code-i"></i><i class="code-c"></i></span></li>
							<li><a (click)="selectedOccupation('49-3023.02')">Automotive Specialty Technicians</a><span class="codes"><i class="code-r"></i><i class="code-i"></i><i class="code-c"></i></span></li>
							<li><a (click)="selectedOccupation('13-1071.00')">Human Resources Specialists</a><span class="codes"><i class="code-e"></i><i class="code-c"></i><i class="code-s"></i></span></li>
							<li><a (click)="selectedOccupation('29-2041.00')">Emergency Medical Technicians and Paramedics</a><span class="codes"><i class="code-s"></i><i class="code-i"></i><i class="code-r"></i></span></li>
							<li><a (click)="selectedOccupation('29-2031.00')">Cardiovascular Technologists and Technicians</a><span class="codes"><i class="code-r"></i><i class="code-i"></i><i class="code-s"></i></span></li>
							<li><a (click)="selectedOccupation('51-4121.06')">Welders, Cutters, and Welder Fitters</a><span class="codes"><i class="code-r"></i><i class="code-c"></i><i class="code-i"></i></span></li>
						</ul>
						
						<ul class="shaded" *ngIf="interestCodeOne != undefined && brightCareers">
							<li *ngFor="let b of brightCareers | slice : 0:4"><table style="margin: 0px; padding: 0px;"><tr><td width="350px" style="background: #f2f2f2; margin: 0px; padding: 0px;"><a (click)="selectedOccupation(b.onetSoc)">{{b.occupationTitle}}</a></td>
							<td width="120" style="background: #f2f2f2;" class="text-right">
 										
 										<i *ngIf="b.interestCdOne == 'R'" class="code-r"></i>
	                                    <i *ngIf="b.interestCdOne == 'I'" class="code-i"></i>
	                                    <i *ngIf="b.interestCdOne == 'A'" class="code-a"></i>
	                                    <i *ngIf="b.interestCdOne == 'S'" class="code-s"></i>
	                                    <i *ngIf="b.interestCdOne == 'E'" class="code-e"></i>
	                                    <i *ngIf="b.interestCdOne == 'C'" class="code-c"></i>
	                                    
	                                    <i *ngIf="b.interestCdTwo == 'R'" class="code-r"></i>
	                                    <i *ngIf="b.interestCdTwo == 'I'" class="code-i"></i>
	                                    <i *ngIf="b.interestCdTwo == 'A'" class="code-a"></i>
	                                    <i *ngIf="b.interestCdTwo == 'S'" class="code-s"></i>
	                                    <i *ngIf="b.interestCdTwo == 'E'" class="code-e"></i>
	                                    <i *ngIf="b.interestCdTwo == 'C'" class="code-c"></i>
	                                    
	                                    <i *ngIf="b.interestCdThree == 'R'" class="code-r"></i>
	                                    <i *ngIf="b.interestCdThree == 'I'" class="code-i"></i>
	                                    <i *ngIf="b.interestCdThree == 'A'" class="code-a"></i>
	                                    <i *ngIf="b.interestCdThree == 'S'" class="code-s"></i>
	                                    <i *ngIf="b.interestCdThree == 'E'" class="code-e"></i>
	                                    <i *ngIf="b.interestCdThree == 'C'" class="code-c"></i>
	                                    </td></tr></table></li>
						</ul>
                        <p><a class="caps" routerLink="/green-stem-bright/bright">View complete list</a></p>
					</div>
                </div>
                <div class="row">
					<div id="resources" class="large-12 columns">
                    	<hr/>
						<div class="row">
							<ng-container *ngFor="let m of mediaCenterList">
								<div class="medium-4 columns tutorial" *ngIf="m.positionId == 19">
									<a class="resource-title" routerLink="/media-center-article/{{m.id}}">{{m.title}}</a>
									<a *ngIf="m.typeId != 1" routerLink="/media-center-article/{{m.id}}"><img [src]="m.thumbnailUrl"> </a>
									<a *ngIf="m.typeId == 1" (click)="showVideoDialog(m.videoImgUrl)"><span class="image-wrapper"><img [src]="m.thumbnailUrl" style="position: relative;"><span
												id="play-icon"></span></span></a>
								</div>
								<div class="medium-4 columns tutorial" *ngIf="m.positionId == 20">
									<a class="resource-title" routerLink="/media-center-article/{{m.id}}">{{m.title}}</a>
									<a *ngIf="m.typeId != 1" routerLink="/media-center-article/{{m.id}}"><img [src]="m.thumbnailUrl"> </a>
									<a *ngIf="m.typeId == 1" (click)="showVideoDialog(m.videoImgUrl)"><span class="image-wrapper"><img [src]="m.thumbnailUrl" style="position: relative;"><span
												id="play-icon"></span></span></a>
								</div>
								<div class="medium-4 columns tutorial" *ngIf="m.positionId == 21">
									<a class="resource-title" routerLink="/media-center-article/{{m.id}}">{{m.title}}</a>
									<a *ngIf="m.typeId != 1" routerLink="/media-center-article/{{m.id}}"><img [src]="m.thumbnailUrl"> </a>
									<a *ngIf="m.typeId == 1" (click)="showVideoDialog(m.videoImgUrl)"><span class="image-wrapper"><img [src]="m.thumbnailUrl" style="position: relative;"><span
												id="play-icon"></span></span></a>
								</div>
							</ng-container>
                        </div>
                        
                        <div class="row align-spaced">
							<div class="large-4 columns small-centered">
								<a class="button expanded" routerLink="/general-resources">View Resources</a>
							</div>
						</div>
					</div>
				</div>
			</div>

	</section>
	
	<app-my-top-results-mobile [collapsedVersion]="'v1'"></app-my-top-results-mobile>
	<app-footer></app-footer>
</div>