<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()"><span
      aria-hidden="true">&times;</span></button>
  <h3 class="modal-title">Career Cluster Notes:</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="medium-4 columns">
      <ul>
        <li><a (click)="resetObject()">{{initialNotesObject.title}}</a></li>
        <li *ngFor="let n of displayCCNoteList()">
          <a (click)="selectCareerCluster(n.noteId)">{{n.title}}</a>
        </li>
      </ul>
    </div>
    <div class="medium-8 columns" id="right">
      Notes:
      <textarea style="min-height: 200px;" [(ngModel)]="selectedNotesObject.notes" [disabled]="savingNotes"></textarea>
    </div>
  </div>
</div>
<div class="modal-footer">
  <span style="color: #cc0000;">{{error}}</span>
  <button class="btn-link btn-delete-note" type="button" (click)="deleteNote()" *ngIf="initialNotesObject.noteId"
    [disabled]="isPerformingAction"><span class="fa fa-times"></span> Remove 
    <span *ngIf="deletingNote"
      class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"
    ></span>
  </button>
  <button class="button" type="button" (click)="save()" [disabled]="isPerformingAction">Save<span
      *ngIf="savingNotes" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
</div>